<div id="portal-reload">
  <%portal_mint_applicable = support_mint_applicable_portal?(@portal)%>
  <%if portal_mint_applicable%>
    <div class="notification-box">
        <%=t("portalcss.mint_info_template", :portal => @portal.main_portal? ? current_account.name : @portal.portal_name)%>
        <span class="preview-new-link" id ="new-preview">
          <a href="#"><%= I18n.t("portalcss.mint_preview") %></a>
        </span>
    </div> 
  <%end%>
  <% content_for :sidebar do %><% end %> 
  <h3 class="lead">
    <%=t("portalcss.title", :portal => @portal.main_portal? ? current_account.name : @portal.portal_name)%>
  </h3>
  <div>
    <ul data-tabs="tabs" class="tabs nav-tabs" id="portal-tabs">
      <li class="active">      
        <a href="#preferences" data-toggle="tab" id="preferences-tab">
          <%=t("portalcss.color_and_font_header").html_safe%>
        </a>
      </li>
      <% if feature?(:css_customization) %>
      <li>
          <a id="custom_css-tab" href="#custom_css" data-code-refresh="#portal_template_custom_css">
            <%=t("portalcss.css_header").html_safe%>
          </a>
      </li>
      <% end %>
      <% if current_account.layout_customization_enabled? %>
      <li>
          <a id="layout-tab" href="#layout" data-toggle="tab" 
              data-code-refresh="#portal_template_head, #portal_template_header, #portal_template_footer, #portal_template_layout">
            <%=t("portalcss.layout_and_pages_header").html_safe%>
          </a>
      </li>
      <% end %>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="preferences">
        <%= render :partial => "/admin/shared/portal_simple", :locals => { :portal_simple => @portal_template, :falcon_support_portal_theme_enabled => @falcon_support_portal_theme_enabled, :falcon_ui => true }  %>
      </div>
      <%if feature?(:css_customization)%>
      	<div class="tab-pane" id="custom_css">		
          <%= render :partial => "custom_css", :object => @portal_template %>
      	</div>
      <%end%>
      <%if current_account.layout_customization_enabled? %>
        <div class="tab-pane" id="layout">
          <ul data-tabs="tabs" class="pills nav-pills portal-pills">
            <li class="active">
              <a id="template-tab" href="#layout/#template" code-refresh-id="portal_template_layout">
                <%=t("portalcss.layout_pages.subheader_layout")%>
              </a>
            </li>
            <li>
              <a id="pages-tab" href="#layout/#pages"><%=t("portalcss.layout_pages.subheader_pages").html_safe%></a> 
            </li>
          </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="template">
            <%= render :partial => "layout" %>
          </div>
          <div class="tab-pane" id="pages">
            <div>
              <h2 class="title light"><%=t("portalcss.layout_pages.subheader_pages")%></h2>
              <p class="help-text">
                <%=t("portalcss.layout_pages.pages_help_message")%>
              </p>
            </div>
            <br />
            <div class="row-fluid">
              <div class="span2">
                <%= render :partial => "portal_pages"%>
              </div>
              <div class="span10 omega">
                <div id="Customizepage"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
</div> 

<% content_for :pagefixed do %>
  <div id="reset-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h3 id="reset-dialog-header" class="heading title"><%= t("admin.portal.settings.reset_portal_changes") %></h3>
    </div>
    <div class="modal-body reset-modal">
      <br />
      <div>
        <%= link_to t("portalcss.reset_to_last_published"), "", :method => :put, :id => "soft-reset-proxy", :class=>"btn" %>
        <p class="info-data">
          <%= t("admin.portal.settings.reset_for") %> "<b id='reset-tab-type'></b>" <%= t("admin.portal.settings.last_published_version") %> 
          <br />

          <%= t("admin.portal.settings.portal_was_published") %><%= @portal_template.updated_at %>
        </p>
      </div>
      <br />
      <div>
        <%= link_to t("portalcss.reset_all_changes"), restore_default_admin_portal_template_path, 
          :confirm => t("portalcss.reset_all_confirm_message"), :class => "btn btn-danger", :method => :put %>
        <p class="text_red">
          <b><%= t("warning") %>: </b> <%= t("admin.portal.settings.will_reset_all") %>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t("close") %></button>
    </div>
  </div>
<% end %>
</div>

<% content_for :onload_script do %>
  jQuery("body").on("change", "[rel=portal_form]", function(ev){
    jQuery(this).data('formChanged', true);
  });

  jQuery("#custom_css-tab, #layout-tab").bind("click", function(evnt){
    var target = evnt.target;
    setTimeout(function(){
      try{
       jQuery(jQuery(target).data("codeRefresh")).codemirror("refresh");
      }
      catch(e)
      {
        console.log('Loading the assets');
      }
    }, 100)    
  });

  jQuery("form[rel=portal_form]").livequery(function(ev){
      jQuery(this).validate({
        submitHandler: function(form, btn) {
          // Setting the submit button to a loading state
          var $btn = jQuery(btn)
              $form = form

          
          if(btn.name != "mint_preview_button" && btn.name != "preview_button"){
            // Disabling all buttons in the form
            jQuery(form).find(".form-buttons .btn").attr("disabled", true)
            jQuery("#cm-fs-actions .btn").attr("disabled", true)

            $btn.button("loading")
            if( typeof CodeMirror !== 'undefined' && jQuery('#custom_css').get(0) != undefined && jQuery('#layout').get(0) != undefined){
              jQuery($btn.data("codeRefresh")).codemirror('save');
            }

            if(window['codemirror-fullscreen'] !== undefined)
              setPostParam(form, "cmfullscreen", window['codemirror-fullscreen'])

            jQuery(form).ajaxSubmit({
              success: function(response, status){
                // Resetting the submit buttons to its default state
                jQuery($form).find(".form-buttons .btn").button("reset")
                jQuery("#cm-fs-actions .btn").button("reset")
                $btn.parent().find("#soft_reset_button").data("resetDisabled", false)
                jQuery('#cm-fs-actions #soft_reset_button').attr("resetDisabled", false)
              },
              dataType: "script"
            })
          }else{
            form.submit();
          }
          return false;
        }
      });
    });

    jQuery("body").on("click", "#portal-tabs a", function(ev){
      jQuery("[rel=helpcard]").hide();
      jQuery("#" + this.id + "-helpcard").show();
    });

    jQuery("body").on("click", "[rel=reset-btn]", function(ev){
      var btn_disabled = (jQuery(this).data("resetDisabled") == 'true')
      jQuery("#soft-reset-proxy")
        .attr({ "href": jQuery(this).data("resetUrl"), 
                "disabled": btn_disabled } )
        .toggleClass("disabled", btn_disabled)

      jQuery("#reset-tab-type").html(jQuery(this).data("resetTab"));
    });

  jQuery("body").on("click", "#pages-tab", function(ev){
    if(jQuery("#Customizepage").html() == "")
      jQuery("#PortalPages a").first().trigger("click");
  });

  
  jQuery("body").on("click", "#PortalPages a.page-btn", function(ev){
    jQuery("#PortalPages").find(".active").removeClass("active")
    jQuery(this).parent().addClass("active")
  })

<% end %>
<script>
  Fjax.current_page = 'portal_customizations';
  
  if (<%=portal_mint_applicable == true %>){
    jQuery(document).on('pjax:beforeSend', function () {
      jQuery(document).off('.portalReloadEvents');
    });
   jQuery('#mint-preview-button, #preview-button').on('click',function(){
      jQuery(document).off('.portalReloadEvents');
      jQuery(document).on('mouseenter.portalReloadEvents', '#portal-reload', function(){
        if(getCookie("mint_apply") == "true" ){
          deleteCookieOnApply("mint_apply");
          window.location.reload();
        }
      });
    });
  }

  jQuery('#new-preview').on('click',function(){
    jQuery('#mint-preview-button').trigger('click');
  });

</script>
<% content_for :helpcard do %>
    <%= render :partial => "/admin/shared/sample_portals"%>
    <div class="help-chart mt0 shorcuts-info">
      <h5 class="lead"><%= t("admin.portal.helpnote.editor_shortcuts") %></h5>
      <span class="row-fluid">
        <span class="span6 shortcut-key"><%= modifier("ctrl") %> <span>&#43;</span> <%= modifier("shift") %> <span>&#43;</span> s </span>
        <span class="span6 description"><%= t("save_changes") %></span>
      </span>
      <span class="row-fluid">
       <span class="span6 shortcut-key"><%= modifier("ctrl") %> <span>&#43;</span> <%= modifier("shift") %> <span>&#43;</span> p</span>
        <span class="span6 description"><%= t("admin.portal.helpnote.preview_changes") %></span>
      </span>
      <span class="row-fluid">
        <span class="span6 shortcut-key"><%= modifier("ctrl") %> <span>&#43;</span> <%= modifier("shift") %> <span>&#43;</span> f</span>
        <span class="span6 description"><%= t("admin.portal.helpnote.editor_in_fullscreen") %></span>
      </span>
      <span class="row-fluid">
        <span class="span6 shortcut-key">Esc</span>
        <span class="span6 description"><%= t("admin.portal.helpnote.exit_fullscreen") %></span>
      </span>
    </div>
    
    <div id="preferences-tab-helpcard" rel="helpcard">
      <h5 class="lead"><%= t("admin.portal.helpnote.advanced_rebranding") %></h5>
      <p>
        <%= t("admin.portal.helpnote.basic_coloring_changes") %>

        <%= t("admin.portal.helpnote.stylize_color_and_font") %>

        <%= t("admin.portal.helpnote.preview_your_changes") %>
      </p>
    </div>

    <div id="custom_css-tab-helpcard" class="hide" rel="helpcard">
      <h5 class="lead"><%= t("admin.portal.helpnote.custom_stylesheets") %></h5>
      <p>
        <%= t("admin.portal.helpnote.can_override_existing_styles") %>

        <%= t("admin.portal.helpnote.enter_your_css") %>
      </p>
    </div>

    <div id="layout-tab-helpcard" class="hide" rel="helpcard">
      <h5 class="lead"><%= t("admin.portal.helpnote.level_customizations") %></h5>
      <p>
        <%= t("admin.portal.helpnote.customize_the_layout") %>

        <%= t("admin.portal.helpnote.layout_of_portal") %>

        <%= t('admin.portal.helpnote.check_out').html_safe %>
 
      </p>
    </div>



<% end %>
