<%= include_stylesheets :codemirror %>
<%= include_javascripts :codemirror %>
<%= include_javascripts :portaltemplate %>
<%= javascript_include_tag "portal.template.js" %>
<% content_for :sidebar do %><% end %> 
<%= render :partial => "shared/colorpicker" %>
<div class="pull-right">
  <a href="<%=admin_portal_template_restore_default_path%>" class="btn">Reset all changes</a>
  <a href="<%=admin_portal_template_publish_path%>" class="btn primary">Publish changes</a>
</div>
<h3 class="sub-title">Portal template customization</h3>
<br />
<div class="clearfix">
  <ul data-tabs="tabs" class="tabs">    
    <li class="active">      
      <a href="#preferences" data-toggle="tab" id="preferences-tab">Color &amp; font</a>
    </li>
    <li>
      <a id="custom_css-tab" href="#custom_css" data-code-refresh="#portal_template_custom_css">Stylesheet</a>
    </li>    
    <li>
      <a id="layout-tab" href="#header" data-toggle="tab" data-code-refresh="#portal_template_header, #portal_template_footer, #portal_template_layout">Layout &amp; pages</a>
    </li>
  </ul>        
  
    <div class="tab-content">
      <div class="tab-pane active" id="preferences">
        <%= render :partial => "/admin/shared/portal_simple", :object => @portal_template %>
      </div>

    	<div class="tab-pane" id="custom_css">		
        <%= render :partial => "custom_css" %>
    	</div>

      <div class="tab-pane" id="header">
        <ul data-tabs="tabs" class="pills">
          <li class="active">
            <a id="layout-tab" href="#layout" code-refresh-id="portal_template_layout">
              Portal layout
            </a>
          </li>
          <li>
            <a id="pages-tab" href="#pages">Portal pages</a> 
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="layout">
            <%= render :partial => "layout" %>
          </div>
          <div class="tab-pane" id="pages">
            <div>
              <h2 class="title light">Portal pages</h2>
              <p class="help-text">
                Here you will be able to customize body area of individual pages
              </p>
            </div>
            <br />
            <div class="row-fluid">
              <div class="span2">
                <%= render :partial => "portal_pages"%>
              </div>
              <div class="span10 omega">
                <div id="Customizepage"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div> 

<% content_for :onload_script do %>
  jQuery("#custom_css-tab, #layout-tab").bind("click", function(evnt){
    var target = evnt.target;
    setTimeout(function(){
      jQuery(jQuery(target).data("codeRefresh")).codemirror("refresh")
    }, 100)    
  });

  jQuery("#pages-tab").live("click", function(ev){
    if(jQuery("#Customizepage").html() == "")
      jQuery("#PortalPageList a").first().trigger("click");
  });
  if(window.Mousetrap){
    Mousetrap.bind('command+shift+s',function(e){
      FD.PortalTemplate.save(jQuery('input[name="save_button"]:visible')[0]);
      return false;
    });

    Mousetrap.bind('command+shift+p',function(e){
      FD.PortalTemplate.save(jQuery('input[name="preview_button"]:visible')[0]);
      return false;
    });
  }
<% end %>
