<%= include_stylesheets :codemirror %>
<%= include_javascripts :codemirror %>
<%= include_javascripts :portaltemplate %>
<%= include_stylesheets :pattern %>
<%= include_javascripts :pattern %>
<% content_for :sidebar do %><% end %> 
<%= render :partial => "shared/colorpicker" %>
<h3 class="sub-title"><%=t("portalcss.header")%></h3>
<br />
<div>
  <ul data-tabs="tabs" class="tabs">    
    <li class="active">      
      <a href="#preferences" data-toggle="tab" id="preferences-tab"><%=t("portalcss.color_and_font_header")%></a>
    </li>
    <%if feature?(:css_customization)%>
    <li>
      <a id="custom_css-tab" href="#custom_css" data-code-refresh="#portal_template_custom_css"><%=t("portalcss.css_header")%></a>
    </li>
    <%end%>
    <%if feature?(:layout_customization)%>
    <li>
      <a id="layout-tab" href="#layout" data-toggle="tab" data-code-refresh="#portal_template_header, #portal_template_footer, #portal_template_layout"><%=t("portalcss.layout_and_pages_header")%></a>
    </li>
    <%end%>
  </ul>        
  
    <div class="tab-content">
      <div class="tab-pane active" id="preferences">
        <%= render :partial => "/admin/shared/portal_simple", :object => @portal_template %>
      </div>
      <%if feature?(:css_customization)%>
      	<div class="tab-pane" id="custom_css">		
          <%= render :partial => "custom_css" %>
      	</div>
      <%end%>
      <%if feature?(:layout_customization)%>
        <div class="tab-pane" id="layout">
          <ul data-tabs="tabs" class="pills">
            <li class="active">
              <a id="template-tab" href="#layout/#template" code-refresh-id="portal_template_layout">
                <%=t("portalcss.layout_pages.subheader_layout")%>
              </a>
            </li>
            <li>
              <a id="pages-tab" href="#layout/#pages"><%=t("portalcss.layout_pages.subheader_pages")%></a> 
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="template">
              <%= render :partial => "layout" %>
            </div>
            <div class="tab-pane" id="pages">
              <div>
                <h2 class="title light"><%=t("portalcss.layout_pages.subheader_pages")%></h2>
                <p class="help-text">
                  <%=t("portalcss.layout_pages.pages_help_message")%>
                </p>
              </div>
              <br />
              <div class="row-fluid">
                <div class="span2">
                  <%= render :partial => "portal_pages"%>
                </div>
                <div class="span10 omega">
                  <div id="Customizepage"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
</div> 

<% content_for :pagefixed do %>
  <div id="reset-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="reset-dialog-header" class="heading title">Reset portal changes</h3>
    </div>
    <div class="modal-body reset-modal">
      <br />
      <div>
        <%= link_to t("portalcss.reset_to_last_published"), "", :method => :put, :id => "soft-reset-proxy", :class=>"btn" %>
        <p class="info-data">
          This will reset edits for "<b id='reset-tab-type'></b>" to last published version <br />
          Portal was published <%= @portal_template.updated_at %>
        </p>
      </div>
      <br />
      <div>
        <%= link_to t("portalcss.reset_all_changes"), restore_default_admin_portal_template_path, 
          :confirm => t("portalcss.reset_all_confirm_message"), :class => "btn btn-danger" %>
        <p class="text_red">
          <b>Warning:</b> This will reset ALL portal customizations to default.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
<% end %>

<% content_for :onload_script do %>
  jQuery("#custom_css-tab, #layout-tab").bind("click", function(evnt){
    var target = evnt.target;
    setTimeout(function(){
      jQuery(jQuery(target).data("codeRefresh")).codemirror("refresh")
    }, 100)    
  });

  jQuery("form[rel=portal_form]").livequery(function(ev){
      jQuery(this).validate({
        submitHandler: function(form, btn) {
          // Setting the submit button to a loading state
          var $btn = jQuery(btn)
              $form = form

          if(btn.name != "preview_button"){

            // Disabling all buttons in the form
            jQuery(form).find(".portal-form-actions .btn").attr("disabled", true)
            jQuery("#cm-fs-actions .btn").attr("disabled", true)

            $btn.button("loading")

            jQuery($btn.data("codeRefresh")).codemirror('save');

            jQuery(form).ajaxSubmit({
              success: function(response, status){
                // Resetting the submit buttons to its default state
                jQuery($form).find(".portal-form-actions .btn").button("reset")
                jQuery("#cm-fs-actions .btn").button("reset")

                $btn.parent().find("#soft_reset_button").data("resetDisabled", false)
                jQuery('#cm-fs-actions #soft_reset_button').attr("resetDisabled", false)
              },
              dataType: "script"
            })
          }else{
            form.submit()
          }
          return false;
        }
      })
    })

    jQuery("[rel=reset-btn]").live("click", function(ev){
      var btn_disabled = (jQuery(this).data("resetDisabled") == 'true')
      jQuery("#soft-reset-proxy")
        .attr({ "href": jQuery(this).data("resetUrl"), 
                "disabled": btn_disabled } )
        .toggleClass("disabled", btn_disabled)

      jQuery("#reset-tab-type").html(jQuery(this).data("resetTab"))
    })

  jQuery("#pages-tab").live("click", function(ev){
    if(jQuery("#Customizepage").html() == "")
      jQuery("#PortalPageList a").first().trigger("click");
  });

  jQuery("#PortalPageList li").live("click", function(ev){
    jQuery(this).parent().parent().find(".active").removeClass("active")
    jQuery(this).addClass("active").find("a").trigger("click")
  })

  if(window.Mousetrap){
    Mousetrap.bind(['command+s', 'ctrl+s'],function(e){
      jQuery('input[name="save_button"]:visible')[0].click();
      return false;
    });

    Mousetrap.bind(['command+shift+p', 'ctrl+shift+p'],function(e){
      jQuery('input[name="preview_button"]:visible')[0].click();
      return false;
    });
  }
<% end %>

<% content_for :sidebar do %>
  <div class="sidepanel">
    <h3 class="title">Shortcut for editor</h3>
    <p>
      <b>Shift+cmd+s</b>  <br />
      Save current changes<br />

      <b>Shift+cmd+p</b> <br /> 
      Preview current changes<br />
      
      <b>Shift+cmd+f</b> <br />
      Show current editor in full-screen<br />
      
      <b>Esc</b> <br />
      Exit full-screen<br />
    </p>

  </div>
<% end %>
