<%= include_stylesheets :codemirror %>
<%= include_javascripts :codemirror %>
<% content_for :sidebar do %><% end %> 
<%= render :partial => "shared/colorpicker" %>

<a href="#" class="pull-right btn primary large">Publish changes</a>
<h3 class="sub-title">Portal template customization</h3>
<br />
<div class="clearfix">
  <ul data-tabs="tabs" class="tabs">    
    <li>      
      <a href="#simple-template-options" data-toggle="tab">Color &amp; font</a>
    </li>
    <li>
      <a id="custom-css-tab" href="#custom-css" data-code-refresh="#portal_template_custom_css">Stylesheet</a>
    </li>    
    <li class="active">
      <a id="layout-tab" href="#template" data-toggle="tab" data-code-refresh="#portal_template_header, #portal_template_footer, #portal_template_layout">Layout &amp; pages</a>
    </li>
  </ul>        
  
    <div class="tab-content">
      <div class="tab-pane" id="simple-template-options">        
        <%= render :partial => "/admin/shared/portal_simple", :object => @portal_template %>
      </div>

    	<div class="tab-pane" id="custom-css">		
        <% form_for [:admin, @portal_template], :url => { :action => :update }, :html => { :method => :put } do |f| -%>
      	<h3 class="title">Custom stylesheet</h3>
      	<p class="help-text">
          Add or overwrite freshdesk default styles with your own custom css.
        </p>
      	<%= f.code_editor :custom_css, 
                      :value => @default_custom_css, :mode => "css", 
                      "data-fullscreen-title" => "<span class='light'>Editing</span> Custom stylesheet",
                      "data-fullscreen-actions" => "custom-css-actions" %>            
        <br />
          <div class="well" id="custom-css-actions">
            <%= submit_tag "Preview", :name => 'preview_button', :class => "btn primary floatr", :target => "_blank" %>
            <%= submit_tag "Save changes", :class => "btn" %>
          </div>
        <% end -%>
    	</div>


      <div class="tab-pane active" id="template">
        <ul data-tabs="tabs" class="pills">
          <li class="active">
            <a id="layout-tab" href="#layout" code-refresh-id="portal_template_layout">
              Portal layout
            </a>
          </li>
          <li>
            <a id="portal-pages-tab" href="#pages">Portal pages</a> 
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="layout">
            <% form_for [:admin, @portal_template], :url => { :action => :update }, :html => { :method => :put } do |f| -%>
              <%= f.error_messages %>
              <label>Header</label>  
              <p class="help-text">Change the header area of your support portal</p>

              <%= f.code_editor :header, :height => "150px",
                    "data-fullscreen-title" => "<span class='light'>Editing</span> Header",
                    "data-fullscreen-actions" => "layout-actions" %>          
              <br />
              <label>Footer</label>
              <p class="help-text">Change the footer area of your support portal</p>  
              <%= f.code_editor :footer, :height => "80px",
                    "data-fullscreen-title" => "<span class='light'>Editing</span> Footer",
                    "data-fullscreen-actions" => "layout-actions" %>
              <br />
              <label>Page layout</label>
              <p class="help-text">Customize the entire layout of your support portal</p> 
              <%= f.code_editor :layout,
                    "data-fullscreen-title" => "<span class='light'>Editing</span> Page layout",
                    "data-fullscreen-actions" => "layout-actions" %>  
              <br />
              <div class="well" id="layout-actions">
                <%= submit_tag "Preview", :name => 'preview_button', :class => "btn primary floatr", :target => "_blank" %>
                <%= submit_tag "Save changes", :class => "btn" %>
              </div>     
            <% end %>
          </div>
          <div class="tab-pane" id="pages">
            <div>
              <h2 class="title light">Portal pages</h2>
              <p class="help-text">
                Here you will be able to customize body area of individual pages
              </p>
            </div>
            <br />
            <div class="row-fluid">
              <div class="span2">
                <%= render :partial => "portal_pages", :object => @portal_pages %>
              </div>
              <div class="span10 omega">
                <div id="Customizepage"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<% content_for :onload_script do %>
  jQuery("#custom-css-tab, #layout-tab").bind("click", function(){
    jQuery(jQuery(this).data("codeRefresh")).codemirror("refresh")
  });

  jQuery("#portal-pages-tab").live("click", function(ev){
    if(jQuery("#Customizepage").html() == "")
      jQuery("#PortalPageList a").first().trigger("click");
  });
  
<% end %>
