<%= include_stylesheets :codemirror %>
<%= include_javascripts :codemirror %>
<%= include_javascripts :portaltemplate %>
<%= javascript_include_tag "portal.template.js" %>
<% content_for :sidebar do %><% end %> 
<%= render :partial => "shared/colorpicker" %>
<a href="<%=admin_portal_template_publish_path%>" class="pull-right btn primary large">Publish changes</a>
<a href="<%=admin_portal_template_restore_default_path%>" class="pull-right btn large marginr10">Reset to Default</a>
<h3 class="sub-title">Portal template customization</h3>
<div class="hide">
  <a id="portal-preview-url" href="/support/solutions" target="_blank"></a>
</div>
<br />
<div class="clearfix">
  <ul data-tabs="tabs" class="tabs">    
    <li class="active">      
      <a href="#preferences" data-toggle="tab" id="preferences-tab">Color &amp; font</a>
    </li>
    <li>
      <a id="custom_css-tab" href="#custom_css" data-code-refresh="#portal_template_custom_css">Stylesheet</a>
    </li>    
    <li>
      <a id="layout-tab" href="#header" data-toggle="tab" data-code-refresh="#portal_template_header, #portal_template_footer, #portal_template_layout">Layout &amp; pages</a>
    </li>
  </ul>        
  
    <div class="tab-content">
      <div class="tab-pane active" id="preferences">        
        <%= render :partial => "/admin/shared/portal_simple", :object => @portal_template %>
      </div>

    	<div class="tab-pane" id="custom_css">		
        <% form_for [:admin, @portal_template], :url => { :action => :update }, :html => { :method => :put, :target => "blank" } do |f| -%>
        <%= hidden_field_tag 'tab', :custom_css %>
      	<h3 class="title">Custom stylesheet</h3>
      	<p class="help-text">
          Add or overwrite freshdesk default styles with your own custom css.
        </p>
      	<%= f.code_editor :custom_css, 
                      :value => @default_custom_css, :mode => "css", 
                      "data-fullscreen-title" => "<span class='light'>Editing</span> Custom stylesheet",
                      "data-fullscreen-actions" => "custom-css-actions" %>            
        <br />
          <div class="well" id="custom_css_btns">
            <%= submit_tag "Preview", :name => 'preview_button',
              :class => "btn primary floatr",
              "data-disable-with" => "Please wait...", 
              "data-code-refresh" => "#portal_template_custom_css" %>

            <%= submit_tag "Save and continue editing", 
              :onclick => "FD.PortalTemplate.save(this,event)", 
              :name => 'save_button',:class => "btn floatr", 
              "data-disable-with" => "Please wait...", 
              "data-code-refresh" => "#portal_template_custom_css" %>
            <% 
              soft_reset_url = "javascript:void(0)"
              cached_data = @cached_properties.include?(:custom_css)
              soft_reset_url =  admin_portal_template_soft_reset_path(:portal_template => "custom_css") if cached_data
            %>
            <%= link_to "Discard", soft_reset_url, :class => "btn #{!cached_data&& 'disabled'}" %>
          </div>
        <% end -%>
    	</div>


      <div class="tab-pane" id="header">
        <ul data-tabs="tabs" class="pills">
          <li class="active">
            <a id="layout-tab" href="#layout" code-refresh-id="portal_template_layout">
              Portal layout
            </a>
          </li>
          <li>
            <a id="pages-tab" href="#pages">Portal pages</a> 
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="layout">
            <% form_for [:admin, @portal_template], :url => { :action => :update }, :html => { :method => :put, :target => "blank" } do |f| -%>
              <%= hidden_field_tag 'tab', :header %>
              <%= f.error_messages %>
              <label>Header</label>  
              <p class="help-text">Change the header area of your support portal</p>

              <%= f.code_editor :header, :height => "150px",
                    "data-fullscreen-title" => "<span class='light'>Editing</span> Header",
                    "data-fullscreen-actions" => "layout-actions" %>          
              <br />
              <label>Footer</label>
              <p class="help-text">Change the footer area of your support portal</p>  
              <%= f.code_editor :footer, :height => "80px",
                    "data-fullscreen-title" => "<span class='light'>Editing</span> Footer",
                    "data-fullscreen-actions" => "layout-actions" %>
              <br />
              <label>Page layout</label>
              <p class="help-text">Customize the entire layout of your support portal</p> 
              <%= f.code_editor :layout,
                    "data-fullscreen-title" => "<span class='light'>Editing</span> Page layout",
                    "data-fullscreen-actions" => "layout-actions" %>  
              <br />
              <div class="well" id="header_btns">
                <%= submit_tag "Preview", :name => 'preview_button',
                  :class => "btn primary floatr",
                  "data-disable-with" => "Please wait...", 
                  "data-code-refresh" => "#portal_template_header, #portal_template_footer, #portal_template_layout" %>

                <%= submit_tag "Save and continue editing", 
                  :onclick => "FD.PortalTemplate.save(this,event)", 
                  :name => 'save_button',:class => "btn floatr", 
                  "data-disable-with" => "Please wait...", 
                  "data-code-refresh" => "#portal_template_header, #portal_template_footer, #portal_template_layout" %>
                    <% 
                  soft_reset_url = "javascript:void(0)"
                  cached_data = !(@cached_properties & [:header, :footer, :layout]).blank?
                  soft_reset_url =  admin_portal_template_soft_reset_path(:portal_template => "header:footer:layout") if cached_data
                %>

                <%= link_to "Discard", soft_reset_url, :class => "btn #{!cached_data&& 'disabled'}" %>
              </div>     
            <% end %>
          </div>
          <div class="tab-pane" id="pages">
            <div>
              <h2 class="title light">Portal pages</h2>
              <p class="help-text">
                Here you will be able to customize body area of individual pages
              </p>
            </div>
            <br />
            <div class="row-fluid">
              <div class="span2">
                <%= render :partial => "portal_pages"%>
              </div>
              <div class="span10 omega">
                <div id="Customizepage"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div> 

<% content_for :onload_script do %>
  jQuery("#custom_css-tab, #layout-tab").bind("click", function(evnt){
    var target = evnt.target;
    setTimeout(function(){
      jQuery(jQuery(target).data("codeRefresh")).codemirror("refresh")
    }, 100)    
  });

  jQuery("#pages-tab").live("click", function(ev){
    if(jQuery("#Customizepage").html() == "")
      jQuery("#PortalPageList a").first().trigger("click");
  });
  if(window.Mousetrap){
    Mousetrap.bind('command+shift+s',function(e){
      FD.PortalTemplate.save(jQuery('input[name="save_button"]:visible')[0]);
      return false;
    });

    Mousetrap.bind('command+shift+p',function(e){
      FD.PortalTemplate.save(jQuery('input[name="preview_button"]:visible')[0]);
      return false;
    });
  }
<% end %>
