<%= content_tag :li, :item_id => article.id,
		  						:class => "comm-item", :id => "item_"+article.id.to_s do %>
	<div class="reorder-icon vertical-alignment">
			<%= font_icon "rearrange", :size => 18, :id => "sortable-icon" %>
	</div>
	<div class="vertical-alignment reorder-content row-fluid">
		<div class="row-fluid clear-left-margin">
			<% if privilege?(:publish_solution) %>
				<div class="solution-list-checkbox">
					<input type="checkbox" id="article-<%= article.id %>" name="ids[]" value="<%= article.id %>" class="item_ids_checkbox"/>
				</div>
			<% end %>
			<div class="article-details">
				<div class="span3 pull-right text-right article-list-meta">
					<span class="span3 align-left meta-component <%= 'faded' if article.hits == 0 %>">
						<%= font_icon "file-visible" %>
						<%= article.hits %>
					</span>
					<span class="span3 align-left meta-component <%= 'faded' if article.thumbs_up == 0 %>">
						<%= font_icon "like", :size => 18 %>
						<%= article.thumbs_up %>
					</span>
					<span class="span3 align-left meta-component <%= 'faded' if article.thumbs_down == 0 %>">
						<%= font_icon "dislike", :size => 18 %>
						<%= article.thumbs_down %>
					</span>
				</div>
				<div class="span2 pull-right mt6 text-center article-info">
					<% if article.draft.present? || article.status == Solution::Article::STATUS_KEYS_BY_TOKEN[:draft] %>
						<span class="label">
							<%= t('solutions.status.draft')%> 
						</span>
					<% end %>
				</div>
			</div>
			<div class="span5 pull-right mt8 language-bar">
				<span class="pull-right">
					<%= language_flags(article) %>
				</span>
			</div>
			<div class="span6 comm-item-main clear-left-margin">
				<%= font_icon "book-hollow", :size => 16, :class => "solution-icon" %>
				<div class="comm-item-title ellipsis tooltip" title="<%= article.title if article.title.length > 75 %>">
					<%= pjax_link_to(h((article.draft || article).title), solution_article_path(article.id)) %>
				</div>
				<div class="comm-item-details muted">
					<%= t('solution.details',
					:user_name => article.user,
					:created_time => article.created_at.to_i,
					:time_ago => formated_date(article.created_at) ).html_safe %>
				</div>
			</div>
		</div>
	</div>
<% end %>