<%= content_tag :li, :item_id => article.id,
		  						:class => "comm-item", :id => "item_"+article.id.to_s do %>
	<div class="reorder-icon vertical-alignment">
			<%= font_icon "rearrange", :size => 18, :id => "sortable-icon" %>
	</div>
	<div class="vertical-alignment reorder-content row-fluid">
		<div class="row-fluid clear-left-margin">
			<% if privilege?(:publish_solution) %>
				<div class="solution-list-checkbox">
					<input type="checkbox" id="article-<%= article.id %>" name="ids[]" value="<%= article.id %>" class="item_ids_checkbox"/>
				</div>
			<% end %>
			<div class="article-details">
				<div class="span3 pull-right text-right article-list-meta">
					<span class="span4 align-right meta-component <%= 'faded' if article.hits == 0 %>">
						<%= font_icon "file-visible" %>
						<%= formatted_value(article.hits) %>
					</span>
					<span class="span4 align-right meta-component <%= 'faded' if article.thumbs_up == 0 %>">
						<%= font_icon "like", :size => 18 %>
						<%= formatted_value(article.thumbs_up) %>
					</span>
					<span class="span4 align-right meta-component <%= 'faded' if article.thumbs_down == 0 %>">
						<%= font_icon "dislike", :size => 18 %>
						<%= formatted_value(article.thumbs_down) %>
					</span>
				</div>
				<% if article.any_supported_draft_present? %>
					<div class="span2 pull-right mt6 text-center article-info">
						<%= content_tag :a, "<span class='draft-label'>#{t('solutions.status.draft')}</span>".html_safe,
														:rel => "hover-popover",
														:class => "label",
														"data-placement" => "below",
														"data-widget-container" => "languages-popover-contents-#{article.id}" %>
						<textarea id="languages-popover-contents-<%= article.id %>" class="hide">
							<%= languages_popover(article) %>
						</textarea>
					</div>
				<% end %>
			</div>
			<div class="span5 pull-right mt8 language-bar">
				<span class="pull-right">
					<%= language_flags(article) %>
				</span>
			</div>
			<div class="span6 comm-item-main clear-left-margin">
				<%= font_icon "book-hollow", :size => 16, :class => "solution-icon" %>
				<div class="comm-item-title ellipsis tooltip" title="<%= article.title if article.title.length > 75 %>">
					<!-- Referring to primary article to avoid error in bulk actions. -->
					<%= pjax_link_to(h((article.primary_article.draft || article).title), solution_article_path(article)) %>
				</div>
				<div class="comm-item-details muted">
					<!-- Referring to primary article to avoid error in bulk actions. -->
					<%= t('solution.details',
						:user_name => article.primary_article.user,
						:created_time => article.primary_article.created_at.to_i,
						:time_ago => formated_date(article.primary_article.created_at) ).html_safe %> 
				</div>
			</div>
		</div>
	</div>
<% end %>
