<ul id="folder-form-container" class="form-horizontal">  
  <div id="error_messages"><%= error_messages_for('solution folder','', :object_name => 'solution_folder', :object => @folder) %></div>

  <%= f.fields_for(association, @folder) do |associated_folder| %>
		<li class="control-group">
	    	<%= associated_folder.label(:name, "#{t('name')} <span class='required_star'>*</span>".html_safe,{:class => 'control-label'}) %>
	    	<div class="controls">
	    		<%= associated_folder.text_field :name,
	                         :class => "required",
	                         :autocomplete => "off",
	                         :autofocus => true %>
					<%= primary_preview(@primary, :name, @folder) %>
	    	</div>
		</li>
		<li class="control-group">
			<%= associated_folder.label(:description, t('description'), { :class => 'control-label'}) %>
			<div class="controls">
		 		<%= associated_folder.text_area :description, :class => "smallpara" %>
		 		<%= primary_preview(@primary, :description, @folder) %>
		 	</div>
		</li>  
	<% end %>
	
	<li class="control-group">
		<%= f.label(:solution_category_meta_id, t('.category'), { :class => 'control-label'}) %>
		<div class="controls">
			<% if @folder_meta.present? && (@primary && @primary != @folder) %>
				<%= f.fields_for(:solution_category_meta, @category) do |category_fields| %>
					<%= dynamic_text_box(:category, @language, category_fields) %>
				<% end %>
			<% else %>
				<%= f.select :solution_category_meta_id, current_account.solution_category_meta.includes(:primary_category).reject(&:is_default?).collect{|c|[c.name, c.id]}, 
						{ :selected => (@folder_meta && @folder_meta.solution_category_meta_id) || params[:category_id] }, 
						{ 
							:class => "select2 required input-large", 
							:name => "solution_folder_meta[solution_category_meta_id]"
						}  %>
				<%= category_create_new(f) %>
			<% end %>
	 	</div>
	</li>
	<li class="companies_select control-group">
  	<%= f.label :visibility, t('.visible_to'),{:class =>'control-label'} %>
  	<div class="controls">
  		<% if @folder_meta.present? && (@primary && @primary != @folder) %>
  			<div class="pt5">
  				<%= company_visibility_tooltip(@folder_meta) %>
  			</div>
			<% else %>
				<div class="row-fluid">
		    	<%= f.select :visibility, Solution::Constants::VISIBILITY_OPTIONS, { :selected => @folder_meta && @folder_meta.visibility }, { :class => "select select2 input-large" } %>
	    	</div>
	    	<br>
	    	<div class="row-fluid company_folders <%= 'hide' if @folder.visibility != 4 %>">
					<%= render_autocomplete({
									:selected_values => selected_companies(@customer_id),
									:type => :companies,
									:dom_id => "folder_customers"
					}) %>
				</div>
			<% end %>
  	</div>
  </li>
  <%= dynamic_hidden_fields(:folder) %>
</ul>
<%= javascript_tag do %>
	App.Solutions.AfterSave.bindCreateNew();
<% end %>

