	<ul id="folder-form-container" class="ui-form">  
	    <%= f.error_messages %>
		<li>
	    	<%= f.label(:name, "Name") %>
	    	<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label(:description, "More Info") %>
		 	<%= f.text_area :description, :class => "text" %>
	    	<!--%= f.text_area :description, :class => "mceEditor" %-->
		</li>  
		<%=f.hidden_field :category_id %>
	</ul>	
	
