<ul id="folder-form-container" class="form-horizontal">  
    <%= f.error_messages %>
	<li class="control-group">
    	<%= f.label(:name, "#{t('name')} <span class='required_star'>*</span>".html_safe,{:class => 'control-label'}) %>
    	<div class="controls">
    		<%= f.text_field :name,
                         :class => "required",
                         :autofocus => true %>
    	</div>
	</li>
	<li class="control-group">
		<%= f.label(:description, t('description'), { :class => 'control-label'}) %>
		<div class="controls">
	 		<%= f.text_area :description, :class => "smallpara" %>
	 	</div>
	</li>  
	<li class="control-group">
		<%= f.label(:category_id, t('.category'), { :class => 'control-label'}) %>
		<div class="controls">
	 		<%= f.select :category_id, current_account.solution_categories.reject(&:is_default?).collect{|c|[c.name, c.id]}, {}, { :class => "select2 required input-xlarge" } %>
	 	</div>
	</li>
	<li class="companies_select control-group">
  	<%= f.label :visibility, t('.visible_to'),{:class =>'control-label'} %>
  	<div class="controls">
  		<div class="row-fluid">
	    	<%= f.select :visibility, Solution::Constants::VISIBILITY_OPTIONS, :class => "select select2" %>
    	</div>
    	<br>
    	<div class="row-fluid company_folders <%= 'hide' if @folder.visibility != 4 %>">
				<%= render_autocomplete({
								:selected_values => selected_companies(@customer_id),
								:type => :companies,
								:dom_id => "folder_customers"
				}) %>
			</div>
  	</div>
  </li>
</ul>
