<div id="folder-form-container">
  <% form_for (@folder), :html => {:multipart => true, :id => "folder-form"} do |f| %>
    <%= f.error_messages %>

    <%= f.label(:name, "Name") %>
    <%= f.text_field :name %>
	
	<%= f.label(:description, "More Info") %>
	 <%= f.text_area :description, :class => "text" %>
    <!--%= f.text_area :description, :class => "mceEditor" %-->

    <div class="button-container">
      <%= submit_tag "Save", :class => "button submit" %>
      <%= submit_tag "Save and Create Another", :name => "save_and_create", :class => "button" %>
    </div>


  <% end %>
</div>
