	<ul id="folder-form-container" class="ui-form">  
	    <%= f.error_messages %>
		<li>
	    	<%= f.label(:name, "#{t('name')} *") %>
	    	<%= f.text_field :name, :class => "required" %>
		</li>
		<li>
			<%= f.label(:description, t('description')) %>
		 	<%= f.text_area :description, :class => "smallpara" %>
	    	<!--%= f.text_area :description, :class => "mceEditor" %-->
		</li>  
		<li class="small">
        	<%= f.label :visibility, t('solution.visibility') %>
        	<%= f.select :visibility, Solution::Folder::VISIBILITY_OPTIONS, :class => "select" %>
    	</li>
	</ul>	
	
