	<ul id="folder-form-container" class="ui-form">  
	    <%= f.error_messages %>
		<li>
	    	<%= f.label(:name, "#{t('name')} *") %>
	    	<%= f.text_field :name, :class => "required" %>
		</li>
		<li>
			<%= f.label(:description, t('description')) %>
		 	<%= f.text_area :description, :class => "smallpara" %>
		</li>  
		<li class="companies_select">
        	<%= f.label :visibility, t('.visible_to') %>
        	<%= f.select :visibility, Solution::Folder::VISIBILITY_OPTIONS, :class => "select" %>
        
        	<% f.fields_for :customer_folders_attributes do |cust| %>
    	    	<span id="company_folders">
      			<%= cust.select (:customer_id , current_account.customers.collect{|c|[c.name, c.id]},{:selected => @folder.customer_folders.map(&:customer_id)}, { :multiple => true, :class => "customSelect" , "data-placeholder" => 'Select company'}) %>
      			</span>
      		
      		<%end%> 
      	</li>
	</ul>	
    <% javascript_tag do %>  
     jQuery(document).ready(function(){ 			         
		jQuery('#solution_folder_visibility')
			.bind("change", function(e){
				show_hide_customers();
		});		
		function show_hide_customers(){
			visiblity = jQuery('#solution_folder_visibility').val();				
				if (visiblity  == 4)
				{
				   jQuery('#company_folders').show();
				}
				else
				{
				  jQuery('#customer_id').val("");
				  jQuery("#customer_id").trigger("liszt:updated");
				  jQuery('#company_folders').hide();

				}
			};

	    show_hide_customers();			  	
	});  
     <% end %>