<div class="list-panel-main">
	<div class="sol-details-left">
		<ul class="list-actions-left folder-icon-bg">
			<li> <%= font_icon(:folder, {:size => 26}) %> </li>
		</ul>
	</div>
	<div class="sol-details-right">
		<% if privilege?(:publish_solution) %>
			<ul class="list-actions-right">
				<li class="list-default-btns">
					<%= reorder_btn %>
					<%= new_solutions_button(:article) %>
				</li>
				</li>
			  <li class="list-reorder-btns">
			    <a href="#" class="btn btn-primary" id="submit_btn"><%= t('save') %></a>
			    <a href="#" class="btn btn-link" id="cancel_btn"><%= t('cancel') %></a>
			  </li>
			</ul>
			<div class="action-btns-bar span1">
				<%= link_to( '', 
							edit_solution_folder_path(@folder),
							:rel => "freshdialog",
							:class => "ficon-edit fsize-23 tooltip",
							:title => t('folder.edit'),
							:data => {
								"modal-title" => t('solutions.edit'),
								"target" => "#folder-edit",
								"close-label" => t('cancel'),
								"submit-label" => t('save')	
							}) %>
				<%= confirm_delete(@folder, solution_folder_path(@folder), {:class => 'ficon-trash-o tooltip fsize-23 delete-icon', :text => '',  :title => t('folder.delete') }) %>
			</div>
		<% end %>
		<div class="category-details span7">
			<h2 class="list-title ellipsis <%= 'tooltip' if @folder.name.length > 55 %>" folder-id="<%= @folder.id %>" title="<%= @folder.name if @folder.name.length > 55 %>"><%= h(@folder.name) %></h2>
			<div class="sol-visibility muted">
				<span class="sol-visibility-label"><%= t('solution.folders.folder_form.visible_to') %>:</span><%= company_visibility_tooltip(@folder) %>
			</div>
		</div>
	</div>
</div>