<% content_for :layoutType do -%>single<%- end %>
<h3 class="title"><%=t('folder.edit')%> <span class="sub_title">"<%=@folder.name%>"</span> </h3>
<% form_for (@folder), :url => solution_category_folder_path(@folder.category_id) , :html => {:multipart => true, :id => "folder-form"} do |f| %>
	<%= render :partial => "folder_form" , :locals => { :f => f }%>
	<div class="button-container">
		<div class="floatl">
			<%= link_to(t('delete'), solution_category_folder_path(@folder.category, @folder), :method => 'delete', :confirm => "#{t(folder.info1)?}", :class => "uiButton red" ) %>
		</div>
	    <%= submit_tag t('save'), :class => "uiButton submit" %>	  
		<%= link_to(t('cancel'), solution_category_url(@folder.category_id), :class => "uiButton grey" ) %> 
	</div>
<% end %>
