<% content_for :layoutType do -%>single<%- end %>
<h3 class="title">Edit Folder <span class="sub_title">"<%=@folder.name%>"</span> </h3>
<% form_for (@folder), :url => solution_category_folder_path(@folder.category_id) , :html => {:multipart => true, :id => "folder-form"} do |f| %>
	<%= render :partial => "folder_form" , :locals => { :f => f }%>
	<div class="button-container">
		<div class="floatl">
			<%= link_to('Delete', solution_category_folder_path(@folder.category, @folder), :method => 'delete', :confirm => 'Are you sure you want to delete this folder', :class => "uiButton red" ) %>
		</div>
	    <%= submit_tag "Save", :class => "uiButton submit" %>	  
		<%= link_to('Cancel'[:cancel], solution_category_url(@folder.category_id), :class => "uiButton grey" ) %> 
	</div>
<% end %>
