<% unless @modal %>
	<% content_for :layoutType do %>community solutions<% end %>
	<% content_for :sidebar do -%>&nbsp;<%-end %>
	<%= content_tag :h3, t(".new_folder"), :class => "lead itil-hide" %>
<% end %>
<%= form_for :solution_folder_meta, :url => solution_folders_path,
						:html => {
							:remote => true,
							:method => :post,
							:"data-type" => "script", 
							:id => "version-form-new", 
							:class => "validate_form version_form", 
							:rel => :validate
						} do |f| %>
	<%= render :partial => "folder_form" , :locals => { :f => f, :association => :primary_folder }%>
	<% unless @modal %>
		<div class="button-container align-right itil-hide">
			<%= link_to(t('cancel'), solution_categories_path, :class => "btn" ) %>
			<%= submit_tag t('save'), :class => "btn btn-primary" %>
		</div>
	<% end %>
<% end %>
