<% content_for :layoutType do%>single<% end %>
<% content_for :sidebar do %>
	<h4 class="product_title">
	  <div>
	  	<%=  @item.name %>
	  </div>
  	</h4>	 
	<ul class="tableofcontents">
	   <% @item.articles.each do |article| %>
	   	  <li>
			<h4><%= link_to article.title, solution_category_folder_article_path(@item.category_id , @item, article) %></h4>
		  </li>
	   <% end %>
	</ul>
<% end %>  
<div>
	  <div class="header_area">
	  	<div class="floatr">
		  	<%= link_to "New Folder", new_solution_category_folder_path(@item.category_id), :class => "fdbutton" %>
			<%= link_to "New Solution", new_solution_category_folder_article_path(@item.category_id, @item), :class => "fdbutton" %>
		  </div>
		<%= link_to "Solutions", solution_category_folders_path, :class => "page_title" %>
	  </div>
	  <div class="forum_list">
		  <h5 class="category_title">
			  <%= @item.name %>
			  <div><%= @item.description %></div>
		  </h5>
		  <ul class="base_set">			 
					<li>				
					<div class="topic_list">
					<% @item.articles.each do |article| %>
						<li>	
						<!--div class="item_actions">
							<%# link_to('edit', edit_helpdesk_article_path(article), :class => "button") %>
							<%# link_to('delete', article, :method => 'delete', :confirm => 'Are you sure you want to delete this solution', :class => "button" ) %>					
						</div-->
						<!--%= link_to(h(article.title), article, :class => "topic") %-->
						<%= link_to article.title, solution_category_folder_article_path(@item.category_id , @item, article) %>
						</li>	
						<div class="floatr button_p">
						<% if logged_in? && current_user.has_manage_solutions? -%>
							<%= link_to 'Edit' ,edit_solution_category_folder_article_path(@item.category_id , @item, article)  %>
							<%= link_to('delete', solution_category_folder_article_path(@item.category_id , @item, article), :method => 'delete', :confirm => 'Are you sure you want to delete this category') %>
						<% end %>
						</div>
					<% end %>
					</div>
				</li>
		
		  </ul>	
	  </div>
</div>
 