<% content_for :layoutType do%>single<% end %>  
<div class="folder-2col">
  <div class="folder_section" id="folder-section">
	  <%= render :partial => "/solution/shared/category_folder_list", :locals => { :category => @item.category, :selected => @item } %>
  </div>
  <div class="artical_section" id="article-section"> 
	<div class="crumbs">
		<%= link_to t('solution.title'), solution_categories_path %> &rarr; 
		<%= link_to @item.category.name, solution_category_path(@item.category) %> &rarr;
		<%= content_tag (:span, @item.name ) %>
	</div>
	<div class="search-grey-box">
	  <%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('solutions.search.placeholder', :name => @item.category.name), :url => "/search/solutions?category_id=#{@item.category.id}&search_key=" } %>
	</div>
	 <% if logged_in? && current_user.has_manage_solutions? %>
	  		<%= render :partial => "/solution/shared/solution_list", :locals => { :category => @item.category, :folder => @item } %>
	  <%else%>
	  		<%= render :partial => "/solution/shared/portal_sol_list", :locals => { :category => @item.category, :folder => @item } %>
	  <%end%>
	
  </div>
</div>
<% javascript_tag do -%>
  if(jQuery("#folder-section").height() > jQuery("#article-section").height())
    jQuery("#article-section").css("minHeight", jQuery("#folder-section").height());
<%- end %>