<% content_for :layoutType do%>single<% end %>  
<div class="folder_section">
	<%= render :partial => "/solution/shared/category_folder_list", :locals => { :category => @item.category, :selected => @item } %>
</div>
<div class="artical_section"> 
	<div class="crumbs">
		<%= link_to "Solutions", solution_categories_path %> &rarr; 
		<%= link_to @item.category.name, solution_category_path(@item.category) %> &rarr;
		<%= content_tag (:span, @item.name ) %>
	</div>
	<%= render :partial => "/search/pagesearch", :locals => { :placeholder => "Search #{@item.category.name}"  } %>
	<%= render :partial => "/solution/shared/solution_list", :locals => { :category => @item.category, :folder => @item } %>
</div>

 