<% content_for :layoutType do %>community solutions<% end %>
<% content_for :sticky_title do %>
  <%= render :partial => 'title_bar' %>
  <%= render :partial => 'edit_bar' if privilege?(:manage_solutions) %>
<% end %>
<% content_for :sticky_right do %>
  <%= preview_portal(support_solutions_folder_path(@folder), @folder.category) %>
<% end %>
<%= render :partial => '/solution/shared/sticky', :locals => { :page => :folder, :sticky_class => "sol-sticky",
                      :search_url => "/search/solutions?folder_id=#{@folder.id}&term="} %>

<% if @folder.articles.blank? %>
  <div class="no-data">
    <%= t('solution.no_solutions_info') %>
    <div class="mt20">
      <% if privilege?(:publish_solution) %>
        <%= pjax_link_to(t('solution.add'), new_solution_article_path(:folder_id => @folder.id), :class => "btn btn-primary") %>
      <% end %>
    </div>
  </div>

<% else %>
  <%= render :partial => '/solution/shared/search_container' %>
  <div class="comm-items solution-list" id="solution_sort" data-menu-hover-in='div.comm-item'>
    <%= form_for @folder.articles, :url => reorder_solution_articles_path(:folder_id => @folder.id), :html => { :method => :put, :class => "form-reorder" } do |f| %>
      <input name="reorderlist" type="hidden" value="" />
      <input name="category_id" id="reorder_category_id" type="hidden" value="<%= @folder.category.id %>" />
      <input name="folder_id" id="reorder_folder_id" type="hidden" value="<%= @folder.id %>" />
      <ul class="row-fluid" rel="sortlist" id="articles_list">
        <%= render(:partial => "article", :collection => @folder.articles) %>
      </ul>
    <% end %>
  </div>
<% end %>
