<% content_for :layoutType do%>single bg_pulp<% end %>
<% content_for :sidebar do %>
	<h4 class="product_title">
	  <div>
	  	<%=  @item.name %>
	  </div>
  	</h4>	 
	<ul class="tableofcontents">
	   <% @item.articles.each do |article| %>
	   	  <li>
			<h4><%= link_to article.title, solution_category_folder_article_path(@item.category_id , @item, article) %></h4>
		  </li>
	   <% end %>
	</ul>
<% end %>  
<div>
	  <div class="header_area no_padding">
	  	<div class="right_panel">
			<%= link_to "<img src='/images/add.png'> New Solution", new_solution_category_folder_article_path(@item.category_id, @item), :class => "fdbutton" %>
		  </div>
		<%= link_to "Solutions &rarr;", solution_categories_path, :class => "page_title" %>
		<%= link_to @item.category.name+" &rarr;", solution_category_path(@item.category), :class => "page_title" %>
		<span class="page_title"><%= @item.name %></span>
	  </div>
	  <div class="forum_list">
		  <h5 class="category_title">
			  <%= @item.name %>
			  <div><%= @item.description %></div>
		  </h5>
		  <div class="list_icon_large_full_width">
					<% @item.articles.each do |article| %>
						<div class="item">	
							<div class="item_actions">
								<% if logged_in? && current_user.has_manage_solutions? -%>
									<%= link_to 'edit' ,edit_solution_category_folder_article_path(@item.category_id , @item, article)  %> |
									<%= link_to('delete', solution_category_folder_article_path(@item.category_id , @item, article), :method => 'delete', :confirm => 'Are you sure you want to delete this category') %>
								<% end %>					
							</div>
							<span class="topic_icon">
								<% if( !article.is_public )%> 
									<img src="/images/private_lock.gif" class="locked" width="20px" height="19px" />
								<% end %>
								<% if( article.art_type == 2 )%> 
									<img src="/images/solution_type.png" title="<%= article.type_name %>" width="32px" height="32px" />
								<% else %>
									<img src="/images/solution_workaround_type.png" title="<%= article.type_name %>"  width="32px" height="32px" />
								<% end %>
							</span>	
	 						<h4 class="topic_title">
								<%= link_to article.title, solution_category_folder_article_path(@item.category_id , @item, article, :class => "topic") %>
							</h4>
							<div>
								<span class="info">Written by, <%=article.user.name%> - Last updated <%= article.updated_at.strftime("%B %e %Y at %I:%M %p") %></span>
							</div>	
						</div>	
 
					<% end %>
		
		  </div>	
	  </div>
</div>
 