<!DOCTYPE html>
	<%= render :partial => "layouts/shared/html" %>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Portal preview mode</title>

		<meta name="viewport" content="width=device-width">  
		<link rel="shortcut icon" href="<%= current_portal.fav_icon_url %>" />		
		<!-- <link href="/theme.css" media="screen" rel="stylesheet" type="text/css"> -->
 
		<%= stylesheet_link_tag_with_rtl :'cdn/preview' %>
		<%= javascript_include_tag :'cdn/preview' %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>