<%= form.error_messages %>
<%= form.hidden_field :page_type %>
<h3 class="title">
	<span class="light">Editing:</span> <%= @portal_page.name %>
</h3>
<p>
	<%= form.code_editor :content, :height => "400px" %>
</p>
<br />
<div class="well">
	<%= submit_tag "Preview", :name => 'preview_button', :class => "btn primary floatr" %>
	<%= submit_tag "Save changes", :class => "btn" %>
</div>