<%= form.error_messages %>
<%= form.hidden_field :page_type %>
<% 
soft_reset_url = "javascript:void(0)"
soft_reset_url =  admin_portal_template_page_soft_reset_path( :page_id => params[:id], 
										:page_type => @portal_page.page_type) if @from_cache
%>
<h3 class="title">
	<span class="light">Editing:</span> <%= @portal_page.name %>
</h3>
<p>
	<%= form.code_editor :content, :height => "400px",
			"data-fullscreen-title" => "<span class='light'>Editing</span> #{@portal_page.name}",
            "data-fullscreen-actions" => "portal-page-actions" %>
</p>
<br />
<div class="well" id="pages_<%=@portal_page.page_type%>_btns">
	<%= submit_tag "Preview", 
		:name => 'preview_button', 
		:class => "btn primary floatr", 
		:target => "_blank", 
		:disable_with => "Please wait...",
		:onclick => "FD.PortalTemplate.save(this,event)",
		:"data-code-refresh" => "#portal_page_content" %>
  <%= submit_tag "Draft", 
  	:name => 'save_button', 
  	:class => "btn floatr", 
  	:disable_with => "Please wait...",
  	:onclick => "FD.PortalTemplate.save(this,event)",
		:"data-code-refresh" => "#portal_page_content" %>
  <%= link_to "Discard", soft_reset_url, :class => "btn #{!@from_cache&& 'disabled'}" %>
</div>