<li data-index = <%= index %> data-id = <%= display_id %> >
<a class="btn-close" href="#"><i class="ficon-cross fsize-18" data-toggle="tooltip"
              data-placement="bottom" title="Remove"></i></a>
 <div class="user-name">
    <span><%=requestor_name%></span> reported,
</div>
<a href="<%= display_id %>"><%=subject%></a>
 <div class="time-stamp">Last updated: <b>
	<abbr data-livestamp=<%=updated_at%>></abbr>; <%=status_name%></span></b>
 </li>