<div id="freshfone_active_calls">
  <ul class="list table table-striped">
    <% @freshfone_active_calls.each do |call| %>
      <li class="row-fluid">
          <i class='hide call_id'><%= call.id%></i>
          <div class="ff-call-element ff_caller width1">
            <div class="user_avatar vertical-alignment">
              <%= call.customer.blank? ? unknown_user_avatar : user_avatar(call.customer) %>
            </div>
            <div class="ff_caller_details vertical-alignment">
              <b class='ellipsis caller_name' id='caller_name'><%= call.customer.present? ? link_to_user(call.customer) : call.caller_number %></b>
              <div class="ff-user-location muted user_location <%= "location_unknown" if call.location.blank? %>"
                data-number='<%= call.caller_number %>'>
                <%= call.location %>
              </div>
            </div>
          </div>
          <div align="left" class="ff-call-element width4 call_direction">
            <div class='<%= call_direction_class(call) %>  ff-png-icon vertical-alignment'>
            </div>
          </div>
          <div class="ff-call-element user_details width1">
              <div class="vertical-alignment">
                <div class="agent_user_avatar">
                  <% if call.agent.present? %>
                    <%= user_avatar(call.agent)%>
                  <% else %>
                    <div class='callhistory_helpdesk_avatar vertical-alignment ff-png-icon'></div>
                  <% end %>
                </div>
              </div>
              <div class="vertical-alignment">
                <b class="ellipsis agent_name">
                  <% if call.agent.present? %>
                    <%= link_to_user(call.agent) %>
                  <% elsif call.parent.blank? %>
                    <%=  call.group.present? ? call.group.name : t('freshfone.call_history.helpdesk') %>
                  <% elsif call.group.present? %>
                    <%= call.group.name %>
                  <%else%>
                    <%= t('freshfone.call_history.helpdesk') %>
                  <%end%>
                </b><br/>
                  <div class="helpdesk_number muted">
                    <%= call.direct_dial_number ||  call.freshfone_number.number %>
                  </div>
              </div>
          </div>
          <div class='ff-call-element width2 time_in_words call_created_at'>
              <abbr data-livestamp='<%= call.created_at.to_i %>' class=" tooltip" 
                title='<%= formated_date(call.created_at) %>'>
                <%= formated_date(call.created_at) %>
              </abbr>
            </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="no_active_calls center hide">
  <p><%= t('helpdesk.dashboard.freshfone.no_active_calls') %></p>
</div>
<div class='hide'>
    <li class="row-fluid" id='active-call-list-template'>
      <i class='hide call_id'></i>
      <div class="ff-call-element ff_caller width1">
        <div class="user_avatar vertical-alignment">
        </div>
        <div class="ff_caller_details vertical-alignment">
          <b class='ellipsis caller_name' id='caller_name'></b>
          <div class="ff-user-location muted user_location">
          </div>
        </div>
      </div>
      <div align="left" class="ff-call-element width4 call_direction">
      </div>
      <div class="ff-call-element user_details width1">
          <div class="vertical-alignment">
            <div class="agent_user_avatar"></div>
          </div>
          <div class="vertical-alignment">
            <b class="ellipsis agent_name"></b><br/>
            <div class="helpdesk_number muted"></div>
          </div>
      </div>
      <div class='ff-call-element width2 time_in_words call_created_at'>
      </div>
  </li>
</div>
