<!--Copyright © 2014 Freshdesk Inc. All Rights Reserved.-->
<!-- Agents calls list view -->
<% calls.each do |call_list| 
    group_title = call_list.agent_name 
    next if group_title.blank? 
    %>
    <tr class="odd">
      <td><strong><%= group_title %></strong></td> 
      <% num_of_unanswered = unanswered_calls_count([call_list]) + unanswered_transfers([call_list])%>
      <%headers.keys.each do |header| %>
        <%if([:call_handle_time, :avg_handle_time].include?(header))
          content = call_duration_formatted(send(header,[call_list])) 
        else
          content =[:agent_name].include?(header) ? "" : send(header,[call_list])
          if([:calls_count].include?(header) && num_of_unanswered.to_i != 0)
            %>
            <td><%=h(content)%><span class='muted'><%= (call_type == Freshfone::Call::CALL_TYPE_HASH[:incoming]) ? " (#{num_of_unanswered.to_i} " + t("reports.freshfone.unanswered_count") + ")" : nil %></span></td>
            <%
            next
          end
        end %> 
        <%= content_tag(:td, h(content), :class => header) unless content.blank?%>
      <% end %>
    </tr>
<% end %>
<% calls.each do |call_list| 
    group_title = call_list.agent_name 
    next unless group_title.blank? 
    group_title = t('reports.freshfone.no_agent')
    %>
    <tr class="muted even">
       <td><%= group_title %></td> 
        <% num_of_unanswered = unanswered_calls_count([call_list]) + unanswered_transfers([call_list])%>
      <%headers.keys.each do |header| %>
        <%if([:call_handle_time].include?(header))
          content = call_duration_formatted(send(header,[call_list])) 
        else
          content =[:agent_name].include?(header) ? "" : send(header,[call_list])
          if([:calls_count].include?(header) && num_of_unanswered.to_i != 0)
            %>
            <td><span class='muted'><%=" #{num_of_unanswered.to_i} " + t("reports.freshfone.unanswered_count") %></span></td>
            <%
            next
          end
        end %> 
        <% content = "-" if([:answered_percentage, :avg_handle_time].include?(header))%>
        <%= content_tag(:td, h(content), :class => header) unless content.blank?%>
      <% end %>   
    </tr>
<%end%>