<!--Copyright © 2014 Freshdesk Inc. All Rights Reserved.-->
<div id="freshfone-report-content">
    <div class="row-fluid  report-summary" id="metric_container">
      <div>
       <h3 class="header-lead"><span>Summary </span>
       <div class='pull-right'>
       <% if external_transfers_count(@calls) != 0 %>
       <div class='report-no-external-msg muted'><%=t('reports.freshfone.no_external')%></div>
       <%end%>
       <a href='<%=Reports::Constants::REPORT_ARTICAL_LINKS[:freshfone_summary]%>' target="_blank" class="report-help-icon pull-right">?</a></div>
        </h3>
         <div class="row-fluid report-summary-wrapper">
          <%= render :partial => "call_metrics", :locals => { :calls => @calls, :old_calls => @old_calls } %>
        </div>
      </div>
      <div class="row-fluid control-group">
      <div class="vertical-alignment time-sheet-top-margin">
        <strong><%=t('reports.freshfone.summary_title')%></strong>
      </div>
        <span class="pull-right time-sheet-top-margin">
            <a href="javascript:void(0);" onclick='jQuery("#generate-pdf").trigger("click");' 'id'='export_as_csv'><%=t('export_to_CSV')%></a>
        </span>
      </div>
      <div class="grid report row-fluid"> 
          <table width="100%">
            <tr>
              <% table_headers.keys.each do |header|
                concat content_tag :th, h(table_headers[header]), :class => header
               end %>
            </tr>
            
          <% if @calls.size > 0 %>
              <%= render :partial => "calls", :object => @calls ,:locals=>{:headers => table_headers, :call_type =>@call_type.to_i } %>  

            <%else%>
              <tr>
                <td colspan="<%=table_headers.length%>">            
                <div class="list-noinfo"><%=t('reports.no_data')%></div>
                </td>         
            </tr>
          <%end%>
           
         </table>
      </div>
      <!--end call list-->
    </div>
</div>
