<!--Copyright © 2014 Freshdesk Inc. All Rights Reserved.-->
<%
  actual_calls_count = helpdesk_calls_count(calls)
  num_of_calls = calls_count(calls)
  total_num_of_calls = actual_calls_count - direct_dial_count(calls)
  unanswered_count =  unanswered_calls_count(calls)
  voice_count = voicemails_count(calls)
  num_of_transfered = num_of_calls - (actual_calls_count + external_transfers_count(calls))
  total_unanswered_transfers = unanswered_transfers(calls)
  avg_time_in_secs = helpdesk_handle_time(calls) || 0
  seconds = ((avg_time_in_secs%3600)%60).round
    
  #-----------old calls -------------
  old_actual_calls_count = helpdesk_calls_count(old_calls)
  old_num_of_calls = calls_count(old_calls)
  old_total_num_of_calls = old_actual_calls_count - direct_dial_count(old_calls)
  old_unanswered_count = unanswered_calls_count(old_calls)
  old_voice_count = voicemails_count(old_calls)
  old_num_of_transfered = old_num_of_calls - (old_actual_calls_count + external_transfers_count(old_calls))
  old_total_unanswered_transfers = unanswered_transfers(old_calls)
  old_avg_time_in_secs = helpdesk_handle_time(old_calls) || 0
  old_seconds = ((old_avg_time_in_secs%3600)%60).round
  %>
<div class="report-summary-header">
  <ul class="inline">
    <li><h1><%= total_num_of_calls.to_i %></h1></li>
    <li><h1><%= unanswered_count.to_i%></h1></li>
    <% if @call_type.to_i != Freshfone::Call::CALL_TYPE_HASH[:outgoing] %>
      <li><h1><%= voice_count.to_i%></h1></li>
    <%end%>
    <li><h1><%= num_of_transfered.to_i %></h1></li>
    <li><h1><%= total_unanswered_transfers.to_i %></h1></li>
    <li><h1><%= call_duration_formatted(avg_time_in_secs) %></h1></li>
  </ul>
</div>  
<div class="report-summary-data">
  <ul class="inline">
    <li> 
    <small>
    <% metric_obj = percentage_change(old_total_num_of_calls, total_num_of_calls  ,:num_of_calls)%>
    <% unless metric_obj.blank? %>
      <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
    <%end%>
    </small> 
    </li>
    <li>
    <small>
    <% metric_obj = percentage_change(old_unanswered_count,unanswered_count,:missed_calls)%>
    <% unless metric_obj.blank? %>
      <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
    <%end%>
    </small> 
    </li>
    <% if @call_type.to_i != Freshfone::Call::CALL_TYPE_HASH[:outgoing] %>
      <li>
      <small>
        <% metric_obj = percentage_change(old_voice_count,voice_count,:missed_calls)%>
        <% unless metric_obj.blank? %>
          <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
        <%end%>
      </small> 
      </li>
    <%end%>
    <li>
    <small>
    <% metric_obj = percentage_change(old_num_of_transfered, num_of_transfered, :num_of_calls)%>
    <% unless metric_obj.blank? %>
      <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
    <%end%>
    </small> 
    </li>
    <li>
    <small>
    <% metric_obj = percentage_change(old_total_unanswered_transfers, total_unanswered_transfers, :num_of_calls)%>
    <% unless metric_obj.blank? %>
      <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
    <%end%>
    </small> 
    </li>
    <li>
    <small>
    <% metric_obj = percentage_change(old_seconds,seconds,:num_of_calls)%>
    <% unless metric_obj.blank? %>
      <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
    <%end%>
    </small> 
    </li>
  </ul>
</div>
<div class="report-summary-footer">
  <ul class="inline">
    <li> <label><%=t('reports.freshfone.num_of_calls')%></label> </li>
    <li> <label><%=t('reports.freshfone.total_unanswered_calls')%></label> </li>
    <% if @call_type.to_i != Freshfone::Call::CALL_TYPE_HASH[:outgoing] %>
      <li> <label><%=t('reports.freshfone.total_voice_mail')%></label> </li>
    <%end%>
    <li> <label><%=t('reports.freshfone.num_of_transfered')%></label> </li>
    <li> <label><%=t('reports.freshfone.unanswered_transfers')%></label> </li>
    <li> <label><%=t('reports.freshfone.avg_handle_time')%></label> </li>
  </ul>
</div>