<!--Copyright © 2014 Freshdesk Inc. All Rights Reserved.-->
<% content_for :layoutType do -%>reports_page<%- end %>

<%= javascript_include_tag :'cdn/report_date'  %>
<%= stylesheet_link_tag_with_rtl :'cdn/ui_daterangepicker', :media => "screen" %> 
<%= stylesheet_link_tag_with_rtl :'cdn/reports' %>
<%= javascript_include_tag :'cdn/reports'  %>
  <div id="loading-box">
   <div class="sloading loading-left loading-small reports-loading"><%=t('adv_reports.glance.loading_msg')%></div> 
   </div>
<!--report header-->
<div class="row-fluid">
  <div class="span12 report-breadcrum-wrapper">
    <ul class="breadcrumb">
      <li><a href="<%=reports_url%>"><%=t('adv_reports.glance.all_reports')%></a> <span class="divider">/</span></li>
      <li><%=t('adv_reports.glance.report_view')%></li>
    </ul>
  </div>
</div>
 <!--end report header-->
<!-- report content -->
<div class="row-fluid" id="freshfone_summary_report">
  <div class="report-page" id="report-page">
    <div class="report-content-wrapper" id="">
    <!--report header-->
    <div class="row-fluid report-header">
      <div class="row-fluid">
        <div class="span12 report-header-content">
          <div class="span7">
            <i class="vertical-alignment report-header-icon reports-icon-report"></i>
            <div class="vertical-alignment report-inner-heading">
              <h1 class="lead" id="report_header_title"><%=t('reports.freshfone.ff_report_title')%></h1>
              <p class="muted" id="report_header_date"><%=@report_date%></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="report-filter span12" id="report-filter-details">
          <div class="vertical-alignment report-filter-slide-btn">
              <a class="btn btn-primary reports-metrics" href="#report-filter-edit" data-parent="#report-page" id="sliding">Edit</a>
          </div>
          <div class="filter-container" id="filter_container">
            <%= render :partial => 'filter_header' %>
          </div>
          <div class="">
            <!-- report filter name if any -->
          </div>
        </div>
      </div>
    </div>
      <%= render :partial => "call_list" %> 
    </div>
  </div>
  <!-- Filter Options -->
  <div class="report-left-filter" id="report-filter-edit">
    <div class="left-filter">    
      <%= render :partial => "reports/freshfone/shared/filter_options"%>
    </div>
  </div> 
  </div>
<!--end report content-->
</div>
<%= javascript_tag do %> 
  jQuery(window).on("load", function () {
      App.Phone.Metrics.recordSource("REPORTS_LOAD");
      App.Phone.Metrics.push_event();
  });
  jQuery('body').on('assetLoaded.fjax', function() {
    App.Freshfonereports.summaryReports('<%=generate_reports_freshfone_summary_reports_url%>');
    App.Freshfonereports.groupOptions(<%= filter_group_options.html_safe %>,'<%=t("reports.freshfone.options.all_groups")%>');
    App.Freshfonereports.numberOptions(<%= filter_number_options.html_safe %> , <%=filter_default_number.html_safe %>);
    App.Freshfonereports.businessHoursOptions(<%= filter_by_business_hours_options.html_safe %>, '<%=t("reports.freshfone.filter_option_all_calls")%>');
    if (typeof freshfoneReports === "undefined") { freshfoneReports = {}; }
    freshfoneReports.group_cache = <%= group_cache.blank? ? 0 : group_cache %>
    freshfoneReports.business_hours_cache = <%= business_hours_cache.blank? ? 0 : business_hours_cache %>
   });
<%end%>