<% content_for :sidebar do -%>&nbsp;<%- end %>
<div class='feature-heading'>
  <h3 class='title'><%= t('.title') %></h3>
  <div class='desc'><%= t('.desc') %></div>
</div>
<div class='feature-list'>
<% if @advanced_features_for_acc.present? %>
  <ul>
    <% @advanced_features_for_acc.each do |feature| %>
      <%= render :partial => 'feature', :locals => { :feature => feature } %>
    <% end %>
  </ul>
<% else %>
  <div class='no-feature'>
    <div class='info'><%= t(".no_feature") %></div>
    <a><%= t(".info") %></a>
  </div>
<% end %>
</div>