<tr>
  <td> 
		<p class="text-info">
      <%= font_icon :ecommerce, { :size => 18, :class => "mr6" } %>
			<%= link_to ecommerce_account.name, edit_admin_ecommerce_ebay_path(ecommerce_account) ,:class=> "item_info"%>
		</p>
  </td>
  <td class="text">
    <%= check_status(ecommerce_account) %>
  </td>
  <td class="text-right"> 
    <%= link_to t('edit'), edit_admin_ecommerce_ebay_path(ecommerce_account), :class => "btn btn-mini" %>
    <%= link_to "", admin_ecommerce_ebay_path(ecommerce_account), :confirm => t('confirm_delete_message', :human_name => t('admin.ecommerce.human_name')), :method => :delete, :class => "btn btn-mini #{font_class("trash")}"%>
  </td>
</tr>
  