<%= form_for @account_additional_settings, :url => { :action => "update" }, :html => { :method => :put, :rel => "validate" } do |f| %>
	<%= render partial: '/shared/error_messages', collection: @account_additional_settings.errors.full_messages %>
	<label><%= t('email_configs.bcc_email')%></label>
	<%= f.text_field :bcc_email, :class => "text email" , :id => "bcc_email"%>
	<div class="info-data"><%= t('email_configs.info17') %> </div>
<% end %>