<!-- Save Report Dialog -->
<div id="report-dialog-save" class="hide row-fluid">
	<p class="visibility"><%= t('helpdesk_reports.saved_report.dialog_sub_header') %></p>
	<label class="field_title"><%= t('helpdesk_reports.saved_report.title') %></label>
	<input class="required text" id="filter_name_save" autofocus name="filter_name_save" autofocus size="30" type="text" value="">
	<p class="hide missing_field"><%= t('helpdesk_reports.saved_report.error_missing_title') %></p>
	<p class="hide unavailable_field"><%= t('helpdesk_reports.saved_report.error_title_unavailable') %></p>
</div>
<!-- Edit Report Dialog -->
<div id="report-dialog-edit" class="hide row-fluid">
	<p class="visibility"><%= t('helpdesk_reports.saved_report.dialog_sub_header') %></p>
	<label class="field_title"><%= t('helpdesk_reports.saved_report.title') %></label>
	<input class="required text" id="filter_name_edit" autofocus name="filter_name_edit" autofocus size="30" type="text" value="">
	<p class="hide missing_field"><%= t('helpdesk_reports.saved_report.error_missing_title') %></p>
	<p class="hide unavailable_field"><%= t('helpdesk_reports.saved_report.error_title_unavailable') %></p>
</div>
<div id="report-dialog-delete" class="hide row-fluid">
	<p><%= t('helpdesk_reports.saved_report.delete_cnfm_message') %></p>	
</div>