<div class="control-group">
	<label class="control-label"><%= t('reports.reports_by').html_safe%></label>
	<div class="controls">
  		<%= select_tag :reports, options_for_select(@show_fields.map {|k,v| [v, k]}, [:priority,:ticket_type]), { :multiple => true, :class => "select2 input-large filter_item" } %>		
  	</div>
</div>    
<div class="control-group">
	<label class="control-label"><%= t('reports.select_time_period').html_safe%></label>
	<div class="controls">
		<%= text_field_tag :date_range, "", :class => "required input-large" %>
	</div>
</div>

<%= javascript_tag do %>
jQuery(document).ready(function() {
	jQuery("#date_range").daterangepicker({
		earliestDate: Date.parse('1/1/2010'),
		latestDate: new Date(),
		presetRanges: [
			{text: '<%= t('reports.date_ranges.last_7_days') %>', dateStart: 'Today-7', dateEnd: 'Today-1' },
			{text: '<%= t('reports.date_ranges.last_30_days') %>',dateStart: 'Today-30', dateEnd: 'Today-1'},
			{text: '<%= t('reports.date_ranges.last_90_days') %>',dateStart: 'Today-90',  dateEnd: 'Today-1'}
		],
		presets: {
			dateRange: '<%= t('reports.date_ranges.custom') %>'
		},
		dateFormat: getDateFormat('datepicker'),
		closeOnSelect: true
	});
	jQuery("#date_range").val('<%= date_range_val(30.days.ago,Time.now) %>');   
});     
<% end %>