<div class="report-wrapper">
  <div class="report-unit">
    <h3><%= t('reports.pie_chart_title_prefix') %> <%= t('ticket_fields.fields.source')%>
    <div id="source_freshdesk_single_stacked_bar_chart" class="single-stacked-bar"></div>
    <% javascript_tag do %>
  	<%= @source_single_stacked_bar_chart %>
    <% end %>
  </div>
</div>  
<div class="seperator"></div>
<div class="report-wrapper">
<% unless @pie_charts_hash.nil?
  	@pie_charts_hash.each do |label,pie_chart|
  		%>
  		<div class="report-unit report-pie-chart">
  			<h3><%= t('reports.pie_chart_title_prefix') %> <%= @pie_chart_labels.fetch(label,'')%></h3>
  			<div id ="<%=label.gsub('.', '_')%>_freshdesk_chart" class="chart-container">
  			  <div class="noinfo">No data to display!</div>
  			</div>
  		</div>
  		<%
  	end
  end %>
</div>  
<% javascript_tag do %>
	jQuery(document).ready(function() {
	<%	unless @pie_charts_hash.nil?
			@pie_charts_hash.each do |label,pie_chart|
				%>
				<%=pie_chart%>
			<%
			end
		end 
	%>
	});
<%end%>