<% unless @current_month_tot_tickets == 0 %>
  <div class="tickets-summary extra_for_fcr report-unit">
    <h3><%= t('reports.summary.title')%></h3>
    <ul class="summary clearfix">
      <li>
        <span><%= t('reports.summary.received_tickets')%> </span>
        <h4><%= number_with_delimiter(@current_month_tot_tickets) %></h4>
      </li>
      <li class="last">
        <span><%= t('reports.summary.resolved_tickets')%> </span>
        <h4><%= number_with_delimiter(@count_of_resolved_tickets) %></h4>
        
      </li>
    </ul>
  </div>

  <div class="sla-compliance report-unit">
    <h3><%= t('reports.summary.sla_compliance')%> </h3>
    <div id="sla_freshdesk_gauge" class="gauge-chart"></div> 
    <% unless @sla_diff.nil? || @sla_diff == 0 %>
      <h4 class='<%= "negative" if @sla_diff < 0 %> percent-diff'>
        <%= format_float_value(@sla_diff)%><span class="percent">%</span>
      </h4>
    <% end %>
  </div>

  <div class="sla-compliance report-unit">
    <h3><%= t('reports.summary.fcr')%> </h3>
    <div id="fcr_freshdesk_gauge" class="gauge-chart"></div>
    <% unless @fcr_diff.nil? || @fcr_diff == 0 %>
      <h4 class='<%= "negative" if @fcr_diff < 0 %> percent-diff'>
        <%= format_float_value(@fcr_diff)%><span class="percent">%</span>
      </h4>
    <% end %>
  </div>

  <% javascript_tag do %>
    <%= @fcr_pie_gauge %>
    <%= @sla_pie_gauge %>
  <% end %>
<%end%>