<% javascript_tag do %>
 jQuery(document).ready(function(){
	jQuery('input#account_features_survey_links').click( function(event) {						
		    var form = jQuery('form#survey_enable');
		    form.submit();
	});
	jQuery('input#account_features_scoreboard').click( function(event) {						
		    var form = jQuery('form#scoreboard_enable');
		    form.submit();
	});	
  });	
<% end %>

<div id="survey-settings">
  <h3 class="title"><%=t('.title')%></h3> 

    <div class="survey-settings">
	       	<% remote_form_for :account, @account, :url => {:action => "enable"},  :html => { :method => :put, :id => "survey_enable" } do |account| %>	
				<%= account.feature_check_box :survey_links %><%= t('.enable_label') %><br><br>
		<%end%>
		
		<div id="survey_elements">
		
      	<% remote_form_for :survey, @survey, :url => { :action => "update" },  :html => { :method => :put } do |f| %>
			<%=t('.link_text_label')%>
							
				<%= f.text_field :link_text, :value => @survey[:link_text], :class => "time"  %>
			
				<br><br>
			
				<%= f.radio_button :send_while, Survey::ANY_EMAIL_RESPONSE %> <%=t('.send_while_option1')%><br>
				<%= f.radio_button :send_while, Survey::RESOLVED_NOTIFICATION %> <%=t('.send_while_option2')%> <br><br>
				<%= submit_tag t('account.save'), :class => 'uiButton' %>
		<% end %>
		
	  </div>
		
    </div>

    
    <%= render :partial => 'scoreboard_ratings' %>
</div>
