<% content_for :head do %>
  <%= stylesheet_link_tag "autosuggest_inquisitor" %>
  <%= javascript_include_tag "autosuggest" %>
  <%= javascript_include_tag "condition-filter" %>

  <% javascript_tag do %>	
	var active_email_body = null;
	
	var filter_Array    = $A(<%= @filter_defs %>),
		action_Array	= $A(<%= @action_defs %>),
		Filter_feed 	= $A(<%= @filter_input %>),
		Action_feed		= $A(<%= @action_input %>);	
	
	var op_hash = preProcessCondition(<%= @op_types %>, <%= @op_list %>);	
	
	jQuery(document).ready(function(){
		var filters = new rules_filter("filter", filter_Array, "#filterDOM", {"operators": op_hash, "init_feed":Filter_feed});
		var actions = new rules_filter("action", action_Array, "#actionDOM", {"init_feed":Action_feed});
		//jQuery("#RuleList, #ActionList").sortable({ items: "fieldset", containment: "parent", tolerance: "pointer", handle:"span.sort_handle"});		
		
		jQuery("#VirtualAgent")		
			.validate({
				rules:{
					vagent_name: "required"			
				},
				messages:{
					vagent_name: "Virtual agent name is empty"
				}
			});
		
		jQuery('.l_placeholder').live("click", function(ev){
				active_email_body = jQuery(this).prev();
				jQuery('#place-dialog')
					.slideToggle();			
		});
		
	});
    
  <% end %>
<% end %>


<div class="pageContent"> 
	<h3 class="content_title"><%= title %></h3>
	<span class="seperator"></span>
	<% form_for @va_rule, :html => {:id => "VirtualAgent"} do |f| %>
	
		<input type="hidden" name="id"   value="" />
		<input type="hidden" name="type" value="virtual_agents" />
		<ul class="ui-form">
			<li>
				<%= f.label :name, "Rule Name *" %>
				<label class="overlabel" for="va_rule_name">example: <em>"Subscription related tickets"</em> </label>
				<%= f.text_field :name, :class => "required text" %>
			</li>
			<li>
				<%= f.label :description %>				
				<label class="overlabel" for="va_rule_description">
					example: <em>"All Subscription related tickets will be assigned to Susan"</em>
				</label>
				<%= f.text_area :description, :class => "smallpara" %>
			</li>
			<li><span class="seperator"></span></li>								
			<li class="choicelist">
				<label>When should this rule be applied?</label>
				<%= f.radio_button  :match_type, 'any', :class => "radio" %> <%= f.label :match_type_any, "Match Any", :class => "radiolabel" %>
				<%= f.radio_button  :match_type, 'all', :class => "radio" %> <%= f.label :match_type_all, "Match All", :class => "radiolabel" %>
			</li>			
			<li class="conditionset" id="filterDOM">			
				<div id="RuleList" class="rule_list"></div>
				<fieldset class="addchoice">
			         <p>Add new condition</p> <img alt="Add New choice" class="add" src="/images/add.png" />
			     </fieldset>			
			</li>
			<li><span class="seperator"></span></li>
			<li class="choicelist">								
				<label>Actions to Perform?</label>				
			</li>
			<li class="conditionset" id="actionDOM">
				<div id="ActionList" class="rule_list"></div>
				<fieldset class="addchoice">
			        <p>Add new action</p> <img alt="Add New action" class="add" src="/images/add.png" />
			    </fieldset>		
			</li>
		</ul>		
		<br />
		<div class="button-container">
			<input type="hidden" name="save_json" id="savejson" value="" />
			<input type="submit" class="fdbutton" value="Save" />
			<%= link_to "Cancel", {:action => 'index'}, :class => "fdbutton grey" %>
		</div>	
				
	<% end %>
</div>

<% content_for :pagefixed do %>
	<%= render :partial => "/shared/placeholder_help" %>
<% end %>

