<%= javascript_include_tag "condition-filter.js" %>

<script type="text/javascript">
	var filter_Array    = $A(<%= @filter_defs %>),
		condition_Array = $A(<%= @condition_defs %>),
		action_Array	= $A(<%= @action_defs %>),
		Filter_feed 	= $A(<%= @filter_input %>),
		Action_feed		= $A(<%= @action_input %>);	
	
	
	var op_hash = preProcessCondition(<%= @op_types %>, <%= @op_list %>);
	//var filter_plugin = initRuleList(filter_Array, condition_Array, action_Array, "#RuleList", "#add_filter", "#ActionList", "#add_action", "#VirtualAgent", Filter_feed, Action_feed);
	
	jQuery(document).ready(function(){
		var filters = new rules_filter("filter", filter_Array, "#filterDOM", {"operators": op_hash, "init_feed":Filter_feed});
		var actions = new rules_filter("action", action_Array, "#actionDOM", {"init_feed":Action_feed});
		//jQuery("#RuleList, #ActionList").sortable({ items: "fieldset", containment: "parent", tolerance: "pointer", handle:"span.sort_handle"});		
		
		jQuery("#VirtualAgent")		
			.validate({
				rules:{
					vagent_name: "required"			
				},
				messages:{
					vagent_name: "Virtual agent name is empty"
				}
			});
			
	});
</script>

<div class="pageContent"> 
	<h3 class="content_title"><%= title %></h3>
	<span class="seperator"></span>
	<% form_for @va_rule, :html => {:id => "VirtualAgent"} do |f| %>
	
		<input type="hidden" name="id"   value="" />
		<input type="hidden" name="type" value="virtual_agents" />
		<ul class="ui-form">
			<li>
				<%= f.label :name, "Rule Name *" %>
				<label class="overlabel" for="va_rule_name">example: <em>"Subscription related tickets"</em> </label>
				<%= f.text_field :name, :class => "required" %>
			</li>
			<li>
				<%= f.label :description %>
				<!--label class="overlabel" for="agent_desc">
					We Know it's pretty boring. <br />
					But meaningful descriptions can help you later to quickly identify what this rule does,<br /> 
					when you have a tons of rules. <br />
					Go Ahead and type something like - <br /><em>"All Subscription related tickets will be assigned to Susan"</em>
				</label-->
				<label class="overlabel" for="va_rule_description">
					example: <em>"All Subscription related tickets will be assigned to Susan"</em>
				</label>
				<%= f.text_area :description, :class => "smallpara" %>
			</li>
			<li><span class="seperator"></span></li>								
			<li class="choicelist">
				<label>When should this rule be applied?</label>
				<%= f.radio_button  :match_type, 'any', :class => "radio" %> <%= f.label :match_type_any, "Match Any", :class => "radiolabel" %>
				<%= f.radio_button  :match_type, 'all', :class => "radio" %> <%= f.label :match_type_all, "Match All", :class => "radiolabel" %>
			</li>			
			<li class="conditionset" id="filterDOM">			
				<div id="RuleList" class="rule_list"></div>
				<fieldset class="addchoice">
			         <p>Add new condition</p> <img alt="Add New choice" class="add" src="/images/add.png" />
			     </fieldset>			
			</li>
			<li><span class="seperator"></span></li>
			<li class="choicelist">								
				<label>Actions to Perform?</label>				
			</li>
			<li class="conditionset" id="actionDOM">
				<div id="ActionList" class="rule_list"></div>
				<fieldset class="addchoice">
			        <p>Add new action</p> <img alt="Add New action" class="add" src="/images/add.png" />
			    </fieldset>		
			</li>
		</ul>
		<br />
		<div class="button-container">
			<input type="hidden" name="save_json" id="savejson" value="" />
			<input type="submit" class="fdbutton" value="Save" />
			<%= link_to "Cancel", {:action => 'index'}, :class => "fdbutton grey" %>
		</div>
	<% end %>
</div>
