<%= hidden_field_tag 'user_id', params[:id] %>
<ul class="ui-form">
	<li> 
		<label for="current_password"><%= t("profile.current_password") %></label> 
		<input class="text required" id="current_password" name="user[current_password]" size="30" type="password" value="" autocomplete="off" /> 
	</li> 
	<li> 
		<label for="password"><%= t("profile.new_password") %></label> 
		<input class="text required" id="password" name="user[password]" size="30" type="password" value="" 
			autocomplete="off" data-content="<%= password_policies_for_popover %>" title="Password must contain" /> 
	</li>  
	<li> 
		<label for="password_confirmation"><%= t("profile.confirm_password") %></label> 
		<input class="text required" id="password_confirmation" name="user[password_confirmation]" size="30" type="password" value="" autocomplete="off" /> 
	</li>
	</ul>
<div class="button-container">
		<%= submit_tag t("profile.change_password"), :class => "btn" %>
</div>