<% javascript_tag do %>
  jQuery(document).ready(function(){  
 invokeRedactor('<%= "user_binfo" %>','signature');
    jQuery("#password_confirmation").rules("add", {  
	          equalTo: "#password"
          });   
  });
<% end %>
<% content_for :onload_script do %>

 jQuery("#add_new_mail").bind('click', function(ev){
  ev.preventDefault();
  if(!jQuery(this).hasClass('disabled'))
  {
  	if(!jQuery('#emails_con .error').is(':visible'))
  	{
		  var email = jQuery('#emails_con .display_label').length + jQuery('li.close').length;
		  name="user[user_emails_attributes]["+email+"][email]";
		  jQuery('#emails_con').append('<li class="close"><span id="cancel_email" class="profile"></span><input type="text" class="email valid cont" name = '+name+'></li>');
		}
	  jQuery(this).addClass('disabled');
	}
});

jQuery('.remove_image').live('click', function(){
	if(confirm("<%= t('merge_contacts.email_remove') %>"))
	{
		jQuery('#emails_con').append('<input name="deleted[]" type="hidden" value='+jQuery(this).data("email")+'>');
		jQuery(this).parent().remove();
	}
});

jQuery("#cancel_email").live('click', function(ev){
	ev.preventDefault();
	jQuery(this).parent().remove();
	jQuery('#add_new_mail').removeClass('disabled');
});

jQuery('#verify_email').live('click', function(){
	jQuery(this).text("<%= t('merge_contacts.please_wait') %>");
	jQuery(this).off('click');
	jQuery(this).addClass('disabled');
});

jQuery('.email').live('keyup', function(){
	a = jQuery('#add_email').parent().prev().find('input[type=text]');
	if(a.length)
		jQuery('#add_new_mail').toggleClass('disabled', !jQuery.trim(a.last().val()));
});
<% end %>

<% user = @profile %>
<% user = @profile.user unless current_user.customer? %>
 
<% fields_for "user", @profile do |usr| %>
    <%= error_messages_for :user %> 
 	<ul class="ui-form">
		<li>
			<%= label(:user, :name, t("user.full_name") ) %>
				<%= text_field(:user, :name, :class => "text required", :value => user.name )  %>
		</li>
		<li>
			<%= label(:user, :job_title, t("user.title")) %>
			<%= text_field(:user, :job_title, :class => "text", :value => user.job_title ) %>
		</li>	
		<%if !feature?(:multiple_user_emails) %>
			<li class="medium">
	 			<%= label(:user, :email, t("user.email")) %>			
	 			<%= text_field(:user, :email, :class => "text required email disabled", :id => "email_primary" , :value => user.email , :disabled =>true) %>
 			</li>
		<% else %>
		<div id="emails_con" class="email_con">
		<li class="closebottom medium">
			<%= label(:user, :email, "Email", :id => "email-label") %>
			<% usr.fields_for :user_emails do |ue| %>
			<span>
			<% if !ue.object.blank? %>
			<%= ue.object.primary_role? ? content_tag(:span, "", :id => 'rem_mail', :class=>'email_primary profile') : 
					content_tag(:span, "", :class => "remove_image profile", :id => "rem_mail", "data-email" => ue.object.id) %>
			<%= ue.label :email, ue.object.email, :class => "display_label" %>
			<% if ue.object.verified %>
				<%= radio_button_tag :primary, ue.object.id, ue.object.primary_role %>
				<%= ue.object.primary_role? ? content_tag(:p, "<b>#{t('merge_contacts.default_email')}</b>") : content_tag(:p, "#{t('merge_contacts.default_email')}")%><br/>
			<% else %>
				<%= content_tag(:p, "#{t('merge_contacts.unverified')} - #{link_to_remote t('merge_contacts.verify'), 
				:url => send_verification_profile_user_email_path(params[:id], :email_id => ue.object.id.to_s),
				:method => :put, :complete => "jQuery('#verify_email').text('Verification sent');", :html => {:id => "verify_email"}}") %>
			<% end %>
			<% end %>
		</span>
		<% end %>
		</li>
		</div>
		<a id="add_new_mail" class="profile" href="#"><span id="add_email"></span><%= t('merge_contacts.add_another') %></a>
		<% end %>
		<li class="small">
			<%= label(:user, :phone, t("user.phone_no")) %>	
			<div>
				<label class="overlabel" for="phone_work">Work</label>
				<%= text_field(:user, :phone, :class => "text", :id => "phone_work", :value => user.phone ) %> 
			</div>
			<div>
				<label class="overlabel" for="phone_mobile">Mobile</label>
				<%= text_field(:user, :mobile, :class => "text", :id => "phone_mobile" ,:value => user.mobile  ) %>
			</div>
		</li>
		
		<% if current_user.customer?%>
			<li class="small">
				<%= label(:user, :twitter_id, t("user.twitter_id")) %>
				<%= text_field(:user, :twitter_id, :class => "text" ) %>
			</li>
			<li>
				<%= label(:user, :company_name, "Company") %>
				<%= text_field(:user, :company_name, :class => "text disabled", :id => "contact_customer", :disabled =>true ) %>
			</li>
		<%end%>
		
			<li>
				<%= render :partial => "/shared/profileavatar", :locals => { :user => user, :type => "edit" } %>
			</li>
			<% if feature?(:multi_timezone) %>
			<li>
				<%= label(:user , :time_zone, t("account.time_zone")) %>			
				<%= time_zone_select(:user, :time_zone, ActiveSupport::TimeZone.all, :default => user.time_zone) %>
			</li>
			<% end %>
			<% if feature?(:multi_language) %>
				<li>
					<%= label(:user, :language, t('account.language')) %>
					<%= select(:user, :language, I18n.available_locales_with_name , {:selected => user.language.to_sym()})%>
				</li>
			<% end %>
		
		<%unless current_user.customer?%>
			<li>
				<%= label(:agent, :signature_html, t("agent.signature")) %>
				<label class="overlabel" for="user_binfo">
				</label>
				<%= text_area(:agent, :signature_html, :class => "text", :id => "user_binfo" , :value =>@profile.signature_value  ) %>			
				<%= hidden_field(:agent, :user_id, :id => "user_id", :value =>@profile.user_id  ) %>
		</li>
		<%end%>
	</ul>
<% end %>
