<div class="page-header-sticky profile-edit-header" rel="sticky">
<div class="sticky-header-wrapper">
	<%= content_tag( :h3, "My Profile Settings", :class => "title strong itil-hide" ) %>
</div>
</div>
<div class="profile-edit">
	<div class="greyImage profile-leftcontent">
		<div class="freshID-details">
			<p class="strong title"><%= t("profiles.freshid_edit.profile_details") %></p>
			<ul>
			<li><span class="control-label"><%= t("user.full_name") %> : </span><span class="strong"><%= @profile.user.name %></span></li>
			<li><span class="control-label"><%= t("user.email") %> : </span><span class="strong"><%= @profile.user.email %></span></li>
			<li><span class="control-label"><%= t("user.phone_no") %> #: </span><span class="strong"><%= @profile.user.phone %></span></li>
			<li><span class="control-label"><%= t("user.mobile") %> #: </span><span class="strong"><%= @profile.user.mobile %></span></li>
			<li><span class="control-label"><%= t("user.job_title") %> : </span><span class="strong"><%= @profile.user.job_title %></span></li>
			</ul>
		</div>
		<% unless is_assumed_user? %>
			<div class="separator"></div>
			<div class="link-to-freshID">
				<% freshid_profile_update_url = begin
					if current_account.freshid_org_v2_enabled?
						Freshid::V2::UrlGenerator.profile_url(Freshid::V2::UrlGenerator.login_url(freshid_authorize_callback_url))
					else
						Freshid::Config.profile_url(Freshid::Config.login_url(freshid_authorize_callback_url, freshid_logout_url))
					end
				end
				%>
				<a target="_blank" href="<%= freshid_profile_update_url %>"><%= t("profile.freshid_profile_link") %></a>
				<span class="info-data"><%= t("profile.freshid_profile_info") %></span>
			</div>
		<% end %>
	</div>
	<div class="profile-rightcontent">
		<%= form_for @profile , :url => { :action=> "update", :controller => 'profiles'} , :html => { :multipart => true } do |f| %>
			<%= f.error_messages %>
			<%= render :partial => "form" %>
			<div class="button-container">
				<%if  current_account.verified? &&  current_user.active? %>
				  <a href="#email-preview" class="email-preview" ><%= t("preview")%></a>
				<% end %>
				<%= link_to t('cancel'), root_path, :class => "btn", :target => "_top" %>
		   		<%= f.submit t('save_changes'), { :class => "btn btn-primary" } %>
				
			</div>
		<%end%>
	</div>
	<div class="sidebar profile-sidebar">
		<% if show_api_key? %>
			<div class="sidepanel api-key-form">
			<%= content_tag( :label, t("profile.api_key.title"), :class => "title strong" ) %>
			<%= form_tag :action => :reset_api_key, :controller => 'profiles', :method => :put do |f| %>
				<ul class="ui-form">
					<label class="center" for="api_key"><%=@profile.user.single_access_token%></label>
				</ul> 
				<div class="button-container">
						<%= submit_tag t("profile.api_key.reset"), :class => "btn", :confirm => t("profile.api_key.reset_warning") %>
				</div>
			<% end %>
			</div>	

			<%= render :partial => "integrations" %>

		<% end %>
		<%if current_account.reverse_notes_enabled?%>
			<div class="sort-conversations-freshid">
				<div class="row-fluid">
					<div class="span10 sort-conversations__label"><%= t("account.sort_conversations.label") %></div>
					<div class="span12 sort-conversations__select">
						<%= select_tag :sort_conversations, options_for_select([[t("account.sort_conversations.option1"), false], [t("account.sort_conversations.option2"), true]], current_account.oldest_notes_first_enabled?(current_user)) %>
					</div>
				</div>
				<div class="row-fluid">
					<div id="sort_conversation" class="span12 align-left sort-conversations__tip" data-notice="<%= t("account.sort_conversations.helpnote") %>" data-alert-false="<%= t("account.sort_conversations.latest_top")%>" data-alert-true="<%= t("account.sort_conversations.oldest_top")%>">
						<%= t("account.sort_conversations.helpnote") %>
					</div>
				</div>
			</div>
    	<%end%>
    
		<% if current_account.undo_send_enabled?%>
			<hr>
			<div class="row-fluid undo-send-option">
				<div class="span10 align-left undo-toggle-freshid"><%= t("undo_toggle") %></div>
				<div class="span2 align-right undo-toggle-button-freshid">
					<input rel="toggle" type="checkbox" id="undo_reply" name="undo_send_toggle" data-checked-label="<%= t('plain_yes') %>" data-unchecked-label="<%= t('plain_no') %>" <%if current_user.preferences[:agent_preferences][:undo_send]%>checked="true"<%end%> />
				</div>
			</div>
			<div class="row-fluid">
				<div class=" span12 align-left undo-send-tip-freshid"><%= t("undo_toggle_tip") %></div>
			</div>
		<% end %>

		<hr>
		<div class="row-fluid focus-mode-option">
			<div class="span10 align-left focus-mode-toggle-freshid"><%= t("focus_mode_toggle") %></div>
			<div class="span2 align-right focus-mode-toggle-button-freshid">
				<input rel="toggle" type="checkbox" id="focus_mode" name="focus_mode_toggle" data-checked-label="<%= t('plain_yes') %>" data-unchecked-label="<%= t('plain_no') %>" <%if current_user.preferences[:agent_preferences][:focus_mode]%>checked="true"<%end%> />
			</div>
		</div>
		<div class="row-fluid">
			<div class=" span12 align-left focus-mode-tip-freshid"><%= t("focus_mode_toggle_tip") %></div>
		</div>

	</div>
</div>
