<div>
	<%= user_avatar(@user_info) %>
	<div style="float: left;"><%= @user_info.display_name %>
		<% unless @user_info.job_title.blank? %><br><%= h @user_info.job_title %><% end %>
		<% if @user_info.job_title.blank? && !@user_info.customer.blank? %>
			<%= t("working") %>
		<% end %>
		<% unless @user_info.customer.blank? %>
			<%= t("at") %> <%= link_to(h(@user_info.customer.name), @user_info.customer)  %>
		<% end %>
		<% unless @user_info.email.blank? %><br><%= @user_info.email %><% end %>
		<% unless @user_info.phone.blank? %><br><%= @user_info.phone %><% end %>
		<% unless @user_info.mobile.blank?%><br><%= @user_info.mobile %><% end %>
	</div>
</div>