<% if @slack_url %>
  <div class="slack_auth_cont clearfix">
    <h4 class="title"><%= t('integrations.slack_v3.slack_prof_label') %></h4>
    <p>
    <%= t('integrations.slack_v3.slack_connect_desc') %>
    </p>
    <a class="btn pull-right" onclick="<%= onclick_strategy(@slack_url) %>"><%= @authorized.present? ? t('integrations.slack_v3.slack_reauth_btn') : t('integrations.slack_v3.slack_auth_btn')%>
    </a>
	</div>
<% end %>

<% if @teams_url %>
  <div class="slack_auth_cont clearfix">
    <h4 class="title"><%= t('integrations.microsoft_teams.teams_prof_label') %></h4>
    <p>
      <%= t('integrations.microsoft_teams.teams_connect_desc') %>
    </p>
    <a class="btn pull-right <%= @teams_class_names%>" onclick="<%= onclick_strategy(@teams_url) %>"><%= @teams_authorized ? t('integrations.microsoft_teams.reauth_btn') : t('integrations.microsoft_teams.auth_btn')%></a>
  </div>
<% end %>