<%= content_tag( :h3, t("profile.edit"), :class => "title itil-hide" ) %>
<%= form_for @profile , :url => { :action=> "update", :controller => 'profiles'} , :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	<%= render :partial => "form" %>
	<div class="button-container">
   		<%= f.submit t('save_changes'), { :class => "btn" } %>
		<%= link_to t('cancel'), root_path, :class => "btn" %>
	</div>	  
<%end%>


<% content_for :sidebar do %>
  <% unless current_account.sso_enabled? %>	
	<div class="sidepanel">
		<%= content_tag( :h3, t("profile.change_password"), :class => "title" ) %>
		<%= form_tag :action => :change_password, :controller => 'profiles', :method => :put do |f| %>
  			<%= hidden_field_tag 'user_id', params[:id] %>
			<ul class="ui-form">
				<li> 
					<label for="current_password"><%= t("profile.current_password") %></label> 
					<input class="text required" id="current_password" name="user[current_password]" size="30" type="password" value="" autocomplete="off" /> 
				</li> 
				<li> 
					<label for="password"><%= t("profile.new_password") %></label> 
					<input class="text required" id="password" name="user[password]" size="30" type="password" value="" 
						autocomplete="off" data-content="<%= password_policies_for_popover %>" title="Password must contain" /> 
				</li>  
				<li> 
					<label for="password_confirmation"><%= t("profile.confirm_password") %></label> 
					<input class="text required" id="password_confirmation" name="user[password_confirmation]" size="30" type="password" value="" autocomplete="off" /> 
				</li>
  			</ul>
			<div class="button-container">
  				<%= submit_tag t("profile.change_password"), :class => "btn" %>
			</div>
		<% end %>
	</div>
  <% end %>	
	<% unless current_user.customer? %>
	  <div class="sidepanel">
		<%= content_tag( :h3, t("profile.api_key.title"), :class => "title" ) %>
		<%= form_tag :action => :reset_api_key, :controller => 'profiles', :method => :put do |f| %>
			<ul class="ui-form">
				<label class="center" for="api_key"><%=@profile.user.single_access_token%></label>
			</ul> 
			<div class="button-container">
  				<%= submit_tag t("profile.api_key.reset"), :class => "btn", :confirm => t("profile.api_key.reset_warning") %>
			</div>
		<% end %>
	  </div>	
	<% end %>
<% end%>

<script type="text/javascript">
jQuery(document).ready(function() { 

  jQuery(function () { 
    var popover_message = jQuery('#password').data('content');
    if(popover_message){
      jQuery("#password").popover({
        html: true,
        trigger: 'manual', 
        placement: 'left',
        reloadContent: false,
        template: "<div class='arrow'></div><div class='inner'><div class='content'><p></p></div></div>",
        content: function(){
                  return "<div class='password-wrapper'><h5 class='policy-title'><%= t("admin.security.password_policy_popover.password_must") %></h5>" +jQuery("#password").attr("data-content") + "</div>"
                }
      }).focus(function(){
          jQuery(this).popover("show");
      }).blur(function(){
          jQuery(this).popover("hide");
      }); 
    }
  }); 
});
</script>
