<% content_for :layoutType do -%>single<%- end %>
<h3 class="title"> <%= link_to(t('helpdesk.tickets.views.all') ,"/support/company_tickets" ) %></h3>
<h3 class="title"><%= link_to(t('helpdesk.tickets.views.open'),"/support/company_tickets/filter/open" ) %></h3>
<h3 class="title"><%= link_to(t('helpdesk.tickets.views.closed') ,"/support/company_tickets/filter/closed" ) %></h3>
<%current_user.customer.users.each do |contact|%>
<h3 class="title"> <%= link_to(t('helpdesk.tickets.views.tickets_by')+" #{contact.name}" ,"/support/company_tickets/requester/#{contact.id}" ) %></h3>
<%end%>

<%= render :partial => "/support/shared/ticket_list_view" %>