<%= javascript_include_tag  'highcharts.src.js' %>
<% javascript_tag do %>
 jQuery(document).ready(function() {
	   <%=@status_pie_chart%>
 });
<%end%>

<% form_tag :action => :index, :controller => "reports/helpdesk_reports" do %>
	<%=select_month(Date.today)%>
	<%= submit_tag 'Submit' %>
<% end %>
<br>
<br>
<%unless @status_hash.nil?%>
<b>Tickets by Status</b>
<br>
<table>
	<tr>
		<td>Total Tickets</td>
		<td> <%=@current_month_tot_tickets%> </td>
		<td> <%=@last_month_tot_tickets%> </td>
	</tr>
<%@status_hash.fetch(:current_month,{}).each do |val_arr|%>
<tr>
<td><%=TicketConstants::STATUS_NAMES_BY_KEY.fetch(val_arr[:value])%></td>
<td><%=val_arr[:count]%></td>
 <%if val_arr[:value] == TicketConstants::STATUS_KEYS_BY_TOKEN[:resolved] %>
 	
 <%end%>
</tr>
<%end%>	
</table>
<%end%>

<br>
<br>
<div id ="status_freshdesk_chart">
</div>
