<% content_for :layoutType do%>single<% end %> 
<div>
	  <div class="header_area">
	  	<div class="floatr">
	  		<%= link_to('Edit', edit_helpdesk_article_path(@article), :class => "button") %>
			<%= link_to('Delete', @article, :method => 'delete', :confirm => 'Are you sure you want to delete this solution', :class => "button" ) %>
	  	</div>
	 	<%= link_to "Solutions", solution_folders_path, :class => "page_title" %>
		
	  </div> 
	  <div class="page_area">
	  		<h3 class="title"><%= @article.title %></h3>
	  		<%= @article.body %>		
	  </div>	 
</div>
 