<% date_format = "%Y/%m/%d %T %z" %>

<% jobs.each do |job|%>
  <% id = job['job_id'] %>
  <% if job.nil? %>
    <tr>
      <td>Error</td>
      <td colspan="2">
        Job <%= id %> could not be parsed; perhaps it contains invalid JSON?
      </td>
    </tr>
  <% else %>
    <tr>
      <td>
        <%= job['error'] %>
      </td>
      <td>
        <span class="resque_time"><%= Time.parse(job['failed_at']).strftime(date_format) %></span>
      </td>
      <td>
        <input type="button" class="show_trace" value="Show Stacktrace" />
        <%= link_to t('remove'), resque_failed_path(id), { :method => :delete }  %>
        <%= link_to 'Retry', failed_requeue_path(id), { :method => :put } if job['retried_at'].blank? %>
      </td>
    </tr>
    <tr style="display:none">
      <td colspan="3">
        <dt>Worker</dt>
          <dd>
            <%= puts job['worker']%>
            <b class='resque_worker'><%= job['worker'].split(':')[0...2].join(':') %></b> on <b class='queue-tag'><%= job['queue'] %></b > at <b><span class="resque_time"><%= Time.parse(job['failed_at']).strftime(date_format) %></span></b>
          </dd>
        <dt class='failed_category'>Class</dt>
          <dd><code><%= job['payload'] ? job['payload']['class'] : 'nil' %></code></dd>
        <dt class='failed_category'>Arguments</dt>
          <dd><pre style="white-space: normal"><%=h job['payload'] ? Array(job['payload']['args']).map { |a| a.inspect }.join("\n"): 'nil' %></pre></dd>
        <dt class='failed_category'>Exception</dt>
          <dd><code><%= job['exception'] %></code></dd>
        <dt>Stacktrace</dt>
          <dd>
            <pre><%=h job['backtrace'].join("\n") %></pre>
          </dd>
      </td>
    </tr>
  <% end %>
<%end%>


<script type="text/javascript">
  jQuery("#results").data("jobCount", <%= @job_count.to_s %>)
</script>