<%= javascript_tag do -%>
  jQuery('.header').hide();
<% end %>

<%= link_to "Overview", home_path(), {:class => "uiButton", :id => "overview_button" } %>

    <%= link_to "Remove jobs in #{@name.humanize}" , failed_destroy_all_path(:name => @name), { :method => :delete, :class => "uiButton" , :id => "resque_btn"} %>

    <%= link_to "Requeue" , failed_requeue_all_path(:name => @name), { :method => :put, :class => "uiButton" , :id => "resque_btn"} %>

<h1 class="failed_heading">Failed Jobs (<%= @failed_jobs_count %>)</h1>

<table width="100%" border="1" id="results" data-job-count="<%= @job_count.to_s %>" class="queues-wrapper">
	<tr>
		<th>Error</th>
		<th>Failed at</th>
		<th></th>
	</tr>
	<%= render :partial => "jobs", :object => @failed_in_given_queue %>
</table>

<%= javascript_tag do %>
	jQuery('#results').pageless({ 
	                           url: "<%= url_path(request.path_info.sub('/','')) %>"
	                          , params: { job_count: function(){ return jQuery("#results").data("jobCount") } }
	                          , loaderMsg: 'Loading more results'
	                          });

	jQuery("body").on("click", ".show_trace", function(){
		if(jQuery(this).val() == "Show Stacktrace"){
			jQuery(this).parent().parent().next().show();
			jQuery(this).val("Hide Stacktrace");
		}
		else{
			jQuery(this).parent().parent().next().hide();
			jQuery(this).val("Show Stacktrace");
		}
	});

<% end %>