<!--table border="0" cellspacing="0" cellpadding="0" class="noborder nopad wide">
  <td>
    <label><%= 'Title'[:title_title] %></label><br />
    <%= form.text_field :name, :class => "primary" %>
  </td>
  <td style="text-align:right">
    <label><%= 'Position'[:position_title] %></label><br />
    <%= form.text_field :position, :size => 5 %>
  </td>
</table-->
<%= form.error_messages %>
<div class="form-horizontal">
	<div class="control-group" id="forum_name">
		<label class="control-label"><%=t('title')%></label>
		<div class="controls">
			<%= form.text_field :name, :class => "primary input-xxlarge" %>
		</div>
	</div>
	<div class="control-group" id="forum_descripion">
		<label class="control-label"><%=t('description')%></label>
		<div class="controls">
			<%= form.text_area :description, :rows => 7, :class => "input-xxlarge" %>
		</div>
	</div>
	<div class="control-group" id="forum_descripion">
		<%= form.label :forum_type, t('.type'), :class => "control-label" %>
		<div class="controls">
			<%= form.select :forum_type, Forum::TYPE_OPTIONS, :class => "select" %>
		</div>
	</div>
	<div class="control-group" id="forum_descripion">
		<%= form.label :forum_visibility, t('.visible_to'), :class => "control-label" %>
		<div class="controls">
			<%= form.select :forum_visibility, Forum::VISIBILITY_OPTIONS, :class => "select" %>
			<br/><br/>
			<%= form.fields_for :customer_forums_attributes do |cust| %>
    	    	<span id="company_forums">
      			<%= cust.select(:customer_id , current_account.companies.collect{|c|[c.name, c.id]},{:selected => @forum.customer_forums.map(&:customer_id)}, { :multiple => true, :class => "select2 input-xxlarge" , "data-placeholder" => 'Select company'}) %>
      			</span>
      		<%end%> 
		</div>
	</div>
</div>
    <%= javascript_tag do %>  
     jQuery(document).ready(function(){ 			         
		jQuery('#forum_forum_visibility')
			.bind("change", function(e){
				show_hide_customers();
		});		
		function show_hide_customers(){
			visiblity = jQuery('#forum_forum_visibility').val();				
				if (visiblity  == 4)
				{
				   jQuery('#company_forums').show();
				}
				else
				{
				  jQuery('#customer_id').val("");
				  jQuery("#customer_id").trigger("liszt:updated");
				  jQuery('#company_forums').hide();

				}
			};
	    show_hide_customers();			  	
	});           			    	
     <% end %>