

<div class="pageContent">
	<div class="crumbs">
		<%= link_to "Back to Forums"[:forums_title], forums_path, :class => "nav_older" %> 
	</div>
	
	<h3 class="content_title"><%= 'New Forum'[:new_forum] %></h3>
	
	<% form_for :forum, :url => category_forums_path(@forum_category) do |f| -%>
		<%= render :partial => "/shared/name_desc", :locals => { :form => f } %>
			
		<%= submit_tag 'Create'[], { :class => "fdbutton" } -%> 
		<%= link_to('Cancel'[:cancel], category_path(@forum_category), :class => "fdbutton grey" ) -%>
	<% end -%>
</div>