<% content_for :layoutType do %>single<% end %>  
	<% @page_title = @forum.name %>
	
	<% if logged_in? %> 
		<div class="floatr">
			<%= link_to t('forum.start_topic'),new_category_forum_topic_path(@forum_category, @forum), :class => "uiButton Large" %>
		</div>
	<% end%>
	
	<h3 class="title">
	 	<%= link_to(t('forum.title'), categories_path) %> &rarr;
		<%= link_to( "#{@forum_category.name}", category_path(@forum_category)) %> &rarr;
		<%= h @forum.name %> 
	</h3>	 
	
	<div class="forum-group">
		<div class="search-grey-box">
			<% if logged_in? && admin? -%>
				<div class="action_buttons no_margin">
					<%= link_to "Edit Forum" , edit_category_forum_path(@forum_category, @forum), :class => "last"  %>
				</div>
			<% end %>
			<div class="floatr" style="display:none;">
				<%= feed_icon_tag @forum.name, forum_posts_path(@forum, :format => :rss) %>
				<%= '{count} topic(s)'[(count=@forum.topics.size)==1 ? :topic_count : :topics_count, number_with_delimiter(count)] %>,
		  	    <%= '{count} post(s)'[(count=@forum.posts.size)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>
		    </div>
			<%= render :partial => "/search/pagesearch", :locals => { :placeholder => "Search #{@forum_category.name}", :url => "/search/topics?category_id=#{@forum_category.id}&search_key=" } %>
	   </div>
	   <%=link_to "overview", category_forum_path( @forum_category, @forum)%>
	   <%=link_to "recent", category_forum_path( @forum_category, @forum,:order  => "replied_at")%>
	   <%if @forum.ideas?%>
	   <% Topic::IDEAS_STAMPS_OPTIONS.each do |k,v| %>
	   		<%=link_to k, category_forum_path( @forum_category, @forum,:stamp_type  => v)%>
	   <%end%>
	   <%end%>
	   <%= render :partial => "forum_shared/topics", :object => @topics, :locals => { :category => @forum_category, :forum => @forum } %>
	</div>
	
	 
	