<%=  new_category_forum_topic_path(@forum_category,@forum) %>

<% content_for :sidebar do %>	
	<% unless @forum.description.blank? %>
		<%= @forum.description_html %> 
	<% end %>
 
	<h5 style="margin-bottom:1.0em;"><%= 'Moderators'[:moderators] %></h5>
	
	<% unless @forum.moderators.empty? -%>
			<ul class="flat" style="margin-top:1em;">
				<% @forum.moderators.each do |user| -%>
				  <li><%= link_to user.display_name, user_path(user) %></li>
				<% end -%>
			</ul>
		<% else -%>
		<p><%= 'This forum is currently unmoderated.'[:forum_is_unmoderated] %></p>
		<p><%= 'Please always be courteous.'[:please_be_courteous] %></p>
	<% end -%>
	
<% end %>

<div class="pageContent">	
	
	<% @page_title = @forum.name %>
	
	<div class="crumbs">
		<%= link_to "Back to Forum List"[:forums_title], category_path(@forum_category), :class => "nav_older" %> 
	</div>
	<h3 class="content_title"><%= h @forum.name %></h3>
	
	<div class="actions_bar">
		<% if logged_in? %>
			<%= link_to 'New topic'[:new_topic],new_category_forum_topic_path(@forum_category,@forum), :class => "button" %>
		<% end%>
	</div>
	<!--p class="subtitle">
	  <%= feed_icon_tag @forum.name, forum_posts_path(@forum, :format => :rss) %> 
	  <%= '{count} topic(s)'[(count=@forum.topics.size)==1 ? :topic_count : :topics_count, number_with_delimiter(count)] %>, 
	  <%= '{count} post(s)'[(count=@forum.posts.size)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>
	</p-->
		
	<% if @topics.total_pages > 1 -%>
		<% if logged_in? %>
			<p style="float:right; margin-top:0;"><%= link_to 'New topic'[], new_category_forum_topic_path(@forum_category,@forum), :class => "utility" %></p>
		<% end %>
		<%= will_paginate @topics %>
	<% end -%>
	
	<div class="topics_list">
		<h4 class="title"> <%= link_to 'Recent posts'[:recent_posts], all_posts_path %></h4>
		<ul class="base_set">
			<% for topic in @topics %>	
			<li>	
			<span class="topic_icon">
					<img src="/images/icons/topic_type.png" width="32px" height="32px" />
			</span>	
			<h4 class="topic_title">
					<%= "Sticky"[:sticky_title]+": <strong>" if topic.sticky? %>
					<%= link_to topic.title, category_forum_topic_path(@forum_category,@forum) %>
				       
				    <%= "</strong>" if topic.sticky? %>
				   	 <% if topic.paged? -%>
				    	<small><%= link_to 'last'[] %></small>
				    <% end -%> 
				</h4>	 
			<span><%=h(topic.title)%></span>
			</li>
			<% end %>
			
		</ul>
	</div>
	
	
</div>
	