
	<% @page_title = @forum.name %>
	<% @monitor = @monitorship.zero? %>
	<div class="request_details bottom_fix">
		<div class="breadcrumbs">
			<h5 class="">	
			 	<%= link_to(t('forum.title'), categories_path) %> &rarr;
				<%= link_to( "#{(@forum_category.name)}", category_path(@forum_category)) %>
			</h5>
		</div>
	</div>

	<div class="row-fluid">
		<div class="vertical-alignment span10">
			<span class="vertical-alignment monitor_link_holder position_forum_title" id="monitorship_link">
				<%= link_to_remote "", :url => toggle_monitorship_path("forum", @forum.id, (@monitor ? "follow" : "unfollow")), 
						:method => :post, 
						:before => "jQuery('#toggle_monitorship_status').hide();jQuery('#monitorship_link').addClass('sloading loading-small');",
						:html => {
									:class => "forum_follow_icon tooltip #{@monitor ? '' : 'active'}", 
									:"data-placement" => 'below',
									:id => "toggle_monitorship_status",
									:title => t((@monitor ? 'monitorships.follow_title' : 'monitorships.unfollow_title'))
								} 
				%>
			</span>

			<% if privilege?(:manage_forums) -%>
			<span class="vertical-alignment action_icons position_forum_title">
				<%= link_to("", edit_category_forum_path(@forum_category, @forum), 
							:method => :get, 
							:class => "icons-edit-forum tooltip",
							:"data-placement" => 'below', 
							:title => t('forum_shared.edit_title') ) 
				%>
			</span>
			<% end %>

			<span class="vertical-alignment">
				<h3 class="lead position_forum_title"><%= @page_title %></h3>
			</span>
		</div>
		<% if privilege?(:create_topic) %>
			<span class="pull-right span2 position_forum_title"><%= link_to(t('forum.start_topic'), new_category_forum_topic_path(@forum_category, @forum), :class => "btn pull-right btn-primary") %></span>
		<% end %>
	</div>

	<div class="forum-group">
		<div class="search-grey-box search-page">
			<div class="" style="display:none;">
				<%= feed_icon_tag @forum.name, forum_posts_path(@forum, :format => :rss) %>
				<%= '{count} topic(s)'[(count=@forum.topics.size)==1 ? :topic_count : :topics_count, number_with_delimiter(count)] %>,
				<%= '{count} post(s)'[(count=@forum.posts.size)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>	
			</div>
			<%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('forums.search.placeholder', :name => h(@forum_category.name)), :url => "/search/topics?category_id=#{@forum_category.id}&term=" } %>
	  </div>
	  <div class="list-bar" id="bulk-action-btn">
		<% if privilege?(:delete_topic) %>
		  	<input type="checkbox" id="select-all" class="pull-left"/>
	        <input class="btn hide" type="button" id="topic-delete"
				value="<%=t('delete')%>" 
				data-action-url='<%= destroy_multiple_category_forum_topics_path(@forum_category, @forum) %>' 
				data-method='delete' />
	        <input class="btn hide" type="button" id="topic-spam" 
	        	data-action-url='<%= spam_multiple_discussions_moderation_index_path %>'
	           	value="<%=t('topic.mark_as_spam')%>" data-method='put' />

		<% end %>
			<div id='filters'> 
			  <%= link_to(t("forums_order.popular"), category_forum_path( @forum_category, @forum), :class => "first #{ (params[:stamp_type].blank? && params[:order].blank?)? 'active' : '' }" ) if @forum.ideas? %>
			  <%= link_to(t("forums_order.overview"), category_forum_path( @forum_category, @forum), :class => "first #{ (!params[:order].blank? && params[:order] == 'created_at desc' )? 'active' : '' }" ) unless @forum.ideas? %>
			  <%= link_to t("forums_order.recent"), category_forum_path( @forum_category, @forum, :order => "replied_at"), :class => ((!params[:order].blank? && params[:order] == 'replied_at desc')  ? "active" : "") %>
			  <% if @forum.stamps? %>
		   		<% Topic::ALL_TOKENS[@forum.forum_type].each do |k| %> 
		   			<%= link_to Topic::NAMES_BY_KEY[k], category_forum_path( @forum_category, @forum, :stamp_type  => Topic::STAMPS_BY_KEY[k] ), :class => ((params[:stamp_type] == Topic::STAMPS_BY_KEY[k].to_s)? "active":"") %>
		   		<% end %>
		   	<% end %>
		  </div>
	    </div>
	   
		<form action id="topic-bulk-action" method="post">
	   		<%= render :partial => "forum_shared/topics", 
	   					:object => @topics, 
	   					:locals => { :category => @forum_category, :forum => @forum } %>
	  	</form>
	</div>
  <%= will_paginate @topics %>	
	 