<div class="sidepanel">
    <h3 class="title"><%=t('admin.observer_rules.helpnote.help_title')%></h3>
    <p><%=t('admin.observer_rules.helpnote.help_info_1')%></p>

    <p>
	    <b><%=t('admin.observer_rules.helpnote.help_title_2a')%>:</b> <%=t('admin.observer_rules.helpnote.help_info_2a')%><br/>	
	    <b><%=t('admin.observer_rules.helpnote.help_title_2b')%>:</b> <%=t('admin.observer_rules.helpnote.help_info_2b')%><br/>
	    <b><%=t('admin.observer_rules.helpnote.help_title_2c')%>:</b> <%=t('admin.observer_rules.helpnote.help_info_2c')%><br/>
	    <b><%=t('admin.observer_rules.helpnote.help_title_2d')%>:</b> <%=t('admin.observer_rules.helpnote.help_info_2d')%>
  	</p>

    <p><%=t('admin.observer_rules.helpnote.help_info_3')%></p>

    <a href="https://support.freshdesk.com/solution/categories/45927/folders/165658/articles/99047" > <%=t('admin.observer_rules.helpnote.help_info_4')%> </a>
</div>