<% content_for :sidebar do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<div id="cust-list" class="cust_list_table">
  <div class="cust_list_table_header" >
    <div class="row-fluid">
      <div class="span6"><h3 class="title"><%=t('admin.observer_rules.index.title')%></h3></div>
       <div class="span6 pull-right pagination-right header_buttons align-right" >
        <%= link_to t('reorder'),'#', :id => "va_rules_reorder_button", :class => "btn" if(@va_rules.active.size > 1) %>
        <%= (link_to t('dispatch.new_rule'), new_admin_observer_rule_path, :class => "btn btn-primary") %>
      </div>
    </div>
  </div>

  <div>
  <%= render :partial => "/shared/reorder_list", :locals => { 
      :items => @va_rules.active,  
      :action_url => reorder_admin_observer_rules_path, 
      :title => :name, :container_id => "va_rules_sort", 
      :reorder_id => "va_rules_reorder_button", :list_id => "va_rules_list"} %>
  </div>

  <div class="cust_list_table_body va_rule-index" id="va_rules_list">
    <table class="table table-striped">
      
      <% (@va_rules.active + @va_rules.inactive).each do |va_rule| %>
        <tr id=<%= dom_id(va_rule) %>>
          <td>
            <% form_for va_rule, :url => activate_deactivate_admin_observer_rule_path(va_rule) do |f| %>
              <%= f.check_box :active, { :class => 'activate'}, true, false %>
            <% end %>
          </td>
          <td>
            <strong>
              <%= link_to(h(va_rule.name), edit_admin_observer_rule_path(va_rule), :class => "item_info") %>
            </strong><br/>
            <span class="muted"><%= h va_rule.description %></span>
          </td>
          <td>
            <div class="item_actions" align="right">
                <%= link_to(t('edit'), edit_admin_observer_rule_path(va_rule), :class => "btn btn-mini") %>
                <%= link_to "<i class='icon-trash'></i>", admin_observer_rule_path(va_rule), :confirm => t('confirm_delete_message', :human_name => t('.human_name')), :method => :delete, :class => "btn btn-mini" %>
            </div>
          </td>
        </tr>
      <% end %>

    </table>  
  </div>

</div>

<% javascript_tag do %>
  (function($){
    $('.activate').itoggle({
      checkedLabel: 'On',
      uncheckedLabel: 'Off'
    }).change(function() {
      $(this).parent().submit();  
    });
  })(jQuery)
<% end %>