<% country = Carmen::Country.coded(@freshfone_number.country).name %>
<div>
	Hi,<div><br></div>
	<div>Due to local regulation, you or your customer must have a business or personal address within 
		<%= "#{country}" %> to purchase <%= "#{@freshfone_number.number}" %>
	</div>
	<div><br></div>
	<div>Please provide a local or presonal address in <%= "#{country}" %> for this number and all future phone number purchases on this Freshfone account in <%= "#{country}" %>.</div>
	<div><br></div>
	<div>This address will only be used in the event that local authorities contact us. </div>
	<div><br></div>
	<div>Regards</div>
	<div>Vijay Shankar&nbsp;</div>
	<div><%= AppConfig['from_email'] %></div>
	<div>Customer Support Advocate</div>
	<div>Freshdesk - refreshing customer support!</div>
	<div><br></div>
</div>