<div>
  Team,<div>
  <br></div>
  <div>There is a Exception while deleting a Call Recording for account id: <%=@params[:account_id]%></div>
  <div>Call Id: <%=@params[:call_id]%></div>
  <div>Call Updated at: <%= @params[:updated_at]%></div>
  <div>Recording URL: <%=@params[:recording_url]%></div>
  <div>User Id: <%=@params[:user_id]%></div>
  <div>Exception Message: <%=@params[:exception].message%></div>
  <div>Exception Backtrace: <%=@params[:exception].backtrace.join('\n\t')%></div>
  <div><br></div>
  <div>Regards,</div>
  <div>The Freshdesk Team</div>
  <div><br></div>
</div>