<% content_for :pagefixed do -%>
  <% javascript_tag do %>
    jQuery(function() {
      jQuery("#push_notification").bind("change",
            function(ev){
        if(this.checked){
          jQuery("#gcm").slideDown(400);
          jQuery("#mobihelp_app_config_gcm_api_key").addClass("required");
        }else{
          jQuery("#gcm").slideUp(200);
          jQuery("#mobihelp_app_config_gcm_api_key").removeClass("required");
        }
      }
      ).trigger("change");

      showItemsInOrder(<%=@app.category_ids.to_json%>, "mobihelp_app_solution_categories");
    });
  <%- end %>
  <%= include_cloudfront_js :mobihelp %>
<%- end %>

<% content_for :helpcard do -%>
  <%= render :partial => "helpnote" %>
<%-end %>
<%= render :partial => "integration_details", :locals => {:app => @app} if page == "edit" %>
<span class="seperator"></span>
<%= content_tag :h3, t('admin.mobihelp.apps.edit.title'), :class => "lead" if page == "edit" %>

<%= f.error_messages %>
<div class="portal-page-form mobiapp-form">
  <div class="inline-field">
    <div class="fields">
      <div class="row-fluid">
        <div class="app-image"><div class="<%= @app.platform == Mobihelp::App::PLATFORM_ID_BY_KEY[:android] ? "common-icon-android_grey_big" : "common-icon-apple_grey_big" %> app-icon"></div></div>
        <div class="app-fields">
          <div class="control-group">
            <%= f.label :name, "#{t('name')} <span class='required_star'>*</span>".html_safe, :class => "control-label" %>
            <div class = "controls">
              <%= f.text_field :name, :class => "text required", :placeholder => t('admin.mobihelp.apps.form.app_name') %>
            </div>
          </div>
        </div>
        <%= f.hidden_field :platform, :value => @app.platform %>
      </div>
      <span class="seperator"></span>

      <%= content_tag :h3, t('admin.mobihelp.apps.form.configurations').html_safe, :class => "lead title" %>
        <div class="control-group">
          <%= f.label :solution_categories, t('admin.mobihelp.apps.form.solution_categories').html_safe, :class => "control-label" %>
          <div class="controls category_selection" rel = "ordered_dropdown" id = "mobihelp_app_solution_categories">
            <%= f.collection_select :category_ids, current_account.solution_categories.reject(&:is_default?), :id, :name, {:selected => @app.category_ids}, :class => "select2 span7", :multiple => true, :placeholder => t("admin.mobihelp.apps.form.select_a_solution_category") %>
            <%= content_tag( :div, t("admin.mobihelp.apps.form.solution_categories_info"), :class => "info-data span12" ) %>
          </div>
        </div>
      <% f.fields_for :config do |c| %>
        <% if @app.platform == Mobihelp::App::PLATFORM_ID_BY_KEY[:ios] %>
          <div class="row-fluid">
            <div class="app-fields">
              <div class="control-group">
                <%= c.label :app_store_id, "#{t('admin.mobihelp.apps.form.app_store_id')}".html_safe, :class => "control-label" %>
                <div class = "controls">
                  <%= c.text_field :app_store_id, :value => @app.config[:app_store_id], :class => "text", :placeholder => t('admin.mobihelp.apps.form.app_store_id') %>
                  <%= content_tag( :div, t("admin.mobihelp.apps.form.app_store_id_v12_info"), :class => "info-data span12" ) %>
                </div>
              </div>
            </div>
          </div>
        <%end%>

        <% if false %>
          <div class="control-group">
            <label class="control-label">
              <%= t('admin.mobihelp.apps.form.enable_push_notification').html_safe %>
            </label>
            <%= c.check_box :push_notification,
                      {:class => "checkbox controls", :rel => "toggle", :id => "push_notification", :checked => @app.push_notification_enabled?}, "true", "false" %>
          </div>
          <div class="control-group" id="gcm">
            <%= c.label :gcm_api_key, "#{t('admin.mobihelp.apps.form.gcm_api_key')}".html_safe, :class => "control-label" %>
            <div class = "controls">
              <%= c.text_field :gcm_api_key, :value => @app.config[:gcm_api_key], :class => "text align-input", :placeholder => t('admin.mobihelp.apps.form.gcm_api_key') %>
            </div>
          </div>
        <%end%>
      <%end%>

      <div class="button-container">
        <%= link_to t('cancel'), admin_mobihelp_apps_path, :class => "btn" %>
        <%= f.submit t('save'), :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
