<h3 class="title"><%=t('admin.mobihelp.apps.helpnote.heading1')%></h3>
<p><%=t('admin.mobihelp.apps.helpnote.content1.info1')%></p>
<p><%=t('admin.mobihelp.apps.helpnote.content1.info2')%></p>
<p><%=t('admin.mobihelp.apps.helpnote.content1.info3')%></p>

<h3 class="title"><%=t('admin.mobihelp.apps.helpnote.heading2')%></h3>
<div class="sdk-content">
	<div class="sdk-downloads">
	  <div class="cust-list-avatar"><div class="common-icon-android_grey"></div></div>
	  <div class="text-info">
	    <p><a href='http://developers.freshdesk.com/android_integration_guide'><%=t('admin.mobihelp.apps.helpnote.content2.integration_guidelines')%></a></p>
			<p><a href='https://s3.amazonaws.com/assets.mobihelp.freshpo.com/sdk/mobihelp_sdk_v1.0.2.zip'><%=t('admin.mobihelp.apps.helpnote.content2.download_android_sdk')%></a></p>
		</div>
    </div>
   	<div class="sdk-downloads">
      <div class="cust-list-avatar"><div class="common-icon-apple_grey"></div></div>
    	<div class="text-info"><p class="upcoming"><%=t('admin.mobihelp.apps.helpnote.content2.download_ios_sdk')%>&hellip;</p></div>
    </div>
</div>
