<h3 class="title"><%=t('admin.mobihelp.apps.helpnote.heading1')%></h3>
<p><%=t('admin.mobihelp.apps.helpnote.content1.info1')%></p>
<p><%=t('admin.mobihelp.apps.helpnote.content1.info2')%></p>
<p><%=t('admin.mobihelp.apps.helpnote.content1.info3')%></p>

<p><a href='http://developers.freshdesk.com'><%=t('admin.mobihelp.apps.index.no_app.sdk_and_guide')%></a></p>
