<%= content_tag :h3, t('admin.mobihelp.apps.form.integration_details').html_safe, :class => "lead" %>
<div class="control-group">
  <label class="control-label" > <%= t('admin.mobihelp.apps.form.app_key').html_safe %> </label>
  <div class="controls">
    <label> <%= app.app_key %> </label>
  </div>
</div>

<div class="control-group">
  <label class="control-label" > <%= t('admin.mobihelp.apps.form.app_secret').html_safe %> </label>
  <div class="controls">
    <label> <%= app.app_secret %> </label>
  </div>
</div>

<div class="control-group">
  <label class="control-label" ><%= t("admin.mobihelp.apps.form.initialization_code") %></label>
  <div class="controls code-view">
    <textarea id="mobiapp-Install" class="codetextarea mobihelpcode" readonly=true>
      <% if @app.platform ==  Mobihelp::App::PLATFORM_ID_BY_KEY[:android] %>
Mobihelp.init(this,new MobihelpConfig("https://<%= current_account.full_domain %>", "<%= app.app_key %>", "<%= app.app_secret %>"));
      <% elsif @app.platform ==  Mobihelp::App::PLATFORM_ID_BY_KEY[:ios] %>
MobihelpConfig *config = [[MobihelpConfig alloc]initWithDomain:@"<%= current_account.full_domain %>" withAppKey:@"<%= app.app_key %>" andAppSecret:@"<%= app.app_secret %>"];
[[Mobihelp sharedInstance]initWithConfig:config];<% end %></textarea>
  </div>
</div>

<script>
  jQuery(document).ready(function () {

    jQuery('.codetextarea').on('click', function (ev) {
      this.select();
    })
    
  })
</script>
