<p><%=t('admin.hotline.content1.info1')%></p>

<ul class="hotline-info-list">
  <li> <%=t('admin.hotline.content2.list_title')%></li>
  <li>-<%=t('admin.hotline.content2.list1')%></li>
  <li>-<%=t('admin.hotline.content2.list2')%></li>
  <li>-<%=t('admin.hotline.content2.list3')%></li>
  <li>-<%=t('admin.hotline.content2.list4')%></li>
  <li>-<%=t('admin.hotline.content2.list5')%></li>
</ul>
<div class="row-fluid">
      <a class="bold get-started" href='http://hotline.io/'><%= t('admin.hotline.get_started')%></a>
</div>

<p class="hotline-note">
  <b><%=t('admin.hotline.content3.note_title')%></b>
  <span class="muted"><%=t('admin.hotline.content3.note_info')%></span>
</p>


