<ul class="breadcrumb">
  <li><%= link_to t('header.tabs.admin').html_safe, admin_home_index_path %> <span class="divider">/</span></li>
  <li><%= link_to t('admin.mobihelp.apps.index.title').html_safe, admin_mobihelp_apps_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{t('admin.mobihelp.apps.new.title')}" %></li>
</ul>

<% @page_title = t('admin.mobihelp.apps.new.title') %>

<%= content_tag :h3, @page_title, :class => "lead" %>
<div class="row-fluid">
	<%= form_for( @app  , :html => {:class => "form-horizontal", :rel => "validate"}, :url => admin_mobihelp_apps_path, :action => "create" ) do |f| %>
		<%= render :partial => "form", :locals => {:f => f, :page => "new"} %>
	<% end %>
</div>
