<%= form_for @user, :url => password_reset_path, :method => :put, :html => { :rel => "validate", :class => "form-portal"} do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<div class="control-group">
			<label class="control-label required"><%= t('create_password') %></label>
			<div class="controls">
				<input class="special span6 password required" id="password" name="user[password]" type="password" autocomplete="off" autofocus="true">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label required"><%= t('retype_password') %></label>
			<div class="controls">
				<input class="special span6 password_confirmation required" id="password_confirmation"name="user[password]" type="password" autocomplete="off">
			</div>
		</div>		  	
		<div class="form-actions">
			<button type="submit" class="btn btn-primary"> <%= t('update_and_log_in') %> </button>
		</div>	
	</fieldset>
<% end %>