<% content_for :sidebar do -%><%- end %>
<% javascript_tag do %>
  jQuery(document).ready(function(){
    jQuery("#ChangePassword").validate({
	  rules: {
	    password: "required",
	    password_again: {
	      equalTo: "#password"
	    }
	  }
	}); 
  });
<% end %>

<%= content_tag (:h3, t('change_my_password'), :class => 'title') %>
<% form_for @user, :url => password_reset_path, :method => :put, :html => { :id => "ChangePassword" } do |f| %>
  <%= f.error_messages %>
  <ul class="ui-form">
  	<li>
  		<%= f.label :password %>
		<%= f.password_field :password, :class => "text password", :id => "password" %>
	</li>
  	<li>
  		<%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation, :class => "text password", :id => "password_again" %>
	</li>
	<li>
		  <%= f.submit t("update_and_login"), :class => "uiButton" %>
	</li>
  </ul>
<% end %>
