<% content_for :layoutType do -%>clean<%- end %>
<% javascript_tag do %>
  jQuery(document).ready(function(){
    jQuery("#ChangePassword").validate({
	  rules: {
	    password: "required",
	    password_again: {
	      equalTo: "#password"
	    }
	  }
	}); 
  });
<% end %>

<h3 class="title">Change My Password</h3>
<span class="seperator"></span>
<% form_for @user, :url => password_reset_path, :method => :put, :html => { :id => "ChangePassword" } do |f| %>
  <%= f.error_messages %>
  <ul class="ui-form">
  	<li>
  		<%= f.label :password %>
		<%= f.password_field :password, :class => "text password", :id => "password" %>
	</li>
  	<li>
  		<%= f.label :password_confirmation %>
  		<%= f.password_field :password_confirmation, :class => "text password", :id => "password_again" %>
	</li>
  </ul>
  
  <%= f.submit "Update and login", :class => "fdbutton" %>
<% end %>
