<div class="fc-conversation">
	<div class="row-fluid">
		<div class="span12 report-breadcrum-wrapper pad-l">
			<ul class="breadcrumb span8">
			  <li>
			  	<a id="archive-page-link" href="#">Message Archives</a> <span class="divider">/</span></li>
			  <li>Conversation</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8 pad-l">
			<h3 class="lead"><span class="ficon-comments fsize-22"></span><%=(chatData.missed === true)? "<span class='label label-missed'>Missed</span>  " : ""%><span id='chat-title'><%=chatData.title%></span> and <%=window.userCollection.getTitle(parseInt(chatData.agent_id))%> - <%=(chatData.inConversation === true)? "In Conversation" : moment(chatData.created_at).fromNow()%></h3>
		</div>
		<div class="span4 options pad-r">
		
		<% if(chatData.type === "visitor") {  
			if(chatData.spam === true) { %>
				<a id="mark-spam" disabled  class="btn btn-default"><i class="ficon-warning"></i> Marked As Spam</a>
			<% }else{ %>
				<a id="mark-spam" class="btn btn-default"><i class="ficon-warning"></i> Mark As Spam</a>
				<% if (chatData.inConversation !== true && chatData.external_id == null) { %> 
					<a id="convertTicket" class="btn btn-default"><i class="ficon-plus"></i> Convert</a>
				<% }else if(chatData.external_id){ 
					if(chatData.inConversation !== true && chatData.closed !== true ) { %>
		  			<a  id="add-note" class="btn btn-default"><i class='ficon-file-edit'></i> Add Note</a>
		  			<% } %>
					<a target="_blank"  href="/helpdesk/tickets/<%=chatData.external_id%>" class="btn btn-default">#<%=chatData.external_id%></a>
				<% } 
			}
		}%> 
		</div>
	</div>
	<div class="row-fluid fc-container">
		<div class="span8 conversation">
			<div class="user-comment">
				<div class="conversation_wrap">
					<% for(var i = 0,length = messages.length;i<length;i++){ %>
					<div class="rsltmsg chat_tkt_details clearfix <%=(messages[i].userId.match(/visitor/gi) === null)? "fc_self_expanded" : "fc_guest_expanded"%>">
						<div class="rsltavatar "><img src="<%=(messages[i].photo == null)? "/images/fillers/profile_blank_thumb.gif" : messages[i].photo%>"></div>	
						<div class="rsltmsg_wrap">
							<div class="rsltuser"><%=messages[i].name%></div>
							<div class="time">
							<% 	var today = moment(new Date());
									var time = moment(messages[i].createdAt);
									if(today.diff(time, 'days') === 0){
										time = moment(messages[i].createdAt).format("hh:mm A");
									}else{
										time = moment(messages[i].createdAt).format("MMM D");
									} 
									print(time);
							%>
							</div>
							<div class="tkt_rsltsum"><%=messages[i].msg%></div>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
		<% if(chatData.type === "visitor" ) { %>
		<div class="span4 profile-options edit sloading " id="visitor_details">
		
		</div>
		<% } %>
	</div>
</div>