<%= form_for :zendesk, 
			:url=>{:controller=>"admin/zen_import", :action=>"import_data"}, 
			:html => { :multipart => true, :class =>"form-horizontal", :rel => 'validate' } do |f| -%>
<div class="row-fluid cnt left-aligned">
	<h5 class="lead"><%= t('zendesk_account') %></h6>
	<div class="control-group">
		<label class="control-label"><%= t('zendesk_url') %></label>
		<div class="controls">
			<%= f.text_field :url, :class => "text url required" %>
			<label class="muted"><%= t('zendesk_url_info') %></label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><%= t('username') %></label>
		<div class="controls">
			<%= f.text_field :user_name, :class => "text email required" %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><%= t('password') %></label>
		<div class="controls">
			<%= f.password_field :user_pwd, :class => "text required" %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label"><%= t('zendesk_backup') %></label>
		<div class="controls">
 			<%= f.file_field :file , :accept => 'zip', :class =>"required zip-file zendesk_size_validity"%>
 			<label class="muted"><%= t('zendesk_backup_info') %></label>
 			<div class="hide error" id="file_size_limit" ><%= t('backup_error_msg').html_safe %></div>
		</div>
	</div>
	<h5 class="lead"><%= t('zendesk_import_files') %></h6>
	<div class="control-group">
		<label>
			<%= check_box( "zendesk", "files", { :multiple => true, :checked => true, :disabled => true, :rel => 'toggle', "data-checked-label" => t('plain_yes'), "data-unchecked-label" => t('plain_no') }, "customers" , nil ) %>
			<strong><%= t('import_user_org') %></strong>
			<div class="muted tab">
				<%= t('import_user_org_text').html_safe %>				
			</div>
			<div class="muted tab">
				<%= t('note')%><%= t('import_user_notification') %>
			</div>
		</label>
	</div>
	<div class="control-group">
		<label>		  
			<%= check_box( "zendesk", "files", { :multiple => true, :checked => true, :rel => 'toggle', "data-checked-label" => t('plain_yes'), "data-unchecked-label" => t('plain_no') }, "tickets" , nil) %>
			<strong ><%= t('import_ticket_group') %></strong>
		</label>
	</div>
	<div class="control-group">
		<label>
			<%= check_box( "zendesk", "files", { :multiple => true, :checked => true, :rel => 'toggle', "data-checked-label" => t('plain_yes'), "data-unchecked-label" => t('plain_no')}, "forums" , nil) %>
			<strong><%= t('import_forum')  %></strong>
		</label>
	</div>
	<div class="control-group">
		<label>
			<%= check_box("zendesk", "files", { :multiple => true, :checked => false, :rel => 'toggle', "data-checked-label" => t('plain_yes'), "data-unchecked-label" => t('plain_no') }, "solution" , nil) %>
			<strong><%= t('import_solution_article') %></strong>
			<div class="muted tab">
				<%= t('import_solution_article_info') %>
			</div>
		</label>
	</div>
    <div class="pull-right">
      <%= submit_tag t('import'), :class => "btn btn-primary" %> 
    </div>
</div>
<% end -%>

<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#zendesk_file').on("change",function () {
		jQuery("#file_size_limit").hide();
  		jQuery("#zendesk_file").valid();
    });
	jQuery("#import_request").on("click", function(ev){
    	ev.preventDefault();
    	if(!window.widget_updated){
    		FreshWidget.update({"queryString": "&widgetType=popup&screenshot=no&helpdesk_ticket[requester]=<%= current_user.email.presence %>&helpdesk_ticket[subject]=Zendesk+Import+Request", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#006063", "backgroundImage": "", "alignment": "4", "offset": "-500px", "formHeight": "550px", "url": "<%= AppConfig['support_url'] %>"} );
    	}
    	window.widget_updated = true
        FreshWidget.show();
    });  
});
</script>