<%=  "<script>window.location.reload();</script>".html_safe if @import_status.blank? %>
<% unless @import_status.blank? %>
<div class="alert">
<% 
# Organization is the first key set after extracting. 
# So if it is not set, the status is file extraction
if @import_status['organization'].blank? %> 
  <%=t('zendesk_import_status.extracting').html_safe %>
<% else %>
  <%=t('zendesk_import_status.info').html_safe %>
<% end %>
</div>
<div class="list-page-body"> 
  <table class="table table-striped">
    <%
      nodes = JSON.parse(@import_status['nodes']) 
      nodes.each do |node|
        status = 'progress' #Default status
        if @import_status[node].blank?
          status = "not_started"
        elsif node == 'ticket'
          ticket_queue = 'tickets_completed'
          if @import_status['total_tickets'].to_i > 0 
            completed = @import_status["tickets_completed"].to_i == @import_status["total_tickets"].to_i
            status = 'completed' if completed
            ticket_queue = 'ratio_tickets_completed'
          end
        else
          status = "completed" if @import_status[node].to_i == Admin::DataImport::IMPORT_STATUS[:completed]
        end
        %>
        <tr>
          <td class="tooltip tiny" title="<%= t("zendesk_import_status.#{status}") %>">
            <% if status == "progress" %>
              <div class="sloading loading-small"></div>
            <% elsif status == "completed" %>
              <div class="symbol-done-tick"></div>
            <% end %>
          </td>
          <td>
             <strong class="lead-small"><%= t("zendesk_import.#{node}") %></strong>
          </td>
          <td>
            <div class="pull-right">
              <span class='muted'><%= t("zendesk_import_status.#{ticket_queue}", 
                      :count => @import_status["tickets_completed"], 
                      :total => @import_status["total_tickets"] ) if node == 'ticket' && @import_status[node].present? %> 
              </span>
            </div>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<% end %>