<div class="flexcontainer">
<%_.each(choice,function(item){%>
		<textarea class="survey-card border-<%=item.className%> <%if(!surveyLimit){%> expand-card <% } %>"maxlength="<%=SurveyConstants.limit.scale%>" name="<%=name%>" <%if(item.position){%>data-position="<%=item.position%>"<%}%> placeholder="<%=(item.value ||item.text)%>"  data-face-value="<%=item.id%>"><%=(item.value || item.text)%></textarea>
<%})%>

<% if(surveyLimit){
	for(i = choice.length; i < 7 ;i++){%>
		<div class="empty-survey-card"></div>
<%}}%>	
</div>