<div class="sub-container cust-satisfaction-rating survey_thanks">
	<div class="lead">
			<%= surveysI18n.survey_feedback %>
	</div>
	<div class="control-group">
		<label class="control-label"><%=thanks.title%></label>
		<div class="">
			<input type="text" maxlength=<%=SurveyConstants.limit.thanks_text%> name="thanks_text" placeholder="<%=thanks.default_text%>" value='<%=thanks.message%>' />
			<label id="thanks_text-error" class="error" style="display:none;"><%= surveysI18n.error_text %></label>
		</div>
	</div>
	<form name="survey_question_fields">
		<div id="survey_questions" class="sub-container cust-feedback-survey hide">
		</div>
	</form>

	<div id="comments" class="clearfix">
		<input type="checkbox" name="can_comment" onchange= "javascript:SurveyQuestion.additionalComment();" <%if(can_comment){%>checked<%}%>><span> <%= surveysI18n.additional_comments_feedback %></span>
		<div id="feedback-thanks" <%if(!can_comment) {%>style="display:none;" <%}%>class="clearfix pt6">
			<input class="input-comment" rel="ghostwriter" name="comments_text" placeholder= "<%=surveysI18n.comments_feedback %>" type="text" width="100%" value='<%=comments_text%>' maxlength="250">
			<% if(surveyLimit){%> 
			<div id="additional-thanks" style="display:none;">
				<label class="mt10 control-label"><%= surveysI18n.thanks_message_feedback %></label>
				<input name="feedback_response_text" class="input-comment" placeholder="<%=surveysI18n.thanks_feedback%>" rel="ghostwriter" size="24" type="text" width="100%" value='<%=feedback_response_text%>'>
			</div>
			<% } %>
		</div>
	</div>
</div>
<% if(surveyLimit){%> 
<div id="addQuestion" class="vertical-line1 survey-label">
	<%if(!isSurveyResult){%>
		<label>
			<a href="javascript:<%=thanks.link.action%>;"><span class="rounded-add-icon mr10"></span><%=thanks.link.label%></a>
			<a href="#survey-popover-content" rel="hover-popover" id="survey-popover"
				data-content="<div class='input-xlarge'><%= surveysI18n.thanks_help_text %> </div> ">
				<span class="ficon-help fsize-22 vertical-alignment ml5"></span>
			</a>
		</label>
	<%}%>
</div>
<% } %>
