
		<div class="lead">
				<%=title%>
		</div>
		<p class="pb10">
			<%= surveysI18n.content_text%>
		</p>
		<%if(question_id){%><input type="hidden" name="question_id" value="<%=question_id%>"><%}%>
		<div class="control-group row-fluid">
			<label class="control-label span2"><%= surveysI18n.survey_question %></label>
			<div class="pull-right span10">
				<input type="text" maxlength="<%=SurveyConstants.limit.thanks_text%>" placeholder="<%= surveysI18n.link_text_input_label %>" name="link_text" value='<%=link_text%>' />
				<label id="link_text-error" class="error" style="display:none;"> <%= surveysI18n.error_text%> </label>
			</div>
		</div>
		<div class="row-fluid">
			<% if(surveyLimit){ %>
			<div class="clearfix">
				<label class="spanhack control-label pt5" id="survey_point_scale"> <%= surveysI18n.points_scale %></label>
				<div id="survey_rating_choice" class="clearfix"></div>
			</div>
			<% } %>
			<div class="clearfix">
					<div id="survey_rating_options"></div>
			</div>
		</div>
		
