		
		
<% form_for :dump, :url=>{:controller=>"admin/xmlreader", :action=>"zendesk_import"}, :html => { :multipart => true } do |f| -%>
		
		<%= hidden_field_tag 'base_dir', @out_dir %>
		<!--%
		logger.debug "extract_zip: html : #{@file_list.inspect}"
		@file_list.each do |file|		

		%-->
 		
		<li class="checkbox">			  
			<%= check_box("import" , "files" ,{:multiple => true, :checked => true ,:disabled=>true},"customers" , nil) %><label>Users & Organizations</label>		 
		</li>
		
		<li class="checkbox">			  
			<%= check_box("import" , "files" ,{:multiple => true, :checked => true},"tickets" , nil) %><label>Tickets & Group</label>		 
		</li>
		
		<li class="checkbox">			  
			<%= check_box("import" , "files" ,{:multiple => true, :checked => true},"forums" , nil) %><label>Forums</label>		 
		</li>
		
		<li class="checkbox">			  
			<%= check_box("import" , "files" ,{:multiple => true, :checked => false},"solution" , nil) %><label>Convert Article forum to solution (Note: We will not save the forum comments)</label>		 
		</li>
		
		<!--%
		end		
		%-->
		
		<tr>
     		<td colspan='2'>
       			<%= submit_tag 'Submit' -%>
    	    </td>
   		</tr>	
<% end -%>