<% content_for :sidebar do -%><%- end %> 

<%= content_tag( :h3,  t('import_zendesk_title'), :class => "title" ) %>
<% form_for :dump, :url => { :controller=>"admin/xmlreader", :action=>"zendesk_import"}, :html => { :multipart => true } do |f| -%>
	<%= hidden_field_tag 'base_dir', @out_dir %>
	<ul class="ui-form">
		<li>			  
			<label>
				<%= check_box( "import", "files", { :multiple => true, :checked => true ,:disabled => true }, "customers" , nil ) %>
				<%= t('import_user_org') %>
			</label>
			<div class="info-data tabbed">
				<%= t('import_user_org_text') %>				
			</div>
			<div class="tabbed">
				<%= check_box( "import", "files", { :multiple => true, :checked => false }, "user_notify" , nil) %>
				<%= t('import_user_notification') %>
			</div>
		</li>		
		<li>	
			<label>		  
				<%= check_box( "import", "files", { :multiple => true, :checked => true }, "tickets" , nil) %>
				<%= t('import_ticket_group') %>				
			</label>
		</li>		
		<li>
			<label>
				<%= check_box( "import", "files", { :multiple => true, :checked => true }, "forums" , nil) %>
				<%= t('import_forum')  %>
			</label>
		</li>		
		<li>
			<label>
				<%= check_box("import", "files", { :multiple => true, :checked => false }, "solution" , nil) %> 
				<%= t('import_solution_article') %>
			</label>
			<div class="info-data tabbed">
				<%= t('import_solution_article_info') %>
			</div>
		</li>
 	</ul>
	<div class="button-container">
       <%= submit_tag 'Submit', :class => "uiButton" %>	
	</div>
<% end -%>