<% content_for :sidebar do -%><%- end %> 

<%= content_tag( :h3,  t('import_zendesk_title'), :class => "title" ) %>
<% form_for :dump, :url=>{:controller=>"admin/zip_readers", :action=>"extract_zip"}, :html => { :multipart => true } do |f| -%>
  <ul class="ui-form">
		<li class="inline-field">
			<label class="caption">
				<%= t('zendesk_url') %>
			</label>
			<div class="fields">
			   <%= f.text_field :url, :class => "text" %>
			</div>
		</li>
		<li class="inline-field">
			<h4 class="title"><%= t('zendesk_credentials') %></h4>			
			<label class="caption">
				<%= t('username') %>
			</label>
			<div class="fields">
				<%= f.text_field :user_name, :class => "text" %>
			</div>
			<span class="seperator"></span>
			<label class="caption">
				<%= t('password') %>
			</label>
			<div class="fields">
				<%= f.password_field :user_pwd, :class => "text" %>
			</div>
		</li>
		<li class="inline-field">		
			<label class="caption"><%= t('zendesk_backup') %></label>
			<div class="fields">
				<label><%= t('zendesk_backup_info') %></label>
				<%= f.file_field :file -%>
			</div>		
		</li>
	</ul>
	<div class="button-container">
	   <%= submit_tag t('submit'), :class => "uiButton" %> 
	</div>
<% end -%>