<script id="freshplug_details_template" type="text/x-jquery-tmpl">
<% category = "{{if category_id}}&category_id=${category_id}{{/if}}"%>
<% install_btn_url = "{{if type == 4}}/integrations/marketplace_apps/${encodeURIComponent(name)}/install"+
                     "{{else}}"+
                        "/admin/installed_extensions/${extension_id}/${version_id}/new_configs?type=${type}"+
                        "&display_name=${encodeURIComponent(display_name)}"+
                        "{{if category_id}}&category_id=${category_id}{{/if}}"+
                        "{{if installed }}&upgrade=true{{/if}}"+
                      "{{/if}}" %>

<div id="app-window" class="fa-container fa-bg">
  <div id="fa-nav" class="fa-sidehead">
    <div class="fa-breadcumb">
      <a class="pull-left index_btn" href="#" data-url="/admin/extensions?type=${types}<%=category%>">
        <span class="<%= font_class('left-arrow-thick', 12) %>"></span> <%= t('back') %>
      </a>
    </div>
  </div>

  <div class="dtl-box head-spacer">
    <div class="fa-hmeta">
      <div class="logo-box">
        {{if cover_art}}
        <div class="img-helper">
          <img src="${cover_art['thumb']}" srcset="${cover_art['thumb']} 1366w, ${cover_art['thumb2x']}" class="img-thumbnail" alt="${display_name}"/>
        </div>
        {{else}}
          <span class="<%= font_class('puzzle', 48) %>"></span>
        {{/if}}
      </div>
      <div class="info-box">
        <div id="app-intro" class="no-margin fa-desc">
          <div class="info-txt">
            <h1>${display_name}</h1>
            <p>
              <span class="maker">${account}</span>,
              <span class="info-data">${published_date} ago </span>
            </p>
          </div>
          <p class="clear">
            {{each categories}}
              <a href="#" class='tag index_btn category' data-url="/admin/extensions?type=${types}&category_id=${id}">${name}</a>
            {{/each}}
          </p>
        </div>
      </div>
      <div class="install-box">
        {{if type == 4}}
          <%= link_to "${install_btn_text}", "#{install_btn_url}", :method => :post, :class => "btn btn-large btn-primary ${install_btn_class}" %>
        {{else}}
          <a class="btn btn-large btn-primary ${install_btn_class}" data-url="<%= install_btn_url %>"> ${install_btn_text} </a>
        {{/if}}
        <p class="info-data">
          <span><%= t('marketplace.ver') %> ${app_version} </span>
        </p>
      </div>
    </div>

    <div class="app-desc">
      <div class="tabbable">
        <ul class="nav nav-tabs fa-tabd">
          <li class="tab-pane active"><a href="#screenshots" data-toggle="tab"><%= t('marketplace.screenshots') %></a></li>
          <li><a href="#desc" data-toggle="tab"><%= t('marketplace.description') %></a></li>
          {{if instructions}}
            <li><a href="#instr" data-toggle="tab"><%= t('marketplace.instructions') %></a></li>
          {{/if}}
        </ul>

        <div class="tab-content fa-appdesc">

          <div class="tab-pane" id="desc">
            <pre class="pre-wrap">${description}</pre>
            <table class="table">
              {{if whats_new}}
                <tr>
                  <td><p><%= t('marketplace.version') %> ${app_version} </p></td>
                  <td><p>${whats_new}</p></td>
                </tr>
              {{/if}}
            </table>
          </div>

          {{if instructions}}
            <div class="tab-pane" id="instr">
              <pre class="pre-wrap">${instructions}</pre>
            </div>
          {{/if}}

          <div class="tab-pane active" id="screenshots">
            <!-- Slider -->
            <div class="row-fluid">
              <div class="span10" id="carousel-bounding-box">
                <div class="carousel slide" id="screenshotsCarousel">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    {{each screenshots}}
                      <% active = "{{if screenshots_no ==0 }} active {{/if}}"%>
                      <div class="item <%= active %>" data-slide-number="${screenshots_no}">
                        <img src="${large}" srcset="${large} 1024w, ${large2x}">
                      </div>
                    {{/each}}
                  </div><!-- Carousel nav -->
                  <a class="carousel-control left" data-slide="prev" href="#screenshotsCarousel"><span>‹</span></a> 
                  <a class="carousel-control right" data-slide="next" href="#screenshotsCarousel"><span>›</span></a>
                </div>
              </div>
              <div class="span2 slider-thumbs" id="slider-thumbs">
                <ul class="thumbnails">
                  {{each screenshots}}
                    <% active = "{{if screenshots_no ==0 }} active {{/if}}"%>
                    <li class="<%= active %>">
                        <a class="thumbnail" id="carousel-selector-${screenshots_no}">
                        <img src="${thumb}" srcset="${thumb} 1024w, ${thumb2x}" width="100"></a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</script>