<%= stylesheet_link_tag_with_rtl :'cdn/dev_oauth' %>
<% hide_page =  @pre_auth.client.name == Marketplace::Constants::ADMIN_PORTAL_NAME || current_user.developer? %>
<% hideClass = hide_page ? 'hide' : '' %>
<% portal_name = @pre_auth.client.name == Marketplace::Constants::DEV_PORTAL_NAME ? t('.dev_portal') : t('.admin_portal') %> 
  
<% unless hide_page %>
  <div class="control-group sticky-bar" rel="sticky">
    <%= form_tag oauth_authorization_path, method: :post do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <div class="agreement-title">
        <h3 class="lead"><%= t('.authorize_text3').html_safe %> <%= link_to "#{portal_name} #{t('.portal')}", MarketplaceConfig::DEV_URL, :target=>"_blank" %> <%= t('.authorize_text2').html_safe %></h3>
      </div> 
      <div class="agreement-btns">
        <%= link_to t('.decline'), MarketplaceConfig::DEV_URL, :class => "btn" %>
        <%= submit_tag t('.go_to_portal' , :portal_name => portal_name ).html_safe, :id=>'allow', :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

<ul class="unstyled form-horizontal agreement-txt clear">
  <li class="control-group">
    <%= form_tag oauth_authorization_path, method: :post do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
    <% end %>
  </li>
  <% if hide_page %>
    <li class="bottom-btns">
      <div class="pull-left loader-wrapper">
       <div class="sloading loading-block pull-left"></div>
        <div class="logging-in"><%= t('.spinner_text', :portal_name => portal_name ) %></div>
      </div>
    </li>
  <% end %>
</ul>
<%= javascript_tag do %>
jQuery(document).on('click', '#allow', function (ev) {
    ev.preventDefault();
    this.form.submit()
})

var allowUser = <%= @pre_auth.client.name == Marketplace::Constants::ADMIN_PORTAL_NAME || current_user.developer? %>
if(allowUser) {
  jQuery("#allow").trigger("click");
}
<% end %>
