<ul class="unstyled">
  <li>
    <h3 class="lead">
      <%= t('reports.livechat.filter_report') %>
      <span class="muted report-close pull-right" id="filter-close-icon">×</span>
    </h3>
  </li>
  <li>
    <label class="control-label"><%= t('reports.select_time_period').html_safe%></label>
    <%= text_field_tag :date_range, @date_range, :class => "required input-large" %>

    <label class="control-label"><%=t('reports.livechat.widget')%></label>
    <%= select_tag :widget_id, 
              options_for_select(@widget_ids, @main_widget), 
              { :multiple => false,
                :class => "select2 filter_item", 
                     "data-placeholder".to_sym() => t('reports.livechat.select_widget') } %>

    <label class="control-label"><%=t('reports.livechat.chat_type')%></label>
      <%= select_tag :chat_type, options_for_select(@chat_types), 
              { :multiple => false, 
                :class => "select2 filter_item",
                      "data-placeholder".to_sym() => t('reports.livechat.select_chat_type')} %>
  </li> 
  <li>
    <br/>
    <a class="btn btn-primary" id="submit" href="javascript:void(0)"><%=t('reports.livechat.generate_summary')%></a>
    <a class="btn" id="cancel" href="javascript:void(0)"><%=t('reports.livechat.filter_close')%></a>
    <%= submit_tag "Generate PDF", :class => "hide", :id => "generate-pdf" %>
  </li>
</ul>

<%= javascript_tag do %>
var Helpkit = Helpkit || {};

var freshchat_i18n = {"filter_title": "<%=t('reports.livechat.filter_by_title')%>", "time_period": "<%=t('reports.livechat.time_period')%>", "widget": "<%=t('reports.livechat.widget')%>", "group": "<%=t('reports.livechat.group')%>", type: "<%=t('reports.livechat.chat_type')%>", "this_week": "<%=t('reports.date_ranges.last_7_days') %>", "this_month": "<%= t('reports.date_ranges.last_30_days') %>", "three_months": "<%= t('reports.date_ranges.last_90_days') %>","today": "<%=t('reports.date_ranges.today')%>","yesterday": "<%=t('reports.date_ranges.yesterday')%>", "custom_days": "<%= t('reports.date_ranges.custom') %>", "total_chats": "<%=t('reports.livechat.total_chats')%>", "num_of_chats": "<%=t('reports.livechat.num_of_chats')%>", "answered_chats": "<%=t('reports.livechat.answered_chats')%>", "missed_chats": "<%=t('reports.livechat.missed_chats')%>", "avg_handle_time": "<%=t('reports.livechat.avg_handle_time')%>", "num_of_transfer": "<%=t('reports.livechat.num_of_transfer')%>","avg_time_queue": "<%=t('reports.livechat.avg_time_queue')%>","no_data":"<%=t('reports.no_data')%>"};


var freshchat_agents = <%= @agents_list %>
jQuery(document).ready(function() {
  var URL      = "<%=ChatConfig['communication_url']%>";
  var CHAT_ENV    = "<%= Rails.env -%>";
  var FC_HTTP_ONLY = ((<%=ChatConfig['http_only']%> == "1")? true : false);
  
  chatReport.initializeReport(CHAT_ENV, URL, FC_HTTP_ONLY);
});

  Helpkit.report_filter_data = <%= @report_filter_data.to_json.html_safe %>;
  Helpkit.report_filter_data = Helpkit.report_filter_data || [];
  Helpkit.enable_schedule_report = <%= enable_schedule_report? %>;
  Helpkit.report_type = "chat_summary";
  current_user = {
    mail : '<%= current_user.email %>',
    id : '<%= current_user.id %>',
    time_zone : '<%= @user_time_zone_abbr %>',
    name : '<%= current_user.name %>'
  }
  day_names = <%=t('date.day_names').to_json.html_safe%>;
<% end %>