<ul class="unstyled">
  <li>
    <h3 class="lead">
      <%= t('reports.freshchat.filter_report') %>
      <span class="muted report-close pull-right" id="filter-close-icon">×</span>
    </h3>
  </li>
  <li>
    <label class="control-label"><%= t('reports.select_time_period').html_safe%></label>
    <%= text_field_tag :date_range, @date_range, :class => "required input-large" %>

    <label class="control-label"><%=t('reports.freshchat.widget')%></label>
    <%= select_tag :widget_id, 
              options_for_select(@widget_ids, @main_widget), 
              { :multiple => false,
                :class => "select2 filter_item", 
                     "data-placeholder".to_sym() => t('reports.freshchat.select_widget') } %>

    <% chat_types = [[t('reports.freshchat.all'), "0"], [t('reports.freshchat.chat_type_visitor'), "1"], [t('reports.freshchat.chat_type_agent'), "2"], [t('reports.freshchat.chat_type_proactive'), "3"]]%>
    <label class="control-label"><%=t('reports.freshchat.chat_type')%></label>
      <%= select_tag :chat_type, options_for_select(chat_types), 
              { :multiple => false, 
                :class => "select2 filter_item",
                      "data-placeholder".to_sym() => t('reports.freshchat.select_chat_type')} %>
  </li> 
  <li>
    <br/>
    <a class="btn btn-primary" id="submit" href="javascript:void(0)"><%=t('reports.freshchat.generate_summary')%></a>
    <a class="btn" id="cancel" href="javascript:void(0)"><%=t('reports.freshchat.filter_close')%></a>
    <%= submit_tag "Generate PDF", :class => "hide", :id => "generate-pdf" %>
  </li>
</ul>

<%= javascript_tag do %>
var freshchat_i18n = {"filter_title": "<%=t('reports.freshchat.filter_by_title')%>", "time_period": "<%=t('reports.freshchat.time_period')%>", "widget": "<%=t('reports.freshchat.widget')%>", "group": "<%=t('reports.freshchat.group')%>", type: "<%=t('reports.freshchat.chat_type')%>", "this_week": "<%=t('reports.date_ranges.last_7_days') %>", "this_month": "<%= t('reports.date_ranges.last_30_days') %>", "three_months": "<%= t('reports.date_ranges.last_90_days') %>", "custom_days": "<%= t('reports.date_ranges.custom') %>", "total_chats": "<%=t('reports.freshchat.total_chats')%>", "num_of_chats": "<%=t('reports.freshchat.num_of_chats')%>", "answered_chats": "<%=t('reports.freshchat.answered_chats')%>", "missed_chats": "<%=t('reports.freshchat.missed_chats')%>", "avg_handle_time": "<%=t('reports.freshchat.avg_handle_time')%>", "num_of_transfer": "<%=t('reports.freshchat.num_of_transfer')%>","avg_time_queue": "<%=t('reports.freshchat.avg_time_queue')%>","no_data":"<%=t('reports.no_data')%>"};

var freshchat_agents = <%= @agents_list %>

jQuery(document).ready(function() {
  var URL      = "<%=ChatConfig['communication_url']%>";
  var CHAT_ENV    = "<%= Rails.env -%>";
  var FC_HTTP_ONLY = ((<%=ChatConfig['http_only']%> == "1")? true : false);

  chatReport.initializeReport(CHAT_ENV, URL, FC_HTTP_ONLY);
});
<% end %>