<form accept-charset="UTF-8" id="install-form" method="post"> 
  <ul class="installer-form">
    
    <% for(var i=0; i < configs.length; i++) { %>
      <li class="field">
        <label class="form-lbl"> <%- configs[i].label %> 
          <% if (configs[i].is_required) { %>
            <span class="required_star">*</span>
          <% } %>
        </label>
        
        <% if (configs[i].field_type == 1) { %>
          <input type="text" class="fa-textip <% if (configs[i].is_required) {%> required <%}%> fa-elements" name="[configs][<%- configs[i].name %>]" value="<%- configs[i].default_value %>">
        <% } else { %>
          <select name="[configs][<%- configs[i].name %>]" class="select2 fa-elements" style="width:200px;">
            <% for(var j=0; j < configs[i].default_value.length; j++){ %>
              <option value="<%- configs[i].default_value[j] %>"><%- configs[i].default_value[j] %></option>
            <% } %>
          </select>
        <% } %>

        <% if (configs[i].description) { %>
          <p class="help-text"> <%- configs[i].description %> </p>
        <% } %>
      </li>
    <% } %>
  </ul>
</form>
