<div class="fa-sidehead">
  <div class="apptype-head span6">
    <div class="logo pull-left">
      <% if(category_specific) { %>
         <a id="appGalleryLogo" data-url="<%= app_gallery_url %>" class="logo-link">
          <% if(typeof custom_app == 'undefined') { %>
            <%= translate.get('app_gallery') %>
          <% }else{ %>
            <%= translate.get('custom_app_gallery') %>
          <% } %>
        </a>
      <% } else { %>
        <p class="gallery-index">
          <% if(typeof custom_app == 'undefined') { %>
            <%= translate.get('app_gallery') %>
          <% }else{ %>
            <%= translate.get('custom_app_gallery') %>
          <% } %>
        </p>
      <% } %>  
    </div>
  </div>

  <% if(typeof custom_app == 'undefined') { %>
    <form action="<%= search_url %>" id="extension-search-form" class="span4 pull-right search-form">
      <div class="appsearch-box ui-widget">
        <input id="query" name="query" class="search-query" required type="text" placeholder="<%= search_placeholder %>" value="<% if(search_term) { %><%- search_term %><% } %>" data-url="<%= auto_suggest_url %>">
        <i class="ficon-search search-apps"></i>
        <div class="sloading loading-small search-loader" style="display:none;"></div>
        <button class="remove-query" style="display:none;" type="reset"><span class="ficon-cross fsize-16"></span></button>
        <input style="display:none" type="submit" id="search-btn">
      </div>
    </form>
  <% } %>
</div>

<div class="dtl-box head-spacer">
  <% if(typeof custom_app == 'undefined') { %>
    <div class="apps-category list-group">
      <% for(var i=0; i < categories.length; i++) { %>
        <li>
          <a style="<% if(categories[i].selected) { %> font-weight:bold; color: #555; <% } %>" class="category" id="category_<%=i%>" href="#" data-url="<%= categories[i].url %>"><%= categories[i].name %>
          </a>
        </li>
      <% } %>
    </div>
    <div class="fa-content content-box">
      <% if(search_term) { %> 
        <%= JST['marketplace/search_specific_content']({extensions : extensions,search_term: search_term }) %>  
      <% }else if(category_specific) { %>
        <% if(category_id) { %> 
          <% extensions_params = { extensions: extensions,category_name: category_name, category_id: category_id } %>
        <% } else { %>
           <% extensions_params = { extensions: popular_extensions,latest_extensions: latest_extensions,popular_extensions: popular_extensions,category_name: category_name, category_id: category_id } %> 
        <% } %>   
        <%= JST['marketplace/category_specific_content'](extensions_params) %>
      <% } else { %>
        <%= JST['marketplace/marketplace_content']({extensions: popular_extensions,latest_extensions : latest_extensions,popular_extensions: popular_extensions,app_gallery_url: app_gallery_url}) %>
      <% } %> 
    </div>
  <% } else { %>
    <div class="fa-content content-box custom-apps-box">
      <%= JST['marketplace/custom_apps_content']({extensions : extensions, app_gallery_url: app_gallery_url}) %>
    </div>  
  <% } %>
    
</div>