<% unless article.nil? %>
	<% article_url = support_solutions_article_url(article, :host => @ticket.solution_article_host(article)) %> 
	<tr class="show-menu-on-hover">
		<td>
			<div class="search-solution-content">
				<%= content_tag :span, t('solutions.status.draft'), :class => 'draft-label' unless article.published? %>
				<%= content_tag :span, "", :class => 'private-icon' unless article.solution_folder_meta.visible?(current_user) %>
				<%= article.title %>
				<%= link_to font_icon('open-in-new-window', :size => 13), article_url, :target => "blank", 
												:title => truncate( article.desc_un_html, :length => 100), :class => "open_in_new" %> 
			</div>
			<div class='actions-menu-wrapper'>
				<div class="actions-menu">
					<%= t('ticket.insert') %>:
					<% if article.solution_folder_meta.visible?(@ticket.requester) && article.published? %>
						<%= link_to_function t('ticket.suggested_solutions.link'), 
										"respondWithSol('link', '#{article.id}', '#{article_url}', '#{escape_javascript(article.title)}')", 
										:class => "btn btn-mini btn-flat" %>
					<% end %>
					<% unless @ticket.is_twitter? or @ticket.is_facebook? or @ticket.mobihelp? or @ticket.ecommerce? %>
						<%= link_to_function t('ticket.suggested_solutions.content'), 
										"respondWithSol('content', '#{article.id}', '#{article_url}')", 
										:class => "btn btn-mini btn-flat" %>
					<% end %>
				</div>
			</div>
		</td>
	</tr>
<% end %>