<div>
  <%= render layout: 'shared/email_header_footer.html.erb', locals: { sent_by: :freshdesk_support } do %>
  <div><%= t("mailer_notifier.ecommerce_notifier.token_expiry.token_expiry_msg", account_name: @ecom_name, expiry_date: @expiry_date )%></div>
  <div><br></div>
  <div><%= t("mailer_notifier.ecommerce_notifier.token_expiry.token_update")%></div>
  <div><br></div>
  <div><%= link_to t("mailer_notifier.ecommerce_notifier.token_expiry.view_account"), "http://#{@account.full_domain}/admin/ecommerce/accounts" %></div>
  <div><br></div>
  <div><%= t("mailer_notifier.ecommerce_notifier.token_expiry.contact_us")%></div>
  <div><br></div>
  <% end %>
</div>
