<!DOCTYPE html>
<!--[if lt IE 7 ]> 			   <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    			   <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    			   <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    			   <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

    <%= render :partial => "layouts/shared/head" %>
    <body class="<% unless @content_for_sidebar %>single<% end %>">
	   <div id="wrap"> 
            <%= render(:partial => '/layouts/shared/header') %>
            <div class="content">
                <div class="wrapper">
					<%= render(:partial => '/search/navsearch') %>
	                <div id="inner"> 
						<% if @content_for_sidebar %>
						    <div class="sidebar"> 
							 	<%= yield :sidebar %>					
							</div>
						<% end %>  
		                <div class="leftcontent">
		                	<%= show_flash %> 
							<%= yield :breadcrumb %>		
							<div class="pagearea">				
								<%= yield %>
							</div>
		                </div>
					</div>
				</div> 
				</div>
			</div> 
		</div>
		<div id="footer" class="footer"> 
			<div class="wrapper">  
			</div> 
       	</div> 
		<%= yield :dialogs  %>
		<%= yield :pagefixed  %>
    </body>
</html>
