<!DOCTYPE html>
<!--[if lt IE 7 ]> 			   <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    			   <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    			   <html class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    			   <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

	<%= render :partial => "layouts/shared/head" %>
	<body class="<% unless @content_for_sidebar %>single<% end %> <%= yield :layoutType %>">
		<div id="wrap"> 
			<%= render(:partial => '/layouts/shared/header') %>
				<div class="content">
					<div class="wrapper">
						<%= render(:partial => '/search/navsearch') %>
						<div id="inner"> 
						<% if @content_for_sidebar %>
							<div class="sidebar" id="Sidebar"> 
								<%= yield :sidebar %>					
							</div>
						<% end %>  
						<div class="leftcontent">
							<%= show_flash %> 
							<%= yield :breadcrumb %>
							<div class="pagearea" id="Pagearea">				
								<%= yield %>
							</div>
						</div>
					</div> 
				</div> 
			</div>
			<%= render :partial => "layouts/shared/footer" %>  
		</div>		 
		<%= yield :dialogs   %>
		<%= yield :pagefixed %>
	</body>
</html>