<div id="footer" class="wrapper">  
	<div class="wrapper-shadow">
		<div class="footer-content">
		  <% unless(current_account.subscription.paid_account?) %>
			  <%= link_to(t('footer.helpdesk_software'), AppConfig['app_website'], :target => "_blank") %>
			  <%= t('footer.by_freshdesk') %>
			  <span class="muted"> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; </span>
			<% end %>
			<% if current_user %>
				<%= link_to( t('footer.submit_feedback'), "#{AppConfig['support_url']}/support/tickets/new", :id => 'footer_feedback_widget' ) %>
			<span class="muted"> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;</span>
			<% end %>
			<%= link_to(t('footer.browse_community'), "#{AppConfig['support_url']}/support/discussions", :target => "_blank") %>
		</div> 
	</div>
</div>
<%= render :partial => 'shared/shortcuts_help_chart' %>
<% if current_user && current_user.agent? && current_account.freshfone_active? %>
  <% twilio_client_version = current_account.features?(:updated_twilio_client) ? 1.2 : 1.1%>
	<script type="text/javascript" src= <%= "https://static.twilio.com/libs/twiliojs/#{twilio_client_version}/twilio.min.js"%> >
	</script>
	<%= render :partial => 'layouts/shared/freshfone' %>
<% end %>
<% if current_account.features?(:client_debugging) %>
    <script
      src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
      data-apikey= <%=AppConfig["client_debugging"]["bugsnag"][Rails.env]["api_key"]%> 
      data-autonotify="false"
      >
    </script>
<% end %>
<%if @debuging %>
	<script type="text/javascript" src="/javascripts/labs/boomerang.js"></script>
	<script type="text/javascript" src="/javascripts/labs/benchmark_init.js"></script>
<% end %>

<% if current_user %>
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
	@import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
</style> 
<script type="text/javascript">
	FreshWidget.init("", {"queryString": "&widgetType=popup&screenshot=no&helpdesk_ticket[requester]=<%= current_user.email.presence %>", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#006063", "backgroundImage": "", "alignment": "4", "offset": "-500px", "formHeight": "550px", "url": "<%= AppConfig['support_url'] %>"} );
	
	jQuery("body").on("click",'#footer_feedback_widget', function(ev){
    	ev.preventDefault();
    	if(window.widget_updated){
    		FreshWidget.update({"queryString": "&widgetType=popup&screenshot=no&helpdesk_ticket[requester]=<%= current_user.email.presence %>", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#006063", "backgroundImage": "", "alignment": "4", "offset": "-500px", "formHeight": "550px", "url": "<%= AppConfig['support_url'] %>"} );
    	}
    	window.widget_updated = false;
    	FreshWidget.show();	
    });
  var APP_ENV = "<%= Rails.env %>";
</script>
<% end %>
