<div class="footer-content-centre">
	<% if current_account.copy_right_enabled? %>
	  <%= link_to(t('footer.helpdesk_software'), AppConfig['app_website'], :target => "_blank", :rel => "noopener") %>
	  <%= t('footer.by_freshdesk') %>
	  <span class="muted"> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; </span>
	<% end %>
	<% if current_user %>
		<%= link_to( t('footer.submit_feedback'), "#{AppConfig['support_url']}/support/tickets/new", :id => 'footer_feedback_widget' ) %>
		<% if in_app_support? %>
      <span class="muted"> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;</span>
			<span id="chat-support-footer" class="chat-support-link"> <%= t('livechat.chat_with_us') %> </span>
		<% end %>
    <% if current_account.copy_right_enabled? %>
       <span class="muted"> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;</span>
    <% end %>
	<% end %>
  <% if current_account.copy_right_enabled? %>
  	<%= link_to(t('footer.browse_community'), "#{AppConfig['support_url']}/support/discussions", :target => "_blank") %>
  	<span class="muted"> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;</span>
  	<%= link_to(t('footer.privacy_policy'), AppConfig['privacy_policy'], :target => "_blank", :rel => "noopener") %>
  <% end %>
</div>
