<div id="footer" class="wrapper">
	<div class="wrapper-shadow">
			<% if current_account.launched?(:new_footer_feedback_box) %>
				<%= render "layouts/shared/footer_feedback_box" %>
			<% else %>
				<%= render "layouts/shared/footer_no_feedback_box" %>
			<% end %>
	</div>
</div>
<%if current_user and current_account.node_feature_list.present?  %>
	<%= javascript_include_tag :'cdn/fd_node_feature' %>
	<script>
	var FdSocket = fdio('<%= fd_socket_host %>','<%= fd_node_auth_params %>',{transports: ['websocket','xhr-polling','polling','htmlfile','flashsocket']});
	</script>
<% end %>

<%= render :partial => 'shared/shortcuts_help_chart' %>

<% if current_user && current_user.agent? && !current_account.falcon_ui_enabled?(current_user) %>
	<% cti_app = current_account.cti_installed_app_from_cache %>
	<% if cti_app.present? %>
    <% if current_account.features?(:cti) && cti_app.application.name == 'cti' %>
	    <%= render :partial => 'shared/integrations/cti/screen_pop' %>
    <% else %>
	    <% cti_app_name = cti_app.application.name %>
	    <%= render :partial => 'layouts/shared/integrations/cti/cti_toolbar', :locals => {:app => cti_app.application} %>
	    <%= render :partial => 'layouts/shared/integrations/cti/' + cti_app_name, :locals => {:installed_app => cti_app} %>
    <% end %>
	<% end %>
<% end %>
<%if @debuging %>
	<script type="text/javascript" src="/javascripts/labs/boomerang.js"></script>
	<script type="text/javascript" src="/javascripts/labs/benchmark_init.js"></script>
<% end %>

<% if shortcuts_enabled? %>
<script type="text/javascript">
	Fjax.Assets.plugin('shortcut');
</script>
<% end %>

<% if current_user %>
<% if Rails.env.development? %>
<% @LoadAsset=request.protocol.to_s+request.host_with_port %>
<% @LoadAsset1=request.protocol.to_s+request.host_with_port.to_s+"/widget" %>

<% elsif Rails.env.staging? %>
<% @LoadAsset="https://s3.amazonaws.com/assets.freshpo.com" %>
<% @LoadAsset1="https://s3.amazonaws.com/assets.freshpo.com/widget" %>

<% elsif Rails.env.production? %>
<% @LoadAsset="https://s3.amazonaws.com/assets.freshdesk.com" %>
<% @LoadAsset1="https://s3.amazonaws.com/assets.freshdesk.com/widget" %>
<% end %>
	 <script type="text/javascript" src="<%= @LoadAsset %>/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
	@import url(<%= @LoadAsset %>/widget/freshwidget.css);
</style>
	<script type="text/javascript">
		FreshWidget.init("", {"queryString": "&widgetType=popup&screenshot=no&helpdesk_ticket[requester]=<%= current_user.email.presence %>", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#006063", "backgroundImage": "", "alignment": "4", "offset": "-500px", "formHeight": "550px", "url": "<%= AppConfig['support_url'] %>","assetUrl":"<%= @LoadAsset1 %>"} );

		jQuery("body").on("click",'#footer_feedback_widget', function(ev){
	    	ev.preventDefault();
	    	if(window.widget_updated){
	    		FreshWidget.update({"queryString": "&widgetType=popup&screenshot=no&helpdesk_ticket[requester]=<%= current_user.email.presence %>", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#006063", "backgroundImage": "", "alignment": "4", "offset": "-500px", "formHeight": "550px", "url": "<%= AppConfig['support_url'] %>","assetUrl":"<%= @LoadAsset1 %>"} );
	    	}
	    	window.widget_updated = false;
	    	FreshWidget.show();
	    });

		jQuery("body").on("click",'.chat-support-link', function(ev){
			ev.preventDefault();
			try{
				livechat.MainView.renderAgentSupport();
			}
			catch(err){
				console.log('Livechat error: support chat has not loaded');
			}
		});

	  var APP_ENV = "<%= Rails.env %>";
	</script>
	<script>window.inlineManualOptions = { language: "<%= I18n.locale %>" } ;</script>
	<% if Rails.env.production? %>
		<script src="https://inlinemanual.com/embed/player.<%=INLINE_MANUAL_TOKENS['access_key']%>.js" async ></script>
	<% else %>
		<script>!function(){var e=document.createElement("script"),t=document.getElementsByTagName("script")[0];e.async=1,e.src="https://inlinemanual.com/embed/player.<%=INLINE_MANUAL_TOKENS['access_key']%>.js",e.charset="UTF-8",t.parentNode.insertBefore(e,t)}();</script>
	<% end %>
	<script type="text/javascript" >
		window.inlineManualTracking = <%= inline_manual_people_tracing.to_json.html_safe %>
	window.im_option = {}
	</script>
	<%= javascript_include_tag :'cdn/inline_manual_trigger' %>
	<div class="hide" id="inline-manual-meta">
		<span class="<%= inline_manual_classes_for_multilingual %>" id="multilingual-meta-info"></span>
	</div>

<script >
	//TODO: Migrate to i18n Js
	window.feedback_subject_required_error = "<%= t('footer.errors.feedback_subject_required') %>"
	window.current_account_full_domain = "<%= current_account.full_domain %>"
	window.is_current_user_admin = "<%= current_user.privilege?(:view_admin) %>"
</script>

<% if current_account.launched?(:new_footer_feedback_box) %>
	<%= javascript_include_tag :'cdn/footer_feedback' %>
<% end %>

<% end %>

<!-- For Iris Notifications and Collaboration -->
<% if current_account.user_notifications_enabled? || current_account.collaboration_enabled? %>
	<script type="text/javascript" src="<%= IrisNotificationsConfig['socketioUrl'] %>"></script>
	<script type="text/javascript" src="<%= IrisNotificationsConfig['rtsUrl'] %>"></script>
<% end %>

<!-- For Iris Notifications -->
<% if current_account.user_notifications_enabled? %>
	<script type="text/javascript" src="<%= IrisNotificationsConfig['irisUrl'] %>"></script>
	<%= javascript_include_tag :'cdn/user_notifications' %>
<% end %>

<!-- For Collaboration -->
<% if current_account.collaboration_enabled? %>
	<%= javascript_include_tag :'cdn/collaboration' %>
<% end %>

<!-- For Year In Review Analytics -->
<% if current_user && current_account.launched?(:heap_analytics) && !current_account.opt_out_analytics_enabled? %>
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("<%= HEAP_PROJECT_ID %>", {
      	disableTextCapture: true
      });
      heap.identify("<%= current_user.id %>");
      heap.addUserProperties({
      	'account_id' : "<%= current_account.id %>",
        'account_name': "<%= current_account.name %>",
        'agent_name': "<%= current_user.name %>",
		<% subscription = current_account.subscription %>
		"account_plan": "<%= subscription.subscription_plan.name %>",
        'account_state': "<%= subscription.state %>",
        'announcement_bucket': "<%=current_account.account_additional_settings.additional_settings[:announcement_bucket].to_s%>",
        'role' : "<%= current_user.privilege?(:admin_tasks) ? 'admin' : 'agent' %>"
      });
  </script>
<% end %>
<% if current_user && current_user.is_falcon_pref? %>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      window.App = window.App || {};
			window.App.Channel = window.App.Channel || new MessageChannel();
			// Transfer port2 to ember
			window.parent.postMessage('init', window.location.origin, [window.App.Channel.port2]);
      try {
				// Send a postmessage to indicate that helpkit DOMContentLoaded
				window.App.Channel.port1.postMessage({action: "helpkit-loaded"});
			} catch(e) {}
    });
  </script>
<% end %>