<%#= render :partial => 'layouts/shared/freshfone/freshfone' %>
 
<%= stylesheet_link_tag_with_rtl :'cdn/freshfone' %>
<%= javascript_include_tag :'cdn/freshfone_ticket_search' %>
<div>
	<%= render 'layouts/shared/freshfone/freshfone_notification' %>
</div>
<div class="freshfone_widget">
	<div class="ff_desktop_notification hide tooltip" 
		data-placement="left" title="<%= t('freshfone.widget.desktop_notification') %>">
		<div class="desktopNotifier"><%= font_icon "bell", :size => 16 %></div>
	</div>
	<%= render 'layouts/shared/freshfone/freshfone_popup_tabs' %>
</div>
<div class="grey_widget_background hide" data-freshfone=false data-chat=false></div>
<div class="popupbox-content hide freshfone_content_container" rel="freshfone_widget">
	<%= render 'layouts/shared/freshfone/freshfone_popupbox_content' %>
</div>
<div>
	<%= render 'layouts/shared/freshfone/freshfone_widget_network_error' %>
</div>

<%= javascript_tag do %>
	if (typeof freshfone === "undefined") { freshfone = {}; }
	freshfone.original_stringify = JSON.stringify;
	freshfone.country_preference = <%= recent_countries.html_safe %>;
	freshfone.current_user = <%= current_user.id %>;
	freshfone.current_account = <%= current_account.id%>;
	freshfone.user_phone = "<%= current_user.available_number %>";
	freshfone.current_status = "<%= current_user.freshfone_user_incoming_preference ||
												Freshfone::User::PRESENCE[:offline] %>";
	freshfone.below_threshold = <%= freshfone_below_threshold? %>;
	freshfone.available_on_phone = <%= current_user.available_on_phone? || false %>;
	freshfone.recent_calls_path = "<%= recent_calls_freshfone_call_history_index_path %>";
	freshfone.transfer_list_path = "<%= available_agents_freshfone_call_transfer_index_path %>";
	freshfone.available_on_phone_text = "<%= t('freshfone.widget.on_phone') %>";
	freshfone.available_on_browser_text = "<%= t('freshfone.widget.on_browser') %>";
	freshfone.freshfone_user_online_text = "<%= t('freshfone.widget.available') %>";
	freshfone.freshfone_user_offline_text = "<%= t('freshfone.widget.unavailable') %>";
	freshfone.freshfone_user_busy_text = "<%= t('freshfone.widget.busy') %>";
	freshfone.forward_number_alert = "<%= t('freshfone.widget.forward_number_alert') %>";
	freshfone.invalid_user_number_text = "<%= t('freshfone.widget.invalid_phone_number').html_safe%>";
	freshfone.widget_inactive = "<%= t('freshfone.widget.low_credit') %>";
	freshfone.new_requester = "<%= t('freshfone.widget.new_requester') %>";
	freshfone.freshfone_nodejs_url = "<%= FreshfoneConfig['node_url'] %>";
	freshfone.full_domain = '<%= current_account.full_domain %>';
	freshfone.account_url = '<%= current_account.url_protocol + "://" + current_account.full_domain %>';
	freshfone.numbersHash = <%= Hash[*current_account_freshfone_number_hash.collect(&:reverse).flatten].to_json.html_safe %>;
	freshfone.namesHash = <%= Hash[*current_account_freshfone_names.flatten].to_json.html_safe %>;
	freshfone.requester_autocomplete_path = '<%= requester_search_freshfone_autocomplete_index_path %>';
	freshfone.isDebuggingMode = "<%= current_account.features?(:client_debugging)%>";
  freshfone.current_user_details = {
          'id'        : '<%=current_user.id%>',
          'username'  : '<%=current_user.name%>',
          'email'     : '<%=current_user.email%>',
          'account_id': '<%= current_account.id%>'
  };
  jQuery(window).on("load",function(){
  	soundManager.setup({debugMode: false});
	  freshfone.networkErrorSound = soundManager.createSound({
	  	id: "freshfoneNetworkErrorSound",
	  	url: '<%= audio_path("/assets/call_disconnected_due_to_network.mp3") %>'
	  });
	  freshfone.networkErrorSound.load();
  });

  freshfone.strangeNumbers = <%= Freshfone::CallerLookup::STRANGE_NUMBERS.to_json.html_safe %>;
<% end %>
<%= javascript_include_tag :'cdn/freshfone_client' %>
<% unless AppMetrics::FRESHFONE_METRICS.blank? %>
  <%= javascript_tag do %>	
  App.Kissmetrics.kissMetricTrackingCode("<%= AppMetrics::FRESHFONE_METRICS %>");
  App.Phone.Metrics.start(<%= AppMetrics::FRESHFONE_METRIC_EVENTS.to_json.html_safe %>);
  <% end %>
<% end %>
