
<div class="header">
	<div class="brand">
	    	<a class="logo" href="/home">
				<%unless current_account.logo.nil?%>
					<%= image_tag current_account.logo.content.url(:logo) %>
				<%else%>
					<img alt="FreshDesk" src="/images/logo.png" width="50px" height="50px"  />
				<%end%>
			</a>
			<a href="/home"><h3><%= current_account.helpdesk_name %></h3></a>
	</div>		
	<div class="wrapper">
	    <div class="header_links">
	    	<% if current_user then %>              
				Welcome <span class="font_color"><strong><%= link_to current_user.name, edit_user_path(current_user) %></strong>-<%= link_to('Sign out', logout_path) %></span>
			<% else %>
				<%= link_to('login', login_path) %>
			<% end %>				
		</div>
	</div>
	<div class="top_nav_bg"> 
		<div class="wrapper">
			 <% if current_user and permission?(:manage_tickets) then %>
				 <form class="nav_search" action="#">
				 	<div class="search_bar">
						<label class="overlabel" for="header_search">Search</label>				           	
						<input value="" type="text" id="header_search" autocomplete="off" /> 
					</div>
				 </form>
			 <% end %>
			 <div class="top_nav"> 	
				<ul class="tabs">
					<%= navigation_tabs %> 
				</ul>
				<div class="nav_right">
					<% if current_user and permission?(:manage_tickets) then %>
						<%= link_to('<img src="/images/add.png" width="16px" height="16px" /> New Ticket', new_helpdesk_ticket_path, :class => "new_ticket" ) %>
					<% else %>
						<%= link_to('<img src="/images/add.png" width="16px" height="16px" /> Submit a ticket', new_helpdesk_ticket_path, :class => "new_ticket" ) %>
					<% end %> 
				</div> 
			</div>
			
		</div>
	</div>
	
</div>