<head>
	<% if @debuging%>
		<script type="text/javascript">
	    	var t_pagestart = new Date().getTime();
	  	</script>
  	<%end%>
  	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	     Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= h(page_title) %></title>
	<meta name="description" content="<%= page_description %>">
	<meta name="author" content="">
	<meta name="keywords" content="<%= page_keywords %>">
	<!-- Adding meta tag for CSRF token -->
	<%= csrf_meta_tag %>
	<!-- End meta tag for CSRF token -->
	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% unless page_canonical.blank? %>
		<link rel="canonical" href="<%= page_canonical %>" />
	<% end %>
	<link rel="canonical shortcut icon" href="<%= fav_icon_url %>" />

	<!-- TODO-RAILS3 Clean up the below module oriented items -->

	<%= stylesheet_link_tag_with_rtl :'cdn/common' %>
	<%= stylesheet_link_tag_with_rtl :'cdn/pattern', :media => "screen, print, projection"  %>
	<%= stylesheet_link_tag_with_rtl :'cdn/plugins'  %>
	<%= stylesheet_link_tag_with_rtl :'cdn/sprites'  %>
	<%= stylesheet_link_tag_with_rtl :'cdn/app' %>
	<%= stylesheet_link_tag_with_rtl :'cdn/tour_my_app' %>

	<%= stylesheet_link_tag_with_rtl :'cdn/froala_editor' %>

	<% if current_user %>
	  <%= stylesheet_link_tag :'cdn/falcon' %>
	<% end %>

	<script type="text/javascript">
	 /* TODO-RAILS3 need to cross check this area */
	 PROFILE_BLANK_THUMB_PATH = '<%= asset_host_url %>/assets/misc/profile_blank_thumb.jpg';
	 PROFILE_BLANK_MEDIUM_PATH = '<%= asset_host_url %>/assets/misc/profile_blank_medium.jpg';
	 DELETECONFIRM = true;  //To permit the delete confirm box to appear while removing the picture
	 SPACER_IMAGE_PATH = '<%= spacer_image_url %>';
	 FILLER_IMAGES = {
		 imageLoading : '<%= asset_host_url %>/assets/animated/image_upload_placeholder.gif'
	 };
	 cloudfront_version = "<%= CLOUDFRONT_VERSION %>";
	 cloudfront_host_url = "<%= asset_host_url %>";
	 window.attachment_size = "<%= attachment_size %>"; 
	 // Moved out of logged_in? logic check to handle attachment size in public ticket url
	</script>

	<% if logged_in? %>
	<script type="text/javascript">
		window.current_account_id = "<%=current_account.id%>";
		window.current_user_id = "<%= current_user.id %>";
	</script>
	<% end %>

	<%= javascript_include_tag :'cdn/defaults'  %>
	<%= javascript_include_tag :'cdn/frameworks' %>
	<%= javascript_include_tag :'cdn/froala_editor' %>
	<%= javascript_include_tag :'cdn/workspace' %>
	<%= javascript_include_tag :'cdn/pattern'  %>
	<%= javascript_include_tag :'cdn/plugins/fileupload' %>
	<%= javascript_include_tag :'cdn/livechat_helper' %>

	<% if current_account.collaboration_enabled? %>
		<%= stylesheet_link_tag_with_rtl :'cdn/collaboration_header' %>
	<% end %>

	<!-- The following is the remote CDN file managed by Freshapps Team. It is to exec freshapps one by one -->
	<%= javascript_include_tag :"#{MarketplaceConfig::FRESHAPPS_JS_URL}/js/common-0.6.0.min.js" %>

	<% if current_account.features?(:chat) && current_account.chat_setting && !(is_assumed_user?) %>
		<%= javascript_include_tag :'cdn/soundmanager' %>
	<% end %>
	<% if chat_activated? && !current_account.features_included?(:collision_socket) %>
		<%= javascript_include_tag :'cdn/livechat_collision' %>
	<% end %>

	<% if chat_activated? %>
    <%= javascript_include_tag :'cdn/livechat_initializer' %>
	<% end %>


	<%= javascript_include_tag :"cdn/lang/#{I18n.locale.to_s.downcase}" %>


	<!-- for i18n-js translations -->
  <%= javascript_include_tag :"cdn/i18n/#{I18n.locale.to_s}" %>

	<script type="text/javascript">
		Fjax.pjax_parallel_request = null;
		$LAB.setGlobalDefaults({
			BasePath: cloudfront_host_url + '/assets/'
		});
		Fjax.Assets.setup(<%= asset_manifest(:js).to_json.html_safe %>, {app:[], plugins:[]}, "", cloudfront_host_url);
		Fjax.Manager.start();
	</script>

	<script type="text/javascript">
    	I18n.defaultLocale = "<%= I18n.default_locale %>";
    	I18n.locale = "<%= I18n.locale %>";
  	</script>

  <!-- For passing data to javascript -->
   <%= include_gon(:namespace => "App.exports") %>

	<%= yield :head %>
	<% unless Rails.env.development? %>
	<link href="<%= helpdesk_theme_url %>" media="screen" rel="stylesheet" type="text/css">
	<% end %>

</head>

<%if @debuging %>
	<style>
		#benchmarkresult{
			width: 25%;
			display: inline-block;
			position: fixed;
			z-index: 999;
			background: #DFDFDF;
			bottom: 10px;
			right: 10px;
			border: 1px solid gainsboro;
			padding: 10px;
			box-shadow: 2px 2px #AAA;
			color: #333;
			border-radius: 5px;
		}
	</style>
	<div id="benchmarkresult">
	</div>
<%end%>
