<head>
	<% if @debuging%>
	<script type="text/javascript">
    var t_pagestart=new Date().getTime();
  </script>
  <%end%>
  <meta charset="utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
	     Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
  <title><%= page_title %></title>
	<meta name="description" content="<%= page_description %>">
	<meta name="author" content="">                            
	<meta name="keywords" content="<%= page_keywords %>">
		
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% unless page_canonical.blank? %>
		<link rel="canonical" href="<%= page_canonical %>" />
	<% end %>
	<%=fav_icon_url%>
	<%= include_cloudfront_css :common %>
	<%= include_cloudfront_css :plugins  %>
	<%= include_cloudfront_css :sprites  %>
	<%= include_cloudfront_css :app %>
	<%= include_cloudfront_css :non_pattern %>
	<%= include_cloudfront_css :tour_my_app %>
	<%= include_cloudfront_css :ie_hacks %>
	
	<%= render :partial => "shared/theme.css"  %>

	<script type="text/javascript">
		PROFILE_BLANK_THUMB_PATH = '<%= image_path("fillers/profile_blank_thumb.gif") %>';
		PROFILE_BLANK_MEDIUM_PATH = '<%= image_path("fillers/profile_blank_medium.gif") %>';
		FILLER_IMAGES = {
			imageLoading : '<%= image_path("fillers/image_upload_placeholder.gif") %>'
		}
	</script>
	<%= include_cloudfront_js :defaults  %>
	<%= include_cloudfront_js :frameworks %>
	<%= include_cloudfront_js :workspace %>
	<%= include_cloudfront_js :notifications %>
	<%= include_cloudfront_js :redactor  %>

	<%= include_cloudfront_css :pattern, :media => "screen, print, projection"  %>
	<%= include_cloudfront_js :pattern  %>
	<%= include_cloudfront_css :tkt_details, :media => "screen, print, projection"  %>

	<script type="text/javascript">
	  I18n.defaultLocale = "<%= I18n.default_locale %>";
	  I18n.locale = "<%= I18n.locale %>";
	  I18n.fallbacks = true;
	</script>
	<%= include_cloudfront_js I18n.locale.to_s.gsub(/\-/i, '_').to_sym %>
	<% unless I18n.locale == I18n.default_locale %>
		<script type="text/javascript"> var locale_translations = I18n.translations[I18n.locale]; </script>
		<%= include_cloudfront_js I18n.default_locale.to_s.gsub(/\-/i, '_').to_sym %>
		<script type="text/javascript"> I18n.translations[I18n.locale] = locale_translations; </script>
	<% end %>

<script type="text/javascript">
	PROFILE_BLANK_THUMB_PATH = '<%= image_path("fillers/profile_blank_thumb.gif") %>';
	PROFILE_BLANK_MEDIUM_PATH = '<%= image_path("fillers/profile_blank_medium.gif") %>';
</script>	
	<%= include_cloudfront_js :custom_widget %>

	<%= yield :head %>
</head>

<%if @debuging %>
	<style>
		#benchmarkresult{
			width: 25%;
			display: inline-block;
			position: fixed;
			z-index: 999;
			background: #DFDFDF;
			bottom: 10px;
			right: 10px;
			border: 1px solid gainsboro;
			padding: 10px;
			box-shadow: 2px 2px #AAA;
			color: #333;
			border-radius: 5px;
		}
	</style>
	<div id="benchmarkresult">
	</div>
<%end%>

