<head>
	<% if @debuging%>
		<script type="text/javascript">
	    	var t_pagestart=new Date().getTime();
	  	</script>
  	<%end%>
  	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	     Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<title><%= h(page_title) %></title>
	<meta name="description" content="<%= page_description %>">
	<meta name="author" content="">
	<meta name="keywords" content="<%= page_keywords %>">
	<!-- Adding meta tag for CSRF token -->
	<%= csrf_meta_tag %>
	<!-- End meta tag for CSRF token -->
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% unless page_canonical.blank? %>
		<link rel="canonical" href="<%= page_canonical %>" />
	<% end %>
	<link rel="canonical shortcut icon" href="<%= fav_icon_url %>" />
	<%= stylesheet_link_tag :app_common %>
	<%= stylesheet_link_tag :pattern, :media => "screen, print, projection"  %>
	<%= stylesheet_link_tag :plugins  %>
	<%= stylesheet_link_tag :sprites  %>
	<%= stylesheet_link_tag :app %>
	<%= stylesheet_link_tag :non_pattern %>
	<%= stylesheet_link_tag :tour_my_app %>
	<%= stylesheet_link_tag :ie_hacks %>
	<%= stylesheet_link_tag :tkt_details, :media => "screen, print, projection"  %>
	<%= stylesheet_link_tag :'360player' %>
	<%= stylesheet_link_tag :community %>

	<%= stylesheet_link_tag :'freshfone_recording_playback' %>
	<%#= render :partial => "shared/theme.css"  %>

	<script type="text/javascript">
	  /*TODo_RAILS3 need to cross check this area*/
		PROFILE_BLANK_THUMB_PATH = '<%= image_path("fillers/profile_blank_thumb.gif") %>';
		PROFILE_BLANK_MEDIUM_PATH = '<%= image_path("fillers/profile_blank_medium.gif") %>';
		SPACER_IMAGE_PATH = '<%= image_path("spacer.gif") %>';
		FILLER_IMAGES = {
			imageLoading : '<%= image_path("fillers/image_upload_placeholder.gif") %>'
		};
		cloudfront_version = "<%= CLOUDFRONT_VERSION %>";
		cloudfront_host_url = "<%= ActionController::Base.asset_host %>";
	</script>
	
	
	<%= javascript_include_tag :defaults  %>
	<%= javascript_include_tag :frameworks %>
	<%= javascript_include_tag :workspace %>
	<%= javascript_include_tag :redactor %>
	<%= javascript_include_tag :shortcut if shortcuts_enabled? %>
	<%= javascript_include_tag :syntaxhighlighter %>


	<%= javascript_include_tag :pattern  %>
	<%= javascript_include_tag :merge  %>

	<%= javascript_include_tag :custom_widget %>

	<% if current_account.features?(:freshfone) ||
		 (current_account.features?(:chat) && current_account.chat_setting && !(is_assumed_user?)) %>
		<%= javascript_include_tag :soundmanager %>
	<% end %>

	<%#= javascript_include_tag_langs #TODO-RAILS3%>

	<script type="text/javascript">
		Fjax.pjax_parallel_request = null;
		var js_assets = JSON.parse('<%= Jammit.configuration[:javascripts].to_json =%>'.replace(/&quot;/g,'"')),
				css_assets = JSON.parse('<%= Jammit.configuration[:stylesheets].to_json =%>'.replace(/&quot;/g,'"'));
		window.scriptLoader = new ScriptLoader(js_assets, css_assets);
		Fjax.Assets.setup(js_assets, css_assets, cloudfront_version, cloudfront_host_url);
		Fjax.Manager.start();
	</script>


	<%= yield :head %>

	<link href="<%= helpdesk_theme_url %>" media="screen" rel="stylesheet" type="text/css">
	<%= render :partial => 'layouts/shared/app_analytics' if current_user.present? and current_user.agent? and Rails.env.production? %>
</head>

<%if @debuging %>
	<style>
		#benchmarkresult{
			width: 25%;
			display: inline-block;
			position: fixed;
			z-index: 999;
			background: #DFDFDF;
			bottom: 10px;
			right: 10px;
			border: 1px solid gainsboro;
			padding: 10px;
			box-shadow: 2px 2px #AAA;
			color: #333;
			border-radius: 5px;
		}
	</style>
	<div id="benchmarkresult">
	</div>
<%end%>
