<div class="header">
  <div class="brand">
    <% link_to (portal_pref(current_portal, :logo_link).empty?) ? "/home" : portal_pref(current_portal, :logo_link), :class => "logo" do %>
      <%= image_tag (current_portal.logo.nil? ? "/images/logo.png" : current_portal.logo.content.url(:logo)) %>
    <% end %>      
    <%= link_to(current_portal.name, "/home", :class => "logo_text") %>
  </div>		
  <div class="wrapper">
    <div class="header_links">
      <% if current_user then %>              
				<%= content_tag :strong, t('header.welcome') %>
				<%= link_to h(current_user.name), "#", :class => "nav-trigger", :menuid => "#LoggedOptions" %>
     <% else %>
        <%= link_to( t('header.login') , login_path) %>
				<%= link_to( t('signup') , new_support_registration_path ) if feature?(:signup_link) %>
    <% end %>
    </div>     
		<% if current_user then %>                        
		<div class="profile_info" id="LoggedOptions">                          
			<div class="info user clearfix">
				<%= user_avatar current_user %>
				<span><%= truncate(h(current_user.name), :length => 30) %></span>
			</div>
			<span class="seperator"></span>
			<%= link_to "Profile settings", edit_profile_path(current_user), :class => "link" %>
			<% if is_assumed_user? %>    
				<span class="seperator"></span>
				<%= link_to t('revert_identity_link_msg'), revert_identity_users_path, :class => "link" %>
      		<% elsif !is_assumed_user? && (current_user.admin? || current_user.account_admin? || current_user.supervisor?) %>
				<span class="seperator"></span>
				<div class="info">
					<h5><%=t('switch_heading')%></h5>      
					<%= select_tag 'assumed_select_id', options_from_collection_for_select(current_account.users.technicians.visible.allowed_to_assume(current_user), :id, :name), { :class => "customSelect", "data-placeholder"=> t('swith_agent_msg'), "onchange" => "assume_identity_url()", :style => "width:250px" } %>
					<% javascript_tag do%>
					  function assume_identity_url() {
					    window.location = '/users/'+$('assumed_select_id').value+'/assume_identity';
					  }
					<%end%>
				</div>
			<% end %>                      
			<span class="seperator"></span>			
			<%= link_to t('header.signout'), logout_path, :class => "link" %>
		</div>                                                             
		<% end %>
  </div>
	<div class="top_nav_bg"> 
		<div class="wrapper">
			 <div class="top_nav"> 	
				<div class="nav_right">
					<% if current_user and permission?(:manage_tickets) then %>
						<%= link_to( "<span></span> #{t('header.new_ticket')}", new_helpdesk_ticket_path, :class => "new_ticket" ) %>
					<% else %>
						<%= link_to( "<span></span> #{t('header.submit_a_ticket')}", new_support_ticket_path, :class => "new_ticket" ) if allowed_in_portal?(:anonymous_tickets) %>
					<% end %>
					<% if current_user and permission?(:manage_tickets) then %>
					 <% form_tag '/search', :method => :get, :class => "nav_search" do %>
					 	<div class="search_bar" id="SearchBar">
					 	  <span class="searchIcon"></span>
							<label class="overlabel" for="header_search"><%= t("header.search") %></label>
							<input value="" type="text" id="header_search" autocomplete="off" name="search_key" />
						</div>
					 <% end %>
				 <% end %>
				</div>
				<ul class="header-tabs">
					<%= navigation_tabs %> 
				</ul>				 
			</div>			
		</div>
	</div>	
</div>