<div class="header">
    <a href="/helpdesk/dashboard" class="brand">
    	<img alt="FreshDesk" src="/images/logo.png" width="54px" height="47px" class="logo" />
		<h3><%= current_account.name %></h3>
	</a>					
    <div class="header_links">
    	<% if current_user then %>              
		Welcome <%= content_tag(:strong, current_user ? current_user.name : 'Not Logged In') %>      
		<ul>
            <li class="first">
              <%= link_to "My Info", support_guides_path %>
            </li>
            <li>			              
			  <%= link_to('Sign out', logout_path) %>
            </li> 
		</ul>
		<% else %>
		<ul>
			 <li class="first">			              
				<%= link_to('login', login_path) %>
			 </li>
			 <li>
			 	<%= link_to('sign up') %>
			 </li> 
        </ul>
		<% end %>				
	</div>
	<% if current_user then %>
	    <div class="header_tabs">
	    	<ul class="rightHeadElements">
	        	<li>
					<%= link_to('<img src="/images/add.png" alt="FreshDesk home" class="add_new" height="16px" width="16px" /> New Ticket', new_helpdesk_ticket_path, :class=>"ui-bt-grey new_ticket") %>                    
	            </li>
				<li class="search">
				    <div class="searchTxt">
				       	<label class="overlabel" for="header_search">Search</label>				           	
						<input value="" type="text" id="header_search" />
					</div>
					<a class="ui-bt-grey searchbt">GO</a>
				 </li>
	        </ul> 
	        <ul class="tabs">
	        	<% if admin_subdomain? %>
					<li><%= link_to(content_tag('span', 'Subscriptions'), admin_subscriptions_path) %></li>
					<li><%= link_to(content_tag('span', 'Accounts'), admin_accounts_path) %></li>
					<li><%= link_to(content_tag('span', 'Plans'), admin_subscription_plans_path) %></li>
					<li><%= link_to(content_tag('span', 'Discounts'), admin_subscription_discounts_path) %></li>
					<li><%= link_to(content_tag('span', 'Affiliates'), admin_subscription_affiliates_path) %></li>
	  			<% else %>
	            	<%= navigation_tabs %>
	  			<% end %> 
	        </ul>	               
	    </div>
	<% end %>        
</div>