<%= assumed_identity_message %>
<div class="header">
  <div class="wrapper">
	<div class="brand">
	<% link_to (portal_pref(current_portal, :logo_link).empty?) ? "/home" : portal_pref(current_portal, :logo_link), :class => "logo" do %>
		<% cache(["v2","portal","logo",current_portal]) do %>
	  	<%= image_tag (current_portal.logo.nil? ? "/images/logo.png?721013" : current_portal.logo.content.url(:logo)) %>
	  <% end %>
	<% end %>      
	<%= link_to(current_portal.name, "/home", :class => "logo_text") %>
	<%= link_to_function("Switch to mobile version", 
											 "jQuery.cookie('classic_view','false',{path:'/'});location.href='/';", 
											 :class => 'mobile_switchBtn') if mobile_agent? && allowed_domain? %>
	</div>	
	 <% if current_user then %>  
  	<div class="header-link-wrapper">
  		<% if feature?(:round_robin) %>
  		<%
  			availabilty_tooltip = ""
  			if current_user.available?
  				availabilty_tooltip = t('header.user_available')
  			else
  				availabilty_tooltip = t('header.user_not_available')
  			end
  		%>
	  		<a href="#" id="availabilty-toggle" class="tooltip" data-placement="below"  
	  		title="<%= availabilty_tooltip %>" >
	  			<img alt="" height="35px" src="/images/spacer.gif" class="header-icons-autoassign-<%= current_user.available? ? "on" : "off" %>" id="available_icon" onclick="toggleAgent()">
	  		</a>
	  	<% end %>
		<a href="#" class="nav-trigger" menuid="#LoggedOptions" id="header-profile-avatar">
			<%= user_avatar(current_user, :thumb, "preview_pic", {:width => "30px", :height => "30px" }) %>
		</a>
	</div>
	<% else %>
	 	<div class="header_links">
	        <%= link_to( t('header.login') , login_path) %>
			<%= link_to( t('signup') , current_portal.support_signup_path ) if feature?(:signup_link) %>
		</div>
    <% end %>    
	<% if current_user then %>                        
	<div class="profile_info" id="LoggedOptions">                          
		<div class="info user clearfix">
			<span><%= truncate(h(current_user.name), :length => 30) %></span>
		</div>
		<%= link_to "<i class='header-arrow-right'></i> #{t('profile_settings')}", edit_profile_path(current_user), :class => "link" %>
		<% if is_assumed_user? %>    
			<span class="seperator"></span>
			<%= link_to t('revert_identity_link_msg'), revert_identity_users_path, :class => "link" %>			
  		<% elsif !is_assumed_user? && (current_user.admin? || current_user.account_admin? || current_user.supervisor?) %>
  			<% @allowed_to_assume = current_account.users.technicians.visible.allowed_to_assume(current_user) %>
  			<% unless @allowed_to_assume.blank? %>
				<span class="seperator"></span>
				<div class="info">   	
					<i class='header-arrow-right  top-margin'></i>				
					<input type="hidden" id="assumed_select_id" class="header-agent-select"
					data-placeholder = "<%= t("swith_agent_msg") %>" onchange="assume_identity_url()"/>
					<% javascript_tag do%>
					  function assume_identity_url() {
					    window.location = '/users/'+$('assumed_select_id').value+'/assume_identity';
					  }
					<%end%>
				</div>
			<% end %>
		<% end %>                      
		<span class="seperator"></span>			
		<%= link_to "<i class='header-arrow-right'></i> #{t('header.signout')}", logout_path, :class => "link" %>
	</div>                                                             
	<% end %>
  </div>
	<div class="top_nav_bg"> 
		<div class="wrapper">
			 <div class="top_nav"> 	
				<div class="nav_right">
					<% if current_user and permission?(:manage_tickets) then %>
						<%= link_to( "<span></span> #{t('header.new_ticket')}", new_helpdesk_ticket_path, :class => "new_ticket" ) %>
					<% else %>
						<%= link_to( "<span></span> #{t('header.submit_a_ticket')}", new_support_ticket_path, :class => "new_ticket" ) if allowed_in_portal?(:anonymous_tickets) %>
					<% end %>
          <% if current_user then %>
					 <% form_tag (es_enabled? ? search_home_index_path : search_index_path), :method => :get, :class => "nav_search" do %>
					 	<div class="search_bar" id="SearchBar">
					 	  <span class="searchIcon"></span>
							<label class="overlabel" for="header_search"><%= t("header.search") %></label>
							<input value="" type="text" id="header_search" autocomplete="off" name="search_key" data-es-enabled="<%= es_enabled? %>" />
						</div>
					 <% end %>
          <% end %>
				</div>
				<ul class="header-tabs">
					<%= navigation_tabs %> 
				</ul>				 
			</div>			
		</div>
	</div>
	<div class="animated top-loading-wrapper hide">
		<div class="top-loading-strip">
		</div>
		<div class="loadingmsg">
			<%=t('index_tooltip_loading_msg')%>
		</div>
	</div>	
</div>
<% if feature?(:gamification) and current_user and current_user.agent? %>
	<% content_for :pagefixed do %>
	  <% javascript_tag do %>
	  	FD.Notifications.init({ 
	  		pollInterval:300000
			});
	  <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
	jQuery(document).ready(function() {
	<%
		@allowed_to_assume = current_account.users.technicians.visible.allowed_to_assume(current_user) 
		assume_agent = []
		
		if @allowed_to_assume
			@allowed_to_assume.each do |req|
				assume_agent << "{id: '#{req.id}',
	                  value: '#{escape_javascript(req.name)}',
	                  text: '#{escape_javascript(req.name)}'}"
			end
		end
	%>
		jQuery("#assumed_select_id").select2("val",[]);

		jQuery('#assumed_select_id').select2({
		multiple: false,
		data: [<%=assume_agent.join(",")%>]
		
	});

});


</script>

<% javascript_tag do %>
 function toggleAgent() {
	var user_id = '<%= current_user.id %>'
  	var value = ( jQuery("#available_icon").attr("class") == "header-icons-autoassign-on" )
 
  	new Ajax.Request('/agents/toggle_availability', 
                   { parameters: {value: !value, id: user_id},
                      onLoading: function() {
                        jQuery('#available_icon').addClass('header-spinner')
                      },
                      onSuccess: function(response) {
                       //change the icon class.
                      jQuery('#available_icon').removeClass('header-spinner')
                      if (jQuery('#available_icon').hasClass('header-icons-autoassign-on'))
                      {
                        jQuery('#available_icon').removeClass('header-icons-autoassign-on').addClass('header-icons-autoassign-off')
                        jQuery('#availabilty-toggle')
                        	.attr('title',"<%= t('header.user_not_available') %>")
                      }
                      else{
                        jQuery('#available_icon').removeClass('header-icons-autoassign-off').addClass('header-icons-autoassign-on')
                        jQuery('#availabilty-toggle')
                        	.attr('title',"<%= t('header.user_available') %>")
                      }


                     } });
}

<% end %>

