<div class="header">
  <div class="brand">
    <% link_to (portal_pref(current_portal, :logo_link).empty?) ? "/home" : portal_pref(current_portal, :logo_link), :class => "logo" do %>
      <%= image_tag (current_portal.logo.nil? ? "/images/logo.png" : current_portal.logo.content.url(:logo)) %>
    <% end %>      
    <%= link_to(current_portal.name, "/home", :class => "logo_text") %>
  </div>		
  <div class="wrapper">
    <div class="header_links">
      <% if current_user then %>              
        <%= t('header.welcome') %><span class="font_color"><strong><%= link_to current_user.name, edit_profile_path(current_user) %></strong>-<%= link_to(t('header.signout'), logout_path) %></span>
      <% else %>
        <%= link_to( t('header.login') , login_path) %>
		<%= link_to( t('signup') , new_support_registration_path) if feature?(:signup_link) %>
      <% end %>				
    </div>
  </div>
	<div class="top_nav_bg"> 
		<div class="wrapper">
			 <div class="top_nav"> 	
				<div class="nav_right">
					<% if current_user and permission?(:manage_tickets) then %>
						<%= link_to( "<span></span> #{t('header.new_ticket')}", new_helpdesk_ticket_path, :class => "new_ticket" ) %>
					<% else %>
						<%= link_to( "<span></span> #{t('header.submit_a_ticket')}", new_support_ticket_path, :class => "new_ticket" ) if allowed_in_portal?(:anonymous_tickets) %>
					<% end %>
					<% if current_user and permission?(:manage_tickets) then %>
					 <% form_tag '/search', :method => :get, :class => "nav_search" do %>
					 	<div class="search_bar">
							<label class="overlabel" for="header_search"><Search><%= t("header.search") %> </label>				           	
							<input value="" type="text" id="header_search" autocomplete="off" name="search_key" />
						</div>
					 <% end %>
				 <% end %>
				</div>
				<ul class="tabs">
					<%= navigation_tabs %> 
				</ul>				 
			</div>			
		</div>
	</div>	
</div>