<%= assumed_identity_message %>
<div class="header">
  <div class="wrapper">
  	<div class="wrapper-shadow">
		<div class="brand">
			<%= link_to (portal_pref(current_portal, :logo_link).empty?) ? "/home" : portal_pref(current_portal, :logo_link), :class => "logo" do %>
				<span class="vertical-align logo-image">
					<i></i>
					<%= image_tag logo_url, :alt => t('logo'),
                    :onerror => "default_image_error(this)",
                    :"data-type" => "logo" %>
				</span>
			<% end %>
			<%= link_to(h(current_portal.name), "/home", :class => "logo_text") %>
			<%= link_to_function("Switch to mobile version",
								"jQuery.cookie('classic_view','false',{path:'/'});location.href='/';",
								:class => 'mobile_switchBtn') if mobile_agent? && allowed_domain? %>
		</div>	
		<div class="header-wrapper">
			<% if current_user then %>  
			  	<div class="header-link-wrapper">
			  		<% if current_account.freshfone_active? %>
							<a href="#" id="freshfone-presence-toggle" class="tooltip"
								data-placement="below"  
							 	title="<%= current_user.freshfone_user_online? ? "Accepting calls" : "Not accepting calls" %>" data-html="true">
							 	<img alt="" height="35px" src="/images/spacer.gif" class="<%="header-icons-agent-ffone-" + (case current_user.freshfone_user.presence when 0 then "off" when 1 then "on" when 2 then "busy" else current_user.freshfone_user.presence.to_s end)%>">
			  			</a>
			  		<% end %>
			  		<% if feature?(:round_robin) && current_user.in_round_robin? %>
			  		<%
			  			availabilty_tooltip = ""
			  			if current_user.available?
			  				availabilty_tooltip = t('header.user_available').html_safe
			  			else
			  				availabilty_tooltip = t('header.user_not_available').html_safe
			  			end
			  		%>
				  		<a href="#" id="availabilty-toggle" class="tooltip" data-placement="below"  
				  		title="<%= availabilty_tooltip %>" data-html="true">
				  			<img alt="" height="35px" src="<%= spacer_image_url %>" class="header-icons-agent-roundrobin-<%= current_user.available? ? "on" : "off" %>" id="available_icon" onclick="toggleAgent()">
				  		</a>
				  	<% end %>
					<a href="#" class="nav-trigger" menuid="#LoggedOptions" id="header-profile-avatar">
						<%= user_avatar(current_user, :thumb, "preview_pic", {:width => "30px", :height => "30px" }) %>
					</a>
				</div>
			<% else %>
			 	<div class="header_links">
			        <%= link_to( t('header.login').html_safe , login_path) %>
					<%= link_to( t('signup').html_safe , support_signup_path ) if feature?(:signup_link) %>
				</div>
		    <% end %>    
			<% if current_user then %>                        
				<div class="profile_info" id="LoggedOptions">                          
					<div class="info user clearfix">
						<span><%= truncate(h(current_user.name), :length => 30) %></span>
					</div>
					<%= link_to t('profile_settings').html_safe, edit_profile_path(current_user), :class => "link" %>
					<span class="seperator"></span>
					<div class="link custom">
						<span><%= t('header.toggle_shortcuts').html_safe %></span>
						<span class="pull-right">
							<%= check_box_tag(:toggle_shortcut, 0, shortcuts_enabled?, {:rel => "toggle"}) %>
						</span>
						<span class="shorcuts-info description">
							<%= t('header.shortcuts_info').html_safe %>
						</span>
					</div>
					<% if is_assumed_user? %>
						<%= link_to t('revert_identity_link_msg').html_safe, revert_identity_users_path, :class => "link" %>			
					<% elsif privilege?(:manage_users) && !current_user.agent.assumable_agents.blank? %>  			
						<span class="seperator"></span>
						<div class="info">
							<input type="hidden" id="assumed_select_id" class="header-agent-select"
							data-placeholder = "<%= t("swith_agent_msg") %>" onchange="assume_identity_url()"/>
							<%= javascript_tag do%>
							  function assume_identity_url() {
							    window.location = '/users/'+$('assumed_select_id').value+'/assume_identity';
							  }
							<%end%>
						</div>
					<% end %>                    
					<span class="seperator"></span>			
					<%= link_to t('header.signout').html_safe, logout_path, :class => "link" %>
				</div>    
				<% if current_user.agent? %>
					<div id="product_notify_header" class="header-notification-wrapper" rel="remote-load" 
			    		data-url="/notification/product_notification">
			    	</div>
		    	<% end %>
			<% end %>
		</div>
	</div>
  </div>
	<div class="top_nav_bg">
		<div class="wrapper">
			<div class="wrapper-shadow">
				 <div class="top_nav">
					<div class="nav_right">
					<% if (current_user && current_user.agent?) && (!(privilege?(:manage_canned_responses)) || !(privilege?(:manage_scenario_automation_rules)))%>
						<div class="dropdown nav_settings">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<span class='ficon-gear'></span>
								<%= t('account.settings') %>
							</a>
							<ul class="dropdown-menu">
								<% if !(privilege? (:manage_canned_responses))%>
								<li>
									<%= link_to t('canned_folders.responses'),folders_helpdesk_canned_responses_path %> 
								</li>
								<%end%>
								<% if !(privilege?(:manage_scenario_automation_rules))%>
								<li>
									<%= link_to t('automations.title'),helpdesk_scenario_automations_path %>
								</li>
								<%end%>
							</ul>
			            </div>
			        <%end%>
						<% if privilege?(:manage_tickets) then %>
							<%= link_to( "<span></span> #{t('header.new_ticket')}".html_safe, new_helpdesk_ticket_path,
									:class => "new_ticket tooltip" ,
									:title => t("header.new_ticket_tip").html_safe,
									'data-placement' => "below",
									"data-keybinding" => shortcut('app_nav.ticket_new') ) %>
						<% else %>
							<%= link_to( "<span></span> #{t('header.submit_a_ticket')}".html_safe, new_support_ticket_path, :class => "new_ticket tooltip" ) if allowed_in_portal?(:anonymous_tickets) %>
						<% end %>
						<% if current_user then %>
							<%= form_tag('/search/all', :method => :get, :class => "nav_search") do %>
								<div class="search_bar tooltip" id="SearchBar" title="<%= t("header.search").html_safe %>" data-placement="below">
									<span class="search-icon-inactive"></span>
									<span class="searchIcon nav-search-icon"></span>
									<label class="overlabel" for="header_search"><%= t("header.search").html_safe %></label>
									<input value="" type="text" id="header_search" autocomplete="off" name="term"
										data-keybinding="<%= shortcut('global.search') %>" placeholder/>
								</div>
							<% end %>
						<% end %>
					</div>
					<ul class="header-tabs">
						<%= navigation_tabs %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<%  if logged_in? and current_user.agent?  %>
<script type="text/javascript">
	jQuery(document).ready(function() {
	<%
		assume_agent = []
		if privilege?(:manage_users)
			@allowed_to_assume = current_user.agent.assumable_agents

			if @allowed_to_assume
				@allowed_to_assume.each do |req|
					assume_agent << "{id: '#{req.id}',
		                  value: '#{escape_javascript(req.name)}',
		                  text: '#{escape_javascript(req.name)}'}"
				end
			end
		end
	%>
		jQuery("#assumed_select_id").select2("val",[]);

		jQuery('#assumed_select_id').select2({
		multiple: false,
		data: [<%=assume_agent.join(",").html_safe%>]

	});
  
  jQuery('#toggle_shortcut').bind('change', function(){
    var that = this;
    jQuery(this).attr('disabled', 'disabled')
    jQuery.ajax({
      type: "PUT",
      dataType:"json",
      url: "<%= toggle_shortcuts_agent_path(current_user.agent) %>",
      success: function (response) {
        jQuery(that).removeAttr('disabled');
        if (response.shortcuts_enabled) {
          if(window.shortcuts !== undefined){
            jQuery(document).trigger("shortcuts:invoke");
          } else {
            Fjax.Assets.plugin('shortcut');
          }
        } else {
          jQuery(document).trigger("shortcuts:destroy");
        }
      }
    });
  });

	jQuery('#shortcuts_info').bind('click', function(ev){
		ev.preventDefault();
		jQuery('#shortcut_help_chart').trigger('click');
	});

});


</script>
	<%= javascript_tag do %>
	 function toggleAgent() {
		var user_id = '<%= current_user.id %>'
	  	var value = ( jQuery("#available_icon").attr("class") == "header-icons-agent-roundrobin-on" )

	  	new Ajax.Request("<%= toggle_availability_agent_path(current_user.id) %>",
	                   { parameters: {value: !value, id: user_id},
	                      onLoading: function() {
	                        jQuery('#available_icon').addClass('header-spinner')
	                      },
	                      onSuccess: function(response) {
	                       //change the icon class.
	                      jQuery('#available_icon').removeClass('header-spinner')
	                      if (jQuery('#available_icon').hasClass('header-icons-agent-roundrobin-on'))
	                      {
	                        jQuery('#available_icon').removeClass('header-icons-agent-roundrobin-on').addClass('header-icons-agent-roundrobin-off')
	                        jQuery('#availabilty-toggle')
	                        	.attr('title',"<%= t('header.user_not_available').html_safe %>")
	                      }
	                      else{
	                        jQuery('#available_icon').removeClass('header-icons-agent-roundrobin-off').addClass('header-icons-agent-roundrobin-on')
	                        jQuery('#availabilty-toggle')
	                        	.attr('title',"<%= t('header.user_available').html_safe %>")
	                      }


	                     } });

	}

	Helpdesk.settings = <%= email_template_settings.html_safe %>;
	<% end %>
<% end %>
