<!-- To do - Remove duplicates and use some partials by Shan -->
		<% unless @total_results == 0 %>
			<li><div class="title"><%= (@total_results == 1) ? "Displaying 1 result" : "Displaying Top #{@total_results} results" %></div></li>
		<% end %>
		
		<% unless @searched_tickets.nil? or @searched_tickets.empty? %>
			<li class="ticket_icon">
				<h4>Tickets</h4>
				<% @searched_tickets.each do |ticket| %>
					<%= link_to(Helpdesk::Ticket.search_display(ticket), ticket) %>
				<% end %>
			</li>
		<% end %>
		
		<% unless @searched_users.nil? or @searched_users.empty? %>
			<li class="contact_icon">
				<h4>Users</h4>
				<% @searched_users.each do |user| %>
					<%= link_to(User.search_display(user), user) %>
				<% end %>
			</li>
		<% end %>
		
		<% unless @searched_companies.nil? or @searched_companies.empty? %>
			<li class="company_icon">
				<h4>Companies</h4>
				<% @searched_companies.each do |company| %>
					<%= link_to(company.excerpts.name, company) %>
				<% end %>
			</li>
		<% end %>
		
		<% unless @searched_articles.nil? or @searched_articles.empty? %>
			<li class="solution_icon">
				<h4>Solutions</h4>
				<% @articles.each do |article| %>
					<%= link_to(article.excerpts.title, article) %>
				<% end %>
			</li>
		<% end %>
		
		<% unless @searched_topics.nil? or @searched_topics.empty? %>
			<li class="forum_icon">
				<h4>Forums</h4>
				<% @searched_topics.each do |topic| %>
					<%= link_to(topic.excerpts.title, category_forum_topic_path(topic.forum.forum_category, topic.forum, topic)) %>
				<% end %>
			</li>
		<% end %>
		
		<% if @total_results == 10 %>
			<li>
				<a href="#">See more results for <%= "\"#{@search_key}\"" %> &raquo;</a>
			</li>
		<% end %>
		
		<% if @total_results == 0 %>
			<li>
				<div>No results found</div>
			</li>
		<% end %>