
<div class="freshdesk_satisfaction_survey">
  <div  style="width: 100%;font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <% if !rating && !preview %>
      <hr style="height:0;border:0;margin-top:20px;border-top:1px solid #ccc;">
    <% end %>
    <span style="font-family: Arial, sans-serif; color: #333;font-weight:bold;">
      <%if preview %>
        <% question_label = translation_record.present? ? translation_record.translations.fetch('default_question', {})['question'] || survey.default_question.label : survey.default_question.label %>
      <% else %>
        <% question_label = translation_record.present? ? translation_record.translations.fetch('default_question', {})['question'] || survey_handle.survey.default_question.label : survey_handle.survey.default_question.label %>
      <% end %>
      <%= simple_format(question_label) %>
    </span>
    <table  cellspacing="0" cellpadding="0" style="table-layout:fixed; margin-top:10px; <%= 'margin-left: auto; margin-right: auto;' if rating %>">
    <tr>
      <% JSON.parse((survey || survey_handle.survey).choices).each do |option| %>
          <% choice_face_value = option["survey_question_choice"]["face_value"] %>
          <% choice_bg_color = CustomSurvey::Survey::CUSTOMER_RATINGS_COLOR[choice_face_value] %>
          <% if rating %>
            <td id="<%= "survey_option_header_#{choice_face_value}" %>" style="width: 14.28%; border-right: 2px #fff solid; padding:0; height:8px; background-color:<%= rating == choice_face_value ? choice_bg_color : 'grey' %>;" data-bg-color=<%= choice_bg_color %>></td>
          <% else %>
            <td style="width: 14.28%; border-right: 2px #fff solid; padding:0; height:8px; background-color:<%= choice_bg_color %>;"></td>
          <% end %>
      <% end %>
    </tr>
    <tr>
      <% JSON.parse((survey || survey_handle.survey).choices).each do |option| %>
        <% choice_face_value = option["survey_question_choice"]["face_value"] %>
        <% choice_bg_color = CustomSurvey::Survey::CUSTOMER_RATINGS_TEXT_BGCOLOR[choice_face_value] %>
        <% if rating %>
          <% choice_font_color = rating == choice_face_value ? 'black' : 'grey' %>
          <td class="survey_option <%= rating == choice_face_value ? 'selected' : 'unselected' %>" style="width: 14.28%;  border-right: 2px #fff solid; text-align:center; padding: 16px 0px; background-color:<%= rating == choice_face_value ? choice_bg_color : 'lightgrey' %>;" data-bg-color=<%= choice_bg_color %> data-choice=<%= choice_face_value %>>
            <a href="<%= translation_record.present? ? custom_survey_url(survey_handle, choice_face_value, language) : custom_survey_url(survey_handle, choice_face_value) %>" style="margin:0; padding:5px; text-decoration:none; display:block; color:<%= choice_font_color %>;"><%= translation_record.present? ? translation_record.translations.fetch('default_question', {}).fetch('choices', {})[choice_face_value] || option["survey_question_choice"]["value"] : option["survey_question_choice"]["value"] %></a>
          </td>
        <% elsif preview %>
          <td style="width: 14.28%;  border-right: 2px #fff solid; text-align:center; padding: 16px 0px; background-color:<%= choice_bg_color %>;">
            <a href="<%= preview_custom_survey_url(survey) %>" style="margin:0; padding:5px; text-decoration:none; display:block;"><%= translation_record.present? ? translation_record.translations.fetch('default_question', {}).fetch('choices', {})[choice_face_value] || option["survey_question_choice"]["value"] : option["survey_question_choice"]["value"] %></a>
          </td>
        <% else %>
          <td style="width: 14.28%;  border-right: 2px #fff solid; text-align:center; padding: 16px 0px; background-color:<%= choice_bg_color %>;">
            <a href="<%= translation_record.present? ? custom_survey_url(survey_handle, choice_face_value, language) : custom_survey_url(survey_handle, choice_face_value) %>" style="margin:0; padding:5px; text-decoration:none; display:block;"><%= translation_record.present? ? translation_record.translations.fetch('default_question', {}).fetch('choices', {})[choice_face_value] || option["survey_question_choice"]["value"] : option["survey_question_choice"]["value"] %></a>
          </td>
        <% end %>
      <% end %>
    </tr>
  </table>
  </div>
</div>

<% if rating %>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('.survey_option.unselected').hover(function(event) {
        var choice = jQuery(this).data('choice');
        jQuery(this).css('background-color', jQuery(this).data('bgColor'));
        jQuery(this).find('a').css('color', 'black');
        choiceHeader = jQuery('#survey_option_header_' + choice);
        choiceHeader.css('background-color', choiceHeader.data('bgColor'));
      }, function() {
        var choice = jQuery(this).data('choice');
        jQuery(this).css('background-color', 'lightgrey');
        jQuery(this).find('a').css('color', 'grey');
        choiceHeader = jQuery('#survey_option_header_' + choice);
        choiceHeader.css('background-color', 'grey');
      });
    });
  </script>
<% end %>
