<h5 class="lead"><%=t('.title').html_safe%></h3>
<p><%= t('.para1') %></p>
<p><%= t('.para2') %></p>
<p><%= t('.para3') %></p>
<p><%= link_to t('.para4'), "https://support.freshdesk.com/support/articles/37638-creating-multiple-branded-support", :target => '_blank' %></p>