<% @page_title = t('chatwidget_title') %>
<%= include_cloudfront_css :pattern %>
<%= include_cloudfront_js :pattern %>
<%= include_cloudfront_css :chat %>
<%= include_cloudfront_js :behaviour %>
<%= render :partial => "shared/colorpicker" %>
<% content_for :sidebar do -%>
<%= render :partial => "helpnote" %>
<%- end %>
<div class="chat-header">
	<%= content_tag(:h3, t('chatwidget_title'), :class => "title" ) %> 
</div>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><%=t('freshchat.widget')%></a></li>
    <li><a href="#tab2" data-toggle="tab"><%=t('freshchat.messages')%></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">

      <div class="chat-window-left ui-form clearfix">
		<ul class="ui-form">	
			<li class="inline-field">
				<%= content_tag(:h3, t('freshchat.install_freshchat'), :class => "title" ) %> 
			</li>
			<li class="code-view">
				<textarea id="EmbedCode"><script src="http://<%=AppConfig['app_url'][Rails.env]%>/visitor/load/<%= @chat.display_id%>.js"></script></textarea>
				<div class="intro"><%=t('freshchat.install_msg')%> <a href="#"><%=t('freshchat.setup_link')%></a></div>
			</li>
			
		</ul>

		<div class="ui-form">
			<ul>

				<li>
					<%= content_tag(:h3, t('freshchat.custom_chat_window'), :class => "title" ) %> 
				</li>
			</ul>

			<%
			chat_color = (@chat.preferences != nil)? @chat.preferences['window_color'] : '#777777';
			%>
			<div class="span4">
				<div id="chat_layout">
				  <div id="fc-header" class="chat_fc_header" style="background-color:<%=chat_color%>">
				    <%=t('freshchat.chat_with_us')%>
				    <span id="symbol">
				      <i class="icon-caret-down"></i>
				    </span>
				  </div>
				  <div id="chat-container" style="display: block;background-color:<%=chat_color%>">
				    <div id="chatwindow">
				      <div id="messagewindow" style="border: 1px <%=chat_color%> solid;">
				        <p class="self clearfix">
				         <img src="/images/fillers/profile_blank_thumb.gif" alt="Profile Image">
				          <span class="msg-block">
				            <b><%=t('freshchat.me')%></b>
				            <span class="time">17:15</span>
				            <span class="msg"><%=t('freshchat.hai')%></span>
				          </span>
				        </p>
				      </div>
				      <input type="text" placeholder="Your message" id="inputcontainer">
				    </div>
				  </div>
			    </div>
			   
			</div>

			<div class="span5">
				<ul>
			      	<li class="inline-field window-bgcolor">
				  	<%= content_tag(:label, t('freshchat.chatbox_bgcolor'), :class => "caption" ) %>
					<div class="fields">
						<div class="color">
							<input type="color" maxlength="7" class="color_field required" id="window_color" name=""  data-hex="true" value="<%=(@chat.preferences != nil)? @chat.preferences['window_color'] : '#777777'%>" />
							<label id="window_color_error" generated="true" class="error" style="display:none;"><%=t('freshchat.valid_code')%></label>
						</div>
					</div>
				  	</li>
			  	</ul>

				<ul class="window-position chat-top-space">
					<li class="inline-field">
					  	 <label class="caption"><%=t('freshchat.window_position')%></label> 
						 <div class="fields">
								<label>
									<select name="alignment" class="valid" id="window_position"></select>
								</label>
						 </div>
				  	</li>
				</ul>

				<ul class="window-position chat-top-space">
					<li class="inline-field">
					  	 <label class="caption"><%=t('freshchat.window_offset')%></label> 
						 <div class="fields">
								<label>
									<input type="text" placeholder="10px" id="window_offset" value="<%=(@chat.preferences != nil)? @chat.preferences['window_offset'] : '10px'%>">
								</label>
						 </div>
				  	</li>
				</ul>
			</div>
		</div>

      </div>
      <div class="button-container">
			<a href="/admin/home" class="uiButton floatl"><%=t('freshchat.cancel')%></a>
			<input class="uiButton special" id="chat_preferences" name="commit" type="submit" value="<%=t('freshchat.save')%>">
		</div>
    </div>
    <!--Behaviour and Text-->
    <div class="tab-pane" id="tab2">
    	<div class="chat-window-left clearfix">
    		<form id="behaviour_form">
				<ul class="ui-form">	
				  <li class="inline-field">
				  	 <h3 class="title"><%=t('freshchat.online')%></h3> 
					 <label class="caption"><%=t('freshchat.chat_title')%> (<%=t('freshchat.minimized')%>)</label>
					 <div class="fields">
					 	<input type="text" class="text" size="18" id="title_min" value="<%=(@chat.title_min != nil)? @chat.title_min : t('freshchat.title_min')%>" placeholder="<%=t('freshchat.title_min')%>">
					 	<div class="info-data"><%=t('freshchat.chatmin_tip')%></div> 
					 </div>
				  </li>

				  <li class="inline-field">
					 <label class="caption"><%=t('freshchat.chat_title')%> (<%=t('freshchat.maximized')%>)</label>
					 <div class="fields">
					 	<input type="text" class="text" size="18" id="title_max" value="<%=(@chat.title_max != nil)? @chat.title_max : t('freshchat.title_max')%>" placeholder="<%=t('freshchat.title_max')%>">
					 	<div class="info-data"><%=t('freshchat.chatmax_tip')%></div>
					 </div>
				  </li>

				  <li class="inline-field">
					<label class="caption"><%=t('freshchat.welcome')%></label>
					<div class="fields">
						<input type="text" class="text" id="welcome_msg" size="18" value="<%= (@chat.welcome_msg != nil)? @chat.welcome_msg : t('freshchat.welcome_msg')%>" placeholder="<%=t('freshchat.welcome_msg')%>" >
						<div class="info-data"><%=t('freshchat.welcome_tip')%></div> 
					</div>
				  </li>

				  <li class="inline-field">
					<label class="caption"><%=t('freshchat.thank_title')%></label>
					<div class="fields">
						<input type="text" class="text" id="thank_msg" size="18" value="<%= (@chat.thank_msg != nil)? @chat.thank_msg : t('freshchat.thank_msg')%>" placeholder="<%=t('freshchat.thank_msg')%>" >
						<div class="info-data"><%=t('freshchat.thank_tip')%></div> 
					</div>
				  </li>

				  <li class="inline-field">
					 <label class="caption"><%=t('freshchat.wait_title')%></label>
					 <div class="fields">
					 	<input type="text" class="text" size="18" id="onhold_msg" value="<%= (@chat.onhold_msg != nil)? @chat.onhold_msg : t('freshchat.wait_msg')%>" placeholder="<%=t('freshchat.wait_msg')%>">
					 	<div class="info-data"><%=t('freshchat.wait_tip')%></div>
					 </div>
				  </li>

				  <li class="inline-field">
					<label class="caption"><%=t('freshchat.is_typing_header')%></label>
					<div class="fields">
						<input type="text" class="text" id="is_typing" size="18" 
								value="<%= (@chat.is_typing != nil)? @chat.is_typing : t('freshchat.is_typing')%>"
								placeholder="<%=t('freshchat.is_typing')%>" >
						<div class="info-data"><%=t('freshchat.is_typing_tip')%></div> 
					</div>
				  </li>

				  <li class="inline-field">
				  	<h3 class="title"><%=t('freshchat.prechat_title')%></h3> 
					 <div class="fields marginleftnone">
					 	<div class="ff_item">
							  <label class="item-large"> 
							    <input id="prechat_form" class="filter_item" type="checkbox" value=""> 
							    <span><%=t('freshchat.premsg')%></span>
							  </label>
						 </div>
					 </div>
				  </li>

				  <li class="inline-field prechat_form">
					 <label class="caption"><%=t('freshchat.pre_msg')%></label>
					 <div class="fields marginleftnone">
					 	<input type="text" class="text" size="18" id="prechat_msg" value="<%= (@chat.prechat_msg != nil)? @chat.prechat_msg : t('freshchat.prechat_msg')%>" placeholder="<%=t('freshchat.prechat_msg')%>">
					 	<div class="info-data"><%=t('freshchat.welcome_tip')%></div>
					 </div>
				  </li>

				  <li class="inline-field prechat_form">
					 <label class="caption"><%=t('freshchat.name')%></label>
					 <div class="fields">
					 	<div class="ff_item">
							  <label class="item"> 
							    <input class="filter_item" type="checkbox" checked disabled value="<%=Chat::SHOW %>"> 
							    <span><%=t('freshchat.show')%></span>
							  </label>
							  <label class="item"> 
							    <input class="filter_item" type="checkbox" checked disabled value="<%=Chat::REQUIRED%>"> 
							    <span><%=t('freshchat.required')%></span>
							  </label>
						 </div>
					 </div>
				  </li>

				  <li class="inline-field prechat_form">
					 <label class="caption"><%=t('freshchat.mail')%></label>
					 <div class="fields">
					 	<div class="ff_item">
							  <label class="item"> 
							    <input class="filter_item" id="prechat_mail" type="checkbox" value="<%=Chat::SHOW %>">
							    <span><%=t('freshchat.show')%></span>
							  </label>
							  <label class="item"> 
							    <input class="filter_item" id="prechat_mail_req" type="checkbox" value="<%=Chat::REQUIRED%>"> 
							    <span><%=t('freshchat.required')%></span>
							  </label>
						 </div>
					 </div>
				  </li>

				  <li class="inline-field prechat_form">
					 <label class="caption"><%=t('freshchat.phone')%></label>
					 <div class="fields">
					 	<div class="ff_item">
							  <label class="item"> 
							    <input class="filter_item" id="prechat_phone" type="checkbox" value="<%=Chat::SHOW %>">
							    <span><%=t('freshchat.show')%></span>
							  </label>
							  <label class="item">
							    <input class="filter_item" id="prechat_phone_req" type="checkbox" value="<%=Chat::REQUIRED%>"> 
							    <span><%=t('freshchat.required')%></span>
							  </label>
						 </div>
					 </div>
				  </li>

				  <li class="inline-field">
				  	<h3 class="title"><%=t('freshchat.proactive_title')%></h3>
					 <div class="fields marginleftnone">
					 	<div class="ff_item">
							  <label class="item-large"> 
							    <input class="filter_item" id="proactive_chat" type="checkbox" value="">
							    <span><%=t('freshchat.enable_proactive')%></span>
							    <div class="info-data"><%=t('freshchat.proactive_note')%></div>
							  </label>
							   <span class="proactive_chat">
							   	<%=t('freshchat.greet')%> <span><select id="greet_time"></select></span> <%=t('freshchat.greetend')%>
							   </span>

						 </div>
					 </div>
				  </li>
				</ul>
			</form>
    	</div>
    	 <div class="button-container">
			<a href="/admin/home" class="uiButton floatl"><%=t('freshchat.cancel')%></a>
			<input class="uiButton special" id="behaviour_save" name="commit" type="submit" value="<%=t('freshchat.save')%>">
		</div>
    </div>
  </div>
</div>
<% javascript_tag do %>
(function($){
	behaviour.initialize({position:'<%=(@chat.preferences != nil)? @chat.preferences['window_position'] : "Bottom Right"%>',prechat:'<%= @chat.prechat_form%>',phone:'<%= @chat.prechat_phone%>',mail:'<%= @chat.prechat_mail%>',proactive:'<%= @chat.proactive_chat%>',time:'<%= @chat.greet_time%>'});

	$(document).ready(function (){
		$('#window_color').bind('change', function (){
          	behaviour.changeColor($(this).val());
        });
		$('#window_color').bind('colorpicked', function (){
			behaviour.changeColor($(this).val());
        });
	});
})(jQuery)
<%end%>