<%= content_tag(:label, t('mailbox.email_system'), :class => "control-label") %>
<div class="controls row-fluid">
  <%= select_tag("email[system]", serverProfileoptions.to_s.html_safe, :class => "select2 input-xlarge") %>
</div>

</br>
<span class="seperator"></span>

<div class="control-group">
  <div class="row-fluid">
    <%= content_tag(:label, t('mailbox.incoming_mail_settings'), :class => "lead") %>
    <div class="control-group">
      <%= content_tag(:label, t('mailbox.incoming_mail_server') , :class => "control-label") %>
      <div class="controls">
        <div class="form-inline">
          <%= mailbox.text_field :imap_server_name, :class => "text input-xlarge", :placeholder => t('mailbox.imap_server_name'), :value => @mailbox.imap_server_name %>
          <%= mailbox.text_field :imap_port, :class => "text port input-small", :placeholder => t('mailbox.imap_port'), :value => @mailbox.imap_port %>
          <label for="email_config_mailbox_attributes_imap_use_ssl" class="checkbox pl5 pb0">
            <%= check_box "email_config[mailbox_attributes]", "imap_use_ssl", {:checked => @mailbox.imap_use_ssl}, "true", "false" %>
            <%=t('mailbox.use_ssl')%>
          </label>
        </div>
        <%= content_tag(:div, t('mailbox.imap_server_info'), :class => "info-data") %>
        </br>
        <label for="email_config_mailbox_attributes_imap_delete_from_server" class="checkbox">
          <%= check_box("email_config[mailbox_attributes]", 'imap_delete_from_server', options = { :checked => @mailbox.imap_delete_from_server }, checked_value = "1", unchecked_value = "0") %>
          <%= t('mailbox.delete_from_server') %>
        </label>
    </div>
  </div>

    <div class="control-group">
      <%= content_tag(:label, t('mailbox.authentication'), :class => "control-label") %>
      <div class="controls">
        <%= select_tag("email_config[mailbox_attributes][imap_authentication]", options_for_select(Mailbox::AUTHENTICATION_OPTIONS, @mailbox.imap_authentication), :class => "select2 input-large") %>
        <div class="form-inline mt15 row-fluid">
          <div class="input-prepend tooltip disabled span6" title="<%= t('mailbox.imap_user_name_tooltip')%>" >
            <span class="add-on"><i class="mailbox-username"></i></span>
            <%= text_field_tag "imap_user_name", "", :class => "text credentials input-large", :autocomplete => "off", :placeholder => t('mailbox.user_name'), :rel=> "username", :disabled => true, :value => @mailbox.imap_user_name %>
          </div>
          <%= mailbox.hidden_field :imap_user_name, :id => "hidden_imap_user_name" %>
          <div class="input-prepend ml5 span6">
            <span class="add-on"><i class="mailbox-password"></i></span>
            <%= mailbox.password_field :imap_password, :class => "password-icon credentials input-large", :placeholder => t('mailbox.password'), :value => "" %>
          </div>
          <%= mailbox.hidden_field :imap_folder, :value => "inbox" %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= content_tag(:label, t('mailbox.outgoing_mail_settings'), :class => "lead") %>
<div class="smtp_limit_alert"></div>
<div class="control-group">
  <%= content_tag(:label, t('mailbox.outgoing_mail_server') , :class => "control-label") %>
  <div class="controls">
    <div class="row-fluid">
      <div class="form-inline">
        <%= mailbox.text_field :smtp_server_name, :class => "text input-xlarge", :placeholder => t('mailbox.smtp_server_name'), :value => @mailbox.smtp_server_name %>
        <%= mailbox.text_field :smtp_port, :class => "text port input-small", :placeholder => t('mailbox.smtp_port'), :value => @mailbox.smtp_port %>
        <label for="email_config_mailbox_attributes_smtp_use_ssl" class="checkbox">
          <%= check_box "email_config[mailbox_attributes]", "smtp_use_ssl", {:checked => @mailbox.smtp_use_ssl}, "true", "false" %>
          <%=t('mailbox.use_ssl_tls')%>
        </label>
      </div>
    </div>
    <%= content_tag(:div, t('mailbox.smtp_server_info'), :class => "info-data") %>
  </div>
  </br>
  <div>
    <%= content_tag(:label, t('mailbox.authentication'), :class => "control-label") %>
    <div class="controls">
      <%= select_tag("email_config[mailbox_attributes][smtp_authentication]", options_for_select(Mailbox::AUTHENTICATION_OPTIONS[0..1], @mailbox.smtp_authentication), :class => "select2 input-large") %>
      <div class="form-inline mt15 row-fluid">
        <div class="input-prepend span6">
            <span class="add-on"><i class="mailbox-username"></i></span>
          <%= mailbox.text_field :smtp_user_name, :class => "email-icon text credentials input-large", :autocomplete => "off", :placeholder => t('mailbox.user_name'), :rel=> "username", :value => @mailbox.smtp_user_name %>
        </div>
        <div class="input-prepend ml5 span6">
          <span class="add-on"><i class="mailbox-password"></i></span>
          <%= mailbox.password_field :smtp_password, :class => "password-icon credentials input-large", :placeholder => t('mailbox.password'), :value => ""%>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :pagefixed do -%>
  <% javascript_tag do %>

    jQuery(document).ready(function(){
      jQuery(".smtp_limit_alert").html(jQuery("#email_system").find(":selected").data('smtpAlert'));
      disable_ssl_checkbox();
      jQuery("#email_system")
        .bind("change", function(ev){ 
          _data = jQuery(this).find(":selected").data();
          ['imap', 'smtp'].each(function(name){

            _id = "#email_config_mailbox_attributes_";

            if (_data.server != "") 
              jQuery(_id + name + '_server_name').val(name + "." + _data.server);
            else
              jQuery(_id + name + '_server_name').val(null).attr('placeholder', ((name == "imap") ? 'IMAP Server Name' : 'SMTP Server Name'));
            
            jQuery(_id + name + '_port').val( (name == "imap") ? _data.imapPort : _data.smtpPort );
            jQuery(_id + name + '_use_ssl').val( true ).attr('checked', true);
          });
          jQuery(".smtp_limit_alert").html(_data.smtpAlert);
          disable_ssl_checkbox();
        });

        if (<%= @mailbox.id.nil? %>) jQuery('#email_system').val('Gmail').trigger('change');
    });

    function disable_ssl_checkbox(){
      if (jQuery("#email_system").find(":selected").data().server == "gmail.com"){
        jQuery("#email_config_mailbox_attributes_imap_use_ssl").attr("disabled", "disabled").val(true);
        jQuery('input[name="email_config[mailbox_attributes][imap_use_ssl]"][type="hidden"]').val(true);
      } else {
        jQuery("#email_config_mailbox_attributes_imap_use_ssl").removeAttr('disabled');
        jQuery('input[name="email_config[mailbox_attributes][imap_use_ssl]"][type="hidden"]').val(false);
      }
    }
  <% end %>
<% end %>
