<%= content_tag(:label, t('mailbox.email_system'), :class => "control-label") %>
<div class="controls row-fluid">
  <% email_system = ""%>
  <% if (@email_config.smtp_mailbox && !@email_config.smtp_mailbox.new_record? && @email_config.smtp_mailbox.server_name.split(".")[1])%>
  <% email_system = @email_config.smtp_mailbox.server_name.split(".")[1]%>
    <% unless (email_system == "aol" || email_system == "gmail")%>
      <% email_system = "other" %>
    <% end %>
  <% end %>
  <%= select_tag("email[system]", options_for_select(serverProfileoptions.to_s.html_safe, "other"), :class => "select2 input-xlarge") %>
</div>

<label class="control-label mt20" ><%=t('mailbox.use_mail_server_for').html_safe%></label>
<% @new_imap_record =  @email_config.imap_mailbox.new_record? 
   @new_smtp_record = @email_config.smtp_mailbox.new_record? %>
<div class="controls row-fluid mt20">
  <label class="radio span3 inline">
    <input checked="checked" id="EnableBoth" name="email_config[imap_mailbox_attributes][_destroy]" type="radio" value="0" <%= 'checked="checked"' if @new_imap_record && @new_smtp_record %> >
    <%= t('mailbox.incoming_and_outgoing')%>
  </label>
  <label class="radio inline">
    <input id="EnableOutgoing" name="email_config[imap_mailbox_attributes][_destroy]" type="radio" value="1" <%= 'checked="checked"' if @new_imap_record && !@new_smtp_record %> >
    <%= t('mailbox.outgoing_only')%>
  </label>
</div>

</br>
<span class="seperator"></span>

<div class="control-group" id ="incoming_mailbox_settings">
  <div class="row-fluid">
    <%= content_tag(:label, t('mailbox.incoming_mail_settings'), :class => "lead") %>
    <div class="control-group">
      <%= content_tag(:label, t('mailbox.incoming_mail_server') , :class => "control-label") %>
      <div class="controls">
        <div class="form-inline">
          <%= imap_mailbox.text_field :server_name, :class => "text input-xlarge", :placeholder => t('mailbox.imap_server_name'), :value => @imap_mailbox.server_name %>
          <%= imap_mailbox.text_field :port, :class => "text port input-small", :placeholder => t('mailbox.imap_port'), :value => @imap_mailbox.port %>
          <label for="email_config_imap_mailbox_attributes_use_ssl" class="checkbox pl5 pb0">
            <%= check_box "email_config[imap_mailbox_attributes]", "use_ssl", {:checked => @imap_mailbox.use_ssl}, "true", "false" %>
            <%=t('mailbox.use_ssl')%>
          </label>
        </div>
        <%= content_tag(:div, t('mailbox.imap_server_info'), :class => "info-data") %>
        </br>
        <label for="email_config_imap_mailbox_attributes_delete_from_server" class="checkbox">
          <%= check_box("email_config[imap_mailbox_attributes]", 'delete_from_server', options = { :checked => @imap_mailbox.delete_from_server }, checked_value = "1", unchecked_value = "0") %>
          <%= t('mailbox.delete_from_server') %>
        </label>
    </div>
  </div>

    <div class="control-group">
      <%= content_tag(:label, t('mailbox.authentication'), :class => "control-label") %>
      <div class="controls">
        <%= select_tag("email_config[imap_mailbox_attributes][authentication]", options_for_select(MailboxConstants::AUTHENTICATION_OPTIONS, @imap_mailbox.authentication), :class => "select2 input-large") %>
        <div class="form-inline mt15 row-fluid">
          <div class="input-prepend tooltip disabled span6" title="<%= t('mailbox.imap_user_name_tooltip')%>" >
            <span class="add-on"><i class="mailbox-username"></i></span>
            <%= text_field_tag "user_name", "", :class => "text credentials input-large", :autocomplete => "off", :placeholder => t('mailbox.user_name'), :rel=> "username", :disabled => true, :value => @imap_mailbox.user_name %>
          </div>
          <%= imap_mailbox.hidden_field :user_name, :id => "hidden_imap_user_name", :rel=> "username" %>
          <div class="input-prepend ml5 span6">
            <span class="add-on"><i class="mailbox-password"></i></span>
            <%= imap_mailbox.password_field :password, :class => "password-icon credentials input-large", :placeholder => t('mailbox.password'), :value => "" %>
          </div>
          <%= imap_mailbox.hidden_field :folder, :value => "inbox" %>
        </div>
      </div>
    </div>
  </div>
</div>