	<% if (email.reply_email == "support@#{current_account.full_domain}") %>
		<div class="email-item-default">
			<div class="action_buttons">
				<%= link_to ( "Make primary", make_primary_admin_email_config_path(email), :method => "put" ) unless email.primary_role? %>
				<%= link_to "Change this", edit_admin_email_config_path(email), :class => "last edit-email"  %>
			</div>
			<label>
				Your support email address is <span class="highlight"> <%= email.reply_email %> </span> 
				<div class="info_data">Any email sent to this address will be converted as a ticket</div>
			</label>
		</div>
	<% else %>
		<div class="email-item">
			<div class="action_buttons">
				<%= link_to ( "Make primary", make_primary_admin_email_config_path(email), :method => "put" ) unless email.primary_role? %>
				<%= link_to "Edit", edit_admin_email_config_path(email), :class => "edit-email last"  %>
			</div>	
			
			<div class="item">
				<label><strong>Support email address : </strong>
				<%= content_tag (:span, h(email.reply_email), :class => "highlight") %>
				<% content_tag (:span, "Primary", :class => "primary_email") if email.primary_role? %>
				</label>
			</div> 
			<div class="item">
				<label>You must forward these emails to : 
				<%= content_tag (:span, h(email.to_email), :class => "large highlight" ) %>
				</label>
			</div> 
			<%= content_tag ( :div, content_tag ( :label, "Tickets will be assigned to <strong>#{email.group.name}</strong> group" ) , :class => "item" ) if email.group %>
		</div>
	<% end %>