<% javascript_tag do %> 
	jQuery(document).ready(function(){
		jQuery("#reply_to_id").bind("change keyup", 
											function(ev){
											  if(this.value != ''){
												  reply_email = construct_reply_url(this.value, "<%=current_account.full_domain%>");
												  jQuery("#div_reply_email").text(reply_email);
												  jQuery("#hidden_reply_to").val(reply_email);
												}												
											})
											.trigger("change");
	});
<% end -%>


<% 
	type_check = (type == "edit")
	form_for :email_config, @email_config, 
				:url => (!type_check) ? (admin_email_configs_path) : (admin_email_config_path), 
			    :html => { :method => (!type_check) ? (:post) : (:put) } do |f|
%>
<%= f.error_messages %>
<h3 class="title">
	<% if (type == "edit") %>
		<%=t('edit_email')%>
	<% else %>
		<%=t('add_new_email')%>
	<% end %>
</h3>  
<ul class="ui-form">
	<li>
			<label><%=t('email_configs.info6')%> eg. support@yourcompany.com </label>
			<div class="info-data"><%= t('email_configs.info7') %> </div>
			<%= f.text_field :reply_email, :class => "required text", :id => "reply_to_id" %>						
	</li>
	<li>	
			<label><%=t('email_configs.info8')%></label>
			<%= content_tag(:div, @email_config.to_email, :id => "div_reply_email", :class =>"highlight-textbox-info" )  %>
			<%= f.hidden_field :to_email, :id => "hidden_reply_to" %>
	</li>	
	<li>
			<label><%=t('email_configs.info9')%></label>
			<div class="info-data"><%=t('email_configs.info10')%> </div>
			<%= collection_select(:email_config, :group_id, @groups, :id, :name, options = {:include_blank => "..."}) %>
	</li> 
</ul>
<div class="button-container">
	<div class="floatl">
		<%= link_to(t('delete'), admin_email_config_path(@email_config), :method => 'delete', :confirm => 'Are you sure you want to delete this email?', :class => "uiButton" ) if (type == "edit" and !@email_config.primary_role) %>
	</div>
	<%= f.submit t('save'), :class => "uiButton"  %>
	<%= link_to(t('cancel'), admin_email_configs_path, :class => "uiButton", :id => "email-form-cancel" )  %>
</div> 
<% end %>