<tr>
  <td class="primaryRole">
    <% portal_name = email_config.product ? email_config.product.name : current_account.portal_name%>
    <% if email_config.primary_role? %>
      <%= content_tag :span, "", :title => t('email_configs.primary_supp_email_tool_tip'), :class => "tooltip primary #{font_class(:star)}" %>
    <% else %>
      <%= link_to "", "/admin/email_configs/#{email_config.id}/make_primary", :method => :put, :confirm => t('email_configs.mark_as_primary_msg'), :title => t('email_configs.secondary_supp_email_tool_tip'), :class => "tooltip secondary #{font_class(:star)}" %> 
    <% end %>
  </td>

  <td class="support-email">
    <% if email_config.active? %>
      <%= content_tag(:div, h("#{email_config.name}"), :class => "bold") %>
      <%= content_tag(:div, h("#{email_config.reply_email}"), :class => "wrap ellipsis") %>
    <% else %>
      <%= content_tag(:div, h("#{email_config.name}"), :class => "bold") unless email_config.name.blank?%>
      <div>
        <del><%= content_tag(:div, h("#{email_config.reply_email}"), :class => "reply_email wrap ellipsis") %></del>
        <span class="alert-text"><%= t("email_configs.plain_unverified") %></span>
        <div class="verify-button">
          <%= link_to( t("email_configs.send_verification_email"), deliver_verification_admin_email_config_path(email_config), :class => 'btn btn-mini', :method => :put) unless email_config.active? %>
        </div>
      </div>
    <% end %>
    <% if email_config.imap_mailbox && email_config.imap_mailbox.error_type.to_i > 0  %>
      <div>
        <i id="ficon-notice-o" class="ficon-notice-o"></i>
        <%= link_to t('imap_error'), edit_admin_email_config_path(email_config) %>
      </div>
    <% end %>
  </td>

  <td>
    <% unless email_config.smtp_mailbox %>
      <div class="muted"><%= t("forwarded_to") %> : </div><%= content_tag :span, h(email_config.to_email), :class => "wrap ellipses" %>
    <% else %>
      <%= content_tag :span, t('email_configs.using_custom_mailbox').html_safe, :class => "wrap ellipses" %>
    <% end %>
  </td>
  <td><div class="muted"><%= t("Group") %> : </div><%= content_tag :span, h(email_config.group ? email_config.group.name : "-"), :class => "ellipses" %> </td>

   <td class="text-right">
    <%= link_to t('email_configs.edit'), edit_admin_email_config_path(email_config) , :class => 'btn btn-mini'%>
    <% unless email_config.primary_role %>
      <%= link_to "<i class='icon-trash'></i>".html_safe, admin_email_config_path(email_config), :confirm => "#{t('email_configs.delete_confirm')}", :method => :delete, :class => "btn btn-mini"%>
    <% else %>
      <span title ="<%= t('email_configs.primary_email_delete_alert') %>" class="btn btn-mini tooltip disabled">
        <i class='icon-trash'></i>
      </span>
    <% end %>
  </td>
</tr>
