<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('email_configs.title')%></h3>		
	<p><%=t(:'email_configs.helpcard.info5', :solution_url => 
											current_account.primary_email_config.reply_email) %></p>
	<p><%=t(:'email_configs.helpcard.info19', :solution_url => 
											current_account.primary_email_config.to_email)%></p>
	</br>
	<h3 class="title"><%=t('email_configs.helpcard.info20')%></h3>
	<p><%= t('email_configs.helpcard.info21') %></p> 
	<p><%= t(:'email_configs.spf_info', :solution_url => 'http://support.freshdesk.com/solution/categories/4/folders/7/articles/5-spf-record') %></p> 
</div>