<%
	#@email_configs = Array.new
	reply_email  = "support@yourcompany.com" 
	to_email 	 = "support@yourcompany.freshdesk.com" 
	to_email 	 = @email_configs.first.to_email unless @email_configs.first.nil?
	reply_email  = @email_configs.first.reply_email unless @email_configs.first.nil?
%>
<div class="sidepanel wordwrap">
		<h3 class="title"><%=t('email_configs.title')%></h3> 
		<% if @email_configs.size > 1 %>
		<p><%=t('email_configs.info1')%> <strong><%=reply_email%></strong></p>
		<p><%=t('email_configs.info2')%> <strong><%=to_email%></strong>. <%=t('email_configs.info3')%>.</p>
		<% end %>
		
		<% if feature?(:multi_product) %> <p><%=t('email_configs.info4')%>.</p> <% end %>
		
		<h3 class="title"><%=t('email_configs.reply_emails')%></h3> 
		
		<p><%=t('email_configs.info5')%>.</p>
		<p>While most of your emails will be delivered, to be on the safer side you must create an <a target="_blank" title="Learn more about creating SPF records" href="http://support.freshdesk.com/solution/categories/4/folders/7/articles/5-spf-record">SPF record</a> in your DNS zone file if you are using emails in your own domain. This helps in ensuring proper delivery of email.</p> 
		
		<a target="_blank" href="http://support.freshdesk.com/solution/categories/4/folders/7/articles/2-converting-your-support-email-into-freshdesk-tickets">Read our Email Settings article for more information...</a>
		<!--p>You must create an <a href="#">SPF record</a> in your DNS zone file if you are using emails in your own domain. 
		This helps in ensuring proper delivery of email.</p--> 
</div>	