
<div class="sidepanel wordwrap">
		<h3 class="title"><%=t('email_configs.title')%></h3> 
		<% unless @email_config.reply_email.eql? @email_config.to_email %>
			<p><%=t('email_configs.info1')%> <strong><%= @email_config.reply_email %></strong></p>
			<p><%=t('email_configs.info2')%> <strong><%= @email_config.to_email %></strong>. <%=t('email_configs.info3')%>.</p>
		<% end %>
		
		<h3 class="title"><%=t('email_configs.reply_emails')%></h3> 
		
		<p><%=t('email_configs.info5')%>.</p>
		<p>While most of your emails will be delivered, to be on the safer side you must create an <a target="_blank" title="Learn more about creating SPF records" href="http://support.freshdesk.com/solution/categories/4/folders/7/articles/5-spf-record">SPF record</a> in your DNS zone file if you are using emails in your own domain. This helps in ensuring proper delivery of email.</p> 
		
		<a target="_blank" href="http://support.freshdesk.com/solution/categories/4/folders/7/articles/2-converting-your-support-email-into-freshdesk-tickets">Read our Email Settings article for more information...</a>
</div>	