<% form_for :email_config, @email_config, :url => admin_email_configs_path, :html => { :method => :post } do |f| %>
<%= f.error_messages %>
<h3 class="lead"><%=t('email_configs.title')%></h3>
<ul class="unstyled form-horizontal row-fluid">
	<li class="control-group">
			<label class="control-label" ><%=t('email_configs.name')%></label>
			<div class="controls">
				<%= f.text_field :name, :class => "text span8" %>
				<div class="muted"><%= t('email_configs.name_info_msg') %> </div>
			</div>
	</li>
	<li class="control-group">
			<label class="control-label" ><%=t('email_configs.reply_email')%><span class="required_star">*</span></label>
			<div class="controls">
				<%= f.text_field :reply_email, :class => "required email text span8", :id => "reply_to_id" %>
				<div class="muted"><%= t('email_configs.info7') %> </div>
			</div>
	</li>
	<li class="control-group">	
			<label class="control-label" ><%=t('email_configs.info8')%></label>
			<div class="controls">
				<%= f.hidden_field :to_email, :id => "hidden_reply_to"%>
				<%= content_tag(:div, @email_config.to_email, :id => "div_reply_email", :class =>"highlight-textbox-info span8 clear-left-margin" )  %>
			</div>
	</li>
	<li class="control-group">
			<label class="control-label" ><%=t('email_configs.info9')%></label>
			<div class="controls">
				<%= collection_select(:email_config, :group_id, @groups, :id, :name, options = {:include_blank => "..."},:class =>"select2") %>
				<div class="muted"><%=t('email_configs.info10')%> </div>
			<div class="controls">
	</li> 
	<% if feature?(:multi_product) && !@products.empty? %> 
		<li class="control-group">
			<label class="control-label" ><%=t('email_configs.assign_to_product_msg')%></label>
			<div class="controls">
				<%= collection_select(:email_config, :product_id, @products, :id, :name, options = {:include_blank => "..." },:class =>"select2") %>
				<div class="muted"><%=t('email_configs.assign_to_product_info', :products_path => new_admin_product_path)%></div> 
			</div>
		</li> 
	<% end %>	
</ul>

<div class="button-container pull-right">
	<%= link_to(t('cancel'), admin_email_configs_path, :class => "btn", :id => "email-form-cancel" )  %>
	<%= f.submit t('save'), :class => "btn btn-primary"  %>
</div> 
<% end %>

<% content_for :pagefixed do -%>
  <% javascript_tag do %>
    jQuery(document).ready(function(){
      jQuery("#reply_to_id")
        .bind("change keyup", 
          function(ev){
            if(this.value != ''){
              reply_email = construct_reply_url(this.value, "<%= current_account.full_domain %>");
              jQuery("#div_reply_email").text(reply_email);
              jQuery("#hidden_reply_to").val(reply_email);
            }
        })
        .trigger("change");        
    });
  <%- end %>
<%- end %>
