<% content_for :sidebar do %> 
	<%= render :partial => "helpnote" %>	
<% end %>
 
<div id="emailconfig-list">
  <h3 class="title"><%=t('email_configs.title')%></h3> 
  <div class="intro"><%=t('email_configs.info11')%></div>
    <div class="email-settings">
      <%= render (:partial => "email", :object =>  @email_config) %>
    </div>

    <% if feature?(:multi_product) %> <div class="info-data"><p><%=t('email_configs.info4', :products_path => admin_products_path)%></p></div> <% end %>
</div>