<% content_for :sidebar do %> 
	<%= render :partial => "helpnote" %>	
<% end %>

<% 
	default_email 		= "support@#{current_account.full_domain}"
	isDefaultEmailOnly 	= (@email_configs.first.reply_email == default_email) ? true : false
%> 
<div id="emailconfig-list">
	<h3 class="title">Email Settings</h3>
	
		
	
	<div id="email-settings-list" class="email-settings">
			<% @email_configs.each do |email| %>
				<% if (email.reply_email == default_email) %>
				<div>
					<div class="action_buttons">
						<%= link_to ( "Make primary", make_primary_admin_email_config_path(email), :method => "put" ) unless email.primary_role? %>
						<%= link_to "Change this", edit_admin_email_config_path(@email_configs.first), :class => "last edit-email"  %>
					</div>
					<label>
						Your support email address is <strong class="highlight"> support@<%= current_account.full_domain %> </strong> <%= content_tag (:span, "Primary", :class => "primary_email") if email.primary_role? %><br />
						<span class="info_data">Any email sent to this address will be converted as a ticket</span>
					</label>
				</div>
				<% else %>
				<div class="email-item">
					<%= content_tag(:span, "", :class => "seperator") unless (email == @email_configs.first ) %>
					<div class="action_buttons">
						<%= link_to ( "Make primary", make_primary_admin_email_config_path(email), :method => "put" ) unless email.primary_role? %>
						<%= link_to "Edit", edit_admin_email_config_path(email), :class => "edit-email last"  %>
					</div>	
					
					<div class="item">
						<label>Support email address</label>
						<div class="info_data">Your customers send email to this address</div>
						<%= content_tag (:span, h(email.reply_email), :class => "highlight") %>
						<%= content_tag (:span, "Primary", :class => "primary_email") if email.primary_role? %>
					</div> 
					<div class="item">
						<label>You must forward these emails to</label>
						<%= content_tag (:span, h(email.to_email), :class => "large highlight" ) %>
					</div> 
					<%= content_tag ( :div, content_tag ( :label, "Emails get assigned to #{email.group.name}" ) ) if email.group %>
				</div>
				<% end %>
			<% end %>
		</ol>
	</div> 
	<div class="button-container clearfix">
		<span class="floatl">
			<%= link_to "Add Another Email address", new_admin_email_config_path, :id => "AddEmail", :class => "uiButton"  %>
		</span> 
	</div> 
	
</div>