<% content_for :sidebar do %> 
	<%= render :partial => "helpnote" %>	
<% end %>
 
<div id="emailconfig-list">
	<h3 class="title"><%=t('email_configs.title')%></h3> 
	<div class="intro"><%=t('email_configs.info11')%></div> 
		<h4 class="title"><%=t('email_configs.primary_supp_email')%></h4>
		<div id="primary-email-settings" class="email-settings">
			<%= render (:partial => "email", :object =>  @email_configs.first) %>
		</div>
		<%  if (@email_configs.size > 1) %>
			<%= content_tag( :h4, t('email_configs.add_supp_emails'), :class => "title" ) %>
			<div id="email-settings-list" class="email-settings">
				<% @email_configs.each do |email| %>  
					<%= render (:partial => "email", :object => email) unless email == @email_configs.first %>
				<% end %> 
			</div>
		<% end %> 
	<div class="button-container clearfix">
		<span class="floatl">
			<%= link_to t('email_configs.info12'), new_admin_email_config_path, :id => "AddEmail", :class => "uiButton"  %>
		</span> 
	</div> 
	
</div>