<% content_for :sidebar do %> 
	<%= render :partial => "helpnote" %>	
<% end %>

<div id="emailconfig-list" class="email-settings-header">
  <div class="action_buttons">
    <%= link_to t('email_configs.new_support_email'), new_admin_email_config_path, :class => "last" %>
  </div>
  <h3 class="title"><%=t('email_configs.title')%></h3>
  <div class="intro"><%=t('email_configs.info11')%></div>
</div>
<div class="floatr email-settings-bcc">
  <%= content_tag :label, "#{I18n.t('email_configs.bcc_text')}: #{truncate(current_account.bcc_email, 20, '...')}", :class=> 'floatl' unless current_account.bcc_email.blank?%>
  <%= link_to( (current_account.bcc_email.blank? ? t('email_configs.add_bcc_text') : t('email_configs.edit')) , { :controller => 'admin/account_additional_settings', :action => "assign_bcc_email" }, :class => "dialog2 float2", :title => t('email_configs.set_bcc_email_text'), "data-width" => "400" ) %>
  <%= content_tag :span, "", :class => "tool-tip", :title=> t('email_configs.info17')%>
</div>
<div>
  <h4 class="product-title"><%=t('email_configs.global_support_emails')%></h4>
  <table class="email-config-styled-table">
    <thead>
      <tr>
        <td class="edit">&nbsp;</td>
        <td class="primaryRole">&nbsp;</td>
        <td class="supportMail"><%=t('email_configs.support_email')%></td>
        <td class="to-email"><%=t('email_configs.forwarding_email')%></td>
        <td><%=t('email_configs.group')%></td>
      </tr>
    </thead>
    <tbody>
      <% @global_email_configs.each do |email_config| %>
        <%= render (:partial => "email_config", :object =>  email_config) %>      
      <% end %>
    </tbody>
  </table>
  <div class="email-config-add-email">
      <%= link_to( "<span></span> #{t('admin.products.add_another_email')}", new_admin_email_config_path , :class => "add-email-icon", :id => "addchoice" ) %>
  </div>

  <% if feature?(:multi_product) %>
    <% @products.each do |product| %>
      <h4 class="product-title"><%= product.name %></h4> 
      <table class="email-config-styled-table">
        <thead>
          <tr>
            <td class="edit">&nbsp;</td>
            <td class="primaryRole">&nbsp;</td>
            <td class="supportMail"><%=t('email_configs.support_email')%></td>
            <td class="to-email"><%=t('email_configs.forwarding_email')%></td>
            <td><%=t('email_configs.group')%></td>
          </tr>
        </thead>
        <tbody>
          <% product.email_configs.each do |email_config| %>
            <%= render (:partial => "email_config", :object =>  email_config) %>      
          <% end %>
        </tbody>
      </table>
       <div class="email-config-add-email">
          <%= link_to( "<span></span> #{t('admin.products.add_another_email')}", new_admin_email_config_path(:selected_product => product.id), :class => "add-email-icon", :id => "addchoice" ) %>
      </div>
   <% end %>
  <% end %>
</div>
   