<% javascript_tag do %>
	jQuery(document).ready(function(){		
		jQuery(".grid li a.email").live("click", function(ev){
			ev.preventDefault();
			self = this;
			jQuery.ajax({ url	 : this.href, 
						  success: function(data){
										jQuery(self).parent().parent().html(data);
									}
					});
		});
		
		// Opening the new email support config when there are not emails configured
		if(<%= @email_configs.size %> == 0) jQuery("#AddEmail").trigger('click');
	});
<% end %>

<% content_for :sidebar do %> 
	<div class="sidepanel">
		<h3 class="title">Reply Emails from Freshdesk</h3> 
		<p>You must create an <a href="#">SPF record</a> in your DNS zone file if you are using emails in your own domain. This helps in ensuring proper delivery of email.</p> <a href="#">Learn more about creating SPF records</a>
	</div>	
<% end %>

<div class="pageContent">
	<h3 class="title">Email Settings</h3>	
	<div class="grid">
			<ul>
				<li><b>Users send email to</b></li>
				<li><b>Forward email</b></li>
				<li><b>&nbsp;&nbsp;&nbsp;Group</b></li>
			</ul>
			<% @email_configs.each do |email| %>
			<ul>	
				<li><%= link_to h(email.reply_email), edit_admin_email_config_path(email), :class => "email"  %></li>
				<li class="ellipsis"><%= email.to_email %></li>
				<li>&nbsp;&nbsp;&nbsp;<%= (email.group) ? email.group.name : "" %></li>
			</ul>
			<% end %>	
			
			<div id="emailconfig">
				
			</div>
			<%= link_to_remote "Add Another Email address", 
							   :url  => { :action => "new" },
							   :update => { :success => "emailconfig"},
							   :html => { :class => "addchoice", :id => "AddEmail" }  %>
	</div>
</div>