<% unless @new_show_page %>
<div class="request_panel timeentry_edit">
<% form_remote_for :time_entry, edit, :url => helpdesk_time_sheet_path, 
	:html => { :method => :put, :class => "ui-form dont-validate" } do |f| %>
  <%= render :partial => "/helpdesk/time_sheets/form", :object => f, :type => 'edit' %>
  <fieldset>
    <div class="agent"></div>
	  <div class="timespent"></div>
	  <div class="note">
	    <label class="floatr">
	    <%= t('helpdesk.time_sheets.executed_at')%>
 	      <%= f.text_field :executed_at, :value => edit.executed_at.strftime("%m/%d/%Y"), :size => 10, :class => "auto hide datepicker" %>    	    
 	    </label> 
 	  </div>
	</fieldset>
 	<div class="button-container absolute-button-container">
 	  <%= submit_tag "Update", :class => "uiButton special submit", "data-loading-text" => "Saving time entry..." %>
    <%= link_to_function(t('cancel'), "timesheet.clearEdit(#{edit.id})", :class => "uiButton" ) %>
 	</div>
<% end %>
<%= content_tag :div, "", :id => "timeentry_apps_#{edit.id}", :class => "ui-form" %>
</div>
<% else 
  render :partial => "helpdesk/time_sheets/v2/edit"
end %>
