<div class="request_panel">
<% form_remote_for :time_entry, edit, :url => helpdesk_time_sheet_path, :html => { :method => :put, :class => "ui-form" } do |f| %>
  <%= render :partial => "/helpdesk/time_sheets/form", :object => f %>
  <fieldset>
    <div class="agent"></div>
	  <div class="timespent"></div>
	  <div class="note">
	    <label class="floatr">
	      <%= button_to_function "Change Date", "jQuery(this).hide().next().show().datepicker();" %>
 	      <%= f.text_field :executed_at, :value => edit.executed_at.strftime("%m/%d/%Y"), :size => 10, :class => "auto hide datepicker" %>    	    
 	    </label> 
 	    <label class="checkbox floatl" for="time_entry_billable">
	      <%= f.check_box :billable %>
        Mark as a billable entry 
      </label>
 	  </div>
	</fieldset>
	<%= content_tag :div, "", :id => "timeentry_apps_#{edit.id}" %>
	<%= editTimesheetIntegratedApps(edit) %>
	
 	<div class="button-container">
 	  <%= submit_tag "Update", :class => "uiButton special submit", "data-loading-text" => "Saving time entry..." %>
    <%= link_to_function(t('cancel'), "timesheet.clearEdit(#{edit.id})", :class => "uiButton" ) %>
 	</div>
<% end %>
</div>