<fieldset>
	<div class="agent">
		<label><%= t('.agent')%></label>
		<%= form.collection_select( :user_id, agent_list, :id, :name, { :selected => current_user.id }, { :class => "full" }) %>
	</div>
	<div class="timespent">
		<label><%= t('.hours')%></label>
		<%= form.text_field(:hhmm, { :size => 6, :class => "auto number", :autocomplete => "off" } ) %>
	</div>
	<div class="note">
		<label><%= t('.note')%></label>
		<%= form.text_area(:note, { :rows => 2, :class => "paragraph auto-height" })%>
 		<label class="checkbox floatl" for="time_entry_billable">
	      <%= form.check_box :billable , :checked => true %>
        	<%= t('helpdesk.time_sheets.billable_entry') %>
      	</label>
  </div>		
</fieldset>