<dl>
	<%= ticket_tasks_field(form, agent_list, type) %>
	<dt><%= form.label :hhmm, t('.hours')%> </dt>
	<dd class="hours">
		<%= form.text_field(:hhmm, { 
				:size => 6, :class => "auto hhmm_time_duration", :autocomplete => "off", :placeholder => "HH:MM"
				} ) %>
		<label class="billing_hours floatr">
			<%= form.check_box(:billable, {:checked => (type == :new) ? true : form.object.billable}) %>
			<%= t('.billing_hours')%>
		</label>
		<div class="tip"><%= t('.hours_format_tip') %> </div>
	</dd>

	<dt><%= form.label :executed_at, 'On'%> </dt> 
	<dd> <% datepicker_id = type == :new ? "executed_at_new" : "executed_at_#{dom_id(edit)}" %>
		<%= form.text_field :executed_at, 
						:value => formated_date((type == :new ? Time.zone.now : edit.executed_at), {:format => :short_day_separated, :include_year => true,:translate => false}), 
						:size => 10, :readonly => "readonly" , :class => "auto executed_at datepicker", :id => datepicker_id %>
	</dd>

	<dt><%= form.label :note, t('.note')%> </dt>
	<dd>
		<%= form.text_area(:note, { :rows => 2, :class => "paragraph auto-height" })%>
	</dd>
</dl>
<% if type == :new %>
<script type="text/javascript">
	jQuery('#time_entry_hhmm').qtip({
	    style: {
	      position: {
	      	my: 'top left',
            at: 'bottom  left'
        },
	      classes : 'ui-tooltip-rounded ui-tooltip-shadow ',
	      tip: {
	        mimic: 'center'
	      }
	    },
	    show: {
	      event: 'focus'
	    }
	  });
	
	jQuery('#new_timeentry [data-submit=modal]').attr('data-start-text', '<%= t(".start_timer") %>');
	jQuery('#new_timeentry [data-submit=modal]').button('start');
	jQuery('.modal.in .hhmm_time_duration').keyup(function(ev) {
		if (trim(jQuery(".modal.in .hhmm_time_duration").val()) == '')
			jQuery('#new_timeentry [data-submit=modal]').button('start');
		else
			jQuery('#new_timeentry [data-submit=modal]').button('reset');
	});
	jQuery('#new_timeentry').on('shown', function() {
		jQuery('#time_entry_hhmm').focus();
	});
</script>
<% end %>