<% content_tag :div, :id => "timeentry_add" do %>
	<div class="request_panel timeentry_edit">
  <% form_remote_for :time_entry, 
                   :url => helpdesk_ticket_helpdesk_time_sheets_path(@ticket), 
                   :html => { :id => "add_new_time_entry", :class => "ui-form" }, 
                   :complete => "jQuery('#new_time_submit').button('reset');jQuery('#add_new_time_entry').get(0).reset()" do |f| %>
    <%= content_tag :h4, t(".title"), :class => "title" %>
		<%= hidden_field(:time_entry, :ticket_id , { :value => @ticket.id }  )%>
    <%= render :partial => "/helpdesk/time_sheets/form", :object => f, :locals => { :type => :new } %>
		<div id="timeentry_apps_add">
			<%= render :partial => "integration" %>
		</div>
		<div class="button-container">
       <%= link_to "Start timer", "#", :class => "submit uiButton special", "data-loading-text" => "Saving time entry...", :id => "new_time_submit" %>
  	   <%= button_to_function(t('cancel'), "timesheet.clearEdit();", :class => "uiButton" ) %>
    </div>
  <% end %>
	</div>
<% end %>