  <div class="modal-body">
    <div class="row">
      <div class="span3">
        <label class="small">Agent</label>
        <%= collection_select (:time_entry , :user_id, current_account.users.technicians.visible, :id, :name, {:selected => current_user}, :class => "full") %>
      </div> 
      <div class="span2">
        <label class="small" for="day_entry_hours">Hours</label>
        <%=text_field(:time_entry, :hours, { :size => 4, :id => "time_entry_hours", :class => "auto number hours" })%>
      </div>    
      <div class="span4">
        <label class="small" for="time_entry_notes">Notes</label>
        <%=text_area(:time_entry, :note, { :rows => 1  , :id => "time_entry_notes", :class => "auto-height" })%>
      </div>      
    </div>
  </div>
  <%= hidden_field(:time_entry , :ticket_id , {:value => params[:id], :id=>:time_entry_ticket_id}  )%>
  <div class="modal-footer">
    <button class="btn secondary small close-dialog">Cancel</button>    
    <%= link_to_function("Start Timer", "time_sheet_action('create_timer');", :class => "btn primary" ) %>
  </div>