	<div id='<%="time_entry#{time_entry.id}" %>' >
   		
		<div id='<%="time_entry_detail#{time_entry.id}" %>' style="float: left;" >
			<%=time_entry.user.name%>
		
			<%=get_time_in_hours(time_entry.time_spent)%>
		
			<%=time_entry.note%>
		</div>
	   <!-- edit and delete buttons starts her-->
	   <div style="float: left;" id='<%="timer_control_button#{time_entry.id}" %>'>
	   	  <%= link_to_function ("stop timer", "time_sheet_action('stop_timer','#{time_entry.id}')", :class => "button") if time_entry.timer_running? %>
	      <%= link_to_function ("start timer", "time_sheet_action('start_timer','#{time_entry.id}')", :class => "button") unless time_entry.timer_running? %>
		  
	   </div>
	   <div class="item_actions" id="time_entry_list_actions">
	    <%= link_to_function t('delete'), "time_sheet_action('destroy','#{time_entry.id}')",{:confirm =>"Are you sure?", :class => "button" } %>
		<%= link_to_function t('edit'), "time_sheet_action('edit','#{time_entry.id}')", :class => "button" %>									 
	  </div>
	 
	 <!-- edit and delete buttons ends here-->
	 </div>
	 <!-- list ends here -->
	 
	 <!-- editor starts here -->
	 <div id='<%= "time_entry_edit#{time_entry.id}" %>' style="display:none;" >
	   <form id='<%= "time_entry_edit_form#{time_entry.id}" %>' action="#" >
		 <div>
      		<label class="required">Agent</label>
   		    <div class="content">
   			  <%= collection_select (:time_entry , :user_id, current_account.users.technicians.visible, :id, :name, {:selected => time_entry.user_id}, { :class => "customSelect", :id => "time_entry_agent#{time_entry.id}"}) %>
	 	    </div>
   		 </div>
		 
		 <div>
        	<label for="day_entry_hours">Hours</label>
			<%=text_field(:time_entry, :hours, { :size => 4 , :value => get_time_in_hours(time_entry.time_spent) , :id => "time_entry_hours#{time_entry.id}"})%>
    	 </div>
		 
		 <div>
      		<label for="time_entry_notes">Notes</label>
	 		 <%=text_area(:time_entry, :note, { :rows => 4 , :value =>time_entry.note , :id => "time_entry_notes#{time_entry.id}" })%>
   		 </div>
		 <div>
  				<input type="hidden" id="date-from" name="date-from" value="10/27/2011">
		 </div>
		 
		 <%= hidden_field_tag(:id , time_entry.id,{:id=>:time_entry_id}  )%>
		 
		 <div class="item_actions">
		 	 <%= link_to_function t('save'), "time_sheet_action('update','#{time_entry.id}')",{:class => "button" } %>
			 <%= link_to_function t('cancel'), "time_sheet_action('cancel','#{time_entry.id}')", :class => "button" %>
		 </div>
		 
	   </form>
	 </div>
	 <!-- editor ends here-->
