<div class="time-tracked-details <%= 'time_running' if time_entry.timer_running %>" id="timeentry_<%= time_entry.id %>">
  <% if privilege?(:edit_time_entries, time_entry) %>
    <div class="actions">
      <% @ticket ||= time_entry.workable %>
      <%= link_to t(".toggle_timer_#{!time_entry.timer_running}"), 
                  toggle_timer_helpdesk_time_sheet_path(time_entry), 
                  :method => :put,
                  :remote => true,
                  :class => 'toggle_timer' %>
      <%= link_to(t('edit'), 
                    edit_helpdesk_ticket_time_sheet_path(@ticket, time_entry), 
                    "rel" => 'freshdialog', "data-target" => "#edit_timeentry_#{time_entry.id}",
                    "data-width" => 450,
                    "data-submit-label" => t('update'),
                    "id" => "edit_#{time_entry.id}",
                    :title => 'Edit Timesheet' ) unless time_entry.timer_running %>
      <%= link_to "delete", helpdesk_time_sheet_url(time_entry), 
                  :method => :delete,
                  :remote => true,
                  :confirm => "Delete this time entry?" %>
    </div>
  <% end %>
  <div class="requester-avatar-wrap"><%= user_avatar(time_entry.user, :thumb, 'small') if time_entry.user %></div>
  <div class="details">
    <h4>
      <%= link_to_user(time_entry.user, :class => "user_name" , :rel =>"", :'data-pjax' => '#body-container') %>
      <span class="tracked_time">
        <%= content_tag :span, get_time_in_hours(time_entry.running_time), 
                            :class => "time",
                            "data-running-time" => time_entry.running_time,
                            "data-timer-running" => time_entry.timer_running,
                            :id => "timeentry_timer_#{time_entry.id}" %>
        <span class="time_unit">Hrs </span>

      </span>
    </h4>
    <div class="info">
      <div class="time_stamp">
        <%# content_tag(:div, "Timer started @ #{formated_date(time_entry.start_time, "%I:%M %p")} ", :class => "started_time") if time_entry.timer_running %>
        <span>on <%= formated_date(time_entry.executed_at, {:format => :short_day_with_week}) %></span>
      </div>
      <div class="is_billable">
        <%= time_entry.billable ? t('helpdesk.time_sheets.billable') : t('helpdesk.time_sheets.non_billable') %>
      </div>
    </div>
    <div class="note">
      <%= time_entry_note(h(time_entry.note) || "") %>
    </div> 
  </div>
</div>