<div id="timeentry_<%= time_entry.id %>">
  <div class="timeentry" id="timeentry_view_<%= time_entry.id %>">
    	<div class="user_details">
    		<%= content_tag(:span, "", :class => "billable") if time_entry.billable %>	
    		<%= user_avatar(time_entry.user) if time_entry.user %>
    		<%= link_to_user(time_entry.user, "user_name") %>
    		<%= formated_date(time_entry.start_time, "%A, %e %b %Y @ %I:%M %p") %>
    	</div>
    	<div class="timespent">
    		<!-- <a href="#" class="slim-button">start</a> -->
    		<% current_clock_class = (time_entry.timer_running) ? "animated" : "" %>
    		<%= content_tag :span, "<span class=\"timer\"></span>", :class => "clock #{current_clock_class}" %>
				<%# get_time_in_hours(time_entry.time_spent) %>
    		<%= time_entry.hours %>
    	</div>
    	<div class="note">
    		<%= RedCloth.new("#{time_entry.note}").to_html %>
    	</div>
	
    	<%= link_to_remote( t('edit'), 
    	                    :url => edit_helpdesk_time_sheet_path(time_entry), 
    	                    :method => :get ) %> 
    	- 
    	<%= link_to_remote( t('delete'),
                          :url => helpdesk_time_sheet_url(time_entry),
                          :method => :delete,
                          :confirm => "Delete this time entry?" ) %>
  </div>
  <div id="timeentry_edit_<%= time_entry.id %>"></div>
</div>