<%= render(:partial => "helpdesk/time_sheets/new", :locals => { :ticket_id => @ticket.id }) %>

<div id="timesheetlist">
	<%= each_or_message "helpdesk/time_sheets/time_entry", @ticket.time_sheets, t(".no_timeentry") %>
</div>
<div id="timesheettotal" class="timeentry <%= @ticket.time_sheets.blank? ? 'hide' : '' %>">
	<div class="user_details"><%= t("total") %></div>
	<div class="timespent">
	  <%= content_tag :span, get_total_time(@ticket.time_sheets), 
                    :class => "time",
                    :id => "timeentry_timer_total" %>
	</div>
</div>

<% javascript_tag do %>
  new PeriodicalExecuter(function(pe) {
     jQuery("div.time_running .time")
                    .each(function(){
                      seconds = jQuery(this).data('runningTime');
                  	  timeout = 10 - seconds%10;
                  	  jQuery(this)
                  	    .html(sprintf( "%0.02f", seconds/3600))
                  	    .data('runningTime', seconds+timeout);                	    
                    });
     totalTime("#timesheetlist .time", "#timeentry_timer_total");
  }, 10);
  
  function timeCount(){
    count = jQuery("#timesheetlist div.timeentry").size();    
    jQuery("#TimesheetCount").html(count);
    jQuery("#TimesheetCount, #timesheettotal").toggle(count != 0)
    jQuery("#timesheetlist div.list-noinfo").hide();
    totalTime("#timesheetlist .time", "#timeentry_timer_total");
  }
  
  jQuery("#timesheetlist div.timeentry")
      .livequery( timeCount, timeCount );
        
<% end %>
