<li>
	<%= user_avatar( ticket.requester ) %>
	<%= link_to("##{ticket.display_id} " + h(ticket.subject), ticket, :class => "title") %>
	<div class="info_data">
		<%= formated_date(ticket.created_at) %>
		|
		<% if ticket.freshness == :new %>
	     	<%=t('ticket.unassigned')%>
	  	<% else %>
	  		<%=t('ticket.assigned_to')%> <%= link_to(h(ticket.responder.display_name), ticket.responder, :class => 'username') %>
		<% end %>| <%=t('ticket.status')%> <%= ticket.status_name %>
	</div>
</li>		