<%= "The errors in the object are #{@object.errors.to_json}\n" if @object %>

<%= "The param is #{@params.inspect}\n" if @params %> 

<%= "The error type is #{@error.to_s}\n" if @error %>

<% if @additional_info %>
Some useful information are,
<ul>
	<% @additional_info.each_pair do |k, v| %>
		<li><%= k.to_s.humanize %> : <%= v %></li>
	<% end %>
</ul>
<% end %>
