<div class="adm-social adm-bg bdr clearfix">
  <div class="smedia-spec">
    <div class="profile-logo pull-left"><%= image_tag(s3_twitter_avatar(twitter_handle), size: "50x50") %></div>
    <div class="profile-name pull-left"><%= link_to "#{twitter_handle.screen_name}", "http://twitter.com/#{twitter_handle.screen_name}", :target => "_blank", :class => "title" %> <span>@<%= twitter_handle.screen_name %></span><p>This stream will contain all your @mentions</p></div>
    <div class="social-brand pull-right"><%= font_icon "twitter", :size => 48 %></div>
  </div>
</div>
<br /><br />

<div class="adm-social adm-p">
  <div class="row-fluid">
    <div class='form_data span11 mlt'>
      <% if current_account.products.any? %>
        <div class="control-group span6">
          <label><%= t('admin.social.twitter_streams.edit.link_to_product') %></label>
          <%= collection_select(:social_twitter_handle, :product_id, current_account.products, :id, :name, { :include_blank => 'Default Product', :selected => twitter_handle.product_id }, :class => 'select2-container select2 span12')%>
        </div>
      <% end %>
      
      <div class="control-group span6">
        <label><%= t('admin.social.twitter_streams.edit.visible_to') %> <span class="field-important ">*</span></label>
        <%= visibility_options(twitter_handle)%>
      </div>
    </div>
  </div>
</div>


           
