<% if @twitter_stream.new_record? or !@twitter_stream.default_stream? %>
  <h5 class="lead"><%=t('admin.social.helpcard.stream_title1').html_safe%></h3> 
  <p><%=t('admin.social.helpcard.stream_info1').html_safe%></p>
  <h5 class="lead"><%=t('admin.social.helpcard.stream_title2').html_safe%></h3> 
  <p><%=t('admin.social.helpcard.stream_info2').html_safe%></p>
<% else %>
  <h5 class="lead"><%=t('admin.social.helpcard.handle_title1').html_safe%></h3> 
  <p><%=t('admin.social.helpcard.handle_info1').html_safe%></p>
  <h5 class="lead"><%=t('admin.social.helpcard.handle_title2').html_safe%></h3> 
  <p><%=t('admin.social.helpcard.handle_info2').html_safe%></p>
<% end %>

