<% if @ticket_rules.blank? %>
  <%= render :partial => 'ticket_rule_form', :locals => { :ticket_rule => @twitter_stream.new_ticket_rule} %>
<% else %>
  <% @ticket_rules.each_with_index do |ticket_rule| %>
    <%= render :partial => 'ticket_rule_form', :locals => { :ticket_rule => ticket_rule}%>
  <% end %>
<% end %>
<a href="" id="add_new_rule" class="add-another"><%= font_icon "plus", :size=>"14" %><%= t('admin.social.ticket_rules.add') %></a>

<%= javascript_tag  do %>

  jQuery(document).on('click', '#add_new_rule', function (event) {
    event.preventDefault();
    jQuery('#add_new_rule').remove();
    jQuery("#ticket_rules").append("<%= escape_javascript(render :partial => 'ticket_rule_form', :locals =>{:ticket_rule => @twitter_stream.new_ticket_rule})%>");
    jQuery("#ticket_rules").append('<a href="" id="add_new_rule" class="add-another"><%= font_icon "plus", :size=>"14" %> <%= t('admin.social.ticket_rules.add') %></a>');
  });

  jQuery(document).on('click', ".ce-btn", function() {
    if (jQuery(this).closest('.tkt-rule').find('.form_data').is(':visible')){
      jQuery(this).find('i').removeClass('icon-minus');
      jQuery(this).find('i').addClass('icon-plus');
    }
    else{
      jQuery(this).find('i').removeClass('icon-plus');
      jQuery(this).find('i').addClass('icon-minus');
    }
    jQuery(this).closest('.tkt-rule').find('.form_data').slideToggle();
  });

  jQuery(document).on('click', ".delete_ticket,.ce-btn", function(){
   jQuery(this).parents(".form-horizontal").find(".ticket_deleted").val("true");
   jQuery(this).parents(".form-horizontal").hide();
  });


<% end %>
