 
<%= javascript_include_tag :'cdn/social_admin' %>
<%= stylesheet_link_tag_with_rtl :'cdn/social' %>
<% content_for :sidebar do -%>&nbsp;<%-end %>
<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
<% end %>

<%= form_for @twitter_stream, :url => admin_social_twitter_streams_path(@twitter_stream), :html => {:method => :post, :rel => "validate", :multipart => "true"  } do |f| %>
  <div class="floatr">
    <%= link_to(t('admin.social.streams.cancel'), :admin_social_streams , :class => "btn margin-right" ) %>
    <%= submit_tag t('.create') , :class => "btn btn-primary", :id => "update_stream" %>
  </div>
  <h3 class="title"><%= t('.title') %></h3><hr />

  <%= render :partial => 'form', :locals => { :twitter_stream => @twitter_stream } %>

  <div class="adm-social sts">
    <h4 class="adm-title"><%= t('admin.social.ticket_rules.title') %></h3>
    <p><%= t('admin.social.ticket_rules.brief_desc') %></p>
    <div class="rules-wrapper">
      <%= render :partial => 'ticket_rules_header', :locals => { :twitter_stream => @twitter_stream } %>
      <div id = "ticket_rules" class="adm-social sts adm-bg c-tkt bdr">
        <%= render :partial => 'ticket_rules', :locals => { :ticket_rules => @ticket_rules } %>
      </div>
    </div>
  </div>


<% end %>

<div id="previewFeeds"></div>
