<div class="search_results_bar" id="SearchResultsBar"> 
	<ul class="helpdesk_ticket_results helpdesk_note_results results"><li><h4><%= t('search.tickets') %></h4></li></ul> 
	<ul class="customer_results results"><li><h4><%= t('search.companies') %></h4></li></ul>
	<ul class="topic_results results"><li><h4><%= t('search.forums') %></h4></li></ul>
	<ul class="solution_article_results results"><li><h4><%= t('search.solutions') %></h4></li></ul>
	<ul class="user_results results"><li><h4><%= t('search.contacts') %></h4></li></ul>
	<ul class="results_info results"></ul>
	<ul class="recent_searches_results results"><li><h4><%= t('search.recent_searches') %></ul>
	<ul class="recent_tickets_results results"><li><h4><%= t('search.recently_viewed') %></ul>

</div>