<% 
	placeholder ||= "Search"
	url			||= "/search/home?term="
%>
<form class="page-search" >
	<span class="search-input-wrap">
		<input class="search" type="text" id="PageSearch" placeholder="<%= placeholder.html_safe %>" /> 
	</span>
</form>

<ul id="page_search_results" style="display:none;" class="community-search result-wrapper"></ul>

<script type="text/javascript">
var afterSearchLoaded = function(){
	window.SEARCH_RESULT_LANG = {
		by : "<%= t('search.by') %>",
		in : "<%= t('search.in') %>"
	}
	
	callbackToPageSearch = function(string){
								jQuery.ajax({ 
									url: "<%=url%>"+encodeURIComponent(string),
									dataType: "json",
									success: function(data){
										var result_list = jQuery("#page_search_results");
										var resultHtml = ''
										if(data.results.length){
								 			data.results.each(function(result){
												var resultType = result.result_type
												if(result) { resultHtml += (JST[resultType](result)); }
											})
										} else {
											resultHtml = '<li><%= t("search.no_results_msg") %></li>'
										}
										result_list.html(resultHtml).show();
										jQuery("#PageSearch").parent().removeClass("sloading loading-small");
									}});
								};
				
	jQuery("#PageSearch").bind("keyup", function(ev){
		var searchString = this.value.replace(/^\s+|\s+$/g, "");
		var result_list = jQuery('#page_search_results');
		if(searchString != '' && searchString.length > 1){
			result_list.hide().empty();
			setTimeout(function(){
				jQuery("#PageSearch").parent().addClass("sloading loading-small loading-right");
		    	callbackToPageSearch(searchString);
			}, 450 ); 
		}else{
			result_list.hide()
			jQuery(this).parent().removeClass("sloading loading-small loading-right");				
		}
	});
	
	jQuery('.page-search').bind("submit", function(ev){
		ev.preventDefault()
		return false
	});
	
}

if (!Fjax.Assets.alreadyLoaded('search')) {
	Fjax.Assets.serve('search', afterSearchLoaded);
} else {
	afterSearchLoaded();
}
</script>
