<% content_for :layoutType do -%>single<%- end %>
<h3 class="title">Search results</h3>
<% form_tag '/search', :method => :get do %>
	<input class="search" value="<%= @search_key %>" placeholder="Search" autocomplete="off" name="search_key" />
	<input type="submit" value="Search" class="uiButton blue" />
<% end %>
<span class="seperator"></span>

<div class="big_results">
	<!-- h3 class="sub_title">Search for "Freshdesk" has 120 results</h3 -->
	<ul class="results">
		<% unless @tickets.nil? %>
			<li class="ticket_icon"> 
				<strong class="title">Tickets</strong>
				<% @tickets.each do |ticket| %>
					<div class="group">
						<%= link_to(Helpdesk::Ticket.search_display(ticket), ticket, :class => "big") %>
						<span class="light"><%= "Requested by, <b>#{ticket.requester}</b>" %> </span>
						<p><%= ticket.excerpts.description %></p>
					</div>
				<% end %>
			</li>
		<% end %>
		
		<% unless @users.nil? %>
			<li> 
				<strong class="title">People</strong>
				<% @users.each do |user| %>
					<div class="group"> 
						<%= user_avatar(user.avatar) %>
						<%= link_to user, user, :class => "user" %>
						<% if user.customer? %>
							<% if user.customer %>
								<span class="light"><%= user.job_title.blank? ? "#{user.customer.name}" : 
											"#{user.job_title} at #{user.customer.name}" %></span> 
							<% end %>
						<% else %>
							<span class="light"><%= user.admin? ? "Administrator" : "Agent" %></span>
						<% end %>
						
					</div>
				<% end %>
			</li>
		<% end %>
		
		<% unless @companies.nil? %>
			<li class="company_icon"> 
				<strong class="title">Companies</strong>
				<% @companies.each do |company| %>
					<div class="group"><%= link_to(company.name, company, :class => "big") %></div>
				<% end %>
			</li>
		<% end %>

		<% unless @articles.nil? %>
			<li class="solution_icon"> 
				<strong class="title">Solutions</strong>
				<% @articles.each do |article| %>
					<div class="group">
						<%= link_to(article.excerpts.title, article, :class => "big") %>
						<p><%= article.excerpts.description  %></p>
					</div>
				<% end %>
			</li>
		<% end %>
		
		<% unless @topics.nil? %>
			<li class="forum_icon"> 
				<strong class="title">Forums</strong>
				<% @topics.each do |topic| %>
					<div class="group">
						<%= link_to(topic.excerpts.title, category_forum_topic_path(topic.forum.forum_category, topic.forum, topic), :class => "big") %>
						<p><%= truncate(topic.posts.first.body.gsub(/<\/?[^>]*>/, ""), 300)  %></p>
					</div>
				<% end %>
			</li>
		<% end %> 
	</ul>
	</ul>
</div>
