<% if available_numbers.any? %>
	<% available_numbers.each do |number| %>
		<div class="available_number">
				
			<span class="result_available_number">
				<%= number[:phone_number_formatted] %>
				<% unless number[:region].blank? %>
					<div class="phone_location">
						<%= number[:region] %>, <%= number[:iso_country] %>
					</div>
				<% end %>
			</span>
			<% if number[:type] == :mobile %>
				<span class="label number_type">
					<%= number[:type] %>
				</span>
			<% end %>
			<div class="buy_available_number">
				<%# number_class = number_element_identifier(number[:phone_number]) %>
				<%= form_tag({:action => 'purchase', :controller => "admin/freshfone/numbers"}, 
										{:class => "buy_number"}) do %>
					<%= hidden_field_tag "phone_number", number[:phone_number] %>
					<%= hidden_field_tag "formatted_number", number[:phone_number_formatted] %>
					<%= hidden_field_tag "region", number[:region] %>
					<%= hidden_field_tag "country", number[:iso_country] %>
					<%= hidden_field_tag "type", number[:type] %>
					<%= hidden_field_tag("address_required", number[:address_required]) if number[:address_required] %>
					<%= hidden_field_tag("subscription", 'trial') if trial_search? %>
					<%= link_to t('freshfone.admin.numbers.buy_button_text'), "#", :class => "purchase_number btn",
																:'data-address-required' => number[:address_required],
																:'data-rate' => number_to_currency(number[:rate]),
																"title" => t('freshfone.admin.numbers.purchase_phone_number', {:number => number[:phone_number]})
											 %>
				<% end %>
			</div>

		</div>
	<% end %>
<% else %>
	<div class="no-numbers-available">
		<%= t('freshfone.admin.numbers.not_available') %>
	</div>
<% end %>