<div class="message-container-template hide">
	<%= render :partial => "/admin/freshfone/numbers/message_select" %>
</div>

<% form_for :admin_freshfone_number, @number,
			:url => admin_freshfone_number_path(@number),
			:html => { :class => "form-horizontal number-settings",
				:multipart => true,
				:method => :put }  do |f| %>
	<%= f.error_messages %>
	<%= content_tag :label, t('freshfone.admin.settings'), :class => "caption freshfone-title" %>
	<div class="general-settings">
		<%= render :partial => "/admin/freshfone/numbers/freshfone_general_settings",
							 :locals => {:f => f, :number => @number} %>
	</div>
	
	<div class="button-container">
		<%= (link_to t('back'), admin_freshfone_index_path,
					:class => "btn pull-left") %>
		<%= link_to t('cancel'), {:action => 'index'}, :class => "btn" %>
		<input type="submit" class="btn btn-primary" value=<%=t('save')%> />
	</div>
<% end %>
<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('freshfone.admin.number_settings.title')%></h3>
		<p><%= t('freshfone.admin.number_settings.info').html_safe %></p>
	</div>
<% end %>