<%= form_for @ivr, :html => { :class => "simple_message ivr_setting form-horizontal", 
						:multipart => true } do |f| %>
	<%= f.error_messages %>
	<div class="fields simple_message_container">
		<div class="">
			<label class="control-label">
				<%= t('freshfone.admin.number_settings.welcome_message') %></label>
			<div class="controls">
				<div class="freshfone-controls welcome_message"></div>
				<div class="row-fluid greetings">
					<div class="pull-left padding6"><b><%= t('freshfone.admin.number_settings.group') %></b></div>
					<%= f.select :group_id,
						[[t('freshfone.admin.number_settings.all_groups'), nil]] + @groups.map{ |g| [g.name, g.id] },
						{}, {:class => "select2 span3", :name => 'freshfone_ivr[welcome_message][group_id]'} %>
							<%= f.hidden_field :message_type, :value => 0 %> 
				</div>
			</div>
		</div>
	
	</div>
	<br />
	<br />
	<div class="align-right">
		<%= (link_to t('back'), admin_freshfone_index_path,
					:class => "btn pull-left") %>
		<%= (link_to t('cancel'), admin_freshfone_index_path,
					:class => "btn") %>
		<button data-loading-text="<%= t('freshfone.admin.ivr.saving') %>"
						class="btn btn-primary"
						id="simple_message_submit"><%= t('freshfone.admin.ivr.save') %></button>		
	</div>
<% end %>