<div class="fields">
	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.name') %></label>
		<div class="controls">
			<%= f.text_field :name, :class => "span4", :placeholder => t('freshfone.admin.number_settings.name_placeholder') %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.record_calls') %></label>
		<div class="controls ">
			<div class="radio inline">
				<%= f.radio_button :record, true, :class => "radio" %> 
				<%= f.label :record, t('freshfone.admin.number_settings.record_all'), :class => "radiolabel", :value => "true" %>
			</div>
			<div class="radio inline">
				<%= f.radio_button :record, false, :class => "radio" %> 
				<%= f.label :record, t('freshfone.admin.number_settings.record_none'), :class => "radiolabel", :value => "false" %>
			</div>
		</div>
		<div class="controls muted recording-alert">
			<b><%= t('freshfone.admin.important') %></b>
			<span><%= t('freshfone.admin.number_settings.record_alert') %></span>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :recording_visibility, t('freshfone.admin.number_settings.recording_privacy'),
								:class => "control-label settings-label" %>
		<div class="controls">
			<div class="radio inline">
				<%= f.radio_button :recording_visibility, true, :class => "radio" %> 
				<%= f.label :recording_visibility, t('freshfone.admin.number_settings.recording_privacy_public'), :class => "radiolabel", :value => 1 %>
			</div>
			<div class="radio inline">
				<%= f.radio_button :recording_visibility, false, :class => "radio" %> 
				<%= f.label :recording_visibility, t('freshfone.admin.number_settings.recording_privacy_private'), :class => "radiolabel", :value => 0 %>
			</div>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :hunt_type, t('freshfone.admin.number_settings.hunt_type'),
								:class => "control-label settings-label" %>
		<div class="controls recording-alert">
				<p><%=t('freshfone.admin.number_settings.routing_message')%></p>
		</div>
		<div class="controls">
			<div class="radio inline">
				<%= f.radio_button :hunt_type, 1, :class => "radio" %> 
				<%= f.label :hunt_type, t('freshfone.admin.number.simultaneous'), :class => "radiolabel", :value => 1 %>
			</div>
			<div class="radio inline">
				<%= f.radio_button :hunt_type, 2, :class => "radio" %> 
				<%= f.label :hunt_type, t('freshfone.admin.number.round_robin'), :class => "radiolabel", :value => 2 %>
			</div>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :voice, t('freshfone.admin.number_settings.transcript_voice'),
								:class => "control-label settings-label" %>
		<div class="controls">
			<div class="radio inline">
				<%= f.radio_button :voice, 0, :class => "radio" %> 
				<%= f.label :voice, t('freshfone.admin.ivr.male'), :class => "radiolabel", :value => 0 %>
			</div>
			<div class="radio inline">
				<%= f.radio_button :voice, 1, :class => "radio" %> 
				<%= f.label :voice, t('freshfone.admin.ivr.female'), :class => "radiolabel", :value => 1 %>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.non_availability_message') %></label>
		<div class="controls">
			<div class="freshfone-controls non_availability_message"></div>
		</div>
	</div>


	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.max_queue_calls') %></label>
		<div class="controls freshfone-controls">
			<%= f.select :max_queue_length, max_queue_length_options, {},
					{:class => "select2 max_queue_length_select2"} %>
			<div class="queue_setting_div queue_wait_time">
				<div class="queue_wait_time_options">
					<label> <%= t('freshfone.admin.number_settings.call_wait_time') %> </label>
					<%= f.select :queue_wait_time, queue_wait_time_options, 
							{}, {:class => "queue_wait_time_select2"} %>
					<label> <%= t('freshfone.admin.number_settings.call_wait_time_suffix') %></label>
				</div>
			</div>
			<div class="queue_setting_div togglable_message">
				<label class="togglable_options_title"><%= t('freshfone.admin.number_settings.wait_message') %></label>
				<div class="freshfone-controls on_hold_message"></div>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.non_business_hours') %></label>
		<div class="controls freshfone-controls">
			<%#= check_box_tag :non_business_hour_calls, 1, number.non_business_hour_calls?, :class => 'non_business_hour_calls' %>
			<label class="radio inline label-choice">
				<%= radio_button_tag :non_business_hour_calls, false, true, :class => "radio" %> 
				<%= t('freshfone.admin.number_settings.business_hours') %>
			</label>
			<label class="radio inline label-choice">
				<%= radio_button_tag :non_business_hour_calls, true, false, :class => "radio" %> 
				<%= t('freshfone.admin.number_settings.anytime') %>
			</label>
			
			<div class="non_business_hours_message_container togglable_message">
				<div class="multi_business_hours ">
					<% if multiple_hours_enabled? %>
					<label class="togglable_options_title"><%= t('freshfone.admin.number_settings.business_calendar') %></label>
						<%= select_tag :business_calendar, 
											options_from_collection_for_select(current_account.business_calendar, 
												:id, :name, number.business_calendar_id), 
											:class => 'select2 business_calendar_select2' %>
						
					<% end %>
				</div>
				<label class="togglable_options_title"><%= t('freshfone.admin.number_settings.non_business_hours_message') %></label>
				<div class="freshfone-controls non_business_hours_message"></div>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label settings-label"><%= t('freshfone.admin.number_settings.voicemail') %></label>
		<div class="controls">
			<div class="radio inline">
				<%= f.radio_button :voicemail_active, true, :class => "radio voicemail_on_state" %> 
				<%= f.label :voicemail_active, t('freshfone.admin.number_settings.voicemail_on'), :class => "radiolabel", :value => true %>
			</div>
			<div class="radio inline">
				<%= f.radio_button :voicemail_active, false, :class => "radio voicemail_off_state" %> 
				<%= f.label :voicemail_active, t('freshfone.admin.number_settings.voicemail_off'), :class => "radiolabel", :value => false %>
			</div>
			<div class="voicmail_message_div togglable_message">
				<label class="togglable_options_title"><%= t('freshfone.admin.number_settings.voicemail_message') %></label>
				<div class="freshfone-controls voicemail_message"></div>
			</div>
		</div>
	</div>
	
	
</div>
<script type="text/javascript">
	(function($){		
		var non_business_hour_calls = "<%= number.non_business_hour_calls? %>";
		if(non_business_hour_calls == "true"){
			$('.multi_business_hours').hide();
			$('.non_business_hours_message_container').hide();
			$('#non_business_hour_calls_true').prop('checked',true);
		}else{
			$('.multi_business_hours').show();
			$('.non_business_hours_message_container').show();
			$('#non_business_hour_calls_false').prop('checked',true);
		}
	})(jQuery)

</script>
