<!-- message_container -> message_value_container -->
<div class='message-container'>
	<input rel="message_type_input" type="hidden" 
				 name='${name_prefix}[message_type]' data-message-type="${messageType}"
				 value="${messageType}">
	<div class="message-type">
		<span class="span record_voice tooltip"
					title="<%= t('freshfone.admin.number_settings.record_voice')%>"
					rel="messageType" data-value=0></span>
		<span class="span upload_voice tooltip"
					title="<%= t('freshfone.admin.number_settings.upload_voice')%>"
					rel="messageType" data-value=1></span>
		<span class="span read_message current tooltip"
					title="<%= t('freshfone.admin.number_settings.read_message')%>"
					rel="messageType" data-value=2></span>
	</div>

	<div class="message_value_container">

		<div class="message-recording hide" rel="message_0">
			<div class="client-record-container">
				<button data-recording-text="<%= t('freshfone.admin.number_settings.stop_recording').html_safe %>"
								data-preparing-text="<%= t('freshfone.admin.number_settings.preparing_recording') %>"
								class='client-record'>
								<span></span><%= t('freshfone.admin.number_settings.start_recording') %>
				</button>
				<span class="cancel_recording"><%= t('freshfone.admin.number_settings.cancel') %></span>
				<span class="help_info muted">
					<%= t('freshfone.admin.number_settings.recording_help_info') %></span>
			</div>

			<div class="recorded-message hide">
				<div class="recorded_file_link ui360">
					<a href="${recordingUrl}.mp3"></a>
				</div>
				<span class="attached_file_name ellipsis"><%= t('freshfone.admin.number_settings.recorded_voice') %></span>
			</div>
			<span class="remove_recording"><%= t('freshfone.admin.number_settings.change') %></span>

			<input name='${name_prefix}[recording_url]' 
						 type="hidden" rel="recording" value="${recordingUrl}">
		</div>

		<div class="message-file hide" rel="message_1">
			<div class="custom-file-upload" rel="attachment">
				<div class="file-upload">
					<span class="file-upload-text"><%= t('freshfone.admin.number_settings.audio_upload') %></span>
				</div>
				<input class="span" name="${attachment_prefix}[content]" 
							size="30" type="file" accept='audio/mp3'>
				
				<input name='${name_prefix}[attachment_id]' 
							 type="hidden" rel="attachment_id" value="${attachmentId}">
			</div>

			<div class="attached_file hide">
				<div class="ui360 attached_file_link">
					<a href="${attachmentUrl}" class="call_duration" rel="attachment_url"></a>
				</div>
				<span class="attached_file_name ellipsis">${attachmentName}</span>
			</div>
			<span class="remove_attachment"><%= t('freshfone.admin.number_settings.change') %></span>
			<span class="cancel_attachment"><%= t('freshfone.admin.number_settings.cancel') %></span>
			<span class="help_info muted" rel="attachment">
				<%= t('freshfone.admin.number_settings.attachment_help_text') %></span>
		</div>
		

		<textarea class="message-input autosize" id="${id_prefix}_message" 
					 name="${name_prefix}[message]" size="30" maxlength="4096"
					 type="text" rel="message_2"
					 placeholder="<%= t('freshfone.admin.number_settings.greeting_message') %>">${message}</textarea>
	</div>
</div>