<div class="ff_numbers_trial_usage" >
  <div class="trial_msg pull-left content">
    <b>
      <span class=" <%= error_helper%>">
      <%= trial_state_heading_helper %>
      </span>
    </b>
    <br>
    <% unless freshfone_activation_requested? %>
      <span class="trial_description"><%= trial_state_description_helper %></span>
    <% end %>
  </div>
  <div class="trial_msg pull-right graph <%= 'disabled' if freshfone_trial_expired? %>">
    <div class="pull-right usage_info">
      <span  class="<%='error' if incoming_usage_exceeded? %> ">
        <%= t('reports.freshfone.options.incoming') %>
      </span>
      <br>
      <b><%=t('freshfone.admin.trial.numbers.used_minutes', incoming_limit_hash) %></b>
    </div>
    <div id="incoming_usage_container" class="pull-right usage_container" data-used-minutes="<%= usage_helper %>" 
      data-usage-limit="<%= freshfone_subscription.inbound[:minutes] %>" data-trial-expired="<%= freshfone_trial_expired? %>">
    </div>
  </div>
  <div class="trial_msg pull-left content">
    <% unless freshfone_activation_requested? %>
      <a href="#" class="btn btn-bold btn-flat" id="freshfone_feature_request"
      data-remove-target="trial_description">
        <%= t('freshfone.admin.trial.activate_btn_text')%></a>
      <br>
      <div id="ff_feature_request"></div>
    <% else %>
      <br>
      <div><%= t('freshfone.admin.trial.requested_activation').html_safe %></div>
    <% end %>
  </div>
  <div class="trial_msg pull-right graph <%='disabled' if freshfone_trial_expired? %>">
    <div class="pull-right usage_info">
      <span class="<%='error' if outgoing_usage_exceeded? %>">
        <%= t('reports.freshfone.options.outgoing') %><br>
      </span>
      <b><%=t('freshfone.admin.trial.numbers.used_minutes', outgoing_limit_hash)%></b>
    </div>
      <div id="outgoing_usage_container" class="pull-right usage_container"
        data-used-minutes="<%=usage_helper(Freshfone::Call::CALL_TYPE_HASH[:outgoing])%>"
        data-usage-limit="<%=freshfone_subscription.outbound[:minutes] %>">
      </div>
  </div>
  <div class="clear"></div>
</div>
<%= javascript_include_tag :'cdn/freshfone_trial_numbers'%>