<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_settings' %>
 
<% content_for :sidebar do %>
	<div class="sidepanel">
		<i class="common-icon-help"></i>
		<h3 class="lead"><%=t('freshfone.admin.numbers.sidebar_title')%></h3>
		<p><%= t('freshfone.admin.numbers.sidebar_content').html_safe %></p>
	</div>
<% end %>

<div class="list-page">
	<div class="list-page-header"	>
		<div class="row-fluid">
			<div class="span6"><h3 class="title"><%= t('freshfone.admin.freshfone_numbers_title') %></h3></div>
			<div class="span6 pull-right pagination-right header_buttons align-right" >
				<% if @numbers.any? %>
			 		<%# form_tag(toggle_freshfone_admin_freshfone_path, 
			 					{:class => "toggle_freshfone_form", :method => :put}) do %>
						<%#= check_box_tag :toggle_freshfone, 1, feature?(:freshfone), :class => 'toggle_freshfone' %>
					<%# end %>
					<%= link_to t('freshfone.admin.numbers.buy'), search_admin_freshfone_index_path, 
								:class => "btn btn-primary" if feature?(:freshfone) %>
				<% end %>
	    </div>
		</div>
	</div>
	
	<%= render :partial => "/admin/freshfone/numbers/purchased_numbers", :locals => {:purchased_numbers => @numbers} %>
</div>

<script type="text/javascript">
	(function($){
		$('.toggle_freshfone').itoggle({
			checkedLabel: 'Enabled',
			uncheckedLabel: 'Disabled'
		}).change(function() {
			$(this).parent().submit();
		});
	})(jQuery);
</script>
