<% if current_account.features?(:signup_link) && (preview? || !current_user) %>
  <%= form_for @user, :url => support_signup_path, :html => { :class => "form-portal", :rel => "validate" } do |f|
    -%>
    <%= base_error_messages(@user) %>
    <fieldset>
      <ul class="profile-edit-form form-horizontal unstyled">
        <% customer_signup_fields.each do |field| %>
        <%= render_as_list f, field %>
        <% end %>
      </ul>
      <div class="control-group">
        <%#= content_tag( :label, t('ticket.verify_human'), :class => "control-label" ) %>
        <div class="controls recaptcha-control">
          <%= recaptcha_tags :display => { :theme => "white" }, :ssl => true %>
        </div>
      </div>
    </fieldset>
    <div class="form-actions">
      <%= submit_tag t('register'), { :class => "btn btn-primary" } -%>
      <%= link_to(t('cancel'), '/home', :class => "btn" ) -%>
    </div>
  <% end -%>
<% end %>

<%= javascript_tag do %>
  jQuery(document).ready(function(){
    Form.focusFirstElement(document.forms[0]);
  })
<% end %>