
<style>
	<%= render :file => "mailer/css/mailer.css" %>
</style>
<div class="body">
	<div class="mail_content">
		<b>New Reply</b> - <%= @post.topic.posts_count %> replies in topic 
		<%= link_to @post.topic.title, 
					category_forum_topic_url(@post.topic.forum.forum_category.id, @post.topic.forum.id, @post.topic.id, :host => @user.account.host)%>
	</div>

	<div class="forum_content">
		<div class="profile_img">
			<img src="<%= profile_image_user_url(@user.id, :host => @user.account.host)%>" rel="lazyloadimage" width="30" height="30" />
		</div> 
		<div class="user_identity">
			<b style="color:#333;"><%= @user.name %></b><br />
			<%= @post.created_at.strftime("%a, %b %e, %Y at %l:%M %p") %>
		</div>
		<br />
		<div class="actual_content">
			<%= @body_html.html_safe %>
		</div>
		<br>
	</div>
	<div class="footer">
		<%= link_to "Reply", category_forum_topic_url(@post.topic.forum.forum_category.id, @post.topic.forum.id, @post.topic.id, :host => @user.account.host) << "#reply-to-post", :class => "reply" %>
		<div class="footer-text">
			<%= link_to "Turn Off", toggle_monitorship_url("topic", @post.topic.id, "unfollow", :host => @user.account.host) %>
			Reply notifications for this topic
		</div>
	</div>
	<br>
	<br>
</div>
