<% content_for :sidebar do -%>&nbsp;<% end %>
<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_admin' %>
<% @page_title = t('freshfone.admin.welcome_page.title_text')%>
<% content_for :sidebar do %>
  <div class="sidepanel">
    <i class="common-icon-help"></i>
    <h3 class="lead"><%=t('freshcaller.admin.sidebar_title')%></h3>
    <p><%= t('freshcaller.admin.sidebar_content').html_safe %></p>
  </div>
<% end %>
<div class="list-page-body ">
  <h3 class="lead"> <%= t('freshcaller.admin.title_text')%></h3>
  <div class="freshcaller-account-settings">
    <img src="/images/freshcaller/freshcaller-dew-copy.png"
         srcset="/images/freshcaller/freshcaller-dew-copy@2x.png 2x,
                      /images/freshcaller/freshcaller-dew-copy@3x.png 3x"
                      class="freshcaller-dew-copy">
    <span class="freshcaller-account-url">
      <%= freshcaller_domain %>
    </span>
    <span class="freshcaller-settings-link-container">
      <span class="ficon-open-in-new-window pr5 fsize-14 freshcaller-link"></span>
      <% if current_user.agent.freshcaller_agent %>
        <a href="/admin/phone/redirect_to_freshcaller" target="_blank" class="freshcaller-settings-link"><%= t('freshcaller.admin.manage_settings_text') %></a> <br/>
        <span class="freshcaller-link-subtext">
         <%= t('freshcaller.admin.freshcaller_subtext')%>
        </span>
      <% else %>
        <span><%= t('freshcaller.admin.no_access_text') %></span> <br/>
        <span class="freshcaller-link-subtext">
         <%= t('freshcaller.admin.freshcaller_enable_subtext')%>
        </span>
      <% end %>
    </span> 
  </div>
</div>
