<div class="report-page" id="report-page">
  <div id="loading-box"> <div class="reports-loading">Generating Report...</div> </div>
  <div class="report-content-wrapper">
    <% solution_artical_link = 'https://support.freshdesk.com/solution/categories/45929/folders/145570/articles/85346-how-to-read-customer-top-n-analysis'%>
    <!--report header-->
    <%= render :partial => "reports/shared/report_view_header", :locals => {} %>

    <div class="row-fluid">
      <div class="span6 single-line-bar">
        <h3 class="header-lead">
          <span><%=t('adv_reports.top_n.tickets_submitted')%></span>
          <a class="report-help-icon tooltip" title='<%=t("adv_reports.helptext.glance.how_to_read")%>' href="<%=solution_artical_link%>" target="_blank">?</a>
        </h3>
        <div id="received_tickets_line_chart" class="graph-container"><div class="loading-center"></div></div>
      </div>
      <div class="span6 single-line-bar">
        <h3 class="header-lead">
          <span><%=t('adv_reports.tickets_resolved')%></span>
          <a class="report-help-icon tooltip" title='<%=t("adv_reports.helptext.glance.how_to_read")%>' href="<%=solution_artical_link%>" target="_blank">?</a>
        </h3>
        <div id="resolved_tickets_line_chart" class="graph-container"><div class="loading-center"></div></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 single-line-bar">
        <h3 class="header-lead">
          <span><%=t('adv_reports.tickets_backlog')%></span>
          <a class="report-help-icon tooltip" title='<%=t("adv_reports.helptext.glance.how_to_read")%>' href="<%=solution_artical_link%>" target="_blank">?</a>
        </h3>
        <div id="backlog_tickets_line_chart" class="graph-container"><div class="loading-center"></div></div>
      </div>
      <div class="span6 single-line-bar">
        <h3 class="header-lead">
          <span><%=t('adv_reports.top_n.sla_violations')%></span>
          <a class="report-help-icon tooltip" title='<%=t("adv_reports.helptext.glance.how_to_read")%>' href="<%=solution_artical_link%>" target="_blank">?</a>
        </h3>
        <div id="SLA_tickets_line_chart" class="graph-container"><div class="loading-center"></div></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 single-line-bar">
        <h3 class="header-lead">
          <span><%=t('adv_reports.top_n.happy_customers')%></span>
          <a class="report-help-icon tooltip" title='<%=t("adv_reports.helptext.glance.how_to_read")%>' href="<%=solution_artical_link%>" target="_blank">?</a>
        </h3>
        <div id="happy_customers_line_chart" class="graph-container"><div class="loading-center"></div></div>
      </div>
      <div class="span6 single-line-bar">
        <h3 class="header-lead">
          <span><%=t('adv_reports.top_n.frustrated_customers')%></span>
          <a class="report-help-icon tooltip" title='<%=t("adv_reports.helptext.glance.how_to_read")%>' href="<%=solution_artical_link%>" target="_blank">?</a>
        </h3>
        <div id="frustrated_customers_line_chart" class="graph-container"><div class="loading-center"></div></div>
      </div>
    </div>
  </div>
</div>