<% if @champions.length > 0 %>
	<% high_score = @champions[0].tot_score.to_i %> 
<% end %>
<table class="leaderboard-big" padding="0" margin="0" border="0" style="width:100%;margin:0;padding:0;">
<thead>
  <tr>	
  	<th colspan="7"><h3><%= t('reports.scoreboard_reports.valuable_player') %></h3></th>
  </tr>
</thead>
<tbody>	
<% @champions.each_with_index  do |champion, index|%>
<% unless champion.tot_score.to_i < 0 %>
<tr>
	<td width="1%"><%= (index + 1)%></td>
	<td width="1%"><%= user_avatar(champion.user, :thumb, 'preview_pic') %></td>
	<td width="20%"><b><%= champion.user.display_name %></b></td>
	<td width="30%">&nbsp;</td>
	<td width="40%">
		<% progress_percentage =  ((champion.tot_score.to_i / high_score) * 100).to_i %>
		<% progress_color = (progress_percentage > 30 and progress_percentage < 70) ? 'progress-warning' :  ((progress_percentage < 30) ? 'progress-danger' : 'progress-success') %>
		<div class="progress <%= progress_color%>" style="margin-bottom: 9px;">
			<div class="bar" style="width: <%= ((champion.tot_score.to_i / high_score) * 100).to_i %>%"></div>        			
			</div>
  	</td>
	<td width="8%" class="up"><%= champion.tot_score %> &#9650;</td>	
</tr>
<% end %>
<% end %>	
</tbody>
</table>