<%= javascript_include_tag  '/javascripts/report/date' %>
<%= javascript_include_tag  '/javascripts/report/daterangepicker.jQuery.js' %>
<%= stylesheet_link_tag 'ui.daterangepicker' %>
<%= stylesheet_link_tag 'reports' %>

<% content_for :sidebar do %>
	
<%end%>

<div class="report-container" id="report-container">
	<%= render :partial => "/reports/gamification_reports/leaderboard" %>
</div>