  <div class="search-fields-widget filter-field ff_item" data-label=<%= name %> data-prop="<%= accessor %>" condition="<%=accessor%>" container="<%=container%>" >
<label class="control-label"><%= name %></label>
<% if(jQuery.inArray(accessor,App.FilterOps.Filters.filter_remote) == -1) { %>
    <select multiple="multiple" class="filter_item" id="<%= accessor %>" name="<%= accessor %>[]">
      <% for (i=0; i< options.length; i++) {  %>
        <option value="<%= options[i][0] %>"><%= options[i][1] %></option>
      <% } %>
    </select>
 <% } else { %>
 		<input type="hidden" class="filter_item" id="<%= accessor %>" name="<%= accessor %>[]">
 <% } %>	
 <% if(jQuery.inArray(accessor,App.FilterOps.Filters.default_available_filter) == -1) { %>
	<i class="ficon-cross fsize-14 " size="14" data-action="remove-field"></i>
<% } %>
</div>

