<li>
	<div class="search-list-wrap">
		<span class="search-result-image pull-left ml4">
			<div class="search-result-article"></div>
		</span>
		<div class="search-result-text row-fluid">
			<div class="ticket_subject search-result-content">
				<a href="<%= path %>" class="search-title" data-pjax="#body-container"><%= title %></a>
				<div class="info-data">
					<%= SEARCH_RESULT_LANG["in"] %> 
					<a class="emphasize" href="<%= folder_path %>" data-pjax="#body-container"><%= folder_name %></a>
				</div>
			</div>
			<div class="search-result-info pull-right info-data">
				<div>
					<span class="muted align-top"><%= SEARCH_RESULT_LANG["by"] %></span>
					<span class="emphasize ellipsis result-info">
						<%= user_name %> 
					</span>,
				</div>
				<div>
					<%= info %>
				</div>
			</div>	
		</div>
	</div>			
</li>