<%= include_tiny_mce_if_needed %>
  <% form_for guide, :html => {:multipart => true, :id => "article-form"} do |f| %>
	<%= f.error_messages %>
	<ul id="article-form-container" class="ui-form">
		<li>
    		<%= f.label(:name, "Name") %>
    		<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label(:description, "More Info") %>
	 		<%= f.text_area :description, :class => "text" %>
    		<!--%= f.text_area :description, :class => "mceEditor" %-->
		</li>
		<li>		
			<% logger.debug "current account isss  ::#{guide.account_id}"
			   account_id = guide.account_id %>
   			   <%= f.label :folder_id, "Folder" %>
   			   <%= f.collection_select :folder_id, Solution::Folder.find_all_folders(account_id) , :id, :name , :class => "select" %>
   		</li>
	</ul>
    <div class="button-container">
      <%= submit_tag "Save", :class => "fdbutton submit" %>
      <%= submit_tag "Save and Create Another", :name => "save_and_create", :class => "fdbutton" %>
    </div>

  <% end %>


