<% content_for :head do %>
  <%= stylesheet_link_tag "helpdesk/autosuggest" %>
  <%= javascript_include_tag "helpdesk/autosuggest" %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <%= javascript_include_tag "helpdesk/id_selector" %>
  <%= javascript_include_tag "helpdesk/reorder" %>

  <% javascript_tag do %>
    document.observe("dom:loaded", function(){

      Helpdesk.sel = new Helpdesk.MultiSelectorsOnPages({
        pages: ['list', 'expanded',  'reorder'],
        cookieName: 'helpdesk-articles-page',
        isSelector: { reorder: false },
        save: { reorder: false }
      });

      Helpdesk.sel.submitOnClick('assign-multiple-button', ['assign_guide_id']);
      
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['assign-options']
      });

      Helpdesk.reorder = new Helpdesk.DDReorder({
        container: 'article-order',
        form: 'reorder',
        onCancel: function(){ Helpdesk.sel.pageSwitcher.showDefault(); }
      });

      new bsn.AutoSuggest('article-search', {
        script: "<%= autocomplete_helpdesk_articles_path %>?",
        varname: "v",
        json: true,
        maxresults: 35,
        timeout: 3600000, 
        callback: function(article){
          var f = $("article-search-form");
          f.down('#article_id').value = article.id;
          f.submit();
        }
      });

      Form.Element.activate('article-search')

    });
  <% end %>
<% end %>

<% content_for :layoutType do %>solutions_ltSidebar<% end %>

<% content_for :sidebar do %>
	<h4 class="product_title">
	  <a href="#">
		 <img src="/images/product_icons/twitter.png" width="48px" height="48px" />
		 <em>Twitter</em>
	  </a>
  	</h4>
	 
	<ul class="tableofcontents">
		<%
		@item_list = Helpdesk::Guide.display_order.all(:include=>:articles , :conditions => { :account_id => current_account.id })

		%>
		<% form_tag "", { :method => :put, :id => 'list' } do %>
	      
	        <% for guide in @item_list %>
	          <li>
	          	<h4><%= link_to(h(guide.name), guide) %>(2)</h4>
			
				</li>
	   		<% end %>
	   <% end %>
		<!--li class="expanded">
			<h4><a href="#">Frequently Asked (2)</a></h4> 
		</li>
		<li>
			<h4><a href="#">Billing Related (18)</a></h4>
		</li>
		<li>
			<h4><a href="#">Users & Roles (12)</a></h4>
		</li>
		<li>
			<h4><a href="#">Installation (18)</a></h4>
		</li>
		<li>
			<h4><a href="#">Reports & Charts (24)</a></h4>
		</li>
		<li>
			<h4><a href="#">Administration (32)</a></h4>
		</li>
		<li>
			<h4><a href="#">Email Related (15)</a></h4>
		</li>
		<li>
			<h4><a href="#">Billing Related (18)</a></h4>
		</li>
		<li>
			<h4><a href="#">Reports & Charts (24)</a></h4>
		</li-->
	</ul>
  <!--h3 class="guide-visibility">
    <% if @item.hidden %>
      This guide is <em>hidden</em> from the public
      <%= link_to "Make it visible", publicize_helpdesk_guide_path(@item), :method => :put %>
    <% else %>
      This guide is <em>visible</em> to the public
      <%= link_to "Make it hidden", privatize_helpdesk_guide_path(@item), :method => :put %>
    <% end %>
  </h3>

  <hr>

  <% form_tag helpdesk_article_guides_path, :id => "article-search-form" do %>
    <label id="search-value-label">Add article:</label>
    <input type="text" id="article-search" name="name"></input>

    <%= hidden_field_tag :article_id %>
    <%= hidden_field_tag :guide_id, @item.to_param %>

  <% end %>
 -->
<% end %>

<% content_for :main_panel_title do %>  
  <div class="breadcrum">
 	<a href="/helpdesk/guides">Solution Center</a> 
 	<em><%= @item.name %></em> 
  </div>
  <h3 class="content_title"><%= @item.name %></h3>
  <!--sup><%= @item.articles.count %></sup-->
<% end %>

<% content_for :main_panel_actions do %>

<%= link_to "New Solution", new_helpdesk_article_path(:guide_id =>@item.id ), :class => "button" %>
	<!--div class="actions_bar">
	<ul>
  		<li><%= link_to("Edit This Guide", {:action => :edit}, :class => "button") %></li-->
		<!--li><a href="#" class="button" id="assign-options-link">Assign To Guide 11</a></li-->
	    <!--%= content_tag('li', link_to_function("Delete", "if(confirm('Really delete?')) Helpdesk.sel.submit('#{ helpdesk_article_path('multiple') }', 'delete')", :class => "button")) %-->
	  <!--/ul>
	</div-->
<% end %>

<% content_for :main_panel_summary do %>
  <!--div id="description-summary">
    <%= truncate(strip_tags(@item.description), :length => 200) %>
    <% if((@item.description || "").size > 200) %>
      <%= link_to_function "(more)", "Element.hide('description-summary'); Element.show('description-full');" %>
    <% end %>
  </div-->

  
<% end %>

<% content_for :main_panel_toolbar do %>
  <!--div id="main-panel-toolbar-1">
    <div class="actions">
      <ul>
        <li>Articles are listed in their display order</li>
        <li><%= link_to_function("Rearrange", "Helpdesk.reorder.start()", :id => 'reorder-link') %></li>
      </ul>
    </div>
    <ul>
      <li><a href="#" id="expanded-link">Expanded View</a></li>
      <li><a href="#" id="list-link">List View</a></li>
    </ul>
  </div>

  <div id="main-panel-toolbar-2" style = "display:none">
    <div class="actions">
      <ul>
        <%= content_tag(:li, link_to_function("Cancel", "Helpdesk.reorder.cancel()")) %>
        <li><button onclick = "Helpdesk.reorder.submit(); return false;">Save Changes</button></li>
      </ul>
    </div>
    Drag and drop articles to the desired position.
  </div-->

<% end %>

<% content_for :main_panel_selected_toolbar do %>

  <!--ul class="secondary-actions">
    <%= content_tag('li', link_to_function("Select All", "Helpdesk.sel.checkAll()")) %>
    <%= content_tag('li', link_to_function("Deselect All", "Helpdesk.sel.uncheckAll()")) %> 
  </ul-->

  

  <!--div class="selection-options">
    <div id="assign-options" style="display:none">
      <%= select_tag 'guide_id', options_from_collection_for_select(Helpdesk::Guide.all, :to_param, :name), :id => 'assign_guide_id' %>
      <button id="assign-multiple-button" action="<%= helpdesk_article_guides_path %>" method="post">Add to Guide</button>
    </div>
  </div-->

<% end %>


<% content_for :main_panel_content do %>

  <div id="pages">
	<!--div id="description-full" class="guide_details">
    	<%= @item.description %>
  	</div-->
    <% form_tag "", { :id => "expanded", :method => :put, :style => "display: none" } do %>
      <table class="articles-expanded">
        <%= render :partial => '/helpdesk/shared/expanded/article', :collection => @articles %>
      </table>
    <% end %>

    <% form_tag "", { :id => "list", :method => :put, :style => "display: none" } do %>
      <table class="articles-collapsed">
        <%= render :partial => '/helpdesk/shared/collapsed/article', :collection => @articles %>
      </table>
    <% end %>

    <% form_tag reorder_articles_helpdesk_guide_path(@item), { :id => "reorder", :method => :put, :style => "display: none" } do %>
      <%= hidden_field_tag :order %>

      <ol id="article-order">
        <%= render :partial => 'helpdesk/shared/order/article', :collection => @articles %>
      </ol>
    <% end %>


  </div>

  <div class="clear"></div>


<% end %>




<%= render :partial => "/helpdesk/shared/main_panel" %>
