<%
  form_height_message_key, embedded_code_key, embed_code_intro_key = current_account.help_widget_enabled? ?
  ['.feedbackform_form_height_message', '.feedbackform_embedded_code', 'feedbackform_embed_code_intro'] :
  ['.feedbackwidget_form_height_message', '.feedbackwidget_embedded_code', 'feedbackwidget_embed_code_intro']
%>

<%= form_for :widget_config, :html => { :class => "form-horizontal", :rel => "validate",
		:name => "widget_config_embedded", :id => "WidgetConfigembedded" } do |f| %>
<div class="row-fluid">
<input type="hidden" name="widgetType" id="widgetType" value="embedded"  data-set-query-string="true" />
<h5 class="lead top-space-none"><%= t('.feedbackwidget_form_customization') %></h5>
  <div class="control-group">
		<label class="control-label"><%= t('feedbackwidget_form_heading') %></label>
		<div class="controls">
		 	<input type="text" class="text" size="35" name="formTitle" id="formTitle"
	 				value="" placeholder= "<%= t('feedbackwidget_defaulttitle').html_safe %>"
	 				data-set-query-string="true" data-skip-options='true' maxlength="16" />
      <p class="info-data"><%= t('.feedbackwidget_title_maxlength') %></p>
		</div>
  </div>
  <div class="control-group">
    <label class="control-label"><%= t('.feedbackwidget_form_submit_title') %></label>
    <div class="controls">
      <input class="text" data-set-query-string="true" data-skip-options='true' id="submitTitle" name="submitTitle" placeholder="<%= t('.feedbackwidget_submit_title').html_safe %>" size="35" type="text" value="" maxlength="16"/>
      <p class="info-data"><%= t('.feedbackwidget_submit_title_maxlength') %></p>
    </div>
  </div>
  <div class="control-group">
		<label class="control-label"><%= t(".feedbackwidget_form_submit_message") %></label>
		<div class="controls">
		 	<textarea class="paragraph auto-height" rows="2" name="submitThanks" id="submitThanks" data-set-query-string="true" value="" placeholder= "<%= t('.thankyou_default') %>"></textarea>
			<div class="info-data"> <%= t(".thankyou_info") %> </div>
		</div>
  </div>
  <div class="control-group">
		<label class="control-label"><%= t('.feedbackwidget_form_height') %></label>
		<div class="controls">
		 	<input type="text" class="text span2 number" size="4" name="formHeight" id="formHeight" value="" placeholder= "<%= t('.feedbackwidget_height_placeholder') %>"/>
		 	<span class="add-on-outer"><%= t(".feedbackwidget_px") %></span>
		 	<div class="info-data">
        <%= t(form_height_message_key) %>
      </div>
		</div>
  </div>
  <div class="control-group">
		<label class="control-label"><%= t(".feedbackwidget_users_can") %></label>
  	<div class="controls widget_options">
	  	<div class="row-fluid">
        <div class="span6 widget_option">
          <label class="control-label"><%= t(".feedbackwidget_attach_a_file") %></label>
    			<div class="controls">
    				<input type="hidden" name="attachFile" id="attachFile" value="" rel='pseudo' value='' data-set-query-string="true" data-skip-options='true' />
              <% checked = (current_account.feedback_widget_attach_file? ? 'checked' : '') %>
    				<input type="checkbox" rel="toggle" type="checkbox" id="attachFilePseudoCheckbox" class="pseudoCheckbox" data-checked-label=<%= t('plain_yes') %> data-unchecked-label=<%= t('plain_no') %>  <%=checked=checked%> />
    			</div>
        </div>
        <div class="span6 widget_option">
          <label class="control-label"><%= t(".feedbackwidget_use_https") %></label>
  				<div class="controls">
  					<input type="checkbox" rel="toggle" type="checkbox" id="httpsHttp" class="httpsHttp" data-checked-label=<%= t('plain_yes') %> data-unchecked-label=<%= t('plain_no') %> checked="checked"/>
  				</div>
        </div>
	  	</div>
	  	<div class="row-fluid">
        <div class="span6 widget_option">
          <label class="control-label"><%= t(".feedbackwidget_search_area") %></label>
    			<div class="controls">
  	  			<input type="hidden" name="searchArea" id="searchArea" rel='pseudo' value='' data-set-query-string="true" data-skip-options='true' />
  	  			<input type="checkbox" rel="toggle" type="checkbox" class="pseudoCheckbox" data-checked-label=<%= t('plain_yes') %> data-unchecked-label=<%= t('plain_no') %> checked="checked" >
  	  		</div>
        </div>
        <div class="span6 widget_option">
          <label class="control-label"><%= t(".feedbackwidget_use_captcha") %> </label>
  				<div class="controls">
            <% captcha_enabled = current_account.feedback_widget_captcha_allowed? ||
                 current_account.feedback_widget_captcha_enabled? %>
            <% checked = (captcha_enabled ? 'checked' : '') %>
            <input <%= checked=checked%> class="captchapseudoCheckbox" data-checked-label=<%= t('plain_yes') %> data-unchecked-label=<%= t('plain_no') %> rel="toggle" type="checkbox"/>
  				</div>
        </div>
  		</div>
      <div class="row-fluid">
        <div class="span6 widget_option">
          <label class="control-label"><%= t('.feedbackwidget_attach_screenshot') %></label>
          <div class="controls">
            <input type="hidden" name="screenshot" id="screenshot" value="" rel='pseudo' value=''data-set-query-string="true" data-skip-options='true' />
              <% checked = (current_account.feedback_widget_attach_screenshot? ? 'checked' : '') %>
            <input type="checkbox" rel="toggle" type="checkbox" id="attachScreenshotPseudoCheckbox" class="pseudoCheckbox" data-checked-label=<%= t('plain_yes') %> data-unchecked-label=<%= t('plain_no') %>  <%=checked=checked%> />
          </div>
        </div>
      </div>
    </div>
  </div>
<ul class="ui-form">
  <li class="code-view">
		<h3 id="feedbackwidget_embedded_code" class="title"><%= t(embedded_code_key) %></h3>
		<p class="intro pt5"><%= t(embed_code_intro_key).html_safe  %></p>
    <textarea id="embeddedCode" class="codetextarea"></textarea>
  </li>
 </ul>
</div>
<% end %>
