<%= form_for @post, :remote => true,
			:url => discussions_topic_post_path(:topic_id => @post.topic_id, :id => @post),
			:before => "if (!jQuery(this).valid()) { return false; }",
			:html => { 
				:multipart => true,
				:method => :put, 
				:rel=> "post-update", 
				:class => 'cnt' 
			} do |f| -%>

	<div class="controls flow-form">
	  <div id="sticky_redactor_toolbar" class="hide sticky_editor_toolbar"></div>
	  	<div class='editor-body'>
				<%= f.text_area  :body_html, 'editor-type' => :forum, :height => "150px", 
      		:class => "required_redactor", 
      		:id => :reply_description,
      		:data => {
      			:index => @post.id,
        		:"remove-cursor" => true,
        		:"toolbar-external" => '#sticky_redactor_toolbar'
      		} 
    		%>
    	</div>
		<% if current_account.launched?(:multifile_attachments) %>
			<%= render :partial=> "discussions/topics/multi_attachment_form", :locals => {
									:attachments => {
										:regular => @post.attachments,
										:cloud_files => @post.cloud_files},
									}%>
		<% else %>
			<%= render :partial=> "discussions/topics/single_attachment_form" %>
		<% end %>
	</div>


	<div class="button-container">
		<%= submit_tag t('cancel'), {
					:name => 'reset',
					:rel => 'post-edit-cancel',
					'data-id' => @post.id,
					:id => "reset_button_#{@post.id}",
					:type => "reset",
					:class => "btn btn-small"
				} %>
		<%= submit_tag(t("save"), :class => "btn btn-primary btn-small", 'data-id' => @post.id, :id => "save_button_#{@post.id}") %>
	</div>
<% end -%>
 <%= javascript_tag do %>
	(function($) {
 		$("#reset_button_" + <%= @post.id.to_s %>).data('html',
			$('#post_' + <%= @post.id.to_s %> +'_body_html').val());
 	})(jQuery)
 <% end %> 