<%= render :partial => "admin/shared/filter_jsinit", :locals => { :filter_type => "automation"} %>

<%= f.error_messages :object_name => 'scenario' %>
<ul class="ui-form">
	<li>
		<%= f.label :name, "#{t('scenario_label')} *" %>
		<label class="overlabel" for="va_rule_name"><%= t("example") %>: <em>"<%=t('automations.info5')%>"</em> </label>
		<%= f.text_field :name, :class => "required" %>
	</li>
	<li>
		<%= f.label :description,t('description') %>
		<label class="overlabel" for="va_rule_description">
			<%= t("example") %>: <em>"<%=t('automations.info6')%>"</em>
		</label>
		<%= f.text_area :description, :class => "smallpara" %>
	</li>	
	<li>
		<label><%=t('automations.info7')%>?</label>
		<div class="conditionset" id="actionDOM">
			<div id="ActionList" class="rule_list"></div>
			<fieldset class="addchoice">
	        	<p><%=t('automations.info8')%></p> <img alt="Add New action" class="add" src="/images/add.png" />
	    	</fieldset>		
		</div>
	</li>
</ul>
<br />
<div class="button-container">
	<input type="submit" class="uiButton" value="<%=t('save')%>" />
	<%= link_to t('cancel'), {:action => 'index'}, :class => "uiButton" %>
</div>

<% content_for :pagefixed do %>
	<%= render :partial => "/shared/placeholder_help" %>
<% end %>

