<% content_for :head do %>
	<%= render :partial => "admin/shared/filter_jsinit", :locals => { :filter_type => "automation"} %>
<% end %>

<%= f.error_messages :object_name => 'scenario' %>
<ul class="ui-form">
	<li>
		<%= f.label :name, "Scenario Label *" %>
		<label class="overlabel" for="va_rule_name">example: <em>"<%=t('automations.info5')%>"</em> </label>
		<%= f.text_field :name, :class => "required" %>
	</li>
	<li>
		<%= f.label :description %>
		<!--label class="overlabel" for="agent_desc">
			We Know it's pretty boring. <br />
			But meaningful descriptions can help you later to quickly identify what this rule does,<br /> 
			when you have a tons of rules. <br />
			Go Ahead and type something like - <br /><em>"All Subscription related tickets will be assigned to Susan"</em>
		</label-->
		<label class="overlabel" for="va_rule_description">
			example: <em>"<%=t('automations.info6')%>"</em>
		</label>
		<%= f.text_area :description, :class => "smallpara" %>
	</li>
	<li><span class="seperator"></span></li>
	<li class="choicelist">								
		<label><%=t('automations.info7')%>?</label>				
	</li>
	<li class="conditionset" id="actionDOM">
		<div id="ActionList" class="rule_list"></div>
		<fieldset class="addchoice">
	        <p><%=t('automations.info8')%></p> <img alt="Add New action" class="add" src="/images/add.png" />
	    </fieldset>		
	</li>
</ul>
<br />
<div class="button-container">
	<input type="submit" class="uiButton" value="<%=t('save')%>" />
	<%= link_to t('cancel'), {:action => 'index'}, :class => "uiButton" %>
</div>


<% content_for :pagefixed do %>
	<%= render :partial => "/shared/placeholder_help" %>
<% end %>

