<li id="helpdesk_attachment_<%= attachment.id.to_s %>" class="attachments-wrap">
  <%= link_to_remote("",
                     :url => helpdesk_attachment_path(attachment), :method => 'delete',
                     :html => { :class =>"attachment-close" },
                     :confirm => "You're about to permanently delete this attachment. Continue?")  if local_assigns[:show_delete] %>
  <%
     extname = attachment.content_file_name.split('.')[-1] || ""
     extname = extname.downcase
     # Converting 4 letter into 3 letter extensions
     letter4 = {"jpeg" => "jpg"}
     extname = letter4[extname] if letter4[extname].present?

     extname = (["asf", "ai", "apk", "bmp", "avi", "cdr", "chm", "csv",
                 "dmg", "dwg", "eps", "exe", "fla", "flv", "gz","htm",
                 "iso", "jar", "jpg", "js", "key", "m4a", "mdb", "mid",
                 "mov", "mp3", "mp4", "mpg", "msi", "otf", "pdf", "php",
                 "png", "ppt", "pptx", "html", "ps", "psd", "pub", "rar",
                 "rb", "rtf", "sql", "svg", "swf", "tex", "tga", "tif", "ttf", "txt",
                 "vcf", "wav", "wma", "wmv", "xls", "xml", "doc",
                 "zip", "log" ].include?(extname)) ? extname : "def"
  %>
  <div class="attachment-type file-types-<%= extname %>">
    <%= link_to h(truncate(attachment.content_file_name,15)), attachment, :popup => true, :title => h(attachment.content_file_name), :class => "tooltip" %>
    <span>&nbsp;&nbsp;(<%= number_to_human_size attachment.content_file_size %>)</span>
    <span>- <a href="javascript:void(0)" class="remove_attachment remove_shared_attachment" id="<%= attachment.id.to_s %>" >remove</a>
    </span>
  </div>
</li>
<br/>
<script>

    jQuery(document).ready(function(){
        jQuery(".remove_shared_attachment").on("click", function(){
               id=jQuery(this).attr("id");
               jQuery(this).parent().append('<input type="hidden" value="'+id+'" name="remove_attachments[]">');
               jQuery("#helpdesk_attachment_"+id).addClass("hide");
             });
    });

</script>