<% content_for :sidebar do -%>&nbsp;<%- end %>

<%= javascript_tag do %>

jQuery(document).ready(function(){
	invokeRedactor('ca-content', 'cnt-reply');
  if ('<%=@ca_response.helpdesk_accessible.access_type%>' == '<%=Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:groups]%>'){
		jQuery('#accessible_group').show();	
		jQuery('#admin_canned_response_visibility_group_id').removeAttr('disabled');
	}
	else{
		jQuery('#admin_canned_response_visibility_group_id').attr('disabled','disabled');
	}
	
	jQuery('.l_placeholder').bind("click", function(ev){
			active_email_body = jQuery("#ca-content");
			jQuery('#place-dialog').slideDown('fast', function(){
        		jQuery(this).groupPlaceholders({'truncateItems': false});
			});			
	});

    if (<%=@folder.id == @pfolder.id%>){
      jQuery('#select_folder').hide();
      jQuery('#admin_canned_responses_response_visibility_group_id').removeClass('required');
    }

	if (!<%=privilege?(:manage_canned_responses)%>){ 
	  jQuery('#all_agent,#group_agent,#only_me').children().attr('disabled','disabled');
	  jQuery('#all_agent,#group_agent').addClass("muted");
    }else{
      jQuery('#only_me').on("click", function(){
        jQuery('#select_folder').hide();
        jQuery('#admin_canned_responses_response_visibility_group_id').removeClass('required');
      });
      jQuery('#all_agent,#group_agent').on("click", function(){
        jQuery('#select_folder').show();
      });
      jQuery('#group_agent').on("click", function(){
        jQuery('#admin_canned_responses_response_visibility_group_id').addClass('required');
      });
    }
});


function toggleGroup(access_id)
{	
	if (access_id == '<%=Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:groups]%>'){
		jQuery('#accessible_group').show();
		jQuery("#admin_canned_responses_response_visibility_group_id").select2();
		jQuery('#admin_canned_response_visibility_group_id').removeAttr('disabled');
	}else{
		jQuery('#accessible_group').hide();	
		jQuery('#admin_canned_response_visibility_group_id').attr('disabled','disabled');
	}
}
<% end %> 


<%= f.error_messages :object_name => 'canned_response_response' %>
<ul class="cnt">
	<li>
		<label for="admin_canned_responses_response_title">
			<%= t('.response_name') %><span class="required_star">*</span>
		</label>
		<%= f.text_field :title, :class => "text required insert-placeholder-target", "minlength" => "3" %>
	</li>
	<li>
		<label for="ca-content">
			<%= t('message') %><span class="required_star">*</span>
			<a class='l_placeholder slim-button pull-right' href='javascript:void(0)'><%= t('canned_folders.insert_placeholder') %>&raquo;</a>
		</label>
   		<%= f.text_area :content_html, :class => "ca_content_body required_redactor", :id => 'ca-content' %>		
	</li>
	<li>
      <div class="control-group"><%= render "attachment_form" %></div>
    </li>
	<li>
        <div class="control-group">

			 <%= attachment_container(@item.attachments_sharable, true, "remove_shared_attachment", nil) %>
        </div>
	</li>

	<li class="inline-field  form-horizontal">
		<div class="control-group">
		<%= f.fields_for :visibility do |access| %>	
			<label class="control-label"><%=t('.available_for').html_safe%> :</label>
			<div class="controls">
				<label class="radio" id="only_me">
					<%= access.radio_button  :visibility, Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:users], {:onclick =>"toggleGroup(this.value)", :class => "radio", :checked => Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:users] == @ca_response.helpdesk_accessible.access_type } %> 
					<%= t('.me_only') %>
					<%= access.hidden_field :user_id, :value =>current_user.id %>	
				</label>
			</div>
			<div class="controls">
				<label class="radio" id="all_agent">
					<%= access.radio_button  :visibility, Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:all], {:onclick =>"toggleGroup(this.value)",:class => "radio" ,:checked => Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:all] == @ca_response.helpdesk_accessible.access_type } %> 
					<%= t('.all_agents') %>
				</label>
			</div>
			<div class="controls">
				<label class="radio" id="group_agent">
					<%= access.radio_button  :visibility, Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:groups],{:onclick =>"toggleGroup(this.value)" , :class => "radio" , :checked => Helpdesk::Access::ACCESS_TYPES_KEYS_BY_TOKEN[:groups] == @ca_response.helpdesk_accessible.access_type} %> 
					<%= t('.groups') %>
			  </label>
					<div style="display:none;" class="tabbed" id="accessible_group">
			         <%= access.select_tag("admin_canned_responses_response[visibility][group_id]", options_from_collection_for_select(Group.find_all_by_account_id(current_account.id , :order=>'name'),"id", "name"), {:multiple => true, :class => "select2 input-xxlarge", :size => 4, :placeholder => t('.select_groups')}) %>
			        </div>
			</div>
		<%end%>
		</div>
	</li>
	<li class="folder-pane form-horizontal" id="select_folder">
		<div class="control-group">
              <%= label_tag(:new_folder_id, t('canned_folders.folder')+ " : ", :class => "control-label") %>
              <div class="controls">
                <%= select_tag(:new_folder_id, options_from_collection_for_select(@response_folders, 'id', 'name', 
    			@folder.id), :class => 'select2') %>	
              </div>
    	</div>
	</li>
</ul>
<div class="button-container">
	<%= f.submit t('save'), :class => "btn btn-primary" %>	      	
	<%= link_to(t('cancel'), helpdesk_canned_responses_folder_path(:id => params[:folder_id]) , :class => "btn" ) %>
</div>

<% content_for :pagefixed do %>
	<%= render :partial => "/shared/placeholder_help", :locals => {:placeholders => ticket_placeholders} %>
<% end %>

<script>
    jQuery(document).ready(function(){
        jQuery(".remove_shared_attachment").on("click", function(){
	       	id=jQuery(this).attr("id");
	       	jQuery(this).parent().append('<input type="hidden" value="'+id+'" name="remove_attachments[]">');
	      	jQuery("#helpdesk_attachment_"+id).addClass("hide");
	    });

	 <%
	 	init_selected = []
	 	accessibles = @ca_response.helpdesk_accessible
	 	if accessibles
		 	accessibles.groups.each do |group|
		 		init_selected << "{id: '#{group.id}',
	                  value: '#{escape_javascript(group.name)}',
	                  text: '#{escape_javascript(group.name)}'}"
		 	end
		end
	 %>
	 jQuery("#admin_canned_responses_response_visibility_group_id").select2('data', [<%=init_selected.join(",").html_safe%>]);
    });
</script>
