<%= content_tag( :h3, "Kayako") %>
<% form_for :kayako, 
   :url=>{:controller=>"admin/fresh_import", :action=>"export_kayako"} do |f| -%>
<div class="control-group">
  <label class="control-label"><%= 'API url' %></label>
  <div class="controls">
    <%= f.text_field :api_url, :class => "text url required" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label"><%= "API Key" %></label>
  <div class="controls">
    <%= f.text_field :api_key, :class => "text required" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label"><%= "Secret Key" %></label>
  <div class="controls">
    <%= f.text_field :secret_key, :class => "text required" %>
  </div>
</div>
<div class="control-group">
  <label>
    <%= check_box_tag(:users_companies, 1, true, disabled: true) %>
    <body><%= "Users and Companies" %></body>
  </label>
</div>
<div class="control-group">
  <label>
    <%= check_box_tag(:tickets, 1, true, disabled: false) %>
    <body><%= "Tickets, Posts and Notes" %></body>
  </label>
</div>
<div class="control-group">
  <label>
    <%= check_box_tag(:attachments, 1, true, disabled: false) %>
    <body><%= "Attachments" %></body>
  </label>
</div>
<div class="control-group">
  <label>
    <%= check_box_tag(:knowledgebase, 1, false, disabled: false) %>
    <body><%= "Knowledgebase" %></body>
  </label>
</div>
<%= f.submit "Start with import"%>
<% end %>
