<li class="uc_list" data-default-company="<%= default_comp %>" data-client-manager="false" data-new-company="true">
  <span class="remove_pad company_remove uc_actions ficon-minus fsize-12"></span>
  <input class="text contact_text new_company user_company ui-autocomplete-input" id="user_company_name_<%= count %>" name="company_name" type="text">
  <span class="default_company tooltip fsize-20 ml9 <%= class_name %>" title="<%= company_title %>"></span>
  <i class="ficon-ticket-thin fsize-18 tooltip client_manager manage" data-original-title="<%= client_manager %>" twipsy-content-set="true"></i>
</li>