<li class="<%= disabledclass %>" data-count = "<%= number %>" data-email = "<%= value %>" data-id = "<%= email_id %>">
    <span class="remove_pad ue_remove_image ue_action_icons ficon-minus fsize-12 <%= disabledclass %>" data-email="<%= email_id %>"></span>
    <input autocomplete="off" class="useremail cont text ue_input fillone" data-verified="true" id="email_sec_<%= email_id %>" name="user[user_emails_attributes][<%= number %>][email]" type="hidden" value="<%= value %>">
    <p class="ue_text <%= disabledclass %>"><%= value %></p>
    <% if(primary){ %>
    <span class="email-tick tooltip fsize-20 ficon-checkmark-round primary" data-original-title="Mark as Default" twipsy-content-set="true" title="Default Email"></span>
    <% }else{ %>
    <span class="email-tick tooltip fsize-20 make_primary" title="Mark as Default"></span> 
    <% }%>
    <% if(unverified){%>
    <span class="email-tick tooltip ficon-unverified unverified fsize-16" data-original-title="Unverified" twipsy-content-set="true"></span>
    <% }%>
    <input class="ue_id" id="user_user_emails_attributes_<%= number %>_id" name="user[user_emails_attributes][<%= number %>][id]" type="hidden" value="<%= email_id %>">
    <input class="ue_primary" id="user_user_emails_attributes_<%= number %>_primary_role" name="user[user_emails_attributes][<%= number %>][primary_role]" type="hidden" value="<%= primary %>">
    <input class="ue_destroy" id="user_user_emails_attributes_<%= number %>__destroy" name="user[user_emails_attributes][<%= number %>][_destroy]" type="hidden" value="false">
    <label id="email_sec_<%= email_id %>-error" class="error" for="email_sec_<%= email_id %>"></label>
</li>