<h5 class="lead"><%=t('.title').html_safe%></h5> 
<p><%=t('.info1').html_safe%></p>
<p><%=t('.info2').html_safe%></p>
<% if current_account.features_included?(:whitelisted_ips) %>
<p><%=t('.trusted_ip').html_safe%></p>
<% end %>
<p><%= t('.info4').html_safe%></p>
