<ul class="m5 password-policy-toggle-container">
  <% if policy.new_record? %>
    <li class="pull-left">
      <label class="radio_button radio">
        <input class="password-policy-toggle" name="<%= "#{user}_policy" %>" type="radio" value="none" checked />
        <%=t("none").html_safe %>
      </label>
    </li>
  <% end -%>
  <li class="pull-left <%= 'offset1' if policy.new_record? %>">
    <label class="radio_button radio">
      <input class="password-policy-toggle" name="<%= "#{user}_policy" %>" type="radio" value="default" <%= 'checked' if(policy.persisted? and policy.default_policy?) %> />
      <%=t(".default").html_safe%>
    </label>
  </li>

  <li class="pull-left offset1">
    <label class="radio_button radio">
      <input class="password-policy-toggle" name="<%= "#{user}_policy" %>" type="radio" value="advanced" <%= 'checked' if(policy.persisted? and policy.advanced_policy?) %> />
      <%=t(".advanced").html_safe%>
    </label>
  </li>
</ul>

<div class="clear"></div>
<ul data-section="default" class="password-policies default m5 <%= 'hide' if(policy.new_record? or policy.advanced_policy?) %>" >
  <li class="check_box checkbox">
    <%=t(".minimum_characters", :count=>8).html_safe%>
  </li>
  <li class="check_box checkbox">
    <%=t(".cannot_contain_user_name").html_safe%>
  </li>
</ul>

<ul data-section="advanced" class="password-policies custom-select2 advanced m5 <%= 'hide' if(policy.new_record? or policy.default_policy?) %>">
  <li class="policy-checkbox-container checked">
    <label class="check_box checkbox inline-block">
      <input class="policies-checkbox" type="checkbox" checked="true" disabled />
      <%=t(".minimum_of").html_safe%>
      <input class="default-policies" name="password_policy[<%= user%>][policies][]" type="hidden" value="minimum_characters" />
    </label>
    <select class="select2 input-password-length inline-block" id="minimum-characters" name="password_policy[<%= user%>][configs][minimum_characters]">
      <% policy.minimum_character_values.each do |k|%>
        <option value="<%= k %>" <%= 'selected' if k.eql? policy.configs["minimum_characters"]%> ><%= k + " #{t(".characters")}" %></option>
      <% end -%>
    </select>
  </li>
  <li class="policy-checkbox-container checked">
    <label class="check_box checkbox">
      <input class="policies-checkbox" type="checkbox" checked="true" disabled />
      <%=t(".cannot_contain_user_name").html_safe%>
      <input class="default-policies" name="password_policy[<%= user%>][policies][]" type="hidden" value="cannot_contain_user_name" />
    </label>
  </li>
  <li class="policy-checkbox-container checked">
    <label class="check_box checkbox inline-block">
      <input class="policies-checkbox" type="checkbox" checked="true" disabled />
      <%=t(".password_expiry").html_safe%>
      <input class="default-policies" name="password_policy[<%= user%>][policies][]" type="hidden" value="password_expiry" />
    </label>
    <select class="select2 input-small inline-block" id="password-expiry" name="password_policy[<%= user%>][configs][password_expiry]" >
      <% policy.password_session_expiry_days_values.each do |k|%>
        <option value="<%= k %>" <%= 'selected' if (k.eql? policy.password_expiry_duration)%> >
          <%= if k.to_i > 180 
            t(".never").html_safe
          else
            k + " #{t(".days")}"
          end %>
        </option>
      <% end -%>
    </select>
  </li>
  <li class="policy-checkbox-container <%= 'checked' if policy.password_history_enabled? %>">
    <label class="check_box checkbox inline-block">
      <input class="advanced-policies policies-checkbox" name="password_policy[<%= user%>][policies][]" type="checkbox" 
        value="cannot_be_same_as_past_passwords"
        <%= 'checked' if policy.password_history_enabled? %> />
      <%=t(".cannot_be_same_as_last").html_safe%>
    </label>
    <select class="select2 input-password-history inline-block" id="password-history" name="password_policy[<%= user%>][configs][cannot_be_same_as_past_passwords]" 
      <%='disabled' unless policy.password_history_enabled? %> >
      <% policy.password_history_match_values.each do |k|%>
        <% word = k.eql?("1") ? t(".password") : t(".passwords") %>
        <option value="<%= k %>" <%= 'selected' if k.eql? policy.history_depth %> ><%= k + " #{word}" %></option>
      <% end -%>
    </select>
  </li>

  <li class="policy-checkbox-container <%= 'checked' if policy.password_alphanumeric_enabled? %>">
    <label class="check_box checkbox">
      <input class="advanced-policies policies-checkbox" name="password_policy[<%= user%>][policies][]" type="checkbox" 
        value="atleast_an_alphabet_and_number" <%= 'checked' if policy.password_alphanumeric_enabled? %> />
      <%=t(".atleast_an_alphabet_and_number").html_safe%>
    </label>
  </li>
  <li class="policy-checkbox-container <%= 'checked' if policy.password_mixed_case_enabled? %>">
    <label class="check_box checkbox">
      <input class="advanced-policies policies-checkbox" name="password_policy[<%= user%>][policies][]" type="checkbox" 
        value="have_mixed_case" <%= 'checked' if policy.password_mixed_case_enabled? %> />
      <%=t(".have_mixed_case").html_safe%>
    </label>
  </li>
  <li class="policy-checkbox-container <%= 'checked' if policy.password_special_character_enabled? %>">
    <label class="check_box checkbox">
      <input class="advanced-policies policies-checkbox" name="password_policy[<%= user%>][policies][]" type="checkbox" 
        value="have_special_character" <%= 'checked' if policy.password_special_character_enabled? %> />
      <%=t(".have_special_character").html_safe%>
    </label>
  </li>
</ul>
