<% content_for :sidebar do -%><%- end %>
<%= content_tag (:h3, t(".security_title"), :class => "title") %>
<% form_for  :account,@account, :url=> update_admin_security_path(@account) ,  :html => { :method => :put, :id => "sso_form"  } do |f| %>
	<%= f.error_messages %>
	<ul class="ui-form">
		<li class="inline-field">
		  <%= check_box('account', 'sso_enabled', options = { :checked => current_account.sso_enabled}, checked_value = "1", unchecked_value = "0") %> <%=t(".enable_sso")%>
		  <%= content_tag( :div, t(".enable_sso_info"), :class => "info-data tabbed" ) %>
			<div class="info-data tabbed"  id="sso-form" style="display:<%= current_account.sso_enabled ? "block": "none" %>;">				
				<ul class="ui-form-inline">
					<li>
						<%= f.label :shared_secret, t('.shared_secret') %>
						<%= content_tag( :div, t(".shared_secret_info"), :class => "info-data" ) %>
						<%= content_tag( :div, @account.shared_secret, :class => "highlight-textbox-info" ) %>
						<%= f.hidden_field :shared_secret, :value => @account.shared_secret, :class => "text", :disabled => true %>						
					</li>
					<% f.fields_for :sso_options, @account.sso_options do |p| %>
						<li>
							<%= p.label :login_url, t('.remote_login_url') %>
							<%= content_tag( :div, t(".remote_login_url_info"), :class => "info-data" ) %>
							<%= p.text_field :login_url, :value => @account[:sso_options].default(:login_url), :size => 50, :class => "text" %>
						</li>
						<li>
							<%= p.label :logout_url, t('.remote_logout_url') %>
							<%= content_tag( :div, t(".remote_logout_url_info"), :class => "info-data" ) %>
							<%= p.text_field :logout_url, :value => @account[:sso_options].default(:logout_url), :size => 50, :class => "text" %>
						</li>
					<% end %>
				</ul>
			</div>
		</li>
		<li>
			<%= check_box('account', 'ssl_enabled', options = { :checked => current_account.ssl_enabled}, checked_value = "1", unchecked_value = "0") %> <%= t('.enable_SSL') %>
			<% content_tag( :div, :class => "info-data tabbed" ) do %>
				<p>
					<%= t(".enable_SSL_anon") %>
				</p>
				<span class="warning">
				<% if current_account.ssl_enabled? %>
					<% if current_portal.main_portal? && !(current_account.main_portal.portal_url.blank?)%>
						<%= t(".customer_portal_ssl_warning") + current_account.full_domain + " to avoid SSL errors" %>
					<%end%> 
					<%if !current_portal.main_portal?%>
						<%= t(".multiple_product_ssl_warning") %>
					<%end%>
				<%end%>
				</span>
			<% end %>
		</li>
	</ul>
	<% javascript_tag do %>
		(function($){
			$("#account_sso_enabled").bind("click", function(e){
				$('#sso-form').toggle(this.checked);
			}); 
		})(jQuery)
	<% end %>
	<div class="button-container">
		<%= link_to "&larr; #{t('back')}", "/admin/home", :class => "uiButton floatl" %>
		<%= f.submit t('save'), :class => "uiButton" %>
	</div>
	
<% end %>