<% content_for :sidebar do -%>
  <div class="sidepanel helpcard">
    <%= t("integrations.custom_application.helptext", :full_domain => current_account.full_domain) %>
  </div>
  <div id="sample_preview" class="hide">
    <div class="titlebar">
      <a class="preview_link" href="#">Refresh</a>
      Custom Widget Preview
    </div>
    <div id="preview" class=""></div>
  </div>

<%- end %>
  <%widget = @application.widgets.first 
  disp_in_pages = widget.display_in_pages_option || {}%>


  <ul class="ui-form">  
    <li class="inline-field">
      <label class="caption">
        <div class="logo application-logo-custom_app"></div>
        <div class="logo info-data">
          <%= t("integrations.custom_application.small_help_text") %>
        </div>
      </label>
      <div class="fields">
        <ul class="app-form">
          <li class="field">
            <label class="caption"><%=t('integrations.custom_application.name')%></label>
            <%= text_field_tag "application[display_name]", @application.display_name%>
          </li>
          <li class="field">
            <label class="caption"><%=t('integrations.custom_application.description')%></label>
            <%= text_field_tag "application[description]", @application.description%>
          </li>
          <li class="field">
            <label class="caption"><%=t('integrations.custom_application.script')%></label>
            <%= text_area_tag "application[script]", widget.script%>
          </li>
          <li class="field custom_app_preview">
            <a class='l_placeholder slim-button' href='javascript:void(0)'><%= t('integrations.custom_application.form.insert_placeholder') %> &raquo;</a>
            <div class="custom_app_preview_link">
              <%=link_to "Show Preview", "#", :class => "toggle_preview", 
                    "data-toggled-text" => "Hide Preview", "data-toggled-class" => "active", 
                    "data-default-text" => "Show Preview", 'data-default-class' => "" %>
              <span class="hide"> <br />This integration will appear in the sidebar</span>
            </div>
            <label class="checkwrapper">
              <%= check_box_tag "application[view_pages][]", "helpdesk_tickets_show_page_side_bar", 
                      disp_in_pages.include?('helpdesk_tickets_show_page_side_bar')%>
                  Show the widget in ticket view page. 
            </label>
            <label class="checkwrapper">
              <%= check_box_tag "application[view_pages][]", "contacts_show_page_side_bar", 
              disp_in_pages.include?('contacts_show_page_side_bar')%>
              Show the widget in contact view page. 
            </label>
            
          </li>
        </ul>
      </div>

    </li>
  </ul>
<%#<div id="capsule_widget" domain="freshdeskdemo.capsulecrm.com" title="Custom CRM App"><div class="content"></div></div><script type="text/javascript">CustomWidget.include_js("/javascripts/capsule_crm.js");capsuleBundle={ t:"b43cff831b56cec58fa8cd95c21b47f5", reqId:"{{requester.id}}", reqName:"{{requester.name | escape_html}}", reqOrg:"{{requester.company_name}}", reqPhone:"{{requester.phone}}", reqEmail:"{{requester.email}}"}; </script>%>
<% content_for :pagefixed do %>
  <%= render :partial => "/shared/placeholder_help" %>
<% end %>
<% javascript_tag do %>
  jQuery('.preview_link').bind("click", function(ev){
      ev.preventDefault();
      preview_box = jQuery("#preview")
      preview_box.html("<div class='loading-box'>Generating Preview</div>"); 
      params = {"application_script": jQuery("#application_script").val()};
      jQuery.ajax({
        url: "/integrations/applications/custom_widget_preview/",
        type: "POST",
        data: params,
        dataType: "script",
        success: function(msg){ 
        }
      }); 
  });

  jQuery('.toggle_preview').click(function(ev) {
    ev.preventDefault();
    var sample_preview = jQuery('#sample_preview');
    sample_preview.toggleClass('hide');
    jQuery('.custom_app_preview_link span').toggleClass('hide');
    var elem = jQuery(this);
    if (sample_preview.hasClass('hide')) {
      elem.text(elem.data('default-text')).removeClass(elem.data('toggled-class')).addClass(elem.data('default-class'));
    } else {
      elem.text(elem.data('toggled-text')).removeClass(elem.data('default-class')).addClass(elem.data('toggled-class'));

      jQuery('.preview_link').trigger('click');
    }
  }); 

  jQuery('.l_placeholder').bind("click", function(ev){
      ev.preventDefault();
      jQuery('#place-dialog').slideDown();  
      jQuery('#application_script').focus();
  });

<%end%>
