<% unless dropbox_app_key.blank? %>
  <li id="dropboxjs" data-app-key="<%=dropbox_app_key%>">
      <input type="hidden"  id="<%=attach_id%>_url" name="dropboxURL" nameWhenFilled="[cloud_file_attachments][]" fileContainer="<%=attach_id%>-container" fileList="<%=attach_id%>-attachments" sendFocusTo="<%=attach_id%>-body" />
      <a href="#" class="dropbox_button" name="selected-file" id="db-chooser" 
        data-holder="<%=attach_id%>_url" onclick='initDropbox(this); event.preventDefault();'><%=I18n.t('dropbox_attach_from_text').html_safe%></a>         
  </li>
<% end %>

<script type="text/javascript">
  function setFormChangedFlagMultifile(inp){
    // Do nothing
    // Function is needed so that error does not occur
  }
</script>

<% unless dropbox_app_key.blank? %>
  <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js"></script>
  <script type="text/javascript">
    function initDropbox(inp) {
      Dropbox.choose({
        success: function(files) {
          function singleFile() {
            var inputElement = jQuery(inp).data('holder');
            
            jQuery('#' + inputElement)
              .val(JSON.stringify({
                link: files[0].link,
                name: files[0].name,
                provider: 'dropbox'
              }))
              .data('filename', files[0].name)
              .data('provider', 'Dropbox');
            
            Helpdesk.Multifile.addFileToList(jQuery('#' + inputElement));
            newInput = Helpdesk.Multifile.duplicateInput(jQuery('#' + inputElement));
            jQuery(inp).data('holder', newInput.attr('id'));
          }
          // for portal 
          if (jQuery('.single_file').length !== 0 ) {
            singleFile();
          }
          // for app
          else {
            var attachments = JSON.stringify({
              link: files[0].link,
              name: escapeHtml(files[0].name),
              provider: 'dropbox'
            });
            var cloud_file_object = [{
              fileName: files[0].name,
              provider: 'Dropbox',
              attachments: attachments
            }];
            var file_list = window.localStorage.getItem('current-file-list');
            jQuery("#attach-limt-" + file_list).hide();
            jQuery("#attachment-template").tmpl({
              render_type: "new",
              type: "cloud",
              files: cloud_file_object
            }).appendTo(".multiple-filelist-" + file_list);
          }

        // Set formChanged to true
        if(files.length){
          setFormChangedFlagMultifile(inp)
        }
      }, 
      extensions: ""})
     }
  </script>
<% end %>