<%google_accs = Integrations::GoogleAccount.find_all_installed_google_accounts(current_account)%>
<%if google_accs.blank?
	action_name = params[:action] == "configure" ? t("integrations.google_contacts.add_more") : t("application.enable")%>
	<%=t("integrations.google_contacts.form.account_not_configured", :action => action_name)%>
	<div class="center"><%= link_to(t("integrations.google_contacts.add_more"), "/auth/google?iapp_id="+params[:id], :class => "uiButton special") if params[:action] == "configure" %></div><br/>
<%else
	google_acc = google_accs[0]
%>
	<div class="google_accounts">
		<table borer="0">
			<tr class="headings">
				<th>Account </th>
				<th>Sync Tag</th>
				<th>Last sync</th>
				<th></th>
			</tr>
	
			<%google_accs.each { |google_acc|%>
				<tr class="main_rows">
					<td>
						<span><strong><%=google_acc.name%> </strong><br /><%=google_acc.email%></span>
					</td>
					<td>
						<%=google_acc.sync_tag.name unless google_acc.sync_tag.blank?%>					
					</td>
					<td>
			        	<%if google_acc.last_sync_time.year == 1970%>
			        		<%=t("integrations.google_contacts.not_yet_synced")%>
						<%else%>
			        		<%=formated_date(google_acc.last_sync_time)%>
						<%end%>
					</td>
					<td>
						<%=link_to("Delete", {:controller=>"google_accounts", :action => "delete", :id => google_acc.id, :iapp_id=>params[:id] },
					      :confirm => "Are you sure?", :class => "button", :method => :delete) %>
						</td>
				</tr>
			<%}%>
		</table>
		<div class="buttons">
			<%= link_to(t("integrations.google_contacts.add_more"), "/auth/google?iapp_id="+params[:id], :class => "uiButton special") if params[:action] == "configure" %>
		</div>
	</div>
<%end%>
