<%
	jira_status_sync_opts = [[t("integrations.jira_settings.none"), "none"], [t("integrations.jira_settings.add_private_note_in_fd"), "add_status_as_private_note_in_fd"], [t("integrations.jira_settings.add_public_note_in_fd"), "add_status_as_public_note_in_fd"], [t("integrations.jira_settings.update_status_in_fd"), "update_status_in_fd"]]
	jira_comment_sync_opts = [[t("integrations.jira_settings.none"), "none"], [t("integrations.jira_settings.add_private_note_in_fd"), "add_private_note_in_fd"], [t("integrations.jira_settings.add_public_note_in_fd"), "add_public_note_in_fd"], [t("integrations.jira_settings.send_reply_in_fd"), "send_reply_in_fd"]]
	fd_status_sync_opts = [[t("integrations.jira_settings.none"), "none"], [t("integrations.jira_settings.add_comment_in_jira"), "add_status_as_comment_in_jira"], [t("integrations.jira_settings.update_jira_status"), "update_jira_status"]]
	fd_comment_sync_opts = [[t("integrations.jira_settings.none"), "none"], [t("integrations.jira_settings.add_comment_in_jira"), "add_comment_in_jira"]]
	installed_app = Integrations::InstalledApplication.new if installed_app.blank?
%>
<table id="jira_sync_settings">
	<tr><td colspan="2" width="40%" >
		<label><strong><%= t("integrations.jira_settings.sync_updates") %></strong></label>
		<div class="info-data"><%= t("integrations.jira_settings.info1") %><br></div>
	</td></tr>
	<tr><td>&nbsp;</td><td></td></tr>
	<tr><td colspan="2" ></td></tr>
	<tr>
		<td><label for="configs_fd_status_sync" ><%= t("integrations.jira_settings.info4") %></label> </td>
		<td><%=select_tag "configs[jira_status_sync]", options_for_select(jira_status_sync_opts, installed_app.configs_jira_status_sync) %></td>
	</tr>
	<tr>
		<td><label for="configs_fd_comment_sync" ><%= t("integrations.jira_settings.info5") %></label></td>
		<td><%=select_tag "configs[jira_comment_sync]", options_for_select(jira_comment_sync_opts, installed_app.configs_jira_comment_sync) %></td>
	</tr>
	<tr><td>&nbsp;</td><td></td></tr>
	<tr>
		<td><label for="configs_fd_status_sync" ><%= t("integrations.jira_settings.info2") %></label></td>
		<td><%=select_tag "configs[fd_status_sync]", options_for_select(fd_status_sync_opts, installed_app.configs_fd_status_sync) %></td>
	</tr>

	<tr>
		<td><label for="configs_fd_comment_sync" ><%= t("integrations.jira_settings.info3") %></label></td>
		<td><%=select_tag "configs[fd_comment_sync]", options_for_select(fd_comment_sync_opts, installed_app.configs_fd_comment_sync) %></td>
	</tr>
</table>
