<%
if is_application_installed?("screenr")
	configs_hash=get_app_config("screenr")
else
	configs_hash={
			:visible_agent_ticket=>"1", :visible_portal_ticket=>"1", 
			:visible_agent_forum=>"1",  :visible_portal_forum=>"1", 
			:visible_solution=>"1"
		}
end
%>

<table class="screenr-table" width="100%">
	<tr class="headings">
		<th> <%= t('integrations.screenr.settings.enable_screenr_recording') %> </th>
		<th> <%= t('integrations.screenr.settings.for_agents') %> </th>
		<th> <%= t('integrations.screenr.settings.for_customer') %> </th>
	</tr>
	<tr>
		<td><div class="info-data">
			<%= t('integrations.screenr.settings.ticket_interaction') %>
		</div></td>
		<td>
			<%= check_box("configs", "visible_agent_ticket", { 
					:class => "checkbox", 
					:checked=>configs_hash[:visible_agent_ticket]=="1"
				}, "1", "0") %>
		</td>
		<td>
			<%= check_box("configs", "visible_portal_ticket", {
					:class => "checkbox", 
					:checked=>configs_hash[:visible_portal_ticket]=="1"
				}, "1", "0") %>
		</td>
	</tr>
	<tr>
		<td><div class="info-data">
			<%= t('integrations.screenr.settings.forum_interaction') %>
		</div></td>
		<td>
			<%= check_box("configs", "visible_agent_forum", {
					:class => "checkbox", 
					:checked=>configs_hash[:visible_agent_forum]=="1"
				}, "1", "0") %>
		</td>
		<td>
			<%= check_box("configs", "visible_portal_forum", {
					:class => "checkbox", 
					:checked=>configs_hash[:visible_portal_forum]=="1"
				}, "1", "0") %>
		</td>
	</tr>
	<tr>
		<td><div class="info-data">
			<%= t('integrations.screenr.settings.create_solution') %>
		</div></td>
		<td>
			<%= check_box("configs", "visible_solution", {
				:class => "checkbox", 
				:checked=>configs_hash[:visible_solution]=="1"
			}, "1", "0") %>
		</td>
		<td></td>
	</tr>
</table>