<% content_for :sidebar do -%><%-end %>
<h3 class="title"><%=t('application.title')%></h3>
<div class="intro"><%=t('application.desc')%></div>
<ul class="table-list">
	<% @applications.each do |application| %>
	
	   <%next if (!feature?(:timesheets) && (application.name == 'freshbooks' or application.name == 'harvest' or application.name == 'workflow_max'))%>
	  	<li>
				<div class="application">
					<div class="logo application-logo-<%= application.name %>"></div>
		  		<div class="actions"> 
		  			<% i_app_index=@installed_applications.index { |i_app| true if(i_app.application == application) }
					  if i_app_index.nil?
					  	if application[:options][:direct_install].blank? %>
					  		<%= link_to "<strong> #{t('application.disabled')} </strong><span></span>", show_integrations_application_path(application), :class => "uiButton special iphone-inactive custom-tip-bottom", :title => t("application.click_to_enable") %>		
					  	<% else 
					  		unless application[:options][:auth_url].blank?
					  			 auth_url = AppConfig['salesforce'][Rails.env]['redirect_url'] + Liquid::Template.parse(application[:options][:auth_url]).render("account_id" => @current_account_id)%>
						  		 <%= link_to "<strong> #{t('application.disabled')} </strong><span></span>", auth_url , :class => "uiButton special iphone-inactive custom-tip-bottom", :title => t("application.click_to_enable") %>		
					  		<% end %>
					  	<% end %>
		  	    		
					  <%else
						if application[:options][:direct_install].blank? %>
			  	    		<%= link_to image_tag("symbols/setting.png"), configure_integrations_installed_application_path(@installed_applications[i_app_index]), :class => "button custom-tip-bottom", :title => t("application.configure_addon") %>		
			  	    	<% end %>
			  	    	<%= link_to t('application.enabled') + "<span></span>", uninstall_integrations_installed_application_path(@installed_applications[i_app_index]), :class => "uiButton special iphone-active custom-tip-bottom", :confirm => t("application.confirm_disable"), :title => t("application.click_to_disable") %>	
					  <%end%>
				</div>
				<div class="col-center">
				  <%if i_app_index.nil?%>
					  <%= content_tag(:h2, t(application.display_name)) %>
					<%else%>
					  <%= content_tag(:h2, link_to(t(application.display_name),configure_integrations_installed_application_path(@installed_applications[i_app_index]), :title => t("application.configure_addon") )) %>
					<%end%>
					<div class="info-data"><%= t(application.description) %></div>
				</div>
			</div>
	 	</li>
	<% end %>
</ul>
