<%= stylesheet_link_tag_with_rtl :'cdn/freshplugs' %>
<%= stylesheet_link_tag_with_rtl :'cdn/marketplace' %>
<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
<% end %>
<!-- TITLE -->
<% if feature?(:marketplace) %>
  <div class="new-launch">
    <p>
      <%= t('marketplace.app_gallery_launch_text').html_safe %>
    </p>
    <a href="<%= t('marketplace.app_gallery_blog_post') %>" target="_blank" class="help-link"><%= t('marketplace.app_gallery_link_text') %></a>
  </div>
  <h3 class="title"><%=t('marketplace.apps')%></h3>
  <div class="intro"><%=t('marketplace.app_description')%></div>
<% else %>
  <h3 class="title"><%=t('application.title')%></h3>
  <div class="intro"><%=t('application.desc')%></div>
<% end %>

<div id="integrations-list">
  <div>
    <div class="tab-actions">
      <% if feature?(:marketplace) %>
        <div class="button-bar browse-apps pull-right">
          <a class="browse-btn btn btn-flat" href="" data-url="<%= admin_marketplace_extensions_path %>?type=<%= Marketplace::Constants::DEFAULT_EXTENSION_TYPES%>"><span class="ficon-puzzle"></span> <%= t('marketplace.get_more_apps') %></a>
        </div>
      <% end %>
      <div class="button-bar create-new pull-right" style="display:none;">
        <%= link_to t('marketplace.new_plug').html_safe, new_admin_integrations_freshplug_path, :class =>"btn btn-flat" %>
      </div>
    </div>
    <ul class="tabs nav-tabs sleek-tab" id="myTab">
      <li class="active">
        <% if feature?(:marketplace) %>
          <a href="#apps" class="mkt-apps" data-toggle="tab"><%= t('marketplace.apps').html_safe %></a>
        <% else %>
          <a href="#native-apps" class="nat-apps" data-toggle="tab"><%= t('integrations.native_integrations') %></a>
        <% end %>
      </li>
      <li>
        <a href="#plugs" class="cla-plugs" data-toggle="tab"><%= t('marketplace.plugs') %></a>
      </li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <% if feature?(:marketplace) %>
        <%= render :partial => '/admin/marketplace/marketplace_apps', :locals => { 
                   :installed_mkp_apps => @installed_mkp_apps } %>
      <% else %>
       <%= render :partial => 'native_integrations', :locals => { :applications => @applications, 
                  :installed_applications => @installed_applications } %>
      <% end %>
      <%= render :partial => '/admin/marketplace/installed_custom_applications', :locals => { 
                 :custom_applications => @custom_applications } %>
    </div>

    <div id="toggle-confirm" style="display:none;">
    </div>

  </div>
</div>

<%= javascript_include_tag :'cdn/marketplace/fa_marketplace_browser' %>
<script type="text/javascript">
    var settingsLinks = { appBrowser: ".app-browser",
                appBrowserClose: ".appbrowser-close, .closable",
                browseBtn: ".browse-btn, .moreinfo-lnk, .update",
                activationSwitch: ".switch",
                deleteBtn: ".delete-btn"
              }
    var customMessages  = {
                            delete_success: "<%= I18n.t('marketplace.delete_action.success') %>",
                            delete_error: "<%= I18n.t('marketplace.delete_action.error') %>",
                            api_error : "<%= I18n.t('marketplace.api_error') %>",
                            no_connection: "<%= I18n.t('marketplace.no_connection') %>"
                          };
    var marketplaceBrowser = new MarketplaceBrowser(settingsLinks, customMessages);

    marketplaceBrowser.toggleAppsMessage(marketplaceBrowser.getAppsLength() > 0 );
    marketplaceBrowser.togglePlugsMessage(marketplaceBrowser.getFreshPlugsLength() > 0 );

    Fjax.afterNextPage = function () {
       marketplaceBrowser.destroy();
    }

    jQuery(document).ready(function(){
      jQuery(jQuery('#myTab > li.active > a').attr('href')).addClass('active');
      var selectedTab = jQuery('a[href=' + window.location.hash + ']', jQuery("#myTab"));
      if(selectedTab.length > 0) 
        jQuery(selectedTab).click();

      jQuery(".modal").livequery(function(){
        jQuery(this).on('shown', function(e) {
          jQuery(".twipsy").hide();
        });
      });
    });

    jQuery(document).on("click", "a[href=#toggle-confirm]", function(ev) {
      ev.preventDefault();
      var target = jQuery(this).attr("data-confirm-content");
      jQuery("#toggle-confirm .modal-body").empty().append("<p>"+ target + "</p>");
    });

    jQuery(document).on('hide.bs.modal','#toggle-confirm', function () {
       jQuery("#toggle-confirm .modal-body").empty();
    });
</script>