<% content_for :helpcard do -%>
  <div class="helpcard">
      <%=t("integrations.salesforce.helptext").html_safe%>
  </div>
<%- end %>

  <h3 class="lead"><%=t("integrations.salesforce.form.salesforce_settings")%></h3>
  <% method_type = (@action == 'install' ) ? 'post' : 'put' %>
  <%= form_tag("/integrations/cloud_elements/#{@action}", :method => method_type )  do %>

  <ul class="nav nav-pills">
    <li class="active">
      <a href="#field-visibility-tab" data-toggle="tab">Field Visibility</a>
    </li>
    <li>
      <a href="#field-mapping-tab" data-toggle="tab">Field Mapping</a>
    </li>
    <div class="sf-title-wrapper pull-right">
      <label for="enble_sync"> Enable Sync </label> 
      <input type="checkbox" rel="toggle" name="enble_sync" id="enble_sync" data-checked-label="ON" data-unchecked-label="OFF" <% if @salesforce_config['enble_sync'] == "on" %> checked=checked <% end %> onchange="change(this)">   
    </div>
  </ul>
  
  <div class="well">
    <div class="tab-content row-fluid">
      <label class="caption span3">
        <div class="logo application-logo-salesforce"></div>
        <div class="logo info-data">
          <%= t('integrations.salesforce.desc') %>
        </div>
      </label>
      <div class="tab-pane span9" id="field-mapping-tab">

        <% existing_companies = [{"fd_field" => "name", "sf_field" => "Name"}]
           existing_contacts = [{"fd_field" => "name", "sf_field" => "Name"}, {"fd_field" => "email", "sf_field" => "Email"}, {"fd_field" => "mobile", "sf_field" => "MobilePhone"}]
           existing_companies = @installed_app.configs_companies unless @installed_app.nil?
           existing_contacts = @installed_app.configs_contacts unless @installed_app.nil? 
        %>
        <%= render :partial => "/integrations/applications/salesforce/mapping",
                   :locals => { :existing_companies => existing_companies, :existing_contacts => existing_contacts } %>
          
      </div>
      <div class="tab-pane active span9" id="field-visibility-tab">
        <%= render :partial => "/integrations/applications/salesforce/visibility", 
                     :locals => { :default_fields => ["Name"] } %>
      </div>

    </div>
  </div>

  <div class="button-container">
    <%= link_to t('back'), {:controller => 'applications', :action => 'index'}, :class => "btn" %>
    <%= submit_tag t('update'), :class => "btn btn-primary",:onclick => "return fillLabels();" %>
  </div>

  <%end%>



<script type="text/javascript">
function fillLabels(){
   var selectedValues = []; 
   var leadValues =[];   
   var accountValues =[];   
    jQuery("#contacts :selected").each(function(){
        selectedValues.push(jQuery(this).text()); 
    });
    jQuery('#contact_labels').val(selectedValues);
    jQuery("#leads :selected").each(function(){
        leadValues.push(jQuery(this).text()); 
    });
    jQuery('#lead_labels').val(leadValues);
    jQuery("#accounts :selected").each(function(){
        accountValues.push(jQuery(this).text()); 
    });
    jQuery('#account_labels').val(accountValues);
    return true;
}
  jQuery("#field_mapping").click(function(){
    jQuery("#field_mapping_div").show();
    jQuery("#field_visiblity_div").hide();
    jQuery("#company_div").show();
  });
  jQuery("#field_visiblity").click(function(){
    jQuery("#field_mapping_div").hide();
    jQuery("#field_visiblity_div").show();
    jQuery("#company_div").hide();
    jQuery("#contact_div").hide();
  });
  jQuery("#contact").click(function(){
    jQuery("#contact_div").show();
    jQuery("#company_div").hide();
  });
  jQuery("#company").click(function(){
    jQuery("#company_div").show();
    jQuery("#contact_div").hide();
  });
  jQuery(document).ready(function(){
    if(!jQuery('#enble_sync').is(':checked')){
      change();
    }
    jQuery('#enble_sync').prop('checked', "<%= @salesforce_config['enble_sync'] %>");
    jQuery('input[name="crm_sync_type"][value="' + "<%= @salesforce_config['crm_sync_type'] %>" + '"]').attr('checked', true);
  });
  function change(){ 
    jQuery('#field-wrap').toggleClass('field-disable')
  }
  jQuery(document).on('click','.sync-radio-btn', function(){
    var clone_element = jQuery(this).siblings('.sync-icon').children().clone();
    jQuery('.center-icon').html('').html(clone_element);
  })
</script>