<% content_for :sidebar do -%><%- end %>
<%= content_tag (:h3, t(@installing_application.name) + " " + t("settings"), :class => "title") %>
<% form_for @installing_application, :url => { :controller=> "installed_applications", :action => "install" }, :html => {:multipart => true, :id => "InstallApplication" } do |f| %>
  <ul class="ui-form">  
		<li class="inline-field">
			<label class="caption">
				<div class="logo application-logo-<%= @installing_application.name %>"></div>
			</label>
   		<%= render :partial => "application_form", :object => f, :locals => { :is_edit => false } %>
		</li>
  </ul>
  <div class="button-container">
    <%= link_to t('back'), {:controller => 'applications', :action => 'index'}, :class => "uiButton floatl" %>
    <%= f.submit t('application.enable'), :class => "uiButton special" %>
  </div>
<% end %>
