<% # Do not remove this div - fa-dev-pholder, It is used by Freshapps SDK for local testing of plugs %>
<div id="fa-dev-pholder" style="display:none"></div>

<% if feature?(:marketplace) && !Account.current.launched?(:native_apps) %>
  <% inst_plugs = installed_mkp_apps(from_page.to_sym) %>

  <% if inst_plugs.kind_of?(Hash) and inst_plugs[:error].present? %>
    <div class="widget">
      <div class="alert alert-error">
        <%= t('marketplace.apps_unavailable') %>
      </div>
    </div>
  <% else %>
    <% inst_plugs.try(:each) do |installed_plug| %>
      <div id="ext_<%= installed_plug['extension_id'] %>">
        <div class="content">
          <%= freshplug_script(installed_plug.symbolize_keys) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% installed_apps.each do |key,installed_app|
  app = installed_app.application
  unless app.blank?
  	widget = app.widget
      unless widget.blank?
      	dip = widget.display_in_pages_option
      	if dip.present? && dip.include?(from_page) 
      		app_name = app.name
      		liquid_objects = { "agent" => @agent  } 
      		if app.application_type == 'freshplug' 
             widget_code = widget_script(installed_app, widget, liquid_objects) %>
      			 <div id="<%=app.name%>" class="sidepanel <%=widget.clazz_option%>">
            		<%=widget_code%>
          		</div>
      		<% end 
      	end
      end
  end
  end
  %>	

