<!--  Header section -->
<div rel="sticky" class="cb tickets-title">
	<div class="ticket-title-text pull-left">
		<h3 class="lead"><%= t("ticket.submit_ticket_new_title") %></h3>
	</div>
	<% if Account.current.launched?(:helpdesk_ticket_templates) %>
		<div id="template-wrapper" class="template-wrapper pull-left">
			<%= render :partial => "ticket_template", :locals => {:form => "new_ticket"} %>
		</div>
	<% end %>
	<div class="ticket-header-btn btn-toolbar pull-right">
		<%= link_to t('cancel'), (@item.new_record? ? {:action => 'index'} : @item ), :class => "btn cancel-btn" %>
		<span class="btn-group dropdown">
			<button class="btn btn-primary" id="newticket-submit" data-loading-text="<%= t('ticket.submit_loading')  %>">
				<%= t('ticket.submit_ticket')  %>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
			</button>
			<ul class="dropdown-menu pull-right">
				<li>
					<%= link_to t('submit_and_close').html_safe, '#', :name => "action_save", :id => "save_and_close" %>
				</li>
				<li>
					<%= link_to t('submit_and_new').html_safe, '#', :name => "action_save" %>
				</li>
			</ul>
		</span>
	</div>
</div>
