<div class="form-horizontal">
	<div class="control-group">
		<label for="topic_title" class="control-label"><%= t('topic.name') %>*</label>
		<div class="controls">
			<%= form.text_field :title, :onchange => "/*TopicForm.editNewTitle(this);*/", :class => "required text", :tabindex => 10 %>
		</div>
	</div>
	<div class="control-group">
		<label for="topic_body" class="control-label"><%= t('message') %></label>
		<div class="controls">
			<%= form.rich_editor(:body_html, 
			:value => !@topic.new_record? ? @topic.posts.first.body_html : "", 
			:tabindex => 20, :height => "200px", 'editor-type' => :forum) %>
		</div>
	</div>
	<% if privilege?(:admin_tasks) and not @topic.new_record? %>
		<div id="topic_forum_id" class="control-group">
	  		<label for="topic_forum_id" class="control-label"><%= t('forum.title') %></label>
	  		<div class="controls">
	  			<%= form.select :forum_id, grouped_options_for_select(forum_options, @topic.forum_id), {},
	  							{:class => "select2 input-xlarge"} %>
	  		</div>
		</div>
	<% end %>
	<div class="inlineChecklist control-group">
		<% if privilege?(:admin_tasks) or current_user.moderator_of?(@topic.forum) %>
			<div class="controls">
				<div class="checkbox inline">
					<%= form.check_box :sticky %> <%= t('topic.sticky') %>
				</div>
				<div class="checkbox inline">
					<%= form.check_box :locked %> <%= t('topic.locked') %>
				</div>
			</div>
		<% end %>
	</div>	  
	<div class="control-group">
		<div class="controls">
			<%= render :partial=> "/forum_shared/attachment_form" %>
			<% unless @topic.new_record? %>
			<% unless @topic.posts.first.attachments.empty? %>
				<%= content_tag('h5', t('attachments'))%>
				<%= attachment_container(@topic.posts.first.attachments, true, "article", nil) %>
			<%end%>
			<%end%>
		</div>
	</div>
</div>

<%= javascript_tag do %>
	jQuery("#topic_locked").click(function(ev){
		jQuery("#monitor-topic-lable").toggle(!this.checked);
	});
	 .toggle(!jQuery("#topic_locked").checked);
<% end %>

<script id="file-list-template" type="text/x-jquery-tmpl">			
  <tr>
    <td class="remove">
      <a href="" onclick="Helpdesk.Multifile.remove(this); return false;", inputId="${inputId}">
        <i class="rounded-minus-icon"></i>
      </a>
    </td>
    <td class="name">${name}</td>
    <td>
      <label>Description</label>
      <input type="text" name="helpdesk_article[attachments][][description]" />
    </td>
    </tr>
</script>