<%= include_tiny_mce_if_needed %>
<div id="reply" class="editbox" style="display:none;">
	<div class="request_panel">
	  <%= content_tag 'p', h(flash[:bad_reply]), :class => 'notice' if flash[:bad_reply] %>
	  <% form_for :post, :url => posts_path(:category_id => @forum_category,:forum_id => @forum, :topic_id => @topic, :page => @topic.last_page), :html => {:multipart => true} do |f| -%>
	  <ul class="note_form ui-form">
	  	<li>
	  		<h3 class="title"><%=t('topic.reply')%></h3>
        <%= f.text_area :body_html, :class => "mceEditor", :id => 'topic_body' %>
	    </li>
		<li>
			<%= render :partial=> "/forum_shared/attachment_form" %>
		</li>
		<li class="alignright">
	    <%= submit_tag t('save_reply'), :class => "uiButton", id => "post-submit-button"  %> 
		  <%= link_to_function t('cancel'), "$('reply').hide()", :class => "uiButton" %>
		</li>
	  </ul>
	  <% end -%>
	</div>
</div>