<% content_for :sidebar do -%>&nbsp;<%-end %>
<h3 class="lead"><%= t('topic.edit') %></h3>
<%= error_messages_for :topic %>
<%= form_for @topic,
     :url  => category_forum_topic_path(@forum_category, @forum, @topic),
    :html => {:multipart => true, :method => :put } do |f| -%>

	<%= render :partial => "form", :object => f %>
	
	<div class="button-container">
    <% if privilege?(:delete_topic, @topic) %>
  		<div class="pull-left">
  			<%= link_to(t('delete'), category_forum_topic_path(@forum_category,@forum, @topic) , :class => "btn" , :method => :delete, :confirm => "#{t(:delete_topic_msg)}?") %> 
  		</div>
    <% end %>
    <%= link_to(t('cancel') , category_forum_topic_path(@forum_category,@forum, @topic), :class => "btn" ) %> 
		<%= f.submit t('save'), :class => "btn btn-primary" %>
	</div>
<% end -%>