<h3 id="new_topic" class="title"><%= t('topic.new') %> - <span class="subtitle"><%= 'by {user}'[:by_user, current_user.display_name] %></span></h3>
<%= error_messages_for :post %>
<%= error_messages_for :topic %>
<% form_for :topic, :url  => category_forum_topics_path(@forum_category, @forum) do |f| -%>
	<%= render :partial => "form", :object => f %>
	<div class="button-container"> 
		<%= submit_tag t('topic.post'), :class => "uiButton"  %>
		<%= link_to t('cancel'),  category_forum_path(@forum_category, @forum) , :class => "uiButton" %>
	</div>
<% end -%>
	
<%= javascript_tag "$('topic_title').focus();" %>
