<% content_for :layoutType do %><% end %>
<% @page_title = @topic.title %>
<% @monitoring = logged_in? && !Monitorship.count(:id, :conditions => ['user_id = ? and topic_id = ? and active = ?', current_user.id, @topic.id, true]).zero? %>

<% content_for :sidebar do -%>
	<% if logged_in? && current_user.has_manage_forums? %>
	<div class="rtCnt">
		<div class="rtDetails_forum">

		<h4 class="title">Moderate</h4>
		<%= link_to(t('connect_ticket'), new_helpdesk_ticket_path(:topic_id => @topic.id), :class => "fdbutton") if logged_in? and @topic.ticket_topic.nil?  %>
		<%= link_to(h(@topic.ticket.subject), helpdesk_ticket_path(@topic.ticket)) unless @topic.ticket_topic.nil? %>
		
		<% if logged_in? && current_user.has_manage_forums? && @forum.ideas? %>
		<h4 class="title"> Mark this idea as </h4>
		<div class="mark_action">
			 <% Topic::IDEAS_STAMPS_OPTIONS.each do |k,v| %>
			 	<% class_name = "stamp_type_#{v}" %>
			 	<%if @topic.stamp_type != v %>
					<%= link_to (k , update_stamp_category_forum_topic_path(@forum_category,@forum,@topic,:stamp_type => v),  :method=>:put, :class => class_name )   %>
				<%else%>
					<%= link_to (k , remove_stamp_category_forum_topic_path(@forum_category,@forum,@topic), :method=>:put , :class => class_name + " active")   %>
				<%end%>
			<% end %>
	    </div>
		<span class="seperator"></span>
		<div class="alignright">
			<%= link_to(t('connect_ticket') + " &raquo;", new_helpdesk_ticket_path(:topic_id => @topic.id), :class => "uiButton green") if logged_in? and @topic.ticket_topic.nil?  %>
			<%= link_to(h(@topic.ticket.subject), helpdesk_ticket_path(@topic.ticket)) unless @topic.ticket_topic.nil? %>
		</div>
			<% if @topic.locked? %>
				<div>
				    <%= image_tag "/savage_beast/clearbits/lock.gif", :class => "icon grey", :title => "Topic locked"[:topic_locked_title] %>
				    <%= 'This topic is locked'[:locked_topic] %>
				</div>
			<% else %>
			<% end -%>
		<% end %>
		</div>
	</div>
	<% end %>
<% end %> 
		<h3 class="title">
			<%= link_to("Forums"[:forums_category], categories_path) %> &rarr;
			<%= link_to( "#{@forum_category.name}", category_path(@forum_category)) %> &rarr;
			<%= link_to( "#{@forum.name}", category_forum_path(@forum_category, @forum)) %> 
		</h3>

		<div class="request_details"> 
	    	<div class="requestCnt request-cnt-first">
	    		<% if @forum.ideas? %>
		    		<div class="mark_action">
							<% if @topic.stamp_type %>
								<% class_name = "stamp_type_#{@topic.stamp_type}" %>
								<div class="<%=class_name%> stamp"><%= h(@topic.stamp_name) %></div>
							<% end %>
					</div>
				<% end %>
			        <h3 class="title"><%= h @topic.title  %></h3>	  
			        
					
				<% first_post = @posts.first %>
				<div class="description">
					<div class="user_details">
						<%= user_avatar( @topic.user.avatar ) %>
		          		<div> <%=t('posted_by')%> <%= link_to @topic.user.display_name, @topic.user, :class => "user_name" %> </div>
						<div> <%= h(@topic.created_at.strftime("%B %e %Y at %I:%M %p")) %>  </div>
		        	</div>
					<div class="ticket_actions action_icons">
						<% if logged_in? %>
						  <div class="action_buttons">
						     <% if @topic.editable_by?(current_user) -%>
						        <%= link_to(t('edit'), edit_category_forum_topic_path(@forum_category,@forum, @topic) , :class => "last" ) %> 
						        <% link_to(t('delete'), category_forum_topic_path(@forum_category,@forum, @topic) , :class => "last" , :method => :delete, :confirm => "#{t(:delete_topic_msg)}?") %>
	 					     <% end %>
						  </div>		
							
						  <%= link_to(image_tag("/images/spacer.gif"), category_forum_topic_monitorship_path(@forum_category,@forum, @topic), :method => :post, :class => "monitor", :title => "Monitor this topic" ) unless @monitoring %>
						  <%= link_to(image_tag("/images/spacer.gif"), category_forum_topic_monitorship_path(@forum_category,@forum, @topic), :method => :delete, :class => "monitor_active",  :title => "Stop monitoring this topic" ) if @monitoring %>
							  	
						<% end %> 
					</div>
		        	 
					<div class="details min_height">
						<%= first_post.body_html %>
					</div>
					
					<% unless @topic.forum.announcement? %>
						<div class="status" id="voting_container"> 
							  <%= render (:partial => "/forum_shared/topic_vote", :object => @topic) if logged_in? %> 
						</div>
					<% end %>
				</div>
	    	</div>
			<div class="alignright">
				<%= link_to_function (t('reply_topic'), "ReplyForm.init()", :class => "uiButton") if logged_in? %>
			</div>
			<% if logged_in? %>
				<div id="reply" class="editbox" style="display:none;">
					<div class="request_panel">
					  <%= content_tag 'p', h(flash[:bad_reply]), :class => 'notice' if flash[:bad_reply] %>
					  <% form_for :post, :url => posts_path(:category_id => @forum_category,:forum_id => @forum, :topic_id => @topic, :page => @topic.last_page) do |f| -%>
					  <ul class="note_form ui-form">
					  	<li>
					  		<h3 class="title">Reply to this Topic</h3>
					  	</li>
					    <li>
					       <%= f.text_area :body, :rows => 8 %>
					    </li>
					    <li style="display:none;">			
					        <div class="info_data"><%= t('formatting_help') %></h5></div>
					        <div class="info_data">
					          <%= '*bold*'[:formatting_bold] %>, &nbsp;, 
							  <%= '_italics_'[:formatting_italics] %>, &nbsp; 
							  <%= '(quotes)'[:formatting_blockquote] %>, &nbsp;
							  "IBM":http://www.ibm.com
					          <%= '* or # <span>(lists)</span>'[:formatting_list] %>
					        </div>
						</li>
						<li class="alignright">
					      <%= submit_tag t('save_reply'), :class => "button" %> 
						  <%= link_to_function t('cancel'), "$('reply').hide()", :class => "button" %>
						</li>
					  </ul>
					  <% end -%>
					</div>
				</div>
			<% end %> 
				
			<% if (@posts.size > 1) %>
				<h3 class="title"><%=t('comments')%></h3> 
				<div class="requestCnt request-conversation">
					<% last_post = @posts.last %>
					<% @posts.each do |post| %>
						<% unless (post == first_post) %>
							<%= render :partial => "forum_shared/post", :object => post %>
							<%= content_tag (:span, "", :class => "seperator") unless ( post == @topic.last_post ) %>
						<% end %>
						<%= will_paginate @posts %>
					<% end %> 
				</div>  
			<% end %>
			
			<div id="edit"></div>
		</div>