<% content_for :layoutType do %>request_view<% end %>
<% @page_title = @topic.title %>
<% @monitoring = logged_in? && !Monitorship.count(:id, :conditions => ['user_id = ? and topic_id = ? and active = ?', current_user.id, @topic.id, true]).zero? %>

<% content_for :sidebar do -%>
	<!--
	<h5><%= 'Voices'[:voices_title] %></h5>
	<ul class="flat talking">
	<% @topic.voices.each do | user | %>
  		<li><%= link_to h(user.display_name), user_path(user) %></li>
	<% end %>
	</ul>
	-->
	<% if logged_in? && current_user.has_manage_forums? && @forum.ideas? %>
	Ideas Forums
	<li>
		 <% Topic::IDEAS_STAMPS_OPTIONS.each	do |k,v| %>
		 	<%if @topic.stamp_type != v %>
			<%= link_to (k , update_stamp_category_forum_topic_path(@forum_category,@forum,@topic,:stamp_type => v),  :method=>:put )   %>
			<%else%>
			<%= link_to (k , remove_stamp_category_forum_topic_path(@forum_category,@forum,@topic),  :method=>:put , :class => "button")   %>
			<%end%>
		<% end %>
    </li>
	<% end %>
<% end # right content -%>



	
		<!--div class="breadcrumbs">
		  <%= link_to "Forums"[:forums_title], category_path(@forum_category) %>
		  <%= link_to h(@topic.forum.name), category_forum_path(@forum_category,@forum) %> 
		  <% 
		  page=session[:forum_page] ? session[:forum_page][@topic.forum.id] : nil
		  if page and page!=1 %>
		  <small>
		  	(<%= link_to 'page {page}'[:page, page], forum_path(:id => @topic.forum, :page => page) %>)
		  </small>
		  <% end %>
		  
		</div-->
		
		<div class="request_details">
	    	<div class="requestCnt">
	    		<div class="floatr" style="display:none;">
	    			<% if logged_in? %>
						<% form_tag category_forum_topic_monitorship_path(@forum_category,@forum, @topic), :style => 'margin-top:0em; float:right;' do -%>
							<div>
							  <input id="monitor_checkbox" type="checkbox" <%= "checked='checked'" if @monitoring %> 
							    onclick="if (this.checked) {<%= remote_function :url => category_forum_topic_monitorship_path(@forum_category,@forum, @topic) %>} else {<%= remote_function :url => category_forum_topic_monitorship_path(@forum_category,@forum, @topic), :method => :delete %>}" />
							  <label id="monitor_label" for="monitor_checkbox"><%= @monitoring ? 'Monitoring topic'[] : 'Monitor topic'[] %></label>
							  <%= hidden_field_tag '_method', 'delete' if @monitoring %>
							  <%= submit_tag :Set, :id => 'monitor_submit' %>
							</div>
						<% end %>
					<% end %>
				</div>	
	    		<div class="title">
			        <b><%= h @topic.title  %></b>	  
			        <em>
			          <% if @topic.locked? %>
					  	<span>(<%= 'locked'[] %>)</span>
					  <% end %>
					</em>
			    </div>
				<% first_post = @posts.first %>
				<div class="description">
					<div class="item_actions">
						<%= h(@topic.stamp_name) if @topic.stamp_type %>
						  <% if logged_in? %>
						      <% if @topic.editable_by?(current_user) -%>
						        <%= link_to('edit'[], edit_category_forum_topic_path(@forum_category,@forum, @topic), :class => "utility") %> |
						        <%= link_to('delete'[], category_forum_topic_path(@forum_category,@forum, @topic), :class => "utility", :method => :delete, :confirm => 'Delete this topic forever?'[:delete_topic_conf]) %>
						      <% end -%>
						  <% end %>
					</div>	
		        	<div class="user_details">
		        		<%= render :partial => "/shared/avatar", :object => @topic.user.avatar  %>
		          			Posted by <b><%= @topic.user.name %></b>
							<div><%= @topic.user.job_title %></div>
							<div>Created on <%= h(@topic.created_at.strftime("%B %e %Y at %I:%M %p")) %> ( <%=time_ago_in_words(@topic.created_at)%> ago ) </div>
		        	</div>
					<div class="details">
						<%= first_post.body_html %>
					</div>
					<div class="status" id="voting_container">
						  <%= render :partial => "/forum_shared/topic_vote", :object => @topic %>
					</div>
				</div>
	    	</div>
			<h3 class="subtitle">
				<div class="floatr">
					<%= link_to_function ('Reply to topic'[], "ReplyForm.init()", :class => "fdbutton") if logged_in? %>
				</div>
				Comments
			</h3>
			<div>
				<% if logged_in? %>
				<div id="edit"></div>
				<% if @topic.locked? %>
				<p>
				    <%= image_tag "savage_beast/clearbits/lock.gif", :class => "icon grey", :title => "Topic locked"[:topic_locked_title] %> 
				    <label>
				    <%= 'This topic is locked'[:locked_topic] %>.</label>
				</p>
				<% else %>
				
				
				<div id="reply" class="editbox" style="display:none;">
				<div class="request_panel">
				  <%= content_tag 'p', h(flash[:bad_reply]), :class => 'notice' if flash[:bad_reply] %>
				  <% form_for :post, :url => posts_path(:category_id => @forum_category,:forum_id => @forum, :topic_id => @topic, :page => @topic.last_page) do |f| -%>
				  <table class="note_form">
				    <tr>
				      <td rowspan="2" width="70%">
				        <%= f.text_area :body, :rows => 8 %>
				      </td>
				      <td valign="top">				
				        <h5><%= 'Formatting Help'[] %></h5>
				        <ul class="help">
				          <li><%= '*bold*'[:formatting_bold] %>
				          &nbsp; &nbsp; &nbsp;
				          <%= '_italics_'[:formatting_italics] %>
				          &nbsp; &nbsp; &nbsp;<br />
				          <%= 'bq. <span>(quotes)</span>'[:formatting_blockquote] %></li>
				          <li>"IBM":http://www.ibm.com</li>
				          <li><%= '* or # <span>(lists)</span>'[:formatting_list] %></li>
				        </ul>
				
				      </td>
				    </tr>
				    <tr>
				      <td valign="bottom" style="padding-bottom:15px;">
				       <%= submit_tag "Save Reply"[] %><span class="button_or">or <%= link_to_function 'cancel'[], "$('reply').hide()" %></span>
				     </td>
				   </tr>
				  </table>
				  <% end -%>
				</div>
				</div>
				<% end %>
			<% end %>
				
			</div>	
			<div class="requestCnt">
				<% @posts.each do |post| %>
					<% unless (post == first_post) %>
					<div class="description <%= cycle('stripe', '') %>"  id="<%= dom_id post %>-row">
						<a href="#<%= dom_id post %>" rel="bookmark"></a>
						<div class="item_actions">
						<% if logged_in? && post.editable_by?(current_user) -%>
							   <%= ajax_spinner_for "edit-post-#{post.id}", "spinner_bounce.gif" %>
						       <%= link_to_remote('Edit post'[], 
						             {:url => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post), :method => :get,
						              :before => "EditForm.init(#{post.id});", :condition => "!EditForm.isEditing(#{post.id})" }, 
						             {:href => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post, :page => params[:page]), :class => "button"}) %>
						<% end -%>
						<%if post != @posts.first and @forum.questions? %>
							<div id="post-body-<%= post.id %>">
								<% if logged_in? && current_user.has_manage_forums?  %>
									<%= link_to ("Answer" , toggle_answer_category_forum_topic_post_path(@forum_category,@forum,@topic,post),  :method=>:put ) if post.answer?  %>
									<%= link_to ("Not Answer" , toggle_answer_category_forum_topic_post_path(@forum_category,@forum,@topic,post),  :method=>:put ) if !post.answer?  %>
								<%end%>
							</div>
						<%end%>
						</div>
						<div class="user_details">
							<%= (render :partial => "/shared/avatar", :object => post.user.avatar)  if post.user %>
							<b><%= post.user.name %></b>
							<div><%= post.user.job_title %></div>
							<div title="<%= post.created_at.xmlschema %>"><%= time_ago_in_words(post.created_at) %> ago</div> 
				  		</div>
						<div class="details">
							<%= post.body_html %>
						</div>
					</div>
					<div class="seperator"></div>					
					<% end %>
					<%= will_paginate @posts %>
				<% end %>
			</div>
		</div>
		