<div class="summary-table" id="data_table">
    <div class="header">
        <table>
            <thead>
                <tr class="title">
                    <th>
                        <%=t( 'helpdesk_reports.group_summary.group') %>
                    </th>
                </tr>
            </thead>
            <tbody class="dynamic-agent-name" data-table="agent-name"></tbody>
        </table>
    </div>
    <div class="content-wrapper">
        <div class="data-wrapper" data-table="wrapper">
            <table>
                <thead>
                    <tr class="title">
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.ticket_resolved') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.ticket_resolved')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.tickets_reopened') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.tickets_reopened')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.ticket_reasigned') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.ticket_reasigned')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.reports_sla') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.reports_sla')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.res_sla') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.res_sla')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.fcr') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.fcr')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.fcr') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.fcr')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.private_note') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.private_note')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.responses') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.responses')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.avg_first_res_time') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.avg_first_res_time')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.avg_res_time') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summary.description.avg_res_time')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                        <td>
                            <%=t( 'helpdesk_reports.agent_summary.avg_resolution_time') %>
                            <span class="reports-help-icon tooltip" data-placement="right" data-original-title="<%=t( 'helpdesk_reports.group_summa ry.description.avg_resolution_time')%>"> 
                                <i class="ficon-help-icon fsize-14" size="14"></i>
                            </span>
                        </td>
                    </tr>
                </thead>
                <tbody class="dynamic-ticket-datas" data-table="ticket-data"></tbody>
            </table>
        </div>
    </div>
    <div class="footer shadow">
        <table>
            <thead>
                <tr class="title">
                    <th> <span id="agent-details-prev" data-action='data-tab-nav' class="agent-details-prev show-metrics disabled"><%= font_icon "arrow-left", :size => 14 %></span>
 <span id="agent-details-next" data-action='data-tab-nav' class="agent-details-next show-metrics"><%= font_icon "arrow-right", :size => 14  %></span>

                    </th>
                </tr>
            </thead>
            <tbody class="dynamic-agent-name" data-table="agent-name"></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var err = <%= @filter_err ? @filter_err.to_json.html_safe : false %> ;
        var locals = HelpdeskReports.locals;
        locals.chart_hash = <%= @data.to_json.html_safe %> ;
        if (!err && locals.chart_hash.length !== 0) {
            HelpdeskReports.ChartsInitializer.GroupSummary.init(locals.chart_hash);
        } else if (!err && locals.chart_hash.length === 0) {
            var div = ["data_table"];
            HelpdeskReports.CoreUtil.populateEmptyChart(div, "No data to display");
        } else {
            var div = ["data_table"];
            HelpdeskReports.CoreUtil.populateEmptyChart(div, err);
        }
    });
</script>