<label class='caption <%= hideIfEmail %>'> <%= translate.get('forCustomer') %> </label>
<div>
	<fieldset id="customNestedConfig">
		<% isDisabled = disabled_customer_data['visible_in_portal'] ? 'disabled' : ''  %>
		<label class="checkbox <%= isDisabled %>">
			<% if(isContactEmail) { %>
				<span class='ficon-checkmark-thick chkbox-img'></span>
			<% } else { %> 
				<input type="checkbox" 
								toggle_ele="nestedlvl2" 
								<%= visible_in_portal ? 'checked ' : ' ' %>
								name="customer-visible"
								<%= isDisabled %>/>
			<% } %>
			<%= translate.get('customerVisible') %> 
		</label>
		<fieldset data-nested-value="nestedlvl2" class="nestedChoices" data-disabled-by-default="<%= disabled_customer_data['editable_in_portal'] %>">
			<% isDisabled = disabled_customer_data['editable_in_portal'] ||!visible_in_portal ? ' disabled' : ' '  %>
			<label class="checkbox <%= isDisabled %> <%= hideIfEmail %>">
				<input type="checkbox" 
								toggle_ele="nestedlvl3" 
								name="customer-editable" 
								<%= visible_in_portal && editable_in_portal ? 'checked ' : ' ' %>
								<%= isDisabled %> />
				<%= translate.get('customerEditable') %> 
			</label>
			<% if (custom_form_type == 'contact') { %> 
				<fieldset data-nested-value="nestedlvl3" class="nestedChoices" data-disabled-by-default="<%= disabled_customer_data['editable_in_signup'] %>">
					<% isDisabled = disabled_customer_data['editable_in_signup'] || !(visible_in_portal && editable_in_portal) ? ' disabled' : ' '  %>
					<label class="checkbox <%= isDisabled %>">
						<% if(isContactEmail) { %>
							<span class='ficon-checkmark-thick chkbox-img'></span>
						<% } else { %> 
							<input type="checkbox" 
											name="customer-edit-signup" 
											<%= visible_in_portal && editable_in_portal && editable_in_signup ? 'checked ': ' ' %>
											<%= isDisabled %>/>
						<% } %>
						<%= translate.get('customerEditSignup') %> 
					</label>
				</fieldset>
			<% } %>
			<fieldset data-nested-value="nestedlvl3" class="nestedChoices <%= hideIfEmail %>" data-disabled-by-default="<%= disabled_customer_data['required_in_portal'] %>">
				<% isDisabled = disabled_customer_data['required_in_portal'] || !(visible_in_portal && editable_in_portal) ? ' disabled' : ' '  %>
				<label class="checkbox <%= isDisabled %>">
					<input type="checkbox" 
									name="customer-required" 
									<%= visible_in_portal && editable_in_portal && required_in_portal ? 'checked ': ' ' %>
									<%= isDisabled %> />
					<%= translate.get('customerMandatory') %> 
				</label>
			</fieldset>
		</fieldset>
	</fieldset>  
</div>