<% 	var fsm_fields = ["cf_fsm_contact_name" + "_" + current_account_id, "cf_fsm_phone_number" + "_" + current_account_id, "cf_fsm_service_location" + "_" + current_account_id, "cf_fsm_appointment_start_time" + "_" + current_account_id, "cf_fsm_appointment_end_time" + "_" + current_account_id],
		isDefault = fsm_fields.includes(obj.name) ? true : /^default/.test(field_type) ,
		field_with_section = "field_options" in obj && field_options.section_present
		delete_icon = isDefault || field_with_section ? 'ficon-trash-strike-thru' : 'ficon-trash-o',
		edit_icon = is_editable ? 'ficon-edit' : 'ficon-edit-strike-thru',
		delete_tooltip = isDefault ? translate.get("field_delete_disabled") : field_with_section ? translate.get("field_has_section") : translate.get("delete"),
		new_section_text = translate.get("new_section")
		%>

<div class='control-group date'>
	<div class='control-label'>
		<% if(custom_form_type != 'company' && field_type != 'default_requester' && !visible_in_portal) { %>
			<span class='ficon-security private-symbol muted'></span>
		<% } %>
		<% if(dom_type == 'encrypted_text') { %>
			<span class='ficon-encryption-lock private-symbol encrypted'></span>
		<% } %>
		<% if (dom_type != 'checkbox') { %>
			<label class='custom-form-label'><%= label %></label>
		<% } %>
	</div>
	<div class='options-wrapper'>
		<div class='opt-inner-wrap'>
			<div class = "edit-field options <%=edit_icon%> tooltip" title="<%= fsm_fields.includes(obj.name) ? translate.get("fsm_fields_edit") : translate.get('edit') %>" data-placement= "topRight"></div>
			<div class = "delete-field options <%=delete_icon%> tooltip" title="<%=delete_tooltip%>" data-placement= "topRight"></div>
		</div>
	</div>
	<div class='controls <%= dom_type %>'>
		<span class='overlay-field'></span>
		<% switch(dom_type) {
			case 'text':
			case 'phone_number':
			case 'url':
			case 'number':
			case 'decimal':
			case 'email':
			case 'encrypted_text': %>
				<input type='text' disabled>
				<% break;
			case 'requester': %>
				<input type='text' disabled class='addcc'>
				<span>&nbsp;<a href="#" class="underline">Add cc</a></span>
				<% break;
			case 'date': %>
				<input type='text' disabled>
				<span class='ficon-date'></span>
				<% break;
			case 'checkbox': %>
				<input type='checkbox' disabled>
				<span><%= label %></span>
				<% break;
			case 'time_zone_dropdown':
			case 'dropdown':
			case 'dropdown_blank': %>
				<select class='input-xlarge' disabled>
					<% _.each(admin_choices, function(choice, index) { %>
						<option value="<%= choice['value'] %>" > <%= choice['name'] %> </option>
 					<% }) %>
				</select>
				<% break;
			case 'paragraph':
			case 'html_paragraph':
			case 'description': %>
				<textarea rows="5" disabled></textarea>
				<% break;
			case 'nested_field':  %> 
				<select class='input-xlarge' disabled>
					<% nestedTree = new NestedField(admin_choices, nested_field_revamp_enabled);
						var choice = nestedTree.getCategory() ;
						choice = choice.split(",");
					%>
					<% _.each(choice, function(option, index) { %>
						<%= option %>
 					<% }) %>
					
				</select>
				<% break;
			default:%>
				<input type='text' disabled>
				<% break;
		} %>
	</div>
	<% if (multi_sections_enabled && "has_section" in obj && has_section && "field_options" in obj && !field_options.section_present && !field_options.section ) { %>
		<div class='options-wrapper add-section new-section'>
			<div class = "ficon-add-section options tooltip" title="<%= translate.get('addSection') %>" data-placement= "topRight"></div>
	</div>
	<% } %>
</div>
<% if (multi_sections_enabled) { %>
	<% if ("has_section" in obj && has_section && "field_options" in obj && field_options.section_present) { %>
		<%=JST['custom-form/template/section_container']({section_label : new_section_text}) %>
	<% } %>
<% } else { %>
	<% if ("has_section" in obj && has_section) { %>
		<%=JST['custom-form/template/section_container']({section_label : new_section_text}) %>
	<% } %>
<% } %>
