<% content_for :sidebar do -%><%- end %>
<h2 class="title">Advance portal rebranding</h2>
<h3 class="sub-title">Customize your support portal</h3>
<span class="seperator"></span>   
<% form_for [:admin, @portal_template], :url => { :action => :update }, :html => { :method => :put } do |f| -%>   
<div class="customize-form clearfix">
<ul data-tabs="tabs" class="customize-sidebar">
  <li>
    <a href="#Pageselements" data-toggle="tab">Page elements</a>
  </li>
  <li>
    <a href="#Customcss">Custom stylesheet</a>
  </li>
  <li>
    <a href="#Pageslayout">Page layout</a>    
  </li>   
  <li>                       
    <h6>Portal pages</h6>
    <ul id="PortalPages">                     
      <%= render :partial => "portal_pages", :object => @portal_pages %>
  	</ul>	
    <%= select_tag("available_pages", options_for_select(@page_types), :class => "customSelect", "data-placeholder" => "Add Page") %>
    <% javascript_tag do -%>
      jQuery("#available_pages").change(function(ev){
        _pagetype = this.value;
        jQuery.ajax({
          type: 'POST',
          url: "<%= admin_portal_pages_path(:portal_id => @portal.id) %>",
          data: { portal_page : { page_type : _pagetype } },
          success: function(data){
             jQuery("#PortalPages").html(data);
          }
       });
     })   
     jQuery("#PortalPages a").live("change", function(ev){  
        jQuery("#EditPage").html('<div class="loading-box"></div>');        
        jQuery.get(jQuery(this).data("remoteUrl"), function(data){
           jQuery("#EditPage").html(data);
        })
      });
    <%- end %>
  </li>       
</ul>     
   
  <div class="tab-content">
  	<div class="active tab-pane" id="Pageselements">
    	<label>Header</label>  
    	<label class="help-text">Change the header area of your support portal</label>
    	<%= f.text_area :header %>

    	<label>Contact Information</label>        
      <label class="help-text">Add contact information of like phone no. or email. This information will come in the side bar of your support portal</label>
    	<%= f.text_area :contact_info %>
		
    	<label>Footer</label>
    	<label class="help-text">Change the footer area of your support portal</label>	
    	<%= f.text_area :footer %>
  	</div>

  	<div class="tab-pane" id="Customcss">		
    	<label>Custom stylesheet</label>   
    	<label class="help-text">Add or overwrite freshdesk default styles with your own custom css</label>
    	<%= f.text_area :custom_css, :class => "auto", :rows => 24 %>            
  	</div>
	     
  	<div class="tab-pane" id="Pageslayout">
    	<label>Page layout</label>
    	<label class="help-text">Customize the entire layout of your support portal</label>	
    	<%= f.text_area :layout, :class => "auto", :rows => 24 %>       
  	</div> 
  	
  	<div class="tab-pane" id="EditPage">
  	 <div class="loading-box"></div>
  	</div> 
  	
  	<div class="tab-pane" id="AddPage">
  	 <div class="loading-box"></div>
  	</div>
  </div>
</div>                                                                              
<div class="well">
  <%= submit_tag "Preview", :name => 'preview_button', :class => "btn primary floatr", :target => "_blank", :disable_with => "Please wait..." %>
  <%= submit_tag "Save changes", :class => "btn", :disable_with => "Please wait..." %>
</div>
<% end -%> 