<% content_for :sidebar do -%><%- end %>                   

<h3 class="title">              
	Portal templates
</h3>
<span class="seperator"></span>
<% form_for [:admin, @portal_template], :url => { :action => :update }, :html => { :method => :put } do |f| -%>
	<label>Header</label>
	<%= f.text_area :header %>
	
	<label>Footer</label>
	<%= f.text_area :footer %>

	<label>Contact Information</label>
	<%= f.text_area :contact_info %>	
		
	<label>Custom Css</label>
	<%= f.text_area :custom_css %>        
	
	<label>Layout</label>
	<%= f.text_area :layout %>              

	<span class="seperator"></span>
	<%= submit_tag "Preview", :name => 'preview_button', :class => "btn primary floatr", :target => "_blank", :disable_with => "Please wait..." %>
	<%= submit_tag "Save changes", :class => "btn", :disable_with => "Please wait..." %>
	
<% end -%>

<span class="seperator"></span>	                        

<h2 class="title">              
	Portal pages
</h2>         
<div class="seperator"></div>   
<div class="table-grid">
	<table>                   
		<tr> 
			<th>Page Name</th>
			<th colspan="2">Content</th>            			
		</tr>
		<% @portal_pages.each do |page| %>
		<tr>                              
			<td><%= page.page_name %></td>
			<td><%= page.content %></td>
			<td>
				<%= link_to	"Customize", edit_admin_portal_page_path(@portal, page.id), :class => "btn small" %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
