<div id="timesheetlist">
	<%= each_or_message "helpdesk/time_sheets/v2/time_entry", @ticket.time_sheets, t(".no_timeentry") %>
</div>
<div class="new_timer">
	<a href="<%= new_helpdesk_ticket_helpdesk_time_sheet_path(@ticket) %>" title="Add Time" 
		rel="freshdialog" data-target="#new_timeentry" data-width="420"
		 data-submit-label="<%= t('save')%>" data-submit-loading="<%= t('saving')%>"
		 >Add Time</a>
</div>
<% javascript_tag do -%>
   totalTime("#timesheetlist .time", "#timeentry_timer_total");
   jQuery('#timesheetlist .time-tracked-details:last .toggle_timer').show();
<% end %>
<%= include_javascripts :timesheet %>