<div id="feedback_widget_form_id">
	<% form_for :helpdesk_ticket, @ticket, :url => widgets_feedback_widget_path(:submit_message => params[:submitThanks]) , :html => {:method => :post, :multipart => true, :id => "fd_feedback_widget", :target => "freshwidget-submit-frame"}  do |f| %>
	  	<%= f.error_messages %>
	    <ul class="feedback-widget-form"> 
	    	<% current_portal.customer_editable_ticket_fields.each do |field| %>
	    	<% next if field.dom_type.eql?('requester')%>
			<% 
				dom_type_correction = 
					(case field.dom_type
						when "requester" then "email"
						when "html_paragraph" then "paragraph"
						else field.dom_type
					 end)
				field_name_correction = (field.field_name == "description_html") ? "description" : field.field_name
			%>
	        <%= construct_ticket_element :helpdesk_ticket, field, 
	                                       '',
	                                       dom_type_correction, 
	                                       false, 
	                                       (field.dom_type == "requester" && logged_in?) ? @ticket.email : "",
	                                       field_name_correction, true %>
	        <%#= render(:partial => "/shared/nested_fields", :locals => { :ticket => nil, :category => field, :category_field_value =>  nil, :type => "edit"}) if field.field_type == "nested_field"%>                                       
	      <% end %>                                                              
		  </ul>
		<input id="helpdesk_ticket_email" class="text" type="text" value="<%= (logged_in?) ? @ticket.email : "" %>" size="30" name="helpdesk_ticket[email]">
		<div class="button-container">
			<%= link_to_function t("cancel"), '#' , :class => "uiButton-feedbackwidget" %>
			<%= f.submit t('ticket.submit_ticket'), :class => "uiButton-feedbackwidget" %>
			<%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
			<%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %> 
		</div>
	<% end %>
</div>