	<ul class="ui-form ui-form-widget">
		<% @customizer = ActiveSupport::JSON.decode(@ticket.customizer.requester_view)
		   @customizer.each do |field|
				case field["label"]
					 when "Requester" then 
					%>
					<li> 	
				  		<label id="requester-label">Your Email*</label>
				  		<input type="text" id="helpdesk_ticket_email" class="text email required" name="helpdesk_ticket[email]" value="<%=@ticket.email%>"></input>
				   	</li>	
					<% when "Subject" then%>
						<li>
				        	<%= form.label :subject, "Question" %>
				          	<%= form.text_field :subject, :class => "text" %>
				   		</li>
					<% when "Description" then%>
						<li>
							<%= form.label :description, "Details" %>
				    		<%= form.text_area :description, :class=>"textarea" %>
						</li>
						
					<% when "Source" then%> 
					<% when "Status" then%>
					<% when "Group"  then%>
					<% when "Assigned to" then%>
					<% when "Priority" then%>				
					
					<% else %> 
						<% form.fields_for :flexifields do |cust_form| %>
						<% 
							field_label = (field["customer"]["required"]) ? "#{field["display_name"]}*" : "#{field["display_name"]}"  
							field_class = field["type"] + ((field["customer"]["required"]) ? " required" : "")  
						%>
							<% case field["type"] when "text","number" then %>				
								<li class="<%= field['label'] %>">		 
									<%= cust_form.label "#{field["label"]}", field_label %>  
				 					<%= cust_form.text_field "#{field["label"]}", :class => field_class %>
								</li>		 
										
							<% when "paragraph" then %>
								<li class="paragraph">
									<%= cust_form.label "#{field["label"]}", field_label %>  
				 					<%= cust_form.text_area "#{field["label"]}" ,:class => field_class %>
								</li>
									
							<% when "dropdown" then %>
								<li class="dropdown">
									<% Array values =[]
										field["choices"].each {|choice| values.push(choice["value"])}%>
										 <%= cust_form.label "#{field["label"]}", field_label %>  
				 						 <%= cust_form.select "#{field["label"]}", values ,:class=> field_class %>
							    </li>
											
						   <% when "checkbox" then %>
								<li class="checkbox">
									<%= cust_form.check_box "#{field["label"]}" ,:class=>field_class %>					
									<%= field_label %>
							     </li>
						   <% end %>
						 <% end %>			 
						<% end %>
					<% end %>
		<li>
			<span class="seperator"></span>
		</li>		
	</ul>
	<div class="button-container">
		<%= form.submit t('ticket.submit_ticket'), :class => "uiButton" %>
		<%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
		<%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %> 
	</div>