<%= content_tag (:h3, (params[:formTitle].blank?) ? t('feedbackwidget_defaulttitle') : params[:formTitle], :class => "title") %>
<% form_for :helpdesk_ticket, @ticket, :url => widgets_feedback_widget_path(:submit_message => params[:submitThanks]) , :html => {:method => :post, :multipart => true, :id => "fd_feedback_widget", :target => "freshwidget-submit-frame"}  do |f| %>
  <%= f.error_messages %>
    <ul class="ui-form"> 
      <% current_portal.customer_editable_ticket_fields.each do |field| %>
				<% 
					dom_type_correction = 
						(case field.dom_type
							when "requester" then "email"
							when "html_paragraph" then "paragraph"
							else field.dom_type
						 end)
					field_name_correction = (field.field_name == "description_html") ? "description" : field.field_name
				%>  
        <%= construct_ticket_element :helpdesk_ticket, field, 
                                       field.label_in_portal,
                                       dom_type_correction, 
                                       field.required_in_portal, 
                                       (field.dom_type == "requester" && logged_in?) ? @ticket.email : "",
                                       field_name_correction
                                       %>
        <%#= render(:partial => "/shared/nested_fields", :locals => { :ticket => nil, :category => field, :category_field_value =>  nil, :type => "edit"}) if field.field_type == "nested_field"%>                                       
      <% end %>                                                              
      <li>
        <%= render :partial=>"/helpdesk/shared/attachment_form"  %>
      </li>
	  </ul>
	<div class="button-container">
		<%= f.submit t('ticket.submit_ticket'), :class => "uiButton" %>
		<%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
		<%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %> 
	</div>
<% end %>
<iframe id="freshwidget-submit-frame" name="freshwidget-submit-frame" src="about:blank" frameborder="0" scrolling="auto" allowTransparency="true" style="visibility:hidden; width:0px; height:0px;"></iframe>
<script type="text/javascript">
	jQuery("document").ready(function(){
		setTimeout(function() {
	 		jQuery("#fd_feedback_widget").validate();
	 	},500);
	 	jQuery("#freshwidget-submit-frame").bind("load", function() {
	 		if(jQuery("#freshwidget-submit-frame").contents().find("#ui-widget-container").length != 0) {
	 			jQuery("#ui-widget-container").hide();
		 		jQuery("#ui-thanks-container").html(jQuery("#freshwidget-submit-frame").contents().find("#ui-widget-container").html());
		 		jQuery("#ui-thanks-container").show();
		 	}
	 	});
	});
</script>
