<% responsive = widget_option(:responsive) %>
<% disable_options = params[:disable]%>

<% if(responsive != "no") %>
   
	<%= stylesheet_link_tag_with_rtl :'cdn/responsive_widget' %>
<% end %>

<div class="modal-header">
	<div class="modal-header-bg">
	<%= content_tag(:h3, widget_option(:formTitle), :class => "ellipsis", :title => widget_option(:formTitle)) %>
	</div>
</div>
<% widget_view = widget_option(:widgetView) %>
<% widget_type = widget_option(:widgetType) %>
<input type="hidden" name="widgetType" id="widgetType" value= "<%= widget_type %>" />
<%= hidden_field_tag "searchInputFrom" %>
<div class="modal-body">
<%= form_for @ticket,
		:url => widgets_feedback_widget_path(:submit_message => params[:submitThanks],
																				:formTitle => params[:formTitle],
																				:widgetType => widget_type),
		:html => { :method => :post, :multipart => true, :class => "form form-widget", :id => "fd_feedback_widget" } do |f| %>
  	<%= f.error_messages %>
  	<% if widget_view %>
	  	<div class="form-placeholder">
		  	<% @ticket_fields_def_pos.each do |tf_field| %>
		  		<% old_pos = @ticket_fields.map(&:field_type).index(tf_field) %>
		  		<% if(old_pos != nil) %>
		  			<% field = @ticket_fields.delete_at(old_pos) %>
		  			<% field['dom_type'] = field.dom_type == "requester" ? "widget_requester" : field.dom_type %>
		  			<div class="control-group <%= field.field_type %>">
		  				<%= ticket_field_container f, :helpdesk_ticket, field, widget_prefilled_value(field) %>
		  			</div>
				<% end %>
		  	<% end %>
		  	<%= f.hidden_field :source, :value => @ticket.source %>
	  	</div>
  	<% end %>
  	<% field_spacing = widget_view ? "form-portal" : "field-order" %>
  	<div class="<%= field_spacing %>">
		<% @ticket_fields.each do |field| %>
			<div class="control-group <%= field.field_type %>">
    			<%= ticket_field_container f, :helpdesk_ticket, field, widget_prefilled_value(field) %>
    		</div>
		<% end %>
		<% if widget_type="popup" %>
			<div class="extra-space"></div>
		<% end %>
	</div>
	<% if widget_type == "popup" %>
		<div class="extra-space"></div>
	<% end %>
</div>
<div class="modal-footer">
	<div class="row-fluid">
		<div class="span10">
			<div class="copyright">
				<% unless(current_account.subscription.paid_account?) %>
					<%= link_to(t('footer.helpdesk_software'), "http://www.freshdesk.com", :target => "_blank") %>
					<%= t('footer.by_freshdesk') %>
					<div class="fw-privacy-policy">
						<%= link_to(t('portal.cookie.privacy_policy'), "http://www.freshdesk.com/privacy", :target => "_blank") %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="span2 omega">
			<%= f.submit t('ticket.submit_ticket'), :class => "btn btn-primary omega",
				"data-loading-text" => t('ticket.submit_loading') %>
			<%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
			<%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>
			<% referrer = h(request.referrer) %>
			<%= hidden_field_tag "meta[referrer]", referrer %>
		</div>
	</div>
</div>
<% end %>
<% if widget_option(:searchArea) && feature?(:auto_suggest_solutions) && allowed_in_portal?(:open_solutions) %>
	<% if(responsive != "no") %>
		<a class="mobile-search-icon" id="mobile-search-icon" href="#">
			<span id="mobile-counter"></span>
			<span class="wicon-mobile-search"></span>
		</a>
		<input type="hidden" name="responsive" id="responsive" value= "<%= responsive %>" />
		<script type='text/javascript'>
			jQuery(document).ready(function () {
				var responsiveWidget = jQuery("#responsive").val();
				if(responsiveWidget != "no") {
					jQuery("#helpdesk_ticket_subject").after("<a href='#' id='subject-mobile-counter'></a>")
					jQuery('.mobile-search-icon,#subject-mobile-counter').click(function(ev) {
						ev.preventDefault()
						jQuery('.modal-body').toggleClass('modal-body-hide');
						jQuery('.modal-panel').toggleClass('modal-panel-show');
						jQuery('.mobile-search-icon').toggleClass('mobile-search-icon-selected');
						jQuery('#helpdesk_ticket_submit').toggle();
					});
				}
			});
		</script>
	<% end %>
	<div class="modal-panel" id="feedback-suggest">
		<form class="hc-search-form" autocomplete="off" action="<%= solutions_support_search_path %>" id="hc-search-form">
			<div class="hc-search-input">
				<input placeholder="<%=t('.feedback_widgets_search')%>" type="text" id="fs-input"
					name="term" class="span12 special" value=""
		            rel="page-search" data-max-matches="10">
			</div>
		</form>
		<div id="panel-content" class="panel-content hide">
			<h4 id="ws-results-title"><%=t('.feedback_widgets_search_results')%></h4>
			<ul class="unstyled" id="ws-results"></ul>
		</div>
		<div id="panel-info" class="panel-info">
			<h2 class="lead"><%=t('.feedback_widgets_search_our')%><br />
				<%=t('.feedback_widgets_knowledge_base')%></h2>
			<%= link_to t('.feedback_widgets_help_articles'), support_solutions_path,
					{ :target => "_blank", :class => "link-pointer" } %>
		</div>
	</div>

	<script id="ws-tmpl" type="text/x-jquery-tmpl">
		<li>
			<div class="ellipsis">
				<a href="${url}" target="_blank">{{html title}}</a>
			</div>
			<p class="help-text">{{html desc}}</p>
		</li>
	</script>
	<script type="text/javascript">
		var suggestQuery, suggestDelay, suggestForSubject = true;
		window['suggest-cache'] = {};

		jQuery("#feedback-widget-container").addClass("modal-panel-active");

		var suggestResponse = function(data, term){
			var searchInputFrom = jQuery("#searchInputFrom").val();

			jQuery("#mobile-counter").removeClass("mobile-counter")
			jQuery("#mobile-counter").text("")
			jQuery("#subject-mobile-counter").removeClass("subject-mobile-counter")
			jQuery("#subject-mobile-counter").text("")

		    if(data.item.length > 0){
		    	if(data.count < 100){
			    	jQuery("#mobile-counter").text(data.count)
			    	jQuery("#subject-mobile-counter").text(data.count + " matching articles found")
		    	}
		    	else{
		    		jQuery("#mobile-counter").text("99+")
		    		jQuery("#subject-mobile-counter").text("99+ matching articles found")
		    	}
		    	jQuery("#mobile-counter").addClass("mobile-counter")
		    	jQuery("#subject-mobile-counter").addClass("subject-mobile-counter")
				jQuery("#ws-results")
					.html(jQuery.tmpl(jQuery("#ws-tmpl").template(), data.item))
					.append("<li><a href='/support/search/solutions?term="+term+"' target='_blank'><%= t('widgets.feedback_widgets.new.show_all_results') %></a></li>")
				jQuery("#panel-content").show()

		    }else if(searchInputFrom == "Subject") {
		    	jQuery("#panel-info").show();
		    	jQuery("#fs-input").val("");
		    }
		    else {
		    	jQuery("#ws-results").html("<%= t('widgets.feedback_widgets.new.no_results') %>" + escapeHtml(term))
		    	jQuery("#panel-content").show()
		    }

		    jQuery("#fs-input").removeClass("loading-right");
		}

		var callbackToSolutionSearch = function(string){
			var term = string.trim(),
		        cache = window['suggest-cache'],
		        suggest_url = "/support/search/solutions.json",
		        request = { max_matches:5, term:term, need_count:'true' };

		    if(suggestQuery) suggestQuery.abort();

		    if( term in cache || term == '' ) {
		        suggestResponse( cache[ term ], term )
		        return
		    }

		    jQuery("#fs-input").addClass("loading-right");

	        suggestQuery = jQuery.getJSON(suggest_url, request, function( data, status, xhr ) {
				window['suggest-cache'][ term ] = data
				suggestResponse( data, term )
	        });
		}

	  	jQuery("#helpdesk_ticket_subject").live("blur paste", function(ev){
	  		jQuery("#searchInputFrom").val("Subject");
	  		if(!suggestForSubject) return

	  		var searchString = this.value.replace(/^\s+|\s+$/g, "");

	  		if(searchString != '' && searchString.length >= 2){
	  			jQuery("#fs-input").val(this.value);
	  			jQuery("#panel-content").hide();
	  			searchKnowledgeBase(this.value);
	  		}
	  	});

	  	jQuery("#fs-input").live("keydown change paste", function(ev){
	  		jQuery("#searchInputFrom").val("Search");

			var $this = jQuery(this);
			clearTimeout(suggestDelay);
		    suggestDelay = setTimeout(function() {
		    	suggestForSubject = false

		    	searchKnowledgeBase($this.val());

		    }, 500)

		    if(ev.keyCode == 13){
	   			ev.preventDefault();
	   			return false;
	   		}

	  	});

	  	function searchKnowledgeBase(searchInput)
	  	{
	  		var searchString = searchInput.replace(/^\s+|\s+$/g, "");

			if(searchString != '' && searchString.length >= 2){
				jQuery("#fs-input").addClass("loading-right");
				jQuery("#panel-info").hide();
				callbackToSolutionSearch(searchString);
			}else{
				jQuery("#fs-input").removeClass("loading-right");
				jQuery("#ws-results").empty();
				jQuery("#panel-content").hide()
				jQuery("#panel-info").show();

				suggestForSubject = true;

				jQuery("#mobile-counter").removeClass("mobile-counter")
				jQuery("#mobile-counter").text("")
				jQuery("#subject-mobile-counter").removeClass("subject-mobile-counter")
				jQuery("#subject-mobile-counter").text("")
			}
	  	}
	</script>
<% end %>

<iframe id="freshwidget-submit-frame" name="freshwidget-submit-frame"
	src="about:blank" frameborder="0" scrolling="auto"
	allowTransparency="true" style="position:absolute; visibility:hidden; width:0px; height:0px;">
</iframe>


<%= javascript_tag do %>
	jQuery('.modal-body').scroll(function() {
		if(this.scrollTop > 8){
			jQuery(this).parent().addClass("modal-scroll");
		}else{
			jQuery(this).parent().removeClass("modal-scroll");
		}
	});

	jQuery(".description-label").on("click", function(){
		jQuery(".redactor_editor").focus();
	});

	jQuery(document).ready(function () {
		var disabled_options = [];
		var disabled_custom_options = [];
		<% unless disable_options.blank? %>
			disabled_options = <%= (disable_options.keys - ["custom_field"]).to_json.html_safe%>
			<% unless disable_options[:custom_field].blank? %>
				disabled_custom_options = <%= disable_options[:custom_field].keys.to_json.html_safe%>
			<% end %>
		<% end %>
		for(var i = 0; i < disabled_options.length; i++)
		{
			var key = disabled_options[i];
			if(key == "requester"){
				jQuery("#helpdesk_ticket_email").attr("readonly","readonly");
			}
			else if(key == "name"){
				jQuery("input[name='helpdesk_ticket[name]']").attr("readonly","readonly");
			}
			else if(jQuery("#helpdesk_ticket_"+key)){
				jQuery("#helpdesk_ticket_"+key).attr("readonly","readonly").select2("disable");
			}
		}
		for(var i = 0; i < disabled_custom_options.length; i++){
			var key = disabled_custom_options[i];
			if(jQuery("#helpdesk_ticket_custom_field_"+key)){
						jQuery("#helpdesk_ticket_custom_field_"+key).attr("readonly","readonly").select2("disable");
			}
		}

		var prepopulate_name = "<%= params[:helpdesk_ticket][:name] if params[:helpdesk_ticket]%>"

		if(prepopulate_name){
			jQuery("#helpdesk_ticket_email").trigger('focusout');
		}

		var embeddedWidget = jQuery("#widgetType").val();
		if(embeddedWidget == "embedded") {
			jQuery("#feedback-widget-container").removeClass("modal modal-widget");
			jQuery(".feedback-wrapper").addClass("embedded-wrapper");
			jQuery(".modal-body").addClass("embedded-body");
			jQuery(".modal-panel").addClass("embedded-panel");
			jQuery(".modal-footer").addClass("embedded-footer");
			jQuery(".hc-search-input").addClass("embedded-search-input");
		}

	});
<% end %>
