<% responsive = widget_option(:responsive) %>
<% disable_options = params[:disable]%>
<% @params = params %>

<% if(responsive != "no") %>
  <%= stylesheet_link_tag_with_rtl :'cdn/responsive_widget' %>
<% end %>
<% widget_view = widget_option(:widgetView) %>
<% widget_type = widget_option(:widgetType) %>
<input type="hidden" name="widgetType" id="widgetType" value= "<%= widget_type %>" />
<%= hidden_field_tag "searchInputFrom" %>
<div class="modal-header feedback-header modal-body-change">
  <div class="modal-header-bg">
    <%= content_tag(:h3, widget_option(:formTitle), :class => "ellipsis lead pull-left form-title", :title => widget_option(:formTitle)) %>
    <% if widget_option(:searchArea) && allowed_in_portal?(:open_solutions) %>
    <span class="embedded-search">
    <%= content_tag(:h3, t('ticket.search_text'), :class => "ellipsis lead pull-left search-text active", :title => t('ticket.search_text')) %>
    <div class="embedded-hightlight"></div>
    <span id="search-count"></span>
    </span>
    <div class="pull-right search-panel">
       <span class="search-help" data-search-option=true>
       <%= t('ticket.search_text') %>
       </span>
      <div class="feedback-search">
        <div class="feedback-search-icon text-center">
          <i class="ficon-search set-search"></i>
      </div>
    </div>
  </div>
  <%end%>

  </div>  
</div>
<div class="modal-body feedback-body modal-body-change">
  <%= form_for @ticket,
    :url => widgets_feedback_widget_path(:submit_message => params[:submitThanks],
                                        :formTitle => params[:formTitle],
                                        :widgetType => widget_type),
    :html => { :method => :post, :multipart => true, :class => "form form-widget", :id => "fd_feedback_widget" } do |f| %>
    <%#= f.error_messages %>
    <div class="errorExplanation hide" id="errorExplanation">
      <h2><%= t(".prohibited_error") %></h2>
      <p><%= t(".problems_with_fields") %></p>
      <ul>
        <li id="feedback_widget_error"></li>
      </ul>
    </div>
  	<% if widget_view %>
	  	<div class="form-placeholder">
		  	<% @ticket_fields_def_pos.each do |tf_field| %>
		  		<% old_pos = @ticket_fields.map(&:field_type).index(tf_field) %>
		  		<% if(old_pos != nil) %>
		  			<% field = @ticket_fields.delete_at(old_pos) %>
		  			<% field['dom_type'] = field.dom_type == "requester" ? "widget_requester" : field.dom_type %>
		  			<div class="control-group <%= field.field_type %>">
		  				<%= ticket_field_container f, :helpdesk_ticket, field, widget_prefilled_value(field) %>
		  			</div>
				<% end %>
		  	<% end %>
		  	<%= f.hidden_field :source, :value => @ticket.source %>
	  	</div>
  	<% end %>
  	<% field_spacing = widget_view ? "form-portal" : "field-order" %>
  	<div class="<%= field_spacing %>">
		<% @ticket_fields.each do |field| %>
			<% next if field.section_field? || field.field_type.eql?('custom_file') %>
			<div class="control-group <%= field.field_type %> <%= " hide" if field.field_type == "default_company" %>">
    		<%= ticket_field_container f, :helpdesk_ticket, field, widget_prefilled_value(field) %>
    	</div>
    	<% if field.has_section?
        field.picklist_values.each do |picklist|
          next if picklist.section.blank?
          %> 
        <textarea class="picklist_section_<%= picklist.id %> hide"> <%
            picklist.section_ticket_fields.each do |section_tkt_field|
              if section_tkt_field.editable_in_portal
                %><div class="control-group ticket_section">
                <%=  (ticket_field_container f,:helpdesk_ticket, section_tkt_field,
                                    widget_prefilled_value(section_tkt_field), picklist.id.to_s).gsub("</textarea>", "&lt/textarea&gt").html_safe %>
                </div>
      <%
              end
            end
          %> </textarea> <%
        end
      end %>
  <% end %>
</div>
<% check_captcha_for_anonymous = current_account.feedback_widget_captcha_enabled? || current_account.feedback_widget_captcha_allowed? %>
<% if show_captcha?(check_captcha_for_anonymous) %>
  <div class="control-group">
    <div class="controls recaptcha-control">
      <div id="captcha_wrap">
         <iframe 
            src="/support/recaptcha#<%= ENV["RECAPTCHA_SITE_KEY"] %>"
            class="recaptcha-frame"
            id="recaptcha-frame"
            height="100px"
            width="320px">
          </iframe>
        <div class="recaptcha-error-message hide" id="helpdesk_ticket_captcha-error">
          <%= t("recaptcha_require_message") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if widget_type="popup" %>
  <div class="extra-space"></div>
<% end %>
</div>
<div class="modal-footer feedback-footer modal-body-change">
  <div class="row-fluid">
    <div class="span6">
      <div class="copyright">
        <% if current_account.copy_right_enabled? %>
          <%= link_to(t('footer.helpdesk_software'), "http://www.freshdesk.com", :target => "_blank") %>
          <%= t('footer.by_freshdesk') %>
          <div class="fw-privacy-policy">
            <%= link_to(t('portal.cookie.privacy_policy'), "http://www.freshdesk.com/privacy", :target => "_blank") %>
          </div> 
        <% end %>
      </div>
    </div>
    <input type="hidden" id="submit_message" value="<%= params[:submitThanks] %>" />
    <input type="hidden" name="retainParams" id="retainParams" value= "<%=  ActiveSupport::JSON.encode params.except(:controller).except(:action) %>" />
    <div class="span6 omega">
      <%= f.submit widget_option(:submitTitle), :class => "btn btn-primary omega",
        "data-loading-text" => t('ticket.submit_loading') %>
      <%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
      <%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>
      <% referrer = h(request.referrer) %>
      <%= hidden_field_tag "meta[referrer]", referrer %>
    </div>
  </div>
</div>
<% end %>


<% if widget_option(:searchArea) && allowed_in_portal?(:open_solutions) %>
  <% if(responsive != "no") %>
    <a class="mobile-search-icon" id="mobile-search-icon" href="#">
      <span id="mobile-counter"></span>
      <span class="wicon-mobile-search"></span>
    </a>
    <input type="hidden" name="responsive" id="responsive" value= "<%= responsive %>" />
  <% end %>
  <div class="modal-panel suggest-panel" id="feedback-suggest">
    <form class="hc-search-form" autocomplete="off" action="<%= solutions_support_search_path %>" id="hc-search-form">
      <div class="suggest-search">
        <input placeholder="<%=t('.feedback_widgets_search')%>" type="text" id="fs-input"
					name="term" class="span12 special searchField" value=""
		            rel="page-search" data-max-matches="10">
      </div>
    </form>
    <div id="panel-content" class="panel-content feedback-suggest-panel hide">
      <!-- <h4 id="ws-results-title"><%=t('.feedback_widgets_search_results')%></h4> -->
      <ul class="unstyled" id="ws-results"></ul>
    </div>
    <div id="panel-info" class="panel-info">
      <h2 class="lead"><%=t('.feedback_widgets_search_our')%><br />
        <%=t('.feedback_widgets_knowledge_base')%></h2>
      <%= link_to t('.feedback_widgets_help_articles'), support_solutions_path,
					{ :target => "_blank", :class => "link-pointer" } %>
		</div>
	</div>

	<script id="ws-tmpl" type="text/x-jquery-tmpl">
		<li>
      <a href="${url}" target="_blank">
        <div class="ellipsis">{{html title}}</div>
      </a>
      <!-- <p class="help-text">{{html desc}}</p> -->
    </li>
	</script>
	<script type="text/javascript">
		var suggestQuery, suggestDelay, suggestForSubject = true;
		window['suggest-cache'] = {};

		jQuery("#feedback-widget-container").addClass("modal-panel-active");

		var suggestResponse = function(data, term){
      var searchInputFrom = jQuery("#searchInputFrom").val();
      var formTitleWidth = jQuery('.form-title').width(), searchTextWidth= jQuery('.search-text').width(),searchTextPadding = formTitleWidth + 30;
      jQuery("#mobile-counter").removeClass("mobile-counter").text("")
      jQuery("#subject-mobile-counter").removeClass("subject-mobile-counter").text("");
      jQuery("#search-count").removeClass("search-count").text("");
      
        if(data.item.length > 0){
          if(data.count < 100){
            jQuery("#mobile-counter,#search-count").text(data.count)
            jQuery("#subject-mobile-counter").text(data.count + " matching articles")
          }
          else{
            jQuery("#mobile-counter,#search-count").text("99+")
            jQuery("#subject-mobile-counter").text("99+ matching articles")
          }
          jQuery("#mobile-counter").addClass("mobile-counter");
          jQuery("#search-count").addClass("search-count");
          jQuery("#subject-mobile-counter").addClass("subject-mobile-counter");
          jQuery("#ws-results")
            .html(jQuery.tmpl(jQuery("#ws-tmpl").template(), data.item));

          if(data.item.length>=5){
            jQuery("#ws-results").append("<li class='show_all_results'><a href='/support/search/solutions?term="+term+"' target='_blank'><div><%= t('widgets.feedback_widgets.new.show_all_results') %></div></a></li>")
          }
          if(jQuery('.embedded-hightlight').hasClass('embedded-highlight-move')){
            jQuery('.embedded-hightlight').addClass('embedded-highlight-move').css({'width':+(searchTextWidth + jQuery('#search-count').outerWidth())+'px'});
          }
          
        jQuery("#panel-content").show()
        if(searchInputFrom== "Subject"){
          FeedbackSuggest(true);
        }

        }else if(searchInputFrom == "Subject") {
          jQuery("#panel-info").show();
          jQuery("#fs-input").val("");
        }
        else {
          jQuery("#ws-results").html("<div class='no-result ellipsis'><%= t('widgets.feedback_widgets.new.no_results') %>" + escapeHtml(term)+"</div>")
          jQuery("#panel-content").show();
        }

        jQuery("#fs-input").removeClass("loading-right");
    }

		var callbackToSolutionSearch = function(string){
      var term = string.trim(),
            cache = window['suggest-cache'],
            suggest_url = "/support/search/solutions.json",
            request = { max_matches:5, term:term, need_count:'true' };

        if(suggestQuery) suggestQuery.abort();

        if( term in cache || term == '' ) {
            suggestResponse( cache[ term ], term )
            return
        }
        jQuery("#fs-input").addClass("loading-right");

          suggestQuery = jQuery.getJSON(suggest_url, request, function( data, status, xhr ) {
            window['suggest-cache'][ term ] = data;
            suggestResponse( data, term )
          });
    }

    <% if feature?(:auto_suggest_solutions) && current_account.allow_auto_suggest_solutions_enabled? %>
	  	jQuery("#helpdesk_ticket_subject").on("blur keydown change paste", function(ev){
        jQuery("#searchInputFrom").val("Subject");
        var responsiveWidget = jQuery("#responsive").val();
        var searchString = this.value.replace(/^\s+|\s+$/g, "");

        if(searchString != '' && searchString.length >= 2){
          jQuery("#fs-input").val(this.value);
          jQuery("#panel-content").hide();
        }else{
          jQuery('#subject-mobile-counter').removeClass("subject-mobile-counter").text("");
          jQuery('#fs-input').val('');
        }
        searchKnowledgeBase(this.value);
	  	});
    <% end %>

	  	jQuery("#fs-input").on("keydown change paste", function(ev){
        jQuery("#searchInputFrom").val("Search");
    
        var $this = jQuery(this);
        clearTimeout(suggestDelay);
          suggestDelay = setTimeout(function() {
            suggestForSubject = false
            searchKnowledgeBase($this.val());
          }, 500)
  
          if(ev.keyCode == 13){
            ev.preventDefault();
            return false;
          }
	  	});

      jQuery('.embedded-wrapper .form-title').live('click',function(){
        EmbeddedSearch(true);
      });
      jQuery('.embedded-wrapper .search-text').live('click',function(){
        EmbeddedSearch(false);
      });
      var checkScrollBars = function(){
         if(jQuery('.modal-body').hasScrollBar()){
              jQuery('.modal-body').css({paddingRight:0});
         }  
      }
      checkScrollBars();
      function EmbeddedSearch(status){
         var formTitleWidth = jQuery('.form-title').width(), searchTextWidth= jQuery('.search-text').width(),searchTextPadding = formTitleWidth + 30;
        if(status){
          jQuery('.embedded-body').removeClass('embedded-body-hide');
          jQuery('#feedback-suggest').removeClass('feedback-suggest-show');
          jQuery('.embedded-wrapper .search-text').addClass('active');
          jQuery('.embedded-wrapper .form-title').removeClass('active');
          jQuery('#feedback-suggest').removeClass('show-suggest');
          jQuery('.embedded-hightlight').css({'width':(formTitleWidth+'px'),'transform':'translateX(0px)'}).removeClass('embedded-highlight-move');
          jQuery('#helpdesk_ticket_submit').show();
        }else{
        	jQuery('#helpdesk_ticket_submit').hide();
          jQuery('.embedded-body').addClass('embedded-body-hide');
          jQuery('#feedback-suggest').addClass('feedback-suggest-show');
          jQuery('.embedded-wrapper .form-title').addClass('active');
          jQuery('.embedded-wrapper .search-text').removeClass('active');
          if(jQuery('.search-count').text()!=''){
            jQuery('.embedded-hightlight').addClass('embedded-highlight-move').css({'width':+(searchTextWidth + jQuery('#search-count').outerWidth())+'px','transform':'translateX('+ searchTextPadding +'px)'});
          }else{
            jQuery('.embedded-hightlight').addClass('embedded-highlight-move').css({'width':+searchTextWidth+'px','transform':'translateX('+ searchTextPadding+'px)'});
          }
          setTimeout(function(){
            jQuery('#feedback-suggest').addClass('show-suggest');
            jQuery('#fs-input').focus();
          },350)
        }
      }
      function searchKnowledgeBase(searchInput){
        var searchString = searchInput.replace(/^\s+|\s+$/g, "");

        if(searchString != '' && searchString.length >= 2){
          jQuery("#fs-input").addClass("loading-right");
          jQuery("#panel-info").hide();
          callbackToSolutionSearch(searchString);
        }else{
          jQuery("#fs-input").removeClass("loading-right");
          jQuery("#ws-results").empty();
          jQuery("#panel-content").hide()
          jQuery("#panel-info").show();
        
          suggestForSubject = true;
  
          jQuery("#mobile-counter").removeClass("mobile-counter").text("")
          jQuery("#subject-mobile-counter").removeClass("subject-mobile-counter").text("");
          jQuery('#search-count').removeClass("search-count").text("");
          if(jQuery('.embedded-hightlight').hasClass('embedded-highlight-move')){
            jQuery('.embedded-hightlight').css({'width':+ jQuery('.search-text').width() +'px'});
          }else{
            jQuery('.embedded-hightlight').css({'width':+ jQuery('.form-title').width() +'px'});
          }
        }
      }
      jQuery('.search-panel').on('click', function(e) {
          if (jQuery('.search-help').attr('data-search-option')=='true') {
              FeedbackSuggest(true);
              jQuery('#fs-input').focus();
          }
          else if(jQuery('.search-help').attr('data-search-option')=='false') {
              FeedbackSuggest(false);
          }
      });
      
      // Resize popup feedback widget 
      function FeedbackSuggest(status) {
         if (!jQuery('.embedded-wrapper').is(':visible') && !jQuery('html').hasClass('responsive-widget-wrap')) {
          if (status) {
              jQuery('.feedback-wrapper').addClass('feedback-wrapper-change');
              jQuery('#feedback-suggest').addClass('feedback-suggest-change');
              jQuery('.feedback-search-icon').addClass('feedback-search-icon-suggest').find('i').removeClass('ficon-search').addClass('ficon-cross');
              jQuery('.search-help').replaceWith('<span class="search-help" data-search-option=false><%= t('ticket.search_close_text') %></span>')
              jQuery('.search-help').addClass('close-article'); 
          } else {
              jQuery('.feedback-wrapper ').addClass('feedback-wrapper-change-close');
              jQuery('#feedback-suggest').addClass('animate-suggest-close');
              jQuery('.feedback-search-icon').removeClass('feedback-search-icon-suggest').find('i').removeClass('ficon-cross').addClass('ficon-search');  
              jQuery('.search-help').replaceWith('<span class="search-help" data-search-option=true><%= t('ticket.search_text') %></span>')
              jQuery('.search-help').removeClass('close-article');
              window.setTimeout(function(){
                 jQuery('#feedback-suggest').removeClass('animate-suggest-close feedback-suggest-change');
                 jQuery('.feedback-wrapper ').removeClass('feedback-wrapper-change-close feedback-wrapper-change');
              },300);
          }
          parent.postMessage((status ? 'showsearch': 'hidesearch'), "*");
         }
      }
      //send message to parent to get parent size 
      function getFrameSize() {
          parent.postMessage('get_parent_size', '*');
          if(jQuery('#feedback-widget-container').hasClass('modal-widget'))
            jQuery('.feedback-wrapper').addClass('feedback-wrapper-container')
      }
      // twipsy trigger for camera icon
      jQuery('document').ready(function() {
          jQuery('.attachment-tooltip,.ficon-camera').on('mouseover', function() {
              jQuery(".attachment-tooltip,.ficon-camera").twipsy({
                trigger : 'hover'
              });
          });
      });

      jQuery(window).on('load resize', getFrameSize);

      //event handler declaration
      var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent",
          eventer = window[eventMethod],
          messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
      // Listen to message from child window to resize feedback widget
      eventer(messageEvent, function(e) {
          var offsetWidth;
          if (e.data && typeof(e.data) === 'string') {
              if (e.data.indexOf("offsetWidth") != -1) {
                  offsetWidth = e.data.split(":")[1];
                  if (offsetWidth && offsetWidth < 768) {
                      jQuery('.feedback-wrapper').removeClass('feedback-wrapper-change');
                      jQuery('#feedback-suggest').removeClass('feedback-suggest-change');
                      jQuery('.feedback-header,.feedback-body,.feedback-footer').removeClass('modal-body-change');
                      if(jQuery('.feedback-search-icon').hasClass('feedback-search-icon-suggest')){
                        jQuery('.feedback-search-icon').removeClass('feedback-search-icon-suggest');
                        jQuery('.search-help').replaceWith('<span class="search-help" data-search-option=true><%= t('ticket.search_text') %></span>');
                      }
                      jQuery('html').addClass('responsive-widget-wrap');
                  } else {
                      jQuery('html').removeClass('responsive-widget-wrap');
                      jQuery('.feedback-header,.feedback-body,.feedback-footer').addClass('modal-body-change');
                  }
              }
              if (e.data.indexOf("closewidget") != -1) {
                  MobileWidget(e.data);
              }
          }

      });
      jQuery(document).ready(function() {
          var responsiveWidget = jQuery("#responsive").val();
          if (responsiveWidget != "no") {
              jQuery("#helpdesk_ticket_subject").after("<a href='#' id='subject-mobile-counter'></a>")
              jQuery('.mobile-search-icon,.modal-widget #subject-mobile-counter').click(function(ev) {
                  ev.preventDefault()
                  MobileWidget('');
              });
              jQuery('.embedded-wrapper #subject-mobile-counter').on('click', function(ev) {
                  ev.preventDefault();
                  jQuery('#fs-input').focus();
              });
          }
          if(jQuery('.feedback-wrapper').hasClass('embedded-wrapper')){
              jQuery("#helpdesk_ticket_subject").after("<a href='#' id='subject-mobile-counter'></a>");
          }
          jQuery('.embedded-wrapper #subject-mobile-counter,#search-count').live('click', function(ev) {
              ev.preventDefault();
              jQuery('#fs-input').focus();
              EmbeddedSearch(false);
          });
      });
      // toggle search result for mobile popup widget
      function MobileWidget(message) {
        if(!jQuery('.feedback-wrapper').hasClass('embedded-wrapper')){
          jQuery('.modal-body').toggleClass('modal-body-hide');
          jQuery('.modal-panel').toggleClass('modal-panel-show');
          jQuery('#feedback-suggest').toggle();
          jQuery('.mobile-search-icon').toggleClass('mobile-search-icon-selected');
          jQuery('#helpdesk_ticket_submit').toggle();
          if (message != 'closewidget')
              parent.postMessage('arrow', "*"); // call parent to display goback icon 
        }
      }
	</script>
<% end %>
<iframe id="freshwidget-submit-frame" name="freshwidget-submit-frame"
	src="about:blank" frameborder="0" scrolling="auto"
	allowTransparency="true" style="position:absolute; visibility:hidden; width:0px; height:0px;">
</iframe>
<%= javascript_tag do %>
  jQuery('.modal-body').scroll(function() {
		if(this.scrollTop > 8){
			jQuery(this).parent().addClass("modal-scroll");
		}else{
			jQuery(this).parent().removeClass("modal-scroll");
		}
	});

	jQuery(".description-label").on("click", function(){
		jQuery(".redactor_editor").focus();
	});

	jQuery(document).ready(function () {
		var disabled_options = [];
		var disabled_custom_options = [];
		<% unless disable_options.blank? %>
    disabled_options = <%= (disable_options.keys - ["custom_field"]).to_json.html_safe%>
    <% unless disable_options[:custom_field].blank? %>
      disabled_custom_options = <%= disable_options[:custom_field].keys.to_json.html_safe%>
    <% end %>
  <% end %>
  for(var i = 0; i < disabled_options.length; i++)
		{
			var key = disabled_options[i];
			if(key == "requester"){
				jQuery("#helpdesk_ticket_email").attr("readonly","readonly");
			}
			else if(key == "name"){
				jQuery("input[name='helpdesk_ticket[name]']").attr("readonly","readonly");
			}
			else if(jQuery("#helpdesk_ticket_"+key)){
				jQuery("#helpdesk_ticket_"+key).attr("readonly","readonly");
			}
		}
		for(var i = 0; i < disabled_custom_options.length; i++){
			var key = disabled_custom_options[i];
			if(jQuery("#helpdesk_ticket_custom_field_"+key)){
						jQuery("#helpdesk_ticket_custom_field_"+key).attr("readonly","readonly");
			}
		}

		var prepopulate_name = "<%= params[:helpdesk_ticket][:name] if params[:helpdesk_ticket]%>"

		if(prepopulate_name){
			jQuery("#helpdesk_ticket_email").trigger('focusout');
		}

		var embeddedWidget = jQuery("#widgetType").val();
		if(embeddedWidget == "embedded") {
			jQuery("#feedback-widget-container").removeClass("modal modal-widget");
			jQuery(".feedback-wrapper").addClass("embedded-wrapper");
			jQuery(".modal-body").addClass("embedded-body");
			jQuery(".modal-panel").addClass("embedded-panel");
			jQuery(".modal-footer").addClass("embedded-footer");
			jQuery(".suggest-search").addClass("embedded-search-input");
      jQuery('.embedded-hightlight').css({'width':(jQuery('.form-title').width()+'px')})
		}
    // popup auto focus
    if(embeddedWidget === "popup"){
      jQuery("#helpdesk_ticket_email").focus();
    }

    jQuery(".dynamic_sections")
      .on("change", function(e){
        var id;
        var $el = jQuery(this);
        var selected = $el.find(':selected');
        if (selected.length > 0){
          id = selected.data().id;
        }
        var nextElements = $el.closest('div.control-group').nextAll();
        construct_section_elements(this, id, nextElements)
    });

    jQuery(window).on("load .dynamic_sections", function(e){
      var id;
      var section_fields = jQuery(document).find('.dynamic_sections');
      section_fields.each(jQuery.proxy(function(index, data){
        var selected = jQuery(data).parent().find(':selected');
        if (selected.length > 0){
          id = selected.data().id;
        }
        var nextElements =jQuery(data).closest('div.control-group').nextAll();
        construct_section_elements(data, id, nextElements)
      }, this));
    });

    function construct_section_elements(data, id, nextElements) {
      nextElements.each(jQuery.proxy(function(index, dataItem){
        if (jQuery(dataItem).hasClass('ticket_section'))
          dataItem.remove();
        else
          return false;
      }, this));
      var element = jQuery('.picklist_section_'+id).parent();
      if(element.length != 0) {
        jQuery(jQuery('.picklist_section_'+id).val()
              .replace(new RegExp('&lt', 'g'), '<')
              .replace(new RegExp('&gt', 'g'), '>'))
            .insertAfter(jQuery("#"+data.id).parents('.control-group'));
      }
    }

    jQuery("#helpdesk_ticket_email").focusout(function(){
      var ticket_email = jQuery("#helpdesk_ticket_email").val();
      
      jQuery.ajax({ 
        type: 'POST',
        datatype: 'json',
        data: { email: ticket_email}, 
        url: "<%= helpdesk_commons_user_companies_path %>",
        success: function(data){
        	if(data != false){
	          jQuery('#helpdesk_ticket_company_id').empty();
	          for(var i=0; i<data.length; i++){ 
	            jQuery("<option/>").val(data[i][1]).html(data[i][0]).appendTo(jQuery("#helpdesk_ticket_company_id"));
	          }
	          jQuery('#helpdesk_ticket_company_id').val('').change();
	          jQuery('.default_company .company_div').removeClass('company_div');
	          jQuery('.default_company').children('label').removeClass('company_label');
	          jQuery(".form-portal").prepend(jQuery('.default_company'));
	          jQuery('#helpdesk_ticket_company_id').removeAttr("disabled");
	          jQuery('.default_company').show();
	        }else{
						jQuery('#helpdesk_ticket_company_id').attr("disabled", true);
            jQuery('.default_company').slideUp();
          }
        }
      });
    });


    jQuery.validator.addMethod("customEmail", function(value, element) {
      return this.optional( element ) || /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test( value );
    }, jQuery.validator.messages["email"]);

    jQuery('#helpdesk_ticket_email').rules('add', {
      customEmail: true
    });

    });
  <% end %>