<% content_for :sidebar do -%><%-end %>
<h3 class="title"><%= t('edit_forum_category')%>  <span class="sub_title">"<%=@forum_category.name%>"</span>  </h3>
<% form_for :forum_category,@forum_category, :url => category_url , :html=>{:method=>:put}  do |f| -%>
  <%= f.error_messages %>
  <%= render :partial => "/shared/name_desc", :locals => { :form => f, :type => "edit" } %>
	<div class="button-container">
		<div class="floatl">
			<%= link_to( t('delete'), category_path(@forum_category), :method => 'delete', :class => "uiButton red", :confirm => t('forum_confirm_msg1')  ) %>
		</div>
	    <%= submit_tag t('save'), { :class => "uiButton",  :action => :update } -%> 
		<%= link_to(t('cancel'), categories_path, :class => "uiButton grey" ) -%>
	 </div>
<% end %>

