<% @monitoring = !Monitorship.count(:id, :conditions => ['user_id = ? and active = ?', current_user.id, true]).zero? %>
<div class="clearfix">
	<div class="pull-right">
    <% if privilege?(:delete_topic) -%>
    		<% spam_count = current_account.posts.unpublished_spam.count %>
				<%= link_to(t('forum.spam', :count => spam_count), discussions_moderation_index_path, :class => 'mr20' ) %>
		<% end %>
	  <% if privilege?(:manage_forums)  and main_portal? -%>
			<%= link_to(t('reorder'),'#', :id => "forum_categories_reorder_button", :class => "btn btn-bold") unless(@forum_categories.size <= 1)%>
	  		<%= link_to t('category.new'), new_category_path, :class => "btn btn-primary" %>
		<% end %>
	</div>
	<h3 class="lead"><%= t('forum.title') %></h3>
</div>
<div class="forum_list">
	<div class="forum-group" id="forum_categories_list">
		<div class="search-grey-box search-page">
			<%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('forums.search_all.placeholder'), :url => "/search/forums?term=" } %>
		</div>
		<% @forum_categories.each do |forum_category| %>
			<div class="category-title">
				<% if privilege?(:manage_forums) -%>
					<div class="action_buttons btn">
				  		<%= link_to  t('forum.new'), new_category_forum_path(forum_category), :class => "last add_new icon" %>
					</div>
				<% end -%>
				<%= link_to h(forum_category.name), category_path(forum_category), :class => "sub-lead" %>
			</div>
			<%= render :partial => "forum_shared/category", :object => forum_category %>
		<% end %>
	</div>
</div>
<% if privilege?(:manage_forums) -%>
	<%= render :partial => "/shared/reorder_list", :locals => { :items => current_portal.portal_forum_categories,  :action_url => reorder_categories_path, :title => :name, :container_id => "forum_categories_sort", :reorder_id => "forum_categories_reorder_button", :list_id => "forum_categories_list"} %>
<% end %>
