<% content_for :sidebar do -%><%-end %>
<h3 class="title"><%=t 'category.new'%> </h3>
<% form_for :forum_category, :url => categories_path do |f| -%>
	<%= f.error_messages %>
	<%= render :partial => "/shared/name_desc", :locals => { :form => f } %>
	<div class="button-container">	
		<%= submit_tag t('save'), { :class => "uiButton" } -%> 
		<%= link_to(t('cancel'), categories_path, :class => "uiButton grey" ) -%>
	</div>
<% end -%>