<% content_for :sidebar do -%>&nbsp;<%-end %>
<h3 class="lead"><%=t 'category.new'%> </h3>
<%= form_for :forum_category, :url => categories_path do |f| -%>
	<%= f.error_messages %>
	<%= render :partial => "/shared/name_desc", :locals => { :form => f } %>
	<div class="button-container">	
		<%= link_to(t('cancel'), categories_path, :class => "btn" ) -%>
		<%= submit_tag t('save'), { :class => "btn btn-primary" } -%> 
	</div>
<% end -%>