<% content_for :layoutType do %>single<% end %>


<h3 class="title">
	<%= link_to(t('forum.title'), categories_path) %> &rarr;
	<%= @forum_category.name %> 
</h3>  

<div class="forum_list">
	<div class="forum-group">
		<div class="search-grey-box">
			<% if logged_in? && current_user.has_manage_forums? -%>
				<div class="action_buttons no_margin">
					<%= link_to(t('reorder'),'#', :id => "forums_reorder_button", :class => "first") unless (@forum_category.send("#{@content_scope}forums").size <= 1) %>
			  		<%= link_to  t('forum.new'), new_category_forum_path(@forum_category), :class => "add_new icon" %>
					<%= link_to t('category.edit') ,edit_category_path(@forum_category), :class => "last" %>  
				</div> 
			<% end -%> 
			<%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('forums.search.placeholder', :name => @forum_category.name), :url => "/search/topics?category_id=#{@forum_category.id}&search_key=" } %>
		</div>
	<%= render :partial => "forum_shared/category", :object => @forum_category %>
	</div>		
</div>

<% if logged_in? && current_user.has_manage_forums? -%>	
	<%= render :partial => "/shared/reorder_list", :locals => { :items => @forum_category.send("#{@content_scope}forums"),  :action_url => reorder_category_forums_path(@forum_category), :title => :name, :container_id => "forums_sort", :reorder_id => "forums_reorder_button", :list_id => "forums_list"} %>
<% end %>
