<h3 class="lead"><%=t('admin.portal.helpnote.title')%></h3>
<p><%=t('admin.portal.helpnote.info1').html_safe%></p>
<p><%=t('admin.portal.helpnote.info2')%></p>
<p><%=t('admin.portal.helpnote.info3')%></p>
<p><%=t('admin.portal.helpnote.info4')%></p>
<%= tour_button(t('admin.portal.helpnote.tour').html_safe, '55ace2bcbc1fbe0a910016dd') %>