<% @enable_pattern = true %>

<%= content_tag( :h3,  t('portal_customizer_title'),	   :class => "lead" ) %>
<% form_for(:account, :url => admin_portal_path(@account), :html => { :method => :put }) do |f| %>
	<%= generate_breadcrumbs(params, f, :redirect_to_admin => true, :force_admin => true, :submit_text => 'save') %>
<div>
	<div class="checkbox">
		<%= f.feature_check_box :anonymous_tickets %> <%=t('portal_customizer_option_tickets')%>
		<%= content_tag( :div, t('portal_customizer_option_tickets_i'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :open_solutions %> <%=t('portal_customizer_option_solutions')%>
		<%= content_tag( :div, t('portal_customizer_open_sol_i'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :auto_suggest_solutions %> <%=t('portal_customizer_option_auto_suggest_solutions')%>
		<%= content_tag( :div, t('portal_customizer_auto_suggest_solutions'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :open_forums %> <%=t('portal_customizer_option_forums')%>
		<%= content_tag( :div, t('portal_customizer_option_forums_i'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :google_signin %> <%=t('portal_customizer_google_signin')%>
		<%= content_tag( :div, t('portal_customizer_anon_for_g'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :twitter_signin %> <%=t('portal_customizer_twitter_signin')%>
		<%= content_tag( :div, t('portal_customizer_anon_for_t'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :facebook_signin %> <%=t('portal_customizer_facebook_signin')%>
		<%= content_tag( :div, t('portal_customizer_anon_for_f'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :signup_link %> <%=t('portal_signup')%>
		<%= content_tag( :div, t('portal_signup_anon'), :class => "muted" ) %>
	</div>
	<br/>
	<div class="checkbox">
		<%= f.feature_check_box :captcha %> <%=t('portal_captcha')%>
		<%= content_tag( :div, t('portal_captcha_anon'), :class => "muted" ) %>
	</div>
	<br/>
	<% if current_account.features?(:forums) %>
	<hr />
	<div class="control-group row checkbox">
	<%= content_tag( :div, t('.forums'), :class => "span2 lead" ) %>
		<div class="align-right">
    		<input name="account[features][hide_portal_forums]" type="hidden" value="1" />
     		<input 	id="account_hide_portal_forums" name="account[features][hide_portal_forums]"
     				rel="toggle" type="checkbox"
     				data-checked-label="<%= t('.enable') %>"
     				data-unchecked-label="<%= t('.disable') %>"
     				<%= ' checked ' unless current_account.features?(:hide_portal_forums) %> 
     				value="0" />
  		</div>
  	</div>
  	<hr />
	<%= content_tag( :h3,  t('.moderation'),	   :class => "lead" ) %>
	<div class="radio">
		<input type="radio" name="moderation" value="1" <%= 'checked' if @forum_moderation == :links %>/> <%= t('.moderate_links') %>
		<%= content_tag( :div, t('.moderate_links_help'), :class => "muted" ) %>
		<%= content_tag( :div, t('.moderate_links_help_2'), :class => "muted" ) %>
		<br/>
	</div>
	<div class="radio">
		<input type="radio" name="moderation" value="2" <%= 'checked' if @forum_moderation == :all %>/> <%= t('.moderate_all') %>
		<%= content_tag( :div, t('.moderate_all_help'), :class => "muted" ) %>
		<br/>
	</div>
	<div class="radio">
		<input type="radio" name="moderation" value="0" <%= 'checked' if @forum_moderation == :none %>/> <%= t('.moderate_none') %>
		<%= content_tag( :div, t('.moderate_none_help'), :class => "muted" ) %>
		<br/>
	</div>
	<% end %>

</div>
<div class="align-right itil-hide">
	<%= link_to "#{t('account.cancel')}".html_safe, "/admin/home", { :class => "btn" } %>
	<%= f.submit t('save'), { :class => "btn btn-primary" } %>
</div>
<% end %>
