<%if support_mint_applicable?%>
    <div class="notification-box">
		<%if current_account.portals.count>1%>
			<%=t("portalcss.mint_info_portal_settings")%><br>
		<%else%>
			<%=t("portalcss.mint_info_portal_setting")%><br>
		<%end%>
	</div>
<%end%>
<% @enable_pattern = true %>
<% content_for :sidebar do -%><%- end %>
<%= render :partial => 'header', :locals => { :active => :settings } %>
<%= form_for(@account,
			:url => update_settings_admin_portal_index_path,
			:html => {
					:method => :put,
					:class => "form-horizontal customer-portal"
			}) do |f| %>

<%= generate_breadcrumbs(params, f, :redirect_to_admin => true, :force_admin => true, :submit_text => 'save') %>

<div class="portal-section">

	<%= content_tag( :div,  t('.signup_login'),	   :class => "heading border-none" ) %>
	<div class="row">
		<div class="span9">
			<div class="control-group">
				<div class="control-label"><%= t('.allow_signup') %></div>
				<div class="controls">
					<%= feature_radio_button({
							:signup_link => t('plain_yes'),
							:default => t('plain_no') }) %>
				</div>
			</div>

			<div class="control-group">
				<div class="control-label"><%= t('.allow_signin') %></div>
				<div class="controls multiple-check">
					<%= f.feature_check_box :google_signin, {:id => 'google_signin'} %>
						<%= label_for(t('.google'), 'google_signin')%>
					<%= f.feature_check_box :twitter_signin, {:id => 'twitter_signin'} %>
						<%= label_for(t('.twitter'), 'twitter_signin')%>
					<%= f.feature_check_box :facebook_signin, {:id => 'facebook_signin'} %>
						<%= label_for(t('.facebook'), 'facebook_signin')%>
				</div>
			</div>
		</div>
		<% if @restricted_helpdesk %>
			<div class="span4 moderation-info alert-text">
				<div class="bold">
					<span class="ficon ficon-warning"></span>
					<strong> <%= t(".important")%> </strong>
				</div>
				<div>
					<%= t(".restricted_login_signup")%>
				</div>
				<%= link_to t(".view_settings"), edit_account_path+"#permission" %>
			</div>
		<% end %>
	</div>
</div>

<div class="portal-section">
	<%= content_tag( :div,  t('.user_permissions'), :class => "heading" ) %>
	<div class="control-group sub-section">
		<div class="control-label"><%= t('.submit_ticket')%></div>
		<div class="controls">
			<%= feature_radio_button({
					:default => t('.logged_in'),
					:anonymous_tickets => t('.everyone') }) %>
						<div class="checkbox captcha">
				<%= f.feature_check_box :captcha, { :id => 'captcha' } %>
				<%= label_for(t('.captcha'), 'captcha')%>
			</div>
			<hr>
			<div class="ticket_for_other">
				<%= f.feature_check_box :prevent_ticket_creation_for_others, { :id => 'tickets_on_behalf_of_others', :checked => !current_account.features_included?(:prevent_ticket_creation_for_others) }, 0, 1 %>
				<%= label_for(t('.restrict_create_ticket_for_others'),
					 'tickets_on_behalf_of_others')%>
				<br><br>
			</div>
			<% if current_account.admin_setting_for_account?(:auto_suggest_solutions) %>
				<div class="checkbox">
					<%= f.feature_check_box :auto_suggest_solutions, {:id => "auto_suggest_solutions"} %>
					<%= label_for(t('.auto_suggest_solutions'), 'auto_suggest_solutions')%>
				</div>
			<% end %>
			<div class='portal_section_help'>
			  <img src="/assets/info-icon.svg" />
				<%= t('.portal_section_help') %>
			</div>
		</div>
	</div>

	<% if current_account.admin_setting_for_account?(:public_ticket_url) && !current_account.falcon_and_encrypted_fields_enabled? %>
		<div class="control-group sub-section">
			<div class="control-label"><%= t('.public_ticket_urls_label') %></div>
			<div class="controls">
				<%= feature_radio_button({
						:default => t('.logged_in'),
						:public_ticket_url => "#{t('.public_ticket_urls_option')}<a href=\"#puburl-popover-content\" rel=\"hover-popover\" id=\"puburl-popover\" data-content=\"<div class='input-xlarge'>#{t('.public_ticket_urls_help')}</div>\"><span class=\"ficon-help fsize-22 ml10\"></span></a>".html_safe,
						}) %>
			</div>
      <% if current_account.launched?(:portal_new_settings) &&
      current_account.admin_setting_for_account?(:helpdesk_tickets_by_product) %>
        <div class="controls mt-20">
          <div class="checkbox">
            <%= f.feature_check_box :helpdesk_tickets_by_product, {:id => "helpdesk_tickets_by_product"} %>
            <%= label_for(t('.view_only_portal_tickets'), 'view_only_portal_tickets')%>
          </div>
        </div>
      <% end %>
		</div>
	<% end %>

	<div class="control-group sub-section">
		<div class="control-label"><%= t('.view_solutions') %></div>
		<div class="controls">
			<%= feature_radio_button({
						:default => t('.logged_in'),
						:open_solutions => t('.everyone')}) %>
		</div>
    <% if current_account.launched?(:portal_new_settings) && current_account.admin_setting_for_account?(:solutions_agent_metrics)%>
      <div class="controls mt-20">
        <div class="checkbox">
          <%= f.feature_check_box :solutions_agent_metrics, {:id => ":solutions_agent_metrics"} %>
          <%= label_for(t('.track_agent_metrics'), 'track_agent_metrics')%>
        </div>
      </div>
    <% end %>
	</div>
	<% if current_account.admin_setting_for_account?(:open_forums) &&
		current_account.admin_setting_for_account?(:hide_portal_forums) &&
		current_account.admin_setting_for_account?(:forum_captcha_disable) %>
		<div class="control-group">
			<div class="control-label"><%= t('.view_forums') %></div>
			<div class="controls">
				<%= multiple_feature_radio_btn(
						"forums_visibility",
						{ :default => t('.logged_in'),
							:open_forums => t('.everyone'),
							:hide_portal_forums => t('.simple_none')}) %>
				<div id="forum_captcha_section">
					<hr>
					<div class="checkbox forum_captcha">
						<%= f.feature_check_box :forum_captcha_disable, { :id => 'forum_captcha', :checked => !current_account.features_included?(:forum_captcha_disable) }, 0, 1 %>
						<%= label_for(t('.forum_captcha'), 'forum_captcha')%>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<% if current_account.admin_setting_for_account?(:moderate_posts_with_links) &&
	current_account.admin_setting_for_account?(:moderate_all_posts) %>
	<div class="portal-section">
		<%= content_tag( :div,  t('.moderation'),	:class => "heading" ) %>
		<div class="span6 right-border ml0">
			<%= multiple_feature_radio_btn(
							"moderation",
							{ :moderate_posts_with_links =>
									[t('.moderate_links'),  t('.moderate_links_help')],
								:moderate_all_posts =>
									[t('.moderate_all'),t('.moderate_all_help')],
								:default =>
									[t('.moderate_none'), t('.moderate_none_help')]
							}) %>
		</div>
		<div class="span4">
			<%= content_tag( :div, t('.notify_agents'), :class => "control-label pb10")%>
			<%= select_tag :forum_moderators,
					options_for_select( current_account.technicians.collect { |a| [a.name, a.id]},
											:selected => current_account.forum_moderators.map(&:moderator_id)),
					{ :multiple => true, "data-placeholder"=>"Select Moderators", :class => "select2 span4 ml0" } %>
		</div>
	</div>
<% end %>
<div class="clear"></div>
<div class="form-button itil-hide">
	<%= pjax_link_to "#{t('account.cancel')}".html_safe, "/admin/home", { :class => "btn" } %>
	<%= f.submit t('save'), { :class => "btn btn-primary" } %>
</div>
<% end %>

<%= javascript_tag do %>
	jQuery(document).ready(function(){
		<% if @restricted_helpdesk %>
			var twitter_signin = jQuery("#twitter_signin")
			if(twitter_signin.length > 0){
				twitter_signin.attr("disabled", true);
				jQuery("label[for='twitter_signin']").addClass("muted");
			}
		<% end %>
	});
<% end %>
