<div>
Hi <%= @user.name%>,
</div>
<div>
<p><%= t(:'flash.import.thank_user').html_safe%> </p>
<p><%= "#{t('flash.import.details', :customer => 'Customer', :type => @type)}".html_safe%></p>
<p></p>
<p><%= "#{t('flash.import.unsaved', :url => @url, :type => @type)}".html_safe%></p>
<br/>
<%=  @url %>
<p></p>
<p><%= t(:'flash.import.help_desk').html_safe%></p>
<p></p>
<div>
<p><%= t(:'flash.import.regards').html_safe%></p>
<p> <%= t(:'flash.import.freshdesk').html_safe%>
</p>
</div>	
