<%= javascript_include_tag 'app/merge.js' %>
<%= javascript_include_tag 'app/merge_tickets.js' %>
<script type="text/javascript" src="/javascripts/redactor/langs/<%=current_account.language%>.js"></script>
<% javascript_tag do -%>

jQuery(document).ready(function(){
  primary_ticket = jQuery('.merge-cont').first()
  primary_ticket.addClass('cont-primary');
  primary_ticket.find('.primary-marker').attr('title','Primary ticket');
  enable_continue();
  initialize_autocompleter();
  check_requester();
});

function initialize_autocompleter(){
  ContactsSearch = new Template(
      '<li><div class="contactdiv" data-id="#{display_id}">'+
      '<span id="resp-icon"></span>'+
      '<div id="merge-ticket" class="merge_element" data-id="#{display_id}">'+
      '<span class="item_info" title="#{title}">##{display_id} #{subject}</span>'+
      '<div class="info-data hideForList">'+
      '<span class="merge-ticket-info">#{info}</span>'+
      '</div></div></div></li>'
  );
  bind_autocompleter();
}

function bind_autocompleter(){
  var idcachedBackend,requestercachedBackend,subjectcachedBackend;
  var idcachedLookup,requestercachedLookup,subjectcachedLookup;

  var autocompleter_hash = {  id :  { cache : idcachedLookup, backend : idcachedBackend, 
                                      searchBox : 'select-id', searchResults : 'display_id_results',
                                      minChars : 1 },
                  requester :  {  cache : requestercachedLookup, backend : requestercachedBackend, 
                                  searchBox : 'select-requester', searchResults : 'requester_results',
                                  minChars : 2 },
                  subject :  {  cache : subjectcachedLookup, backend : subjectcachedBackend, 
                                searchBox : 'select-subject', searchResults : 'subject_results',
                                minChars : 2 }
              }

  var aftershow = function(){
    x = jQuery('.contactdiv');
    x.each(function(){
      y = jQuery(this);
      jQuery('.merge-cont #merge-ticket').each( function(){
        
        if(jQuery(this).data('id') == y.data('id'))
        {
          y.children('#resp-icon').addClass('clicked');
          y.addClass('clicked').parents('li').addClass('clicked');
        }
      });
    });
  }

  jQuery.each(autocompleter_hash, function(){
    this.backend = new Autocompleter.Cache(lookup, {choices: 15});
    this.cache = this.backend.lookup.bind(this.backend);
    global[this.searchBox] = new Autocompleter.PanedSearch( this.searchBox, this.cache, ContactsSearch,
    this.searchResults, $A(<%= @ticket_search.map{|item|[item, item]}.to_json %>), {frequency: 0.1, acceptNewValues: true,
    afterPaneShow: aftershow, minChars: this.minChars, separatorRegEx:/;|,/});
  })
}

function lookup(searchString, callback) { 
  var type = jQuery('#search-type option:selected').val();
  var list =  jQuery('#'+type+'_results').find('ul');
  list.empty();
  jQuery('#'+type+'_results').addClass("loading-center");
  new Ajax.Request('<%= merge_search_helpdesk_merge_tickets_path %>',{ parameters: {
                                                        search_string: searchString,
                                                        key: jQuery('#search-type option:selected').val(),
                                                        search_method: "with_"+jQuery('#search-type option:selected').val(),
                                                        rand: (new Date()).getTime()},
                                            onSuccess: function(response) {       
                                              jQuery('.merge_results:visible').removeClass("loading-center");
                                              callback(response.responseJSON.results);
                                            } });
                                          }

function change_ticket_count(){
  var count = ""+jQuery('.merge-cont').length
  var txt = count+(( count == 1 ) ? '<%= t("ticket.ticket_selected") %>' : '<%= t("ticket.tickets_selected") %>' )
  jQuery('.merge-sub-title').text(txt);
}                                    
<%- end %>
<div id = "ticket-merge">
  <span class="merge-sub-title">
    <%= pluralize(@source_tickets.length, t('ticket.ticket_selected'), t('ticket.tickets_selected')) %>
  </span>
  <div id="mergeboxconfirm"></div>
  <div id="mergebox" class="row-fluid">
    <div id="merge-content" class="span6">
      <div class="content-show merge_entity">
        <% @source_tickets.each do |ticket| %>
          <div class="merge-cont">
            <div class="primary-marker tooltip" title='<%= t(".mark_primary")%>'>
              <span id="marker"></span>
            </div>
              <div id="contact-area">
    		        <span id="resp-icon" title="<%= t('.remove') %>"></span>
    		       		<div id="merge-ticket" class="merge_element" data-id=<%= h(ticket.display_id) %>>
                    <%= link_to("##{ticket.display_id} #{ticket.subject}", ticket, :title => h(ticket.subject), 
                    :class =>"item_info", :target=>"_blank" ) %>
    			          <div class="info-data hideForList">
    			          	<span class="merge-ticket-info">
    			          		<%= t("ticket.merge_ticket_list_status_"+ticket.ticket_states.current_state, 
              					:username => "<span class='muted requester_name'>#{h(ticket.requester.display_name)}</span>",
                        :time_ago => time_ago_in_words(ticket.ticket_states.send(ticket.ticket_states.current_state))) %>
          						</span>
    			          </div>
    			        </div>
    			    </div>
    		  </div>
        <% end %>
      </div>
    </div>
    <div class="search-content">
      <%= select_tag "search-type", "<option value='display_id'>Id</option><option value='subject'>Subject</option><option selected='selected' value='requester'>Requester</option>".html_safe %>
      <% search_text = [
        ['display_id', 'select-id', t("ticket.id_placeholder"), 'hide' ],
        ['requester', 'select-requester', t("ticket.requester_placeholder")],
        ['subject', 'select-subject', t("ticket.subject_placeholder"), 'hide']] %>
      <% search_text.map{ |t|  %>
        <div class="searchticket <%= t[0] %> <%= t[3] %>">
          <input type="text" id='<%= t[1] %>'  name='<%= t[1] %>' class="search_merge"  
                                                placeholder='<%=t[2]%>' /><span class="searchicon"></span>
        </div>
      <% } %>
      <div id="display_id_results" class="merge_results hide"></div>
      <div id="requester_results" class="merge_results hide"></div>
      <div id="subject_results" class="merge_results hide"></div>
    </div>

      <% form_remote_tag (:url =>{ :controller => "merge_tickets", :action=>"merge" },:html => {:id=>"bulk_merge_tickets"}) do -%>  
      <div class="divide"></div>
      <input type="hidden" name="target[ticket_id]" id="target_ticket" />
        <div class="button-container" id="bulk-merge-button-container">
          <a class="btn" id="cancel_new_merge"><%= t('cancel') %></a>
          <%= submit_tag "Continue",:class => "btn btn-primary",:id => "bulk_merge",:onclick => "bulk_merge_submit()", :disabled => "disabled", "data-loading-text" => t('please_wait') %>
          <%- end %>
        </div>
      <div id="invaliduser" class="info-highlight" style="display:none;"></div>
  </div>   
</div>