<div class="row-fluid business_hours">
	<ul class="unstyled">
		<li class="row-fluid">
			<div class="span3">
				<%= t('business_hours.name') %>
				<span class="required_star">*</span>
			</div>
			<div class="span9">
				<%= f.text_field :name, :class => 'span9 required', :placeholder => t('business_hours.name_eg') %>
			</div>
		</li>
		<li class="row-fluid">
			<div class="span3">
				<%= t('business_hours.description') %>
			</div>
			<div class="span9">
				<%= f.text_area :description, :class => 'text smallpara span9', :placeholder => t('business_hours.description_eg') %>
			</div>
		</li>
		<%  if feature?(:multiple_business_hours) %>
		<li class="row-fluid">
			<div class="span3">
				<%= t('business_hours.time_zone') %>
			</div>
			<div class="span9">
				 <input type="hidden" id="time_zone" name="time_zone" class="span7 required"
            		data-placeholder = "<%= t("business_hours.select_time_zone") %>"/>
			</div>
		</li>
		<% end %>
		<li class="row-fluid">
			<ul class="unstyled">
				<li class="span3">
					<%= t('business_hours.helpdesk_hours') %>
				</li>
				<li class="span9" id ='fullweek_toggle'>
					<div>
						<label class="radio">
							<%= f.radio_button :fullweek, true %>
					  		<%=t('business_hours.info6')%>
						</label>
					</div>
					<div>
						<label class="radio">
						  	<%= f.radio_button :fullweek, false %> 
						  	<%=t('business_hours.info3')%>
						</label>
						<% display_week = (@business_calendar.business_hour_data[:fullweek] == false) ? 'block':'none' %>
						<ul class="unstyled working-days row-fluid" id="DAYS_LIST" style="display:<%=display_week%>" >
							<% weekdays = @business_calendar.business_hour_data[:weekdays] %>
							<% weekday_human_list = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ] %>
							<% weekday_human_list.each_with_index do |days, days_index| %>
							<% cal_index = ( days_index+1 != 7 ) ? (days_index+1) : 0 %>
							<li class="timerange row-fluid" data-day-number = "<%= cal_index.to_s %>">
								<div class="span3">
									<label class="business_days">
										
										<% checked = weekdays.include?(cal_index) %>
										<% if checked %>
											<% beginning_of_workday = @business_calendar.business_hour_data[:working_hours][cal_index][:beginning_of_workday].split(" ")[0] %>
											<% beginning_of_workday_range = @business_calendar.business_hour_data[:working_hours][cal_index][:beginning_of_workday].split(" ")[1] %>
											<% end_of_workday = @business_calendar.business_hour_data[:working_hours][cal_index][:end_of_workday].split(" ")[0] %>
											<% end_of_workday_range = @business_calendar.business_hour_data[:working_hours][cal_index][:end_of_workday].split(" ")[1] %>
											<% if (end_of_workday.eql?("11:59:59") and beginning_of_workday.eql?("00:00:00")) %>
												<% end_of_workday = beginning_of_workday = "12:00" %>
												<% end_of_workday_range = beginning_of_workday_range = "am" %>
											<% end %>
										<%else%>
											<% beginning_of_workday="8:00" %>
											<% beginning_of_workday_range = "am" %>
											<% end_of_workday ="5:00" %>
											<% end_of_workday_range = "pm" %>
										<%end%>
										<%= check_box_tag ( weekday_human_list[days_index], cal_index, checked, :class => "checked")  %>
										<%= days %>
									</label>
								</div>
								<div class="span9">
									<%= select "time", "morning_#{cal_index.to_s}", BusinessCalendar::TIME_LIST, 
											{ :selected=> beginning_of_workday }, { :class => "morning_time", :id => "time_morning_#{cal_index.to_s}" } %>
									<%= select "morning", "range_#{cal_index.to_s}", %w[am pm], 
											{ :selected => beginning_of_workday_range }, { :class => "morning_time", :id => "morning_range_#{cal_index.to_s}" } %>
									<span><%= t('business_hours.to') %></span>
									<%= select "time","evening_#{cal_index.to_s}", BusinessCalendar::TIME_LIST, 
											{ :selected => end_of_workday}, { :class => "evening_time", :id => "time_evening_#{cal_index.to_s}" } %> 
									<%= select "evening", "range_#{cal_index.to_s}", %w[am pm], 
											{ :selected => end_of_workday_range }, { :class => "evening_time time_validate", :id => "evening_range_#{cal_index.to_s}"  } %>
									
									<label id="duration"></label>	
									<%= hidden_field_tag "business_time_data[working_hours][#{cal_index.to_s}][beginning_of_workday]", "",
										:class => "db_start_time_data" %>
									<%= hidden_field_tag "business_time_data[working_hours][#{cal_index.to_s}][end_of_workday]", "",
										:class => "db_end_time_data" %>
								</div>
							</li>
							<%end%>
							<%= f.hidden_field :weekdays, :id => "weekdays" %>	
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="row-fluid">
			<h4 class="sub-lead"><%=  t('business_hours.holiday_list') %> </h4>
			<div class="muted"><%=t('business_hours.info5')%></div>
		</li>
		<li class="row-fluid">
			<div class="row-fluid">
				<div class="holidaylist-head span12">
					<span class="span2 date-selection">
						<%= date_select("holiday", "date", { :order => [:month, :day], :use_short_month => true } ) %>
					</span>
					<span class="span5">
						<label class="overlabel" for="holiday_name"><%=t('business_hours.holiday_name')%></label>
						<%= text_field("holiday", "name", :onkeypress => "return holidayEntered(event)") %>
						<b class="text_red" id="HolidayValidation" style="display:none;"> <%=t('business_hours.holiday_added')%> </b>
						<b class="text_red" id="InvalidHoliday" style="display:none;"> <%=t('business_hours.invalid_holiday')%> </b>
					</span>
					<span class="span3">
						<%= link_to_function( t('add_holiday'), "addHoliday()", :class => "btn btn-primary" ) %>
					</span>
					<span class="span2 import-link">
						<a href="#importholiday" title="<%= t('business_hours.import_holiday') %>" data-submit-label="Import" rel="freshdialog" data-width="400"><%= t('business_hours.import_holiday') %></a>
					</span>
				</div>
			</div>
			<%= render :partial => "import_holiday" %>
			<div class="holidaylist row-fluid">
				<%= f.hidden_field :holiday_data, :id=>"holiday_data" %>
				<ul class="unstyled hide" id="HolidayList"></ul>
				<% content_for :pagefixed do %>
					<% javascript_tag do %>
						<% @business_calendar.holiday_data.each do |holiday| %>
							addHolidaytoList("<%=holiday[0]%>", "<%=h(holiday[1])%>");
						<% end %>	
					<% end %>
				<% end %>
			</div>
		</li>
	</ul>
</div>
	<div class="button-container">
		<%= link_to "#{t('account.cancel')}".html_safe, "/admin/business_calendars", :class => "btn floatl" %>
		<%= f.submit t('save'), :class => "btn btn-primary" %>
	</div>

<script type="text/javascript">

jQuery(document).ready(function() {
	<%
		time_zone_data = []
		i=0
		selected_zone_id = ''
		selected_zone_name = @business_calendar.time_zone || current_account.time_zone
			ActiveSupport::TimeZone.all.each do |req|
				if req.name == selected_zone_name
					selected_zone_id = i
					selected_zone_name = escape_javascript(req.to_s)
				end

				time_zone_data << "{id: '#{i}',
	                  value: '#{escape_javascript(req.to_s)}',
	                  text: '#{escape_javascript(req.to_s)}'}"
	            i = i + 1
			end
	%>

	jQuery('#time_zone').select2({
	multiple: false,
	data: [<%=time_zone_data.join(",")%>],
	initSelection : function (element, callback) {
        var data = {id: '<%=selected_zone_id%>', text: '<%=selected_zone_name%>'};
        callback(data);
    }
});

<% if @business_calendar.is_default? %>
  	jQuery("#time_zone").select2("disable", "");
<% else %>
 	jQuery("#time_zone").select2("enable", "");
<% end %>

jQuery("#time_zone").select2("val",[]);

});

</script>