<div class="sidepanel">
	<h3 class="title"><%=t('business_hours.title')%></h3>
	<p><%=t('business_hours.info1').html_safe%>.</p>
	<h3 class="title"><%=t('business_hours.holidays')%></h3>
	<p><%=t('business_hours.info2').html_safe%></p>
    <h3 class="title"><%=t('business_hours.multiple')%></h3>
    <p><%=t('business_hours.multiple_info').html_safe%></p>
</div>