<% javascript_tag do %>
	HolidayList = $H();
	
	setFullWeek = function( fullweek ){ 
		jQuery("#SpecificHoursDiv").toggle( (fullweek === "false") );
	}
	
	addHolidaytoList = function(month_date, name){
		month_id = month_date.replace(/\s/g, "").toLowerCase();
		if( !HolidayList.get( month_id ) ){
			setArray = [month_date, name];
			HolidayList.set( month_id,  setArray);
			jQuery("#HolidayValidation").hide();
			jQuery("#HolidayList")
				.append("<li month_date= "+month_id+"><a href='javascript:void(0)' class='close'></a>"+month_date+" - " + name +"</li>")
				.show();
		}else{
			jQuery("#HolidayValidation").show();
		}
	}
	
	addHoliday = function(){
		var month = jQuery("#holiday_date_2i option:selected").text();
		var date  = jQuery("#holiday_date_3i").val();
		var name  = jQuery("#holiday_name").val();
		month_date = month + " " + date;
		addHolidaytoList(month_date, name);
	}
	
	jQuery(document).ready(function(){
		jQuery("#BusinessHours")
			.submit(function(){
				days_array 	   = $A(),
				holidays_array = $A();
				jQuery.each(jQuery("#DAYS_LIST input[type=checkbox]"), function(){
								if(this.checked)
									days_array.push(this.value)
						   });
						   
				jQuery("#weekdays").val( days_array.toJSON() );
				
				HolidayList.each(function(pair) {
				  	holidays_array.push(pair.value);
				}); 
				
				jQuery("#holiday_data").val( holidays_array.toJSON() );
				//console.log(holidays_array.toJSON()); 
				//return false;
			});
		
		jQuery("#HolidayList a.close").live("click", function(){
			holiday = jQuery(this).parent();
			HolidayList.unset(holiday.attr("month_date"));
			holiday.remove(); 
			if(HolidayList.size() == 0)
				jQuery("#HolidayList").hide();
		});
		
		jQuery("input:radio").change(function(){ 
			setFullWeek(this.value); 
		});	
	});
<% end %>

<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title">Business Hours</h3>
		<p>Setting up your Business Hours in Freshdesk allows you to get more control on your SLAs.
For eg. If you helpdesk works 9AM - 6PM Mon-Fri and a customer sends a high priority ticket at 4 PM on Tuesday with a SLA target resolution time of 4 hours, then the ticket Due By time is set as 11 AM on Wednesday.
You can configure your SLAs to either respect or ignore business hours.</p>
		<h3 class="title">Holidays</h3>
		<p>Holidays work exactly like Business hours. For eg. If you helpdesk works 9AM - 6PM Mon-Fri and a customer sends a medium priority ticket at 8 PM on Friday with a SLA target resolution time of 24 hours, then the ticket Due By time is set as 9AM on Tuesday.(not 8PM on Sat)</p>
	</div>
<% end %>

<h3 class="title">Business Hours</h3>
	<% form_for :business_calenders, @business_calendars, :url => { :action => "update" },  :html => { :method => :put, :id => "BusinessHours"  } do |f| %>
	<ul class="ui-form business_hours"> 
		<li>
			<label>Helpdesk Hours</label>			
		</li>
		<li>
			<table class="business_time">
				<tr>
					<td width="35%">
						<label>
							<%= f.radio_button :fullweek, true %> 24 x 7
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<%= f.radio_button :fullweek, false %> Specific Working Hours
						</label>
						<% display_week = (@business_calendars.business_time_data[:fullweek] == false) ? 'block':'none' %>
						<div class="specific_hours" id="SpecificHoursDiv" style="display:<%=display_week%>"  >
							<div class="timerange">
								<%= f.text_field :beginning_of_workday, :class => "time" %>
								<strong>to </strong>
								<%= f.text_field :end_of_workday, :class => "time"  %>
							</div>
							<div class="info_data">Working Days for your Helpdesk</div>
							<div id="DAYS_LIST" class="business_days checkbox">
								<% weekdays = @business_calendars.business_time_data[:weekdays] %>
								<% weekday_human_list = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ] %>
								<% weekday_human_list.each_index do |days_index| %>
									<label>
										<% cal_index = ( days_index != 6 ) ? (days_index+1) : 0 %>
										<% checked = weekdays.include?(cal_index) %>
										<%= check_box_tag ( weekday_human_list[days_index], cal_index, checked )  %><%= weekday_human_list[days_index] %>
									</label>
								<% end %>
								<%= f.hidden_field :weekdays, :id => "weekdays" %>			
							</div> 		
						</div>
					</td>
				</tr>
			</table> 
	    </li>		
		<li class="seperator"></li>					
		<li>
			<label>Yearly Holiday List <span class="info_data">Holidays will be ignored when calculating SLA for a ticket</span></label>
			<table>
				<tr>
					<td width="55%" class="holidaylist" style="padding-right:10px;"> 
						<%= f.hidden_field :holiday_data, :id=>"holiday_data" %>
						<ul class="nobullets" id="HolidayList" style="display:none"></ul>
 
						<% javascript_tag do %>
							<% @business_calendars.holiday_data.each do |holiday| %>
								addHolidaytoList("<%=holiday[0]%>", "<%=holiday[1]%>");
							<% end %>	
						<% end %>
					</td>
					<td class="borderleft" style="padding-left:10px;">
						<%= date_select("holiday", "date", { :order => [:month, :day], :use_short_month => true } ) %><br />
						<label class="overlabel" for="holiday_name">Holiday name</label>
						<%= text_field("holiday", "name") %>
						
						<%= link_to_function( "Add Holiday", "addHoliday()", :class => "fdbutton grey" ) %>
						<b class="text_red" id="HolidayValidation" style="display:none;"> Holiday already added </b>
					</td>
				</tr>				
			</table>	
		</li>
	</ul>
	<div>
		<%= f.submit "Save", :class => "fdbutton" %>
		<%= link_to "Back", "/admin/home", :class => "fdbutton grey" %>
	</div>
	<% end %>