<%= include_cloudfront_css :pattern %>
<%= include_cloudfront_js :pattern %>

<% content_for :sidebar do %>
  <div class="sidepanel">
		<h3 class="title"><%=t('business_hours.title')%></h3>
		<p><%=t('business_hours.info1')%>.</p>
		<h3 class="title"><%=t('business_hours.holidays')%></h3>
		<p><%=t('business_hours.info2')%></p>
	</div>
<% end %>
<div class="list-page group-management">
  <div class="list-page-header row-fluid"> 
  	<h3 class="lead span6"><%=t('business_hours.title')%></h3>
  	<span class="span6"><%= link_to t('group.new'), new_group_path, :class => "btn btn-primary pull-right "  %></span>
  </div>
  <div class="list-page-body"> 
      <table class="table table-striped">
        <tr>
          <td>
             <%= link_to('Business Hours Title', '', :class => "item_info") %>
			 <div class="muted">Business Hours Information</div>
          </td>
          <td class="text-right">
          	<%= link_to t('edit'), '', :class => "btn btn-mini" %>
          	<%= link_to "<i class='icon-trash'></i>", '', :confirm => "#{t('group.info5')}?", :method => :delete, :class => "btn btn-mini"%>
          </td>
        </tr>
        <tr>
          <td>
             <%= link_to('Business Hours Title', '', :class => "item_info") %>
			 <div class="muted">Business Hours Information</div>
          </td>
          <td class="text-right">
          	<%= link_to t('edit'), '', :class => "btn btn-mini" %>
          	<%= link_to "<i class='icon-trash'></i>", '', :confirm => "#{t('group.info5')}?", :method => :delete, :class => "btn btn-mini"%>
          </td>
        </tr>
        
      </table>
  </div>
</div>