<% content_for :pagefixed do %>
<% javascript_tag do %>
	HolidayList = $H();
	TIME_CONTAINERS = ["time_morning", "morning_range", "time_evening", "evening_range"];

	setFullWeek = function( fullweek ){ 
		jQuery("#SpecificHoursDiv").toggle( (fullweek === "false") );
	}

    jQuery.validator.addMethod("time_validate", function(value, element) {
       	if (this.optional(element)) // return true on optional element
        	return true;

        _parent = jQuery(element).parent();

        _condition = compute_validity(TIME_CONTAINERS.map(function(id){
        		return _parent.find("#"+id).val();
        	}));

        return _condition;
   }, '');

   jQuery.validator.addClassRules("time_validate", { time_validate: true }); 

   	to_seconds = function(time, range){
		_hrs = parseInt(time.split(":")[0]);
		_mins = parseInt(time.split(":")[1]);
		_offset = (range == 'pm') ? (12 * 3600) : 0;

		return (( _hrs == 12 ? 0 : _hrs ) * 3600) + (_mins * 60) + _offset;
	}

	calculate_duration = function(range_array){ 
		start = range_array[0];
		start_range = range_array[1];
		end = range_array[2];
		end_range = range_array[3];
		
		_start = to_seconds( start, start_range )
		_end = to_seconds( end, end_range )

		_duration = (_end - _start);

		_hrs = (_start == 0 && _end == 0) ? 24 : Math.floor(_duration/3600);
		_mins = (_duration%3600)/60;

		return (_hrs ? (_hrs + " hrs ") : "") + (_mins ? (_mins + " mins") : "");
	}

	duration = function(item){
		_parent = jQuery(item).parent();

		_time_array = TIME_CONTAINERS.map(function(id){
        		return _parent.find("#"+id).val();
        	})

        _condition = compute_validity(_time_array);

        jQuery(_parent).find('.outline').toggle(_condition);

        _parent.find(".time_validate").data("validtime", _condition);

		return _condition ?
				calculate_duration(_time_array) :  "<a href='#' class='error'></a><%= t('business_hours.valid_time') %>"
				
	}

	compute_validity = function(range_array){
		var duration;

		start = range_array[0];
		start_range = range_array[1];
		end = range_array[2];
		end_range = range_array[3];

		_morning_sec = to_seconds( start, start_range );
		_evening_sec = to_seconds( end, end_range );

		return ( _morning_sec < _evening_sec ) || (_morning_sec == 0 && _evening_sec == 0);							
	}


	addHolidaytoList = function(month_date, name){
		month_id = month_date.replace(/\s/g, "").toLowerCase();
		if( !HolidayList.get( month_id ) ){
			setArray = [month_date, name];
			HolidayList.set( month_id,  setArray);
			jQuery("#HolidayValidation").hide();
			jQuery("#HolidayList")
				.append("<li month_date= "+month_id+"><a href='javascript:void(0)' class='close'></a>"+month_date+" - " + name +"</li>")
				.show();
		}else{
			jQuery("#HolidayValidation").show();
		}
	}
	
	addHoliday = function(){
		var month = jQuery("#holiday_date_2i option:selected").text();
		var date  = jQuery("#holiday_date_3i").val();
		var name  = jQuery("#holiday_name").val();
		month_date = month + " " + date;
		addHolidaytoList(month_date, escapeHtml(name));
	}
	
	jQuery(document).ready(function(){
		
		
		jQuery("#HolidayList a.close").live("click", function(){
			holiday = jQuery(this).parent();
			HolidayList.unset(holiday.attr("month_date"));
			holiday.remove(); 
			if(HolidayList.size() == 0)
				jQuery("#HolidayList").hide();
		});

		jQuery(".evening_time, .morning_time").change(function(){
			_parent = jQuery(this).parent();
			_parent.removeClass('outline');
			_parent.find("#duration").removeClass('outline');
			value = duration(this);
			_parent.find("#duration").html(value);

		}).trigger("change");

		
		jQuery("#DAYS_LIST .checked").change(function(){
			_day_container = jQuery(this).parent().parent();
			_day_container.removeClass('outline');
			_day_container.find("select").attr('disabled', !this.checked);
			_day_container.find("#duration").toggle( this.checked );

			_day_container.find(".business_days").toggleClass('active', this.checked);
		}).trigger("change");



		jQuery("#BusinessHours").validate({
			errorPlacement: function(element, error){
				jQuery(error)
					.parent()
					.addClass('outline');
			},
			submitHandler: function(form) {
		    	days_array 	   = $A();
				
				jQuery.each(jQuery("#DAYS_LIST input:checked"), function(){
					days_array.push(this.value);

					_parent = jQuery(this).parent().parent();
						
					_start_val = _parent.find("#time_morning").val() + " " + _parent.find( "#morning_range").val();

					_parent.find(".db_start_time_data").val( _start_val );

					_end_val = _parent.find("#time_evening").val() + " " + _parent.find('#evening_range').val();
					
					_parent.find(".db_end_time_data").val( _end_val );
				});
						   
				jQuery("#weekdays").val( days_array.toJSON() );

				holidays_array = $A();
				
				HolidayList.each(function(pair) {
				
				  	holidays_array.push([pair.value[0],unescapeHtml(pair.value[1])]);
				}); 
				jQuery("#holiday_data").val( holidays_array.toJSON() );

				form.submit();
		    },
		    onfocusout: false
		});
		
		jQuery("input:radio").change(function(){ 
			setFullWeek(this.value); 
		});	


	});
<% end %>
<% end %>

<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('business_hours.title')%></h3>
		<p><%=t('business_hours.info1')%>.</p>
		<h3 class="title"><%=t('business_hours.holidays')%></h3>
		<p><%=t('business_hours.info2')%></p>
	</div>
<% end %>

<h3 class="title"><%=t('business_hours.title')%></h3>
	<% form_for :business_calenders, @business_calendars, :url => { :action => "update" },  :html => { :method => :put, :id => "BusinessHours" } do |f| %>
	<ul class="business_hours ui-form dont-validate"> 
		<li><h4 class="title"><%=t('business_hours.helpdesk_hours')%></h4>

		</li>
		<li>
			<table class="business_time">
				<tr>
					<td width="35%">
						<label>
							<%= f.radio_button :fullweek, true %> 24 x 7
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<%= f.radio_button :fullweek, false %> <%=t('business_hours.info3')%>
						</label>
						<% display_week = (@business_calendars.business_time_data[:fullweek] == false) ? 'block':'none' %>
						
						
						<div class="specific_hours" id="SpecificHoursDiv" style="display:<%=display_week%>"  >
							
							<h5 class="title"><%=t('business_hours.info4')%></h5>
							<div id="DAYS_LIST" >
								<% weekdays = @business_calendars.business_time_data[:weekdays] %>
								<% weekday_human_list = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ] %>
								<% weekday_human_list.each_with_index do |days, days_index| %>
										<div class="timerange">
											<label class="business_days">
												<% cal_index = ( days_index+1 != 7 ) ? (days_index+1) : 0 %>
												<% checked = weekdays.include?(cal_index) %>
												<% if checked %>
													<% beginning_of_workday = @business_calendars.business_time_data[:working_hours][cal_index][:beginning_of_workday].split(" ")[0] %>
													<% beginning_of_workday_range = @business_calendars.business_time_data[:working_hours][cal_index][:beginning_of_workday].split(" ")[1] %>
													<% end_of_workday = @business_calendars.business_time_data[:working_hours][cal_index][:end_of_workday].split(" ")[0] %>
													<% end_of_workday_range = @business_calendars.business_time_data[:working_hours][cal_index][:end_of_workday].split(" ")[1] %>
													<% if (end_of_workday.eql?("11:59:59") and beginning_of_workday.eql?("00:00:00")) %>
														<% end_of_workday = beginning_of_workday = "12:00" %>
														<% end_of_workday_range = beginning_of_workday_range = "am" %>
													<% end %>
												<%else%>
													<% beginning_of_workday="8:00" %>
													<% beginning_of_workday_range = "am" %>
													<% end_of_workday ="5:00" %>
													<% end_of_workday_range = "pm" %>
												<%end%>
												<%= check_box_tag ( weekday_human_list[days_index], cal_index, checked, :class => "checked")  %>
												<%= days %>
											</label>
											<%= select "time", "morning_#{cal_index.to_s}", BusinessCalendar::TIME_LIST, 
													{ :selected=> beginning_of_workday }, { :class => "morning_time", :id => "time_morning" } %>
											<%= select "morning", "range_#{cal_index.to_s}", %w[am pm], 
													{ :selected => beginning_of_workday_range }, { :class => "morning_time", :id => "morning_range" } %>
											<span><%= t('business_hours.to') %></span>
											<%= select "time","evening_#{cal_index.to_s}", BusinessCalendar::TIME_LIST, 
													{ :selected => end_of_workday}, { :class => "evening_time", :id => "time_evening" } %> 
											<%= select "evening", "range_#{cal_index.to_s}", %w[am pm], 
													{ :selected => end_of_workday_range }, { :class => "evening_time time_validate", :id => "evening_range"  } %>
											
											<label id="duration"></label>	
											<%= hidden_field_tag "business_time_data[working_hours][#{cal_index.to_s}][beginning_of_workday]", "",
												:class => "db_start_time_data" %>
											<%= hidden_field_tag "business_time_data[working_hours][#{cal_index.to_s}][end_of_workday]", "",
												:class => "db_end_time_data" %>
										</div>
									<%end%>
								<%= f.hidden_field :weekdays, :id => "weekdays" %>	
							</div> 		
						</div>
					</td>
				</tr>
			</table> 
		</li>
	 </ul>

	<ul class="business_hours ui-form dont-validate" id ="split"> 
	
		<li> 
			<h4 class="title"><%=  t('business_hours.holiday_list') %> </h4>


			<span class="info_data"><%=t('business_hours.info5')%></span>
			<table>
				<tr>
					<td width="55%" class="holidaylist"> 
						<%= f.hidden_field :holiday_data, :id=>"holiday_data" %>
						<ul class="nobullets" id="HolidayList" style="display:none"></ul>
 						<% content_for :pagefixed do %>
						<% javascript_tag do %>
							<% @business_calendars.holiday_data.each do |holiday| %>
								addHolidaytoList("<%=holiday[0]%>", "<%=h(holiday[1])%>");
							<% end %>	
						<% end %>
						<% end %>
					</td>
					<td class="borderleft" style="padding-left:10px;">
						<%= date_select("holiday", "date", { :order => [:month, :day], :use_short_month => true } ) %><br />
						<label class="overlabel" for="holiday_name"><%=t('business_hours.holiday_name')%></label>
						<%= text_field("holiday", "name") %>
						
						<%= link_to_function( t('add_holiday'), "addHoliday()", :class => "button" ) %>
						<b class="text_red" id="HolidayValidation" style="display:none;"> <%=t('business_hours.holiday_added')%> </b>
					</td>
				</tr>				
			</table>	
		</li>
	</ul>
	<div class="button-container">
		<%= link_to "&larr; #{t('account.cancel')}".html_safe, "/admin/home", :class => "uiButton floatl" %>
		<%= f.submit t('save'), :class => "uiButton" %>
	</div>
	<% end %>