<% 
  def item_actions(rule)
    link_to(t('delete'), admin_supervisor_rule_path(rule), :method => 'delete', :confirm => 'Are you sure you want to delete this rule?', :class => "button" )
  end
%>
<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('.help_title')%></h3>
		<div class="help_text">
		</div>
	</div>
<% end %>

<% content_for :page_title do -%>
  <%= t('.title') %>
<%- end %>

<% content_for :page_active_list do -%>
  <% @va_rules.each do |supervisor_rule| %>
    <% content_tag :li, :ruleid => supervisor_rule.id, :class => cycle('odd', 'even') do %>
      <div class="item_actions">
        <%= item_actions(supervisor_rule) %>					
        <%= link_to(t('deactivate'), deactivate_admin_supervisor_rule_path(supervisor_rule), :method => 'put', :class => "button") %>
        <%= link_to(t('edit'), edit_admin_supervisor_rule_path(supervisor_rule), :class => "button") %> 					
      </div>
      <%= link_to(h(supervisor_rule.name), edit_admin_supervisor_rule_path(supervisor_rule), :class => "item_info") %>
      <%= content_tag :div, truncate(h(supervisor_rule.description), :length => 80), :title => h(supervisor_rule.description)  %>
    <% end %>
  <% end %>
<%- end %>

<% content_for :page_reorder_list do -%>
  <% @va_rules.each do |supervisor_rule| %>
    <li ruleid="<%=supervisor_rule.id%>"> 
      <span class="sort_handle"></span>
      <%= h(supervisor_rule.name) %> 
    </li>
  <% end %>     
<% end %>

<% unless @inactive_rules.empty? %>
  <% content_for :page_inactive_list do -%>
    <% @inactive_rules.each do |supervisor_rule| %>
      <% content_tag :li, :ruleid => supervisor_rule.id, :class => cycle('odd', 'even') do %>
        <div class="item_actions">
          <%= link_to(t('delete'), admin_supervisor_rule_path(supervisor_rule), :method => 'delete', :confirm => 'Are you sure you want to delete this rule', :class => "button" ) %>					
          <%= link_to(t('activate'), activate_admin_supervisor_rule_path(supervisor_rule), :method => 'put', :class => "button") %>
          <%= link_to(t('edit'), edit_admin_supervisor_rule_path(supervisor_rule), :class => "button") %> 					
        </div>
        <%= link_to(h(supervisor_rule.name), edit_admin_supervisor_rule_path(supervisor_rule), :class => "item_info") %> 
      <% end %>
    <% end %> 
  <% end %>
<% end %>

<%= render :partial => "/admin/shared/page" %>