<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('.help_title')%></h3>
		<div class="help_text">
		  <p><%= t(".help_info_1") %></p>
		  <p><%= t(".help_info_2") %></p>		
		  <p><%= t(".help_info_3") %></p>
		</div>
	</div>
<% end %>

<% content_for :page_title do -%>
  <%= t('.title') %>
<%- end %>

<% content_for :page_toolbar do -%>
  <%= link_to (t('dispatch.reorder'), "#", :id => "Reorder", :class => "uiButton") if ( @va_rules.size > 1 ) %>
  <%= link_to t('dispatch.new_rule'), new_admin_supervisor_rule_path, :class => "uiButton"  %>
<% end %>

<% content_for :page_active_list do -%>
  <% @va_rules.each do |supervisor_rule| %>
    <% content_tag :li, :ruleid => supervisor_rule.id, :class => cycle('odd', 'even') do %>
      <div class="item_actions">
        <%= link_to(t('delete'), admin_supervisor_rule_path(supervisor_rule), :method => 'delete', :confirm => t("dispatch.delete"), :class => "button" ) %>					
        <%= link_to(t('deactivate'), deactivate_admin_supervisor_rule_path(supervisor_rule), :method => 'put', :class => "button") %>
        <%= link_to(t('edit'), edit_admin_supervisor_rule_path(supervisor_rule), :class => "button") %>
      </div>
      <%= link_to(h(supervisor_rule.name), edit_admin_supervisor_rule_path(supervisor_rule), :class => "item_info") %>
      <%= content_tag :div, truncate(h(supervisor_rule.description), :length => 80), :title => h(supervisor_rule.description)  %>
    <% end %>
  <% end %>
<%- end %>

<% content_for :page_reorder_list do -%>
  <% @va_rules.each do |supervisor_rule| %>
    <% content_tag :li, :ruleid => supervisor_rule.id do %>
      <span class="sort_handle"></span>
      <%= h(supervisor_rule.name) %> 
    <% end %>
  <% end %>     
<% end %>

<% unless @inactive_rules.empty? %>
  <% content_for :page_inactive_list do -%>
    <% @inactive_rules.each do |supervisor_rule| %>
      <% content_tag :li, :ruleid => supervisor_rule.id, :class => cycle('odd', 'even') do %>
        <div class="item_actions">
          <%= link_to(t('delete'), admin_supervisor_rule_path(supervisor_rule), :method => 'delete', :confirm => t("dispatch.delete"), :class => "button" ) %>					
          <%= link_to(t('activate'), activate_admin_supervisor_rule_path(supervisor_rule), :method => 'put', :class => "button") %>
          <%= link_to(t('edit'), edit_admin_supervisor_rule_path(supervisor_rule), :class => "button") %>
        </div>
        <%= link_to(h(supervisor_rule.name), edit_admin_supervisor_rule_path(supervisor_rule), :class => "item_info") %> 
      <% end %>
    <% end %> 
  <% end %>
<% end %>

<%= render :partial => "/admin/shared/rule_page" %>