<div class="list-panel-main">
	<div class="forum-icon <%= @forum.type_symbol %> tooltip" title="<%= @forum.type_name%>">
		<i class="forum-type-<%= @forum.type_symbol %>"></i>
	</div>
	<ul class="list-actions-left">

		<li class="monitor-list add-follower" id ="follower-container" >
			<%= monitor_container(@forum) %>
			<% status = @monitor ? '' : 'active' %>
			<%= follower_button(@forum,status) %>
		</li>

		<% if privilege?(:manage_forums) -%>
		<li>
			<%= pjax_link_to("", edit_discussions_forum_path(@forum), :class => font_class(:edit, 23, "tooltip"), :title => "Edit")%>
		</li>
		<% end %>
	</ul>
	<ul class="list-actions-right forum-list">
		<%= followers_count(@forum) %>		
		<li class="list-inline">
			<%= new_discussions_button(:topic) %>
		</li>
	</ul>
	<h2 class="list-title ellipsis"><%= h(@forum.name) %></h2>
</div>