<% content_for :layoutType do %>community<% end %>
<div class="row-fluid hamburger">
	<%= sidebar_toggle("mt4") %>
	<h3 class="lead"><%= t('forum.edit') %></h3>
</div>
<%= form_for @forum, :url => discussions_forum_path(@forum)   do |f| -%>
	<%= render :partial => "form", :object => f %>
	<div class="button-container align-left">

		<%= confirm_delete(@forum, discussions_forum_path(@forum)) %>
		
		<div class="pull-right align-right">
			<%= pjax_link_to(t('cancel'), discussions_forum_path(@forum), :class => "btn" ) -%>
			<%= submit_tag t('save'), { :class => "btn btn-primary",  :action => :update } -%>
		</div>
	</div>

<% end -%>
