<% content_for :layoutType do %>community<% end %>
<% params[:order] ||= 'recent' %>
<% @monitor = @monitorship.zero? %>

<% content_for :sticky_title do %>
	<%= render :partial => 'title_bar' %>
	<%= render :partial => 'sort_bar' if @forum.topics_count? %>
<% end %>

<% content_for :sticky_right do %>
	<%= preview_portal(support_discussions_forum_path(@forum), @forum.forum_category) %>
<% end %>

<%= render :partial => '/discussions/shared/sticky', :locals => { :page => :forum } %>

<% if @topics.blank? %>
	<div class="no-data">
		<%= t('topic.no_topics') %>
		<div class="mt20">
			<% if privilege?(:create_topic) %>
				<%= pjax_link_to(t("topic.add_topic"), new_discussions_topic_path(:forum_id => @forum.id), :class => "btn btn-primary") %>
			<% end %>
		</div>
	</div>

<% else %>
	<form action id="topic-bulk-form" class="clearfix" method="post">
		<div class="comm-items" data-menu-hover-in='div.comm-item'>
			<%= render(:partial => "topic", :collection => @topics) %>
		</div>
	</form>
	<%= will_paginate @topics, 	:renderer => BootstrapPaginationRenderer,
        				:previous_label => "<b class='arrow-left'></b>",
        				:next_label => "<b class='arrow-right'></b>",
        				:class => "pagination pagination-centered" %>
<% end %>
