<% selected ||= category.folders.first %>
<h3 class="title"><%= category.name %></h3>
<ul class="solution_list"> 
	<% category.folders.each do |folder| %>  
		<li class = "<%= ( folder == selected ) ? 'active' : '' %>" >
			<%= link_to folder.name,  solution_category_folder_path(category,folder)  %> 
			<span>
				<% if logged_in? && current_user.has_manage_solutions? %>
					<%= folder.articles.size %>
				<%else%>
	  				<%= folder.articles.visible.size %>
				<%end%>
			</span> 
		</li>
	<% end %>
</ul>