
<div class="action_buttons">
	<%= link_to (t('solution.add'), new_solution_category_folder_article_path(category , folder), :class => "icon add_new") %>
	<%= link_to t('edit') ,  edit_solution_category_folder_path(category, folder), :class => "last" %>
</div>

<h4 class="border_title"><%= folder.name %></h4> 
<div class="info_data"><%= folder.description %></div> 

<% unless (folder.articles.size == 0) %>
	<ol class="artical_list">
		<% folder.articles.each do |article| %>
			<li><%= link_to article.title, solution_category_folder_article_path(category, folder, article) %></li>
		<% end %>
	</ol>
<% else %>
	<span class="no_info_text"><%=t('solution.info7')%>  <%= link_to t('solution.add_new_solution'), new_solution_category_folder_article_path(category, folder) %></span>
<% end %>
<span class="seperator"></span>