<div class="floatr">
	<%= link_to t('solution.add') + "<span class='symbols-add'></span>", new_solution_category_folder_article_path(category , folder), :class => "icon-detail button" %>
	<%= link_to t('edit'), edit_solution_category_folder_path(category, folder), :class => "button" %>
</div>

<h3 class="title"><%= folder.name %></h3> 
<div class="intro"><%= folder.description %></div> 
<span class="seperator"></span>
<% unless (folder.articles.size == 0) %>
	<ol class="artical_list">
		<% folder.articles.each do |article| %>
			<li><%= link_to article.title, solution_category_folder_article_path(category, folder, article) %></li>
		<% end %>
	</ol>
<% else %>
	<div class="big-info">
		<div class="no-info-text"><%= t('solution.info7') %> </div>  
		<%= link_to t('solution.add'), new_solution_category_folder_article_path(category, folder), :class => "uiButton special large" %>
	</div>
<% end %>
