<div class="floatr">
	<%= link_to t('reorder'),'#', :id=>"article_reorder_button", :class => "button" unless(folder.articles.size <= 1)%>
	<%= link_to t('solution.add') + "<span class='symbols-add'></span>", new_solution_category_folder_article_path(category , folder), :class => "icon-detail button" %>
	<%= link_to t('edit'), edit_solution_category_folder_path(category, folder), :class => "button" unless category.is_default?%>
</div>

<h3 class="title"><%= folder.name %></h3> 
<div class="intro"><%= folder.description %></div> 
<span class="seperator"></span>
<% unless (folder.articles.size == 0) %>
	<ol class="artical_list" id="article_list">
		<% folder.articles.each do |article| %>
			<li><%= link_to article.title, solution_category_folder_article_path(category, folder, article) %></li>
		<% end %>
	</ol>
<% else %>
	<div class="big-info">
		<div class="no-info-text"><%= t('solution.info7') %> </div>  
		<%= link_to t('solution.add'), new_solution_category_folder_article_path(category, folder), :class => "uiButton special large" %>
	</div>
<% end %>

<%= render :partial => "/shared/reorder_list", :locals => { :items => folder.articles, :action_url => reorder_solution_category_folder_articles_path(category, folder), :title => :title, :container_id => "artical_sort", :reorder_id => "article_reorder_button", :list_id => "article_list"} %>
