<div style="text-align:center;background-color:#f4f7f6;font-family:sans-serif;max-width:800px;border-radius:3px;">
  <!-- HEADER -->
  <div style="background-color:#e5efec;padding:20px 0;">
    <%= image_tag "#{Helpdesk::EMAIL_LOGO_URL[Rails.env.to_sym]}", {:style=>"height:35px;"}%>
  </div>

  <!-- BODY -->
  <div style="max-width:95%;margin: 0 auto;">
    <h3><%= t('mailer_notifier.user_notifications.activate_accounts') %></h3>
    <div style="max-width: 600px;text-align: center;margin: 0 auto;margin-bottom: 20px;"> <%= t('mailer_notifier.user_notifications.activation_message') %></div>
    <%= link_to t('mailer_notifier.user_notifications.activate_button'), "#{@activation_url}", { :style => "background-color:#208465;color:white;text-decoration: none;padding: 10px 30px;display: inline-block;border-radius: 5px;box-shadow: 0 4px 0px 0px #005539;"} %>
    <div style="margin-top: 30px;font-weight: bold;"><%= t('mailer_notifier.user_notifications.freshdesk_url') %></div>
    <%= link_to "#{@account.full_domain}", "#{@account.full_domain}" %>
  </div>

  <!-- FOOTER -->
  <div style="font-size:13px;color:#aaa;margin-top:40px;padding-bottom:20px;">
    <div><%= t('mailer_notifier.user_notifications.get_in_touch') %></div>
    <div><%= t('mailer_notifier.user_notifications.support_email', support_email: 'support@freshdesk.com') %></div>
    <div><%= t('mailer_notifier.user_notifications.support_call', support_number: '+1 (866) 832-3090') %></div>
    <div>Freshdesk, Inc. 1250 Bayhill Drive, Suite 315, San Bruno, CA 94066</div>
  </div>
</div>
<% if @activation_url && Account.current.launched?(:email_actions) %>
  <%= view_action(url: @activation_url, name: 'Activate') %>
<% end %>
