<%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @admin_name, sent_by: :freshdesk_support } do %>
<div><%= t('mailer_notifier.user_notifications.ssl_certificate_approved') %></div>
<br>
<div><%= t('mailer_notifier.user_notifications.ssl_steps_introduction') %></div>
<br>
<div><%= t('mailer_notifier.user_notifications.ssl_step_1', portal_url: @portal_url) %></div>
<div><%= t('mailer_notifier.user_notifications.ssl_step_2', portal_url: @portal_url, elb_name: @elb_name) %></div>
<div><%= t('mailer_notifier.user_notifications.ssl_step_3') %></div>
<br>
<div> <%= t('mailer_notifier.user_notifications.ssl_once_ready', portal_url: @portal_url) %> </div>
<br>
<% end %>
<br>
