<%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @admin_name, sent_by: :freshdesk_support } do %>

<%= t('mailer_notifier.user_notifications.facebook_access_token_expired', page_name: @fb_page.page_name) %>
<ol>
<li><%= t('mailer_notifier.user_notifications.facebook_info_1') %></li>
<li><%= t('mailer_notifier.user_notifications.facebook_info_2') %></li>
<li><%= t('mailer_notifier.user_notifications.facebook_info_3') %></li>
</ol>
<%= t('mailer_notifier.user_notifications.facebook_reauth_link_html', facebook_url: @facebook_url) %><br/><br/>

<% end %>