<div>
Hi <%= @user.name%>,
</div>
<div>
<p><%= t(:'flash.import.thank_user').html_safe%> </p>
<p><%= "#{t('flash.import.info', :customer => 'Customer', :type => @type)}".html_safe%></p>
<p></p>
<% unless @import_success %>
	<p><%= @unsaved_item %></p>
	<p></p>
<%end%>
<p><%= t(:'flash.import.help_desk').html_safe%></p>
<p></p>
<div>
<p><%= t(:'flash.import.regards').html_safe%></p>
<p> <%= t(:'flash.import.freshdesk').html_safe%>
</p>
</div>	
