<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">
  	<div>
  	  Hi <%= @user.name%>,
  	</div>
  	<div>
 
    <p><%= t(:'flash.import.thank_user').html_safe%> </p>
    <p><%= t(:'flash.import.details', :customer => "Customer", :users => "Contacts").html_safe%></p>
    <p></p>
    <p><%= t(:'flash.import.help_desk').html_safe%></p>
    <p></p>
    <div>
    	<p><%= t(:'flash.import.regards').html_safe%></p>
    	<p> <%= t(:'flash.import.freshdesk').html_safe%>
    	</p>
    </div>	
    </div>
  </div>
</body>
</html>