<% @page_title = 'Customers' %>
<h3>Customers Per Month</h3>
<table id="customers">
	<%@customers_by_month.each do |date,count|%>
	  <tr>
       <td><%=date%></td>
       <td><%= count %></td>
     </tr>
	<%end%>
</table>

<br>
<br>

<h3>Signup's Per Month</h3>
<table id="customers">
	<%@signups_by_month.each do |date,count|%>
	  <tr>
       <td><%=date%></td>
       <td><%= count %></td>
     </tr>
	<%end%>
</table>

<h3>Last 30 days signups</h3>
<table id="customers">
	<%@signups_per_day.each do |day,accs|%>
	  <tr>
       <td><%=day.strftime("%d-%B")%></td>
       <td><%= accs.size %></td>
     </tr>
	<%end%>
</table>

