<% @page_title = 'Customers' %>


<h1><%= @page_title %></h1>
<table id="subscriptions">
  <tr>
    <th>Account</th>
    <th>Amount</th>
    <th>Created</th>
    <th>Renewal</th>
	<th>Place</th>
	<th>Agents</th>
	<th>Plan</th>
    
  </tr>
  <% @subscriptions.each do |subscription| %>
    <tr class="<%= 'expired' unless subscription.current? %>">
      <td><%= link_to(h(subscription.account), [:admin, subscription]) %></td>
      <td><%= number_to_currency(subscription.amount) %> <%= "(#{subscription.discount.name})" if subscription.discount %></td>
      <td><%= subscription.created_at.to_s(:short_day) %></td>
      <td><%= subscription.next_renewal_at.to_s(:short_day) %></td>
	  <td><%= subscription.account.time_zone %></td>
	  <td><%= subscription.agent_limit %></td>
	  <td><%=SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[subscription.renewal_period]%> <%= subscription.subscription_plan.name %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate(@subscriptions) %>