<% @page_title = 'Deleted Customers' %>

<table id="subscriptions" class="table table-striped table-details event-summary">
  <tr>
  	<th>Account ID</th>
    <th>Full Domain</th>
		<th>Status</th>
		<th>Active since</th>
		<th>Cancelled on</th>
		<th>Deletion scheduled on</th>
    <th>Admin Name</th>
    <th>Admin Email</th>
  </tr>
  
	 <%unless @deleted_customers.nil? %>
		<%@deleted_customers.each do |del_cus|%>
			<tr>
				<td><%=del_cus.account_id%></td>
				<td><%=del_cus.full_domain%></td>
				<td><%=FreshdeskCore::Model::STATUS.index(del_cus.status).to_s.tr('_', ' ').capitalize %></td>
				<td><%=(del_cus.account_info.fetch(:account_created_on,Time.now)).strftime("%d-%B-%Y")%></td>
				<td><%=del_cus.created_at.strftime("%d-%B-%Y")%></td>
				<td><%=2.days.since(del_cus.created_at).strftime("%d-%B-%Y")%></td>
				<td><%=del_cus.admin_name%></td>
				<td><%=del_cus.admin_email%></td>
			</tr>
		<%end%>
	<%end%>
 </table>

<%= will_paginate(@deleted_customers) %>