<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render layout: 'shared/email_header_footer.html.erb', locals: { sent_by: :freshdesk_team, other_recipients_note: true } do %>
      <p><%= @email_body %></p>
      <% unless Account.current.account_cancellation_requested? %>
         <% sprout_plan = @subscription_request.subscription_plan.amount.zero?
         from_field_agents =  @subscription.field_agent_limit.to_i
         to_field_agents = @subscription_request.fsm_field_agents.to_i %>
        <p>
          <b><%= I18n.t('downgrade_policy_content.current_subscription') %></b><br>
          <%= I18n.t('downgrade_policy_content.current_plan', plan: @from_plan_name) %>
          <% unless sprout_plan %>
             <br><%= I18n.t('downgrade_policy_content.agents', agents: @subscription.agent_limit) %>
          <% end %>
          <br><%= I18n.t('downgrade_policy_content.billing_cycle', billing_cycle: SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[@subscription.renewal_period]) %><br>
          <% if Account.current.field_service_management_enabled? || @subscription_request.fsm_enabled? %>
            <%= I18n.t('downgrade_policy_content.field_technicians', field_agents: from_field_agents)%><br>
          <%end%>
          <br><b><%= I18n.t('downgrade_policy_content.modified_subscription') %></b><br>
          <%= I18n.t('downgrade_policy_content.current_plan', plan: @to_plan_name)%>
          <% unless sprout_plan %>
            <br><%= I18n.t('downgrade_policy_content.agents', agents: @subscription_request.agent_limit) %><br>
            <%= I18n.t('downgrade_policy_content.billing_cycle', billing_cycle: SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[@subscription_request.renewal_period]) %><br>
            <% if Account.current.field_service_management_enabled? || @subscription_request.fsm_enabled? %>
              <%= I18n.t('downgrade_policy_content.field_technicians', field_agents: to_field_agents)%><br>
            <%end%>
            <br><%= @agent_and_product_validation_msg %>
          <%end%>
        </p>
      <%end%>
    <%end%>
  </body>
</html>
