<div class="row"> 
	<div class="span8">
	<!-- <%= link_to 'Export Customers', customers_csv_admin_subscriptions_path, :class => "btn btn-success pull-right" %> -->
	<h3><%= @page_title = "All accounts" %></h3>
	<table id="subscriptions" class="table">
	  <tr>
	    <th>Account</th>
	    <th>Currency</th>
	    <th>Amount</th>
	    <th>Created</th>
	    <th>Next Renewal</th>
	    <th>State</th>
	  </tr>
	  <% @subscriptions.each do |subscription| %>
	   <%if subscription %>
	    <tr>
	      <td><%= link_to(h(subscription.account.name), [:admin, subscription.account]) %></td>
	      <td><%= subscription.currency_name %></td>
	      <td><%= subscription.amount %></td>
	      <td><%= subscription.created_at.to_s(:short_day) %></td>
	      <td><%= subscription.next_renewal_at.to_s(:short_day) %></td>
	      <td><%= subscription.state %></td>
	    </tr>
	    <%  end %>
	  <% end %>
	</table>

	
	</div>    
	<div class="span3">           
	 <h3>Customer summary</h3>		
 	 <table id="customer_counts" class="table table-bordered">
	    <tr>
	      <th>Number of Customers</th>
	      <td><%= @customer_count %></td>
	    </tr>
		 	<tr>
		      <th>Paying Customers</th>
		      <td><%= @customer_count - @free_customers %></td>
		    </tr>
		    <tr>
			  <th>Free Customers</th>
		      <td><%= @free_customers %> </td>
			</tr>
		    <tr>
		      <th>RPU</th>
		      <td><%= format_float_value(@cmrr) %></td>
		    </tr>
			<tr>
		      <th>CMRR</th>
		      <td><%= link_to format_float_value(@monthly_revenue), "/currency" %></td>
		    </tr>
			<tr>
			  <th>Paying agents</th>
		      <td><%= @customer_agent_count %> </td>
			</tr>
			<tr>
			  <th>Free agents</th>
				<td><%= @free_agent_count %> </td>
			</tr>
	  </table>

<!-- 	  <h3>Last month purchases</h3>		
		<table id="customer_counts" class="table table-bordered">
			<tr>
	      <th>Day passes</th>
	      <td><%= @day_passes %></td>
	    </tr>
	    <tr>
	      <th>Freshfone credits</th>
	      <td><%= @freshfone_credits %></td>
	    </tr>	    
	  </table> -->

  </div> 
</div>  
