<div class="page-header">
	<%= link_to('Edit Subscription', edit_admin_subscription_path(@subscription), :class => "btn btn-success pull-right") %>	
	<h2><%= @page_title = @subscription.account %></h2>                                                                         
</div>
<div class="row">     
	<div class="span4">
		<h3>Summary</h3>
		<table id="subscription" class="table table-bordered">
		  <tr>
		    <th>Account ID</th>
		    <td><%= h(@subscription.account_id) %></td>
		  </tr>           
		  <tr>
		    <th>Name</th>
		    <td><%= h(@subscription.account) %></td>
		  </tr>           
		  <tr>
		    <th>Contact information</th>
		    <td><%= @subscription.account.account_admin.email %> <%= @subscription.account.account_admin.phone %> </td>
		  </tr>
		  <tr>
		    <th>Last login</th>
		    <td><%= @subscription.account.account_admin.last_login_at %> Login count - <%=@subscription.account.account_admin.login_count%> Valid - <%=@subscription.account.account_admin.valid?%></td>
		  </tr>
		  <tr>
		    <th>Monthly Revenue</th>
		    <td><%= number_to_currency(@subscription.amount) %></td>
		  </tr>
      <tr>
        <th>Lifetime Revenue</th>
        <td><%= number_to_currency(@subscription.account.subscription_payments.sum(:amount)) %></td>
      </tr>
		  <tr>
		    <th>Created</th>
		    <td><%= @subscription.created_at.to_s(:short_day) %></td>
		  </tr>
		  <tr class="<%= 'expired' unless @subscription.current? %>">
		    <th>Next Renewal</th>
		    <td><%= @subscription.next_renewal_at.to_s(:short_day) %></td>
		  </tr>       
		  <tr>
		    <th>Plan</th>
		    <td><%= @subscription.subscription_plan %></td>
		  </tr>
		  <tr>
		    <th>Discount</th>
		    <td><%= @subscription.discount ? "#{@subscription.discount.name} (#{@subscription.discount.code}) - #{discount_label(@subscription.discount)}" : 'None' %></td>
		  </tr>
		  <tr>
		    <th>Remaining Day Passes</th>
		    <td><%= @subscription.account.day_pass_config.available_passes %></td>
		  </tr>
		  <tr>
		    <th>State</th>
		    <td><%= @subscription.state %></td>
		  </tr>
		  <tr>
		    <th>Agents</th>
		    <td>Subscribed - <%=@subscription.agent_limit%>  Free - <%= @subscription.free_agents %>  Full time - <%= @subscription.account.full_time_agents.count %> Total - <%= @subscription.account.agents.count %> Ocassional - <%=@subscription.account.agents.count - (@subscription.account.full_time_agents.count ||= 0)%></td>
		  </tr>
		  <tr>
		    <th>Tickets</th>
		    <td><%= @subscription.account.tickets.count %></td>
		  </tr>
		  <tr>
		    <th>Multi product</th>
		    <td><%= @subscription.account.portals.count > 1 %></td>
		  </tr>
		  <tr>
		    <th>Social</th>
		    <td>Twitter - <%= !@subscription.account.twitter_handles.blank? %> Facebook - <%= !@subscription.account.facebook_pages.blank?%></td>
		  </tr>
		  <tr>
		    <th>Email Configured</th>
		    <td><%= (@subscription.account.all_email_configs.collect {|ec| "#{ec.name} - #{ec.reply_email} - #{ec.active}"}).join("<br>") %></td>
		  </tr>
		  <tr>
		    <th>Portals</th>
		    <td><%= (@subscription.account.portals.collect {|por| "#{por.name} - #{por.portal_url} - #{por.language}"}).join("<br>") %></td>
		  </tr>
		  <tr>
		    <th>Security</th>
		    <td>SSO - <%= @subscription.account.sso_enabled? %>  https - <%= @subscription.account.ssl_enabled? %> </td>
		  </tr>
		</table>   
	</div> 
	<div class="span4">
	<table id="sample-tickets" class="table table-bordered">
		<tr><th>Sample tickets</th></tr>
		<% @subscription.account.tickets.find(:all,:order => 'created_at desc',:limit => 5).each do |tkt| %>
		  <tr>
		  <td><%=tkt.subject%></td>
		  </tr>
		<%end%>
		
		
    <table>	
	</div>	      
	<div class="span4">
		<h3>Transactions</h3>
		<table id="transactions" class="table">
		  <tr>
		    <th>ID</th>
		    <th>Date</th>
		    <th>Amount</th>
		    <th>Transaction ID</th>
		  </tr>
		  <% @subscription.subscription_payments.each do |payment| %>
		    <tr>
		      <td><%= payment.id %></td>
		      <td><%= payment.created_at.to_s(:short_day) %></td>
		      <td><%= number_to_currency(payment.amount) %></td>
		      <td><%= payment.transaction_id %></td>
		    </tr>
		  <% end %>
		</table>    
	</div>	
 	<div class="span4">
		<h3>Charge Subscription</h3>
		<p>
		  Use this form to make a one-time charge against the card on file for the subscription.  A transaction will happen as soon as you submit this form.  Amounts should be entered as dollars and cents, without the dollar sign or commas: e.g., 1.50 to charge $1.50.
		</p>
		<% if @subscription.errors.any? %>
		<div class="errorExplanation" id="errorExplanation">
		  <h3>Errors encountered while charging the card:</h3>
		  <ul>
		    <%= @subscription.errors.full_messages.map {|e| content_tag(:li, e)} %>
		  </ul>
		</div>
		<% end %>

		<% form_tag({:action => 'charge'}, :id => 'charge_form', :class => "well form-inline", :onsubmit => 'return checkForm()') do %>
		  <input type="text" name="amount" id="amount" placeholder="Amount" />
		  <input type="submit" value="Charge card" class="btn" />
		<% end %>

		<h3>Extend trial</h3>

		<% form_tag({:action => 'extend_trial'}, :id => 'trial_form', :class => "well form-inline") do %>
		  <input type="text" name="trial_days" id="trial_days" placeholder="No. of trial days" />
		  <input type="submit" value="Extend trial" class="btn" />
		<% end %>

		<h3>Add Day Passes</h3>

		<% form_tag({:action => 'add_day_passes'}, :id => 'trial_form', :class => "well form-inline") do %>
		  <input type="text" name="passes_count" id="passes_count" placeholder="No. of day passes" />
		  <input type="submit" value="Add Passes" class="btn" />
		<% end %>
	</div>    
	
</div>

<% content_for :pagefixed do -%>
  <script type="text/javascript" charset="utf-8">
    function checkForm() {
      amt = document.getElementById('amount')
      amt.value = amt.value.replace(/[\$,]/g, '')
      to_charge = parseInt(amt.value)
      if (isNaN(to_charge) || to_charge <= 0) {
        alert("Please enter a number greater than 0")
        return false
      }
      return confirm("Are you sure you want to charge $" + to_charge + "?")
    }
  </script>
<% end -%>