<h3 class="title"><%=t('ticket_templates.title')%></h3>
<p><%=t('ticket_templates.helptext.info1')%></p>
<p><%=t('ticket_templates.helptext.info2')%></p> 
<% if check_for_parent_child_feature? %>
<h3 class="title"><%=t('ticket_templates.parent_child_templates.title')%></h3>
<p><%=t('ticket_templates.parent_child_templates.helptext.info')%></p>
<% end %>
