<% content_for :helpcard do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<%# multifile attachments templates %>
<% if  current_account.launched?(:multifile_attachments)  %>
<%= render "helpdesk/tickets/ticket_widget/multifile_template_generator" %>
<% end %>
<%= form_for @tkt_template, :url => helpdesk_ticket_template_path, :html => { :method => :put, :multipart => true, :rel => "validate", :class => 'form-unsaved-changes-trigger', :id => "ticket_template"}  do |f| %>
	<div class='page-header-sticky' rel='sticky'>
		<div class='sticky-header-wrapper'>
			<h3 class='lead pull-left'>
				<%= t('ticket_templates.edit_title') %>
			</h3>
			<div class="pull-right">
				<%= link_to t('cancel'), "/helpdesk/ticket_templates/tab/#{@current_tab}", :class => "btn", :'data-pjax' => "#body-container" %>
				<%= f.submit t('save'), :class => "btn btn-primary" %>
			</div>
		</div>
	</div>
	<br/>
	<%= render :partial => "form", :locals => { :f => f, :is_edit => true } %>
<% end %>

<!-- Canned response dialog -->
<%= render :partial => "/helpdesk/ticket_templates/canned"  %>
