<% if @tkt_template.parent_template?
	children_count = @children.count
	sidebar = :sidebar
    partial = "edit_parent_child_status"
  else
    sidebar = :helpcard
    partial = "helpnote_without_tour"
  end
	%>
<% content_for sidebar do %>
  <% if @tkt_template.parent_template? %>
  	<%= render :partial => partial, :locals => { :children_count => children_count } %>
  <% else %>
  	<%= render :partial => partial %>
  <% end %>
<% end %>

<%= render "helpdesk/tickets/ticket_widget/multifile_template_generator" %>

<%= form_for @tkt_template, :url => helpdesk_ticket_template_path, :html => { :method => :put, :multipart => true, :rel => "validate", :class => 'ticket_template_form template_form', :id => "ticket_template", :"data-parent-template" => @tkt_template.parent_template? }  do |f| %>
	<div class='page-header-sticky <%= check_for_parent_child_feature? ? 'parent-header-sticky' : '' %>' rel='sticky' >
		<div class='sticky-header-wrapper'>
			<h3 class='lead pull-left'>
				<ul class="breadcrumb template_breadcrumb">
				  <li>
				    <%= link_to t('ticket_templates.template_title'), helpdesk_ticket_templates_path(), :class => "statusbar-redirect" %> <span class="divider">/</span>
				  </li>
				  <li class="active"><%= t('ticket_templates.edit') %></li>
				</ul>
			</h3>
			<div class="pull-right">
				<%= link_to t('cancel'), "/helpdesk/ticket_templates/tab/#{@current_tab}", :class => "btn form_btn statusbar-redirect" %>
				<%= f.submit t('save_add_child'), :class => "btn form_btn template_add_child",:id => "template_add_child" if check_for_parent_child_feature? && !(@tkt_template.parent_template? && children_count >= Helpdesk::TicketTemplate::TOTAL_CHILD_TEMPLATES) %>
				<%= f.submit t('save'), :class => "btn btn-primary form_btn" %>
			</div>
		</div>
		<%if check_for_parent_child_feature? %>
		<span class="pull-right template-msg"><%= t('ticket_templates.edit_normal_template_message').html_safe%></span>
		<%end %>
	</div>
	<br/>
	<%= render :partial => "form", :locals => { :f => f, :is_edit => true } %>
	<% if @tkt_template.parent_template? %>
		<div class="edit-template-footer hide">
			<hr/>
			<button class="btn pull-right delete-template"  data-controls-modal="edit-delete-template" data-backdrop="static" ><%= t('ticket_templates.delete') %></button>
		</div>
	<% end %>
<% end %>

<!-- Canned response dialog -->
<%= render :partial => "/helpdesk/ticket_templates/canned"  %>
<div class="modal hide fade" id="toggle-confirm" style="width:600px;margin-left: -300px" aria-hidden="true" role="dialog">
    <div class="modal-header">
      <button class="close" data-dismiss="modal"></button>
      <h3><%= t('ticket_templates.save_and_continue.title') %></h3>
    </div>
    <div class="modal-body">
      <p><%= t('ticket_templates.save_and_continue.info1') %></p>
    </div>
    <div class="modal-footer">
      <%= link_to(t('ticket_templates.save_and_continue.proceed'), '' ,:class => "btn proceed_anyway" )%>
      <%= link_to(t('ticket_templates.save_and_continue.cancel'),'' ,:class => "btn btn-primary take_back",:method => 'delete' )%>
     </div>
  </div>

<% if @tkt_template.parent_template? %>
	<div class="modal hide fade" style="width:600px;margin-left: -300px" id="edit-delete-template" aria-hidden="true" role="dialog">
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal"></button>
	    <h3><%= t('ticket_templates.edit_template.delete.delete_title') %></h3>
	  </div>
	  <div class="modal-body">
	    <p><%= t('ticket_templates.edit_template.delete.info1') %></p>
	  </div>
	  <div class="modal-footer">
	  	<%= link_to(t('ticket_templates.edit_template.cancel'), '' ,:class => "btn",:data => { :dismiss => 'modal' } )%>
	    <%= link_to(t('ticket_templates.edit_template.confirm'), '' ,:class => "btn btn-primary edit-delete-confirm",:method => 'delete' )%>
	  </div>
	</div>
<% end %>

<%= javascript_tag do %>
	var customMessages  = {};
<% end %>
