<% content_for :helpcard do %>
  <%= render :partial => "templates_sidebar" %>
<% end %>

<div class='page-header-sticky' rel='sticky'>
  <div class='sticky-header-wrapper'>
    <h3 class='lead pull-left'>
      <%= t('ticket_templates.title') %>
    </h3>
    <div class="pull-right">
      <% templ_count     = templates_count_from_cache
         total_templ     = Helpdesk::TicketTemplate::TOTAL_SHARED_TEMPLATES
         # templates_count = @all_items.count
         %>
      <% if templ_count < total_templ %>
        <%= t('ticket_templates.acc_templ_count', :templ_count => templ_count, :total_templ => total_templ).html_safe if templ_count >= 280 %>
        <%= (link_to t('ticket_templates.new_template'), new_helpdesk_ticket_template_path(), :class => "btn btn-primary") %>
      <% else %>
        <%= t('ticket_templates.total_templ_count', :total_templ => total_templ).html_safe %>
      <% end %>
    </div>
  </div>
</div>  
</br>
<% if check_for_parent_child_feature? %>
<div id="ticket-sub-toolbar template-sort-wrapper">
  <div class="sort-bar toolbar">
    <div class="fd-menu" id="SortMenu">
      <ul>             
        <li>
            <%= link_to t('ticket_templates.order.recent_created'), helpdesk_ticket_templates_path(:recently_created => true),:class => "sort-template"  %>
        </li>
        <li>
           <%= link_to t('ticket_templates.order.a_to_z'), helpdesk_ticket_templates_path,:class => "sort-template"  %>
        </li>
      </ul> 
    </div>
    <a class="drop-right nav-trigger tempate_sort" href="#" menuid="#SortMenu">
      <% order_name = @order_by.eql?("name") ? "a_to_z" : "recent_created" %>
      <%= t('ticket_templates.order.title')%>: <b><%= t("ticket_templates.order.#{order_name}")%></b>
    </a>
  </div>
</div>
<% end %>

  <div class="list-page ticket-template-list">
    <div class="response-list list-page-body">
      <% if !@all_items.present? %> 
        <div class="list-noinfo">
          <%=t('ticket_templates.no_templates')%>
          <% if templ_count < total_templ %>
            <a href="<%=new_helpdesk_ticket_template_path()%>"><%=t('ticket_templates.create_new')%></a>
          <% end %>
        </div>
      <%else%>
        <table class="table table-striped tkt-template-table">
          <tbody>
            <%= render :partial => "template", :collection => @all_items, :locals => {:show_clone => (templ_count < total_templ)} %>
          </tbody>
        </table>
        <%= will_paginate @all_items, :renderer => BootstrapPaginationRenderer,
                            :previous_label => "<b class='arrow-left'></b>",
                            :next_label => "<b class='arrow-right'></b>",
                            :class => "pagination pagination-centered" %>
      <%end%>
    </div>
  </div>
<div class="modal hide fade" style="width:600px;margin-left: -300px" id="index-delete-template-modal" aria-hidden="true" role="dialog">
  <div class="modal-header">
    <button class="close" data-dismiss="modal"></button>
    <h3><%= t('ticket_templates.edit_template.delete.delete_title') %></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <%= link_to(t('ticket_templates.edit_template.cancel'), '' ,:class => "btn",:data => { :dismiss => 'modal' } )%>
    <%= link_to(t('ticket_templates.edit_template.confirm'), '' ,:class => "btn btn-primary index-delete-confirm",:method => 'delete' )%>  
  </div>
</div>

<%= javascript_tag do %>
  var customMessages={
    normalTemplateMsg : "<%= t('list_all_template.deleteMessage') %>",
    parentTemplateMsg : "<%= t('list_all_template.parent_child_templates.deleteMessage').html_safe %>"
  };
<% end %>