<% content_for :helpcard do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>


<%= render "helpdesk/tickets/ticket_widget/multifile_template_generator" %>

<%= form_for @tkt_template, :url => { :controller => "ticket_templates", :action => "create" }, :html => { :multipart => true, :rel => "validate", :id => "ticket_template",:class =>'template_form'}  do |f| %>
	<div class='page-header-sticky <%= check_for_parent_child_feature? ? 'parent-header-sticky' : '' %>' rel='sticky'>
		<div class='sticky-header-wrapper'>
			<h3 class='lead pull-left'>
				<ul class="breadcrumb template_breadcrumb">
				  <li>
				    <%= link_to t('ticket_templates.template_title'), helpdesk_ticket_templates_path(), :'data-pjax' => "#body-container" %> <span class="divider">/</span>
				  </li>
				  <li class="active"><%= t('ticket_templates.template_create') %></li>
				</ul>
			</h3>
			<div class="pull-right">
				<%= link_to t('cancel'), helpdesk_ticket_templates_path(), :class => "btn form_btn" %>
				<%= f.submit t('save_add_child'), :class => "btn template_add_child form_btn", :id => "template_add_child"  if check_for_parent_child_feature? %>
				<%= f.submit t('save'), :class => "btn btn-primary form_btn" %>
			</div>
		</div>
		<%if check_for_parent_child_feature? %>
		<span class="pull-right template-msg"><%= t('ticket_templates.new_add_child_message').html_safe%></span>
		<%end%>
	</div>
	<br/>
	<%= render :partial => "form", :locals => { :f => f, :is_edit => (@tkt_template.errors.any? ? true : false)} %>
<% end %>

<!-- Canned response dialog -->
<%= render :partial => "/helpdesk/ticket_templates/canned"  %>

<%= javascript_tag do %>
	var customMessages  = {};
<% end %>
