<% content_for :sidebar do %>
  <div class="sidepanel">
    <i class="common-icon-help"></i>
    <h3 class="lead"><%= t('integrations.shopify.edit.sidebar_label') %></h3>
    <%= t('integrations.shopify.edit.sidebar').html_safe %>
  </div>
<% end %>

<div class="list-page-body shp-wrapper">
  <h3 class="lead"><%= t('integrations.shopify.edit.label') %></h3>
  <div class="errorExplanation hide" id="errorExplanation">
    
  </div>
  <ul class="ui-form row-fluid">
    <li class="inline-field">
      <div class="row-fluid">
        <div class="span4">
          <img alt="Shopify-admin-page" class="shp-logo" src="/assets/helpimages/integration-shopify.svg" width="52">
        	<p class="shp-text-light"><%= t('integrations.shopify.edit.desc') %></p>
        </div>
        <div class="span8">
	        	<% @stores.each_with_index do |store, index| %>
	        	<div class="store-wrapper">
							<div class="left-pane">
								<div class="shp-title"><%= store[:shop_display_name] %></div>
								<div class="shp-text-light"><%= store[:shop_name] %></div>
              </div>
              <% if (index != 0) %>
							<div class="right-pane">
								<div class="pull-right"><%= link_to t('integrations.shopify.edit.disconnect'), integrations_marketplace_shopify_remove_store_path(:shop_name => store[:shop_name]),
                  :confirm => t('integrations.shopify.edit.confirm_remove_store'),
                  :method => 'delete', :class => "btn btn-shopify" %>    
                </div>
              </div>
              <% end %>
						</div>
						<% end %>
					<%= link_to t('integrations.shopify.edit.connect'), integrations_application_path(@installing_application, :page => 'add_store') %>
        </div>
      </div>
    </li>
  </ul>
  
</div>