<h3 class="lead"><%= t('social.welcome.title')%></h3>

<% content_for :sidebar do -%>&nbsp;<%-end %>

<div class="row-fluid scl-welcome">
  <div class="span14">
    <div style="float:left" class="span2 image-lazy-load">
      <img src="/assets/misc/spacer.gif" data-src="/assets/social/social-welcome.png" alt="" data-src-retina="/assets/social/social-welcome-2x.png" style="width:100%">
    </div>
    <div class="span10">
      <h4><%= t('social.welcome.helptext_title1')%></h4>
        <p><%= t('social.welcome.helptext1')%></p>
        <p><%= t('social.welcome.helptext2')%></p>
        <p> <%= t('social.welcome.helptext3')%></p> 
        
        <div class="scl-btn-group">
          <ul class="unstyled row">
            <li class="span6" style="text-align:right;">
              <% if @twitter_enable %>
                <%= button_to t('social.welcome.turn_off'), {:controller => :welcome, :action => 'enable_feature', :twitter => false}, :method => :post, :class => "btn social-toggle-button" %>
              <% else %>
                <%= button_to t('social.welcome.turn_on'), {:controller => :welcome, :action => 'enable_feature', :twitter => true}, :method => :post, :class => "btn social-toggle-button" %>
              <% end %>
              <span class="help-block"><%= t('social.welcome.off_helptext_html')%></span></li>
            <li class="span6" style="text-align:left;"><%= link_to(t('social.welcome.get_started'), :admin_social_streams , :class => "btn btn-primary" ) %></li>
          </ul>
          </div>
        </div>    
        
    </div>               
  </div>    
</div>

<% content_for :sidebar do %>
  <div class="scl-welcome">
    <h5><%= t('social.welcome.helptext_title2')%></h5>
      <div class="row-fluid scl-statinput">
        <input type="text" id="twitter_handle" name="twitter_handle" placeholder="Your company's twitter handle">
        <input class="uiButton special medium" id="getStats" name="commit" type="submit" value="Go">
      </div>
    <div id="twitterStats"></div>
  </div>
<% end %>

<script type="text/javascript">

  jQuery("#twitter_handle").keyup(function(event){
    if(event.keyCode == 13){
        jQuery("#getStats").click();
    }
  });

  jQuery("#getStats").live("click", function(e){
    e.preventDefault();
    if(jQuery("#twitter_handle").val() == ""){
      return;
    }
    jQuery('#twitterStats').empty();
    jQuery('#twitterStats').addClass('sloading loading-block');
    data = {twitter_handle: jQuery("#twitter_handle").val()}
    jQuery.ajax({
      type: 'GET',
      url : '/social/welcome/get_stats',
      data: data,
      datatype:'json',
      success: function(data){
        //success
      }
    });
  });

</script>
