<li>
	<a href="/helpdesk/tickets/filter/unresolved" 
		data-parallel-url="/helpdesk/tickets/filter_options?filter_name=unresolved" 
		data-parallel-placeholder="#ticket-leftFilter" 
		class="summery-filter clearfix" data-pjax="#body-container">
		<div class="summary-count pull-left">
 			 <h4><%= renderData.unresolved.value %></h4>
			 <p><%= renderData.unresolved.label %></p>
		</div>
	</a>
</li>

<li>
	<a href="/helpdesk/tickets/filter/overdue" 
		data-parallel-url="/helpdesk/tickets/filter_options?filter_name=overdue" 
		data-parallel-placeholder="#ticket-leftFilter" 
		class="summery-filter clearfix" data-pjax="#body-container">
		<div class="db-icon-wrap center pull-left"><i class="ficon-db-calendar dbicon-red"></i></div>
		<div class="summary-count pull-left ml20">
			<h4> <%= renderData.overdue.value %> </h4>
			<p><%= renderData.overdue.label %></p>
		</div>
	</a>
</li>

<li>
	<a href="/helpdesk/tickets/filter/due_today" class="summery-filter clearfix" 
		data-parallel-url="/helpdesk/tickets/filter_options?filter_name=due_today" 
		data-parallel-placeholder="#ticket-leftFilter" 
		data-pjax="#body-container">
		<div class="db-icon-wrap center pull-left"><i class="ficon-db-sand-clock dbicon-orange"></i></div>
		<div class="summary-count pull-left ml20">
			<h4> <%= renderData.due_today.value %> </h4>
			<p><%= renderData.due_today.label %></p>
		</div>
	</a>
</li>

<li>
	<a href="/helpdesk/tickets/filter/open" 
		data-parallel-url="/helpdesk/tickets/filter_options?filter_name=open" 
		data-parallel-placeholder="#ticket-leftFilter" 
		class="summery-filter clearfix" data-pjax="#body-container">
		<div class="db-icon-wrap center pull-left"><i class="ficon-ticket dbicon-green"></i></div>
		<div class="summary-count pull-left ml20">
			<h4><%= renderData.open.value %></h4>
 	    <p><%= renderData.open.label %></p>
		</div>

	</a>
</li>

<li>
	<a href="/helpdesk/tickets/filter/on_hold" 
		data-parallel-url="/helpdesk/tickets/filter_options?filter_name=on_hold" 
		data-parallel-placeholder="#ticket-leftFilter" 
		class="summery-filter clearfix" data-pjax="#body-container">
		<div class="db-icon-wrap center pull-left"><i class="ficon-onhold dbicon-blue"></i></div>
			<div class="summary-count pull-left ml20">
				<h4> <%= renderData.on_hold.value %></h4>
				<p><%= renderData.on_hold.label %></p>
			</div>
	</a>
</li>


<% if(renderData.new != undefined) {%>
<li>
	<a href="/helpdesk/tickets/filter/new" 
		data-parallel-url="/helpdesk/tickets/filter_options?filter_name=new" 
		data-parallel-placeholder="#ticket-leftFilter" 
		class="summery-filter clearfix" data-orig-name="<%= renderData.new.name %>" data-pjax="#body-container">
		<div class="db-icon-wrap center pull-left"><i class="ficon-db-unassigned dbicon-brown"></i></div>
		<div class="summary-count pull-left ml20">
			 <h4><%= renderData.new.value %></h4>
			 <p><%= renderData.new.label %></p>
		</div>
	</a>
</li>
<% } %>
