<% if (renderData && renderData.length) { %>
	<ul>
		<% for (i = 0; i < renderData.length; i++) { %>
	        <% if ( i %2 == 0) { %>
	        	<li class='odd'> <a 
				data-pjax="#body-container"
	        	href='/helpdesk/tickets/<%= renderData[i].id %>' ><%= renderData[i].subject %> #<%= renderData[i].id %>  </a>
		        	<span class='pull-right'>
			        	<% if(renderData[i].days >= 0){%>
			        		<span class="tooltip" data-placement="above" data-original-title="<%= renderData[i].days %>" twipsy-content-set="true">
			        		<%= RealtimeDashboard.CoreUtil.shortenLargeNumber(renderData[i].days,1) %>
			        		</span>
			        	<% } else { %>
			        		<%= renderData[i].days %>
			        	<% } %>
			        </span>
		        	<div class="clear"></div>
	        	</li>
	        <% } else { %>
	        	<li class='even'> <a 
	        	data-pjax="#body-container"
	        	href='/helpdesk/tickets/<%= renderData[i].id %>'><%= renderData[i].subject %> #<%= renderData[i].id %> </a>
		        	<span class='pull-right'>
			        	<% if(renderData[i].days >= 0){%>
			        		<span class="tooltip" data-placement="above" data-original-title="<%= renderData[i].days %>" twipsy-content-set="true">
			        		<%= RealtimeDashboard.CoreUtil.shortenLargeNumber(renderData[i].days,1) %>
			        		</span>
			        	<% } else { %>
			        		<%= renderData[i].days %>
			        	<% } %>
			        </span>
		        	<div class="clear"></div>
	        	</li>
	        <% } %>
	    <% } %>
    </ul>
<%  } %>