<div class="list-page">
  <div class="list-page-body">
    <table class="adm-social table table-striped agent-list-page">
      <% @twitter_streams.each do |stream| %>
        <tr>
          <td class="text-left">
            <% if stream.default_stream? %>
              <span class="adm-uimg"> <%= image_tag(s3_twitter_avatar(stream.twitter_handle), size: "25x25") %> 
              </span>
            <% else %>
              <span class="adm-uimg custom-stream-icon">
                <%= font_icon "infinity-5", :size => 24 %>
              </span>
            <% end %>
          </td>
          <td class="text-left">
            <%= link_to stream.name, edit_admin_social_twitter_stream_url(stream) %>
            <%if stream.default_stream? and stream.twitter_handle.reauth_required? %>
                <a onclick="<%= set_twitter_url_in_redis(@auth_redirect_url, @account_url, @state) %>" class="label label-important align-fix <%= @auth_redirect_url ? '': 'disabled' %>"><%= t('.reauthorize')%></a>
            <%end%>
            <%if stream.default_stream? and (stream.twitter_handle.activation_required?) %>
                <%= link_to(t('.activate'), activate_admin_social_twitter_path(stream.twitter_handle.id), class: 'label label-important align-fix', 'data-method' => 'put')%>
            <%end%>
          </td>
          <td class="text-left">
            <% if stream.accessible %>
              <%= stream.accessible.global_access_type? ? t('admin.social.streams.visibility.all'): stream.groups.map {|g| g.name }.join(' , ')%>
            <% end %>
          </td>
          <td class="text-left adm-options">
            <%= link_to( t('.edit'), edit_admin_social_twitter_stream_url(stream), :class => 'btn btn-mini') %>
            <%
              @str = font_icon "trash-o", :size => 14;
              @alert = @twitter_handles.length == 1 ? t('admin.social.streams.last_stream_delete_alert') : t('admin.social.streams.stream_delete_alert')
            %>
            <%if stream.default_stream? %>
              <%= link_to(@str, admin_social_twitter_path(stream.twitter_handle), :method => 'delete', :confirm => @alert, :class => 'btn btn-mini delete_agent_btn', :rel => "freshdialog") %>
            <%else%>
              <%= link_to(@str, admin_social_twitter_stream_path(stream), :method => 'delete', :confirm => t('admin.social.streams.stream_delete_alert'), :class => 'btn btn-mini delete_agent_btn', :rel => "freshdialog") %>
            <%end%>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

