<div class = 'event-container'>
  
  <div id="slide-down">
    <a id="slide-down"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwOpgImBDECWJhZkTkBAwP+LFy8ysLAghH/9+sVgZGTEsH79ekasmhISEhhWrVrFICAgwMDKysrw/ft3hk+fPjFERETgtQlk2v+NGzcycHBwMHz9+hWsASqO208gBerq6gxv375l0NHRwdAABqAgx4Zramr+45JjHNzxRJYmgAADAHRdTxmG8fwBAAAAAElFTkSuQmCC" /></a> <%= details[1] %>
  </div>
  
  <div class="event-overview"> 
    
    <ul>
      <li><%= pluralize(events.size, "Account") %></li>
      
      <% if events.size > 0 %>
        <li> <%= link_to 'Download CSV', export_to_csv_admin_subscription_events_path(
                                              :data => events, :title => details[1].gsub(",", " ")) %> </li>
      <% end %>
    </ul>

  </div>

  <div class="event-details hide">  
    <% if (events.size.eql?(0)) %>
      <center>No accounts to display</center>

    <% else %>

      <table class="table table-striped table-details">

          <tr>
            <th>Company</th>
            <th>URL</th>
            
            <% unless details[0].eql?(:free) %>
              <th><%= column %></th>
            <% end %>

            <th>On</th>
            <th>Active since</th>
          </tr>
            
          <% events.each do |record| %>
            
            <% if record.account %>
              <tr>
                <td><%= link_to(h(record.account.name), [:admin, record.account]) %></td>
                <td><%= record.account.full_domain %></td>

                <% unless details[0].eql?(:free) %>
                  <td><%= record.cmrr.abs %></td>
                <% end %>

                <td><%= record.code.eql?(200) ? record.updated_at.strftime("%b %d, %Y") : record.created_at.strftime("%b %d, %Y")%> </td>
                <td><%= record.account.created_at.strftime("%b %d, %Y") %></td>
              </tr>    

            <% else %>
              <% deleted_account = DeletedCustomers.find_by_account_id(record.account_id) %>

              <tr>
              
                <% if deleted_account.blank? %>
                    <td style="color:red;">Account id : <%= record.account_id %></td>
                    <td> - </td>

                    <% unless details[0].eql?(:free) %>
                      <td><%= record.cmrr.abs %></td>
                    <% end %>

                    <td><%= record.created_at.strftime("%b %d, %Y") %></td>
                    <td> - </td>
                  
                <% else %>
                  <td style="color:red;"><%= deleted_account.full_domain.split(%r \(|\) ).first %></td>
                  <td><%= deleted_account.full_domain.split(%r \(|\) ).last %></td>

                  <% unless details[0].eql?(:free) %>
                    <td><%= record.cmrr.abs %></td>
                  <% end %>                  
                  
                  <td><%= record.created_at.strftime("%b %d, %Y") %></td>
                  <td><%= deleted_account.account_info[:account_created_on].strftime("%b %d, %Y") %></td>
                <% end %>

              </tr>
            <% end %>
          <% end %>  
      </table> 

    <% end %>
  </div>
</div>
