<div class="event-container">
  <h4><%= details[1] %></h4>
  <br/>
  
  <% codes = { :free => 100, :affiliates => 125, :paid => 150, :free_to_paid => 200, :deleted => 0 } %>

  <% actual_revenue_current = @cmrr_last_30_days - handle_nil(@overall_downgrades_last_30_days[:revenue]).abs - handle_nil(@records_last_30_days[:revenue][codes[:deleted]]) %>

  <table class="table table-striped table-details event-summary">

    <% if details[0].eql?(:events) %>
      <tr>
        <th>Free</th>
        <th>Affiliates</th>          
        <th>New Revenue</th>
        <th>Free to Paid</th>
        <th>Upgrades</th>
        <th>Downgrades</th>
        <th>Deleted</th>
      </tr>
      <tr>
        <td><%= events[:free].size %></td>
        <td><%= events[:affiliates].size %></td> 
        <td><%= events[:paid].size %></td>
        <td><%= events[:free_to_paid].size %></td> 
        <td><%= @overall_upgrades_last_30_days[:list].size %></td>
        <td><%= @overall_downgrades_last_30_days[:list].size %></td>
        <td><%= events[:deleted].size %></td>
      </tr>
    <% else %>
      <tr>
        <th>Additional CMRR</th>
        <th>Monthly Revenue</th>
        <th>Affiliates</th>          
        <th>New Revenue</th>
        <th>Free to Paid</th>
        <th>Upgrades</th>
        <th>Downgrades</th>
        <th>Churn</th>
      </tr>
      <tr>
        <td>$<%= @cmrr_last_30_days %></td>
        <td>$<%= actual_revenue_current %></td>
        <td>$<%= handle_nil(@records_last_30_days[:revenue][codes[:affiliates]]) %></td> 
        <td>$<%= handle_nil(@records_last_30_days[:revenue][codes[:paid]]) %></td>
        <td>$<%= handle_nil(@records_last_30_days[:revenue][codes[:free_to_paid]]) %></td> 
        <td>$<%= handle_nil(@overall_upgrades_last_30_days[:revenue]) %></td>
        <td>$<%= handle_nil(@overall_downgrades_last_30_days[:revenue]).abs %></td>
        <td>$<%= handle_nil(@records_last_30_days[:revenue][codes[:deleted]]) %></td>
      </tr>

    <% end %>
    
   </table>

</div>