<%= form_for @profile, :url => support_profile_path, 
	:html => { :class => "form-portal form-unsaved-changes-trigger", :multipart => true, :rel => "validate"} do |f| %>
	<%= f.error_messages %>
	<%= fields_for "users", @profile do |usr| %>
	    <div class="row-fluid">
	    	<fieldset class="span3 avatar-span">
				<div class='avatar-pic'>
					<%= image_tag @profile.avatar ? @profile.avatar.expiring_url(:medium) : '', 
									:alt => @profile.name, 
									:onerror => "imgerror(this)" %>
  					<p class='ie9-file-change-msg break-word'> </p>
				</div>

				<% isAvatar = @profile.avatar && @profile.avatar.id %>
				
				<a class='btn default-pic <%= isAvatar ? "hide" : "" %>' href='javascript:;'>
					<%= t('user.change_photo') %>  
					<b class="caret invisible"></b>
					<% fields_for "user[avatar_attributes]", @profile.avatar do |avatar_form| %>
						<%= avatar_form.file_field :content, 
													:size => 10 , 
													:class => 'upload_size_validity avatar-file', 
													:accept => "image/jpeg, image/png" %>
					<% end %>
				</a>
				<div class="dropdown <%= isAvatar ? "" : "hide" %>">
		          	<a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
		          		<%= t('user.change_photo') %> <b class="caret"></b>
		          	</a>
					<ul class="dropdown-menu avatar-options">
						<li>
							<a href="javascript:;" class='option uplink'>
								<span class='opt'>
									<span><%= t('user.choose_another_photo') %></span>

									<% fields_for "user[avatar_attributes]", @profile.avatar do |avatar_form| %>
										<%= avatar_form.file_field :content, 
																	:size => 10 , 
																	:class => 'upload_size_validity avatar-file', 
																	:accept => "image/jpeg, image/png" %>
									<% end %>

									<% isAvatar = @profile.avatar && @profile.avatar.id %>
									<%= hidden_field_tag (isAvatar ? 'user[avatar_attributes][id]' : nil), 
															(isAvatar ? @profile.avatar.id : "-1"),  
															{:class => 'avatar-id'} %>
									<%= hidden_field_tag (isAvatar ? 'user[avatar_attributes][_destroy]' : nil), 
															(isAvatar ? "0" : "-1"), 
															{ :class => 'avatar-destroy'} %>
								</span>
							</a>
						</li>
						<li>
							<a href='#' class= 'option remove-avatar' >
							    <span class='opt'><%= t('user.remove_photo') %> </span>
							</a>
						</li>
					</ul>
				</div>
	  			<div class="info-data"><%=t('user.info1')%></div>
			</fieldset>
			<fieldset class="span9 omega">
				<ul class="profile-edit-form form-horizontal unstyled">
					<% customer_visible_fields.each do |field| %>
					<%= render_as_list f, field %>
					<% end %>
				</ul>
				<div class="form-actions">
					<%= f.submit t('save_changes'), { :class => "btn btn-primary" } %>
					<%= link_to t('cancel'), :back, :class => "btn" %>
				</div>
			</fieldset>
		</div>
	<% end %>	
<%end%>

<%= javascript_tag do %>
	var customMessages = {
		confirmDelete: "<%= t('user.remove_profile_image_confirm') %>",
		confirmNavigate: "<%= t('admin.products.portal.save_and_continue') %>",
		ie9FileChangeMsg: "<%= t('user.ie9_file_change_msg') %>"
	}
	jQuery(window).on("load", function(){
	    var avatarRdr = new AvatarReader({
	                          confirmDeleteMessage : customMessages.confirmDelete,
                          	  ie9FileChangeMessage : customMessages.ie9FileChangeMsg
	                        });
	    avatarRdr.init();
  	});
<% end %>
