<%= form_for @profile, :url => support_profile_path,
	:html => { :class => "form-portal form-unsaved-changes-trigger", :multipart => true, :rel => "validate"} do |f| %>
	<%= f.error_messages %>
	<%= fields_for "users", @profile do |usr| %>
	    <div class="row-fluid">
	    	<fieldset class="span3 avatar-span">
				   <%= render :partial => "/shared/profile_avatar", :locals => { :user => @profile } %>
			  </fieldset>
			<fieldset class="span9 omega">
				<ul class="profile-edit-form form-horizontal unstyled">
					<% customer_visible_fields.each do |field| %>
					<%= render_as_list f, field %>
					<% end %>
				</ul>
				<div class="form-actions">
					<%= f.submit t('save_changes'), { :class => "btn btn-primary" } %>
					<%= link_to t('cancel'), :back, :class => "btn" %>
				</div>
			</fieldset>
		</div>
	<% end %>
<%end%>

<%= javascript_tag do %>
	  PROFILE_BLANK_MEDIUM_PATH = '/assets/misc/profile_blank_medium.jpg',
	  DELETECONFIRM = false   <%#To permit the delete confirm box to appear while removing the picture %>
<% end %>
