<script type='text/javascript'>
  var page_type = 'contact',
  dom_helper_data = <%= escape_html_entity(true) {
                         raw @user.as_json(api_permitted_data).to_json
                        }
                    %>;
  current_user = <%= escape_html_entity(true) {
                         raw current_user.as_json(api_permitted_data).to_json
                     }
                    %>;
  requester = <%= escape_html_entity(true) {
                         raw @user.as_json(api_permitted_data).to_json
                         }
              %>;
</script>

<% # Do not remove this div - fa-dev-pholder, It is used by Freshapps SDK for local testing of plugs %>
<div id="fa-dev-pholder" style="display:none"></div>

<%= javascript_include_tag :'cdn/marketplace/freshapps_contact_dom_helper' %>

<script type="text/javascript">
  Fjax.afterNextPage = function () {
    contactDom.destroy();
    jQuery('body').off('click.contact-sidebar');
  }
</script>

<% installed_apps.each{ |key,installed_app|
  app = installed_app.application
  unless app.blank?
    widget  = app.widget
      unless widget.blank?
      dip = widget.display_in_pages_option
      if !dip.blank? && dip.include?('contacts_show_page_side_bar')
        user.escape_liquid_attributes = app.freshplug?
        liquid_objects = {"requester" => user, "widget_type" => "_contacts"}
        widget_code = widget_script(installed_app, widget, liquid_objects) %>
        <% if app.freshplug? %> 
          <div id="<%=app.name%>" class="sidepanel <%=widget.clazz_option%>">
            <%=widget_code%>
          </div>
        <% elsif is_campaign_app?(app.name) %>
          <div id="<%=app.name%>" class="<%=widget.clazz_option%>">
            <div id="<%=app.name%>_widget"><div class="content"></div><div class="error modal_error hide "></div></div>
            <%=widget_code%>
          </div>
        <% else %>
          <div id="<%=app.name%>" class="widget inactive load_on_click <%=widget.clazz_option%>">
            <h3 class="title"><%= h(installed_app.configs_title || t(app.display_name).html_safe )%></h3>
            <div class="content">
            <textarea style="display:none" rel="lazyload">
              <div id="<%=app.name%>_contacts_widget" class="integration_widget crm_contact_widget "><div class="content"></div><div class="error hide "></div></div>
              <%=widget_code%>
            </textarea>
            </div>
          </div>
        <% end
      end
    end
  end
} %>

<!-- Marketplace Apps -->
<% if feature?(:marketplace) && !Account.current.launched?(:native_apps) %>
  <% inst_plugs = installed_mkp_apps(:contact_details_page) %>
  <% if inst_plugs.kind_of?(Hash) and inst_plugs[:error].present? %>
    <div class="alert alert-error">
      <%= t('marketplace.apps_unavailable') %>
    </div>
  <% else %>  
    <% inst_plugs.try(:each) do |installed_plug| %>
      <div id="ext_<%= installed_plug['extension_id'] %>">
        <div class="content">
          <%= freshplug_script(installed_plug.symbolize_keys) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<script type="text/javascript">
  jQuery("body").on('click.contact-sidebar', '.widget.load_on_click.inactive', function(ev){
    var widget_code = jQuery(this).find('textarea');
    jQuery(this).find('.content').append(widget_code.val());
    widget_code.remove();
    jQuery(this).removeClass('inactive load_on_click');
  });

  jQuery("body").on('click.contact-sidebar', '.widget:not(.load_remote, .load_on_click, .dialog-widget) > h3', function(ev){
    jQuery(this).parent().toggleClass('inactive');
  });

  if(page_type == "contact"){
    jQuery(document).trigger("dom_helper_loaded");
    window.postMessage({type: "FA_INITIATE"}, "*");
  }
</script>
