<div data-gs-x="<%= x %>" data-gs-y="<%= y %>" data-gs-width="<%= width %>" data-gs-height="<%= height %>" class="grid-stack-item widget">
	<div class="grid-stack-item-content widget-inner agent_status_chat">
		<h3 class="widget-title"><%= t("helpdesk.dashboard.round_robin.available_agents")%></h3>
		<div class="widget-title-muted muted">
			<%=t('helpdesk.realtime_dashboard.across_helpdesk') %>
		</div>
		<div class="widget-content agent_status">
			<div class="innerbox innerbox-middle">
				<ul class="clearfix">

					<% if round_robin? %>
					<li>
						<a href="/helpdesk/dashboard/agent_status#ticket-assignment">
							<h4><%= available_rr_agents_count %></h4>
							<p class="muted"><%= t("helpdesk.realtime_dashboard.ticket") %></p>
						</a>
					</li>
					<% end %>

					<% if (chat_activated? && current_account.chat_setting.active) %>
					<li class="<%= 'disabled' unless chat_active? %>" id="agent_status_chat">
						<a href="/helpdesk/dashboard/agent_status#lc-availability">
							<h4 id="livechat_online_agent_count">0</h4>
							<p class="muted"><%= t("helpdesk.dashboard.livechat.chat") %></p>
						</a>
					</li>
					<% end %>

				</ul>
			</div>
		</div>
	</div>
</div>