<div data-gs-x="<%= x %>" data-gs-y="<%= y %>" data-gs-width="<%= width %>" data-gs-height="<%= height %>" class="grid-stack-item widget">
    <div class="grid-stack-item-content widget-inner">
        <div id="chat-dashboard">
            <h3 class="widget-title">
                <span class="tooltip" data-placement="above" data-original-title="Disconnected" twipsy-content-set="true">
                    <span class="chat_icon_connection"></span>
                </span>
                <%= t("helpdesk.realtime_dashboard.live_chat") %>
                <span class="refresh_wrap tooltip pull-right" data-placement="above" data-original-title="Refresh Chat" twipsy-content-set="true">
                    <span class="ficon-refresh"></span>
                </span>
            </h3>

            <div class="widget-content">
                <div class="innerbox">
                    <ul class="clearfix">
                        <li>
                            <h4 id="inconversation_visitors_count">0</h4>
                            <p class="text-muted"><%= t("helpdesk.realtime_dashboard.in_conversation") %></p>
                        </li>

                        <li>
                            <h4 id="return_visitors_count" >0</h4>
                            <p class="text-muted"><%= t("helpdesk.realtime_dashboard.returning_visitors") %></p>
                        </li>
                    </ul>
                    <a href="/livechat/visitor/returnVisitor" class="innerbox-link">
                        <%= t("helpdesk.realtime_dashboard.visitors") %>
                        <i class="ficon-arrow-right pull-right"></i>
                    </a>
                </div>

                <a href="/livechat/archive" data-pjax="#body-container" class="widget-more-link text-center">
                    <%= t("helpdesk.realtime_dashboard.chat_history") %>
                </a>
            </div>
        </div>
    </div>
</div>
