<ul role="tablist" class="pull-left view-select">
  	<li class="dropdown snapshot_menu">
	    <h4 class="dropdown-toggle" data-toggle="dropdown">
	        <span id="db-filer-text">
	        	<%= snapshot_label @type %>
			</span>
	        <span class="caret"></span>
	    </h4>
	    <ul class="dropdown-menu tick" role="menu" aria-labelledby="dropdownMenu" id="dashboard-filter">
	    	<% snapshot_menu.each do |option| %>
					<li class="widget-filter
						<% if option[:param] == @type %>
								active
						<% end %>
					">
			        <a href="/helpdesk/dashboard?view=<%= option[:param] %>" class="item" data-pjax="#body-container" ul_class="tick">
			        	<%= option[:name] %></a>
	      		</li>
	    	<% end %>
	    </ul>
   </li>
</ul>
<% if show_groups_selection? @type %>
	<ul role="tablist" id="filter_by_group" class="group-select pull-right ml20">
	    <li class="dropdown loading-right loading-tiny" id="filter_by_group_dropdown">
		    <h5 class="dropdown-toggle" data-toggle="dropdown">
		        <span class="widget-filter">
		        	<span class="muted">Group : </span>
		        	<span id="group-filter-text"><%= t("helpdesk.realtime_dashboard.all_groups") %></span>
		        </span>
		        	<span class="caret"></span>
		    </h5>
	        <ul class="dropdown-menu tick mCustomScrollbar" role="menu" aria-labelledby="dropdownMenu" style="display: none;" id="group-filter" data-mcs-theme="minimal-dark">
	          <% dashboardv2_accessible_groups.each.with_index do |group, index| %>
	          <li class="widget-filter <%if(index == 0)%> active <% end %>" >
				<a class="item db-group-filter" data-toggle="tab" ul_class="tick" href="#" data-group-id="<%= group[0] %>"> <%= group[1] %> </a>
	          </li>
	          <% end %>
	        </ul>
	    </li>
<% end %>
	</ul>
<% if @type == 'agent' %>
	<div class="pull-right solution-link">
		<a target="_blank" href="https://support.freshdesk.com/solution/articles/220744"><%=t('helpdesk.realtime_dashboard.solution_link') %></a>
	</div>
<% end %>
<% if @type == 'supervisor' %>
	<div class="pull-right mt5">	
		<a target="_blank" href="https://support.freshdesk.com/solution/articles/220743"><%=t('helpdesk.realtime_dashboard.solution_link') %></a>
	</div>
<% end %>
<% if @type == 'admin' %>
	<div class="pull-right solution-link">
		<a target="_blank" href="https://support.freshdesk.com/solution/articles/220738"><%=t('helpdesk.realtime_dashboard.solution_link') %></a>
	</div>
<% end %>