<div data-gs-x="<%= x %>" data-gs-y="<%= y %>" data-gs-width="<%= width %>" data-gs-height="<%= height %>" class="grid-stack-item widget group_performance_widget">
   <div class="grid-stack-item-content widget-inner">
   		<h3 class="widget-title multi">
          <%=t('helpdesk.realtime_dashboard.group_performance') %>
     	</h3>
      <div class="widget-title-muted muted" rel="timestamp"></div>
     	<div class="widget-content">
  			<div id="group_performance">
  				<div class="sloading loading-small loading-block"></div>
  			</div>
		 </div>
   </div>
</div>
<script>
  jQuery('body').one('assetLoaded.fjax', function() {
   	 setTimeout(function(){
   	 	new RealtimeDashboard.Widgets.Performance(
	   	 	'group_performance',
	   	 	'group_performance',
	   	 	 4
   	 	).init();
   	 },100);
  });
</script>