<div data-gs-x="<%= x %>" data-gs-y="<%= y %>" data-gs-width="<%= width %>" data-gs-height="<%= height %>" class="grid-stack-item widget">
    <div class="grid-stack-item-content widget-inner reminders" id="reminders">

		<h3 class="widget-title">
			<%= t("helpdesk.dashboard.index.todo_title").html_safe %>
			<span class="muted"> (<span id="reminder-list-count">0</span>)</span>
		</h3>
		<%= render('/helpdesk/reminders/reminders',
	                  :reminders => current_user.reminders,

	                  :form_controller => Helpdesk::Reminder.new(),
	                  :show_info => true ) %>
	</div>
</div>
