<% @page_title = "Dashboard" %>
<% if current_user && current_account && !current_account.falcon_ui_enabled?(current_user) %>
    <%if current_user.privilege?(:admin_tasks)%>
      <%= check_fb_reauth_required  %>
      <%= check_twitter_reauth_required %>
      <%= check_smart_filter_revoked %>
      <%= check_custom_mailbox_status %>
    <% end %>
<% end %>
<div class="index-page-content" id="realtime-dashboard-content">
    <%= render :partial => "/helpdesk/realtime_dashboard/summary" %>
    
    <% if year_in_review_enabled? && !(@user_closed) %>
        <div class="dashboard-review-container">
          <%= render :partial => "/helpdesk/realtime_dashboard/year_in_review", :locals => { :close_btn => true }  %>
        </div>
    <% end %>

    <% if current_account.subscription.trial? && current_account.subscription.trial_days <= 100 && current_user.privilege?(:admin_tasks) %>
        <%= render :partial => "/helpdesk/realtime_dashboard/account_setup/widget" %>
    <% end %>

    <div class="widget-wrapper-bg clearfix">
        <div class="row-fluid widget-wrapper">
            <div class="grid-stack" id="grid-stack">
                <% widget_list(@type).each do |widget| %>
                  <%= render_dashboard_widget widget %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="unresolved_tickets hide" id="unresolved_tickets"></div>
</div>
<% content_for :dialogs do %>
    <%= render :partial => "/helpdesk/realtime_dashboard/sidebar" %>
<% end %>
<!-- Anchor tag for agents unresolved chart clicks -->
<a href="#" rel="tickets-anchor" data-parallel-url="/helpdesk/tickets/filter_options" data-parallel-placeholder="#ticket-leftFilter" data-pjax="#body-container" style="display:none;"></a>
<!-- End -->
<% if chat_activated? %>
    <%= javascript_include_tag :'cdn/livechat_mini_dashboard' %>
<% end %>
<script type="text/javascript">
        window.RealtimeDashboard = window.RealtimeDashboard || {};
        RealtimeDashboard.auto_refresh_widgets = ['available_agents','unresoved'];
        RealtimeDashboard.group_role_dependent_widgets = [];
        RealtimeDashboard.type = '<%= @type %>';
        RealtimeDashboard.snapshot_label = '<%= snapshot_label @type %>';
        RealtimeDashboard.locals = {};
        RealtimeDashboard.month_name = <%=t('date.abbr_month_names').to_json.html_safe%>;
        RealtimeDashboard.full_domain = '<%= current_account.full_domain %>';
        RealtimeDashboard.helpdesk_name = '<%= current_account.portal_name %>';
        RealtimeDashboard.dashboard_enabled = <%= current_account.dashboardv2_enabled? %>;
</script>
