<% author = (article.draft || article).user %>
<% current_item = article.draft || article %>

<div class="draft-list-item row-fluid span12">
	<div class="span1">
		<% icon_name = article.folder.is_default ? 'ficon-mail fsize-20 draft-icon-mail' : 'ficon-file fsize-18 draft-icon-file' %>
		<span class="<%= icon_name %>"></span>
	</div>

	<div class="span8">
		<%= pjax_link_to h(current_item.title).truncate(35), "#{solution_article_path(article)}#edit", { :class => "draft-title"} %>
		<br/>
		<div class="muted">
			<% if article.folder.is_default %>
				<%= t('solution.via') %>
				<%= t('solution.draft.kbase') %>
			<% else %>
				<%= t('search.in') %>
				<%= pjax_link_to article.folder.name, 
						solution_folder_path(article.folder_id),
						{ :class => "parent-link" } %>
			<% end %>
		</div>
	</div>

	<div class="span3">
		<span class="muted"> <%= t('solution.general.created_by') %> </span> <%= author.name %>
		<br/>
		<div class="muted">
			<span data-livestamp="<%= current_item.modified_at.to_i %>" class="tooltip" title="<%= formated_date(current_item.modified_at) %>"></span>
		</div>
	</div>
</div>
