
<% unless (drafts.size == 0) %>
	<div class="artical-list row-fluid" id="article_list">
		<% drafts.each do |draft| %>
			<div class="article-item span12 pull-right">
				<div class="article-title span7">
					<%= link_to("<i class='icons-edit-forum'></i>".html_safe, edit_solution_category_folder_article_path(draft.article.folder.category, draft.article.folder, draft.article), :title => "Edit", :class=>'pull-left mr6 tooltip') if privilege?(:manage_solutions) %>
					<div class='article-desc'>
							<%= link_to h(draft.title), solution_category_folder_article_path(draft.article.folder.category, draft.article.folder, draft.article) %>
							<div class="muted">
								<%= t('solution.user_details', :user => draft.current_author.name, :time => formated_date( draft.modified_at) ).html_safe %>
							</div>
					</div>
				</div>
				<div class="span5 mt12 clear-left-margin">
					<div class='span7 text-center article-info'>
						<%= draft.article.folder.name %>
					</div>
					<div class='muted article-likes span5 text-right'>
						<%= draft.article.folder.category.name %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="big-info">
		<div class="no-info-text"><%= t('solutions.drafts.empty').html_safe %> </div>
	</div>
<% end %>
