<% content_for :layoutType do %>community solutions<% end %>

<% content_for :sticky_left do %>
		<%= pjax_link_to t('solution.draft.my_drafts'), solution_drafts_path, 
					{:class => "heading item #{'active' unless (params[:type] == 'all')}",
					 :title => t('solution.draft.my_drafts') } %>
		<%= pjax_link_to t('solution.draft.all_drafts'), solution_my_drafts_path('all'), 
					{ :class => "heading item #{'active' if (params[:type] == 'all')}",
						:title => t('solution.draft.all_drafts') } %>
	<%= render :partial => 'drafts_context' %>
<% end %>

<% content_for :sticky_right do %>
	<% if privilege?(:publish_solution) %>
		<ul>
			<li class="list-default-btns">
				<%= new_solutions_button(:article) %>
			</li>
		</ul>
	<% end %>
<% end %>

<%= render :partial => '/solution/shared/sticky', :locals => { :page => :folder, :sticky_class => "draft-listing-header sol-sticky" } %>

<div id="drafts-section">

	<% unless (@articles.size == 0) %>
		<%= render :partial => "drafts_list", :locals => { :articles => @articles} %>
		<%= will_paginate @articles, :renderer => BootstrapPaginationRenderer,
															:previous_label => "<b class='arrow-left'></b>",
															:next_label => "<b class='arrow-right'></b>",
															:class => "pagination pagination-centered" %>
	<% else %>
		<div class="solution-drafts">
			<div class="draft_info_data"><%= t("solutions.drafts.empty") %></div>
		</div>
	<% end %> 
</div>

<% content_for :helpcard do %>
	<h3 class="lead"><%= t('solution.draft.name').html_safe %></h3>
	<%= t('solution.kbase_email_info', :domain_name => current_account.full_domain).html_safe %>
	<%= helpcard_content([2, 3, 4, 5, 6], 'solution.info' ) %>
<% end %>
