 <%= include_stylesheets :pattern %>
<%= include_javascripts :pattern %>

 <h3 class="lead"><%=title%></h3> <br/>
	<% form_for(@group, :html => {:id => "group_form"}) do |f|  %>
	  <%= f.error_messages %>
	   <div class="row-fluid group-management">
		 	<ul class="unstylGroup::d">
		 		<li class="row-fluid">
		 			<%= f.label :name, "<b> #{t('group.name')} </b>" , :class => "control-label span2" %>
					  <div class="span9">
						 <%= f.text_field :name , :class => "text required", :placeholder => t('group.name')  %>
					  </div>
		 		</li>
		 		<li class="row-fluid">
		 			 <%= f.label :description, "<b> #{t('description')} </b>", :class => "control-label span2" %>
					  <div class="span9">
						 <%= f.text_area :description , :class => "text required smallpara", :placeholder => t('group.name')  %>
					  </div>
		 		</li>
			 		<li class="row-fluid">
			 			<label class="control-label span2"><b><%=t('group.info1')%></b></label>
			 			<input type="hidden" id="agent_list" name="group[agent_list]" class="span9"
			 			data-placeholder = "<%= t("helpdesk.tickets.add_watcher.add_agent") %>"/>
					</li>
		 		<li class="row-fluid">
		 			 
		 			 <% 
						account_id =  @group.account_id
						if account_id.nil?
							account_id = current_account.id
						end
						 @exclude_list = @group.excluded_agents(current_account) %>
					<%  
						if(@exclude_list.nil? ||@exclude_list.size == 0)
							showagent = "display:none"
						end 
					%>
					
		 		</li>
		 		<% if feature?(:round_robin) %>
			 		<li class="row-fluid">
						<label class="control-label span2"><b><%=t('group.ticket_assignment') %></b></label>
						<div class="span10">
							<ul class="unstyled">
								<li class="margin-bottom">
									<label class="radio">
									  <input type="radio" name="group[ticket_assign_type]" id="ticket_assign_type" value="0" <%= @group.ticket_assign_type == Group::TICKET_ASSIGN_TYPE[:default] ? "checked" : "" %> >
									  <%= t('group.manual') %>
									</label>
									<%= content_tag( :span, t('group.manual_desc'), :class => "muted info_data" ) %> 	
								</li>
								
									<li class="margin-bottom">
										<label class="radio">
										  <input type="radio" name="group[ticket_assign_type]" id="ticket_assign_type" value="1" <%= @group.ticket_assign_type == Group::TICKET_ASSIGN_TYPE[:round_robin] ? "checked" : "" %>>
										  <%= t('group.automatic') %>
										</label>
										<%= content_tag( :span, t('group.automatic_desc'), :class => "muted info_data" ) %> 	
									</li>
								
						</div>
	            	</li>
            	<% end %>
            	<li class="row-fluid">
            		<div class="offset2 span9">
            			<%=t('group.info4')%> :
						<%= f.select :assign_time , Group::ASSIGNTIME_OPTIONS, :class =>'select2' %>
						<div class="offset1">
							<span> &nbsp; &nbsp;<%#=t('group.info3')%> ....then send escalation email to :</span>
							<%= f.collection_select :escalate_to, Agent.technician_list(account_id), :id, :name, {:include_blank => '...'}, :class =>'span4' %>
						</div>
            		</div>
            	</li>
		 	</ul>
		 </div>
	  <br />
	  <div class="button-container">	    
		<%= f.submit t('save'), :class => "btn btn-primary" %>
		<%= link_to t('cancel'), groups_path, :class => "btn" %>	
	  </div>
<% end %>

<script type="text/javascript">

jQuery(document).ready(function() {
	jQuery("#group_form").submit(function(ev){
			if(jQuery("#agent_id").val() != null)
			jQuery("#agent_list").val(jQuery("#agent_id").val().join()); 
		});
<%
all_agents = []
all_agents_list = @group.all_agents_list(current_account)
if all_agents_list
  all_agents_list.each do |req|
    all_agents << "{id: '#{req.user_id}',
                  value: '#{escape_javascript(req.user.name)}',
                  text: '#{escape_javascript(req.user.name)}'}"
  end
end

selected_agents = []
agents = @group.agents
if agents
	 agents.each do |req|
    selected_agents << "{id: '#{req.id}',
                  value: '#{escape_javascript(req.name)}',
                  text: '#{escape_javascript(req.name)}'}"
  end
end 
%>

jQuery('#agent_list').select2({
	multiple: true,
	data: [<%=all_agents.join(",")%>],
	initSelection : function (element, callback) {
      callback( [<%=selected_agents.join(",")%>] );
    }
	
});
jQuery("#agent_list").select2("val",[]);

});

</script>
