 <script type="text/javascript"> 	
 	var agent_select = null; 
 	function toggleText(){
		if (jQuery("ul#Active_list li").size()) {			
			jQuery("ul#Active_list div.info").hide();
		}else{			
			jQuery("ul#Active_list div.info").show();			
		}						
	}	
	
	function removeUser(element){
		agentName 	= element.getAttribute("agent_name");
		agentID	  	= element.getAttribute("agent_id");
		agentThumb  = element.getAttribute("agent_thumb");
			
		jQuery(agent_select)
			.append("<option agent_name='"+agentName+"' agent_id='"+agentID+"' agent_thumb='"+agentThumb+"' value='"+agentID+"'>"+agentName+"</option>");
		jQuery("#All_Agents").show();		
	}
	function AddUser(){		
			option	  	= jQuery(agent_select.options[agent_select.selectedIndex]);	
			agentName 	= option.get(0).getAttribute("agent_name");
			agentID	  	= option.get(0).getAttribute("agent_id");
			agentThumb  = option.get(0).getAttribute("agent_thumb");			
			
			option.remove();
			
			if(!agent_select.options.length)
				jQuery("#All_Agents").hide();
			
			
			var userBox = jQuery('<li />')							
							.append("<div class=\"preview_pic\"><img src=\""+agentThumb+"\" /></div><a href=\"javascript:void(0)\" class=\"button control\">remove</a><b>"+agentName+"</b>");
			
			jQuery("ul#Active_list")
					.append(userBox);
			
			jQuery(userBox).get(0).setAttribute("agent_name", agentName);
			jQuery(userBox).get(0).setAttribute("agent_id", agentID);
			jQuery(userBox).get(0).setAttribute("agent_thumb", agentThumb);
					
			toggleText();
	}
	jQuery(document).ready(function(){
		agent_select = jQuery('select#group_escalate_to').get(0);
		
		jQuery("ul#Active_list li a.control")
			.live("click", function(ev){																	
				removeUser(this.parentNode);
				jQuery(this.parentNode)
					.remove();	
				toggleText();				
			});			
		
		jQuery("#group_form").submit(function(ev){			
			activeAgents = $H();
			jQuery("ul#Active_list li")
				.each(function(index, item){
					activeAgents.set(item.getAttribute("agent_id"), item.getAttribute("agent_name"));					
				});
			jQuery("#agent_list").val(activeAgents.toJSON());
			//console.log(jQuery("#agent_list").val());	
		});
		
		toggleText();
			
			/*jQuery("ul#Inactive_list li")
				.live("click", function(ev){					
					jQuery(this)
						.detach()
					    .appendTo("#Active_list");				
				});
			
			jQuery("ul#Active_list li")
				.live("click", function(ev){					
					jQuery(this)
						.detach()
					    .appendTo("#Inactive_list");				
				});*/
	});
 </script> 
<div class="pageContent">
	<h3 class="content_title"><%=title%></h3>
	<span class="seperator"></span>
	<!--%= debug @support_plan%-->
	<% form_for(@group, :html => {:id => "group_form"}) do |f|  %>
	  <%= f.error_messages %>
	  <ul class="ui-form">
		  <li>
		    <%= f.label :name, "Group Name" %>
		    <%= f.text_field :name %>
		  </li>
		  <li>
		    <%= f.label :description, "Description" %>
		    <%= f.text_area :description, :class => "smallpara" %>
		  </li>
		  <li>		  	
		  	<label>		  		
				Agents in this Group			
			</label>
			<% 
				
					account_id =  @group.account_id
					if account_id.nil?
						account_id = current_account.id
					end
					 @exclude_list = Group.find_excluded_agents(@group.id, account_id) %>
			<%  
				if(@exclude_list.nil? ||@exclude_list.size == 0)
					showagent = "display:none"
				end 
			%>
			<span id="All_Agents" style="<%=showagent%>">
					<b>Select Agents </b>							  			
					<select id="group_escalate_to">
						<% @exclude_list.each do |agent| %>
							<% 
								user = agent.user 
								avatar_url = '/images/icons/profile_blank.gif'
								unless user.avatar.nil?
									avatar_url =user.avatar.content.url(:thumb)
								end 
							%>
							<option agent_thumb="<%=avatar_url%>" agent_name="<%=user.name%>" agent_id="<%=user.id%>">
								<%= user.name %>
							</option>
						<% end %>
					</select>			
					<%= link_to_function 'Add', 'AddUser()', :class => "button" %>
			</span>
			
			
			<% fields_for "AgentGroups", @group.agent_groups do |agent| %>
				<%= agent.hidden_field :agent_list, { :id =>"agent_list", :value => ""} %>			
			<%end%>
						
			
			
			<ul class="item_list active" id="Active_list">		
				<% @include_list = Group.find_included_agents(@group.id) %>		
					<%  
						@include_list.each do |agent| 
						avatar_agent = '/images/icons/profile_blank.gif'
						unless agent.user.avatar.nil?
							avatar_agent = agent.user.avatar.content.url(:thumb)
						end
					%>
					
					<li agent_thumb="<%=avatar_agent%>" agent_id="<%= agent.user.id %>" agent_name="<%= agent.user.name %>">
						<%= user_avatar(agent.user.avatar, :thumb) %>
						<a href="javascript:void(0)" class="button control">remove</a>				
						<b><%= agent.user.name %></b>
					</li>
					<% end %>
				
					<div class="info padding6">No Agents in this group</div>
							
			</ul>			
			<!--
			<ul class="item_list inactive" id="Inactive_list">
				<% @agents = User.find_all_by_permission(current_account, :manage_tickets) %>
				<% @agents.each do |agent| %>
				<li>	
					<a href="javascript:void">					
						<img src="/images/icons/profile_blank.gif" width="32px" height="32px" />
						<img src="/images/spacer.gif" class="selected_tick" width="16px" height="16px" />
						<b><%= agent.name %></b>
					</a>
				</li>
				<% end %>
			</ul>-->
			<br />	
		  </li>
		 

		  <li>
			<%= f.check_box :escalate_to %>
			Send an Escalation email to 
			<%= f.collection_select :escalate_to, User.find_all_by_permission(current_account, :manage_tickets), :id, :name %>
			if a ticket remains un-assigned for more than
			<%= f.select :assign_time , Group::ASSIGNTIME_OPTIONS %>			
	   	  </li>
	  </ul>
	  <br />
	  <div class="button-container">	    
		<%= f.submit 'Save', :class => "fdbutton" %>
		<%= link_to 'Cancel', groups_path, :class => "fdbutton grey" %>	
	  </div>
	  <% end %>
</div>