<% readonly = !global_access? %>

<span class="group_form">
<h3 class="lead"><%=title%></h3>
<br/>
  <%= form_for(@group, :html => {:id => "group_form"}) do |f| %>
    <%= f.error_messages %>
     <div class="row-fluid group-management">
      <ul class="unstylGroup::d">
        <li class="row-fluid">
          <%= f.label :name, "<b> #{(t('group.name')+"<span class='required_star'>*</span>")} </b>".html_safe , :class => "control-label span2" %>
            <div class="span10">
             <%= f.text_field :name , :class => "text required span12", :placeholder => t('group.name'), :disabled => readonly %>
            </div>
        </li>
        <li class="row-fluid">
           <%= f.label :description, "<b> #{t('description')} </b>".html_safe, :class => "control-label span2" %>
            <div class="span10">
             <%= f.text_area :description , :class => "text smallpara span12", :placeholder => t('group.description').html_safe, :disabled => readonly %>
            </div>
        </li>
        <% if feature?(:multiple_business_hours) %>
        <li class="row-fluid margin-bottom">
           <%= f.label :business_calendar, "<b> #{t('group.business_calendar')} </b>".html_safe, :class => "control-label span2" %>
            <div class="span10">
            
      <%= f.select_tag('group[business_calendar]', options_from_collection_for_select(current_account.business_calendar, :id, :name ,@group.business_calendar && @group.business_calendar.id), { :prompt => t('group.select_business_calendar'), :class => 'span5 select2 input-xlarge'   })  %>
            </div>
        </li>
        <% end %>
        <li class="row-fluid">
      <%= f.label :agents, "<b> #{t('agents')} </b>".html_safe, :class =>'control-label span2' %>
        <div class="span10">
          <% label = (@group.agents.count == 0 ? t('admin.roles.add_label') : t('admin.roles.manage_label')) %>
          <p style="margin-bottom: 5px"></p>
          <a class="popup"  data-agentcount="<%= @group.agents.count %>" data-roleid="<%= @group.id %>" href="javascript:void(0)" data-title="<%= @group.name %>">
         <span data-changecount="<%= @group.id %>" >
          <% if @group.agents.count == 0 %>
            <%= t('admin.roles.no_agent_label') %></span> 
            - <span class="label-info-text"><%= label %></span>
          <% else %>
           <%= pluralize(@group.agents.count, t('admin.roles.agent_label'), t('admin.roles.agents_label')) %> </span> 
            - <span class="label-info-text"><%= label %></span>
          <% end %>
          </a>
        </div>
      </li>

         <%
          account_id =  @group.account_id
          if account_id.nil?
            account_id = current_account.id
          end
           @exclude_list = @group.excluded_agents(current_account) %>
        <%
          if(@exclude_list.nil? ||@exclude_list.size == 0)
            showagent = "display:none"
          end
        %>


       <% if current_account.sla_management_enabled? %>
                <% hide_escalation = readonly ? "display:none" : "" %>
                <li class="row-fluid mb20" style= <%=hide_escalation%> >
                  <label class="control-label span2">
                    <b><%=t('group.escalation_rule')%></b>
                  </label>
                  <div class="span10">
                    <ul class="unstyled group-ticket-assign">
                      <li class="row-fluid">
                        <span class="span6 group-text-align"><%=t('group.info4')%> :</span>
                        <%= f.select :assign_time , Group::ASSIGNTIME_OPTIONS,{}, { :class => 'select2 span3',
                                     :disabled => readonly } %>
                      </li>
                      <li class="row-fluid">
                        <span class="span6 group-text-align"> &nbsp; &nbsp;<%=t('group.send_escalation_to')%> </span>
                        <input type="hidden" id="escalate_to" name="group[escalate_to]" class="span3"
                               data-placeholder = "<%= t("group.select_an_agent") %>" <%if readonly%> disabled <%end%> />
                      </li>
                    </ul>
                  </div>
                </li>
      <% end %>

      </ul>

        <% if feature?(:round_robin) %>
          <span class ="seperator"></span>
          <div class="row-fluid mt20">
            <div class="span1 ticketAssignmentCheck">
              <%= f.check_box :ticket_assign_type, :value => '', :checked => @group.ticket_assign_type == Group::     TICKET_ASSIGN_TYPE[:round_robin],:rel => "toggle"  %>
            </div>
            <div class="span11">
              <h5 class="lead title small-lead"><%= t('group.ticket_assignment') %></h5>
              <p class="muted lead-desc" rel="process_desc"> <%= t('group.auto_assignment_description') %></p>
            <p class="muted lead-desc ui-helper-hidden only_round" rel="only_round"> <%= t('group.only_round_robin_description').html_safe %></p>
          </div>
          </div>
          <!-- Different types of schedule-->
          <div class="row-fluid ui-helper-hidden" id="toggle_method">
              <!-- Default -->
              <div class="row-fluid">
                <div class="inline-box groups-form">
                  <%= f.radio_button :capping_enabled,
                                  '0'
                                   %>
                </div>
                <div class="inline-box groups-form ml8">
                  <label for="group_capping_enabled_0">
                      <h5 class="mini-lead floatl mb2 mr7">
                        <%= t('group.round_robin_defalut') %>
                      </h5>
                  </label>
                  <p class="muted lead-desc clear">
                    <%=t('group.round_robin_default_info').html_safe%>
                  </p>
                </div>
              </div>
              <% if current_account.round_robin_capping_enabled? %>
                <!-- Cap -->
                <div class="row-fluid">
                  <div class="inline-box groups-form">
                    <%= f.radio_button :capping_enabled,
                                       '1'
                                     %>
                  </div>
                  <div class="inline-box groups-form ml8 custom-select2">
                    <label for="group_capping_enabled_1">
                      <h5 class="mini-lead floatl mb2 mr7">
                         <%= t('group.round_robin_capping') %>
                      </h5>
                    </label>
                    <p class="muted lead-desc clear">
                      <%=t('group.round_robin_capping_info').html_safe%>
                    </p>
                    <p class="limit load_based ui-helper-hidden">
                      Maximum
                      <%= f.select :capping_limit, Group::CAPPING_LIMIT_OPTIONS,
                                                  { :selected => @group.capping_limit || 5 },
                                                  { :class => "select2 select_load capping-limit #{'hide' unless @group.capping_enabled?}",
                                                    :id => "capping_count_load" } %>
                                                    per agent
                      </p>
                  </div>
                </div>
                <% end %>
                <% if current_account.skill_based_round_robin_enabled? %>
                <!-- Skill based -->
                <div class="row-fluid">
                  <div class="inline-box groups-form">
                    <%= f.radio_button :capping_enabled,
                                       '2'
                                     %>
                  </div>
                  <div class="inline-box groups-form ml8 custom-select2">
                    <label for="group_capping_enabled_2">
                      <h5 class="mini-lead floatl mb2 mr7">
                           <%= t('group.round_robin_skill_based') %>
                      </h5>

</label>


<span id="linkContainer" class="help_note_skills"><span class="placeholderForRules"></span></span>

<input type="hidden" id="setFlagforRedirect" value="false" name="redirect_to_skills">






                    <p class="muted lead-desc clear">
                      <%=t('group.round_robin_skill_based_info').html_safe%>
                    </p>
                    <p class="limit skill_based ui-helper-hidden">
                      Maximum
                      <%= f.select :capping_limit, Group::CAPPING_LIMIT_OPTIONS,
                                                  { :selected => @group.capping_limit || 5 },
                                                  { :class => "select2 select_skill capping-limit #{'hide' unless @group.capping_enabled?}",
                                                    :id => "capping_count_skill" } %>
                                                    per agent

                 <br>
                <span class="muted"> <%=t('group.round_robin_skill_based_tooltip').html_safe%><br></span>

                      </p>
                  </div>
                </div>
              <% end %>
          </div>
          <div class="row-fluid ui-helper-hidden" id="toggle_availability_container">
              <div class="span12">
                 <div class="inline-box groups-form">
                    <%= f.check_box :toggle_availability, :value => '1', :checked => @group.new_record? ? true : @group.toggle_availability?
                     %>
                 </div>
                  <div class="inline-box groups-form ml8">
                      <label for="group_toggle_availability">
                        <h5 class="lead small-lead toggle_title"><%= t('group.toggle_availability_for_rr') %></h5>
                      </label>
                      <div class="toggle_enabled">
                        <p class="muted lead-desc">
                          <%=t('group.toggle_availability_message').html_safe%>
                        </p>
                      </div>
                  </div>
              </div>
            </div>
        <% end %>
        <br />

     </div>
     <br />
    <div class="button-container">

      <%= link_to t('cancel'), groups_path, :class => "btn" %>

      <%= f.submit t('save'), :class => "btn btn-primary", "data-loading-text" => t('saving') %>

    </div>

     <input type="hidden" id="modify_agent_list" value="" name="group[agent_list]">
    <input type="hidden" value="<%= @group.id %>" id="roleid">

  <% end %>

<a class="vertical-alignment left-border "
    id="popupTrigger"
    href="#alert_content"
    rel="freshdialog"
    data-backdrop="static"
    data-show-close="true"
    id="save-report"
    data-destroy-on-close="false"
    data-title="Wait up!"
    data-submit-label="Proceed"
    data-close-label="Cancel"
    >
  </a>

  <div id="alert_content" class="hide"><%= t('group.alert_content').html_safe %><br><br>

<strong><%= t('group.alert_content_2').html_safe %></strong></div>
</span>



