 <script type="text/javascript"> 	
 	var agent_select = null; 
 	function toggleText(){
		if (jQuery("ul#Active_list li").size()) {			
			jQuery("ul#Active_list div.info").hide();
		}else{			
			jQuery("ul#Active_list div.info").show();			
		}						
	}	
	
	function removeUser(element){
		agentName 	= element.getAttribute("agent_name");
		agentID	  	= element.getAttribute("agent_id");
		agentThumb  = element.getAttribute("agent_thumb");
			
		jQuery(agent_select)
			.append("<option agent_name='"+agentName+"' agent_id='"+agentID+"' agent_thumb='"+agentThumb+"' value='"+agentID+"'>"+agentName+"</option>");
		jQuery("#All_Agents").show();		
	}
	function AddUser(){		
			option	  	= jQuery(agent_select.options[agent_select.selectedIndex]);	
			agentName 	= option.get(0).getAttribute("agent_name");
			agentID	  	= option.get(0).getAttribute("agent_id");
			agentThumb  = option.get(0).getAttribute("agent_thumb");			
			
			option.remove();
			
			if(!agent_select.options.length)
				jQuery("#All_Agents").hide();
			
			
			var userBox = jQuery('<li />')							
							.append("<div class=\"preview_pic\"><img src=\""+agentThumb+"\" /></div><a href=\"javascript:void(0)\" class=\"button control\">remove</a><b>"+agentName+"</b>");
			
			jQuery("ul#Active_list")
					.append(userBox);
			
			jQuery(userBox).get(0).setAttribute("agent_name", agentName);
			jQuery(userBox).get(0).setAttribute("agent_id", agentID);
			jQuery(userBox).get(0).setAttribute("agent_thumb", agentThumb);
					
			toggleText();
	}
	jQuery(document).ready(function(){
		agent_select = jQuery('select#group_escalate_to').get(0);
		
		jQuery("ul#Active_list li a.control")
			.live("click", function(ev){																	
				removeUser(this.parentNode);
				jQuery(this.parentNode)
					.remove();	
				toggleText();				
			});			
		
		jQuery("#group_form").submit(function(ev){
			activeAgents = $H();
			jQuery("ul#Active_list li").each(function(index, item){
				activeAgents.set(item.getAttribute("agent_id"), item.getAttribute("agent_name"));
			});
			jQuery("#agent_list").val(activeAgents.toJSON()); 
		});
		
		toggleText();
		
		jQuery("#Active_list li").live('mouseover mouseout', function(event) {
		  if (event.type == 'mouseover') { 
		  	jQuery(this).find(".button").show();
		  } else {
		  	jQuery(this).find(".button").hide(); 
		  }
		}); 
	});
 </script>
 <h3 class="title"><%=title%></h3> 
	<% form_for(@group, :html => {:id => "group_form"}) do |f|  %>
	  <%= f.error_messages %>
	  <ul class="ui-form">
		  <li>
		    <%= f.label :name, t('group.name') %>
		    <%= f.text_field :name ,:class => "text required" %>
		  </li>
		  <li>
		    <%= f.label :description, t('description') %>
		    <%= f.text_area :description, :class => "smallpara" %>
		  </li>
		  <li>		  	
		  	<label><%=t('group.info1')%></label>
			<% 
				
					account_id =  @group.account_id
					if account_id.nil?
						account_id = current_account.id
					end
					 @exclude_list = Group.find_excluded_agents(@group.id, account_id) %>
			<%  
				if(@exclude_list.nil? ||@exclude_list.size == 0)
					showagent = "display:none"
				end 
			%>
			<span id="All_Agents" style="<%=showagent%>">
					<b><%=t('group.select_agents')%> </b>							  			
					<select id="group_escalate_to">
						<% @exclude_list.each do |agent| %>
							<% 
								user = agent.user 
								avatar_url = '/images/icons/profile_blank.gif'
								unless user.avatar.nil?
									avatar_url =user.avatar.content.url(:thumb)
								end 
							%>
							<option agent_thumb="<%=avatar_url%>" agent_name="<%=user.name%>" agent_id="<%=user.id%>">
								<%= user.name %>
							</option>
						<% end %>
					</select>			
					<%= link_to_function t('add'), 'AddUser()', :class => "button" %>
			</span>
			
			
			<% fields_for "AgentGroups", @group.agent_groups do |agent| %>
				<%= agent.hidden_field :agent_list, { :id =>"agent_list", :value => ""} %>			
			<%end%>
						
			
			
			<ul class="item_list active" id="Active_list">		
				<% @include_list = Group.find_included_agents(@group.id) %>		
					<%  
						@include_list.each do |agent| 
						avatar_agent = '/images/icons/profile_blank.gif'
						unless agent.user.avatar.nil?
							avatar_agent = agent.user.avatar.content.url(:thumb)
						end
					%>
					
					<li agent_thumb="<%=avatar_agent%>" agent_id="<%= agent.user.id %>" agent_name="<%= agent.user.name %>">
						<%= user_avatar(agent.user.avatar, :thumb) %>
						<a href="javascript:void(0)" class="button control"><%= t("remove") %></a>				
						<b><%= agent.user.name %></b>
					</li>
					<% end %>
				
					<div class="info padding6"><%=t('group.info2')%></div>
							
			</ul>		
			<br />	
		  </li>
		 

		  <li>		
			<%=t('group.info3')%> 
			<%= f.collection_select :escalate_to, Agent.technician_list(account_id), :id, :name, {:include_blank => '...'} %>
			<%=t('group.info4')%>
			<%= f.select :assign_time , Group::ASSIGNTIME_OPTIONS %>			
	   	  </li>
	  </ul>
	  <br />
	  <div class="button-container">	    
		<%= f.submit t('save'), :class => "uiButton" %>
		<%= link_to t('cancel'), groups_path, :class => "uiButton" %>	
	  </div>
<% end %>