 <script type="text/javascript"> 	
	function AddUser(){
		var agent_select = jQuery('select#group_escalate_to').get(0);
			agentName = jQuery(agent_select.options[agent_select.selectedIndex]).text();
			agentID	  = agent_select.value;
	}
	jQuery(document).ready(function(){			
			jQuery("ul#Inactive_list li")
				.live("click", function(ev){					
					jQuery(this)
						.detach()
					    .appendTo("#Active_list");				
				});
			
			jQuery("ul#Active_list li")
				.live("click", function(ev){					
					jQuery(this)
						.detach()
					    .appendTo("#Inactive_list");				
				});
	});
 </script> 
<div class="pageContent">
	<h3 class="content_title"><%=title%></h3>
	<span class="seperator"></span>
	<!--%= debug @support_plan%-->
	<% form_for(@group) do |f|  %>
	  <%= f.error_messages %>
	  <ul class="ui-form">
		  <li>
		    <%= f.label :name, "Group Name" %>
		    <%= f.text_field :name %>
		  </li>
		  <li>
		    <%= f.label :description, "Description" %>
		    <%= f.text_area :description, :class => "smallpara" %>
		  </li>
		  <li>	
		  	<label>Agents in this Group</label>
			<input type="hidden" name="agent_list" id="agent_list" value="" />			
			<ul class="item_list active" id="Active_list">				
			</ul>			
			<ul class="item_list inactive" id="Inactive_list">
				<% @agents = User.find_all_by_permission(current_account, :manage_tickets) %>
				<% @agents.each do |agent| %>
				<li>	
					<a href="javascript:void">					
						<img src="/images/icons/profile_blank.gif" width="32px" height="32px" />
						<img src="/images/spacer.gif" class="selected_tick" width="16px" height="16px" />
						<b><%= agent.name %></b>
					</a>
				</li>
				<% end %>
			</ul>
			<br />
			<!--		
				<%= f.collection_select :escalate_to, User.find_all_by_permission(current_account, :manage_tickets), :id, :name %>			
				<%= link_to_function 'Add', 'AddUser()', :class => "button" %>
			-->
		  </li>
		  <li>
			<%= f.check_box :email_on_assign %>
			Email Agent when a new ticket is assigned to this group
		  </li>
		  <li>
			<%= f.check_box :escalate_to %>
			Send an Escalation email to 
			<%= f.collection_select :escalate_to, User.find_all_by_permission(current_account, :manage_tickets), :id, :name %>
			if a ticket remains un-assigned for more than
			<%= f.select :assign_time , Group::ASSIGNTIME_OPTIONS %>			
	   	  </li>
	  </ul>
	  <br />
	  <div class="button-container">	    
		<%= f.submit 'Save', :class => "fdbutton" %>
		<%= link_to 'Cancel', groups_path, :class => "fdbutton grey" %>	
	  </div>
	  <% end %>
</div>