<div class="sidepanel wordwrap">
    <h3 class="title"><%=t('group.title').html_safe%></h3>
    <p><%= t('group.helptext').html_safe%></p>
    <h3 class="title"><%=t('group.automatic_assignment_header').html_safe%></h3>
    <p><%= t('group.automatic_assignment').html_safe%></p>
    <h3 class="title"><%=t('group.working_hours_header').html_safe%></h3>
    <p><%= t('group.working_hours').html_safe%></p>
    <%= tour_button(t('group.tour'), '508a6481bc1fbe7f1c000214').html_safe %>
</div>