<div class="sidepanel wordwrap">
    <h3 class="title"><%=t('group.title')%></h3>
    <p><%= t('group.helptext')%></p>
    <h3 class="title"><%=t('group.automatic_assignment_header')%></h3>
    <p><%= t('group.automatic_assignment')%></p>
    <h3 class="title"><%=t('group.working_hours_header')%></h3>
    <p><%= t('group.working_hours')%></p>
    <%= tour_button(t('group.tour'), '508a6481bc1fbe7f1c000214') %>
</div>