<h1>Edit Group</h1>
<!--%= debug @support_plan%-->
<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 <p>
 	Agent 1 x<br/>
	Agent 2 x
	
</p>

<p>
	
	<%= f.collection_select :escalate_to, User.find_all_by_permission(current_account, :manage_tickets), :id, :name %>
	
	<%= link_to 'Add', :class => "button" %>
	</p>
	
	<p>
	<%= f.check_box :email_on_assign %><%= f.label :email_on_assign , 'Email Agent when a new ticket is assigned to this group' %>

	</p>
	
	<p>
	<table>
	<tr>
	<td><%= f.check_box :escalate_to %><%= f.label :escalate_to , 'Send an Escalation email to ' %></td>
	<td>	<%= f.collection_select :escalate_to, User.find_all_by_permission(current_account, :manage_tickets), :id, :name %></td>
	<td>if a ticket remains un-assigned for more than</td><td><%= f.select :assign_time , Group::ASSIGNTIME_OPTIONS %></td><td> minutes/hours</td>
	</tr>
	</table>
	

		
   </p>



    <%= f.submit 'Update' %>

<% end %>

<%= link_to 'Back', groups_path %>

