<% admin_user = global_access? %>
<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
<% end %>
<% if show_roundrobin_v2_notification? %>
  <div class="alert-message block-message row-fluid clearfix" id="enable-rr-v2">
    <div class="span10 divider">
      <%=t('group.info8')%> <%=link_to(t('group.info8_readmore').html_safe, 'https://support.freshdesk.com/solution/articles/217810-what-has-changed-in-automatic-ticket-assignment-')%>
    </div>
    <div id="group-rr-enable" class="span2 pt10 pl8">
      <b><%= link_to( t('group.enable').html_safe.html_safe, "#enable_rr_msg",
            :rel => "freshdialog",
            :class => "btn btn-link group-info-btn",
            "data-title" => t('group.please_confirm'),
            "data-submit-label" => t('group.confirm'),
            "data-width" => "400px",
            "data-classes" => "footer-border-top ",
            "data-close-label"=> t('cancel'))
      %></b>
    </div>
  </div>
<%end %>
<div class="list-page group-management">
  <div class="list-page-header row-fluid"> 
    <h3 class="lead span6"><%=t('group.title')%></h3>
    <span class="span6"><%= link_to(t('group.new'), new_group_path, :class => "btn btn-primary pull-right ") if admin_user %></span>
  </div>

    <% if (@groups.length == 0) %>
        <% if (@is_admin) %>
           <div style="margin-top: -10px;" class="list-page-body va_rule-index va_rule_no_skills align_center" id="va_rules_list">
            <div class="text-new-skills muted">    <%= t('group.no_group_info').html_safe %>  <%= (link_to t('ticket_templates.create_new'), "/groups/new") %></div></div>
        <% else %>
            <div style="margin-top: -10px;" class="list-page-body va_rule-index va_rule_no_skills align_center" id="va_rules_list">
            <div class="text-new-skills muted">    <%= t('admin.skills.index.no_groups_present_info').html_safe %> </div></div>
        <% end %>

    <% else %>
    <div class="list-page-body"> 
        <table class="table table-striped">
          <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to(h(group.name) + " (#{group.agents.count})", edit_group_path(group), :class => "item_info") %>
              <div class="muted"><%=h(group.description)%></div>
            </td>

            <td class="text-right">
              <%= link_to(t('edit'), edit_group_path(group), :class => "btn btn-mini") if admin_user %>
              <%= link_to("<i class='icon-trash'></i>".html_safe, group, :confirm => "#{t('group.info5')}", :method => :delete, :class => "btn btn-mini") if admin_user%>
            </td>
          </tr>
          <% end %>
        </table>
    </div>    
    <% end %>
</div>
<br/><br/>

<div id="enable_rr_msg" class="hide">
  <div><%=t('group.rr_v2_confimation_message')%></div>
</div>

<%= javascript_tag do %>
  jQuery('body').on('click','#enable_rr_msg-submit',function(){
    jQuery("#enable_rr_msg").modal('hide');
    jQuery("#enable-rr-v2").hide();

    jQuery.ajax({
      url: "<%= enable_roundrobin_v2_groups_path %>",
      type: "get",
      success: function(data) {
        jQuery("#noticeajax").text(data.flash_text);
        jQuery("#noticeajax").show();
        closeableFlash('#noticeajax'); 
      }
    }) 
  });
<%end%>

