<%= error_messages_for :user %>
 
	<!--img src="/images/icons/profile_blank.gif" /--> 
	<ul>
		<li>
			<%= label(:user, :name, "Name") %>
			<%= text_field(:user, :name, :class => "text" )  %>
		</li>
		<li>
			<%= label(:user, :job_title, "Title") %>
			<%= text_field(:user, :job_title, :class => "text" ) %>
		</li>
		<li>
			<%= label(:user, :email, "Email") %>
			<%= text_field(:user, :email, :class => "text" ) %>
		</li>
		<li>
			<%= label(:user, :second_email, "Secondary Email") %>
			<%= text_field(:user, :second_email, :class => "text" ) %>
		</li>
		<li>	
			<%= label(:user, :phone, "Phone No.") %>	
			<%= text_field(:user, :phone, :class => "text" ) %>
			<!--input type="text" id="user_phone" name="user[phone]" class="text" /-->
		</li>
		<li>
			<%= label(:user, :mobile, "Mobile") %>
			<%= text_field(:user, :mobile, :class => "text" ) %>
		</li>
		<li>
			<%= label(:user, :twitter_id, "Twitter Id") %>
			<%= text_field(:user, :twitter_id, :class => "text" ) %>
		</li>
		
		<li>
			<%= label(:user, :description, "Back ground information") %>
			<%= text_area(:user, :description, :class => "text" ) %>
		</li>
	</ul>	 
<span class="seperator"></span>

<!-- We can remove the following as the default role is customer-->
<div style="display:none">
<%= f.label :role %>
<ul>
	<li><%= f.radio_button  :role_token, 'admin' %> <%= f.label :role_token_admin, "Administrator" %></li>
	<li><%= f.radio_button  :role_token, 'poweruser' %> <%= f.label :role_token_poweruser, "Agent" %></li>
	<li><%= f.radio_button  :role_token, 'customer', :checked => true %> <%= f.label :role_token_customer, "Customer" %></li>
</ul>
</div>

<!-- role section ends here-->

<div class="button-container">
      <%= f.submit "Save changes", :class => "button submit" %> 
	  <%= link_to "Cancel", (@user.new_record? ? {:action => 'index'} : @user ), :class => "button" %>
</div>