<% content_for :layoutType do%>single<% end %>

<div class="pageContent">
	<%= render(:partial => '/shared/companyheader', :locals => {:type => "user"}) %>
	<ul id="users" class="content_list">	  
	  <% @users.each do |user| %>	 
	    <li class="<%= cycle('stripe', '') %>">	   
		  <div class="item_actions">
		  	<%= link_to('edit', edit_user_path(user), :class => "button") %>
	      	<%= link_to('delete', user, :method => 'delete', :confirm => 'Are you sure you want to delete this user?', :class => "button") unless user == current_user %>
		  </div>
		  <%= user_avatar(user.avatar) %>
	      <%= link_to(h(user.name), user, :class => "item_info" ) %>
		  	<div><%= h user.email %></div>
			<div><%= h user.phone %></div>
		  	<%unless user.job_title.nil?%>
		  		<div><%= h user.job_title %></div>
			<%end%>
			<%unless user.customer.nil? %>
				at 	<%= link_to(h(user.customer.name), user.customer)  %>
			<%end%>	      
	    </li>	
	  <% end %>	 
	</ul>
</div>
<div><%= will_paginate @users %></div>