<div class="pageContent">
	<h3 class="content_title">
		<img src="/images/icons/profile_blank.gif" align="left" />
		
	</h3>
	
	 <ul class="ui-list-2col">
	            <li>
	                <label>Name</label>: <%= @user.name %>
	            </li>
	            <li>
	                <label>Title</label>: 
					<%unless @user.job_title.nil?%>					
					<%= @user.job_title %> at
					<%end%>
					 <%unless @user.customer.nil?%>
					 <%=@user.customer.name%>
					 <%end%>
	            </li>
				 <li>
	                <label>Email</label>: <%= @user.email %>
	            </li>
				 <li>
	                <label>Second Email</label>: <%= @user.second_email %>
	            </li>
				 <li>
	                <label>Phone</label>: <%= @user.phone %>
	            </li>
				 <li>
	                <label>Mobile</label>: <%= @user.mobile %>
	            </li> <li>
	                <label>Back-ground Info</label>: <%= @user.description %>
	            </li>
	<ul>

</div>	