
<div class="filter_title">
	<label>Number</label>
</div>
<div id="sorting_dropdown" class="filter_tool_select2">
	<input type="hidden" id="ff_number"  name="ff_number" class="number_id" fnumber=""/>
</div>
<div class="filter_title">
	<label><%= t('freshfone.call_history.filter_by_time') %></label>
</div>
<div class="filter_tool_select2">
	<% default_date_range = call_filter['date_value'].present? ? call_filter['date_value'] : date_range_val(7.days.ago, Date.today) %>
	<input class="ff_item date_range" id="date_range" type="text" condition="created_at" operator="is_in_the_range" 
		data-filtername="<%= t('freshfone.call_history.filter_by_time') %>"
		data-value="<%=default_date_range%>" value="<%=default_date_range%>"
		 />
</div>
<div class="filter_title">
		<label><%= t('freshfone.call_history.filter_by_call_status') %></label>
</div>

<div id="sorting_dropdown" class="filter_tool_select2">
	<input type="hidden" id="ff_call_status" class="ff_item" condition="call_type" operator="is" 
	value='' data-filtername="<%= t('freshfone.call_history.filter_by_call_status') %>" data-value="All calls"/>
</div>

<div class="filter_title">
	<label><%= t('freshfone.call_history.filter_by_agent')%></label>
</div>
<div class="filter_tool_select2">
	<%= select_tag "responder", options_for_select(agents_list), { :multiple => true, :class => "select2 call-history-metric",:size => 5, :placeholder => t('freshfone.call_history.filter_option_all_agents')} %> 
 <input type='hidden' id="requesterName_choices" class="autocomplete ff_item" condition="user_id" 
				 		operator="is_in" value=""	 data-filtername="<%= t('freshfone.call_history.filter_by_agent') %>" data-value=""></input>
</div>
<div class="filter_title">
	<label><%= t('freshfone.call_history.filter_by_caller')%></label>
</div>
<div class="filter_tool_select2">
	<input type="text" name="caller_name" id="callerName"  class="callerName"/>
	<input type="hidden"  id="callerId" />
 	<input type='hidden' id="callerName_choices" class="autocomplete ff_item" condition="customer_id" 
 		operator="is" value='' data-filtername="<%= t('freshfone.call_history.filter_by_caller')%>" data-value=""></input>
</div>
<div class="filter_title incomingGroup">
	<label><%= t('freshfone.call_history.filter_by_group')%></label>
</div>
<div class="filter_tool_select2 incomingGroup">
	<input type="hidden" id="groupName"  name="group_name" class="groupName ff_item" condition='group_id' 
	operator='is' value = '' data-filtername="<%= t('freshfone.call_history.filter_by_group')%>" data-value=''/>
	</div>

<div class="filter_title">
	<label><%= t('freshfone.call_history.filter_by_business_hours') %></label>
</div>

<div class="filter_tool_select2">
	<input type="hidden" id="ff_business_hours" class="ff_item" condition="business_hour_call" operator="is" 
	value='' data-filtername="<%= t('freshfone.call_history.filter_by_business_hours') %>" data-value="All calls"/>
</div>
<div class="filter_footer">
	<a class="btn btn-primary" id="submitfilter">Filter</a>
	<a class="btn" id="cancel" data-dismiss="slider" class="filter-close">Close</a>
</div>