<% is_strange_number = strange_number_class(call.caller_number) %>
<div class="recent_call_entry <%= is_strange_number.blank? ? 'make-call' : '' %>" data-phone-number=<%= call.caller_number %>>
	<div class="recent_calls_direction <%= call_direction_class(call) %>"></div>
	<div class="recent_calls_caller_details">
		<div class='ff_profile_img hide'>
			<%= user_avatar(call.customer, :thumb, "preview_pic circle") %>
		</div>
		<div class="item_actions">
			 <span class="user_name result-name <%= !call.customer ? is_strange_number : ''  %> ">
				 <%= call.customer ? link_to_user(call.customer, {"data-placement" => "topLeft"}) :
				 	 										number_to_phone(call.caller_number) %>
			 </span>
		</div>
		<% unless call.customer_id.blank? %>
			<div class="recent_calls_user_number result-phone">
				<%= number_to_phone call.caller_number %>
			</div>
		<% end %>
	</div>
	<div class="recent_calls_call_user">
		<div class="recent_calls_time_ago time_in_words">
			<abbr data-livestamp='<%= call.created_at.to_i %>'>
				<%#= formated_date(call.created_at) %>
			</abbr>
		</div>
		<div class="ff_call_button pull-right hide">
			<%= font_icon "ff-phone", :size => 11 %> Call
		</div> 
	</div>
</div>
