<div class="sidepanel">
	<h3 class="title"><%=t('email_notifications.title')%></h3>
	<p><%=t('email_notifications.helpcard.info1')%></p> 
	<p><%=t('email_notifications.helpcard.info2')%></p> 
    <%= tour_button(t('email_notifications.helpcard.tour1'), '50166b42e13a4631dc000002') %>
	</br>
	<p><%=t('email_notifications.helpcard.info3')%></p> 
    <%= tour_button(t('email_notifications.helpcard.tour2'), '508a3e1cbc1fbe7f1d0001f4') %>
</div>