<%= javascript_tag do %>

	jQuery(document).ready(function() {

		jQuery('[name=timer]').change(function() {
		  var form_data = {};
		  form_data[jQuery(this).data('type')] = jQuery(this).is(':checked');
			jQuery.ajax({
				type: "PUT",
				dataType: 'script',
				url: jQuery(this).data('url'),
				data: form_data,
			});
		});

		jQuery(document).on('click', '#agent-dialog-cancel', function (ev) {
			ev.preventDefault();
			jQuery('#agent_dialog_form')
					.resetForm()
					.find('select').trigger('change');
		});

		if (<%=@supported_languages.blank? %>){
			jQuery('#language-tab').hide();
			jQuery('#last_saved_reset').hide();
			if(<%=feature?(:dynamic_content)%>){
			jQuery('#add_more_lang').show();
			jQuery('#outdate_other_lang').hide();
			}
		}
		var current_tab = 'description_default';
		var current_language = 'default'; 
		jQuery('#place-dialog').hide();
		jQuery('.tab-pane').each(function() {
			var tab_pane = jQuery(this);
			if(tab_pane.find('.common-icon-outdated').length) {
				jQuery('#' + tab_pane.data('lang') + '-tab' + ' i').addClass('common-icon-outdated');
			} else {
				if(tab_pane.find('.common-icons-updated').length)
					jQuery('#' + tab_pane.data('lang') + '-tab' + ' i').addClass('common-icons-updated');
			}
			
		});
		
		jQuery('a[data-toggle="tab"]').on('show', function(e) {
		 jQuery('#default_help').show();	
		 jQuery('#default_help_show').hide();
		 jQuery('.hide-default').show();	
		 jQuery('#place-dialog').hide();
		 var previous_tab = jQuery(e.relatedTarget).data('content-id');
		 var previous_language = jQuery(e.relatedTarget).data('lang');
		 current_tab = jQuery(e.target).data('content-id');
		 current_language = jQuery(e.target).data('lang');
		 jQuery('.redactor_box').removeClass('redactor_focus');
		 
		 if(current_tab == "description_default"){
		 	jQuery('#default_help').hide();
		 	jQuery('.hide-default').hide();	
		 }
			var previous_message = jQuery("#"+previous_tab).val();
			var previous_message_reset = jQuery("#reset_template_"+previous_language).data('html');
			var previous_subject = jQuery("#subject_"+previous_language).val();
			var previous_subject_reset = jQuery("#reset_template_"+previous_language).data('subject');
		if((jQuery(previous_message).text().trim()) != (jQuery(previous_message_reset).text().trim()) || (previous_subject) != (previous_subject_reset) ){
			jQuery('#confirmation-link').click();
			
			var footer = jQuery('#toggle-confirm').children('.modal-footer');
			var proceed_btn = footer.children('[data-dismiss]');
			var take_back_btn = footer.children('[data-submit]');

			proceed_btn.off('click.email_notif');
			take_back_btn.off('click.email_notif');
			
			proceed_btn.on('click.email_notif', function(ev){

				var reset_to = jQuery('#reset_template_'+previous_language).data("html");
				if(reset_to.length == 0) {
					reset_to = (jQuery.browser.mozilla) ? '<p>&nbsp;</p>' : '<p><br /></p>';
				}
				jQuery('#description_'+previous_language).setCode(reset_to);
				jQuery('#subject_'+previous_language).val(jQuery('#reset_template_'+previous_language).data("subject"));
				active_email_body = jQuery("#subject_"+current_language).focus();
			});

			take_back_btn.on('click.email_notif', function(ev){
				jQuery('#toggle-confirm').modal('hide');
				jQuery('#'+previous_language+'-tab').tab('show');

			});
		} 
		});

		jQuery('.link_placeholder').live("click", function(ev){
		    ev.preventDefault();
				jQuery('#place-dialog').slideDown('fast', function(){
        			jQuery(this).groupPlaceholders({'truncateItems': false});
				});
		});
		jQuery('.redactor_editor').live('click', function(){
            active_email_body = jQuery("#"+ current_tab);        
        }); 

		jQuery('#default_help').click(function(ev){
			ev.preventDefault();
			jQuery('#default_help').hide();
			jQuery('.hide-default').hide();
			jQuery('#default_help_show').show();
		});

		jQuery('#default_help_show').click(function(ev){
			ev.preventDefault();
			jQuery('#default_help_show').hide();
			jQuery('.hide-default').show();
			jQuery('#default_help').show();
		});



		jQuery('#agent_dialog_form').submit(function(){
			var notifyAgents = $H();
			notifyAgents.set( <%=@email_notification.id%> ,jQuery("#notify_agents_data").val());
			jQuery("#NotifyAgents").val(notifyAgents.toJSON());
		});
	});
<% end %>

<% notification_type = @email_notification.notification_type %>	
<div class="list-page email-notification-edit row-fluid">
	<div class="list-page-header row-fluid"> 
		<div class="row-fluid">
    		<div class="span8">
    			<h3 class="lead">
    				<%if @type == 'requester_template'%>
    					<% type_url = 'requester'%>
    					<%= link_to "#{t('email_notifications.requestor_notification')}", "/admin/email_notifications##{type_url}" %>
					<%elsif @type == 'agent_template'%>
							<% type_url = 'agent'%>
							<%= link_to "#{t('email_notifications.agent_notification')}", "/admin/email_notifications##{type_url}"%>
					<%else%>
							<% type_url = 'template'%>
							<%= link_to "#{t('email_notifications.notification_template')}", "/admin/email_notifications##{type_url}"%>
					<%end%>/&nbsp;<%= t("#{@email_notification .token}") %>
    			</h3>
    		</div>
			<span class="list-page-subheader pull-right">
				<%if (@type == 'requester_template') and notification_type != EmailNotification::PASSWORD_RESET and notification_type != EmailNotification::DEFAULT_REPLY_TEMPLATE %>
					<%=t('email_notifications.singular_title')%>
					<input rel="toggle" type="checkbox" id="email" name="timer" data-checked-label="ON" data-unchecked-label="OFF" <%= (@email_notification.requester_notification) ? "checked" : "" %> data-type="email_notification[requester_notification]" data-url=<%= admin_email_notification_path(@email_notification.id) %>  >
				<%elsif (@type == 'agent_template') and notification_type != EmailNotification::PASSWORD_RESET and notification_type != EmailNotification::USER_ACTIVATION %>
					<%=t('email_notifications.singular_title')%>
					<input rel="toggle" type="checkbox" id="em" name="timer" data-checked-label="ON" data-unchecked-label="OFF" <%= (@email_notification.agent_notification) ? "checked" : "" %> data-type="email_notification[agent_notification]" data-url=<%=admin_email_notification_path(@email_notification.id) %> >
				<%end%>	
			</span>
		</div>
	</div>
	<ul class="tabs nav-tabs" id="language-tab">
		<li class="active" >
			<a id="default-tab" href="#default" class="vertical-alignment" data-lang="default" data-content-id="description_default" data-toggle="tab">
				<%= I18n.available_locales_with_name.select{ |val| val.last == @default_language.to_sym}.flatten.first%>
			</a>
		</li>
		<% @supported_languages.each do |lang| %>
			<li >
				<a id="<%=lang%>-tab" href="#<%=lang%>" class="other_language_tabs" data-lang="<%=lang%>" data-content-id="description_<%=lang%>"  data-toggle="tab">
					<i></i> <%= I18n.available_locales_with_name.select{ |val| val.last == lang.to_sym}.flatten.first%> </a>
			</li>
		<%end%>	
		<li class="default-lang">
			<div class="pull-right text-right">
				<a href="" id="default_help_show" class="hide default-lang-text"> <%=t('email_notifications.show_default')%> </a>
				<a href="" id="default_help"  class="hide default-lang-text"> <%=t('email_notifications.hide_default')%> </a>
				<% if (@type == 'agent_template')
				 		description_help_template	= @email_notification.agent_template
						description_help = description_help_template.html_safe unless description_help_template.nil?
						subject_help_template = @email_notification.agent_subject_template
						subject_help = subject_help_template unless subject_help_template.nil?
				 else	
				 		description_help_template	= @email_notification.requester_template
						description_help = description_help_template.html_safe unless description_help_template.nil?
						subject_help_template = @email_notification.requester_subject_template
						subject_help = subject_help_template unless subject_help_template.nil?
				 end	%>
				 <%
				 subject_help = h(subject_help)
				 %>
			</div>
		</li>
	</ul>

	<div class="hide-default hide default-lang-wrapper">
		<div class="default-lang-content">
			<p><span><b><%= t('email_notifications.subject') %></b> </span> <%= subject_help %> <br /></p><br />
			<p><span><b><%= t('message') %></b> </span> <%= description_help %> </p>
		</div>
	</div>
	<br/>
<div class="row-fluid tab-content">
	<div class="tab-pane fade active in" id="default"> 
		<%= form_for @email_notification, :url => { :action => "update" }, :html => { :method => :put, :id => "description_default_form", :class => "notif_form", :rel =>"validate"} do |f| %>
			<div class="row-fluid" id="last_saved_reset">
				<div class="span7">
					<div class="notification-message" title="<%=@email_notification.updated_at%>" >
						<%= t('email_notifications.last_saved') %>: <%= distance_of_time_in_words(Time.now(), @email_notification.updated_at ) %> ago
					</div>
				</div>
				<div class="span5 pull-right">
					<%= link_to "#{t('email_notifications.reset_last_saved')}", "#", :id => "reset_template_default", :class =>"pull-right reset_template" %>
				</div>
			</div>
			<%	if @type == 'requester_template' || @type == 'reply_template' %> 
				<%= hidden_field_tag 'requester', '1'%>
			<%else%>
				<%= hidden_field_tag 'agent', '1'%>
			<%end%>	
			
			<div class="row-fluid">
				<span class="pull-right"><a href="#" class="pull-right link_placeholder btn btn-mini"><%=t('email_notifications.insert_placeholder')%> &raquo;</a></span>
				<label><b><%= t('email_notifications.subject') %></b> <span class="required_star">*</span></label>
				<% if (@type == 'agent_template')
					 		description_field = :agent_template
					 		subject_field = :agent_subject_template
					 else			
							description_field = :requester_template
							subject_field = :requester_subject_template

				end	%>	 
				<%= f.text_field subject_field, {:id => "subject_default", :class => "email-notification-subject insert-placeholder-target required" } %>
				<br/>
				
				<% if notification_type == EmailNotification::DEFAULT_REPLY_TEMPLATE %>
					<span class="input-information"> <%=t('email_notifications.default_reply_template_info')%> </span>
					<br/>
				<%end%>
			</div>
			<div class="row-fluid">
				<% if notification_type != EmailNotification::DEFAULT_REPLY_TEMPLATE %>
					<label><b><%= t('message') %></b><span class="required_star">*</span></label> 
				<%end%>	
				<%= f.rich_editor description_field,
				{'editor-type' => :email_notification, :id => 'description_default', :class =>"desc_info #{notification_type != EmailNotification::DEFAULT_REPLY_TEMPLATE ? 'required_redactor' : ''} ", :height => "300px",'data-remove-cursor' => notification_type != EmailNotification::DEFAULT_REPLY_TEMPLATE ? true : false }  %>
			</div>
			<% if notification_type == EmailNotification::NEW_TICKET and @type == 'agent_template' %>
				<div class="email-notification-footer row-fluid">
					<label> <b><%= t('email_notifications.notify_agents')%> :</b>
						<% if @email_notification.agents.blank? %> 
						<small ><%= t('email_notifications.no_agents') %></small>
					<%end%>	
					<span class="notify-agent-name">
						<% @email_notification.agents.each do |a| %>
							<label> <%= a.name %> </label>
						<%end%>	
					</span>
					</label>
					<span>
					<a href="#agent-dialog" class="link_agents btn btn-mini" rel="freshdialog" data-width="450" data-backdrop="static" title="<%= t('email_notifications.agent_select_title')%>" data-submit-label="<%=t('save')%>" data-close-label="<%=t('cancel')%>"> <%= @email_notification.agents.blank? ?  t('email_notifications.add') : t('email_notifications.edit')%> </a>
					</span>
					
				</div>	
			<%end%>	
				<%= javascript_tag do %>
						jQuery("#reset_template_default").data('html', jQuery('#description_default').val());
						jQuery("#reset_template_default").data('subject', jQuery('#subject_default').val());
						jQuery('#reset_template_default').live("click", function(ev){
							ev.preventDefault();
							if(confirm("<%=t('email_notifications.reset_confirm')%>")){
								jQuery('#description_default').setCode(jQuery('#reset_template_default').data("html"));
								jQuery('#subject_default').val(jQuery('#reset_template_default').data("subject")); 
								active_email_body = jQuery("#subject_default").focus();
							}	
						});

				<%end%>
				<div class="row-fluid email-notification-footer">
					<div class="span7" id="outdate_other_lang">
					<% if !@supported_languages.blank? %>
						<label class="checkbox">
					      <%= check_box_tag "outdated",'yes',true %> <%=t('email_notifications.mark_outdated')%>
					    </label>
					<%end%>	
					</div>
					<div class="pull-left" id="add_more_lang" style="display:none"s>
						<span><%= t('support_multi_languge') %></span>
						<p><%= link_to t('add_more_lang'), "/account/edit"%></p>
					</div>
					<div class="text-right span5 pull-right ">
						<%= link_to t('cancel'), admin_email_notifications_path, :class => "btn" %>
						<%= f.submit t('save'), { :id => "description_default_save", :class => "btn btn-primary ","data-loading-text" => t('saving') } %>
					</div>
				</div>
		<%end%>	
	</div>

	
		<% @supported_languages.each do |lang| %>
		<% if (@type == 'agent_template')
				content =  get_agent_content(@email_notification, lang) 
			else
				content = get_requester_content(@email_notification, lang)
			end %>	 
			<div class="tab-pane fade" id="<%=lang%>" data-lang="<%=lang%>">  
				<%= form_for content, :url => { :controller => 'admin/dynamic_notification_templates', :action => "update" , :id => content.id}, :html => { :method => :put, :id => 'description_'+lang+'_form', :class => "notif_form" , :rel =>"validate"}  do |c| %>	
				<%= c.hidden_field :language %>
				<%= c.hidden_field :category %>
				<%= c.hidden_field :active %>
				<%= c.hidden_field :email_notification_id %>
				<div class="row-fluid">
					<div class="span8">	
						<% if content.outdated?  %>
							<div class="notification-icon">
								<i class="common-icon-outdated"></i>
							</div>
							<div class="notification-message" title="<%= content.updated_at %>">
								<b><%=t('email_notifications.translation_outdated')%></b> <br/>
								<%= t('email_notifications.last_saved') %>: <%= distance_of_time_in_words(Time.now(), content.updated_at )%> ago
							</div>
						<% elsif content.description.nil?%>
							<div></div>	 
						<% elsif !content.outdated? %>
							<div class="notification-icon">
								<i class="common-icons-updated"></i>
							</div>
							<div class="notification-message" title="<%= content.updated_at %>">
								<b><%=t('email_notifications.translation_uptodate')%></b> <br/>
								<%= t('email_notifications.last_saved') %>: <%= distance_of_time_in_words(Time.now(), content.updated_at )%> ago
							</div> 
						<%end%>	
					</div>
					
					<div class="span4">
						<%= link_to "#{t('email_notifications.reset_last_saved')}", "#", :id => "reset_template_#{lang}",:class => (content.description.nil?) ? "hide" : "pull-right reset_template" %>
					</div>
					
				</div>
				<div class="row-fluid">
					<span class="pull-right"><a href="#" class="pull-right link_placeholder btn btn-mini"><%=t('email_notifications.insert_placeholder')%> &raquo;</a></span>
						<label><b><%= t('email_notifications.subject') %></b> <span class="required_star">*</span> </label> 
							<%= c.text_field :subject, {:id => "subject_#{lang}", :class => "email-notification-subject insert-placeholder-target required" } %>
							<br/>
					<% if notification_type == EmailNotification::DEFAULT_REPLY_TEMPLATE %>
						<span class="input-information"> <%=t('email_notifications.default_reply_template_info')%> </span>
						<br/>
					<%end%>
				</div>
				<div class="row-fluid">
					<% if notification_type != EmailNotification::DEFAULT_REPLY_TEMPLATE %>
						<label><b><%= t('message') %></b><span class="required_star">*</span></label> 
					<%end%>	
					<%= c.rich_editor :description, {'editor-type' => :email_notification, :id => 'description_'+lang, :class =>"desc_info #{(notification_type != EmailNotification::DEFAULT_REPLY_TEMPLATE) ? 'required_redactor' : ''}", :height => "200px"} %>
				</div>
				<div class="row-fluid email-notification-footer"> 
					<div class="span8">
					<% if content.outdated? or content.description.nil? %>
						<div>
							<label class="checkbox">
						      <%= c.check_box :outdated,{ :checked => 'checked'},"0","1" %> <%= t('email_notifications.mark_uptodate')%>
						    </label>
						</div>
					<%end%>
					<%= javascript_tag do %>
							jQuery("#reset_template_<%=lang%>").data('html', jQuery('#description_<%=lang%>').val());
							jQuery("#reset_template_<%=lang%>").data('subject', jQuery('#subject_<%=lang%>').val());
							jQuery('#reset_template_<%=lang%>').live("click", function(ev){
								ev.preventDefault();
								if(confirm("<%=t('email_notifications.reset_confirm')%>")){
									jQuery('#description_<%=lang%>').setCode(jQuery('#reset_template_<%=lang%>').data("html"));
									jQuery('#subject_<%=lang%>').val(jQuery('#reset_template_<%=lang%>').data("subject")); 
									active_email_body = jQuery("#subject_<%=lang%>").focus();

								}	
							});
					<%end%>
					</div>
					<div class="span4 pull-right">
						<div class="text-right">
							<%= link_to t('cancel'), admin_email_notifications_path, :class => "btn" %>
							<%= c.submit t('save'), {  :id => 'description_'+lang+'_save' ,:class => "btn btn-primary " ,"data-loading-text" => t('saving') } %>
						</div>
					</div>
				</div>
				<%end%>
			</div>
		<%end%>	
	</div>
</div>

<a href="#toggle-confirm" id="confirmation-link" style="display:none" rel="freshdialog" data-width="600" data-backdrop="static" 
data-close-label="<%= t('email_notifications.proceed_anyway')%>"
data-submit-label="<%= t('email_notifications.take_back')%>"
title="<%= t('email_notifications.unsaved_title')%>"
></a>
<div id="toggle-confirm" class="hide">
	<p> <%=t('email_notifications.unsaved_confirm')%></p>

</div>

<% if notification_type == EmailNotification::NEW_TICKET and @type == 'agent_template' %>
	<div id="agent-dialog" style="display:none;">
		<p> <%=t('email_notifications.agent_select')%></p><br/>
		<%= form_for :email_notification_agents , :url => { :controller => 'admin/email_notifications', :action => "update_agents" , :id => @email_notification.id }, :html => { :method => :put , :id => "agent_dialog_form"}  do |v| %>
			<%= v.hidden_field :notifyagents_data, { :id => "NotifyAgents" } %>
			<% agent_hash = {:options => get_agent_options } if (notification_type == EmailNotification::NEW_TICKET and @type =="agent_template")%>

			<%= select_tag "notify_agents_#{@email_notification.id}", options_for_select( agent_hash[:options].map {|a| [a[1], a[0]] },@email_notification.agents.collect {|a| a.id} ), { :multiple => true, "data-placeholder"=> t('email_notifications_agent_selection_msg'), :id =>"notify_agents_data", :class => "select2 span5 clear-left-margin", "data-default" => @email_notification.agents.collect{|a| a.id}.join(",") } %>
		<%end%>	
	</div>
<%end%>

</div>

<% content_for :helpcard do %> 
	<%= render :partial => "helpnote", :locals => {:type => notification_type.to_s, :category => @type } %>	
<% end %>

<% content_for :pagefixed do %>
	<%= render :partial => "shared/placeholder_help" , :locals => {:placeholders => ticket_placeholders} %>
<% end %>
