<%= javascript_tag do %>
	var active_email_body = null;
	jQuery(document).ready(function(){
		jQuery('[name=timer]').change(function() {
		  var form_data = {};
		  form_data[jQuery(this).data('type')] = jQuery(this).is(':checked');
			jQuery.ajax({
				type: "PUT",
				dataType: 'script',
				url: jQuery(this).data('url'),
				data: form_data,
			});
		});
	});
<% end %>

<div class="list-page email-notification">
	<div class="list-page-header"> 
		<h3 class="lead"><%= t('email_notifications.title')%></h3>
		<%= render :partial => "fontsettings" %>
	</div>
	<ul class="tabs nav-tabs" id="email-notifications-tabs">
		<li class="first active">
			<a id="agent-tab" data-toggle="tab" href="#agent"><%=t('email_notifications.agent_notifications')%></a>
		</li>
		<li >
			<a id="requester-tab" data-toggle="tab" href="#requester"><%=t('email_notifications.requestor_notifications')%></a>
		</li>
		<li>
			<a id="cc_notification-tab" data-toggle="tab" href="#cc_notification"><%=t('email_notifications.cc_notifications')%></a>
		</li>
		<li>
			<a id="template-tab" data-toggle="tab" href="#template"><%=t('email_notifications.notification_template')%></a>
		</li>
	</ul>
	
	<div class="list-page-body tab-content">
		<div class="tab-pane active" id="agent"> 
			<table class="table table-striped">
				<%= render :partial => 'agent_notification', :collection => @agent_notifications %>
			</table>
		</div>
		<div class="tab-pane hide" id="requester"> 
			<table class="table table-striped">
				<%= render :partial => 'user_notification', :collection => @user_notifications %>
			</table>
		</div>
		<div class="tab-pane hide" id="cc_notification"> 
			<table class="table table-striped ">
				<%= render :partial => 'cc_notification', :collection => @cc_notifications %>
			</table>	
		</div>
		<div class="tab-pane hide" id="template"> 
			<table class="table table-striped ">
				<%= render :partial => 'reply_template', :collection => @reply_templates %>
			</table>	
		</div>
	</div>
</div>
<% content_for :helpcard do %> 
	<%= render :partial => "helpnoteindex" %>	
<% end %>