<% javascript_tag do %>
	var active_email_body = null;
	jQuery(document).ready(function(){
		jQuery('[name=timer]').change(function() {
		  var form_data = {};
		  form_data[jQuery(this).data('type')] = jQuery(this).is(':checked');
			jQuery.ajax({
				type: "PUT",
				dataType: 'script',
				url: jQuery(this).data('url'),
				data: form_data,
			});
		});
	});
<% end %>

<div class="list-page email-notification">
	<div class="list-page-header"> 
		<h3 class="lead"><%= t('email_notifications.title')%></h3>
	</div>
	<ul class="tabs nav-tabs" id="email-notifications-tabs">
		<li class="first active">
			<a id="agent-tab" data-toggle="tab" href="#agent"><%=t('email_notifications.agent_notifications')%></a>
		</li>
		<li >
			<a id="requester-tab" data-toggle="tab" href="#requester"><%=t('email_notifications.requestor_notifications')%></a>
		</li>
		<li>
			<a id="template-tab" data-toggle="tab" href="#template"><%=t('email_notifications.notification_template')%></a>
		</li>
	</ul>
	<div class="list-page-body tab-content">
		<div class="tab-pane active" id="agent"> 
			<table class="table table-striped">
					<% @agent_notifications.each do |item| %>						
							<tr>
								<td <%= "class='tooltip email-tip' title='#{t('email_notifications.disabled_toggle')}'".html_safe if  !(item.can_turn_off_for_agent?)  %>>
									<% if !(item.can_turn_off_for_agent?) %>	
										<input rel="toggle" type="checkbox" id="em" name="timer" data-checked-label="ON" data-unchecked-label="OFF" <%= (item.agent_notification) ? "checked" : "" %> disabled >
									<%else%>
										<input rel="toggle" type="checkbox" id="em" name="timer" data-checked-label="ON" data-unchecked-label="OFF" <%= (item.agent_notification) ? "checked" : "" %> data-type="email_notification[agent_notification]" data-url=<%=admin_email_notification_path(item.id) %> >
									<%end%> 
								</td>
								<td>
									<span class="vertical-alignment event-name">
										<strong>
										<a href="<%=admin_edit_notification_path(:id => item.id, :type =>"agent_template") %>"><%= t("#{item.token}") %></a>
										</strong>
									</span>
								</td>
									<td class="text-right">
									<% if current_account.features?(:dynamic_content) && 
										 	item.outdated_agent_content? %>
											<i class="common-icon-outdated"></i>
											<span class="muted"><%=t('email_notifications.index_outdated')%></span>
									<%end%>	
									</td>
								
								<td class="text-right">
									<%= link_to(t('edit'), admin_edit_notification_path(:id => item.id, :type =>"agent_template"), :class => 'btn btn-mini') %>
								</td>
							</tr>
					<%end%>		
				</table>
			</div>
			<div class="tab-pane hide" id="requester"> 
				<table class="table table-striped">
					<% @user_notifications.each do |item| %>
					<% unless !current_account.features?(:multiple_user_emails) and item.notification_type == 17 %>
							<tr>
								<td <%= "class='tooltip email-tip' title='#{t('email_notifications.disabled_toggle')}'".html_safe if !(item.can_turn_off_for_requester?) %>>
									<% if !(item.can_turn_off_for_requester?) %>
										<input rel="toggle" type="checkbox" id="email" name="timer" data-checked-label="ON" data-unchecked-label="OFF" <%= (item.requester_notification) ? "checked" : "" %> disabled >
									<%else%> 	
										<input rel="toggle" type="checkbox" id="email" name="timer" data-checked-label="ON" data-unchecked-label="OFF" <%= (item.requester_notification) ? "checked" : "" %> data-type="email_notification[requester_notification]" data-url=<%=admin_email_notification_path(item.id) %>  >
									<%end%>	
								</td>
								<td>
									<span class="vertical-alignment event-name">
										<strong>
										<a href="<%= admin_edit_notification_path(:id => item.id, :type =>"requester_template")%>"> <%= t("#{item.token}") %></a>
										</strong> 
									</span>	
								</td>

									<td class="text-right">
										<% if current_account.features?(:dynamic_content) && 
											item.outdated_requester_content? %>
											<i class="common-icon-outdated"></i>
											<span class="muted"><%=t('email_notifications.index_outdated')%></span>
										<%end%>	
									</td>
								
								<td class="text-right">
									<%= link_to(t('edit'), admin_edit_notification_path(:id => item.id, :type =>"requester_template"), :class => 'btn btn-mini' ) %>
								</td>
							</tr>
						<% end %>
					<%end%>
				</table>
			</div>
			<div class="tab-pane hide" id="template"> 
				<table class="table table-striped ">
					<% @reply_templates.each do |item| %>	
						<tr>
							<td class='email-tip'>
								<input rel="toggle" type="checkbox" id="em" name="timer" data-checked-label="ON" data-unchecked-label="OFF" <%= (item.requester_notification) ? "checked" : "" %> disabled >
							</td>
							<td>
								<span class="vertical-alignment event-name">
									<strong>
									<a href="<%= admin_edit_notification_path(:id => item.id, :type =>"reply_template")%>"><%= t("#{item.token}") %></a>
									</strong>
								</span>
							</td>
								<td class="text-right">
									<% if (item.outdated_requester_content == true ) %>
										<i class="common-icon-outdated"></i>
										<span class="muted"><%=t('email_notifications.index_outdated')%></span>
									<%end%>	
								</td>
								
							<td class="text-right">
								<%= link_to(t('edit'), admin_edit_notification_path(:id => item.id, :type =>"reply_template"), :class => 'btn btn-mini') %>
							</td>
						</tr>
					<%end%>	
				</table>	
			</div>
	</div>
</div>
<% content_for :helpcard do %> 
	<%= render :partial => "helpnoteindex" %>	
<% end %>