<% content_for :layoutType do%>single<% end %>
<% javascript_tag do %>
	var active_email_body = null; 
	jQuery(document).ready(function(){
		var active_template = null;
		jQuery("a.notify_check").bind("click", function(ev){
			//jQuery(active_template).hide();
			//hideData = (jQuery(this).parents("tr").attr("notify_type"));
			var emailTr = jQuery(this).parents("tr").next();
			active_template = jQuery(emailTr).toggle();
			jQuery(emailTr).find("div").hide();
			jQuery(emailTr).find("div."+this.getAttribute("showdiv")).show();
		});
		jQuery("a.close_template").bind("click", function(ev){
			jQuery(this).parents("tr").hide();
		});
		
		jQuery("a.reset_template").bind("click", function(ev){
			jQuery(this).prev().prev().val(jQuery(this).prev().prev().prev().val()); 
		});
		
		jQuery("#Updateform").submit(function(){
			allNotificationsDom   = jQuery("tr.main_rows");
			var allNotifications  = $H();
			var currentNotify	  = 0;
			jQuery.each(allNotificationsDom, function(index, item){
				var tempHash 	  = { requester_notification: 0,  agent_notification: 0, requester_template: "", agent_template: "" };
				currentNotify 	  = item.getAttribute("notify_type");
				jQuery.each(jQuery(item).find("input.checkbox"), function(index, checkItem){
					tempHash[checkItem.name] = (checkItem.checked)?1:0;		
				});
				
				jQuery.each(jQuery(item).next().find("textarea"), function(index, textareaItem){
					tempHash[textareaItem.name] = textareaItem.value;
				});
				
				allNotifications.set(currentNotify, tempHash);
			});
			
			jQuery("#AllNotification").val(allNotifications.toJSON()); 
		});
		
		jQuery('.link_placeholder').live("click", function(ev){
				active_email_body = jQuery("#"+jQuery(this).attr("SELECT_AREA"));  
				jQuery('#place-dialog') 
							.fadeIn(500);	
		});
		
		jQuery('.requesteremail').autoResize(); 
		
	});
<% end %>

<h3 class="title"><%=t('email_notifications.title')%></h3>
<div>
	<% form_for :update, @email_notifications, :url => { :action => "update" }, :html => { :method => :put, :id => "Updateform" } do |f| %>
	<%= f.hidden_field :notification_data, { :id => "AllNotification" } %>
	<div class="grid">
		<table border="0">
			<tr>
				<th><%=t('email_notifications.event')%></th>
				<th><%=t('email_notifications.requestor_notification')%></th>
				<th><%=t('email_notifications.agent_notification')%></th>
			</tr>
			<% @notifications.each do |item| %>
			<% data = item[:obj] %>
			<tr class="main_rows" notify_type=<%= data.id %>>
				<td><%= item[:type] %> </td>
				<td>
					<% if (item[:requester])  %>
						<input type="checkbox" name="requester_notification" class="checkbox requester" <%= (data.requester_notification) ? "checked" : "" %> />
						<a href="javascript:void(0)" showdiv="requester_div" class="notify_check"><%=t('email_notifications.customize_email')%></a>
					<% end %>
					&nbsp;
					
				</td>
				<td>
					<% if (item[:agent])  %>
						<input type="checkbox" name="agent_notification" class="checkbox agent" <%= (data.agent_notification) ? "checked" : "" %> />
						<a href="javascript:void(0)" showdiv="agent_div" class="notify_check"><%=t('email_notifications.customize_email')%></a>
					<% end %>
					&nbsp;					
				</td>				
			</tr>
			<tr style="display:none;" notify_type=<%= data.id %>>
				<td colspan="3">
					<div class="requester_div">
						<% id_area = "#{data.id}_REQ_TEXTAREA" %>
						<a href="javascript:void(0)" class="link_placeholder" SELECT_AREA="<%= id_area %>"><%=t('email_notifications.insert_placeholder')%> &raquo;</a>
						<h4 class="title"><%=t('email_notifications.modify_requester_template')%></h4> 
						
						<textarea name="requester_template" id='<%= id_area %>' class="requesteremail"><%= h ("#{data.requester_template}") %></textarea> 
						<input type="hidden" value="<%= h ("#{data.requester_template}") %>" />
						
						<a href="javascript:void(0)" class="uiButton small close_template"><%=t('done')%></a>
						<a href="javascript:void(0)" class="uiButton small reset_template"><%=t('reset')%></a>
					</div>
					<div class="agent_div">
						<% id_area = "#{data.id}_AGENT_TEXTAREA" %>
						<a href="javascript:void(0)" class="link_placeholder" SELECT_AREA="<%= id_area %>"><%=t('email_notifications.insert_placeholder')%> &raquo;</a>
						<h4 class="title"><%=t('email_notifications.modify_agent_template')%></h4> 
						
						<textarea name="agent_template" class="agentemail" id="<%= id_area %>"><%= h ("#{data.agent_template}") %></textarea>
						<input type="hidden" value="<%= h ("#{data.agent_template}") %>" />
						
						<a href="javascript:void(0)" class="uiButton small close_template"><%=t('done')%></a>
						<a href="javascript:void(0)" class="uiButton small reset_template"><%=t('reset')%></a>
					</div> 
				</td>
			</tr>
			<% end %> 
			
		</table>
		<div class="button-container">
			<%= link_to "&larr; #{t('account.cancel')}", "/admin/home", :class => "uiButton floatl" %>
			<%= f.submit t('save'), { :class => "uiButton" } %>
		</div>
	</div>
	<% end %>
</div>

<% content_for :pagefixed do %>
	<%= render :partial => "/shared/placeholder_help" %>
<% end %>
