<%
date_range = params[:date_range].blank? ? "#{(Time.zone.now.ago 30.day).strftime("%d %B %Y")} - #{Time.zone.now.strftime("%d %B %Y")}" :  h(params[:date_range])
%>
<script src="/javascripts/report/date.js" type="text/javascript"></script>
<script src="/javascripts/report/daterangepicker.jQuery.js" type="text/javascript"></script>
<link href="/stylesheets/ui.daterangepicker.css" media="screen" rel="stylesheet" type="text/css">

<div class="sidepanel">
 <div > 
<%        

        if params[:category] == Survey::OVERALL
            details_link = survey_overall_report_url(:category=> params[:category])
        else
            details_link  = survey_detail_report_url(:entity_id => params[:entity_id], :category=> params[:category])            
        end        

%>
    <% form_for(details_link, { :action => details_link, :method => :post, :html => {:id => 'date_filter'}, :loading => "jQuery('#report_list').html('<div class=\"sloading loading-small loading-block\"></div>');" }) do %>
    <ul class="ui-form">
           <input type="hidden" name="category" value="<%=params[:category]%>">
           <input type="hidden" name="rating" value="<%=params[:rating]%>">
           <input type="hidden" name="entity_id" value="<%=params[:entity_id]%>">
           <li class="inline-field">                
                    <b><%=t('reports.survey_reports.sidebar.view_report_date')%></b>
                    <%= text_field_tag :date_range, date_range, :class => "required"%>
            </li>
            <li class="inline-field">
                <div>
                    <%= submit_tag t('reports.summary_report.show_report'), :class => "uiButton" %>
                </div>
            </li>
    </ul>
    <%end%> 
 </div>     
</div>

<% javascript_tag do %>     
    jQuery(document).ready(function() {
        jQuery("#date_range").daterangepicker({
        earliestDate: Date.parse('1/1/2009'),
        latestDate: new Date(),
        presetRanges: [
            {text: '<%= t('reports.date_ranges.today') %>', dateStart: 'Today', dateEnd: 'Today' },
            {text: '<%= t('reports.date_ranges.yesterday') %>', dateStart: 'Today-1', dateEnd: 'Today-1' },
            {text: '<%= t('reports.date_ranges.last_7_days') %>', dateStart: 'Today-8', dateEnd: 'Today-1' },
            {text: '<%= t('reports.date_ranges.last_30_days') %>',dateStart: 'Today-31', dateEnd: 'Today-1'},
            {text: '<%= t('reports.date_ranges.last_90_days') %>',dateStart: 'Today-91',  dateEnd: 'Today-1'}
        ],
        presets: {
            dateRange: '<%= t('reports.date_ranges.custom') %>'
        },
        dateFormat: 'dd MM yy',
        closeOnSelect: true
    });   

    jQuery("#date_range").bind('keypress keyup keydown', function(ev) {
        ev.preventDefault();
        return false;
    });

    });
<%end%>