<%
date_range = params[:date_range].blank? ? "#{30.days.ago.strftime("%d %B %Y")} - #{Time.now.strftime("%d %B %Y")}" :  h(params[:date_range])
%>
<%= javascript_include_tag  '/javascripts/report/date' %>
<%= javascript_include_tag  '/javascripts/report/daterangepicker.jQuery.js' %>
<%= stylesheet_link_tag 'ui.daterangepicker' %>

<div class="sidepanel">
 <div >	
 	<% remote_form_for(survey_activity_url, { :method => :post, :html => {:id => 'report_filters'},:update => "report_list", :loading => "jQuery('#report_list').html('<div class=\"loading-box\"></div>');" }) do %>
 	<ul class="ui-form">
    	   <li class="inline-field">
			<b><%=t('.filter_by')%></b>
			<%=select_tag :category , options_for_select(Survey::FILTER_BY_ARR) ,{ :multiple => false, :class => "customSelect filter_item chzn-done"}%>
		   </li>	
    	   <li class="inline-field">				
					<b><%=t('.view_report_date')%></b>
					<%= text_field_tag :date_range, date_range, :class => "required"%>
			</li>
			<li class="inline-field">
				<div>
					<%= submit_tag t('reports.summary_report.show_report'), :class => "uiButton" %>
				</div>
			</li>
	</ul>
	<%end%>	
 </div>		
</div>

<div class="sidepanel helpcard">
	<p>	<%= t('.helptext') %> </p>
</div>

<% javascript_tag do %> 	
	jQuery(document).ready(function() {
	    jQuery("#report_filters").change(function(){
    	jQuery("#report_list").html("<div class='loading-box'></div>"); 
    	jQuery.ajax({
        url: '<%=survey_activity_url%>',
        type: "POST",
        data: jQuery(this).serializeArray(),
        success: function(data){ 
		   jQuery("#report_list").hide().html(data).fadeIn(300);
        	}
			});
      	});      	
		jQuery("#date_range").daterangepicker({
		earliestDate: Date.parse('1/1/2009'),
		latestDate: new Date(),
		presetRanges: [
			{text: '<%= t('reports.date_ranges.today') %>', dateStart: 'Today', dateEnd: 'Today' },
			{text: '<%= t('reports.date_ranges.yesterday') %>', dateStart: 'Today-1', dateEnd: 'Today-1' },
			{text: '<%= t('reports.date_ranges.last_7_days') %>', dateStart: 'Today-8', dateEnd: 'Today-1' },
			{text: '<%= t('reports.date_ranges.last_30_days') %>',dateStart: 'Today-31', dateEnd: 'Today-1'},
			{text: '<%= t('reports.date_ranges.last_90_days') %>',dateStart: 'Today-91',  dateEnd: 'Today-1'}
		],
		presets: {
			dateRange: '<%= t('reports.date_ranges.custom') %>'
		},
		dateFormat: 'dd MM yy',
		closeOnSelect: true
	});   

	jQuery("#date_range").bind('keypress keyup keydown', function(ev) {
		ev.preventDefault();
		return false;
	});
		
	});
<%end%>