<%= include_stylesheets :satisfaction  %>

<div id="report-container" class="report-container">
<div class="satisfaction-head">
		<span id="back_to_con" class="floatr">	
			<%= link_to_function("&larr; #{t('reports.survey_reports.back_to')}", :onclick => "jQuery(\"#report_filters\").submit();", :class => "slim-button", :id => "back_to_link") %>
		</span>
		<h3 class="title" id="report-main-title">		          
		  <%= t('reports.satisfaction_title') %><br />		  
		</h3>
		<span id="date_range_title" style="align:left"><%= params[:date_range] %></span>		                                                        
</div>

<% content_for :sidebar do %>
	<%= render :partial => "/reports/survey_reports/sidebar" %>
<%end%>
	
 <div id="report_list">
	<%= render :partial => "/reports/survey_reports/list" %>
</div>
</div>