<div>Hi,</div><br/>
<div>
  <%= %(#{@account.admin_first_name}, admin of #{@account.full_domain} placed a request to cancel the account just now. ) %>
</div>
<br/>
<div>
  <ul>
    <li><%= %(Contact email: #{@account.admin_email} ) %></li>
    <li>Account ID: <%= link_to @account.id,@freshops_account_url%> </li>
    <li><%= %(Domain: #{@account.full_domain})%></li>
    <li><%= %(Plan: #{@account.subscription.subscription_plan.name}) %></li>
    <li><%= %(Billing period: #{@billing_period}) %></li>
    <li><%= %(Agents: #{@account.subscription.agent_limit}) %> <%= "(#{pluralize(@account.subscription.free_agents, 'free agent')})" if @account.subscription.free_agents > 0 %></li>
    <li>MRR: <b><%=@account.currency_name%> <%= @account.subscription.amount/@account.subscription.renewal_period %>
      <% unless @account.currency_name == "USD"%>
        ($ <%= (@account.subscription.usd_equivalent/@account.subscription.renewal_period).round(1) %>)
      <%end%></b>
    </li>
    <li>Current billing start date (YYYY-MM-DD): <%= @billing_start_date %></li>
    <% if @account.launched?(:downgrade_policy) %>
      <li>Effective date (YYYY-MM-DD): <%= @account.subscription.next_renewal_at.to_date.to_s %></li>
    <% end %>
    <% if @field_technicians.present? %>
      <li>Field Technician: <%= @field_technicians %></li>
    <% end %>
  </ul>
</div>

<div>The reason for them leaving is: <b><%=%(#{@reason[:title]})%></b><%=%(They also said: '#{@reason[:additional_info]}') unless @reason[:additional_info].nil?%></div><br/>
