<% period = { 1 => "Monthly", 3 => "Quarterly", 6 => "Half Yearly", 12 => "Annual" } %>
<p>
	Admin Email ID : <%= @subscription.account.account_admin.email %><br>
	Account ID : <%= @subscription.account_id %><br>
	Domain : <%= @subscription.account.full_domain %><br>
</p>

<div>
	Previously,
	<div style="margin-left:8px;">
		Plan : <%= SubscriptionPlan.find(@old_subscription[:subscription_plan_id]).name %><br> 
		Billing Period : <%= period[@old_subscription[:renewal_period]] %><br> 
		Agents : <%= @old_subscription[:agent_limit]%> <%= "(#{pluralize(@old_subscription[:free_agents], 'free agent')})" if @old_subscription[:free_agents] > 0 %><br>
		Revenue : <b>$<%= @old_subscription[:amount] %></b>
	</div><br>

	Now,
	<div style="margin-left:8px;">
		Plan : <%= @subscription.subscription_plan.name %><br> 
		Billing Period : <%= period[@subscription.renewal_period] %><br>
		Agents : <%= @subscription.agent_limit %> <%= "(#{pluralize(@subscription.free_agents, 'free agent')})" if @subscription.free_agents > 0 %><br>
		Revenue : <b>$<%= @subscription.amount %></b>
	</div>
</div>