<div>
	<div><strong><%= t('.marked') %></strong></div>
	<div>
		<%= t('.contact_deleted') %>
		<%= link_to t('.restore_contact'), restore_contact_path(@post.user_id),
			:method => :put,
			:class => 'restore',
			:"data-track" => 'Restore Banned User',
			:remote => true,
			:id => 'restore-ban'
		%>
	</div>
	<div><%= t('.cleared_rest') %></div>
</div>

<%-# TODO-RAILS3 - Move to js files -%>
<%= javascript_tag do %>
(function($) {
  $("#restore-ban").click(function(){
  	$(this).hide(); 
  	$(this).parent().addClass('sloading loading-small')
  });
})(jQuery)
<% end %>