<div>
	<div><strong><%= t('.marked') %></strong></div>
	<div id='restore_contact_<%= @post.id %>'>
		<%= t('.contact_deleted') %>
		<%= link_to t('.restore_contact'), restore_contact_path(@post.user_id),
			:method => :put,
			:class => 'restore',
			:"data-track" => 'Restore Banned User',
			:"data-hide-before" => 'this',
			:"data-loading" => "restore_contact_#{ @post.id }",
			:"data-loading-classes" => 'sloading loading-small',
			:remote => true,
			:id => 'restore-ban'
		%>
	</div>
	<div><%= t('.cleared_rest') %></div>
</div>
