<% form_for @user, :url => activate_path(@user.id), :html => { :rel => "validate", :class => "form-portal" } do |form| %>
	<%= form.error_messages %>
	<fieldset>
	  	<div class="control-group">
			<%= form.label :name, t('user.full_name'), :class => "control-label" %>
			<div class="controls">
				<%= form.text_field :name, :class => "text special span6" %>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :password, t('password'), :class => "control-label" %>
			<div class="controls">
				<%= form.password_field :password, :class => "text special password span6"  %>
			</div>
		</div>
		<div class="control-group">
			<%= form.label :password_confirmation, t('profile.confirm_password'), :class => "control-label" %>
			<div class="controls">
				<%= form.password_field :password_confirmation, :class => "text special password span6"  %>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary"> <%= t('activate_and_login') %> </button>
	  	</div>	
	</fieldset>
<% end %>
