<ul>
	<li>
		<%= form.label :name, "Enter a nick name" %>
		<%= form.text_field :name %>
	</li>
	<li>
		<label>You will be signing in with</label>
		<label><%= "<strong>#{@user.email}</strong>" %></label>
	</li>
	<li class="small">
		<%= form.label :password, "Set your password" %>
		<%= form.password_field :password, :class => "password" %>
	</li>
	<li>
		<%= form.label :password_confirmation %>
		<%= form.password_field :password_confirmation %>
	</li>
</ul>