<ul class="ui-form">
	<li>
		<%= form.label :name, t('user.full_name') %>
		<%= form.text_field :name, :class => "text" %>
	</li>
	<li>
		<%= content_tag(:label, t('sign_in_info')) %>
		<label><%= "<strong>#{@user.email}</strong>" %></label>
	</li>
	<li>
		<%= form.label :password, t('set_password') %>
		<%= form.password_field :password, :class => "text password"  %>
	</li>
	<li>
		<%= form.label :password_confirmation %>
		<%= form.password_field :password_confirmation, :class => "text password"  %>
	</li>
	<li>
		<%= form.submit t("activate"), :class => "uiButton" %>
	</li>
</ul>