<% form_remote_for :twitter_handle, :url => social_twitter_path(@item), :html => { :method => :put } do |f| %>
<ul class="ui-form">
	<li class="inline-field">
		<label>
			<div class="preview_pic">
				<span class="tweet_pic"></span>
				<%= image_tag(@twitter_user.profile_image_url)  %>
			</div>
			<%= content_tag(:h2, @twitter_user.name, :class => "title") %>
			<div class="intro">@<%= @twitter_user.screen_name %></div>
		</label> 
		<span class="seperator"></span>
		<label class="checkbox">
			<%= check_box "social_twitter_handle", :capture_mention_as_ticket, { :checked => @item.capture_mention_as_ticket } %> 	
			Capture <strong>"Mentions"</strong> as ticket
		</label>
		<div class="info-data tabbed">
			Freshdesk will convert any mentions of this Twitter account into tickets.
		</div>				
		<span class="seperator"></span>
		<label class="checkbox">
			<%= check_box "social_twitter_handle", :capture_dm_as_ticket, { :checked => @item.capture_dm_as_ticket } %> 
			Capture <strong>"Direct messages"</strong> as ticket
		</label>
		<div class="info-data tabbed">
			Freshdesk will convert any Direct messages to this Twitter account into tickets.
		</div> 
		<span class="seperator"></span>
		<label>Search Keywords</label>
		<%= text_area_tag "search_keys_string", @item.search_keys_string, :class => "sp_paragraph auto-height", :rows => "2" %>  
		<div class="info-data">
			<strong>Note:</strong> You can add multiple search keywords separated by comma.
		</div> 
	</li>
</ul>
<div class="button-container">
	<%= link_to( t('delete'), social_twitter_path(@item), :method => 'delete', :confirm => "Are you sure you want to delete #{@twitter_user.screen_name}?", :class => "uiButton" ) %>
	<%= f.submit "Save settings", :class => "uiButton"  %>
</div>
<% end %>