<% content_for :sidebar do -%>
<%-end %>
<% first_search = nil %>
<h3 class="title">
	Twitter
</h3>
<div class="page-list">
	<table class="tweet-table">
		<tr>
			<td class="left-panel">
			  <% @twitter_accounts.each do |twitter_handle| %>
			    <h4 class="title"><%= twitter_handle.product.name %></h4>
			    <div class="intro">@<%= twitter_handle.screen_name %></div>
			    <ul class="search-keys" id="search_keys">
					  <% twitter_handle.search_keys.each do |search_key| %>
  					  <li>
  							<span class="icon"></span>
  							<% selected_class = (first_search.nil?) ? "selected" : "" %>
  							<%= link_to( h(search_key), "#", :class => "item_info #{selected_class}", :twitter_id => twitter_handle.id,:product_id => twitter_handle.product.id, :title => h(search_key) ) %>
  							<% first_search ||= h(search_key)  %>
  						</li>
					  <% end %>
					</ul>
					<span class="seperator"></span>
			  <% end %>
			</td>
			<td>
				<div class="search-grey-box">
					<div class="live_search">
						<form action="#" name="search_twitter" id="search_twitter">
							<label class="overlabel" for="twittersearch">Search twitter</label>
							<input class="search" type="text" id="twittersearch" />
							<input type="submit" value="Search twitter" class="uiButton" />
						</form>
					</div>
				</div>
				<div class="info-results" id="tweet_results_info" style="display:none;">
					Results for <strong id="tweet_results_string"></strong>
				</div>
				<div class="info-highlight" id="tweet_no_search">
				  No Search Default search keywords are defined for any of your twitter handle.				  
				</div>
				<div class="info-highlight" id="tweet_noresults" style="display:none;">
				  No Tweet results for <strong id="tweet_noresults_string"></strong>.
				</div>
				<div id="twitter_results" class="list-group"></div>
				<script id="tweetTemplate" type="text/x-jquery-tmpl">
				  <div class="list-item" id="TWEET_DIV_${id_str}" data-tweet-id="${id_str}">
						<div class="preview-pic">
							<img src="${profile_image_url}" />
						</div>
						<a href="http://twitter.com/${from_user}" target="_blank" class="username">${from_user}</a>
						<div class="primary-text autolink">${text}</div>
						<div class="info-data">
						  <div class="floatr">
						    <span class="item_actions">
						      <a href="#" data-user="${from_user}" class="button reply_button">
						        Reply
					        </a>
  						    <a href="#" data-text="${text}" data-user="${from_user}" data-tweet-id="${id_str}" class="button convert_as_ticket">
  							    Convert to Ticket
  						    </a>
  						  </span>
						    <a href="#" class="button goto_ticket" style="display:none;" target="_blank">
						      Go to Ticket
						    </a>
						  </div>
							<span class="prettydate" title="${created_at}">${humaneDate(new Date(created_at))}</span>
						</div>
					</div>
				</script>
				<div class="more_results">
					<a id="moreTweets" style="display:none;" href="javascript: jQuery('#twitter_results').tweetfeed('nextpage')" class="uiButton">Show more results</a>
				</div>
				</div>
			</td>
		</tr>
	</table>
</div>
<% javascript_tag do -%>
  function check_tweets_with_tickets( update_div ){
    var tweet_ids = [];
    jQuery.each(update_div, function(index, item){
      tweet_ids.push(item.getAttribute("data-tweet-id"));
    })
    data = { tweet_ids : tweet_ids.toString() };
    jQuery.ajax({ 
        url: "<%= tweet_exists_social_twitters_url %>",
        dataType: 'json',
        data: data,
        success: function(data){ 
          try{
            $H(data).each(function(item){            
              tweet_converted_to_ticket(item[0], item[1]);            
            });
          }catch(e){}
        }
    });
  }
  function tweet_converted_to_ticket( tweet_id, ticket_id ){ 
    jQuery("#TWEET_DIV_"+tweet_id)
	    .addClass("tweet_converted")
	    .find(".goto_ticket")
			.show()
	    .attr("href", "<%= helpdesk_tickets_url %>/"+ticket_id);
  } 
<%- end %>

<% javascript_tag do -%>
  var current_product_id = <%= @twitter_accounts.first.product.id %>,
      current_twitter_id = <%= @twitter_accounts.first.id %>,
      feed = null;
      
	function initTweetFeed(query){
	  jQuery("#tweet_no_search").hide();
		feed = jQuery("#twitter_results").tweetfeed({ 
                    "query"       : query, 
                    "templateid"  : "#tweetTemplate",
                    onbeforeload  : function(setting){
                      jQuery("#tweet_results_info").hide();
                      jQuery("#tweet_noresults").hide();
                      jQuery("#moreTweets").css("visibility", "hidden");
                    },
                    onafterload   : function(setting, hasresults, update_div){
                      if(hasresults){										  
                        jQuery("#tweet_results_info").show();
                        jQuery("#tweet_results_string").html(setting.query);
                        jQuery("#moreTweets").css("visibility", "visible"); 
                      }else{
                        jQuery("#tweet_noresults").show();
                        jQuery("#tweet_noresults_string").html(setting.query);
                      }										
                      check_tweets_with_tickets( update_div );
                    }
                  });

     setInterval(function(){ jQuery("#twitter_results span.prettydate").humaneDates(); }, 60000);
	}
<%- end %>
<% content_for :onload_script do -%>
  <% unless first_search.blank? %>
    initTweetFeed("<%= first_search %>");
  <% end %>   
	jQuery("#search_keys .item_info")
			.click(function(e){
			        e.preventDefault();
			        jQuery("#search_keys .item_info").removeClass("selected");
			        jQuery(this).addClass("selected");
			        jQuery('#twittersearch').val(jQuery.trim(this.title)).trigger("focus");
			        current_product_id = jQuery(this).attr("product_id");
			        current_twitter_id = jQuery(this).attr("twitter_id");
			        jQuery("#search_twitter").trigger("submit");
						});
						
	jQuery("#search_twitter")
			.submit(function(){
				jQuery('#twitter_results').tweetfeed('search_query', jQuery('#twittersearch').val());
				return false;
			});
			
	jQuery("#twittersearch")
	  .change(function(){
	    current_product_id = null;
	    current_twitter_id = 0;
	  });
			
	jQuery("#twitter_results a.reply_button")
	  .live("click", function(e){
	    e.preventDefault();  
	    var user = jQuery(this).attr("data-user");
	    jQuery("#twitter_handle").val(current_twitter_id);
	    jQuery("#tweet_form").dialog({  modal:true, width:'600px', height:'auto', position:'top',
                                      title: "Reply to @" + user, resizable: false, draggable: false });

	    jQuery("#tweet_text_area").val("@"+user+" ").trigger("focus");	    
	  });
	 
			
	jQuery("#twitter_results a.convert_as_ticket")
	  .live("click", function(e){
	    e.preventDefault();
	    
	    var screen_name = jQuery(this).attr("data-user"),
	        tweet_text  = jQuery(this).attr("data-text"),
	        tweet_id    = jQuery(this).attr("data-tweet-id"),
	        json_data   = { "subject"          : screen_name + ' - ' + tweet_text,
	                        "description"      : tweet_text,
	                        "email_config_id"  : current_product_id,
	                        "group_id"         : current_group_id,
	                        "twitter_id"       : screen_name,
	                        "tweet_attributes" : { "tweet_id": tweet_id, "account_id": <%= current_account.id %>  }};
      link = jQuery(this);
       
      jQuery.ajax({
      	type: 'POST',
      	url : 'create_twicket',
      	data: {	helpdesk_tickets: json_data },
      	datatype:'json',
      	success: function(data){
      		if(data.success){
      		  jQuery("#TWEET_DIV_"+tweet_id)
      		    .effect("highlight", {}, 2500)
      		    .addClass("tweet_converted")
      		    .find(".goto_ticket")
							.show()
      		    .attr("href", data.ticket_link);      		    
      		}      		
      	}
      });
	  });
<%- end %> 

<div id="tweet_form" style="display:none;">  
  <% form_remote_tag :url => { :action => "send_tweet" }, :html => { :class => "uniForm" } do %>
  <div class="dialog-special">
   <div class="content">
    <table>
      <tr>
        <td>
          Send From:
        </td>
        <td>
          <%= select_tag :twitter_handle, options_from_collection_for_select(current_account.twitter_handles, :id, :screen_name) %>
        </td>
   	  </tr>				
	    <tr>
	      <td>
	        Tweet:
	      </td>
        <td>
	        <%= text_area "tweet", :body, { :class => 'required tweet', :id => 'tweet_text_area' } %>
	        <div class="info-data">
	          <strong>Note:</strong> The current reply will not be registered as a ticket or a conversation.
          </div>
	      </td>
	    </tr>
    </table>  
   </div>
  </div>  
  <div class="button-container">     
    <%= submit_tag "Tweet", :class => "uiButton" %>
  </div>
  <% end %>
</div>