<% content_for :sidebar do -%><%-end %>
<h3 class="title">Twitter settings</h3>
<ul class="ui-form">
	<li class="inline-field">
    <input type="checkbox" id="show_twitter" onclick="jQuery('#twitterverify').toggle()" />
	  Associate a twitter account
	  <%= content_tag( :div, t("twitter.associate_twitter"), :class => "info-data tabbed" ) %>
	  <div class="info-data tabbed loading-center" id="twitterverify" style="display:block;"></div>
	</li>
</ul>
	
<%= link_to_function "Add Twitter", "twitter_signin(#{current_account.primary_email_config.id})" if current_account.primary_email_config.twitter_handle.nil?%> 

<% unless current_account.primary_email_config.twitter_handle.nil? %>
	@<%=current_account.primary_email_config.twitter_handle.screen_name%>
	<%= link_to "settings", edit_social_twitter_path(current_account.primary_email_config.twitter_handle) %> 
	<%= link_to "Search", search_social_twitter_path(current_account.primary_email_config.twitter_handle) %>
	<%= link_to(t('delete'), social_twitter_path(current_account.primary_email_config.twitter_handle), :method => 'delete', :confirm => "Are you sure you want to delete this twitter account?" ) %>
     	
<%end%>

<% content_for :pagefixed do %>
  <% javascript_tag do %>
    jQuery("#twitterverify")
      .load('/social/twitters/signin?product_id='+<%=current_account.primary_email_config.id %>, function() {
        //jQuery("#twitterverify").removeClass("loading-center");
      });      
  <% end %>
<% end %>			 