<% content_for :sidebar do -%><%-end %>
<h3 class="title">Twitter settings</h3>
<ul class="ui-form">
	<li class="inline-field">
	  <% if current_account.primary_email_config.twitter_handle.nil? %>
  	  <div class="admin_help_image">
        <%= get_img("twitter-admin-page.png", :help) %>
        <div class="content">
          <h2 class="title">Engage your customers, directly on twitter</h2>
          <p class="info-data">
            Associate your helpdesk’s twitter account and respond to your customers with a tweet or message from within Freshdesk.
          </p>
          <a href="<%=@wrapper.authorize_url%>" class="uiButton-active">Add twitter account</a>
        </div>
      </div>
    <% end %>  
		<div id="twittersetting">
			<% unless @twitter_handle.nil? %> 
				<% form_for :twitter_handle, :url => social_twitter_path(@twitter_handle), :html => { :method => :put } do |f| %>
				<label class="caption">
					<div class="preview_pic">
						<span class="tweet_pic"></span>
						<%= image_tag(@twitter_user.profile_image_url)  %>
					</div>
					<%= content_tag(:h2, @twitter_user.name, :class => "title") %>
					<div class="intro">
						@<%= @twitter_user.screen_name %>
					</div>
				</label>
				<div class="fields">
				<label class="checkbox">
					<%= check_box "social_twitter_handle", :capture_mention_as_ticket, { :checked => @twitter_handle.capture_mention_as_ticket } %> 	
					Capture <strong>"Mentions"</strong> as ticket
				</label>
				<div class="info-data tabbed">
					Freshdesk will convert any mentions of this Twitter account into tickets.
				</div>				
				<span class="seperator"></span>
				<label class="checkbox">
					<%= check_box "social_twitter_handle", :capture_dm_as_ticket, { :checked => @twitter_handle.capture_dm_as_ticket } %> 
					Capture <strong>"Direct messages"</strong> as ticket
				</label>
				<div class="info-data tabbed">
					Freshdesk will convert any Direct messages to this Twitter account into tickets.
				</div> 
				<span class="seperator"></span>
				<label>Search Keywords</label>
	 				<%= text_area_tag "search_keys_string", @twitter_handle.search_keys_string, :class => "sp_paragraph auto-expand", :size => "1x1" %>  
					<div class="info-data">
						<strong>Note:</strong> You can add multiple search keywords separated by comma.
					</div>
				</div>
				<span class="seperator"></span>
				<div class="button-container">
					<%= link_to(t('delete'), social_twitter_path(current_account.primary_email_config.twitter_handle), :method => 'delete', :confirm => "Are you sure you want to delete this twitter account?", :class => "uiButton" ) %>
					<%= f.submit "Update settings", :class => "uiButton"  %>
				</div>
			<% end %>
		<% end %>
		</div>
	</li>
</ul> 
<div class="button-container">
	<%= link_to t("go_back_admin"), "/admin/home", :class => "uiButton floatl" %>
</div>
