<div id="collab-sidebar" class="collab-sidebar hide">
  <div id="title-row" class="title-row">
    <div class="collab-logo">
      <%= font_icon "huddle-logo", { :class => "logo-image"} %>
    </div>
    <div class="title-tabs clearfix">
      <div id="discussion-tab-btn" class="tab active"><%=t('collaboration.discussion')%></div>
      <div id="collaborators-tab-btn" class="tab disabled"><%=t('collaboration.collaborators')%>
        (<span class="count" id="collaborators-count"></span>)
      </div>
    </div>
    <%= font_icon "cross", { :size => 18 , :class => "collab-close-icon", :id => "collab-close-icon"} %>
  </div>
  <div id="collab-chat-section" class="collab-chat-section active">
    <div id="empty-chat-content" class="empty-chat-content">
      <div class="collab-logo">
        <img class="logo-image" alt="Logo" data-type="logo" onerror="default_image_error(this)" src="/assets/collab/huddle-logo-green.svg">
      </div>
      <div>
        <div class="collab-motto"><%=t('collaboration.collab_motto')%></div>
        <div class="collab-slogan"><%=t('collaboration.collab_motto_slogan1')%></div>
        <div class="collab-slogan"><%=t('collaboration.collab_motto_slogan2')%></div>
      </div>
    </div>
    <div class="collab-scroll-box-cover">
      <div class="follow-btn-row">
        <label class="collab-btn-switch collab-follow-btn">
          <input type="checkbox">
          <span class="collab-btn-switch-slider"></span>
        </label>
        <span><%=t('collaboration.follow_discussion')%></span>
      </div>
      <div id="scroll-box" class="scroll-box"></div>
      <div id="collab-scroll-bottom-btn" class="collab-scroll-bottom-btn">
        <span class="scroll-bottom">
          <%= font_icon "arrow-down", { :size => 20 , :class => "ficon"} %>
        </span>
      </div>
    </div>
    <div class="collab-activity-container">
      <form id="send-collab-message-form" class="send-collab-message-form" autocomplete="off">
        <div id="collab-flash-popup" class="collab-flash-popup">
          <span class="collab-flash-icon-wrapper">
            <%= font_icon "warning", { :size => 24 , :class => "ficon collab-flash-icon"} %>
          </span>
          <p class="collab-flash-text" id="collab-flash-text"></p>
        </div>
        <div id ="collab-attachment-section" class="collab-attachment-section">
          <div class="collab-attached-image-section">
            <span class="collab-attachment-image" id="collab-attachment-image"></span>
            <b class="collab-attachment-name ellipsis" id="collab-attachment-name"></b>
            <span class="collab-attachment-name-separator">&#8211;</span> <p class="collab-attachment-size ellipsis" id="collab-attachment-size"></p>
          </div>
          <span id="collab-attachment-cancel-icon" class="collab-button collab-attachment-cancel-icon tooltip" data-placement="left" title='<%= "#{t('collaboration.remove_file')}" %>'> <%= font_icon "cross", { :size => 20 , :class => "ficon"} %> </span>
        </div>

        <div id="annotation" class="annotation">
          <span class="text"></span>
          <span class="close" id="cancel-annotation"> <%= font_icon "cross", { :size => 20 , :class => "ficon"} %> </span>
        </div>

        <div id="collab-msg-reply-to" class="collab-msg-reply-to">
          <span class="text"></span>
          <span class="close" id="cancel-reply"> <%= font_icon "cross", { :size=> 20 , :class => "ficon" } %> </span>
        </div>

        <div class="collab-editor-container">
          <textarea id="send-message-box" class="send-message-box" placeholder="<%=t('collaboration.send_msg_placeholder', :newline_key => 'Shift+Enter', :send_key => 'Enter')%>"></textarea>
          <div class="collab-disable-meta">
            <span class="collab-disabled-reason"></span>
          </div>
        </div>
        <div id="collab-typing-status" class="collab-typing-status"> </div>
        <div class="collab-action-btns">
          <span class="collab-highlightmode-btn collab-action-btn tooltip" data-placement="above" title='<%= "#{t('collaboration.highlight_mode_on')}" %>'>
            <%= font_icon "highlightmode", { :size => 14 , :class => "collab-highlightmode-icon collab-action-btn-icon" , :id => "collab-highlightmode-icon"} %>
          </span>
          <span class="collab-attachment-btn collab-action-btn tooltip" data-placement="above" title='<%= "#{t('collaboration.attach_file')}" %>'>
            <input id="collab-attachment-input" class="collab-attachment-input" name="file" type="file">
            <%= font_icon "attachment", { :size => 14 , :class => "collab-attachment-icon collab-action-btn-icon", :id => "collab-attachment-icon"} %>
          </span>
          <span class="collab-attachment-help-info">( <%= "#{t('attachment_help_info', 
            :attachment_size => 15)}" %> )</span>
        </div>
      </form>
    </div>
  </div>
  <div id="collaborators-list" class="collaborators-list">
    <div id="collaborators-list-items" class="collaborators-list-items">
    </div>
  </div>

  <div class="collab-hovercard-cover" id="collab-hovercard-cover">
    <span class="hovercard-extension"></span>
    <div id="hovercard" class="hovercard"></div>
  </div>
</div>
<input type="hidden" id="collab-ticket-payload" data-ticket-payload="<%= Collaboration::Ticket.new(@ticket.display_id).ticket_payload %>">
