	<%
	
		
		@customizer = ActiveSupport::JSON.decode(@item.customizer.json_data)
		
		@customizer.each do |field|
			case field["label"]
			 when "Requester" then
    %>
	
			
	<% when "Subject" then%>		

	<%when "Source" then%>
		<li class="dropdown">
  			<%= f.label :source, t('ticket.source') %>
 			<%= f.select :source, Helpdesk::Ticket::SOURCE_OPTIONS, :class => "select" %>
        </li>
		
	<%when "Type" then%>
		
		<li class="dropdown">
          	<%= f.label :ticket_type, t('ticket.type') %>
         	<%= f.select :ticket_type, Helpdesk::Ticket::TYPE_OPTIONS, :class => "select" %>
        </li>
				
	<%when "Status" then%>
		<li class="dropdown">
          	<%= f.label :status, t('ticket.status') %>
         	<%= f.select :status, Helpdesk::Ticket::STATUS_OPTIONS, :class => "select" %>
        </li>
		
	<%when "Group" then%>
		<li class="dropdown">
          	<%= f.label :group_id, t('ticket.group') %>
          	<%= f.collection_select :group_id, Group.find_all_by_account_id(@item.account_id), :id, :name,{:include_blank => '...'}, { :onchange => "changeAggentList(this.options[this.selectedIndex].value)" ,:class => "select"} %>
        </li>
		
	<%when "Assigned to" then%> 
		<li class="dropdown" id="assigned_to">
          	<%= f.label :responder_id, t('ticket.assigned_to') %>
          	<%= f.collection_select :responder_id, Agent.technician_list(@item.account_id), :id, :name, {:include_blank => '...'}, :class => "select" %>
        </li> 
		
	<%when "Priority" then%>
		<li class="dropdown">
 			<%= f.label :priority, t('ticket.priority') %>          
			<%= f.select :priority, Helpdesk::Ticket::PRIORITY_OPTIONS, :class => "select" %>
    	</li>
	
	<%when "Description" then%>
			
	
	<%else%>
		<%logger.debug "Custom  Field #{field["label"]}"%>		
		<% fields_for :flexifields do |cust_form| %>
			<% 
				field_label = (field["agent"]["required"]) ? "#{field["display_name"]} " : "#{field["display_name"]}"  
				field_class = field["type"] + ((field["agent"]["required"]) ? " required" : "") 
			%>
			<% case field["type"] when "text","number" then %>				
				<li class="<%= field['label'] %>">		 

					<%= cust_form.label "#{field["label"]}", field_label %>  
 					<%= cust_form.text_field "#{field["label"]}" , :class=> field_class, :value =>@item.get_ff_value(field["label"]) %>

				</li>		 
						
			<% when "paragraph" then %>
				<li class="paragraph">

					<%= cust_form.label "#{field["label"]}", field_label %>  
 					<%= cust_form.text_area "#{field["label"]}" ,:class=> field_class , :value =>@item.get_ff_value(field["label"]) %>

				</li>
					
			<% when "dropdown" then %>
				<li class="dropdown"> 
					<% Array values =[]
						field["choices"].each {|choice| values.push(choice["value"])}%>

						 <%= cust_form.label "#{field["label"]}", field_label %>  
 						 <%= cust_form.select "#{field["label"]}", values ,:class=> field_class , :selected =>@item.get_ff_value(field["label"]) %>

			    </li>
							
		   <% when "checkbox" then %>
				<li class="checkbox">

					<%= cust_form.check_box "#{field["label"]}" ,:class => field_class  , :checked =>@item.get_ff_value(field["label"])%>					
					<%= field_label %>

			     </li>
		   <% end %>
		 <% end %>			 
		<% end %>
		<% end %>