<% email_list.each_with_index do |item, index| %>
    <div class="email-failure-list-item">
        <div class = "emails_label <%= index != 0 ? 'hide' : "" %>"> <%= emails_label %> : </div>
        <div class="error-details">
            <div class = "errored-email">
                <%= item["email"] %>
                <div class="action-items">
                    <% if current_user.privilege?(:admin_tasks) %>
                        <% if item["type"].include? "dropped" %>
                            <span class="ficon-mail-source drop-from-suppression tooltip" data-url="/helpdesk/tickets/<%= ticket_display_id %>/suppression_list_alert" data-user-mail="<%= item['email'] %>" data-original-title= "<%= t('email_failure.note_display.contact_support') %>"> </span>
                        <% end %>
                    <% else %>
                        <span data-failed-email="<%= item["email"] %>" class="ficon-file-edit add_note_admin tooltip" data-original-title= "<%= t('email_failure.note_display.add_note_to_admin') %>"> </span>
                    <% end %>
                </div>
            </div>
            <div class = "email-error-reason">
                <p>
                    <span class="summary-error-text">
                        <%= t("email_failure.#{item["type"] }.summary_error_text") %>
                    </span>
                    <a href="#" class="q-marker tooltip" data-original-title="<%= t('email_failure.note_display.show_details') %>" twipsy-content-set="true"></a>
                </p>
                <p class="long-text">
                    <% if (item["type"] == Helpdesk::Email::Constants::FAILURE_CATEGORY[0] || item["type"] == Helpdesk::Email::Constants::FAILURE_CATEGORY[1]) %>
                        <% if current_user.privilege?(:admin_tasks) %>
                          <%= t("email_failure.#{item["type"]}.help_text.admin") %>
                        <% else %>
                          <%= t("email_failure.#{item["type"]}.help_text.agent") %>
                        <% end %>  
                    <% else %>
                        <%= t("email_failure.#{item["type"]}.help_text") %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
<% end %>