<% content_for :onload_script do %>
		jQuery("#select_view_id").bind("change", function(ev){
			window.location = this.value;
		});
		jQuery("#assign-options-link").bind("click", function(ev){
			jQuery("#assign-options").show();
			jQuery(this).hide();
		});
<% end %>
<div class="view_filters">
	<%= current_custom_view %>
  <%= link_to "New and My Open Tickets", helpdesk_filter_view_default_path("new_my_open"), :class => "link-item" %>
  <%= link_to "Tickets I'm Monitoring", helpdesk_filter_view_default_path("monitored_by"), :class => "link-item" %>
  <%= link_to "Last selected", "", :class => "link-item" %>
  <div class="link-item">
    <%= link_to "#{@filters_options.size - 1} more", "", {:class => "drop-right nav-trigger", :id => "viewlistdrop", :menuid => "#ViewList"} %>
  </div>
    <% select_tag :custom_views,  @filters_options, { :class => "customSelect" } %> 
    <div class="fd-menu" id="ViewList" style="display:none; width:250px;">
      <ul>
        <% @filters_options.each_with_index do |filter, index| %>
            <li><%= link_to filter[:name], helpdesk_filter_view_custom_path(filter[:id]) %></li>
        <% end %>
      </ul>
      <span class="seperator"></span>
      <ul>
        <li><%= link_to "Spam", helpdesk_filter_view_default_path("spam") %></li>
        <li><%= link_to "Trash", helpdesk_filter_view_default_path("deleted") %></li>
      </ul>
    </div>
</div>