<% javascript_tag do -%>		
	function merge_with_this_request(ticket_id){		
		var parent_id = jQuery('#parent_ticket_id').val();
		var url = '/helpdesk/tickets/confirm_merge/'+parent_id+'?target_id='+ticket_id
	    		 // load remote content
	   			 jQuery("#Merge-dialog").load(url,{}, function(responseText, textStatus, XMLHttpRequest) {});
		return false;	
	}
<%- end %>

<div class="ticket-highlight">
  <%= h(@source_ticket.subject) + " (##{@source_ticket.display_id})" %>
  <div class="info-data">reported by <%=@source_ticket.requester.name%></div>
</div>
  <h3 class="merge-title">Enter a ticket id to merge into #
    <input id="merge_target_id" name="merge[target_id]" size="10" class="number auto" type="text">
    <input class="uiButton" name="commit" onclick="merge_with_this_request(jQuery('#merge_target_id').val())" value="Merge" type="button" />
  </h3>       
  <%= show_flash %>
<div class="or">- OR -</div>
<div>
  <h3 class="merge-title">Select from other tickets reported by <%= @source_ticket.requester.name %></h3>
  <div>
    <input type="hidden" name="parent_ticket" id="parent_ticket_id" value="<%=params[:id]%>" />	
    <ul class="history-list">	
      <%= render :partial => "/helpdesk/shared/ticket_to_merge", :collection => @items %>
    </ul>
  </div>
</div>