<% note_view_id = "note_view_"+note.id.to_s() 
 notedetails  = "note_details_#{note.id.to_s()}" 
 forward_note_id = "cnt-fwd-#{note.id.to_s()}"
 edit_id = "edit-#{note.id.to_s()}" 
 notable_object = @ticket || @parent
 %>
<div id="<%= note_view_id %>" class="description count <%= cycle('stripe', '') %>">  
   	<a name="<%= "note#{note.id}" %>"></a>
   	<div class="conversation-sprite">
			<% if note.private_note? %>	 
				<span class="image note-private tooltip" title='<%= t(".private_note") %>'></span>
			<% elsif note.public_note? %>
				<span class="image note-public tooltip" title='<%= t(".public_note") %>'></span>
			<% elsif note.inbound_email? %>
				<span class="image email-receive tooltip" title='<%= t(".inbound_email") %>'></span>
			<% elsif note.fwd_email? %>
				<span class="image email-forward tooltip" title='<%= t("forwarded_email") %>'></span>
			<% elsif note.outbound_email? %>
				<span class="image email-reply tooltip" title='<%= t(".outbound_email") %>'></span>
			<% elsif note.tweet? %>
				<span class="image tweet-note tooltip" title='Tweet'></span>			
			<% end %>
		</div> 
		<div class="actions">
	  	<% if privilege?(:manage_tickets) %>
        <% if privilege?(:edit_note, note) %>
			    <%= link_to_function(t("edit"), "jQuery('##{notedetails}').hide(); jQuery('##{edit_id}').show().trigger('afterShow');", {:class => "slim-button"}) if(note.note? && note.user && note.user.agent?) %>
        <% end %>
        <% if !note.private && privilege?(:forward_ticket) %>
	        <%= link_to_function(t("fwd_to"), "jQuery('##{forward_note_id}').show().trigger('afterShow');invokeRedactor('#{forward_note_id}-body')", {:class => "slim-button"}) %>
        <% end %>
	      <% if note.incoming && privilege?(:merge_or_split_ticket) %>
	        <%= link_to t('ticket.split_ticket'), { :action => :split_the_ticket , :note_id => note.id }, :method => :post, :class => "slim-button tooltip", :title => t(".split_this_as_new_ticket"), :confirm => t(".split_ticket_confirm") if @item && !@item.fb_post %>
	      <% end %>
        <% if privilege?(:edit_conversation) %>
	        <%= link_to( "", helpdesk_ticket_helpdesk_note_path(notable_object, note), :method => :delete, :class => "close-button", :confirm => t(".delete_note") ) if(note.user && note.user.agent?) %>   
        <% end %>
      <% end %>
    </div>
    <% if privilege?(:manage_tickets) and feature?(:gamification)  %>
	<textarea id="<%= "agent-hovercard_#{note.id}" %>" style="display:none;">
		<div class="contact_hover" style="min-height:50px;">	
		  <%= user_avatar(note.user,:thumb, "preview_pic" , { :width => "36px", :height => "36px" }) if note.user.agent? %>
		  <%= content_tag :div, link_to(CGI.escapeHTML(h(note.user)), note.user), :class => "user_name" %>
		  <% if feature?(:gamification) %>
		  		<% if note.user.agent? %>
		  			<strong><%= content_tag :div, h(note.user.agent.level.name) unless note.user.agent.level.blank? %></strong>
		  		<% end %>
		  <% end %>
          <%= content_tag :div, h(note.user.email), :class => "user_email" unless note.user.email.blank?  %>
          <div class="clearfix"></div>
          <%= content_tag :div, h(note.user.phone), :class => "user_phone" unless note.user.phone.blank?  %>
          <%= content_tag :div, h(note.user.mobile), :class => "user_mobile" unless note.user.mobile.blank?  %>
		</div>
	</textarea>
	<% end %>
	<div class="user_details">    
		<%= user_avatar(note.user, :thumb, "preview_pic" , { :width => "36px", :height => "36px" }) if note.user %>
    	<%= t(".posted_on", :user_name => note_responder(note), :note_date => formated_date(note.created_at) ) %>
		<br>
		<%  if privilege?(:manage_tickets)
			conv_info = conversation_info(note) %>
			<%= content_tag :span, truncate(conv_info, :length => 100), 
					:rel => "hover-popover", 
					"data-placement" => "below",
					"data-content" => conv_info.length > 100 ? conversation_popover_details(note) : "" %>
		<% end %>
  </div> 
  	<div id='<%= notedetails %>'>
	  	<div class="details">
			<div class="request_mail">
				<% 
			       	notes = note.body_html		       
			       	notes = "<span class='"+note.survey_remark.survey_result.get_small_img_class+"' style='float:left;margin-top:-11px;'></span>"+notes unless note.survey_remark.nil?
				%>			
				<%= notes %>
			</div>
		</div>
	    <% unless note.attachments.empty? %>
			<span class="seperator"></span>
			<h4 class="lowercase"><%= pluralize(note.attachments.size, t('attachment'), t('attachments'))%></h4>
			<ul class="attachment_list">
			    <%= render :partial => '/helpdesk/shared/attachment.html', :collection => note.attachments, :locals => {:show_delete => true, :url => [@item] } %>
			</ul>
		<% end %>
		<% unless note.dropboxes.empty? %>
			<ul class="attachment_list">
					<%note.dropboxes.each do |dropbox| %> 
					<%= render :partial => '/helpdesk/shared/dropbox.html',:locals => {:dropbox=>dropbox,           :show_delete => true, :url => [@item] } %>

					<%end%> 
			</ul>
		<% end %>
	</div>

	<%= content_tag :div, "", :id => "#{edit_id}", :class => "hide", :rel => "remote", 
							"data-remote-url" => edit_helpdesk_ticket_helpdesk_note_path(notable_object, note) %>
    <%= content_tag :div, "", :id => forward_note_id, :class => "request_panel note-forward-form hide", :rel => "remote", 
					"data-remote-url" => forward_conv_helpdesk_ticket_path({ 
												:id => notable_object.display_id, 
												:note_id => note.id }) %>
</div> 

