<% note_view_id = "note_view_"+note.id.to_s() %>
<div id="<%=note_view_id%>" class="description <%= cycle('stripe', '') %>">
   	<a name="<%= note.id %>" class="bookmark"></a> 
		<div class="conversation-sprite">
			<% if note.private_note? %>	 
				<span class="image note-private" title="Private note"></span>
			<% elsif note.public_note? %>
				<span class="image note-public" title="Public note"></span>
			<% elsif note.inbound_email? %>
				<span class="image email-receive" title="Incoming email"></span>
			<% elsif note.outbound_email? %>
				<span class="image email-reply" title="Outbound email"></span>
			<% end %>
			
	    </div>
		  
 	<div class="user_details">
		<% if note.user %>
			<%= user_avatar(note.user.avatar) %>
	       	<%= link_to(h(note.user.display_name), note.user, :class => "user_name") %>
		<% else %>
			System Generated
		<% end %>
		 on <%= formated_date(note.created_at) %>
  	</div>
	
	<div class="details">
		<%= simple_format(auto_link(email_before_quoted(strip_tags(note.body)))) %>
		<% if email_quoted?(note.body) %>
	    	<%= link_to_function("Show Quoted text", "$('quoted-#{ note.id }').toggle()", :class => 'toggle-quoted') %>
	        <blockquote id="quoted-<%= note.id %>" style="display:none">
	          <%= simple_format(auto_link(email_after_quoted(strip_tags(note.body)))) %>
	        </blockquote>
		<% end %>
	</div>	
	<% if note.private && !note.incoming && !note.status? %>
		<div class="bottom-actions" style="display:none;">
			<%= link_to_remote( "Edit",  :update => note_view_id,
		                         			 :url => edit_helpdesk_ticket_helpdesk_note_path(@item, note),
											 :method => :GET) %>
			<%= link_to "Delete", helpdesk_ticket_helpdesk_note_path(@item, note), :method => :delete, :class => "last" %>
		</div>
	<% end %>
	<% unless note.attachments.empty? %>
		<span class="seperator"></span>
		<h4><%= pluralize(note.attachments.size, 'attachment')%></h4>
		<ul class="attachment_list">
		    <%= render :partial => '/helpdesk/shared/attachment', :collection => note.attachments, :locals => {:show_delete => true, :url => [@item] } %>
		</ul>
	<% end %>
</div>
