<% element_label ||= 'ticket_tags'%>
<li class="text default_tags field">
	<label for="<%=element_label%>"><%=t('tag.title')%></label>
	<input type="hidden" rel="remote-tag" data-allow-create = <%= current_user.privilege?(:create_tags) %> id="<%= element_id %>"
		name="<%= element_name %>" value= "<%= values %>" />
</li>

<script type="text/javascript">
	var MAX_TAG_LENGTH_MSG = "<%= I18n.t('helpdesk.tickets.show.max_tag_length_msg') %>";
</script>