<div id="<%=cntid%>">
    
    <ul class="ui-form dont-validate">
        <div class="request_form_options">
           <a id="canned_show" class="slim-button"> <%= t('canned_folders.responses') %> &raquo;</a>
        </div>
              
        <li class="inline-field">
            <%= f.text_area :body_html, :class => "required", :value=>"", :id => "#{id}-#{cntid}-body" %>
            <%= f.hidden_field :private, :value=> 0 %>
            <%= f.hidden_field :user_id, :value=> current_user && current_user.id %>
            <%= f.hidden_field :source, :value=> Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["email"]%>
            <div class="attachment-options" id="attachment-options-reply-multiple">
                <% unless local_assigns[:no_attachments] %>
                <%= render :partial => "/helpdesk/shared/attachment_form", :locals => { :attach_id =>id, :nsc_param => "helpdesk_note" } %>
                <% end %>                
            </div>
        </li>
    </ul>
</div>

 <!--<%= tiny_mce_init Helpdesk::SMALL_EDITOR %>-->

<% javascript_tag do %>

    invokeRedactor('reply-multiple-cnt-reply-multiple-body');
    
   
    jQuery('#canned_show').die('click');
    jQuery('#canned_show').live('click', function(ev){
        ev.preventDefault();
        jQuery('#bulk-response-group').removeClass('hide');
        jQuery('#bulktickets').animate({marginLeft: '-=688px'}, 300);
        jQuery('#no-response').toggle('fast');
        jQuery('#bulkcontent').css('height','375px');
    });

    function show_canned_response(){
      var user_id=jQuery('#helpdesk_note_user_id').val();
      jQuery("#bulk_canned_response_contaner_folder").addClass("loading");
      jQuery("#bulk_canned_response_holder")
        .load("/helpdesk/canned_responses", function(){
                                jQuery("#canned_response_contaner")
            .removeClass("loading");
        })
        .show();        
    }

    show_canned_response();

    function getCannedResponse(ca_resp_id, element){
      jQuery("#bulk_canned_response_holder").addClass("loading")
      jQuery(element).addClass("response-loading");
        jQuery.ajax({   type: 'POST',
                        url: '/helpdesk/canned_responses/show/?ca_resp_id='+ca_resp_id,
                        contentType: 'application/text',
                        async: false,
                        success: function(data){    
                                    var msg_body_id =  "reply-multiple-cnt-reply-multiple"
                                    jQuery("#"+msg_body_id+"-body").getEditor().focus();
                                    jQuery("#"+msg_body_id+"-body").insertHtml(data);
                                    }
                    });
        jQuery(element).removeClass("response-loading");
        jQuery(element).qtip('hide');
        jQuery('#no-response').click();
        return true;
    } 

<% end %>
