<div id="<%=cntid%>">
    
    <ul class="ui-form dont-validate bulk-reply">
        <div class="request_form_options">
           <a id="canned_show" class="btn btn-mini"> <%= t('canned_folders.responses') %> &raquo;</a>
        </div>
              
        <% if email_configs.size > 1 %>
          <li class="inline-field">
            <label class="email-config-from"><%= t('ticket.from') %></label>
            <%= select :email_config, :reply_email, options_for_select(email_configs.map{ |email| [email.reply_email, email.reply_email] }, current_account.primary_email_config.reply_email), {},
              {:class => "select2 email-config"} %>
          </li>
        <% end %>
        <li class="inline-field reply-content-container">
            <%= f.fields_for(:note_body_attributes, Helpdesk::NoteBody.new) do |ff| %>
                <%= ff.text_area :body_html, :id => "#{id}-#{cntid}-body", :value => "", :"data-wrap-font-family" => true %>
            <% end %>
            <%= f.hidden_field :private, :value=> 0 %>
            <%= f.hidden_field :user_id, :value=> current_user && current_user.id %>
            <%= f.hidden_field :source, :value=> Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["email"]%>
        </li>
        <li>
          <% unless local_assigns[:no_attachments] %>
            <%= render :partial => "/helpdesk/tickets/show/attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
          <% end %>
          <% if is_application_installed?("screenr") %>
              <%= render :partial => "shared/screenr_recorder" , :locals => { :location => "agent_ticket" } %>
          <% end %>
        </li>
    </ul>
</div>


<%= javascript_tag do %>

    invokeRedactor('reply-multiple-cnt-reply-multiple-body','bulk-reply');
    
   
    jQuery('#canned_show').die('click');
    jQuery('#canned_show').live('click', function(ev){
        ev.preventDefault();
        jQuery('#bulk-response-group').removeClass('hide');
        jQuery('#bulktickets').addClass('bulk-tickets-animation');
        jQuery('#no-response').toggle('fast');
        jQuery('#bulkcontent').css('height','375px');
    });

    function show_canned_response(){
      var user_id=jQuery('#helpdesk_note_user_id').val();
      jQuery("#bulk_canned_response_holder").append("<div class='sloading'></div>");
      jQuery("#bulk_canned_response_holder")
        .load("/helpdesk/canned_responses")
        .show();
    }

    show_canned_response();

    function getCannedResponse(ca_resp_id, element){
      jQuery(element).addClass("response-loading");
        jQuery.ajax({   type: 'POST',
                        url: '/helpdesk/canned_responses/show/?ca_resp_id='+ca_resp_id,
                        contentType: 'application/text',
                        dataType: "script",
                        async: true,
                        success: function(data){     
                                    jQuery(element).removeClass("response-loading");
                                    jQuery(element).qtip('hide');
                                    jQuery('#no-response').click();
                                    }
                    });
        return true;
    } 

<% end %>
