	<div class="rtCnt sidepanel ticket-panel">
		<div class="rtPanel">
			<a href="javascript:void(0)" class="active" cntid="TicketProperties">
				<img src="/images/spacer.gif" class="ticketprop" width="36px" height="36px"  />
				<em><%=t('ticket.properties')%></em>
			</a>
      <% link_to({ :action => "component", :component => "related_solutions", :id => @ticket.id }, :classname => "suggestsolutions", :cntid => "related-solutions-div") do %>
        <img src="/images/spacer.gif" class="suggestsolutions" width="36px" height="36px"  />
        <em><%= t('ticket.suggest_solutions') %></em>          
      <% end %>
      <% if feature?(:scenario_automations) %>
        <% link_to({ :action => "component", :component => "scenarios", :id => @ticket.id }, :classname => "scenario", :cntid => "scenario-div") do %>
          <img src="/images/spacer.gif" class="scenario" width="36px" height="36px"  />
          <em><%= t('ticket.execute_scenario') %></em>
        <% end %>
      <% end %>
      
      <% link_to({ :action => "component", :component => "user", :id => @ticket.id }, :classname => "requesterinfo", :cntid => "user-div") do %>
        <img src="/images/spacer.gif" class="requesterinfo" width="36px" height="36px"  />
        <em><%= t('ticket.requestor_info') %></em>
      <% end %>        

      <% link_to({ :action => "component", :component => "todos", :id => @ticket.id }, :classname => "reminders-ticket", :cntid => "todos-div") do %>
        <img src="/images/spacer.gif" class="todo" width="36px" height="36px"  />
        <em><%= t('to_do') %></em>
      <% end %>
              
      <% link_to({ :action => "component", :component => "tags", :id => @ticket.id }, :classname => "tags", :cntid => "tags-div") do %>
        <img src="/images/spacer.gif" class="tags" width="36px" height="36px"  />      
        <em><%= t('tag.title') %></em>
      <% end %>
              
      <% link_to({ :action => "component", :component => "activity", :id => @ticket.id }, :classname => "activity", :cntid => "activity-div") do %>
        <img src="/images/spacer.gif" class="activity" width="36px" height="36px"  />
        <em><%= t('ticket.activities') %></em>
      <% end %>
    </div>
    <div class="rtDetails" id="componentlist">
      <%= render :partial => "helpdesk/tickets/components/ticket", :object => @ticket %>
    </div>
  </div>