
<% content_for :head do %>
  <%= stylesheet_link_tag "autosuggest_inquisitor" %>
  <%= javascript_include_tag "autosuggest" %>
  
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){

     /* new bsn.AutoSuggest('helpdesk_ticket_email', {
        script: "<%= autocomplete_helpdesk_authorizations_path %>?",
        varname: "v",
        json: true,
        maxresults: 35,
        timeout: 3600000, 
		minchars: 2,
		shownoresults: false,
		id_as_value: true,
		cache: false,
		delay:200
      });

      Form.Element.activate('helpdesk_ticket_email');*/

    });
    	
  <% end %>
<% end %>

<% javascript_tag do %>
	function changeAggentList(group_id)
	{	
		jQuery.ajax({
		     	type:        'POST',
				url: 		 '/helpdesk/tickets/get_agents/'+group_id,
				contentType: 'application/text',
		     	success: function(data){
																			
									jQuery('#assigned_to').replaceWith(data);
							}
		});
	}
	jQuery(document).ready(function(){
		jQuery("#helpdesk_ticket_email").autocomplete({
			source: function( request, response ) {
				jQuery.ajax({
					url: "<%=autocomplete_helpdesk_authorizations_path%>",
					data: {
						v: request.term
					},
					success: function(data) {
						response( jQuery.map( data.results, function( item ) {
							//console.log(item.value);
							return {
								label: item.value,
								value: item.id
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				
			},
			open: function(){
				jQuery(this).removeClass('ui-corner-all');
			}
		}).data( "autocomplete" )
			._renderItem = function( ul, item ) {
									return jQuery( "<li></li>" )
										.data( "item.autocomplete", item )
										.append( "<a>" + item.label + "<br>" + item.value + "</a>" )
										.appendTo( ul );
								};
								
		jQuery("#NewTicket")
			.submit(function(){
				console.log(jQuery("#ticket_file").html());
				return true;
			});
	});
<% end %>


<% form_for @item, :html => {:multipart => true, :id => "NewTicket" } do |f| %>
  <%= f.error_messages %>
  	<%= hidden_field_tag  :topic_id,  params[:topic_id] %> 
	<ul class="ui-form">
 	<%
		@customizer = ActiveSupport::JSON.decode(@item.customizer.json_data)
		logger.debug "json decoded:#{@customizer}"

		@customizer.each do |field|
			case field["label"]
			 when "Requester" then
    %>
	<li> 	
  		<label id="requester-label">Requester *</label>
  		<input type="text" id="helpdesk_ticket_email" class="text required" name="helpdesk_ticket[email]" value="<%=@item.requester.email if @item.requester %>"></input>
   	</li> 
			
	<% when "Subject" then%>
		<li>
        	<%= f.label :subject, "Subject" %>
          	<%= f.text_field :subject, :class => "text" %>
   		</li>

	<%when "Source" then%>
		<li class="dropdown">
  			<%= f.label :source, "Source" %>
 			<%= f.select :source, Helpdesk::Ticket::SOURCE_OPTIONS, :class => "select" %>
        </li>
				
	<%when "Status" then%>
		<li class="dropdown">
          	<%= f.label :status, "Status" %>
         	<%= f.select :status, Helpdesk::Ticket::STATUS_OPTIONS, :class => "select" %>
        </li>
		
	<%when "Group" then%>
		<li class="dropdown">
          	<%= f.label :group_id, "Group" %>
          	<%= f.collection_select :group_id, Group.find_all_by_account_id(@item.account_id), :id, :name,{:include_blank => 'Nobody'}, { :onchange => "changeAggentList(this.options[this.selectedIndex].value)" ,:class => "select"} %>
        </li>
		
	<%when "Assigned to" then%> 
		<li class="dropdown" id="assigned_to">
          	<%= f.label :responder_id, "Assigned To" %>
          	<%= f.collection_select :responder_id, Helpdesk::Authorization.find_all_by_permission(:manage_tickets), :user_id, :name, {:include_blank => 'Nobody'}, :class => "select" %>
        </li> 
		
	<%when "Priority" then%>
		<li class="dropdown">
 			<%= f.label :priority, "Priority" %>          
			<%= f.select :priority, Helpdesk::Ticket::PRIORITY_OPTIONS, :class => "select" %>
    	</li>
	
	<%when "Description" then%>
		<li>
			<%= f.label :description, "Description" %>
    		<%= f.text_area :description, :class=>"textarea" %>
		</li>				
	
	<%else%>
		<%logger.debug "Custom  Field #{field["label"]}"%>		
		<% fields_for :flexifields do |cust_form| %>
			<% 
				field_label = (field["agent"]["required"]) ? "#{field["label"]} *" : "#{field["label"]}"  
				field_class = field["type"] + ((field["agent"]["required"]) ? " required" : "") 
			%>
			<% case field["type"] when "text","number" then %>				
				<li class="<%= field['label'] %>">		 
					<%= cust_form.label "#{field["label"]}", field_label %>  
 					<%= cust_form.text_field "#{field["label"]}" , :class=> field_class %>
				</li>		 
						
			<% when "paragraph" then %>
				<li class="paragraph">
					<%= cust_form.label "#{field["label"]}", field_label %>  
 					<%= cust_form.text_area "#{field["label"]}" ,:class=> field_class %>
				</li>
					
			<% when "dropdown" then %>
				<li class="dropdown"> 
					<% Array values =[]
						field["choices"].each {|choice| values.push(choice["value"])}%>
						 <%= cust_form.label "#{field["label"]}", field_label %>  
 						 <%= cust_form.select "#{field["label"]}", values ,:class=> field_class %>
			    </li>
							
		   <% when "checkbox" then %>
				<li class="checkbox">
					<%= cust_form.check_box "#{field["label"]}" ,:class => field_class %>					
					<%= field_label %>
			     </li>
		   <% end %>
		 <% end %>			 
		<% end %>
	<% end %>
		<li>
			<%= render :partial=> "/helpdesk/shared/attachment_form" %>
		</li>
	</ul>
	
    <div class="button-container">
      <%= f.submit "Save changes", :class => "fdbutton submit" %>
      <%= submit_tag "Save and Create Another", :name => "save_and_create" , :class => "fdbutton" %>
      <%= link_to "Cancel", (@item.new_record? ? {:action => 'index'} : @item ), :class => "fdbutton grey" %>
    </div>

  <% end %>
  

