
<% content_for :head do %>
  <%= stylesheet_link_tag "helpdesk/autosuggest" %>
  <%= javascript_include_tag "helpdesk/autosuggest" %>

  <% javascript_tag do %>
    document.observe("dom:loaded", function(){

      new bsn.AutoSuggest('helpdesk_ticket_email', {
        script: "<%= autocomplete_helpdesk_authorizations_path %>?",
        varname: "v",
        json: true,
        maxresults: 35,
        timeout: 3600000, 
		minchars: 2,
		shownoresults: false,
		id_as_value: true,
		cache: false,
		delay:200
      });

      Form.Element.activate('helpdesk_ticket_email')

    });
    
  <% end %>
<% end %>

  <% form_for @item do |f| %>
  
   
    <%= f.error_messages %>
 	<ul class="ui-form">
 		   <%
		
			@customizer = ActiveSupport::JSON.decode(@item.customizer.json_data)

			logger.debug "json decoded : #{@customizer}"

			 @customizer.each do |field|

			case field["label"]

			 when "Requester" then
		    %>
						
				<li> 	
  					<label id="requester-label">Requester *</label>
  					<input type="text" id="helpdesk_ticket_email" class="text" name="helpdesk_ticket[email]"></input>
   				</li> 
			
			<% when "Subject" then%>
			
				<li>
          			<%= f.label :subject, "Subject" %>
          			<%= f.text_field :subject, :class => "text" %>
   				</li>
				
			<%when "Source" then%>
			
				<li class="small">
          			<%= f.label :source, "Source" %>
         			 <%= f.select :source, Helpdesk::Ticket::SOURCE_OPTIONS, :class => "select" %>
        		</li>
				
			<%when "Status" then%>
			
				<li class="small">
          			<%= f.label :status, "Status" %>
         			 <%= f.select :status, Helpdesk::Ticket::STATUS_OPTIONS, :class => "select" %>
        		</li>
			
			<%when "Assigned to" then%>
			
				<li class="small">
          			<%= f.label :responder_id, "Assigned To" %>
          			<%= f.collection_select :responder_id, Helpdesk::Authorization.find_all_by_permission(:manage_tickets), :user_id, :name, {:include_blank => 'Nobody'}, :class => "select" %>
         		</li>
			
			
			<%when "Priority" then%>
			
				<li class="small">
 					<%= f.label :priority, "Priority" %>          
					<%= f.select :priority, Helpdesk::Ticket::PRIORITY_OPTIONS, :class => "select" %>
    			</li>
				
			<%when "Description" then%>
			
					<%= f.label :description, "Description" %>
    				<%= f.text_area :description, :class=>"textarea" %>
					
									
			<%else%>
		     <%logger.debug "Custom  Field #{field["label"]}"%>
			 
			 <li>		 
		  
		   			<% f.fields_for :flexifields do |cust_form| %>
					
					<%case field["type"]

					 when "text" then
		    		%>
					
						<%= cust_form.label "#{field["label"]}", "#{field["label"]}" %>  
 						<%= cust_form.text_field "#{field["label"]}" ,:class=>"text" %>
						
					<%
					 when "dropdown" then						
					%>
						<%
							Array values =[]
							field["choices"].each {|choice| values.push(choice["value"])}%>
							
						 <%= cust_form.label "#{field["label"]}", "#{field["label"]}" %>  
 						 <%= cust_form.select "#{field["label"]}", values ,:class=>"select" %>
							
					<%
					  when "checkbox" then
					%>
					     <%= cust_form.label "#{field["label"]}", "#{field["label"]}" %>  
 						 <%= cust_form.check_box "#{field["label"]}" ,:class=>"checkbox" %>
					
					<%end 
					end	
					%>
					
			</li>
			 
			 
			<%
			end
			end 
			%>
		
 		
		
		
		
		
		 
 		
		  
		 
		  
		  
	
			
		</li>
	</ul>
    <div class="button-container">
      <%= f.submit "Save changes", :class => "fdbutton submit" %>
      <%= submit_tag "Save and Create Another", :name => "save_and_create" , :class => "fdbutton" %>
      <%= link_to "Cancel", (@item.new_record? ? {:action => 'index'} : @item ), :class => "fdbutton grey" %>
    </div>

  <% end %>
