
  <% form_for @item do |f| %>
    <%= f.error_messages %>

    <table>
      <tr>
        <td colspan="2">
          <label>Email</label>
          <input id="helpdesk_ticket_email" name="helpdesk_ticket[email]" type="text" size="20"/>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :subject, "Subject" %>
          <%= f.text_field :subject %>
        </td>
        <td>
          <%= f.label :source, "Source" %>
          <%= f.select :source, Helpdesk::Ticket::SOURCE_OPTIONS %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :status, "Status" %>
          <%= f.select :status, Helpdesk::Ticket::STATUS_OPTIONS %>
        </td>
        <td>
          <%= f.label :responder_id, "Assigned To" %>
          <%= f.collection_select :responder_id, Helpdesk::Authorization.find_all_by_permission(:manage_tickets), :user_id, :name, {:include_blank => 'Nobody'} %>
        </td>
      </tr>
    </table>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

    <div class="button-container">
      <%= f.submit %>
      <%= submit_tag "Save and Create Another", :name => "save_and_create"%>
      <%= link_to "Cancel", (@item.new_record? ? {:action => 'index'} : @item )%>
    </div>

  <% end %>
