<% content_for :pagetop do -%>
  <% if @ticket.deleted %>
    <div class="alert-message block-message warning">
      <div class="alert-actions-right">
        <%= link_to(t('ticket.restore_btn'), restore_helpdesk_ticket_path(@ticket), :method => :put, :class => "btn small", :title => t('ticket.restore_btn_title') ) %>
      </div>
      <p><strong><%= t('this_ticket_has_been_deleted') %></strong></p>
    </div>
  <% end %>  
<% end %>
  <%= render :partial => "collision_show", :locals => { :ticket => @ticket } if feature?(:agent_collision) %>
  <div class="request_details">
    <div class="requestCnt request-cnt-first">
      <div class="request-title">
        <%= content_tag :span, h(@ticket.priority_name), :class => "priority-pointer #{@ticket.priority_key}" %>
        <%= content_tag :span, "##{h(@ticket.display_id)}", :class => "ticket-id" %>
        <%= content_tag :span, h(@ticket.subject), :class => "subject" %>
        <%
                customer_opinion = ""                                
                unless @ticket.survey_results.nil? || @ticket.survey_results.last.nil?
                  customer_opinion = ["<div class='customer-opinion ", @ticket.survey_results.last.get_small_img_class ,"'></div>"].join
                end  
        %>
        <%=customer_opinion%>

        <div id="adjacents" class="toolbar_pagination"></div>
      </div>
      <div class="description">         
        <div class="user_details">
          <%= user_avatar(@ticket.requester, :thumb, "preview_pic" , { :width => "36px", :height => "36px" })  %>
          <% if is_application_installed?("capsule_crm") %>
            <textarea id="widget-capsule-crm" style="display:none;">
              <% @liquid_objects = {"requester" => @ticket.requester} %>
              <%= get_app_widget_script("capsule_crm", "contact_widget", @liquid_objects) %>
            </textarea>
            <div class="app-link">
              <a data-placement="topRight" href="#" rel="widget-popover" data-widget-container="widget-capsule-crm">
                <%= image_tag("application-logo/capsule_crm-small.png",:width => "56px", :height => "17px") %>
              </a>
            </div> 
          <% end %>
          
              <%= show_contact_hovercard(@ticket.requester) %>
          <%= "&lt;#{@ticket.requester.email}&gt;" if @ticket.requester.email %> 
          on <%= formated_date(@ticket.created_at) %>
          <div class="info"> 
            <%if @to_emails && @to_emails.length > 0 %>                        
                  <%if @to_emails.length < 3 %>
                      <%= content_tag :span, "To: " + @to_emails.collect{ |to_e| to_e.gsub("<","&lt;").gsub(">","&gt;") }.join(", "), :class => "" if (@ticket.source == (Helpdesk::Ticket::SOURCE_KEYS_BY_TOKEN[:email])) %>  
                  <% else %>
                      <%= content_tag :span, "To: " + @to_emails[0,2].collect{ |to_e| to_e.gsub("<","&lt;").gsub(">","&gt;") }.join(", ") + "<span class='toEmailMoreContainer hide'>,&nbsp;"+ @to_emails[2,@to_emails.length].collect{ |to_e| to_e.gsub("<","&lt;").gsub(">","&gt;") }.join(", ") +" </span> <a href='javascript:showHideToEmailContainer();'  class='toEmailMoreLink'> #{@to_emails.length-2} "+t('ticket_cc_email_more')+"</a>", :class => "" if (@ticket.source == (Helpdesk::Ticket::SOURCE_KEYS_BY_TOKEN[:email])) %>  
                  <% end %>
            <% end %> 
            via <%= @ticket.source_name %>
            <% metainfo = @ticket.notes.find_by_source(Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["meta"]) %> 
          <%= content_tag :span, t("helpdesk.tickets.show.meta"), :title => metainfo.body, :class => "meta_icon tooltip" unless(metainfo.blank?) %>
          </div> 
      <% cc_email_hash_value = @ticket.cc_email_hash %>
          <% unless cc_email_hash_value.nil? %>
            <% @cc_email_count = cc_email_hash_value[:cc_emails].length %> 
            <div class="info">
        <%if @cc_email_count > 0 %>                        
                  <%if @cc_email_count < 3 %>
                      <%= content_tag :span, "Cc: " + cc_email_hash_value[:cc_emails].collect{ |cc_e| cc_e.gsub("<","&lt;").gsub(">","&gt;") }.join(", "), :class => "" %>  
                  <% else %>
                      <%= content_tag :span, "Cc: " + cc_email_hash_value[:cc_emails][0,2].collect{ |cc_e| cc_e.gsub("<","&lt;").gsub(">","&gt;") }.join(", ") + "<span class='ccEmailMoreContainer hide'>,&nbsp;"+ cc_email_hash_value[:cc_emails][2,@cc_email_count].collect{ |cc_e| cc_e.gsub("<","&lt;").gsub(">","&gt;") }.join(", ") +" </span> <a href='javascript:showHideEmailContainer();'  class='ccEmailMoreLink'> #{@cc_email_count-2} "+t('ticket_cc_email_more')+"</a>", :class => "" %>  
                  <% end %>
        <% end %>             
            </div>
          <% end %> 
          <span id="agent_viewing_message" style="color:#ffa04c; font-size:12px;" class="hide"></span>
          <span id="agent_replying_message_top" style="color:#ffa04c; font-size:12px;" class="hide"></span>
        </div>
        <% unless @ticket.deleted %>
          <div class="ticket_actions">            
            <div class="item-right-actions">
              <ul class="nav-drop"> 
                <li>
                  <a href="#" class="menu-trigger nav-item-icon"><span class="item-options"></span></a>
                  <ul class="menu-box">
                    <li class="menu-item"> 
                       <%= link_to(t('ticket.edit_btn'), edit_helpdesk_ticket_path(@ticket)  ) %>     
                    </li>  
                    <li class="menu-item">
                      <%= link_to(t('ticket.delete_btn'), helpdesk_ticket_path({:id => @ticket.display_id, :page => params[:page]}), :method => :delete, :title => t('ticket.delete_btn_title')) %>
                    </li>
                  </ul>
                </li> 
              </ul>
            </div>
            <div class="action_buttons clearfix">
              <%= link_to( "Print", print_helpdesk_ticket_path(@ticket), :target => "_blank") %>
              <%= link_to t('ticket.merge_btn'), "/helpdesk/tickets/show_tickets_from_same_user/#{@ticket.display_id}", :id => "Merge", :title => "Merge ticket", "data-ajax-dialog" => true %>
              <%= link_to(t('ticket.close_btn'), "#", :title  => t('ticket.close_btn_title'), :class => "last" , :id=>"close_ticket_btn" , :"data-href" => close_helpdesk_ticket_path({:id => @ticket.display_id, :page => params[:page]})) unless @ticket.closed? %> 
            </div>  
            <div class="action_icons floatr"> 
              <% if is_application_installed?("jira")  %>   
                  <%= render :partial => "/helpdesk/integrations/jira_issue"%>
              <% end %>             
              <div class="monitor_div">
                <span id="monitor">
                  <%= render :partial => "/helpdesk/subscriptions/monitor" %>
                </span>
                <div class="watchers_tooltip " id="new_watcher_page" style="display:none" rel="remote-load" 
                     data-url= "<%=helpdesk_ticket_helpdesk_subscriptions_path(@ticket)%>" data-load-unique="true" >
                  <span class="arrow-top"></span>
                </div>
              </div>
              <span id="spamicon">
                <%= render :partial => "spam", :locals => { :ticket => @ticket, :page => params[:page] } %>
              </span>
            </div>
          </div>  
        <% end %>
        <div class="request-wrapper">
        <div id="description-full" class="request_mail details min_height">
          <span class="seperator"></span>
          <div class="request_mail">
            <%= @ticket.description_html %>
          </div>
        </div>      
        <% 
          attachments = @ticket.attachments
        unless attachments.length == 0 %>
          <span class="seperator"></span>
          <h4><%= pluralize(attachments.length, t("attachment"), t("attachments")) %></h4>
          <ul class="attachment_list">
            <%= render :partial => '/helpdesk/shared/attachment', :collection => attachments, :locals => {:show_delete => true, :url => [@item] } %>
          </ul>
        <% end %>
        <% unless @ticket.ticket_topic.nil? %>
          <div class="info-highlight">
            <%= t("helpdesk.tickets.show.linked_ticket") %>
            "<%= link_to("#{truncate(h(@ticket.topic.title))}", category_forum_topic_path(@ticket.topic.forum.forum_category.id, @ticket.topic.forum.id, @ticket.topic.id), :class => "link_to") %>"
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% content_for :onload_script do %>  
 jQuery('#close_ticket_btn').live('click', function(ev){
    ev.preventDefault();
    var form = jQuery("<form>")
                .attr("method", "post")
                .attr("action", jQuery(this).attr('data-href') +"?disable_notification=" + ev.shiftKey )
                .appendTo(document.body);
     form.submit();
     return false;
    });
<% end %>
