<div id="bulkcontent">
<div id="bulkfull">
<div class="bulktickets" id="bulktickets">
<div class="dialog-special small_curve " id="update-fields">
  <div class="content clearfix scrollbar">
    <% helpdesk_submit_options = []%>
  	<% current_portal.ticket_fields.each  do |field| %>
  		<% if field.visible_in_view_form? %>
        <%
          dom_type = (field.field_type == "nested_field") ? "nested_field" : field.dom_type  
        %>
        <%if ((dom_type == "dropdown") || (dom_type == "dropdown_blank") || (dom_type == "nested_field"))%>
          <%
            object_name = "#{:helpdesk_ticket.to_s}#{ ( !field.is_default_field? ) ? '[custom_field]' : '' }"
  			    
            checkbox = check_box_tag object_name+"_"+field.field_name+"_label", "", false,
                          :class => "update-check-for-fields"
            label = label_tag (object_name+"_"+field.field_name+"_label", checkbox + field.label,:rel => "inputcheckbox")
            
            if field.field_type == "nested_field"
              element = label + nested_field_tag(object_name, field.field_name, field, {:include_blank => t('select'), :selected => {}},{:class => dom_type, :rel => "inputselectbox"}, {}, false)
            else
              element = label + select(object_name,field.field_name, field.choices, {:include_blank => t('select'), :selected => t('select')},{:class => dom_type, :rel => "inputselectbox"})   
            end
          %>  
  			  <%= content_tag :div, element, :class => "field-item #{cycle('clear', '', '') }" %>
        <%end%>
  		<%end%>
	   <%end%>
  </div>
</div>
<div class="dialog-special small_curve" id="reply-fields">
  <div id="content-bulk" class="content clearfix">
    <div class="field-item" id="bulkreplycheck">
      <label for="addbulkreply" rel="inputcheckbox">
        <input id="addbulkreply" type="checkbox" name="Add Bulk Reply" value="addbulkreply" /> Add Bulk Reply
      </label> 
    </div>
    <div class="request_panel clearBoth hide" id="bulkreplyform">
      <%= render :partial => "/helpdesk/tickets/reply_multiple", :locals => { :helpdesk_submit_options=>helpdesk_submit_options, :id => 'reply-multiple', :cntid => "cnt-reply-multiple"} %>
    </div>
  </div>  
</div> 
<div class="button-container">
  <div class="sloading hide" id="loader">
  </div>
  <%= button_to_function t('ticket_update_multiple_button'), "submitBulkUpdate()", :class => "uiButton", :id =>"ticket_update_multiple_button"  %>
  <%= link_to t('ticket_cancel_multiple_button'), "#", :class => "uiButton", :id =>  "ticket_cancel_multiple_button"%>
</div>
</div>
<div id="bulk-response-group" class="hide">
  <a id="no-response">&laquo; <%= t('canned_folders.back_to_bulk') %></a>
  <div id="bulk_canned_response_holder"> 
  </div> 
</div>
</div>
</div>

<% javascript_tag do %> 
  jQuery('#ticket_cancel_multiple_button').die('click')
  jQuery('#ticket_cancel_multiple_button').live('click',
   	function(){
  		active_dialog.dialog('close');
   	});

  jQuery('#no-response').hide();

  function submitBulkUpdate(){
    if(!$('addbulkreply').checked || jQuery("#reply-multiple-cnt-reply-multiple-body").valid()){
      <%= "reply_multiple_submit('#{update_multiple_helpdesk_bulk_ticket_actions_path}', 'put', jQuery('#update-fields .update-check-for-fields:checked').parent().parent().find('select').get() )" %>
      jQuery("#ticket_update_multiple_button, #ticket_cancel_multiple_button").attr('disabled','disabled');
      jQuery('#loader').removeClass("hide");
    }
  }
  jQuery('#no-response').die('click');
  jQuery('#no-response').live('click', function(){
    jQuery('#bulkcontent').css('height','auto');
    jQuery('#bulktickets').animate({marginLeft: '+=688px'}, 300, function() {
      jQuery('#bulk-response-group').addClass('hide');
    });
    jQuery('#no-response').toggle('fast');
    jQuery('#clear-search').trigger('click');
});

  jQuery("[rel=inputselectbox]").die('change');
 jQuery("[rel=inputselectbox]").live('change',  function(ev){
    if(jQuery(this).attr('id')=="helpdesk_ticket_group_id")
    {
      if(jQuery('#helpdesk_ticket_responder_id_label').is(':checked'))
      {
        jQuery('#helpdesk_ticket_responder_id_label').prop('checked', false); 
        jQuery('#helpdesk_ticket_responder_id_label').parent().removeClass('active');
      }
      value=jQuery(this).find(':selected').attr('value');
      groupchange(value);
    }
    jQuery(this).parent().find("input").prop("checked", true);
    jQuery(this).parent().find("label").addClass("active");
  }); 
  
  jQuery("[rel=inputcheckbox]").die('click');
  jQuery("[rel=inputcheckbox]").live('click',  function(ev){
    if(jQuery(this).parent().find("input").is(':checked'))
    {
      jQuery(this).addClass("active");
      if(jQuery(this).attr('for')=="addbulkreply")
      {
        jQuery("#bulkreplyform").slideDown();
        jQuery("#bulkreplyform textarea").attr("disabled", false);
        jQuery("#reply-multiple-cnt-reply-multiple-body").getEditor().focus();
      }
    }
    else
    {
      jQuery(this).removeClass("active");
      jQuery(this).parent().find('.level_2, .level_3').slideUp();
      if(jQuery(this).attr('for')=="addbulkreply")
      {
        jQuery("#bulkreplyform").slideUp();
        jQuery("#bulkreplyform textarea").attr("disabled", true);
      }
      jQuery(this).parent().find("select").find('option:first').prop('selected', 'selected');
      }
    });

function groupchange(value){
    this.value = value;
    jQuery('#helpdesk_ticket_responder_id')
             .html("<option value=''><%=t('select')%></option>");
	 blank_value = "No Change";
     jQuery.ajax({
       type:        'POST',
       url: 		'/helpdesk/commons/group_agents/'+this.value+'?blank_value=<%=t('select')%>',
       contentType: 'application/text',
       success:     function(data){

                        jQuery('#helpdesk_ticket_responder_id')
                         .html(data);
                    }
     });
   }
jQuery('.ui-icon-closethick').die('click');
jQuery('.ui-icon-closethick').live('click', function(){
  if(!jQuery('#no-response').is(':hidden'))
    jQuery('#no-response').click();
});
<% end %>
