<% content_for :sidebar do -%><%- end %>
<%= content_tag (:h3, t("ticket.edit"), :class => "title") %>
<% form_for @item, :html => {:multipart => true, :id => "NewTicket" } do |f| %>
  <ul class="ui-form">  
    <%= render :partial => "/shared/ticket_form", :object => f %>
  </ul>
  <div class="button-container">
    <%= link_to t('delete'), @item, :method => :delete, :class => "uiButton floatl" %>
    <%= f.submit t('update'), :class => "uiButton" %>    
    <%= link_to t('cancel'), (@item.new_record? ? {:action => 'index'} : @item ), :class => "uiButton" %>
  </div>
<% end %>  
