<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <%= javascript_include_tag "helpdesk/take_it_button" %>
  <%= javascript_include_tag "helpdesk/id_selector" %>
  <%= javascript_include_tag "helpdesk/ticket_search" %> 
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      
	  Helpdesk.sel = new Helpdesk.MultiSelectorsOnPages({
	      pages: ['list', 'expanded'],
	      cookieName: 'helpdesk-tickets-page'
	  });
	
	  Helpdesk.sel.submitOnClick('assign-multiple-button', ['responder_id']); 
	  
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['assign-options']
      });

      Helpdesk.monitorTakeItButtons();
	  	
      Helpdesk.submitOnChange('sort');
	  
	  Helpdesk.sel.toggleCheckAll = function(source){
	  	if(source.checked)
			Helpdesk.sel.checkAll();
		else
			Helpdesk.sel.uncheckAll();
	  }

    });
  <% end %>
<% end %>

<% content_for :layoutType do %>single<% end %>

<% content_for :main_panel_title do %>
<div class="header_area"> 
  <h4>
  	<%= current_selector_name %>
	<%= render :partial => "filters" %>
  </h4>
</div>
<% end %>

<% content_for :main_panel_toolbar do %>
   
<% end %>

<% content_for :main_panel_selected_toolbar do %>
 
<% end %>


<% content_for :main_panel_content do %>

  <%# 
    This form is used by JS to submit "Take It" button clicks 
    We couldn't use the button_to helper because it resulted in a 
    form within a form.
  %>
  <%= form_tag "", :method => :put, :style=>'display: none', :id => 'accept-form' do end %>

  <div id="pages">
    
      <table class="tickets">
      	<thead>
      		<tr>
	      		<th class="check">
	      			<input type="checkbox" onclick="Helpdesk.sel.toggleCheckAll(this)"  />
	      		</th>
				<th>
					<!--a href="#" class="button">Edit</a-->
					<% if current_selector == [:deleted] %>
					  <%= link_to_function("Undelete", "Helpdesk.sel.submit('#{ restore_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %>
					<% else %>
					  <%= link_to_function("Delete", "Helpdesk.sel.submit('#{ helpdesk_ticket_path('multiple') }', 'delete')", :class => "button") %>
					<% end %>
					
					<% if current_selector == [:spam] %>
					  <%= link_to_function("Unflag Spam", "Helpdesk.sel.submit('#{ unspam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
					<% else %>
					  <%= link_to_function("Flag Spam", "Helpdesk.sel.submit('#{ spam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
					<% end %> 
					
					<%= link_to_function("Close", "Helpdesk.sel.submit('#{ close_multiple_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
					
					<%= link_to_function("Pick Up", "Helpdesk.sel.submit('#{ pick_tickets_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
					
					<a href="javascript:void(0)" id="assign-options-link" class="button">Assign To Agent</a>
					<div id="assign-options" class="assign-agent" style="display:none;">
					    Assign to agent <%= select_tag 'responder_id', options_from_collection_for_select(User.find_all_by_permission(current_account, :manage_tickets), :id, :name, current_user) %>
					    <button id="assign-multiple-button" action="<%= assign_helpdesk_ticket_path('multiple') %>">Assign</button>
					</div>
				</th>	
				<th>	
					<form class="sort">
						<a href="javascript:void(0)" class="sort_order">
							<img src="/images/spacer.gif" alt="Order by newest first" title="Order by newest first" onclick="jQuery(this).toggleClass('desending')" />
						</a>
					    Sort by 
						<%= select_tag :sort, options_for_select(TicketsFilter::SORT_FIELD_OPTIONS, (params[:sort] || :due_by).to_sym) %> 
					</form>
				</th>
			</tr>
      	</thead>
	  </table>
	  <% form_tag "", { :id => "expanded",  :method => :put } do %>
		  <table class="tickets">	
			<tbody>
	        	<%= render :partial => "/helpdesk/shared/expanded/ticket", :collection => @items %>
			</tbody>
	      </table>
	  <% end %>
	  <% form_tag "", { :id => "list",  :method => :put } do %>
		  <table class="tickets">	
			<tbody>
	        	<%= render :partial => "/helpdesk/shared/collapsed/ticket", :collection => @items %>
			</tbody>
	      </table>
	  <% end %>
  </div>

  <%= will_paginate @items %>

  <div class="clear"></div>

  <!--
  <%= link_to(
    image_tag("helpdesk/feed.png", :alt => "Feed") + " Subscribe", 
    helpdesk_tickets_url(:format => 'atom'), 
    :class => "feed") unless params[:f] %>
  -->
  <div class="clear"></div>

<% end %>
<%= render :partial => "/helpdesk/shared/main_panel" %>
