<% content_for :pagefixed do %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <%= javascript_include_tag "helpdesk/take_it_button" %>
  <%= javascript_include_tag "helpdesk/id_selector" %>
  <% javascript_tag do %>
		function helpdesk_submit(url, method, params){ 
			var form = $("tickets-expanded");
      if(method) form.down('input[name=_method]').value = method;

			(params || []).each(function(p){
			    var source = $(p);
			    var field = new Element('input', {
			        type: 'hidden',
			        value: source.value
			    });
			    field.name = source.name;
			    form.appendChild(field);
			});
			form.action = url;
			form.submit();
	}
  <% end %>
<% end %>

<% content_for :onload_script do %>
  $J('#rightCol').css("minHeight", $J('#leftcol').height());
	$J("#agent-assign-link").click(function(){
  	$J("#assign-options")
 			.dialog({ modal : true, 
 			  			  show : 'puff', 
 			  				title:  '<%= t('ticket.assign_to_agent') %>',
 			  				closeOnEscape: true,
 			  				buttons: [{
      						text: "Assign",
      						click: function() { 
      					 		helpdesk_submit("<%= assign_helpdesk_ticket_path('multiple') %>", "put", ['responder_id']);
      						}
  							}] 
 						 });
  				});
	$J("#helpdesk-select-all").live("click", function(ev){
		$J("#tickets-expanded input[type=checkbox]").attr("checked", $J(this).attr("checked"));
	});	
<% end %>
<div class="containerFull greyImage clearfix">
  <div id="leftcol" class="ticket-leftcol">
    <div class="leftFilter">
      <%= render :partial => "filters" %>
    </div>
		<div class="leftFilter">    
    	<%= render :partial => "helpdesk/shared/filter_options", :locals => { :current_filter => @ticket_filter } %>
		</div>
  </div>
  <div id="rightCol" class="contentCol hasRightCol">
	  <%= render :partial => "helpdesk/shared/ticket_view", :locals => { :items => @items } %>
  </div>
</div>