<% content_for :onload_script do %>
  $J('#rightCol').css("minHeight", $J('#leftcol').height());
  $J("#helpdesk-select-all").on("click", function(ev){
    $J("#tickets-expanded input[type=checkbox]").prop("checked", $J(this).prop("checked"));
    $J("#tickets-expanded input[type=checkbox]").trigger('change');
  }); 

  $J("#select_view_id").live("change", function(ev){
    window.location = this.value;
  });
  
  $J("#assign-options-link").live("click", function(ev){
    jQuery("#assign-options").show();
    jQuery(this).hide();
  });
  var rep_type_param = <%= params[:report_type].present?.to_s %> ? '?report_type=<%=params[:report_type]%>' : '';
  var paginate_url = '/helpdesk/tickets/full_paginate';
  paginate_url = paginate_url + rep_type_param
  jQuery.getScript(paginate_url);
<% end %>
<% content_for :onload_script do %>
  var rep_type_param = <%= params[:report_type].present?.to_s %> ? '?report_type=<%=params[:report_type]%>' : '';
  var parallel_url = "/helpdesk/tickets/filter_options"
  parallel_url = parallel_url + rep_type_param
  Fjax.pjax_parallel_request = {parallelUrl: parallel_url, parallelPlaceholder: "#ticket-leftFilter", pjax: "#body-container"};
<% end %>

<% content_for :pagefixed do %>
   <%= render :partial => "freshdesk_node", :locals => 
  {:ticket => nil}  if current_account.features?(:collision)  || @is_auto_refresh_feature %>
<% end %>  

<% content_for :layoutType do -%>ticket_list<%- end %>
  <div id="leftcol" class="ticket-leftcol" style="display:<%=(@current_view != 'deleted' && @current_view != 'spam' && @current_view != 'monitored_by') ? 'block' : 'none' %>">
    <%if request.headers['X-PJAX'] %>
      <div id="ticket-leftFilter" class="leftFilter">   
      </div>
    <%else%>
      <div id="ticket-leftFilter" rel="remote" class="leftFilter">   
        <%= render :partial => "helpdesk/shared/filter_options", :locals => { :current_filter => @ticket_filter, :requester_id =>  params[:requester_id] } %>
      </div>
    <%end%>
  </div>
  <div id="rightCol" class="contentCol <%="hasRightCol" unless (@current_view == "deleted" or @current_view == "spam" or @current_view == "monitored_by") %>">
    <%= render :partial => "helpdesk/shared/ticket_view", :locals => { :items => @items } , :inline => true %>
  </div>
<% content_for :pagefixed do %>
  <% javascript_tag do %>
      TicketListEvents();
      Fjax.afterNextPage = function() {
        MergeTicketsDestructor();
      }
  <% end %>
<% end %>
<script type="text/javascript">
  Fjax.current_page = "ticket_list";
</script>
