<% content_for :pagefixed do %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <%= javascript_include_tag "helpdesk/take_it_button" %>
  <%= javascript_include_tag "helpdesk/id_selector" %>
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){      
	    Helpdesk.sel = new Helpdesk.MultiSelector({
	        form: 'expanded',
	        cookieName: 'helpdesk-tickets-page'
	      });		  
   	
      new Helpdesk.PageSwitcher({
          toggleMode: true,
          pages: ['assign-options']
      });

    Helpdesk.monitorTakeItButtons();
	  	
    Helpdesk.submitOnChange('sort');
	  
	  Helpdesk.sel.toggleCheckAll = function(source){
	  	if(source.checked)
				Helpdesk.sel.checkAll();
			else
				Helpdesk.sel.uncheckAll();
	  };
		 	
	  
	  jQuery("#agent-assign-link").click(function(){
	  	jQuery("#assign-options")
	 		.dialog({ modal : true, 
	 			  show : 'puff', 
	 			  title:  '<%= t('ticket.assign_to_agent') %>',
	 			  closeOnEscape: true,
	 			  buttons: [{
        				text: "Assign",
        				click: function() { 
        					 Helpdesk.sel.submit("<%= assign_helpdesk_ticket_path('multiple') %>", "put", ['responder_id']);
        				}
    				}] 
	 			});
	  });	
	});
  <% end %>
<% end %>

<% content_for :onload_script do %>
  $J('#rightCol').css("minHeight", jQuery('#leftcol').height());
<% end %>
<div class="containerFull greyImage clearfix">
  <div id="leftcol" class="ticket-leftcol">
    <div class="leftFilter">   
	    <h3 class="title">Views</h3> 
      <%= render :partial => "filters" %>
    </div>
		<div class="leftFilter">    
    	<%= render :partial => "helpdesk/shared/filter_options", :locals => { :current_filter => @ticket_filter } %>
		</div>
  </div>
  <div id="rightCol" class="contentCol hasRightCol">
	  <%= render :partial => "helpdesk/shared/ticket_view", :locals => { :items => @items } %>
  </div>
</div>