<%= include_cloudfront_css :pattern %>
<%= include_cloudfront_js :pattern %>
<% content_for :onload_script do %>
  $J('#rightCol').css("minHeight", $J('#leftcol').height());
  $J("#helpdesk-select-all").on("click", function(ev){
    $J("#tickets-expanded input[type=checkbox]").prop("checked", $J(this).prop("checked"));
    $J("#tickets-expanded input[type=checkbox]").trigger('change');
  }); 

  $J("#select_view_id").live("change", function(ev){
    window.location = this.value;
  });
  
  $J("#assign-options-link").live("click", function(ev){
    jQuery("#assign-options").show();
    jQuery(this).hide();
  });
  jQuery.getScript('/helpdesk/tickets/full_paginate');
<% end %>

<% content_for :pagefixed do %>
  <%= render :partial => "collision_index" if feature?(:agent_collision) %>
  <%= render :partial => "auto_refresh" %>
<% end %>  

<% content_for :layoutType do -%>ticket_list<%- end %>
<div class="containerFull">
  <div id="leftcol" class="ticket-leftcol" style="display:<%=(@current_view != 'deleted' && @current_view != 'spam' && @current_view != 'monitored_by') ? 'block' : 'none' %>">
    <%if request.headers['X-PJAX'] %>
      <div id="ticket-leftFilter" class="leftFilter">   
      </div>
    <%else%>
      <div id="ticket-leftFilter" rel="remote" class="leftFilter">   
        <%= render :partial => "helpdesk/shared/filter_options", :locals => { :current_filter => @ticket_filter, :requester_id =>  params[:requester_id] } %>
      </div>
    <%end%>
  </div>
  <div id="rightCol" class="contentCol <%="hasRightCol" unless (@current_view == "deleted" or @current_view == "spam" or @current_view == "monitored_by") %>">
    <%= render :partial => "helpdesk/shared/ticket_view", :locals => { :items => @items } , :inline => true %>
  </div>
</div>
<% content_for :pagefixed do %>
  <% javascript_tag do %>
      TicketListEvents();
  <% end %>
<% end %>
