<% tracker_ticket = Account.current.link_tickets_enabled? && params[:display_ids].present? %>
<% content_for :helpcard do %>
  <%= render :partial => "helpdesk/tickets/new_tracker_helpnote" if tracker_ticket %>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => "helpdesk/tickets/ticket_widget/sidebar", :locals => {:from_page => 'new_ticket_page_side_bar'}%>
<% end %>

<%# multifile attachments templates %>
<% if  current_account.launched?(:multifile_attachments)  %>
  <%= render "helpdesk/tickets/ticket_widget/multifile_template_generator" %>
<% else %>
  <%= render "helpdesk/shared/single_attachment_template" %>
<% end %>
<div class="templates-header-wrapper">
  <%= render :partial => "helpdesk/tickets/ticket_widget/#{tracker_ticket ? 'new_tracker_title' : 'new_ticket_title'}" %>
<div id="ticket-fields-wrapper">
  <%= form_for @item, :html => {:multipart => true, :id => "NewTicket", :ignore => "" , :rel=>"validate"} do |f| %>
    <% enable_fragment_cache(:agent_new_ticket, tracker_ticket) do %>
      <ul class="compose-new-ticket">
        <%= render :partial => "ticket_form", :object => f, :locals => { :is_edit => (@item.errors.any? ? true : false), :f => f } %>
      </ul>
    <% end %>
    <!-- block ends here for fragment cache -->
    <%= hidden_field_tag('display_ids', params[:display_ids]) %>
  <% end %>
</div>
</div>
<!-- Populate value if, ticket created form forum -->
<input type="hidden" id="topic_id_stub" value="<%= params[:topic_id] %>" />
<% if params[:topic_id] %>
  <input type="hidden" id="topic_desc" value="<%= @topic.posts.first.body_html %>" />
  <input type="hidden" id="topic_title" value="<%= @topic.title %>" />
  <input type="hidden" id="topic_req" value="<%= @topic.user.email %>" />
<% end %>
<%= render :partial => "/helpdesk/tickets/canned_loading"  %>
<% if Account.current.launched?(:agent_new_ticket_cache) %>
  <script>
  // To load data from store to populate group/agent/product for the first time.
    jQuery(document).ready(function(){
      PopulateData.fromStore("#helpdesk_ticket_group_id", 'group');
      PopulateData.fromStore("#helpdesk_ticket_responder_id", 'agent');
      //PopulateData.fromStore("#helpdesk_ticket_product_id", 'product');
    });
  </script>
<% end %>
