<% content_for :sidebar do -%>&nbsp;<%- end %>

<%= form_for @item, :html => {:multipart => true, :id => "NewTicket", :ignore => "" , :rel=>"validate"} do |f| %>
    <%= render :partial => "helpdesk/tickets/ticket_widget/new_ticket_title" %>
    <div class="muted"><%= t("ticket.submit_a_ticket_info") %></div>
  <ul class="compose-new-ticket">  
    <%= render :partial => "ticket_form", :object => f, :locals => { :is_edit => (@item.errors.any? ? true : false), :f => f } %>
  </ul>
<% end %>
<%= javascript_tag do %>
  jQuery('a[name="action_save"]').bind('click', function(ev){
    preventDefault(ev);
    var _form = jQuery(this).parents("form");
    if(jQuery(this).prop('id') == 'save_and_close') {
      jQuery('#helpdesk_ticket_status').val('<%= Helpdesk::Ticketfields::TicketStatus::CLOSED %>')
      jQuery('#helpdesk_ticket_status').trigger('change')
    }
    else {
      _form.append(new Element('input', {
                     type: 'hidden',
                     name: 'save_and_create',
                     value: true
                   }));
    }

    _form.submit();
  });

  jQuery('#NewTicket').bind("submit", function(){
    var _form = jQuery(this);
    if(_form.valid())
    {
      if (_form.find('input[name="cc_emails[]"]').length >= 50) {
        alert('You can add upto 50 CC emails');
        return false;
      }
      _form.find("button, a.btn").attr('disabled',true);
    }
  });
<% end %>