<% content_for :sidebar do -%><%- end %>
<%= content_tag(:h3, t("ticket.submit_ticket_title"), :class => "lead") %>
<% form_for @item, :html => {:multipart => true, :id => "NewTicket", :ignore => "" } do |f| %>
  <ul class="ui-form">  
    <%= render :partial => "ticket_form", :object => f, :locals => { :is_edit => false, :f => f } %>
    <li>
      <%= render( :partial => "/helpdesk/shared/attachment_form" ) %>
    </li>
    <% if is_application_installed?("screenr") %>
      <li>
        <%= render :partial => "shared/screenr_recorder" , :locals => { :location => "agent_ticket" } %>
      </li>
    <% end %>
  </ul>
  <div class="button-container">
    <%= link_to t('cancel'), (@item.new_record? ? {:action => 'index'} : @item ), :class => "btn" %>
    <%= f.submit t('save'), :class => "btn btn-primary pull-right ml3" %>
    <%= submit_tag t('save_and_close'), :name => "save_and_close", :class => "btn", :id => "save_and_close" %>
    <%= submit_tag t('save_and_new'), :name => "save_and_create", :class => "btn" %>
  </div>
<% end %>
<% javascript_tag do %>
  jQuery('#save_and_close').bind('click', function(){
    jQuery('#helpdesk_ticket_status').val('5')
    jQuery('#helpdesk_ticket_status').trigger('change')
  })
<% end %>