<% content_for :sidebar do -%>&nbsp;<%- end %>
<%= content_tag(:h3, t("ticket.submit_ticket_new_title"), :class => "lead") %>
<div class="muted ticket_sub_text"><%= t("ticket.submit_a_ticket_info") %></div>
<%= form_for @item, :html => {:multipart => true, :id => "NewTicket", :ignore => "" } do |f| %>
  <ul class="ui-form">  
    <%= render :partial => "ticket_form", :object => f, :locals => { :is_edit => false, :f => f } %>
    <li>
      <%= render( :partial => "/helpdesk/shared/attachment_form" ) %>
    </li>
    <% if is_application_installed?("screenr") %>
      <li>
        <%= render :partial => "shared/screenr_recorder" , :locals => { :location => "agent_ticket" } %>
      </li>
    <% end %>
  </ul>

  <div class="btn-toolbar pull-right">
    <%= link_to t('cancel'), (@item.new_record? ? {:action => 'index'} : @item ), :class => "btn" %>

    <span class="btn-group dropup">
      <button class="btn btn-primary">
        <%= t('save') %>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </button>
      </button>

      <ul class="dropdown-menu pull-right">
        <li>
          <%= link_to t('save_and_close').html_safe, '#', :name => "action_save", :id => "save_and_close" %>
        </li>
        <li>
          <%= link_to t('save_and_new').html_safe, '#', :name => "action_save" %>
        </li>
      </ul>
    </span>  
  </div>
<% end %>
<%= javascript_tag do %>
  jQuery('a[name="action_save"]').bind('click', function(ev){
    preventDefault(ev);
    var _form = jQuery(this).parents("form");
    if(jQuery(this).prop('id') == 'save_and_close') {
      jQuery('#helpdesk_ticket_status').val('<%= Helpdesk::Ticketfields::TicketStatus::CLOSED %>')
      jQuery('#helpdesk_ticket_status').trigger('change')
    }
    else {
      _form.append(new Element('input', {
                     type: 'hidden',
                     name: 'save_and_create',
                     value: true
                   }));
    }

    _form.submit();
  });

  jQuery('#NewTicket').bind("submit", function(){
    var _form = jQuery(this);
    if(_form.valid())
    {
      if (_form.find('input[name="cc_emails[]"]').length >= 50) {
        alert('You can add upto 50 CC emails');
        return false;
      }
      _form.find("button, a.btn").attr('disabled',true);
    }
  });
<% end %>