<% content_for :sidebar do %>
  <%= render :partial => "helpdesk/tickets/ticket_widget/sidebar", :locals => {:from_page => 'new_ticket_page_side_bar'}%> 
<% end %>
<%# multifile attachments templates %>
<%= render "helpdesk/tickets/ticket_widget/multifile_template_generator" %>

<div class="templates-header-wrapper">
  <%= render :partial => "helpdesk/tickets/ticket_widget/new_ticket_title" %>
  <div class="muted"><%= t("ticket.submit_a_ticket_info") %></div>
<div id="ticket-fields-wrapper">
  <%= form_for @item, :html => {:multipart => true, :id => "NewTicket", :ignore => "" , :rel=>"validate"} do |f| %>
    <!-- Note: when any changes made to the block below or TICKET_FORM PARTIAL in the future,
         please update the memcache key version. key_name :: AGENT_NEW_TICKET_FORM  -->
    <% cache_based_on_launch(:cache_new_tkt_comps_forms, agent_new_tkt_form_memcache_key) do %>
      <ul class="compose-new-ticket">
        <%= render :partial => "ticket_form", :object => f, :locals => { :is_edit => (@item.errors.any? ? true : false), :f => f } %>
      </ul>
    <% end %>
    <!-- block ends here -->
  <% end %>
</div>
</div>
<%= render :partial => "/helpdesk/tickets/canned_loading"  %>

<script>
// To load data from store to populate group/agent/product for the first time.
  jQuery(document).ready(function(){
    PopulateData.fromStore("#helpdesk_ticket_group_id", 'group');
    PopulateData.fromStore("#helpdesk_ticket_responder_id", 'agent');
    PopulateData.fromStore("#helpdesk_ticket_product_id", 'product');
  });
</script>
