<% content_for :sidebar do -%>
  <div class="rtCnt sidepanel ticket-panel">
    <%= ticket_sidebar unless @ticket.deleted %>
  </div>
<%- end %>

<%= render :partial => "ticket_info" %>

<% unless @ticket.deleted %>
	<div class="replylinks">
		<%= button_to_function(t('ticket.reply_to'), "swapEmailNote('reply', this)", :id => "ReplyButton", :class => "btn small") unless @item.from_email.nil? %>
		<%= button_to_function("Tweet", "swapEmailNote('tweet', this)",  :id => "TweetButton", :class => "btn small") if @item.requester && @item.is_twitter?%>
		<%= button_to_function("Comment", "swapEmailNote('fb_post', this)",  :id => "FacebookButton", :class => "btn small") if @item.requester && @item.fb_post%>
		<%= button_to_function(t('ticket.add_note'), "swapEmailNote('note', this)", :id => "AddNoteButton", :class => "btn small") %>		
		<%= button_to_function(t("ticket.add_time"), "jQuery('#TimesheetTab').click()", :id => "TimeSheetButton", :title => "Add time entry", :class => "btn small") if feature?(:timesheets) %>
	</div>
<% end %>

<div class="request-well">			
	<%= ticket_tabs %>
</div>		
<div class="tab-content">
	<div class="requestCnt request-conversation active tab-pane" id="Pages">
		<div id="TicketForms">
		  <%= render(:partial => '/helpdesk/shared/reply_form', :locals => { :id => 'send-email', :cntid => 'cnt-reply', :note => [@ticket, Helpdesk::Note.new(:private => false)] }) %>
		  <%= render(:partial => '/helpdesk/shared/note_form', :locals => { :id => 'add-note',	:cntid => "cnt-note", :note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
		  <%= render(:partial => '/helpdesk/shared/tweet_form', :locals => { :id => 'send-tweet', :cntid => 'cnt-tweet', :note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
		  <%= render(:partial => '/helpdesk/shared/facebook_form', :locals => { :id => 'send-fb-post', :cntid => 'cnt-fb-post', :note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
			<div class="canned-response-menu hide" id="canned_response_container"> 
			  <div>
			    <%= link_to("Add Canned response", new_admin_canned_response_path, :target => "_blank", :class => "button") if(current_user.admin?) %>
			  </div>
			  <div id="canned_response_list"></div>
			</div>
		</div> 
		<% unless @ticket_notes.blank? %>
			<%= render :partial => 'note', :collection => @ticket_notes %>
			<%= will_paginate @ticket_notes %>
		<% else %>	
			<% content_for :onload_script do -%> 
			  jQuery('#cnt-reply').show();
			<% end %>
		<% end %>	
  </div>			  
	<div class="requestCnt request-conversation tab-pane" id="Timesheet">
	  <div class="loading-box"></div>
	</div>
</div>

<% content_for :pagefixed do %> 
  <%= pageless(@ticket_notes.total_pages, helpdesk_ticket_helpdesk_notes_path(@ticket)) %>  
  <%= include_tiny_mce_if_needed %>
	<% javascript_tag do %>
		swapEmailNote = function(action, link){
			jQuery("#PagesTab").click();
					if(action == "reply")
					{
						jQuery('#cnt-note').hide();
						jQuery('#cnt-tweet').hide();
						jQuery('#cnt-fb-post').hide();
						jQuery('#cnt-reply').toggle();
						tinyMCE.execInstanceCommand("send-email-cnt-reply-body","mceFocus",false);
					}
					else if (action == "note")
					{
						jQuery('#cnt-reply').hide();
						jQuery('#cnt-tweet').hide();
						jQuery('#cnt-fb-post').hide();
						jQuery('#cnt-note').toggle();
						//setCaretToPos($('add-note-cnt-note-body'), 0);
					}
					else if (action == "fb_post")
					{
						jQuery('#cnt-reply').hide();
						jQuery('#cnt-tweet').hide();
						jQuery('#cnt-note').hide();
						jQuery('#cnt-fb-post').toggle();
						setCaretToPos($('send-fb-post-cnt-fb-post-body'), 0);

					}
					else
					{
						jQuery('#cnt-reply').hide();
						jQuery('#cnt-note').hide();
						jQuery('#cnt-fb-post').hide();
						jQuery('#cnt-tweet').toggle();
						setCaretToPos($('send-tweet-cnt-tweet-body'), 0);			
					}
				}

    function show_canned_response(ticket_id){
      jQuery("#canned_response_container")
        .show().addClass("loading");
      jQuery("#canned_response_list")
        .load("/helpdesk/tickets/canned_reponse/"+ticket_id, function(){
          jQuery("#canned_response_container")
            .removeClass("loading");
        })
        .show();        
    }
         

		function insertIntoConversation(value){
			note_area  = jQuery('#cnt-note');
			reply_area = jQuery('#cnt-reply');
			tweet_area = jQuery('#cnt-tweet');
			if(note_area.css("display") == 'block'){
				tinyMCE.execInstanceCommand("add-note-cnt-note-body","mceInsertContent",false, value);
			} 
			else if(tweet_area.css("display") == 'block'){
				get_short_url(value, function(bitly){
						insertTextAtCursor( $('send-tweet-cnt-tweet-body'), bitly || value );
						jQuery('#send-tweet-cnt-tweet-body')
								.trigger("focus")
								.trigger("keydown");
				});			
			}
			else{
				if(reply_area.css("display") == 'none')
					jQuery('#ReplyButton').trigger("click");
               
        tinyMCE.execInstanceCommand("send-email-cnt-reply-body","mceInsertContent",false, value);
			}
		}
		
		function getCannedResponse(ticket_id, ca_resp_id){
  	  jQuery("#canned_response_container").addClass("loading")
  		jQuery.ajax({	type: 'POST',
  						url: '/helpdesk/tickets/get_ca_response_content/'+ticket_id+'?ca_resp_id='+ca_resp_id,
  						contentType: 'application/text',
  						async: false,
  						success: function(data){		
  									insertIntoConversation(data);
  							    jQuery("#canned_response_list")
  							      .removeClass("loading")
  							      .hide(300);
  								}
  						});
  		return true;
  	}
	
  <% end %>

<% end %>

<% content_for :onload_script do -%> 	
	jQuery('#custom_ticket_form').validate();
	jQuery("#TimesheetTab").click();
<%- end %>