
<%= stylesheet_link_tag_with_rtl :'cdn/tkt_details_print', :media => "print"  %>
<%= render :partial => "helpdesk/tickets/show/scriptvars" %>

<%= render :partial => "helpdesk/shared/multi_attachment_template" %>

<%= load_sticky %>
<div class="tkt-wrapper ticket_show" data-showing='notes' data-multifile="true">
	<div class="tkt-wrapper-inner clearfix">

		<%# render :partial => "helpdesk/tickets/show/info" %>
		<div id="forFixed" class="conversation_thread"></div>
		<div id="tkt-inner" class="scollable_content clearfix" >

			<% unless params[:format] == 'widget' %>
				<%= render :partial => "helpdesk/tickets/show/sidebar" %>
			<% end %>
			<!--content Left-->
			<div class="leftcontent" data-ticket-id="<%= @ticket.id =%>">
				<div class="conversation_thread" id="original_request">
					<div class="conversation">
						<% if @ticket.outbound_email? %>
							<%= render :partial => "helpdesk/tickets/show/outbound_request" %> 
						<% else %>
							<%= render :partial => "helpdesk/tickets/show/original_request" %> 
						<% end %>
					</div>
				</div>
				<div class="conversation_thread hide" id="show_more" data-domhelper-name="show-more">
					<div class="conversation">
						<a href="" class="avatar-wrap avatar-wrap-collapse"><p>
							<span class='count_number not_on_loading' rel='count-total-remaining'></span>
							<span class='count_number loading_only'>...</span>
							<span rel='count_more' class="count_more not_on_loading"><%= t('more') %></span>
						</p></a>
						<a href="" class="commentbox commentbox-blue">
							<div><%= t('ticket.expand') %></div>
						</a>
					</div>
				</div>
				<%= render :partial => "helpdesk/tickets/show/conversations" %>
				<% if current_account.link_tickets_enabled? && @last_broadcast_message.present? %>
					<div class="conversation_thread" id="recent_broadcasted_message">
						<div class="conversation">
							<%= render :partial => "helpdesk/tickets/show/broadcast_message" %> 
						</div>
					</div>
				<% end %>

				<% if current_account.collaboration_enabled? %>
					<div id="collab-option-dd" class="collab-option-dd hide">
						<span class="collab-logo">
							<%= font_icon "huddle-logo", { :size => 22 , :class => "logo-image"} %>
			      </span>
						<span class="collab-discuss-text" id="collab-discuss-text"><%=t('collaboration.discuss')%></span>
					</div>
					<div id="show-discussion-dd" class="show-discussion-dd hide">
						<span class="bridge-span"></span>
						<div>
							<span id="annotator-image" class="annotator-image"></span>
							<span id="view-discussion-text" class="view-discussion-text"><%=t('collaboration.view_discussion')%></span>
						</div>
					</div>
				<% end %>

				<%= render :partial => "helpdesk/tickets/show/new_conversation" %> 
			</div>
		</div>
	</div>
</div>

<%= render :partial => "helpdesk/tickets/show/due_date" %>
<% if current_account.features?(:collision) %>
	<%= render :partial => "helpdesk/tickets/freshdesk_socket", :locals => {:ticket => @ticket } if current_account.agents_details_from_cache.count > 1%>
<% end %>
<% content_for :dialogs do %>
	<% if current_account.collaboration_enabled? %>
		<%= render :partial => "helpdesk/tickets/collaboration" %>
	<% end %>
<% end %>


<script type="text/javascript">
	Fjax.Assets.plugin('360player');
	jQuery(document).ready(function(){
		jQuery('div.attach-error').parents('.commentbox').find('.seperator').addClass('overlapping');
		jQuery(".search_field_item input").keypress(function(event) { return event.keyCode != 13; });
	});
	!function(){
		"use strict";
		Fjax.bodyClass = 'ticket_details';
		Fjax.current_page = 'ticket_detail';

		<% if @ticket.twitter? %>
		jQuery(document).ready(function(){
			 jQuery('#twitter_handle').change();
		});
		<% end %>
		<% if @draft.present? %>
			jQuery('#HelpdeskReply').data('containDraft', true)
		<% end %>

		jQuery('#revert_details_view #switch').on('click.ticket_details',function(ev) {
			ev.preventDefault();;
			setCookie('new_details_view', 'false', 90, '/');
			window.location = '<%= helpdesk_ticket_path(@ticket) %>';
		});
		deleteCookie('new_details_view', '/');
		
		jQuery(".list_agents_replying").addClass("hide");
}()
jQuery('body').one('assetLoaded.fjax', function() {
	console.log('assets loaded');
	<% survey_association = current_account.new_survey_enabled? ? "custom_survey_results" : "survey_results" %>
	<% if current_account.customer_sentiment_ui_enabled? && current_user.language=="en" %>;
		<% if current_user.privilege?(:admin_tasks) || current_user.privilege?(:view_reports) %>
			<% if @ticket.safe_send(survey_association).nil? || @ticket.safe_send(survey_association).last.nil? %>
				sentiment = {};sentiment.last_note={};
				sentiment.ticket_id = <%= @ticket.id %>
				sentiment.key = "<%= MlAppConfig["kissmetrics"] %>"
				sentiment.display_id = <%= @ticket.display_id %>
				sentiment.ticket_sentiment = <%= @ticket.sentiment %>
				<% if (@ticket.notes.visible.customer_responses.last != nil) %>
		 			sentiment.last_note.note_id = <%= @ticket.notes.visible.customer_responses.last.id %>
		 			sentiment.last_note.note_sentiment = <%= @ticket.notes.visible.customer_responses.last.sentiment %> 
	 			<% end %>
			 	
				App.Sentiment.init();
			<% end %>		
		<% end %>
	<% end %>
});
<% add_to_reply = !(@ticket.facebook? || @ticket.twitter?) %>
<% if add_to_reply %>
  Helpdesk.MultipleFileUpload.addToRply.init();
<% end %>
</script>
<% content_for :layoutType do -%>ticket_details<%- end %>
