<% content_for :sidebar do -%>
  <div class="rtCnt sidepanel ticket-panel">
    <%= ticket_sidebar unless @ticket.deleted %>
  </div>
<%- end %>

<%= render :partial => "ticket_info" %>
<%= render :partial => "ticket_forms" %>

<div class="request-well">			
	<%= ticket_tabs %>
</div>		
<div class="tab-content">
	<div class="requestCnt request-conversation active tab-pane" id="Pages">
		<% unless @ticket_notes.blank? %>
			<%= render :partial => 'note', :collection => @ticket_notes %>
			<%= will_paginate @ticket_notes %>
		<% end %>	
  </div>			  
	<div class="requestCnt request-conversation tab-pane" id="Timesheet">
	  <div class="loading-box"></div>
	</div>
</div>

<% content_for :pagefixed do %> 
  <%= pageless(@ticket_notes.total_pages, helpdesk_ticket_helpdesk_notes_path(@ticket)) %>  
  <%= javascript_include_tag "helpdesk/multifile.js" %>	
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <%= include_tiny_mce_if_needed %>
	<% javascript_tag do %>
		swapEmailNote = function(action, link){
		  jQuery("#TicketForms .request_panel").hide();		  
			if(action == "reply"){				
				jQuery('#cnt-reply').toggle();
				tinyMCE.execInstanceCommand("send-email-cnt-reply-body","mceFocus",false);
			}
			else if (action == "note"){
				jQuery('#cnt-note').toggle(); 
			}
			else if (action == "fb_post")
			{
				jQuery('#cnt-fb-post').toggle();
				setCaretToPos($('send-fb-post-cnt-fb-post-body'), 0);			
			}
			else if (action == "timesheet"){
				jQuery('#add_new_time_entry').toggle();
			}
			else{
				jQuery('#cnt-tweet').toggle();
				setCaretToPos($('send-tweet-cnt-tweet-body'), 0);			
			}
		}

    function show_canned_response(ticket_id){
      jQuery("#canned_response_container")
        .show().addClass("loading");
      jQuery("#canned_response_list")
        .load("/helpdesk/tickets/canned_reponse/"+ticket_id, function(){
          jQuery("#canned_response_container")
            .removeClass("loading");
        })
        .show();        
    }
         

		function insertIntoConversation(value){
			note_area  = jQuery('#cnt-note');
			reply_area = jQuery('#cnt-reply');
			tweet_area = jQuery('#cnt-tweet');
			if(note_area.css("display") == 'block'){
				tinyMCE.execInstanceCommand("add-note-cnt-note-body","mceInsertContent",false, value);
			} 
			else if(tweet_area.css("display") == 'block'){
				get_short_url(value, function(bitly){
						insertTextAtCursor( $('send-tweet-cnt-tweet-body'), bitly || value );
						jQuery('#send-tweet-cnt-tweet-body')
								.trigger("focus")
								.trigger("keydown");
				});			
			}
			else{
				if(reply_area.css("display") == 'none')
					jQuery('#ReplyButton').trigger("click");
               
        tinyMCE.execInstanceCommand("send-email-cnt-reply-body","mceInsertContent",false, value);
			}
		}
		
		function getCannedResponse(ticket_id, ca_resp_id){
  	  jQuery("#canned_response_container").addClass("loading")
  		jQuery.ajax({	type: 'POST',
  						url: '/helpdesk/tickets/get_ca_response_content/'+ticket_id+'?ca_resp_id='+ca_resp_id,
  						contentType: 'application/text',
  						async: false,
  						success: function(data){		
  									insertIntoConversation(data);
  							    jQuery("#canned_response_list")
  							      .removeClass("loading")
  							      .hide(300);
  								}
  						});
  		return true;
  	}
	
  <% end %>

<% end %>

<% content_for :onload_script do -%> 
  jQuery('a.submit').live("click", function(ev){
		ev.preventDefault();
		jQuery(this).button("loading");
		jQuery(this).parents("form").submit();		
	}); 
	
	jQuery('#custom_ticket_form').validate();

  // Updating Various items when a Timeentry is added or removed
  jQuery('#timesheetlist div.timeentry').livequery(function(ev){
    jQuery('#timesheet_count').html(jQuery('#timesheetlist div.timeentry').size());
  }, function(ev){
    jQuery('#timesheet_count').html(jQuery('#timesheetlist div.timeentry').size());
  });
<%- end %>