<% content_for :pagefixed do %>
	<%= javascript_include_tag "helpdesk/expanding_textarea.js" %>
	<%= javascript_include_tag "helpdesk/multifile.js" %>	
  <%= javascript_include_tag "helpdesk/page_switcher" %>
	<% javascript_tag do %>
		swapEmailNote = function(action, link)
		{
			if (action == "reply")
			{
				jQuery('#cnt-note').hide();
				jQuery('#cnt-reply').toggle();
				setCaretToPos($('send-email-cnt-reply-body'), 0);
			}
			else
			{
				jQuery('#cnt-reply').hide();
				jQuery('#cnt-note').toggle();
				setCaretToPos($('add-note-cnt-note-body'), 0);
			}
		}
		Helpdesk.swapEmailNote = function(cls, private, submit, link, id){
			var el = $(id);
			el.show();
			//el.attributes['class'].nodeValue = cls;
			if(private){
				//el.down('h5[datafor=note]').show();
				el.down('li[datafor=note]').show();
				//el.down('h5[datafor=email]').hide();
				el.down('li[datafor=email]').hide();	
			}else{
				//el.down('h5[datafor=email]').show();
				el.down('li[datafor=email]').show();
				//el.down('h5[datafor=note]').hide();
				el.down('li[datafor=note]').hide();
			}
			el.down('input[type=submit]').value = submit;
			el.down('input[id$=private]').value = private;
			
			link.addClassName('active');
			link.siblings().each(function(l){ l.removeClassName('active'); });
		}
		Helpdesk.submitToTicket = function(cls, private, submit, link){			 
			var el = $('note-form-container');
			//el.attributes['class'].nodeValue = cls;
			//el.down('input[type=submit]').value = submit;
			el.down('input[id$=private]').value = private;
			if(el.down('textarea').value.trim() != ''){
				el.down('form').submit();
			} 
			//link.addClassName('active');
			//link.up('li').siblings().each(function(l){ l.removeClassName('active'); });
		}
		
		jQuery(document).ready(function(){
			var activeCnt = jQuery("#TicketProperties"); 
			jQuery(".rtPanel a").bind("click", function(ev){
				activeCnt.hide();
				//activeCnt = jQuery("#"+this.getAttribute("cntid")).show("slide", { direction: "left" }, 300);
				activeCnt = jQuery("#"+this.getAttribute("cntid")).show();

				jQuery(this).parent().find(".active").removeClass("active");
				jQuery(this).addClass("active");
			}); 

			jQuery('#custom_ticket_form').validate(); 
		});
	<% end %>
<% end %> 

<% content_for :sidebar do %>
	<% unless @ticket.deleted %>
		<div class="rtCnt sidepanel ticket-panel">
			<div class="rtPanel">
				<a href="javascript:void(0)" class="active" cntid="TicketProperties">
					<img src="/images/spacer.gif" class="ticketprop" width="36px" height="36px"  />
					<em><%=t('ticket.properties')%></em>
				</a>
				<a href="javascript:void(0)" cntid="RelatedSolutions">
					<img src="/images/spacer.gif" class="suggestsolutions" width="36px" height="36px"  />
					<em><%=t('ticket.suggest_solutions')%></em>
				</a>
				<% if feature?(:scenario_automations) %>
					<a href="javascript:void(0)" cntid="Scenarios">
						<img src="/images/spacer.gif" class="scenario" width="36px" height="36px"  />
						<em><%=t('ticket.execute_scenario')%></em>
					</a>
				<% end %>
				<a href="javascript:void(0)" cntid="RequesterProperties">
					<img src="/images/spacer.gif" class="requesterinfo" width="36px" height="36px"  />
					<em><%=t('ticket.requestor_info')%></em>
				</a>
				<a href="javascript:void(0)" cntid="TicketTodos">
					<img src="/images/spacer.gif" class="todo" width="36px" height="36px"  />
					<em><%=t('to_do')%></em>
				</a>
				<a href="javascript:void(0)" cntid="TicketTags">
					<img src="/images/spacer.gif" class="tags" width="36px" height="36px"  />
					<em><%=t('tag.title')%></em>
				</a>
				<a href="javascript:void(0)" cntid="Activity">
					<img src="/images/spacer.gif" class="activity" width="36px" height="36px"  />
					<em><%= t('ticket.activities') %></em>
				</a>
			</div>	
			 <%= render :partial => "helpdesk/tickets/components/ticket", :object => @ticket %>
			 <%= render :partial => "helpdesk/tickets/components/user", :object => @ticket.requester %>
			 <%= render :partial => "helpdesk/tickets/components/tags", :locals => { :ticket => @ticket } %>
			 <%= render :partial => "helpdesk/tickets/components/todos", :locals => { :ticket => @ticket } %>
			 <%= render :partial => "helpdesk/tickets/components/related_solutions", :locals => { :ticket => @ticket } %>
			 <%= render(:partial => "helpdesk/tickets/components/scenarios") if feature?(:scenario_automations) %>
			 <%= render :partial => "helpdesk/tickets/components/activity",  :locals => { :ticket => @ticket } %>	
		</div>
	<% end %>
<% end %>

<% content_for :main_panel_title do %>
<% end %>
<% content_for :main_panel_actions do %>
<% end %>
<% content_for :main_panel_summary do %>
	<div class="request_details">
		<% if @ticket.deleted %>
			<div class="info-highlight-deleted">
				<div class="action_buttons">
					<%= link_to(t('ticket.restore_btn'), restore_helpdesk_ticket_path(@ticket), :method => :put, :class => "last", :title => t('ticket.restore_btn_title') ) %>
				</div>
				<%=t('this_ticket_has_been_deleted') %>
			</div>	
		<% end %>	
	    <div class="requestCnt request-cnt-first"> 
				<% unless @ticket.deleted %>
						<div class="request_status">
	            <ul>
	                <li>
	                    <b><%= t('ticket.status') %></b>: <span id="status_name_id"><%= h(@ticket.status_name) %></span>
	                </li>
	                <li>
	                    <b><%= t('ticket.priority') %></b>: <%= h(@ticket.priority_name) %>
	                </li>
	            </ul>
 						</div>
				<% end %>
			<h3 class="title">
				<em><%= "##{@ticket.display_id}" %></em>
				<b><%= h(@ticket.subject) %></b>
		  </h3>
			<div class="description"> 
		        <div class="user_details">
		        	<%= user_avatar(@ticket.requester.avatar)  %>
		          <div> <%= t('ticket.reported_by', :requester => link_to(h(@ticket.requester.display_name),@ticket.requester, :class => "user_name")) %> </div>
		        <div> 
					<%= t('ticket.created_on', :time => formated_date(@ticket.created_at)) %>
						<% metainfo = @ticket.notes.find_by_source(Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["meta"]) %>
						<% unless (metainfo.blank?) %>
							<span class="meta_icon" title="<%= metainfo.body %>"> 
								meta
							</span>
						<% end %>
					</div> 
        </div>
				<% unless @ticket.deleted %>
					<div class="ticket_actions action_icons">
						<div class="action_buttons clearfix">
							<%= link_to(t('ticket.edit_btn'), edit_helpdesk_ticket_path(@ticket)  ) %> 
							<%= link_to(t('ticket.close_btn'), close_helpdesk_ticket_path(@ticket), :method => :put, :title  => t('ticket.close_btn_title')) unless @ticket.closed? %>
							<%= link_to(t('ticket.delete_btn'), @ticket, :method => :delete, :class => "last", :title => t('ticket.delete_btn_title')) %>
						</div>	
						<div class="floatr">  
		            		<%= link_to(image_tag("/images/spacer.gif"), helpdesk_ticket_helpdesk_subscriptions_path(@ticket), :method => :post, :class => "monitor", :title => t('ticket.monitor_btn_title') ) if not @subscription %>
							<%= link_to(image_tag("/images/spacer.gif"), helpdesk_ticket_helpdesk_subscription_path(@ticket, @subscription), :method => :delete, :class => "monitor_active",  :title => t('ticket.stop_monitor_btn_title') ) if @subscription %>
							<%= link_to(image_tag("/images/spacer.gif"), unspam_helpdesk_ticket_path(@ticket), :method => :put, :class => "spam_active", :title => t('ticket.ham_btn_title') ) if @ticket.spam %>
						   	<%= link_to(image_tag("/images/spacer.gif"), spam_helpdesk_ticket_path(@ticket), :method => :put, :class => "spam", :title  => t('ticket.spam_btn_title')) unless @ticket.spam %>
						</div>
        	</div>	
			<% end %>
		  <div id="description-full" style="display:block" class="details min_height">
			 	<%= RedCloth.new(auto_link(@ticket.description, :all, :target => "_blank")).to_html %>
			</div>
				<% unless @ticket.attachments.empty? %>
					<span class="seperator"></span>
					<h4><%= @ticket.attachments.size %> attachment(s)</h4>
					<ul class="attachment_list">
					     <%= render :partial => '/helpdesk/shared/attachment', :collection => @ticket.attachments, :locals => {:show_delete => true, :url => [@item] } %>
					</ul>
				<% end %>
		</div>
		<% unless @ticket.ticket_topic.nil? %>
			<div class="request_info"> 
				<ul>
					<li>
						This ticket is linked to the forum "<%= link_to("#{@ticket.topic.title}" , category_forum_topic_path(@ticket.topic.forum.forum_category.id,@ticket.topic.forum.id,@ticket.topic.id), :class => "link_to") %>"
					</li>
				</ul>
			</div>
			<% end %>
	    </div>		 

		<% unless @ticket.deleted %>
			<div class="floatr">
				<%= link_to_function(t('ticket.reply_to'), "swapEmailNote('reply', this)", :class => 'uiButton', :id => "ReplyButton") if @item.requester %>	  
				<%= link_to_function(t('ticket.add_note'), "swapEmailNote('note', this)", :class => 'uiButton', :id => "AddNoteButton") %>		
			</div>			
		<% end %>
		<% unless @ticket_notes.blank? then %>
			<h3 class="subtitle">Conversation</h3>
			<div>
						<% if @item.requester %> 
							<%= render(:partial => '/helpdesk/shared/note_form', :locals => {:id => 'add-note',	:cntid => "cnt-note", :note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
							<%= render(:partial => '/helpdesk/shared/reply_form', :locals => {:id => 'send-email', :cntid => 'cnt-reply', :note => [@ticket, Helpdesk::Note.new(:private => false)] }) %>
						<% else %>
							<%= render(:partial => '/helpdesk/shared/note_form', :locals => {:id => 'add-note',	:cntid => "cnt-note", :note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
						<% end %>
			</div>
			<div class="requestCnt request-conversation">
				<%= render :partial => 'note', :collection => @ticket_notes %>
		    </div>
		<% end %>
	</div>
<% end %>

<% content_for :main_panel_toolbar do -%><%- end %>

<% content_for :main_panel_content do -%>
	<div class="clear"></div>
<%- end %>

<%= render :partial => "/helpdesk/shared/main_panel" %>
