<% content_for :layoutType do %>request_view<% end %>

<% content_for :head do %>
	<%= javascript_include_tag "helpdesk/expanding_textarea.js" %>
	<%= javascript_include_tag "helpdesk/multifile.js" %>
	
	<% javascript_tag do %>
		Helpdesk.swapEmailNote = function(cls, private, submit, link){
			var el = $('note-form-container');
			el.attributes['class'].nodeValue = cls;
			el.down('input[type=submit]').value = submit;
			el.down('input[id$=private]').value = private;
			link.addClassName('active');
			link.up('li').siblings().each(function(l){ l.down('a').removeClassName('active'); });
		}
		Helpdesk.submitToTicket = function(cls, private, submit, link){			 
			var el = $('note-form-container');
			//el.attributes['class'].nodeValue = cls;
			//el.down('input[type=submit]').value = submit;
			el.down('input[id$=private]').value = private;
			if(el.down('textarea').value.trim() != ''){
				el.down('form').submit();
			} 
			//link.addClassName('active');
			//link.up('li').siblings().each(function(l){ l.down('a').removeClassName('active'); });
		}
	<% end %>
<% end %>

<% javascript_tag do %>
	
	function changeAggentList(group_id)
	{ 
		jQuery.ajax({
	      					type: 'POST',
							url: '/helpdesk/tickets/get_agents/'+group_id,
							contentType: 'application/text',
	      					success: function(data){
																					
											jQuery('#assigned_to').replaceWith(data);
									}
				});
	}
	
	jQuery(document).ready(function(){
		var activeCnt = jQuery("#TicketProperties"); 
		jQuery(".rtPanel a").bind("click", function(ev){
			activeCnt.hide();
			activeCnt = jQuery("#"+this.getAttribute("cntid")).show("fade", 300);
			
			jQuery(this).parent().find(".active").removeClass("active");
			jQuery(this).addClass("active");
		});
		
		
		jQuery(window).scroll(function(){
			/*
			if(jQuery(window).scrollTop() > jQuery("#SmartSideBar").offset().top){ 
				jQuery(".rtCnt").css("position", "fixed");
				jQuery(".rtCnt").css("top", "0px");
			}	
			if(jQuery(window).scrollTop() <= jQuery("#SmartSideBar").offset().top){
				jQuery(".rtCnt").css("position", "relative"); 
			}
			*/
		
		});
		
	});
	
<% end %>

<% content_for :sidebar do %>
<div id="SmartSideBar"></div>
<div class="rtCnt">
	<div class="rtPanel">
		<a href="javascript:void(0)" class="active" cntid="TicketProperties">
			<img src="/images/page_white_gear.png" width="32px" height="32px"  />
			<em>Ticket Properties</em>
		</a>
		<a href="javascript:void(0)" cntid="Scenarios">
			<img src="/images/widgets.png" width="32px" height="32px"  />
			<em>Execute Scenario</em>
		</a>
		<a href="javascript:void(0)" cntid="RequesterProperties">
			<img src="/images/user_gray.png" width="32px" height="32px"  />
			<em>Requestor Info</em>
		</a>
		<a href="javascript:void(0)" cntid="TicketTodos">
			<img src="/images/tick.png" width="32px" height="32px"  />
			<em>To Do</em>
		</a>
		<a href="javascript:void(0)" cntid="RelatedSolutions">
			<img src="/images/help.png" width="32px" height="32px"  />
			<em>Suggest Solutions</em>
		</a>
		<a href="javascript:void(0)" cntid="TicketTags">
			<img src="/images/three_tags.png" width="32px" height="32px"  />
			<em>Tags</em>
		</a>
	</div>	
	 <%= render :partial => "helpdesk/tickets/components/ticket", :object => @ticket %>
	 <%= render :partial => "helpdesk/tickets/components/user", :object => @ticket.requester %>
	 <%= render :partial => "helpdesk/tickets/components/tags", :locals => { :ticket => @ticket } %>
	 <%= render :partial => "helpdesk/tickets/components/todos", :locals => { :ticket => @ticket } %>
	 <%= render :partial => "helpdesk/tickets/components/related_solutions", :locals => { :ticket => @ticket } %>
	 <%= render :partial => "helpdesk/tickets/components/scenarios" %>
		
</div>	
 <div style="display:none">
	<%= content_tag(:div, "This ticket is flagged as spam. " + link_to("(undo)", unspam_helpdesk_ticket_path(@ticket), :method => :put), :class => 'spam') if @ticket.spam %>
	<%= content_tag(:div, "This ticket is deleted. " + link_to("(undo)", restore_helpdesk_ticket_path(@ticket), :method => :put), :class => 'spam') if @ticket.deleted %>
	<%= content_tag(:div, "You're monitoring this ticket. " + link_to("(stop)", helpdesk_ticket_helpdesk_subscription_path(@ticket, @subscription), :method => :delete), :class => 'monitoring') if @subscription %>	 
	
	<div class="rightSubContainers">
		<h4>Actions</h4>
		
		<ul class="actions">
		    <%= content_tag(:li, link_to("Monitor this ticket", helpdesk_ticket_helpdesk_subscriptions_path(@ticket), :method => :post, :class => "button" )) if not @subscription %>
		    <%= content_tag(:li, link_to("Stop monitoring this ticket", helpdesk_ticket_helpdesk_subscription_path(@ticket, @subscription), :method => :delete, :class => "button" )) if @subscription %>
		    <%= content_tag(:li, link_to("This is not spam", unspam_helpdesk_ticket_path(@ticket), :method => :put, :class => "button" )) if @ticket.spam %>
		    <%= content_tag(:li, link_to("Mark as spam", spam_helpdesk_ticket_path(@ticket), :method => :put, :class => "button" )) unless @ticket.spam %>
		    <%= content_tag(:li, link_to("Delete this ticket", @ticket, :method => :delete, :class => "button" )) unless @ticket.deleted %>
		    <%= content_tag(:li, link_to("Undelete this ticket", restore_helpdesk_ticket_path(@ticket), :method => :put, :class => "button" )) if @ticket.deleted %>
		    <%= content_tag(:li, link_to("View in portal", support_ticket_path(@ticket), :class => "button" )) if not @subscription %>
		</ul>
	</div>
	</div>
<% end %>

<% content_for :main_panel_title do %>
<% end %>
<% content_for :main_panel_actions do %>
<% end %>
<% content_for :main_panel_summary do %>  
	<div class="request_details">
	    <div class="requestCnt">
	    	<div class="request_status">
	            <span class="ltSlant"></span>
	            <ul>
	                <li>
	                    <b>Status</b>: <%= h(@ticket.status_name) %>
	                </li>
	                <li>
	                    <b>Priority</b>: <%= h(@ticket.priority_name) %>
	                </li>
	            </ul>
	        </div>
			<div class="title">
		            <em><%= "##{@ticket.display_id}" %></em>
		            <b><%= h(@ticket.subject) %></b>
		    </div>
			<div class="description">
		        <div class="user_details">
		        	<%= render :partial => "/shared/avatar", :object => @ticket.requester.avatar  %>
		          		Reported by <%= link_to(h(@ticket.requester.name),@ticket.requester, :class => "user_name") %>
		            <div> 
						Created on <%= h(@ticket.created_at.strftime("%B %e %Y at %I:%M %p")) %> 
					</div>				
		        </div>	        
				<div id="description-summary" class="details min_height">
		            <%= h(truncate(@ticket.description, :length => 550)) %>
		            <% if(@ticket.description.size > 550) %>
		            	<%= link_to_function "(more)", "Element.hide('description-summary'); Element.show('description-full');" %>
		            <% end %>
		        </div>
		        <div id="description-full" style="display:none" class="details">
			    	<%= @ticket.description %>
			    </div>
			</div>
	    </div>		
		<% unless @ticket.notes.visible.newest_first.blank? then %>
		    <h3 class="subtitle">Conversation</h3>
			<div class="requestCnt">
				<%= render :partial => 'note', :collection => @ticket.notes.visible.newest_first %>
		    </div>
		<% end %>
		
		<div id="RequestPanel"></div>
		<div class="request_panel" id="RequestToolbox">
			<% if @item.requester %>
				<%= render(:partial => '/helpdesk/shared/note_form', :locals => {:id => 'send-email', :note => [@ticket, Helpdesk::Note.new(:private => false)] }) %>
			<% else %>
				<%= render(:partial => '/helpdesk/shared/note_form', :locals => {:id => 'add-note',	:note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
			<% end %>
		</div>
		<br /><br />
	</div>

<% end %>
<% content_for :main_panel_toolbar do %>
	
<% end %>

<% content_for :main_panel_content do %>
	
<div class="clear"></div>

<% end %>
<%= render :partial => "/helpdesk/shared/main_panel" %>
