<% content_for :layoutType do %>request_view<% end %>

<% content_for :head do %>
	<%= javascript_include_tag "helpdesk/expanding_textarea.js" %>
	<%= javascript_include_tag "helpdesk/multifile.js" %>
	
	<% javascript_tag do %>
		Helpdesk.swapEmailNote = function(cls, private, submit, link, id){
			var el = $(id);
			el.show();
			//el.attributes['class'].nodeValue = cls;
			if(private){
				el.down('h5[datafor=note]').show();
				el.down('tr[datafor=note]').show();
				el.down('h5[datafor=email]').hide();
				el.down('tr[datafor=email]').hide();	
			}else{
				el.down('h5[datafor=email]').show();
				el.down('tr[datafor=email]').show();
				el.down('h5[datafor=note]').hide();
				el.down('tr[datafor=note]').hide();
			}
			el.down('input[type=submit]').value = submit;
			el.down('input[id$=private]').value = private;
			
			link.addClassName('active');
			link.siblings().each(function(l){ l.removeClassName('active'); });
		}
		Helpdesk.submitToTicket = function(cls, private, submit, link){			 
			var el = $('note-form-container');
			//el.attributes['class'].nodeValue = cls;
			//el.down('input[type=submit]').value = submit;
			el.down('input[id$=private]').value = private;
			if(el.down('textarea').value.trim() != ''){
				el.down('form').submit();
			} 
			//link.addClassName('active');
			//link.up('li').siblings().each(function(l){ l.removeClassName('active'); });
		}
	<% end %>
<% end %>

<% javascript_tag do %>

	function closeTicket(ticket_id)
	{
		jQuery.ajax({
	      					type: 'POST',
							url: '/helpdesk/tickets/close_ticket/'+ticket_id,
							contentType: 'application/text',
	      					success: function(data){
											
											if(data.success)
											{
												jQuery('#status_name_id').text(data.status).show("highlight", 500);
												jQuery('#helpdesk_ticket_status').val(data.value);	
											}								
											//Need to show the message some where data.message
									}
				});
	
	}
	
	function changeAggentList(group_id)
	{ 
		jQuery.ajax({
	      					type: 'POST',
							url: '/helpdesk/tickets/get_agents/'+group_id,
							contentType: 'application/text',
	      					success: function(data){
																					
											jQuery('#assigned_to').replaceWith(data);
									}
				});
	}
	
	jQuery(document).ready(function(){
		var activeCnt = jQuery("#TicketProperties"); 
		jQuery(".rtPanel a").bind("click", function(ev){
			activeCnt.hide();
			activeCnt = jQuery("#"+this.getAttribute("cntid")).show("fade", 300);
			
			jQuery(this).parent().find(".active").removeClass("active");
			jQuery(this).addClass("active");
		});
		
		
		jQuery(window).scroll(function(){
			/*
			if(jQuery(window).scrollTop() > jQuery("#SmartSideBar").offset().top){ 
				jQuery(".rtCnt").css("position", "fixed");
				jQuery(".rtCnt").css("top", "0px");
			}	
			if(jQuery(window).scrollTop() <= jQuery("#SmartSideBar").offset().top){
				jQuery(".rtCnt").css("position", "relative"); 
			}
			*/
		
		});
		
	});
	
<% end %>

<% content_for :breadcrumb do %>
<% end %>

<% content_for :sidebar do %>
<div id="SmartSideBar"></div>
<div class="rtCnt">
	<div class="rtPanel">
		<a href="javascript:void(0)" class="active" cntid="TicketProperties">
			<img src="/images/spacer.gif" class="ticketprop" width="36px" height="36px"  />
			<em>Ticket Properties</em>
		</a>
		<a href="javascript:void(0)" cntid="RelatedSolutions">
			<img src="/images/spacer.gif" class="suggestsolutions" width="36px" height="36px"  />
			<em>Suggest Solutions</em>
		</a>
		<a href="javascript:void(0)" cntid="Scenarios">
			<img src="/images/spacer.gif" class="scenario" width="36px" height="36px"  />
			<em>Execute Scenario</em>
		</a>
		<a href="javascript:void(0)" cntid="RequesterProperties">
			<img src="/images/spacer.gif" class="requesterinfo" width="36px" height="36px"  />
			<em>Requestor Info</em>
		</a>
		<a href="javascript:void(0)" cntid="TicketTodos">
			<img src="/images/spacer.gif" class="todo" width="36px" height="36px"  />
			<em>To Do</em>
		</a>
		<a href="javascript:void(0)" cntid="TicketTags">
			<img src="/images/spacer.gif" class="tags" width="36px" height="36px"  />
			<em>Tags</em>
		</a>
		<a href="javascript:void(0)" cntid="Activity">
			<img src="/images/spacer.gif" class="activity" width="36px" height="36px"  />
			<em>Activities</em>
		</a>
	</div>	
	 <%= render :partial => "helpdesk/tickets/components/ticket", :object => @ticket %>
	 <%= render :partial => "helpdesk/tickets/components/user", :object => @ticket.requester %>
	 <%= render :partial => "helpdesk/tickets/components/tags", :locals => { :ticket => @ticket } %>
	 <%= render :partial => "helpdesk/tickets/components/todos", :locals => { :ticket => @ticket } %>
	 <%= render :partial => "helpdesk/tickets/components/related_solutions", :locals => { :ticket => @ticket } %>
	 <%= render :partial => "helpdesk/tickets/components/scenarios" %>
	 <%= render :partial => "helpdesk/tickets/components/activity",  :locals => { :ticket => @ticket } %>	
</div>
<% end %>

<% content_for :main_panel_title do %>
<% end %>
<% content_for :main_panel_actions do %>
<% end %>
<% content_for :main_panel_summary do %>
	<div class="request_details">
	    <div class="requestCnt">
	    	<div class="request_status">
	            <span class="ltSlant"></span>
	            <ul>
	                <li>
	                    <b>Status</b>: <span id="status_name_id"><%= h(@ticket.status_name) %></span>
	                </li>
	                <li>
	                    <b>Priority</b>: <%= h(@ticket.priority_name) %>
	                </li>
	            </ul>
	        </div>
			
			<div class="title">
		        <em><%= "##{@ticket.display_id}" %></em>
		        <b><%= h(@ticket.subject) %></b>
		    </div>
			<div class="description">
		        <div class="user_details">
		        	<%= render :partial => "/shared/avatar", :object => @ticket.requester.avatar  %>
		          		Reported by <%= link_to(h(@ticket.requester.name),@ticket.requester, :class => "user_name") %>
		            <div>
						Created on <%= h(@ticket.created_at.strftime("%B %e %Y at %I:%M %p")) %>
						<div class="ticket_actions action_icons">
							<%= link_to(image_tag("/images/spacer.gif"), helpdesk_ticket_helpdesk_subscriptions_path(@ticket), :method => :post, :class => "monitor", :title => "Monitor this ticket" ) if not @subscription %>
							<%= link_to(image_tag("/images/spacer.gif"), helpdesk_ticket_helpdesk_subscription_path(@ticket, @subscription), :method => :delete, :class => "monitor_active",  :title => "Stop monitoring this ticket" ) if @subscription %>
							<%= link_to(image_tag("/images/spacer.gif"), unspam_helpdesk_ticket_path(@ticket), :method => :put, :class => "spam_active", :title => "This is not spam" ) if @ticket.spam %>
					    	<%= link_to(image_tag("/images/spacer.gif"), spam_helpdesk_ticket_path(@ticket), :method => :put, :class => "spam", :title  => "Mark as spam") unless @ticket.spam %>
							
							<%= link_to("Edit Ticket", {:action => "edit"}, :class => "button"  ) %>
							<a href="javascript:void(0);closeTicket(<%=@ticket.display_id%>)" class="button">Close</a>
							<%= link_to("Delete", @ticket, :method => :delete, :class => "button"  ) unless @ticket.deleted %>
					    	<%= link_to("Undelete", restore_helpdesk_ticket_path(@ticket), :method => :put, :class => "button"  ) if @ticket.deleted %>
							
						</div> 
					</div>				
					
		        </div>	        
				<div id="description-summary" class="details min_height">
		            <%= h(truncate(@ticket.description, :length => 400)) %>
		            <% if(@ticket.description.size > 400) %>
		            	<%= link_to_function "(more)", "Element.hide('description-summary'); Element.show('description-full');" %>
		            <% end %>
		        </div>
		        <div id="description-full" style="display:none" class="details">
			    	<%= @ticket.description %>
			    </div>
				
			</div>
			
	    </div>		
		<%# content_tag(:div, "This ticket is flagged as spam. " + link_to("(undo)", unspam_helpdesk_ticket_path(@ticket), :method => :put), :class => 'spam') if @ticket.spam %>
						<%# content_tag(:div, "This ticket is deleted. " + link_to("(undo)", restore_helpdesk_ticket_path(@ticket), :method => :put), :class => 'spam') if @ticket.deleted %>
						<%# content_tag(:div, "You're monitoring this ticket. " + link_to("(stop)", helpdesk_ticket_helpdesk_subscription_path(@ticket, @subscription), :method => :delete), :class => 'monitoring') if @subscription %>
							<%# link_to("Monitor this ticket", helpdesk_ticket_helpdesk_subscriptions_path(@ticket), :method => :post, :class => "button" ) if not @subscription %>
					    	<%# link_to("Stop monitoring this ticket", helpdesk_ticket_helpdesk_subscription_path(@ticket, @subscription), :method => :delete, :class => "button" ) if @subscription %>
					    	<%# link_to("This is not spam", unspam_helpdesk_ticket_path(@ticket), :method => :put, :class => "button" ) if @ticket.spam %>
					    	<%# link_to("Mark as spam", spam_helpdesk_ticket_path(@ticket), :method => :put, :class => "button" ) unless @ticket.spam %>
						
		<% unless @ticket.notes.visible.newest_first.blank? then %>
			<div class="floatr">
				<%= link_to_function("Reply", "Helpdesk.swapEmailNote('send-email', false, 'Send Email', this, 'cnt-top')", :class => 'fdbutton') if @item.requester %>	  
		  		<%= link_to_function("Add Note", "Helpdesk.swapEmailNote('add-note', true, 'Add Note', this, 'cnt-top')", :class => 'fdbutton') %>		
			</div>	
		    <h3 class="subtitle">Conversation</h3>
		<% end %>
		<% if @item.requester %>
			<%= render(:partial => '/helpdesk/shared/reply_form', :locals => {:id => 'send-email', :cntid => 'cnt-top', :note => [@ticket, Helpdesk::Note.new(:private => false)] }) %>
		<% else %>
			<%= render(:partial => '/helpdesk/shared/note_form', :locals => {:id => 'add-note',	:cntid => "cnt-top", :note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
		<% end %>
			
		<% unless @ticket.notes.visible.newest_first.blank? then %>
			<div class="requestCnt">
				<%= render :partial => 'note', :collection => @ticket.notes.visible.newest_first %>
		    </div>
		<% end %>
		
		<div class="alignright">
			<%= link_to_function("Reply", "Helpdesk.swapEmailNote('send-email', false, 'Send Email', this, 'cnt-bottom')", :class => 'fdbutton') if @item.requester %>	  
		 	<%= link_to_function("Add Note", "Helpdesk.swapEmailNote('add-note', true, 'Add Note', this, 'cnt-bottom')", :class => 'fdbutton') %>		
		</div>	
		<% if @item.requester %>
			<%= render(:partial => '/helpdesk/shared/reply_form', :locals => {:id => 'send-email', :cntid => "cnt-bottom", :note => [@ticket, Helpdesk::Note.new(:private => false)] }) %>
		<% else %>
			<%= render(:partial => '/helpdesk/shared/note_form', :locals => {:id => 'add-note',	:cntid => "cnt-bottom", :note => [@ticket, Helpdesk::Note.new(:private => true)] }) %>
		<% end %>
	</div>

<% end %>
<% content_for :main_panel_toolbar do %>
	
<% end %>

<% content_for :main_panel_content do %>
	
<div class="clear"></div>

<% end %>
<%= render :partial => "/helpdesk/shared/main_panel" %>
