  <% if @no_auth %>
    <div class="alert-message block-message warning">
      <p><strong><%= t('flash.general.access_denied') %></strong></p>
    </div>
  <%else%>
<div class="gmail-ticket-widget">
  <% if @ticket.deleted %>
    <div class="alert-message block-message warning">
      <p><strong><%= t('this_ticket_has_been_deleted') %></strong></p>
    </div>
  <% end %>
  <div class="tkt-wrapper ticket_show" data-showing='notes'>
    <div class="tkt-wrapper-inner clearfix">
      <%= render :partial => "helpdesk/tickets/show/info_widget", :formats => [:html] %>
      <div id="forFixed" class="conversation_thread"></div>
      <!--content Left-->
      <div class="leftcontent">
        <div class="conversation_thread" id="original_request">
          <div class="conversation">
                  <%= render :partial => "helpdesk/tickets/show/original_request", :formats => [:html] %>
          </div>
        </div>
        <% if @ticket_notes_total > @ticket_notes.size %>
        <div class="conversation_thread" id="show_more" style="padding-bottom : 15px">
          <div class="conversation">
            <a href="<%= helpdesk_ticket_path(@ticket) %>" target="_new" class="avatar-wrap avatar-wrap-collapse" ><p>
            <span class='count_number not_on_loading' rel='count-total-remaining'><%=@ticket_notes_total - @ticket_notes.size%></span>
              <span rel='count_more' class="count_more not_on_loading"><%= t('more') %></span>
            </p></a>
            <a href="<%= helpdesk_ticket_path(@ticket) %>" target="_new" class="commentbox commentbox-blue">
              <div><%= t('ticket.view_ticket') %></div>
            </a>
          </div>
        </div>
        <% end %>
        <%= render :partial => "helpdesk/tickets/show/conversations", :formats => [:html] %>
      </div><!-- left content end-->
    </div>
  </div>
<% end %>
</div>
