<% if @item.not_editable? %>
  <%= text_field object_name, :twitter_id, :value => (@item.requester_info), :disabled => true %>
  <%= hidden_field object_name, :requester_id, :value => (@item.requester_id) %>
<% else %>
  <% value = (params[:template_form] && params[:requester_email].present?) ? params[:requester_email] : @item.requester_info %>
  <%= text_field object_name, :email, :value => value, :class => "required #{defined?(class_name) ? class_name : 'requester'}", "data-requester-check" => false, "data-current-user" => "", "data-initial-requester" => @item.requester_info, "data-initial-requesterid" => @item.requester_id, :placeholder => defined?(placeholder) ? placeholder : t('ticket.compose.to_address_placeholder') %>
<% end %>
<div id="<%=object_name%>_email_choices" class="autocomplete"></div>
<div id="meta-req" data-obj = "<%= object_name %>" data-url="<%= url %>"></div>
