<% content_for :onload_script do %>
	
	jQuery("#customers-select-all").live("change", function(ev){
		jQuery("#contacts-table .customers_selector, #companies .customers_selector")
			.not('[disabled]')
			.prop("checked", this.checked)
			.parents("tr").toggleClass("diffColor", this.checked);

		jQuery("#customers-toolbar .bulk-action .btn")
			.attr('disabled',!this.checked);
	});


	jQuery('.customers_selector').live("change", function(ev){
		jQuery(this).parents("tr").toggleClass("diffColor", this.checked);

		if(jQuery('.customers_selector:checked').length == 0 )
			jQuery("#customers-toolbar .bulk-action .btn").attr('disabled','disabled');
		else
			jQuery("#customers-toolbar .bulk-action .btn").removeAttr('disabled');

		jQuery("#customers-select-all")
			.prop('checked', jQuery('.customers_selector:checked').length == jQuery('.customers_selector').length);
	});
	jQuery('.send-activation').on('ajax:success', function (ev, data) {
		var _self = jQuery(this);
		console.log(data.activation_sent);
		if(data.access_denied){ 
			_self.html("Access denied");
		}
		setTimeout(function(){
			_self.addClass("disabled");
		}, 10);
	})
<% end %>
<div class="list-page-header">
	<div class="row-fluid">
		<div class="span4"><h3 class="lead"><%= @page_title = t('customers') %></h3></div>
		 <div class="span8 pull-right pagination-right header_buttons align-right" >
			<%= link_to t('export'), {:action => "configure_export"}, 
				:rel => "freshdialog", 
				"data-submit-label" => t('export'),
				"data-width" => "550",
				"data-title" => t('contacts.export_title', :type => type.capitalize.pluralize),
				:title => t('contacts.export_title', :type => type.capitalize.pluralize),
				"data-close-label" =>  t('cancel') ,
				"data-submit-loading" => t('please_wait'),
				"data-target"=>"#customer_export" %>
			<% if privilege?(:manage_contacts) %>
				&middot;  
	  		 	<%= link_to(t('import'), "/imports/#{type}", :'data-pjax' => "#body-container", :title => t('customer_import.import_csv', :type => type.pluralize.capitalize), :class => " margin-right", :id => "customers_import") %>
	  			<%= link_to t('company.new'), new_company_path, :class => "btn", :'data-pjax' => "#body-container" %>			
	  			<%= link_to(t('contacts.new'), new_contact_url, :class => "btn", :'data-pjax' => "#body-container") %>
			<% end %>      
        </div>
	</div>
</div>
<%= contact_tabs type %>
