<div class="row-fluid list-page-subheader" id="company_sub_header">
			<% if type.eql?("user") %>
		<div class="span3">
			<div class="dropdown">
                <%=t('contacts.showing')%><a role="button" class="dropdown-toggle" id="sorting_dropdown" data-toggle="dropdown" href="#"> <b><%= t("contacts.status.#{@sort_state}")  %></b><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="sorting_dropdown_list" id="sorting_dropdown_list">
                	<li><%= link_to t("contacts.status.verified"), {:state => "verified", :letter => params[:letter]}, :title => t("contacts.status_title.verified"), :'data-pjax' => "#body-container" %></li>
                	<li><%= link_to t("contacts.status.unverified"), {:state => "unverified", :letter => params[:letter]}, :title => t("contacts.status_title.unverified"), :'data-pjax' => "#body-container" %></li>
                	<li><%= link_to t("contacts.status.all"), {:state => "all", :letter => params[:letter]}, :title => t("contacts.status_title.all"), :'data-pjax' => "#body-container" %></li>
                	<li><%= link_to t("contacts.status.deleted"), {:state => "deleted", :letter => params[:letter]}, :title => t("contacts.status_title.deleted"), :'data-pjax' => "#body-container" %></li>
                	<li><%= link_to t("contacts.status.blocked"), {:state => "blocked", :letter => params[:letter]}, :title => t("contacts.status_title.deleted"), :'data-pjax' => "#body-container" %></li>
                </ul>
			</div> 
	    </div>
	<% end %>
	<div class="contacts_sub_header span9 pull-right" align="right">
		<ul class="alpha_sort_list">		
			<%= hidden_field_tag :letter, '' %>
			<li class="first <%= 'active' if params[:letter].blank? %>">
				<%= link_to 'All', {:letter => '', :state => @sort_state}, :'data-pjax' => "#body-container" %>
			</li>
			<% "A".upto("Y") do |l| -%>	    
			 <li class="<%= 'active' if params[:letter] == l %>">
			 	<%= link_to l, {:letter => l, :state => @sort_state}, :'data-pjax' => "#body-container" %>
			 </li>	
			<% end %>
			<li class="last <%= 'active' if params[:letter] == 'Z' %>">
				<%= link_to 'Z', {:letter => 'Z', :state => @sort_state}, :'data-pjax' => "#body-container" %>

			</li>
		</ul>
	</div>
</div>
<% if @sort_state == 'deleted' %>
	<div class="deleted_user_info">
		<div class="ticket_details">
	  		<div class="open-box">
	  			<div class="deleted-info">
					<%= t('contacts.deleted_user_info') %>
				</div>
			</div>
		</div>
	</div>
<% end %>
