<% content_for :onload_script do %>
	
	jQuery("#customers-select-all").live("change", function(ev){
		jQuery("#contacts-table .customers_selector, #companies .customers_selector")
			.prop("checked", this.checked)
			.parents("tr").toggleClass("diffColor", this.checked);

		jQuery("#customers-toolbar .bulk-action .btn")
			.attr('disabled',!this.checked);
	});

	jQuery('.customers_selector').live("change", function(ev){
		jQuery(this).parents("tr").toggleClass("diffColor", this.checked);

		if(jQuery('.customers_selector:checked').length == 0 )
			jQuery("#customers-toolbar .bulk-action .btn").attr('disabled','disabled');
		else
			jQuery("#customers-toolbar .bulk-action .btn").removeAttr('disabled');

		jQuery("#customers-select-all")
			.prop('checked', jQuery('.customers_selector:checked').length == jQuery('.customers_selector').length);
	});

	jQuery('.send-activation').one("click", function(ev) {
		complete_text = jQuery(this).attr("data-complete-text");
  		jQuery(this).attr("data-complete-text","<span class='icon-ok'></span><b class='sent-text'>"+complete_text+"</b>");
    	ev.preventDefault();
    	jQuery(this).button("loading")
    	var _o_data = jQuery(this).data(),
			_self = jQuery(this),
			_post_data = { 
				"_method" : jQuery(this).data("method")
			}
		jQuery.ajax({
			type: 'POST',
			url: this.href,
			data: _post_data,
			success: function(data){				
				if(data.activation_sent)
					_self.button("complete")
					setTimeout(function(){
						_self.addClass("disabled");
					}, 10)
					
			}
		})
		jQuery(this).bind('click', disableLink);
	});

	function disableLink(e) {
    	// cancels the event
    	e.preventDefault();

		return false;
	}
<% end %>
<div class="cust_list_table_header"	>
	<div class="row-fluid">
		<div class="span6"><h3 class="title"><%= @page_title = t('customers') %></h3></div>
		 <div class="span6 pull-right pagination-right" align="right">
		 	<%= link_to(t('import'), csv_contact_import_path, :title => t("contacts.import_csv"), :class => "margin-right", :id => "contacts_import") %>
			<div style="display:none;"><%= link_to(t('contacts.import_google'), google_contact_import_path, :class => "uiButton grey") %></div>
			<%= link_to t('company.new'), new_customer_path, :class => "uiButton" %>			
			<%= link_to(t('contacts.new'), new_contact_url, :class => "uiButton") %>
        </div>
	</div>
</div>
<%= contact_tabs type %>