<div class="title_bar_grey">
	<div class="floatr">				
		<%= link_to '<img src="/images/add.png"> New Company', new_customer_path, :class => "fdbutton" %>			
		<%= link_to('<img src="/images/add.png"> New Contact', new_contact_url, :class => "fdbutton") %>
		<%= link_to('Import users from CSV', "", :class => "fdbutton grey") %>
	</div>

	<h3 class="title">
		<%= @page_title = 'Customers' %>
	</h3>	
	<div class="tab_panel">		
		<b>Showing</b>
		<%= link_to('Companies','/customers', :class => (type == 'company') ? "active" : "" ) %>
		<%= link_to('Contacts','/contacts', 	  :class => (type == 'user') 	? "active" : "" ) %>
	</div>		
	<!-- %= render(:partial => '/shared/listsearch') % -->	
</div>

<ul class="alpha_sort_list">
  <li class="active first"><%= link_to 'All', :letter => '' %></li>
  <% "A".upto("Y") do |l| -%>	    
     <li><%= link_to l, :letter => l %></li>	
  <% end %>
  <li class="last"><%= link_to 'Z', :letter => 'z' %></li>
</ul>
