<div>
	<div class="floatr">				
		<%= link_to t('company.new'), new_customer_path, :class => "uiButton" %>			
		<%= link_to(t('contacts.new'), new_contact_url, :class => "uiButton") %>
		<%= link_to(t('contacts.import_csv'), import_index_path, :class => "uiButton grey") %>
	</div>

	<h3 class="title"><%= @page_title = 'Customers' %></h3>	
	<div class="tab_panel">		
		<b><%=t('contacts.showing')%></b>
		<%= link_to(t('contacts.title'),'/contacts',   :class => (type == 'user') 	? "active" : "" ) %>
		<%= link_to(t('company.title'),'/customers', :class => (type == 'company') ? "active" : "" ) %>
	</div>		
		
	<ul class="alpha_sort_list">
	  <%= hidden_field_tag :letter, '' %>
	  <li class="first <%= 'active' if params[:letter].blank? %>"><%= link_to 'All', :letter => '' %></li>
	  <% "A".upto("Y") do |l| -%>	    
	     <li class="<%= 'active' if params[:letter] == l %>"><%= link_to l, :letter => l %></li>	
	  <% end %>
	  <li class="last <%= 'active' if params[:letter] == 'Z' %>"><%= link_to 'Z', :letter => 'Z' %></li>
	</ul>

	<!-- %= render(:partial => '/shared/listsearch') % -->	
</div>
