<% javascript_tag do %>
	function delete_customer(){
		var confirm_text
		var checked_items = jQuery('.customers_selector:checked')
						
		if(checked_items.length == 1){
			checked_items
				.closest('tr')
				.find('.icon-trash')
				.trigger('click')

			return
		}
		else{
			if(jQuery("#contacts-table").get(0) != undefined)
				confirm_text = "<%= t('company.info11')%> " +
					checked_items.size() + " <%= t('contacts.contacts')%>?"
			else
				confirm_text = "<%= t('company.info11')%> " + 
				checked_items.size() + " <%= t('company.title1')%>" + "\n" + "<%= t('company.info10')%>"
		}

		if (confirm(confirm_text))
			validate_then_submit('<%= path %>/destroy', 'delete')
	}

	validate_then_submit = function(url, method, params){
		var customer_type = '<%=type.eql?('user') ? t('flash.contacts.info_select') : t('flash.customers.info_select')%>';
		if (!jQuery('.customers_selector:checked').length)
		{
			jQuery("#noticeajax").text(customer_type);
			jQuery("#noticeajax").show();
			closeableFlash('#noticeajax');
		}
		else
		{
			var form = $("contacts-expanded");
			if(method) form.down('input[name=_method]').value = method;
			form.action = url;
			form.submit();
		}
	}
	function bulk_send_activation(){
		var selected_items = jQuery("#contacts-table .diffColor")
		var flash_text = "<%= t('users.activations.bulk_send_invite_success')%> "+selected_items.length
		selected_items.find(".send-activation").trigger('click');
		flash_text =  flash_text + ( ( selected_items.length ==  1 ) ? " <%= t('users.activations.user')%>" : 
																		" <%= t('users.activations.users')%>")
		jQuery("#noticeajax").text(flash_text);
		jQuery("#noticeajax").show();
		closeableFlash('#noticeajax');
		selected_items.find(".customers_selector").prop("checked",false);	
		selected_items.removeClass("diffColor");
		jQuery("#customers-toolbar .bulk-action .btn").attr('disabled','disabled');
	}
<% end %>
<div class="customers-toolbar" id="customers-toolbar">
  <% if (params[:state].eql?("unverified") && privilege?(:manage_users)) ||
      privilege?(:delete_contact) %>
  	<input type="checkbox" id="customers-select-all" />
  	<div class="bulk-action">
      <% if privilege?(:manage_users) %>
  		  <%= button_to_function(t('contacts.send_activation'), "bulk_send_activation()",  :class => "btn", :disabled => "disabled" ) if params[:state].eql?("unverified")%>
      <% end %>    
      <% if params[:state].eql?("deleted") && privilege?(:delete_contact) %>
  				<%= button_to_function(t('contacts.restore'), "validate_then_submit(
  				'#{ path }/restore', 'restore')", :class => "btn", :disabled => "disabled") %>
  		<% elsif params[:state].eql?("blocked") %>  	
        	<%= button_to_function(t('unblock'), "validate_then_submit('#{ path }/unblock', 'unblock')", :class => "btn", :disabled => "disabled") %>
  		<% elsif privilege?(:delete_contact) %> 
  				<%= button_to_function(t('delete'), "delete_customer()", :class => "btn", :disabled => "disabled") %>
  		<% end %>
  	</div>
  <% end %>
</div>