<% javascript_tag do -%>
	function changeLogoPic(){
		jQuery('#LogoPic').toggle();
		jQuery('#LogoInput').toggle();
	}
	deleteLogo = function() {
    jQuery("#LogoControls").remove();
		jQuery('#LogoPic').remove();
		jQuery('#LogoInput').show();
	}
<%- end %>
	<%= label(:item, :logo, t('logo'), :class => "caption") %>
  <div class="fields">
    <% if(item.logo) %>
      <div class="profile_pic" id="LogoPic">
        <%= image_tag item.logo.content.url(:logo) %>
      </div>
      <div id="LogoInput" style="display:none;">
        <% fields_for "#{field_name}[logo_attributes]", item.logo do |logo_form| %>
          <%= logo_form.file_field :content %>
        <% end %>
      </div>
      <div id="LogoControls">
        <%= link_to_function(t('change'), "changeLogoPic()", :class => "button") %>
        <%= link_to_remote(t('delete'),
            :url => { :action => "delete_logo", :id => item.id },
            :success => "deleteLogo()",
            :confirm => t('logo_delete_msg'),
            :method => 'delete',
            :html => { :class => "button" }) %>
      </div>
		<% else %>
			<% fields_for "#{field_name}[logo_attributes]", item.logo do |logo_form| %>
				<%= logo_form.file_field :content, :class => "fileUpload" %>
			<% end %>
		<% end %>
	</div>
