<!DOCTYPE HTML>
<html>
	<head>
		<title><%= page_title %></title>
		<meta name="viewport" content="width=device-width,user-scalable=no" />
		<meta name = "viewport" content = "initial-scale = 1.0">
		<link rel="stylesheet" href="mobile/resources/css/app.css">		
		<link rel="stylesheet" href="stylesheets/mobile.css">		
		<link rel="stylesheet" href="stylesheets/animate-custom.css">		
	</head>

	<body class="body-background" id="mobile-app">
		<div id="page-wrapper">
			<div class="brand" style = "<%= "background: #{current_portal.preferences[:header_color]}" %>;<%= "border-bottom:10px solid #{current_portal.preferences[:tab_color]}" %> " >
			<%= image_tag (current_portal.logo.nil? ? "/images/logo.png" : current_portal.logo.content.url(:logo)), :class => "app-logo" %>
			<%= content_tag :h2, current_portal.name %>
			</div>	
			<div class="app-wrapper login">			
			  	<% if flash[:notice] %>
					<%= show_flash %>
				<% end %>
			  	<div id="login-form-container" class="animated" style="<%= flash[:warning] ? 'display:none;' : '' %>">			  	
					<% form_for @user_session, :url => user_session_path do |f| %>
					  	<%= f.error_messages %>			  	
						<%= hidden_field_tag 'mob', "true"  %>
						<%= hidden_field_tag 'user_session[remember_me]', "1"  %>
						<input type="submit" value="signin" style="visibility:hidden;height:1px;"/>
						<fieldset class="login-fieldset animated" id="login-form">
							<input autocapitalize="off" autocomplete="off" autocorrect="off" class="textbox email" id="user_session_email" name="user_session[email]" placeholder="Email" size="30" type="email">
							<br />
							<input autocapitalize="off" autocomplete="off" autocorrect="off" class="textbox password" id="user_session_password" name="user_session[password]" placeholder="Password" size="30" type="password">
							<br/>
					  	</fieldset>			  	
					  	<% if flash[:error] %>
					  		<% content_for :javascript do %>			  					  			
					  			window.setTimeout( function(){	$('login-form').addClassName("shake"); }, 300 );
						  		window.setTimeout( function(){	$('login-form').removeClassName("shake") }, 1300 );
					  		<% end %>
					  		<%= show_flash %>
					  	<% end %>
					  	<input type="submit" value="Sign In" class="uiButton hide" />
				  		<%= link_to_function t('mobile.home.login'), "document.getElementById('new_user_session').submit()", { :id => "login_btn", :class => "login-button"} %>
				  	<% end %>
				  	<a href="javascript:void(0);" class="forgot-password" id="forgot-password">Forgot password</a>
		  			<% if feature?(:google_signin) or feature?(:twitter_signin) or feature?(:facebook_signin) %>
						<div id="alt-signin-button" class="sp-button alt-signin">
							<%= t("mobile.home.sign_in_using") %>						
							<span class="icon-twitter"></span>
							<span class="icon-facebook"></span>
							<span class="icon-google-plus"></span>						
						</div>				
						<% content_for :javascript do %>
							$('alt-signin-button').observe('click', function(event) {
							    $('alt-signin-dialog').show();
							    $('alt-signin-container').addClassName("bounceInUp");
							    window.setTimeout( function(){	$('alt-signin-container').removeClassName("bounceInUp") }, 1300 );
							});

							$('alt-signin-close').observe('click', function(event) {					    
							    $('alt-signin-container').addClassName("hinge");
							    window.setTimeout( function(){	
							    	$('alt-signin-container').removeClassName("hinge"); 
							    	$('alt-signin-dialog').hide(); 
							   	}, 1200 );
							});
				  		<% end %>			  		
					<%end%>
				</div>		  
				<div id="forgot-form-container" class="animated" style="<%= !flash[:warning] ? 'display:none;' : '' %>">
				  	<% form_tag password_resets_path, { :id => "password_reset" } do %>
				  		<fieldset class="login-fieldset animated" id="forgot-form">
				  			<input autocapitalize="off" autocomplete="off" autocorrect="off" class="textbox email" id="email" name="email" placeholder="Email" size="30" type="email">
					  	</fieldset>
					  	<% if flash[:warning] %>
					  		<% content_for :javascript do %>			  					  			
					  			window.setTimeout( function(){	$('forgot-form').addClassName("shake"); }, 300 );
						  		window.setTimeout( function(){	$('forgot-form').removeClassName("shake") }, 1300 );
					  		<% end %>
							<%= show_flash %>
						<% end %>
					  	<%= link_to_function "Reset my password", "document.getElementById('password_reset').submit()", { :id => "login_btn", :class => "sp-button login-button"} %>
					  	<a href="javascript:void(0);" class="forgot-password" id="backto-signin">Back to Sign in...</a>
					<% end %>			
				</div>			
				<% content_for :javascript do %>
					$('forgot-password').observe('click', function(event) {				    
					    $('login-form-container').addClassName("bounceOutLeft");
					    window.setTimeout( function(){ 
					    	$('login-form-container').style.display = "none"; 
					    	$('forgot-form-container').removeClassName("bounceOutRight");
					    	$('forgot-form-container').style.display = "block";
					    	$('forgot-form-container').addClassName("bounceInRight");
					    }, 300 );
					});

					$('backto-signin').observe('click', function(event) {				    
					    $('forgot-form-container').addClassName("bounceOutRight");
					    window.setTimeout( function(){ 
					    	$('forgot-form-container').style.display = "none"; 
					    	$('login-form-container').removeClassName("bounceOutLeft");
					    	$('login-form-container').style.display = "block";
					    	$('login-form-container').addClassName("bounceInLeft");
					    }, 300 );
					});

				<% end %>
				<div id="alt-signin-dialog" class="iphone-menu" style="display:none;">
							<ul id="alt-signin-container" class="animated">
								<span id="alt-signin-close" class="close icon-close"></span>
								<h5>Sign in using...</h5>
								<%= content_tag(:li, link_to("Google", "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id", :class => "icon-google-plus")) if feature?(:google_signin) %>
								<%= content_tag(:li, link_to("Twitter", "/auth/twitter", :class => "icon-twitter")) if feature?(:twitter_signin) %>
								<%= content_tag(:li, link_to("Facebook", "/sso/facebook", :class => "icon-facebook")) if feature?(:facebook_signin) %>
							</ul>
						</div>

			</div>
			<div class="footer">
				 <%= link_to_function("Switch to Desktop Version"+'<span class="icon-right-arrow">&nbsp;</span>', "switchToClassic()", :class=>"switch_version" ) %>
				<% unless(current_account.subscription.paid_account?) %>
					<p>
				     <%= link_to(t('footer.helpdesk_software'), "http://www.freshdesk.com", :target => "_blank") %>
				     <%= t('footer.by_freshdesk') %>
				   </p>
				<% end %>
			</div>
			<%= javascript_include_tag "prototype" %>
			<% javascript_tag do -%>
				document.observe("dom:loaded", function() {						
					window.scrollTo(0,1);
					<%= yield :javascript %>
				});

				function switchToClassic(){
					document.cookie = "classic_view=true";
					document.location.href="/";
				}
			<% end %>
		</div>
	</body>
</html>

