<% javascript_tag do %>		
	var active_email_body = null;
	function ignorePlaceholders(){	
		var iphs = jQuery(active_email_body).data("ignorePlaceholders") || "";
		
		jQuery("#placeholder-list-1 dt").show();
	 	iphs.split(",").each(function(item){
	 		jQuery("#placeholder-btn-" + item).hide()
	 	})
	}

	jQuery(document).ready(function(){
		jQuery('body').on('focus',"input[name$=_subject_template], input[name=email_subject], textarea[name=email_body], textarea[name=url], textarea[name=params], textarea[name=comment], textarea[id=application_script]"
		, function(){
			active_email_body = this;
			ignorePlaceholders();
		});
		
		jQuery("#placeholder-list-1 a").click(function(ev){  
      if(active_email_body){
        var placeHolderText = jQuery(this).data("placeholder"); 
        insertTextAtCursor(active_email_body, placeHolderText);
		  }
		});
		jQuery('#placeholder_close').click(function(){
			jQuery('#place-dialog').hide();	
		});
		jQuery('#place-dialog').draggable();
	});
<% end %>
<div class="placeholder-info" id="place-dialog" style="display:none;">		
	<a href="javascript:void(0)" id="placeholder_close" class="close"></a>
  	<h3 class="title"><%=t('automations.available_placeholders')%></h3>
	<div class="intro"><%=t('automations.info4')%>.</div>
	<div id="placeholder-list-1" class="placeholder-list">
		<dl>
			<% placeholders.each do |ph| %>	
				<dt id="placeholder-btn-<%= ph[3] %>"><a class="uiButton small tooltip" href="javascript:void(0)" data-placeholder="<%= ph[0] %>" title="<%= ph[2] %>"><%= ph[1] %></a></dt> 
			<% end %>
		</dl>	
	</div> 
</div>
