<% javascript_tag do %>	
	jQuery(document).ready(function(){
		jQuery("textarea").live("focus", function(){
			active_email_body = jQuery(this);
		});
		jQuery("#placeholder-list-1 a").click(function(ev){ 
			insertTextAtCursor(active_email_body.get(0), jQuery(this).attr("placeholder"));
		});
		jQuery('#placeholder_close').click(function(){
			jQuery('#place-dialog')
					.hide();	
		});
		jQuery('#place-dialog').draggable();
		jQuery(".placeholder-list a").qtip({
			 position: {
			      my: 'top center',  // Position my top left...
			      at: 'bottom center', // at the bottom right of...
			      viewport: jQuery(window)
			 } 
		});
	});
<% end %>

<div class="placeholder-info" id="place-dialog" style="display:none;">		
	<a href="javascript:void(0)" id="placeholder_close" class="close"></a>
  	<h3 class="title"><%=t('automations.available_placeholders')%></h3>
	<div class="intro"><%=t('automations.info4')%>.</div>
	<div id="placeholder-list-1" class="placeholder-list">
		<dl>
			<% ticket_placeholders.each do |ph| %>
				<dt><a class="uiButton small" href="javascript:void(0)"  placeholder="<%= ph[0] %>" title="<%= ph[2] %>"><%= ph[1] %></a></dt> 
			<% end %>
		</dl>	
	</div> 
</div>
