<% javascript_tag do %>
	function changeProfilePic(){
		jQuery('#AvatarPic').toggle();
		jQuery('#AvatarInput').toggle();		
	}
	
	deletePic = function() {
	    jQuery("#AvatarControls").remove();
		jQuery('#AvatarPic').remove();
		jQuery('#AvatarInput').show();
	}
<% end %>

<%= label(:user, :photo, t('user.photo')) %>
<% if(type == "edit" &&  user.avatar) %>				
	<div class="profile_pic" id="AvatarPic">
		<%= image_tag user.avatar.content.url(:medium) %>
	</div>
	<div id="AvatarInput" style="display:none;">
		<% fields_for "user[avatar_attributes]", user.avatar do |avatar_form| %>					
			<%= avatar_form.file_field :content %>				
		<% end %>
	</div>
	<div id="AvatarControls">
		<%= link_to_function("Change", "changeProfilePic()", :class => "button") %>
		<%= link_to_remote('Delete', 
				:url => { :action => "delete_avatar", :id => user.id },
				:success => "deletePic()",
				:confirm => 'Are you sure you want to delete this Profile Photo',
				:method => 'delete', 
				:html => { :class => "button" }) %>
	</div>				
	<br />
<% else %>		
	<% fields_for "user[avatar_attributes]", user.avatar do |avatar_form| %>
		<span><%=t('user.info1')%></span>
		<%= avatar_form.file_field :content %>				
	<% end %>
<% end %>