<% @screenr_configs_hash = get_app_config("screenr") %>

<%= javascript_include_tag("#{request.protocol.to_s()}#{@screenr_configs_hash[:site_address]}.viewscreencasts.com/api/recorder/") %>


<script type="text/javascript">
	var insertScreenrCode = function(){};
	<% if (screenr_visible_in?(location, ["agent_ticket","portal_ticket", "widget"])) %>

		insertScreenrCode = function(screencast, where_to) {
			jQuery("#"+where_to).find('.redactor_box textarea')
				.insertExternal('<a href="'+screencast.url+'" target="_blank">'+screencast.url+'</a>');
		}

	<% elsif (screenr_visible_in?(location, ["solution","agent_forum", "portal_forum"])) %>

		insertScreenrCode = function(screencast, where_to) {
			jQuery("#"+where_to).find('.redactor_box').find("textarea")
				.insertExternal(screencast.embed);
		}

	<% end %>

	jQuery(document).ready(function() {
		jQuery('.btn-record').hide();
		var screenrInterval = setInterval(function() {
			if (typeof(Screenr) != 'undefined') {
				clearInterval(screenrInterval);
				jQuery('.btn-record').show();
				jQuery('.btn-record').on('click', function(ev) {
					ev.preventDefault();
					var $this = jQuery(this);
					var recorder = Screenr.Recorder({id:"<%= @screenr_configs_hash[:recorder_id] %>"});
					recorder.record();
					<% if (location=="widget") %>
						jQuery('#fd_feedback_widget').addClass("accomadate-screenr-padding");
						jQuery('#screenr_bar').addClass("modify-screenr-bar");
					<% end %>
					recorder.setOnComplete(function(screencast) {
						insertScreenrCode(screencast, $this.closest('form').attr('id'));
					});
				})
			}
		}, 500);
	});
</script>

<%if (screenr_visible_in?(location, ["agent_ticket","agent_forum", "solution"]))%>

	<a href="#" class="btn btn-record">
		<%= t("integrations.screenr.button_label") %>
	</a>
	<a href="https://support.freshdesk.com/support/solutions/articles/154001" class="btn btn-help-rounded" target="_blank"><strong>?</strong></a>

<%elsif (screenr_visible_in?(location, ["portal_ticket","portal_forum"]))%>

	<a href="#" class="btn btn-record">
		<%= t("integrations.screenr.button_label") %>
	</a>

<% elsif (location=="widget") %>

	<a href="#" class="btn-record">
		<%= t("integrations.screenr.button_label") %>
	</a>
	
<% end %>