<%= include_tiny_mce_if_needed %>
<% form_for [@parent, @item], :html => { :id => "Edit_Note_#{@item.id}" } do |f| %>
	<ul>
		<li>
			<%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["note"]%>
			<%= f.text_area :body_html, :value => @item.body_html, :class => "mceEditor" %>
		</li>
		<li class="button-container">
			<%= submit_tag(t("update"), :class => "uiButton small") %>
		</li>
	</ul>
<% end %>
<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery("#Edit_Note_<%= @item.id %>")
			.validate();
	});
<% end %>