<%= form_for @item, :url => helpdesk_ticket_note_path(@parent.display_id, @item.id), 
			:html => { 
				:multipart => true,
				:id => "edit_#{@item.id}",
				:rel => 'edit_note_form', 
				"data-panel" => "edit-#{@item.id}",
				"data-show-pseudo-reply" => 'false',
				"data-fetch-latest" => 'false',
				"data-cnt-id" => @item.id,
				:class => "form-unsaved-changes-trigger"
			} do |f| %>
	<ul class="ui-form dont-validate">
		<li class="inline-field field continous">
			<%= f.hidden_field :source , :value => current_account.helpdesk_sources.note_source_keys_by_token["note"]%>
			<%= f.fields_for :note_body, @item.note_body do |ff| %>
				<%= ff.text_area :body_html, :class => "required", :value => @item.body_html, :id =>"#{@item.id}-body" %>
			<% end %>
		</li>
		<li class="attachment-options-reply" id="attachment-options-note" data-note-id="<%=@item.id%>" >
			<%= render :partial => "/helpdesk/tickets/show/multi_attachment_form", :locals => { :attach_id => "edit-note-#{@item.id}" ,:note=>true, :nsc_param => "helpdesk_note" } %>
		</li>
		<li class="button-container hide">
			<%= submit_tag(t("update"), :class => "uiButton special") %>
			<%= button_to_function(t('cancel'), "jQuery('#edit-#{@item.id}').slideUp();jQuery('#note_details_#{@item.id}').show()", :class => "uiButton" ) %>
		</li>
	</ul>
	<div class="btn-toolbar">
		<%= button_to_function(t('cancel'), "jQuery('#edit-#{@item.id}').slideUp();jQuery('#note_details_#{@item.id}').show();jQuery(this.form).data('formChanged',false);", :class => "btn editNoteCancelButton" , :noteId => @item.id)  %>
    	<%= submit_tag(t("update"), :class => "btn btn-primary editNoteUpdateButton",:noteId => @item.id) %>
    </div>
    <div class="clearfix"></div>
<% end %>
<%= javascript_tag do %>
	invokeRedactor('<%= "#{@item.id}-body" %>', 'cnt-reply');

	jQuery(document).ready(function(){
		jQuery("#Edit_Note_<%= @item.id %>")
			.validate();
	});
<% end %>
