<div class = "freshcaller-signup-request">
    <div class="span1 image-centered freshcaller-logo">
      <img src="/images/freshcaller/freshcaller-dew-copy.png"
        srcset="/images/freshcaller/freshcaller-dew-copy@2x.png 2x,
          /images/freshcaller/freshcaller-dew-copy@3x.png 3x"
            class="freshcaller-dew-copy">
    </div>
    <div class="freshcaller-admin-content">
      <%= t('freshcaller.admin.freshcaller_signup_text').html_safe %>
    </div>
    <div <%= 'class=signup-linking' if FreshcallerConfig['signup_supported'] %>>
      <% if FreshcallerConfig['signup_supported'] %>
        <div class="freshcaller-signup">
          <%= link_to t("freshcaller.admin.feature_request_content.create_new_account").html_safe, "/admin/freshcaller/signup", :method => 'post', :class => "btn btn-primary btn-large freshcaller_signup_btn" %>
        </div>
        <div class="or-text">
        <%= t("or") %>
        </div>
      <% end %>
      <div class="freshcaller-linkup">
        <button class="btn btn-primary btn-large freshcaller_linking_btn">
          <%=t('freshcaller.admin.link_account_request_content.connect_existing_account').html_safe%>
        </button>
      </div> 
    </div>
</div>

<div class="freshcaller-signup-processing hide ">
  <img src="/images/animated/ajax-loader.gif" class="freshcaller-loader">
  <div class="freshcaller-content-text">
    <%= t('freshcaller.admin.feature_request_content.processing').html_safe %>
  </div>
</div>

<%= render :partial => 'link_account_form' %>  
