<% name_prefix = "freshfone_ivr[ivr_data][${menuId}]"
	 id_prefix = "freshfone_ivr_ivr_data_${menuId}"
	 attachment_prefix = "freshfone_ivr[attachments][${menuId}]"
%>


<%= render :partial => '/admin/freshfone/menu_template', :locals => {
				:name_prefix => name_prefix,
				:id_prefix => id_prefix,
				:attachment_prefix => attachment_prefix
			} %>
<%= render :partial => '/admin/freshfone/option_template', :locals => {
				:name_prefix => name_prefix,
				:id_prefix => id_prefix
			} %>
			<!-- Welcome message is turned OFF, All Incoming calls will directly reach your helpdesk. Turn On  |  Learn more
			Welcome message will be played for all incoming calls. Turn Off  -->
<%= form_for @ivr, :html => { :class => "edit_freshfone_ivr ivr_setting", 
						:multipart => true } do |f| %>
	
	<%= f.error_messages %>
	
	<%= f.hidden_field :relations, :rel => :menu_relations %>
	<%= f.hidden_field :message_type, :value => 1 %> 
	<%= hidden_field_tag :preview, false %>

	<div class="add-new new-menu">
		<div class="icon-detail"><span class="symbols-add"></span></div>
		<%= t('freshfone.admin.ivr.add_new_menu').html_safe %>
	</div>
	<br/>
	<div class="align-right">
		<%= (link_to t('back'), admin_freshfone_index_path,
					:class => "btn pull-left") %>
		<button data-loading-text="<%= t('freshfone.admin.ivr.previewing') %>"
						class="btn hide-in-ie" id="ivr_preview"
						data-ivr="<%= @ivr.id %>"><%= t('freshfone.admin.ivr.preview') %></button>
		<button data-loading-text="<%= t('freshfone.admin.ivr.saving') %>"
						class="btn btn-primary"
						id="ivr_submit"><%= t('freshfone.admin.ivr.save') %></button>
						
	</div>
	
<% end %>



<%= javascript_tag do %>
	var menu_json = <%= @ivr.menus.to_json.html_safe %>;
<% end %>
