<div class="freshcaller-linking-process hide ">
                
  <div class="freshcaller-linking-processing hide ">
    <img src="/images/animated/ajax-loader.gif" class="freshcaller-loader">
    <div class="freshcaller-content-text">
      <%= t('freshcaller.admin.link_account_request_content.processing').html_safe %>
    </div>
  </div>  
  
  <div class='freshcaller-linking-form'>
    
    <div class="link-settings-head">
      <%= t('freshcaller.admin.link_account_request_content.settings_text').html_safe %>
    </div>
    
    <div class="link-settings-body">
      <div class="form-controls">
        <label class="url-label"><%= t('freshcaller.admin.link_account_request_content.account_url') %></label>
        <div class="trialing-label">
          <input class="url-field" type="text" name="url" />  
          <span class="label-text"><%= t('freshcaller.admin.link_account_request_content.freshcaller_domain') %></span>
        </div> 
        <label id="url-error" class="error-text hide"><%= t('freshcaller.admin.link_account_request_content.link_errors.validation_error') %></label>
      </div>

      <div class="form-controls">
          <label class="password-label"><%= t('freshcaller.admin.link_account_request_content.email') %></label>
          <input class="email-field" type="email" name="email" value="<%=current_user.email%>" />
          <label id="email-error" class="error-text hide"><%= t('freshcaller.admin.link_account_request_content.link_errors.validation_error') %></label>
      </div>
      <div class="form-controls">
          <label class="password-label"><%= t('freshcaller.admin.link_account_request_content.password') %></label>
          <input class="password-field" type="password" name="password" />
          <label id="password-error" class="error-text hide"><%= t('freshcaller.admin.link_account_request_content.link_errors.validation_error') %></label>
      </div>
      
      
      <div class="btn-collection">
        <button class="btn btn-large freshcaller_cancel_btn" type ="submit" >
          <%= t('freshcaller.admin.link_account_request_content.cancel') %>
        </button>
        <button class="btn btn-primary btn-large freshcaller_link_btn" type ="submit" >
          <%= t('freshcaller.admin.link_account_request_content.continue') %>
        </button>
      </div>  
    
    </div>  

  </div> 
            
</div>
