<% content_for :sidebar do -%>&nbsp;<% end %>
<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_admin' %>
<% @page_title = t('freshfone.admin.welcome_page.title_text')%>
<% content_for :sidebar do %>
  <div class="sidepanel">
    <i class="common-icon-help"></i>
    <h3 class="lead"><%=t('freshcaller.admin.sidebar_title')%></h3>
    <p><%= t('freshcaller.admin.sidebar_content').html_safe %></p>
  </div>
<% end %>

<div class="list-page-body ">
  <h3 class="lead"> <%= t('freshcaller.admin.title_text').html_safe %> </h3>
  <div class="errorExplanation hide" id="errorExplanation">
    
  </div>
  <ul class="ui-form row-fluid">
    <li class="inline-field">
      <div class="row-fluid admin_help_image ff_welcome_page trial">
        <div class="freshcaller-admin">
            <%= render :partial => 'create_or_link_account' %>
        </div>
      </div>
    </li>
  </ul>
</div>
<%= javascript_tag do %> 
  if (typeof freshfone === "undefined") { freshfone = {}; }
  if (typeof freshcaller === "undefined") { freshcaller = {}; }
  authenticationError ="<%= t('freshcaller.admin.link_account_request_content.link_errors.authentication_error') %>";
  accessError ="<%= t('freshcaller.admin.link_account_request_content.link_errors.access_error') %>";
  podError ="<%= t('freshcaller.admin.link_account_request_content.link_errors.pod_error') %>";
  apiError ="<%= t('freshcaller.admin.link_account_request_content.link_errors.api_error') %>";
<% end %>
<%= javascript_include_tag :'cdn/freshcaller_signup' %>