<% content_for :sidebar do -%>&nbsp;<% end %>
<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_admin' %>
<% @page_title = t('freshfone.admin.welcome_page.title_text')%>
<% content_for :sidebar do %>
  <div class="sidepanel">
    <i class="common-icon-help"></i>
    <h3 class="lead"><%=t('freshcaller.admin.sidebar_title')%></h3>
    <p><%= t('freshcaller.admin.sidebar_content').html_safe %></p>
  </div>
<% end %>

<div class="list-page-body ">
  <h3 class="lead"> <%= t('freshcaller.admin.title_text').html_safe %> </h3>
  <ul class="ui-form row-fluid">
    <li class="inline-field">
      <div class="row-fluid admin_help_image ff_welcome_page trial">
        <div class="freshcaller-admin">
          <% if old_ui %>
            <div class="freshcaller-content-text">
              <%= t('freshcaller.admin.freshcaller_not_available').html_safe %>
            </div>
          <% else %>
            <div class = "freshcaller-signup-request">
              <div class="span1 image-centered freshcaller-logo">
                <img src="/images/freshcaller//freshcaller-dew-copy.png"
                  srcset="/images/freshcaller//freshcaller-dew-copy@2x.png 2x,
                    /images/freshcaller//freshcaller-dew-copy@3x.png 3x"
                      class="freshcaller-dew-copy">
              </div>
              <div class="freshcaller-admin-content">
                <%= t('freshcaller.admin.freshcaller_signup_text').html_safe %>
              </div>
              <div class="freshcaller-signup">
                <%= link_to t("freshcaller.admin.feature_request_content.create_new_account").html_safe, "/admin/freshcaller/signup", :method => 'get', :class => "btn btn-primary btn-large freshcaller_signup_btn" %>
              </div>
            </div>
            <div class="freshcaller-signup-processing hide ">
              <img src="/images/animated/ajax-loader.gif" class="freshcaller-loader">
              <div class="freshcaller-content-text">
                <%= t('freshcaller.admin.feature_request_content.processing').html_safe %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>
<%= javascript_tag do %> 
  if (typeof freshfone === "undefined") { freshfone = {}; }
  if (typeof freshcaller === "undefined") { freshcaller = {}; }
<% end %>
<%= javascript_include_tag :'cdn/freshcaller' %>