<%= (link_to t('cancel'), admin_freshfone_index_path, :class => "btn pull-right") %>
<h3 class="lead"><%= t('freshfone.admin.numbers.buy') %></h3>

<div class="twilio-buy-numbers">
	<ul data-tabs="tabs" class="tabs nav-tabs">
		<li class="active first">
			<a id="local-tab" href="#local"><%= t('freshfone.admin.local') %></a>
		</li>
		<li>
			<a id="toll-free-tab" href="#toll-free"><%= t('freshfone.admin.toll_free') %></a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="local" class="tab-pane active">
			<%= render :partial => "local_search" %>
		</div>			  
		<div id="toll-free" class="tab-pane">
			<%= render :partial => "toll_free_search" %>
		</div>
	</div>

	<button class="hide" id="open-purchase-confirmation"
		rel="freshdialog"
		data-submit-label="<%=t('freshfone.admin.numbers.buy_button_text')%>"
		data-submit-loading="<%=t('freshfone.admin.numbers.buy_loading_text')%>"
		data-close-label="<%= t('cancel') %>"
		data-width="543"
		data-target="#purchase-confirmation"
		data-template-footer="<div class='purchase-footer modal-footer'><label class='muted pull-left address-required-alert control-label hide'>
      <%= t('freshfone.admin.numbers.address.required_field') %>
    </label> </div>"
		 ></button>

	<div id="purchase-confirmation" class="hide">
		<div class='loading-box sloading loading-tiny hide'></div>
		<div class="number-message">
			<span class="label label-important"><%= t('freshfone.admin.important') %></span>
			<%= t('freshfone.admin.numbers.purchase_alert_text').html_safe %>
			<div class="address-required-alert hide">
			<span class="seperator"></span>
			 <%= t('freshfone.admin.numbers.address_certification_text').html_safe %>
			 <div class='freshfone-address-form'>
			 	<%form_tag({:action => 'create', :controller => "freshfone/address"}, 
			 		:id => 'freshfone_address_form', 
			 		:html => {:remote => true, :'data-type' => 'script'}) do %>
			 		<div class="ajaxerrorExplanation errorExplanation hide">
			 			<label class='error'>
			 				<%= t('freshfone.admin.numbers.cannot_purchase') %>
			 			</label>
			 		</div>
			 		<div class="purchaseErrorExplanation errorExplanation hide">
			 		</div>
			 		<%= render :partial => "address_form"%>
			 	<% end %>
			</div>
		</div>
	</div>
</div>

<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('freshfone.admin.numbers.setup.title')%></h3>
		<p><%= t('freshfone.admin.numbers.setup.info').html_safe %></p>
	</div>
<% end %>
<%= include_cloudfront_js :freshfone %>
<%= include_cloudfront_rtl_css :freshfone_admin %>