<% if @freshfone_subscription.present? %>
	<% unless freshfone_activation_requested? %>
		<div class="alert center freshfone_alert" rel="permanent">
			<div data-removable="true"><%= t('freshfone.admin.trial.request_activation_msg').html_safe%> -
				<a href="#" id="freshfone_feature_request" data-removable="true">
					<b><%=t('freshfone.admin.feature_request_content.button_text')%></b>
				</a>
			</div>
			<div id="ff_feature_request" class="hide" data-after-request-content="true"><%= t('freshfone.admin.trial.numbers.search.after_activation_request').html_safe %></div>
		</div>
	<% else %>
		<div class="alert center freshfone_alert" rel="permanent">
			<div><%=t('freshfone.admin.trial.requested_activation').html_safe%></div>
		</div>
	<% end %>
<% end %>

<h3 class="lead"><%= (link_to t('freshfone.admin.welcome_page.title_text'), admin_freshfone_index_path) %> 
	  / <span class="muted"><%= t('freshfone.admin.numbers.buy') %></span>
</h3>
<input type="hidden" value="<%= @freshfone_subscription %>" id="ff_subscription" %>
<div class="twilio-buy-numbers">
	<% toll_free_allowed = can_allow_toll_free? %>
	<% if toll_free_allowed %>
	<ul data-tabs="tabs" class="tabs nav-tabs">
		<li class="active first">
			<a id="local-tab" href="#local"><%= t('freshfone.admin.local') %></a>
		</li>
		<li>
			<a id="toll-free-tab" href="#toll-free"><%= t('freshfone.admin.toll_free') %></a>
		</li>
	</ul>
	<% end %>
	<div class="tab-content">
		<div id="local" class="tab-pane active">
			<%= render :partial => "local_search" %>
		</div>
		<% if toll_free_allowed %>
		<div id="toll-free" class="tab-pane">
			<%= render :partial => "toll_free_search" %>
		</div>
		<% end %>
	</div>
	<button class="hide" id="open-purchase-confirmation"
		rel="freshdialog"
		data-submit-label="<%= buy_text_helper %>"
		data-submit-loading="<%=t('freshfone.admin.numbers.buy_loading_text')%>"
		data-close-label="<%= t('cancel') %>"
		data-width="543"
		data-target="#purchase-confirmation"
		data-template-footer="<div class='purchase-footer modal-footer'><label class='muted pull-left address-required-alert control-label hide'>
      <%= t('freshfone.admin.numbers.address.required_field') %>
    </label> </div>"
		 ></button>

	<div id="purchase-confirmation" class="hide">
		<div class='loading-box sloading loading-tiny hide'></div>
		<div class="number-message">
			<% unless trial_search? %>
				<span class="label label-important"><%= t('freshfone.admin.important') %></span>
				<%= t('freshfone.admin.numbers.purchase_alert_text').html_safe %>
			<% else %>
				<%= t('freshfone.admin.trial.numbers.search.can_use_after_activation') %><br/>
				<%= t('freshfone.admin.trial.numbers.search.buy_confirmation') %>
			<% end %>
			<div class="address-required-alert hide">
			<span class="seperator"></span>
			 <%= t('freshfone.admin.numbers.address_certification_text').html_safe %>
			 <div class='freshfone-address-form'>
			 	<%= form_tag({:action => 'purchase', :controller => "admin/freshfone/numbers"}, 
			 		:id => 'freshfone_address_form') do %>
			 		<div class="ajaxerrorExplanation errorExplanation hide">
			 			<label class='error'>
			 				<%= t('freshfone.admin.numbers.failure_purchase').html_safe  %>
			 			</label>
			 		</div>
			 		<div class="purchaseErrorExplanation errorExplanation hide">
			 		</div>
			 		<%= render :partial => "address_form"%>
			 	<% end %>
			</div>
		</div>
	</div>
</div>

<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('freshfone.admin.numbers.setup.title_text')%></h3>
		<p><%= t('freshfone.admin.numbers.setup.info_text').html_safe %></p>
	</div>
<% end %>
 
<%= javascript_include_tag :'cdn/freshfone' %>
<%=javascript_tag do %> 
  if (typeof freshfone === "undefined") { freshfone = {}; }
  freshfone.request_success_message = "<%= t('freshfone.admin.feature_request_content.success')%>" ;
  freshfone.request_error_message = "<%= t('freshfone.admin.feature_request_content.error_message')%>" ;
<% end %>
<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_admin' %>
