<% content_for :sidebar do -%>&nbsp;<% end %>
<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_admin' %>
<% @page_title = t('freshfone.admin.welcome_page.title_text')%>
<% content_for :sidebar do %>
  <div class="sidepanel">
    <i class="common-icon-help"></i>
    <h3 class="lead"><%=t('freshfone.admin.numbers.sidebar_title')%></h3>
    <p><%= t('freshfone.admin.numbers.sidebar_content').html_safe %></p>
  </div>
<% end %>
<div class="list-page-body ">
  <h3 class="lead"> <%= t('freshfone.admin.feature_request_content.title_text')%></h3>
  <ul class="ui-form row-fluid">
    <li class="inline-field">
      <div class="row-fluid admin_help_image ff_welcome_page trial">
        <div>
          <div class="span3 image-centered">
            <i class="ficon-calling fsize-72 ff-admin-img"></i>
          </div>
          <div class="span8 freshfone_admin_content">
            <h2 class="title">
              <%= t('freshfone.admin.feature_request_content.heading_text') %>
            </h2>
            <ul class="info-data disc">
              <li><%= t('freshfone.admin.feature_request_content.number_info') %> </li>
              <li><%= t('freshfone.admin.feature_request_content.ivr_info') %> </li>
              <li><%= t('freshfone.admin.feature_request_content.recording_info') %>  </li>
            </ul>
            <div class="content_footer">
              <a href='http://freshdesk.com/freshfone' target="_blank">
                <%= t('freshfone.admin.feature_request_content.learn_more') %>
              </a>
              <span class="muted"> &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp; </span>
                <a href="http://freshdesk.com/freshfone/pricing" target="_blank">
              <%= t('freshfone.admin.feature_request_content.pricing') %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="content_container center row-fluid">

        <div class="trial_content span6 p10">
          <% unless freshfone_activation_requested? %>
            <a href="#" class="freshfone_trial_request btn btn-flat" id="freshfone_feature_request" data-removable="true">
              <b><%= t('freshfone.admin.feature_request_content.button_text')%></b>
            </a>
            <div id="ff_feature_request" class="hide bold"></div>
          <%else%>
            <div class='bold vertical-alignment'><%=t('freshfone.admin.trial.requested_activation').html_safe%></div>
          <%end%>
          <div class="muted disclaimer"><%=t('freshfone.admin.feature_request_content.activation_disclaimer')%></div>
          <div class="circle_divider center"><%=t('freshfone.admin.feature_request_content.trial_or')%></div>
        </div>
        <div class="trial_content span6 p10">
          <a href="<%= search_admin_freshfone_index_path %>" class="btn btn-flat freshfone_trial_request" id="frehsfone_trial_request" data-loading-text="<%= t('requesting') %>">
            <%=t('freshfone.admin.feature_request_content.trial_button_text')%></a>

          <p class="muted disclaimer"><%=t('freshfone.admin.feature_request_content.trial_version_disclaimer')%></p>
        </div>
      </div>
      <div class="compare center mt20 mb20">
        <a href="https://support.freshdesk.com/solution/articles/215343"><%=t('freshfone.admin.feature_request_content.compare_trial_and_full') %></a>
      </div>
      <div class="ff_seperator"></div>
      <div class="admin_help_image ff_welcome_page center">
        <div class='freshfone_video trial'>
          <span class='title'><%= t('freshfone.admin.feature_request_content.video_title')%></span>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0sHT9Zt_F10?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </li>
  </ul>
</div>
<%= javascript_tag do %> 
  if (typeof freshfone === "undefined") { freshfone = {}; }
  freshfone.request_success_message = "<%= t('freshfone.admin.feature_request_content.success')%>" ;
  freshfone.request_error_message = "<%= t('freshfone.admin.feature_request_content.error_message')%>" ;
<% end %>
<%= javascript_include_tag :'cdn/freshfone_welcome_page' %>
<% unless AppMetrics::FRESHFONE_METRICS.blank? || current_account.opt_out_analytics_enabled?%>
  <%= javascript_tag do %>
    freshfone.full_domain = '<%= current_account.full_domain %>';
    App.Kissmetrics.kissMetricTrackingCode("<%= AppMetrics::FRESHFONE_METRICS %>");
    freshfone.admin_metrics = <%= AppMetrics::FRESHFONE_METRIC_EVENTS.slice(*['ADMIN_PHONE_PAGE_LOADED_IN_TRIAL','TRY_PHONE']).to_json.html_safe %>;
    freshfone.current_user_details = {
          'id'        : '<%=current_user.id%>',
          'user_name'  : '<%=current_user.name%>',
          'email'     : '<%=current_user.email%>',
          'account_id': '<%= current_account.id%>'
    };
  <% end %>
<% end %>