<!DOCTYPE html>
<!--[if lt IE 7 ]> 			   <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    			   <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    			   <html class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    			   <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  
	  <title><%= "#{h(current_account.name)} Widget" %></title>

		<%= include_stylesheets :common  %> 	    
		<%= render :partial => "shared/theme.css"  %>
	  <%= yield :head %>
	</head>
  <body style="min-width:auto;">
		<div class="content" id="ui-widget-container">
			<%= yield %>
		</div>
  </body>
</html>