<li>  
  <div class="preview_img">
  	<% if attachment.image? %>
  		<%= image_tag(attachment.content.url(:thumb), :class => "image")  %>
	<% else %>
		<%= image_tag("/images/filetype/file_extension_#{attachment.content_file_name.split('.')[-1]}.png") %>
	<% end %>
  </div>	
  <div class="name">
    <%= link_to truncate(attachment.content_file_name, 23), attachment, :popup => true %>
  </div>

  <div class="size">
    (<%= number_to_human_size attachment.content_file_size %>)
	<% if local_assigns[:show_delete] %>
	    <span class="delete">
	      <%= link_to image_tag("icons/btn_close_icon.png"), helpdesk_attachment_path(attachment), :method => 'delete', :confirm => "You're about to permanently delete this attachment. Continue?", :class => "delete" %>
	    </span>
	<% end %>
  </div>  
</li>