<%

max_limit ||= 3
container ||= 'customers'
dom_id ||= container

hash_val = []
if selected_values
  selected_values.each do |item|
    hash_val << "{id: '#{item.id}',
                  value: '#{escape_javascript(item.name)}',
                  text: '#{escape_javascript(item.name)}'}"
  end
end
%>

<div class = "autocomplete_filter">
  <input type="hidden" id="<%= dom_id %>_filter" name="<%= container %>" />
</div>
<script>
jQuery(document).ready(function() {
  var select2_format = function(result, container, query) {
    return result.value;
  }

  var select2_results = function(result, container, query) {
    var name = result.value, detail,
        display_result = "<b>"+ name + "</b>";
    if(result.info != undefined){
      var split_info = result.info.split(/<|\(/);
      if(split_info[1])
        detail = split_info[1].slice(0,-1);
      else
        detail = result.info
      if(detail.length > 25)
        detail = split_info[1].substring(0,26)+ "...";
      display_result += "<br><span class='select2_list_detail'>" + detail + "</span>";
    }
    return display_result;
  }
  
  jQuery("#<%= dom_id %>_filter").select2({
    placeholder: '<%= t("tickets_filter.#{container}_placeholder") %>',
    minimumInputLength: 2,
    multiple: true,
    allowClear: true,
    maximumSelectionSize: <%= max_limit %>,
    data: [<%=hash_val.join(",").html_safe%>],
    ajax: { 
        url: '<%= url %>',
        dataType: 'json',
        data: function (term) {
            return { q: term };
        },
        results: function (data) {
          var results = [];
          jQuery.each(data.results, function(i, item){
            results.push({id: item.id, value: escapeHtml(item.value), info: item.details});
          });
          return { results: results }

        }
    },
    initSelection : function (element, callback) {
      callback( [<%=hash_val.join(",").html_safe%>] );
    },
    specialFormatting: true,
    formatResult: select2_results,
    formatSelection: select2_format,
    formatNoMatches: function () { return "No matching <%=container.capitalize.singularize%> found"; },
    formatInputTooShort: function (input, min) { 
      return "Please type " + (min - input.length) + " or more letters"; },
    formatSelectionTooBig: function (limit) { 
      return "You can only select " + limit + (limit == 1 ? " <%=container.capitalize.singularize %>" : "   <%=container.capitalize.pluralize %>"); },
  });

  jQuery("#<%= dom_id %>_filter").select2("val",[]);

  jQuery(".ticket_list #<%= dom_id %>_filter").on("change", function(){
    toggle_save_and_refresh();
  });  

});

</script>