<li>

  	<div class="preview_img">
  		<%=%>
		<% 
		 	filename = dropbox.url.split('/')[-1]
			extname = dropbox.url.split('.')[-1] 
			extname = (["pdf", "doc", "chm","jpg", "mov", "avi", "swf", "wmv", "xls", "zip", "txt", "log", "exe"].include?(extname)) ? extname : "def" 

		%>
			
		<%= image_tag("/images/filetype/file_extension_#{extname}.png") %>
  	</div>
  	<div class="name">
		<a onclick="window.open(this.href);return false;" href="<%=dropbox.url%>" target="_blank"><%=filename %></a>
		<%= image_tag("/images/dropbox_small.png") %>
	</div>
	<div class="size">
		(<%=h("dropbox link")%>)
		<% if local_assigns[:show_delete] %>
	    <span class="delete">
	      <%= link_to image_tag("btn_close_icon.png"), helpdesk_dropbox_path(dropbox), :method => 'delete', :confirm => "You're about to permanently delete this attachment. Continue?", :class => "delete" %>
	    </span>
	  <% end %>
	<div>
</li>			
			

