<div class="pageContent">

  	<%= yield :main_panel_title %>
	<div class="actions">
	  <%= yield :main_panel_actions %>
	</div>


  	<%= yield :main_panel_summary %>

	<div class="toolbar" id="toolbar">
	  <%= yield :main_panel_toolbar %>
	</div> 
	<div class="clear"></div>	
	<%= content_tag('div', yield(:main_panel_selected_toolbar), :id => 'selection-toolbar', :class => "toolbar clearfix") if yield(:main_panel_selected_toolbar) %>
	
	<div class="full">
	  <%= yield :main_panel_content %>
	</div>
 
</div>