<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['attachment-options']
      });

    });
  <% end %>
<% end %>
<div class="request_panel" id="<%=cntid%>" style="display:none">
  <h5 datafor="email">&nbsp;Reply to this conversation and email the requester</h5>
  <h5 datafor="note">&nbsp;Add a note to this conversation</h5>
  <span class="seperator"></span>
  <% form_for note, :html => {:multipart => true } do |f| %>
    <%= f.error_messages %>
	<table class="note_form">
    	<tr datafor="email" style="display:none">
			<td>
				<%= f.label(:body, "Enter your message:") if local_assigns[:label] %>
    			<%= f.hidden_field :private %>
				<strong>From Email</strong>
			</td>
			<td>
				<%= select :reply_email, :id, options_for_select(@reply_email, @ticket.reply_email) %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<%= f.label(:body, "Enter your message here", :for =>"#{id}-#{cntid}-body", :class => "overlabel" ) %>
    			<%= f.text_area :body, { :class => 'expando', :id => "#{id}-#{cntid}-body" , :value =>@signature} %>
			</td>
    	</tr>
		<tr datafor="note"  style="display:none">
			<td></td>
			<td>
				<label><input type="checkbox" class="checkbox" />Requester can view this note (public note)</label>
				<br />
			</td>
		</tr>	
		<tr width="70px">
			<% unless local_assigns[:no_attachments] %>
			<td class="attachment-options"  id="attachment-options">
		        <strong>Attach files</strong>
		    </td>
			<td> 
				<input type="file" id="<%= id %>_file" name="emptyfile" nameWhenFilled="helpdesk_note[attachments][][file]" fileContainer="<%= id %>-container" fileList="<%= id %>-attachments" sendFocusTo="<%= id %>-body" />   
				  <div class="attachments" id="<%= id %>-container" style="display:none">
					<div id="<%= id %>-attachments">
						
					</div>
		          </div>
			</td>
		    <% end %>
		</tr>
	</table>
	<span class="seperator"></span>
 	<div class="alignright">
      <%= submit_tag(local_assigns[:submit] || ActiveSupport::Inflector.titleize(id), :class => "fdbutton") %>
    </div>      
  <% end %>
</div>

<%# 
  The following is a template used by multifile.js to create rows in
  the attachments table.
%>

<textarea id="file-list-template" style="display:none">
  <div class="item">
  	<span>
  		#{name} - <a href="javascript:void(0)" onclick="Helpdesk.Multifile.remove(this); return false;", inputId="#{inputId}">remove</a>
	</span>
	<span style="display:none;">
      <label class="overlabel">Description</label>
      <input type="text" name="helpdesk_note[attachments][][description]" />
    </span>
  </div>
</textarea>
