<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['attachment-options']
      });

    });
  <% end %>
<% end %>

<div>
  <% form_for note, :html => {:multipart => true } do |f| %>
    <%= f.error_messages %>
    <%= f.label(:body, "Enter your message:") if local_assigns[:label] %>
    <%= f.hidden_field :private %>
	<%= f.label(:body, "Reply or add note to the Ticket", :for => "#{ id }-body", :class => "overlabel" ) %>
    <%= f.text_area :body, { :class => 'expando', :id => "#{id}-body", :showDOM => "NoteFormPanel" } %>
    <div id="NoteFormPanel">
	<span class="seperator"></span>
	<% unless local_assigns[:no_attachments] %>
        <div  class="attachment-options"  id="attachment-options">
          <label>Attach a file</label>
          <input type="file" id="<%= id %>_file" name="emptyfile" nameWhenFilled="helpdesk_note[attachments][][file]" fileContainer="<%= id %>-container" fileList="<%= id %>-attachments" sendFocusTo="<%= id %>-body" />
          <div class="attachments" id="<%= id %>-container" style="display:none">
          	<strong>Attached Files</strong>
			<span class="seperator"></span>
			<div id="<%= id %>-attachments">
				
			</div>
          </div>
	    </div>
    <% end %>
	<span class="seperator"></span>
	<div>
      <%= submit_tag(local_assigns[:submit] || ActiveSupport::Inflector.titleize(id), :class => "button") %>	  
	  <%= link_to_function("Send an Email", "Helpdesk.submitToTicket('send-email', false, 'Send Email', this)", :class => 'fdbutton') if @item.requester %>	  
	  <%= link_to_function("Add as Note", "Helpdesk.submitToTicket('add-note', true, 'Add Note', this)", :class => 'fdbutton') %>
    </div>
      
    </div>

    
  <% end %>
</div>

<%# 
  The following is a template used by multifile.js to create rows in
  the attachments table.
%>

<textarea id="file-list-template" style="display:none">
  <div class="item">
  	<span>
  		#{name} - <a href="javascript:void(0)" onclick="Helpdesk.Multifile.remove(this); return false;", inputId="#{inputId}">remove</a>
	</span>
	<span>
      <label>Description</label>
      <input type="text" name="helpdesk_note[attachments][][description]" />
    </span>
  </div>
</textarea>
