  <% content_for :onload_script do -%>
                  function lookup(searchString, callback) { 
                    new Ajax.Request('<%= autocomplete_helpdesk_authorizations_path %>?v='+searchString, 
                                                              { parameters: {name: searchString, rand: (new Date()).getTime()},
                                                              onSuccess: function(response) {
                                                                var choices = $A();
                                                                response.responseJSON.results.each(function(item){
                                                                  choices.push([item.value +" <"+item.id+">", item.value +" <"+item.id+">" ]);
                                                                });                                                
                                                                callback(choices);
                                                              } });
                                                            }
                  var cachedBackend = new Autocompleter.Cache(lookup, {choices: 10});
                  var cachedLookup = cachedBackend.lookup.bind(cachedBackend);
<%- end %>


<div class="request_panel" id="<%=cntid%>" style="display:none;">
    <% form_for note, :html => {:multipart => true, :id => "HelpdeskReply" } do |f| %>
    <%= f.error_messages %>
    <% capsule_config = get_app_config('capsule_crm') 
       bcc_drop_box_email = (capsule_config.blank?) ? [] : capsule_config["bcc_drop_box_mail"].split( /,* /).map{|item|[item, item]} %> 
    <ul class="ui-form dont-validate">
        <li class="inline-field field">
            <div class="request_form_options">
              <a href="javascript:void(0)" onclick="showHideCc(this)" class="slim-button" >
                <%= (@ticket.cc_email.blank?)? t(".addcc"): t(".removecc") %>
              </a>
			        <a href="javascript:void(0)" onclick="showHideBcc(this)" class="slim-button" >
			  	      <%= (bcc_drop_box_email.blank?)? t(".addbcc"): t(".removebcc")  %>
              </a>
              <%= link_to_function( t(:'ticket.canned_responses.insert_ca_response') + " &raquo;", "show_canned_response(#{@ticket.id})", :class => "slim-button insert-canned-response") %>
            </div>
            <%= content_tag( :h4, t(".title", :email => @ticket.requester.email), :class => "title" ) %>
            <%= f.label(:reply_email, "From:", :class => "caption" ) %>
            <div class="fields">
              <%= select :reply_email, :id, options_for_select(@reply_email, @ticket.friendly_reply_email) %>
              <input type="checkbox" class="hide" id="include_cc" name="include_cc" value="true" <%= (!@ticket.cc_email.blank?)? "checked" : "" %> />              
              <input type="checkbox" class="hide" id="include_bcc" name="include_bcc" value="true"  />
			</div>
        </li>
        <li class="inline-field field" id="cc-form-container" style="display:<%= @ticket.cc_email.blank? ? "none": "block" %>;">
            <label class="caption">
                <%= t(".cc") %>:
            </label>
            <div class="fields">
                <% content_for :onload_script do -%>
                  new Autocompleter.MultiValue("cc_emails", cachedLookup, $A(<%= @ticket.cc_email.map{|item|[item, item]}.to_json unless @ticket.cc_email.blank? %>), {frequency: 0.1, acceptNewValues: true});
				<%- end %>
                <input type="text" id="cc_emails" name="cc_emails" />
            </div>
        </li>
        
		    <li class="inline-field field" id="bcc-form-container" style='display:<%= bcc_drop_box_email.blank? ? "none": "block" %>;'>
			    <label class="caption">
            <%= t(".bcc") %>:
          </label>

          <div class="fields">
            <% content_for :onload_script do -%>
              new Autocompleter.MultiValue("bcc_emails", cachedLookup, $A(<%= bcc_drop_box_email.to_json unless bcc_drop_box_email.blank? %>), {frequency: 0.1, acceptNewValues: true});
				    <% end %>
            <input type="text" id="bcc_emails" name="bcc_emails" />
          </div>
        </li>
        <li class="inline-field field">
            <label class="caption">
                <%= t("message") %>:
            </label>
            <div class="fields">
                <%= f.text_area :body_html, :class => "required mceEditor", :id => "#{id}-#{cntid}-body", :value => bind_last_conv(@ticket , @signature) %>
            </div>
        </li>
        <% if !@ticket.ticket_topic.nil? and !(@ticket.ticket_topic.topic.locked) %>
        <li class="inline-field field">
            <div class="fields">
                <label>
                    <%= check_box_tag :post_forums %><%= t("ticket.reply_form.post_to_linked_forum") %>
                </label>
            </div>
        </li>
        <% end %>
        <!-- reply will be always public -->
        <%= f.hidden_field :private , :value => false %>
        <!--reply source will be always email-->
        <%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["email"] %>
		<%= hidden_field_tag(:ticket_status , params[:ticket_status], :id=>:reply_ticket_status  )%>
        <li class="inline-field field">
            <div class="attachment-options fields" id="attachment-options-reply">
                <% unless local_assigns[:no_attachments] %>
                <%= render :partial => "/helpdesk/shared/attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
                <% end %>
            </div>
        </li>
        <li class="button-container">
        	<%= submit_tag(local_assigns[:submit] || ActiveSupport::Inflector.titleize(id), :class => "uiButton" ) %>
        	<%= submit_tag(t('ticket.reply_form.send_and_resolve'), :onclick => "jQuery('#reply_ticket_status').val('resolved');" , :class => "uiButton") %>    
        </li>
    </ul>
    <% end %>
</div>
<% content_for :pagefixed do %>
  <% javascript_tag do %>
    function showHideCc(link){
       jQuery("#cc-form-container").toggle();
       if( $("include_cc").checked ){
         jQuery(link).text('<%= t(".addcc") %>');
         $("include_cc").checked = false;
       }else{
         jQuery(link).text('<%= t(".removecc") %>');
         $("include_cc").checked = true;
       }
    }
	
	 function showHideBcc(link){
       jQuery("#bcc-form-container").toggle();
       if( $("include_bcc").checked ){
         jQuery(link).text('<%= t(".addbcc") %>');
         $("include_bcc").checked = false;
       }else{
         jQuery(link).text('<%= t(".removebcc") %>');
         $("include_bcc").checked = true;
       }
    }
    
  	jQuery("#HelpdeskReply").validate();	
  <% end %>
<% end %>
