<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['attachment-options']
      });

    });
  <% end %>
<% end %>
<div class="request_panel" id="<%=cntid%>" style="display:none">
  <% form_for note, :html => {:multipart => true } do |f| %>
    <%= f.error_messages %>
	<ul class="ui-form">
    	<li datafor="email" style="display:block">
			<%= f.label(:reply_email, "Send the reply from the following email id") %>
			<%= select :reply_email, :id, options_for_select(@reply_email, @ticket.reply_email) %>
			<span class="seperator"></span>
		</li>
		<li>
			<%= f.label(:body, "Enter your message here", :for =>"#{id}-#{cntid}-body", :class => "overlabel" ) %>
    		<%= f.text_area :body, { :class => 'expando', :id => "#{id}-#{cntid}-body" , :value => @signature} %>
    	</li>
		
		<% unless @ticket.ticket_topic.nil? %>
		<li datafor="posts">
			<label>
				<%=check_box_tag :post_forums%> Post in linked forum
			</label>
		</li>
		<%end%>	
		
		<!-- reply will be always public -->
		
		<%=f.hidden_field :private , :value=>false%>
		
		<!--reply source will be always reply-->	
		
		
		<%=f.hidden_field :source , :value=>Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["email"]%>
		
		<!--li datafor="note" class="checkbox">
			<%= f.check_box(:private, {:checked => true}, 1, 0) %>
			<%= f.label(:private, "Requester can view this note (public note)") %>
		</li-->	
		<li class="attachment-options"  id="attachment-options">
			<% unless local_assigns[:no_attachments] %>
			<%= render :partial => "/helpdesk/shared/attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
		    <% end %>
		</li>
	</ul>
 	<div class="alignright">
      <%= submit_tag(local_assigns[:submit] || ActiveSupport::Inflector.titleize(id), :class => "fdbutton") %>
    </div>      
  <% end %>
</div>
