  <table class="tickets" width="100%">
	  <thead>
	  	<tr>
        <th class="priority-border"></th>
				<th class="check">
					<input type="checkbox" id="helpdesk-select-all"  />
				</th>
		    <th class="bulk_action_buttons"> 
        <% if privilege?(:delete_ticket) %>
		    	<% if @current_view == "deleted" %>
            <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/multiple/restore', 'put');" type="button" value="<%=t('undelete')%>" disabled="disabled">
            <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/delete_forever', 'delete');" type="button" value="<%=t('ticket.delete_forever')%>" disabled="disabled">
    			<% else %>
            <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/multiple', 'delete');" type="button"
              value="<%=t('delete')%>" disabled="disabled">
    			<% end %>
        <% end %>
        
  			<% if @current_view == "spam" %>
          <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/multiple/unspam', 'put');" type="button" value="<%=t('ticket.unflag_spam')%>" disabled="disabled"> 
  			<% end %>     
			
    		<% if @current_view != "deleted" && @current_view != "spam" %>
          <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/multiple/pick_tickets', 'put');" type="button" value="<%=t('ticket.pick_up')%>" disabled="disabled">

          <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/multiple/spam', 'put');" type="button" value="<%=t('ticket.flag_spam')%>" disabled="disabled">

          <% if privilege?(:edit_ticket_properties) %>
            <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/multiple/close_multiple', 'put' , [{name: 'disable_notification' , value: event.shiftKey}]);" type="button" value="<%=t('close')%>" disabled="disabled">
        
            <button class="button dialog2" data-url="/helpdesk/tickets/assign_to_agent" data-width="360" title="<%=t('ticket.assign_to_agent')%>" disabled="disabled"><%=t('ticket.assign_to_agent')%></button>

            <button class="button dialog2" data-url="/helpdesk/tickets/update_multiple_tickets" data-width="667" title="<%=t('bulk_actions')%>" disabled="disabled"><%=t('bulk_actions')%></button>
          <% end %>
          <% if privilege?(:merge_or_split_ticket)%>    
            <button id="merge_multiple" class="button dialog2" data-width="715" data-parameters title="<%=t('ticket.merge_title')%>" disabled="disabled" data-destroy-on-close="true"><%=t('ticket.merge_btn')%></button>
          <% end %>

          <% if @current_view == "monitored_by" %>
          <input class="button" onclick="helpdesk_submit('/helpdesk/tickets/multiple/subscriptions/unwatch_multiple', 'delete');" type="button" value="<%=t('ticket.unwatch')%>" disabled="disabled">
          <% end %>
        <% end %> 
        </th>
      	<th class="toolbar_right">
          <% if @current_view == "deleted" %>
            <%= link_to t('ticket.empty_trash'),empty_trash_helpdesk_tickets_path, :method => 'delete', :class => 'padding6', :id => 'empty_trash' if privilege?(:delete_ticket) %>
          <% else %>
            <a href="/helpdesk/tickets/configure_export" class="padding6 dialog2" title="Export to CSV"  "data-width" ="650" id = 'export_tickets'><%= t('ticket.export')%></a>
          <% end %>

          <ul id="ticket_view_choices">
            <li class="icon active"><a class="ticket-view-detail ticket-view-choice"></a></li>
            <li class="icon right"><a class="ticket-view-list ticket-view-choice"></a></li>
          </ul>
        </th>
      </tr>
    </thead>
  </table>
  <script>
  // need to convert this to util
  jQuery(document).ready(function(){
    if (jQuery('th.bulk_action_buttons input').length == 0) {
      jQuery('.check input').hide();
    }
  });
  </script>

<% javascript_tag do -%>
  jQuery("#merge_multiple").bind("click", function(ev){
      var selected_tickets=[];
      var parameters=[];
      jQuery("#tickets-expanded .selector:checked").each(function(){
        selected_tickets.push(jQuery(this).val());
      });
      jQuery(this).data("url","/helpdesk/merge_tickets/bulk_merge");
      jQuery(this).data("parameters",{ source_tickets : selected_tickets, redirect_back : true });
  });
<%- end %>


