  <table class="tickets" width="100%">
	  <thead>
	  	<tr>
        <th class="priority-border"></th>
				<th class="check">
					<input type="checkbox" id="helpdesk-select-all"  />
				</th>
		    <th class="bulk_action_buttons"> 
		    	<% if @current_view == "deleted" %>
    			  <%= button_to_function(t('undelete'), "helpdesk_submit('#{ restore_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %>
    			<% else %>
    			  <%= button_to_function(t('delete'), "helpdesk_submit('#{ helpdesk_ticket_path('multiple') }', 'delete')", :class => "button") %>
    			<% end %>
			
    			<% if @current_view == "spam" %>
    			  <%= button_to_function(t('ticket.unflag_spam'), "helpdesk_submit('#{ unspam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
    			<% else %>
    			  <%= button_to_function(t('ticket.flag_spam'), "helpdesk_submit('#{ spam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
    			<% end %> 
			
    			<% if @current_view != "deleted" && @current_view != "spam" %>
    				<%= button_to_function(t('close'), "helpdesk_submit('#{ close_multiple_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %>
    				<%= button_to_function(t('ticket.pick_up'), "helpdesk_submit('#{ pick_tickets_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
		            <%= content_tag(:button, t('ticket.assign_to_agent'),  "data-url" => url_for(:action => "assign_to_agent"), :class => "button dialog2", :title => t('ticket.assign_to_agent'), "data-width" => "360" ) %>
	            	<%= content_tag(:button, t('bulk_update'), "data-url" => url_for(:action => "update_multiple_tickets") , :class => "button dialog2", :title => t('update_multiple_tickets'), "data-width" => "360" ) %>
          		<% end %>
          	</th>
          	<th class="toolbar_right">
              <%= link_to("Export", { :action => "configure_export" }, :class => "padding6 dialog2", :title => "Export to CSV", "data-width" => "650" ) %>
  
              <ul id="ticket_view_choices">
                <li class="icon active"><a class="ticket-view-detail ticket-view-choice"></a></li>
                <li class="icon right"><a class="ticket-view-list ticket-view-choice"></a></li>
              </ul>
            </th>
      	</tr>
    </thead>
  </table>