		<% if @items.nil? || @items.empty? %>
			<div class="toolbar">
				<div class="list-noinfo"><%= t('helpdesk.tickets.views.no_tickets') %></div>
			</div>
		<% else %>
	  	<div class="toolbar">
	      <table class="tickets" width="100%">
	      	<thead>
	      		<tr>
		      		<th class="check">
		      			<input type="checkbox" onclick="Helpdesk.sel.toggleCheckAll(this)"  />
		      		</th>
					    <th> 
						<% if current_selector == :deleted %>
						  <%= link_to_function(t('undelete'), "Helpdesk.sel.submit('#{ restore_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %>
						<% else %>
						  <%= link_to_function(t('delete'), "Helpdesk.sel.submit('#{ helpdesk_ticket_path('multiple') }', 'delete')", :class => "button") %>
						<% end %>
						
						<% if current_selector == :spam %>
						  <%= link_to_function(t('ticket.unflag_spam'), "Helpdesk.sel.submit('#{ unspam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
						<% else %>
						  <%= link_to_function(t('ticket.flag_spam'), "Helpdesk.sel.submit('#{ spam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
						<% end %> 
						
						<% if current_selector != :deleted && current_selector != :spam %>
							<%= link_to_function(t('close'), "Helpdesk.sel.submit('#{ close_multiple_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %>
							<%= link_to_function(t('ticket.pick_up'), "Helpdesk.sel.submit('#{ pick_tickets_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
						
							<a href="javascript:void(0)" id="agent-assign-link" class="button"><%=t('ticket.assign_to_agent')%></a>
							<div id="assign-options" style="display:none;">
							    <%= content_tag( :label, t('ticket.select_to_agent')) %> 
							    <%= select_tag 'responder_id', options_from_collection_for_select(Agent.technician_list(current_account), :id, :name, current_user) %>
							</div>
						<% end %>
					</th>
					<th class="toolbar_right">	
					   <%= will_paginate @items, :page_links => false, :class => "toolbar_pagination", :previous_label => "<span></span>", :next_label => "<span></span>" %>
					</th>
				</tr>
      </thead>
    </table>
  </div>  
       <div class="sort-bar toolbar"> 
         <div class="floatr">
           <span class="page_info">
					    Showing 
					    <b><%= @items.offset + 1 %></b> - <b><%= @items.offset + @items.length %></b> of 
					    <b><%= @items.total_entries %></b>
					  </span>          
         </div>
         
     	  <!-- changeSortOrder = function(){    
     	            if ('<%=current_sort_order%>' != 'DESC')
     	              jQuery('#sort_order_id').val('DESC');
     	            else
     	              jQuery('#sort_order_id').val('ASC'); 

     	            jQuery('#sort_form').submit();
     	          } -->
         <form class="sort" id="sort_form" action="#" >
           <a href="javascript:void(0);changeSortOrder();" class="sort_order" style="display:none;">
             <%= content_tag (:span, "", :class => "image #{current_sort_order} custom-tip-bottom", :title => "Click to change sort order", :id => "sort_order_img" ) %>
           </a>
           <input type="hidden" name="sort_order" id="sort_order_id" value="<%= current_sort_order %>" />
            <a class="drop-right nav-trigger" href="#" menuid="#SortMenu"><%= t('ticket.sort_by') %> <b>Due by time</b></a>
            <% select_tag :sort, options_for_select(TicketsFilter::SORT_FIELD_OPTIONS, (current_sort).to_sym) %>        
         </form>         
         <div class="fd-menu" id="SortMenu" style="display:none; margin-left:-5px; margin-top:5px;">
           <ul>
             <li><a href="#"><span class="icon selected"></span>Due by time</a></li>
             <li><a href="#">Date Created</a></li>
             <li><a href="#">Last Modified</a></li>
             <li><a href="#">Priority</a></li>
             <li><a href="#">Status</a></li>
           </ul>
           <span class="seperator"></span>
           <ul>
             <li><a href="#"><span class="icon selected"></span>Ascending</a></li>
             <li><a href="#">Descending</a></li>
           </ul>   
         </div>
       </div>

     
       <% form_tag "", { :id => "expanded",  :method => :put } do %>
        <div id="ticket-list">
          <%= render :partial => "/helpdesk/shared/tickets", :object => @items %>
        </div>
       <% end %>   	    
	  <% end %> 