<div class="ticket_overlay_tip hide">
	<div class="ticket_overlay_content">
	<%
	latest_note = ticket.notes.visible.newest_first.first
	unless latest_note.nil?
	%>
	<%= user_avatar(latest_note.user) %>
	<div class="text">
		<div class="user_and_time">
			<span class="user"><%= h(latest_note.user.name) %></span><%= t('helpdesk.tickets.overlay_reply_time', :time_in_words => time_ago_in_words(latest_note.created_at)) %>
		</div>
		<div class="note">
			<%= h(truncate(latest_note.body, { :length => 150, :omission => "..." })) %>
		</div>
	</div>
	<%	
	else
	%>
		<%= h(truncate(ticket.description, { :length => 350, :omission => "..." })) %>	
	<%
	end
	%>
	</div>
</div>