  <table class="tickets btn-collapse" width="100%" data-set-disabled = "disabled" data-show-by-default="false" data-class-for-btn-wrapper="inline-block" data-calc-parent-width-on=".bulk_action_buttons" data-button-text="<%= t("more") %>">
    <thead>
      <tr>
        <th class="priority-border"></th>
        <th class="check">
          <input type="checkbox" id="helpdesk-select-all" data-keybinding="<%= shortcut('ticket_list.select_all') %>" />
        </th>
        <th class="bulk_action_buttons collapse-content">

        <% unless ["deleted", "spam"].include?(@current_view) %>
          <input class="btn tooltip" title='<%= t('ticket.pick_up') %>'
              onclick="helpdesk_submit('/helpdesk/tickets/multiple/pick_tickets', 'put');" type="button"
              value="<%=t('ticket.pick_up')%>" disabled="disabled"
              data-keybinding="<%= shortcut('ticket_list.pickup') %>" data-highlight="true">
          <% if privilege?(:edit_ticket_properties) %>
          <a  href="/helpdesk/tickets/assign_to_agent"
            class="btn p0"
            rel="freshdialog"
            data-title="<%=t('ticket.assign_to_agent')%>"
            disabled="disabled"
            data-width = "360"
            data-template-footer="false"
            data-target="#assign_to_agent"
            >
            <div title="<%=t('ticket.assign_to_agent')%>" class="tooltip btn_with_freshdialog"><%=t('ticket.assign_to')%></div>
          </a>
            <input id="close_ticket_btn" class="btn tooltip" title="<%= t('ticket.close_without_notification') %>"
                onclick="helpdesk_submit('/helpdesk/tickets/multiple/close_multiple', 'put' , [{name: 'disable_notification' , value: event.shiftKey}]);"
                type="button" value="<%=t('close')%>" disabled="disabled" data-domhelper-name="ticket-close-button">
          <% end %>

          <% if privilege?(:edit_ticket_properties) || privilege?(:reply_ticket) %>
            <a href="/helpdesk/tickets/update_multiple_tickets"
                data-target="#bulk" rel="freshdialog" data-width="709px" disabled="disabled"
                class="btn hide_on_collapse" title="<%=t('bulk_actions')%>" data-destroy-on-close="true"
                data-submit-label="<%= t('update') %>" data-submit-loading="<%= t('ticket.updating')%>..."
                data-close-label="<%= t('cancel') %>" ><%= t('bulk_actions') %></a>
          <% end %>

          <% if privilege?(:merge_or_split_ticket)%>
            <a  href="#merge_freshdialog"
                data-action="merge"
                id="invoke_merge_popup"
                class="btn hide_on_collapse"
                data-width="800"
                rel="freshdialog"
                data-title="<%=t('ticket.merge_title')%>"
                disabled="disabled"
                data-template-footer="false"
                data-target="#merge_freshdialog"
                >
                <%=t('ticket.merge_btn')%>
            </a>
          <% end %>
          <% if current_account.link_tickets_enabled? %>
            <a href="#" data-placement = "partialLeft" disabled="disabled" class="btn btn-collapse lnk_tkt_tracker_open_dropdown" role="button" data-toggle="popover" ><%=t('ticket.link_tracker.btn')%></a>
            <%= render(:partial => "helpdesk/tickets/show/link_tracker_template") %>
          <% end %>
          <input id="spam_tickets_btn" class="btn tooltip" title='<%= t('ticket.flag_spam') %>' type="button"
              value="<%=t('ticket.spam_header')%>" disabled="disabled"
              data-keybinding="<%= shortcut('ticket_list.spam') %>" data-highlight="true">

          <div id="merge_freshdialog" class="hide">
            <span class="loading-block sloading loading-small">
            </span>
          </div>
          <% if @current_view == "monitored_by" %>
          <input class="btn tooltip" onclick="helpdesk_submit('/helpdesk/tickets/multiple/subscriptions/unwatch_multiple', 'delete');"
              type="button" value="<%=t('ticket.unwatch')%>"
              disabled="disabled" title="<%= t('ticket.unwatch') %>"
              data-keybinding="<%= shortcut('ticket_list.unwatch') %>" data-highlight="true">
          <% end %>
        <% end %>

        <% if privilege?(:delete_ticket) %>
          <% if @current_view == "deleted"%>
            <input class="btn tooltip" title="<%=t('undelete')%>"
                onclick="helpdesk_submit('/helpdesk/tickets/multiple/restore', 'put');"
                type="button" value="<%=t('undelete')%>" disabled="disabled">
            <input class="btn tooltip hide_on_collapse" title='<%= t('ticket.delete_forever') %>'
                onclick="helpdesk_submit('/helpdesk/tickets/delete_forever', 'delete');"
                type="button" value="<%=t('ticket.delete_forever')%>"
                disabled="disabled" data-keybinding="<%= shortcut('ticket_list.delete') %>"
                data-highlight="true">
          <% elsif @current_view == "spam" %>
            <input class="btn tooltip" title='<%= t('ticket.unflag_spam') %>' 
                onclick="helpdesk_submit('/helpdesk/tickets/multiple/unspam', 'put');" type="button" 
                value="<%=t('ticket.unflag_spam')%>" disabled="disabled" 
                data-keybinding="<%= shortcut('ticket_list.spam') %>" data-highlight="true">
                <input class="btn tooltip hide_on_collapse" title='<%= t('ticket.delete_forever') %>' 
                    onclick="helpdesk_submit('/helpdesk/tickets/delete_forever_spam', 'delete');" 
                    type="button" value="<%=t('ticket.delete_forever')%>" 
                    disabled="disabled" data-keybinding="<%= shortcut('ticket_list.delete') %>"
                    data-highlight="true">
          <% else %>
            <input id="delete_tickets_btn" class="btn tooltip" title='<%= t('delete') %>' type="button"
                value="<%=t('delete')%>" disabled="disabled"
                data-keybinding="<%= shortcut('ticket_list.delete') %>" data-highlight="true">
          <% end %>
        <% end %>

        <% unless ["deleted", "spam"].include?(@current_view) %>
          <a  href="/helpdesk/tickets/bulk_scenario" id="scenario"
            class="btn p0"
            rel="freshdialog"
            data-title="<%=t('ticket.execute_scenario')%>"
            disabled="disabled"
            data-template-footer="false"
            data-target="#execute_scenario"
            data-backdrop="false"
            data-classes="slider"
            data-template-header="<div class='modal-header'><span><h3 class='modal-heading-with-button'><%= t('ticket.execute_scenario') %></h3></span><a href='/helpdesk/scenario_automations/new' target='_blank' class='pull-right modal-header-button'><%= t('ticket.create_new_scenario') %></a></div>"
            >
            <div data-hotkey='<%="#{shortcut('ticket_list.scenario')}"%>' title="<%=t('ticket.execute_scenario')%>" class="tooltip btn_with_freshdialog"><%=t('ticket.scenarios')%></div>
          </a>
        <% end %>

        </th>
        <%= render :partial => "/helpdesk/shared/select_all_toolbar" %>
        <% if @current_view == "deleted" || @current_view == "spam" %>
          <th class="toolbar_right_spam_trash">        
        <% else %>
         <th class="toolbar_right">
        <% end %>
          <% if @current_view == "deleted" %>
            <span class="pl3 muted"> <%= t('ticket.auto_delete_notification_trash') %></span>
            <% if privilege?(:delete_ticket) and !trash_in_progress? && @items.length > 0 %>
              <span class="muted"> - </span>
              <a href="#empty-trash-confirmation"
                rel="freshdialog"
                data-title="<%= t('ticket.empty_trash') %>"
                class="padding6"
                data-submit-label="<%= t('ticket.delete_forever') %>"
                data-width="400px"
                data-close-on-submit="true"
                data-close-label=<%=t('cancel')%>>
                <%= t('ticket.empty_trash') %>
              </a>
              <div id="empty-trash-confirmation" class="hide">
                <%=t('ticket.empty_view_confirmation', :current_view => "trash")%>
              </div>
              <input id="empty_trash" class="hide"  
                  onclick="helpdesk_submit('<%= empty_trash_helpdesk_tickets_path %>', 'delete');"
                  type="button" value="Delete" />
            <% end %>
          <% elsif @current_view == "spam" %>
            <span class="pl3 muted"> <%= t('ticket.auto_delete_notification_spam') %></span>
            <%if privilege?(:delete_ticket) and !spam_in_progress? && @items.length > 0 %>
              <span class="muted"> - </span>
              <a href="#empty-spam-confirmation"
                rel="freshdialog"
                data-title="<%= t('ticket.empty_spam') %>"
                class="padding6"
                data-submit-label="<%= t('ticket.delete_forever') %>"
                data-width="400px"
                data-close-on-submit="true"
                data-close-label=<%=t('cancel')%>>
                <%= t('ticket.empty_spam') %>
              </a>
              <div id="empty-spam-confirmation" class="hide">
                <%=t('ticket.empty_view_confirmation', :current_view => "spam")%>
              </div>
              <input id="empty_spam" class="hide"  
                  onclick="helpdesk_submit('<%= empty_spam_helpdesk_tickets_path %>', 'delete');"
                  type="button" value="Delete" />
            <% end %>
          <% elsif @current_view != "spam" %>
            <% if privilege?(:export_tickets) %>
              <a href="/helpdesk/tickets/configure_export" data-target="#export"  rel="freshdialog"
                  class="padding6" title='<%= t("ticket.export_tickets") %>' data-submit-label="<%= t('export') %>"
                  data-submit-loading="<%= t('ticket.exporting')%>..." data-width="650px" id='export_tickets'
                  data-close-label="<%= t('cancel') %>"><%= t('ticket.export')%></a>
            <% end %>
          <% end %>

          <ul id="ticket_view_choices">
            <li class="icon active"><a class="ticket-view-detail ticket-view-choice"></a></li>
            <li class="icon right"><a class="ticket-view-list ticket-view-choice"></a></li>
          </ul>
          
        </th>
      </tr>
    </thead>
  </table>
  <script>
  // need to convert this to util
  jQuery(document).ready(function(){
    if (jQuery('th.bulk_action_buttons input').length == 0) {
      jQuery('.check input').hide();
    }
  });

  </script>

<%= javascript_tag do -%>
  //saving constants to be used in link tracker js file
  statusLabel = '<%=t('ticket.status')%>';
  search_label = '<%= t('ticket.link_tracker.search_for_tracker')%>';
  no_trackers = '<%= t('ticket.link_tracker.no_tracker') %>';
  search_results = '<%= t('search_results') %>';
  link_text = '<%= t('ticket.link_tracker.link_to_tracker') %>';
  view_tracker = '<%= t('ticket.link_tracker.view_tracker') %>';
  recently_created = '<%= t('ticket.link_tracker.recently_created') %>';
  asscociation_type = <%= TicketConstants::TICKET_ASSOCIATION_KEYS_BY_TOKEN[:tracker]%>;
  var action = "";
  var association = [];

  jQuery(document).on("click", '[data-action="merge"]', function(ev){
     performMergeAction();
  });

  performMergeAction = function(){
     var selected_tickets=[];
      var parameters=[];
      jQuery("#tickets-expanded .selector:checked").each(function(){
        selected_tickets.push(jQuery(this).val());
      });
      jQuery.ajax({
        type:              'POST',
        url:               '/helpdesk/merge_tickets/bulk_merge',
        data:              { source_tickets : selected_tickets, redirect_back : true },
        success:           function(data){
                            jQuery('#merge_freshdialog-content').html(data);
                           }
     });
  }

  jQuery(document).on('change', '#tickets-expanded .selector', function(ev){
    var selected_tickets=[];
    jQuery("#tickets-expanded .selector:checked").each(function(){
      selected_tickets.push(jQuery(this).val());
    });

    jQuery(".create_new_tracker").attr('href', '/helpdesk/tickets/new?display_ids='+selected_tickets);
  });

  setExportCreatedRange = function(){
  var startDate, endDate;

    if(jQuery('#created_date_range').is(':visible')){

        jQuery("#date_filter").val(<%=TicketConstants::CREATED_BY_KEYS_BY_TOKEN[:custom_filter]%>);
        var dateFormat = getDateFormat('mediumDate');
        var createdDateRange = jQuery('#created_date_range').val().split(' - ');
        startDate = (new Date(createdDateRange[0])).toString(dateFormat);
        endDate = (new Date(createdDateRange[1])).toString(dateFormat);
        
        jQuery("#date_filter").trigger('change');
        jQuery('#start_date').attr("value", startDate);
        jQuery('#end_date').attr("value", endDate);
        var dateTypeVarStart = new Date(jQuery('#start_date').val());
        var setStart_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarStart);
        jQuery('#start_export_clone').val(setStart_date_Clone);
        var dateTypeVarEnd = new Date(jQuery('#end_date').val());
        var setend_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarEnd);
        jQuery('#end_export_clone').val(setend_date_Clone);


    }else{
       
        jQuery("#date_filter").val(<%=TicketConstants::CREATED_BY_KEYS_BY_TOKEN[:thirt_days]%>);
        startDate = "<%= formated_date(1.month.ago, Helpdesk::TicketsExportHelper::EXPORT_DATE_FORMAT)%>";
        endDate = "<%= formated_date(Time.now, Helpdesk::TicketsExportHelper::EXPORT_DATE_FORMAT)%>";

        jQuery("#date_filter").trigger('change');
        jQuery('#start_date').attr("value", startDate);
        jQuery('#end_date').attr("value", endDate);
        var dateTypeVarStart = new Date(jQuery('#start_date').val());
        var setStart_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarStart);
        jQuery('#start_export_clone').val(setStart_date_Clone);
        var dateTypeVarEnd = new Date(jQuery('#end_date').val());
        var setend_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarEnd);
        jQuery('#end_export_clone').val(setend_date_Clone);
    }

    //logic check : startdate <= enddate 
            var startISO = jQuery("#start_export_clone").val();
            var endISO = jQuery("#end_export_clone").val();
              if(jQuery.datepicker.parseDate('yy-mm-dd', startISO) > jQuery.datepicker.parseDate('yy-mm-dd', endISO))
              {
                jQuery('#start_date_clone').datepicker( "setDate", endISO );
                var datepickerEnd = jQuery('#end_date').val();
                jQuery('#start_date').datepicker( "setDate", datepickerEnd );
              }
  };

  cleanupParams = function (association) {
    (association || []).each(function(value) {
      jQuery('#ticket-list tr[data-association=' + value +'] input[type=checkbox]:checked').attr('checked', false);
      jQuery('#ticket-list tr').removeClass('active');
    })
    if(action == 'link'){ 
      jQuery('#ticket-list tr[data-association="true"] input[type=checkbox]:checked').attr('checked', false);
    }
    jQuery("#tickets-expanded .selector").trigger('change');
  }

  callFreshdialog = function(){
    var data = {
      targetId : '#confirm-action-popup',
      title : "<%= t('confirm') %>",
      width:  '500',
      destroyOnClose : true,
      submitLabel: submit_label
    }
    jQuery.freshdialog(data);
    jQuery('.modal-body').html("<div>" + confirm_text + "</div>");
  }

  jQuery('#export_tickets').click(function(){
    if(jQuery('#exportFilter').length > 0){
      setExportCreatedRange();
    }
  });

  jQuery(document).on('click','.tooltip', function(){
    jQuery(this).twipsy('hide');
  });

  jQuery(document).ready(function(){
    jQuery('#ticket-toolbar .bulk_action_buttons .btn').addClass('disabled').prop('disabled', true).attr("disabled","disabled");

    options = {
      html: true,
      trigger: 'manual',
      placement: 'below',
      container:'body',
      content: function() {
          return jQuery(".popover_content").html();
      }
    };
    popup_target = '.lnk_tkt_tracker_open_dropdown';
    jQuery(popup_target).popover(options);

  });

  jQuery(document).on('click', function(e){
    if(jQuery('.popover.partialLeft').is(':visible')){
      jQuery(popup_target).popover('toggle');
    }
  });

  fetchAssociations = function(association){
    var associated = 0;
    jQuery('#ticket-list tr.active').each(function(){
      if (jQuery.inArray(jQuery(this).data('association'), association) !== -1) {
        associated++;
      }
    });
    return associated;
  }
  fetchMergedTickets = function(){
    var merged = 0;
    jQuery('#ticket-list tr.active').each(function(){
      if (jQuery.inArray(jQuery(this).data('association'), [true]) !== -1) {
        merged++;
      }
    });
    return merged;
  }
  triggerDefaultDialog = function(){
    if(action == 'merge'){
      var data = {
        targetId : '#merge_freshdialog',
        title : "<%=t('ticket.merge_title')%>",
        width:  '800',
        templateFooter : false,
        destroyOnClose : true  
      }
      jQuery.freshdialog(data);
      performMergeAction();
    }else if(action == 'link'){
      App.Tickets.link_tracker.show_link_tracker_popup(popup_target);
    }else if(action == 'delete'){
      //eval(jQuery('#delete_tickets_btn').attr('onclick'));
      helpdesk_submit('/helpdesk/tickets/multiple', 'delete');
    }else if(action == 'spam'){
      //eval(jQuery('#spam_tickets_btn').attr('onclick'));
      helpdesk_submit('/helpdesk/tickets/multiple/spam', 'put');
    }
  }

  jQuery('body').off('click', '#invoke_merge_popup');
  jQuery('body').on('click', '#invoke_merge_popup', function(e){
     association = <%= escape_javascript TicketConstants::TICKET_ASSOCIATION_KEYS_BY_TOKEN.values.to_json %>;
    var associated = fetchAssociations(association);
    var selected = jQuery('#ticket-list tr.active').length;
    action = "merge";
    if (associated > 0){
      e.preventDefault();
      e.stopPropagation();
      confirm_text = selected === associated ? I18n.t('ticket.association.cancel') : I18n.t('ticket.association.merge_tickets', { count: associated });
      submit_label = selected === associated ? "<%= t('ok') %>" : "<%= t('continue') %>"
      callFreshdialog();
    }
  });

  jQuery('body').off('click', '.bulk_action_buttons .lnk_tkt_tracker_open_dropdown');
  jQuery('body').on('click', '.bulk_action_buttons .lnk_tkt_tracker_open_dropdown', function(e){
    association = <%= escape_javascript TicketConstants::TICKET_ASSOCIATION_KEYS_BY_TOKEN.values.to_json %>;
    var associated = fetchAssociations(association) + fetchMergedTickets();
    var selected = jQuery('#ticket-list tr.active').length;
    action = "link";
    e.preventDefault();
    e.stopPropagation();
    if (associated > 0){
      confirm_text = selected === associated ? I18n.t('ticket.association.cancel') : I18n.t('ticket.association.link_tickets', { count: associated });
      submit_label = selected === associated ? "<%= t('ok') %>" : "<%= t('continue') %>"
      callFreshdialog();
    }else {
      App.Tickets.link_tracker.show_link_tracker_popup(popup_target);
    }
  });

  jQuery('body').off('click', '#delete_tickets_btn');
  jQuery('body').on('click', '#delete_tickets_btn', function(e){
    association = <%= escape_javascript TicketConstants::TICKET_ASSOCIATION_KEYS_BY_TOKEN.values.to_json %>;
    var associated = fetchAssociations(association);
    action = "delete";
    if (associated > 0){
      e.preventDefault();
      e.stopPropagation();
      confirm_text = I18n.t('ticket.association.delete_tickets', { count: associated });
      submit_label = "<%= t('continue') %>";
      callFreshdialog();
    }else {
      helpdesk_submit('/helpdesk/tickets/multiple', 'delete');
    }
  });

  jQuery('body').off('click', '#spam_tickets_btn');
  jQuery('body').on('click', '#spam_tickets_btn', function(e){
    association = <%= escape_javascript TicketConstants::TICKET_ASSOCIATION_KEYS_BY_TOKEN.values.to_json %>;
    var associated = fetchAssociations(association);
    action = "spam";
    if (associated > 0){
      e.preventDefault();
      e.stopPropagation();
      confirm_text = I18n.t('ticket.association.spam_tickets', { count: associated });
      submit_label = "<%= t('continue') %>";
      callFreshdialog();
    }else {
      helpdesk_submit('/helpdesk/tickets/multiple/spam', 'put');
    }
  });

  jQuery('body').off("click", "#confirm-action-popup-cancel")
  jQuery('body').on("click", "#confirm-action-popup-cancel", function(e){
    jQuery('#confirm-action-popup').modal('hide');
  });

  jQuery('body').off("click", "#confirm-action-popup-submit");
  jQuery('body').on("click", "#confirm-action-popup-submit", function(e){
    e.preventDefault();
    e.stopPropagation();
    jQuery('#confirm-action-popup').modal('hide');
    if (action == 'merge' || action == 'link'){ cleanupParams(association); }
    if(jQuery("#tickets-expanded .selector:checked").length !== 0){
      triggerDefaultDialog();
    }
   });
<%- end %>
