<div class="ticket_overlay_tip">
	<div class="ticket_overlay_content">
		<%			
			latest_note_hash = latest_note_helper(ticket)

			action_msg = latest_note_hash[:action_msg]
			overlay_user = latest_note_hash[:user]
			overlay_time = latest_note_hash[:created_at]
			overlay_content = latest_note_hash[:body]
		%>

		<div class="user_and_time">
			<%= user_avatar(overlay_user, :thumb, 'preview_pic small') %>
			<div class="ticket_list_user_hover">
				<span class="ticket_overlay_user_name"> 
					<%= h(overlay_user.name) %> 
					<% unless ticket.group.nil? %> <span class="ticket_overlay_group"><%= h(ticket.group.name) %></span> <% end %>
				</span>
				<span class="ticket_overlay_action"> <%= action_msg %> </span>
				<div class="ticket_overlay_time">
					<%= t("helpdesk.tickets.overlay_time", :time_in_words => time_ago_in_words(overlay_time)) %>
					<%= formated_date(overlay_time) %>
				</div>
			</div>
		</div>
		<div class="ticket_overlay_content_text"><%= h(truncate(overlay_content, { :length => 350, :omission => "..." })) %></div>

	</div>
</div>