<div class="leftFilter" id="all-views">
  <%= render :partial => "filters", :locals =>{ :selected => @current_view, :custom_filters => @filters_options } %>

  <%= link_to(t("save_this_view"), "/helpdesk/tickets/custom_view_save", :title => t("save_this_view"), :class => "hide dialog2", :dialogWidth => "540px", :id => "save_filter") %> 
</div>


<div id="ticket-sub-toolbar">
  <%= render :partial => "/helpdesk/shared/ticket_sort" unless @items.empty? %>
</div>

<div id="ticket-list-body"><div id="ticket-list-body-content">
	<div id="ticket-toolbar" class="toolbar">
	  <%= render :partial => "/helpdesk/shared/ticket_toolbar" %>
	</div>

	<div id="recent_ticket_count" class='more-tweets'>
	  1 new update
	</div>

	<% form_tag "", { :id => "tickets-expanded",  :method => :put } do %>
	  <div id="ticket-list" class="detailed_view">
	    <%= render :partial => "/helpdesk/shared/tickets" %>
	  </div>    
	<% end %>
</div></div>
<%= render :partial => "/helpdesk/shared/ticket_dynamic_menus" %>

<%= javascript_include_tag "ticket_list" %>