  <table class="tickets" width="100%">
	  <thead>
	  	<tr>
        <th class="priority-border"></th>
				<th class="check">
					<input type="checkbox" id="helpdesk-select-all" data-keybinding="<%= shortcut('ticket_list.select_all') %>" />
				</th>
		    <th class="bulk_action_buttons"> 
         <% if @current_view != "deleted" && @current_view != "spam" %>
          <input class="btn tooltip" title='<%= t('ticket.pick_up') %>' 
              onclick="helpdesk_submit('/helpdesk/tickets/multiple/pick_tickets', 'put');" type="button" 
              value="<%=t('ticket.pick_up')%>" disabled="disabled" 
              data-keybinding="<%= shortcut('ticket_list.pickup') %>" data-highlight="true">
          <% if privilege?(:edit_ticket_properties) %>
            <button class="btn dialog2" data-url="/helpdesk/tickets/assign_to_agent" 
                data-width="360" title="<%=t('ticket.assign_to_agent')%>" 
                disabled="disabled"><%=t('ticket.assign_to_agent')%></button>

            <input id="close_ticket_btn" class="btn tooltip" title="<%= t('ticket.close_without_notification') %>" 
                onclick="helpdesk_submit('/helpdesk/tickets/multiple/close_multiple', 'put' , [{name: 'disable_notification' , value: event.shiftKey}]);" 
                type="button" value="<%=t('close')%>" disabled="disabled">
          <% end %>

          <% if privilege?(:edit_ticket_properties) || privilege?(:reply_ticket) %>
            <a href="/helpdesk/tickets/update_multiple_tickets" 
                data-target="#bulk" rel="freshdialog" data-width="709px" disabled="disabled" 
                class="btn" title="<%=t('bulk_actions')%>" 
                data-submit-label="<%= t('update') %>" data-submit-loading="<%= t('ticket.updating')%>..." 
                data-close-label="<%= t('cancel') %>" ><%= t('bulk_actions') %></a>
          <% end %>

          <% if privilege?(:merge_or_split_ticket)%>    
            <a  href="#merge_freshdialog" id="merge_multiple" 
                class="btn" 
                data-width="800" 
                rel="freshdialog"
                data-title="<%=t('ticket.merge_title')%>" 
                disabled="disabled" 
                data-template-footer="false"
                data-target="#merge_freshdialog"
                >
                <%=t('ticket.merge_btn')%>
            </a>
          <% end %>

          <input class="btn tooltip" title='<%= t('ticket.flag_spam') %>' 
              onclick="helpdesk_submit('/helpdesk/tickets/multiple/spam', 'put');" type="button" 
              value="<%=t('ticket.flag_spam')%>" disabled="disabled" 
              data-keybinding="<%= shortcut('ticket_list.spam') %>" data-highlight="true">
          
          <div id="merge_freshdialog" class="hide">
            <span class="loading-block sloading loading-small">
            </span>
          </div>
          <% if @current_view == "monitored_by" %>
          <input class="btn tooltip" onclick="helpdesk_submit('/helpdesk/tickets/multiple/subscriptions/unwatch_multiple', 'delete');" 
              type="button" value="<%=t('ticket.unwatch')%>" 
              disabled="disabled" title="<%= t('ticket.unwatch') %>" 
              data-keybinding="<%= shortcut('ticket_list.unwatch') %>" data-highlight="true">
          <% end %>
        <% end %>
        <% if privilege?(:delete_ticket) %>
		    	<% if @current_view == "deleted" %>
            <input class="btn tooltip" title="<%=t('undelete')%>" 
                onclick="helpdesk_submit('/helpdesk/tickets/multiple/restore', 'put');" 
                type="button" value="<%=t('undelete')%>" disabled="disabled">

            <input class="btn tooltip" title='<%= t('ticket.delete_forever') %>' 
                onclick="helpdesk_submit('/helpdesk/tickets/delete_forever', 'delete');" 
                type="button" value="<%=t('ticket.delete_forever')%>" 
                disabled="disabled" data-keybinding="<%= shortcut('ticket_list.delete') %>" 
                data-highlight="true">
    			<% else %>
            <input class="btn tooltip" title='<%= t('delete') %>' 
                onclick="helpdesk_submit('/helpdesk/tickets/multiple', 'delete');" type="button"
                value="<%=t('delete')%>" disabled="disabled" 
                data-keybinding="<%= shortcut('ticket_list.delete') %>" data-highlight="true">
    			<% end %>
        <% end %>
        
  			<% if @current_view == "spam" %>
          <input class="btn tooltip" title='<%= t('ticket.unflag_spam') %>' 
              onclick="helpdesk_submit('/helpdesk/tickets/multiple/unspam', 'put');" type="button" 
              value="<%=t('ticket.unflag_spam')%>" disabled="disabled" 
              data-keybinding="<%= shortcut('ticket_list.spam') %>" data-highlight="true"> 
  			<% end %>     
			
    		 
        </th>
      	<th class="toolbar_right">
          <% if @current_view == "deleted" %>
            <%= link_to t('ticket.empty_trash'),empty_trash_helpdesk_tickets_path, 
                :method => 'delete', :class => 'padding6 tooltip', :title => t('ticket.empty_trash'), 
                :id => 'empty_trash' if privilege?(:delete_ticket) %>
          <% elsif @current_view != "spam" %>
            <a href="/helpdesk/tickets/configure_export" data-target="#export"  rel="freshdialog"  
                class="padding6" title='<%= t("ticket.export_tickets") %>' data-submit-label="<%= t('export') %>" 
                data-submit-loading="<%= t('ticket.exporting')%>..." data-width="650px" id='export_tickets' 
                data-close-label="<%= t('cancel') %>"><%= t('ticket.export')%></a>
          <% end %>

          <ul id="ticket_view_choices">
            <li class="icon active"><a class="ticket-view-detail ticket-view-choice"></a></li>
            <li class="icon right"><a class="ticket-view-list ticket-view-choice"></a></li>
          </ul>
        </th>
      </tr>
    </thead>
  </table>
  <script>
  // need to convert this to util
  jQuery(document).ready(function(){
    if (jQuery('th.bulk_action_buttons input').length == 0) {
      jQuery('.check input').hide();
    }
  });
  </script>

<%= javascript_tag do -%>
  jQuery("#merge_multiple").bind("click", function(ev){
      var selected_tickets=[];
      var parameters=[];
      jQuery("#tickets-expanded .selector:checked").each(function(){
        selected_tickets.push(jQuery(this).val());
      });
      jQuery.ajax({
        type:              'POST',
        url:               '/helpdesk/merge_tickets/bulk_merge',
        data:              { source_tickets : selected_tickets, redirect_back : true },
        success:           function(data){
                            jQuery('#merge_freshdialog-content').html(data);
                           }
     });
  });

  setExportCreatedRange = function(){
  var startDate, endDate;
    if(jQuery('#created_date_range').is(':visible')){
        jQuery("#date_filter").val(<%=TicketConstants::CREATED_BY_KEYS_BY_TOKEN[:custom_filter]%>);
        var dateFormat = getDateFormat('mediumDate');
        var createdDateRange = jQuery('#created_date_range').val().split(' - ');
        startDate = (new Date(createdDateRange[0])).toString(dateFormat);
        endDate = (new Date(createdDateRange[1])).toString(dateFormat);
    }else{
      jQuery("#date_filter").val(<%=TicketConstants::CREATED_BY_KEYS_BY_TOKEN[:thirt_days]%>);
      startDate = "<%= formated_date(1.month.ago, Helpdesk::TicketsExportHelper::EXPORT_DATE_FORMAT)%>";
      endDate = "<%= formated_date(Time.now, Helpdesk::TicketsExportHelper::EXPORT_DATE_FORMAT)%>";
    }
    jQuery("#date_filter").trigger('change');
    jQuery('#start_date').val(startDate);
    jQuery('#end_date').val(endDate);
  };

  jQuery('#export_tickets').click(function(){
    if(jQuery('#exportFilter').length > 0){
      setExportCreatedRange();
    }
  });
<%- end %>


