<div class="leftFilter" id="all-views">
  
</div>

<div id="ticket-sub-toolbar">
  <% if(@items.length > 0) %>
  	<%= render :partial => "/helpdesk/shared/ticket_sort" , :inline => true %>
  <% end %>
  <% if @current_view == "raised_by_me" && !current_user.agent.all_ticket_permission%>
	<div class="out-of-scope-flash">  
	   <label class="center pt5"> 
	    	<%= I18n.t('wf.messages.out_of_scope', :support_tickets => current_portal.tickets_url).html_safe %> 
	    </label>
	</div>
   <% end %>
</div>

<div id="ticket-list-body"><div id="ticket-list-body-content">
	<div id="ticket-toolbar" class="toolbar">
	  <%= render :partial => "/helpdesk/shared/ticket_toolbar" , :inline => true %>
    </div>
    <% if render_select_all_toolbar? %>
       <div id="select_all_alert" class="hide admin_select_all_text">
        <%= render :partial => "select_all_message" %>
       </div>
    <% end %>

	<div id="index_refresh_alert" class="hide">
		<span id="new_ticket_message" class="count-label hide" 
			data-text-one="<%= t('ticket.new_ticket') %>"
			data-text-other="<%= t('ticket.new_tickets') %>"></span>
		<span id="update_message" class="count-label hide"
			data-text-one="<%= t('ticket.ticket_updated') %>"
			data-text-other="<%= t('ticket.tickets_updated') %>"></span>

		<span class="reload_icon"></span>
		<span class="reload_link" ><%=t('ticket.reload_view')%></span>
	</div>

	<form action id="tickets-expanded" method="post">
		<div style="margin:0;padding:0;display:inline">
			<input name="_method" type="hidden" value="put">
		</div>
	  <div data-menu-hover-in='tr' id="ticket-list" class="detailed_view">
	    <%= render :partial => "/helpdesk/shared/tickets" , :inline => true %>
	  </div>    
	</form>
</div></div>
<%= render :partial => "/helpdesk/shared/ticket_dynamic_menus" , :inline => true %>
