<div class="request_panel" id="<%=cntid%>" style="display:none;">
  <% form_for note, :html => {:multipart => true,  :id => "HelpdeskTweets" } do |f| %>
    <%= f.error_messages %>
	  <%= hidden_field_tag :tweet, "true", :id => "tweet" %>
	  <%= hidden_field_tag "helpdesk_note[private]", "false", :id => "helpdesk_notes[private]" %>
    <ul class="ui-form dont-validate">
      <li class="inline-field field">       
        <%= content_tag( :h3, t(".title", :user=>"@#{@ticket.requester.twitter_id}"), :class => "title") %>
        <label class="caption">From:</label>
        <div class="fields">
           <%= select_tag :twitter_handle, options_from_collection_for_select(current_account.twitter_handles, :id, :screen_name, {:selected => @ticket.fetch_twitter_handle}) %>
        </div>
	  </li>				
	  <li class="inline-field field">
	    <label class="caption">
				Message:
			</label>
	    <div class="fields">
	    	<%= f.text_area :body, { :class => 'required tweet auto-height', :id => "#{id}-#{cntid}-body", :value =>"@#{@ticket.requester.twitter_id}", :rows => "2" } %>
      	<%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["twitter"]%>          
	    </div>
	  </li>
    <li class="button-container">
       <%= submit_tag(local_assigns[:submit] || ActiveSupport::Inflector.titleize(id), :class => "uiButton") %>
    </li>
   </ul> 
  <% end %>
</div> 

<% content_for :onload_script do %>
  jQuery("#HelpdeskTweets").validate();	
<% end %>