{% for category in portal.forum_categories %}
	<h1 class="page-title">{{category.name}}</h1>	
	<p class="help-block">{{category.description}}</p>
	{% for forum in category.forums %}
		{% cycle '<div class="forum-category row-fluid">', '' %}
			<div class="span6">
				<a href="{{ forum.url }}" class="forum-group">
					<span class="font-icon icon-{{forum.type_name}}"></span>
					<h4>{{ forum.name }}</h4>
					<p class="help-block">
						{{ forum.description }}<br />
						<span class="label label-info">{{ forum.topics.size }} topics</span>
					</p>
				</a>
			</div>			
		{% cycle '', '</div>' %}
	{% endfor %}
{% endfor %}