<!DOCTYPE html>
<html>
<head>
	<link rel="canonical shortcut icon" href="<%= fav_icon_url %>" />
	<%= include_cloudfront_rtl_css :rating %>
	<%= include_cloudfront_js :survey  %>
</head>
<body>	
	<div class="top-strip">
		<div class="wrapper">
		<div class="wrapper-shadow">
			<div class="brand">
		    	<% link_to (portal_pref(@survey_handle.portal, :logo_link).empty?) ? 
			    	"/home" : portal_pref(@survey_handle.portal, :logo_link), :class => "logo" do %>
		        <%= image_tag (@survey_handle.portal.logo.nil? ? "/images/logo.png?722013" : @survey_handle.portal.logo.content.url(:logo)) %>

		        <% end %>
		        <%= link_to(h(@survey_handle.portal.name), "/home", :class => "logo_text") %>
	    	</div>
	    </div>
    	</div>
	</div>
	
	<div class="wrapper">
	<div class="wrapper-shadow">
		<div class="lead">
				<h3><%= t('.customer_satisfaction') %> </h3>
				<h4><%= t('.rating')%></h4>	
		</div>
		<div class="position">
		    <div class="smily <%= @rating == Survey::HAPPY ? 'rating-selected' : '' %>">
		    	<i class="smiley-happy"></i>
		    	<span><%= t('.happy') %></span>
			</div>
		    <div class="smily <%= @rating == Survey::NEUTRAL ? 'rating-selected' : '' %>">
			    <i class="smiley-neutral"></i>
			    <span><%= t('.neutral') %></span>
			</div>

			<div class="smily <%= @rating == Survey::UNHAPPY ? 'rating-selected' : '' %>">
	      		<i class="smiley-unhappy"></i>
	      		<span><%= t('.unhappy') %></span>
			</div>
		</div>
	 	
		<div class="clear"></div>
		<div>
			<% form_for :survey_handle, :url  => support_survey_feedback_path(@survey_handle.id_token, @rating), :html => { :method => :post, :id => "survey_form" } do |f| -%>
				<div class="text_con">
					<%= text_area(:survey, :feedback, :autocomplete => "off", 
						:rel => "ghostwriter", :size => "24", :width => "100%", 
						:class=> "textfield required" , :placeholder => t('.additional_info')) %>
				</div>	
			</div>
				<div>						
					<%= f.submit t('.submit'), :class => "button button-text" %>
				</div>
			<%end%>		
	</div>
	</div>	
	<script> $("#survey_form").validate(); </script>
</body>
<% cache ["v1","survey",@survey_handle.portal] do %>
<% 
	cssText = render(:partial=>"rating_text")
	engine = Sass::Engine.new(cssText , :syntax => :scss, :cache => true, :style => :compressed)
%>
<style>
	<%= engine.render %>
</style>
<% end %>
</html>