<ul id="InnerDIV" class="carousel">
	<li class="inner_div">	
		<h3 class="title" id="Header"><%= category.name %></h3>
		<div>
			<%= category.description %>
		</div> 
		<% category.folders.each do |folder| %>
			<span class="seperator"></span>
			<h4 class="title"><%=folder.name%></h4>
			<div>
				<%= folder.description %>
			</div>
			<ul class="sol_list">
			<% folder.articles.each do |solution| %>
				<li> 
					<!--%= link_to_remote( h(solution.title),
                         :update => "solution_dialog",
                         :url =>{ :action => :get_article , :id => solution.id}) %-->
					<%= link_to h(solution.title), 
							{ :action => :get_article, :id => solution.id } %>						 
				</li>
			<% end %>
			</ul>
		<% end %>
	</li>
</ul>		