<ul id="InnerDIV" class="carousel">
	<li class="inner_div">	
		<h3 class="title" id="Header"><%= folder.name %></h3>
		<div>
			<%= folder.description %>
		</div> 
		<% folder.categories.each do |category| %>
			<span class="seperator"></span>
			<h4 class="title"><%=category.name%></h4>
			<div>
				<%= category.description %>
			</div>
			<ul class="sol_list">
			<% category.articles.each do |solution| %>
				<li>
					<!--%= link_to h(solution.title), solution %-->
					
					<%= link_to_remote( h(solution.title),
                         :update => "solution_dialog",
                         :url =>{ :action => :get_article , :id => solution.id}
						) %>
				</li>
			<% end %>
			</ul>
		<% end %>
	</li>
</ul>		