<!DOCTYPE HTML>
<html>
	<head>
		<title><%= page_title %></title>
		<meta name="viewport" content="width=device-width,user-scalable=no" />
	</head>
	<body>
		<div>
			<div>
				<% form_for @user_session, :url => user_session_path do |f| %>
				  <%= f.error_messages %>
					<%= hidden_field_tag 'mob', "true"  %>
					<%= hidden_field_tag 'user_session[remember_me]', "1"  %>
					<div>	
				  		<input autocapitalize="off" autocomplete="off" autocorrect="off" class="textbox" id="user_session_email" name="user_session[email]" placeholder="Email address" size="30" type="email"><br/>
					</div>
					<div>	
				  		<%= f.password_field :password, :class=>"textbox", :autocomplete=>"off", :autocorrect=>"off", :autocapitalize=>"off", :placeholder=>"Password" %><br/>
					</div>
			  		<%= f.submit t('mobile.home.login'), { :id=>"login_btn", :class => "slideleft loginbutton"} %>

			  		<%if feature?(:google_signin) or feature?(:twitter_signin) %>
						<div>
							<b><%= t("user_sessions.new.sign_in_using") %>:</b>
							<%= link_to(image_tag("google.png", :alt => t("user_sessions.new.sign_in_using_google")) + "Google", "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id", :class => "button") if feature?(:google_signin) %>
							<%= link_to(image_tag("twitter.png", :alt => "Twitter") + "Twitter", "/auth/twitter", :class => "button") if feature?(:twitter_signin) %>
							<%= link_to(image_tag("facebook.png", :alt => "Facebook") + "Facebook", "/auth/facebook", :class => "button") if feature?(:facebook_signin) %>
						</div>
					<%end%>

				<% end %>
			</div>
		</div>
	</body>
</html>
