<%= content_tag :h2, "Help center" %>
<%= content_tag :p, t('start_typing_a_question'), :class => "lead" %> 
<%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('portal.search.placeholder') } %>
<hr />
<% if allowed_in_portal? :open_solutions %>
	<%= content_tag( :h3, t('solution.title'), :class => "title" ) %> 
	<% @categories.each do |category| %>
		<%= content_tag :h5, category.name %>
		<%= content_tag(:p, truncate(category.description, :length => 80)) %> 
		<div class="row-fluid">
			<% category.folders.each do |folder| %>
				<div class="span4"><%= content_tag :h6, folder.name %></div>
			<% end %>
		</div>
	<% end %>
<% end %>
<hr />
<% if feature?(:forums) && allowed_in_portal?(:open_forums) %>
	<% unless @topics.empty? %> 
		<%= content_tag( :h3, t('recent_forum_posts'), :class => "title" ) %>  
		<% @topics.each do |topic|  %>
			<%= link_to topic.title, category_forum_topic_path(topic.forum.forum_category_id, topic.forum_id, topic.id) %> 
			<p> by <%= topic.posts.last.user.name %> on <%= formated_date(topic.replied_at) %> </p>
		<% end %> 				
	<% end %>
<% end %>