<!DOCTYPE HTML>
<html manifest="freshdesk.manifest">

	<head>

		<title>freshdesk</title>
		
		<meta name="viewport" content="width=device-width,user-scalable=no" />

		<link type="text/css" rel="stylesheet" media="screen" href="/jqtouch/jqtouch.css">
		
		<link type="text/css" rel="stylesheet" media="screen" href="/themes/freshdesk/theme.css">		
	
	</head>

	<body>
	<!-- Login Page -->
	
		<div id="login">
	
			<div class="alignwrapper">
	
				<img src="/themes/freshdesk/img/freshdesklogo.png" width="196" height="135" alt="Freshdesk Logo"/>
	
				<% form_for @user_session, :url => user_session_path do |f| %>
				  <%= f.error_messages %>
					<%= hidden_field_tag 'mob', "true"  %>
			  		<%= f.text_field :email, :class=>"textbox", :autocomplete=>"off", :autocorrect=>"off", :autocapitalize=>"off", :placeholder=>"Email address" %><br/>
			  		<%= f.password_field :password, :class=>"textbox", :autocomplete=>"off", :autocorrect=>"off", :autocapitalize=>"off", :placeholder=>"Password" %><br/>
					<%= f.check_box :remember_me %> <%= f.label :remember_me, t('mobile.home.remember') %><br/>
			  		<%= f.submit t('mobile.home.login'), { :id=>"login_btn", :class => "slideleft loginbutton"} %>
				<% end %>
			 </div> 
	
		</div>
	</body>

</html>
