<% content_for :layoutType do -%>single<%- end %>  
	<h3 class="title">Start typing a question and see answers in real time</h3>			
	<div class="search-grey-box  ignore-margin-20">
		<%= render :partial => "/search/pagesearch", :locals => { :placeholder => "Search using a keyword or a full question" } %>
	</div>
	<div class="two_col_cont">
		
		<div class="left_col">
			<h3 class="title">Solutions</h3>
			<div class="ssp_category_list">	
			<% @categories.each do |category| %>
				<div class="<%= cycle('odd', 'even') %>"> 
					<%= link_to category.name, category %>
					<%= content_tag (:span, category.description) %> 
				</div> 
			<% end %>
			</div>
			
	 		<div style="display:none">
	 			<!-- This area has to be replaced with the recent articals instead of forums -->
	 			<span class="seperator"></span>
				<h4 class="title">Recent Articles</h4>
				<ul class="list_with_icon">
					<% @topics.each do |topic|  %>
						<li>
							<%= link_to topic.title,category_forum_topic_path(topic.forum.forum_category_id,topic.forum_id,topic.id), :class => "title" %> 
							<div class="info_data"> by <%= topic.user.name %> on <%= formated_date(topic.updated_at) %> </div>
						</li>	
					<% end %> 
				</ul>
			</div>
		</div>
		<div class="right_col">
			<% unless (@topics.size == 0) %> 
				<h3 class="title">Recent Forum Posts</h3>
				<ul class="list_with_icon">
					<% @topics.each do |topic|  %>
						<li>
							<%= link_to topic.title,category_forum_topic_path(topic.forum.forum_category_id,topic.forum_id,topic.id), :class => "title" %> 
							<div class="info_data"> by <%= topic.posts.last.user.name %> on <%= formated_date(topic.replied_at) %> </div>
						</li>	
					<% end %> 
				</ul> 
			<% end %>
		</div>
	</div>  
 