<div class="form-horizontal">
	<%= f.error_messages %>
	<div class="control-group">
		<%= f.label(:name, "#{t('solution_category.name')} <span class='required_star'>*</span>".html_safe, {:class =>'control-label'}) %>
		<div class="controls">
			<%= f.text_field :name, :class => "text required" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label(:description, t('description'), {:class =>'control-label'}) %>
		<div class="controls">
			<%= f.text_area :description %>
		</div>
	</div>
</div>
	
