<div class="form-horizontal">
	<%= f.error_messages %>
	<div class="control-group">
		<%= f.label(:name, "#{t('solution_category.name')} <span class='required_star'>*</span>".html_safe, {:class =>'control-label'}) %>
		<div class="controls">
			<%= f.text_field :name, 
											:class => "text required",
											:autocomplete => "off",
											:autofocus => true %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label(:description, t('description'), {:class =>'control-label'}) %>
		<div class="controls">
			<%= f.text_area :description, :rows => 7 %>
		</div>
	</div>
	<% if current_account.portals.count > 1 %>
	<div class="control-group">
		<label class="control-label"><%= t("solution_category.product_portal_visibility").html_safe %></label>
		<div class="controls">
			<input type="hidden" name="product_ids" value="" />
			<%= f.collection_select :portal_ids, current_account.portals, 
																:id, :portal_name, 
																{
																	:selected => @category.new_record? ? current_portal.id : @category.portals.map(&:id)
																}, 
																:class => "select2 input-xlarge portal_visibility_required", :multiple => true, 
																:placeholder => t("solution_category.select_solution_category").html_safe %>
		</div>
	</div>
	<% end %>
</div>
