<div class="form-horizontal">
	<%= f.error_messages %>
	<div class="control-group">
		<%= f.label(:name, "#{t('solution_category.name')} <span class='required_star'>*</span>".html_safe, {:class =>'control-label'}) %>
		<div class="controls">
			<%= f.text_field :name, :class => "text required" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label(:description, t('description'), {:class =>'control-label'}) %>
		<div class="controls">
			<%= f.text_area :description, :rows => 7 %>
		</div>
	</div>
	<% if @category.new_record? && current_account.portals.count>1 %>
		<div class="control-group">
			<label class="control-label"><%= t("solution_category.product_portal_visibility").html_safe %></label>
			<div class="controls">
				<input type="hidden" name="product_ids" value="" />
				<%= f.collection_select :portal_ids, current_account.portals.reject(&:main_portal), 
																	:id, :portal_name, {:selected => current_portal.id}, 
																	:class => "select2 input-xlarge", :multiple => true, 
																	:placeholder => t("solution_category.select_solution_category").html_safe %>
				<%= content_tag(:div, t('solution_category.solution_categories_portal_info').html_safe, :class => "info-data") %>
			</div>
		</div>
	<% end %>
</div>
