<% if @drafts %>
<% my_drafts = @drafts.drafts_by_user(current_user) %>
<div class="solutions-widget-header">
  <div class="sidebar-dropdown">
    <div data-tabs='tabs'>
      <ul role="tablist">
        <li class="dropdown">
          <h5 class="dropdown-toggle" data-toggle="dropdown">
            <% title = my_drafts.blank? ? t('solution.sidebar.drafts.all') : t('solution.sidebar.drafts.me') %> 
            <span class="widget-filter drafts-filter-title"><%= title %></span>
            <% unless my_drafts.blank? %>
              <span class="caret"></span>
            <% end %>
          </h5>
          <% unless my_drafts.blank? %>
            <ul class="dropdown-menu tick" role="menu" aria-labelledby="dropdownMenu">
              <li class="widget-filter">
                <a class="item drafts-filter-me" href="#drafts-me" data-hash-url="false" data-toggle="tab" ul_class="tick">
                <%=t('solution.sidebar.drafts.me').html_safe%>
                </a>
              </li>
              <li class="widget-filter drafts-filter-all">
                <a class="item" href="#drafts-all" data-hash-url="false" data-toggle="tab"  ul_class="tick">
                  <%=t('solution.sidebar.drafts.all').html_safe%>
                </a>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
  </div>
  </div>
  <span class="lead lead-small"><%=t('solution.sidebar.drafts.title').html_safe%></span>
</div>
<div class="tab-content">
  <% active = my_drafts.blank? ? '' : 'active' %>
  <div class='tab-pane <%= active %>' id='drafts-me'> 
      <ul class="a-list">
      <% my_drafts.first(3).each do |a| %>
        <li class="a-item medrafts">
           <div>
              <span>
                <%= pjax_link_to(a.title.truncate(27),
                                solution_category_folder_article_path(a.folder.category,a.folder,a),
                                { :class => "a-title"}) %>
              </span> 
              <div class="muted a-desc"> 
                <%=t('solution.sidebar.drafts.details',
                                  :user_name => a.user.name,
                                  :created_time => a.modified_at.to_i,
                                  :time_ago => formated_date(a.modified_at)).html_safe%> </div>
            </div>
        </li>
      <% end %>
    <% if my_drafts.size > 3 %>
      <li class="a-item">
        <%= pjax_link_to t('solution.sidebar.view_all'),solution_my_drafts_path('all') %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class='tab-pane <%= 'active' if active.empty? %>' id='drafts-all'> 
      <ul class="a-list">
      <% @drafts.first(3).each do |a| %>
        <li class="a-item me all">
           <div>
              <span>
                <%= pjax_link_to(a.title.truncate(27),
                                solution_category_folder_article_path(a.folder.category,a.folder,a),
                                { :class => "a-title"}) %>
              </span> 
              <div class="muted a-desc"> <%=t('solution.sidebar.drafts.details', :name => a.user.name,
                                           :time => time_ago_in_words(a.modified_at)).html_safe %> </div>
            </div>
        </li>
      <% end %>
    <% if @drafts.size > 3 %>
      <li class="a-item">
        <%= pjax_link_to t('solution.sidebar.view_all'), solution_drafts_path %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>