<div class="list-query-panel">
	<ul>
		<li class="lf-item">
			<% if privilege?(:manage_solutions) %>
				<div class="item-checkbox"><input type="checkbox" id="fa_item-select-all" /></div>
			<% end %>
		</li>
		<li class="lf-item lf-btns faded" id="folder-bulk-action">
			<span>
		    <%= select_tag :id,
		          options_for_select(current_account.solution_categories.reject { |sc| sc.is_default? || sc.id == @category.id }.collect{|c|[c.name, c.id]}), {
		              :class => "disabled moveto_btn bulk-action-btns select2",
		              :id => "move_to",
		              :include_blank => true,
		              :placeholder => t('solution.folders.move_to')
		          } %>
			</span>
			<span class="visible-to-btn">
				<a class="drop-right nav-trigger edit_bar_btn disabled bulk-action-btns" href="#" menuid="#visible_to"><%= t('solution.folders.folder_form.visible_to') %></a>
				<div class="fd-menu" id="visible_to">
					<div class="left-list">
						<ul>
							<% Solution::Folder::VISIBILITY_OPTIONS.each do |visibility| %>
								<li>
									<%= link_to visibility[0], "javascipt:void(0);", :class => "visibility-selector", "data-visibility" => visibility[1],
									"data-url" => "#{visible_to_solution_folders_path}" %>
								</li> 
							<% end %>
						</ul>
					</div>
					<div class="right-select-companies hide">
						<form action="#" class="form-horizontal">
							<div class="control-group row-fluid">
								<div id="company_folders" class="row-fluid">
				  				<%= render_autocomplete({ :selected_values => nil, :type => :companies }) %>
				  			</div>
							</div>

							<div class="control-group row-fluid">
								<div class="replace-existing">
									<%= radio_button :company, :add_to_existing, 1, :checked => true, :class => "add-to-existing" %>
									<%= label_tag :add_to_existing, "Add to Existing" %>
								</div>
								<div class="replace-existing">
									<%= radio_button :company, :add_to_existing, 0, :class => "add-to-existing" %>
									<%= label_tag :add_to_existing, "Replace Existing" %>
								</div>
							</div>
							<div class="control-group row-fluid company-form-submit-btns">
									<div class="pull-right">
										<input type="reset" class="btn" id="company-cancel" value="<%= t('cancel') %>" />
										<%= submit_tag t('save'), :name => "save", :class => "btn btn-primary", :id => "company-submit" %>
									</div>
							</div>
						</form>	
					</div>
				</div>
			</span>
		</li>
	</ul>
</div>

<script>
  jQuery(document).ready(function() { jQuery("#move_to").select2(); });
</script>
