<% if @feedbacks %>
  <% my_feedbacks = @feedbacks.article_tickets_by_user(current_user) %>
  <div class="solutions-widget-header">
    <div class="sidebar-dropdown">
        <div data-tabs='tabs'>
            <ul role="tablist">
              <li class="dropdown">
                <h5 class="dropdown-toggle" data-toggle="dropdown">
                  <% title = my_feedbacks.blank? ? t('solution.sidebar.feedbacks.all') : t('solution.sidebar.feedbacks.me') %> 
                  <span class="widget-filter feedbacks-filter-title"><%= title %></span>
                  <% unless my_feedbacks.blank? %>
                    <span class="caret"></span>
                  <% end %>
                </h5>
                <% unless my_feedbacks.blank? %>
                  <ul class="dropdown-menu tick" role="menu" aria-labelledby="dropdownMenu">
                    <li class="widget-filter">
                      <a class="item feedbacks-filter-me" href="#feedbacks-me" data-hash-url="false" data-toggle="tab" ul_class="tick">
                        <%=t('solution.sidebar.feedbacks.me')%>
                      </a>
                    </li>
                    <li class="widget-filter feedbacks-filter-all">
                      <a class="item" href="#feedbacks-all" data-hash-url="false" data-toggle="tab" ul_class="tick">
                        <%=t('solution.sidebar.feedbacks.all')%>
                      </a>
                    </li>
                  </ul>
                <% end %>
              </li>
            </ul>
        </div>
     </div>
     <span class="lead lead-small"><%=t('solution.sidebar.feedbacks.title')%></span>
 </div>

  <div class="tab-content">
    <% active = my_feedbacks.blank? ? '' : 'active' %>
    <div class='tab-pane <%= active %>' id='feedbacks-me'>
        <ul class="a-list">
        <% my_feedbacks.first(3).each do |f| %>
          <li class="a-item">
             <div>
                <span>
                  <%= pjax_link_to(f.subject.split('Article Feedback - ')[1].truncate(27),
                                   helpdesk_ticket_path(f),{:class => "a-title"}) %>
                </span>
                <span class="label pull-right label-light"><%= f.status_name %></span> 
                <div class="muted a-desc"> <%=t('solution.sidebar.feedbacks.details', :name => f.requester.name,
                                           :time => time_ago_in_words(f.updated_at)).html_safe%> </div>
              </div>
          </li>
        <% end %>
      <% if my_feedbacks.size > 3 %>
        <li class="a-item">
          <%= pjax_link_to t('solution.sidebar.view_all'), "/helpdesk/tickets/filter/my_article_feedback" %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class='tab-pane <%= 'active' if active.empty? %>' id='feedbacks-all'>
        <ul class="a-list">
        <% @feedbacks.first(3).each do |f| %>
          <li class="a-item">
             <div>
                <span>
                  <%= pjax_link_to(f.subject.split('Article Feedback - ')[1].truncate(27), 
                                    helpdesk_ticket_path(f),{:class => "a-title"}) %>
                </span>
                <span class="label pull-right label-light"><%= f.status_name %></span> 
                <div class="muted a-desc"> <%=t('solution.sidebar.feedbacks.details', :name => f.requester.name,
                                           :time => time_ago_in_words(f.updated_at)).html_safe%>  </div>
              </div>
          </li>
        <% end %>
      <% if @feedbacks.size > 3 %>
        <li class="a-item">
          <%= pjax_link_to t('solution.sidebar.view_all'), "/helpdesk/tickets/filter/article_feedback"%>
        </li>
      <% end %>
      </ul>
    </div>
  </div> 
<% end %>