<%= content_tag :li, :item_id => folder.id,
		  						:class => "comm-item", :id => "item_"+folder.id.to_s do %>
	<div class="reorder-icon vertical-alignment">
			<%= font_icon "rearrange", :size => 18, :id => "sortable-icon" %>
	</div>
	<div class="vertical-alignment reorder-content row-fluid">
		<div class="row-fluid clear-left-margin">
			<div class="solution-list-checkbox">
				<% if privilege?(:manage_solutions) %>
						<input type="checkbox" id="folder-<%= folder.id %>" name="ids[]" value="<%= folder.id %>" class="item_ids_checkbox"/>
				<% end %>
			</div>
			<div class="comm-item-main span8 clear-left-margin <%= 'no-checkbox' unless privilege?(:manage_solutions) %>">
				<div class="comm-item-title">
					<%= pjax_link_to(h(folder.name), solution_folder_path(folder.id)) %>
					<span class="muted folder-details">
						(<%= folder.articles.size %>)
					</span>
				</div>
				<div class="comm-item-details muted folder-details">
					<span class="visibilty-label"><%= t('solution.folders.folder_form.visible_to').html_safe %>:</span>
					<%= company_visibility_tooltip(folder) %>
				</div>
			</div>
		</div>
	</div>
<% end %>