<div class="comm-item row-fluid clear-left-margin">
	<div class="folder-list-checkbox">
		<% if privilege?(:manage_solutions) %>
				<input type="checkbox" id="topic-<%= folder.id %>" name="ids[]" value="<%= folder.id %>"/>
		<% end %>
	</div>
	<div class="comm-item-main span8 clear-left-margin <%= 'no-checkbox' unless privilege?(:manage_solutions) %>">
		<div class="comm-item-title">
			<%= pjax_link_to(h(folder.name), solution_category_folder_articles_path(folder.category_id, folder.id)) %>
			<span class="muted">
				(<%= folder.articles.size %>)
			</span>
		</div>
		<div class="comm-item-details muted">
			<div class="muted">
				<span class="visibilty-label"><%= t('solution.folders.folder_form.visible_to').html_safe %>:</span>
			  <%=Solution::Constants::VISIBILITY_NAMES_BY_KEY[folder.visibility]%>
			</div>
		</div>
	</div>
</div>