<div class="sidepanel">

  <%  empty_drafts = @drafts.blank?
      empty_feedbacks = @feedbacks.blank? 
      empty_orphan_categories = @orphan_categories.blank? 
  %>

  <% unless empty_drafts and empty_feedbacks and empty_orphan_categories  %>
      <% unless empty_orphan_categories  %>
        <div class="solutions-widget">
         <%= render :partial => "orphan_categories" %>
        </div>
      <% end %>
      <% unless empty_drafts %>
        <div class="solutions-widget">
         <%= render :partial => "drafts" %>
        </div>
      <% end %>
      <% unless empty_feedbacks %>
        <div class="solutions-widget">
          <%= render :partial => "feedbacks" %>
        </div>
      <% end %>
  <% else %>
    <i class="common-icon-help"></i>
    <h3 class="lead"> <%=t('solution.kb').html_safe%> </h3>
      <p><%=t('solution.info28').html_safe%></p>
      <p><%=t('solution.info29').html_safe%></p>
      <p><%=t('solution.info30').html_safe%></p>
      <p><%=t('solution.info31').html_safe%></p>
  <% end %>
  <%= inm_tour_button(t('solution.tour_v2'), 13424)%>
</div>