<div class="sidepanel">
  <% unless @drafts.blank? and @feedbacks.blank? %>

      <% unless @orphan_categories.blank? %>
      <div class="solutions-widget">
       <%= render :partial => "orphan_categories" %>
      </div>
      <% end %>

      <% unless @drafts.blank? %>
      <div class="solutions-widget">
       <%= render :partial => "drafts" %>
      </div>
      <% end %>

      <% unless @feedbacks.blank? %>
        <div class="solutions-widget">
          <%= render :partial => "feedbacks" %>
        </div>
      <% end %>
  <% else %>
    <i class="common-icon-help"></i>
    <h3 class="lead"> <%=t('solution.title').html_safe%> </h3>
      <p><%=t('solution.info4').html_safe%></p>
      <p><%=t('solution.info9').html_safe%></p>
      <p><%=t('solution.info10').html_safe%></p>
      <p><%=t('solution.info11').html_safe%></p>
      <p><%=t('solution.info12').html_safe%></p>
      <p><%=t('solution.info13').html_safe%></p>
      <p><%=t('solution.info14').html_safe%></p>
      <p><a href="https://support.freshdesk.com/support/solutions/folders/74531" _target="blank"> <%=t('group.learn_more').html_safe%> </a></p>
  <% end %>
</div>