<div class="sidepanel">

  <%  empty_drafts = @drafts.blank?
      empty_feedbacks = @feedbacks.blank? 
      empty_orphan_categories = @orphan_categories.blank? 
  %>

  <% unless empty_drafts and empty_feedbacks and empty_orphan_categories  %>
      <% unless empty_orphan_categories  %>
        <div class="solutions-widget">
         <%= render :partial => "orphan_categories" %>
        </div>
      <% end %>
      <% unless empty_drafts %>
        <div class="solutions-widget">
         <%= render :partial => "drafts" %>
        </div>
      <% end %>
      <% unless empty_feedbacks %>
        <div class="solutions-widget">
          <%= render :partial => "feedbacks" %>
        </div>
      <% end %>
  <% else %>
    <i class="common-icon-help"></i>
    <h3 class="lead"> <%=t('solution.title').html_safe%> </h3>
      <p><%=t('solution.info4').html_safe%></p>
      <p><%=t('solution.info9').html_safe%></p>
      <p><%=t('solution.info10').html_safe%></p>
      <p><%=t('solution.info11').html_safe%></p>
      <p><%=t('solution.info12').html_safe%></p>
      <p><%=t('solution.info13').html_safe%></p>
      <p><%=t('solution.info14').html_safe%></p>
      <p><a href="https://support.freshdesk.com/support/solutions/folders/74531" _target="blank"> <%=t('group.learn_more').html_safe%> </a></p>
  <% end %>
</div>