<% unless @modal %>
	<% content_for :layoutType do %><%= solution_body_classes %><% end %>
	<% content_for :sidebar do -%>&nbsp;<%-end %>
	<h3 class="title"><%=t('solution_category.edit')%> <span class="info_data">"<%=h(@category.name)%>"</span> </h3>
<% end %>
<%= form_for :solution_category_meta, :url => solution_category_path(@category_meta), 
						:html => {
							:remote => true,
							:method => :put,
							:"data-type" => "script", 
							:id => "version-form-#{@category_meta.id}", 
							:class => "validate_form version_form", 
							:rel => :validate
						} do |f| %>
	<%= render :partial => "category_form" , :locals => { :f => f, :association => @language_scoper }%>
	<% unless @modal %>
		<div class="button-container align-right itil-hide">
			<div class="pull-left">
				<%= confirm_delete(@category, solution_category_path(@category)) %>
			</div>
			<%= link_to(t('cancel'), solution_categories_url, :class => "btn" ) %>
	    <%= submit_tag t('save'), :class => "btn btn-primary" %>	   
		</div>
	<% end %>
<% end %>
