<% content_for :layoutType do %>community solutions<% end %>
<% content_for :sidebar do %>
	<%= content_tag :div, "", :rel => "remote", :id=> "solution-home-sidebar",
			  "data-remote-url" => '/solution/categories/sidebar' %>
<% end %>
<% content_for :sticky_left do %>
	<h3 class="lead itil-hide"><%=t('solution.title').html_safe%></h3>
<% end %>
<% content_for :sticky_right do %>
	<% if privilege?(:manage_solutions) -%>
		<div class="pull-right itil-hide">
			<%= link_to t('reorder').html_safe,'#', :id => "categories_reorder_button", :class => "btn" if (@categories.size > 2)%>
			<%= new_solutions_button(:category) %>
		</div>
	<% end %>
<% end %>
<%= render :partial => '/solution/shared/sticky', :locals => { :sticky_class => "sol-sticky solution-home-header",
						:search_url => "/search/solutions?term=" } %>

<%= render :partial => '/solution/shared/search_container' %>

<div class="solution-list sol-list pull-left" id="categories_list">	
	<%= render :partial => 'categories', :locals => { :categories => current_categories} %>
	<% unless other_categories.blank? %>
		<div class="view-more-cat pull-left">
			<a href="#" class="show-more-cat">
				<%= t('solution_category.more_catogories').html_safe %>
			</a>
		</div>
		<div class="other-portal-cat hide"> 
			<%= render :partial => 'categories', :locals => { :categories => other_categories} %>
		</div>
	<% end %>
</div>
<% if privilege?(:manage_solutions) and @categories.size > 2 %>	
	<%= render :partial => "/shared/reorder_list", 
							:locals => { 
									:items => current_portal.portal_solution_categories.includes(:solution_category).reject { |pc| pc.solution_category.is_default?},
									:action_url => reorder_solution_categories_path, 
									:title => :name, 
									:container_id => "categories_sort", 
									:reorder_id => "categories_reorder_button", 
									:list_id => "categories_list"
							} %>
<% end %>

   