<% content_for :layoutType do %>community solutions<% end %>
<% content_for :sidebar do %>
	<%= content_tag :div, "", :rel => "remote", :id=> "solution-home-sidebar",
			  "data-remote-url" => '/solution/categories/sidebar' %>
<% end %>
<% content_for :sticky_left do %>
	<h3 class="lead itil-hide"><%=t('solution.title').html_safe%></h3>
<% end %>
<% content_for :sticky_right do %>
	<% if privilege?(:manage_solutions) -%>
		<div class="pull-right itil-hide">
			<%= link_to t('reorder').html_safe,'#', :id => "categories_reorder_button", :class => "btn" unless(@categories.size <= 1)%>
			<%= new_solutions_button(:category) %>
		</div>
	<% end %>
<% end %>
<%= render :partial => '/solution/shared/sticky', :locals => { :sticky_class => "sol-sticky",
						:search_url => "/search/solutions?term=" } %>

<%= render :partial => '/solution/shared/search_container' %>

<div class="solution-list sol-list pull-left" id="categories_list">	

	<% current_categories.each do |category| %>
		<% if !@solution_drafts_feature  || !category[:is_default] %>
			<div class="<%= cycle('odd', 'even') %>">
				<h4 class="cat-title-border">
					<i class="ficon-categories cat-title-icon"></i>
					<%= pjax_link_to  "#{h(category[:name])}".html_safe, solution_category_path(:id =>category[:id]) %>				
				</h4>  
				<ul>			
		  		<% category[:folders].first(5).each do |folder| %>
	  				<li>
	  					<%= pjax_link_to h(folder[:name]), 
	  							solution_category_folder_path(:category_id => category[:id], :id => folder[:id])  %>
	  				  <span class="muted">
	  					  (<%= folder[:article_count] %>)
	  			    </span> 
	  			  </li>
				 <% end %> 
				<% if category[:folders].size > 5 %>
						<li class="no-bullet"><%= pjax_link_to t('solution.folders.view_all').html_safe,  solution_category_path(:id =>category[:id]), 
										:class => "more-cat"  %>
					  </li>
				<% end %>
				</ul>
				<%= content_tag(:span, t('solution_category.info2').html_safe, :class => "no_info_text") if (category[:folders].size == 0)  %>
			</div>
		<% end %>
	<%end%>

	<% unless other_categories.blank? %>
		<div class="view-more-cat pull-left">
			<a href="#" class="show-more-cat"><%= t('solution_category.more_catogories').html_safe %></a>
		</div>
		<div class="other-portal-cat hide"> 
			<% other_categories.each do |category| %>
				<% if !@solution_drafts_feature  || !category[:is_default] %>
					<div class="<%= cycle('odd', 'even') %> <%= 'orphaned-category' unless category.respond_to?(:portal_solution_categories) %>">
						<h4 class="cat-title-border tooltip">
								<i class="<%= category.respond_to?(:portal_solution_categories) ? 'ficon-categories' : 'ficon-categories-orphan tooltip' %> cat-title-icon" data-original-title="<%= t('solution.orphan') unless category.respond_to?(:portal_solution_categories) %>"></i>
								<%= pjax_link_to  "#{h(category[:name])}".html_safe, solution_category_path(:id => category[:id]) %>
						</h4>  
						<ul>			
				  		<% category[:folders].first(5).each do |folder| %>
			  				<li>
			  					<%= pjax_link_to h(folder[:name]),
			  							solution_category_folder_path(:category_id => category[:id], :id => folder[:id])  %>
			  				  <span class="muted">
			  					  (<%= folder[:article_count] %>)
			  			    </span> 
			  			  </li>
						 <% end %> 
						<% if category[:folders].size > 5 %>
										<li class="no-bullet"><%= pjax_link_to t('solution.folders.view_all').html_safe,  solution_category_path(:id =>category[:id]),
														:class => "more-cat"  %>
									  </li>
								<% end %>
						</ul>
						<%= content_tag(:span, t('solution_category.info2').html_safe, :class => "no_info_text") if (category[:folders].size == 0)  %>
					</div>
				<% end %>
			<%end%>
		</div>
	<% end %>
</div>
<% if privilege?(:manage_solutions) -%>	
	<%= render :partial => "/shared/reorder_list", :locals => { :items => current_portal.portal_solution_categories,  :action_url => reorder_solution_categories_path, :title => :name, :container_id => "categories_sort", :reorder_id => "categories_reorder_button", :list_id => "categories_list"} %>
<% end %>

   