<% content_for :helpcard do %>
		<h3 class="lead"> <%=t('solution.title').html_safe%> </h3>
		<p><%=t('solution.info4').html_safe%></p>
		<p><%=t('solution.info9').html_safe%></p>
		<p><%=t('solution.info10').html_safe%></p>
		<p><%=t('solution.info11').html_safe%></p>
		<p><%=t('solution.info12').html_safe%></p>
		<p><%=t('solution.info13').html_safe%></p>
		<p><%=t('solution.info14').html_safe%></p>
		<p><a href="https://support.freshdesk.com/support/solutions/folders/74531" _target="blank"> <%=t('group.learn_more').html_safe%> </a></p>
<% end %>
<% if privilege?(:manage_solutions) -%>
	<div class="pull-right align-right itil-hide">
		<%= pjax_link_to(t('solution.draft.name'), solution_drafts_path, { :class => "btn"}) if @solution_drafts_feature %>
	   <%= link_to t('reorder').html_safe,'#', :id => "categories_reorder_button", :class => "btn" unless(@categories.size <= 1)%>
		<%= link_to t('solution_category.new').html_safe, new_solution_category_path, :class => "btn btn-primary" %>
	</div>
<%- end %>
<h3 class="lead itil-hide"><%=t('solution.title').html_safe%></h3> 
<div class="search-grey-box ignore-margin-20 search-page">
	<%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('solutions.search_all.placeholder').html_safe, :url => "/search/solutions?term=" } %>
</div>
<div class="clearfix solution-list" id="categories_list">			
	<% @categories.each do |category| %>
		<% if !@solution_drafts_feature  || !category.is_default %>
			<div class="<%= cycle('odd', 'even') %>">
				<% if (!category.is_default? && privilege?(:manage_solutions)) -%>
						<div class="action_buttons">
							<%= link_to t('folder.add_folder').html_safe, new_solution_category_folder_path(category), :class => "first"  %> 
							<%= link_to t('edit').html_safe ,edit_solution_category_path(category), :class => "last"   %>
						</div>
				<% end %>
				<h4 class="border_title">
					<% unless category.folders.empty? %>
						<%= link_to  "#{h(category.name)} &raquo;".html_safe, category %>
					<% else %>
						<%= h(category.name) %>
					<% end %>
				</h4>  
				<ul>			
		  		<% category.folders.each do |folder| %>
	  				<li><%= link_to h(folder.name),  solution_category_folder_path(category, folder)  %>
	  				  <span>
	  					  (<%= folder.articles.size %>)
	  			    </span> 
	  			  </li>
				 <% end %> 
				</ul>
				<%= content_tag(:span, t('solution_category.info2').html_safe, :class => "no_info_text") if (category.folders.size == 0)  %>
			</div>
		<% end %>
	<%end%>
</div>
<% if privilege?(:manage_solutions) -%>	
	<%= render :partial => "/shared/reorder_list", :locals => { :items => current_portal.portal_solution_categories,  :action_url => reorder_solution_categories_path, :title => :name, :container_id => "categories_sort", :reorder_id => "categories_reorder_button", :list_id => "categories_list"} %>
<% end %>
   