<% if logged_in? && current_user.has_manage_solutions? -%>
	<% content_for :sidebar do -%>
		<div class="sidepanel">
			<h3 class="title"> <%=t('solution.title')%> </h3>
			<p>
				<%=t('solution.info1')%>.
			</p>
			<p>
				 <%=t('solution.info2')%>. 
			</p>
			<p>
				<%=t('solution.info3')%>.
			</p>
			<p> 
				<%=t('solution.info4')%>
			</p>	  
			
			<p>
				<%=t('solution.info5')%>. 
				
		    </p>
			
			<p>
				<%=t('solution.info6')%>.
		    </p>
			<span class="seperator"></span>
			
			<!--h3 class="title">Organize</h3>
			<p>
				You can organize your articals into <b>folders</b> and in-turn order these folders into <b>categories</b>  
			</p-->
		</div>
	<%- end %>
<%- end %> 

<% if logged_in? && current_user.has_manage_solutions? -%>
	<div class="floatr">
		<%= link_to t('solution_category.new'), new_solution_category_path, :class => "uiButton" %>
	</div>
<%- end %>
<h3 class="title"><%=t('solution.title')%></h3> 
<div class="search-grey-box ignore-margin-20">
	<%= render :partial => "/search/pagesearch", :locals => { :placeholder => t('solutions.search_all.placeholder'), :url => "/search/solutions?search_key=" } %>
</div>
<div class="clearfix solution-list">			
	<% @categories.each do |category| %>
		<div class="<%= cycle('odd', 'even') %>">
			<% if logged_in? && current_user.has_manage_solutions? -%>
					<div class="action_buttons">
						<%= link_to t('folder.add_folder'), new_solution_category_folder_path(category), :class => "first icon add_new"  %> 
						<%= link_to t('edit') ,edit_solution_category_path(category), :class => "last"   %> 
						<% link_to "RSS", "", :class => "last" %>
					</div>
			<% end %>
			<h4 class="border_title">
				<% unless category.folders.empty? %>
					<%= link_to category.name + " &raquo;", category %>
				<% else %>
					<%= category.name %>
				<% end %>
			</h4>  
			<ul>			
	  		<% category.folders.each do |folder| %>
				<li><%= link_to h(folder.name),  solution_category_folder_path(category, folder)  %></li>
			<% end %> 
			</ul>
			<%= content_tag (:span, t('solution_category.info2'), :class => "no_info_text") if (category.folders.size == 0)  %>
		</div>
	<%end%>
</div> 