<% if logged_in? && current_user.has_manage_solutions? -%>
	<% content_for :sidebar do -%>
		<div class="sidepanel">
			<h3 class="title"> Solutions </h3>
			<p>
				Solutions in Freshdesk is  your Knowledge base.
			</p>
			<p>
				Solutions can be <b>public</b> or <b>private</b>. Public Solutions are visible in the Self Service Portal and also appear in Search results. 
			</p>
			<p>
				Private solutions are agent-only solutions used for internal knowledge sharing.
			</p>
			<p> 
				Solutions have a 3 level hierarchy - <b>Category --> Folder --> Article</b>
			</p>	  
			
			<p>
				Solutions can be of two types - <b>Workaround</b> or <b>Permanent</b> solutions. 
				
		    </p>
			
			<p>
				A Solution can have a <b>Draft</b> status when you are working on it and can be  changed to <b>Published</b> status once it is finished and reviewed.
				
		    </p>
			<span class="seperator"></span>
			
			<!--h3 class="title">Organize</h3>
			<p>
				You can organize your articals into <b>folders</b> and in-turn order these folders into <b>categories</b>  
			</p-->
		</div>
	<%- end %>
<%- end %> 

<% if logged_in? && current_user.has_manage_solutions? -%>
	<div class="floatr">
		<%= link_to "<img src='/images/add.png'> New Category", new_solution_category_path, :class => "fdbutton" %>
	</div>
<%- end %>
<h3 class="title">Solutions</h3> 
<div class="search-grey-box ignore-margin-20">
	<%= render :partial => "/search/pagesearch", :locals => { :placeholder => "Search All Solutions", :url => "/search/solutions?search_key=" } %>
</div>
<div class="clearfix solution-list">			
	<% @categories.each do |category| %>
		<div class="<%= cycle('odd', 'even') %>">
			<% if logged_in? && current_user.has_manage_solutions? -%>
					<div class="action_buttons">
						<%= link_to 'Add folder'[:create_new_folder], new_solution_category_folder_path(category), :class => "first icon add_new"  %> 
						<%= link_to 'Edit' ,edit_solution_category_path(category), :class => "last"   %> 
						<% link_to "RSS", "", :class => "last" %>  
						<% link_to('delete', solution_category_path(category), :method => 'delete', :confirm => 'Are you sure you want to delete this category' ) %> 
					</div>
			<% end %>
			<h4 class="border_title">
				<% unless category.folders.empty? %>
					<%= link_to category.name + " &raquo;", category %>
				<% else %>
					<%= category.name %>
				<% end %>
			</h4>  
			<ul>			
	  		<% category.folders.each do |folder| %>
				<li><%= link_to h(folder.name),  solution_category_folder_path(category, folder)  %></li>
			<% end %> 
			</ul>
			<%= content_tag (:span, "No folders in this category", :class => "no_info_text") if (category.folders.size == 0)  %>
		</div>
	<%end%>
</div> 