<% content_for :layoutType do%>single<% end %>  
<div>
	<div class="header_area">
		<div class="right_panel" >
	  		<%= link_to "<img src='/images/add.png'> Add Category", new_solution_category_path, :class => "fdbutton" %>
		</div>
		<strong class="page_title">Solutions</strong>
	</div>	  
	
	
	<div class="page_area">			
			<% @categories.each do |category| %>
			<div class="sol_list">
				<strong><%= link_to h(category.name), category %></strong>
				<div>
					<%= category.description %>
				</div>	
				
				<div class="floatr button_p">
				<% if logged_in? && current_user.has_manage_solutions? -%>
					<%= link_to 'Edit' ,edit_solution_category_path(category), :class => "grey_button"   %>
					<%= link_to('delete', solution_category_path(category), :method => 'delete', :confirm => 'Are you sure you want to delete this category',  :class => "grey_button" ) %>
				<% end %>
				</div>
				<span class="seperator"></span>
			</div>
			
			<%end%>
	</div>
</div>