<% content_for :layoutType do -%>single<%- end %>
<div class="header_area">	
	<div class="right_panel">
		<%= link_to "Back", solution_categories_path, :class => "fdbutton grey" %>
	</div>
	<h3 class="page_title">New Category</h3>
</div>
<div class="page_area">
	<% form_for (@category), :html => {:multipart => true, :id => "folder-form"} do |f| %>
	<%= render :partial => "category_form" , :locals => { :f => f }%>

	<div class="button-container">
	    <%= submit_tag "Save", :class => "fdbutton submit" %>
	    <%= submit_tag "Save and Create Another", :name => "save_and_create", :class => "fdbutton" %>
		<%= link_to('Cancel'[:cancel], solution_categories_url, :class => "fdbutton grey" ) %>
	</div>
	
	<% end %>
</div>