<% content_for :layoutType do%>single<% end %>
<% content_for :sidebar do %>
	<h4 class="product_title">
	  <div>
	  	<%= @item.name %>
	  </div>
  	</h4>	 
	<ul class="tableofcontents">
	   <% @item.folders.each do |folder| %>
	   	  <li>
			<h4><%= link_to(h(folder.name), solution_category_folders_path(@item,folder), :id =>folder.id) %></h4>
		  </li>
	   <% end %>
	</ul>
<% end %>
<div class="header_area no_padding"> 
	<div class="right_panel">
  		<%= link_to "<img src='/images/add.png'> New Folder", new_solution_category_folder_path(@item), :class => "fdbutton" %>
	</div>
	<%= link_to "Solutions &rarr;", solution_categories_path, :class => "page_title" %>
	<span class="page_title"><%= @item.name %></span>
</div>
<div class="forum_list">
	<h5 class="category_title">
	  	<div class="item_actions">
			<%= link_to 'edit' ,  edit_solution_category_path(@item)  %> |
			<%= link_to('delete', solution_category_path(@item), :method => 'delete', :confirm => 'Are you sure you want to delete this category' ) %>
		</div>		
	  <%= @item.name %>		  
	  <div><%= @item.description %></div>
	</h5>
	<ul class="base_set">	
	<% unless (@item.folders.size == 0) %>			
	  <% @item.folders.each do |folder| %>
		<li>
			<h4 class="forum_title">
				<div class="item_actions">
					<% if logged_in? && current_user.has_manage_solutions? -%>
						<%= link_to ("New Solution", new_solution_category_folder_article_path(@item , folder), :class=> "highlight") %> | 
						<%= link_to 'edit' ,edit_solution_category_folder_path(folder.category_id,folder)  %> |
						<%= link_to('delete', solution_category_folder_path(folder.category_id,folder), :method => 'delete', :confirm => 'Are you sure you want to delete this folder' ) %>
					<% end %>
				</div>
				<span><%= link_to folder.name,  solution_category_folder_path(@item,folder)  %></span>
			</h4>
			<!--%= link_to(h(folder.name), folder) %-->
			<div class="topic_list">
				<% unless (folder.articles.size == 0) %>
					<% folder.articles.each do |article| %>
						<%= link_to article.title, solution_category_folder_article_path(@item,folder,article), :class => "topic" %>
					<% end %>
				<% else %>
					<span class="no_info_text">No solutions in this folder - </span><%= link_to 'add a new solution'[:create_new_topic], new_solution_category_folder_article_path(@item, folder) %>
				<% end %>
			</div>
		</li>		
	<% end %>
	<% else %>
	<li>
		<span class="no_info_text">No folders in this category - </span><%= link_to 'add a new folder'[:create_new_folder], new_solution_category_folder_path(@item) %>
	</li>
	<% end %>
	</ul>	
</div> 