<% content_for :layoutType do %>community<% end %>
<% content_for :sticky_title do %>
	<%= render :partial => 'title_bar' %>
	<%= render :partial => 'edit_bar' %>
<% end %>
<% content_for :sticky_right do %>
	<%= preview_portal(support_solution_path(@item), @item) %>
<% end %>
<%= render :partial => '/solution/shared/sticky', :locals => { :page => :folder } %>
<div class="folder-2col">
		<%# render :partial => "/solution/shared/category_folder_list", :locals => { :category => @item } %>
	<% if privilege?(:manage_solutions) %>
		<%# render :partial => "/shared/reorder_list", :locals => { :items => @item.folders.visible(current_user), :action_url => reorder_solution_category_folders_path(@item), :title => :name, :container_id => "folder_sort", :reorder_id => "folder_reorder_button", :list_id => "folder_list"} %>
	<% end %>
</div>

<% if @item.folders.blank? %>
	<div class="no-data">
		<%= t('solution_category.info2') %>
		<div class="mt20">
			<% if privilege?(:manage_solutions) %>
				<%= pjax_link_to(t("solution.folders.new.new_folder"), new_solution_category_folder_path(:category_id => @item.id), :class => "btn btn-primary") %>
			<% end %>
		</div>
	</div>

<% else %>
	<form action id="folder-bulk-form" class="clearfix" method="post">
		<div class="comm-items" data-menu-hover-in='div.comm-item'>
			<%= render(:partial => "folder", :collection => @item.folders) %>
		</div>
	</form>
	<%# will_paginate @item.folders, 	:renderer => BootstrapPaginationRenderer,
        				:previous_label => "<b class='arrow-left'></b>",
        				:next_label => "<b class='arrow-right'></b>",
        				:class => "pagination pagination-centered" %>
<% end %>
