<% content_for :layoutType do %>community solutions<% end %>
<% content_for :sticky_title do %>
	<%= render :partial => 'title_bar' %>
	<%= render :partial => 'edit_bar' if privilege?(:manage_solutions) && @category.folders.present? %>
<% end %>
<% content_for :sticky_right do %>
	<%= preview_portal(support_solution_path(@category), @category) %>
<% end %>
<%= render :partial => '/solution/shared/sticky', :locals => { :page => :category, :sticky_class => "sol-sticky category-sticky",
												:search_url => "/search/solutions?category_id=#{@category.id}&term=" } %>

<% if @category.folders.blank? %>
	<div class="no-data">
		<%= t('solution_category.info2') %>
		<div class="mt20">
			<% if privilege?(:manage_solutions) %>
				<%= link_to(
							t("solution.add_folder"),
							new_solution_folder_path(:category_id => @category.id),
							:class => "btn btn-primary",
							:rel => "freshdialog",
							:title => t("solution.add_folder"),
							"data-target" => "#folder-new",
							"data-close-label" => t('cancel'),
							"data-submit-label" => t('save'))  %>
			<% end %>
		</div>
	</div>

<% else %>
	<%= render :partial => '/solution/shared/search_container' %>
	<div class="comm-items solution-list" id="solution_sort" data-menu-hover-in='div.comm-item'>
		<%= form_for @category.folders, :url => reorder_solution_folders_path(:category_id => @category.id), :html => { :method => :put, :class => "form-reorder" } do |f| %>
		  <input name="reorderlist" type="hidden" value="" />
		  <input name="category_id" id="reorder_category_id" type="hidden" value="<%= @category.id %>" />
		  <ul class="row-fluid" rel="sortlist" id="folders_list">
				<%= render(:partial => "folder", :collection => @category.folders) %>
			</ul>
		<% end %>
	</div>
<% end %>