<% content_for :layoutType do -%>single<%- end %>
<div class="folder_section">
	<%= render :partial => "/solution/shared/category_folder_list", :locals => { :category => @item } %>
</div>
<div class="artical_section"> 
	<div class="crumbs">
		<%= link_to "Solutions", solution_categories_path %> &rarr; 
		<%= content_tag (:span, @item.name ) %>
	</div>
	
	<%= render :partial => "/search/pagesearch", :locals => { :placeholder => "Search #{@item.name}"  } %>
	
	<% unless (@item.folders.size == 0) %>	
	  <%= render :partial => "/solution/shared/solution_list", :locals => { :category => @item, :folder => @item.folders.first } %>
	<% else %>
		<span class="info_data">No folders in this category - </span><%= link_to 'add a new folder'[:create_new_folder], new_solution_category_folder_path(@item) %>
	<% end %>	
</div> 