<% content_for :layoutType do%>single<% end %>
<% content_for :sidebar do %>
	<h4 class="product_title">
	  <div>
	  	<%= @item.name %>
	  </div>
  	</h4>	 
	<ul class="tableofcontents">
	   <% @item.folders.each do |folder| %>
	   	  <li>
			<h4><%= link_to(h(folder.name), solution_folders_path(folder), :id =>folder.id) %></h4>
		  </li>
	   <% end %>
	</ul>
<% end %>  
<div>
	  <div class="header_area">
	  	<div class="floatr">
		  	<%= link_to "New Solution", new_solution_article_path, :class => "fdbutton" %>
			<%= link_to "New Folder", new_solution_folder_path(:category_id =>@item.id), :class => "fdbutton" %>
		  </div>
		<%= link_to "Solutions", solution_categories_path, :class => "page_title" %>
	  </div>
	  <div class="forum_list">
		  <h5 class="category_title">
			  <%= @item.name %>
			  <div><%= @item.description %></div>
		  </h5>
		  <ul class="base_set">				
		  <% @item.folders.each do |folder| %>
				<li>
					<h4 class="forum_title"><span class="title"><%= folder.name %></span></h4>
					<div class="topic_list">
					<% folder.articles.each do |article| %>
						<!--div class="item_actions">
							<%# link_to('edit', edit_helpdesk_article_path(article), :class => "button") %>
							<%# link_to('delete', article, :method => 'delete', :confirm => 'Are you sure you want to delete this solution', :class => "button" ) %>					
						</div-->
						<%= link_to(h(article.title), article, :class => "topic") %>
					<% end %>
					</div>
				</li>		
		  <% end %>
		  </ul>	
	  </div>
</div>
 