 <% first_feed = @interactions[:current].first %>
 <% unless first_feed.stream_id.blank? %>
    <% stream_id = first_feed.stream_id.split("_").last %>
    <% stream = current_account.twitter_streams.find_by_id(stream_id) %>
    <% handle = stream.twitter_handle %>
<% end %>

<% if handle.nil? || first_feed.stream_id.blank? %>
    <% handle = @reply_handles.first %>
<% end %>

<% @interactions[:current].each_with_index do |feed, index| %>
  <% current_tweet_class = (feed.feed_id.to_i == @feed_id.to_i) ? "current_feed" : ""%>
  <div id="conv_div_<%= feed.feed_id%>" class="tweets-conv tweets-feed twt-rply clearfix <%=current_tweet_class%>" data-feed-id = "<%= feed.feed_id%>" >
    <div class="span1 prof-pic image-lazy-load">
      <img src="/images/fillers/profile_blank_thumb.gif" data-src="<%= normal_twt_avatar(feed.user[:image])%>" data-src-retina="<%= bigger_twt_avatar(feed.user[:image])%>"/>
    </div>

    <div class="span10 tweet-box">
      
      <div class="feed-info-data">
        <%= render :partial => 'social/streams/feed_hidden_info' , :locals => { :feed => feed }%>
      </div>
      
      <p class="profile-name">
      <% if feed.user_in_db %>
          <span class="tooltip active-cust" data-original-title="<%=t('social.streams.tooltip.db_contact') %>" twipsy-content-set="true">
            <%= font_icon "crown", :size => 14 %>
          </span>
      <% end %>
      <a href="javascript:void(0);" class="username conv-userbtn" data-feed-id="<%= feed.feed_id%>">
          <%=feed.user[:name]%> 
        </a>
        <span class="tw-handle">@<%=feed.user[:screen_name]%></span>
      </p>

      <p class="tweet-msg autolink">
        <%= feed.body.html_safe%>
      </p>

      <div class="info-data">
         <div class="pull-left">
          <a href="http://twitter.com/<%=feed.user[:screen_name]%>/status/<%=feed.feed_id%>" target="_blank" data-original-title="View on Twitter" twipsy-content-set="true" data-placement="right" class="tooltip c-tw-link"><%= font_icon "twitter", :size => 16 %></a>
            <% parsed_time = formated_date(Time.parse(feed.posted_time).utc) %>
            <span class="timestamp" data-livestamp="<%= feed.posted_time %>" title="<%= parsed_time %>">
              <%= time_ago_in_words(Time.parse(feed.posted_time).utc) %> ago
            </span>
          <% if feed.agent_name %>
            <span class="timestamp">&nbsp; by <%= feed.agent_name %></span>
          <% end %>
        </div>
        <ul class="action-el pull-right">
          <!-- Dont show reply, retweet, convert to ticket for agent replies -->
          <% if feed.agent_name.blank? && privilege?(:reply_ticket) && !@reply_handles.blank?%>
            <li class="icon-lst">
              <!-- reply -->
              <a href="javascript:void(0);" class="reply-btn tooltip" data-original-title="Reply" twipsy-content-set="true" data-feed-id = "<%= feed.feed_id %>"><%= font_icon "reply", :size => 18 %>
              </a>
            </li>

            <li class="icon-lst">
              <!-- retweet -->
              <a href="javascript:void(0);" class="rt-btn tooltip" data-original-title="Retweet" twipsy-content-set="true" data-feed-id = "<%= feed.feed_id %>">
                <%= font_icon "retweet", :size => 18 %></a>
              </a>
            </li>
            <!-- Show view retweets and view on twitter for all -->
            <li class="icon-lst">
              <!-- view retweets -->
              <a href="javascript:void(0);" class="show-retweets vot-btn tooltip" data-original-title="View Retweets" data-retweeted-id="<%= feed.feed_id%>" twipsy-content-set="true">
                <%= font_icon "view-retweets", :size => 20 %>
              </a>
            </li>
            
            <% if feed.respond_to?(:favorited) %>
              <li class="icon-lst">
                <% if feed.favorited %>
                  <a href="javascript:void(0);" data-feed-id="<%= feed.feed_id %>" data-clicked="no" class="more-links shr-fav-btn tooltip unfav unfav-twt" data-original-title="Favorited" twipsy-content-set="true">
                    <%= font_icon "star", :size => 16 %>
                  </a>
                <% else %>
                  <a href="javascript:void(0);" data-feed-id="<%= feed.feed_id %>" data-clicked="no" class="more-links tooltip fav fav-twt" data-original-title="Favorite" twipsy-content-set="true">
                    <%= font_icon "star-o", :size => 16 %>
                  </a>
                <% end %>    
              </li>  
            <% end %>
          <% end %>
          <li class="icon-lst">
            <!-- convert to tkt -->
            <% if feed.ticket_id %>
              <a href="<%= helpdesk_tickets_url %>/<%=feed.ticket_id %>" target="_blank" class="ctt-btn tooltip tw-tkt-link" data-original-title="Go to ticket #<%=feed.ticket_id.split("#").first %> " twipsy-content-set="true" data-placement="left">
                  <%= font_icon "ticket", :size => 18 %>
              </a>
            <% else %>
              <a href="javascript:void(0);" class="ctt-btn tooltip convert_as_ticket current_interaction_ctt" data-original-title="Convert to Ticket" data-feed-id="<%= feed.feed_id%>" twipsy-content-set="true" target="_blank" data-placement="left">
                <%= font_icon "ticket", :size => 18 %>
              </a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>


    <% if @reply_handles.any? %>
      <div id="reply_box_<%= feed.feed_id %>" class="twt-box clear">
        <% form_remote_tag :url => { :controller => "social/twitter", :action => "reply" },  :html => { :class => "uniForm", :id => "reply_form_#{feed.feed_id}" } do %>
            
          <div class="row twt-area">
            <div class="twt-msg">
              <% reply_mentions = feed.user_mentions - @all_screen_names %>
              <% reply_mentions << feed.user[:screen_name] unless reply_mentions.include?(feed.user[:screen_name]) %>
              <% mentions = reply_mentions.map { |mention| "@#{mention}"}.join(" ") %>

              <%= text_area "tweet", :body, :class => 'reply-input required tweet', :id => "reply_text_area_#{feed.feed_id}", :placeholder => " Reply to #{feed.user[:screen_name]}", :rows => 3 , :value => "#{mentions} ", :onfocus=> "this.value = this.value;" %>
            </div>
            
            <div class="twt-options clearfix">
              <div class="twt-profile image-lazy-load twt-as-pop">
                <img src="/images/fillers/profile_blank_thumb.gif" data-src="<%= @thumb_avatar_urls[handle.screen_name]%>" data-src-retina="<%= @medium_avatar_urls[handle.screen_name]%>"/>
              </div>
              
              <div class="twt-as">
                <div class="dropdown">
                  <a class="dropdown-toggle twt-as-pop" data-toggle="dropdown" href="#" data-original-title="@<%=handle.screen_name%>">@<%=handle.screen_name%> <i class='ficon-caret-down fsize-16' size='16'></i></a>
                  <%= handles_select_tag(handle, @reply_handles, 'twt-as-pop') %>  
                </div>
              </div>
          
              <%= hidden_field_tag "twitter_handle_id", "#{handle.id}", :class => "twitter_handle_id twt-as-pop" %>
              
              <%= hidden_field "tweet", :in_reply_to , :value => feed.feed_id %>

              <%= hidden_field_tag "stream_id", "#{feed.stream_id}" %>

              <%= hidden_field_tag "screen_name", "#{feed.user[:screen_name]}" %>

              <%= hidden_field_tag "search_type", "" %>

              <div class="pull-right">
                <span class="pull-left tweet-counter" id="SendTweetCounter_<%=feed.feed_id%>">140</span>
                 <button type="button" class="btn btn-default pull-left twt-submit reply-submit" data-feed-id = "<%= feed.feed_id%>"> Reply </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div id="rt_box_<%= feed.feed_id%>" class="rtwt-box twt-box clear" style="display:none;">
        <% form_remote_tag :url => { :controller => "social/twitter", :action => "retweet" },  :html => { :class => "uniForm", :id => "retweet_form_#{feed.feed_id}" } do %>

           <div class="row twt-area">
            <div class="twt-msg">
              <% reply_mentions = feed.user_mentions - @all_screen_names %>
              <% reply_mentions << feed.user[:screen_name] unless reply_mentions.include?(feed.user[:screen_name]) %>
              <% mentions = reply_mentions.map { |mention| "@#{mention}"}.join(" ") %>

              <%= text_area "tweet", :body, :class => 'reply-input span12 disabled required tweet', :id => "retweet_text_area_#{feed.feed_id}", :rows => 3, :value => "RT #{feed.body}" %>
            </div>
            
            <div class="twt-options clearfix">
              <div class="twt-profile image-lazy-load twt-as-pop">
                <img src="/images/fillers/profile_blank_thumb.gif" data-src="<%= @thumb_avatar_urls[handle.screen_name]%>" data-src-retina="<%= @medium_avatar_urls[handle.screen_name]%>"/>
              </div>
              
      
            <div class="twt-as">
              <div class="dropdown">
                <a class="dropdown-toggle twt-as-pop" data-toggle="dropdown" href="#" data-original-title="@<%=handle.screen_name%>">@<%=handle.screen_name%> <i class='ficon-caret-down fsize-16' size='16'></i></a>
                <%= handles_select_tag(handle, @reply_handles, 'twt-as-pop') %>  
              </div>
            </div>
          
              <%= hidden_field_tag "twitter_handle_id", "#{handle.id}", :class => "twitter_handle_id twt-as-pop" %>
              
              <%= hidden_field_tag "stream_id", "#{feed.stream_id}" %>
              
              <%= hidden_field "tweet", :feed_id , :value => feed.feed_id %>

              <div class="pull-right">
                 <button type="button" class="btn btn-default pull-left twt-submit rt-submit" data-feed-id = "<%= feed.feed_id%>"> Retweet </button>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    <% end%>

  </div>
<% end %>
