<% unless @recent_search.blank? %>
  <% @recent_search.each do |search| %>
    <p class="query-list">
        
      <a href="#" id="query" data-exclude-handles="<%= search['handles'].join(',') %>" 
          data-exclude-keywords ="<%= search['keywords'].join(',') %>" 
          data-query="<%=search['query'].join(',')%>">
          <%= truncate(search["query"].join(" OR ").strip, :length => 60)%> 
      </a>
       
    </p>
  <% end %>
<% else %>
  <p class = 'center'> <%= t('social.streams.no_recent_searches')%> </p>
<% end %>