<%= error_messages_for :account %>
<%= show_flash %>
<input type="hidden" value="<%=@call_back_url%>" name="call_back" id="call_back_url" />
<input type="hidden" value="<%=@user.name%>" size="24" name="user[name]" id="user_name" class="textfield">
<input type="hidden" value="<%=@user.email%>" size="24" name="user[email]" id="user_email" class="textfield">
<!-- <input type="hidden" value="<%=@open_id_url%>" name="user[uid]" id="open_id_url" /> -->
<input type="hidden" value="<%=@account.google_domain%>" name="account[google_domain]" id="account_google_domain" class="textfield" />
<input type="hidden" value="<%=@uid%>" name="user[uid]" id="user_uid"  />
<input type="hidden" value="<%=@remote_id%>" name="user[remote_id]" id="user_remote_id"  />
<input type="hidden" value="<%=@app_name%>" name="request_params[app_name]" id="request_params_app_name"  />
<input type="hidden" value="<%=@operation%>" name="request_params[operation]" id="request_params_app_name"  />

<% base_domain = '.' + AppConfig['base_domain'][Rails.env] %>
<ul>
	<li>
		<label for="account_sub_domain"><strong><%= t('integrations.marketplace_login.associate_account.your_freshdesk_url') %></strong><span class="required_star">*</span></label>
		<div class="textfield">
  				<div class="domain">
  					<label for="account_sub_domain" class="ghostwriter_info">
  						<label class="ghostwriter_hide"></label>
  						<label></label>
  					</label>
  					<div class="input-append">
						  <input type="text" class="span3" value="<%= @account.domain %>" size="24" maxlength="60" rel="ghostWriterSubDomain" autocomplete="off" name="account[sub_domain]" id="account_sub_domain" placeholder="<%= t('integrations.marketplace_login.associate_account.helpdesk_name') %>" data-ghost-text="<%= base_domain %>">
						  <span class="add-on"><strong><%= base_domain %></strong></span>
						</div>
  				</div>
				</div>


		<!--input type="text"  size="24" name="account[sub_domain]" id="account_sub_domain" class="text very_small required">
		<strong class="big-text">.freshservice-dev.com</strong-->
		<div class="info-data"><%= t('integrations.marketplace_login.associate_account.domain_info') %></div>
	</li>
	<li class="button-container">
		<%= submit_tag t('integrations.marketplace_login.associate_account.submit'), :class => "btn btn-primary pull-left" %>
	</li>
</ul>
