<%= error_messages_for :account %>
<%= show_flash %>
<input type="hidden" value="<%=@call_back_url%>" name="call_back" id="call_back_url" />
<input type="hidden" value="<%=@user.name%>" size="24" name="user[name]" id="user_name" class="textfield">
<input type="hidden" value="<%=@user.email%>" size="24" name="user[email]" id="user_email" class="textfield">
<input type="hidden" value="<%=@account.google_domain%>" name="account[google_domain]" id="account_google_domain" class="textfield" />
<input type="hidden" value="<%=@uid%>" name="user[uid]" id="user_uid"  />
<input type="hidden" value="<%=@remote_id%>" name="user[remote_id]" id="user_remote_id"  />
<input type="hidden" value="<%=@app_name%>" name="request_params[app_name]" id="request_params_app_name"  />
<input type="hidden" value="<%=@operation%>" name="request_params[operation]" id="request_params_app_name"  />
<input type="hidden" value="<%=@email_not_reqd%>" name="request_params[email_not_reqd]" id="request_params_email_not_reqd"  />

<% base_domain = '.' + AppConfig['base_domain'][Rails.env] %>
<ul>
	<li>
		<label for="account_domain"><strong><%= t('integrations.marketplace_login.associate_account.your_freshdesk_url') %></strong><span class="required_star">*</span></label>
		<div class="input-append">
			<input type="text" class="required input-xlarge" value="<%= @account.domain %>" maxlength="60" autocomplete="off" name="account[domain]" id="account_domain" placeholder="<%= t('integrations.marketplace_login.associate_account.helpdesk_name') %>">
			<span class="add-on"><strong><%= base_domain %></strong></span>
		</div>
		<div class="info-data"><%= t('integrations.marketplace_login.associate_account.domain_info') %></div>
	</li>
	<li class="button-container">
		<%= submit_tag t('integrations.marketplace_login.associate_account.submit'), :class => "btn btn-primary pull-left" %>
	</li>
</ul>
