<%= render :partial => 'integrations/marketplace/top_banner' %>
<div class="google-signup-content">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#new-account" data-toggle="tab"><%= t('integrations.marketplace_login.associate_account.new_account') %></a></li>
	  <li><a href="#existing-user" data-toggle="tab"><%= t('integrations.marketplace_login.associate_account.existing_user') %></a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="new-account">
	  	<div class="ui-form signup-form" id="signup-form">
				<%= form_for @account, :url => {:controller => :signup, :action=> :create_account} , :html => { :method => "put", :id => "google_sign_up_form" } do |f| %>
					<%= render :partial => 'integrations/marketplace/new_account', :locals => { f: f } %>
				<% end %>
			</div>
	  </div>
	  <div class="tab-pane" id="existing-user">
	  		<div class="ui-form signup-form" id="change-sub-domain">
					<%= form_for @account, :url => {:controller => :signup, :action=> :associate_account} , :html => { :method => "put" } do |f| %>
						<%= render :partial => 'integrations/marketplace/existing_account' %>
					<% end %>
				</div>
	  </div>
	</div>
</div>

<%= javascript_tag do %>
 sub_domain = '<%= @sub_domain %>'
<% end %>
<%= javascript_include_tag 'integrations/marketplace/marketplace' %>
