<%= name %> 
<%= I18n.t('for',{scope: 'helpdesk_reports.saved_report.message', defaultValue: "for" }) %>
<span class='bold'> <%= part_1 %> </span> 
<%= I18n.t('email',{scope: 'helpdesk_reports.saved_report.message', defaultValue: "will be sent along with below email" }) %> 
<span class='bold'> <%= part_2 %> </span>  
<%= I18n.t('at',{scope: 'helpdesk_reports.saved_report.message', defaultValue: "at" }) %>
<span class='bold'><%= hours %></span>