<%if (data && data.length>0) { %>
	<ul class="ticket-list">
		<% for (i=0; i<data.length; i++) { %>
			<li>
				<%= data[i]['avatar']%>
				<a href="/helpdesk/tickets/<%= data[i]['id']%>" target="_blank" class="ticket-link visited"><%= data[i]['subject']%></a>
				<span class="ticket-id">#<%= data[i]['id']%></span>
				<div class="ticket-details">Agent: <span><%=data[i]['agent']%></span>, Status: <span><%=data[i]['status']%></span>, Priority: <span><%=data[i]['priority']%></span></div>
				<div class="ticket-created">From: <span><%=data[i]['requester']%></span></div>
			</li>
		<% } %>
	</ul>
	<!--<div class="tickets-footer">
		<a href="#">Export as CSV to view all tickets</a>
	</div>-->
<% } else{ %>
	<h4>No Tickets to display</h4>
<% } %>
