<% for (var i in data) { %>
    	<% if (data.hasOwnProperty(i) && !data[i]['default']) { %>
    		<li data-action='select-column'>
    		<input type="checkbox" id="<%= data[i].id %>" name="<%= data[i].name %>"
    		<%= data[i].default ? 'checked' : "" %>
    		/><label for="<%= data[i].id %>"><%= data[i].name %></label> </li>
    	<% } %>
<% } %>
