<li class="<%= (params[:stamp_type].blank? && params[:order].blank?) ? 'active' : '' %>">
	<%= link_to(t("forums_order.popular"), support_discussions_forum_path(@forum) ) if @forum.ideas? %>    
</li>  
<li class="<%= (!params[:order].blank? && params[:order] == 'created_at desc') ? 'active' : '' %>">
	<%= link_to(t("forums_order.overview"), support_discussions_forum_path(@forum) ) unless @forum.ideas? %>
</li>
<li class="<%= (!params[:order].blank? && params[:order] == 'replied_at desc') ? 'active' : '' %>">
	<%= link_to t("forums_order.recent"), support_discussions_forum_path(@forum, :order => "replied_at") %>
</li>	
<% if @forum.ideas? %>
	
	<% Topic::IDEAS_STAMPS_OPTIONS.each do |k,v| %> 
	<li class="<%=((params[:stamp_type] == v.to_s)? "active":"")%>">
		<%= link_to k, support_discussions_forum_path( @forum, :stamp_type  => v ) %>
	</li>	
	<% end %>
<% end %>