<h1 class="page-title">{{ forum.name }}</h1>
<p class="help-block ellipsis" title="{{forum.description}}">{{ forum.description }}</p>

<div class="subnav">
	{% if forum.users_can_start_topic %}
		<div class="pull-right">
			<a href="{{ forum.create_topic_url }}" class="btn btn-primary">Start a new topic</a>
		</div>
	{% endif %}
	<ul class="nav nav-pills">
	  {{ topics_filters }}
	</ul>
</div>

<div class="content-list">	
	{% for topic in forum.topics %}
	{% assign last_post_user = topic.last_post.user %}
	<div class="content-row">
		<div class="user-pic-thumb">
			<img src="{{ last_post_user.profile_url }}" />
		</div>		
		{% if topic.stamp_type %}
			<span class="pull-right label forum-stamp-type-{{topic.stamp_type}}">
				{{ topic.stamp_name }}
			</span>
		{% endif %}
		<h4 class="ellipsis">
			<a title="{{topic.title}}" href="{{topic.url}}">{{topic.title}}</a>
		</h4>
		<p class="help-text">
			{% if topic.has_comments %}
				Last reply {{ topic.last_post.created_on | distance_of_time_in_words_to_now }} by {{ last_post_user.name | bold }},
				{{ topic.posts.size }} replies,
			{% else %}
				Posted {{ topic.created_on | distance_of_time_in_words_to_now }},
			{% endif %}

			{% case forum.type_name %}
			{% when 'ideas' %}
				idea shared by
			{% endcase %}
			{{ topic.user.name | bold }}
		</p>
	</div>
	{% endfor %}	
</div>

{% comment %}

<% unless @topics.empty? %> 
	<ul class="content-list">
		<% @topics.each do |topic| %>
			<% className = (topic.sticky?) ? "sticky" : "" %>
			<% last_post = topic.last_post %>
			<li class="<%= className %>"> 
				<%= user_avatar( (topic.posts_count > 1) ? last_post.user : topic.user ) %>
				
					<span class="pull-right badge badge-success">
						<span class="stamp stamp_type_<%=topic.stamp_type%>"> 
							<%= h(topic.stamp_name) %>
						</span>
					</span>
				
					<%= content_tag (:b, "STICKY") if (topic.sticky?) %>				
					<%= content_tag :h4, link_to(topic.title, support_discussions_topic_path(topic)) %>
				
					<p class="help-data"> 
						<% if topic.posts_count > 1 %>
							<%= t("topics.last_reply", :post_time => time_ago_in_words(last_post.created_at), :user_link => link_to_user(last_post.user) ) %>
						<% else %>
							<%= t("topics.posted_at", :post_time => time_ago_in_words(topic.created_at)) %>
						<% end %> 
						-  
						<% 
							count = topic.posts_count
							if topic.posts_count > 1 
								count -= 1
						  end 
						%>
						<%= pluralize(count, t("reply"), t("replies")) %> 
						-
						<%= t("forum.verb.#{topic.forum.type_name.downcase}") %>   
						<%= link_to_user topic.user %>
						<%if @forum.ideas?%>
							|  
							<span class='idea-likes <%= "leftflat" unless topic.stamp_name.blank? %> '>
								<span class="like-image"></span>
								<%= topic.votes_count %> 
							</span> 
						<%end%>
					</p>
					<%if @forum.questions?%>  
						<%if topic.posts.answered_posts.count > 0%>
							<%= t('answered') %>
						<%end%>
					<%end%> 
				  <% if topic.paged? -%>
				  	<small><%= link_to t('last') %></small>
				  <% end -%>  
			</li>
		<% end %>
	</ul>
  <% else %>
	<div class="big-info">
		<div class="no-info-text"><%= t('no_topics_text')%></div>
		<%= (link_to t('add_a_topic'), new_category_forum_topic_path(category, forum), :class => "uiButton large") %>
	</div>
<% end %>	

<%= will_paginate @topics %>	

{% endcomment %}
	 
	