<a href="{{forum.create_topic_url}}" class="btn btn-primary btn-large pull-right">Start a new topic</a>
<h1 class="page-title"> {{ forum.name }} </h1>
<p class="help-block"> {{ forum.description }} </p>

<div class="subnav">
	<ul class="nav nav-pills">
	  {{ topics_filters }}
	</ul>
</div>

<ul class="content-list">	
	{% for topic in forum.topics %}
	<li>
		<div class="preview_pic">
			{% if topic.has_comments %}
				<img src="{{ topic.last_post.user.profile_url }}" />
			{% else %}
				<img src="{{ topic.user.profile_url }}" />
			{% endif %}
		</div>
		<span class="pull-right badge badge-success">
			<span class="stamp stamp_type_{{topic.stamp_type}}"> 
				{{ topic.stamp_name }}
			</span>
		</span>
		<h4>
			<a href="{{topic.url}}">{{ topic.title }}</a>
		</h4>
	</li>
	{% endfor %}	
</ul>

{% comment %}

<% unless @topics.empty? %> 
	<ul class="content-list">
		<% @topics.each do |topic| %>
			<% className = (topic.sticky?) ? "sticky" : "" %>
			<% last_post = topic.last_post %>
			<li class="<%= className %>"> 
				<%= user_avatar( (topic.posts_count > 1) ? last_post.user : topic.user ) %>
				
					<span class="pull-right badge badge-success">
						<span class="stamp stamp_type_<%=topic.stamp_type%>"> 
							<%= h(topic.stamp_name) %>
						</span>
					</span>
				
					<%= content_tag (:b, "STICKY") if (topic.sticky?) %>				
					<%= content_tag :h4, link_to(topic.title, support_discussions_topic_path(topic)) %>
				
					<p class="help-data"> 
						<% if topic.posts_count > 1 %>
							<%= t("topics.last_reply", :post_time => time_ago_in_words(last_post.created_at), :user_link => link_to_user(last_post.user) ) %>
						<% else %>
							<%= t("topics.posted_at", :post_time => time_ago_in_words(topic.created_at)) %>
						<% end %> 
						-  
						<% 
							count = topic.posts_count
							if topic.posts_count > 1 
								count -= 1
						  end 
						%>
						<%= pluralize(count, t("reply"), t("replies")) %> 
						-
						<%= t("forum.verb.#{topic.forum.type_name.downcase}") %>   
						<%= link_to_user topic.user %>
						<%if @forum.ideas?%>
							|  
							<span class='idea-likes <%= "leftflat" unless topic.stamp_name.blank? %> '>
								<span class="like-image"></span>
								<%= topic.votes_count %> 
							</span> 
						<%end%>
					</p>
					<%if @forum.questions?%>  
						<%if topic.posts.answered_posts.count > 0%>
							<%= t('answered') %>
						<%end%>
					<%end%> 
				  <% if topic.paged? -%>
				  	<small><%= link_to t('last') %></small>
				  <% end -%>  
			</li>
		<% end %>
	</ul>
  <% else %>
	<div class="big-info">
		<div class="no-info-text"><%= t('no_topics_text')%></div>
		<%= (link_to t('add_a_topic'), new_category_forum_topic_path(category, forum), :class => "uiButton large") %>
	</div>
<% end %>	

<%= will_paginate @topics %>	

{% endcomment %}
	 
	