<% content_for :layoutType do -%>single<%- end %>
<%content_for :sidebar do%>
	<div class="sidepanel">
	<h3 class="title">Quick Customer</h3> 
	<% form_tag :action=> :quick, :method =>:post do %> 
	<ul class="ui-form">
	<li> 
		 <label for="customer_name">Company name</label> 
		 <input id="customer_name" name="customer[name]" size="30" type="text" /> 
	</li> 
	</ul>
  		<div><%= submit_tag 'Create', :class => "fdbutton" %></div>
	<% end %>
	</div>
<%end%> 
<%= render(:partial => '/shared/companyheader', :locals => {:type => "company"}) %>
<ul id="companies" class="content_list">
	<% @customers.each do |customer| %>
	  <li class="<%= cycle('stripe', '') %>">		  	
		<div class="item_actions">
	    	<%= link_to('Edit', edit_customer_path(customer), :class => "button") %>
	    	<%= link_to 'Delete', customer, :confirm => 'Are you sure you want to delete this company?', :method => :delete, :class => "button" %>
		</div>
		<div class="preview_pic">
			<img src="/images/company_profile_blank.gif" />
		</div>
	    <div class="item_information">
	    	<%= link_to(h(customer.name), customer, :class => "item_info" ) %>			
			<div><%= h customer.description %></div>
		</div>		    
	  </li>
	<% end %>
</ul>	

<%= will_paginate @customers %>
