<% content_for :layoutType do%>single<% end %>

<div class="pageContent">
	<%= render(:partial => '/shared/companyheader', :locals => {:type => "company"}) %>
	
	<ul id="companies" class="contact_table content_list">
		<% @customers.each do |customer| %>
		  <li class="<%= cycle('stripe', '') %>">		  	
			<div class="item_actions">
		    	<%= link_to('edit', edit_customer_path(customer), :class => "button") %>
		    	<%= link_to 'Delete', customer, :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
			</div>
			<div class="preview_pic"><img src="/images/icons/building.png" width="32px" height="32px" /></div>
		    <span class="user_prime_Details">
		    	<%= link_to(h(customer.name), customer, :class => "user_name" ) %>			
				<div><%= h customer.description %></div>
			</span>		    
		  </li>
		<% end %>
	</ul>	
</div>
<div>  <%= will_paginate @customers %></div>
