<% content_for :layoutType do%>single bg_pulp<% end %>

<div>
	<%= render(:partial => '/shared/companyheader', :locals => {:type => "company"}) %>
	<ul id="companies" class="content_list">
		<% @customers.each do |customer| %>
		  <li class="<%= cycle('stripe', '') %>">		  	
			<div class="item_actions">
		    	<%= link_to('Edit', edit_customer_path(customer), :class => "button") %>
		    	<%= link_to 'Delete', customer, :confirm => 'Are you sure you want to delete this company?', :method => :delete, :class => "button" %>
			</div>
			<div class="preview_pic">
				<img src="/images/company_profile_blank.gif" />
			</div>
		    <div class="item_information">
		    	<%= link_to(h(customer.name), customer, :class => "item_info" ) %>			
				<div><%= h customer.description %></div>
			</div>		    
		  </li>
		<% end %>
	</ul>	
</div>
<div>  <%= will_paginate @customers %></div>
