<%content_for :sidebar do%>
	<div class="sidepanel">
	<h3 class="title"><%=t('company.quick_company')%></h3> 
	<% form_tag :action=> :quick, :method =>:post do %> 
	<ul class="ui-form">
	<li> 
		 <label for="customer_name"><%=t('company.name')%></label> 
		 <input id="customer_name" name="customer[name]" size="30" type="text" /> 
	</li> 
	</ul>
  	<div class="button-container"><%= submit_tag t('create'), :class => "uiButton small" %></div>
	<% end %>
	</div>
<%end%> 
<%= render(:partial => '/shared/companyheader', :locals => {:type => "company"}) %>
<ul id="companies" class="content_list company-list">
	<% @customers.each do |customer| %>
	  <li class="<%= cycle('stripe', '') %>">		  	
		<div class="item_actions">
	    	<%= link_to(t('edit'), edit_customer_path(customer), :class => "button") %>
	    	<%= link_to t('delete'), customer, :confirm =>  "#{t('company.info1')}?", :method => :delete, :class => "button" %>
		</div> 
	    <div class="item_information">
	    	<%= link_to(h(customer.name), customer, :class => "item_info" ) %>			
			<div><%= h customer.description %></div>
		</div>		    
	  </li>
	<% end %>
</ul>	

<%= will_paginate @customers %>
