<% content_for :layoutType do -%>bg_pulp<%-end %>
<% content_for :sidebar do %> 
	<div class="sidepanel">
		<div class="element first">
			<div class="edit" id="sla_button">
				<a href="javascript:void(0)" onclick="jQuery('#sla_details, #sla_form').toggle(); jQuery('#sla_button').hide()">Edit</a>
			</div> 
			<h4 class="title"><%=t('sla_policy.title')%></h4>
			<div id="sla_details">
				<strong><%= @customer.sla_policy.name %></strong>
				<div class="info_data"><%= @customer.sla_policy.description %></div>
			</div>			
			<div id="sla_form" style="display:none;">
				<% form_for @customer do |f| %>
					<div>
						<%= f.label(:sla_policy_id, t('sla_policy.select_policy')) %>
						<%= f.select(:sla_policy_id, current_account.sla_policies.map {|u| [u.name, u.id]}) %>
					</div>
					<%= f.submit t('change') %>
					<a href="javascript:void(0)" onclick="jQuery('#sla_details, #sla_form').toggle(); jQuery('#sla_button').show()">Cancel</a>
				<% end %>
			</div>
		</div>
		<% unless @customer.domains.blank? %>
		<div class="element" style="display:none;">
			<h4 class="title"><%=t('company.info2')%></h4>
			<p>
				<%= @customer.domains %>	
			</p>	
		</div>
		<% end %>
	</div> 
	<div class="sidepanel">
	<h4 class="title"><%=t('contacts.new')%> <span class="highlight">in <%=@customer.name%></span></h4> 
	
		<% form_tag :action=> :quick_customer,:controller => "contacts", :method =>:post do %>
		<%= hidden_field_tag 'customer_id', params[:id] %> 	
		<ul class="ui-form">
		<li> 
			<label for="user_name"><%=t('user.full_name')%></label> 
			<input class="text" id="user_name" name="user[name]" size="30" type="text" value="" /> 
		</li> 
		<li>
			<label for="email_primary"><%=t('user.email')%></label> 
			<input class="text" id="email_primary" name="user[email]" size="30" type="text" />
		</li>
		<li>
			<label for="user_phone"><%=t('user.phone_no')%></label> 
			<input class="text" id="phone_work" name="user[phone]" size="30" type="text" /> 
		</li>
		</ul>
		<div class="button-container"><%= submit_tag t('create'), :class => "uiButton grey small" %></div>
		<% end %>
	</div>
<% end %>
<div class="company_box">
	<div class="action_buttons">
		<%= link_to t('edit'), edit_customer_path(@customer), :class => "last" %>
	</div>
	<h3 class="title"><%= h @customer.name %></h3>
	<div><%=@customer.description%></div>
</div> 
<h4 class="title"><%=t('company.info4',:name => @customer.name)%></h4>	
<% form_for(@customer) do |f| %>
	<label class="overlabel" for="comp_notes">
		<%=t('company.info3')%><br /> 
		example - we are negotiating a 100K deal with this company
	</label>
	<%= f.text_area :note, :class=> "sp_paragraph", :id => "comp_notes" %>
	<div class="alignright"> 
		<%= f.submit 'Save', :class=>"uiButton small grey"  %> &nbsp;
	</div>
<% end %>	  

<% unless @customer.users.empty? %>
<span class="seperator"></span>
<h4 class="title"><%=t('company.info6',:name => @customer.name)%> (<%= @customer.users.size %>) </h4>
	<ul class="user_list">	  
			  <% @customer.users.each do |user| %>
			  <li>
			  	<%= link_to (user_avatar(user.avatar, :thumb), user, :title => h(user.name) ) %> 
				<%# link_to (h(user.name), user, :class => 'username') %>
				<%# user.job_title %>
			  </li>  
			  <%end%>
	</ul>
<% end %>
<span class="seperator"></span>
<h4 class="title"><%=t('contacts.info4',:nick_name => @customer.name)%></h4>
	
	<% if (@customer.tickets.visible.size == 0) %>
		<%= "#{t('company.info7')}" %>
	<% else %> 
		<ul class="history-list">
			<% @customer.tickets.visible.first(5).each do |ticket| %>		
				<%= render :partial => "/contact_shared/ticket", :object => ticket %> 
			<% end %>	
		</ul>	
	<%end%>
	
</div>