<style>
	<%= render :file => "mailer/css/mailer", :formats => [:css] %>
</style>

<div class="body">
	<div class="forum_content">

		<%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @user.name, sent_by: @portal.name } do %>

		<%= t("mailer_notifier.topic_notifications.merged_and_added_follower_html", topic_url: discussions_topic_url(@source_topic.id, :host => @host), topic_name: @source_topic.title, target_topic_url: discussions_topic_url(@target_topic.id, :host => @host), target_topic_name: @target_topic.title).html_safe %><br><br>

		<% end %>
	</div>
	<div class="footer">
		<%= link_to t("mailer_notifier.topic_notifications.reply"), reply_discussions_topic_url(@target_topic.id, :host => @host, :anchor => 'reply-to-post'), :class => "reply" %>
		<div class="footer-text">
			<%= t("mailer_notifier.topic_notifications.turn_off_new_topic_notifications_html", unfollow_url: toggle_monitorship_url("topic", @target_topic.id, "unfollow", :host => @host)).html_safe %>
		</div>
	</div>
	<br />
	<br />
</div>