<style>
	<%= render :file => "mailer/css/mailer", :formats => [:css] %>
</style>

<div class="body">
	<div class="forum_content">

		Dear <%= @user.name %> <br><br>

		Your topic <%= link_to @source_topic.title, discussions_topic_url(@source_topic.id, :host => @host) %> 
		 has been merged into <%= link_to @target_topic.title, discussions_topic_url(@target_topic.id, :host => @host) %> and you have been added as a follower.<br><br>

		Sincerely <br>
		<%= @portal.name %>
	</div>
	<div class="footer">
		<%= link_to "Reply", reply_discussions_topic_url(@target_topic.id, :host => @host, :anchor => 'reply-to-post'), :class => "reply" %>
		<div class="footer-text">
			<%= link_to "Turn Off", toggle_monitorship_url("topic", @target_topic.id, "unfollow", :host => @host) %>
			 notifications for this topic
		</div>
	</div>
	<br />
	<br />
</div>