
<style>
	<%= render :file => "mailer/css/mailer.css" %>
</style>

<div class="body">
	<div class="mail_content">
		<b>New Topic</b> in forum <%= link_to @topic.forum.name, 
		discussions_forum_url(@topic.forum.id, :host => @host) %>
	</div>
	<div class="forum_content">

		<%= link_to @topic.title, discussions_topic_url(@topic.id, :host => @host), :class => "topic_title" %><br><br>
		<div class="profile_img">
			<img src="<%= profile_image_user_url(@user.id, :host => @host)%>" width="30" height="30" />
		</div> 
		<div class="user_identity">
			<b class="user_name"><%= @user.name %></b><br>
		</div>
		<br>
		<div class="actual_content">
			<%= @body_html.html_safe %>
		</div>
		<br />
	</div>
	<div class="footer">
		<%= link_to "Reply", reply_support_discussions_topic_url(@topic.id, :host => @host, :anchor => 'reply-to-post'), :class => "reply" %>
		<%= link_to "Follow Topic", toggle_monitorship_url("topic", @topic.id, "follow", :host => @host), :class =>"follow_topic" %>
		<div class="footer-text">
			<%= link_to "Turn Off", toggle_monitorship_url("forum", @topic.forum.id, "unfollow", :host => @host) %>
			New Topic notifications for this forum
		</div>
	</div>
	<br />
	<br />
</div>