<%
metric_type = @data_obj.keys[0]
metric_data = @data_obj[metric_type]
%>
<div class="span6 single-line-bar <%=metric_type%>">
  <h3 class="header-lead">
    <span><%=metric_data[:title]%></span>
    <a class="report-help-icon tooltip" title='<%=t("adv_reports.helptext.glance.how_to_read")%>' href="<%=@solution_artical_link%>" target="_blank">?</a>
    <i class="sort DESC" data-report-for="<%=metric_type%>" style="float:right;font-weight:bold;cursor:pointer;">&#8595</i>
  </h3>
  <div id="<%=metric_type%>_line_chart" class="graph-container"><div class="loading-center"></div></div>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){
  var chart_id = '<%=metric_type%>_line_chart',
      analysis_1_barChart = new bar_chart(
      {renderTo: chart_id,chartData:<%=metric_data[:chartData].to_json%>,
        xaxis_arr: <%=metric_data[:xaxis_arr].to_json%>,title:'',
        yAxis_label:'<%=metric_data[:yAxisLabel]%>'
      });
  analysis_1_barChart.barGraph();
  jQuery("#<%=metric_type%>").removeClass('sloading loading-small loading-block');
});
</script>