<% content_for :sidebar do -%>&nbsp;<%-end %>
<%= content_tag(:h3, t('customer_import.import_csv', :type => params[:type].pluralize.capitalize), :class => "lead") %>
	<%= form_for :customer,:url => { :controller => "customers_import", :action => "map_fields" }, :html => {:multipart => true} do |f| %>
		<%= f.error_messages %>
		<div class="row-fluid">
			<div class="control-group">
				<label class="control-label" for="file"><%= content_tag(:b, t('step1')) %>: <%= t('import_step1_info') %></label>
				<div class="controls">
					<%= file_field_tag 'file',:accept => '.csv', :class => "required", :size => "40" %>
				</div>
				<%= hidden_field_tag 'type', params[:type] %>
			</div>
			<div class="control-group">
				<p><%= content_tag(:b, t('warning')) %> <%= t('customer_import.import_warning_info', :type => params[:type], :field => params[:type].eql?("company") ? "name" : "email") %></p>
				<br/>
				<p class="muted"><%= content_tag(:b, t('note')) %> 
					<% unless params[:type].eql?("company") %>
						<%= t('customer_import.contact_import_data_info', :solution_link => "https://support.freshdesk.com/support/solutions/articles/199329").html_safe %> 
					<% else %>
						<%= t('customer_import.company_import_data_info', :solution_link => "https://support.freshdesk.com/support/solutions/articles/199329").html_safe %>
					<% end %>
				</p>
			</div>
			<div class="button-container">
				<%= link_to t('cancel'), "/#{params[:type].pluralize}", :class => "btn", :'data-pjax' => '#body-container'  %>
				<%= f.submit t('import'), { :class => "btn btn-primary" } %>
			</div>
			<div class="seperator"></div>
		</div> 
	<% end %>