<% content_for :sidebar do -%>&nbsp;<%-end %>
<div class="list-page">
	<div class="list-page-subheader">
		<%= content_tag(:h3, t('customer_import.import_csv', :type => params[:type].pluralize.capitalize), :class => "lead") %>
	</div>

	<%= form_tag({:action=> :create, :controller => "customers_import", :method =>:post}, {:rel => "validate"}) do %>

		<%= hidden_field_tag 'type', params[:type] %>

		<ul class="form-horizontal map_fields">
			<li class="control-group">
				<label for="file"><%= content_tag(:b, t('step2')) %>: <%= t('customer_import.import_step2_info', :type => params[:type]) %></label>
			</li>

			<% @fields.each do |field| -%>
				<li class="control-group  row-fluid">
					<%= render :partial => 'table_fields',  :formats => [:html],:locals => {:key => field[:label], :value => field[:name], 
						:type => params[:type]} %>
				</li>
			<% end -%>

			<li class="seperator control-group"></li>
				<li class="control-group">
					<p><%= content_tag(:b, t('warning')) %> <%= t('customer_import.import_warning_info', :type => params[:type], :field => params[:type].eql?("company") ? "name" : "email") %></p>
				</li>	
			</li>

		 	<div class="button-container">
			  	<%= link_to t('cancel'), "/#{params[:type].pluralize}", :class => "btn", :'data-pjax' => '#body-container'  %>
			  	<%= submit_tag t('import'), { :class => "btn btn-primary" } %>
		 	</div>
		</ul>
	<% end %>
</div>

<%= javascript_tag do %>
	jQuery(document).ready(function(){
		sample_value = [<%= raw @rows[1].to_json %>];
		jQuery(".table_header").change(function(){ 
			var select_num = (this.id.match(/\[(.*?)\]/))[1];
			var table_header_val = jQuery(this).val();
			var display_text = sample_value[0][table_header_val];
			if(jQuery(this).val() == sample_value[0].length.toString() || isNaN(parseInt(table_header_val)) )
			{
				display_text = "";
			}
			jQuery(".sample_value_"+select_num).html(display_text);
		})
	});
<% end %>