<%= render :partial => "layouts/report/pdf_files", :locals => {} %>
<% obj_array_size = @data_obj.length 
   counter = 0
%>
<div class="report-page" id="report-page">
  <div class="report-content-wrapper">
    <!--report header-->
    <%= render :partial => "reports/shared/report_view_header", :locals => {:is_pdf =>true} %>
    <% @data_obj.each do |key,data| %>
    <%if counter % 2 == 0%>
    <div class="row-fluid">
    <%end%>
      <div class="span6 single-line-bar">
        <h3 class="header-lead"><span><%=data['title']%></span></h3>
        <div id="<%=key%>_bar_chart" class="graph-container"><div class="noinfo">No data to display!</div></div>
      </div>
    <%if counter % 2 != 0 || ((obj_array_size-1) == counter)%>
    </div>
    <%end
    counter+=1
    %>
    <script type="text/javascript">
    var <%=key%> = <%=data.to_json%>;
    jQuery(document).ready(function() {
      var <%=key%>_barChart = new bar_chart(
          {renderTo: '<%=key%>_bar_chart',chartData:<%=data[:chartData].to_json%>,
            xaxis_arr: <%=data[:xaxis_arr].to_json%>,title:'<%=data[:title]%>',isPDF:true}
        );
      <%=key%>_barChart.barGraph();
    });
    </script>

    <%end%>
  </div>
</div>