
<%= render :partial => "layouts/report/pdf_files", :locals => {} %>
	<div class="row-fluid">
		<div class="report-page" id="report-page">
		  <div class="report-content-wrapper">
		    <!--report header-->
		    <%= render :partial => "reports/shared/report_view_header", :locals => {:is_pdf =>true} %>

		    <!--metrics-->
		    <div class="row-fluid  report-summary">
		      <h3 class="header-lead"><span>Summary </span></h3>
		      <div class="row-fluid report-summary-wrapper">
		        <div class="report-summary-header">
		          <ul class="inline">
		            <li><h1><%= @data_obj[:received_tickets] %></h1></li>
		            <li><h1><%= @data_obj[:resolved_tickets] %></h1></li>
		            <li><h1><%= @data_obj[:backlog_tickets] %></h1></li>
		            <li><h1><%= (@data_obj[:avgresponsetime]).to_f.round(2) %></h1></li>
		            <li><h1><%= (@data_obj[:avgfirstresptime]).to_f.round(2) %></h1></li>
		            <li><h1><%= (@data_obj[:avgresolutiontime]).to_f.round(2) %></h1></li>
		          </ul>
		        </div>
		        <div class="report-summary-data">
		          <ul class="inline">
		            <li> 
		              <% metric_obj = percentage_change(@prev_data_obj[:received_tickets].to_i,@data_obj[:received_tickets].to_i,:received_tickets)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li> 
		              <% metric_obj = percentage_change(@prev_data_obj[:resolved_tickets].to_i,@data_obj[:resolved_tickets].to_i,:resolved_tickets)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:backlog_tickets].to_i,@data_obj[:backlog_tickets].to_i,:backlog_tickets)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:avgresponsetime].to_f,@data_obj[:avgresponsetime].to_f,:avgresponsetime)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:avgfirstresptime].to_f,@data_obj[:avgfirstresptime].to_f,:avgfirstresptime)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:avgresolutiontime].to_f,@data_obj[:avgresolutiontime].to_f,:avgresolutiontime)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		          </ul>
		        </div>
		        <div class="report-summary-footer">
		          <ul class="inline">
		            <li> <label><%= t('reports.summary.received_tickets')%></label></li>
		            <li> <label><%= t('reports.summary.resolved_tickets')%></label></li>
		            <li><label>Backlog Tickets</label></li>
		            <li><label>Average Response Time (in Hrs)</label></li>
		            <li><label>Average First Response Time (in Hrs)</label></li>
		            <li><label>Average Resolution Time (in Hrs)</label></li>
		          </ul>
		        </div>
		      </div>
		      <div class="row-fluid report-summary-wrapper">
		        <div class="report-summary-header">
		          <ul class="inline">
		            <li><h1><%= (@data_obj[:avgcustomerinteractions]).to_f.round(1) %></h1></li>
		            <li><h1><%= (@data_obj[:avgagentinteractions]).to_f.round(1) %></h1></li>
		            <li><h1><%= @data_obj[:num_of_reopens] %></h1></li>
		            <li><h1><%= @data_obj[:num_of_reassigns] %></h1></li>
		            <li>
		              <div id="sla_gauge_container" style="width: 150px; height: 120px; margin: 0 auto"><div class="noinfo-bar">N/A</div></div>
		            </li>
		            <li>
		              <div id="fcr_gauge_container" style="width: 150px; height: 120px; margin: 0 auto"><div class="noinfo-bar">N/A</div></div>
		            </li>
		          </ul>
		        </div>
		        <div class="report-summary-data">
		          <ul class="inline">
		            <li> 
		              <% metric_obj = percentage_change(@prev_data_obj[:avgcustomerinteractions].to_f,@data_obj[:avgcustomerinteractions].to_f,:avgcustomerinteractions)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li> 
		               <% metric_obj = percentage_change(@prev_data_obj[:avgagentinteractions].to_i,@data_obj[:avgagentinteractions].to_i,:avgagentinteractions)%>
		               <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:num_of_reopens].to_i,@data_obj[:num_of_reopens].to_i,:num_of_reopens)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:num_of_reassigns].to_i,@data_obj[:num_of_reassigns].to_i,:num_of_reassigns)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:sla_tickets].to_i,@data_obj[:sla_tickets].to_i,:sla_tickets)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		            <li>
		              <% metric_obj = percentage_change(@prev_data_obj[:fcr_tickets].to_i,@data_obj[:fcr_tickets].to_i,:fcr_tickets)%>
		              <small><span class="<%=metric_obj[:class]%>"><i></i><i></i></span><%=metric_obj[:val]%></small>
		            </li>
		          </ul>
		        </div>
		        <div class="report-summary-footer">
		          <ul class="inline">
		            <li> <label>Average Customer Interactions</label> </li>
		            <li> <label>Average Agent Interactions</label> </li>
		            <li> <label>Num. of Reopens</label> </li>
		            <li> <label>Num. of Reassigns</label> </li>
		            <li> <label>SLA %</label> </li>
		            <li> <label>FCR %</label> </li>
		          </ul>
		        </div>
		      </div>
		    </div>
		    <div class="row-fluid">
		      <h3 class="header-lead"><span>Ticket by source</span></h3>
		      <div id="source_freshdesk_single_stacked_bar_chart" class="single-stacked-bar span12" style="height:150px;"><div class="noinfo-bar">No data to display!</div></div>
		    </div> 
		    <div class="row-fluid">
		      <div class="span6">
		        <h3 class="header-lead"><span>Tickets By  Type</span></h3>
		        <div id="ticket_type_freshdesk_chart" class="chart-container"><div class="noinfo">No data to display!</div></div>
		      </div> 
		      <div class="span6">
		        <h3 class="header-lead"><span>Tickets By  Priority</span></h3>
		        <div id="priority_freshdesk_chart" class="chart-container"><div class="noinfo">No data to display!</div></div>
		      </div>

		      <% @activity_data_hash.fetch('custom_fields').each do |label,pie_chart| %>
		      <div class="span6">
		        <h3 id="<%=label%>_title" class="header-lead"><span><%= t('reports.pie_chart_title_prefix') %>&nbsp;</span></h3>
		        <div id="<%=label%>_freshdesk_chart" class="chart-container">
		          <div class="noinfo">No data to display!</div>
		        </div>
		      </div>
		      <script type="text/javascript">
		        jQuery(document).ready(function() {
		          <%unless pie_chart.empty?%>
		          var ticketByType<%=label%> = new pieChart({renderTo:'<%=label%>_freshdesk_chart'
		                                                      ,chartData:<%=pie_chart.to_json%>
		                                                      ,isPDF:true});
		          ticketByType<%=label%>.pieChartGraph();
		          <%end%>
		          jQuery('#<%=label%>_title').html("<span>"+jQuery('#<%=label%>_title').text()+ custom_fields['<%=label%>']+"</span>");
		        });
		        </script>
		      <%end%>
		    </div>

		    <% @activity_data_hash.fetch('nested_fields').each do |label,pare_to_chart|%>
		    <div class="row-fluid">
		      <h3 id="<%=label%>_title" class="header-lead"><span><%= t('reports.pie_chart_title_prefix') %>&nbsp;</span></h3>
		      <div class='nested-wrapper'>
		        <div class="nested-unit" style="overflow-y: initial;"> 
		          <div id="<%=label%>_freshdesk_chart" name='level_0' class="nested-stacked-bar" style="height:auto">
		              <div class="noinfo"><%=t('adv_reports.no_data_to_display_msg')%></div>
		          </div>
		        </div>
		      </div>
		    </div>
		    <script type="text/javascript">
		      jQuery(document).ready(function() {
		      <%unless pare_to_chart[:chartData].empty?%>
		        var ticketByType<%=label%> = new pare_to_chart({renderTo:'<%=label%>_freshdesk_chart'
		                                                    ,chartData:<%=pare_to_chart[:chartData].to_json%>
		                                                    ,xaxis_arr:<%=pare_to_chart[:xaxis_arr].to_json%>
		                                                    ,column_width:<%=pare_to_chart[:column_width].to_json%>
		                                                    ,isPDF:true});
		        ticketByType<%=label%>.pareToGraph();
		        <%end%>
		        jQuery('#<%=label%>_title').html("<span>"+jQuery('#<%=label%>_title').text()+ custom_fields['<%=label%>']+"</span>");
		      });
		      </script>
		    <%end%>
		  </div>
		</div>
	</div>
	<script type="text/javascript">
	var data_json = <%= @activity_data_hash.to_json%>;
	var custom_fields = JSON.parse(<%=@custom_fields.to_json%>);
	jQuery(document).ready(function() {
	  var gaugeChartSLA = new gaugeChart(
	        {renderTo: 'sla_gauge_container',chartText:'',yAxisText:'',tooltipName:'SLA',chartData:[Math.round((<%= @data_obj[:sla_tickets] %> / <%= @data_obj[:resolved_tickets] %>)*100)],valueSuffix:'%',isPDF:true}
	      ),
	      gaugeChartFCR = new gaugeChart(
	        {renderTo: 'fcr_gauge_container',chartText:'',yAxisText:'',tooltipName:'SLA',chartData:[Math.round((<%= @data_obj[:fcr_tickets] %> / <%= @data_obj[:resolved_tickets] %>)*100)],valueSuffix:'%',isPDF:true}
	      ),
	      singleStakedBar = new single_stacked_bar_chart(
	        {renderTo: 'source_freshdesk_single_stacked_bar_chart',chartData:data_json["source"],isPDF:true}
	      ),
	      ticketByTypeChart = new pieChart(
	        {renderTo:'ticket_type_freshdesk_chart',chartData:data_json["ticket_type"],title:'Tickets By Type',isPDF:true}
	      ),
	      ticketByPriorityChart = new pieChart(
	        {renderTo:'priority_freshdesk_chart',chartData:data_json["priority"],title:'Tickets By Priority',isPDF:true}
	      );
	  gaugeChartSLA.gaugeChartGraph();
	  gaugeChartFCR.gaugeChartGraph();
	  singleStakedBar.single_stacked_bar_chart_Graph();
	  ticketByTypeChart.pieChartGraph();
	  ticketByPriorityChart.pieChartGraph();
	});
	</script>
		</div>
	</div>
</html>