<%= stylesheet_link_tag_with_rtl :'cdn/livechat_admin' %>
<%= javascript_include_tag :'cdn/livechat_archive' %>

<div id="loading-box">
	<div class="sloading loading-left loading-small reports-loading"><%=t("freshchat.visitors_list")%></div>
</div>
<div class="containerFull row-fluid" id= "visitors_view_container" >
 	<div class="clearfix"></div>
	<div class="ticket-leftcol fc-vfilter" id="visitor_filter">
		<a class="online_count " id="returnVisitorCount">
			<div class="off"><span class="count">0</span> <%=t("freshchat.returning_visitors")%></div>
		</a>
		<a class="online_count " id="newVisitorCount">
			<div class="off"><span class="count">0</span> <%=t("freshchat.new_visitors")%></div>
		</a>
		<a class="online_count " id="inConversationCount">
			<div class="off"><span class="count">0</span> <%=t("freshchat.in_conversation")%></div>
		</a>
	</div>
	<div class="contentCol hasRightCol borderleftnull" id= "visitor_results_container">
	</div>
</div>
