<!DOCTYPE html>
<html>
<head>
	<link rel="canonical shortcut icon" href="<%= fav_icon_url %>" />
	<%= stylesheet_link_tag_with_rtl :'cdn/rating' %>
	<%= javascript_include_tag :'cdn/survey'  %>
</head>
<body>
	<div class="top-strip">
		<div class="wrapper">
		<div class="wrapper-shadow">
			<div class="fd-branding">
		    	<%= link_to (portal_pref(@survey_handle.portal, :logo_link).empty?) ?
			    	"/home" : portal_pref(@survey_handle.portal, :logo_link), :class => "logo" do %>
		        <%= image_tag (@survey_handle.portal.logo.nil? ? "/assets/misc/logo.png?721013" : @survey_handle.portal.logo.content.url(:logo)) %>

		        <% end %>
		        <%= link_to(h(@survey_handle.portal.name), "/home", :class => "logo_text") %>
	    	</div>
	    </div>
    	</div>
	</div>
	<div class="wrapper">
	<div class="wrapper-shadow">
		<div>
			<div class="pointer"></div>
			<div class="highlighter">
				<div class="smily">
					<% rating_img = (@rating==Survey::HAPPY.to_s) ? "happy" : (@rating==Survey::UNHAPPY.to_s) ? "unhappy" : "neutral" %>
					<i class="smiley-<%=rating_img%>"></i>
				</div>
				<div>
				<%if @rating==Survey::HAPPY.to_s%>
					<h3><%= t('.thanks') %></h3>
					<h4><%= t('.happy_info') %></h4>
				<%elsif @rating==Survey::UNHAPPY.to_s%>
					<h3><%= t('.thanks') %> <%= t('.sorry') %></h3>
					<h4><%= t('.unhappy_info') %></h4>
				<%else%>
					<h3><%= t('.thanks') %></h3>
					<h4><%= t('.neutral_information') %></h4>
				<%end%>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
</body>
</html>
