<style>
	<%= render :file => "mailer/css/mailer.css" %>
</style>
<div class="body">
	<div class="mail_content">
		<br><%= t("mailer_notifier.draft_mailer.discard_email.discard_msg_html", article_url: link_to(@draft[:title],solution_article_url(@article, :host => @host)), user: link_to(@user.name, contact_url(@user.id, :host => @host)) , time: Time.zone.now.strftime("%a, %d %b %Y at %H:%M %p"))%>
	</div>
	<div class="forum_content">
		<div class="draft-title">
			<%= t("mailer_notifier.draft_mailer.discard_email.draft_by_html", title: @draft[:title], author: @current_author.name).html_safe%>
		</div>
		<br />
		<div class="actual_content">
			<%= @body_html.html_safe %>
		</div>
		<br>
	</div>
	<div class="footer">
		<%= link_to(t("mailer_notifier.draft_mailer.discard_email.view_article"), solution_article_url(@article, :host => @host), :class => "reply") %>
	</div>
	<br>
	<br>
</div>
