<%= javascript_include_tag :'cdn/survey_admin'  %>
<div class="multilingual-container<%if !@survey%> disable-container<%end%>" id="custom-survey-language-list">
	<div class='translation-header'>
		<div class="multilingual-icon"><img src='/images/survey/multilingual-icon.svg'></div>
		<div class='text-content'><%= t("admin.custom_translation.translation") %></div>
	</div>
	<div class='secondary-portal-header'>
		<div class="visible-icon"><img src='/images/survey/visible.svg'></div>
		<div class='secondary-text-content'><%= t("admin.custom_translation.surveys.visible_on_portal") %></div>
		<div class="secondary-help-text"><%= t("admin.custom_translation.surveys.visible_on_portal_helptext") %></div>
	</div>
	<div class="language-list">
		<div class="portal-language-list">
			<div class="language-item-container <%if !@survey %> disable-language-item <%end%>">
				<div class='primary-container'>
					<%= @account.language_object.name %> (<%= t("admin.custom_translation.primary") %>)
				</div>
				<%if @survey%>
					<div class="action-items-container">
						<div class="action-items tooltip edit-survey" data-placement="above" data-original-title =<%= t("admin.custom_translation.download")%> 
							name="<%=@account.language_object.name%>" code="<%=@account.language_object.code%>">
							<img src='/images/survey/download.svg'></a>
						</div>
						<div class="action-items preview-survey tooltip" data-placement="above" data-original-title = <%= t("admin.custom_translation.preview") %> >
							<a href="<%=survey_language_preview @account.language_object.code%>" target="_blank">
								<img src='/images/survey/preview.svg'>
							</a>
						</div>
					</div>
				<% end %>
			</div>
			<% language_translations[:portal_languages].each do |language_item| %>
				<% status = CustomTranslation::SURVEY_STATUS.key(language_item['status']).to_s %>
				<div id="language-<%=language_item['code']%>" class="language-item-container <%if !@survey %> disable-language-item <%end%>"> <%= language_item['name'] %>
					<%if @survey%>
						<div class="action-items-container">
							<div class="action-items edit-survey tooltip" secondary="true" name="<%=language_item['name']%>" code="<%=language_item['code']%>" data-placement="above" data-original-title = <%= t("admin.custom_translation.edit") %> >
								<img src='/images/survey/edit.svg'>
							</div>
							<div class="action-items preview-survey <%= status %> tooltip" data-placement="above" data-original-title = <%= t("admin.custom_translation.preview") %> >
								<a href="<%=survey_language_preview language_item['code']%>" target="_blank">
									<img src='/images/survey/preview.svg'>
								</a>
							</div>
						</div>
						<div class="survey-status-label survey-<%= status %>">
							<%= t("admin.custom_translation.status_#{status}") %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="show-info hide"><%= t("admin.custom_translation.surveys.show_info") %></div>
	<% hidden_languages = language_translations[:hidden_languages] %>
	<div class='secondary-supported-header<%if !hidden_languages.present? %> hide<%end%>'>
		<div class="visible-icon"><img src='/images/survey/notvisible.svg'></div>
		<div class='secondary-text-content'><%= t("admin.custom_translation.surveys.hidden_languages") %></div>
		<div class="secondary-help-text"><%= t("admin.custom_translation.surveys.hidden_languages_helptext") %></div>
	</div>
	<div class="language-list">
		<div class="supported-language-list">
			<% hidden_languages.each do |language_item| %>
				<% status = CustomTranslation::SURVEY_STATUS.key(language_item['status']).to_s %>
				<div id="language-<%=language_item['code']%>" class="language-item-container <%if !@survey %> disable-language-item <%end%> "> <%= language_item['name'] %>
					<%if @survey%>
						<div class='action-items-container'>
							<div class="action-items edit-survey tooltip" secondary="true" name="<%=language_item['name']%>" code="<%=language_item['code']%>" data-placement="above" data-original-title = <%= t("admin.custom_translation.edit") %> >
								<img src='/images/survey/edit.svg'>
							</div>
							<div class="action-items preview-survey <%= status %> tooltip" data-placement= "above" data-original-title= <%=t("admin.custom_translation.preview")%> > 
								<a href="<%=survey_language_preview language_item['code']%>" target="_blank">
									<img src='/images/survey/preview.svg'>
								</a>
							</div>
						</div>
						<div class="survey-status-label survey-<%= status %>" >
							<%= t("admin.custom_translation.status_#{status}") %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<hr>
	<div class='helptext-manage-language'>
		<%= t('admin.custom_translation.surveys.helptext_content') %> <%= link_to t('accounts.multilingual_support.manage_languages'), manage_language_url, target: '_blank', :rel => "noopener"%>
	</div>
</div>


<%= javascript_tag do %>
  	jQuery('document').ready(function(){
		jQuery(".edit-survey").on('click',function(event){
	      var isIe = document.documentMode || /Edge/.test(navigator.userAgent);
	      if(!isIe) {
	        event.preventDefault();
	      }
	      var languageObject = {
	        label: this.getAttribute('name'),
	        value: this.getAttribute('code')
	      }
	      var secondary= this.getAttribute('secondary')
	      var download_parameters = {
	        object_type: 'surveys',
	        language_code: this.getAttribute('code'),
	        <% if @survey.present? %> object_id: <%= @survey.id %>  <% end %>
	      }
	      window.App.Channel.port1.postMessage({action: "load-modal", path: "module-admin/manage-language/language-form", languageObject: languageObject, downloadParameters: download_parameters, secondary: secondary});
	    });
    });
    //unloading event listener
    jQuery('#custom-survey-language-list').on('remove', function(){
 		SurveyAdmin.unload();
 	})
<% end %>
