 <script type="text/javascript">
	jQuery(document).ready(function(ev){
        
		<% if @agent.user.admin? %>
			 jQuery("#user_role_admin").attr('checked', true);
	    <% elsif @agent.user.supervisor? %>
		     jQuery("#user_role_supervisor").attr('checked', true);
    	<% end %> 
		jQuery("#agent_ticket_permission").click(function(event){ 
		   jQuery('#user_role').val('<%=User::USER_ROLES_KEYS_BY_TOKEN[:poweruser]%>');
		});
		jQuery("#admin_ticket_permission").click(function(event){ 
		   jQuery('#user_role').val('<%=User::USER_ROLES_KEYS_BY_TOKEN[:admin]%>');
		});
		
		jQuery("#supervisor_ticket_permission").click(function(event){ 
		   jQuery('#user_role').val('<%=User::USER_ROLES_KEYS_BY_TOKEN[:supervisor]%>');
		});
		
		
	});	
 </script> 
 <div>
 	
	<% if @agent.user.deleted? %>
		<div class="flash_info">
			<%= "#{t('agent.info1')}" %>
			<%= link_to(t('agent.restore'), { :action => :restore, :id => @agent.id }, :method => :put ) %>
		</div>
	<% end %>
	
</div>
 
 <% fields_for "users", @agent.user do |usr| %>
 
      <% if @existing_user %>
	  	<div id="errorExplanation" class="errorExplanation">
			<%= "#{t('agent.info2')} " %>
			<%= link_to(t('agent.view_user') , @existing_user ) %>
		</div>
	  <%else%>		
	   	<%= error_messages_for :user %> 
	 <%end%>
     
 	<ul class="ui-form">
		<li>
			<%= label(:user, :name, t('user.full_name') ) %>
			<%= text_field(:user, :name, :class => "text", :value => @agent.user.name )  %>
		</li>	
		<li>
			<%= label(:user, :email, t('user.email')) %>
			<!--label class="overlabel" for="email_primary">Primary</label-->
			<%= text_field(:user, :email, :class => "text required email", :id => "email_primary" , :value => @agent.user.email) %>
						
		</li>	
		<li>
			<%= label(:user, :job_title, t('user.title')) %>
			<%= text_field(:user, :job_title, :class => "text", :value => @agent.user.job_title ) %>
		</li>
		<li class="small">
			<%= label(:user, :phone, "#{t('user.phone_no')}.") %>	
			<div>
				<label class="overlabel" for="phone_work"><%=t('user.work')%></label>
				<%= text_field(:user, :phone, :class => "text", :id => "phone_work", :value => @agent.user.phone ) %> 
			</div>
			<div>
				<label class="overlabel" for="phone_mobile"><%=t('user.mobile')%></label>
				<%= text_field(:user, :mobile, :class => "text", :id => "phone_mobile" ,:value => @agent.user.mobile  ) %>
			</div>
		</li> 
		<li>
			<%= render :partial => "/shared/profileavatar", :locals => { :user => @agent.user, :type => type } %>
		</li>
		
		<% if feature?(:multi_timezone) %>
			<li> 
				<%= label(:user , :time_zone,t('account.time_zone')) %>			
				<%= time_zone_select (:user, :time_zone, ActiveSupport::TimeZone.all, :default => @agent.user.time_zone) %>
			</li>
		<% end %>
		
	    <% if feature?(:multi_language) %>
				<li>
					<%= label(:user, :language, t('account.language')) %>
					<%= select(:user, :language, I18n.available_locales_with_name , {:selected => @agent.user.language.to_sym() })%>
				</li>
     	<% end %>
		
		<li>
			<%= label(:agent, :signature, t('agent.signature')) %>
			<label class="overlabel" for="user_binfo">
				<%=t('agent.add_signature')%>
			</label>
			<%= text_area(:agent, :signature, :class => "text", :id => "user_binfo" ) %>			
			<%= hidden_field(:agent, :user_id, :id => "user_id" ) %>
		</li>
		<% unless( @agent.user.permission?(:manage_account) ) %>
		<li>
			<h3 class="title border"><%=t('agent.permissions')%></h3>
			<ul>
				<div id="admin_ticket_permission">
				<li>
					<%= radio_button( :agent ,:ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:all_tickets] ,{:id=>"user_role_admin"}) %>
					<%=t('agent.admin')%> - <%= content_tag( :span, t('agent.admin_info'), :class => "info-data" ) %>
				</li>
				</div>
				<div id="supervisor_ticket_permission">
					<li>
					<%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:all_tickets] ,{:id=>"user_role_supervisor"}) %> 
					<%=t('agent.supervisor')%> - <%= content_tag( :span, t('agent.supervisor_info'), :class => "info-data" ) %>		
					</li>
				</div>
				<div id="agent_ticket_permission">
				
				<li>
					<%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:all_tickets] ,{:checked => true ,:id=>"agent_all_tickets"}) %> 
					<%=t('agent.global')%> - <%= content_tag( :span, t('agent.global_info'), :class => "info-data" ) %> 
					
				</li>
				<li>
					 <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:group_tickets] ,{:id=>"agent_group_tickets"}) %> 
					 <%=t('agent.group')%> - <%= content_tag( :span, t('agent.group_info'), :class => "info-data" ) %>
				</li>
				<li>
					 <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:assigned_tickets] ,{:id=>"agent_assigned_tickets"}) %> 
					 <%=t('agent.individual')%> - <%= content_tag( :span, t('agent.individual_info'), :class => "info-data" ) %>
				</li>
				</div>
				
				 <%= hidden_field(:user, :user_role, :id=>"user_role", :value => @agent.user.user_role ||= User::USER_ROLES_KEYS_BY_TOKEN[:poweruser] ) %>
				
				
			</ul>
			
		</li>
		<% end %>
		
		<li>
			<%= label(:agent, :occasional, t('agent.occasional_description')) %>
			<br><%= radio_button 'agent', 'occasional', 'false', :checked => !@agent.occasional %> <%= t('agent.full_time') %>
			<%= radio_button 'agent', 'occasional', 'true', :checked => @agent.occasional %> <%= t('agent.occasional') %>
		</li>
				
		<li class="seperator"></li>
	</ul>	 	
 
<% end %>
