<script type="text/javascript">
	jQuery(document).ready(function(ev){        
    invokeRedactor('<%= "user_binfo" %>','signature');
	});
</script> 

<div>
  <% if @agent.user.deleted? %>
	  <div class="alert">
	    <%= "#{t('agent.info1')}" %>
      <% if privilege?(:manage_users) %>
		    <%= link_to(t('agent.restore'), { :action => :restore, :id => @agent.id }, :method => :put ) %>
      <% end %>
	  </div>
  <% end %>
</div>
<% fields_for "user", @agent.user, :html => {:id => 'agent_form'} do |usr| %>

  <%if @agent.occasional? or @agent.new_record?%>
    <%=check_agents_limit%>
  <%end%>

  <% if @existing_user %>
  	<div id="errorExplanation" class="errorExplanation">
		  <%= "#{t('agent.info2')} " %>
		  <%= link_to(t('agent.view_user') , @existing_user ) %>
	  </div>
  <%else%>
    <%= error_messages_for :user %> 
  <%end%>

  <div class="row-fluid agent_edit">
   	<div class="span3">
   		<%= render :partial => "/shared/profile_avatar", :locals => { :user => @agent.user } %>
   	</div>
   	<div class="span9">
   		<ul class="unstyled form-horizontal">
        <li class="control-group">
				  <%= label(:agent, :signature_html, t('agent.type'), :class => "control-label") %>
				  <div class="controls">
						<div class="radio inline">
						  <%= radio_button 'agent', 'occasional', 'false', :checked => !agents_exceeded?(@agent), :disabled => full_time_disabled?(@agent) %> 
						  <span class="<%= 'muted' if @agent.new_record? && !agents_available? %>">
							  <strong><%= t('agent.full_time') %></strong><br />
                <% if !@current_account.subscription.trial? && (@agent.new_record? || @agent.occasional?) %>
                  <%= agents_available? ? t('agent.available_seats', :count => available_agents ) : t('agent.no_seats') %>
                <% end %>
                &nbsp;
						  </span>
					  </div>
					  <div class="radio inline">
						  <%= radio_button 'agent', 'occasional', 'true', :checked => agents_exceeded?(@agent) %> 
						  <strong><%= t('agent.occasional') %></strong><br />
						  <%= I18n.t('agent.day_passes_available', :count => available_passes) %>
              &nbsp;
					  </div>
				  </div>
			  </li>
        <%= hidden_field(:user, :helpdesk_agent, :id=> "helpdesk_agent", :value => true ) %>
        <li class="seperator"></li>
     			<li class="row-fluid">
     				<h5 class="lead">
     					 <%= t('agent_info_title') %>
					  </h5>
     			 </li>
     			<li class="control-group">
					  <%= label(:user, :name, t('user.full_name'), :class => "control-label" ) %>
					  <div class="controls">
						  <%= text_field(:user, :name, :class => "text required input-xlarge", 
                    :value => @agent.user.name, :placeholder => t('user.name'))  %>
					  </div>
				  </li>	
            <li class="control-group">
              <%= label(:user, :email, t('user.email'), :class => "control-label" ) %>
              <div class="controls">
                <%= text_field(:user, :email, :class => "text required email input-xlarge", 
                      :value => @agent.user.email, :placeholder => t('user.email')) %>
              </div>
            </li>
  				<li class="control-group">
  					<%= label(:user, :job_title, t('user.title'), :class => "control-label" ) %>
  					<div class="controls">
  						<%= text_field(:user, :job_title, :class => "text input-xlarge", 
                  :value => @agent.user.job_title, :placeholder => t('user.title')) %>
  					</div>
  				</li>
  				<li class="control-group">
  					<%= label(:user, :phone, "#{t('user.phone_no')}.", :class => "control-label" ) %>
  				  <div class="controls">
  					  <%= text_field(:user, :phone, :class => "text input-medium margin-bottom", 
                 :value => @agent.user.phone, :placeholder => t('user.work') ) %> 
              <%= text_field(:user, :mobile, :class => "text input-medium ", 
                    :value => @agent.user.mobile, :placeholder => t('user.mobile')) %>
            </div>
  				</li>
    			<% if gamification_feature?(current_account) %>
    				<li class="control-group">
    					<%= label(:agent , :scoreboard_level_id, t('level_label'), :class => "control-label")%>
    					<div class="controls margin-bottom">
    						<%= select(:agent, :scoreboard_level_id, 
    							options_from_collection_for_select(@scoreboard_levels, "id", "name", @agent.level ? @agent.level.id : "-1") ,{},{:class => "select2 input-xlarge"}) %>
    					</div>
    				</li>
    			<% end %>
    			<% if feature?(:multi_timezone) %>
    				<li class="control-group">
    					<%= label(:user , :time_zone, t('account.time_zone'), :class => "control-label") %>			
    					<div class="controls margin-bottom">
                <%= time_zone_select(:user, :time_zone, ActiveSupport::TimeZone.all, {:default => @agent.user.time_zone}, {:class => "select2 input-xlarge"}) %>
    					</div>
    				</li>
    			<% end %>
  		    <% if feature?(:multi_language) %>
  					<li class="control-group">
  						<%= label(:user, :language, t('account.language'), :class => "control-label") %>
  						<div class="controls  margin-bottom">
  							<%= select(:user, :language, I18n.available_locales_with_name , {:selected => @agent.user.language.to_sym()}, {:class => "input-xlarge select2"})%>
  						</div>
  					</li>
  	     	<% end %>
  				<li class="control-group">
  					<%= label(:agent, :signature_html, t('agent.signature'), :class => "control-label") %>
  					<div class="controls">
  					  <%= text_area(:agent, :signature_html , :class => "text ", :cols => "40", :rows => "5", :id => "user_binfo" ) %>			
  					  <%= hidden_field(:agent, :user_id, :id => "user_id" ) %>
  					</div>
  				</li>
  				<li class="seperator"></li>
  				<li class="row-fluid">
  					<h5 class="lead">
  						<%=t('agent.role_and_scope')%>
            </h5>
  				</li>
          <% if(@agent.user != current_user) %>
          <li class="control-group" id="agent_ticket_permission">
            <label class="control-label"><%=t('agent.ticket_scope')%></label>
            <ul class="controls">
              <li>
                <label class="radio">
                  <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:all_tickets] ,{:checked => true ,:id=>"agent_all_tickets", :class=>"radio"}) %> 
                  <%=t('agent.global')%>
                  <%= content_tag( :span, t('agent.global_info'), :class => "muted info_data" ) %> 	
                </label>
                			              
              </li>
              <li>
                <label class="radio">              
                 <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:group_tickets] ,{:id=>"agent_group_tickets", :class => "radio"}) %> 
                 <%=t('agent.group')%>
                  <%= content_tag( :span, t('agent.group_info'), :class => "muted info_data" ) %>
               </label>
              
              </li>
              <li>
                <label class="radio">              
                 <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:assigned_tickets] ,{:id=>"agent_assigned_tickets", :class => "radio"}) %> 
                 <%=t('agent.individual')%>
                  <%= content_tag( :span, t('agent.individual_info'), :class => "muted info_data" ) %>
               </label>
              
              </li>
            </ul>
          </li>
  				<li class="agent-role control-group">
  					<%= label(:agent, :roles, t('agent.role'), :class => "control-label") %>
  					<div class="controls" id="selected-roles">
              <input type="hidden" value="" name="roleValidate" class="at_least_one_item" 
                data-selector="#selected-roles ul li" />
  						<ul class="unstyled">
                <% @agent.user.roles.each do |role| %>
          				<li id = <%= "role_#{role.id}" %> 
                        <%= label( :agent, :ticket_permission, 
                        "<div class='icon_remove tooltip' title='Remove role' id = 'remove_role_#{role.id}' rel='#{role.id}'><span></span>
        							   </div><b>#{h(role.name)}</b><span class='muted info_data ellipsis'>#{h(role.description)}</span>".html_safe) %>
                      <input type='hidden' name='user[role_ids][]' value= <%= "#{role.id}" %> />
          				</li>
                <% end %>				 			
  						</ul>
              <div>
                <a href="#agent-role-container" rel="freshdialog" data-width="400px" class="btn" id="add-role"
                   title="<%= t('agent.roles') %>" data-submit-label="<%= t('agent.assign') %>" data-close-label="<%= t('cancel') %>"
                   data-close-on-submit="true">
                  <b> <%= t('agent.assign_role')%> </b>
                </a>
              </div>
  					</div>
  				</li>
     		</ul>
    <% else %>
    <%= content_tag( :span, t('agent.cannot_edit_roles'), :class => "muted lead-desc" ) %>
    <li class="control-group" id="agent_ticket_permission">
      <label class="control-label"><%=t('agent.ticket_scope')%></label>
      <ul class="controls disc-styled">
        <li>
          <% ticket_scope = ticket_permission(Agent::PERMISSION_TOKENS_BY_KEY[@agent.ticket_permission]) %>
          <b><%= t(ticket_scope) %></b>
          <%= content_tag( :span, t("#{ticket_scope}_info"), :class => "muted info_data" ) %>
        </li>
      </ul>
    </li>
		<li class="agent-role control-group">
			<%= label(:agent, :roles, t('agent.role'), :class => "control-label") %>
				<ul class="controls disc-styled">
          <% @agent.user.roles.each do |role| %>
    				<li> 
              <b><%= role.name %></b>
              <%= content_tag( :span, role.description, :class => "muted info_data ellipsis" ) %>
    				</li>
          <% end %>				 			
				</ul>
		</li>
    <% end %>
    </div>
  </div>
<% end %>

<% javascript_tag do %>
  (function($) { 
    var roles = {};
    var role_details = {};
    $(document).ready(function() {
      <% @roles.each do |role| %>
          roles[<%= role.id %>] = <%= @agent.user.roles.include?(role) %>;
          role_details[<%= role.id %>] = ["<%= role.name %>", "<%= escape_javascript(role.description)%>"];
      <% end %>
    });
    
    $('div.icon_remove').live("click", function(){
      $('#role_'+jQuery(this).attr('rel')).remove();
      $('.twipsy').remove();
      jQuery("#agent_form").valid();
      roles[jQuery(this).attr('rel')] = false;
    });
    
    $('#agent_role ul li input').live("click", function(){
      jQuery(this).parents("li").toggleClass("selected_to_yellow", this.checked);
    });
    
    $('#add-role').click(function(){
      $("#agent_role ul").children().remove();
      for(var key in roles){
        if(!roles[key]){
          $("#agent_role ul").append("<li id='role_dom_" + key + "' title='"+role_details[key][1]+"' class='tooltip'><label class='check_box checkbox'><input id= 'role_check_" + key + "' rel='" + key + "' multiple='multiple' name='roles[]' type='checkbox' value='" +  key + "'><b>" + role_details[key][0] + "</b><p class='muted ellipsis'>" + role_details[key][1] + "</p></label></li>");
        }
      }
    });
        
    $('#agent-role-container-submit').live("click", function(){
      $('#agent_role input:checked').each(function(){
        var role_id = jQuery(this).attr('rel');
        roles[role_id] = true;
        $("#selected-roles ul").append("<li id='role_" + role_id + "'><div class='icon_remove tooltip' title='Remove role' id='remove_role_" + role_id +"' rel='"+role_id+"'><span></span></div><label for='agent_ticket_permission'><b>" + role_details[role_id][0] + "</b><span class='muted info_data ellipsis'>" + role_details[role_id][1] + "</span></label><input type='hidden' name='user[role_ids][]' value='"+ role_id +"' /></li>");
      });
      
      $('#agent_role input:unchecked').each(function(){
        roles[jQuery(this).attr('rel')] = false;
      });
      
      jQuery("#agent_form").valid();
    });    
        
    $('#agent_form').submit(function(ev) {

      if($("#selected-roles").length > 0 && !$("#selected-roles ul li").length > 0)
      {
          $('<input>').attr({
            type: 'hidden',
            name: 'user[role_ids][]',
          }).appendTo('#agent_form');
      } 
    });
    
  })(jQuery);
  
<% end %>

<!-- Agent role modal -->
<div id="agent-role-container" class="hide">
		<p class="margin-bottom"><%=t('agent.roles_description')%></p>

    <div id="agent_role" class="agent-role-modal">
      <ul class="unstyled"></ul>
	  </div>
</div>
