<script type="text/javascript">
	jQuery(document).ready(function(ev){
		var freshcallerAgentElem = '.freshcaller_agent_toggle';
    invokeRedactor('<%= "user_binfo" %>','signature');
		jQuery(freshcallerAgentElem).itoggle();
	});
</script>

<div>
  <% if @agent.user.deleted? %>
	  <div class="alert">
	    <%= "#{t('agent.info1')}" %>
      <% if privilege?(:manage_users) %>
		    <%= link_to(t('agent.restore'), { :action => :restore, :id => @agent.user.id }, :method => :put ) %>
      <% end %>
	  </div>
  <% end %>
</div>
<%= fields_for "user", @agent.user, :html => {:id => 'agent_form'} do |usr| %>

  <%if @agent.occasional? or @agent.new_record?%>
    <%=check_agents_limit%>
  <%end%>

  <% if @existing_user %>
  	<div id="errorExplanation" class="errorExplanation">
      <% if @existing_user.marked_for_hard_delete? %>
        <%= "#{t('agent.hard_deleted_email')} " %>
      <% else %>
        <%= "#{t('agent.info2')} " %>
        <% if @existing_user.deleted %>
          <% if agents_available? || field_agents_available? %>
            <%= link_to( t('contacts.info2'), {:controller => :contacts, :action => :make_agent, :id => @existing_user.id}, :method => :put, :confirm => t('contacts.convert_note'), 'data-domhelper-name' => 'convert-agent-fulltime' )%>
          <% else %>
            <%= link_to( t('contacts.info2'), {:controller => :contacts, :action => :make_occasional_agent, :id => @existing_user.id}, :method => :put, :confirm => t('contacts.convert_note'), 'data-domhelper-name' => 'convert-agent-occasional' )%>
          <% end %>
        <% else %>
          <%= link_to(t('agent.view_user') , @existing_user ) %>
        <% end %>
      <% end %>
	  </div>
  <%else%>
    <%= error_messages_for :user %>
  <%end%>

  <div class="row-fluid agent_edit">
   	<div class="span3">
   		<%= render :partial => "/shared/profile_avatar", :locals => { :user => @agent.user } %>
   	</div>
   	<div class="span9">
   		<ul class="unstyled form-horizontal">
      <% if current_account.occasional_agent_enabled? || current_account.field_service_management_enabled? %>
        <li class="control-group agent_type">
				  <%= label(:agent, :signature_html, t('agent.type'), :class => "control-label") %>
				  <div class="controls">
						<div class="radio inline <%= 'agent-type-button-disabled' if is_field_agent?(@agent) %>">
						  <%= radio_button 'agent', 'agent_type', 'full_time', :checked => !agents_exceeded?(@agent), :disabled => full_time_disabled?(@agent) %>
						  <span class="<%= 'muted' if @agent.new_record? && !agents_available? %>">
							  <strong><%= t('agent.full_time') %></strong><br />
                <% if !@current_account.subscription.trial? && (@agent.new_record? || @agent.occasional?) %>
                  <%= agents_available? ? t('agent.available_seats', :count => available_agents ) : t('agent.no_seats') %>
                <% end %>
                &nbsp;
						  </span>
					  </div>
            <% if current_account.occasional_agent_enabled? %>
  					  <div class="radio inline <%= 'agent-type-button-disabled' if is_field_agent?(@agent) %>">
  						  <%= radio_button 'agent', 'agent_type', 'occasional', :checked => agents_exceeded?(@agent) %>
  						  <strong><%= t('agent.occasional') %></strong><br />
  						  <%= I18n.t('agent.day_passes_available', :count => available_passes) %>
                &nbsp;
  					  </div>
            <% end %>
            <% if current_account.field_service_management_enabled? %>
              <div class="radio inline <%= 'agent-type-button-disabled' if edit? && is_support_agent?(@agent) %>">
                <%= radio_button 'agent', 'agent_type', 'field_agent', :checked => is_field_agent?(@agent), :disabled => field_agent_disabled?(@agent) %>
                <span class="<%= 'muted' if @agent.new_record? && !field_agents_available? %>">
                  <strong><%= t('agent.field_agent') %></strong><br />
                  <% if !@current_account.subscription.trial? && @agent.new_record? %>
                    <%= field_agents_available? ? t('agent.available_seats', :count => available_field_agents ) : t('agent.no_seats') %>
                  <% end %>
                  &nbsp;
                </span>
              </div>
            <% end %>
				  </div>
			  </li>
        <li class="seperator"></li>
        <% end %>
        <%= hidden_field(:user, :helpdesk_agent, :id=> "helpdesk_agent", :value => true ) %>
     			<li class="row-fluid">
     				<h5 class="lead">
     					 <%= t('agent_info_title') %>
					  </h5>
     			 </li>
            <li class="control-group">
              <%= label(:user, :email, t('user.email'), :class => "control-label" ) %>
              <div class="controls">
                <%= text_field(:user, :email, :class => "text required email input-xlarge",
                      :value => @agent.user.email, :placeholder => t('user.email')) %>
                <%if freshid_integration_enabled? %>
                <div id="searching-agent-email"> 
                  <div class="loading-box sloading loading-small loading-left hide"><%= t("search.searching") %></div>
                </div>
                <% end %>
              </div>
            </li>
            <% if freshid_integration_enabled? %>
                  <div class="freshworks-info control-group hide clear">
                    <div class="fresh_id_fields arrow_box">
                      <div class="fresh_id_info">
                        <li class="control-group">
                          <%= label(:user, :name, t('user.full_name'), :class => "control-label" )%>
                          <div class="controls freshid_controls">
                            <%= text_field(:user, :name, :class => "text required name uneditable-input",
                            :value => @agent.user.name, :placeholder => t('user.name'), :disabled => true) %>
                          </div>
                        </li>
                        <li class="control-group">
                    <%= label(:user, :phone, t('user.phone'), :class => "control-label" )%>
                    <div class="controls freshid_controls">
                        <%= text_field(:user, :phone, :class => "text margin-bottom uneditable-input", :value => "#{@agent.user.phone}", :placeholder => t('user.work'), :disabled => true ) %>
                    </div>
                  </li>
                  <li class="control-group">
                    <%= label(:user, :phone, t('user.mobile_phone'), :class => "control-label" )%>
                    <div class="controls freshid_controls">
                        <%= text_field(:user, :mobile, :class => "text uneditable-input",
                              :value => "#{@agent.user.mobile}", :placeholder => t('user.mobile'), :disabled => true) %>
                    </div>
                  </li>
                  <li class="control-group">
                  <%= label(:user, :job_title, t('user.title'), :class => "control-label" ) %>
                  <div class="controls freshid_controls">
                    <%= text_field(:user, :job_title, :class => "text uneditable-input",
                        :value => "#{@agent.user.job_title}", :placeholder => t('user.title'), :disabled => true) %>
                  </div>
                </li>
                </div>
                <div class="freshworks-message fresh_id_info">
                  <div class="display_message">
                    <div class="icontest">
                    <i class="fsize-14 ficon-solution_article_1" size="6"></i>
                    </div>
                    <div class='text-message'>
                      <%=t('user.user_exist_in_freshid')%>
                    <div>
                      <%=t('user.edit_profile_in_freshid')%>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <% else%>
            <li class="control-group">
                          <%= label(:user, :name, t('user.full_name'), :class => "control-label" )%>
                          <div class="controls">
                            <%= text_field(:user, :name, :class => "text required name text input-xlarge",
                            :value => @agent.user.name, :placeholder => t('user.name')) %>
                          </div>
                        </li>
            <li class="control-group">
                <%= label(:user, :job_title, t('user.title'), :class => "control-label" ) %>
                <div class="controls">
                  <%= text_field(:user, :job_title, :class => "text input-xlarge",
                      :value => "#{@agent.user.job_title}", :placeholder => t('user.title')) %>
                </div>
              </li>
              <li class="control-group">
                <%= label(:user, :phone, t('user.phone_no'), :class => "control-label" )%>
                <div class="controls">
                  <%= text_field(:user, :phone, :class => "text input-medium margin-bottom",
                     :value => "#{@agent.user.phone}", :placeholder => t('user.work') ) %>
                  <%= text_field(:user, :mobile, :class => "text input-medium ",
                        :value => "#{@agent.user.mobile}", :placeholder => t('user.mobile')) %>
                </div>
              </li>
          <% end %> 
    			<% if gamification_feature?(current_account) %>
    				<li class="control-group">
    					<%= label(:agent , :scoreboard_level_id, t('level_label'), :class => "control-label")%>
    					<div class="controls margin-bottom">
    						<%= select(:agent, :scoreboard_level_id,
    							options_from_collection_for_select(@scoreboard_levels, "id", "name", @agent.level ? @agent.level.id : "-1") ,{},{:class => "select2 input-xlarge"}) %>
    					</div>
    				</li>
    			<% end %>
    			<% if current_account.multi_timezone_enabled? %>
    				<li class="control-group">
    					<%= label(:user , :time_zone, t('account.time_zone'), :class => "control-label") %>
    					<div class="controls margin-bottom">
                <%= time_zone_select(:user, :time_zone, ActiveSupport::TimeZone.all, {:default => @agent.user.time_zone}, {:class => "select2 input-xlarge"}) %>
    					</div>
    				</li>
    			<% end %>
  		    <% if feature?(:multi_language) %>
              <li class="control-group">
                <%= label(:user, :language, t('account.language'), :class => "control-label") %>
                <div class="controls  margin-bottom">
                  <%= select(:user, :language, mint_locales_with_separator, {:selected => @agent.user.language.to_sym()})%>
                  <a href="javascript:toggleMessage()">
                    <i class="info help-icon-language ficon-help-icon fsize-24" size="14"></i>
                  </a>
                  <%= render partial:'ui/falcon_languages_alert' %>
                </div>
              </li>
  	     	<% end %>
  				<li class="control-group">
  					<%= label(:agent, :signature_html, t('agent.signature'), :class => "control-label") %>
  					<div class="controls">
  					  <%= text_area(:agent, :signature_html , :class => "text ", :cols => "40", :rows => "5", :id => "user_binfo" ) %>
  					  <%= hidden_field(:agent, :user_id, :id => "user_id" ) %>
  					</div>
          </li>
          <div id="roles-and-scopes">
  				<li class="seperator"></li>
  				<li class="row-fluid">
  					<h5 class="lead">
              <% if current_account.agent_scope_enabled? %>
                <span id="role_and_scope"></span>
              <% else %>
                <%= t('agent.roles') %>                
              <% end %>
            </h5>
  				</li>
          <% if(@agent.user != current_user) %>
          <% if current_account.agent_scope_enabled? %>
          <li class="control-group" id="agent_ticket_permission">
            <label class="control-label"><%=t('agent.ticket_scope')%></label>
            <ul class="controls">
              <li id="global_scope">
                <label class="radio">
                  <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:all_tickets] ,{:id=>"agent_all_tickets", :class=>"radio"}) %>
                  <%=t('agent.global')%>
                  <%= content_tag( :span, t('agent.global_info'), :class => "muted info_data" ) %>
                </label>
              </li>
              <li>
                <label class="radio">
                 <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:group_tickets] ,{:id=>"agent_group_tickets", :class => "radio"}) %>
                 <%=t('agent.group')%>
                  <%= content_tag( :span, t('agent.group_info'), :class => "muted info_data" ) %>
              </label>
              </li>
              <li>
                <label class="radio">
                 <%= radio_button(:agent, :ticket_permission, Agent::PERMISSION_KEYS_BY_TOKEN[:assigned_tickets] ,{:id=>"agent_assigned_tickets", :class => "radio"}) %>
                 <%=t('agent.individual')%>
                  <%= content_tag( :span, t('agent.individual_info'), :class => "muted info_data" ) %>
               </label>
              </li>
            </ul>
          </li>
          <%end%>
  				<li id="agent_role_wrapper" class="agent-role control-group">
  					<%= label(:agent, :roles, t('agent.role'), :class => "control-label") %>
  					<div class="controls" id="selected-roles">
              <input type="hidden" value="" name="roleValidate" class="at_least_one_item"
                data-selector="#selected-roles ul li" />
  						<ul class="unstyled">
                <% @agent.user.roles.each do |role| %>
          				<li id = <%= "role_#{role.id}" %>
                        <%= label( :agent, :ticket_permission,
                        "<div class='icon_remove tooltip hide' title='#{t('agent.remove_role')}' id = 'remove_role_#{role.id}' rel='#{role.id}'><span></span>
        							   </div><b>#{h(role.name)}</b><span class='muted info_data ellipsis'>#{h(role.description)}</span>".html_safe) %>
                      <input type='hidden' name='user[role_ids][]' value= <%= "#{role.id}" %> />
          				</li>
                <% end %>
  						</ul>
              <div>
                <a href="#agent-role-container" rel="freshdialog" data-width="400px" class="btn hide" id="add-role"
                   title="<%= t('agent.roles') %>" data-submit-label="<%= t('agent.assign') %>" data-close-label="<%= t('cancel') %>"
                   data-close-on-submit="true">
                  <b> <%= t('agent.assign_role')%> </b>
                </a>
              </div>
  					</div>
  				</li>
    <% else %>
    <%= content_tag( :span, t('agent.cannot_edit_roles'), :class => "muted lead-desc" ) %>
    <li class="control-group" id="agent_ticket_permission">
      <label class="control-label"><%=t('agent.ticket_scope')%></label>
      <ul class="controls disc-styled">
        <li>
          <% ticket_scope = ticket_permission(Agent::PERMISSION_TOKENS_BY_KEY[@agent.ticket_permission]) %>
          <b><%= t(ticket_scope) %></b>
          <%= content_tag( :span, t("#{ticket_scope}_info"), :class => "muted info_data" ) %>
        </li>
      </ul>
    </li>
    <li class="agent-role control-group">
      <%= label(:agent, :roles, t('agent.role'), :class => "control-label") %>
        <ul class="controls disc-styled">
          <% @agent.user.roles.each do |role| %>
            <li>
              <b><%= role.name %></b>
              <%= content_tag( :span, role.description, :class => "muted info_data ellipsis" ) %>
            </li>
          <% end %>
        </ul>
    </li>
    <% end %>

		<%  if current_account.freshcaller_enabled? %>
		<li class="seperator"></li>
		<li class="row-fluid">
			<h5 class="lead">
				Phone Channel
			</h5>
		</li>
		<li class="agent-role control-group">
			<label class="control-label" for="agent_roles">Freshcaller Agent</label>
			<span >
				<%= check_box_tag 'freshcaller_agent', true, @agent.freshcaller_agent.present? ? @agent.freshcaller_agent.try(:fc_enabled) : false, :class => 'freshcaller_agent_toggle' %>
			</span>
		</li>
		<% end %>
    </div>
    <% if(@groups.any?) %>
      <li class="seperator"></li>
      <li class="row-fluid">
        <h5 class="lead">
        <%=t('agent.group')%>
        </h5>
      </li>
      <li class="control-group">
        <%= label(:agent, :groups, t('agent.member'), :class => "control-label") %>
        <div class="controls" id="selected-groups">
          <ul class="unstyled agent_group_list">
            <% @agent.groups.each do |group| %>
              <li id = <%= "group_#{group.id}" %>
                <%= label( :agent, :groups,
                        "<div class='group_icon_remove tooltip' title='#{t('agent.remove_group')}' id = 'remove_group_#{group.id}' rel='#{group.id}'>
                          <span></span>
                         </div>
                         <b>#{h(group.name)}</b>
                         <span class='muted info_data ellipsis'>#{h(group.description)}</span>".html_safe)
                %>
                <input type='hidden' name='agent[group_ids][]' value= <%= "#{group.id}" %>/>
              </li>
            <% end %>
          </ul>
          <div>
            <a href="#agent-group-container" rel="freshdialog" data-width="400px" class="btn" id="add-group"
               title="<%= t('agent.group') %>" data-submit-label="<%= t('agent.assign') %>" data-close-label="<%= t('cancel') %>"
              data-close-on-submit="true">
              <b> <%= t('agent.assign_group')%> </b>
            </a>
          </div>
        </div>
      </li>
     <% end %>
     <%  if @manage_skills %>
      <li class="seperator"></li>
      <li class="control-group">
        <label class="control-label">
          <h5 class="lead">
            <%=t('agent.skill')%>
          </h5>
        </label>
        <div class="controls" id="selected-skills">
          <div class="agent_skill_list">
          <% if @agent_skills.present? %>
            <% @agent_skills.first(5).each_with_index do |skill, index| %>
              <span id = <%= "skill_#{skill[:skill_id]}" %> class="muted"><%= skill[:name] %></span>
            <% end %>
            <% if @agent_skills.length > 5 %>
              <span>
                <%= link_to("#{@agent_skills.length - 5} "+ t('agent.more'), 'javascript:void(0)', :id => "view-all-skills") %>
              </span>
            <% end %>
          <% end %>
          </div>
          <div>
            <input type='hidden' name='user[user_skills_attributes]' value = ''>
            <a href='javascript:void(0)' id='add-skill' class="btn" data-width = "400px"> <b><%=t('agent.manage_skills')%></b></a>
          </div>
        </div>
      </li>
     <% end %>
    </ul>
   </div>
  </div>
<% end %>

<%= javascript_tag do %>
  (function($) {

  	$(window).on('load', function(){
			var roles = {};
			var role_details = {};
			var groups = {};
			var group_details = {};
      var fsm_group_type = null;
      var new_agent = null;
      var freshid_enabled= <%= freshid_integration_enabled? %>;
			var userName = '<%= @agent.user.name %>';
      var userEmail = '<%= @agent.user.email %>';
      window.App = window.App || {};
      App.Agents = App.Agents || {};
      App.Agents.Form = App.Agents.Form || {};
      <% @roles.each do |role| %>
        <% if role.name == "Account Administrator" %>
          <% if current_user.privilege?(:manage_account) %>
            roles[<%= role.id %>] = <%= @agent.user.roles.include?(role) %>;
            role_details[<%= role.id %>] = ["<%= role.name %>", "<%= escape_javascript(role.description)%>"];
          <% end %>
        <% else %>
          roles[<%= role.id %>] = <%= @agent.user.roles.include?(role) %>;
          role_details[<%= role.id %>] = ["<%= role.name %>", "<%= escape_javascript(role.description)%>"];
        <%end%>
      <% end %>

      <% @groups.each do |group| %>
          groups[<%= group.id %>] = <%= @agent.groups.include?(group) %>;
          group_details[<%= group.id %>] = ["<%= group.name %>", "<%= escape_javascript(group.description)%>", "<%= group.group_type %>"];
      <% end %>

      <% group_type = GroupType.group_type_id(GroupConstants::FIELD_GROUP_NAME) %>
      <% if group_type.present? %>
        fsm_group_type = <%= group_type %>
      <% end %>

      App.Agents.Form.initializeData({userName: userName, roles: roles, userEmail: userEmail,
				role_details: role_details, freshid_enabled: freshid_enabled, groups: groups, group_details: group_details, fsm_group_type: fsm_group_type, new_agent: <%= @agent.new_record? %>, SkillBasedRRFlag: <%=@manage_skills%>});
    });

  })(jQuery);

<% end %>

<!-- Agent role modal -->
<div id="agent-role-container" class="hide">
		<p class="margin-bottom"><%=t('agent.roles_description')%></p>

    <div id="agent_role" class="agent-role-modal">
      <ul class="unstyled"></ul>
	  </div>
</div>
<!-- Agent groups modal -->
<div id="agent-group-container" class="hide">
  <p class="margin-bottom"><%=t('agent.groups_description')%></p>
  <div id="agent_group" class="agent-group-modal">
    <ul class="unstyled"></ul>
  </div>
</div>
<!-- Agent skills modal -->
<%= render :partial => 'admin/shared/popup', :locals => {:type => 'agentskills'}%>
