 <script type="text/javascript">
	function setUserRole()
	{		
		var role = jQuery('#user_role_val').is(':checked')? '<%=User::USER_ROLES_KEYS_BY_TOKEN[:admin]%>':'<%=User::USER_ROLES_KEYS_BY_TOKEN[:poweruser]%>'
		jQuery('#user_role').val(role);		
	}
	jQuery(document).ready(function(ev){
		current_role = jQuery('input#user_role').val();
		jQuery('#user_role_val').attr('checked', ( <%= @agent.user.user_role %> == <%=User::USER_ROLES_KEYS_BY_TOKEN[:admin]%> ));
	});	
 </script> 
 <div>
 	
	<% if @agent.user.deleted? %>
			<%= "This is a deleted Agent" %>
			<%= link_to('restore', { :action => :restore, :id => @agent.id }, :method => :put ) %>
	<% end %>
	
</div>
 
 <% fields_for "users", @agent.user do |usr| %>
     <%= error_messages_for :user %> 
 	<ul class="ui-form">
		<li>
			<%= label(:user, :name, "Full Name" ) %>
				<%= text_field(:user, :name, :class => "text", :value => @agent.user.name )  %>
		</li>		
		<li>
			<%= label(:user, :job_title, "Title") %>
			<%= text_field(:user, :job_title, :class => "text", :value => @agent.user.job_title ) %>
		</li>
		<li>
			<input type="checkbox" id="user_role_val" name="user_role" onclick="setUserRole()" /> 
			Make this agent an admin
			<%= hidden_field(:user, :user_role, :id=>"user_role", :value => @agent.user.user_role ||= User::USER_ROLES_KEYS_BY_TOKEN[:poweruser] ) %>
		</li>
		<li class="small">
			<%= label(:user, :phone, "Phone No.") %>	
			<div>
				<label class="overlabel" for="phone_work">Work</label>
				<%= text_field(:user, :phone, :class => "text", :id => "phone_work", :value => @agent.user.phone ) %> 
			</div>
			<div>
				<label class="overlabel" for="phone_mobile">Mobile</label>
				<%= text_field(:user, :mobile, :class => "text", :id => "phone_mobile" ,:value => @agent.user.mobile  ) %>
			</div>
		</li>
		<li class="medium">
			<%= label(:user, :email, "Email") %>
			<label class="overlabel" for="email_primary">Primary</label>
			<%= text_field(:user, :email, :class => "text", :id => "email_primary" , :value => @agent.user.email) %>			
		</li>
		<li>
			<%= render :partial => "/shared/profileavatar", :locals => { :user => @agent.user, :type => type } %>
		</li>
		<li>
			<%= label(:user , :time_zone, "Time zone") %>			
			<%= time_zone_select (:user, :time_zone, ActiveSupport::TimeZone.all, :value => @agent.user.time_zone) %>
		</li>
		<li>
			<%= label(:agent, :signature, "Signature") %>
			<label class="overlabel" for="user_binfo">
				Add signature 
			</label>
			<%= text_area(:agent, :signature, :class => "text", :id => "user_binfo" ) %>			
			<%= hidden_field(:agent, :user_id, :id => "user_id" ) %>
		</li>
	
	</ul>	 	
 
<% end %>
