<ul id="agentTab" class="tabs nav-tabs">  
  <%= agent_list_tabs %>
</ul>
<div class="row-fluid">
  <% if @agents && @agents.size > 1%>
    <div class="span4">
      <div class="dropdown">
         <%= t('agent_list.sort.sorted_by')%>: <a role="button" class="dropdown-toggle" id="sorting_dropdown" data-toggle="dropdown" href="#">
          <b><%= t("agent_list.sort.#{current_agent_order}") %></b><b class="caret"></b></a>
          <%= agent_list_sort %>
      </div>
  	</div>
  <% end %>
  <% if (params[:state]!= "deleted" ) %>
    <div class="span8 pull-right sort_list" align="right">
      <ul class="alpha_sort_list">    
        <li class="first <%= 'active' if params[:letter].blank? %>">
          <%= link_to 'All', :letter => '', :state => params[:state] || "active" %>
        </li>
        <% "A".upto("Z") do |l| -%>     
         <li class="<%= 'active' if params[:letter] == l %>">
          <%= link_to l, :letter => l, :state => params[:state] || "active" %>
         </li>  
        <% end %>
      </ul>
    </div>
  <% end %>
</div>