	<h3 class="title"><%=t('agent.title')%></h3>
  <p><%=t('agent.helpcard.info9')%></p>
  <p><%=t('agent.helpcard.info10')%></p>
  <h3 class="title"><%=t('agent.helpcard.title4')%></h3>
  <p><%=t('agent.helpcard.info14')%></p>
  <p><%=t('agent.helpcard.info15')%></p>
  <p><%= link_to t('agent.helpcard.info8'), "https://support.freshdesk.com/solution/articles/96909"%></p>
  <h3 class="title"><%=t('agent.helpcard.title3')%></h3>
  <p><%=t('agent.helpcard.info11')%></p>


