<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('agent.title')%></h3>
	<p><%=t('agent.helpcard.info1')%></p>
	<h3 class="title"><%=t('agent.helpcard.side_title')%></h3>
	<p><%=t('agent.helpcard.info2')%></p>
	<p><%=t('agent.helpcard.info3')%></p>
</div>