<h3 class="title"><%=t('agent.title')%></h3>
<p><%=t('agent.helpcard.info12')%></p>
<h3 class="title"><%=t('agent.helpcard.title1')%></h3>
 <p><%=t('agent.helpcard.info13')%></p>
 <p><%= link_to t('agent.helpcard.info5'), "https://support.freshdesk.com/solution/categories/45922/folders/74515/articles/37602", target: "_blank"%></p>
 <% if current_account.field_service_management_enabled? %>
  	<h3 class="title"><%=t('agent.helpcard.title5')%></h3>
  	<p><%=t('agent.helpcard.info16')%></p>
 <% end %>
