<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('agent.title')%></h3>
	<p><%=t('agent.helpcard.info1')%></p>
	<h3 class="title"><%=t('agent.helpcard.side_title')%></h3>
	<p><%=t('agent.helpcard.info2')%></p>
	<p><%=t('agent.helpcard.info3')%></p>
	<%= tour_button(t('agent.helpcard.tour'), '508a4d44bc1fbe7f1a000209') %>
</div>