<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('agent.title')%></h3>
	<p><%=t('agent.helpcard.info1')%></p>
  <p><%=t('agent.helpcard.info2')%></p>
  <p><%=t('agent.helpcard.info3')%></p>
	<h3 class="title"><%=t('agent.helpcard.title1')%></h3>
  <p><%=t('agent.helpcard.info4')%></p>
  <p><%= link_to t('agent.helpcard.info5'), "https://support.freshdesk.com/solution/categories/45922/folders/74515/articles/37602"%></p>
  <h3 class="title"><%=t('agent.helpcard.title2')%></h3>
  <p><%=t('agent.helpcard.info6')%></p>
  <p><%=t('agent.helpcard.info7')%></p>
  <p><%= link_to t('agent.helpcard.info8'), "https://support.freshdesk.com/solution/articles/96909"%></p>
</div>