	<h3 class="title"><%=t('agent.title')%></h5>
	<p><%=t('agent.helpcard.info12')%></p>
	<h3 class="title"><%=t('agent.helpcard.title1')%></h5>
  <p><%=t('agent.helpcard.info13')%></p>
  <p><%= link_to t('agent.helpcard.info5'), "https://support.freshdesk.com/solution/categories/45922/folders/74515/articles/37602"%></p>
