<% content_for :sidebar do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<%= include_stylesheets :pattern %>
<%= include_javascripts :pattern  %>
<%= include_stylesheets :redactor  %>
<%= include_javascripts :redactor  %>
<% form_for @agent, :html => { :multipart => true } do |f| %>
<%= f.error_messages %>
<ul class="admin-breadcrumb">
  <li class="non-arrow"><a href="/admin/home">Home</a><span class="divider"></span></li>
  <li><a href="/agents/">Agent</a> <span class="divider"></span></li>
  <li class="active "><%=t('agent.edit')%></li>
  <li class="non-arrow pull-right">
    <%= f.submit t('save'), { :class => "btn  btn-primary" } %>
  </li>
  <li class="non-arrow pull-right">
  		<%= link_to t('cancel'), {:action => 'index'}, :class => "btn" %>
  </li>
</ul>
<%= render :partial => "agent_form", :locals => { :type => "edit" } %>
<ul class="admin-breadcrumb breadcum-footer clearfix">
    <li class="non-arrow pull-right">
      <%= f.submit t('save'), { :class => "btn  btn-primary" } %>
    </li>
  	<li class="non-arrow pull-right">
  		<%= link_to t('cancel'), {:action => 'index'}, :class => "btn" %>
  	</li>
</ul>  
<%end%>

 