<h3 class="title"><%=t('agent.edit')%></h3>
<% form_for @agent, :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>
	<%= render :partial => "agent_form", :locals => { :type => "edit" } %>
	<div class="button-container">
   		<%= f.submit t('agent.update'), { :class => "uiButton" } %>
		<%= link_to t('cancel'), {:action => 'index'}, :class => "uiButton" %>
	</div>	  
<%end%>

 