<% content_for :helpcard do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>

<%= form_for @agent, url: agent_path(@user), html: { id: "agent_form", rel: nil,
  multipart: true, "data-focus-invalid" => false,  "data-ignore" => "", class: "form-unsaved-changes-trigger" } do |f| %>
  <%= f.error_messages %>
  <h3 class="lead">
    <%=t('agent.edit')%>
    <span class="pull-right">
     <%= link_to t('cancel'), {:action => 'index'}, :class => "btn" %>
      <%= f.submit t('save'), { :class => "btn  btn-primary", 'data-loading-text' => t('saving') } %>
    </span>
  </h3>
  <div class="seperator"></div><br/>
  <%= render :partial => "agent_form", :locals => { :type => "edit" } %>
  <div class="button-container pull-right">
     <%= link_to t('cancel'), {:action => 'index'}, :class => "btn" %>
      <%= f.submit t('save'), { :class => "btn  btn-primary", 'data-loading-text' => t('saving') } %>
    </div>
<%end%>


<script type="text/javascript">
  (function ($) {
    $('#agent_form').submit(function(e){
      e.preventDefault();
      var form = $(this);
      if (form.valid()) {

        $.ajax({
        url     : form.attr("action"),
        type    : form.attr("method"),
        data    : form.serialize(),
        dataType: "json",
         success : function (data)
         {
             form.data('formChanged', false);
             window.top.location.replace(window.location.origin + '/a/admin/agents');
         },
        error   : function (data)
        {
            var errors = data.responseJSON;
            if(errors) {
            var errorsHtml= '';
            $.each( errors, function( key, value ) {
                error_message =  value[1] ? value[1] : value[0];
                errorsHtml += '<li>' + error_message + '</li>';
            });
            if( $('#noticeajax').is(":hidden") ) {
            $('#noticeajax').contents(':not(a)').remove();
            $('#noticeajax').show();
            $('#noticeajax').append(errorsHtml);
          }

            } else {
               form.data('formChanged', false);
               window.top.location.replace(window.location.origin + '/a/admin/agents');
            }
        }
    });

      }
    });

    // notification 
    var show_sandbox_notification = <%= Account.current.account_type == 2 %>
    var notification_message = '<%=t("sandbox.sandbox_notification_for_agents").html_safe %>';
     if(show_sandbox_notification){
        jQuery("#noticeajax").html(notification_message).show();
        closeableFlash('#noticeajax');
      }
  }(window.jQuery));
</script>
