<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
<% end %>
<%= sidebar_content %>
<div class="list-page">
    <div class="list-page-header" >
      <div class="row-fluid">
        <div class="span1"><h3 class="lead"><%=t('agent.title')%></h4></div>
        <div class="span4"><%= render :partial => "agents_search"%></div>
         <div class="span7 pull-right pagination-right">
          <% if @current_account.subscription.plan_name != 'Sprout Jan 17'%>
            <span class="agent-count-message">
                <% unless @current_account.subscription.trial? %>
                  <% if @current_account.subscription.agent_limit.nil? %>
                    <%= t('agent.account_suspended') %>
                  <% else %>
                      <% if agents_available? || field_agents_available?%>
                        <span <%= agents_count_tooltip().html_safe %> ><%= available_agents + available_field_agents %></span>&nbsp;
                        <%= t('agent.available_seats_without_count') %>
                      <% else %>
                        <span class="agent-list-count bg-red"><%=available_agents%></span>&nbsp;
                        <%= t('agent.no_seats') %> 
                      <% end %>
                      <% if show_buy_more_link %>
                        - <%= link_to t('agent.buy'), subscription_path, :class => "margin-right" %> 
                      <% end %>
                  <% end %>
                <% else %>
                  <%= t('agent.trial') %>
                <% end %>
            </span>
          <% end %>
          <% if current_account.emberize_agent_form_enabled? %>
            <button data-route="helpdesk.admin.agents.new" class="btn btn-primary agent-ember-routes-btn"> <%=t('agent.new')%> </button>
          <% else %>
            <b>
              <%= link_to t('agent.new'), new_agent_path, :class => "btn btn-primary"  %>
            </b>
          <% end %>
         </div>
    	</div>
    </div>
    <%= link_to t('export'), {:action => "configure_export"}, 
              :rel => "freshdialog", 
              "data-submit-label" => t('export'),
              "data-close-label" => t('close'),
              "data-width" => "550",
              "data-title" => t('agent.export_title'),
              :title => t('agent.export_title'),
              "data-submit-loading" => t('please_wait'),
              "data-target"=>"#agent_export",
              :class => "pull-right pt10" %>
    <div id="agent-filters">
    	<%= render :partial => "filter" %>
    </div>
    <div id="agents-list" class="agents-list">
	    <%= render :partial => "agents", :object => @agents %>
    </div>
</div>
<%= javascript_tag do %>
 (function($){
    var show_sandbox_notification = <%= Account.current.account_type == 2 %>
    var notification_message = '<%=t("sandbox.sandbox_notification_for_agents").html_safe %>';
    if(show_sandbox_notification){
             jQuery("#noticeajax").html(notification_message).show();
             closeableFlash('#noticeajax');
    }
 })(jQuery)
<% end %>
