	<div class="floatr">
		<%= link_to "New Agent", new_agent_path, :class => "uiButton"  %>
	</div>
	<h3 class="title">Agents</h3>
	<ul class="admin_list">		 
		<%@agents.each do |agent| %>
			<li>
				<div class="item_actions">
					<%= link_to 'delete', agent, :confirm => 'Are you sure you want delete?', 
												 :method => :delete, :class => "button" %>
					<%= link_to 'edit', edit_agent_path(agent), :class => "button" %>									 
				</div>
				<%= user_avatar(agent.user.avatar) %>
				<%= link_to(h(agent.user.display_name), edit_agent_path(agent), :class => "item_info") %>
				<div><%= h agent.user.job_title %></div>
				<div><%= mail_to ( h(agent.user.email)) %></div>							
			</li>	
		<% end %>	 
	</ul>
	
