<%= include_cloudfront_css :pattern %>
<%= include_cloudfront_js :pattern %>

<div class="cust_list_table">
    <div class="cust_list_table_header"	>
    	<div class="row-fluid">
    		<div class="span6"><h3 class="lead"><%=t('agent.title')%></h4></div>
    		 <div class="span6 pull-right pagination-right">
          <span class="agent-count-message">
    		 	<% unless @current_account.subscription.trial? %>
              <% if agents_available? %> 
                <span class="agent-list-count bg-dark"><%=available_agents%></span>&nbsp;
                <%= t('agent.available_seats_without_count') %>
              <% else %>
                <span class="agent-list-count bg-red"><%=available_agents%></span>&nbsp;
                <%= t('agent.no_seats') %> 
                <% if privilege?(:manage_account) %>
                  - <%= link_to t('agent.buy'), subscription_path, :class => "margin-right" %> 
                <% end %>
              <% end %>
          <% else %>
            <%= t('agent.trial') %>
          <% end %>
          </span>
          <b><%= link_to t('agent.new'), new_agent_path, :class => "btn btn-primary"  %></b> 
         </div>
    	</div>
    </div>
    <div id="agent-filters">
    	<%= render :partial => "filter" %>
    </div>
    <div id="agents-list">
	    <%= render :partial => "agents", :object => @agents %>
    </div>
</div>