<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
<% end %>
<%= sidebar_content %>
<div class="list-page">
    <div class="list-page-header" >
      <div class="row-fluid">
        <div class="span6"><h3 class="lead"><%=t('agent.title')%></h4></div>
         <div class="span6 pull-right pagination-right">
          <span class="agent-count-message">
              <% unless @current_account.subscription.trial? %>
                <% if @current_account.subscription.agent_limit.nil? %>
                  <%= t('agent.account_suspended') %>
                <% else %>
                    <% if agents_available? %> 
                      <span class="agent-list-count bg-dark"><%=available_agents%></span>&nbsp;
                      <%= t('agent.available_seats_without_count') %>
                    <% else %>
                      <span class="agent-list-count bg-red"><%=available_agents%></span>&nbsp;
                      <%= t('agent.no_seats') %> 
                      <% if privilege?(:manage_account) %>
                        - <%= link_to t('agent.buy'), subscription_path, :class => "margin-right" %> 
                      <% end %>
                    <% end %>
                <% end %>
              <% else %>
                <%= t('agent.trial') %>
              <% end %>
          </span>
          <b><%= link_to t('agent.new'), new_agent_path, :class => "btn btn-primary"  %></b> 
         </div>
    	</div>
    </div>
    <%= link_to t('export'), {:action => "configure_export"}, 
              :rel => "freshdialog", 
              "data-submit-label" => t('export'),
              "data-close-label" => t('close'),
              "data-width" => "550",
              "data-title" => t('agent.export_title'),
              :title => t('agent.export_title'),
              "data-submit-loading" => t('please_wait'),
              "data-target"=>"#agent_export",
              :class => "pull-right pt10" %>
    <div id="agent-filters">
    	<%= render :partial => "filter" %>
    </div>
    <div id="agents-list" class="agents-list">
	    <%= render :partial => "agents", :object => @agents %>
    </div>
</div>