<%= include_stylesheets :pattern %>
<%= include_javascripts :pattern  %>

<div class="cust_list_table">
    <div class="cust_list_table_header"	>
    	<div class="row-fluid">
    		<div class="span6"><h3 class="title"><%=t('agent.title')%></h4></div>
    		 <div class="span6 pull-right pagination-right">
    		 	<% unless @current_account.subscription.trial? %>
      		 	<span>
              <%= agents_available? ? t('agent.available_seats', :count => available_agents ) : t('agent.no_seats') %>
              <% if privilege?(:manage_account) %>
                ,<%= link_to t('agent.buy'), subscription_path, :class => "margin-right" %></a> 
              <% end %>
            </span>
          <% else %>
            <%= t('agent.trial') %>
          <% end %>
          <b><%= link_to t('agent.new'), new_agent_path, :class => "btn btn-primary"  %></b> 
         </div>
    	</div>
    </div>
    <div id="agent-filters">
    	<%= render :partial => "filter" %>
    </div>
    <div id="agents-list">
	    <%= render :partial => "agents", :object => @agents %>
    </div>
</div>
