<% content_for :sidebar do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<% form_for @agent, :html => { :id => "agent_form", :rel => "validate", :multipart => true, 
    "data-focus-invalid" => false,  "data-ignore" => "" } do |f| %>
	<%= f.error_messages %>
    <h3 class="lead">
      <%=t('agent.new')%>
      <span class="pull-right">
        <%= link_to t('cancel'), {:action => 'index'}, :class => "btn" %>
        <%= f.submit t('save'), { :class => "btn  btn-primary", 'data-loading-text' => t('saving') } %>
      </span>
    </h3>
    <div class="seperator"></div><br/>
 	<%= render :partial => "agent_form", :locals => { :type => "new" } %>  
<%end%>