	<% content_for :sidebar do -%><%-end %>
	<h3 class="title"><%=t('agent.new')%></h3>
	<% form_for @agent, :html => { :multipart => true } do |f| %>
		<%= f.error_messages %>		
	 	<%= render :partial => "agent_form" %>
		<div class="button-container">
	   		<%= f.submit 'Save', { :class => "uiButton" } %>
			<%= link_to "Cancel", {:action => 'index'}, :class => "uiButton" %>
		</div>  
	<%end%>
