<% content_for :sidebar do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<%= include_cloudfront_css :pattern %>
<%= include_cloudfront_js :pattern  %>
<div class="row-fluid new-role">
	<div class="span12">
		<h1 class="title span6">New Role</h1>
		<div class="span6">
			<div class=" pull-right">
				<a class="btn"> <b> Cancel</b></a>
				<a class="btn btn-primary"> <b> Save</b></a>
			</div>
		</div>
	</div>
	<p>A service level agreement (SLA) policy lets you set standards of performance for your support team. You can set SLA policies for the time within which agents should respond to, and resolve tickets based on ticket priorities. </p><br/><br/>
	<div>
		<ul class="clearfix unstyled">
 			<li>
				<%= label(:user, :name, t('user.full_name'), :class => "control-label span2" ) %>
				<div class="span10">
					<%= text_field(:user, :name, :class => "text span10", :value => @agent.user.name , :placeholder => "Agent Name")  %>
				</div>
			</li>	
			<li>
				<%= label(:user, :email, t('user.email'), :class => "control-label span2" ) %>
				<div class="span10">
					<%= text_area(:agent, :signature_html , :class => "text span10", :cols => "40", :rows => "5", :id => "user_binfo" ) %>			
				</div>
			</li>	
		</ul>
		<div>
			<p class="lead-title lead">
				<span>Agent Information</span>
			</p>
		</div>
	</div>
	<div class="row-fluid clearfix">
		<div class="pull-right">
			<ul class="role-nav" id="role-nav">
				<li><a href="#tickets"><i class="icon-eye"></i>Tickets</a></li>
				<li><a href="#solution"><i class="icon-eye"></i>Solution</a></li>
				<li><a href="#forum"><i class="icon-eye"></i>Forum</a></li>
				<li><a href="#customers" class="disabled"><i class="icon-crosseye"></i>Customers</a></li>
				<li><a href="#reports" class="disabled"><i class="icon-crosseye"></i>Reports</a></li>
				<li><a href="#administration" class="disabled"><i class="icon-crosseye"></i>Administration</a></li>
			</ul>
		</div>
		<div class="span9">
	 		<div id="tickets" class="row-fluid margin-bottom">
	 			<p class="lead">Tickets</p>
	 			<div>
					<%= label(:agent, :signature_html, "Agent Can", :class => "span2") %>
					<div class="span10">
						<ul class="unstyled">
							<li>
								<label class="checkbox">
									<input type="checkbox"> Reply a ticket
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Forward a ticket
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Edit conversations
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Reply a ticket
									<ul class="nested-ul">
										<li>
											<label class="checkbox">
												<input type="checkbox"> Edit conversations
											</label>
										</li>
										<li>
											<label class="checkbox">
												<input type="checkbox"> Edit conversations
											</label>
										</li>
									</ul>
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Edit conversations
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="solution" class="row-fluid margin-bottom">
	 			<p class="lead">Solution</p>
	 			<div>
					<%= label(:agent, :signature_html, "Agent Can", :class => "span2") %>
					<div class="span10">
						<ul class="unstyled">
							<li>
								<label class="checkbox">
									<input type="checkbox"> View Solution Tab
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Approve a solution
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Delete a solution
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Create / Edit Category or folder
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> Edit conversations
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="forum" class="row-fluid margin-bottom">
	 			<p class="lead">Forum</p>
	 			<div>
					<%= label(:agent, :signature_html, "Agent Can", :class => "span2") %>
					<div class="span10">
						<ul class="unstyled">
							<li>
								<label class="checkbox">
									<input type="checkbox"> View forum tab
									<ul class="nested-ul">
										<li>
											<label class="checkbox">
												<input type="checkbox"> Create a new forum topic
											</label>
										</li>
										<li>
											<label class="checkbox">
												<input type="checkbox"> Delete a forum topic
											</label>
										</li>
									</ul>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="customers" class="row-fluid margin-bottom">
	 			<p class="lead">Customers</p>
	 			<div>
					<%= label(:agent, :signature_html, "Agent Can", :class => "span2") %>
					<div class="span10">
						<ul class="unstyled">
							<li>
								<label class="checkbox">
									<input type="checkbox"> View forum tab
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> View forum tab
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="reports" class="row-fluid margin-bottom">
	 			<p class="lead">Reports</p>
	 			<div>
					<%= label(:agent, :signature_html, "Agent Can", :class => "span2") %>
					<div class="span10">
						<ul class="unstyled">
							<li>
								<label class="checkbox">
									<input type="checkbox"> View forum tab
								</label>
							</li>
							<li>
								<label class="checkbox">
									<input type="checkbox"> View forum tab
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=" seperator"></div>
	<br/>
	<div class=" pull-right">
		<a class="btn"> <b> Cancel</b></a>
		<a class="btn btn-primary"> <b> Save</b></a>
	</div>
	<br/>
</div>

<script>
	jQuery(function(){ // document ready
		//jQuery('#role-nav').affix()
		if (!!jQuery('.role-nav').offset()) { // make sure ".role-nav" element exists
				var stickyTop = jQuery('.role-nav').offset().top; // returns number 
				jQuery(window).scroll(function(){ // scroll event
				var windowTop = jQuery(window).scrollTop(); // returns number 
				if (stickyTop < windowTop){
					jQuery('.role-nav').css({ position: 'fixed', top: 20 });
				}
				else {
					jQuery('.role-nav').css('position','static');
				}
			});
		}
	});
</script>

 