<script>
function setUserRole(){
	if (jQuery('input[name=user_role]').is(':checked')){
		jQuery('#role_taken').val('admin');
	}
	else{
		jQuery('#role_taken').val('poweruser');		
	}
}
</script>
<% content_for :sidebar do -%>
	<%if gamification_feature?(current_account)%>
	<div class="side-panel">
		<% unless @agent.level.blank? %>
		<div class="level-progress" id="user-level">
			<!-- Must give the width for the progressbar as an inline style !-->
			<% nxtlevel = @agent.next_level %>
			<% unless nxtlevel.blank? %>
				<% progress = ((@agent.points / nxtlevel.points) * 100).to_i %>
			<% end %>	
			<span class="bar" style="width: <%= progress%>%;"></span>
			<p>
				<span class="floatr"><strong><%= h @agent.points %></strong> pts</span>
				<%= t('level_label') %> : <strong>
		   			<%= h @agent.level.name %>
				</strong> 
			</p>
		</div>
		<p class="info-text center" id="user-next-level">
			<% unless nxtlevel.blank? %>
				<%= t('next_level_info', 
					:points =>  (nxtlevel.points - @agent.points), 
					:name => nxtlevel.name ) %>
			<% end %>
		</p>
		<span class="seperator"></span>
		<% else %>
			<p class="info-text left"><%= t('no_level_achieved_label') %></p>
			<span class="seperator"></span>
		<% end %>
		<h3 class="title"><%= t('badges_achieved_label') %></h3>
		<% unless @user.quests.blank? %>
			<div id="user-badge-list" class="badge-list">
			<% @user.quests.each do |quest| %>
				<div class="badges <%= quest.badge[:classname] %>">
					<span class="label points" title="<%= quest.badge[:name] %>"><%= quest.points%></span>
				</div>
			<% end %>
			</div>
		<% else %>
			<p class="info-text left"><%= t('no_badge_achieved_label') %></p>
		<% end %>
	</div>
	<%end%>
<%- end %> 
<div class="contact-box clearfix">
	  <% if privilege?(:manage_users) %>
		<div class="action_buttons hide">	
      <%= link_to t('assume_identity_button'), assume_identity_user_path(@agent.user) if is_allowed_to_assume?(@agent.user) %>
      <% if can_edit?(@agent) %>
      		<div id="reset_password_template" >
      			<%= render :partial=> "reset_password" %>
      		</div>
          <%= link_to t('edit_agent'), edit_agent_path(@agent), :class => "last" %>
          <% if(@agent.user != current_user)%>
            <%= link_to t('agent.info4'), { :action => :convert_to_contact, :id => @agent.id } ,:method => 'put' %>
            <%= link_to_function t('reset_password_title'), "confirm_password()" if @agent.user.active? %>
          <% end %>
			  <%end%>
		</div>
	  <% end %>

		<%= user_avatar(@user, :medium, "profile_pic") %>	
		<h3 class="title"><%= @user.display_name %></h3>
		<% unless @user.job_title.blank? %>
		   <b><%= h @user.job_title %></b>
		<% end %> 
		<div class="user-info">
			<%= content_tag(:h4, t('agent_info_title'), :class => "title") %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.email'))}  #{h(@user.email)}") unless @user.email.blank? %> 
			<%= content_tag(:div, "#{content_tag(:span, t('user.phone_no'))}  #{h(@user.phone)}") unless @user.phone.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.mobile'))}  #{h(@user.mobile)}") unless @user.mobile.blank? %> 
			<%= content_tag(:div, "#{content_tag(:span, t('account.time_zone'))}  #{h(@user.time_zone)}") %>
		</div>
		<% if ((@user.deleted || !@user.active?) && privilege?(:manage_users)) %>
		<div class="info-highlight">
			<%= content_tag(:div, "#{ t('agent_deleted_message') } #{ link_to( t('contacts.restore'), { :action => :restore, :id => @agent.id }, :method => :put ) }") if @user.deleted %>
			<%= content_tag(:div, "#{ t('agent_emailnotverified') } #{ link_to( 'Send activation email', send_invite_activation_path(@user), :method => :put ) } " ) if !@user.deleted && !@user.active? %>
		</div>
		<% end %>
</div> 
<div class="contact-box-additional">
	<%= content_tag(:h3, t('agent_assigned_title'), :class => "title") %>
	<% if @recent_unresolved_tickets.empty? %>
		<%= "#{t('agent_assigned_info')}" %>
	<% else %>  
		<%= render :partial => "tickets", :object => @recent_unresolved_tickets %> 
	<% end %>
</div>	 
<% javascript_tag do %> 
jQuery("#reset_password_button").click(function() 
{
	jQuery(this).addClass("disabled");
});


function confirm_password()
{
 	jQuery("#reset_password_template").dialog({
       position: "top",
       title: '<%= t('reset_password_title') %>'
    });
 }

// need to convert this to util
jQuery(document).ready(function(){
  if (jQuery.trim( jQuery('div.info-highlight').text() ).length != 0) {
    jQuery('div.info-highlight').show();
  }

  if (jQuery.trim( jQuery('div.action_buttons').text() ).length != 0) {
    jQuery('div.action_buttons').show();
  }
});
<%end%>
