<% content_for :helpcard do -%>
	<%if gamification_feature?(current_account)%>
	<div class="sidepanel">
		<% unless @agent.level.blank? %>
		<div class="level-progress" id="user-level">
			<!-- Must give the width for the progressbar as an inline style !-->
			<% nxtlevel = @agent.next_level %>
			<% unless nxtlevel.blank? %>
				<% progress = ((@agent.points / nxtlevel.points) * 100).to_i %>
			<% end %>
			<span class="bar" style="width: <%= progress%>%;"></span>
			<p>
				<span class="floatr"><strong><%= h @agent.points %></strong><%= t("pts_plain") %></span>
				<%= t('level_label') %> : <strong>
		   			<%= h @agent.level.name %>
				</strong>
			</p>
		</div>
		<p class="info-text center" id="user-next-level">
			<% unless nxtlevel.blank? %>
				<%= t('next_level_info',
					:points =>  (nxtlevel.points - @agent.points),
					:name => nxtlevel.name ) %>
			<% end %>
		</p>
		<span class="seperator"></span>
		<% else %>
			<p class="info-text left"><%= t('no_level_achieved_label') %></p>
			<span class="seperator"></span>
		<% end %>
		<h3 class="title"><%= t('badges_achieved_label') %></h3>
		<% unless @user.quests.blank? %>
			<div id="user-badge-list" class="badge-list">
			<% @user.quests.each do |quest| %>
				<div class="badges <%= quest.badge[:classname] %>">
					<span class="label points" title="<%= quest.badge[:name] %>"><%= quest.points%></span>
				</div>
			<% end %>
			</div>
		<% else %>
			<p class="info-text left"><%= t('no_badge_achieved_label') %></p>
		<% end %>
        <% if privilege?(:manage_users)%>
			<%= link_to t("reset"), { :action => :reset_score, :id => @user.id } ,:method => 'put', :id => "agent_score_reset" , :class => "hide" %>
			<a href='#agent-gamification-reset'
				id="scoreboard_start_over"
				rel="freshdialog"
				title="<%= t('agent.reset_score_title') %>"
				data-submit-label="<%= t('reset') %>"
				data-width="400px"
				data-close-on-submit="true"
				data-close-label="<%= t('cancel') %>"
				data-destroy-on-close="true">
				<%= t('agent.reset_scores') %>
			</a>
		<% end %>
	</div>
	<%end%>
<%- end %>
<div class="contact-box clearfix">
	  <% if privilege?(:manage_users) %>
		<div class="action_buttons hide">
      <%= link_to t('assume_identity_button'), assume_identity_user_path(@agent.user), :target => "_top" if is_allowed_to_assume?(@agent.user) and !current_account.hide_agent_metrics_feature?  %>
      <% if can_edit?(@agent) %>
      		<div id="reset_password_template" >
      			<%= render :partial=> "reset_password" %>
      		</div>
		   	<% if current_account.emberize_agent_form_enabled? %>
                <a role="button" data-route="helpdesk.admin.agents.edit" data-dynamic-segments="<%= [@user.id].to_json %>" class="agent-ember-routes-btn disable-container" > <%=t('edit_agent')%> </a>
			<% else %>
         		<%= link_to t('edit_agent'), edit_agent_path(@user) %>
			<% end %>
          <% if(@agent.user != current_user)%>
						<%= link_to t('agent.info4'), { :action => :convert_to_contact, :id => @agent.user.id } ,:method => 'put', :id => "agent_contact_convert" , :class => "hide", target: "_top"%>
						<a href="#agent-deletion-confirmation"
							rel="freshdialog"
							title="<%= t('agent.convert_to_contact')%>"
							data-submit-label="<%= t('confirm') %>"
							data-width="400px"
							data-close-on-submit="true"
							data-close-label="<%= t('cancel') %>"
							data-destroy-on-close="true">
							<%= t('agent.info4') %>
						</a>

            <% if(@agent.user.active? && !freshid_integration_enabled?) %>
            	 <a href="#reset_password_template"
					rel="freshdialog"
					title="<%= t('reset_password_title') %>"
					data-submit-label="Yes"
					data-width="400px"
					data-template-footer="false"
					data-close-label="No"
					data-destroy-on-close="true">
					<%= t('reset_password_title') %>
				</a>
            <% end %>
          <% end %>
			  <%end%>
		</div>
	  <% end %>

		<%= user_avatar(@user, :medium, "profile_pic", {:width => "120px"}) %>
		<h3 class="title"><%= h(@user.display_name) %></h3>
		<% unless @user.job_title.blank? %>
		   <b><%= h @user.job_title %></b>
		<% end %>
		<div class="user-info">
			<%= content_tag(:h4, t('agent_info_title'), :class => "title") %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.email'))}  #{h(@user.email)}".html_safe) unless @user.email.blank? %>
			<%= content_tag(:div, "#{content_tag(:span,
									t('user.phone_no'))}".html_safe) if @user.phone.present? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.mobile'))}".html_safe) if @user.mobile.present? %>
			<%= content_tag(:div, "#{content_tag(:span, t('account.time_zone'))}  #{h(@user.time_zone)}".html_safe) %>
		</div>
		<% if ((@user.deleted || !@user.active?) && privilege?(:manage_users)) %>
		<div class="info-highlight">
			<%= content_tag(:div, "#{ t('agent_deleted_message') } #{ link_to( t('contacts.restore'), { :action => :restore, :id => @agent.id }, :method => :put ) }".html_safe) if @user.deleted %>
			<%= content_tag(:div, "#{ t('agent_emailnotverified') } #{ link_to( 'Send activation email', send_invite_activation_path(@user), :method => :put ) } ".html_safe ) if !@user.deleted && !@user.active? %>
		</div>
		<% end %>
</div>
<div class="contact-box-additional">
	<%= render_agent_tickets%>
</div>
<div id="agent-deletion-confirmation" class="hide">
	<p class="margin-bottom"><br/><%= t('agent.convert_agent_confirmation')%></p>
</div>
<% if current_account.scoreboard_levels.present? %>
	<div id="agent-gamification-reset" class="hide">
		<p class="margin-bottom"><br/>
			<% reset_score_alert = (@user == current_user ? 'agent.reset_score_alert_you' : 'agent.reset_score_alert_them') %>
			<%= t(reset_score_alert, :points => current_account.scoreboard_levels.least_points.first.points, :name => @user.name) %></p>
	</div>
<% end %>
