
<!--%= f.error_messages %-->
<ul class="ui-form">
	<li>
			<label><%=t('admin.twitters.search.name')%></label>		
			<%= text_field(:twitter_search, :name, :class => "text"   )  %>
	</li>
	
	<li>
			<label><%=t('admin.twitters.search.search_key')%></label>		
			<%= text_field(:twitter_search, :search_query, :class => "text" )  %>
	</li>
	
	<li>
			<label><%=t('admin.twitters.search.screen_name')%></label>			
			<%= collection_select(:twitter_search, :twitter_handle_id, @twitter_handles, :id, :screen_name, options = {:include_blank => "..."}) %>
	</li> 
	
	
</ul>
<div class="button-container">
	<%= f.submit t('save'), :class => "uiButton"  %>
	<%= link_to_function t('cancel'), "twitter_search_dialog.dialog('close')", :class => "uiButton", :id => "twitter-form-cancel"   %>
</div> 
