
<% javascript_tag do %>

var twitter_signin_dialog = null;

function twitter_signin()
{		   
    alert('hi');
	twitter_signin_dialog = jQuery("<div id='twitter_new_handle' style='display:none;' />").appendTo("body");		
	alert(twitter_signin_dialog.id);	
	var url = '/admin/twitters/signin/'+1
	// load remote content
	twitter_signin_dialog.load(url,{}, function(responseText, textStatus, XMLHttpRequest) {
	       twitter_signin_dialog.dialog({modal:true, width:'700px', height:'auto', title:"Twitter signin"});
	});
		
    //prevent the browser to follow the link
    return false;
}	
var twitter_search_dialog = null
function add_search()
{	
	twitter_search_dialog = jQuery("<div id='new_twitter_search' style='display:none;' />").appendTo("body");
	var url = '/admin/twitters/new_search/'
	// load remote content
	twitter_search_dialog.load(url,{}, function(responseText, textStatus, XMLHttpRequest) {
	       twitter_search_dialog.dialog({modal:true, width:'700px', height:'auto', title:"Twitter search key"});
	});
		
    //prevent the browser to follow the link
    return false;
}	

function edit_search(search_id)
{		  
	twitter_search_dialog = jQuery("<div id='edit_twitter_search' style='display:none;' />").appendTo("body");
	var url = '/admin/twitters/edit_search/'+search_id
	// load remote content
	twitter_search_dialog.load(url,{}, function(responseText, textStatus, XMLHttpRequest) {
	       twitter_search_dialog.dialog({modal:true, width:'700px', height:'auto', title:"Twitter search key"});
	});
		
    //prevent the browser to follow the link
    return false;
}	
	

<% end %>


<% content_for :sidebar do -%><%- end %>
<div class="floatr">	
		<%= link_to_function t('.new'), "twitter_signin()" , :class => "uiButton" %> 
</div>
<h3 class="title"><%=t('.title')%></h3>
<div>	
	<ul class="admin_list" id="normal">
		<% @twitter_users.each do |twt_user| %>
			<li class="<%=cycle('stripe', '') %>"> 
				<div class="item_actions">
					<%= link_to(t('delete'), admin_twitter_path(twt_user), :method => 'delete', :confirm => t('admin.canned_response.index.delete_confirm'), :class => "button" ) %>					
					<%= link_to(t('edit')  , edit_admin_twitter_path(twt_user), :class => "button") %> 					
				</div>
				<%= link_to(h(twt_user.user.twitter_id), admin_twitter_path(twt_user), :class => "item_info") %>								
			</li>
		<% end %>
	</ul>
</div>


<div class="floatr">	
		<%= link_to_function t('.add_search'), "add_search()" , :class => "uiButton" %> 
</div>

<h3 class="title"><%=t('.search_keys')%></h3>

<div>	
	<ul class="admin_list" id="normal">
		<% @search_keys.each do |search_key| %>
			<li class="<%=cycle('stripe', '') %>"> 
				<div class="item_actions">
					<%= link_to(t('delete'), admin_twitter_path(search_key), :method => 'delete_search_key', :confirm => t('admin.canned_response.index.delete_confirm'), :class => "button" ) %>					
					<%= link_to_function(t('edit')  , "edit_search(#{search_key.id})", :class => "button") %> 					
				</div>
				<%= link_to_function(h(search_key.name), "edit_search(#{search_key.id})", :class => "item_info") %>								
			</li>
		<% end %>
	</ul>
</div>

