<h3 class="title"><%= t('discussions.unpublished.page_title') %></h3>
<div class="innerbox innerbox-middle">
  <ul class="clearfix">
    <li <%= 'class="disabled"'.html_safe if @counts[:unpublished].zero? %> >
      <a data-pjax="#body-container" href="<%= discussions_unpublished_filter_path(:filter => "unpublished") %>">
        <h4><%= @counts[:unpublished] %></h4>
        <p class="muted"><%= t('discussions.unpublished.index.unpublished') %></p>
      </a>
    </li>
    <li <%= 'class="disabled"'.html_safe if @counts[:spam].zero? %> >
      <a  data-pjax="#body-container" href=" <%= discussions_unpublished_filter_path(:filter => "spam") %>">
      <h4><%= @counts[:spam] %></h4>
      <p class="muted"><%= t('discussions.unpublished.index.title') %></p>
      </a>
    </li>
  </ul>
</div>