<% if @topic.present? %>
	<%= content_tag 'p', h(flash[:bad_reply]), :class => 'notice' if flash[:bad_reply] %>
	<% form_for @topic.posts.new, :url => support_discussions_topic_posts_path(@topic), 
		:html => { :multipart => true, :rel => "validate" } do |f| -%>		
		<div class="row-fluid">
			<p class="span12">
				<%= f.rich_editor :body_html, "editor-type" => :forum, :class=>"required_redactor", :height => "150px" %>
			</p>
		</div>
		<div class="control-group">
			<% attach_id = attach_id || "post"
			   nsc_param = nsc_param || "post" %>
			<%= render :partial=>'/support/shared/attachment_form', :locals=>{:attach_id=>attach_id, :nsc_param=>nsc_param} %>
			<%= render :partial => "/support/shared/multifile_template" %>
		</div>
		<% if is_application_installed?("screenr") %>
	      <%= render :partial => "shared/screenr_recorder", :locals => { :location => "portal_forum" } %>
	  	<% end %>
		<hr />
		<div>
			<%= submit_tag t('topic.add_comment'), :class => "btn btn-primary", :id => "post-submit-button"  %> 
			<a href="#" data-hide-dom="#new-post-form" data-show-dom="#reply-form-proxy" class="btn"><%= t('cancel') %></a>
		</div>
	<% end -%>
<% end %>