<%
	var trimTitle = function(title){
		if(title && title.length > 70){
			title =  title.substring(0,70) + "...";
		}
		return escapeHtml(title);
	}
%>

<% if (data) { %>

  <% if (data.recent_templates && data.recent_templates.length > 0) { %>
		<% if (data.all_acc_templates.length !== 0) { %>
    <div class="recent">Recent Templates</div>
		<% } %>
    <% for (var i = 0; i < data.recent_templates.length; i++) { %>
      <% if (i === data.recent_templates.length - 1 ){%>
        <li class="tkt-tmpl recent-tmpl last"  data-assoc="<%= data.recent_templates[i].assoc_type %>" data-id="<%= data.recent_templates[i].id %>">
        <span data-id="<%= data.recent_templates[i].id %>" class="template_title_label ellipsis"><%= trimTitle(data.recent_templates[i].name) %></span>
        <i class="ficon-inherit-parent hide"></i></li>
      <% } else {%>
        <li class="tkt-tmpl recent-tmpl" data-assoc="<%= data.recent_templates[i].assoc_type %>" data-id="<%= data.recent_templates[i].id %>">
        <span data-id="<%= data.recent_templates[i].id %>" class="template_title_label ellipsis"><%= trimTitle(data.recent_templates[i].name) %></span>
        <i class="ficon-inherit-parent hide"></i></li>
      <% } %>
    <% } %>
    <% if (data.all_acc_templates && data.all_acc_templates.length > 0) { %>
      <div class="seperator"></div>
    <% } %>
  <% } %>

  <% if (data.all_acc_templates && data.all_acc_templates.length > 0) { %>
  <% for (var i = 0; i < data.all_acc_templates.length; i++) { %>
    <li class="tkt-tmpl"  data-assoc="<%= data.all_acc_templates[i].assoc_type %>" data-id="<%= data.all_acc_templates[i].id %>">
    <span data-id="<%= data.all_acc_templates[i].id %>" class="template_title_label ellipsis"><%= trimTitle(data.all_acc_templates[i].name) %></span>
    <i class="ficon-inherit-parent hide"></i></li>
  <% } %>
  <% } %>

  <% if (data.event === 'search' && data.all_acc_templates.length === 0) { %>
    <div class="no-template"><%= I18n.t('ticket_templates.no_match_text') %></div>
  <% } %>

  <% if (data.all_acc_templates && data.all_acc_templates.length === 0 && data.recent_templates && data.recent_templates.length === 0) { %>
      <p class="no-template-link"><%= I18n.t('ticket_templates.no_templates_text')%></p>
      <% if (data.previlage && data.previlage === 'true' && data.istmplAvailable && data.istmplAvailable === 'true') { %>
        <a class="create-template" data-pjax="#body-container" href="/helpdesk/ticket_templates/new"><%= I18n.t('ticket_templates.select_template')%></a>
      <% } %>
  <% } %>

<% } %>
