<!-- **** Agent Collision flip animation start **** -->
<div class="ticket-notifications" id="agent_collision_show">
  <div class="view-flip" rel="notice-popover"  id="agents_viewing" data-object="viewing" data-placement="right" title="Currently viewing">
    <a href="#">
      <div class="flip-front"></div>
      <div class="flip-back">0</div>
    </a>
  </div>

  <div class="reply-flip" rel="notice-popover" id="agents_replying" data-object="replying" data-placement="right" title="Currently replying">
    <a href="#">
      <div class="flip-front"></div>
      <div class="flip-back">0</div>
    </a>
  </div>
</div>
<% javascript_tag do %>
  jQuery('#agent_collision_placeholder').append(jQuery('#agent_collision_show').detach());
  var agents = { viewing:[], replying:[] };

 

  jQuery(document).ready(function() {

    window.FayeClient.init("<%= faye_host %>",{
                              retry: 10,
                              timeout: 120
                            });
      window.faye_realtime.addChannel("<%= agent_collision_ticket_view_channel(@ticket.display_id) %>");
      if(!window.faye_realtime.extension_set){
        window.AgentCollision.setExtensions([{
          outgoing: function(message, callback) {
            message.ext = <%= faye_auth_params %>;
            message.ext['channel'] = window.faye_realtime.faye_channels
            callback(message);
          }
          }]);
      }
      window.AgentCollision.setChannels({
          'ticket_channel' : "<%= agent_collision_ticket_channel(@ticket.display_id) %>",
          'ticket_view_channel' :  "<%= agent_collision_ticket_view_channel(@ticket.display_id) %>"
        }).setChannelCallbacks({
          'ticket_channel' : function(message){
            this.utils.ticketMessageHandler.call(this,message,agents);
          },
          'ticket_view_channel' : function(message){
          }
        }).init({agent_names : <%= raw current_account.agent_names_from_cache.to_json %>, 
      current_user : "<%= escape_javascript(current_user.name) %>" 
      ,current_user_id : "<%= current_user.id %>"
      });

      jQuery('[data-note-type]').click(function(e){

        window.replySubscription = this.faye_client.subscribe("<%= agent_collision_ticket_reply_channel(@ticket.display_id) %>",(function(message){
          agents.replying = [];
        }).bind(this));
        window.faye_realtime.faye_subscriptions.push(window.replySubscription);
      })

      jQuery('.reply_agent_collision').click(function(){
        if(window.replySubscription)
        {
          window.replySubscription.cancel();
        }
        window.faye_realtime.faye_subscriptions.splice(window.faye_realtime.faye_subscriptions.indexOf(window.relySubscription), 1);
      })

      jQuery('.link').click(function(){
        if(window.faye_realtime.fayeClient)
        {
          for(var i=0;i < window.faye_realtime.faye_subscriptions.length;i++)
          { 
            window.faye_realtime.faye_subscriptions[i].cancel();
          }
        }
        window.faye_realtime.fayeClient.disconnect();
      });

      jQuery("[rel=notice-popover]")      
        .popover({
          html: true,           
          trigger: "manual",
          content: function(){
            container = "";
            if(this.id != "notification"){
              agents[jQuery(this).data("object")].each(function(item){
                container += "<div>" + item.name + "</div>";
              });                         
            }else{
              container += "Click to refresh ticket...";
            }
            return container;
          },
          template: '<div class="arrow notice-arrow"></div><div class="ticket-notice-popover"><div class="title"></div><div class="content"><p></p></div></div>'
        }).live({ 
          mouseenter: function(){  
            if(jQuery(this).hasClass("active"))
              jQuery(this).popover('show');
          }, 
          mouseleave: function(){
            jQuery(this).popover('hide');
          }
      });



    jQuery(window).unload(function( event ) {
          if(window.faye_realtime.fayeClient)
          {
            for(var i=0;i < window.faye_realtime.faye_subscriptions.length;i++)
            { 
              window.faye_realtime.faye_subscriptions[i].cancel();
            }
          }
          window.faye_realtime.fayeClient.disconnect();
          event.preventDefault();
    });

    jQuery("#notification").bind("click", function(ev){
      if(jQuery(this).hasClass("active")){
        window.location = '<%= helpdesk_ticket_path(ticket.display_id) %>';
      }
    })          
    
    function update_reload(){
      jQuery('.source-badge-wrap .source').addClass('collision_refresh').attr('title', 'Click here to refresh the ticket');
    }                                     

  });

<% end %>

<% content_for :pagefixed do %>

<% end %>