<div class="request_panel" id="<%=cntid%>" style="display:none;" rel="emitter" data-node-name="agent_replying">

  <%= form_for note, :url => note_helpdesk_ticket_conversations_path(@ticket), :html => {
                      :multipart => true,
                      :id => "HelpdeskReviewNotes"
                    } do |f| %>

    <%= f.fields_for(:note_body,Helpdesk::NoteBody.new) do |ff| %>
      <%= ff.text_area(:body_html, :value => t("admin.mobihelp.app_review.request_sent"), :class => "body_html", :id => "#{cntid}-body") %>
    <% end %>

    <%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["mobihelp_app_review"]%>
    <%= hidden_field_tag(:page , params[:page], :id=>:page  ) unless params[:page].nil? %>
    <%= f.hidden_field :private , :value => "0" %>

    <%= f.submit "Send review request", :class => "btn btn-link" %>

  <% end %>
</div>
