<% 
custom_order = false
unless extra_info.nil?
  if source == "app_info"
    custom_order = true
    keys_config = Mobihelp::TicketInfo::APP_INFO_VARS
  end
  
  unless info.blank? %>
    <table class="table">
      <%unless source == "breadcrumbs"
        if custom_order
          rows ||= keys_config.length
          count = 0
          keys_config.each do |key| 
            display_name = t(:"admin.mobihelp.ticket_info.app_info_vars.#{key}")
            if info[key] && (count < rows)
              count += 1 %>
              <tr>
                <td class="app-info-data"><%= display_name %></td>
                <td class="app-info-data ellips"><%= info[key] %></td>
              </tr>
            <%end%>
          <%end%>
        <%else%>
          <%info.sort.each do |k,v| %>
            <tr><td class="app-info-data"><%= k %></td><td class="app-info-data"><%= v %></td></tr>
          <%end%>
        <%end%>
      <%else%>
        <tr><th class="list-header">Date</th><th class="list-header">Activity</th></tr>
        <% info.each do |bc|
          begin 
           time = convert_rfc3339_to_account_timezone(bc["time"])
          rescue
            Rails.logger.warn "Exception occured when converting the date : #{bc["time"]}" 
          end%>
          <tr><td class="app-info-data"><%= time || bc["time"] %></td><td class="app-info-data"><%= bc["crumbText"] %></td></tr>
        <%end%>
      <%end%>
    </table>
  <%end%>  
<%end%>