<table class="table">
  <tr>
    <td class="app-info-data"><%=t("admin.mobihelp.ticket_info.app_info_vars.app_name")%></td>
    <td class="app-info-data ellips"><%=extra_info.app_name%></td>
  </tr>
  <tr>
    <td class="app-info-data"><%=t("admin.mobihelp.ticket_info.app_info_vars.app_version")%></td>
    <td class="app-info-data ellips"><%=extra_info.app_version%></td>
  </tr>
  <tr>
    <td class="app-info-data"><%=t("admin.mobihelp.ticket_info.app_info_vars.os")%></td>
    <td class="app-info-data ellips"><%=extra_info.os%></td>
  </tr>
  <tr>
    <td class="app-info-data"><%=t("admin.mobihelp.ticket_info.app_info_vars.os_version")%></td>
    <td class="app-info-data ellips"><%=extra_info.os_version%></td>
  </tr>
  <tr>
    <td class="app-info-data"><%=t("admin.mobihelp.ticket_info.app_info_vars.device_make")%></td>
    <td class="app-info-data ellips"><%=extra_info.device_make%></td>
  </tr>
  <tr>
    <td class="app-info-data"><%=t("admin.mobihelp.ticket_info.app_info_vars.device_model")%></td>
    <td class="app-info-data ellips"><%=extra_info.device_model%></td>
  </tr>
</table>