<% 
	attach_id ||= "ticket" 
	nsc_param = nsc_param || "helpdesk_ticket"
%>
<div class="attachments-wrap">
  <div id="<%=attach_id%>-container" class="attachments-container">
    <label><i>0</i> Attachment(s): </label>
    <div class="attachment_list" id="<%=attach_id%>-attachments"></div>
  </div>

  <div class="hidden_upload custom_tip_bottom" title='<%=t('attachment_help_info')%>' class='custom-tip-top'>
    <div class="add_attachment"><span>+</span> Add </div>
    <input type="file" id="<%=attach_id%>_file" name="emptyfile"
            nameWhenFilled="<%=nsc_param%>[attachments][][resource]" 
            fileContainer="<%=attach_id%>-container" 
            fileList="<%=attach_id%>-attachments" 
            sendFocusTo="<%=attach_id%>-body"/>
  </div>
</div>

<%# 
  The following is a template used by multifile.js to create rows in
  the attachments table.
 %>
<script id="file-list-template" type="text/x-jquery-tmpl">
<div class="item">
  <a class="attachment-close"  href="javascript:void(0)" onclick="Helpdesk.Multifile.remove(this); return false;" inputId="${inputId}"></a>
  <div class="attachment-type file-types-def">
    <a href="javascript:void(0)">${name}</a>
  </div>
</div>
</script>
