<div class="request_panel" id="<%=cntid%>" style="display:none;" data-type="textarea" rel="emitter" data-node-name="agent_replying">
  <div class="form_title">
    <strong><%= t(".title", :user => @ticket.requester.name ) %>: </strong> 
  </div>
  <div class="list_agents_replying" class="hide"></div>
  <input type="hidden" value="<%= @ticket.requester.twitter_id %>" id="requester_twitter_handle" />
  <% form_for note, :html => {:multipart => true,  :id => "HelpdeskFbComment" } do |f| %>
    <%= f.error_messages %>
    <%= hidden_field_tag(:page , params[:page], :id=>:page  ) unless params[:page].nil? %>
    <%= hidden_field_tag :fb_post, "true", :id => "fb_comment" %>
    <%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["facebook"]%>          
    <%= f.hidden_field :private , :value => "false" %>
    <%= hidden_field_tag(:ticket_status , params[:ticket_status], :id=>:fb_ticket_status  )%>

    <ul class="ui-form dont-validate">
      <li class="inline-field field">
        <%= f.label(:reply_email, "From:" ) %>
        &nbsp;<%= @ticket.fb_post.facebook_page.page_name if @ticket.fb_post && @ticket.fb_post.facebook_page %>
      </li>       
      <li class="inline-field field clearField continous message">
        <%= f.text_area :body, { :class => 'required facebook auto-height', :id => "#{id}-#{cntid}-body", :rows => "6" } %>
      </li>
    </ul>

    <div class="f-right">
      <%= button_to_function(t('cancel'), "jQuery('#cnt-reply').slideUp()", :class => "uiButton" ) %>
      <span><%= submit_tag(t('ticket.reply_form.send_and_resolve'), :onclick => "jQuery('#reply_ticket_status_#{cntid}').val('resolved'); changeStatusToResolved();" , :class => "uiButton", :id => "send_resolve_btn") %></span>
      <span><%= submit_tag(t('ticket.reply_form.send'), :class => "uiButton special" ) %></span>
    </div>
  <% end %>
</div>  

<% content_for :onload_script do %>
  jQuery("#HelpdeskFbComment").validate();  
<% end %>