<% note_view_id = "helpdesk_note_"+note.id.to_s() %>
<% notedetails  = "note_details_#{note.id.to_s()}" %>
<% forward_note_id = "cnt-fwd-#{note.id.to_s()}" %>
<% edit_id = "edit-#{note.id.to_s()}" %>
<li id="<%= note_view_id %>" class="conversation">
	<%= link_to user_avatar(note.user), note.user, :class => 'avatar-wrap', :name => "note#{note.id}"  if note.user %>
	<div class="commentbox <%= 'commentbox-gray' if note.user.blank? or note.user.agent? %>">
		<%= content_tag(:span, "", :class => "comment-lock") if note.private_note? %>

		<div class="actions">
			<% if permission?(:manage_tickets) %>
				<%= link_to_function(t("edit"), 
							"jQuery('##{notedetails}').hide(); jQuery('##{edit_id}').show().trigger('afterShow');") if(note.note? && note.user && note.user.agent?) %>

				<%= link_to_function(t("fwd_to"), 
							"jQuery('##{forward_note_id}').show().trigger('afterShow'); invokeRedactor('#{forward_note_id}-body') " ) unless note.private %>

				<%= link_to (t('ticket.split_ticket'), 
							{ :action => :split_the_ticket , :note_id => note.id }, 
							:method => :post, :confirm => t(".split_ticket_confirm"),
							:class => "tooltip", :title => t(".split_this_as_new_ticket")) if note.incoming and @item && !@item.fb_post %>

				<% p helpdesk_ticket_helpdesk_note_path(note.notable, note) %>
				<%= link_to_remote(t('delete'), :url => helpdesk_ticket_helpdesk_note_path(note.notable, note), 
							:method => :delete, :confirm => t(".delete_note"), 
							:class => "red_links") if note.user && note.user.agent?    %>   
			<% end %>
	    </div>
		<div class="author-mail-detail">
			<%= t("helpdesk.tickets.note.posted_on", :user_name => link_to_user(note.user, :class => "user_name", "data-placement" => "topRight", :rel => "hover-popover", "data-widget-container" => "agent-hovercard_#{note.id}" ), :note_date => formated_date(note.created_at) ) %>
		</div>
		<%  if permission?(:manage_tickets)
			conv_info = conversation_info(note) %>
			<div class="author-mail-detail"><p>
			<%= content_tag :span, truncate(conv_info, :length => 100), 
					:rel => "hover-popover", 
					"data-placement" => "below",
					"data-content" => conv_info.length > 100 ? conversation_popover_details(note) : "" %>
			</p></div>
		<% end %>


		<%= content_tag :div, "", :id => "#{edit_id}", :class => "request_panel email-edit-form hide", :rel => "remote", 
								"data-remote-url" => edit_helpdesk_ticket_helpdesk_note_path(note.notable, note) %>
	    <%= content_tag :div, "", :id => forward_note_id, :class => "request_panel note-forward-form hide", :rel => "remote", 
						"data-remote-url" => forward_conv_helpdesk_ticket_path({ 
													:id => note.notable.display_id, 
													:note_id => note.id }) %>
		<div class="details" id='<%= notedetails %>'>
			<div class="request_mail">
				<% 
			       	notes = note.body_html		       
			       	notes = "<span class='"+note.survey_remark.survey_result.get_small_img_class+"' style='float:left;margin-top:-11px;'></span>"+notes unless note.survey_remark.nil?
				%>			
				<%= notes %>
			</div>
		</div>
		<% unless note.attachments.empty? %>
			<span class="seperator"></span>
			<div class="attachments-wrap clearfix">
				<h5><strong><%= pluralize(note.attachments.size, t('attachment'), t('attachments'))%></strong></h5>
				<ul class="attachment_list">
				    <%= render :partial => '/helpdesk/shared/attachment.html', :collection => note.attachments, :locals => {:show_delete => true, :url => [@item] } %>
				</ul>
			</div>
		<% end %>
	</div>

    <% if permission?(:manage_tickets) and feature?(:gamification)  %>
	<textarea id="<%= "agent-hovercard_#{note.id}" %>" style="display:none;">
		<div class="contact_hover" style="min-height:50px;">	
		  <%= user_avatar(note.user) if note.user.agent? %>
		  <%= content_tag :div, link_to(h(note.user), note.user), :class => "user_name" %>
		  <% if feature?(:gamification) %>
		  		<% if note.user.agent? %>
		  			<strong><%= content_tag :div, h(note.user.agent.level.name) unless note.user.agent.level.blank? %></strong>
		  		<% end %>
		  <% end %>
          <%= content_tag :div, h(note.user.email), :class => "user_email" unless note.user.email.blank?  %>
          <div class="clearfix"></div>
          <%= content_tag :div, h(note.user.phone), :class => "user_phone" unless note.user.phone.blank?  %>
          <%= content_tag :div, h(note.user.mobile), :class => "user_mobile" unless note.user.mobile.blank?  %>
		</div>
	</textarea>
	<% end %>
	<script type="text/javascript">
		if (typeof(TICKET_DETAILS_DATA['last_note_id']) == 'undefined' || TICKET_DETAILS_DATA['last_note_id'] < <%= note.id %>)
			TICKET_DETAILS_DATA['last_note_id'] = <%= note.id %>;
		if (typeof(TICKET_DETAILS_DATA['first_note_id']) == 'undefined' || TICKET_DETAILS_DATA['first_note_id'] > <%= note.id %>)
			TICKET_DETAILS_DATA['first_note_id'] = <%= note.id %>;
		<%= "TICKET_DETAILS_DATA['total_notes'] += 1; " if params[:since_id].present? %>
	</script>
</li>
