<div class="email_failure activity_email_failure">
  <div class="to-error-details">
    <% unless to_email_failures.nil? %>
      <% to_email_failures.each_with_index do |(email, error), index| %>
        <div class="email-failure-list-item">
          <div class="to-emails <%= index != 0 ? 'hide' : "" %>"> To: </div>
          <div class="error-details">
            <div class="errored-email">
              <%= email %>:
            </div>
          </div>
          <div class="email-error-reason">
              <p>
                <span>
                  <%= t("email_failure.#{error}.summary_error_text") %>
                </span>
              </p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="cc-error-details">
    <% unless cc_email_failures.nil? %>
      <% cc_email_failures.each_with_index do |(email, error),index| %>
        <div class="email-failure-list-item">
          <div class="to-emails <%= index != 0 ? 'hide' : "" %>"> Cc: </div>
          <div class="error-details">
            <div class="errored-email">
              <%= email %>:
            </div>
          </div>
          <div class="email-error-reason">
              <p>
                <span>
                  <%= t("email_failure.#{error}.summary_error_text") %>
                </span>
              </p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>