<div class="request_panel" id="<%=cntid%>" style="display:none;" rel="emitter" data-node-name="agent_replying">
  <%= form_for note, :url => note_helpdesk_ticket_conversations_path(@ticket), :html => {
                      :multipart => true,  
                      :id => "HelpdeskNotes",
                      :rel => 'note_form', 
                      :class => "form-unsaved-changes-trigger",
                      "data-panel" => cntid,
                      "data-domhelper-name" => "cnt-note",
                      "data-show-pseudo-reply" => 'true',
                      "data-destroy-editor" => 'true',
                      "data-fetch-latest" => 'true',
                      "data-cnt-id" => cntid,
                      "data-submitting" => 'false'
                    } do |f| %>
    <%= content_tag( :div, "" , :class => "form_title" ) %>
     <b class="note_title"><%= t("ticket.note_form.form_title") %></b>
    <div class="list_agents_replying" class="hide"></div>
    <%= f.error_messages %>
    <ul class="ui-form dont-validate botm-space">

      <li class="inline-field field notify_agent">
        <label class="notify mailaddr-label from" for="helpdesk_note_to_emails">
          <%= t("ticket.note_form.notify_agents") %>:
        </label>
        <div class="email_container add_select2_custom" data-default-agent="<%= "#{@ticket.responder.email}" if @ticket.responder and @ticket.responder_id != current_user.id %>" data-default-agent-disp="<%= "#{@ticket.responder.name} <#{@ticket.responder.email}>" if @ticket.responder and @ticket.responder_id != current_user.id %>" >
          <script type="text/javascript">
              function addNoteAgents(){
                if(!jQuery('.add_select2_custom').data('agent_loaded')){
                  jQuery.ajax({
                    url: '<%=agents_autocomplete_helpdesk_ticket_notes_path(params[:id])%>',
                    method: "GET",
                    success: function(response) {
                      var custom_select2 = jQuery(response);
                      jQuery(".add_select2_custom").append(custom_select2);
                      jQuery('.add_select2_custom').data('agent_loaded',response);
                      if(jQuery("#TicketPseudoReply a[rel='note-button']").data('failed-email')){
                        jQuery('#HelpdeskNotes #helpdesk_note_to_emails').val('').trigger('change');
                        jQuery("#TicketPseudoReply a[rel='note-button']").data('failed-email', '');
                      }
                    }
                  });
                }else{
                  if(jQuery("#TicketPseudoReply a[rel='note-button']").data('failed-email')){
                    jQuery('#HelpdeskNotes #helpdesk_note_to_emails').val('').trigger('change');
                    jQuery("#TicketPseudoReply a[rel='note-button']").data('failed-email', '');
                  }
                }
              }
          </script>
        </div>
      </li>

      <li class="inline-field field clearField message">
        <%= render :partial => 'helpdesk/tickets/show/editor_insert_buttons', :locals => { :cntid => cntid } %>
        <%= f.fields_for(:note_body, Helpdesk::NoteBody.new) do |ff| %>
            <%= ff.text_area :body_html, :class => "body_html required", :id => "#{cntid}-body", :"data-wrap-font-family" => true, :"data-domhelper-name" => "#{cntid}-body" %>
        <% end %>
      </li>
      <li class="inline-field field continous file_size_alert hide" id="file_size_alert_<%= cntid %>">
        <span class="alert-text"><%= t('helpdesk.tickets.note.not_added') %></span>
        <%= t('helpdesk.tickets.note.attachment_size.exceeded', :attachment_limit => current_account.attachment_limit) %>
      </li>

      <li class="attachment-options-reply" id="attachment-options-note">
          <% unless local_assigns[:no_attachments] %>
            <%= render :partial => "/helpdesk/tickets/show/multi_attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
          <% end %>
      </li>
    </ul> 
    <%= f.hidden_field :source , :value => current_account.helpdesk_sources.note_source_keys_by_token["note"]%>
    <%= hidden_field_tag(:page , params[:page], :id=>:page  ) unless params[:page].nil? %>
    <%= hidden_field_tag :last_note_id,'', :value => @last_note_id, :class => "last_note_id" %>

    <div id="toggle-note-visibility">
      <label><%= t("helpdesk.tickets.note.public_note_tip") %></label>
      <%= f.check_box(:private, :checked => true, :disabled => @ticket.mobihelp?, :class => 'tooltip', "rel" => "toggle",  "data-checked-label" => t("plain_no"), "data-unchecked-label" => t("plain_yes") )  %>
    </div>


    <div class="btn-toolbar no-width">
      
      <span class="btn-group">
        <button class="btn cancel_btn reply_agent_collision" data-show-pseudo-reply='true' data-cnt-id='<%= cntid %>'>
          <%= t('cancel') %>
        </button>
      </span>
      <span class="btn-group <% if privilege?(:edit_ticket_properties) %>dropup<%end%>">
        <button class="btn btn-primary submit_btn reply_agent_collision"
            data-public-text="<%= t('ticket.note_form.add_public_note') %>" 
            data-default-text="<%= t('ticket.note_form.add_private_note') %>" >
          <span rel="text"><%= t('ticket.note_form.add_private_note') %></span>
          <% if privilege?(:edit_ticket_properties) %>
            <button type="button" class="btn btn-primary dropdown-toggle dialog-btn" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </button>
          <% end %>
        </button>
        <% if privilege?(:edit_ticket_properties) %>
        <ul data-menu-hover-in='li' data-menu-trigger="a" id="conversation_note" class="menuselector dropdown-menu custom_statuses pull-right">
          <%
          ticket_statuses = current_account.ticket_status_values_from_cache.reject{|status| status.status_id == 2 }
          %>
          <% ticket_statuses.each do |status| %>
          <li>
            <a href="#" rel="custom-reply-status" data-status-name='<%= status.name %>' data-cnt-id='<%=cntid%>' data-status-val='<%= status.status_id %>' class="reply_agent_collision" >
              <%= t('ticket.note_form.add_and_set_as', 
                    { :status => (status.is_default ? t(status.name.downcase) : status.name) }).html_safe %>
              </a>
            </li>
            <% end %>
          </ul>
        <% end %>
      </span>
    </div>
  <% end %>
  <div class="clearfix overflowh" ></div>
</div>
