<div class="request_panel" id="<%=cntid%>" style="display:none;" rel="emitter" data-node-name="agent_replying">
  <% form_for note, :url => note_helpdesk_ticket_conversations_path(@ticket), :html => {
                      :multipart => true,  
                      :id => "HelpdeskNotes",
                      :rel => 'note_form', 
                      "data-panel" => cntid,
                      "data-show-pseudo-reply" => 'true',
                      "data-destroy-editor" => 'true',
                      "data-fetch-latest" => 'true',
                      "data-cnt-id" => cntid

                    } do |f| %>
    <div class="list_agents_replying" class="hide"></div>
    <%= content_tag( :div, t("ticket.note_form.form_title"), :class => "form_title" ) %>
    <%= f.error_messages %>
    <ul class="ui-form dont-validate">

      <li class="inline-field field notify_agent">
        <label class="notify" for="helpdesk_note_to_emails">
          <%= t("ticket.note_form.notify_agents") %>:
        </label>
        <div class="email_container">
          <%= select_tag "helpdesk_note[to_emails]", 
                          options_for_select(current_account.agents.map { |agent| "#{agent.user.name} <#{agent.user.email}>" }, 
                              [( (@ticket.responder_id and @ticket.responder_id != current_user.id and @ticket.responder.present?) ? 
                                      "#{@ticket.responder.name} <#{@ticket.responder.email}>" : nil ) ]), 
                          :multiple => true, :class => 'select2', "data-placeholder" => 'Select agents to notify' %>
        </div>
      </li>

      <li class="inline-field field clearField message">
        <%= render :partial => 'helpdesk/tickets/show/editor_insert_buttons', :locals => { :cntid => cntid } %>
        <% f.fields_for(:note_body, Helpdesk::NoteBody.new) do |ff| %>
            <%= ff.text_area :body_html, :class => "body_html required", :id => "#{cntid}-body" %>
        <% end %>
      </li>

      <li class="inline-field field attachment-options continous" id="attachment-options-note">
          <% unless local_assigns[:no_attachments] %>
          <%= render :partial => "/helpdesk/tickets/show/attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
          <% end %>
      </li>
    </ul> 
    <%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["note"]%>
    <%= hidden_field_tag(:page , params[:page], :id=>:page  ) unless params[:page].nil? %>
    <%= hidden_field_tag(:ticket_status ,'', :id=>"reply_ticket_status_#{cntid}"  )%>

    <div id="toggle-note-visibility">
      <label><%= t("helpdesk.tickets.note.public_note_tip") %></label>
      <%= f.check_box(:private, :checked => true, :class => 'tooltip', "rel" => "toggle",  "data-checked-label" => "No", "data-unchecked-label" => "Yes") %>
    </div>


    <div class="btn-toolbar">
      
      <span class="btn-group">
        <button class="btn cancel_btn" data-show-pseudo-reply='true' data-cnt-id='<%= cntid %>'>
          <%= t('cancel') %>
        </button>
      </span>
      <span class="btn-group <% if privilege?(:edit_ticket_properties) %>dropup<%end%>">
        <a class="btn btn-primary submit_btn"
            data-public-text="<%= t('ticket.note_form.add_public_note') %>" 
            data-default-text="<%= t('ticket.note_form.add_private_note') %>">
          <span rel="text"><%= t('ticket.note_form.add_private_note') %></span>
          <% if privilege?(:edit_ticket_properties) %>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
          <% end %>
        </a>
        <% if privilege?(:edit_ticket_properties) %>
        <ul class="dropdown-menu custom_statuses pull-right">
          <%
          ticket_statuses = current_account.ticket_status_values.reject{|status| status.status_id == 2 }
          %>
          <% ticket_statuses.each do |status| %>
          <li>
            <a href="#" rel="custom-reply-status" data-status-name='<%= status.name %>' data-cnt-id='<%=cntid%>' data-status-val='<%= status.status_id %>' >
              <%= t('ticket.note_form.add_and_set_as', 
                    { :status => (status.is_default ? t(status.name.downcase) : status.name) }) %>
              </a>
            </li>
            <% end %>
          </ul>
        <% end %>
      </span>
    </div>
  <% end %>
  <div class="clearfix overflowh" ></div>
</div> 
<% content_for :pagefixed do %>
  <script src="/javascripts/helpdesk/page_switcher.js" type="text/javascript"></script>
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['attachment-options-note']
      });
			jQuery("#HelpdeskNotes").validate();	  
			jQuery("#cnt-note-body").val("");
    });
  <% end %>
<% end %>