<% 
note_view_id = dom_id(note)
notedetails  = "note_details_#{note.id.to_s()}"
forward_note_id = "cnt-fwd-#{note.id.to_s()}" 
reply_to_fwd_id = "cnt-reply-fwd-#{note.id.to_s()}"
edit_id = "edit-#{note.id.to_s()}"
notable_object = @ticket || @parent
minimizable ||= false
kind = note.survey_remark.nil? ? note.kind : 'survey'
if current_account.custom_survey_enabled
kind = note.custom_survey_remark.nil? ? note.kind : 'survey'
unless note.custom_survey_remark.blank?
    ticket_info = note.custom_survey_remark.survey_result.ticket_info
    details = note.custom_survey_remark.survey_result.note_details 
    unless details.blank?
      agent_name = details[:agent]
      survey_name = details[:survey]
      question_values = details[:question_values]
      rating = details[:rating]
    end
  end
end
%>

<div id="<%= note_view_id %>" 
			data-timestamp="<%= note.created_at.to_i%>" 
			class="conversation <%= 'minimized minimizable' if minimizable %> <%= 'source_email' if note.email? %>">
	<% if note.user %>
	<div class="avatar-wrap" name="note<%= note.id %>" id="note<%= note.id %>"><%= user_avatar(note.user, :thumb, 'preview_pic circle') %></div>
	<% end %>
	<div class="commentbox 
					<%= (note.user.blank? or note.user.agent?) ? 'commentbox-gray' : 'commentbox-requester' %> 
					<%= 'private-note' if note.private_note? || note.fwd_email? || is_twitter_dm?(note) || is_facebook_message?(note) %>">

		<%= note_lock_icon(note) %>
		
		<% if note.fb_post and note.fb_post.post_type_present? %>
			<% if note.fb_post.comment? %>
	      <span class="tooltip" data-original-title="Comment"> 
	      	<%= content_tag(:span, "", :class => "ficon-chat-bubble fsize-21")%> 
	      </span>
	    <% elsif note.fb_post.reply_to_comment? %>
	      <span class="tooltip" data-original-title="Reply to comment"> 
	      	<%= content_tag(:span, "", :class => "ficon-reply fsize-21")%>
	      </span>
	    <% end %>
      <% clazz = "fb-reply"%> 
    <% else %>
    	<% clazz = "helpdesk_note"%> 
    <% end %>
		
		<div class="<%= clazz %>">
			<% if note.deleted? %>
			<div class="tag">
				<%= t("helpdesk.tickets.note.deleted_note").html_safe %>
			</div>
			<% else %>
			<div class="actions">
				<% if privilege?(:edit_conversation) %>
					<%= link_to('', helpdesk_ticket_note_path(notable_object.display_id, note.id), 
								:remote => true,
								:method => :delete, :confirm => t("helpdesk.tickets.note.delete_note"), 
								:class => "red_links conv-action-icon conv-actions-delete tooltip", :title => t('delete')) if note.user && note.user.agent?    %>   
        <% end %>
        <% if privilege?(:merge_or_split_ticket) %>
					<%= link_to('', 
								{ :action => :split_the_ticket, :controller => 'helpdesk/tickets', :id => notable_object.display_id, :note_id => note.id }, 
								:method => :post, :confirm => t("helpdesk.tickets.note.split_ticket_confirm"),
								:class => "tooltip conv-action-icon conv-actions-split tooltip",
								:title => t("helpdesk.tickets.note.split_this_as_new_ticket")) if note.can_split? %> 
        <% end %>
        <% if privilege?(:reply_ticket) and note.fb_reply_allowed? %>
						 <a href="#" class="conv-action-icon conv-actions-reply tooltip reply-facebook" data-original-title="Reply" data-note-id = "<%= note.id %>" data-note-requester-name="<%= note.user.blank? ? "" : note.user.name %>"><span class="ficon-reply"></span>
           </a>
        <% end %>  
        <% if privilege?(:forward_ticket) %>
					<%= link_to_function('', 
								"jQuery('##{forward_note_id}').show().trigger('afterShow'); invokeRedactor('#{forward_note_id}-body') " ,
								:class => "conv-action-icon conv-actions-forward tooltip", :title => t('fwd_to')) unless note.private %>
        <% end %>
        <% if privilege?(:forward_ticket) %>
					<%= link_to_function('', 
								"jQuery('##{reply_to_fwd_id}').show().trigger('afterShow'); invokeRedactor('#{reply_to_fwd_id}-body') " ,
								:class => "conv-action-icon ficon-reply forward-reply tooltip", :title => t('reply_to_fwd'))  if note.third_party_response? || note.fwd_email? || note.reply_to_forward?  %>
        <% end %>
        <% if privilege?(:edit_note, note) %>
					<%= link_to_function('', 
								"jQuery('##{notedetails}').addClass('hide'); jQuery('##{edit_id}').show().trigger('afterShow')",
								:class => "conv-action-icon conv-actions-edit tooltip", :title => t('edit')) if(note.note? && note.user && note.user.agent? && !note.reply_to_forward?) %>
        <% end %>
		    </div>
		    <% end %>
			<div class="author-mail-detail cc_bcc_info">
				<% kind %>
				<%= t("helpdesk.tickets.note.created_on_live.#{kind}", 
						:user_name => link_to_user(note.user), 
						:note_date => formated_date(note.created_at), 
						:timestamp => note.created_at.to_i 
					).html_safe %><br>
				<%unless survey_name.blank? %>
					<b><%= t("helpdesk.tickets.note.survey_response",{:survey_name => survey_name})%>
						<%unless agent_name.blank? %><%= t("helpdesk.tickets.note.survey_response_to",{:agent => agent_name})%><%end%></b>
				<%end%>
			</div>
			<%  if privilege?(:manage_tickets)
				conv_info = conversation_info(note) %>
				<div class="author-mail-detail">
				<%= content_tag :span, truncate(conv_info, :length => 100).html_safe, 
						:rel => "hover-popover",
						"data-placement" => "below",
						"data-content" => conversation_popover_details(note).to_str%>
				</div>
			<% end %>


			<%= content_tag :div, "", :id => "#{edit_id}", :class => "request_panel email-edit-form hide", :rel => "remote", 
									"data-remote-url" => edit_helpdesk_ticket_note_path(notable_object.display_id, note.id) %>
		    <%= content_tag :div, "", :id => forward_note_id, :class => "request_panel note-forward-form hide", :rel => "remote", 
							"data-remote-url" => forward_conv_helpdesk_ticket_path({ 
														:id => notable_object.display_id, 
														:note_id => note.id }) %>
			<% if current_account.features?(:custom_survey) %>
	          <%= render :partial => '/helpdesk/tickets/show/custom_survey_note' , :locals => {:note => note , 
                :ticket_info => ticket_info, :notedetails => notedetails ,:question_values => question_values} %>
	        <% else %>
            <%= render :partial => '/helpdesk/tickets/show/survey_note' , :locals => {:note => note , 
                :notedetails => notedetails} %>
			<%end%>

			<%= freshfone_audio_dom(note) %>
			<div id="note_attachments_container_<%= note.id%>">
						<%= render :partial => "/helpdesk/tickets/show/note_attachments", :formats => [:html], :locals => { :note => note }%>
			</div>
		</div>
		<%= remote_note_forward_form({  :id => forward_note_id,
									:path => forward_conv_helpdesk_ticket_path({
									:id => notable_object.display_id, 
				                    :note_id => note.id })
													}) %>


		<%= remote_note_forward_form({  :id => reply_to_fwd_id,
									:path => reply_to_forward_helpdesk_ticket_path({ 
				                    :id => notable_object.display_id, 
				                    :note_id => note.id })
				                    				}) %>
	</div>

	<script type="text/javascript">
		if (typeof(TICKET_DETAILS_DATA['last_note_id']) == 'undefined' ||	TICKET_DETAILS_DATA['last_note_id']  == null || TICKET_DETAILS_DATA['last_note_id'] < <%= note.id %>)
			TICKET_DETAILS_DATA['last_note_id'] = <%= note.id %>;
		if (typeof(TICKET_DETAILS_DATA['first_note_id']) == 'undefined' || TICKET_DETAILS_DATA['first_note_id']  == null || TICKET_DETAILS_DATA['first_note_id'] > <%= note.id %>)
			TICKET_DETAILS_DATA['first_note_id'] = <%= note.id %>;	
		
	</script>

	
</div>


