<%= link_to user_avatar(@ticket.requester, :thumb, 'preview_pic circle'), @ticket.requester, :class => 'avatar-wrap' %>
<% fb_message = @ticket.is_fb_message? %>
<% twitter_dm = @ticket.is_twitter? && @ticket.tweet.is_dm? %>
<% fb_comment = @ticket.is_fb_comment? %>
<div class="commentbox private-note <%= 'commentbox-social' if (fb_message || twitter_dm) %>">
	<% if fb_message %>
		<%= content_tag(:span, "", :class => "ficon-facebook-lock commentbox-social-icon") %>
	<% elsif twitter_dm %>
		<%= content_tag(:span, "", :class => "ficon-twitter-lock commentbox-social-icon") %>
	<% elsif fb_comment %>
		<%= content_tag(:span, "", :class => "ficon-chat-bubble commentbox-social-icon") %>
	<% end %>
	<div class="<%= 'helpdesk_note' if (fb_message || twitter_dm || fb_comment) %>">
	<h2 class="subject <%= 'show_full' if @ticket.deleted or @ticket.spam or params[:format]=='widget' %>">
		<% if @ticket.spam %>
			<span class='label spam'>
				<%= link_to("×", unspam_helpdesk_ticket_path(@ticket), :method => :put,
									:class => "tooltip", "data-placement" => "below", 
									:title => t('ticket.ham_btn_title')) unless params[:format]=='widget' %>
				<%= t("ticket.spam") %>

			</span>
		<% end %>
		<% if @ticket.deleted %>
			<span class='label deleted'>
				<%= link_to("×", restore_helpdesk_ticket_path(@ticket), :method => :put, 
							:class => "tooltip", "data-placement" => "below", 
							:title => t('ticket.restore_btn_title') ) unless params[:format]=='widget' 
							%>
				<%= t("ticket.deleted") %>
			</span>
			
		<% end %>

		<%
            customer_opinion = "" 
            survey_association = @ticket.account.features_included?(:custom_survey) ? "custom_survey_results" : "survey_results"
            unless @ticket.send(survey_association).nil? || @ticket.send(survey_association).last.nil?
              customer_opinion = ["<div class='customer-opinion ", @ticket.send(survey_association).last.get_small_img_class ,"'></div>"].join.html_safe
            end  
	    %>
	    <%=customer_opinion%>									

		<%= h(@ticket.subject) %>
	</h2>
	<div class="author-mail-detail">
		<div>
			<%= link_to_user(@ticket.requester).html_safe %> <%= t('ticket.reported') %> 
			<abbr data-livestamp="<%= @ticket.created_at.to_i %>"></abbr> 
			(<%= formated_date(@ticket.created_at) %>)
			<%= t('ticket.via')%>
			<% if @ticket.is_twitter? %>
				<span class="ficon-twitter fsize-12 pr5 pl5"></span> <%= @ticket.tweet.twitter_handle.screen_name %> 
			<% elsif @ticket.is_facebook? %>
				<span class="ficon-facebook-setting fsize-12 pr5 pl5"></span> <%= @ticket.fb_post.facebook_page.page_name %>
			<% else %>
				<%= @ticket.source_name %>
			<% end %>


			<%= metainfo(@ticket) unless @ticket.mobihelp? %>
			<% if @ticket.requester %>
				<% if @ticket.is_twitter? && @ticket.tweet.is_mention? %>
				<div class="ticket-details-twitter">
					<span class="ficon-twitter fsize-16 mr6"></span><%= link_to(t('ticket.view_twitter'),
					    "http://twitter.com/#{@ticket.requester.twitter_id}/status/#{@ticket.tweet.tweet_id}", 
					     :id => "ViewConvo", :target => "_blank") %>
				</div>
				<% elsif @ticket.is_facebook? && @ticket.is_fb_wall_post? %>
				<div class="ticket-details-twitter">
					<span class="ficon-facebook-setting fsize-16 mr6"></span>
						<%= link_to(t('ticket.view_facebook'), facebook_link, :id => "ViewConvo", :target => "_blank") %>
				</div>
				<% end %>
			<% end %>
		</div>
		<% created_by_agent_info = created_by_agent(@ticket) %>
		<% unless created_by_agent_info.blank? %>
      		<%= t('ticket.created_by') %> <%= created_by_agent_info %> 
      	<% end %>
		<div class="info"> 
			<%= content_tag :div, multiple_emails_container(@to_emails, "To: ") unless @ticket.cc_email_hash.blank? or @to_emails.blank? %>
			<%= content_tag :div, multiple_emails_container(@ticket.cc_email_hash[:cc_emails], "Cc: ") unless @ticket.cc_email_hash.blank? %>
      	</div> 
	</div>
	<div id="ticket_original_request" class="request_mail">
    	<%= @ticket.description_html.html_safe %>
	</div>

	<%= freshfone_audio_dom %>

	<% unless @ticket.ticket_topic.nil? %>
	<div class="info-highlight">
		<%= t("helpdesk.tickets.show.linked_ticket") %>
    <% if privilege?(:view_forums) %>
    "<%= link_to("#{truncate(@ticket.topic.title)}", discussions_topic_path(@ticket.topic.id), :class => "link_to") %>"
    <% else %>
      "<%= truncate(@ticket.topic.title)%>"
    <% end %>
	</div>
	<% end %>

	<% unless @ticket.attachments.empty? and @ticket.cloud_files.empty? %>
		<span class="seperator"></span>
		<div class="attachments-wrap clearfix">
			<h5><strong><%= pluralize(@ticket.attachments.size + @ticket.cloud_files.size, t('attachment'), t('attachments'))%></strong></h5>
			<ul class="attachment_list">
			    <% @ticket.attachments.each do |attached| %> 
			    	<%= attachment_list(attached, privilege?(:edit_ticket_properties), "ticket",nil) %>
			    <% end %>

			    <% @ticket.cloud_files.each do |cloud_file| %> 
						<%= attachment_list(cloud_file, privilege?(:edit_ticket_properties), "cloud_file",nil) %>
					<% end %>
			</ul>
		</div>
	<% end %>
	<%= itil_ticket_tabs %>
</div>
</div>
