<%= link_to user_avatar(@ticket.requester), @ticket.requester, :class => 'avatar-wrap' %>
<div class="commentbox">
	<div class="author-mail-detail">
		<div>
			<%= show_contact_hovercard(@ticket.requester) %> <%= t('ticket.reported') %> 
			<abbr data-livestamp="<%= @ticket.created_at.to_i %>"></abbr> 
			(<%= formated_date(@ticket.created_at) %>)
			via <%= @ticket.source_name %>
			<% 
				metainfo = @ticket.notes.find_by_source(Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["meta"]) 
				humanized_meta = UserAgent.parse(metainfo.body.strip[12..-2]) if metainfo.present?
			%> 

			<%= content_tag :span, t("helpdesk.tickets.show.meta"), 
							:title => "#{humanized_meta.browser} #{humanized_meta.version} / #{humanized_meta.os}", 
							:class => "meta_icon tooltip" unless(metainfo.blank?) %>
			<% if @ticket.requester && @ticket.is_twitter? && @ticket.tweet.is_mention? %>
			<div class="ticket-details-twitter">
				<span class="twitter-logo"></span><%= link_to(t('ticket.view_twitter'),
				    "http://twitter.com/#{@ticket.requester.twitter_id}/status/#{@ticket.tweet.tweet_id}", 
				     :id => "ViewConvo", :target => "_blank") %>
			</div>
			<% end %>
		</div>
		<div class="info"> 
			<%= content_tag :div, multiple_emails_container(@to_emails) unless @ticket.cc_email_hash.blank? or @to_emails.blank? %>
			<%= content_tag :div, multiple_emails_container(@ticket.cc_email_hash[:cc_emails]) unless @ticket.cc_email_hash.blank? %>
      	</div> 
	</div>
	<div id="ticket_original_request" class="request_mail">
    	<%= @ticket.description_html %>
	</div>
	<% unless @ticket.ticket_topic.nil? %>
	<div class="info-highlight">
		<%= t("helpdesk.tickets.show.linked_ticket") %>
    <% if privilege?(:view_forums) %>
    "<%= link_to("#{truncate(h(@ticket.topic.title))}", category_forum_topic_path(@ticket.topic.forum.forum_category.id, @ticket.topic.forum.id, @ticket.topic.id), :class => "link_to") %>"
    <% else %>
      "<%= truncate(h(@ticket.topic.title)) %>"
    <% end %>
	</div>
	<% end %>

	<% unless @ticket.attachments.empty? and @ticket.dropboxes.empty? %>
		<span class="seperator"></span>
		<div class="attachments-wrap clearfix">
			<h5><strong><%= pluralize(@ticket.attachments.size + @ticket.dropboxes.size, t('attachment'), t('attachments'))%></strong></h5>
			<ul class="attachment_list">
			    <%= render :partial => '/helpdesk/tickets/show/attachment.html', :collection => @ticket.attachments, :locals => {:show_delete => true, :url => [@ticket] } %>
			    <% @ticket.dropboxes.each do |dropbox| %> 
					<%= render :partial => '/helpdesk/tickets/show/dropbox.html',:locals => {:dropbox=>dropbox, :show_delete => true, :url => [@ticket] } %>
				<%end%>
			</ul>
		</div>
	<% end %>
</div>