<%= javascript_tag do %> 
  function lookup(searchString, callback) { 
    new Ajax.Request('<%=requesters_search_autocomplete_index_path%>?q='+encodeURIComponent(searchString), 
                                              { 
                                              method : "GET",
                                              onSuccess: function(response) {
                                                var choices = $A();
                                                response.responseJSON.results.each(function(item){
                                                  choices.push([item.details, item.details]);
                                                });                                                
                                                callback(choices);
                                              } });
                                            }
  var cachedBackend = new Autocompleter.Cache(lookup, {searchKey: 0, choices: 10});
  var cachedLookup = cachedBackend.lookup.bind(cachedBackend);

<% end %>
<%
  hide_class = conv_id.nil? ? "hide" : "" 
  note_details_id = conv_id.nil? ? "" : "note_details_#{@note.id}"
  %>
<div class="request_panel <%=hide_class%>" id="<%=cntid%>" rel="emitter" data-node-name="agent_replying">
  
  <div class="form_title"><%= t('.title') %>: <span><%= @ticket.from_email %></span> </div>
  <div class="list_agents_replying" class="hide"></div>
  <%= form_for note, :url => reply_helpdesk_ticket_conversations_path(@ticket), :html => { 
                        :multipart => true, 
                        :id => "HelpdeskReply",
                        "data-panel" => cntid,
                        "data-show-pseudo-reply" => 'true',
                        "data-fetch-latest" => 'true',
                        "data-cnt-id" => cntid,
                        "data-destroy-editor" => 'true',
                        "data-fulltext" => true
                      } do |f| %>
    <%= f.error_messages %>

    
    <ul class="ui-form dont-validate botm-space">
      <li class="inline-field field" >
          <%= f.label(:reply_email, t("ticket.from"), :class => "mailaddr-label from" ) %>
          <div class="request_form_options">
            <a  href="#" rel="toggle_email_container" id="add_cc_btn_<%=cntid%>"
                class="<%=@to_cc_emails.blank? ? '' : 'hide' %>" 
                data-container="cc-form-container-<%=cntid%>" 
                data-toggle-button="add_cc_btn_<%=cntid%>"
                data-toggle-checkbox="include_cc">
              <%= t(".cc") %>
            </a>
            <a  href="#" rel="toggle_email_container" id="add_bcc_btn-<%=cntid%>" 
                class="<%=bcc_drop_box_email.blank? ? '' : 'hide' %> "
                data-container="bcc-form-container-<%=cntid%>"
                data-toggle-button="add_bcc_btn-<%=cntid%>" 
                data-toggle-checkbox="include_bcc" >
              <%= t(".bcc") %>
            </a>
          </div>
          <input type="checkbox" class="hide" id="include_cc" name="include_cc"  <%=@to_cc_emails.blank? ? "" : "checked" %>  />              
          <input type="checkbox" class="hide" id="include_bcc" name="include_bcc" <%=bcc_drop_box_email.blank? ? "" : "checked" %> />
          
          <%#= select :reply_email, :id, options_for_select(@reply_emails, @selected_reply_email),{}, {:class => 'select2 responder_field'} %>
          <select id="reply_email_id" name="reply_email[id]" class="select2 responder_field">
            <% @reply_emails.each do |re| %>
              <% if re[1].downcase == @selected_reply_email.downcase %>
                <% @selected_email_config_id = re[0]%>
                <option value="<%=re[1]%>" data-email-config-id="<%=re[0]%>" selected="selected"><%= h re[1]%></option>
              <% else %>
                <option value="<%=re[1]%>" data-email-config-id="<%=re[0]%>"><%= h re[1]%></option>
              <% end %>  
            <%end%>
          </select>
      </li>
      <li class="inline-field field <%=@to_cc_emails.blank? ? "hide" : "" %> cc_fields" id="cc-form-container-<%=cntid%>">
        <label class = "mailaddr-label" for="cc_emails_<%=cntid%>"><%= t(".cc") %>:</label>
        <a href="#" class="clear_emails" rel='toggle_email_container' 
            data-container="cc-form-container-<%=cntid%>" 
            data-toggle-button="add_cc_btn_<%=cntid%>" 
            data-clear="true"><%= t('clear') %></a>
            <div class="email_container">
              <input type="text" id="cc_emails_<%=cntid%>" name="helpdesk_note[cc_emails]" />
              <%= javascript_tag do %>
                new Autocompleter.MultiValue("cc_emails_<%=cntid%>", cachedLookup, $A(<%= @to_cc_emails.map{|item|[item, item]}.to_json.html_safe %>), {frequency: 0.1, acceptNewValues: true, allowSpaces: true, separatorRegEx:/;|,/});
              <% end %>
            </div>
      </li>
      <li class="inline-field field <%=bcc_drop_box_email.blank? ? "hide" : '' %>  cc_fields" id="bcc-form-container-<%=cntid%>">
        <label class = "mailaddr-label" for="cc_emails_<%=cntid%>"><%= t(".bcc") %>:</label>
        <a href="#" class="clear_emails" rel='toggle_email_container' 
            data-container="bcc-form-container-<%=cntid%>" 
            data-toggle-button="add_bcc_btn-<%=cntid%>" 
            data-clear="true"><%= t('clear') %></a>
            <div class="email_container">
              <input type="text" id="bcc_emails_<%=cntid%>" name="helpdesk_note[bcc_emails]" />
              <%= javascript_tag do %>
                new Autocompleter.MultiValue("bcc_emails_<%=cntid%>", cachedLookup, $A(<%= bcc_drop_box_email.to_json.html_safe unless bcc_drop_box_email.blank? %>), {frequency: 0.1, acceptNewValues: true, allowSpaces: true, separatorRegEx:/;|,/});
              <% end %>
            </div>
      </li>
      <li class="inline-field field clearField message">
        <%= render :partial => 'helpdesk/tickets/show/editor_insert_buttons', :locals => { :cntid => cntid } %>
        <% conv_item = conv_id.nil? ? @ticket : @note %>
        <%= f.fields_for(:note_body, Helpdesk::NoteBody.new) do |ff| %>
            <%= ff.text_area :body_html, :class => "required", :id => "#{cntid}-body", 
                              :value => bind_last_reply(conv_item, @signature),
                              :"data-quoted-textarea" => "##{cntid}-quoted", :"data-wrap-font-family" => true %>
            <%= ff.text_area :full_text_html, :id => "#{cntid}-body-fulltext", :value => "", :style => "display:none;" %>
            <%= text_area_tag "quoted_text_html", h(quoted_text(conv_item)), { :id => "#{cntid}-quoted", :class => "hide" } %>
        <% end %>        
      </li>
      <li class="inline-field field continous file_size_alert hide" id="file_size_alert_<%= cntid %>">
        <span class="alert-text"><%= t('helpdesk.tickets.show.reply_form.not_sent') %></span>
        <%= t('helpdesk.tickets.note.attachment_size.exceed') %>
      </li>
      <li class="inline-field field attachment-options continous" id="attachment-options-reply">
          <% unless local_assigns[:no_attachments] %>
          <%= render :partial => "/helpdesk/tickets/show/attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
          <% end %>    
      </li>
        <% if is_application_installed?("screenr")%>
          <li>
          <%= render :partial => "shared/screenr_recorder", :locals => { :location => "agent_ticket" } %>
          </li>
        <% end %>
    </ul>
    
      <!-- reply will be always public -->
      <%= f.hidden_field :private , :value => false %>
      <!--reply source will be always email-->
      <%= f.hidden_field :source , :value => Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["email"] %>
      <%= f.hidden_field :to_emails , :value =>  @ticket.from_email %>
      <%= f.hidden_field :from_email, :id => "reply_from_email_#{cntid}", :value => @selected_reply_email%>
      <%= f.hidden_field :email_config_id, :value => @selected_email_config_id %>
      <%= hidden_field_tag(:page , params[:page], :id=>:page  ) unless params[:page].nil? %>
      <%= hidden_field_tag :last_note_id,'', :value => @last_note_id, :class => "last_note_id" %>

      <div class="clearfix zeroh" ></div>
      <div class="post_in_forum">

        <span class="reply-draft" id="reply-draft">
          <%= content_tag :div, "#{t("draft")} #{t("saved_draft")}", :class => "sav tooltip", "data-placement" => "below", :id => "draft-save", "title" => t("last_draft") %>
        </span>

        <% if privilege?(:view_forums) && !@ticket.ticket_topic.nil? && !(@ticket.ticket_topic.topic.locked) %>    
          <label>
              <%= check_box_tag :post_forums %><%= t("ticket.reply_form.post_to_linked_forum") %>
          </label>
        <% end %>

        <% show_satisfaction_survey_checkbox = @ticket.account.survey.can_send?(@ticket,
                                        Survey::SPECIFIC_EMAIL_RESPONSE) 
           show_surveymonkey_checkbox = Integrations::SurveyMonkey.show_surveymonkey_checkbox? @ticket.account
        %>

        <% if show_satisfaction_survey_checkbox and !show_surveymonkey_checkbox%>
          <label>
            <%= check_box_tag :send_survey %><%= t("ticket.reply_form.send_satisfaction_survey") %>
          </label>
        <% elsif !show_satisfaction_survey_checkbox and show_surveymonkey_checkbox %> 
          <label>
            <%= check_box_tag :include_surveymonkey_link %><%= t("integrations.surveymonkey.include_surveymonkey_link") %>
          </label>
        <% elsif show_satisfaction_survey_checkbox and show_surveymonkey_checkbox %>
          <div class="btn-group survey-button">
             <a rel="click-popover-below-left" class="btn dropdown-toggle" data-widget-container="survey-checkbox-container">
              <%= t("integrations.surveymonkey.include_survey") %>&nbsp;<span class="caret"></span>
            </a>
            <div class="hide" id="survey-checkbox-container">
              <div class="survey-dropdown ">
                <label class="checkbox">
                  <input type="checkbox" name="send_survey" survey-checkbox="true">
                  <%= t("ticket.reply_form.send_satisfaction_survey") %>
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="include_surveymonkey_link" survey-checkbox="true">
                  <%= t("integrations.surveymonkey.include_surveymonkey_link") %>
                </label>
              </div>
            </div>
          </div>
          <input type="hidden" id="send_survey" name="send_survey" value="false"> 
          <input type="hidden" id="include_surveymonkey_link" name="include_surveymonkey_link" value="false"> 
          <script type="text/javascript">
            jQuery(document).ready(function(){
              jQuery("body div.popover input[survey-checkbox=true]").live('click', function(){
                jQuery('#' + jQuery(this).attr('name')).val(jQuery(this)[0].checked?1:0);
              });
            });
          </script>
        <% end %>
      </div>      

      <div class="btn-toolbar">
        <span>
          <%= link_to(t('cancel'), '#', :class => "btn cancel_btn reply_agent_collision", "data-show-pseudo-reply" => 'true',"data-cnt-id" => cntid , "data-clear-draft" => 'true', "data-editor-id" => 'cnt-reply-body') %>
        </span>

        <span class="btn-group  <% if privilege?(:edit_ticket_properties) %>dropup<%end%>">
          <button class="btn btn-primary submit_btn">
            <%= t('ticket.reply_form.send') %>
          
          <% if privilege?(:edit_ticket_properties) %>
            <button id="reply_dialog" class="btn btn-primary dropdown-toggle dialog-btn" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </button>
          <% end %>
          </button>
          <% if privilege?(:edit_ticket_properties) %>
          <ul id="conversation_reply" data-menu-hover-in='li' data-menu-trigger="a" class="menuselector dropdown-menu custom_statuses pull-right">
            <%
            ticket_statuses = current_account.ticket_status_values.reject{|status| status.status_id == 2 }
            %>
            <% ticket_statuses.each do |status| %>
            <li>
              <a href="#" rel="custom-reply-status" data-status-name='<%= status.name %>' data-cnt-id='<%=cntid%>' data-status-val='<%= status.status_id %>' class="reply_agent_collision" >
                <%= t('ticket.reply_form.send_and_set_as', 
                      { :status => (status.is_default ? t(status.name.downcase) : status.name) }).html_safe %>
                </a>
              </li>
              <% end %>
            </ul>
          <% end %>
        </span>
        
      </div>

    <% end %>
</div>
<% content_for :pagefixed do %>
  <%= javascript_tag do %>

    jQuery("#HelpdeskReply")      
      .bind("submit", function(ev){
      if(!jQuery('#include_bcc').is(':checked'))
          jQuery('[name="helpdesk_note[bcc_emails][]"]').val('');
          isDirty = false;
      })
      .validate();  

    jQuery('#HelpdeskReply select#reply_email_id').live('change',function(e){
      var selectObj = jQuery(e.target),
          form = e.target.form,
          fromEmail = selectObj.val();
          form['helpdesk_note[from_email]'].value = fromEmail;
          email_config_id = jQuery(selectObj).find(":selected").data().emailConfigId;
          form['helpdesk_note[email_config_id]'].value = email_config_id;
    });

  <% end %>
<% end %>
