<div class="widget clearfix" id="requester_info">
	<h3><%=t('ticket.requestor_info')%></h3>
	<div class="content">
	<div class="tkt-tabs-wrap">
		<ul class="tkt-tabs">
			<li><a href="#contact_info_default" class="requester-info-sprite requester-info-default"></a></li>
			<%
			crm_apps=[:sugarcrm, :salesforce, :batchbook, :highrise, :nimble, :zohocrm, :capsule_crm]
			crm_apps.each do |crm_app| 
				if !@ticket.ecommerce? and is_application_installed?(Integrations::Constants::APP_NAMES[crm_app]) %>   
				<li><a href="#contact_info_<%=crm_app%>" class="requester-info-sprite requester-info-<%=crm_app%>"></a></li>
				<% 
				end 
			end
			%> 
		</ul>
	</div>
	<%

	user = @ticket.requester 
	contact = (privilege?(:view_contacts) && current_user.can_view_all_tickets?) ? user : "javascript:void(0)"
	%>
	<div id="contact_info_default" class='requester_tab'>
		<div class="requester-details">
			<%= render :partial => "contacts/hover_card", :locals => { 
					:user => user, 
					:show_recent_tickets => :dialog,
					:ticket => @ticket
				} %>
		</div>
	</div>
	<%
	crm_apps.each do |crm_app| 
		if !@ticket.ecommerce? and is_application_installed?(Integrations::Constants::APP_NAMES[crm_app]) %>
	<div id="contact_info_<%=crm_app%>" class='requester_tab'>

		<%
		@liquid_objects = {"requester" => @ticket.requester}
		widget_code = get_app_widget_script(Integrations::Constants::APP_NAMES[crm_app], "#{crm_app}_widget", @liquid_objects) 
		%>
		<textarea class="hide"><div id="<%=crm_app%>"><%= Liquid::Template.parse(widget_code).render("ticket" => @ticket) %></div></textarea>
		
	</div>
	<% 
		end 
	end
	%>
	</div>
</div>