<div class="widget clearfix" id="requester_info">
	<h3><%=t('ticket.requestor_info')%></h3>
	<div class="content">
	<div class="tkt-tabs-wrap">
		<ul class="tkt-tabs">
			<li><a href="#contact_info_default" class="requester-info-sprite requester-info-default"></a></li>
			<%
			crm_apps=[:sugarcrm, :salesforce, :batchbook, :highrise, :nimble, :zohocrm, :capsule_crm]
			crm_apps.each do |crm_app| 
				if is_application_installed?(Integrations::Constants::APP_NAMES[crm_app])  %>   
				<li><a href="#contact_info_<%=crm_app%>" class="requester-info-sprite requester-info-<%=crm_app%>"></a></li>
				<% 
				end 
			end
			%> 
		</ul>
	</div>
	<%

	user = @ticket.requester 
	contact = (privilege?(:view_contacts) && current_user.can_view_all_tickets?) ? user : "javascript:void(0)"
	%>
	<div id="contact_info_default" class='requester_tab'>
		<div class="requester-avatar-wrap">
			<%= user_avatar(user)  %>
		</div>

		<div class="requester-details">
			<p><%= link_to(h(user.name), contact, :class => "user_name") %></p>
			<p><%= render :partial => "helpdesk/tickets/components/company_info.html.erb", :locals => { :user => user } %></p>
			<%= content_tag(:p, "#{t('user.email')}: #{render_item(h(user.email), "link")}".html_safe ) unless user.email.blank? %>
			<%= content_tag(:p, "#{t('user.twitter_id')}: #{render_item(h(user.twitter_id),'twitter')}".html_safe ) unless user.twitter_id.blank? %>
			<%= content_tag(:p, "#{t('user.facebook')}: #{render_item(h(user.fb_profile_id), "facebook")}".html_safe ) unless user.fb_profile_id.blank? %>
			<%= content_tag(:p, "#{t('user.phone_no')}: #{h(user.phone)}".html_safe ) unless user.phone.blank? %>
			<%= content_tag(:p, "#{t('user.mobile')}: #{h(user.mobile)}".html_safe ) unless user.mobile.blank? %>
			
			<% if current_user.can_view_all_tickets? %>
			<div class='more_details'>
				<%= link_to( "Recent tickets", "/helpdesk/tickets/component/#{@ticket.id}?component=requester_tickets", 
										  				:rel => 'freshdialog', "data-target" => "#requester_tickets",
										  				"data-template-footer" => "",

										  				:title => t('contacts.info4',:nick_name => CGI.escapeHTML(h(user.display_name))) ) %>
			</div>
			<% end %>
		</div>
		<div class="clearfix"></div>
		
	</div>
	<%
	crm_apps.each do |crm_app| 
		if is_application_installed?(Integrations::Constants::APP_NAMES[crm_app])  %>
	<div id="contact_info_<%=crm_app%>" class='requester_tab'>

		<%
		@liquid_objects = {"requester" => @ticket.requester}
		widget_code = get_app_widget_script(Integrations::Constants::APP_NAMES[crm_app], "#{crm_app}_widget", @liquid_objects) 
		%>
		<textarea class="hide"><div id="<%=crm_app%>"><%= Liquid::Template.parse(widget_code).render("ticket" => @ticket) %></div></textarea>
		
	</div>
	<% 
		end 
	end
	%>
	</div>
</div>