
<div class="tkt-sidebar" id="ticket_details_sidebar">
	<%= render :partial => 'helpdesk/tickets/show/status', :locals => {:ticket => @ticket} unless @ticket.deleted or @ticket.spam %>
	<%= render :partial => "helpdesk/tickets/show/requester" %> 
	<%= render :partial => "helpdesk/tickets/show/app_info" , :locals => {:ticket => @ticket} if @ticket.mobihelp? and @ticket.mobihelp_ticket_info %>
	<% unless @ticket.deleted or @ticket.spam %> 
		<div class="widget" id='TicketProperties'>
			<h3 class="title"><%=t('ticket.properties')%></h3>
			<div class="content" data-remote-url="/helpdesk/tickets/<%= @ticket.id %>/component?component=ticket_fields"></div>
		</div>

		<% if feature?(:timesheets) && privilege?(:view_time_entries) %>
		<div class="modal hide fade" role="dialog" id="timesheets_loading">
			<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button></div>
			<div class="modal-body"><div class="sloading loading-small loading-block"></div></div>
		</div>
		<div class="widget time-tracked inactive load_remote" id="TimesheetTab">
			<h3>
				<%= t('helpdesk.time_sheets.sidebar_title') %>
				<div class="tracked_time">
					<span class="time" id="timeentry_timer_total" data-static-total="true"><%= get_time_in_hours(@ticket.time_tracked) %></span>
					<span class="time_unit">Hrs </span>
				</div>
			</h3>
			<div class="content" rel="remote" data-remote-url="<%= helpdesk_ticket_time_sheets_path(@ticket) %>"></div>
		</div>
		<% end %>
		<div class="widget inactive load_remote" id="ToDoList">
			<h3><%= t('to_do') %></h3>
			<div class="content" rel="remote" data-remote-url="/helpdesk/tickets/<%= @ticket.id %>/component?component=todo"></div>
		</div>
		
		<%= render :partial => "helpdesk/tickets/show/integrations" %> 
	<% end %>
</div>
