<div class="open-box">
<% unless (@ticket.onhold_and_closed? or @ticket.ticket_status.deleted?)%>
	<h4 class="title"><%= h(@ticket.status_name) %></h4>
	<p>
		
		<%=t( @ticket.due_by > Time.now() ? 'ticket_future_due_by' : 'ticket_past_due_by',
				 {:time => distance_of_time_in_words(Time.now(), @ticket.due_by)}) %>
		on <a id="edit-due-by-time" 
					data-placement="topRight" 
					href="#" 
					data-widget-container="due-date-dialog-container">
			<%= formated_date(@ticket.due_by) %>
		</a>
	</p>
<% else %>
	<% if @ticket.ticket_status.deleted? %>
		<h4 class="title deleted tooltip" data-placement="left" title="<%=t('status_deleted')%>">
			<%= h(status_changed_time_value_hash(@ticket)[:title]) %>
		</h4>
	<% else %>
		<h4 class="title">
			<%= h(status_changed_time_value_hash(@ticket)[:title]) %>
		</h4>
	<% end %>
	<p>
		<%= t('since') %> <%= distance_of_time_in_words(Time.now(), @ticket.due_by) %> 
		from <%= formated_date(@ticket.ticket_states.send(status_changed_time_value_hash(@ticket)[:method])) %>
	</p>
<% end %>
</div>