<div id="sticky_header"  rel="sticky" data-scroll-top = "true" class="tkt-details-sticky btn-collapse" data-sticky-bottom="true" data-class-for-btn-wrapper="ticket-btns" data-button-text="<%= t("more") %>">
	<div class="sticky_right">
		<div class="status_info">

		</div>
		<% unless @ticket.deleted or @ticket.spam or params[:format]=='widget' %>
		<div class="pagination-link" id="adjacents">
			<ul>
				<li>
					<a id="next_page" href="#" class="page-btn btn disabled"><span class="arrow-next"></span></a>
				</li>
				<li>
					<a href="#" class="page-btn btn disabled"><span class="arrow-previous"></span></a>
				</li>
			</ul>
		</div>
		<% if Account.current.launched?(:activity_ui) %>
			<div id="activity_toggle" title='<%= t('ticket.show_activities_tooltip') %>'  data-show-title = '<%= t('ticket.show_activities_tooltip') %>' data-hide-title= '<%= t('ticket.hide_activities_tooltip') %>' data-keybinding="<%= shortcut('ticket_detail.show_activities_toggle') %>"
				class="activity_toggle btn clearfix tooltip" data-toggle="button" data-placement = "below"
				 data-highlight="true">
				<div class="text">
					<i class="ficon-tick activities_tick"></i>
					<%= t('ticket.activity_toggle_v2') %>
				</div>
			</div>
		<% else %>
			<div id="activity_toggle" title='<%= t('ticket.activity_toggle') %>' 
				class="activity_toggle btn clearfix tooltip" data-toggle="button" data-placement = "below"
				data-keybinding="<%= shortcut('ticket_detail.show_activities_toggle') %>" data-highlight="true">
				<div class="text"><%= t('ticket.activity_toggle') %></div>
				<span class="visible">Yes</span><span>No</span>
			</div>
		<% end %>

		<div class="ticket-actions" data-domhelper-name="ticket-actions">
			<ul class="collapse-content" data-domhelper-name="ticket-action-options">
				<% unless @ticket.deleted or @ticket.spam %>
				<li class="ticket-btns">
					<div class="watchers_tooltip hide" id="new_watcher_page"
						rel="remote-load" 
						data-url= "<%=helpdesk_ticket_subscriptions_path(@ticket)%>"
						data-load-unique="true" >
						<span class="arrow-top"></span>
					</div>
					<% unless params[:format]=='widget' %>
					<div id="watcher_toggle" class="btn monitor_div tooltip" data-placement = "below"
						title='<%= "#{t('helpdesk.tickets.add_watcher.toggle_watch')}" %>' 
						data-hotkey='<%="#{shortcut('ticket_detail.toggle_watcher')}" %>'
						data-watching="<%= @ticket.subscriptions.map(&:user_id).include? current_user.id %>" >
						<span id="monitor" data-remote-url = "/helpdesk/tickets/<%= @ticket.display_id %>/subscriptions/">
							<%= render :partial => "/helpdesk/subscriptions/monitor" %>
						</span>
					</div>
					<% end %>
				</li>
				<% end %>

				
				<li class="ticket-btns">
					<div class="btn-group">
						<% if privilege?(:reply_ticket)  && (@ticket.twitter? or @ticket.facebook? or @item.from_email.present? or @ticket.mobihelp? or @ticket.allow_ecommerce_reply?) %>
							<a class="btn tooltip btn-collapse" title='<%= t('ticket.reply_to') %>' data-placement = "below" 
					  		rel="note-button" data-note-type="reply" id="ReplyButton"  data-keybinding="<%= shortcut('ticket_detail.reply') %>" 
					  		data-highlight="true" data-domhelper-name="reply-sticky-button"
							  data-replyto-handle="<%= @ticket.twitter? ? default_twitter_body_val(@ticket) : "" %>" >
					  		<span class="reply-inner"></span>
				    		<%= t('ticket.reply_to')  %>
				    	</a>
						<% end %>
						<% if privilege?(:forward_ticket) %>
					  	<a href="#" id="FwdButton" class="btn tooltip btn-collapse" title='<%= t('fwd_to') %>'
					  		data-placement = "below" rel="note-button" data-note-type="fwd" data-keybinding="<%= shortcut('ticket_detail.forward') %>"
								data-domhelper-name="fwd-sticky-button"
					  		data-highlight="true" >
					  		<span class="forward-inner"></span>
				    		<%= t('fwd_to') %>
				    	</a>
				    	<% end %>
					  	<a href="#" id="noteButton" rel="note-button" class="btn tooltip btn-collapse" title='<%= t('ticket.add_note') %>'
					  		data-placement = "below" data-note-type="note" data-keybinding="<%= shortcut('ticket_detail.add_note') %>"
								data-domhelper-name="note-sticky-button"
					  		data-highlight="true" >
					  		<span class="note-inner"></span>
							<%= t('ticket.add_note') %>
						</a>
					</div>
				</li>
				<% if privilege?(:edit_ticket_properties) %>
				<li class="ticket-btns hide_on_collapse">
					<%= link_to(t('ticket.close_btn'), "#",
							:title  => t('ticket.close_without_notification'),
							:class => "btn tooltip btn-collapse" , :id=>"close_ticket_btn" ,
							:rel => "close_ticket_btn", "data-placement" => "below", "data-domhelper-name" => "ticket-close-btn",
							"data-href" => close_helpdesk_ticket_path({:id => @ticket.display_id, :page => params[:page]})) unless @ticket.closed?
					%>
				</li>
				<% end %>
				<% if privilege?(:merge_or_split_ticket) && @ticket.association_type.blank? %>
				<li class="ticket-btns hide_on_collapse">
					<a href="#merge_freshdialog" class="btn btn-collapse reload-action" 
						data-width="800" 
						data-ticket-display-id = "<%= @ticket.display_id %>"
						rel="freshdialog"
						data-action="merge"
						data-title="<%=t('ticket.merge_title')%>" 
						data-placement = "below"
						data-template-footer="false"
						data-target="#merge_freshdialog"
		                >
		                <%=t('ticket.merge_btn')%>
		            </a>
				</li>
				<div id="merge_freshdialog" class="hide">
		            <span class="loading-block sloading loading-small">
		            </span>
				</div>
				<% end %>
				<!-- <li class="ticket-btns hide_on_collapse">
		            <a href="#" data-placement = "below" class="btn btn-collapse lnk_tkt_tracker_show_dropdown" id="lnk_tkt_tracker" data-toggle="popover" data-dropdown="close" data-ticket-id="<%= @ticket.display_id %>"><%=t('ticket.link_tracker.btn')%></a>
				</li>
				<%= render(:partial => "helpdesk/tickets/show/link_tracker_template") %> -->
				<li class="ticket-btns hide_on_collapse scenario reload-action">
					<div class="tooltip keytitle" title='<%="#{t('ticket.execute_scenario')}"%>' data-placement = "below" data-hotkey='<%="#{shortcut('ticket_detail.scenario')}"%>'>					
					 <%= link_to( t('ticket.scenarios'), "/helpdesk/tickets/#{@ticket.id}/component?component=scenarios", 
					  				:rel => 'freshdialog', "data-target" => "#execute_scenario", :class => 'btn btn-collapse', "data-keybinding" => shortcut('ticket_detail.scenario'), "data-highlight" => true, "data-template-footer" => "",
					  				'data-template-header' => "<div class='modal-header'><span><h3 class='modal-heading-with-button'>" + t('ticket.execute_scenario') + "</h3></span><a href='/helpdesk/scenario_automations/new' target='_blank' class='pull-right modal-header-button'>" + t('ticket.create_new_scenario') + "</a></div>")
					  				 %> 
					</div>
				</li>

			  	<% if feature?(:timesheets) && privilege?(:view_time_entries) %>
			  	<li class = "collapse_on_default">
			  		<%= link_to t('ticket.add_time'), "#", :rel => "triggerAddTimer", "data-keybinding" => shortcut('ticket_detail.add_time') %>
			  	</li>
			  	<% end %>

			  	<% if (feature?(:forums) && privilege?(:create_topic) && @ticket.ticket_topic.nil? && @ticket.requester.active?) %>		
			  	<li class = "collapse_on_default reload-action">		
			  		<%= link_to t('ticket.convert_to_topic'),new_discussions_topic_path(:ticket_id => @ticket.display_id) %>		
			  	</li>		
			  	<% end%>

			  	<% if privilege?(:edit_ticket_properties) and !@ticket.outbound_email?%>
			  	<li class = "collapse_on_default edit reload-action">
			  		<%= link_to(t('ticket.edit_btn'), edit_helpdesk_ticket_path(@ticket)  ) %>
			  	</li>
			  	<% end %>

			  	<li class = "collapse_on_default">
			  		<%= link_to( "Print", print_helpdesk_ticket_path(@ticket), :target => "_blank") %>
			  	</li>
			  	<li class = "collapse_on_default spam reload-action">
			  		<%= render :partial => "spam", :locals => { :ticket => @ticket, :page => params[:page] } %>
			  	</li>
			  	
			  	<% if privilege?(:delete_ticket) %>
			  	<li class = "collapse_on_default delete reload-action">
			  		<%= link_to(t('ticket.delete_btn'),
			  					helpdesk_ticket_path({:id => @ticket.display_id, :page => params[:page]}),
			  					:id => "delete_ticket",
			  					:method => :delete, 
			  					"data-domhelper-name" => "ticket-delete-btn", 
			  					"data-keybinding" => shortcut('ticket_detail.delete')) %>
  				</li>
  				<% end %>
			</ul>
		</div>
		<% end %>
	</div>

	<div class="sticky_left">
		<div>
			<%= link_to t('header.tabs.tickets').html_safe, helpdesk_tickets_path, 
										"data-pjax" => "#body-container", "data-parallel-url" => "/helpdesk/tickets/filter_options", 
										"data-parallel-placeholder" => '#ticket-leftFilter',
										:rel =>'link_ticket_list' %>
			/ <%= "#{t('ticket.singular')} <span id='ticket-display-id'>##{h(@ticket.display_id)}</span>".html_safe%>
		</div>
		<div class="source-badge-wrap">
			<div class='source <%= "priority_color_#{@ticket.priority} status_#{@ticket.status} " + 
				 		("spam" if @ticket.spam).to_s + 
				 		("deleted" if @ticket.deleted).to_s %>' id = "ar_notification" rel="ar-notice-popover">
				<span class="source_<%= @ticket.source %>" ></span><div class="ar_notification_bubble hide">0</div>
			</div>
		</div>
		<div id="agent_collision_placeholder"></div>

	</div>
</div>
<div class="clearfix"></div>
<%= javascript_tag do -%>
  jQuery(document).on("click", '[data-action="merge"]', function(ev){
  	var display_id = jQuery(this).data('ticketDisplayId');
      jQuery.ajax({
        type:              'POST',
        url:               '/helpdesk/merge_tickets/bulk_merge',
        data:              { source_tickets : display_id },
        success:           function(data){
                            jQuery('#merge_freshdialog-content').html(data);
                           }
     });

     
  });

  callFreshdialog = function(target){
  	var	confirm_text = I18n.t('ticket.association.'+target+'.<%= TicketConstants::TICKET_ASSOCIATION_TOKEN_BY_KEY[@ticket.association_type] %>');
  		title_submit = I18n.t('ticket.association.'+target+'.title_submit');
  		data = {
	      targetId : '#confirm-action',
	      title : title_submit,
	      submitLabel: title_submit,
	      width:  '500',
	      destroyOnClose : true  
	    }
    jQuery.freshdialog(data);
    jQuery('.modal-body').html("<div id='modal-content' data-target='#"+ target +"'>"+ confirm_text +"</div>");
  }	


  jQuery('body').off("click", "#delete_ticket, #spam_ticket");
  jQuery('body').on("click", "#delete_ticket, #spam_ticket", function(e){
  	var check = "<%= @ticket.association_type.present? %>";
  	var submit = jQuery(this).data('submit');
  	if(!submit && check == "true"){
  		e.preventDefault();
	    e.stopPropagation();
	    callFreshdialog(jQuery(this).attr('id'));
  	}
  });

  jQuery('body').off("click", "#confirm-action-cancel");
  jQuery('body').on("click", "#confirm-action-cancel", function(e){
    jQuery('#confirm-action').modal('hide');
  });

  jQuery('body').off("click", "#confirm-action-submit");
  jQuery('body').on("click", "#confirm-action-submit", function(e){
  	var action_id = jQuery('#modal-content').data('target');
    jQuery('#confirm-action').modal('hide');
    jQuery(action_id).data('submit', true);
	jQuery(action_id).trigger('click');
  });
 
<% end %>
