<% 
	default_field_order = [
			"default_priority", "default_status", 
			"default_source", "default_ticket_type", 
			"default_group", 
			"default_agent", 
			"default_product"
	]

	default_fields = []
	custom_fields = []
%>
<% current_portal.ticket_fields.each do |field| 
	
	if field.visible_in_view_form? 
		field_value = (field.is_default_field?) ? @ticket.send(field.field_name) : @ticket.get_ff_value(field.name)
		dom_type    = (field.field_type == "default_source") ? "dropdown" : field.dom_type
		if(field.field_type == "nested_field")
			field_value = {}
			field.nested_levels.each do |ff|
				field_value[(ff[:level] == 2) ? :subcategory_val : :item_val] = @ticket.get_ff_value(ff[:name])
			end
			field_value.merge!({:category_val => @ticket.get_ff_value(field.name)})
		end

		field_html = construct_ticket_element(:helpdesk_ticket, field, field.label, dom_type, field.required, field_value, '', false, false)
		if field.is_default_field?
			default_fields << [ field.field_type , field_html ]
		else
			custom_fields << field_html
		end

	end
end 
default_fields.sort! {|x,y| default_field_order.index(x.first) <=> default_field_order.index(y.first) }
%>
<% default_fields.each do |field| %>
	<%= field.last %>
<% end %>
<% custom_fields.each do |field| %>
	<%= field %>
<% end %>

<% javascript_tag do %>  
	<% if @ticket.ticket_status.deleted? %>
		jQuery("#helpdesk_ticket_status")
		.append('<option disabled="disabled" value = "<%= @ticket.status %>"> <%= @ticket.status_name %> </option>')
		.val("<%=@ticket.status%>")
	<% end %>
<% end %>
<%= render :partial => '/helpdesk/tickets/show/tags.html.erb' %>