<div class="static_content">
<ul>
	<li>
		<strong><%= t("helpdesk.tickets.show.whats_new.top_to_bottom") %></strong>: <%= t("helpdesk.tickets.show.whats_new.top_to_bottom_des") %>
	</li>
	<li>
		<strong><%= t("helpdesk.tickets.show.whats_new.no_more_scroll") %></strong>: <%= t("helpdesk.tickets.show.whats_new.no_more_scroll_des") %>
	</li>
	<li>
		<strong><%= t("helpdesk.tickets.show.whats_new.send_and_do_anything") %></strong>: <%= t("helpdesk.tickets.show.whats_new.send_and_do_anything_des") %>
	</li>
	<li>
		<strong><%= t("helpdesk.tickets.show.whats_new.stuff_where_you_need") %></strong>: <%= t("helpdesk.tickets.show.whats_new.stuff_where_you_need_des") %>
	</li>
	<li>
		<strong><%= t("helpdesk.tickets.show.whats_new.easier_better_faster") %></strong>: <%= t("helpdesk.tickets.show.whats_new.easier_better_faster_des") %>
	</li>
</ul>
<div class="buttons">
	<a href="https://support.freshdesk.com/support/solutions/articles/70760-new-enhanced-ticket-view-page" target="_blank">&raquo;<%= t("group.info8_readmore") %></a>
</div>
</div>
