<% form_for @user, :url => contacts_path, :method => 'post', 
      :html => { :id => "add_requester_form", :rel => "validate", "data-remote" => true } do |add_requester| %>
  <div id="errorExplanation" class="errorExplanation" style="display:none;">
  </div>
  <div id="errorMessages" style="display:none;">
  </div>
  <ul class="ui-form">
    <li>
      <%= add_requester.label t('user.name') %>
      <%= add_requester.text_field :name, :class => "required"%>
    </li>
    <li>
      <%= add_requester.label t('user.email') %>
      <%= add_requester.text_field :email, :class => "require_from_group user_info email" %>
    </li>
    <li>
      <%= add_requester.label t('user.phone_no') %>
      <%= add_requester.text_field :phone, :class => "require_from_group user_info" %>
    </li>
    <li>
      <%= add_requester.label t('user.company') %>
      <%= add_requester.text_field :customer %>
      <div id="user_customer_choices" class="autocomplete"></div>
    </li>
  </ul>
  <div class="button-container">
    <%= add_requester.submit t('create'), :class => "btn primary" %>
    <%= link_to t('cancel'), "javascript:void(0);", :class => "btn", :id => "cancel_button" %>
  </div>
<% end %>

<% javascript_tag do %>
  function lookup(searchString, callback) { 
    new Ajax.Request('<%= autocomplete_contacts_path %>?v='+searchString, 
                        { parameters: {name: searchString, rand: (new Date()).getTime()},
                          onSuccess:  function(response) {
                                        var choices = $A();
                                        response.responseJSON.results
                                          .each(function(item){
                                            choices.push(item.value);
                                          });                                             
                                        callback(choices);
                                      } });
  }
  var cachedBackend = new Autocompleter.Cache(lookup, {choices: 20});
  var cachedLookup = cachedBackend.lookup.bind(cachedBackend);
  
  new Autocompleter.Json("user_customer", "user_customer_choices", cachedLookup, {});

  jQuery('#cancel_button').click( function(){
    active_dialog.dialog('close');
  });

  jQuery('#user_name').focus();
<%end%>