<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery("#contact_customer").autocomplete({
			source: function( request, response ) {
				jQuery.ajax({
					url: "<%=autocomplete_contacts_path%>",
					data: {
						v: request.term
					},
					success: function(data) {
						response( jQuery.map( data.results, function( item ) {
							//console.log(item.value);
							return {
								label: item.value,
								value: item.value
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				
			},
			open: function(){
				jQuery(this).removeClass('ui-corner-all');
			}
		}).data( "autocomplete" )
			._renderItem = function( ul, item ) {
									return jQuery( "<li></li>" )
										.data( "item.autocomplete", item )
										.append( "<a>" + item.label + "</a>" )
										.appendTo( ul );
								};	
	});
	
	function enable_role_change()
	{
		var company = jQuery('#contact_customer').val();
		if (company != null && company != "")
		{
			jQuery('#contact_role').removeAttr("disabled");
		}
		else
		{			
			jQuery('#contact_role').removeAttr('checked');
			jQuery('#contact_role').attr( "disabled" , true );
		}
	
	}
	
<% end %>
	 	 
	<ul class="ui-form">	
		<li>
			<%= label(:user, :name, t('user.full_name')) %>
			<%= text_field(:user, :name, :class => "text required" )  %>
		</li>
		<li>
			<%= label(:user, :email, t('user.email')) %> 
			<%= text_field(:user, :email, :id => "email_primary" ) %> 
		</li>
		<li>
			<%= label(:user, :job_title, t('user.title')) %>
			<%= text_field(:user, :job_title, :class => "text" ) %>
		</li>
		<% fields_for :tags  do |tag|
			tag_csv = @user.tags.collect{|tg| tg.name+", "}
			if tag_csv.blank?
				tag_csv=""
			else
				tag_csv[-1] = tag_csv[-1][0..-3]
			end 
		%>
		<li>
			<%= tag.label(:name, t('tag.title')) %>
			<%= tag.text_field :name , :value => tag_csv, :class => "text" %>
		</li>
		<%end%>

		<li>
			<%
				company_name = "";
				role_disabled = true
				unless @user.customer.nil?
					company_name =  @user.customer.name
					role_disabled = false
				end
			%>
			<%= label(:user, :customer, t('user.company')) %>
			<%= text_field(:user, :customer, :class => "text" , :value => company_name, :id => "contact_customer" ,:onchange => "enable_role_change()") %>
		</li>
		<li>
			<%= label(:user, :address, t('user.address')) %>
			<%= text_area(:user, :address, :class => "text" ) %>
		</li>		
		<li class="small">	
			<%= label(:user, :phone, "#{t('user.phone_no')}.") %>	
			<label class="overlabel" for="phone_work"><%=t('user.work')%></label>
			<%= text_field(:user, :phone, :class => "text", :id => "phone_work" ) %>
			<br />
			<label class="overlabel" for="phone_mobile"><%=t('user.mobile')%></label>
			<%= text_field(:user, :mobile, :class => "text", :id => "phone_mobile" ) %>
		</li>
		
		
		<li class="small">
			<%= label(:user, :twitter_id, t('user.twitter_id')) %>
			<%= text_field(:user, :twitter_id, :class => "text" ) %>
		</li>
		<li>
			<%= label(:user, :description, t('user.back_info')) %>
			<label class="overlabel" for="user_binfo">
				<%=t('contacts.info6')%>
				example - address, LA Lakers fan etc.
			</label>
			<%= text_area(:user, :description, :class => "text", :id => "user_binfo" ) %>
		</li>		
		
	</ul>	 
