<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery("#contact_customer").autocomplete({
			source: function( request, response ) {
				jQuery.ajax({
					url: "<%=autocomplete_contacts_path%>",
					data: {
						v: request.term
					},
					success: function(data) {
						response( jQuery.map( data.results, function( item ) {
							//console.log(item.value);
							return {
								label: item.value,
								value: item.value
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				
			},
			open: function(){
				jQuery(this).removeClass('ui-corner-all');
			}
		}).data( "autocomplete" )
			._renderItem = function( ul, item ) {
									return jQuery( "<li></li>" )
										.data( "item.autocomplete", item )
										.append( "<a>" + item.label + "</a>" )
										.appendTo( ul );
								};	
	});
	
	function enable_role_change()
	{
		var company = jQuery('#contact_customer').val();
		if (company != null && company != "")
		{
			jQuery('#contact_role').removeAttr("disabled");
		}
		else
		{			
			jQuery('#contact_role').removeAttr('checked');
			jQuery('#contact_role').prop( "disabled" , true );
		}
	
	}
	
<% end %>
	 	 
	<ul class="ui-form">	
		<li>
			<%= label(:user, :name, t('user.full_name')) %>
			<%= text_field(:user, :name, :class => "text required" )  %>
		</li>
		<li>
			<%= label(:user, :email, t('user.email')) %> 
			<%= text_field(:user, :email, :id => "email_primary" ) %> 
		</li>

		<li>
			<%
				company_name = "";
				role_disabled = true
				unless @user.customer.nil?
					company_name =  @user.customer.name
					role_disabled = false
				end
			%>
			<%= label(:user, :customer, t('user.company')) %>
			<%= text_field(:user, :customer, :class => "text" , :value => company_name, :id => "contact_customer" ,:onchange => "enable_role_change()") %>
		</li>
		<li class="small">	
			<%= label(:user, :phone, "#{t('user.phone_no')}.") %>	
			<%= text_field(:user, :phone, :class => "text", :id => "phone_work" ) %>
		</li>
		<li class="small">	
			<%= label(:user, :phone, "#{t('user.mobile')}.") %>	
			<%= text_field(:user, :mobile, :class => "text", :id => "phone_mobile" ) %>
		</li>
	</ul>	 
