<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery("#contact_customer").autocomplete({
			source: function( request, response ) {
				jQuery.ajax({
					url: "<%=autocomplete_contacts_path%>",
					data: {
						v: request.term
					},
					success: function(data) {
						response( jQuery.map( data.results, function( item ) {
							//console.log(item.value);
							return {
								label: item.value,
								value: item.value
							}
						}));
					}
				});
			},
			select: function( event, ui ) {
				
			},
			open: function(){
				jQuery(this).removeClass('ui-corner-all');
			}
		}).data( "autocomplete" )
			._renderItem = function( ul, item ) {
									return jQuery( "<li></li>" )
										.data( "item.autocomplete", item )
										.append( "<a>" + item.label + "</a>" )
										.appendTo( ul );
								};	
	});
	
<% end %>

 	 <% if @existing_user %>
	  	<div id="errorExplanation" class="errorExplanation">
			<%= "Email has already been taken " %>
			<%= link_to('View User' , @existing_user ) %>
		</div>
	  <%else%>		
	   	<%= error_messages_for :user %>
	 <%end%>


	 	 
	<ul class="ui-form">	
		<li>
			<%= label(:user, :name, "Full Name") %>
			<%= text_field(:user, :name, :class => "text required" )  %>
		</li>
		<li class="medium">
			<%= label(:user, :email, "Email") %> 
			<%= text_field(:user, :email, :class => "text required email", :id => "email_primary" ) %> 
		</li>
		<li>
			<%= label(:user, :job_title, "Title") %>
			<%= text_field(:user, :job_title, :class => "text" ) %>
		</li>		
		<li>
			<%
				company_name = "";
				unless @user.customer.nil?
					company_name =  @user.customer.name
				end
			%>
			<%= label(:user, :customer, "Company") %>
			<%= text_field(:user, :customer, :class => "text" , :value => company_name, :id => "contact_customer" ) %>
		</li>
		<li class="small">	
			<%= label(:user, :phone, "Phone No.") %>	
			<label class="overlabel" for="phone_work">Work</label>
			<%= text_field(:user, :phone, :class => "text", :id => "phone_work" ) %>
			<br />
			<!--input type="text" id="user_phone" name="user[phone]" class="text" /-->		
			<!--%= label(:user, :mobile, "Mobile") %-->
			<label class="overlabel" for="phone_mobile">Mobile</label>
			<%= text_field(:user, :mobile, :class => "text", :id => "phone_mobile" ) %>
		</li>
		
		
		<li class="small">
			<%= label(:user, :twitter_id, "Twitter Id") %>
			<%= text_field(:user, :twitter_id, :class => "text" ) %>
		</li>
		<li>
			<%= render :partial => "/shared/profileavatar", :locals => { :user => @user, :type => type } %> 
		</li>
		<li>
			<%= f.label :time_zone %>
			<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all , :default => @user.time_zone %>
		</li>
		
		<li>
			<%= label(:user, :description, "Background information") %>
			<label class="overlabel" for="user_binfo">
				Add specific notes regarding this contact
				example - address, LA Lakers fan etc.
			</label>
			<%= text_area(:user, :description, :class => "text", :id => "user_binfo" ) %>
		</li>		
		
	</ul>	 

<!-- We can remove the following as the default role is customer-->
<div style="display:none">
<%= f.label :role %>
<ul>
	<li><%= f.radio_button  :user_role, User::USER_ROLES_KEYS_BY_TOKEN[:admin] %> <%= f.label :user_role_admin, "Administrator" %></li>
	<li><%= f.radio_button  :user_role, User::USER_ROLES_KEYS_BY_TOKEN[:poweruser] %> <%= f.label :user_role_poweruser, "Agent" %></li>
	<li><%= f.radio_button  :user_role, User::USER_ROLES_KEYS_BY_TOKEN[:customer], :checked => true %> <%= f.label :user_role_customer, "Customer" %></li>
</ul>
</div>

<!-- role section ends here-->