<%= javascript_include_tag 'cdn/contact_templates' %>
<script type="text/javascript">
jQuery('body').on('assetLoaded.fjax', function() {
  jQuery.extend(window.App.Contacts.Contact_form, {
    confirm_text : "<%= t('merge_contacts.email_remove') %>",
    tags_options : "<%= escape_javascript(current_account.tags.most_used(25).collect{|tag| tag.name}.join(',').html_safe) %>",
    primary_text : "<%= t('merge_contacts.primary') %>",
    unverified_text : "<%= t('merge_contacts.not_verified') %>",
    mark_text : "<%= t('merge_contacts.make_primary') %>",
    default_company : "<%= t('contacts.default_company') %>",
    mark_default_company : "<%= t('contacts.mark_default_company') %>",
    client_manager : "<%= t('contacts.client_manager') %>",
    selected_companies : <%= @selected_companies.present? ? @selected_companies.map(&:name).to_json.html_safe : '[]'.html_safe %>
  });
});
</script>

 	 <% if @existing_user %>
	  	<div id="errorExplanation" class="errorExplanation">
			<%= "#{t('agent.info2')} " %>
			<%= link_to(t('agent.view_user') , @existing_user ) %>
		</div>
	  <%else%>		
	   	<%= error_messages_for :user %>
	   	<% @user.user_emails.each do |user_email|%>
	   	<% next if user_email.primary_role %>
	   	<%= error_messages_for user_email %>
	   	<% end unless @user.errors.any? %>
	 <%end%>
	 	 
<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "/shared/profile_avatar", :formats => [:html], :locals => { :user => @user} %> 
    <% if !@user.new_record? and privilege?(:admin_tasks) and @user.allow_password_update? %>
      <br /><%= link_to(t('change_password').html_safe, change_password_contact_path(@user), :'data-pjax' => "#body-container")%> 
    <% end %>
  </div>

  <div class="span9">
  	<ul class="form-horizontal contact-form">
    <% contact_fields.each do |field| %>
    <%=  render_as_list f, field %>
    <% end %>
    <input type="hidden" id="added_companies" name="user[added_companies]"/>
    <input type="hidden" id="removed_companies" name="user[removed_companies]"/>
    <input type="hidden" id="edited_companies" name="user[edited_companies]"/>
  	</ul>	 
  </div>
</div>

<div class="hide mb-10" id="company-delete-confirmation">
  <b>
    <%= t('contacts.removed_association') %>  
  </b>
  <div class="mt15">
    <span class="bold">
      <%= t('contacts.remove_company_text', :user_name => @user.name) %>
    </span>
    <label class="radio mt10">
      <input type="radio" name="delete_company" class="rename_company" checked="checked"/>
      <%= t('contacts.retain_company') %> <span id="target_company"> </span>
    </label>
    <label class="radio">
      <input type="radio" name="delete_company" class="rename_company" id="rename_label"/>
      <%= t('contacts.rename_company') %>
    </label>
    <div class="mt5 ml20">
      <input type="text" id="rename_text" class="user_company" placeholder="<%= t('contacts.new_company') %>" >
    </div>
  </div>
</div>

<script>
(function(){
  jQuery('body').addClass('contacts');
}());
</script>
