<%= javascript_include_tag 'cdn/contact_templates' %>
<script type="text/javascript">
jQuery('body').on('assetLoaded.fjax', function() {
	window.App.Contacts.Contact_form.confirm_text = "<%= t('merge_contacts.email_remove') %>";
	window.App.Contacts.Contact_form.tags_options = "<%= escape_javascript(current_account.tags.most_used(25).collect{|tag| tag.name}.join(',').html_safe) %>";
	window.App.Contacts.Contact_form.primary_text = "<%= t('merge_contacts.primary') %>";
	window.App.Contacts.Contact_form.unverified_text = "<%= t('merge_contacts.not_verified') %>";
	window.App.Contacts.Contact_form.mark_text = "<%= t('merge_contacts.make_primary') %>";
});
</script>

 	 <% if @existing_user %>
	  	<div id="errorExplanation" class="errorExplanation">
			<%= "#{t('agent.info2')} " %>
			<%= link_to(t('agent.view_user') , @existing_user ) %>
		</div>
	  <%else%>		
	   	<%= error_messages_for :user %>
	   	<% @user.user_emails.each do |user_email|%>
	   	<% next if user_email.primary_role %>
	   	<%= error_messages_for user_email %>
	   	<% end unless @user.errors.any? %>
	 <%end%>
	 	 
<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "/shared/profile_avatar", :formats => [:html], :locals => { :user => @user} %> 
    <% if privilege?(:admin_tasks) and @user.allow_password_update? %>
      <br /><%= link_to(t('change_password').html_safe, change_password_contact_path(@user), :'data-pjax' => "#body-container")%> 
    <% end %>
  </div>

  <div class="span9">
  	<ul class="form-horizontal contact-form">
    <% contact_fields.each do |field| %>
    <%=  render_as_list f, field %>
    <% end %>
  	</ul>	 
  </div>
</div>
