<% user ||= @user %>
<% show_recent_tickets ||= :filter %>
<% link_target = local_assigns.has_key?(:new_tab) ? "_blank" : "_self"  %>
<div class="contact_hover">
    <%= user_avatar(user, :thumb, 'preview_pic small') %>
  <div class="infoblock muted">
    <%= content_tag :div, link_to(h(user.display_name), user, :target => link_target, :'data-pjax' => '#body-container'), :class => "user_name" if privilege?(:view_contacts) && !collab_ticket_view?%>
    <%= content_tag :div, h(user.display_name), :class => 'user_name_noprivilege' if !privilege?(:view_contacts) || collab_ticket_view? %>
    <% if user.parent.present? %>
      <div class="contact-append">
        <p class="merged_user"><%= t('contacts.merged_info') %></p><%= link_to h(user.parent.name), contact_path(user.parent_id), :class => "hover-contact-box merged_user" %>
      </div>
    <% else %>
      <div class="user_design">
         <% unless user.job_title.blank? %>
            <div class="break-word user-job-title" title="<%= h user.job_title %>">
                <%= h user.job_title %>
              </div>
          <% end %>
        <%= render :partial => "helpdesk/tickets/components/company_info", 
                   :locals => { :company => defined?(company) ? company : user.company } %>
        <% if current_account.gamification_enabled? and current_account.gamification_enable_enabled? and user.agent? %>
          <%= content_tag :div, h(user.agent.level.name) unless user.agent.level.blank? %>
        <% end %>
      </div>

      <% unless user.email.blank? %>
        <div class="contact-append">
          <span class="add-on"><i class="ficon-mail fsize-16"></i></span>
          <%= content_tag :a, h(user.email), :class => "hover-contact-box lowercase" %>
        </div>
      <% end %>

      <% unless user.available_number.blank? %>
        <div class="contact-append">
          <span class="add-on"><i class="ficon-phone fsize-16"></i></span>
            <%= user.available_number %>
        </div>
      <% end %>

      <% unless user.twitter_id.blank? %>
        <div class="contact-append">
          <span class="add-on"><span class="ficon-twitter fsize-16"></span></span>
          <%= link_to h(user.twitter_id), "https://twitter.com/"+user.twitter_id, :target => "_blank", :rel => "noreferrer noopener"%>
        </div>
      <% end %>
      <% unless user.fb_profile_id.blank? %>
        <div class="contact-append">
          <span class="add-on"><span class="ficon-facebook-setting fsize-16"></span></span>
          <%= link_to h(user.name), "https://facebook.com/"+user.fb_profile_id, :target => "_blank", :rel => "noreferrer noopener"%>
        </div>
      <% end %>

    <% unless user.agent? %>
      <div class="recent-tickets">
        <% case show_recent_tickets %>
          <% when :dialog then %>
            <% unless collab_ticket_view?  %>
              <% if ticket.is_a?(Helpdesk::ArchiveTicket) %>
                <%= link_to t('ticket.recent_tickets'),
                      "/helpdesk/archive_tickets/#{ticket.id}/component?component=requester_tickets",
                      :rel => 'freshdialog',
                      "data-target" => "#requester_tickets",
                      "data-template-footer" => "",
                      :title => t('contacts.info4', :nick_name => h(user.display_name)) if ticket.present? %>
              <% else %>
                <%= link_to t('ticket.recent_tickets'),
                      "/helpdesk/tickets/#{ticket.id}/component?component=requester_tickets",
                      :rel => 'freshdialog',
                      "data-target" => "#requester_tickets",
                      "data-template-footer" => "",
                      :title => t('contacts.info4', :nick_name => h(user.display_name)) unless ticket.nil? %>
              <% end %>
            <% end %>
          <% when :filter then %>
            <% if local_assigns.has_key? :new_tab %>
              <%= link_to t('ticket.recent_tickets'),
                  helpdesk_requester_filter_path(:requester_id => user.id),
                  :title => t('contacts.info4', :nick_name => h(user.display_name)), :target => "_blank" %>
            <% else %>
              <%= link_to t('ticket.recent_tickets'),
                  helpdesk_requester_filter_path(:requester_id => user.id),
                  :title => t('contacts.info4', :nick_name => h(user.display_name)) %>
            <% end %>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

