<% user ||= @user %>
<% show_recent_tickets ||= :filter %>
<% link_target = local_assigns.has_key?(:new_tab) ? "_blank" : "_self"  %>
<% strange_number = strange_number?(user.available_number) if user.available_number.present? %>
<% requester_field_count = get_user_default_fields_count(user, company) + get_user_custom_fields_count(user,company) %>
<div class="contact_hover requester_widget clearfix" id="requester_contact_info">
  <%= user_avatar(user, :thumb, 'preview_pic small') %>
  <div class="infoblock muted">
    <%= content_tag :div, link_to(h(user.display_name), user, :target => link_target,
                                  :'data-pjax' => '#body-container'),
                                  :class => "user_name" if privilege?(:view_contacts)%>
    <%= content_tag :div, h(user.display_name), :class => 'user_name_noprivilege' unless privilege?(:view_contacts) %>
    <% if user.parent.present? %>
      <div class="contact-append">
        <p class="merged_user"><%= t('contacts.merged_info') %></p>
        <%= link_to h(user.parent.name), contact_path(user.parent_id),
            :class => "hover-contact-box merged_user" %>
      </div>
    <% else %>
      <div class="user_design">
        <% if user.job_title.present? %>
            <div class="break-word user-job-title" title="<%= h user.job_title %>">
                <%= h user.job_title %>
              </div>
        <% end %>
        <%= render :partial => "helpdesk/tickets/components/company_info",
                   :locals => { :company => company, :requester_widget => true } %>
        <% if current_account.gamification_enabled? and current_account.gamification_enable_enabled? and user.agent? %>
          <%= content_tag :div, h(user.agent.level.name) if user.agent.level.present? %>
        <% end %>
      </div>

      <%= construct_widget_fields(user, company).html_safe %>
      <% if requester_field_count < Helpdesk::RequesterWidgetHelper::CONTACT_WIDGET_MAX_DISPLAY_COUNT %>
        <div class="clearfix">
      <% end %>

      <div class="pull-right">
        <span class="recent-tickets">
          <% case show_recent_tickets %>
            <% when :dialog then %>
              <% if ticket.archive? %>
                <%= link_to t('ticket.recent_tickets'),
                      "/helpdesk/archive_tickets/#{ticket.id}/component?component=requester_tickets",
                      :rel => 'freshdialog',
                      "data-target" => "#requester_tickets",
                      "data-template-footer" => "",
                      :title => t('contacts.info4', :nick_name => h(user.display_name)) if ticket.present? %>
              <% else %>
                <%= link_to t('ticket.recent_tickets'),
                      "/helpdesk/tickets/#{ticket.id}/component?component=requester_tickets",
                      :rel => 'freshdialog',
                      "data-target" => "#requester_tickets",
                      "data-template-footer" => "",
                      :title => t('contacts.info4', :nick_name => h(user.display_name)) if ticket.present? %>
              <% end %>
            <% when :filter then %>
              <% if local_assigns.has_key? :new_tab %>
                <%= link_to t('ticket.recent_tickets'),
                    helpdesk_requester_filter_path(:requester_id => user.id),
                    :title => t('contacts.info4', :nick_name => h(user.display_name)), :target => "_blank" %>
              <% else %>
                <%= link_to t('ticket.recent_tickets'),
                    helpdesk_requester_filter_path(:requester_id => user.id),
                    :title => t('contacts.info4', :nick_name => h(user.display_name)) %>
              <% end %>
          <% end %>
        </span>
        <% if user.customer? && user.valid_user? && privilege?(:manage_contacts) && !ticket.archive? %>
          <span class="dash-seperator"> - </span>
          <%= link_to t('requester_widget_edit'),
                        "#requester-widget-user-edit-dialog",
                        :rel => 'freshdialog',
                        "class" => 'edit-requester-link',
                        "data-width" => '500',
                        "data-submit-label" => t('save'),
                        "data-submit-loading" => t('saving'),
                        "data-close-label" => t('cancel'),
                        :title => t('requester_widget_edit_req') %>
        <% end %>
      </div>
      <% if requester_field_count > Helpdesk::RequesterWidgetHelper::CONTACT_WIDGET_MAX_DISPLAY_COUNT ||  requester_field_count < Helpdesk::RequesterWidgetHelper::CONTACT_WIDGET_MAX_DISPLAY_COUNT %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>