<% label = if @company.blank? and !@company_deleted 
  t('company.add_company')
else 
  t('user.company')
end %>
<div id="requester-widget-user-edit-dialog" class="requester-widget-user-edit-dialog" style="display:none;">
  <%= form_for :requester_widget , :remote => true, :rel=>"validate", url: "/helpdesk/tickets/#{ticket.display_id}/update_requester", method: 'put' do |f| %>
    <%= f.hidden_field :contact_id  , :value => user.id %>
    <div class="requester-widget-user-fields">
      <div id="contact_section">
        <ul class="field-set group">
          <li class="icon-wrapper"><span class="ficon-user"></span></li>
          <li class="section-title">
            <div class="title-text"><%= t('contacts.contact') %></div>
            <div class="separator"></div>
          </li>
        </ul>
        <% requester_widget_contact_fields.each do |field| %>
          <ul class="field-set">
            <%= construct_requester_widget_field f, user, field %>
          </ul>
        <%end%>
      </div>

      <div id="company_section">
        <ul class="field-set group">
          <li>
             <div class="company-title-wrapper <%='new-company-title' if @company.blank? and !@company_deleted %>">
                <span class="company-title">
                  <% if @company.blank?  and !@company_deleted %>
                    <input class="checkbox" type="checkbox" id="add-company"></input>
                  <% else %>
                    <span class="ficon-company"></span>
                  <% end %>
                  <span class="company-title-text <%= 'add-company-title' if @company.blank? and !@company_deleted  %>">
                    <%= label %>
                  </span>
                </span>
            </div>
          </li>
        </ul>
        <% if @company_deleted %>
          <ul class="field-set deleted-company">
            <li class="center">
              <div class="disabled-field"><%= t('requester_widget.company.delete_company')%></div>
            </li>
          </ul>
        <% else %>
          <div class="company-field-section">
            <% requester_widget_company_fields.each do |field| %>
              <ul class="field-set">
                <%= construct_requester_widget_field f, company, field %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  <% if @company.blank? and !@company_deleted %>
    jQuery('.company-field-section').hide();
  <% end %>
</script>