<ul class="fields form-horizontal unstyled row-fluid"> 
  
  <li class="control-group">
    <label class="control-label required"><%= t('create_password') %></label>
    <div class = "controls">
      <input class="special span6 password required" id="password" name="user[password]" type="password" autocomplete="off" data-content="<%= password_policies_for_popover %>">
    </div>
  </li>
  
  <li class="control-group">
    <label class="control-label required"><%= t('retype_password') %></label>
    <div class="controls">
      <input class="special span6 password_confirmation required" id="password_confirmation" name="user[password_confirmation]" type="password" autocomplete="off">
    </div>
  </li>
  
</ul>   


<%= javascript_tag do %>
jQuery(document).ready(function() { 

  jQuery(function () { 
    var popover_message = jQuery('#password').data('content');
    if(popover_message){
      jQuery("#password").popover({
        html: true,
        trigger: 'manual', 
        placement: 'right',
        reloadContent: false,
        template: "<div class='arrow'></div><div class='inner'><div class='content'><p></p></div></div>",
        content: function(){
                  return "<div class='password-wrapper'><h5 class='policy-title'><%= t("admin.security.password_policy_popover.password_must") %></h5>" +jQuery("#password").attr("data-content") + "</div>"
                }
      }).focus(function(){
          jQuery(this).popover("show");
      }).blur(function(){
          jQuery(this).popover("hide");
      }); 
    }
  }); 
});

<% end %>
