<% content_for :sidebar do -%>&nbsp;<%- end %>


<%= form_for @user, :url => { :controller => "contacts", :action => "update_contact" },:html => { :multipart => true, :rel => "validate", :class => 'form-unsaved-changes-trigger form_for_contact'}  do |f| %>
	  
	<div class='page-header-sticky' rel='sticky'>
		<div class='sticky-header-wrapper'>
			<h3 class='lead pull-left'> 
				<%= t('contacts.edit') %> 
				<span class='info_data'> "
					<%= h(@user.display_name) %>"
				</span>
			</h3>
		<div class="pull-right">
				<%= link_to t('cancel'), (@user.new_record? ? {:controller =>'contacts', :action => 'index'} : @user ), :class => "btn" %>
				<%= f.submit t('contacts.save'), :class => "btn btn-primary" , :id => "contact_submit"%> 
			</div>
		</div>
	</div>

		<br/>
	  <%= render :partial => "form", :locals => { :f => f, :type => "edit" } %>
	  
	  <div class="button-container">
	  	<%= link_to t('cancel'), (@user.new_record? ? {:controller =>'contacts', :action => 'index'} : @user ), :class => "btn" %>
	    <%= f.submit t('contacts.save_changes'), :class => "btn btn-primary" , :id => "contact_submit" %> 
	</div>
<% end -%>