<% content_for :sidebar do -%>&nbsp;<%- end %>
<h3 class="lead"><%=t('contacts.edit')%> <span class="info_data">"<%= h(@user.display_name) %>"</span> </h3>
<%= form_for @user, :url => { :controller => "contacts", :action => "update" },:html => { :multipart => true, :rel => 'validate' }  do |f| %>
	  <%= render :partial => "form", :locals => { :f => f, :type => "edit" } %>
	  <div class="button-container">
	  	<%= link_to t('cancel'), (@user.new_record? ? {:controller =>'contacts', :action => 'index'} : @user ), :class => "btn" %>
	    <%= f.submit t('contacts.save_changes'), :class => "btn btn-primary" , :id => "contact_submit" %> 
	</div>
<% end -%>