<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('contacts.quick_contact')%></h3>	
		<% form_tag :url  => contacts_path, :method =>:post do %>
		<%= error_messages_for :user %> 	
		<ul class="ui-form">
			<li> 
				<label for="user_name"><%=t('user.full_name')%></label> 
				<input class="text" id="user_name" name="user[name]" size="30" type="text" value="" /> 
			</li> 
			<li>
				<label for="email_primary"><%=t('user.email')%></label> 
				<input class="text" id="email_primary" name="user[email]" size="30" type="text" />
			</li>
			<li>
				<label for="user_phone"><%=t('user.phone_no')%></label> 
				<input class="text" id="phone_work" name="user[phone]" size="30" type="text" /> 
			</li>
			<%= hidden_field(:user, :user_role, :id=>"user_role", :value => User::USER_ROLES_KEYS_BY_TOKEN[:customer] ) %>
		</ul>
	  <div class="button-container"><%= submit_tag t('create'), :class => "uiButton small" %></div>
		<% end %>
	</div>
	<div id="contact_tag_cloud" class="sidepanel">
	<h3 class="title"><%=t('contacts.tag_cloud')%></h3>
		<%= render :partial => "/helpdesk/tags/tag_cloud", :object => @tags %>
	</div>
<%end%>

<%= render(:partial => '/shared/companyheader', :locals => {:type => "user"}) %>
<ul id="users" class="content_list">	  
  <% @contacts.each do |contact| %>
    <li class="<%= cycle('stripe', '') %>">	   
	  <div class="item_actions">
	  	<%= link_to(t('edit'), edit_contact_path(contact), :class => "button") %>
      	<%= link_to(t('delete'), {:controller => "contacts", :action => "destroy", :id => contact} , :method => 'delete', :confirm => "#{t('contacts.info1')}?", :class => "button") unless contact == current_user %>
	  </div>	   
	  <%= user_avatar( contact ) %>
	  <div class="item_information">
        	<%= link_to(h(contact.display_name), {:controller => "contacts", :action => "show", :id => contact}, :class => "item_info" ) %>
			<div class="info_data">
				<% unless contact.job_title.blank? %>
		  			<b><%= h contact.job_title %></b>
				<% else %>
					<% unless contact.customer.blank? %>
				   		<%=t('contacts.working')%>
					<% end %> 
				<% end %>
				<% unless contact.customer.blank? %>
				   at <%= link_to(h(contact.customer.name), contact.customer)  %>
				<% end %> 
			</div>
			<div class="info_data">
				<%= content_tag (:span, "#{h(contact.email)} ") unless contact.email.blank? %>
				<%= content_tag (:span, "#{h(contact.phone)}") unless contact.phone.blank? %>
			</div>
	 </div>
     	      
    </li>	
  <% end %>	 
</ul> 
<div class="negtiveMargin">  
	<%= will_paginate @contacts %> 
</div>