<div class="list-page" id="contacts-page">
	<% content_for :sidebar do %>
    <div class="sidepanel">
	  	<% if privilege?(:manage_contacts) %>
    		<h3 class="lead"><%=t('quick_create')%></h3>	
    		<%= form_tag contacts_path, :method => :post, :rel => "validate" do %>
    			<%= error_messages_for :user %> 	
    			<div class="quick-contact">
    				<div class="control-group">
    					<div class="controls">
    						<input class="text required input-large" id="user_name" name="user[name]" type="text" value="" placeholder="<%=t('user.full_name')%>"/>
    					</div>
    				</div>
    				<div class="control-group">
    					<div class="controls">
    						<% if current_account.features_included?(:contact_merge_ui) %>
    						<input class="require_from_group user_info email input-large" id="email_primary" name="user[user_emails_attributes][0][email]" type="email" placeholder="<%=t('user.email')%>"/>
    						<% else %>
    						<input class="require_from_group user_info email input-large" id="email_primary" name="user[email]" type="email" placeholder="<%=t('user.email')%>"/>
    						<% end %>
    					</div>
    				</div>
    				<div class="control-group">
    					<div class="controls">
    						<input class="require_from_group user_info text input-large" id="phone_work" name="user[phone]" type="text" placeholder="<%=t('user.phone_no')%>" /> 
    					</div>
    				</div>
    			</div>
    		  	<div class="button-container"><%= submit_tag t('create'), :class => "btn" %></div>
    		<% end %>
	  	<% end %>
	  	<div id="contact_tag_cloud">
	  		<h3 class="lead"><%=t('contacts.tag_cloud')%></h3>
	  		<%= render :partial => "/helpdesk/tags/tag_cloud", :object => @tags %>
	  	</div>
	</div>
	<%end%>
    <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
            	<div id="cust-list">
            		<%= render(:partial => '/shared/companyheader', :locals => {:type => "contact", :path => contacts_path}) %>
            		<% if params[:query].nil? %>
	            		<%= render(:partial => '/shared/company_sub_header', :locals => {:type => "user"}) %>
	            	<% end %>
	            	<%= form_tag "", { :id => "contacts-expanded", :method => :put } do %>
		        		<% if @contacts.present? %>
					        <div class="list-page-body <%= 'mt20' if params[:query].present? %>">
					        	<!-- Add content here for top of the table-->
					        	<%= render(:partial => '/shared/customers_toolbar', :locals => {:type => "user", :path => contacts_path}) %>
					        		<table class="table table-striped" id = "contacts-table">
										<%= render :partial => "contact", :collection => @contacts %> 
									</table>  
									<%= will_paginate @contacts, :renderer => BootstrapPaginationRenderer, 
							        				:previous_label => "<b class='arrow-left'></b>",
							        				:next_label => "<b class='arrow-right'></b>",
							        				:class => "pagination pagination-centered" %>
						    </div>
					    <% else %>
							<div class="big-info">
								<div class="no-info-text">
									<% if params[:state].blank? or params[:state].eql?('verified') or 
																							params[:state].eql?('all')%>
										<%= t('contacts.verified.no_contacts_with_letter', :alphabet => params[:letter]) if !params[:letter].blank? %>
										<% if params[:letter].blank? %>
											<%= t('contacts.verified.no_contacts') %><br />
                      <% if privilege?(:manage_contacts) %>
											  <span class="small">Create a <a href= "/contacts/new" >new contact</a></span>
                      <% end %>
										<% end %>
									<% elsif params[:state].eql?('deleted') %>
									   <%= t('contacts.deleted.no_contacts_with_letter', :alphabet => params[:letter]) if !params[:letter].blank? %>
										<%= t('contacts.deleted.no_contacts') if params[:letter].blank? %>
									<% else %>
										<%= t('contacts.unverified.no_contacts_with_letter', :alphabet => params[:letter]) if !params[:letter].blank? %>
										<%= t('contacts.verified.no_contacts') if params[:letter].blank? %>
									<% end %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
            </div>
        </div>
</div>​
<div id="user-deletion-confirmation" class="hide">
	<p class="margin-bottom"><%= t('contacts.delete_confirmation')%></p>
</div>


<%= javascript_tag do%>
	jQuery(".delete_user_btn").on('click',function(){
		jQuery("#contacts-expanded").data('user',jQuery(this).data('user'));
	});

	jQuery('#user-deletion-confirmation-submit').live("click", function(){
		var user_id = jQuery("#contacts-expanded").data('user');
		jQuery('#user_id_'+user_id).trigger('click');
		jQuery("#contacts-expanded").data('agent', null);
	});
<% end %>




