<% content_for :layoutType do%>single<% end %>

<div class="pageContent">
	<%= render(:partial => '/shared/companyheader', :locals => {:type => "user"}) %>
	
	<ul id="users" class="content_list contact_list">	  
	  <% @contacts.each do |contact| %>
	    <li class="<%= cycle('stripe', '') %>">	   
		  <div class="item_actions">
		  	<%= link_to('Edit', edit_contact_path(contact), :class => "button") %>
	      	<%= link_to('Delete', {:controller => "contacts", :action => "destroy", :id => contact} , :method => 'delete', :confirm => 'Are you sure you want to delete this contact?', :class => "button") unless contact == current_user %>
		  </div>	   
		  <%= user_avatar( contact.avatar ) %>
		  <div class="item_information">
		  	<div class="col1">
	        	<%= link_to(h(contact.display_name), {:controller => "contacts", :action => "show", :id => contact}, :class => "item_info" ) %>
				<div>
				<% unless contact.job_title.empty? %>
		  			<b><%= h contact.job_title %></b>
				<% else %>
				   Working
				<% end %>
				<% unless contact.customer.nil? %>
					at <%= link_to(h(contact.customer.name), contact.customer)  %>
				<% end %>
				</div>
			</div>
		  	<div class="col2 user_info">
		  		<div><span>primary</span> <%= h contact.email %></div>
				<div><span>secondary</span> <%= h contact.second_email  %></div>
				<div><span>phone</span> <%= h contact.phone  %></div>
				<div><span>mobile</span> <%= h contact.mobile %></div>
			</div>
		 </div>
	     	      
	    </li>	
	  <% end %>	 
	</ul>
</div>
<div>  <%= will_paginate @contacts %> </div>