<%= include_stylesheets :pattern %>
<%= include_javascripts :pattern %>

<% content_for :sidebar do -%>
  <%= render :partial => "/integrations/widgets/contacts_show_side_bar_widget", :locals => {:user => @user}%>
<%- end %>

<% javascript_tag do %>
jQuery('#primary_maker, #verify_email').live('click', function(){
	jQuery(this).text("<%= t('merge_contacts.please_wait') %>");
	jQuery(this).off('click');
	jQuery(this).addClass('disabled');
});
<% end %>

<div class="contact-box clearfix">

	<% unless @user.deleted? %>
		<div class="btn-group pull-right">
			<%= link_to t('assume_identity_button'), assume_identity_user_path(@user),{
										:class => "btn"
									} if is_allowed_to_assume?(@user) %>

			<%= link_to t('contacts.info2'), '#', {
										:class => "drop-toggle btn",
										"data-toggle" => "dropdown"
									} if privilege?(:manage_users) and @user.has_email? and !@user.blocked? %>

			<%= link_to(t('edit').html_safe, edit_contact_path(@user),{
										:class => "btn"
									}) if privilege?(:manage_contacts) and !@user.deleted? and !@user.spam? and !@user.blocked? %>


			<% if privilege?(:manage_users) %>
				<%= link_to t('ticket.merge_btn'), { :controller => 'contact_merge', :action => "new" , :id => @user.id }, :title => t('merge_contacts.merge_contact'), :class => "btn last", "data-width" => "685", :rel => "freshdialog", "data-target" => "#mergebox1", "data-template-footer" => "" unless (@merged_user or @user.deleted?) or !current_account.features_included?(:contact_merge_ui) %>
				<% if @user.has_email? and !@user.blocked?%>
					<ul class="dropdown-menu pull-right" role="menu">
						<% if current_account.features_included?(:contact_merge_ui) %>
							<li><%= link_to( t('contacts.convert_fulltime'), { :action => :make_agent, :id => @user.id},:method => :put, :confirm => t('contacts.convert_note'))%></li>
							<li><%= link_to( t('contacts.convert_occasional'), { :action => :make_occasional_agent, :id => @user.id}, :method => :put, :confirm => t('contacts.convert_note')) %></li>  
						<% else %>  
							<li><%= link_to( t('contacts.convert_fulltime'), { :action => :make_agent, :id => @user.id},:method => :put)%></li>
							<li><%= link_to( t('contacts.convert_occasional'), { :action => :make_occasional_agent, :id => @user.id}, :method => :put) %></li>  
						<% end %>
					</ul>
				<% end %>
			<% end %>
			<%= link_to("<i class='icon-trash'></i>".html_safe, "/contacts/#{@user.id}", 
											:method => 'delete', 
											:confirm => "#{t('company.info11')} #{@user.name}?", 
											:class => "btn") if privilege?(:delete_contact) and @user != current_user and 
										!@user.deleted? and !@user.spam? and !@user.blocked? %>
		</div>
	<% end %>
		<%= user_avatar(@user, :medium, "profile_pic") %>
		<h1 class="title"><%= h(@user.display_name) %></h1>
		<%= render :partial => "helpdesk/tickets/components/company_info", :locals => { :user => @user } %>
		<%= render :partial => "/helpdesk/tags/tag_list", :object => @user.tags %>
		<div id="email_mark" class="hide"></div>
		<%= render :partial => "helpdesk/integrations/email_marketing_container" , :locals => {:contact => @user} %>
		<div class="user-info row-fluid">
		<% if current_account.features_included?(:contact_merge_ui) %>
			<div class="row-fluid">
				<span class="span3">
					<%= t('user.email') unless @user.user_emails.blank? %>
				</span>
				<div class="span9">
					<ul class="user-email-bullet">
						<% @user.user_emails.sort_by(&:email).each do |mail| %>
						<li>
							<%= content_tag(:p, "<b>#{h(mail.email)}  </b><b><span class='def_text'>#{t('merge_contacts.show_primary')}</span></b>".html_safe).html_safe if mail.primary_role %>
							<%= content_tag(:p, "#{h(mail.email)}".html_safe) if !mail.primary_role %>
							<%= content_tag(:p, "#{t('merge_contacts.unverified')} - #{link_to_remote t('merge_contacts.verify'), 
							:url => {:controller => "contacts", :id => params[:id], :action => "verify_email", :email_id => mail.id.to_s},
							:method => :put, :complete => "jQuery('[data-verify-id=#{mail.id}]').text('Verification sent');", :html => {:id => "verify_email", 'data-verify-id' => mail.id}}".html_safe, :class => "helper") if !mail.verified and !mail.primary_role %>

							<p class="helper"><%= link_to_remote t('merge_contacts.make_primary'), :url => make_primary_profile_user_email_path(params[:id], :email_id => mail.id.to_s), :method => :get, :html => {:id => "primary_maker"} if !mail.primary_role and mail.verified %></p>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		<% else %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.email'))}  #{h(@user.email)}".html_safe) unless @user.email.blank? %>
		<% end %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.secondary'))}  #{h(@user.second_email)}".html_safe) unless @user.second_email.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.phone_no'))}  #{can_make_phone_calls(h(@user.phone))}".html_safe) unless @user.phone.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.mobile'))}  #{can_make_mobile_calls(h(@user.mobile))}".html_safe) unless @user.mobile.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.address'))}  <div>#{h(@user.address)}</div>".html_safe) unless @user.address.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.twitter_id'))}  #{h(@user.twitter_id)}".html_safe) unless @user.twitter_id.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('facebook_source'))}  <a target='_blank' href=http://facebook.com/#{h(@user.fb_profile_id) }>http://facebook.com/people/#{h(@user.fb_profile_id)}</a>".html_safe) unless @user.fb_profile_id.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('account.time_zone'))}  #{h(@user.time_zone)}".html_safe) %>
		</div>

		<% if @user.deleted || (!@user.active? and @user.has_email?) || @user.blocked? %>
  		<div class="info-highlight hide">
        <% if privilege?(:delete_contact) %>
  			<%= content_tag(:div, "#{ t('contacts.deleted_message') } #{ link_to( t('contacts.restore'), { :action => :restore, :id => @user.id }, :method => :put ) }".html_safe) if @user.deleted and @user.parent.nil? and !@user.spam?%>
  			<%= content_tag(:div, "#{t('merge_contacts.merged_with')}#{ link_to @merged_user.name, @merged_user}".html_safe) if @user.parent %>
        <% end %>

        <% if privilege?(:view_contacts) %>
  			<%= content_tag(:div, "#{ t('contacts.emailnotverified') }   #{ link_to( t('contacts.send_activation'), send_invite_activation_path(@user), :method => :put ) } ".html_safe ) if !@user.active? and @user.has_email? and !@user.spam? and !@user.blocked? and @user.parent.nil?%>
        <% end %>
  			<%= content_tag(:div, "#{ t('contacts.blocked_message') } #{ link_to( t('unblock'), { :action => :unblock, :id => @user.id }, :method => :put ) }".html_safe) if @user.blocked? || @user.spam? %>
  		</div>
		<% end %>
</div>

<div class="row-fluid">
	<h4 class="title"><%=t('contacts.info3',:nick_name => h(@user.display_name)).html_safe%></h4>
		<% form_for @user do |f| %>
			<%= f.label :description, t("contacts.form_placeholder.description").html_safe, :class => "overlabel" %>
			<%= f.text_area :description, :class=> "sp_paragraph span12",:cols => 20,:rows => 5 %>
      <% if privilege?(:manage_contacts) %>
  			<div class="span12 pull-right"> 
  				<%= f.submit t('save'), :class=>"btn btn-primary pull-right"  %> &nbsp;
  			</div>
      <% end %>
		<% end %>	
</div>

<% unless @user.deleted %>
	<% if feature?(:forums) && privilege?(:view_forums) %>
		<h4 class="title pb15"><%=t('contacts.info7', :nick_name => h(@user.display_name)).html_safe%></h4>
		<ul class="tabs nav-tabs">
		  <li class="active">
		    <a href="#tickets-expanded"  data-toggle="tab"><%= t('header.tabs.tickets')%></a>
		  </li>
		  <li><a href="#forum-activity"  data-toggle="tab"><%= t('header.tabs.forums')%></a></li>
		</ul>
	 <% else %>
	 	<h4 class="title"><%=t('contacts.info4', :nick_name => h(@user.display_name)).html_safe%></h4>
	 	<span class="seperator"></span>
	 <% end %>
<div class="tab-content">
	<div id="tickets-expanded" class="contact_tickets row-fluid tab-pane active lead-desc">
		<div class="detailed_view">
			<% if @user_tickets.blank? %>
				<div class="sub-lead text-center mt15"><%= t('contacts.info5', :nick_name => h(@user.display_name)) %></div>
			<% else %>
				<% @onhold_and_closed_statuses = Helpdesk::TicketStatus.onhold_and_closed_statuses_from_cache(current_account) %>
				<table class="tickets" id="tickets_view" width="100%">	
			    	<tbody id="view_tickets">
						<%= render :partial => "/helpdesk/shared/expanded/ticket", :collection => @user_tickets, 
							:inline => true, :locals => { :user_page => true } %>
				    </tbody>
			  	</table>
			  	<% if @total_user_tickets.size > 5 %>
				  	<div class="more_results">
				  		<%= link_to t('contacts.show_more',:nick_name => h(@user.display_name)).html_safe, helpdesk_requester_filter_path(:requester_id => @user.id) , :id => "show_more" %>
				  	</div>
			  	<% end %>
		  	<% end %>
		</div>
	</div>
	<% if feature?(:forums) && privilege?(:view_forums) %>
		<%= render :partial => "forum_activity" %>
	<% end %>
</div>
<% end %>

</div>

<% javascript_tag do %>
  // need to convert this to util
  jQuery(document).ready(function(){
    if (jQuery.trim( jQuery('div.info-highlight').text() ).length != 0) {
      jQuery('div.info-highlight').show();
    }
});
<% end %>
