<% content_for :sidebar do -%>
  <% if is_application_installed?("capsule_crm") %>
	  <div class="sidepanel">
	    <% @liquid_objects = {"requester" => @user}%>
	    <%= get_app_widget_script("capsule_crm", "contact_widget", @liquid_objects)%>
	  </div>  
	<% end %>
<%- end %>
<div class="contact-box clearfix">
		<div class="action_buttons">
			<%= link_to t('contacts.edit_contact'), edit_contact_path(@user) %>
			<%= link_to t('assume_identity_button'), assume_identity_user_path(@user) if is_allowed_to_assume?(@user) %>
			<%= link_to ( t('contacts.info2'), { :action => :make_agent, :id => @user.id }, :method => :put , :class => "last" ) if @user.has_email?%>
		</div>
		<%= user_avatar(@user, :medium, "profile_pic") %>
		<h1 class="title"><%= @user.display_name %></h1>
		<% unless @user.job_title.blank? %>
		   <b><%= h @user.job_title %></b>
		<% end %>
		<% if @user.job_title.blank? && !@user.customer.blank? %>
		   <%= t("working") %>
		<% end %>
		<% unless @user.customer.blank? %>
		   <%= t("at") %> <%= link_to(h(@user.customer.name), @user.customer)  %>
		<% end %>
		<%= render :partial => "/helpdesk/tags/tag_list", :object => @user.tags %>
		<div class="user-info">
			<%= content_tag (:div, "#{content_tag(:span, t('user.email'))}  #{h(@user.email)}") unless @user.email.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, t('user.secondary'))}  #{h(@user.second_email)}") unless @user.second_email.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, t('user.phone_no'))}  #{h(@user.phone)}") unless @user.phone.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, t('user.mobile'))}  #{h(@user.mobile)}") unless @user.mobile.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, t('user.address'))}  <div>#{h(@user.address)}</div>") unless @user.address.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, t('user.twitter_id'))}  #{h(@user.twitter_id)}") unless @user.twitter_id.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, t('facebook_source'))}  <a target='_blank' href=http://facebook.com/#{h(@user.fb_profile_id) }>http://facebook.com/people/#{h(@user.fb_profile_id)}</a>") unless @user.fb_profile_id.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, t('account.time_zone'))}  #{h(@user.time_zone)}") %>
		</div>
		<% if @user.deleted || (!@user.active? and @user.has_email?) %>
		<div class="info-highlight">
			<%= content_tag(:div, "#{ t('contacts.deleted_message') } #{ link_to( t('contacts.restore'), { :action => :restore, :id => @user.id }, :method => :put ) }") if @user.deleted %>
			<%= content_tag(:div, "#{ t('contacts.emailnotverified') }   #{ link_to( t('contacts.send_activation'), send_invite_activation_path(@user), :method => :put ) } " ) if !@user.active? and @user.has_email? %>
		</div>
		<% end %>
</div>

<div class="contact-box-additional">
	<h4 class="title"><%=t('contacts.info3',:nick_name => @user.display_name)%></h4>
		<% form_for @user do |f| %>
			<%= f.label :description, t("contacts.form_placeholder.description"), :class => "overlabel" %>
			<%= f.text_area :description, :class=> "sp_paragraph" %>
			<div class="alignright"> 
				<%= f.submit t('save'), :class=>"uiButton small"  %> &nbsp;
			</div>
		<% end %>

		<span class="seperator"></span>
		<h4 class="title"><%=t('contacts.info4',:nick_name => @user.display_name)%></h4>
		<% if @user_tickets_open_pending.blank? %>
			<%= "#{t('contacts.info5')}" %>
		<% end %>
		<%= render :partial => "tickets", :object => @user_tickets_open_pending %>
</div>
<br><br>
