<%= include_stylesheets :pattern %>
<%= include_javascripts :pattern %>

<% content_for :onload_script do %>  
	var tags_options = "<%= escape_javascript(current_account.tags.most_used(25).collect{|tag| tag.name}.join(',').html_safe) %>";
	jQuery("input[name='user[tag_names]']").select2({
		tags: tags_options.split(","),
		tokenSeparators: [',']
	});
	tagsOptions = {
		'add' : '<%= t("add_tags") %>',
		'edit' : '<%= t("edit_tags") %>'
	}
<% end %>

<div class='page-header-sticky' rel='sticky' id='contactHeaderSticky'>
	<div class='sticky-header-wrapper'>
		<h3 class='lead pull-left'> 
			<%= link_to t('contacts.title'), '/contacts' %> 
			<span class='contact-name ellipsis'> / <%= h(@user.display_name) %></span>
		</h3>
		<% unless @user.deleted? %>
			<div class="btn-group pull-right">
				<%= link_to t('assume_identity_button'), assume_identity_user_path(@user),{
											:class => "btn"
										} if is_allowed_to_assume?(@user) %>

				<%= link_to t('contacts.info2'), '#', {
											:class => "drop-toggle btn",
											"data-toggle" => "dropdown"
										} if privilege?(:manage_users) and @user.has_email? and !@user.blocked? and !@user.helpdesk_agent? %>

				<%= link_to(t('edit'), edit_contact_path(@user),{
											:class => "btn"
										}) if privilege?(:manage_contacts) and !@user.deleted? and !@user.spam? and !@user.blocked? %>


				<% if privilege?(:manage_users) %>
					<%= link_to t('ticket.merge_btn'), { :controller => 'contact_merge', :action => "new" , :id => @user.id }, :title => t('merge_contacts.merge_contact'), :class => "btn last", "data-width" => "685", :rel => "freshdialog", "data-target" => "#mergebox1", "data-template-footer" => "" unless (@merged_user or @user.deleted?) or !current_account.features?(:contact_merge_ui) %>
					<% if @user.has_email? and !@user.blocked?%>
						<ul class="dropdown-menu pull-right" role="menu">
							<% if current_account.features?(:contact_merge_ui) %>
								<li><%= link_to( t('contacts.convert_fulltime'), { :action => :make_agent, :id => @user.id},:method => :put, :confirm => t('contacts.convert_note'))%></li>
								<li><%= link_to( t('contacts.convert_occasional'), { :action => :make_occasional_agent, :id => @user.id}, :method => :put, :confirm => t('contacts.convert_note')) %></li>  
							<% else %>  
								<li><%= link_to( t('contacts.convert_fulltime'), { :action => :make_agent, :id => @user.id},:method => :put)%></li>
								<li><%= link_to( t('contacts.convert_occasional'), { :action => :make_occasional_agent, :id => @user.id}, :method => :put) %></li>  
							<% end %>
						</ul>
					<% end %>
				<% end %>
				<%= link_to("<i class='icon-trash'></i>".html_safe, "/contacts/#{@user.id}", 
												:method => 'delete', 
												:confirm => "#{t('company.info11')} #{@user.name}?", 
												:class => "btn") if privilege?(:delete_contact) and @user != current_user and 
											!@user.deleted? and !@user.spam? and !@user.blocked? %>
			</div>
		<% end %>
	</div>
</div>
<div class="contact-show-wrapper">
	<div class='contact-show'>
		<div class='contact-info-fields'>
			<div class='contact-info-fields-content'>
				<%= user_avatar(@user, :medium, "profile_pic avatar-pic") %>
				<div class='user-info'>
					<h1 class='lead break-word'><%= h(@user.display_name) %></h1>
					<%= render :partial => "helpdesk/tickets/components/company_info", :locals => { :user => @user } %>
				</div>
				<ul class='show-fields'>
					<% view_contact_fields.each do |field| %>
				    	<%=  render_as_list nil, field %>
				    <% end %>
				</ul>
			</div>

		</div>
		<div class='contact-edit-fields'>
			<% if @user.deleted || (!@user.active? and @user.has_email?) || @user.blocked? %>
		  		<div class="info-highlight hide">
			        <% if privilege?(:delete_contact) %>
			  			<%= content_tag(:div, "#{ t('contacts.deleted_info_msg') } #{ link_to( t('contacts.restore'), { :action => :restore, :id => @user.id }, :method => :put ) }".html_safe) if @user.deleted and @user.parent.nil? and !@user.spam?%>
			  			<%= content_tag(:div, "#{t('merge_contacts.merged_with')}#{ link_to @merged_user.name, @merged_user}".html_safe) if @user.parent %>
			        <% end %>

			        <% if privilege?(:view_contacts) %>
			  			<%= content_tag(:div, "#{ t('contacts.emailnotverified') }   #{ link_to( t('contacts.send_activation'), send_invite_activation_path(@user), :method => :put ) } ".html_safe ) if !@user.active? and @user.has_email? and !@user.deleted and !@user.spam? and !@user.blocked? and @user.parent.nil?%>
			        <% end %>
		  			<%= content_tag(:div, "#{ t('contacts.blocked_message') } #{ link_to( t('unblock'), { :action => :unblock, :id => @user.id }, :method => :put ) }".html_safe) if @user.blocked? || @user.spam? %>
		  		</div>
			<% end %>
			<div id='updateForm' class='contact-edit-padding clearfix'>
				<% form_for :user, @user,
					:url => {:controller => 'contacts', :action => 'update_description_and_tags'},
					:html => {
						:class => 'edit_user',
						:method => :put
					} do |f| %>
					<%= f.error_messages %>
					<h4 class="conv-title"><%=t('user.background')%></h4>
					<%= f.text_area :description, :class=> "sp_paragraph",:cols => 0,:rows => 0, :placeholder => t("contacts.form_placeholder.description") %>
					<%= f.hidden_field :id, :value => @user.id, :id => 'userid' %>
					<div class='tags-wrapper clearfix hide'>
						<%= f.text_field :tag_names, :class=> "clear-left-margin", :placeholder => t("contacts.form_placeholder.enter_tags")%>
					</div>
					<div id='tag-list'>
						<%= render :partial => "/helpdesk/tags/tag_list", :locals => {:tags => @user.tags, :add_tag => true} %>
					</div>
					<% if privilege?(:manage_contacts) %>
						<div class='clearfix'>
							<div class='error ajax-error pull-left'></div>
							<div class="pull-right hide form-save"> 
								<%= link_to t("cancel"), '#' , :class => "btn cancel-form" %>
								<%= f.submit t('save'), :class=>"btn btn-primary save-form" %> 
							</div>
						</div>
					<% end %>
				<% end %>	
			</div>
			<div class='contact-edit-padding'>
					<% list = [
						[
							t('contacts.conversations.all'), '#conv_all', false, {:id => 'conv_all-tab', :'data-hash-url' => false}
						],
						[
							t('contacts.conversations.tickets'), '#conv_tickets', false, {:id => 'conv_tickets-tab', :'data-hash-url' => false}
						],
						[
							t('contacts.conversations.forums'), '#conv_forums', false, {:id => 'conv_forums-tab', :'data-hash-url' => false}
						],
					]
					options = {'data-toggle' => 'tab', 'class' => 'item', 'ul_class' => 'tick'} %>
					<div data-tabs='tabs'>
						<ul role='tablist'>
							<li class="dropdown">
								<h1 class='conv-title conv-menu dropdown-toggle' data-toggle="dropdown">
									<span class='sub-info'><%= t('contacts.conversations.all') %></span>
									<span class='caret'></span>
								</h1>
								<%= dropdown_menu(list, options) %>
							</li>
						</ul>
					</div>
				<div class="tab-content">
					<div class='tab-pane active' id='conv_all'> 
						<p class='muted'> <%= t("contacts.conversations.contact_all") %> </p>
						<div class='timeline' id='timeline'>
							<ul class='timeline-list'>
								
								<% no_tickets_shown = 0 %>
								<% user_activities.each do |item| %>
									<li class='timeline-item'>
										<% if (item.class.to_s == 'Post') %>
											<%= forum_activity(item) %>
										<% else %>
											<% no_tickets_shown = no_tickets_shown + 1 %>
											<%= ticket_activity(item, true) %>
										<% end %>
									</li>

								<% end %>
							</ul>
						</div>
						<% if (no_tickets_shown < @total_user_tickets_size || @total_user_tickets_size > 10) %>
							<div class='contact_tickets'>
								<div class="more_results">
									<%= link_to t('contacts.view_all',:nick_name => h(@user.display_name)).html_safe, helpdesk_requester_filter_path(:requester_id => @user.id) , :id => "show_more" %>
								</div>
							</div>
						<% end %>
						<% if user_activities.empty? %>
							<p class='no-conv-msg'><%= t('contacts.conversations.no_conversations') %></p>
						<% end %>
					</div>
					<div class='tab-pane' id='conv_tickets'> 
						<p class='muted'> <%= t("contacts.conversations.contact_tickets") %> </p>
						<div class='timeline' id='timeline'>
							<ul class='timeline-list'>
								<% @user_tickets.each do |item| %>
									<li class='timeline-item'>
										<%= ticket_activity(item, true) %>
									</li>
								<% end %>
							</ul>
						</div>
						<% if (@total_user_tickets_size > 10) %>
							<div class='contact_tickets'>
								<div class="more_results">
									<%= link_to t('contacts.view_all',:nick_name => h(@user.display_name)).html_safe, helpdesk_requester_filter_path(:requester_id => @user.id) , :id => "show_more" %>
								</div>
							</div>
						<% end %>
						<% if @user_tickets.empty? %>
							<p class='no-conv-msg'><%= t('contacts.conversations.no_conversations') %></p>
						<% end %>
					</div>
					<div class='tab-pane' id='conv_forums'> 
						<p class='muted'> <%= t("contacts.conversations.contact_forums") %> </p>
						<div class='timeline' id='timeline'>
							<ul class='timeline-list'>
								<% @user.recent_posts.each do |item| %>
									<li class='timeline-item'>
										<%= forum_activity(item) %>
									</li>
								<% end %>
							</ul>
						</div>
						<% if @user.recent_posts.empty? %>
							<p class='no-conv-msg'><%= t('contacts.conversations.no_conversations') %></p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class='contact-sidebar'>
			<div class='contact-sidebar-content'>
				<%= render :partial => "/integrations/widgets/contacts_show_side_bar_widget", :locals => {:user => @user}%>
				<%= render :partial => "helpdesk/integrations/email_marketing_container" , :locals => {:contact => @user} %>
			</div>
		</div>
	</div>
</div>
