

<div class="contact-box clearfix">
		<div class="action_buttons">
			<%= link_to 'Edit contact', edit_contact_path(@user), :class => "last" %>
		</div>
		<%= user_avatar(@user.avatar, :medium, "profile_pic") %>	
		<h3 class="title"><%= @user.display_name %></h3>
		<% unless @user.job_title.blank? %>
		   <b><%= h @user.job_title %></b>
		<% else %>
		   Working
		<% end %>
		<% unless @user.customer.blank? %>
			at <%= link_to(h(@user.customer.name), @user.customer)  %>
		<% end %>
		<div class="user-info">
			<%= content_tag (:div, "#{content_tag(:span, "Email")}  #{h(@user.email)}") unless @user.email.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "secondary")}  #{h(@user.second_email)}") unless @user.second_email.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "phone")}  #{h(@user.phone)}") unless @user.phone.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "mobile")}  #{h(@user.mobile)}") unless @user.mobile.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "twitter id")}  #{h(@user.twitter_id)}") unless @user.twitter_id.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "time zone")}  #{h(@user.time_zone)}") %>
		</div>
		<% unless @user.active? %>
			<div class="info-highlight"> 
				Email has not been verified for this user.
			</div>
		<% end %>
</div>

<div class="contact-box-additional">
			<% if @user.deleted %>
				<%= "This is a deleted contact" %>
				<%= link_to('restore', { :action => :restore, :id => @user.id }, :method => :put ) %>
			<% end %>		
		 
			<h4 class="title">Background information from "<%= @user.display_name %>"</h4>
			<% form_for @user do |f| %>
				<label class="overlabel" for="user_binfo">
					Add specific notes regarding this contact <br />
					example - address, LA Lakers fan etc.
				</label>
				<%= f.text_area :description, :class=> "sp_paragraph", :id => "user_binfo"  %>
				<div class="alignright"> 
					<%= f.submit 'Save', :class=>"uiButton small grey"  %> &nbsp;
				</div>
			<% end %> 
		
		<span class="seperator"></span>
		<h4 class="title">Recent tickets from "<%= @user.display_name %>"</h4>
		<% if @user.tickets.size.eql?(0) %>
			<%= "User has not created any ticket till now" %>
		<% end %>
		<%= render :partial => "tickets", :object => @user_tickets_open_pending %>
</div>