<div class="contact-box clearfix">
		<%= user_avatar(@user, :medium, "profile_pic") %>
		<h1 class="title"><%= h(@user.display_name) %></h1>
		<%= render :partial => "helpdesk/tickets/components/company_info", :formats => [:html], :locals => { :user => @user } %>
		<%= render :partial => "/helpdesk/tags/tag_cloud", :formats => [:html], :object => @user.tags %>
		<div class="user-info">
			<%= content_tag(:div, "#{content_tag(:span, t('user.email'))}  #{h(@user.email)}".html_safe) unless @user.email.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.secondary'))}  #{h(@user.second_email)}".html_safe) unless @user.second_email.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.phone_no'))}  #{h(@user.phone)}".html_safe) unless @user.phone.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.mobile'))}  #{h(@user.mobile)}".html_safe) unless @user.mobile.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.address'))}  <div>#{h(@user.address)}</div>".html_safe) unless @user.address.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('user.twitter_id'))}  #{h(@user.twitter_id)}".html_safe) unless @user.twitter_id.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('facebook_source'))}  <a target='_blank' href=http://facebook.com/#{h(@user.fb_profile_id) }>http://facebook.com/people/#{h(@user.fb_profile_id)}</a>".html_safe) unless @user.fb_profile_id.blank? %>
			<%= content_tag(:div, "#{content_tag(:span, t('account.time_zone'))}  #{h(@user.time_zone)}".html_safe) %>
		</div>
		<% if @user.deleted || (!@user.active? and @user.has_email?) %>
		<div class="info-highlight">
			<%= content_tag(:div, "#{ t('contacts.deleted_message') }".html_safe) if @user.deleted %>
			<%= content_tag(:div, "#{ t('contacts.emailnotverified') }".html_safe) if !@user.active? and @user.has_email? %>
		</div>
		<% end %>
</div>

