<% content_for :layoutType do -%>single bg_pulp<%-end %>

<div class="page_area contactPage">
	
	<%= user_avatar(@user.avatar, :medium, "profile_pic") %>
	<div class="contact_box">
		<div>
			<% if @user.deleted %>
				<%= "This is a deleted contact" %>
				<%= link_to('restore', { :action => :restore, :id => @user.id }, :method => :put ) %>
			<% end %>
			
		</div>
		
		<div class="floatr">
			<%= link_to 'Edit', edit_contact_path(@user), :class => "fdbutton grey" %>
			<%= link_to('Delete', {:controller => "contacts", :action => "destroy", :id => @user} , :method => 'delete', :confirm => 'Are you sure you want to delete this contact?', :class => "fdbutton red") unless @user == current_user %>		
		</div> 
		
		<h4 class="info_title"><%= @user.display_name %></h4>
		<% unless @user.job_title.blank? %>
		   <b><%= h @user.job_title %></b>
		<% else %>
		   Working
		<% end %>
		<% unless @user.customer.blank? %>
			at <%= link_to(h(@user.customer.name), @user.customer)  %>
		<% end %>	
		<span class="seperator"></span>
		<div class="user_info">
			<%= content_tag (:div, "#{content_tag(:span, "primary")}  #{h(@user.email)}") unless @user.email.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "secondary")}  #{h(@user.second_email)}") unless @user.second_email.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "phone")}  #{h(@user.phone)}") unless @user.phone.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "mobile")}  #{h(@user.mobile)}") unless @user.mobile.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "twitter id")}  #{h(@user.twitter_id)}") unless @user.twitter_id.blank? %>
			<%= content_tag (:div, "#{content_tag(:span, "time zone")}  #{h(@user.time_zone)}") %>
		</div>
		<% unless @user.description.blank? %>
			<span class="seperator"></span>
			<h4>Background information</h4>
			<div>
				<%= @user.description %>
			</div>					
		<% end %>
		<span class="seperator"></span>
		<h4> Tickets raised </h4>
		<% if @user.tickets.size.eql?(0) %>
			<%= "User has not created any tickets" %>
		<% end %>
		<ul class="history_list">
			<% @user.tickets.each do |ticket| %>
			<li class="<%= cycle('stripe', '') %>">
				<%= link_to("##{ticket.display_id} " + h(ticket.subject), ticket, :class => "title") %>
				  <div>  
				  <% if ticket.freshness == :new %>
			        Unassigned
			      <% else %>
			        Assigned to <%= link_to(h(ticket.responder.display_name), ticket.responder, :class => 'username') %>
			      <% end %>
				  </div>
				  <div> Status <%= ticket.status_name %></div>
				  <div class="priority">
						    Priority <%= ticket.priority_name %>
				  </div>
			</li>		
			<% end %>
		 </ul>
	</div> 			
</div>	