 <div class="tab-pane " id="ffone">
        <div class="list-page">
             <div class="list-page-header clearfix">
               <ul class="">
                 <%= render :partial => "freshfone_filter" %>
               </ul>
             </div>      
             
             <div class="list-page-body list-page-body-sleek">
                     <table class="ffone-minimal-tab current table" id="ffone-tab-1">
                       <h3 style="display:none;" class="no-available-agents list-noinfo"></h3>
                       <tbody class="list">
                         <%= render :partial => "available_ffone_agents" %>
                       </tbody>
                     </table>
                 
                  
                 
                     <table class="ffone-minimal-tab table" id="ffone-tab-2"> 
                       <h3 style="display:none;" class="no-unavailable-agents list-noinfo"></h3> 
                       <tbody class="list">
                          <%= render :partial => "unavailable_ffone_agents" %>
                       </tbody>
                     </table>
                  
                 
            </div>
        
        </div>
</div>
            <%= javascript_tag do %>
              if (typeof freshfone === "undefined") { freshfone = {}; }
              freshfone.agents=<%= ffone_user_list.html_safe %>;
              freshfone.no_agents="<%= t('helpdesk.dashboard.freshfone.no_agents') %>";
              freshfone.name="<%= t('helpdesk.dashboard.freshfone.name') %>";
              freshfone.last_modifed="<%= t('helpdesk.dashboard.freshfone.last_modified') %>";
              freshfone.call_in_progress="<%= t('helpdesk.dashboard.freshfone.call_in_progress') %>";
              freshfone.no_activity="<%= t('helpdesk.dashboard.freshfone.no_activity') %>";
            <% end %>
        