<% trial_days = current_account.subscription.trial_days %>
<% if trial_days < AppConfig['show_trail_notifier_in_days'] %>
<div class="nd-trial-wrap">
	<div class="widget-trial-content">
	<% unless @details.nil? %>

		<div class="details-container sales-manager-notifier clearfix row-fluid">

			<div class="sp-title span3">
				<h3 class="title">
					<%= @details[:display_name].html_safe %><br>
				</h3>
				<div><%= t("helpdesk.dashboard.sales_manager.account_manager") %></div>
				<div><%= t("helpdesk.dashboard.sales_manager.freshdesk") %></div>
			</div>

			<div class="span5 sp-details">
					<p><%= t("helpdesk.dashboard.sales_manager.how_is_it_going") %></p>
					<% if trial_days <= 0 %>
						<p><%= t("helpdesk.dashboard.sales_manager.trial_has_expired") %></p>
					<% elsif trial_days <= 10 %>
						<p>I noticed that your Freshdesk trial is about to expire soon.
						<%= t("helpdesk.dashboard.sales_manager.some_assistance") %>
							<b><a href="https://freshdesk.com/plan-chooser?utm_source=freshdeskapp"
								onclick="window.open(this.href);return false;" target="_blank">
								<%= t("helpdesk.dashboard.sales_manager.schedule_a_call") %></a>
							</b>
						</p>
					<% elsif trial_days <= 20 %>
						<p>
							<%= t("helpdesk.dashboard.sales_manager.how_is_your_freshdesk_trial") %>
							<b><a href="https://freshdesk.com/demo-request?utm_source=freshdeskapp"
								onclick="window.open(this.href);return false;" target="_blank">
								<%= t("helpdesk.dashboard.sales_manager.schedule_a_demo") %></a>
							</b>
						</p>
					<% else %>
					  <p>
							<%= t("helpdesk.dashboard.sales_manager.your_account_manager") %>
							<%= t("helpdesk.dashboard.sales_manager.please_reach_out") %>
						</p>
					<% end %>

				<ul class="unstyled sp-details-list">
					<li class="inline-field pull-left">
						<span class="ficon-mail fsize-14 vertical-alignment pr5"></span>
						<span class="vertical-alignment"> <%= @details[:email].html_safe %> </span>
					</li>
		  		<li class="inline-field pull-left ml20 pl20">
		  			<span class="ficon-phone fsize-14 vertical-alignment pr5"></span>
		  			<span class="vertical-alignment"> +1 (866) 832-3090 </span>
		  		</li>
		  	</ul>

			</div>

			<div class="sp-plan-select span4">
				<% if current_user.privilege?(:manage_account) %>
		    		<div class="plan_and_expiry">
							<div class="current-plan-name">
								<%= t("helpdesk.dashboard.sales_manager.current_plan") %><b><%= current_account.subscription.subscription_plan.display_name %></b>
							</div>
					    <div class="select-plan trial-background mt10">
					    	<%= link_to("Choose a Plan <b class='arrow-right'></b>".html_safe, subscription_url, :class => "") %>
					    </div>
				    </div>
				<% end %>

				<div class="plan_and_expiry <%= trial_days > 10 ? 'trial-alert-color' : 'trial-end-alert-color' %>">
					<span class="expiry-details">
						<% if trial_days > 0 %>
	      					<%= t("helpdesk.dashboard.sales_manager.trial_expire_in") %><%= trial_days %> days.
		    			<% else %>
		      				<%= t("helpdesk.dashboard.sales_manager.your_trial_expired") %>
		    			<% end %>
		    			<% if trial_days < 4 %>
		    				<%= render :partial => "/subscriptions/request_trial_extension" %>
		    			<% end %>
	    		</span>
				</div>

			</div>

		</div>

	<% else %>

	  <div class="details-container">
	  	<%= render :partial => "/subscriptions/state/trial_expiry_notifier", :locals => { :trial_days => trial_days } %>
	  </div>

	<% end %>
</div>
</div>
<% end %>
