<% content_for :sidebar do %>
  <%= sidebar_content %>

  <% if params[:action] != 'agent_status' && current_account.features?(:round_robin) and current_account.features?(:round_robin_revamp) and current_user.privilege?(:manage_account) and current_account.groups.round_robin_groups.any? %>
  <div class="sidepanel pt10">
    <h3 class="title"><%= t('helpdesk.dashboard.round_robin.header') %></h3>
    <a href="/helpdesk/agent-status"><%= t('helpdesk.dashboard.round_robin.view_agent_status') %> </a>
  </div>
  <% end %>

  <% if gamification_feature?(current_account) %>

  	<%= content_tag :div, "", :rel => "remote", :class => "sidepanel", :id => "mini-leaderboard",
  						 "data-remote-url" => mini_list_helpdesk_leaderboard_path() %>

    <%= content_tag :div, "", :rel => "remote", :class => "sidepanel", :id => "quests-section-container",
               "data-remote-url" => active_helpdesk_quests_path() %>
  <% end %> 

  <%#= render :partial => '/helpdesk/shared/history' %>
<% end %>
<% content_for :onload_script do %>
	App.Dashboard.init();
<% end %>
