<div id="TicketSummary">
	<%= content_tag :h3, t(".title"),:class => "title" %>
	<ul class="summary clearfix">  
	  <li>
	  	<a class="overdue" href="/helpdesk/tickets/filter/overdue">
				<%= content_tag :span, t(".overdue") %>
				<h4><%= filter_count(:overdue)%></h4>
			</a>
	  </li>
	  <% if (filter_count(:open)) %>
	  <li>
	     <a href="/helpdesk/tickets/filter/open">
				<%= content_tag :span, t(".open") %>
		   	<h4><%= filter_count(:open) %></h4>
	     </a>
	  </li>
	  <% end %>
	  <%# if (filter_count(:pending)) %>
	  <!-- <li>
	     <a href="/helpdesk/tickets/filter/pending">
				<%= content_tag :span, t(".pending") %>
		   	<h4><%= filter_count(:pending) %></h4>
	     </a>
	  </li> -->
	  <%# end %>
	  <% if (filter_count(:on_hold)) %>
	  <li>
	     <a href="/helpdesk/tickets/filter/on_hold">
				<%= content_tag :span, t("on_hold") %>
		   	<h4><%= filter_count(:on_hold) %></h4>
	     </a>
	  </li>
	  <% end %>
	  <% if (filter_count(:due_today)) %>
	  <li>
	    <a href="/helpdesk/tickets/filter/due_today">
			 <%= content_tag :span, t(".due_today") %>
		   <h4><%= filter_count(:due_today)%></h4>
		  </a>
	  </li>
	  <% end %>
	  <li class="last">
	      <a href="/helpdesk/tickets/filter/new">
 				 <%= content_tag :span, t(".unassigned") %>
			 <h4><%= filter_count(:new)%></h4>
		  </a>
	  </li>
	</ul>
</div>