<p class="mb20 clearfix"><a href="/helpdesk">< <%= t('helpdesk.dashboard.round_robin.back') %> </a></p>

<div class="availabilty-status">
 
      <h5 class="lead"><%= t('helpdesk.dashboard.agent_availability') %></h5>

            <ul data-tabs="tabs" class="tabs nav-tabs roundrobin-tabs sleek-tab">
                  <% if round_robin? %>
                       <li class="tab-ticket active">
                          <a  class="tickets-tab" id="ticket-assignment-tab" href="#ticket-assignment" ><%= t('helpdesk.dashboard.round_robin.ticket_assignment') %></a>
                        </li>
                  <% end %> 

                  <% if freshfone_active? %>
                        <li class="tab-phone" >
                            <a class= "phone-tab" id="phone-tab" href="#phone" ><%= t('helpdesk.dashboard.freshfone.phone') %></a>
                        </li>
                  <% end %>

            </ul>

            <div class="tab-content">
                  <% if round_robin? %>
                     <%= render :partial => "ticket_assignment" %>
                  <% end %>

                  <% if freshfone_active? %>
                     <%= render :partial => "freshfone" %>
                  <% end %>

            </div>
           
          <% content_for :sidebar do %>
            &nbsp;
          <% end %>

</div>


<%= javascript_tag do %>
  var active_tab = window.location.hash
  if(active_tab == "#phone"){
    jQuery(active_tab+'-tab').tab('show');
  }
  else{
    active_tab_order={"tickets-tab": <%= round_robin? %>,"phone-tab": <%= freshfone_active? %> } 
    jQuery.each(active_tab_order,jQuery.proxy(function(index,value)  {
          if(value){
            jQuery('.'+index).tab('show');
            return false;
          }
       },this)); 
  }  

<% end %>


