<%= stylesheet_link_tag :'cdn/agent_availability_status' %>
<%= javascript_include_tag :'cdn/livechat_agentAvailability' %>
<%= javascript_include_tag :'cdn/app/dashboard_agent_status' %>

<p class="mb20 clearfix"><a href="/helpdesk" rel="dashboard_link">< <%= t('helpdesk.dashboard.round_robin.back') %> </a></p>

<div class="availabilty-status">

      <h5 class="lead"><%= t('helpdesk.dashboard.agent_availability') %></h5>

            <ul data-tabs="tabs" class="tabs nav-tabs roundrobin-tabs sleek-tab">
                  <% if round_robin? %>
                       <li class="tab-ticket active">
                          <a  class="tickets-tab" id="ticket-assignment-tab" href="#ticket-assignment" ><%= t('helpdesk.dashboard.round_robin.ticket_assignment') %></a>
                        </li>
                  <% end %>
            </ul>

            <div class="tab-content">
                  <% if round_robin? %>
                     <%= render :partial => "ticket_assignment" %>
                  <% end %>
            </div>
</div>


<%= javascript_tag do %>
  var active_tab = window.location.hash
  if(active_tab == "#phone"){
    jQuery(active_tab+'-tab').tab('show');
  }
  else{
    active_tab_order={"tickets-tab": <%= round_robin? %>,"phone-tab": <%= freshfone_active? %>, "lc-availability-tab": <%= chat_active? %> }
    jQuery.each(active_tab_order,jQuery.proxy(function(index,value)  {
          if(value){
            jQuery('.'+index).tab('show');
            return false;
          }
       },this));
  }

<% end %>

<% if chat_active? %>
<script type="text/javascript">
  var liveChat = window.liveChat || {};
  window.liveChat.agentsInGroups =  <%=@agents_in_groups%>;
  if(window.userCollection){
    window.liveChat.agentsAvailabilityView();
  }else{
    jQuery(document).on('chatLoaded',function(){
       window.liveChat.agentsAvailabilityView();
       jQuery(document).off('chatLoaded');
    });
  }
  jQuery( document ).ready(function( $ ) {
  $(".lc-offline-tab").hide();
  $('#lc-availability .tab-link').click(function(){
    var getClass = "#"+$(this).attr("data-tab");
    if($(this).attr("data-tab") == "lc-tab-3"){
      $(this).toggleClass("toggle");
      $(getClass).toggleClass("current");
    }else{
      if(!($(this).hasClass('current'))){
        $(this).addClass("current");
        $(this).siblings().removeClass("current");
        $(".agent-list").find(getClass).addClass("current");
        $(".agent-list").find(getClass).siblings().removeClass("current");
        if(!($(this).attr("data-tab") == "lc-tab-1")){
          $(".lc-offline-tab").show();
        }else{
          $(".lc-offline-tab").hide();
        }
      }
    }
  });
});
</script>
<% end %>
