<%= stylesheet_link_tag :'cdn/agent_availability_status' %>
<%= javascript_include_tag :'cdn/livechat_agentAvailability' %>
<%= javascript_include_tag :'cdn/app/dashboard_agent_status' %>

<p class="mb20 clearfix"><a href="/helpdesk" rel="dashboard_link">< <%= t('helpdesk.dashboard.round_robin.back') %> </a></p>

<div class="availabilty-status">

      <h5 class="lead"><%= t('helpdesk.dashboard.agent_availability') %></h5>

            <ul data-tabs="tabs" class="tabs nav-tabs roundrobin-tabs sleek-tab">
                  <% if round_robin? %>
                       <li class="tab-ticket active">
                          <a  class="tickets-tab" id="ticket-assignment-tab" href="#ticket-assignment" ><%= t('helpdesk.dashboard.round_robin.ticket_assignment') %></a>
                        </li>
                  <% end %>
                  <% unless current_account.launched?(:falcon) && current_user && current_user.is_falcon_pref? %>
                    <% if freshfone_active? %>
                          <li class="tab-phone" >
                              <a class= "phone-tab" id="phone-tab" href="#phone" ><%= t('helpdesk.dashboard.freshfone.phone') %></a>
                          </li>
                    <% end %>

                    <% if chat_active? %>
                       <li class="tab-chat">
                           <a class="lc-availability-tab" id="lc-availability-tab" href="#lc-availability" ><%= t('helpdesk.dashboard.livechat.chat') %></a>
                       </li>
                    <% end %>
                  <% end %>
            </ul>

            <div class="tab-content">
                  <% if round_robin? %>
                     <%= render :partial => "ticket_assignment" %>
                  <% end %>

                  <% unless current_account.launched?(:falcon) && current_user && current_user.is_falcon_pref? %>
                    <% if freshfone_active? %>
                       <%= render :partial => "freshfone" %>
                    <% end %>

                    <% if chat_active? %>
                      <div class="tab-pane" id="lc-availability">
                        <div class="list-page">
                          <div class="list-page-header clearfix">
                            <ul class="">
                              <li>
                                <ul class="lc-minimal-swap pull-left pt5">
                                    <li class="minimal-pill tab-link current" data-tab="lc-tab-1">
                                      <%= t('helpdesk.dashboard.livechat.accepting') %>
                                      <span id="accepting_count"></span>
                                    </li>
                                    <li class="tab-link" data-tab="lc-tab-2">
                                      <%= t('helpdesk.dashboard.livechat.not_accepting') %>
                                      <span id="not_accepting_count"></span>
                                    </li>
                                </ul>
                                <ul class="agents-filter pull-left">
                                   <li class="m10 ml20 dropdown pull-left">
                                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                          <b ><span class="lc-filter-name" id="lc-group-name" ><%= t('helpdesk.dashboard.round_robin.all_agents') %></span></b>
                                          <b class="caret"></b>
                                      </a>
                                      <ul class="dropdown-menu" id="lc-group-filter">
                                         <li class="all-agents" data-id="0"><a href="#"><%= t('helpdesk.dashboard.round_robin.all_agents') %></a></li>
                                          <li class="divider"></li>
                                            <% @groupOptions.each do |group| %>
                                              <li data-id="<%= group[1] %>" class = "<%= (group[1] == "disabled") ? "disabled" : "" %>"><a href="#"><%= group[0] %></a></li>
                                            <% end %>
                                      </ul>
                                    </li>
                                    <li class="m10 ml20 dropdown pull-left">
                                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('helpdesk.dashboard.livechat.sort_by') %>
                                          <b ><span class="sort-filter" id="lc-sort-by" ><%= t('helpdesk.dashboard.livechat.name') %></span></b>
                                          <b class="caret"></b>
                                      </a>
                                      <ul class="dropdown-menu" id="lc-sort-filter">
                                         <li class="sort-name" data-id="sort-name">
                                          <a href="#"><%= t('helpdesk.dashboard.livechat.name') %></a>
                                         </li>
                                         <li class="sort-presence" data-id="sort-presence">
                                          <a href="#"><%= t('helpdesk.dashboard.livechat.last_modified') %></a>
                                         </li>
                                      </ul>
                                    </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <%= render :partial => "agent_list" %>
                          </div>
                      </div>
                    <% end %>
                <% end %>
            </div>
</div>


<%= javascript_tag do %>
  var active_tab = window.location.hash
  if(active_tab == "#phone"){
    jQuery(active_tab+'-tab').tab('show');
  }
  else{
    active_tab_order={"tickets-tab": <%= round_robin? %>, "lc-availability-tab": <%= chat_active? %> }
    jQuery.each(active_tab_order,jQuery.proxy(function(index,value)  {
          if(value){
            jQuery('.'+index).tab('show');
            return false;
          }
       },this));
  }

<% end %>

<% if chat_active? %>
<script type="text/javascript">
  var liveChat = window.liveChat || {};
  window.liveChat.agentsInGroups =  <%=@agents_in_groups%>;
  if(window.userCollection){
    window.liveChat.agentsAvailabilityView();
  }else{
    jQuery(document).on('chatLoaded',function(){
       window.liveChat.agentsAvailabilityView();
       jQuery(document).off('chatLoaded');
    });
  }
  jQuery( document ).ready(function( $ ) {
  $(".lc-offline-tab").hide();
  $('#lc-availability .tab-link').click(function(){
    var getClass = "#"+$(this).attr("data-tab");
    if($(this).attr("data-tab") == "lc-tab-3"){
      $(this).toggleClass("toggle");
      $(getClass).toggleClass("current");
    }else{
      if(!($(this).hasClass('current'))){
        $(this).addClass("current");
        $(this).siblings().removeClass("current");
        $(".agent-list").find(getClass).addClass("current");
        $(".agent-list").find(getClass).siblings().removeClass("current");
        if(!($(this).attr("data-tab") == "lc-tab-1")){
          $(".lc-offline-tab").show();
        }else{
          $(".lc-offline-tab").hide();
        }
      }
    }
  });
});
</script>
<% end %>
