<% @page_title = "Dashboard" %>

<% content_for :sidebar do %>
  <div id="reminders" class="reminders sidepanel">    
  	<h3 class="title"><%= t(".todo_title") %></h3>
    <%= render :partial => '/helpdesk/reminders/reminders', 
               :locals  => { :reminders => current_user.reminders, :form_controller => Helpdesk::Reminder.new(), :show_info => true } %> 
  </div>                           
  <%= render :partial => '/helpdesk/shared/history' %>
<% end %>

<%= render :partial => "summary" %>
<div id="Activity">
	<h3 class="title"><%=t('recent_activity')%></h3>
	<ul id="Pages" class="activityfeed">
		<% @items.each_with_index do |item, i| %>
			<%= render(:partial => "ticket_note", :object => item) %> 
		<% end %>
	</ul>
</div>
<%= will_paginate @items %>
<% content_for :pagefixed do %> 
  <%= pageless(@items.total_pages, helpdesk_dashboard_path, t("loading.activities")) %>  
<% end %>


