<% @page_title = "Dashboard" %>

<% content_for :sidebar do %>
  <div id="reminders" class="reminders sidepanel">    
  	<h3 class="title"><%= t(".todo_title") %></h3>
    <%= render :partial => '/helpdesk/reminders/reminders', 
               :locals  => { :reminders => current_user.reminders, :form_controller => Helpdesk::Reminder.new(), :show_info => true } %> 
  </div>
  
  <% if gamification_feature?(current_account) %>
  	<%= content_tag :div, "", :rel => "remote", :class => "side-panel", :id => "mini-leaderboard",
  						 "data-remote-url" => mini_list_helpdesk_leaderboard_path() %>

    <%= content_tag :div, "", :rel => "remote", :class => "side-panel", :id => "quests-section-container",
               "data-remote-url" => active_helpdesk_quests_path() %>
  <% end %> 

  <%= render :partial => '/helpdesk/shared/history' %>
<% end %>

<%= render :partial => "summary" %>

<%= content_tag :div, "", :rel => "remote", :id => "Activity",
               "data-remote-url" => '/helpdesk/dashboard/activity_list' %>
<% content_for :onload_script do %>
setTimeout(function() {
  jQuery('#quests-section-container, #mini-leaderboard, #Activity').trigger('afterShow');
},1);
<% end %>
