<% @page_title = "Dashboard" %>

<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/take_it_button" %>

  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      Helpdesk.monitorTakeItButtons();
    });
  <% end %>
<% end %>
 

<% content_for :sidebar do %>
  <!--%= render :partial => '/helpdesk/shared/tag_search_navigate' %-->  
  <%= render :partial => '/helpdesk/shared/reminders', :locals => {
    :parent => false,
    :reminders => current_user.reminders,
    :reminder_title => "To-Dos"} %> 
  <%= render :partial => '/helpdesk/shared/history' %>
<% end %>

<%= render :partial => "summary" %>

<div id="Activity">
	<h3 class="title">Helpdesk activites</h3>
	<ul id="pages" class="activityfeed">
		<% @items.each_with_index do |item, i| %>
	        <li class="<%= cycle('stripe', '') %> clearfix">
	          <%= render(:partial => "ticket_note", :object => item) %> 
	        </li>
	     <% end %>
	</ul>
</div>
<%= will_paginate @items %>

