<% @page_title = "Dashboard" %>

<% content_for :head do %> 
  <%= javascript_include_tag 'jquery.pageless' %>
<% end %>

<% content_for :sidebar do %>
  <%# render :partial => '/helpdesk/shared/tag_search_navigate' %>  
  <%= render :partial => '/helpdesk/shared/reminders', :locals => {
    :parent => false,
    :reminders => current_user.reminders,
    :reminder_title => "To-Dos"} %> 
  <%= render :partial => '/helpdesk/shared/history' %>
<% end %>

<%= render :partial => "summary" %>

<div id="Activity">
	<h3 class="title">Helpdesk Activity</h3>
	<ul id="Pages" class="activityfeed">
		<% @items.each_with_index do |item, i| %>
	          <%= render(:partial => "ticket_note", :object => item) %> 
	     <% end %>
	</ul>
</div>
<%= will_paginate @items %>
<%= pageless(@items.total_pages, helpdesk_dashboard_path) %>
