<% @page_title = "Dashboard" %>
<% if current_user && current_user.privilege?(:view_admin) %>
  <%= check_fb_reauth_required  %>
  <%= check_twitter_reauth_required %>
<% end %>

<div class="index-page-content">
<% unless current_account.dashboard_disabled? %>
  <%= render :partial => "summary" %>
<% end %>
  <%= content_tag :div, "", :rel => "remote", :id => "Activity",
                 "data-remote-url" => '/helpdesk/dashboard/activity_list' %>
</div>

<%= render :partial => 'sidebar' %>
<% if chat_activated? %>
	<%= javascript_include_tag :'cdn/livechat_mini_dashboard' %>
	<%= stylesheet_link_tag_with_rtl :'cdn/livechat_mini_dashboard' %>
<% end %>
