<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/take_it_button" %>

  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      Helpdesk.monitorTakeItButtons();
    });
  <% end %>
<% end %>

<% content_for :efx do %>
	
<% end %>

<% content_for :sidebar do %>
  <!--%= render :partial => '/helpdesk/shared/tag_search_navigate' %-->  
  <%= render :partial => '/helpdesk/shared/reminders', :locals => {
    :parent => false,
    :reminders => current_user.reminders,
    :reminder_title => "To-Dos"} %> 
  <%= render :partial => '/helpdesk/shared/history' %>
<% end %>
	
	<ul id="summaryBar" class="summary">
      <li class="title">
      	 <div class="corners"> 
		     <span class="ltSlant"></span>									
		     <span class="ltExt"></span> 
		 </div> 
          My Summary<span class="summary_arrow"></span>
      </li>
      <li>
      	 <a href="/helpdesk/tickets/filter/my_overdue"><h4><%= filter_count(:my_overdue)%></h4>
		 	<p><span>Overdue</span> Tickets</p>
		</a>
      </li>
      <li>
          <a href="/helpdesk/tickets/filter/my_open"><h4><%= filter_count(:my_open)%></h4>
              <p><span>Open</span> Tickets</p>
          </a>
      </li>
      <li>
          <a href="/helpdesk/tickets/filter/my_due_today"><h4><%= filter_count(:my_due_today)%></h4>
		  	<p><span>Tickets</span> Due Today</p>
		  </a>
      </li>
      <li class="last-child">
          <a href="/helpdesk/tickets/filter/new"><h4><%= filter_count(:new)%></h4>
		  	<p><span>Unassigned</span> Tickets</p>
		  </a>
      </li>
  </ul>
   
<div class="pageSeperator"></div>
<% content_for :main_panel_title do %><% end %>

<% content_for :main_panel_actions do %>
<!--
  	<%= link_to "Add a ticket", new_helpdesk_ticket_path, :class => "button" %> 
-->
<% end %>

<% content_for :main_panel_toolbar do %>
<% end %>

<% content_for :main_panel_content do %>

  
  <%# 
    This form is used by JS to submit "Take It" button clicks 
    We couldn't use the button_to helper because it resulted in a 
    form within a form.
  %>
  <%= form_tag "", :method => :put, :style=>'display: none', :id => 'accept-form' do end %>  
   <!--div id="pages">
    <table class="tickets-expanded"-->
	<div class="page_area">
	<h3 class="title">
  		Recent Activity
  	</h3>
	<ul id="pages" class="activityfeed">
      <% @items.each_with_index do |item, i| %>
        <li class="<%= cycle('stripe', '') %>">
          <%= render(:partial => "ticket_note", :object => item) if item.notable.is_a? Helpdesk::Ticket %> 
        </li>
      <% end %>
	 </ul>
	
    <!--/table>
  </div-->

  <%= will_paginate @items %>
 </div>
 <br />

  <!--%= link_to(
    image_tag("helpdesk/feed.png", :alt => "Feed") + " Subscribe", 
    helpdesk_formatted_dashboard_url(:format => 'atom'), 
    :class => "feed") unless params[:f] %--> 

<% end %>
 
<%= render :partial => "/helpdesk/shared/main_panel" %>
