<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/take_it_button" %>

  <% javascript_tag do %>
    document.observe("dom:loaded", function(){
      Helpdesk.monitorTakeItButtons();
    });
  <% end %>
<% end %>

<% content_for :efx do %>
	<div class="corners"> 
	     <span class="ltSlant"></span>									
	     <span class="ltExt"></span> 
	</div>
<% end %>

<% content_for :sidebar do %>
  <!--%= render :partial => '/helpdesk/shared/tag_search_navigate' %-->  
  <%= render :partial => '/helpdesk/shared/reminders', :locals => {
    :parent => false,
    :reminders => current_user.reminders,
    :reminder_title => "To-Dos"} %> 
  <%= render :partial => '/helpdesk/shared/history' %>
<% end %>

	
	<ul id="summaryBar" class="summary">
      <li class="title">
          My Summary<span class="summary_arrow"></span>
      </li>
      <li>
      	 <a href="#"><h4>0</h4>
		 	<p>Overdue<br/>Tickets</p>
		</a>
      </li>
      <li>
          <a href="/helpdesk/tickets/filter/open/responded_by"><h4><%= filter_count([:responded_by])%></h4>
              <p>Open<br/>Tickets</p>
          </a>
      </li>
      <li>
          <a href="#"><h4>0</h4>
		  	<p>Tickets<br/>Due Today</p>
		  </a>
      </li>
      <li class="last-child">
          <a href="/helpdesk/tickets/filter/open/unassigned"><h4><%= filter_count([:unassigned])%></h4>
		  	<p>Unassigned<br/>Tickets</p>
		  </a>
      </li>
  </ul>
  
  <div class="pageSeperator"></div>

<% content_for :main_panel_title do %>
  <h3 class="content_title">
  	Recent Activity
  </h3>
<% end %>

<% content_for :main_panel_actions do %>
<!--
  	<%= link_to "Add a ticket", new_helpdesk_ticket_path, :class => "button" %> 
-->
<% end %>

<% content_for :main_panel_toolbar do %>
<% end %>

<% content_for :main_panel_content do %>

  
  <%# 
    This form is used by JS to submit "Take It" button clicks 
    We couldn't use the button_to helper because it resulted in a 
    form within a form.
  %>
  <%= form_tag "", :method => :put, :style=>'display: none', :id => 'accept-form' do end %>  
   <!--div id="pages">
    <table class="tickets-expanded"-->
	<ul id="pages" class="activityfeed">
      <% @items.each_with_index do |item, i| %>
        <li class="<%= cycle('stripe', '') %>">
          <%= render(:partial => "ticket_note", :object => item) if item.notable.is_a? Helpdesk::Ticket %> 
        </li>
      <% end %>
	 </ul>
    <!--/table>
  </div-->

  <%= will_paginate @items %>
 

  <!--%= link_to(
    image_tag("helpdesk/feed.png", :alt => "Feed") + " Subscribe", 
    helpdesk_formatted_dashboard_url(:format => 'atom'), 
    :class => "feed") unless params[:f] %--> 

<% end %>
 
<%= render :partial => "/helpdesk/shared/main_panel" %>
