<% @page_title = "Dashboard" %>

<% content_for :sidebar do %>
  <div id="reminders" class="reminders sidepanel">    
  	<h3 class="title"><%= t(".todo_title") %></h3>
    <%= render :partial => '/helpdesk/reminders/reminders', 
               :locals  => { :reminders => current_user.reminders, :form_controller => Helpdesk::Reminder.new(), :show_info => true } %> 
  </div>                           
  <%= render :partial => '/helpdesk/shared/history' %>
<% end %>

<%= render :partial => "summary" %>
<div id="Activity">
	<h3 class="title"><%=t('recent_activity')%></h3>
	<div id="recent_activities_count" class='info-highlight center hide'></div>
	<div id="recent_activities" class='hide'></div>
	<ul id="Pages" class="activityfeed">		
		<% @items.each_with_index do |item, i| %>
			<%= render(:partial => "ticket_note", :object => item) %> 
		<% end %>
	</ul>
</div>
<%= will_paginate @items %>
<% content_for :pagefixed do %> 
  <%= pageless(@items.total_pages, helpdesk_dashboard_path, t("loading.activities"), { :activity_id => @items.first.id}) %>  
<% end %>

<% javascript_tag do %>
	activity_count = 0;
	previous_id = jQuery('#Pages li').first().attr('id');
	jQuery.PeriodicalUpdater(
		'/helpdesk/dashboard/latest_activities', 
		{ 
			method: 'get', 
			data:  function() { return "previous_id="+previous_id },
			minTimeout: 10000, 
			maxTimeout: 61000, 
			multiplier: 1, 
			type: 'text',
		}, 
		function(remoteData, success, xhr, handle) 
		{
			jQuery('#recent_activities').prepend(remoteData);
			if(jQuery('#recent_activities li.activity').length > 0)
			{   
				activity_count = jQuery('#recent_activities li.activity').length;
				jQuery('#recent_activities_count').html(activity_count+" recent activities");
				previous_id = jQuery('#recent_activities li.activity').first().attr('id');
				jQuery('#recent_activities_count').show();
			}
		}
	);
	
	jQuery('#recent_activities_count').click(function() {
		new_activites = jQuery("<div />").hide().prepend(jQuery("#recent_activities").html());		
		jQuery('#Pages').prepend(new_activites);
		new_activites.slideDown();
		jQuery("#recent_activities").empty();			
		jQuery(this).hide();	
	});
	
<%end%>


