<% requester_widget ||= false %>
<% if local_assigns[:companies].present? %>
  <ul class="text-left user-company-name-wrap show-field">
		<li class="field-label break-word">Company</li>
    <% companies.each_with_index do |company, index| %>
      <li class="break-word user-company-name <%= index < 3 ? '' : 'hide'%>" 
           title="<%= h company.name %>">
				<ul class="user-email-bullet">
					<li>
						<span class="email-tick <%= index ==0  ? 'primary' : ''%>"></span>
						<p class= "<%= index == 0 ? 'primary_email_text' : ''%>"><%= link_to(h(company.name), company, :'data-pjax' => "#body-container")  %></p>
					</li>
				</ul>
        
      </li>
    <% end %>
    <% if companies.length > 3 %>
      <li class="show_all" onclick="displayAll()">
        <%= t("more_companies",
            :count => companies.length-3).html_safe %>
      </li>
    <% end %>
  </ul>
<% elsif company.present? %>
  <div class="break-word user-company-name" title="<%= h company.name %>">
    <% if requester_widget && @unassociated_company %>
      <span class="ficon-notice-o fsize-16 requester-notice tooltip" data-original-title="<%=t('company.requester_not_associated') %>" ></span>
    <% end %>
    <%= link_to(h(company.name), company, :'data-pjax' => "#body-container")  if privilege?(:view_contacts)%>
    <%= content_tag(:span, h(company.name)) unless privilege?(:view_contacts)%>
  </div>
<% end %>

<script type="text/javascript">
  function displayAll(){
    jQuery(".user-company-name").removeClass("hide");
    jQuery(".show_all").hide();
  }
</script>
