  <div id="pages" class="tickets-container">      
		<% if @items.nil? || @items.empty? %>
			<div class="geryPlainHeader">
				<div class="list-noinfo"><%= t('helpdesk.tickets.views.no_tickets') %></div>
			</div>
		<% else %>
	  	<div class="geryPlainHeader">
	      <table class="tickets" width="100%">
	      	<thead>
	      		<tr>
		      		<th class="check">
		      			<input type="checkbox" onclick="Helpdesk.sel.toggleCheckAll(this)"  />
		      		</th>
					<th> 
						<% if current_selector == :deleted %>
						  <%= link_to_function(t('undelete'), "Helpdesk.sel.submit('#{ restore_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %>
						<% else %>
						  <%= link_to_function(t('delete'), "Helpdesk.sel.submit('#{ helpdesk_ticket_path('multiple') }', 'delete')", :class => "button") %>
						<% end %>
						
						<% if current_selector == :spam %>
						  <%= link_to_function(t('ticket.unflag_spam'), "Helpdesk.sel.submit('#{ unspam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
						<% else %>
						  <%= link_to_function(t('ticket.flag_spam'), "Helpdesk.sel.submit('#{ spam_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
						<% end %> 
						
						<% if current_selector != :deleted && current_selector != :spam %>
							<%= link_to_function(t('close'), "Helpdesk.sel.submit('#{ close_multiple_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %>
							<%= link_to_function(t('ticket.pick_up'), "Helpdesk.sel.submit('#{ pick_tickets_helpdesk_ticket_path('multiple') }', 'put')", :class => "button") %> 
						
							<a href="javascript:void(0)" id="agent-assign-link" class="button"><%=t('ticket.assign_to_agent')%></a>
							<div id="assign-options" style="display:none;">
							    <%= content_tag( :label, t('ticket.select_to_agent')) %> 
							    <%= select_tag 'responder_id', options_from_collection_for_select(Agent.technician_list(current_account), :id, :name, current_user) %>
							</div>
						<% end %>
					</th>	
					<th>	
					
					</th>
				</tr>
	      	</thead>
		  </table>
		 </div>
     <% form_tag "", { :id => "expanded",  :method => :put } do %>
      <table class="tickets">	
        <tbody>
          <%= render :partial => "/helpdesk/shared/expanded/ticket", :collection => @items %>
        </tbody>
      </table> 
     <% end %>
	  
	  <% end %> 
  </div>

  <%= will_paginate @items %> 

<% content_for :main_panel_title do %>
  
<% end %>

<% content_for :main_panel_toolbar do %>
   
<% end %>

<% content_for :main_panel_selected_toolbar do %>
 
<% end %>

<% content_for :main_panel_content do %> 
  
<% end %>

<%= render :partial => "/helpdesk/shared/main_panel" %>