<%= will_filter_scripts_tag %>
<h3 class="title">
  Filters
</h3>
<% link_to("Save this View...", "/helpdesk/tickets/custom_view_save", :title => "Save ticket view", :class => "slim-button floatr dialog2", :dialogWidth => "540px") %>
    <% @show_options.each_with_index do |c_hash, i| %> 
  	  <% content_tag :div, { :id          => "div_ff_#{c_hash[:condition]}", 
                             :class       => "ff_item", 
                             :condition   => c_hash[:condition],
                             :operator    => c_hash[:operator],
                             :container   => c_hash[:container] } do %>
          <h4 class="title"><%= c_hash[:name] %></h4>                              
          <%= render :partial => "/helpdesk/tickets/containers/#{c_hash[:container]}", :locals => { :options => c_hash[:options], :name => c_hash[:name] } %>
      <% end %>
    <% end %>

<% javascript_tag do %> 
	var query_hash  = $A();

	jQuery(document).ready(function(){	
	
	if ('<%=@ticket_filter.accessible.visibility%>' == '<%=Admin::UserAccess::VISIBILITY_KEYS_BY_TOKEN[:group_agents]%>')
		{
			jQuery('#accessible_group').show();	
			jQuery('#visibility_group_id').removeAttr('disabled');
		}
		else
		{
			jQuery('#visibility_group_id').attr('disabled','disabled');
		}
   

    jQuery(".filter_item").bind("change", function(ev){
     query_hash = $A(); 
     jQuery("div.ff_item").map(function () {
            condition = this.getAttribute("condition");
            container = this.getAttribute("container");
            operator  = this.getAttribute("operator");
            _selector = 'input:checkbox:checked'; 
            if(container == "multi_select"){
              _selector = 'option:selected';
            }
            
            value     = jQuery(this).find(_selector).map(function () {
                            return this.value;
                          }).get();
                          
            if(value.length){
              query_hash.push({ 
                condition : this.getAttribute("condition"), 
                operator  : this.getAttribute("operator"),
                value     : value.toString()
              })
            };
     });
     
     jQuery.ajax({
        url: "/helpdesk/tickets/custom_search",
        type: "POST",
        data: { data_hash: query_hash.toJSON() },
        success: function(msg){
          jQuery("#ticket-list").html(msg);
        }
      });  
    });	
  });
  
  
	function toggleGroup(access_id)
	{	
		if (access_id == '<%=Admin::UserAccess::VISIBILITY_KEYS_BY_TOKEN[:group_agents]%>')
		{
			jQuery('#accessible_group').show();
			jQuery('#visibility_group_id').removeAttr('disabled');
		}
		else
		{
			jQuery('#accessible_group').hide();	
			jQuery('#visibility_group_id').attr('disabled','disabled');
		}
	}
	
	
  
 
<% end %>


