<% javascript_tag do -%>
	function insertIntoConversation(value){
		note_area  = jQuery('#cnt-note');
		reply_area = jQuery('#cnt-reply');
		if(note_area.css("display") == 'block'){
			insertTextAtCursor( $('add-note-cnt-note-body'), value );
			jQuery('#add-note-cnt-note-body').trigger("focus");
		} 
		else{
			if(reply_area.css("display") == 'none')
				jQuery('#ReplyButton').trigger("click");
			
			insertTextAtCursor( $('send-email-cnt-reply-body'), value );
			jQuery('#send-email-cnt-reply-body').trigger("focus");
		}
	}
		
	function respondWithSol(select, sol_id, url){	
		if (select == "url"){
			insertIntoConversation(url);
		}
		else if(select == "none"){
			return true;		
		}
		else{
			handleSolutionDetail(sol_id);		
		}
	}

	function handleSolutionDetail(sol_id){
		jQuery.ajax({	type: 'POST',
						url: '/helpdesk/tickets/get_solution_detail/'+sol_id,
						contentType: 'application/text',
						async: false,						
						success: function(data){		
									insertIntoConversation(data);
								}
						});
		return true;
	};

(function($){	  
	$(document).ready(function(){
		$("div.item")
			.hover(function(ev){
				   		$(this).find(".item-menu").show();
				   }, 
				   function(ev){
				   		$(this).find(".item-menu").hide();
				   });
	});
})(jQuery);


<%- end %>


<div class="rtDetails" id="RelatedSolutions" style="display:none;">
	<h3 class="title"><%= t(:'ticket.suggested_solutions.title') %></h3>
		
	<% if (@articles.size == 0) %>
		<br /> 
		<div>&nbsp;&nbsp;&nbsp; <%= t(:'ticket.suggested_solutions.no_result') %> </div>
	<% else %> 
		<div class="request-list">
			<% @articles.each do |article| %>
			 <% unless article.nil? %>
			 	<% article_url = solution_category_folder_article_url(article.folder.category_id,article.folder_id,article) %> 
				<div class="item">
					<%= link_to( "<span class='bulb'></span> <span class='private-icon'></span> #{article.excerpts.title} ", 
								article_url, 
								:target => "blank", 
								:class => "item-title #{( !article.folder.visible?(current_user) ) ? 'private' : '' }",  
								:title => truncate ( article.desc_un_html, 100) ) %>
								
					<div class="item-menu">
						<ul>
							<li><%= link_to_function t(:'ticket.suggested_solutions.insert_content'), "respondWithSol('content', '#{article.id}', '#{article_url}')", :title => t(:'ticket.suggested_solutions.insert_content_tip'), :class => "custom-tip" %></li>
							<%if article.folder.visible?(current_user)%>
								<li><%= link_to_function t(:'ticket.suggested_solutions.insert_url'), "respondWithSol('url', '#{article.id}', '#{article_url}')", :title => t(:'ticket.suggested_solutions.insert_url_tip'), :class => "custom-tip" %></li>
							<%end%> 
						</ul>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>