<h3 class="title"><%= t(:'ticket.suggested_solutions.title') %></h3>
  <div class="request-list">
    <%= each_or_message("helpdesk/tickets/components/article", @articles, t(:'ticket.suggested_solutions.no_result')) %>
  </div>
  <div class="panel_area"> 
    <%= link_to_function( "Find more solutions", "this.hide();$('more_solutions').show();", :class => "floatr slim-button") %>
    <div id="more_solutions" style="display:none;">
      <form id="searchmoreform" action="#">
        <label class="overlabel" id="search_solutions_label" for="solution_search">Search solutions</label>	
 	      <input id="solution_search" name="solution[search]" size="30" type="text" /> 
 	      <%= submit_tag( "Search", :class => 'button' ) %>
 	    </form>
 	  </div>
  </div>  
  <div id="more_search_results"></div>

	<% javascript_tag do -%>
		 function respondWithSol(select, sol_id, url){	
			if (select == "url"){
				insertIntoConversation(url);
			}
			else if(select == "none"){
				return true;		
			}
			else{
				handleSolutionDetail(sol_id);		
			}
		}

    function handleSolutionDetail(sol_id){
      jQuery.ajax({	type: 'POST',
        url: '/helpdesk/tickets/get_solution_detail/'+sol_id,
        success: function(data){ insertIntoConversation(data); }
      });
      return true;
    };

		jQuery("div.item").live("mouseover mouseout", function(event) {
		  if ( event.type == "mouseover" ) {
		    jQuery(this).find(".item-menu").show();
		  } else {
		    jQuery(this).find(".item-menu").hide();
		  }
		});
		
		jQuery("#search_solutions_label").overlabel();
		
		jQuery("#searchmoreform").submit(function(){
		  var query = $('solution_search').value;
			jQuery("#componentlist").addClass("loading-center");
			jQuery('#more_search_results')
			  .load('/helpdesk/tickets/component/'+<%=@ticket.id%>+'?component=search_solutions&q='+query, 
			        function() {
                jQuery("#componentlist").removeClass("loading-center");
              });
              
      return false;
    });
	<%- end %>
