<% javascript_tag do %> 
	changeAggentList = function(group_id)
	{
		jQuery('#assigned_to')
			.addClass('loading-right')
			.children("select")
			.replaceWith("...");
		
		jQuery.ajax({type: 'POST',
					 url: '/helpdesk/tickets/get_agents/'+group_id,
					 contentType: 'application/text',
					 success: function(data){
								jQuery('#assigned_to')
									.html(data)
									.hide()
									.removeClass('loading-right')
									.show("highlight", {}, 500);
							  }
					});
	}
	
	function dueDateSelected(date){
		new Date(date);
	}
	
<% end %>

<div class="rtDetails" id="TicketProperties">
	<h3 class="title"><%=t('ticket_due_by_time')%></h3>
	<ul class="cnt" id="due-by-time-parent">
	   <li>
			<div id="edit-due-by-time" >
				 <span class="edit-item"></span>
				 <span><%= formated_date(ticket.due_by) %></span>
			</div> 
	   </li> 
	</ul>
	<h3 class="title"><%=t('ticket.properties')%></h3>	
	<% form_for ticket, :html => { :id => 'custom_ticket_form' } do |f| %>
	   <ul class="cnt">
		   <!--form values starts here-->
		   <% current_account.ticket_fields.each do |field| %>
		     <% if field.visible_in_view_form? %>
		      <% 
		          field_value = (field.is_default_field?) ? ticket[field.field_name] : @item.get_ff_value(field.name)
		          dom_type    = (field.field_type == "default_source") ? "dropdown" : field.dom_type
		      %>
          <%= construct_ticket_element :helpdesk_ticket, field, field.label, dom_type, field.required, field_value %>
         <% end %>
       <% end %>
       <% javascript_tag do %>  
         jQuery('#helpdesk_ticket_group_id')
           .bind("change", function(e){
             jQuery('#helpdesk_ticket_responder_id')
                     .html("<option value=''>...</option>");
             jQuery.ajax({
               type:        'POST',
               url: 		     '/helpdesk/tickets/get_agents/'+this.value,
               contentType: 'application/text',
               success:     function(data){
                               jQuery('#helpdesk_ticket_responder_id')
                                 .html(data);
                            }
             });
           });
       <% end %>
			<!--form values ends here-->
			<!-- Custom fields ends here-->
			<li class="button-container">
				<%= f.submit t('update'), :class => "uiButton grey small" %>
			</li>		
	   </ul>
	<% end %> 
</div> 

<% content_for :dialogs do -%>
	<div id="due-date-dialog-container" style="display:none; position:absolute; left:0px; top:0px; width: 100%; height: 100%; ">
		<div class="transparent-overlay" id="due-date-overlay"></div>	
		<div class="due-date-dialog" id="due-date-dialog" style="display:none;"> 
			<span class="right_pointer"></span>
			<% form_for ticket, :url => { :action => "change_due_by" }, :html => { :id => "DueDateForm", :method => "put" } do |f| %>
				<label>When's it Due?</label>
			  <select name="due_date_options" id="due-date-options">
					<option value="today">Today</option>
					<option value="tomorrow">Tomorrow</option>		
					<option value="thisweek">This week</option>
					<option value="nextweek">Next week</option>			
					<option value="specific">Specific date/time...</option>
			  </select> 
			  <span id="due-date-button">or <a href="javascript:void(0)" id="set-date-time">Set Date/time</a> </span>
			  <div class="due-date-calender" id="due-date-calender" style="display:none;">
				<div id="due-date-picker"></div>
				<div class="due-date-info">
					<p>
						Due:
						<span id="due-date-value">
							<%= ticket.due_by.strftime("%a %B %e %Y") %>
						</span>
					</p>
					<p>
						at	
						<%= select_tag "due_by_hour",   options_for_select(%w{ 1 2 3 4 5 6 7 8 9 10 11 12 }, ticket.due_by.strftime("%l").strip) %> :
						<%= select_tag "due_by_minute", options_for_select(%w{ 00 15 30 45 }, ticket.due_by.strftime("%M").strip) %>
						<%= select_tag "due_by_am_pm",  options_for_select(%w{ AM PM }, ticket.due_by.strftime("%p").strip) %>
					</p>
				</div>
			  </div>
			  <%= hidden_field_tag "due_by_date_time" %>
			  <div class="calender-buttons" id="calender-buttons">
				<%= link_to_function( "Cancel", "showHideDialog(false)", :class => "uiButton small" ) %>
				<%= f.submit "Save", :class => "uiButton small" %>
				<span class="loading-item"></span>
			  </div>
			  <div id="calender-info" class="info-highlight" style="display:none;">
				Please give a date & time that is newer than the ticket's created date & time
			  </div>
			<% end %>
	   </div>
	</div>
	<% javascript_tag do %>
		var ticket_created_on = new Date("<%= ticket.created_at.strftime("%B %e, %Y %H:%M") %>");
		
		function showHideDialog(showHide){
			if(showHide){
				jQuery("#due-date-dialog-container").show();
				jQuery("#due-date-dialog").fadeIn();
				jQuery("#edit-due-by-time" ).addClass("highlight-text");					
			}else{
				jQuery("#due-date-dialog")
					.fadeOut(300, function(){
						jQuery("#due-date-dialog-container").hide();
					});
				jQuery( "#edit-due-by-time" ).removeClass("highlight-text");					
			}
		}
		
		(function($){ 
			
			$( "#due-date-picker" )
				.datepicker({
					showOtherMonths: true,
					selectOtherMonths: true,
					changeMonth: true,
					changeYear: true,
					onSelect: function(dateText, inst) {
						selectedDate = new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay);
						$("#due-date-value").html( selectedDate.toDateString() );
						CalcSelectedDateTime();
					}
				});
				
			$("#due-date-options")
				.change(function(){
					if(this.value == 'specific')
						toggleDateCalender(true);
					else
						toggleDateCalender(false);
				});
			
			$("#due_by_hour, #due_by_minute, #due_by_am_pm")
				.change(CalcSelectedDateTime);
				
			$("#set-date-time")
				.click(function(){
					toggleDateCalender(true);
					$("#due-date-options").val("specific");
				});
				
			function toggleDateCalender(showOrHide){
				if(showOrHide){
					$("#due-date-button").hide();
					$("#due-date-calender").slideDown(300);
				}	
				else{
					$("#due-date-button").show();
					$("#due-date-calender").slideUp(300);
				}
			}
			
			$("#due-date-dialog")
				.position({
					of: $( "#due-by-time-parent" ),
					my: "right top",
					at: "left top"
				});
			
			$("#edit-due-by-time").click(function(){
					showHideDialog(true);
				});
			
			$("#due-date-overlay").click(function(){
					showHideDialog(false);
				});
			
			function CalcSelectedDateTime(){
				_date_time = $("#due-date-picker").datepicker("getDate"); 
				am_pm_val = $("#due_by_am_pm").val();
				hrs_val = parseInt($("#due_by_hour").val())
				
				if(hrs_val == 12 && am_pm_val == "AM") hrs_val = 0
				else if(am_pm_val == "PM" && hrs_val != 12) hrs_val += 12
				
				_date_time.setHours( hrs_val );
				_date_time.setMinutes( $("#due_by_minute").val() );
				
				if (ticket_created_on > _date_time){
					$("#calender-buttons").hide();
					$("#calender-info").show();
				}else{
					$("#calender-buttons").show();
					$("#calender-info").hide();
				}				
				return _date_time;
			}
			
			$("#DueDateForm").submit(function(){  
				$("#calender-buttons").addClass("saving-items");
				_date_time = new Date();
				
				if($( "#due-date-options" ).val() == "specific"){
					_date_time = CalcSelectedDateTime();
				} 
				 
				$("#due_by_date_time").val(_date_time);
									
				$.post(this.action, $(this).serialize(), 
							function(data) {
				     			$("#edit-due-by-time").html(data);
								showHideDialog(false);
								$("#calender-buttons").removeClass("saving-items");
				   			});
				return false;
			});

			
		})(jQuery);
	<% end %> 
<%- end %>
