<% user = ticket.requester %>
<h3 class="title"><%=t('ticket.requestor_info')%></h3>
<div class="user_details_widget">  
	<div class="clearfix"><%= user_avatar(user, :medium)  %></div>
	<div><%= link_to(h(user.name), user, :class => "user_name") %></div>
  <div class="wrap"><%= auto_link(h(user.email)) %></div>
		<div><%= h(user.twitter_id) %></div>
		<div><%= h(user.phone) %></div>
		<div><%= h(user.mobile) %></div>
		<div><%= h(user.job_title) %> <b><%= (user.customer ? "at #{user.customer.name}" : "")  %></b></div>		
	</div>
	<% @liquid_objects = {"requester" => user} %>
  <%= get_app_widget_script("capsule_crm", "contact_widget", @liquid_objects) %>
	<div class="seperator"></div>
	<h3 class="title"><%=t('ticket.recent_tickets')%></h3>
	<ul class="ui-list_with_icon">
	    <% user.tickets.newest(5).each do |ticket| %>	
			<li>
				<%= link_to( truncate("##{ticket.display_id} " + h(ticket.subject), 60), ticket ) %>
			</li>		
		<% end %>
	</ul>
</div>
