<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
<% end %>
<div class="list-page">
  <div class="list-page-header">
    <div class="row-fluid">
      <h3 class="lead span8"><a class="falcon-mailbox-listall falcon-mailbox-link"> <%= t('email_configs.title')%> </a > / <%=t('email_configs.dkim.title')%></h3>
      <a href="https://support.freshdesk.com/support/solutions/articles/223779-digitally-sign-emails-with-dkim-" class="pull-right pt5" target = "_blank" rel="noopener"> <%= t('email_configs.dkim.help') %> </a>
    </div>
  </div>
  <p class="muted">
    <%= t('email_configs.dkim.description') %>
  </p>
  <div class="list-page-body">
    <%if @domain_categories.present?%>
      <ul class="dkim-list-wrapper">
        <% @domain_categories.each do |domain_category|%>
          <%= render "dkim_domains", :domain_category => domain_category %>
        <% end %>
      </ul>
      <div class="toolbar">
         <%=will_paginate @domain_categories,
            :params => {:controller => "dkim_configurations", :action => "index"},
            :renderer => BootstrapPaginationRenderer,
            :previous_label => "<b class='arrow-left'></b>",
            :next_label => "<b class='arrow-right'></b>",
            :class => "pagination pagination-centered"%>
      </div>
    <%else%>
      <div class="new-email-domain muted">
        <%if current_account.multiple_emails_enabled? %>
          <span><%= t('email_configs.dkim.new_dkim') %> - </span>
          <a class="falcon-mailbox-new falcon-mailbox-link"><%= t("create") %></a>
        <% else %>
          <span><%= t('email_configs.dkim.new_dkim') %></span>
        <% end %>
      </div>
    <%end%>
  </div>
</div>
