<% @user_session ||= current_account.user_sessions.new %>
<%= form_for @user_session, :url => support_login_path do |f| %>
  <%= render :partial => '/support/login/custom_error_messages' %>
	<fieldset>
	  	<div class="control-group">
	  		<div class="controls">
	  			<input class="required special" id="user_session_email" name="user_session[email]" autofocus="true"
	  				placeholder="<%= t('your_email_address') %>" size="30" type="email" value="<%= @user_session.email %>" />
	  		</div>
		</div>
		<div class="control-group">
	  		<div class="controls">
	  			<input class="special" id="user_session_password" name="user_session[password]" 
	  				placeholder="<%= t('.password') %>" size="30" type="password" autocomplete="off">
	  		</div>
	  	</div>
        <% if @show_recaptcha %>
          <div class="controls recaptcha-control">
            <%= recaptcha_tags :display => { :theme => "white" } %>
          </div>
       <% end %>
    <% unless current_account.launched?(:idle_session_timeout) %>
		<div class="control-group">			
	  		<div class="controls" title="<%= t('uncheck_remember_tooltip') %>">
	  			<label class="checkbox">
	  				<%= f.check_box :remember_me, {:checked => true} %>
					<%= t('.remember') %>
				</label>
			</div>
	  	</div>
    <% end %>
	  	<div class="control-group">			
	  		<%= link_to(t('.forgot'), "", 
					:id => "forgot_password",
					"data-toggle-dom" => "#forgot-form, #login-form" ) if (!@user_session.attempted_record || (@user_session.attempted_record && @user_session.attempted_record.failed_login_count <= 1)) || (@user_session.attempted_record.failed_login_count >= UserSession.consecutive_failed_logins_limit) %>
	  		<div class="controls">
	  			<button type="submit" class="btn btn-primary btn-login"> <%= t('.login') %> </button>
	  		</div>
	  	</div>
      <% if current_account.freshid_integration_enabled? && !current_account.hide_agent_login_enabled? %>
        <section class="freshid_login">
          <div class="agent-login-link">
            <i class="ficon-helpdesk_new agent-login-icon"></i>
            <div class="link-content">
              <span><%= t('portal.agent_login_info') %> </span>
              <% login_url = agent_login_link %>
              <%= link_to t('portal.agent_signin'), login_url %>
            </div>
          </div>
          <% if current_account.customer_oauth2_sso_enabled? || current_account.customer_freshid_saml_sso_enabled? || current_account.contact_custom_sso_enabled? %>
            <div class="customer-login-link">
              <i class="ficon-helpdesk_new customer-login-icon"></i>
              <div class="link-content">
                <% customer_login_url = customer_login_link %>
                <span> <%= t('portal.customer_login_info') %> </span>
                <%= link_to t('portal.agent_signin'), customer_login_url %>
              </div>
            </div>
          <% end %>
        </section>
      <% end %>
	</fieldset>
<% end %>
