
  <% form_for @item do |f| %>
    <%= f.error_messages %>
    <%= hidden_field_tag :redirect_to, params[:redirect_to] %>

    <table>
      <tr>
        <td colspan="2">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :status, "Status" %>
          <%= f.select :status, Helpdesk::Issue::STATUS_OPTIONS %>
        </td>
        <td>
          <%= f.label :owner_id, "Assigned To" %>
          <%= f.collection_select :owner_id, Helpdesk::Authorization.find_all_by_permission(:manage_tickets), :id, :name, {:include_blank => 'Nobody'} %>
        </td>
      </tr>
    </table>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

    <div class="button-container">
      <%= f.submit %>
      <%= submit_tag "Save and Create Another", :name => "save_and_create"%>
      <%= link_to "Cancel", (@item.new_record? ? {:action => 'index'} : @item )%>
    </div>

  <% end %>
