<span class="back"> <%= t('freshfone.widget.back') %> </span> <span class="slash">/</span> <span class="title slash"> <%= t('freshfone.widget.new_ticket') %></span>
<div class="form-horizontal">
	<div class="control-group">
		<label class="control-label ticket_sub" for="ticketSubject"><%= t('freshfone.widget.subject') %></label>
		<div class="controls">
			<input type="text" name="ticket_subject" id="ticketSubject" class="subject" tabindex="1" /><br>
		</div>
	</div>
<div class="row-fluid">
  <div class="span4 details_span">
	   <label class="control-label requesterDetails" id="requesterDetails" ><%= t('freshfone.widget.requester_details') %></label>
	</div>

  <div class="name_container_span" >
	 <div class="requester_name_container">
		 <div class="control-group">
		  <div class="span4">
			 <label class="control-label requesterNameLabel requesterLabel" for="requesterName" ><%= t('freshfone.widget.requester_name') %></label>
		  </div>
		  <div class="span8">
			 <div class="controls">
				<input type="text" name="requester_name" id="requesterName"  class="requesterName" data-partialRequesterList="" data-current-user tabindex="2" /><br><br>
				<input type="hidden"  id="requesterId" />
				 <div id="requesterName_choices" class="autocomplete"></div>
			 </div>

		   <div class="error_message error hide" id="strangeNumberMessage" ><%= t('freshfone.widget.strange_number_message') %><br></div>
		   <div class="error_message error hide" id="contactDetailsBlankMessage" ><%= t('freshfone.widget.contact_betails_blank_message') %><br></div>
		   <div class="error_message error hide" id="invalidEmailMessage" ><%= t('freshfone.widget.invalid_email_message') %><br></div>
		   <div class="error_message error hide" id="invalidNumberMessage" ><%= t('freshfone.widget.invalid_number_message') %><br></div>
		  </div>
	</div>

		<div class="control-group email_dom hide" id="requesterEmail_dom">
		 <div class="span4">
			 <label class="control-label requesterLabel" for="requesterEmail" ><%= t('freshfone.widget.requester_email') %></label>
		 </div>
		 <div class="span8">
			 <div class="controls">
				 <input type="text" name="requester_email" id="requesterEmail" tabindex="3" />
			 </div>
      <div class="or_border">
		    <div class="or_text" id="orText" ><p class="or_background"><%= t('freshfone.widget.email_phone') %></p></div>
		  </div>
		 </div>

    <div class="row-fluid">
     <div class="span4">
			<label class="control-label requesterLabel" for="requesterPhone" ><%= t('freshfone.widget.requester_phone') %></label>
		 </div>
		 <div class="span8">
	     	<div class="controls">
					<input type="text" name="requester_phone" id="requester_phone" tabindex="4" /> 
				</div>
		 </div>
		</div>
	 </div>
	</div>
 </div>
</div>
</div>
<div class="btn-group row">
	<button class="btn btn-primary save_ticket" tabindex="5" data-loading-text="<%=t('freshfone.widget.saving')%>"><%= t('freshfone.widget.save')%></button>
</div>