<div class="end_call_notes_container">
	<p><%= t('freshfone.widget.ticket_info') %></p>
	<textarea id="end_call_notes" class="final_call_notes" tabindex="1"
						placeholder="<%= t('freshfone.widget.note_placeholder') %>"></textarea>
	<div class="end_call_form_btns">
		<button class="btn end_call_save" tabindex="2">
			<%= t('freshfone.widget.new_ticket') %><span class="arrow-right"></span>
		</button>
		<button class="btn save_to_existing" tabindex="3">
			<%= t('freshfone.widget.save_to_existing') %><span class="arrow-right"></span>
		</button>
		<button class="btn end_call_cancel" tabindex="4">
			<%= t('freshfone.widget.ignore_ticket') %>
			<p class="btn-notes"><%= t('freshfone.widget.ignore_ticket_info') %></p>
		</button>
	</div>
</div>
