<h3 class="ellipsis modal-title end_call_form_heading"><%= t('freshfone.widget.title') %></h3><br>
<div class="end_call_notes_container">
	<p><%= t('freshfone.widget.ticket_info') %></p>
	<textarea id="end_call_notes" class="final_call_notes" tabindex="1"
						placeholder="<%= t('freshfone.widget.note_placeholder') %>"></textarea>
	<div class="end_call_form_btns">
		<div class='end_call_added_ticket hide'>
			<div class='added_ticket_details'>
				<div class='added_ticket_subject'> </div>
				<div class='ficon-cross fsize-18 unattach_added_ticket pull-right'> </div>
			</div>
			<div class='btn btn-primary set-ticket-btn pull-right'> <%= t('freshfone.widget.save') %> </div>
		</div>
		<button class="btn end_call_save" tabindex="2">
			<%= t('freshfone.widget.new_ticket') %><span class="arrow-right"></span>
		</button>
		<button class="btn save_to_existing" tabindex="3">
			<%= t('freshfone.widget.save_to_existing') %><span class="arrow-right"></span>
		</button>
		<button class="btn end_call_cancel" tabindex="4">
			<%= t('freshfone.widget.ignore_ticket') %>
			<p class="btn-notes"><%= t('freshfone.widget.ignore_ticket_info') %></p>
		</button>
	</div>
</div>
