<input class="user_phone" id="number" type="tel">
<% if current_account_freshfone_number_hash.length == 1 %>
 <% number = current_account_freshfone_number_hash.first %>
    <span data-number_id='<%= number[1] %>' class="outgoing_number hide"
				id="outgoing_number_selector"><%= number[0] %></span>
<% else %>
	<%= select_tag "outgoing_number_selector", 
								options_for_select(current_account_freshfone_details),  
								 :class => "span2 outgoing_numbers_list",
								 :id => "outgoing_number_selector",
								 :"data-dropdown-css-class" => "outgoing_numbers_list_dropdown",
								 :"data-minimum-results-for-search" => 5,
								 :"data-attachto-container-class" => ".popupbox-content" %>
<% end %>
<span class="invalid_phone_text hide">
	<p class="invalid_text"><%=t('freshfone.dialpad.not_valid_number')%></p>
</span>
<span class="invalid_phone_num hide">
	<p id="invalid_num"><%=t('freshfone.dialpad.could_be_invalid_number')%><br><%=t('freshfone.dialpad.invalid_number_continue_call')%></p>
</span>
<span class="already_in_call_text hide"><%=t('freshfone.dialpad.already_in_call')%></span>
<span class="info_message hide"><%=t('freshfone.dialpad.not_enough_credit')%></span>
<span class="restricted_country hide"><%=t('freshfone.dialpad.restricted_country')%></span>

