<div  class="transfer_call_container">
  <!-- Transfering message -->
  <div class="transferring_call">
  </div>
  <div class='transfer_failed hide'>
    <div class='phone'>
      <div class='ficon-ff-phone fsize-18 ff-icon'></div>
    </div>
    <b class='transfer_failed_msg'><%= t("freshfone.no_agent_call") %></b>
    <% if current_account.features?(:freshfone_conference) %>
      <a class='btn btn-success call-reconnect' id='transfer_reconnect'><%= t("freshfone.resume_customer_call") %></a>
    <%end%>
  </div>

  <!-- Menu -->
  <div class="transfer-call-header">
    <div type="button" id='transfer-icon-menu' class="<%='btn btn-default dropdown-toggle ' unless freshfone_trial_states?%>transfer-dropdown-button"
    <%unless freshfone_trial_states? %> 
      data-toggle="dropdown"
    <%end%>
    data-menu='transfer-agent-icon' aria-expanded="false">
    	<div id='transfer-menu-btn'><i class="ficon-ff-group fsize-16"></i></div>
      <%unless freshfone_trial_states? %>
        <span class="caret transfer-caret"></span>
      <%end%>
    </div>
    <!-- toggle menu list -->
    <ul id='transfer-menu-items' class="dropdown-menu transfer-menu-list" role="menu">
      <li class="hide transfer-agent-icon">
      	<a href="#"><i id='transfer-agent-list' class="ficon-ff-group fsize-16"></i></a>
      </li>
      <%unless freshfone_trial_states? %>
        <li class='transfer-number-icon' id='external-number-menu'>
          <a href="#"><i id='transfer-number-list' class="ficon-ff-dialpad fsize-14"></i></a>
        </li>
      <%end%>
    </ul>

    <!--- ListJS  -->

  <div id='transfer-list' data-list='transfer-agent-icon' class="list">
    <div id='online-agents-list' class="transfer-agent-icon">
      <div class='list-component'>
        <input class="search" placeholder="<%= t('freshfone.widget.transfer_agents') %>" />
        <ul class="available_agents_list"></ul>

        <!--template -->
        <div class="hide">
          <!-- A template element is needed when list is empty, TODO: needs a better solution -->
          <li id="agents-item">
             <h3 class="available_agents_avatar"></h3>
             <label class="available_agents_name name span2"></label> 
              <span class="call-actions">

                <% if warm_transfer_enabled? %>
                  <a href="#" class="pull-right tooltip warm_transfer ficon-warm-transfer"
                          title="<%= t('freshfone.widget.warm_transfer') %>">
                  </a>
                <% end %>
                <a href="#" class="pull-right tooltip transfer ficon-blind-transfer offset1"
                        title="<%= transfer_tooltip %>"></a>
                <% if current_account.features?(:agent_conference) %>
                <div class="<%= 'add-agent-border' if warm_transfer_enabled? %>">
                <a href="#" class="pull-right tooltip add_agent ficon-plus"
                        title="<%= t('freshfone.widget.add_agent_to_call') %>">
                </a>
                </div>
                <% end %>   
              </span>
             <span class="hide sortname"></span>
             <span class="hide agents_count"></span>
             <span class="hide id"></span>
             <span class="hide agents_ids"></span>
             <span class="hide group_id"></span>
          </li>
        </div>
      </div>

      <div class="no_available_agents">
        <label>
          <%= t('freshfone.widget.unavailable_agents') %>
        </label>
      </div>
    </div>
   

    <% unless freshfone_trial_states? %>
      <div id='external-numbers-list' class="hide transfer-number-icon">
        <div class='list-component'>
          <input class="search" id='search-external' placeholder="<%= t('freshfone.widget.transfer_numbers') %>" />
          <ul class="available_numbers_list"></ul>
          
          <ul class="search-number-label" id='new_external_number' class='hide'>
            <li id='external-number' class='transfer-active'>
                 <span class="transfer-phone-icons">
                   <i class="ficon-ff-group fsize-16"></i>
                 </span>
                 <span class="available_agents_name name span2" id="external_number_label"></span>
            </li>
          </ul>
           <!--template -->
          <div class="hide">
            <li id="numbers-item" >
               <span class="transfer-phone-icons">
                 <i class="ficon-ff-group fsize-16"></i>
               </span>
               <span class="available_agents_name name span2 external_number"></span>
               <span class="call-actions">
                <a href="#" class="pull-right tooltip transfer ficon-blind-transfer"
                        title="<%= t('freshfone.widget.transfer_call') %>"></a>   
              </span>
              <span class="hide id"></span>
            </li>
          </div>
          <div class="no_available_numbers hide">
            <%= t('freshfone.widget.no_transfers') %>
          </div>
        </div>
      </div>
    <% end %>
   
</div>
  </div>
</div>

<script id="transfer-info-template" type="text/x-jquery-tmpl">
    <div class='transfer-progress-bar'></div>
    <div class='transfer-info-details'>
      <div class='agent_img' id='ff-target-agent'>
        <div class="ringer">
          {{html avatar}}
        </div>
      </div>
      <div class='transfer-info-details-right'>
        <div class='target-name ellipsis'>${name}</div>
        <div class='transfer-status'>
          <div class='in_progress' data-status='inProgress'><%= t('freshfone.widget.transfer.transferring') %></div>
          <div class='ignored hide' data-status='ignored'><%= t('freshfone.widget.transfer.transfer_canceled') %></div>
          <div class='no_answer hide' data-status='noAnswer'><%= t('freshfone.widget.transfer.tranfer_no_answer') %></div>
          <div class='connected hide' data-status='connected'><%= t('freshfone.widget.transfer.tranfer_connected') %></div>
          <div class='group_tranfer_no_answer hide' data-status='noAnswer'><%= t('freshfone.widget.transfer.group_tranfer_no_answer') %></div>
          <div class='group_tranfer_connected hide' data-status='Connected'><%= t('freshfone.widget.transfer.group_tranfer_connected') %></div>
        </div>
      </div>
      <a class='transfer-action hide' id='transfer-action-close'><%= t('freshfone.widget.transfer.close') %></a>
      <% if current_account.features?(:freshfone_conference) %>
        <a class='transfer-action hide' id='transfer-action-resume' data-toggleText=<%= t('freshfone.widget.transfer.resuming') %> ><%= font_icon "ff-phone", :size => 14, :class => "ff-icon" %><%= t('freshfone.widget.transfer.resume') %></a>
        <a class='transfer-action' id='transfer-action-cancel' data-toggleText=<%= t('freshfone.widget.transfer.cancelling') %> ><%= t('freshfone.widget.transfer.cancel') %></a>
      <%end%>
    </div>
    
</script>
