<div class="ff-context-container">
	<div class="desktop-notifier-context">
		<%= render :partial => 'layouts/shared/freshfone/freshfone_desktop_notifier'%>
	</div>
	<% if freshfone_trial_states? %>
		<div class="trial_warnings hide">
			<div class="trial_incoming_warning trial_warning center error hide">
				<%=t('freshfone.admin.trial.incoming_minutes_to_exhaust.other').html_safe %>
			</div>
			<div class="trial_incoming_warning_one trial_warning center error hide">
				<%=t('freshfone.admin.trial.incoming_minutes_to_exhaust.one').html_safe %>
			</div>
			<div class="trial_outgoing_warning trial_warning center error hide">
				<%= t('freshfone.admin.trial.outgoing_minutes_to_exhaust.other').html_safe%>
			</div>
			<div class="trial_outgoing_warning_one trial_warning center error hide">
				<%= t('freshfone.admin.trial.outgoing_minutes_to_exhaust.one').html_safe%>
			</div>
			<div class="trial_expiry_warning trial_warning center error hide">
				<%=t('freshfone.admin.trial.period_to_expire').html_safe%>
				<span class="hide"><%= t('freshfone.admin.trial.days_left.other').html_safe %></span>
			</div>
			<div class="trial_expiry_warning_one trial_warning center error hide">
				<%=t('freshfone.admin.trial.period_to_expire').html_safe%>
				<span class="hide"><%= t('freshfone.admin.trial.days_left.one').html_safe %></span>
			</div>
		</div>
	<% end %>
	<% if current_account.features?(:freshfone_warm_transfer) %>
		<div class="transfer-context hide" id="freshfone_transfer">
			<%= render :partial => 'layouts/shared/freshfone/freshfone_transfer_context' %>
		</div>
	<% end %>
	<div class="add-agent-context hide" id="freshfone_add_agent">
		<%= render :partial => 'layouts/shared/freshfone/freshfone_agent_conference_context'%>
	</div>
	<div class="caller-context">
		<%= render :partial => 'layouts/shared/freshfone/freshfone_caller_context'%>
	</div>
	<div class="recent-ticket-context" >
		<%= render :partial => 'layouts/shared/freshfone/freshfone_recent_tickets' %>
	</div>
	<div id="freshfone_add_notes" class="hide ffone-add-notes">
		<%= render :partial => 'layouts/shared/freshfone/freshfone_add_notes' %>
	</div>
	<div id="freshfone_add_to_ticket" class="hide ffone-add-ticket">
		<%= render :partial => 'layouts/shared/freshfone/freshfone_add_ticket' %>
	</div>
</div>
