<div class="main_content">
	<%= render :partial => 'layouts/shared/freshfone/end_call_main_page' %>
</div>
<div class="ticket_search_pane hide">
	<span class="title slash back"> <%= t('freshfone.widget.back') %></span>
  <span class="slash">/</span>
	<b class="title slash"> <%= t('freshfone.widget.save_to_existing') %></b>
	<%= render :partial => 'layouts/shared/ticket_search', 
						 :locals => { :container => 'end_call_ticket_search' } %>
</div>
<div class="new_ticket_details_form hide">
	<%= render :partial => 'layouts/shared/freshfone/end_call_new_tickets' %>
</div>