<div class="tab-pane hide" id="freshfone_dialpad">
	<input type="hidden" id="lastDial">
	<%= render :partial => 'layouts/shared/freshfone/freshfone_dialpad' %>
</div>
<div id="recent_calls" class="hide">
</div>
<div id="freshfone_add_notes" class="hide ffone-add-notes">
	<%= render :partial => 'layouts/shared/freshfone/freshfone_add_notes' %>
</div>
<div id="freshfone_available_agents" class="hide ffone_available_agents">
	<%= render :partial => 'layouts/shared/freshfone/freshfone_transfer_call' %>
</div>
<div id="end_call" class="hide ffone-end-call">
	<%= render :partial => 'layouts/shared/freshfone/freshfone_end_call' %>
</div>

<div id="failed_hold" class='hide failed_hold'>
  <div class='ffone_hold_message'>
    <span class='hold_init'> <%= t('freshfone.widget.holding') %></span>
    <span class='hold_success hide'> <%= t('freshfone.widget.hold_success') %></span>
  </div>
</div>

<span class="triangle"></span>