<div class="main_content">
	<%= render :partial => 'layouts/shared/freshfone/end_call_main_page' %>
</div>
<div class="ticket_search_pane hide">
	<span class="title slash back"> <%= t('freshfone.widget.back') %></span>
  <span class="slash">/</span>
	<b class="title slash"> <%= t('freshfone.widget.save_to_existing') %></b>
	<%= render :partial => 'layouts/shared/ticket_search', 
						 :locals => { :container => 'end_call_ticket_search' } %>
</div>
<div class="new_ticket_details_form hide">
	<%= render :partial => 'layouts/shared/freshfone/end_call_new_tickets' %>
</div>
  <div class="quality_feedback_container  hide pb10">
    <div class='call_quality_feedback pt15 row-fluid'>
      <span class="pull-left call_quality_text p4"><%= t('freshfone.widget.call_quality') %></span>
      <span class="span5 row-fluid">
        <div class="btn btn-flat span5 good_call call_quality_button" type="button" id="good_rating">  
          <span class="good_call_icon_color call_quality_icon">&#9786;</span> 
          <span class="quality_feedback_text"><%= t('freshfone.widget.good_call') %></span>
        </div>
        <div class="btn btn-flat span5 bad_call call_quality_button" type="button" id="bad_rating"> 
          <span class="bad_call_icon_color call_quality_icon">&#9785;</span>
          <span class="quality_feedback_text"><%= t('freshfone.widget.bad_call') %></span>
        </div>
      </span>
      <span class="span4 hide" id="feedback_dropdown">
          <%= select_tag "feedback_select", options_for_select([['',''],
                                  [t('freshfone.widget.imperfect_audio'), 'imperfect_audio'], 
                                  [t('freshfone.widget.dropped_call'), 'dropped_call'], 
                                  [t('freshfone.widget.audio_latency'), 'audio_latency'],
                                  [t('freshfone.widget.one_way_audio'), 'one_way_audio'], 
                                  [t('freshfone.widget.other_issues'), 'other_issues']]), 
                                  {:class => "select span12", 
                                    "data-placeholder" => t('freshfone.widget.select_issue')}  %>
      </span>
    </div>
    <div class="hide row-fluid center" id="feedback_comment">
      <textarea class="span11 mt10 mr8" type="text" id="bad_call_comment_box" rows="3" placeholder="<%= t('freshfone.widget.additional_comments') %>"></textarea>
    </div>
  </div>