<div class="transfer-info"></div>
<script id="transfer-context-template" type="text/x-jquery-tmpl">
{{if is_receiver}}
<div class="transfer-placer">
  <span class='transfer-status span3'>
    <div class='receiver-in-call hide'>
      <span class="agent_name">${user_name}</span> <%= t('freshfone.widget.transfer.on_call') %>
    </div>
    <div class='completed hide'><span class="agent_name">${user_name}</span> <%= t('freshfone.widget.transfer.end_call') %></div>
  </span>
  <span class="transfer_img">
    {{html user_hover}}
  </span>
</div>
{{else}}
<div class="transfer-placer">
  <span class="ficon-warm-transfer pull-left transfer-label"></span>
  <span class='transfer-status span3'>
    <div class='in_progress'><%= t('freshfone.widget.transfer.transferring_to') %> 
      <span class="agent_name">${user_name}</span>
    </div>
    <div class='busy hide'><%= t('freshfone.widget.transfer.transfer_canceled') %></div>
    <div class='no-answer hide'><%= t('freshfone.widget.transfer.tranfer_no_answer') %></div>
    <div class='connected hide'><%= t('freshfone.widget.transfer.connected') %></div>
    <div class='in_call hide'>
      <span class="agent_name">${user_name}</span> <%= t('freshfone.widget.transfer.on_call') %>
    </div>
    <div class='canceled hide'><%= t('freshfone.widget.transfer.canceled') %></span></div>
    <div class='cancelling hide'><%= t('freshfone.widget.transfer.cancelling') %></span></div>
    <div class='resuming hide'><%= t('freshfone.widget.transfer.resuming') %></span></div>
    <div class='resumed hide'><%= t('freshfone.widget.transfer.resumed') %>..</span></div>
    <div class='completed hide'><span class="agent_name">${user_name}</span> <%= t('freshfone.widget.transfer.end_call') %></div>
  </span>
  <span class="resume_placer">
    <div class="resume_call tooltip" title="<%= t('freshfone.widget.transfer.resume') %>">
      <i class="ficon-freshfone"></i>
      <%= t('freshfone.widget.transfer.resume') %>
    </div>
  </span>
  <span id="freshfone_transfer_cancel">
    <a href="#" class="tooltip cancel_transfer pull-left" title="<%= t('freshfone.widget.transfer.cancel') %>">
      <i class="ficon-cross-round"></i>
      <i class="ficon-cross-filled hide"></i>
    </a>
  </span>
  <span class="transfer_img">
    {{html user_hover}}
  </span>
</div>
<div class="progress-bar-placer">
    <span class='transfer-progress-bar pull-left'></span>
</div>
{{/if}}
</script>
