<script id="freshfone-trial-activation" type="text/x-jquery-tmpl">
  <div class="ff-trial-activate">
    <div class="content">
      <div class="error center">
        {{if reason == 'trial_expired'}}
          <%= t('freshfone.admin.trial.expired') %>
        {{else reason == 'outbound_usage_exceeded'}}
          <%= t('freshfone.admin.trial.outbound_usage_exhausted') %>
        {{/if}}
      </div>
      <% if privilege?(:admin_tasks) %>
        {{if requested}}
          <br/><br/>
          <div class='activation_requested center'>
            <%= t('freshfone.admin.trial.requested_activation').html_safe %>
          </div>
        {{else}}
          <div class="info center remove_after">
            {{if reason == 'trial_expired'}}
              <%= t('freshfone.admin.trial.activate_to_call_expired')%>
            {{else reason == 'outbound_usage_exceeded'}}
              <%= t('freshfone.admin.trial.activate_to_call_outgoing') %>
            {{/if}}
          </div>
          <div class="center">
            <a href="#" class="btn btn-bold btn-flat" 
              id="freshfone_feature_request_widget" data-iswidget='yes'
              data-remove-target="remove_after" >
                <%= t('freshfone.admin.trial.activate_btn_text')%></a>
          </div>
          <br/>
          <div class="activation_requested center"
            id="ff_feature_request_widget"></div>
        {{/if}}
      <% else %>
        <div class="info center">
          {{if reason == 'trial_expired'}}
            <%= t('freshfone.admin.trial.contact_admin_for_expired').html_safe %>
          {{else reason == 'outbound_usage_exceeded'}} 
            <%= t('freshfone.admin.trial.contact_admin_for_call_outgoing').html_safe %>
          {{/if}}
        </div>
      <% end %>
    </div>
  </div>
</script>