<div class="user-profile-rounded image-lazy-load" size_type="thumb">
	<img alt="<%=user.name%>" class="img-circle" data-src="<%=user.avatar%>" onerror="imgerror(this)" size_type="thumb" src="<%=user.avatar%>">
</div>
<div class="name"><%=user.name%></div>
<div class="survey-date"><%=SurveyUtil.getDateString(user.createdAt)%></div>