<% title_set = false %>
<% installed_extensions.each do |key, installed_list| %>

  <% unsupported_apps = key.eql?(:unsupported_apps) || key.eql?(:unsupported_custom_apps) %>
  <% if unsupported_apps && installed_list.length > 0 %>
    <% display_text = "marketplace.unsupported_apps_" + Marketplace::Constants::PLATFORM_ID_BY_VERSION[@platform_version].to_s %>
    <div class="unsupported-apps-box"> <span class="ficon-notice-o notice-o-red-icon fsize-16"></span> <span class="unsupported-apps" data-placement="belowRight"> <%= t("#{display_text}") %></span> </div>
    <% title_set = false %>
  <% end %>


<% installed_list.each do |installed| %>
  <% extension_details = installed[:extension_details] %>
  <% next if skip_falcon_render?(extension_details['name']) %>
  <% installation_details = installed[:installation_details] %>
  <% is_ni_integration = extension_details['type'] == Marketplace::Constants::EXTENSION_TYPE[:ni] %>
  <!-- TODO: app_type should be removed after new ext type is added for custom app -->
  <% is_custom_app = extension_details['type'] == Marketplace::Constants::EXTENSION_TYPE[:custom_app] || 
                      extension_details['app_type'] == Marketplace::Constants::APP_TYPE[:custom] %>

  <% url_params = installation_details['version_id'].present? ? { version_id: installation_details['version_id'] } : {} %>
  <li class="app-custom apps-wrapper apps installed-listing" id="ext-<%= is_ni_integration ? extension_details['name'] : installation_details['extension_id'] %>">
    <section class="fa-area clear">
      <div class="row-fluid list-box <%if !installation_details['enabled']%> disabled-app <%end%>">
        <div class="logo-box pull-left">
          <% unless extension_details['cover_art'].blank? %>
            <img src="<%= extension_details['cover_art']['thumb'] %>" srcset="<%= extension_details['cover_art']['thumb'] %> 1x, <%= extension_details['cover_art']['thumb2x'] %> 2x" alt="<%= extension_details['display_name'] %>"/>
          <% else %>
            <span class="<%= font_class('puzzle', 32) %>"></span>
          <% end %>
        </div>
        <div class="desc-box pull-left">
          <div class="plug-data">
            <a href="" data-url="<%= show_admin_marketplace_extensions_path(installation_details['extension_id']) %>?type=<%=is_custom_app ? Marketplace::Constants::EXTENSION_TYPE[:custom_app] : Marketplace::Constants::DEFAULT_EXTENSION_TYPES %><%= unsupported_apps && !is_ni_integration ? '&unsupported=true' : '' %>" class="moreinfo-lnk plug-name show_btn">
              <%= extension_details['display_name'] %></a> 
            <div class="mkp-prog hide" id="delete_prog_<%= installation_details['installed_extension_id']%>">
              <div class="mkp-prog-spinner"></div>
              <div class="mkp-prog-text">
              <%= t("marketplace.installing_text") %></div>
            </div>

          <% unless unsupported_apps %>
            <div class="plug-actions">
              <div class="switch-box pull-left <%= is_ni_integration ? 'hide tooltip' : '' %>" data-placement="below" data-original-title= "<%= t('marketplace.coming_soon') %>">
                <% enabled_or_disabled_path = installation_details['enabled'] ? admin_marketplace_installed_extensions_disable_path(installation_details['extension_id']) : admin_marketplace_installed_extensions_enable_path(installation_details['extension_id']) %>
                <% toggle_path = !installation_details['enabled'] ? admin_marketplace_installed_extensions_disable_path(installation_details['extension_id']) : admin_marketplace_installed_extensions_enable_path(installation_details['extension_id']) %>
                <%= check_box_tag '', installation_details['enabled'], installation_details['enabled'], "data-url" => enabled_or_disabled_path+"?#{url_params.to_query}", 
              "data-toggle" => toggle_path+"?#{url_params.to_query}", :rel => "toggle", :class=>"switch", :name => "onoffswitch", :id => "indplug_#{installation_details['extension_id']}" %>
              </div>
              <% if !is_ni_integration && ( extension_details['platform_details'][platform_version].include?(installation_details['version_id']) && extension_details['version_id'] != installation_details['version_id']) %>
                  <%= generate_mkp_update_button(extension_details, installation_details) %>
              <% end %>
              <% if installation_details['configs'].present? %>
                <% if is_ni_integration %>
                  <% if show_edit?(extension_details['name']) %>
                    <%= link_to "<span class='#{font_class('settings1', 16)}'></span>".html_safe, edit_integrations_marketplace_app_path(ERB::Util.url_encode(extension_details['name'])), :class => "btn btn-mini btn-settings tooltip", "data-placement" => "below", "data-original-title" => t('application.tooltip.settings') %>
                  <% end %>
                <% elsif !is_oauth_app?(extension_details) %>
                  <%= generate_mkp_edit_button(extension_details, installation_details)%>
                <% end %>
              <% elsif is_iframe_app?(extension_details)%>
                <% edit_params = { "type" => extension_details['type'], "installation_type" => "settings", "display_name" => extension_details['display_name'] } %>
                <%= link_to "<span class='#{font_class('settings1', 16)}'></span>".html_safe, "",
                "data-url"=> "#{admin_marketplace_installed_extensions_iframe_configs_path(installation_details['extension_id'], installation_details['version_id'])}?#{edit_params.to_query}",:class => "btn btn-mini btn-settings update-iframe-settings tooltip", "data-placement" => "below", "data-original-title" => t('application.tooltip.settings'), "data-developedby"=> extension_details['account'] %>
              <% end %>
              <% if is_oauth_app?(extension_details)%>
                <% if has_oauth_iparams?(extension_details) %>
                  <% edit_params = { "type" => extension_details['type'], "installation_type" => "settings", "display_name" => extension_details['display_name'] } %>
                  <%= link_to "<span class='#{font_class('keyicon', 16)}'></span>".html_safe, "",
                "data-url"=> "#{admin_marketplace_installed_extensions_edit_oauth_iparams_path(installation_details['extension_id'], installation_details['version_id'])}?#{edit_params.to_query}",:class => "btn btn-mini btn-settings update tooltip", "data-placement" => "below", "data-original-title" => t('marketplace.reauthorize'), "data-developedby"=> extension_details['account'] %>
                <% else %>
                  <% reauthorize_url = safe_send("admin_marketplace_installed_extensions_edit_oauth_configs_path", extension_details['extension_id'], extension_details['version_id']) + "?installed_extn_id=" + installation_details['installed_extension_id'].to_s %>
                  <a href="#toggle-confirm" rel="freshdialog" class="btn btn-mini tooltip reauthorize-btn" title="<%= t('marketplace.reauthorize') %>" data-placement="below" data-modal-title="<%=t('marketplace.reauthorize_header')%>" data-original-title="<%= t('integrations.uninstall') %>" data-width="600" data-close-on-submit="true" data-show-close="true" data-destroy-on-close="true"  data-url="<%= reauthorize_url %>" data-confirm-content="<%= t('marketplace.reauthorize_oauth_app')%>" data-close-label="<%= t('marketplace.cancel') %>" data-submit-label="<%= t('marketplace.reauthorize') %>" data-submit-class="btn btn-primary reauthorize-confirm" >
                    <span class="<%= font_class('keyicon', 16) %>"></span>
                  </a>
                <% end %>  
              <% end %>
              <% delete_url = is_ni_integration ? uninstall_integrations_marketplace_app_path(ERB::Util.url_encode(extension_details['name'])) : admin_marketplace_installed_extensions_uninstall_path(installation_details['extension_id'])+"?#{url_params.to_query}" %>
              <a href="#toggle-confirm" rel="freshdialog" class="btn btn-mini tooltip delete-btn" title="<%= t('integrations.uninstall') %>" data-placement="below" data-original-title="<%= t('integrations.uninstall') %>" data-width="600" data-close-on-submit="true" data-show-close="true" data-destroy-on-close="true"  data-url="<%= delete_url %>" data-extn-id="<%= installation_details['extension_id']%>" data-installed-extn-id="<%= installation_details['installed_extension_id']%>" data-confirm-content=" <%= t('marketplace.confirm_uninstall_message', :human_name => t('marketplace.app')) %>"  data-close-label="<%= t('plain_no') %>" data-submit-label="<%= t('plain_yes') %>" data-submit-class="btn btn-primary delete-confirm" >

                <span class="<%= font_class('trash-o', 16) %>"></span>
              </a>
            </div>
          <% end %>

          </div>
          <p class="desc"><%= truncate(extension_details['description'], :length => 160, :separator => ' ') %></p>
        </div>
      </div>
    </section>
  </li>
  <script>
    // if an app is still in 'uninstall_in_progress' state, poll again.
    <% if is_uninstall_in_progress?(installation_details) %>
      <% clear_installed_cache %>
      var el = jQuery("#delete_prog_<%= installation_details['installed_extension_id'] %>");
      el.closest('.list-box').addClass('disabled-app mkp-uninstall_in_progress');
    <% end %>
  </script>

<% end %>
<% end %>

<% if !title_set && local_assigns[:unsupported_custom_freshplugs] %>
  <% display_text = "marketplace.unsupported_apps_" + Marketplace::Constants::PLATFORM_ID_BY_VERSION[@platform_version].to_s %>
  <div class="unsupported-apps-box"> <span class="ficon-notice-o notice-o-red-icon fsize-16"></span> <span class="unsupported-apps" data-placement="belowRight"> <%= t("#{display_text}") %></span> </div>
  <% title_set = true %>
<% end %>
