<div id="support-portal" class="container">
  <header class="header">      
    <strong>header_content</strong>
    {{ header_content }}
  </header>
  <section class="content wrapper">
    List of liquid variables as of now
    
    <ul>
      <li>home_link     </li>
            <li>contact_us_content  </li>
         <li> </li>
            <li>portal.language - <b>{{ portal.language }}</b>     </li>
            <li>portal.name - <b>{{ portal.name }}</b> </li>
            <li>portal.fav_icon [will be an 'attachment']</li>
            <li>portal.logo                              </li>
            <li>portal.login_path - <b>{{ portal.login_path }}</b>  </li>
            <li>portal.logout_path - <b>{{ portal.logout_path }}</b> </li>
            <li>portal.signup_path - <b>{{ portal.signup_path }}</b> </li>
            <li>portal.new_ticket_path - <b>{{ portal.new_ticket_path }}</b> </li>
            <li>portal.tabs - <b>{{ portal.tabs }}</b></li>

						<ul>
							{% for tab in portal.tabs %}
							<li>
								<a href="{{ tab.url }}">{{ tab.label }}</a></li>
							{% endfor %}
						</ul>

            <li>current_user                                                  </li>
            <li>current_user.name                                             </li>
            <li>current_user.email                                            </li>
            <li>current_user.phone                                            </li>
            <li>current_user.can_see_company_tickets?                         </li>
            <li>current_user.company.name                                     </li>
         		<li><br/></li>

            <li>portal.solution_categories - <b>{{ portal.solution_categories }}</b></li>
						<ul>
							{% for solution_category in portal.solution_categories %}
		            <li>{{ solution_category.id }} - {{ solution_category.name }} - <b>{{ solution_category.url }}</b> </li>
		
								<li>solution_category.folders - {{ solution_category.folders }} </li>
								<ul>
									{% for folder in solution_category.folders %}
										<li> folder.name - <b>{{ folder.name }}</b> </li>
										<li> folder.description - <b>{{ folder.description }}</b> </li>
										<li> folder.visibility - <b>{{ folder.visibility }}</b> </li>
										<li> folder.url - <b>{{ folder.url }}</b> </li>
										<li> folder.id - <b>{{ folder.id }}</b> </li>
										
										<li> folder.solutions - <b>{{ folder.solutions }}</b> </li>
										<ul>
											{% for solution in folder.solutions %}
												<li>solution.title - <b>{{ solution.title }}</b> </li>
						            <li>solution.body - <b>{{ solution.body }}</b> </li>
						            <li>solution.body_plain - <b>{{ solution.body_plain }}</b> </li>
						            <li>solution.url - <b>{{ solution.url }}</b> </li>
						            <li>solution.attachments - <b>{{ solution.attachments }}</b> </li>
						            <li>solution.type ["permanent" or "workaround"] - <b>{{ solution.type }}</b> </li>
						            <li>solution.status ["draft" or "published"] - <b>{{ solution.status }}</b> </li>
						            <li>solution.id - <b>{{ solution.id }}</b> </li>
						            
												<li>solution.tags - <b>{{ solution.tags }}</b> </li>
						            <ul>
													{% for tag in solution.tags %}
														<li>tag.name - <b>{{ tag.name }}</b> </li>
													{% endfor %}
												</ul>
											{% endfor %}
										</ul>
									{% endfor %}
								</ul>
							{% endfor %}
						</ul>
						
         <li><br/></li>

        <li>portal.forum_categories - <b>{{ portal.forum_categories }}</b> </li>
				<ul>
					{% for forum_category in portal.forum_categories %}
						<li>forum_category.name - <b>{{ forum_category.name }}</b> </li>
						<li>forum_category.id - <b>{{ forum_category.id }}</b>  </li>
						<li>forum_category.url - <b>{{ forum_category.url }}</b>  </li>

						<li><br/></li>
						<li>forum_category.forums - <b>{{ forum_category.forums }}</b> </li>
						<ul>
							{% for forum in forum_category.forums %}
								<li>forum.name - <b>{{ forum.name }}</b> </li>
								<li>forum.id - <b>{{ forum.id }}</b> </li>
								<li>forum.description - <b>{{ forum.description }}</b> </li>
								<li>forum.type - <b>{{ forum.type }}</b> </li>
								<li>forum.visibility - <b>{{ forum.visibility }}</b> </li>
								<li>forum.url - <b>{{ forum.url }}</b> </li>
							{% endfor %}
						</ul>
					{% endfor %}
				</ul>

				


                           <li> </li>
         <li>attachment.name      </li>
         <li>attachment.url       </li>

         <li>search_term          </li>
         <li>search_results       </li>
         <li>search_result.url    </li>
         <li>search_result.class_name</li>

         <li> </li>
            <li>*excerpts</li>

            <li>new_ticket.ticket_fields</li>
            <li>ticket_field.name       </li>
            <li>ticket_field.label      </li>
            <li>ticket_field.label_in_portal</li>
            <li>ticket_field.field_type     </li>
            <li>ticket_field.editable?      </li>
            <li>ticket_field.mandate?       </li>
            <li>ticket_field.mandate_for_closure?</li>
            <li>ticket_field.id                  </li>
            <li>ticket_field.options             </li>
            <li>ticket_field.option.id                        </li>
            <li>ticket_field.option.value</li>                     
    </ul>
  </section>               
  <footer class="footer">     
    <strong>footer_content</strong>
    {{ footer_content }}
  </footer>
</div>