<div class="forum_group">
	<div class="floatr">
		<% if logged_in? && current_user.has_manage_forums? -%>
			<span class="edit">
				<%= link_to 'Edit' ,edit_category_path(category)   %>
			</span>
			<span class="delete">
				<%= link_to('delete', category_path(category), :method => 'delete', :confirm => 'Are you sure you want to delete this category' ) %>					
			</span>
		<% end -%>
	</div>
	<h5 class="category_title">
		<a href="<%= category_path(category) %>" class = "title">
			<span><%= h(category.name) %></span>							
			<span class="follow_link">»</span>
		</a>
		<div><%= h(category.description)  %></div>
	</h5>
	<ul class="base_set">	
		<% unless (category.forums.size == 0) %>
			<% category.forums.each do |forum| %>
				<%= render :partial => "forum_shared/forum", :object => forum, :locals => {:category => category }  %>				
			<% end %>
		<% else %>
			<span class="no_info_text">No forums in this category -</span>
			<% if admin? %>
	  			<%= link_to 'add a new forum'[:create_new_forum], new_category_forum_path(category) %>
			<% end %> 
		<% end %>
	</ul>
</div>		