<li>
	<h4 class="forum_title">
		<% if logged_in? && admin? -%>
		<div class="item_actions">
			<%= link_to (t('topic.new'), new_category_forum_topic_path(category, forum), :class=> "highlight") %> | 
			<%= link_to t('edit') , edit_category_forum_path(category, forum)  %> |
			<%= link_to(t('delete'), category_forum_path(category, forum), :method => 'delete', :confirm => 'Are you sure you want to delete this folder' ) %>
		</div>
		<% end %>
		<%= link_to ( h(forum.name), category_forum_path(category, forum), :class => "title" )  %>
		<span class="subcounter">(<%= content_tag(:span, forum.topics.size, :class => "sub_counter") %>)</span>
		<span class="forum_type forum_<%= forum.forum_type %>"><%= forum.type_name %></span>
	</h4>
	<div class="topic_list">
		<% unless (forum.topics.size == 0) %>
			<% forum.topics.each do |topic| %>
				 <%= link_to topic.title, category_forum_topic_path(category, forum, topic) , :class => "topic" %>
			<% end %>
		<% else %>
			<span class="no_info_text"><%=t('add_a_topic')%> - </span>
			<%= (link_to t('add_a_topic'), new_category_forum_topic_path(category, forum)) if logged_in? %>
		<% end %>	
	</div>
</li> 