<div class="description <%= cycle('stripe', '') %>"  id="<%= dom_id post %>-row">
	<a href="#<%= dom_id post %>" rel="bookmark"></a>
  <% if privilege?(:edit_topic, post) -%>
  	<div class="item-right-actions">	
  		<ul class="nav-drop">
  			<li>
  				<a href="#" class="menu-trigger nav-item-icon"><span class="item-options"></span></a>
  				<ul class="menu-box">
  					<li class="menu-item">
  						       <%= link_to_remote(t('.edit_comment'),
  													:loading => "$('loading_#{post.id}').removeClassName('hide');$('post_details_#{post.id}').hide();", 
  	 	 										  :loaded  => "$('loading_#{post.id}').addClassName('hide');$('post_details_#{post.id}').show();",
  													:update  => "post_details_#{post.id}", 
  						              :url => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post), :method => :get,
  						              :href => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post, :page => params[:page]) ) %>
  					</li>
            <% if @forum.questions?%>
              <li class="menu-item">
                <% unless post == @posts.first
                  _label = post.answer? ? t(".unmark_answer") : t(".mark_answer") %>
                  <% unless @topic.answered? and !post.answer? %> 
  								  <%= link_to(
                                _label, 
                                toggle_answer_category_forum_topic_post_path(@forum_category,@forum,@topic,post), 
                                :method=>:put
                                ) %>
                  <% else %>
                    <a 
                      href="<%= category_forum_topic_best_answer_path(@forum_category,@forum,@topic,post) %>"
                      rel="freshdialog"  class="padding6" title='<%= _label %>' 
                      data-submit-label="<%= _label %>" data-close-label="<%= t('cancel') %>"
                      data-target="#best_answer" data-width="700px"
                      data-submit-loading="<%= t('ticket.updating')%>...">
                      <%= _label %>
                    </a>
                  <% end%>
                <%end%>
              </li>
            <% end %>
            <li class="menu-item">
                <%= link_to(t(".mark_as_spam"), mark_as_spam_discussions_moderation_path(post), :method => :put )%>
            </li>
  					<li class="menu-item">
  							<%= link_to(t(".delete_comment"), post_path(:forum_id => @forum, :topic_id => @topic, :id => post, :page => params[:page]), :method => :delete, :confirm => t(".delete_comment_confirm")[:delete_post_conf]) %>
  					</li>
  				</ul>
  			</li>
  		</ul>
  	</div>
  <% end -%>
	<%= content_tag(:div, t(".answer"), :class => "stamp_answer floatr", :title => t(".post_accepted_as_a_good_answer")) if post.answer? %>
	<div class="user_details">
		<%= user_avatar(post.user) if post.user %>
		<%= t(".posted_on", :user_name => link_to_user(post.user), :post_date => formated_date(post.created_at) ).html_safe %>
		<div class="sloading hide" id='<%= "loading_#{post.id}" %>'></div>
	</div>
	<div class="details" id='<%= "post_details_#{post.id}" %>'>
		<%= auto_link(post.body_html.html_safe, :all, :target => "_blank") %>
	</div>
  <% unless post.attachments.empty? and post.cloud_files.empty? %>
    <strong><%= pluralize(post.attachments.size + post.cloud_files.size, 'attachment')%></strong>
    <%= attachment_container(post.attachments, true, "article", nil) %>
    <%= attachment_container(post.cloud_files, true, "cloud_file", nil) %>
  <% end %> 
</div>
