
<div class="description <%= cycle('stripe', '') %>"  id="<%= dom_id post %>-row">
	<a href="#<%= dom_id post %>" rel="bookmark"></a>
	<div class="item_actions">
	<% if logged_in? && post.editable_by?(current_user) -%>
		   <%= ajax_spinner_for "edit-post-#{post.id}", "spinner_bounce.gif" %>
	       <%= link_to_remote('Edit post'[], 
	             {:url => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post), :method => :get,
	              :before => "EditForm.init(#{post.id});", :condition => "!EditForm.isEditing(#{post.id})" }, 
	             {:href => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post, :page => params[:page]), :class => "button"}) %>
	<% end -%>
	<%if post != @posts.first and @forum.questions? %>
		<div id="post-body-<%= post.id %>">
			<% if logged_in? && current_user.has_manage_forums?  %>
				<%= link_to ("Answer" , toggle_answer_category_forum_topic_post_path(@forum_category,@forum,@topic,post),  :method=>:put ) if post.answer?  %>
				<%= link_to ("Not Answer" , toggle_answer_category_forum_topic_post_path(@forum_category,@forum,@topic,post),  :method=>:put ) if !post.answer?  %>
			<%end%>
		</div>
	<%end%>
	</div>
	<div class="user_details">
		<%= (render :partial => "/shared/avatar", :object => post.user.avatar)  if post.user %>
		<b><%= post.user.name %></b>
		<div><%= post.user.job_title %></div>
		<div title="<%= post.created_at.xmlschema %>"><%= time_ago_in_words(post.created_at) %> ago</div> 
	</div>
	<div class="details">
		<%= post.body_html %>
	</div>
</div>
				
