<% unless (topics.size == 0) %>
	<div class="floatr">
		<%= (link_to t('add_a_topic'), new_category_forum_topic_path(category, forum), :class => "uiButton") if logged_in? %>
	</div> 
	<div>
		RECENT    POPULAR    LATEST    UNANSWERED
	</div>
	<ul class="topic-list">
		<% topics.each do |topic| %>
			<li>
				<%= link_to topic.title, category_forum_topic_path(category, forum, topic), :class => "topic-title" %>
					<% if topic.posts_count > 1 %> 
						<% last_post = topic.last_post %>
						<%= user_avatar( topic.user.avatar ) %>
						<div class="info_data">	<%= pluralize(topic.posts_count - 1, "reply") %>, latest by <%= link_to last_post.user.name, last_post.user   %> on <%= formated_date(last_post.created_at) %></div>
					<% else %>
						<%= user_avatar( topic.user.avatar ) %> 
						<div class="info_data">Asked by <%= link_to topic.user.name, topic.user %> on <%= formated_date(topic.created_at) %></div>
					<% end %>
				
			</li>
		<% end %>
	</ul>
<% else %>
	<div class="big-info">
		<div class="no-info-text"> <%= t('no_topics_text')%> </div>
		<%= (link_to t('add_a_topic'), new_category_forum_topic_path(category, forum), :class => "uiButton large") if logged_in? %>
	</div>
<% end %>	