<% unless (topics.size == 0) %> 
	<ul class="topic-list-view">
		<% topics.each do |topic| %>
			<% className = (topic.sticky?) ? "sticky" : "" %>
			<% last_post = topic.last_post %>
			<li class="<%= className %>"> 
				<% if topic.posts_count > 1 %>
					<%= user_avatar( last_post.user ) %>
				<% else %>
					<%= user_avatar( topic.user ) %>
				<% end %>
				<span class="list-badge">
					<span class="stamp stamp_type_<%=topic.stamp_type%>"> 
						<%=h(topic.stamp_name)%>
					</span>
				</span>
				
				<%= content_tag (:b, "STICKY") if (topic.sticky?) %>
				
				<%= link_to topic.title, category_forum_topic_path(category, forum, topic), :class => "topic-title" %>
				
					<div class="info_data"> 
						<% if topic.posts_count > 1 %>
							<%= t("topics.last_reply", :post_time => time_ago_in_words(last_post.created_at), :user_link => link_to_user(last_post.user) ) %>
						<% else %>
							<%= t("topics.posted_at", :post_time => time_ago_in_words(topic.created_at)) %>
						<% end %> 
						-  
						<% 
							count = topic.posts_count
							if topic.posts_count > 1 
								count -= 1
						  end 
						%>
						<%= pluralize(count, t("reply"), t("replies")) %> 
						-
						<%= t("forum.verb.#{topic.forum.type_name.downcase}") %>   
						<%= link_to_user topic.user %>
						<%if @forum.ideas?%>
							|  
							<span class='idea-likes <%= "leftflat" unless topic.stamp_name.blank? %> '>
								<span class="like-image"></span>
								<%= topic.votes_count %> 
							</span> 
						<%end%>
					</div>
					<%if @forum.questions?%>  
						<%if topic.posts.answered_posts.count > 0%>
							<%= t('answered') %>
						<%end%>
					<%end%> 
				  <% if topic.paged? -%>
				  	<small><%= link_to t('last') %></small>
				  <% end -%> 
			</li>
		<% end %>
	</ul>
  <% else %>
	<div class="big-info">
		<div class="no-info-text"><%= t('no_topics_text')%></div>
		<%= (link_to t('add_a_topic'), new_category_forum_topic_path(category, forum), :class => "uiButton large") %>
	</div>
<% end %>	