  <div id="votes<%= @topic.id %>">
      <% vote_count = (topic_vote.votes_for == 1) ? 1 : 2 %>
      <% if(topic_vote.voted_by_user? current_user) %>
        <div class="alert alert-info">   
          <strong><%= t(".#{@forum.type_symbol}.vote_info_include_#{vote_count}", :vote => topic_vote.votes_for) %></strong>
        </div>
      <% else %>				
        <% if (topic_vote.votes_for != 0) %>
          <div class="alert alert-info"> 
            <strong><%= t(".#{@forum.type_symbol}.vote_info_#{vote_count}", :vote => topic_vote.votes_for) %></strong>
            <span class="bottom-pointer"></span>
          </div>
        <% end %>
      <% end %>
      <div>
        <% unless(topic_vote.voted_by_user? current_user) %>
          <%= link_to_remote t(".#{@forum.type_symbol}.vote_button"), 
                                        :update => "voting_container",
                                        :url    => {  :action => "vote",
                                                      :id => @topic.id,
                                                      :forum_id => @forum.id,
                                                      :category_id => @forum_category.id,
                                                      :vote => "for" },
                                        :html   => {  :class => "btn" } %>
        <% else %>
          <% if (@forum.forum_type == 2) %>
            <%= link_to_remote t(".unlike"), 
                                        :update => "voting_container",  
                                        :url    => { :action=>"destroy_vote", 
                                                     :id => @topic.id, 
                                                     :forum_id => @forum.id, 
                                                     :category_id => @forum_category.id,
                                                     :vote   => "for" },
                                        :html => { :class => "btn" } %>
        <% end %>
      <% end %>
    </div>
  </div>