<% unless (topics.size == 0) %> 
	<ul class="topic-list-view">
		<% topics.each do |topic| %>
			<% 
			className = (topic.sticky?) ? "sticky" : ""
			className << " with-checkbox" if privilege?(:delete_topic) 

			%>
			<% last_post = topic.last_post %>
			<li class="<%= className %>"> 
				<% if privilege?(:delete_topic) %>
					<input type="checkbox" id="topic-<%= topic.id %>" class="bulk-check" name="ids[]" value="<%= topic.id %>"/>
				<% end %>
				<% if topic.posts_count > 1 %>
					<%= user_avatar( last_post.user ) %>
				<% else %>
					<%= user_avatar( topic.user ) %>
				<% end %>
				<span class="list-badge">
				<% 
				if topic.stamp_type?
					if @forum.ideas? %>
					<span class="stamp stamp_type_<%=topic.stamp_type%>"> 
						<%=h(topic.stamp_name)%>
					</span>
					<%elsif @forum.questions? && topic.answered? %>
						<span class="pull-right stamp stamp_type_<%=topic.stamp_type%>"><%= t('topic.questions.answered') %></span>
					<%elsif @forum.problems? && topic.solved? %>
						<span class="pull-right stamp stamp_type_<%=topic.stamp_type%>"><%= t('topic.problems.solved') %></span>
					<% end
				end 
				%>
				</span>
				
				<%= content_tag(:b, "STICKY") if (topic.sticky?) %>
				
				<%= link_to h(topic.title), category_forum_topic_path(category, forum, topic), 
						:class => "topic-title" %>
				
					<div class="info_data"> 
						<% if topic.posts_count > 1 %>
							<%= t("topics.last_reply", :post_time => time_ago_in_words(last_post.created_at), :user_link => link_to_user(last_post.user) ).html_safe %>
						<% else %>
							<%= t("topics.posted_at", :post_time => time_ago_in_words(topic.created_at)).html_safe %>
						<% end %> 
						-  
						<% 
							count = topic.posts_count
							if topic.posts_count > 1 
								count -= 1
						  end 
						%>
						<%= pluralize(count, t("reply"), t("replies")) %> 
						-
						<%= t("forum.verb.#{topic.forum.type_name.downcase}") %>   
						<%= link_to_user topic.user %>
						<%if @forum.ideas?%>
							|  
							<span class='idea-likes <%= "leftflat" unless topic.stamp_name.blank? %> '>
								<span class="like-image"></span>
								<%= topic.votes_count %> 
							</span> 
						<%end%>
					</div>
			</li>
		<% end %>
	</ul>
  <% else %>
	<div class="big-info">
		<div class="no-info-text"><%= t('no_topics_text')%></div>
    <% if privilege?(:create_topic) %>
		  <%= (link_to t('add_a_topic'), new_category_forum_topic_path(category, forum), :class => "uiButton large") %>
    <% end %>
	</div>
<% end %>
<%= javascript_tag do %>
(function($){
	$('#bulk-action-btn').on('click','#select-all',function(){
		$(".topic-list-view :checkbox")
            .prop("checked", $(this).prop("checked"))
            .trigger('change');
	})
	$(".topic-list-view :checkbox").on('change', function(){
		$('#bulk-action-btn :checkbox').prop('checked', $(".topic-list-view :checkbox:checked").length == $(".topic-list-view :checkbox").length )

		var toggleFilters = $('.forum-group :checkbox:checked').length > 0;
		$('#bulk-action-btn .btn').toggle(toggleFilters);
		$('#bulk-action-btn #filters').toggle(!toggleFilters);
	})

	$('#bulk-action-btn .btn').on('click', function(){
		var $this = $(this);
		topic_submit($this.data('actionUrl'), $this.data('method'))
	})

	$('#bulk-action-btn :checkbox').prop('disabled', $(".topic-list-view :checkbox").length == 0 );

	$("#topic-bulk-action").append($("<input type='hidden' name='_method'/>"));

	function topic_submit(url, method){ 
		var form = $("#topic-bulk-action");
		form.find('input[name=_method]').attr('value', method);
		form.attr('action', url);
		form.submit();
	}
})(jQuery)
<% end %>	