<%= form.error_messages %>
<fieldset>                   
	<div class="control-group">
  	<%= form.label :name, "", :class => "control-label" %>
		<div class="controls">
  		<%= form.text_field :name %>
		</div>
	</div>
	<div class="control-group">
	  <%= form.label :code, "", :class => "control-label" %>
		<div class="controls">
	  	<%= form.text_field :code %>
		</div>
  </div>
	<div class="control-group">
	  <%= form.label :amount, "", :class => "control-label" %>
		<div class="controls">
	  	<%= form.text_field :amount %>
		</div>
	</div>
	<div class="control-group">                                
		<div class="controls">             
			<label class="checkbox">
				<%= form.check_box :percent %> 
				Calculate discount in percentage
			</label>
		</div>			
  </div>
	<div class="control-group">
		<%= form.label :start_on, "", :class => "control-label" %>
		<div class="controls">  
			<%= form.text_field :start_on %>
		</div>
  </div>
	<div class="control-group">
		<%= form.label :end_on, "", :class => "control-label" %>
		<div class="controls">  
			<%= form.text_field :end_on %> 
		</div>
  </div>
	<div class="control-group">                                            
		<div class="controls">         
			<label class="checkbox">
				<%= form.check_box :apply_to_recurring %>   
				Apply to recurring
			</label>
		</div>			
	</div>
	<div class="control-group">                                       
		<div class="controls">  
			<label class="checkbox">
				<%= form.check_box :apply_to_setup %> 
				Apply to setup
			</label>
		</div>			
  </div>
	<div class="control-group">
		<%= form.label :trial_period_extension, "", :class => "control-label" %>
		<div class="controls">
		  <%= form.text_field :trial_period_extension %>
		  <%= form.select :plan_id, options_from_collection_for_select(SubscriptionPlan.all, :id, :name) %>    
		</div>		
  </div>
	<div class="form-actions"> 
			<%= submit_tag "Save changes", :class => "btn-primary btn" %>
			<%= link_to "Cancel", admin_subscription_discounts_path, :class => "btn" %>
  </div>
</fieldset>
