<h1><%= @page_title = 'View Discount' %></h1>
<%= link_to('Edit Discount', :action => 'edit') %>
<table id="subscription_discount">
  <tr>
    <th>Name</th>
    <td><%= h(@subscription_discount.name) %></td>
  </tr>
  <tr>
    <th>Code</th>
    <td><%= h(@subscription_discount.code) %></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><%= discount_label(@subscription_discount) %></td>
  </tr>
  <tr>
    <th>Free Agents</th>
    <td><%= @subscription_discount.free_agents %></td>
  </tr>
  <tr>
    <th>Life time</th>
    <td><%= @subscription_discount.life_time %></td>
  </tr>
  <tr>
    <th>Plan</th>
    <td><%= @subscription_discount.subscription_plan.name %></td>
  </tr>
</table>