<div class="collaborators-list-item <%= data.is_deleted ? 'deleted' : '' %> <%= data.is_self ? 'self' : '' %>" id="collaborator-icon-<%=data.id%><%= !!data.id_post_fix ? '-' + data.id_post_fix : '' %>" data-mention-text="@<%= !!data.email ? data.email.split('@')[0] : data.mention_text %>">
	<% if (!!data.id) { %>
		<div class="preview_pic circle avatar-text text-center thumb bg-<%= Math.abs(uniqueCodeGenerator( data.name )) %>" > 
			<% if (data.is_self) { %>
				<%= data.name[4] %> 
			<% } else { %>
				<%= data.name[0] %> 
			<% } %>
			<img alt="<%= data.name %>" data-user-id="<%= data.id %>" class="thumb hide" onerror="App.CollaborationUi.dpLoadErr(this)" src=" ">
		</div>
	<% } else { %>
		<div class="preview_pic circle">
		</div>
	<% } %>

	<% if (data.is_online || data.is_self) { %>
		<i class="co-user-online"></i>
	<% } %>
	<div class="nametag <%= !data.job_title ? 'one-line' : ''%>">
		<% if (!!data.name) { %>
			<span class="name line-item ellipsis" title="<%= data.name %>"><%= data.name %></span>
		<% } %>
		<% if (!data.is_self && !data.is_deleted) { %>
			<% if (!!data.email) { %>
				<span data-mention-text="@<%= data.email.split('@')[0] %>" class="line-item tag-handle <%= (data.name) ? 'prepend-separator' : '' %> ellipsis" title="@<%= data.email.split('@')[0] %>"> @<%= data.email.split("@")[0] %> </span>
			<% } else if (!!data.mention_text) { %>
				<span data-mention-text="@<%= data.mention_text %>" class="line-item tag-handle <%= (data.name) ? 'prepend-separator' : '' %> ellipsis" title="@<%= data.mention_text %>"> @<%= data.mention_text %> </span>
			<% } %>
		<% } %>
	</div>
	<% if (data.job_title) { %>
		<div class="job-profile ellipsis" title="<%= data.job_title %>"><%= data.job_title %></div>
	<% } %>
</div>

