<div class="collab-message-box <%= msg_render_type %>-box" id="collab-<%= msg_id %>">
	<div class="avatar-cover" data-sender-id="<%= sender_id %>"> <%= avatar_html %> </div>
	<div class="msg-cover">
		<% if (!!annotation_body) { %>
			<div class="annotation-text <%= is_annotation_invalid ? 'invalid-annotation': '' %>" title="<%- annotation_body %>">&quot;<%- annotation_body %>&quot;</div>
		<% } %>
		<% if (!!reply_to_meta) {
			var usersMap = App.CollaborationModel.usersMap;
 			var replyToName = usersMap[reply_to_meta.r_id] ? (usersMap[reply_to_meta.r_id].deleted != '1' ? usersMap[reply_to_meta.r_id].name : I18n.translate('collaboration.collab_deleted_user')) : '~'; %>
			<div class="collab-reply-to-text" data-reply-to-id="<%= reply_to_meta.msg_id %>" title="<%= replyToName %> : <%- reply_to_meta.msg_body %>">
			<% if (replyToName !== '~') { %>
				<span class="collab-source-msg-from">
					<%- replyToName %>
				</span>
			<% } %>
			<span class="collab-reply-msg-body">&quot;<%- reply_to_meta.msg_body %>&quot;</span>
			</div>
		<% } %>

		<% if (!!is_attachment) { %>
			<div class="msg collab-attachment-msg">
				<span class="collab-attached-image-section <%= is_image_file ? 'collab-preview-allowed': '' %>">
          <div class="collab-attachment-image">
          	<% if (is_image_file) { %>
          		<img class="image" src="<%= msg_body.pl %>" data-fetch-retry-count=""  data-fid="<%= msg_body.fid %>" data-fn="<%- escape(msg_body.fn) %>" onerror="App.CollaborationUi.collabImgError(event)"><span class="valign-helper"></span>
          	<% } else { %>
          		<i class="ficon-file fsize-36" size="14" data-fid="<%= msg_body.fid %>" data-fn="<%- escape(msg_body.fn) %>"></i><span class="valign-helper"></span>
          	<% } %>
          </div>
          <div class="collab-attachment-details" title="<%- escape(msg_body.fn) %>">
            <div class="collab-attachment-name ellipsis"> <%- App.CollaborationUi.getFileDisplayName(escape(msg_body.fn)) %> </div>
            <div class="collab-attachment-size"><%= msg_body.fs %></div>
          </div>
	        <a class="collab-attachment-downloader" download href="<%= msg_body.dl %>">
		          <div class="collab-dl-link">
		          	<img class="collab-dl-image" src="/assets/collab/collab-download.svg">
		          </div>
	        </a>
      </span>
			</div>
			<% if(!!enable_reply_to) { %>
				<span class="collab-reply-btn tooltip" id="btn-reply" data-placement="above" title="<%= reply_tooltip %>" twipsy-content-set="true"> <i class="ficon-reply fsize-14 collab-reply-icon" id="collab-reply-icon" size="14"></i> </span>
			<% } %>
		<% } else { %>
			<span class="msg" data-raw-msg="<%- msg_body_raw %>"> <%= msg_body %> </span>
			<% if(!!enable_reply_to) { %>
				<span class="collab-reply-btn tooltip" id="btn-reply" data-placement="above" title="<%= reply_tooltip %>" twipsy-content-set="true"> <i class="ficon-reply fsize-14 collab-reply-icon" id="collab-reply-icon" size="14"></i> </span>
			<% } %>
		<% } %>
	</div>

	<div class="collab-msg-info <%= is_annotation_invalid ? 'invalid-ann-info-show': '' %>">
		<span class="collab-ann-info"> <%= invalid_annotation_text %> </span>
		<% if (!!sender_name) { %>
			<span class="name ellipsis"> <%= sender_name %> </span>
		<% } %>
		<span class="timestamp-cover"> <%= time_stamp_text %> </span>
	</div>
</div>
