<div class="collab-message-box <%= msg_render_type %>-box" id="collab-<%= msg_id %>">
	<div class="avatar-cover" data-sender-id="<%= sender_id %>"> <%= avatar_html %> </div>
	<div class="msg-cover">
		<% if (!!annotation_body) { %>
			<div class="annotation-text <%= is_annotation_invalid ? 'invalid-annotation': '' %>" title="<%= annotation_body %>">&quot; <%= annotation_body %> &quot;</div>
		<% } %>
		<% if (!!reply_to_meta) { %>
			<div class="collab-reply-to-text" data-reply-to-id="<%= reply_to_meta.msg_id %>" title="<%= App.CollaborationModel.usersMap[reply_to_meta.r_id] ? App.CollaborationModel.usersMap[reply_to_meta.r_id].name : "~" %> : <%= reply_to_meta.msg_body %>">&quot; <%= App.CollaborationModel.usersMap[reply_to_meta.r_id] ? App.CollaborationModel.usersMap[reply_to_meta.r_id].name : "~" %> : <%= reply_to_meta.msg_body %> &quot;</div>
		<% } %>
		
		<% if (!!is_attachment) { %>
			<div class="msg collab-attachment-msg"> 
				<a class="collab-attached-image-section" download href="<%= msg_body.dl %>">
                    <div class="collab-attachment-image">
                    	<img class="image" src="<%= msg_body.pl %>" data-fetch-retry-count=""  data-fid="<%= msg_body.fid %>" onerror="App.CollaborationUi.collabImgError(event)"><span class="valign-helper"></span>
                    </div>
                    <div class="collab-attachment-details" title="<%= msg_body.fn %>">
	                    <div class="collab-attachment-name ellipsis"> <%= App.CollaborationUi.getFileDisplayName(msg_body.fn) %> </div>
	                    <div class="collab-attachment-size"><%= msg_body.fs %></div>
                    </div>
                    <div class="collab-dl-link">
                    	<img class="collab-dl-image" src="/assets/collab/collab-download.svg">
                    </div>
                </a>
			</div>
			<% if(!!enable_reply_to) { %>
				<span class="collab-reply-btn" id="btn-reply"> <i class="ficon-reply fsize-14 collab-reply-icon" id="collab-reply-icon" size="14"></i> </span>
			<% } %>
		<% } else { %>
			<span class="msg" data-raw-msg="<%= msg_body_raw %>"> <%= msg_body %> </span>
			<% if(!!enable_reply_to) { %>
				<span class="collab-reply-btn" id="btn-reply"> <i class="ficon-reply fsize-14 collab-reply-icon" id="collab-reply-icon" size="14"></i> </span>
			<% } %>
		<% } %>
	</div>

	<div class="collab-msg-info <%= is_annotation_invalid ? 'invalid-ann-info-show': '' %>">
		<span class="collab-ann-info"> <%= invalid_annotation_text %> </span>
		<% if (!!sender_name) { %>
			<span class="name"> <%= sender_name %> </span>
		<% } %>
		<span class="timestamp-cover"> <%= time_stamp_text %> </span>
	</div>
</div>
