<h1>New sla_detail</h1>

<% form_for(@sla_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :account_id %><br />
    <%= f.text_field :account_id %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :response_time %><br />
    <%= f.text_field :response_time %>
  </p>
  <p>
    <%= f.label :resolution_time %><br />
    <%= f.text_field :resolution_time %>
  </p>
  <p>
    <%= f.label :escalateto %><br />
    <%= f.text_field :escalateto %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sla_details_path %>