<p>
  <b>Name:</b>
  <%=h @sla_detail.name %>
</p>

<p>
  <b>Account:</b>
  <%=h @sla_detail.account_id %>
</p>

<p>
  <b>Priority:</b>
  <%=h @sla_detail.priority %>
</p>

<p>
  <b>Response time:</b>
  <%=h @sla_detail.response_time %>
</p>

<p>
  <b>Resolution time:</b>
  <%=h @sla_detail.resolution_time %>
</p>

<p>
  <b>Escalateto:</b>
  <%=h @sla_detail.escalateto %>
</p>


<%= link_to 'Edit', edit_sla_detail_path(@sla_detail) %> |
<%= link_to 'Back', sla_details_path %>