<% content_for :onload_script do %> 
  jQuery('body').on('click', '.dropdown-menu .item', function(e) {
    e.preventDefault();
    jQuery('.conv-menu .sub-info').text(jQuery(this).text());
  });
<% end %>

<div id="tickets-expanded" class="contact_tickets row-fluid">
  <div class="detailed_view">
    
    <% if current_account.features_included?(:archive_tickets)
      list = [ [ t('contacts.conversations.recent_tickets'), '#conv_tickets', true, {:id => 'conv_tickets-tab', :'data-hash-url' => false }] ]
      list << [ :divider ]
      list << [ t('contacts.conversations.archive_tickets'), '#conv_archive_tickets', false, {:id => 'conv_archive_tickets-tab', :'data-hash-url' => false } ]

      options = {'data-toggle' => 'tab', 'class' => 'item', 'ul_class' => 'tick'} %>

      <div data-tabs='tabs'>
        <ul role='tablist'>
          <li class="dropdown active">
            <h1 class='conv-title conv-menu dropdown-toggle' data-toggle="dropdown">
              <span class='sub-info'><%= t('contacts.conversations.recent_tickets') %></span>
              <span class='caret'></span>
            </h1>
            <%= dropdown_menu(list, options) %>
          </li>
        </ul>
      </div>
    <% else %>
      <h1 class='conv-title'>
        <span class='sub-info'><%= t('contacts.conversations.recent_tickets') %></span>
      </h1>
    <% end %>

    <div class="tab-content"> 
      <div class='tab-pane active' id='conv_tickets'>
        <p class='muted'> <%= t('contacts.conversations.company_all') %> </p>
        <div class="loading-small loading-center"
          rel="remote-load"
          data-url="/companies/<%=@company.id%>/component?component=recent_tickets">
        </div>
      </div>

      <% if current_account.features_included?(:archive_tickets) %>
        <div class='tab-pane archive_tab load_remote' id='conv_archive_tickets'>
          <div class=archive_ticket_content rel="remote" 
               data-remote-url="/companies/<%=@company.id%>/component?component=archive_tickets">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  jQuery('#conv_archive_tickets-tab').on('click', function(ev){
    jQuery('.archive_ticket_content').trigger('afterShow');
    jQuery('.archive_tab').removeClass('load_remote');
    jQuery(".icon.ticksymbol").addClass("hide");
  });
<% end %>