<div id="customers-page">
	<%content_for :sidebar do%>
		<% if privilege?(:manage_contacts) %>
		<div class="sidepanel">
		<h3 class="lead"><%=t('quick_create')%></h3> 
		<%= form_tag :action=> :quick, :method =>:post do %> 
		<div class="control-group">
			<div class="controls">
				<input id="customer_name" name="company[name]" size="30" type="text" class="required trim_spaces input-large" placeholder="<%=t('company.name')%>" />
			</div>
		</div>
	  	<div class="align-right"><%= submit_tag t('create'), :class => "btn" %></div>
		<% end %>
		</div>
		<% end %>
	<%end%> 
	<div id="cust-list" class="list-page">
		<%= render(:partial => '/shared/companyheader', :locals => {:type => "company", :path => companies_path}) %>
		<%= render(:partial => '/shared/company_sub_header', :locals => {:type => "company", :path => companies_path})%>
		<%= form_tag "", { :id => "contacts-expanded", :method => :put } do %>
			<% if @companies.length > 0 %>
				<div class="list-page-body">
					<%= render(:partial => '/shared/customers_toolbar', :locals => {:type => "company", :path => "companies"}) %>
					<table class="table table-striped" id="companies" >
						<% @companies.each do |company| %>
							<tr>
								<td class="selector-box">
                  <% if privilege?(:delete_contact) %>
									  <%= check_box_tag('ids[]', company.to_param, false, :class => 'customers_selector') %>
                  <% end %>
								</td>
								<td class="name">
									<p class="text-info">
										<strong><%= link_to(h(company.name), company_path(company), :class => "item_info", :'data-pjax' => "#body-container" ) %> <br/>
										</strong>
										<% if company.users.contacts.size>=1 %>
											<% updated_contact_count = pluralize(company.users.contacts.size, t('contacts.contact'), t('contacts.contacts')) %>
									    	<span class="muted"><%= t('contacts.contacts_in_companies', :contacts => updated_contact_count) %></span>
									    <% else %>
									    	<span class="muted">-</span>
									    <% end %>
									</p>
								</td>
								<td>
									<div class="item_actions" align="right">
                    <% if privilege?(:manage_contacts) %>
								    	<%= link_to(t('edit').html_safe, edit_company_path(company), :class => "btn btn-mini", :'data-pjax' => "#body-container") %>
                    <% end %>
                    <% if privilege?(:delete_contact) %>
								    	<%= link_to "<i class='icon-trash'></i>".html_safe, {:controller => "companies", :action => "destroy", :id => company}, :confirm =>  
								    		"#{t('company.info11')} #{company.name}?\n#{t('company.info10')}",:method => 'delete', :class => "btn btn-mini" %>
                    <% end %>
									</div> 
								</td>
							</tr>
						<% end %>
					</table>  
					<%= will_paginate @companies, 
			    				:renderer => BootstrapPaginationRenderer, 
			    				:previous_label => "<b class='arrow-left'></b>",
			    				:next_label => "<b class='arrow-right'></b>",
			    				:class => "pagination pagination-centered" %>
			    </div>
			<% else %>
				<div class="big-info">
					<div class="no-info-text">
						<% if params[:state].blank? or params[:state].eql?('verified') %>
							<%= t('companies.active.no_companies_with_letter', :alphabet => params[:letter]) if !params[:letter].blank? %>
							<%= t('companies.active.no_companies') if params[:letter].blank? %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
