<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%= t('email_command_settings_heading')%></h3>
		<p>	 
      When replying to Email notifications from Freshdesk you can now include "Email Commands" to instruct Freshdesk to perform certain actions on the Ticket. 
      </p>
    <p>
      Email commands must follow the correct syntax and must be placed within a pre-configured delimiter text with a minimum of three characters length. (Default is @simonsays)
    </p>
    <p>
      For example the command - "@simonsays agent : John Roberts Status:Resolved @simonsays" will assign the ticket to the agent John Roberts and mark the Ticket as Resolved. 
    </p>
    <p>
      The rest of your email content will be added as a conversation to Freshdesk and also sent to the Requestor via email. The Email Command text will be stripped by Freshdesk and will not be seen by the Requestor.
      </p>


		 <span class="seperator"></span>
		 <p>
		 <h4>Available commands</h4>
		 <strong>status</strong>: pending<br>
		 <strong>priority</strong>: medium<br>
		 <strong>agent</strong>: John Robert<br>
		 <strong>group</strong>: Sales<br>
		 <strong>source</strong>: email<br>
		 <strong>product</strong>: Freshdesk<br>
		 <%= @email_content_custom_commands%>		 
		</p>
	</div>
<% end %>

<%= content_tag( :h3, t('email_command_settings_heading'), :class => "title") %>
<%= content_tag( :div, t('email_command_settings_info'), :class => "intro") %>

<% form_for :email_commands_setting, @email_commands_setting, :url => { :action => "update" },  :html => { :method => :put} do |f| %>
	<%= f.error_messages %>
	<ul class="ui-form">
		<li>
			<label><%=t('email_command_delimeter_label')%></label>
			<%= f.text_field :email_cmds_delimeter, :class => "text" , :id => "email_cmds_delimeter"%>
		</li>
		<li>
		</li>
	</ul>
	<br></br>
	<div>
	<label>Preview</label>
		<ul class="ui-form">
			<li class = "inline-field">
				<label class="caption"><%= t('email_command_preview_to_email')%></>:</label>
				<div class="fields">
					<input type="text" class = "text" value="<%= t('email_command_preview_to_email_value')%>" disabled="true"></input>
				</div>
			</li>
			<li class = "inline-field">
				<label class="caption"><%= t('email_command_preview_subject')%>:</label>
				<div class="fields">
					<input type="text" class = "text" value = "<%= t('email_command_preview_subject_value')%>"  disabled="true"></input>
				</div>
			</li>
			<li class = "inline-field">
				<div class="fields">
					<textarea id="email_content" disabled="true" style="height:200px;"><%= @content%></textarea>
				</div>
			</li>
		</ul>
	</div>	
	<div class="button-container">
		<%= link_to "&larr; #{t('account.cancel')}", "/admin/home", :class => "uiButton floatl" %>
		<%= f.submit t('save'), :class => "uiButton" %>
	</div>
<% end %>

<% javascript_tag do%>
		email_content_commands = '<%= @email_content_commands%>';
		content_prefix = 'Hi,\n\n';
		content_suffix = '\n\nYour issue is resolved now.\n\nThanks,\nAgent Name.\n'; 
		(function($){
			$("#email_cmds_delimeter").bind("keyup", function(e){
				updated_delimeter = jQuery("#email_cmds_delimeter").val(); 
				content = content_prefix+ updated_delimeter+' '+email_content_commands+' '+updated_delimeter+content_suffix;
				jQuery("#email_content").val(content);
			}); 
		})(jQuery)
<% end %>