<% content_for :helpcard do %>
	<%= render :partial => "helpnote" %>
<% end %>

<%= content_tag( :h3, t('email_command_settings_heading'), :class => "lead") %>
<%= content_tag( :div, t('email_command_settings_info'), :class => "lead-desc muted") %>

<%= form_for @email_commands_setting, :url => { :action => "update" },  :html => { :method => :put} do |f| %>
	<%= f.error_messages %>
	<div class="control-group">
		<label class="control-label"><%=t('email_command_delimeter_label')%></label>
		<div class="controls">
			<%= f.text_field :email_cmds_delimeter, :class => "text" , :id => "email_cmds_delimeter"%>
			<div class="muted"><%= t('email_command_del_info_data') %> </div>
		</div>
	</div>
	<h5 class="sub-lead mt20">Preview</h5>
	<div class="form-horizontal">
		<div class="control-group">
			<label class="control-label"><%= t('email_command_preview_to_email').html_safe%></>:</label>
			<div class="controls">
				<input type="text" class = "text" value="<%= t('email_command_preview_to_email_value')%>" disabled="true"></input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"><%= t('email_command_preview_subject').html_safe%>:</label>
			<div class="controls">
				<input type="text" class = "text" value = "<%= t('email_command_preview_subject_value')%>"  disabled="true"></input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"></label>
			<div class="controls">
				<textarea id="email_content" disabled="true" style="height:200px;"><%= @content%></textarea>
			</div>
		</div>
	</div>	
	<div class="button-container">
		<%= link_to "#{t('account.cancel')}".html_safe, "/admin/home", :class => "btn" %>
		<%= f.submit t('save'), :class => "btn btn-primary" %>
	</div>
<% end %>

<%= javascript_tag do%>
		email_content_commands = '<%= @email_content_commands.html_safe %>';
		content_prefix = 'Hi,\n\n';
		content_suffix = '\n\nYour issue is resolved now.\n\nThanks,\nAgent Name.\n'; 
		(function($){
			$("#email_cmds_delimeter").bind("keyup", function(e){
				updated_delimeter = jQuery("#email_cmds_delimeter").val(); 
				content = content_prefix+ updated_delimeter+' '+email_content_commands+' '+updated_delimeter+content_suffix;
				jQuery("#email_content").val(content);
			}); 
		})(jQuery)
<% end %>