<div class="freshchat-content">
	<h2><%=t('freshchat.intro_title')%></h2><br>
	<p><%=t('freshchat.intro')%></p>
	<p>	
		<a id="enable-chat-button" class="btn btn-primary">
			<%= t('freshchat.enable_chat') %>
		</a>
		<a target="_blank" href="https://support.freshdesk.com/support/solutions/articles/181689-getting-started-with">
			<%= t('freshchat.learn_freshchat') %>
		</a>
	</p>
</div>
<%= javascript_tag do %>
	jQuery('#enable-chat-button').bind("click", function(){
		jQuery('#chat_enable').trigger('click');
	});
<% end %>