<%= f.error_messages %>
<% current_item = @article.draft || @article %>
<div class="form-horizontal">
	<div class="control-group article-title-input">
		<%= f.text_field :title, :class => "text required", :autofocus => true, :placeholder => t('solution.solution_title'),
		:value =>  current_item.title %>
	</div>
	<div class="control-group">
		<%= f.rich_editor  :description, 'editor-type' => :solution, :height => "400px", :class => "required", :value => current_item.description %>
	</div>
	<div class="control-group overflow-visible">
		<%= render	:partial => "/solution/shared/attachment_form",
				:locals => { :attach_id => 'article', :nsc_param => 'solution_article',
					:original_attachments => { 
						:cloud_files => active_attachments(:cloud_files, @article.draft, @article), 
						:regular => active_attachments(:attachments, @article.draft, @article) }
				} %>
	</div>
	<% if is_application_installed?("screenr") %>
		<div class="control-group">
			<div class="controls">
				  <%= render :partial => "shared/screenr_recorder", :locals => { :location => "solution" } %>
			</div>

		</div>
	<% end %>
	
	<div id="solution-properties-container">
		<% if  @article.new_record? %>
			<div id="solution-properties-show" class="solution-properties-title sub-lead">
				<div class="arrow-right  solution-properties-show" id="show-hide-button"></div>
				<a><%= t('solution.properties') %></a>
			</div>
			<br/>
			<div id="solution-properties">
				<%= render :partial => "solution/articles/draft/article_properties", :locals => { :f => f} %>
			</div>
		<% else %>
			<div id="solution-properties-show" class="solution-properties-title solution-seo sub-lead">
				<span> 
					<%= link_to( t('solution.articles.edit_properties'), 
							properties_solution_category_folder_article_path(@article.folder.category, @article.folder, @article, {:edit => true}),
							:rel => "freshdialog",
							:class => "article-properties",
							:title => t('solution.articles.properties'),
							"data-target" => "#article-properties",
							"data-width" => "700px",
							"data-close-label" => t('cancel'),
							"data-submit-label" => t('save'), 
						  "data-submit-loading" => t('saving')
					) %>
				<span>
			</div>
		<% end %>
	</div>
</div>
<% unless @article.new_record? %>
	<script type="text/javascript">
		jQuery('body').one('assetLoaded.fjax', function () {
			window.autoSaveArticleDraft = App.Solutions.Article.autosaveInitialize(
				{
					autosavePath: "<%= autosave_solution_draft_path(@article.id) %>",
					timestamp: <%= @article.draft.present? ? @article.draft.updation_timestamp : false %>
				}
			);
		});
	</script>
<% end %>


