<div class="article-edit hide">
  <%= form_for @article, 
              :url => solution_category_folder_article_path(@article.folder.category_id  , @article.folder.id) , 
              :html => {
                :multipart => true, 
                :id => "article-form", 
                :class => "article-edit-form",
                :data => form_data_attrs
              } do |f| %>
    <div class="row-fluid">
      <div class="span6">
        <%= f.text_field :title, 
                :class => "text required article-title", 
                :placeholder => t('solution.solution_title'),
                :value => "" %>
    
      </div>
      <div class="span6 pull-right pagination-right header_buttons align-right">
        <%= submit_tag t('cancel'), :name => "cancel_draft_changes", :class => "btn cancel-button", :id => "edit-cancel-button" %>
        <%= submit_tag t('save'), :name => "save_as_draft", :class => "btn", :id => "save-as-draft-btn" %>
        <%= submit_tag t('solution.articles.publish'), :name => "publish", :class => "btn btn-primary", :id => "article-publish-btn" %>
      </div>
    </div>
    <%= f.error_messages %>
    <div class="row-fluid">
    <div class="editor-body">
      <%= f.rich_editor  :description, 'editor-type' => :solution, :height => "400px", 
            :class => "required", 
            :value => '',
            :data => {
              :"remove-cursor" => true,
              :"toolbar-external" => "#editortool"
            }
      %>
    </div>
    <div id="editortool"></div>
    </div>
    
    <% if @article.draft.present? %>
      <input type="hidden" name="previous_author" value="<%= @article.draft.user.id %>">
      <input type="hidden" name="original_updated_at" value="<%= @article.draft.modified_at %>">
      <input type="hidden" name="last_updated_at" value="<%= @article.draft.updation_timestamp %>" id="last-updated-at">
    <% end %>
    <hr />
    <%= render	:partial => "/solution/shared/attachment_form",
        :locals => { :attach_id => 'article', :nsc_param => 'solution_article',
          :original_attachments => { 
            :cloud_files => active_attachments(:cloud_files, @article.draft, @article), 
            :regular => active_attachments(:attachments, @article.draft, @article) }
        } %>
    <% if is_application_installed?("screenr") %>
      <div class="control-group">
        <div class="controls">
            <%= render :partial => "shared/screenr_recorder", :locals => { :location => "solution" } %>
        </div>
  
      </div>
    <% end %>
    
    <% if @article.folder.is_default? %>
      <div class="control-group select-folder hide">
        <p class="folder-warning-msg">*<%= t('solution.folders.choose_folder_warning') %></p>
        <%= f.label :folder_id, t('solution.folder'), :class => "control-label" %>
        <div class="controls">
          <%= f.select :folder_id , 
                option_groups_from_collection_for_select( 
                    current_account.solution_categories.reject(&:is_default), 
                    :folders, :name, :id, :name, 
                    (@article.folder.is_default? ? nil : @article.folder_id )
                ), 
                {:include_blank => t('solution.folders.choose_folder')}, 
                :class => "select2 span4 required"
          %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>