<h3 class="lead itil-hide"><%=t('solution.edit')%>
	<div class="pull-right"><%= preview_portal(support_solutions_article_path(@article.id), @article.folder.category) if @article.published? %>
	</div>
</h3>

<div class="draft-info-box <%= "hide" unless @article.draft.present? %>">
	<div class="autosave-notif span8">
  	<% if @article.draft %>
	  	<%= t('solution.articles.draft.show_page_msg') %> 
			<%= current_user == @article.draft.user ? t('solution.articles.draft.you') : @article.draft.user.name %>
			<span data-livestamp="<%= @article.draft.updation_timestamp %>" class="tooltip" title="<%= formated_date(@article.draft.modified_at) %>"></span>
			<%= link_to(t('solutions.drafts.discard'), solution_article_draft_path(@article, @article.draft), :method => 'delete', :class => 'btn btn-small draft-btn', :confirm => t('solution.articles.draft.discard_confirm')) if @article.published? %>
		<% end %>
	</div>
	<%= link_to( t('solution.articles.view_draft'), support_draft_preview_path(@article, "preview"), :class => "pull-right preview-draft-link", :target => "_blank") %>
</div>

<%= form_for @article, :url => solution_category_folder_article_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form", :class => "article-edit-form"} do |f| %>
	
	<%= render :partial => 'solution/articles/draft/article_form', :locals => { :f => f, :edit =>true } %>
	<% if @article.draft.present? %>
		<input type="hidden" name="previous_author" value="<%= @article.draft.user.id %>">
		<input type="hidden" name="original_updated_at" value="<%= @article.draft.modified_at %>">
		<input type="hidden" name="last_updated_at" value="<%= @article.draft.updation_timestamp %>" id="last-updated-at">
	<% end %>
	<div class="button-container align-right">
	    <% if privilege?(:delete_solution, @article) %>
	  		<div class="pull-left itil-hide">
	  			<%= confirm_delete(@article, solution_category_folder_article_path(@article.folder.category_id,@article.folder,@article)) %>
	  		</div>
	    <% end %>
	    <%#= link_to(t('preview'), support_draft_preview_path(@article, "preview"), :class => "preview_link", :target => "_blank") %>
	  	<%= submit_tag t('cancel'), :name => "cancel_draft_changes", :class => "btn cancel-button", :id => "edit-cancel-button" %>
	    <%= submit_tag t('save'), :name => "save_as_draft", :class => "btn", :id => "save-as-draft-btn" %>
			<%= submit_tag t('solution.articles.publish'), :name => "publish", :class => "btn btn-primary" %>

	</div>
<% end %>

<div class="hide" id="article-properties">
</div>

<% content_for :helpcard do %>
  <%= "Something here" %>
<% end %>
