<h3 class="lead itil-hide"><%=t('solution.add_new_solution')%></h3>
<div id="article-form-container">
	<%= form_for @article, :url => solution_category_folder_articles_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form"} do |f| %>
	  <%= render :partial => 'solution/articles/draft/article_form', :locals => { :f => f } %>
		<div class="button-container align-right itil-hide">
			<%= link_to(t('cancel'), solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "btn" ) %>
	    <%= submit_tag t('save'), :name => "save_as_draft", :class => "btn" %>
			<%= submit_tag t('solution.articles.publish'), :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>
<% content_for :helpcard do %>
  <%= "Something here" %>
<% end %>
