<div class="solution">
	<!-- Solution header --> 
	<div class="bread-crumb">
		<%= breadcrumb %>
	</div>
</div>

	<%= render :partial => 'solution/articles/draft/article_form' %>
		
<% content_for :helpcard do %>
	<h3 class="lead"> <%=t('solution.title').html_safe%> </h3>
  <p><%=t('solution.info15').html_safe%></p>
  <p><%=t('solution.info16').html_safe%></p>
  <p><%=t('solution.info17').html_safe%></p>
  <p><i><%=t('solution.info18').html_safe%></i></p>
  <p><%=t('solution.info19').html_safe%></p>
  <p><%=t('solution.info20').html_safe%></p>
<% end %>
