<% content_for :sidebar do %>
	<div class="solution-sidebar">
		<%= render partial: "sidebar" %>
	</div>
<% end %>

<div class="solution">

	<!-- Solution header --> 
	<div class="bread-crumb">
		<%= breadcrumb %>
		<span class="pull-right">
			<%= preview_portal(support_solutions_article_path(@article.id), @article.folder.category) if @article.published? %>
		</span>
	</div>

	<div class="solution-header draft-notif" rel="sticky">
			<% if @article.draft or !@article.published? %>
			<div class="sub-content article-view-edit <%= 'error' if @article.draft.present? && @article.draft.locked? %>">
				<p class="pull-left"><%= draft_info_text %> &nbsp;&nbsp; <%= discard_link %> </p>
				<p class="pull-right">
					<%= link_to( t('solution.articles.view_draft'), support_draft_preview_path(@article, "preview"), :class => "pull-right preview-draft-link", :target => "_blank") %>
					<%#= link_to(t('solutions.drafts.publish'), publish_solution_draft_path(@article), :method => 'post', :class => 'draft-btn') %>
				</p>
			</div>
			<% end %>
			<div class="sub-content autosave-notif hide"></div>
	</div>

	<!-- Solution page content -->
	<div class="solution-content">
		<%= render :partial => "solution/articles/draft/view" %>
		<%# #TODO DraftsUI - Clicking on Edit button from "List view" should automatically open up Edit Form %>
		<%= render :partial => "solution/articles/draft/form" %>
	</div>

</div>

<!-- Article properties overlay -->
<% content_for :dialogs do %>
	<div id="article-prop" class="hide"></div>
<% end %>

<!-- Master version section -->
<%# content_for :pagefixed do %>
	<%# render partial: "solution/articles/draft/master_version" %>
<%# end %>