<% content_for :sidebar do -%>&nbsp;<%-end %>
<%= content_tag(:h3, t('contacts.import_csv'), :class => "lead") %>

	<%= form_for :user,:url => { :controller => "contact_import", :action => "create" }, :html => {:multipart => true} do |f| %>
	  <%= f.error_messages %>
	  <div class="row-fluid">
	  	<div class="control-group">
	  		<label class="control-label" for="file"><%= content_tag(:b, t('step1')) %>: <%= t('import_step1_info') %></label>
	  		<div class="controls">
		      	<%= file_field_tag 'file',:accept => 'csv', :class => "required", :size => "40" %>
		    </div>
	  	</div>
	  	<div class="control-group">
	  		<p><%= content_tag(:b, t('warning')) %> <%= t('import_warning_info') %></p>
	  		<br/>
			<p class="muted"><%= content_tag(:b, t('note')) %> <%= t('contact_import.import_data_info', :solution_link => "https://support.freshdesk.com/support/solutions/articles/199329").html_safe %> </p>
	  	</div>
	  	<div class="button-container">
		  	<%= link_to t('cancel'), contacts_path, :class => "btn"  %>
		  	<%= f.submit t('import'), { :class => "btn btn-primary" } %>
		</div>
		<div class="seperator"></div>
		<br/>
		<div class="control-group">
			<%= content_tag(:h5, t('import_example_title'), :class => "lead") %>
			<div class="muted">
				<%= image_tag "#{asset_host_url}/assets/helpimages/import_csv.png", 
								:alt => t('admin.help_image_alt.import_csv_file_pattern') %>
			</div>
	  	</div>
	</div> 
	<% end %>
