<% base_domain = '.' + AppConfig['base_domain'][Rails.env] %>
<div class="top_banner">
	<div class="top-banner-content">
		<img src="/images/misc/freshdesklogo.png" alt="Freshdesk" width="204px" height="50px"/>
		<span class="marketplace-link">
			<%= t('link_with_marketplace') %>
		</span>
	</div>
</div>
<div class="google-signup-content">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#new-account" data-toggle="tab"><%= t('.new_account') %></a></li>
	  <li><a href="#existing-user" data-toggle="tab"><%= t('.existing_user') %></a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="new-account">
	  	<div class="ui-form signup-form" id="signup-form">
				<%= form_for @account, :url => {:controller => :accounts, :action=> :create_account_google} , :html => { :method => "put", :id => "google_sign_up_form" } do |f| %>
					<%= f.error_messages %>
					<%= show_flash %>
				  <input type="hidden" name="call_back" id="call_back_url" value="<%=@call_back_url%>" />
				  <input type="hidden" value="<%=@user.name%>" size="24" name="user[name]" id="user_name" class="textfield">
				  <input type="hidden" value="<%=@user.email%>" size="24" name="user[email]" id="user_email" class="textfield">
				  <input type="hidden" name="utc_offset" id="account_timezone_offset" />
				  <input type="hidden" value="<%=@account.google_domain%>" name="account[google_domain]" id="account_google_domain" class="textfield" />

				  	<input type="hidden" name="session_json" id="session_json" value="">
					<input type="hidden" name="first_referrer" id="first_referrer" value="">
					<input type="hidden" name="first_landing_url" id="first_landing_url" value="">
					<input type="hidden" name="first_search_engine" id="first_search_engine" value="">
					<input type="hidden" name="first_search_query" id="first_search_query" value="">
					<input type="hidden" name="pre_visits" id="pre_visits" value="">

				  <ul>
						<li>
							<label for="account_name"><strong><%= t('.company_name') %> <span class="required_star">*</span></strong></label>
							<input type="text" size="24" name="account[name]" id="account_name" class="text required input-xlarge" value="<%=@account.name%>">
						</li>
						<li>
							<label for="account_sub_domain"><strong><%= t('.helpdesk_url') %> <span class="required_star">*</span></strong></label>
							<div class="textfield">
			      				<div class="domain">
			      					<label for="account_domain" class="ghostwriter_info">
			      						<label class="ghostwriter_hide"></label>
			      						<label></label>
			      					</label>
			      					<div class="input-append">
											  <input type="text" class="span4 required" value="<%=@account.domain%>" size="24" maxlength="60" rel="ghostWriter" autocomplete="off" name="account[domain]" id="account_domain" placeholder="<%= t('.helpdesk_name') %>" data-ghost-text="<%= base_domain %>">
											  <span class="add-on"><strong><%= base_domain %></strong></span>
											</div>
			      				</div>
			      			</div>

							<!--input type="text" value="<%=@account.domain%>" size="24" name="account[domain]" id="account_domain" class="text very_small required"><strong class="big-text">.freshservice-dev.com</strong-->
							<div class="info-data"><%= t('.domain_info') %></div>
						</li>
						<li>
							<label for="user_email"><strong><%= t('.phone_no') %></strong></label>
					      	<input type="text" size="24" name="user[phone]" id="user_phone" class="text input-xlarge" value="<%=@user.phone%>">
						</li>
						<li class="button-container">
							<div><%= submit_tag t('.create_my_account'), :class => "btn btn-primary pull-left" %></div>
							<div class="help_text pull-left">
								<%= t('.terms_and_policy').html_safe %>
							</div>
						</li>
					</ul>
				<% end %>
			</div>
	  </div>
	  <div class="tab-pane" id="existing-user">
	  		<div class="ui-form signup-form" id="change-sub-domain">
					 <%= form_for @account, :url => {:controller => :google_signup, :action=> :associate_google_account} , :html => { :method => "put" } do |f| %>
						<%= error_messages_for :account %>
						<%= show_flash %>
							<input type="hidden" value="<%=@call_back_url%>" name="call_back" id="call_back_url" />
					  	<input type="hidden" value="<%=@user.name%>" size="24" name="user[name]" id="user_name" class="textfield">
					  	<input type="hidden" value="<%=@user.email%>" size="24" name="user[email]" id="user_email" class="textfield">
							<!-- <input type="hidden" value="<%=@open_id_url%>" name="user[uid]" id="open_id_url" /> -->
							<input type="hidden" value="<%=@account.google_domain%>" name="account[google_domain]" id="account_google_domain" class="textfield" />
							<input type="hidden" value="<%=@uid%>" name="user[uid]" id="user_uid"  />
							<ul>
								<li>
									<label for="account_sub_domain"><strong><%= t('.your_freshdesk_url') %></strong><span class="required_star">*</span></label>
									<div class="textfield">
				        				<div class="domain">
				        					<label for="account_sub_domain" class="ghostwriter_info">
				        						<label class="ghostwriter_hide"></label>
				        						<label></label>
				        					</label>
				        					<div class="input-append">
													  <input type="text" class="span3" value="<%=@account.domain%>" size="24" maxlength="60" rel="ghostWriterSubDomain" autocomplete="off" name="account[sub_domain]" id="account_sub_domain" placeholder="<%= t('.helpdesk_name') %>" data-ghost-text="<%= base_domain %>">
													  <span class="add-on"><strong><%= base_domain %></strong></span>
													</div>
				        				</div>
				      				</div>


									<!--input type="text"  size="24" name="account[sub_domain]" id="account_sub_domain" class="text very_small required">
									<strong class="big-text">.freshservice-dev.com</strong-->
									<div class="info-data"><%= t('.domain_info') %></div>
								</li>
								<li class="button-container">
									<%= submit_tag t('.submit'), :class => "btn btn-primary pull-left" %>
								</li>
							</ul>
					<% end %>
				</div>
	  </div>
	</div>
</div>

<%= javascript_tag do %>
 sub_domain = '<%= @sub_domain %>'
<% end %>
<%= javascript_include_tag 'integrations/marketplace/marketplace' %>