<div class="top_banner">
	<div class="top-banner-content">
		<img src="/images/freshdesklogo.png" alt="Freshdesk" width="204px" height="50px"/>
		<span class="marketplace-link">
			<%= t('link_with_marketplace') %>
		</span>
	</div>
</div>
<%= show_flash %>
<div class="google-signup-content">
	<div class="tab-content">
	  <div class="tab-pane active" id="new-account">
			<div class="ui-form" id="signup-form">
				<center>
					<p class="big-text aligncenter">
					<%= t('.error_message').html_safe %></p>
				</center>
				<center>
					<a href='<%= t('.freshdesk_signup_page') %>'><%= t('.signup') %> </a>
				</center>
			</div>
		</div>
	</div>
</div>