<% content_for :page_toolbar do -%>
    <%= link_to t('.new_quest'), new_admin_quest_path, :class => "uiButton" %>
<%- end %>

<% content_for :page_title do -%>
  <%= t('.quest_title') %>
<%- end %>

<% content_for :page_active_list do -%>
  <% @quests.each do |quest| %>
    <% content_tag :li, :questid => quest.id, :class => cycle('odd badges_items ', 'even badges_items') do %>
        <div class="item_actions">
            <%= link_to(t('delete'), admin_quest_path(quest), :method => 'delete', :confirm => t("dispatch.delete"), :class => "button" ) %>
            <%= link_to(t('deactivate'), deactivate_admin_quest_path(quest), :method => 'put', :class => "button") %>
            <%= link_to(t('edit'), edit_admin_quest_path(quest), :class => "button") %> 
        </div>
        <div style="height:50px;" class="floatl <%= quest.award_data[0][:badge] %>"></div>
        <b><%= link_to(h(quest.name), edit_admin_quest_path(quest), :class => "item_info") %></b>
        <%= content_tag :div, truncate(h(quest.description), :length => 80), :title => h(quest.description)  %>
    <% end %>
  <% end %> 
<%- end %>

<% unless @inactive_quests.empty? %>
  <% content_for :page_inactive_list do -%>
    <% @inactive_quests.each do |quest| %>
      <% content_tag :li, :ruleid => quest.id, :class => cycle('odd', 'even') do %>
        <div class="item_actions">
          <%= link_to(t('delete'), admin_quest_path(quest), :method => 'delete', :confirm => t("dispatch.delete"), :class => "button" ) %>                  
          <%= link_to(t('activate'), activate_admin_quest_path(quest), :method => 'put', :class => "button") %>
          <%= link_to(t('edit'), edit_admin_quest_path(quest), :class => "button") %>                   
        </div>
        <%= link_to(h(quest.name), edit_admin_quest_path(quest), :class => "item_info") %> 
            <% end %>
        <% end %>
  <% end %>
<% end %>
<br><br>
<ul class="ui-form gamesettings">
    <li>
        <div class="">
            <div class="floatr"> 
                <h2 class="points-box"><%= yield :page_toolbar %></h2>
            </div>
            <%= content_tag(:h3, yield(:page_title), :class => "title" )%>
            <ul class="admin_list" id="normal">
              <%= yield :page_active_list %>
            </ul>
            <% if yield(:page_inactive_list) %>
            <h4 class="title"><%= t('quests.inactive_quests') %></h4>
              <ul class="admin_list deactivated">
                  <%= yield :page_inactive_list %>    
              </ul>
          <% end %>
      </div>
    </li>    
</ul>  