<%= render :partial => "admin/quests/criteria_jsinit", :locals => { :filter_type => "quest" } %>

<%= f.error_messages :object_name => 'quest' %>
<h3 class="s-title">Quest type</h3> 
<div class="form-section">	
	<div class="row">
		<% Quest::GAME_TYPE_KEYS_BY_TOKEN.each do |game_type| %>
		<label class="s-label radio-label span2">
			<%= f.radio_button :quest_type, game_type[1], :class => "quest_types" %>
			<%= t(".#{game_type[0]}") %>
		</label>
		<% end %>
	</div>
</div>
<br />
<div id="enablequest">
	<div class="gamecriteria">
		<h2>Specify Quest Criteria</h2>
		<div class="ui-form gray-box-rounded">
			<div id="questDOM"></div>
			<div class="conditionset" id="filterDOM">
				<div id="RuleList" class="rule_list"></div>
				<fieldset class="empty_choice">
		        	<p>No conditions present</p>
		    	</fieldset>
				<fieldset class="addchoice">
		         	<p><%=t('dispatch.add_condition')%></p> 
		         	<img alt="<%=t('dispatch.add_new_choice')%>" class="add" src="/images/add.png" />
		    	</fieldset>
	    	</div>
		</div>
	</div>

	<div class="gamereward">
		<h3 class="s-title">Reward</h3>
		<p class="help-text">On successful completion of a quest award a badge and bonus points</p>
		<div class="form-section">
			Award
			<%= f.text_field :points, :class => "required text", :style => "width:50px;", :placeholder => "Points" %>
			bonus points and Unlock <a href="javascript:void(0)" id="showbadges"> this badge</a>
			<% unless @badge_class.blank? %>
				<div class="badges_items" style="padding-top:20px;"><div id="selected-badge" class="gamesettings-badges <%= @badge_class[:classname]%>"></div><span id="selected-badge-name"><%= @badge_class[:name]%></span></div>
			<%= f.hidden_field :badge_id, :id => "quest_badge_id" %>
			<% else %>
				<input type="hidden" id="quest_badge_id" name="quest[badge_id]" class="required text"/>
				<div class="badges_items" style="padding-top:20px;"><div id="selected-badge" ></div><span id="selected-badge-name"></span></div>
			<% end %>
			
		</div>
		<div id="select-badge" style="display:none;" class="badgelist badges_items">
			<ul>
			<% @available_badges.each do | badges | %>
				<li><div class="gamesettings-badges <%= badges[:classname] %>" badge_id="<%= badges[:id] %>" data-name="<%= badges[:name] %>"></div> <%= badges[:name] %></li>
			<% end %>
			</ul>
			<!--br>
			<a href="#" id="add-new-badge">Add New Badge</a>
			<div class="gray-box-rounded" id="show-new-badge">
				<form id='badge_upload_form' enctype="multipart/form-data" method="post" target="iframe-badge-upload"> 
					<strong>Upload New Badge</strong><br><br>
					Badge Name <br> <input type="text">
					<br><br>
					Attach Badge <br> <input type="file"><br><br>
					<input type="submit" class="uiButton" value="<%= t('submit') %>">
				</form>
				<iframe id="iframe-badge-upload" name="iframe-badge-upload" style="border:0px; height:1px; visibility:hidden;" src="about:blank"></iframe>
			</div-->
		</div>
	</div>

	<div class="gamename">
		<h3 class="s-title">...and finally</h3>
		<div class="form-section">
			<%= f.text_field :name, :class => "required text", :style => "width:98%;", :placeholder => "Name" %>
			<%= f.text_area :description, :class => "mediumpara", :placeholder => "Brief about the quest" %>
		</div>
	</div>


	<div class="button-container">
		<input type="hidden" name="award_data" id="quest_award_data" value=""/>
		<input type="hidden" name="quest_data" id="quest_quest_data" value=""/>
		<input type="submit" class="uiButton" value="<%=t('save')%>" />
		<%= link_to t('cancel'), {:action => 'index'}, :class => "uiButton" %>
	</div>
</div>