<%= content_tag :tr, :id => "quest_#{quest.id}", :class => ""  do %>
  <td>
    <%= check_box_tag :quest, quest.active, quest.active, :id => "quest_toggle_#{quest.id}", :rel => "toggle", 
          :onchange => remote_function( 
                            :url => toggle_admin_quest_path(quest), 
                            :method => :put ) %>
  </td>
  <td class="<%= quest.active ? 'active' : 'inactive' %>">
        <div>
          <span class="badges center <%=quest.badge[:classname]%>">
            <%= content_tag(:strong, quest.points, :class => "label points") unless quest.points.blank? || quest.points == 0 %>
          </span>            
          <div class="quest-desc">      
            <strong> <%= link_to(h(quest.name), edit_admin_quest_path(quest), :class => "item_info") %> </strong>
            <%= content_tag :div, truncate(quest.description, :length => 180), :title => (quest.description)  %>
          </div>
        </div>
      </div>
  </td>
  <td class="align-right <%= quest.active ? 'active' : 'inactive' %>">
      <div class="actions">
        <%= link_to("<i class='icon-trash'></i>".html_safe, admin_quest_path(quest), :method => 'delete', 
                :confirm => t("quests.delete"), :class => "btn btn-mini" ) %>
      </div>
  </td>
  <%= javascript_tag do %>
    jQuery("#quest_toggle_<%= quest.id %>").itoggle()
  <% end %>
<% end %>