<div class="dialog-panel sidepanel" id="CustomFieldsDialog" style="display:none;position:absolute;">
	<a href="javascript:void(0)" id="close_button" class="close"></a>
        <form class="ui-dialog-form" action="#">
        	<input type="hidden" name="customtype" value="" />
            <div class="ctrlHolder">
            	<%= content_tag(:label, t("ticketfields.fieldprop.label"), :class => "caption") %>
                <fieldset>
                    <input type="text" name="customlabel" size="35" maxlength="50" class="text"  value="" />
                </fieldset>
            </div>
            <div class="ctrlHolder">
            	<%= content_tag(:label, t("ticketfields.fieldprop.description"), :class => "caption") %>
                <fieldset> 
                    <input type="text" name="customdesc" size="35" maxlength="50" class="text" value="" id="customdesc" />
                </fieldset> 
            </div> 
            <div class="ctrlHolder colsets border-top" id="DropFieldChoices">
            	<%= content_tag(:label, t("ticketfields.fieldprop.dropdown_choices"), :class => "caption") %> 
					<!--fieldset>
						<b class="dropchoice">Choices</b><b class="tags">Tags</b>
					</fieldset-->
					<div name="customchoices" class="customchoices">
	                    <fieldset>
	                    	<span class="sort_handle"></span>
	                        <span class="dropchoice"><input type="text" name="choice" /></span><span class="tags"><input type="text" /></span><img src="/images/delete.png" />
	                    </fieldset>
					</div>
                    <a class="addchoice" href="javascript:void(0)"> <%= t("ticketfields.fieldprop.add_new_choice") %> </a> 
            </div> 
            <div class="ctrlHolder border-top">
            	<%= content_tag(:label, t("ticketfields.fieldprop.for_agents"), :class => "caption") %>
	            <fieldset> 
	                <label><input type="checkbox" name="agentrequired" /> <%= t("ticketfields.fieldprop.agent_mandatory_submission") %> </label>
					<span class="info-data"> <%= t("ticketfields.fieldprop.agent_info1") %> </span>
				</fieldset>
				<fieldset> 
					<label><input type="checkbox" name="agentclosure" /> <%= t("ticketfields.fieldprop.agent_mandatory_closure") %> </label>
					<span class="info-data"><%= t("ticketfields.fieldprop.agent_info2") %></span>
	            </fieldset> 
            </div> 
            <div class="ctrlHolder border-top">
                <%= content_tag(:label, t("ticketfields.fieldprop.for_customer"), :class => "caption") %>
                <fieldset id="nestedConfig">
					<label><input type="checkbox" toggle_ele="nestedlvl2" name="customervisible" /><%= t("ticketfields.fieldprop.customer_visible") %> </label></li>
					<fieldset id="nestedlvl2" class="nestedChoices" style="display:none;">
						<label><input type="checkbox" toggle_ele="nestedlvl3" name="customereditable" /><%= t("ticketfields.fieldprop.customer_edit") %> </label>
						<fieldset id="nestedlvl3" class="nestedChoices" style="display:none;">
							<label><input type="checkbox" name="customerrequired" /> <%= t("ticketfields.fieldprop.customer_mandatoy") %> </label>
								<span class="info-data"><%= t("ticketfields.fieldprop.customer_info1") %></span>
						</fieldset>
			        </fieldset>
                </fieldset>  
            </div> 
			<span class="seperator"></span> 
			<div class="alignright">
				<!--input type="button" class="button" id="SaveField" value="Save" /-->
				<a class="uiButton delete small floatl" id="DeleteField"><%= t("delete") %></a>
				<a class="uiButton small" id="close_button_2"><%= t("close") %></a>
			</div>
        </form>   
</div>