<div id="CustomFieldsDialog" style="visibility:hidden;position:absolute;left:0;width:100%;">
<div class="dialog-panel sidepanel">
  <a href="javascript:void(0)" id="close_button" class="close"></a>
  <h2 class="title" id="dialog-title">Field properties</h2>
  <form class="ui-dialog-form" id="TicketProperties" action="#">
  	<input type="hidden" name="customtype" value="" />
    <div class="ctrlHolder">
      <h3 class="title">Behavior</h3>
      <div class="row-fluid">
        <div class="span6" id="AgentMandatory">
          <%= content_tag(:label, t(".for_agents"), :class => "caption") %>
          <fieldset> 
            <label class="checkbox"><input type="checkbox" name="agentrequired" /><%= t(".agent_mandatory_submission") %> </label>
          </fieldset>       
          <fieldset> 
            <label class="checkbox"><input type="checkbox" name="agentclosure" /><%= t(".agent_mandatory_closure") %> </label>
          </fieldset> 
        </div>
        <div class="span6" id="CustomerConditions">
          <%= content_tag(:label, t(".for_customer"), :class => "caption") %>
          <fieldset id="nestedConfig">
            <label class="checkbox"><input type="checkbox" toggle_ele="nestedlvl2" name="customervisible" />
              <%= t(".customer_visible") %> 
            </label>
             <fieldset id="nestedlvl2" class="nestedChoices">
               <label class="checkbox">
                <input type="checkbox" toggle_ele="nestedlvl3" name="customereditable" /><%= t(".customer_edit") %> 
               </label>
               <fieldset id="nestedlvl3" class="nestedChoices">
                 <label class="checkbox"><input type="checkbox" name="customerrequired" />
									<%= t(".customer_mandatory") %> 
								 </label>
               </fieldset>
             </fieldset>
           </fieldset>  
        </div>
      </div>
    </div>    
    <div class="ctrlHolder" id="FieldLabels">
      <h3 class="title">Label</h3>
      <div class="row-fluid">
        <fieldset class="span6">
      	  <%= content_tag(:label, t(".for_agents"), :class => "caption") %>
          <input type="text" rel="companion" data-companion="#customlabelportal" name="customlabel" value="" />
        </fieldset>
        <fieldset class="span6">
          <%= content_tag(:label, t(".for_customer"), :class => "caption") %>
          <input type="text" name="customlabel_in_portal" id="customlabelportal" value="" />
        </fieldset>
      </div>
    </div>
    <div class="ctrlHolder" id="NestedFieldLabels">
      <h3 class="title">Nested field labels</h3>
      <div class="row-fluid">
        <fieldset class="span4">
          <%= content_tag(:label, "Level 1", :class => "caption") %>
          <input type="text" placeholder="Field label for agents *" rel="companion" data-companion="#customerslabel" name="agentlabel" value="" id="agentlevel1label" data-level="1" />
          <input type="text" placeholder="Field label for customers *" id="customerslabel" name="customerslabel" value="" />
        </fieldset>
        <fieldset class="span4">
          <%= content_tag(:label, "Level 2", :class => "caption") %>
          <input type="text" placeholder="Field label for agents *" rel="companion" data-companion="#customerslevel2label" id="agentlevel2label" name="agentlevel2label" value="" data-level="2" />
        <input type="text" placeholder="Field label for customers *" id="customerslevel2label" name="customerslevel2label" value="" />
        </fieldset>
        <fieldset class="span4">
          <%= content_tag(:label, "Level 3", :class => "caption") %>
          <input type="text" placeholder="Field label for agents" rel="companion" data-companion="#customerslevel3label" id="agentlevel3label" name="agentlevel3label" value="" data-level="3" />
          <input type="text" placeholder="Field label for customers" id="customerslevel3label" name="customerslevel3label" value="" />
        </fieldset>
      </div>
    </div>
    <div class="ctrlHolder hide">
      <%= content_tag(:label, t(".description"), :class => "caption") %>
      <fieldset> 
        <input type="text" name="customdesc" size="35" maxlength="50" class="text" value="" id="customdesc" />
      </fieldset> 
    </div> 
    <div class="ctrlHolder" id="nestedContainer">	    
			<div id="nestedEdit" class="hide">
        <a href="#" id="nestedDoneEdit" class="primary button-link floatr">Preview</a>
        <%= content_tag(:h3, "Dropdown items - edit view", :class => "title") %>          
        <div class="alert-message">
            Use the below free form textarea to add or edit items for your dropdown, Indent items by pressing the tab key once or twice. we will convert it to dropdown items based on the indentation, please take extra care. <a href="#">Learn more</a> 
        </div>
	      <textarea id="nestedTextarea" rows="6" name="nestedTextarea" class="paragraph" rel="nestedfield"></textarea>
        <label id="nestedTextarea-error" class="error hide">You need atleast one category & sub-category</label>	      
		  </div>
      <div id="nested-selectboxs">
        <a href='#' class='button-link primary floatr' id='nested-edit-button'>Edit</a>
        <%= content_tag(:h3, "Dropdown items - Preview", :class => "title") %>          
        <div class="alert-message">
          This is the “Preview” of sample dropdown items, use the freeform textarea in “Edit view” to edit items
        </div>
        <ul class="nested-selectboxs row-fluid">
          <li class="span4">
            <select name="nest-category" id="nest-category">
              <option>...</option>
            </select>
          </li>
          <li class="span4 subcategory">   
  					<span class="connector"></span>
  					<select name="nest-subcategory" id="nest-subcategory">
          		<option>...</option>
          	</select>
  			 	</li>
          <li class="span4 item">               
  					<span class="connector"></span>
  					<select name="nest-item" id="nest-item">
          		<option>...</option>
          	</select>
  				</li>            
        </ul>
      </div>
    </div>
    <div class="ctrlHolder colsets" id="DropFieldChoices" style="display:none;">
      <%= content_tag(:h3, t(".dropdown_choices"), :class => "title") %>
      <input type="hidden" name="choicelist" id="ChoiceListValidation" value="" />
        <div name="customchoices" class="customchoices">
          <fieldset>
            <span class="sort_handle"></span>
            <img src="/images/delete.png" />
            <span class="dropchoice"><input type="text" name="choice" /></span>
          </fieldset>
        </div>
        <a class="addchoice" href="javascript:void(0)"> <%= t(".add_new_choice") %> </a> 
    </div> 
          
		<span class="seperator"></span> 
		<div class="alignright">
			<a class="uiButton delete floatl" id="DeleteField">Delete field</a> 
			<input type="submit" value="Done" id="Commitfieldtype" class="uiButton special" /> 
			<a class="uiButton" id="cancel-button">Cancel</a> 
		</div>
  </form>   
</div>
</div>