<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('ticket_field.helpcard.title1')%></h3>
	<p><%= t('ticket_field.helpcard.info1') %></p> 
	<p><%= t('ticket_field.helpcard.info2') %></p> 
	<h3 class="title"><%=t('ticket_field.helpcard.title2')%></h3>
	<p><%= t('ticket_field.helpcard.info3') %></p>
	<%= tour_button(t('ticket_field.helpcard.tour'), '508a659bbc1fbe7f1d00021f') %>
</div>