	<h3 class="lead"><%=t('ticket_field.helpcard.title1')%></h3>
	<p><%= t('ticket_field.helpcard.info_1') %></p> 
	<h3 class="lead"><%=t('ticket_field.helpcard.title2')%></h3>
	<p><%= t('ticket_field.helpcard.info2') %></p>
  <h3 class="lead"><%=t('ticket_field.helpcard.title3')%></h3>
  <p><%= t('ticket_field.helpcard.info3').html_safe %></p>
	<%#= tour_button(t('ticket_field.helpcard.tour'), '508a659bbc1fbe7f1d00021f') %>
