<style>
	html {  height:auto; overflow-y:visible; }
</style>
<%= javascript_include_tag "_form_customizer.js" %>
<%= content_tag(:h3, t("ticketfields.title"), :class => "title") %> 
<% json_data = @ticket_fields.json_data %>
<% form_tag :action=> :update, :controller => 'ticket_fields', :method => :post do |f| %>
    <div class="admin_form">
        <ul id="custom_fields" class="ui-custom-fields"> 
			<%= content_tag(:h4, t("ticketfields.add_custom_field"), :class => "title") %> 
            <li type="text"> 
                <a href="javascript:void(0)" class="button"> <%= t("ticketfields.field.single_line") %> </a>
            </li>
            <li type="number">
                <a href="javascript:void(0)" class="button"> <%= t("ticketfields.field.number") %> </a>
            </li>
            <li type="paragraph">
                <a href="javascript:void(0)" class="button"> <%= t("ticketfields.field.paragraph") %> </a>
            </li>
            <li type="checkbox">
                <a href="javascript:void(0)" class="button"> <%= t("ticketfields.field.checkbox") %> </a>
            </li>
            <li type="dropdown">
                <a href="javascript:void(0)" class="button"> <%= t("ticketfields.field.dropdown") %> </a>
            </li>
        </ul> 
		<span class="seperator"></span> 
		<div class="custom_form_outer">
			<%= content_tag(:h4, t("ticketfields.customize_form"), :class => "title") %>
			<input type="hidden" name="jsonData" id="field_values" value='<%=json_data%>' />
			<div class="ui-custom-form">
	        	<ul id="custom_form" class="ui-form"></ul>
			</div>
		</div>
	</div> 
	<div class="button-container" id="button_panel">
		<%= link_to "&larr; #{ t('cancel_and_back') }", "/admin/home", :class => "uiButton floatl" %>
		<%= submit_tag t("ticketfields.save"), :class => "uiButton", :id => "SaveForm" %>
	</div>
<%end%>
<% content_for :sidebar do %><% end %>
<% content_for :dialogs do %>
	<%= render :partial => "formfield_props" %>
<% end %>
