<% content_for :head do %>
  <style> html {  height:auto; overflow-y:visible; } </style>
<% end %>
<% content_for :sidebar do %><% end %>
<%= content_tag(:h3, t(".title"), :class => "title") %> 

<% form_for :update, @ticket_fields, :url => { :action => "update" }, :html => { :method => :put, :id => "Updateform" } do |f| %>
  <div class="admin_form">
    <ul id="custom_fields" class="ui-custom-fields"> 
      <%= content_tag(:h4, t(".add_custom_field"), :class => "title") %>
        <div class="info-data"><%= t('.drag_drop_intro') %></div>
            <li data-type="text" data-field-type="custom_text"> 
                <a href="javascript:void(0)" class="button"> <%= t(".single_line") %> </a>
            </li>
            <li data-type="number" data-field-type="custom_number">
                <a href="javascript:void(0)" class="button"> <%= t(".number") %> </a>
            </li>
            <li data-type="paragraph" data-field-type="custom_paragraph">
                <a href="javascript:void(0)" class="button"> <%= t(".paragraph") %> </a>
            </li>
            <li data-type="checkbox" data-field-type="custom_checkbox">
                <a href="javascript:void(0)" class="button"> <%= t(".checkbox") %> </a>
            </li>
            <li data-type="dropdown" data-field-type="custom_dropdown">
                <a href="javascript:void(0)" class="button"> <%= t(".dropdown") %> </a>
            </li>
            <li data-type="dropdown" data-field-type="nested_field">
                <a href="javascript:void(0)" class="button"> <%= t(".nestedfield") %> </a>
            </li>
        </ul> 

    <span class="seperator"></span> 
    <div class="custom_form_outer">
      <%= content_tag(:h4, t(".customize_form"), :class => "title") %>
      <input type="hidden" name="jsonData" id="field_values" value="" />
      <div class="ui-custom-form">
        <ul id="custom_form" class="ui-form"></ul>
      </div>
    </div>
  </div> 
	<div class="button-container" id="button_panel">
		<%= link_to "&larr; #{ t('cancel_and_back') }", "/admin/home", :class => "uiButton floatl" %>
		<%= submit_tag t(".save"), :class => "uiButton special", :id => "SaveForm", :disable_with => "Saving ticket fields..." %>
	</div>
<%end%>
<% content_for :dialogs do %>
	<%= render :partial => "formfield_props" %>
<% end %>
<% content_for :pagefixed do %>
  <% javascript_tag do %>
    // Localizing ticket fields js elements
    tf_settings = <%= @ticket_field_json.to_json %>;
    tf_lang = {
      untitled:           '<%= t("ticket_fields.untitled") %>',
      first_choice:       '<%= t("ticket_fields.first_choice") %>',
      second_choice:      '<%= t("ticket_fields.second_choice") %>', 
      no_choice_message:  '<%= t("ticket_fields.no_choice_message") %>',
      confirm_delete:     '<%= t("ticket_fields.confirm_delete") %>'
    };
  <% end %>
  <%= include_javascripts :ticket_fields %>
<% end %> 