<style>
	html {  height:auto; overflow-y:visible; }
</style>
<%= javascript_include_tag "_form_customizer.js" %>
<h3 class="title">Ticket Fields</h3> 
<div id="resultmsg" class="flash_info" style="display:none;"> &nbsp; </div>	
<div>
    <div class="admin_form">
        <ul id="custom_fields" class="ui-custom-fields">
        	<h4 class="title">Add a Custom Field</h4>
            <li type="text"> 
                <a href="#" class="button">Single Line Text</a>
            </li>
            <li type="number">
                <a href="#" class="button">Number</a>
            </li>
            <li type="paragraph">
                <a href="#" class="button">Paragraph Text</a>
            </li>
            <li type="checkbox">
                <a href="#" class="button">Checkbox</a>
            </li>
            <li type="dropdown">
                <a href="#" class="button">Dropdown</a>
            </li>
        </ul> 
		<span class="seperator"></span>
		<% json_data = @ticket_fields.json_data %>
	
		<% form_tag :action=> :update, :controller => 'ticket_fields', :method => :post do |f| %>
		<div class="custom_form_outer">
			<h4 class="title">
				Customize your “New Ticket” form.
			</h4>
			<div class="ui-custom-form">
	        	<ul id="custom_form" class="ui-form"></ul>
			</div>  
			<input type="hidden" name="jsonData" id="field_values" value='<%=json_data%>' />
			<span class="seperator"></span>
			<div class="alignright" id="button_panel">
				<%= link_to "&larr; cancel and go back", "/admin/home", :class => "uiButton floatl" %> 
				<!--a href="Javascript:void(0)" class="button" id="SaveForm">Save Form</a-->
				<%= submit_tag "Save Form", :class => "uiButton", :id => "SaveForm" %>
			</div>
		</div>
		<%end%>
		
	</div> 
	
</div>
<% content_for :sidebar do %>
	<%= render :partial => "formfield_props" %>
<% end %>
