<% content_for :head do %>
  <style> html {  height:auto; overflow-y:visible; } </style>
<% end %>
<% content_for :helpcard do %>
<%= render :partial => "helpnote" %>
<% end %>
<%= content_tag(:h3, t(".title"), :class => "lead") %> 

<%= form_for @ticket_fields, :url => { :action => "update" }, :html => { :method => :put, :id => "Updateform" } do |f| %>
  <div class="admin_form">
    <ul id="custom_fields" class="ui-custom-fields"> 
      <%= content_tag(:h4, t(".add_custom_field"), :class => "title") %>
        <div class="info-data"><%= t('.drag_drop_intro') %></div>
            <li data-type="text" data-field-type="custom_text" data-fresh="true"> 
                <a href="javascript:void(0)" class="btn btn-bold"> <%= t(".single_line") %> </a>
            </li>
            <li data-type="number" data-field-type="custom_number" data-fresh="true">
                <a href="javascript:void(0)" class="btn btn-bold"> <%= t(".number") %> </a>
            </li>
            <% unless Rails.env.production? %>
            <li data-type="decimal" data-field-type="custom_decimal" data-fresh="true">
                <a href="javascript:void(0)" class="btn btn-bold"> <%= t(".decimal") %> </a>
            </li>
            <% end %>
            <li data-type="paragraph" data-field-type="custom_paragraph" data-fresh="true">
                <a href="javascript:void(0)" class="btn btn-bold"> <%= t(".paragraph") %> </a>
            </li>
            <li data-type="checkbox" data-field-type="custom_checkbox" data-fresh="true">
                <a href="javascript:void(0)" class="btn btn-bold"> <%= t(".checkbox") %> </a>
            </li>
            <li data-type="dropdown" data-field-type="custom_dropdown" data-fresh="true">
                <a href="javascript:void(0)" class="btn btn-bold"> <%= t(".dropdown") %> </a>
            </li>
            <li data-type="dropdown" data-field-type="nested_field" data-fresh="true">
                <a href="javascript:void(0)" class="btn btn-bold"> <%= t(".nestedfield") %> </a>
            </li>
        </ul> 

    <span class="seperator"></span> 
    <div class="custom_form_outer">
      <%= content_tag(:h5, t(".customize_form"), :class => "lead") %>
      <input type="hidden" name="jsonData" id="field_values" value="" />
      <div class="ui-custom-form">
        <ul id="custom_form" class="ui-form"></ul>
      </div>
    </div>
  </div> 
	<div class="button-container" id="button_panel">
		<%= link_to "#{ t('cancel_and_back') }".html_safe, "/admin/home", :class => "btn" %>
		<%= submit_tag t(".save"), :class => "btn btn-primary", :id => "SaveForm", "data-commit" => t('ticket_fields.saving_ticket') %>
	</div>
<%end%>
<% content_for :dialogs do %>
	<%= render :partial => "formfield_props" %>
<% end %>
<% content_for :pagefixed do %>
  <%= javascript_tag do %>
    // Localizing ticket fields js elements
    tf_settings = <%= @ticket_field_json.to_json.html_safe %>;
    tf_lang = {
      untitled:           '<%= t("ticket_fields.untitled") %>',
      first_choice:       '<%= t("ticket_fields.first_choice") %>',
      second_choice:      '<%= t("ticket_fields.second_choice") %>', 
      no_choice_message:  '<%= t("ticket_fields.no_choice_message") %>',
      confirm_delete:     '<%= t("ticket_fields.confirm_delete") %>'
    };
  <% end %>
  <%= javascript_include_tag :'cdn/ticket_fields' %>
<% end %> 
<% content_for :layoutType do -%>antipattern<%- end %>
