



<%if @fb_pages.size > 0%>
<% form_for :facebook_page, :url => { :controller=>"social/facebook_pages", :action=>"enable_pages"}, :html => { :multipart => true , :method => :put } do |f| %>
<p class="intro">
	<%=t('.associate')%>
</p> 
<ul class="admin_list">
	
	<% @fb_pages.each do |fb_page| %>	
	
	<li>
		<div class="preview_pic">
    	<%= image_tag (fb_page[:page_img_url]) %>
    	<span class="fb_pic"></span>
  	</div>		
    <h2 class="title">
			<%= check_box( "enable", "pages", { :multiple => true, :checked => true }, fb_page.to_json , nil) %>
			<%= fb_page[:page_name] %>
		</h2>
	</li>			
	<%end%>
</ul>
<div class="button-container">
	<%= submit_tag t("save"), :class => "uiButton" %>	
</div>
<% end %>
<%else%>
<div class="list-noinfo">
	<p>
		<%=t('.no_page_info')%>
	</p>
 </div>
<% end %>