<% content_for :sidebar do -%><%-end %>
<h3 class="title"><%=t('.title')%></h3>
<ul class="ui-form">
  <li class="inline-field">
	  <div class="admin_help_image">
      <%= get_img("facebook-admin-page.png", :help) %>
      <div class="content">
        <h2 class="title"><%=t('.engage_customers')%></h2>
       	<p class="info-data">
       		<%=t('.associate_account', :account_name => current_account.name)%>

        </p>
        <% if @new_fb_pages %>
          <%= link_to t('facebook.add_page'), "#pages_dialog", :id => "new_page_dialog", :class => "uiButton special medium", :rel => "freshdialog", "data-width" => "600px", "data-submit-label" => "Associate", :title => "Associate Facebook Page" %>
        <% else %>
          <a href="<%= @fb_client.authorize_url(session[:state]) %>" class="uiButton special medium"><%=t('.add_facebook')%></a>
        <% end %>
      </div>
    </div>
  </li>
</ul>