<% content_for :sidebar do -%><%-end %>
<h3 class="title"><%=t('.title')%></h3>
<ul class="ui-form">
  <li class="inline-field">
	  <div class="admin_help_image">
      <%= get_img("facebook-admin-page.png", :help) %>
      <div class="content">
        <h2 class="title"><%=t('.engage_customers')%></h2>
       	<p class="info-data">
       		<%=t('.associate_account', :account_name => current_account.name)%>

        </p>
        <a href="<%= @fb_client.authorize_url %>" class="uiButton special medium"><%=t('.add_facebook')%></a>
      </div>
    </div>
  </li>
</ul>