<% content_for :sidebar do %><% end %>
<ul class="ui-form">
  <li class="inline-field">
    <label class="caption">
      <div class="preview_pic">
        <%= image_tag (@item.page_img_url) %>  		    
				<span class="fb_pic"></span>
      </div>
      <%= content_tag(:h2, @item.page_name, :class => "title") %>
      <div class="intro"><!--%= @twitter_user.screen_name %--></div>
    </label>
    <div class="fields">
      <label class="checkbox">
        <%= check_box "social_facebook_page", :import_visitor_posts, { :checked => facebook_page.import_visitor_posts } %> 	
        <%=t('.visitor_posts')%>
      </label>
      <div class="info-data tabbed">
        <%= t('.visitor_posts_info')%>
      </div>				
      <span class="seperator"></span>
      <label class="checkbox">
        <%= check_box "social_facebook_page", :import_company_posts, { :checked => facebook_page.import_company_posts } %> 
        <%= t('.company_posts')%>
      </label>
      <div class="info-data tabbed">
      	<%= t('.company_posts_info')%>
      </div>
	   <span class="seperator"></span>
	  <!-- another one... -->
	  <label class="caption"><%=t('.message_thread_time')%></label>
      <div class="fields">
      	<%= select (:social_facebook_page ,:dm_thread_time, Social::FacebookPage::DM_THREADTIME_OPTIONS ,{:selected => facebook_page.dm_thread_time}) %>
      </div>
      <div class="info-data tabbed">
        <%=t('.message_thread_time_info')%>
      </div>	 	
	  <!-- --> 
	    <span class="seperator"></span>
      <label class="caption"><%= t('.product')%></label>
      <div class="fields">
  	    <%= collection_select(:social_facebook_page, :product_id, current_account.products, :id, :name, { :include_blank => '...', :selected => facebook_page.product_id })%>
  	  </div>	 
    </div>
  </li>
</ul>