<%if current_account.freddy_self_service_enabled? || current_account.freddy_ultimate_enabled? %>
	<button data-target="#warning-<%= identifier %>" rel="freshdialog" id="warning-btn-<%= identifier %>"
		title="<%= t('freddy.warning_title') %>" data-submit-label="<%= t('disable') %>" data-close-label="<%= t('cancel') %>" data-close-on-submit="true" data-backdrop="static" data-keyboard="false" class="hide">
		Freddy CX disable
	</button>
	<div id="warning-<%= identifier %>" class="hide">
		<%if current_account.freddy_self_service_enabled? && !current_account.freddy_ultimate_enabled? %>
			<div id="from-self-service"><%= t('freddy.warning_content_from_self_service') %></div>
		<% else %>
			<div id="from-ultimate"><%= t('freddy.warning_content_from_ultimate') %></div>
		<% end %>
	</div>
<% end %>
