<%if current_account.field_service_management_enabled? %>
	<button data-target="#warning-<%= identifier %>" rel="freshdialog" id="warning-btn-<%= identifier %>"
	  title="<%= t('fsm_warning_title') %>" data-submit-label="<%= t('disable') %>" data-close-label="<%= t('cancel') %>" data-close-on-submit="true" data-backdrop="static" data-keyboard="false" class="hide">
	  FSM disable
	</button>
	<div id="warning-<%= identifier %>" class="hide">
	  <%= t('fsm_warning_content') %>
	</div>
<% end %>
