<%= f.fields_for :configs do |c| %>
	<div class="control-group mb20">
	  <%= c.label :app_id, t('admin.ecommerce.form.ebay.app_id'), :class => "control-label required" %>
	  <div class = "controls">
	    <%= c.text_field :app_id, :value => con.blank? ? "" : con["app_id"]  , :class => "text span8 required" %>
	  </div>
	</div>

	<div class="control-group mb20">
	  <%= c.label :dev_id, t('admin.ecommerce.form.ebay.dev_id'), :class => "control-label required" %>
	  <div class = "controls">
	    <%= c.text_field :dev_id, :value => con.blank? ? "" : con["dev_id"]  , :class => "text span8 required" %>
	  </div>
	</div>

	<div class="control-group mb20">
	  <%= c.label :auth_token, t('admin.ecommerce.form.ebay.auth_token'), :class => "control-label required" %>
	  <div class = "controls">
	    <%= c.text_area :auth_token, :value => con.blank? ? "" : con["auth_token"]  , :class => "text smallpara span8 required" %>
	  </div>
	</div>

	<div class="control-group mb20">
	  <%= c.label :cert_id, t('admin.ecommerce.form.ebay.cert_id'), :class => "control-label required" %>
	  <div class = "controls">
	    <%= c.text_field :cert_id, :value => con.blank? ? "" : con["cert_id"]  , :class => "text span8 required" %>
	  </div>
	</div>

	<div class="control-group mb20">
	  <%= c.label :ru_name, t('admin.ecommerce.form.ebay.ru_name'), :class => "control-label required" %>
	  <div class = "controls">
	    <%= c.text_field :ru_name, :value => con.blank? ? "" : con["ru_name"]  , :class => "text span8 required" %>
	  </div>
	</div>
<%end%>
