<ul class="breadcrumb">
  <li><%= link_to t('admin.ecommerce.index_title').html_safe, admin_ecommerce_accounts_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{t('admin.ecommerce.new.title')}" %></li>
</ul>

<% content_for :helpcard do -%>
  <%= render :partial => "/admin/ecommerce/helpnote" %>
<%-end %>

<div >
  <h4><%=t('admin.ecommerce.helpnote.content1.info1')%></h4>
	<label class ="label label-inverse vertical-alignment mt10"><%=t('admin.ecommerce.important')%></label>
 	<span class="vertical-alignment mt10"><%= t('admin.ecommerce.new.become_developer_desc') %></span>
  <div class="mt20">
    <%= link_to t('admin.ecommerce.new.become_developer'), "https://developer.ebay.com/join/", :target => "_blank", :class => "btn btn-bold" %>
  </div>
</div>

<div class="mt10 pt20">
  <h4><%=t('admin.ecommerce.helpnote.content1.info1')%></h4>
 <label class="mt10"><%= t('admin.ecommerce.new.go_to_console_desc') %></label>
  <div class="mt10">
    <%= link_to t('admin.ecommerce.new.go_to_console'), new_admin_ecommerce_ebay_path , "data-url"=>"https://developer.ebay.com/DevZone/account/", :class => "btn btn-bold help-lnk" %>
  </div>
</div>
<script type="text/javascript">
	jQuery(".help-lnk").on("click", function(e){
		var url =jQuery(e.target).data("url");
		window.open(url, '_blank');
	});

</script>