
<ul class="breadcrumb">
  <li><%= link_to t('admin.ecommerce.index_title').html_safe, admin_ecommerce_accounts_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{t('admin.ecommerce.new.title')}" %></li>
</ul>

<% @page_title = t('admin.ecommerce.new.ebay_details') %>

<div class="clear" style="width: 74%;">
	<%= content_tag :h3, @page_title, :class => "lead pull-left" %>
	<a href="#" class="pull-right link-account" style="margin-top: 10px;"><%=t('admin.ecommerce.new.solution_link')%></a>
</div>


<div class="row-fluid clear">
	<%= form_for( @ebay_account , :html => { :rel => "validate",:class => "form-horizontal",:method => :post }, :url => { :action => "create" }  ) do |f| %>
		<%= render :partial => "/admin/ecommerce/form", :locals => {:f => f, :page => "new", :account => @ebay_account, :type =>"ebay" } %>
	<% end %>
</div>