<% content_for :layoutType do%>single<% end %>
<div class="folder_section">
	<%= render :partial => "/solution/shared/category_folder_list", :locals => { :category => @article.folder.category, :selected => @article.folder } %>
</div>  
	
 <div class="artical_section">
 	<div class="crumbs">
	 	<%= link_to t('solution.title'), solution_categories_path %> &rarr; 
		<%= link_to @article.folder.category.name, solution_category_path(@article.folder.category) %> &rarr;
		<%= link_to @article.folder.name, solution_category_folder_path(@article.folder.category_id, @article.folder)%>
 	</div>
	
	<h2 class="title"><%= @article.title %></h2> 
	<div class="info_data clearfix">
		<div class="floatr">
			<%= link_to(t('edit'), edit_solution_category_folder_article_path(@article.folder.category_id,@article.folder,@article), :class => "uiButton small") %>
		</div>
		<div class="article_info">
		By <b> <%= @article.user.name%></b> 
		| <%= @article.updated_at.strftime("%B %e %Y at %I:%M %p")%> 
		<% if( !@article.is_public )%> 
			| <span class="status_text lock" title="This artical is visible only to Agents">Private</span>
		<% end %>
		<span class="status_text"><%= @article.type_name %></span>
		</div>
	</div> 
	 
	
	  <div class="solution_title">
		    <div style="display:none;">
		    	<span class="status_text"><%@article.status_name%></span> 
				
		  	</div>	
			<span class="topic_icon" style="display:none;">
				<% if( !@article.is_public )%> 
					<img src="/images/private_lock.gif" class="locked" width="20px" height="19px" />
				<% end %>
				<% if( @article.art_type == 2 )%> 
					<img src="/images/solution_type.png" title="<%= @article.type_name %>" width="32px" height="32px" />
				<% else %>
					<img src="/images/solution_workaround_type.png" title="<%= @article.type_name %>"  width="32px" height="32px" />
				<% end %>
				<div class="icon_text"><%= @article.type_name %></div>
			</span>	
	  		 
			<div class="tag_list"> 
			<% @article.tags.map.each do |t| %> 
				<div class="item">								
					<%= link_to(image_tag('icons/btn_close_icon.png'), solution_category_folder_article_tag_use_path(@article.folder.category_id,@article.folder,@article,t), :method => 'delete', :class => 'tag_delete') %>
					<%= h(t.name) %>
				</div>
			<% end %>
			</div>
	 </div>
	 <span class="seperator"></span>
	 <div class="solutions_text">
		<%= @article.description %>
	 </div>
	 <ul class="attachment_list">
	    <%= render :partial => '/helpdesk/shared/attachment', :collection => @article.attachments %>
     </ul>
	 <span class="seperator"></span> 
	 <div id="article_voting">
		<%= render :partial => "voting", :object => @article %>
	 </div>
</div>
</div>
 