<div class="control-group row-fluid pt2">
	<div class="controls span12">
		<div class="span4">
			<%= fields_for :tags  do |tag| %>
				<%= tag.label(:name, t('tag.title'),:class =>"control-label") %>
				<%= tag.text_field :name, 
													 :class => "article-tags span12",
													 :value => @article.tags.collect{|tag| tag.name}.join(',')
													  %>
			<% end %>
		</div>
		<div class="span4">
			<%= f.label :folder_id, t('solution.folder'), :class => "control-label" %>
			<%= f.select :folder_id , 
						option_groups_from_collection_for_select(
								current_account.solution_categories.reject(&:is_default), 
								:folders, :name, :id, :name, 
								@article.folder_id
						), 
						{:include_blank => t('solution.folders.choose_folder')},
						:class => "select2 span12 required"
			%>
		</div>
		<div class="span4">
			<%= f.label :name, t('solution.articles.type'),:class =>"control-label" %>
			<div class="span12 pt3">
				<% Solution::Article::TYPE_NAMES_BY_KEY.each do |val, type| %>
					<%= f.radio_button :art_type, val, :checked => (val == (@article.art_type || Solution::Article::TYPE_KEYS_BY_TOKEN[:permanent])) %>
					<%= f.label :art_type, t(type), :value => val %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="solution-properties-show" class="solution-properties-title sub-lead">
  <div class="arrow-right  solution-properties-show" id="show-hide-button"></div>
  <a><%= t('solution.solution_meta') %></a>
</div>
<div id="solution-properties-seo" class="hide">
	<%= f.fields_for :seo_data  do |s| %>
						
		<div class="control-group">
			<%= s.label(:meta_title, t('solution.solution_meta_title'), :class => 'control-label') %>
			<div class="controls">
				<%= s.text_field :meta_title, :class => "text", :rel => "charcounter", 
					'data-counter' => "TitleCounter", 'data-limit' => 72, 
					:value => (@article.seo_data || {})[:meta_title] %>

				<div class="muted">
					<b><span id="TitleCounter"></span> <%= t('solution.char_count') %>.</b>
					<%= t('solution.article_properties.title_counter_message') %>
				</div>
			</div>
		</div>
		
		<div class="control-group">
			<%= s.label(:meta_description, t('solution.solution_meta_description'), :class => 'control-label') %>
			<div class="controls">
	    	<%= s.text_area  :meta_description, :rel => "charcounter", 
					'data-counter' => "DescriptionCounter", 'data-limit' => 150, 
					:value => (@article.seo_data || {})[:meta_description], 
					:class => "solution-properties-description" %>
				<div class="muted">
		    		<b><span id="DescriptionCounter"></span> <%= t('solution.char_count') %>.</b>
		    		<%= t('solution.article_properties.description_counter_message') %>
	  		</div>
	  	</div>
	  </div>
		
		<div class="control-group">
			<%= s.label(:meta_keywords, t('solution.solution_meta_keywords'), :class => 'control-label') %>
			<div class="controls">
				<%= s.text_field :meta_keywords, :class => "text", 
					:value => (@article.seo_data || {})[:meta_keywords] %>
				<div class="muted">
					<%= t('solution.meta_keywords_message') %>
				</div>
			</div>
		</div>
	<% end %>
</div>