<div class="article-edit <%= 'hide' unless @article.new_record? %>">
  <%= form_for @article, 
              :url => @article.new_record? ? solution_articles_path : solution_article_path(@article_meta.id, :language_id => @language.id), 
              :html => {
                :method => @article.new_record? ? :post : :put,
                :multipart => true, 
                :id => "article-form", 
                :class => "article-edit-form form-horizontal",
                :data => form_data_attrs
              } do |f| %>
    <%= f.error_messages %>
    <div class="row-fluid">
      <div class="span12">
        <%= f.text_field :title, 
                :class => "text required article-title solution-placeholder", 
                :autocomplete => "off",
                :placeholder => t('solution.solution_title'),
                :autofocus => true,
                :minlength => 3,
                :maxlength => 240,
                :value => (@article.new_record? ? @article.title : '') %>
    
      </div>
    </div>
    <div class="row-fluid">
      <div class="editor-body">
        <%= f.text_area  :description, 'editor-type' => :solution, :height => "400px", 
              :class => "required_redactor", 
              :value => (@article.new_record? ? @article.description : ''),
              :data => {
                :"remove-cursor" => true,
                :"toolbar-external" => '#sticky_redactor_toolbar'
              }
        %>
      </div>
    </div>
    
    <% if @article.draft.present? %>
      <input type="hidden" 
          name="previous_author" value="<%= @article.draft.user.id %>">
      <input type="hidden" 
          name="original_updated_at" value="<%= @article.draft.modified_at %>">
      <input type="hidden" name="last_updated_at" 
          value="<%= @article.draft.updation_timestamp %>" id="last-updated-at">
    <% end %>
    <input type="hidden" name="cancel_draft_changes" 
          value="1" id="cancel_draft_changes_input" disabled="disabled">
    <hr />
    <%= render	:partial => "/solution/shared/attachment_form",
        :locals => { :attach_id => 'article', :nsc_param => 'solution_article',
          :original_attachments => { 
            :cloud_files => active_attachments(:cloud_files, @article), 
            :regular => active_attachments(:attachments, @article) }
        } %>
    <% if is_application_installed?("screenr") %>
      <div class="control-group">
        <div class="controls">
            <%= render :partial => "shared/screenr_recorder", :locals => { :location => "solution" } %>
        </div>
  
      </div>
    <% end %>

    <% if @article_meta && @article.new_record? %>
      <div class="control-group">
        <%= f.label(:category_id, t('solution.category'), { :class => 'control-label'}) %>
        <div class="controls">
          <%= dynamic_text_box(:category, @language) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label(:folder_id, t('solution.folder'), { :class => 'control-label'}) %>
        <div class="controls">
          <%= dynamic_text_box(:folder, @language) %>
        </div>
      </div>
    <% elsif !@article.new_record? && @article.solution_folder_meta.is_default? %>
      <div class="row-fluid select-folder">
        <div class="control-group">
          <%= f.label :folder_id, t('solution.folder'), :class => "control-label" %>
          <div class="controls">
            <%= f.select :folder_id , 
                  option_groups_from_collection_for_select( 
                      current_account.solution_category_meta.reject(&:is_default), 
                      :solution_folder_meta, :name, :id, :name, 
                      (@article.solution_folder_meta.is_default? ? nil : @article.solution_folder_meta.id)
                  ), 
                  { :include_blank => true },
                  :class => "select2 span4 required",
                  :placeholder => t('solution.folders.choose_folder')
            %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @article.new_record? %>
      <div id="solution-properties-container" class="article-properties-edit">
          <div id="solution-properties">
  	        <%= render :partial => "article_properties", :locals => { :f => f} %>
          </div>
      </div>
    <% end %>
    
    <div class="row-fluid action-btns-container">
      <% if !@article.new_record? && privilege?(:delete_solution, @article) && @article.is_primary? %>
        <div class="pull-left itil-hide">
          <%= confirm_delete(@article_meta, solution_article_path(@article_meta), {:"item-title" => @article_meta.title }) %>
        </div>
      <% end %>
      <div class="span6 pull-right pagination-right header_buttons align-right">
        <%= article_btns %>
      </div>
    </div>
    <%= dynamic_hidden_fields(:article) %>
  <% end %>
</div>