<div class="article-edit">
  <%= form_for @article, 
              :url => solution_category_folder_articles_path(@article.folder.category_id  , @article.folder.id) , 
              :html => {
                :multipart => true, 
                :id => "article-form", 
                :class => "article-edit-form form-horizontal"
              } do |f| %>
    <%= f.error_messages %>
    <div class="row-fluid">
      <div class="span12">
        <%= f.text_field :title, 
                :class => "text required article-title", 
                :placeholder => t('solution.solution_title'),
                :value => @article.title %>
    
      </div>
    </div>
    <div class="row-fluid">
    <div id="editortool"></div>
    <div class="editor-body">
      <%= f.rich_editor  :description, 'editor-type' => :solution, :height => "400px", 
            :class => "required", 
            :value => @article.description,
            :data => {
              :"remove-cursor" => true
            }
      %>
    </div>
    </div>
    

    <hr />
    <%= render	:partial => "/solution/shared/attachment_form",
        :locals => { :attach_id => 'article', :nsc_param => 'solution_article',
          :original_attachments => { 
            :cloud_files => active_attachments(:cloud_files, @article.draft, @article), 
            :regular => active_attachments(:attachments, @article.draft, @article) }
        } %>
    <% if is_application_installed?("screenr") %>
      <div class="control-group">
        <div class="controls">
            <%= render :partial => "shared/screenr_recorder", :locals => { :location => "solution" } %>
        </div>
  
      </div>
    <% end %>

    <div id="solution-properties-container">
        <div class="solution-properties-title solution-seo sub-lead">
        	<span><%= t('solution.properties') %></span>
        </div>
        <br/>
        <div id="solution-properties">
	        <%= render :partial => "article_properties", :locals => { :f => f} %>
        </div>
    </div>

    <div class="row-fluid">
      <div class="span6 pull-right pagination-right header_buttons align-right">
        <%= link_to t('cancel'), "#", :class => "btn cancel-button", :id => "edit-cancel-button" %>
        <%= submit_tag t('save'), :name => "save_as_draft", :class => "btn", :id => "save-as-draft-btn" %>
        <%= submit_tag t('solution.articles.publish'), :name => "publish", :class => "btn btn-primary", :id => "article-publish-btn" %>
      </div>
    </div>
  <% end %>
</div>