<%= include_tiny_mce_if_needed %>
<%= f.error_messages %>
	<ul class="ui-form">
		<li>
    		<%= f.label(:title, t('title')) %>
    		<%= f.text_field :title, :class => "text required" %>
		</li>
		<li>
    		<%= f.text_area  :description, :class => "mceEditor", :id => 'article-body' %>		
		</li>
		<li>
			<%= render :partial => "/solution/shared/attachment_form" %>
		</li> 
	 	<li class="attachment-list-container">
	    <%= content_tag('h4', t("attachments"), :class => "title") unless @article.attachments.empty? %>
	    <ul class="attachment_list">
	      <%= render(
	        :partial => '/helpdesk/shared/attachment',
	        :collection => @article.attachments,
	        :locals => {:show_delete => true, :url => [@article] }) %>
	    </ul>
	  </li>
		<% fields_for :tags  do |tag| %>
		<li>
			<%= tag.label(:name, t('tag.title')) %>
			<%= tag.text_field :name , :value => @article.tags.collect{|tg| tg.name+","}, :class => "text" %>
		</li>
		<%end%>
		<li class="dropdown">
			<%= f.label :folder_id, t('solution.folder') %>
			<%= f.select :folder_id , option_groups_from_collection_for_select(current_account.solution_categories, :folders ,:name, :id,:name,@article.folder_id) , :class => "customSelect" %>
		</li>			
		<li class="dropdown">
			<%= f.label :art_type, t('solution.type') %>
			<%= f.select :art_type, Solution::Article::TYPE_OPTIONS, :class => "select" %>
		</li>	
		<li class="dropdown">
			<%= f.label :status, t('solution.status') %>
			<%= f.select :status, Solution::Article::STATUS_OPTIONS, :class => "select" %>
		</li>
	</ul>