<%= include_tiny_mce_if_needed %>

<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <% javascript_tag do %>
    document.observe("dom:loaded", function(){

      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['attachment-options']
      });

    });
  <% end %>
<% end %>

<%logger.debug " here is the folder deta:: #{@article.folder.inspect}"%> 
  <%= f.error_messages %>
	<ul class="ui-form">
		<li>
    		<%= f.label(:title, "Title") %>
    		<%= f.text_field :title, :class => "required" %>
    		<%= f.text_area :description, :class => "mceEditor", :id => 'article-body' %>		
		</li>
		 <!--li>
		 	<a href="#" id="attachment-options-link">Attach a File</a>
			<div class="attachment-options" id="attachment-options" style="display:none">
	        <label>Select a file</label>
	        <input type="file" id="attachment_file" name="emptyfile" nameWhenFilled="helpdesk_article[attachments][][file]" fileList="attachment-list" sendFocusTo="article-body" />
	
	        <table class="attachments">
	          <tbody id="attachment-list">
	          </tbody>
	        </table>
	      </div>	
		</li-->
		
		<li>
			<%= render :partial=> "/solution/shared/attachment_form" %>
		</li>
			
		<li>
			<label>Tags</label>
			<input type="text" />
		</li>
		<li>
			<label>Make this Solution</label>
			<%= f.radio_button :is_public, true  %>Public (Will be published in self service)<br />
			<%= f.radio_button :is_public, false %>Private (Visible to Agents only)
		</li>
		<li class="small">
        	<%= f.label :art_type, "Solution Type" %>
        	<%= f.select :art_type, Solution::Article::TYPE_OPTIONS, :class => "select" %>
        </li>	
		<li class="small">
          	<%= f.label :status, "Solution Status" %>
          	<%= f.select :status, Solution::Article::STATUS_OPTIONS, :class => "select" %>
        </li>
	</ul>
	
 

<%# 
  The following is a template used by multifile.js to create rows in
  the attachments tableee.
%>

<textarea id="file-list-template" style="display:none">
  <tr>
    <td class="remove">
      <a href="" onclick="Helpdesk.Multifile.remove(this); return false;", inputId="#{inputId}">
        <%= image_tag("helpdesk/delete.png") %>
      </a>
    </td>
    <td class="name">#{name}</td>
    <td>
      <label>Description</label>
      <input type="text" name="helpdesk_article[attachments][][description]" />
    </td>
    </tr>
</textarea>

