<%= f.error_messages %>
	<ul class="ui-form">
		<li>
			<%= f.label(:title, t('title')) %>
			<%= f.text_field :title, :class => "text required", :autofocus => true %>
		</li>
		<li>
			<%= f.rich_editor  :description, 'editor-type' => :solution, :height => "350px"  %>		
		</li>
		<li>
			<%= render :partial => "/solution/shared/attachment_form" %>
		</li> 
		<li class="attachment-list-container">
			<%= content_tag('h4', t("attachments"), :class => "title") unless @article.attachments.empty? %>
				<ul class="attachment_list">
					<%= render(
					:partial => '/helpdesk/shared/attachment',
					:collection => @article.attachments,
					:locals => {:show_delete => true, :url => [@article] }) %>
				</ul>
		</li>
		<% fields_for :tags  do |tag| %>
		<li>
			<%= tag.label(:name, t('tag.title')) %>
			<%= tag.text_field :name , :value => @article.tags.collect{|tag| tag.name}.join(','), :class => "select2 row-fluid"%>
		</li>
		<%end%>
		<li class="dropdown">
			<%= f.label :folder_id, t('solution.folder') %>
			<%= f.select :folder_id , option_groups_from_collection_for_select(current_account.solution_categories, :folders ,:name, :id,:name,@article.folder_id) , :class => "customSelect" %>
		</li>			
		<li class="dropdown">
			<%= f.label :art_type, t('solution.type') %>
			<%= f.select :art_type, Solution::Article::TYPE_OPTIONS, :class => "select" %>
		</li>	
		<li class="dropdown">
			<%= f.label :status, t('solution.status') %>
			<%= f.select :status, Solution::Article::STATUS_OPTIONS, :class => "select" %>
		</li>
		<li id="solution-seo-container">
			<div id="solution-seo-show" class="solution-seo-title">
				<div class="arrow-right  solution-seo-show" id="show-hide-button">
				</div>
				<a href="javascript:void(null);"><%= t('solution.solution_meta') %></a>
			</div>
			<div id="solution-seo" class="hide">
				<ul>
					<% f.fields_for :seo_data  do |s| %>
						<li>
							<%= s.label(:meta_title, t('solution.solution_meta_title')) %>
							<%= s.text_field :meta_title, :class => "text", :rel => "charcounter", 
								'data-counter' => "TitleCounter", 'data-limit' => 72, 
								:value => (@article.seo_data || {})[:meta_title] %>

							<div class="solution-seo-message">
								<b><span id="TitleCounter"></span> <%= t('solution.char_count') %>.</b>
								<%= t('solution.title_counter_message') %>
							</div>
						</li>
						<li>
							<%= s.label(:meta_description, t('solution.solution_meta_description')) %>
				    		<%= s.text_area  :meta_description, :rel => "charcounter", 
								'data-counter' => "DescriptionCounter", 'data-limit' => 150, 
								:value => (@article.seo_data || {})[:meta_description], 
								:class => "solution-seo-description" %>
							<div class="solution-seo-message">
				    		<b><span id="DescriptionCounter"></span> <%= t('solution.char_count') %>.</b>
				    		<%= t('solution.description_counter_message') %>
				    	</div>
						</li>
						<li>
							<%= s.label(:meta_keywords, t('solution.solution_meta_keywords')) %>
							<%= s.text_field :meta_keywords, :class => "text", 
								:value => (@article.seo_data || {})[:meta_keywords] %>
							<div class="solution-seo-message">
								<%= t('solution.meta_keywords_message') %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</li>
	</ul>
	<script src="/javascripts/frameworks/plugins/jquery.char_counter.js" type="text/javascript"></script>
	<% javascript_tag do %>
		(function($) {
			$(document).ready(function() {
				$('#solution-seo-show').bind("click", function(){
					if($('#solution-seo').is(":visible")) {
						$('#show-hide-button').addClass("arrow-right");
						$('#show-hide-button').removeClass("arrow-down");
					}
					else {
						$('#show-hide-button').removeClass("arrow-right");
						$('#show-hide-button').addClass("arrow-down");
					}
					
					$('#solution-seo').toggle('fast',function(){
						$(window).scrollTop($('#solution-seo').offset().top);
						$('#solution_article_seo_data_meta_title').focus();
					});
				});
				$('#article-form').bind("submit", function() {
					$('#solution_article_seo_data_meta_description').val(
					$('#solution_article_seo_data_meta_description').val().replace(/\n+/g, " ").trim());
				});
				$("#tags_name").select2({  
				  tags: "<%= escape_javascript(current_account.tags.most_used(25).collect{|tag| tag.name}.join(',')) %>".split(","),
				  tokenSeparators: [',']
				}); 
			});
		})(jQuery)
	<% end %>