<%= f.error_messages %>
<div class="form-horizontal">
	<div class="control-group">
		<%= f.label(:title, t('title'),:class =>"control-label") %>
		<div class="controls">
			<%= f.text_field :title, :class => "text required input-xxlarge", :autofocus => true, :value => @draft.title %>
			<%= link_to("Preview" , support_draft_preview_path(@article, "draft"), :target => "_blank") %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.rich_editor  :description, 'editor-type' => :solution, :height => "400px", :class => "required", :value => @draft.description  %>
		</div>
	</div>
	<div class="control-group overflow-visible">
		<div class="controls">
			<%= render	:partial => "/solution/shared/attachment_form",
 				:locals => { :attach_id => 'article', :nsc_param => 'solution_article',
 					:original_attachments => { :cloud_files => @draft.cloud_files, 
 																		 :regular => @draft.attachments }
 				} %>
		</div>
	</div>
	<% if is_application_installed?("screenr") %>
		<div class="control-group">
			<div class="controls">
				  <%= render :partial => "shared/screenr_recorder", :locals => { :location => "solution" } %>
			</div>

		</div>
	<% end %>
	<% fields_for :tags  do |tag| %>
		<div class="control-group row-fluid">
			<%= tag.label(:name, t('tag.title'),:class =>"control-label") %>
			<div class="controls">
				<%= tag.text_field :name , :value => @article.tags.collect{|tag| tag.name}.join(','), :class => "select2 span8"%>
			</div>
		</div>
	<%end%>
	<div class="control-group">
		<div class="controls">
				<div class="pull-left">
					<%= f.label :folder_id, t('solution.folder') %>
					<%= f.select :folder_id , option_groups_from_collection_for_select(current_account.solution_categories, :folders ,:name, :id,:name,@article.folder_id) , :class => "select2" %>
				</div>
				<div class="pull-left span">
					<%= f.label :art_type, t('solution.type') %>
					<%= f.select :art_type, Solution::Article.article_type_option, :class => "select2" %>
				</div>
				<div class="pull-left span">
					<%= f.label :status, t('solution.status') %>
					<%= f.select :status, Solution::Article.article_status_option, :class => "select2" %>
				</div>
		</div>
	</div>
	<div id="solution-seo-container">
		<div id="solution-seo-show" class="solution-seo-title sub-lead">
			<div class="arrow-right  solution-seo-show" id="show-hide-button">
			</div>
			<a href="javascript:void(null);"><%= t('solution.solution_meta') %></a>
		</div>
		<br/>
		<div id="solution-seo" class="hide">
			<% f.fields_for :seo_data  do |s| %>
				<div class="control-group">
					<%= s.label(:meta_title, t('solution.solution_meta_title'), :class => 'control-label') %>
					<div class="controls">
						<%= s.text_field :meta_title, :class => "text", :rel => "charcounter", 
							'data-counter' => "TitleCounter", 'data-limit' => 72, 
							:value => (@article.seo_data || {})[:meta_title] %>

						<div class="muted">
							<b><span id="TitleCounter"></span> <%= t('solution.char_count') %>.</b>
							<%= t('solution.title_counter_message') %>
						</div>
					</div>
				</div>
				<div class="control-group">
					<%= s.label(:meta_description, t('solution.solution_meta_description'), :class => 'control-label') %>
					<div class="controls">
			    		<%= s.text_area  :meta_description, :rel => "charcounter", 
							'data-counter' => "DescriptionCounter", 'data-limit' => 150, 
							:value => (@article.seo_data || {})[:meta_description], 
							:class => "solution-seo-description" %>
						<div class="muted">
				    		<b><span id="DescriptionCounter"></span> <%= t('solution.char_count') %>.</b>
				    		<%= t('solution.description_counter_message') %>
		    			</div>
		    		</div>
		    	</div>
				<div class="control-group">
					<%= s.label(:meta_keywords, t('solution.solution_meta_keywords'), :class => 'control-label') %>
					<div class="controls">
						<%= s.text_field :meta_keywords, :class => "text", 
							:value => (@article.seo_data || {})[:meta_keywords] %>
						<div class="muted">
							<%= t('solution.meta_keywords_message') %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
	<% javascript_tag do %>
		(function($) {
			$(document).ready(function() {
				$('#solution-seo-show').bind("click", function(){
					if($('#solution-seo').is(":visible")) {
						$('#show-hide-button').addClass("arrow-right");
						$('#show-hide-button').removeClass("arrow-down");
					}
					else {
						$('#show-hide-button').removeClass("arrow-right");
						$('#show-hide-button').addClass("arrow-down");
					}
					
					$('#solution-seo').toggle('fast',function(){
						$(window).scrollTop($('#solution-seo').offset().top);
						$('#solution_article_seo_data_meta_title').focus();
					});
				});
				$('#article-form').bind("submit", function() {
					$('#solution_article_seo_data_meta_description').val(
					$('#solution_article_seo_data_meta_description').val().replace(/\n+/g, " ").trim());
				});
				$("#tags_name").select2({  
				  tags: "<%= escape_javascript(current_account.tags.most_used(25).collect{|tag| tag.name}.join(',').html_safe) %>".split(","),
				  tokenSeparators: [',']
				}); 
			});
		})(jQuery)
	<% end %>

<script type="text/javascript">
	var draft_options = {
		autosaveInterval: 5000,
		autosaveUrl: "/solution/drafts/<%= @draft.id %>/autosave",
		monitorChangesOf: {
			description: ".redactor_editor",
			title: "#solution_article_title"
		},
		livestampContainer: ".autosave-time-stamp",
		livestampPreText: "Saved ",
		livestampPreTextDiv: ".autosave-pre-text"
	};
	jQuery.autoSaveContent(draft_options);
</script>