<% if @article_meta.new_record? %>
	<%= new_article_tab %>
	<span class="tooltip" title="<%= t('solution.articles.add_primary_info') %>" data-placement="below" data-html=true>
		<%= t('solution.articles.more_languages', :count => Account.current.supported_languages.count) %>
		<i class="ficon-caret-down fsize-14 ml5" size="14"></i>
	</span>
<% else %>
	<%= article_language_tabs %>
	<span class="pull-right">

		<a href="#" id="show_master_article"  role="button" data-toggle="popover" data-placement="right" data-title="<%= @article.title %>">
			Show Master</a>
	</span>
	<div style='display:none;' id="master_article">
		<div  id="master_article_inner">
				<ul class="nav nav-tabs sleek-tab" id="master-article-tab">
				  		<li><a href="#draft" data-toggle="tab">Draft</a></li>
				  		<li  class="active"><a href="#published" data-toggle="tab">Published</a></li>
				</ul>
				<div class="master-article-tab-content tab-content">
					<div id="draft" class="tab-pane">
						<h1> Draft content </h1>
					</div>
					<div id="published" class="tab-pane active">
						<%= render :partial => "view"  %>
					</div>
				</div>
		</div>
	</div>



	<%= extra_tab if @lang_objs.length == 1 %>
	<% if @lang_objs.present? %>
		<div class="inline-block">
			<div class="version_select_container tooltip">
				<%= t('solution.articles.more_languages', :count => @lang_objs.size) %>
				<i class="ficon-caret-down fsize-14 ml5" size="14"></i>
			</div>
			<%= article_versions_dropdown %>
		</div>
	<% end %>
<% end %>
