<% if !@article.new_record? && (@article.draft || !@article.published?)%>
  <div class="sub-content article-view-edit <%= 'error' if @article.draft.present? && @article.draft.locked? %> <%= 'hide' if @new_draft_record %>">
    <p class="pull-left"><%= draft_info_text %> 
        &nbsp;&nbsp; <%= discard_link %> &nbsp;&nbsp; <%= publish_link %>
    </p>
    <p class="pull-right">
      <%= link_to( 
              t('solution.articles.view_draft'), 
              support_draft_preview_path(@article, "preview", path_url_locale), 
              :class => "pull-right preview-draft-link", 
              :target => "draft-#{@article.id}") %>
    </p>
  </div>
<% end %>
<div class="sub-content autosave-notif <%= 'hide' unless @new_draft_record %>">
  <%= draft_saved_notif_bar if @new_draft_record %>
</div>
