<%= article_version.fields_for :seo_data  do |s| %>
          
  <div class="control-group">
    <%= s.label(:meta_title, t('solution.solution_meta_title'), :class => 'control-label') %>
    <div class="controls">
      <%= s.text_field :meta_title, :class => "text", :rel => "charcounter", 
        'data-org-msg' => t('solution.article_properties.title_counter_message'),
        'data-limit-msg' => t('solution.article_properties.exceeded_message',
                            current_message: t('solution.article_properties.title_counter_message')),
        'data-counter' => "TitleCounter", 'data-limit' => 60, 
        :value => (@article.seo_data || {})[:meta_title] %>

      <div class="muted">
        <%= t('solution.article_properties.title_counter_message') %>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= s.label(:meta_description, t('solution.solution_meta_description'), :class => 'control-label') %>
    <div class="controls">
      <%= s.text_area  :meta_description, :rel => "charcounter", 
        'data-org-msg' => t('solution.article_properties.description_counter_message'),
        'data-limit-msg' => t('solution.article_properties.exceeded_message',
                            current_message: t('solution.article_properties.description_counter_message')),
        'data-counter' => "DescriptionCounter", 'data-limit' => 160, 
        :value => (@article.seo_data || {})[:meta_description], 
        :class => "solution-properties-description",
        :id => :solution_article_seo_data_meta_description %>
      <div class="muted">
          <%= t('solution.article_properties.description_counter_message') %>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= s.label(:meta_keywords, t('solution.solution_meta_keywords'), :class => 'control-label') %>
    <div class="controls">
      <%= s.text_field :meta_keywords, :class => "text", 
        :value => (@article.seo_data || {})[:meta_keywords] %>
      <div class="muted">
        <%= t('solution.meta_keywords_message') %>
      </div>
    </div>
  </div>

<% end %>