	<div class="article-history sidebar-section">
		
		<div class="created-history <%= 'hide' if created_at_ellipsis? %>">		
			<p><%= t('solution.general.created_by') %></p>
			<p><%= @article.user.name %></p>
			<p><%= formated_date(@article.created_at) %></p>
		</div>

		<% if created_at_ellipsis?  %>	
			<div class="ellipsis">...</div>

			<div class="edited-history">
					<p><%= t('solution.general.last_published') %></p>
					<p><%= @article.modified_by.present? ? @article.recent_author.name : @article.user.name %></p>
					<p><%= formated_date(@article.modified_at) %></p>
			</div>
		<% end %>
	</div>

	<div class="sidebar-section">
		<div class="title-wrapper">
			<p class="leads span2"><%= t('solution.general.article_prop') %></p>
			<p class="edit span1 pull-right">
				<%= article_properties_edit_link(t('edit')) %>
			</p>
		</div>

		<div class="section">
			<h5 class="leads"><%= t('event.type') %>:</h5> <span><%= t(@article.type_name) %></span>
		</div>
		
		<% unless @article.folder.is_default? %>
			<div class="folder-name section">
				<h5 class="leads"><%= t('solution.folders.folder_form.category') %>:</h5>
				<%= pjax_link_to @article.folder.category.name, solution_category_path(@article.folder.category_id) %>
				<p class="muted">
					<% if @article.folder.category.portals.present? %>
						<%= t('solution_category.product_portal_visibility') %> <%= @article.folder.category.portals.map(&:name).join(", ") %>
					<% else %>
						<span class="red"><%= t('solution.orphan_category_info') %></span>
					<% end %>
				</p>
			</div>
			
			<div class="folder-name section">
				<h5 class="leads"><%= t('solution.folder') %>:</h5>
				<%= pjax_link_to @article.folder.name, solution_folder_path(@article.folder_id) %>
				<p class="muted">
					<%= t('forum.visible_to') %> <%= company_visibility_tooltip(@article.folder) %>
				</p>
			</div>
		<% else %>
			<div class="folder-name section">
				<%= article_properties_edit_link("Select Category and Folder") %>
			</div>
		<% end %>

		<div class="tags-wrapper section">
			<h5 class="leads"><%= t('filter_options.tags') %></h5>
			<div class="tags <%='muted' if @article.tags.blank? %>">
				<%= t('no_tags') if @article.tags.blank? %>
				<% @article.tags.each do |t| %>
					<span>
						<%= t.name %>
					</span>
				<% end %>
			</div>
		</div>

		<!-- <div class="section content-status red">
			Out dated content
		</div> -->
	</div>
	