<div class="solution-details">
	
	<div id="sidebar-prop">
		<%= render :partial => 'sidebar_properties' %>
	</div>
		
	<% if @article.tickets.unresolved.present? %>
		<div class="sidebar-section feedback">
			<div class="title-wrapper">
				<p class="leads span2"><%= t('solution.general.feedback') %></p>
			</div>
			<div class="section feedback-list">
				<ul>
					<% @article.tickets.unresolved.order('created_at DESC').limit(3).each do |ticket| %>
						<li>
			        <div>
			          <%= pjax_link_to(t('solution.sidebar.feedbacks.details', 
			                        :name => ticket.requester.name,
			                        :time => ticket.created_at.to_i,
			                        :time_string => time_ago_in_words(ticket.created_at)).html_safe, helpdesk_ticket_path(ticket)) %>
			        </div>
			        <div class="muted"><%= t('solution.sidebar.feedbacks.status', :status => ticket.status_name) %></div>
			      </li>
					<% end %>
				</ul>
			</div>
			<div class="section view-all-feed">
				<%= link_to t('solution.view_feedback'), "#{helpdesk_filter_view_default_path('article_feedback')}?article_id=#{@article.id}", :target => "_blank" if @article.tickets.unresolved.size > 3 %>
			</div>
		</div>
	<% end %>

	<div class="sidebar-section analytics">
		<div class="title-wrapper">
			<p class="leads span2"><%= t('solution.general.analytics') %></p>
		</div>
		<div class="section">
			<h5 class="leads"><%= t('solution.articles.views') %></h5>
			<div class="<%= 'muted' unless @article.hits > 0 %>">
				<%= font_icon :"file-visible" if @article.hits > 0 %>
				<%= t('discussions.topics.title_meta.hits', :count => @article.hits) %>
			</div>

			<br/>
			<h5 class="leads"><%= t('solution.articles.votes') %></h5>
			<p id="article_voting"> 
			 	<%= render :partial => "voting", :object => @article %> 
			</p>
		</div>
	</div>
</div>
<div id="article-likes"> </div>
<div id="article-dislikes"> </div>