<div class="solution-details">
	<div id="sidebar-prop">
		<%= render :partial => 'sidebar_properties' %>
	</div>
		
	<% if current_user.can_view_all_tickets? && @article.tickets.unresolved.present? %>
		<div class="sidebar-section feedback">
			<div class="title-wrapper">
				<p class="leads span2"><%= t('solution.general.feedback') %></p>
			</div>
			<div class="section feedback-list">
				<ul>
					<% @article.tickets.unresolved.limit(3).each do |ticket| %>
						<li>
			        <div>
			          <%= pjax_link_to(t('solution.sidebar.feedbacks.details', 
			                        :name => ticket.requester.name,
			                        :time => ticket.created_at.to_i,
			                        :time_string => time_ago_in_words(ticket.created_at)).html_safe, helpdesk_ticket_path(ticket)) %>
			        </div>
			        <div class="muted"><%= t('solution.sidebar.feedbacks.status', :status => ticket.status_name) %></div>
			      </li>
					<% end %>
				</ul>
			</div>
			<div class="section view-all-feed">
		      <%= link_to t('solution.view_feedback'), 
		        "/a/tickets/filters/article_feedback?articleId=#{@article.id}",
		        :class => 'article-feedback-list', :"data-article-id" => "#{@article.id}" if @article.tickets.unresolved.size > 3 %>
			</div>
		</div>
	<% end %>
	
	<div class="sidebar-section analytics">
		<%= render :partial => 'sidebar_analytics' %>
	</div>
  <% if is_application_installed?(Integrations::Constants::APP_NAMES[:ilos]) %> 
    <% ilos_app_config = get_app_config(Integrations::Constants::APP_NAMES[:ilos]) %>
    <% if ilos_app_config[:visible_solution].to_bool %>
      <%= stylesheet_link_tag :"cdn/ilos_video" %>
      <div class="sidebar-section"></div>
      <div class="ilos-widget" id="ilos-widget-sol">
        <%= ilos_widget(@article.id, "solution") %>
        <p id="ilos-support">
          <a href= "https://support.freshdesk.com/solution/articles/214400-ilos-videos-integration-with-freshdesk" target="blank"><%= t('integrations.ilos.messages.about_recording') %></a>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
<div id="article-likes"> </div>
<div id="article-dislikes"> </div>