	<div class="article-history sidebar-section">
		
		<div class="created-history <%= 'hide' if created_at_ellipsis? %>">		
			<p><%= t('solution.general.created_by') %></p>
			<p><%= @article.user.name %></p>
			<p><%= formated_date(@article.created_at) %></p>
		</div>

		<% if created_at_ellipsis?  %>	
			<div class="ellipsis">...</div>

			<div class="edited-history">
					<p><%= t('solution.general.last_published') %></p>
					<p><%= @article.modified_by.present? ? @article.recent_author.name : @article.user.name %></p>
					<p><%= formated_date(@article.modified_at) %></p>
			</div>
		<% end %>
    
    <div class="published-label">
    	<span> 
    		<%= @article.published? ? t('solutions.status.published') : t('solutions.status.draft') %> 
    	</span>
    </div>

    <% if privilege?(:publish_solution) && @article.published? %>
    	<% #BinaryRewrite! - Rewrite after finishing Binary columns. %>
	    <% if @article.is_primary? && (@article_meta.solution_articles.select { |a| !a.is_primary? && a.outdated == false }).present? %>
		    <div class="outdate-section">
					<button type="button" class="btn btn-link" id="outdate" data-item-id="<%= @article_meta.id %>" data-loading-text="<%= t('solution.general.outdating') %>" data-complete-text="<%= t('solution.general.outdate_complete') %>" data-url="/solution/articles/mark_as_outdated">
						<%= t('solution.general.mark_as_outdated') %>
					</button>
				</div>
			<% end %>

			<% unless @article.is_primary? %>
				<div class="update-section <%= 'hide' unless @article.outdated %>">
					<button type="button" class="btn btn-link" id="uptodate" data-language-id="<%= @article.language_id %>" data-item-id="<%= @article_meta.id %>" data-loading-text="<%= t('solution.general.updating') %>" data-url="/solution/articles/mark_as_uptodate">
						<%= t('solution.general.mark_as_uptodate') %>
					</button>
				</div>
				<div class="uptodate-section <%= 'hide' if @article.outdated %>">
					<i class="ficon-checkmark-round-o fsize-20 mr5"></i>
					<%= t('solution.general.uptodate') %>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="sidebar-section">
		<div class="title-wrapper">
			<p class="leads span2"><%= t('solution.general.article_prop') %></p>
			<% if privilege?(:publish_solution) %>
				<p class="edit span1 pull-right">
					<%= article_properties_edit_link(t('edit')) %>
				</p>
			<% end %>
		</div>

		<div class="section">
			<h5 class="leads"><%= t('event.type') %>:</h5> <span><%= t(@article_meta.type_name) %></span>
		</div>
		
		<% unless @article_meta.solution_folder_meta.is_default? %>
			<div class="folder-name section">
				<h5 class="leads"><%= t('solution.folders.folder_form.category') %>:</h5>
				<%= pjax_link_to @article_meta.solution_folder_meta.solution_category_meta.send("#{@language.to_key}_category").name, solution_category_path(@article_meta.solution_folder_meta.solution_category_meta.id) %>
				<p class="muted">
					<% if @article_meta.solution_folder_meta.solution_category_meta.portals.present? %>
						<%= t('solution_category.product_portal_visibility') %>: <%= @article_meta.solution_folder_meta.solution_category_meta.portals.map(&:name).join(", ") %>
					<% else %>
						<span class="red"><%= t('solution.orphan_category_info') %></span>
					<% end %>
				</p>
			</div>
			
			<div class="folder-name section">
				<h5 class="leads"><%= t('solution.folder') %>:</h5>
				<%= pjax_link_to @article_meta.solution_folder_meta.send("#{@language.to_key}_folder").name, solution_folder_path(@article_meta.solution_folder_meta.id) %>
				<p class="muted">
					<%= t('forum.visible_to') %>: <%= company_visibility_tooltip(@article_meta.solution_folder_meta) %>
				</p>
			</div>
		<% else %>
			<div class="folder-name section">
				<%= article_properties_edit_link("Select Category and Folder") %>
			</div>
		<% end %>

		<div class="tags-wrapper section">
			<h5 class="leads"><%= t('filter_options.tags') %></h5>
			<div class="tags <%='muted' if @article.tags.blank? %>">
				<%= t('no_tags') if @article.tags.blank? %>
				<% @article.tags.each do |t| %>
					<span>
						<%= t.name %>
					</span>
				<% end %>
			</div>
		</div>
	</div>
	