<div class="article-view">
  <div class="row-fluid">
  <div class="span10">
    <h3 class="lead" id="current-article-title"><%= @current_item.title %></h3>
  </div>
    <% unless !privilege?(:publish_solution) && @article.draft.present? && @article.draft.locked? %>
  	  <div class="span2 pull-right pagination-right header_buttons align-right">
  	    <a href="javascript:void(0)" class="btn article-edit-btn"><%= t('edit') %></a>
  	  </div>
    <% end %>
  </div>
  <div class="article-content" id="current-article-description"><%= @current_item.description.html_safe %></div>

  <div class="attachment_wrapper">
    <ul class="attachment_listing">
      <% (active_attachments(:attachments, @article) || []).each do |attached| %>
        <%= attachment_list(attached, false, "article", nil) %>
      <% end %>
      <% (active_attachments(:cloud_files, @article) || []).each do |attached| %>
        <%= attachment_list(attached, false, "cloud_file", nil) %>
      <% end %>
      </ul>
  </div>
</div>