<% if @article.thumbs_up.zero? and @article.thumbs_down.zero? %>
	<span class="muted">
		<%= t('discussions.topics.title_meta.no_votes') %>
	</span>
<% else %>
	<%= font_icon :like %> 
	<%= user_votes_stats(@article.thumbs_up, 1) %>
	- 
	<%= font_icon :dislike %> 
	<%= user_votes_stats(@article.thumbs_down, 0) %>
<% end %>

<% if current_user.privilege?(:delete_solution) && (@article.thumbs_up > 0 || @article.thumbs_down > 0)
		reset_url = reset_ratings_solution_category_folder_article_path(@article.folder.category, @article.folder, @article)
	%>
	<% reset_url = "#{reset_url}?reset_votes=true" if defined?(new_draft_ui) %>
 - 
	<%= link_to(t('solution.articles.reset_rating.link'), '', 
			"data-target" => "#article-reset-rating-confirmation", 
			:rel => "freshdialog", 
			"title" => t('solution.articles.reset_rating.dialog_title'), 
			"data-submit-label" => t('solution.articles.reset_rating.dialog_submit'), 
			"data-width" => "500px", 
			"data-close-label" => t('cancel'),
			"data-submit-loading" => t('solution.articles.reset_rating.resetting')
	) %>

	<div class="hide" id="article-reset-rating-confirmation">
		<%= form_for @article, :url => reset_url, :method => 'put', 
      :html => { "data-remote" => true } do |f| %>
		
		<%= t('solution.articles.reset_rating.dialog_msg',
									:no_of_likes => @article.thumbs_up,
									:no_of_dislikes => @article.thumbs_down) %>
		<% end %>
	</div>

<% end %>