<h3 class="lead itil-hide"><%=t('solution.edit')%></h3>
<%= form_for @article, :url => solution_category_folder_article_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form"} do |f| %>
	<%= render :partial => 'article_form', :locals => { :f => f } %>
	<div class="button-container align-right">
	    <% if privilege?(:delete_solution, @article) %>
	  		<div class="pull-left itil-hide">
	  			<%= confirm_delete(@article, solution_category_folder_article_path(@article.folder.category_id,@article.folder,@article)) %>
	  		</div>
	    <% end %>   
		<%= link_to(t('cancel'), solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "btn" ) %>
		<%= submit_tag t('save'), :class => "btn btn-primary" %> 
	</div>
<% end %>