<h3 class="lead itil-hide"><%=t('solution.edit')%>
	<span class="autosave-container pull-right" style="font-size:12px;">
		<span class="autosave-pre-text"></span>
		<span  class="autosave-time-stamp"></span>
	</span>
</h3>
<%= form_for @article, :url => solution_category_folder_article_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form"} do |f| %>
	
	<%= render :partial => (@feature ? 'solution/articles/draft/article_form' : 'article_form'), :locals => { :f => f, :edit =>true } %>

	<div class="button-container align-right">
	    <% if privilege?(:delete_solution, @article) %>
	  		<div class="pull-left itil-hide">
	  			<%= confirm_delete(@article, solution_category_folder_article_path(@article.folder.category_id,@article.folder,@article)) %>
	  		</div>
	    <% end %>
	  <% if @feature %>
	  	<%= link_to(t('cancel'), solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "btn cancel-link hide" ) %>
	  	<%= submit_tag t('cancel'), :name => "cancel", :class => "btn cancel-button" %>
	    <%= submit_tag t('solution.articles.save_as_draft'), :name => "save_as_draft", :class => "btn btn-primary" %>
			<%= submit_tag t('solution.articles.publish'), :class => "btn btn-primary" %>
	  <% else %>
			<%= link_to(t('cancel'), solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "btn" ) %>
			<%= submit_tag t('save'), :class => "btn btn-primary" %> 
		<% end %>
	</div>
<% end %>

<% if @feature %>
	<div class="hide" id="article-properties">
	</div>
<% end %>
