<% content_for :layoutType do%>single<% end %>
<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/expanding_textarea" %>
  <%= javascript_include_tag "helpdesk/multifile" %>
  <%= javascript_include_tag "helpdesk/article_section" %>
<% end %>
<h3 class="title"><%=t('solution.edit')%></h3>
<% form_for @article, :url => solution_category_folder_article_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form"} do |f| %>
	<%= render :partial => 'article_form', :locals => { :f => f } %>
	<div class="button-container">
		<div class="floatl">
			<%= link_to(t('delete'), solution_category_folder_article_path(@article.folder.category_id,@article.folder,@article), :method => 'delete', :confirm => "#{t('solution.info8')}?", :class => "uiButton red" ) %>
		</div>
		<%= submit_tag t('save'), :class => "uiButton" %>    
		<%= link_to(t('cancel'), solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "uiButton grey" ) %>
	</div>
<% end %>