<% content_for :layoutType do%>single<% end %>
<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/expanding_textarea" %>
  <%= javascript_include_tag "helpdesk/multifile" %>
  <%= javascript_include_tag "helpdesk/article_section" %>
<% end %>
<div class="pageContent">
	<h3 class="content_title">Edit Solution</h3>
	
	
	 <% form_for @article, :url => solution_category_folder_article_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form"} do |f| %>
  
	<%= render :partial => 'article_form', :locals => { :f => f } %>
	
	<div class="button-container">
		
		<%= submit_tag "Save", :class => "fdbutton" %>    
		<%= link_to('Cancel'[:cancel], solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "fdbutton grey" ) %>
		
	</div>
	
	 <% end %>
	
	
	 <div class="attachment-list-container">
	    <%= content_tag('h5', 'Attachments') unless @article.attachments.empty? %>
	    <table class="attachment-list">
	      <%= render(
	        :partial => '/helpdesk/shared/attachment', 
	        :collection => @article.attachments,
	        :locals => {:show_delete => true, :url => [@article] }) %>
	    </table>
	  </div>
	
</div>
