<% content_for :pagefixed do %>
  <%= javascript_include_tag "helpdesk/core" %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <%= javascript_include_tag "helpdesk/id_selector" %>

  <% javascript_tag do %>
    document.observe("dom:loaded", function(){

      Helpdesk.sel = new Helpdesk.MultiSelectorsOnPages({
        pages: ['expanded', 'list'],
        cookieName: 'helpdesk-articles-page'
      });

      Helpdesk.sel.submitOnClick('assign-multiple-button', ['guide_id']);
      
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['assign-options']
      });

      Helpdesk.submitOnChange('sort');

    });
  <% end %>
<% end %>


<% content_for :sidebar do %>


  <% form_tag(
    helpdesk_articles_path, 
    :class => "search #{ params[:f] && 'active'}", 
    :method => 'get',
    :autocomplete => 'off') do  %>

    <% if params[:f] %>
      <%= link_to("Clear Search Results", helpdesk_articles_path) %>
    <% else %>
      <h4>Search</h4>
    <% end %>

    <fieldset>

      <label>Where</label>

      <%= select_tag(
        :f, 
        options_for_select(Helpdesk::Article::SEARCH_FIELD_OPTIONS, (params[:f] && params[:f].to_sym)), 
        :id => 'ticket-search-field')
      %>

      <label id="search-value-label">Is Like</label>

      
      <%= submit_tag "Search Articles" %>

    </fieldset>
  <% end %>



  <h4>Guides</h4>

  <ul class="menu">
    <% for s in Helpdesk::Guide.most_used_first.all(:conditions => { :account_id => current_account.id }) %>
      <li>
        <div class="leader-right"><%= s.article_guides_count %></div>
        <div class="leader-left"><%= link_to(s.name, s) %></div>
        <div class="clear"></div>
      </li>
    <% end %>
  </ul>
<% end %>

<% content_for :main_panel_title do %>
  All Articles
  <sup><%= Helpdesk::Article.all(:conditions => { :account_id => current_account.id }).count %></sup>
<% end %>

<% content_for :main_panel_actions do %>
  <%= link_to "Add an article", :action => :new %>
<% end %>

<% content_for :main_panel_toolbar do %>
  <div class="actions">
    <form class="sort">
      Sort by&nbsp;&nbsp; 
      <%= select_tag :sort, options_for_select(Helpdesk::Article::SORT_FIELD_OPTIONS, (params[:sort] || :created_desc).to_sym) %>
    </form>
  </div>
  <ul>
    <li><a href="#" id="expanded-link">Expanded View</a></li>
    <li><a href="#" id="list-link">List View</a></li>
  </ul>
<% end %>

<% content_for :main_panel_selected_toolbar do %>

  <ul class="secondary-actions">
    <%= content_tag('li', link_to_function("Select All", "Helpdesk.sel.checkAll()")) %>
    <%= content_tag('li', link_to_function("Deselect All", "Helpdesk.sel.uncheckAll()")) %> 
  </ul>

  <ul>
    <li><a href="#" id="assign-options-link">Assign To Guide</a></li>
    <%= content_tag('li', link_to_function("Delete", "if(confirm('Really delete?')) Helpdesk.sel.submit('#{ helpdesk_article_path('multiple') }', 'delete')")) %>
  </ul>

  <div class="selection-options">
    <div id="assign-options" style="display:none">
      <%= select_tag 'guide_id', options_from_collection_for_select(Helpdesk::Guide.all(:conditions => { :account_id => current_account.id }), :to_param, :name) %>
      <button id="assign-multiple-button" action="<%= helpdesk_article_guides_path %>" method="post">Add to Guide</button>
    </div>
  </div>

<% end %>


<% content_for :main_panel_content do %>

  <div id="pages">

    <% form_tag "", { :id => "expanded", :method => :put, :style => "display: none" } do %>
      <table class="articles-expanded">
        <%= render :partial => '/solution/shared/expanded/article', :collection => @articles %>
      </table>
    <% end %>

    <% form_tag "", { :id => "list", :method => :put, :style => "display: none" } do %>
      <table class="articles-collapsed">
        <%= render :partial => '/solution/shared/collapsed/article', :collection => @articles %>
      </table>
    <% end %>


  </div>

  <%= will_paginate @articles %>

  <div class="clear"></div>


<% end %>




<%= render :partial => "/helpdesk/shared/main_panel" %>
