<% content_for :layoutType do%>single<% end %>
<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/expanding_textarea" %>
  <%= javascript_include_tag "helpdesk/multifile" %>
  <%= javascript_include_tag "helpdesk/article_section" %>
<% end %> 

<h3 class="title">New Solution</h3>
<div id="article-form-container">
	<% form_for @article, :url => solution_category_folder_articles_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form"} do |f| %>
	<%= render :partial => 'article_form', :locals => { :f => f } %>
		<div class="button-container">
			<%= submit_tag t('save'), :class => "uiButton" %>
	      	<%= submit_tag t('save_and_create'), :name => "save_and_create", :class => "uiButton" %>
			<%= link_to(t('cancel'), solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "uiButton grey" ) %>
		</div>
	 <% end %>
</div>

