<% content_for :layoutType do%>single<% end %>
<% content_for :head do %>
  <%= javascript_include_tag "helpdesk/expanding_textarea" %>
  <%= javascript_include_tag "helpdesk/multifile" %>
  <%= javascript_include_tag "helpdesk/article_section" %>
<% end %> 

<div class="header_area no_padding">
	<div class="right_panel">
		<%= link_to('Back'[:cancel], solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "fdbutton grey" ) %>
	</div>
	<h3 class="title">New Solution</h3>
</div>
<div class="page_area">
	<div id="article-form-container">
	<% form_for @article, :url => solution_category_folder_articles_path(@article.folder.category_id  , @article.folder.id) , :html => {:multipart => true, :id => "article-form"} do |f| %>
	<%= render :partial => 'article_form', :locals => { :f => f } %>
		<div class="button-container">
			<%= submit_tag "Save", :class => "fdbutton" %>
	      	<%= submit_tag " Save and Create Another ", :name => "save_and_create", :class => "fdbutton" %>
			<%= link_to('Cancel'[:cancel], solution_category_folder_url(@article.folder.category_id, @article.folder.id), :class => "fdbutton grey" ) %>
		</div>
	 <% end %>
</div>

