<%= form_for @article, 
			:url => solution_category_folder_article_path(@article.folder.category_id  , @article.folder.id) , 
			:html => {:id => "article-form"}, 
			:remote => params[:edit].present? do |f| %>
		<div id="solution-properties-container">
			<div id="solution-properties">
				<%= render :partial => "solution/articles/draft/article_properties", :locals => { :f => f} %>
				
				<% if @article.published? %>
					<div class="solution-properties-title"></div>
					<div class="unpublish-article">
						<div class="row">
							<%= f.check_box(:status, {checked: false}, Solution::Article::STATUS_KEYS_BY_TOKEN[:draft], @article.status ) %>
							<span> <%= t('solution.articles.draft.unpublish.msg') %></span>
						</div>
						<div class="msg">
							<%= t('solution.articles.draft.unpublish.' + (@article.draft.present? ? "with_draft" : "without_draft") ) %>
						</div>
					</div>
				<% end %>

				<input type="hidden" name="update_properties" value="1">
			</div>
		</div>
<% end %>

<script type="text/javascript">
	App.Solutions.Article.articleProperties();
</script>

