<% content_for :sidebar do %>
	<div class="solution-sidebar">
		<%= render partial: "sidebar" %>
	</div>
<% end %>

<div class="solution">

	<% content_for :layoutType do %>community solutions<% end %>
	<% content_for :sticky_title do %>
		<%= render :partial => 'notification_bar' %>
	<% end %>
	<% content_for :sticky_right do %>
	  <%= preview_portal(support_solutions_article_path(@article.id), @article.folder.category) if @article.published? %>
	<% end %>
	<%= render :partial => '/solution/shared/sticky', :locals => { :page => :article} %>

	<!-- Solution page content -->
	<div class="solution-content">
		<%= render :partial => "view" %>
		<%= render :partial => "article_form" %>
	</div>

</div>

<!-- Article properties overlay -->
<% content_for :dialogs do %>
	<div id="article-prop" class="hide"></div>
<% end %>
