<% content_for :sidebar do %>
	<div class="solution-sidebar">
		<%= render partial: "sidebar" unless @article.new_record? %>
	</div>
<% end %>

<div class="solutions">

	<% content_for :layoutType do %><%= solution_body_classes %><% end %>
	<% content_for :sticky_title do %>
		<%= render :partial => "language_tabs" if Account.current.multilingual? %>
		<div class="solution-header draft-notif" id="solution-notification-bar">
			<%= render :partial => 'notification_bar' %>
		</div>
	<% end %>
	<% content_for :sticky_right do %>
	  <%= preview_portal(support_solutions_article_path(@article, :url_locale => @language.code), @article.solution_folder_meta.solution_category_meta) if @article.published? %>
	  <% if privilege?(:publish_solution) %>
      <% unless @article.new_record? || (@article.draft.present? && @article.draft.locked?) %>
    	  <div class="pagination-right edit-container">
    	    <a href="javascript:void(0)" class="btn btn-primary article-edit-btn"><%= t('edit') %></a>
    	  </div>
      <% end %>
    <% end %>
    <div class="pagination-right breadcrumb-btns <%= 'hide' unless @article.new_record? %>">
      <%= article_btns('save-btn', 'publish-btn') %>
    </div>
	<% end %>
	<%= render :partial => '/solution/shared/sticky', 
						 :locals => { :page => :article, :sticky_class => 'article-sticky', :toolbar => true} %>

	<!-- Solution page content -->
	<div class="solution-content">
		<%= render :partial => "view" unless @article_meta.present? && @article.new_record? %>
		<%= render :partial => "article_form" unless @article.draft.present? && @article.draft.locked? %>
	</div>

</div>

<script type="text/javascript">
	jQuery('body').one('assetLoaded.fjax', function() {
		App.Solutions.NavMenu.setActiveFolderAs(<%= @article.folder_id %>);
		App.Solutions.Article.STRINGS = {
			reload: "<%= escape_javascript(t('reload')).html_safe %>",
			unsavedContent: "<%= escape_javascript(t('solution.general.unsaved_content')).html_safe %>",
			leaveQuestion: "<%= escape_javascript(t('solution.general.leave_page_que')).html_safe %>",
			somethingWrong: "<%= escape_javascript(t('solution.general.something_wrong')).html_safe %>",
			maxInput: "<%= escape_javascript(t('solution.articles.tag_max_len')).html_safe %>",
			articleDeleted: "<%= escape_javascript(t('solution.articles.article_deleted')).html_safe %>",
			back: "<%= escape_javascript(t('back')).html_safe %>"
		};
		<%= 'App.namespace = "solution/articles/new";'.html_safe if @article_meta.present? && @article.new_record? %>
	});
</script>