<% form_tag plan_subscription_url, :id => "plan_form" do %>
<div class="billing-cost">
	<dl>
    <dt><%=t('subscription.billing')%></dt>
  	<dd><%= select_tag :billing_cycle, options_for_select(SubscriptionPlan::BILLING_CYCLE_OPTIONS.to_a, @subscription.renewal_period) %></dd>
  </dl>

  <dl>
		<dt> <%= t('agents') %> </dt>
		<dd>
		  <input type="text" size="4" value="<%= @subscription.agent_limit || current_account.full_time_agents.count %>" name="agent_limit" id="agents-text-box" class="text" />
		</dd>
		  <% if @subscription.free_agents > 0 %>
	  		<div class="agents-split">
		  		<dl><dd> <b><%=t('subscription.free')%></b> : <%= @subscription.available_free_agents %> </dd></dl>
		  		<dl><dd> <b><%=t('subscription.paid')%></b> : <%= @subscription.non_free_agents %> x <span id="cost-per-agent">$<%= @subscription.subscription_plan.amount %></span></dd></dl>
				</div>
		  <% else %>
		  	<dd>x <b id="cost-per-agent">$<%= @subscription.subscription_plan.amount %></b></dd>
		  <% end %>
		</dl>
  <dl class="tr-total" id="total-cost">
  	<dt>
  		<%= t('total_price')%>
  	</dt>
  	<dd class="numbers">
  		<h2><b class="total" id="total-cost-per-agent">$<%= amount %></b></h2>
  	</dd>
  </tr>
	
	<dl><dd>
		<input type="hidden" id="plan_id" name="plan_id" value="" />
		<% current_subscription = Subscription.find(current_account.subscription.id) %>
		<% downgrade_confirm = ( (@subscription.subscription_plan_id < current_subscription.subscription_plan_id) or (current_subscription.classic? and @subscription.sprout?) ) ? true : false %>
		<% submit_text = ((@subscription.state == 'trial' and !(@subscription.non_free_agents <= @subscription.free_agents)) ? t('enter_payment') : t('change_my_plan')) %>
		<input type="submit" class="uiButton billing-cancel" value="Cancel"/>
		<% if downgrade_confirm %>
			<%= link_to(submit_text, "javascript:confirm(#{downgrade_confirm}, false)", :class => "uiButton billing-submit") %>		
		<% else %>
			<%= submit_tag(submit_text, :class => "uiButton billing-submit", :id => "commit", :name => "commit") %>
		<% end %>
		
	</dd></dl>
</div>
<div class="confirm-dialog-calculate" style="display:none;">
  <div class="downgrade-message">
  	<%= t('downgrade_confirm', :from => current_subscription.subscription_plan.name , :to => @subscription.subscription_plan.name) %>
  </div>
  <div class="downgrade-actions">
  	<%= link_to( t('cancel'), 'javascript:;', :class => "uiButton", :id => 'confirm-cancel'  ) %>
  	<%= submit_tag( t('downgrade'), :class => "uiButton billing-confirm", :id => "commit", :name => "commit" ) %>
  </div>
</div>
<% end %>	