<%
	new_plan = plan.name.downcase
	new_plan_rank = SubscriptionsHelper::PLAN_RANKING["#{new_plan}"] || 0
	current_plan_rank = SubscriptionsHelper::PLAN_RANKING["#{current_plan}"] || 0
	equal_plan_rank = (new_plan_rank == current_plan_rank) && (new_plan != current_plan)
	new_plan_name = new_plan.split(' ').first.capitalize
%>
<div class="plan-confirm-message-new">
	<div class="plan-confirm-message-info">
		<div class="downgrade-message-info">
			<%= t('downgrade_confirm_v3', :new_plan => new_plan_name).html_safe %>
		</div>
		<%
			# current_account.features_list & PLANS[:subscription_plans][:forest_jan_20][:features]) 
			# will return only current account plan featrues eliminating extra tech features
			features_lost = (current_account.features_list & PLANS[:subscription_plans][:forest_jan_20][:features]) - PLANS[:subscription_plans][plan.canon_name][:features]
			important_features_lost = features_lost & IMPORTANT_FEATURES
		%>
		<%unless features_lost.empty?%>
			<div class="downgrade-feature-list">
				<div class="downgrade-warning">
					<%unless important_features_lost.empty?%>
						<%=t('downgrade_loss_message').html_safe%>
					<%end%>
				</div>
				<% important_features_lost.each do |feature_name| %>
					<span class= "ficon-cross lost-feature"><%= t("features.#{FEATURE_DESC_MAP[feature_name]}").html_safe %></span>
				<% end %>
				<span class= "ficon-cross lost-feature"><i><%= t("and_more_plan_downgrade").html_safe %></i></span>
			</div>
		<%end%>
	</div>
	<% if show_omni_warning %>
		<div class="omni_warning">
			<img alt="omni channel experience" class="omni-channel-icon" src="/assets/omni-channel.svg" width="52" />
			<span><%= t('omni_warning') %></span>
		</div>
	<% end %>
	<%= t(equal_plan_rank ? 'equal_plan_doubt' : 'inequal_plan_doubt') %>
	<%= t('downgrade_contact_us').html_safe %>
</div>
