<div class = "payment-info <%= current_account.new_pricing_launched? ? 'payment-info-new': '' %>">
	<%= content_tag(:label, t('payment_info'), :class => "caption") %> 
	<div class="pull-right">
		<%= link_to( "#{t('change')}".html_safe, billing_subscription_url, :class => "btn btn-mini" ) %>
	</div>
	<div class="fields">
		<%= @subscription.card_number %>
		<% if @subscription.billing_address %>
			<span class = "billing-address"> <%=t('billing_address') %> </span>
			<%= h(@subscription.billing_address.humanize).gsub("\n","<br>").html_safe %>
		<% end %>
	</div>
</div>