<%
	current_subscription = Subscription.find(current_account.subscription.id)
	plan = @subscription.subscription_plan
	current_plan =current_subscription.subscription_plan
	is_new_sprout = new_sprout?(plan.name)
	field_agent_limit = @subscription.field_agent_limit || 0
	show_field_agent_info = fsm_supported_plan?(plan) && field_agent_limit > 0

	show_field_agent_current_plan = fsm_supported_plan?(current_plan) && current_account.field_service_management_enabled? && @cached_subscription.field_agent_limit.present?
	subscription_plan_id = @subscription.subscription_plan_id
	requested_plan = @subscription.subscription_request.subscription_plan
	is_sprout  = new_sprout?(requested_plan.name)
	fsm_field_agents = @subscription.subscription_request.fsm_field_agents?
	sub_plan_name = current_subscription.subscription_plan.name
	sub_plan_display_name = current_subscription.subscription_plan.display_name
%>
<div class="modal-body">
						<div class="existing-request pb15"><span class="content-text"><%=t("downgrade.existing_request")%> </span> - <%= formated_date(@subscription.subscription_request.updated_at, {:format => :short_day_with_week, :include_weekday => false,:include_time => false, :include_year => true}) %></div>
						<%= render :partial => "downgrade_first_time" ,locals: { :requested_plan => requested_plan, :is_sprout => is_sprout, :fsm_field_agents => fsm_field_agents,:current_subscription => current_subscription,:current_plan =>current_plan,:show_field_agent_current_plan => show_field_agent_current_plan,:show_field_agent_info => show_field_agent_info,:plan => plan,:sub_plan_name => sub_plan_name, :sub_plan_display_name => sub_plan_display_name } %>

	                    <div class="latest-request pb15 pt20 mt5"><span class="content-text"><%=t("downgrade.latest_request")%></span>* - <span class="" id="current-date"></span>
	                    </div>
	                    <% sprout_check = new_sprout?(@subscription.subscription_plan.name) %>
	               		<div class="downgrade-non-sprout">
	                  		 <%= render :partial => "downgrade_second_time" ,locals: { :requested_plan => requested_plan, :is_sprout => sprout_check, :fsm_field_agents => fsm_field_agents ,:current_subscription => current_subscription,:current_plan =>current_plan,:show_field_agent_current_plan => show_field_agent_current_plan,:show_field_agent_info => show_field_agent_info,:plan => plan,:sub_plan_name => sub_plan_name, :sub_plan_display_name => sub_plan_display_name } %>
	               		</div>
	               		<% if new_sprout %>
	               			<% same_request_check_sprout = current_plan.name != sprout_plan %>
		               		<div class="downgrade-sprout request-change-container ">
		               			<div class="request-change-items plan-name <%= 'same-request' if same_request_check_sprout %>">
								      <div class="pb10"><%=t("downgrade.plan")%><span class="required-mark">*</span></div>
								      <div><span class="plan-from" data-id="downgrade-second-time">
								      	<%= sub_plan_display_name %>
								      	<%if @subscription.classic? %>
                  				<%= content_tag(:span, t('classic_label')) %>
                				<%end%>
								      	</span> <% if current_plan.omni_plan? || current_plan.free_omni_channel_plan? || show_field_agent_current_plan
								          @omni_fsm_toggle_current_plan = []
								          if current_plan.omni_plan? || current_plan.free_omni_channel_plan?
								            @omni_fsm_toggle_current_plan << t("downgrade.omnichannel")
								          end
								          if show_field_agent_current_plan
								            @omni_fsm_toggle_current_plan << t("downgrade.fsm")
								          end
								        %>
								          <% if @omni_fsm_toggle_current_plan.length > 0 %>
								           <%= '('+ @omni_fsm_toggle_current_plan.join(' + ') + ')' %>
								          <% end %>
								       <% end %>
								       		<span><%=t("downgrade.to")%></span>
								          <span class="plan-to test">
								          		<%= sprout_plan_display_name %>
								          		<%if actual_plan.classic? %>
								          			<%= content_tag(:span, t('classic_label')) %>
								          		<%end%>
								          </span>
								      </div>
								</div>
		               		</div>
	               		<% end %>
	        		</div>