<% if @subscription.trial? or @subscription.trial_expired? %>
	<%= content_for :helpcard do -%>
		<h3 class="lead"><%= t("accounts.billing.billing").html_safe %></h3>
		<p><%= t("accounts.billing.begin_subscription_info").html_safe %></p>
	<%- end %>
<% end %>	

<h3 class="lead">
	<%= @page_title = t('plans_billing') %>
</h3>

<% if @subscription.trial? or @subscription.trial_expired? %>
	<div class="well well-info"> 
		<h4 class="sub-lead">
				Selected Plan : 
				<%= t('current_plan_details', 
						:plan_name => @subscription.subscription_plan.name, 
						:agent_limit => @subscription.agent_limit).html_safe %>
		</h4>
		<div class="lead-info">
			<%= get_payment_string(@subscription.renewal_period, @subscription.amount.to_i) if @subscription.amount > 0 %>
			<%= t('currency_note').html_safe %>
		</div>
	</div>
<% end %>


<h3 class="lead"><%= t("credit_card_info") %></h3>

	<%= render :partial => 'shared/credit_card_form' %>
	<%= hidden_field_tag :charge_now, "false", :id => "chargenow" %>
	<span class="seperator"></span>
<% content_for :pagefixed do %>
	<%= javascript_tag do %>
		jQuery("#begin_subscription")
			.click(function(){
				if (jQuery('#credit-card-form').valid()) {
					$("chargenow").value = true;
					<% if @subscription.amount.to_i == 0 %>
					  return true;
					<% end %>
						<% amount = format_amount(@subscription.amount.to_i, @subscription.currency_name) %>
						return confirm("<%= t('begin_subscription_confirm', :cost => amount) %>") ;
				}
			});
		jQuery('body').on('click', '.btn-primary', function(){
			if (jQuery('#credit-card-form').valid()) {
				jQuery(this).button('loading');
			}
		});
	<% end %>
	<script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
	<script type="text/javascript">
		var braintree = Braintree.create("<%= BraintreeConfig["client_side_encryption_key"][Rails.env] %>")
		braintree.onSubmitEncryptForm("credit-card-form");
	</script>

<% end %>