<% content_for :sidebar do -%><%- end %>
<% if @subscription && @subscription.errors.any? %>
  <div class="errorExplanation">
    <%= content_tag( :h2, t("errors_in_plan_change") ) %>
    <ul>
      <%= @subscription.errors.full_messages.map {|m| content_tag('li', m)} %>
    </ul>
  </div>
<% end %>
<h3 class="title">Your freshdesk free plan is free forever for 1 agent</h3>
<% form_tag('/subscription/convert_subscription_to_free' , :method => :put) do %>          
<ul class="ui-form">
  <li class="inline-field">    
    <%= content_tag(:h4, t('select_free_plan'), :class => "caption title")  %>
    <div class="fields">      
      <%= select_tag :plan_id, options_from_collection_for_select(@plans, :id, :name,current_account.subscription_plan.id) %>
      <%= content_tag(:label, t('change_details_anytime')) %>
    </div>    
  </li>
</ul>
<div class="button-container">        
  <%= link_to "&larr; #{t('account.cancel')}", subscription_url, :class => "floatl uiButton" %> 
  <%= submit_tag "#{t('apply')}", :class => "uiButton special" %>
</div>

<%end-%>