<% content_for :helpcard do -%>
<p class="intro">	
<%= t('subscription.info1') %>
</p>   
<br />
<p class="intro">
<%= t('subscription.info2') %>
</p>
<%- end %>



<% if @subscription && @subscription.errors.any? %>
  <div class="errorExplanation">
    <%= content_tag( :h2, t("errors_in_plan_change") ) %>
    <ul>
      <%= @subscription.errors.full_messages.map{|m| content_tag('li', m.html_safe)}.join("").html_safe %>
    </ul>
  </div>
<% end %>

<h3 class="title"><%= @page_title = t('change_plan') %></h3>
<%= render :partial => current_account.new_pricing_launched? ? "select_new_plans" : "select_plans", :locals => { :plans => @plans, :subscription => @subscription, :show_all => true } %>

<div class="button-container">
	<%= link_to( t('back_plans_billing').html_safe, subscription_url, :class => "uiButton floatl" ) %>
</div>




 
