<%= javascript_include_tag :'cdn/plans_and_billing' %>

<% fd_fs_banner = @subscription.account.fetch_fd_fs_banner_details %>
<% fd_fs_discount_coupon = @subscription.fetch_fdfs_discount_coupon %>
<% show_fd_fs_banner = fd_fs_banner.present? && ['trial', 'integrate', 'new'].include?(fd_fs_banner[:state]) && @subscription.account.account_activated_within_last_week? %>
<% show_fd_fs_discountbanner = fd_fs_discount_coupon.present? %>
<% show_omnichannel_banner = @subscription.account.show_omnichannel_banner? %>
<% multiple_banner_present = (show_fd_fs_banner || show_fd_fs_discountbanner) && show_omnichannel_banner %>

<% if show_fd_fs_banner || show_fd_fs_discountbanner || show_omnichannel_banner %>
  <h3 class="lead"><%=t('notification.whats_new')%></h3>

  <div id="plansAndBillingCarousel" class="carousel slide">

    <div class="carousel-inner">
      <% if show_fd_fs_banner || show_fd_fs_discountbanner %>
        <div class="active item">
          <% if show_fd_fs_discountbanner %>
            <%= render :partial => "/subscriptions/freshdesk_discount_banner", :locals => { :discount_coupon => fd_fs_discount_coupon, :time_left => @subscription.trial_days } %>
          <% else %>
            <%= render :partial => "/subscriptions/freshdesk_freshsales_bundle", :locals => { :account_state => fd_fs_banner[:state], :account_subscription_url => fd_fs_banner[:url] } %>
          <% end %>
        </div>
      <% end %>
      <% if show_omnichannel_banner %>
        <div class="<%if !multiple_banner_present%> active <%end%> item">
          <%= render :partial => '/subscriptions/omni_channel_experience', :locals => { :is_lone_banner => multiple_banner_present, :title_class => 'omni-channel-experience-title', :title => 'omni_channel_experience.omnichannel_title',  :description_class => 'omni-channel-experience-description', :description => 'omni_channel_experience.omnichannel_description',:table_class => 'omni-channel-td-data', :button_class => 'btn btn-primary btn-small explore-omnichannel-button', :image_src => '/images/omni_channel_experience.svg', :image_class => 'omni-channel-experience-logo' } %>
        </div>
      <% end %>
    </div>

    <% if multiple_banner_present %>
      <a class="carousel-control left" href="#plansAndBillingCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#plansAndBillingCarousel" data-slide="next">&rsaquo;</a>
    <% end %>

  </div>
<% end %>
<h3 class="lead"><%= @page_title = t("admin.home.index.billing") %></h3>

<%= render :partial => "/subscriptions/state/#{@subscription.state}", 
		   :locals => { :subscription => @subscription, :plans => @plans } %>

<script type="text/javascript">

  Fjax.afterNextPage = function(){ App.SelectPlan.destroy()};

  <% if multiple_banner_present %>
    (function($) {
      $(document).ready(function(){
        $("#plansAndBillingCarousel").carousel({
          interval: false
        });
      });
    })(jQuery);
  <% end %>

</script>

<% if @selected_plan.present? %>
  <% content_for :onload_script do %>
    (function($) {
      jQuery(window).bind("load", function() {
        <%- case @subscription.state -%>
        <%- when 'active' -%>
          <% @plans.select do |plan| %>
            <% if plan.display_name.downcase == @selected_plan %>
              jQuery('#<%= plan.name.parameterize.underscore %>_button').click();
            <% end %>
          <% end %>
        <%- when 'free' -%>
          if(jQuery('.sprout-new-active a').length) {
            jQuery('.sprout-new-active a')[0].click();
          } else if(jQuery('.free-plan-payment a').length) {
            jQuery('.free-plan-payment a')[0].click();
          }
        <%- end -%>
      });
    })(jQuery)
  <% end %>
<% end %>