<div class="sidepanel">
	<!-- #TODO-RAILS3 to be tested -->
	<%= form_tag '/activity_reports/customer/generate', :"data-update" => "report-container", 
		:remote => true, :"data-loading" => "", 
		:"data-loading-classes" => "sloading loading-block loading-small" do %>
	  <div class="ff_item" container="dropdown" id="div_ff_customer">
		<%= label_tag "customer_id", t("reports.select_customer"), :class => 'caption' %>
		<%= select_tag "customer_id", options_for_select(current_account.companies.collect{ |c| [c.name, c.id] }) ,:class => "select2 input-large filter_item" %>     
	  </div>
	  <%= render :partial => "/reports/shared/options_form" %>
	<div class="clearfix"></div>
	<%= submit_tag t('reports.generate_button'), :class => "btn" %>
	<% end %>
</div>
