<div class="sidepanel">
    <h3 class="title"><%= t('reports.helpdesk_title')%></h3>  
	<% form_tag '/activity_reports/customer/generate' do%>
	  <div class="ff_item" container="dropdown" id="div_ff_customer">
		<h4 class="title"><%= label_tag "customer_id", t("reports.select_customer") %></h4>           
		<%= select_tag "customer_id", options_for_select(current_account.customers.collect{ |c| [c.name, c.id] }) ,:class => "customSelect filter_item" %>     
	  </div>
	  <%= render :partial => "/reports/shared/options_form" %>
	<div class="clearfix"></div>
	<%= submit_tag t('reports.generate_button'), :class => "uiButton" %>
	<% end %>
</div>
