<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('admin.roles.helpcard.title1')%></h3>
	<p><%=t('admin.roles.helpcard.info1')%></p>
  <p><%=t('admin.roles.helpcard.info2')%></p>
  <p><%=t('admin.roles.helpcard.info3')%></p>
	<h3 class="title"><%=t('admin.roles.helpcard.title2')%></h3>
	<p><%=t('admin.roles.helpcard.info4')%></p>
  <p> <%= link_to t('admin.roles.helpcard.info5'), "https://support.freshdesk.com/solution/articles/96909" %>
  </p>
</div>