<% content_for :sidebar do %>
  <%= render :partial => "agents/helpnote_without_tour" %>
<% end %>
<%= include_stylesheets :pattern %>
<%= include_javascripts :pattern  %>
<% form_for @role, :html => {:class => "well", :id => 'new_role'} do |role_form| %>
<ul class="admin-breadcrumb">
  <li class="non-arrow"><a href="#">Admin</a><span class="divider"></span></li>
  <li><a href="#">Role</a> <span class="divider"></span></li>
  <li class="active ">New Role</li>
  <li class="non-arrow pull-right">
      <a href="/agents" class="btn btn-primary"><%= t('save')%></a>
  </li>
  <li class="non-arrow pull-right">
    <input class="btn " id="agent_submit" name="commit" type="submit" value="<%= t('cancel')%>">
  </li>
</ul>
<%= render :partial => 'form', :locals => {:role_form => role_form} %>
<ul class="admin-breadcrumb">
  <li class="non-arrow"><a href="#">Admin</a><span class="divider"></span></li>
  <li><a href="#">Role</a> <span class="divider"></span></li>
  <li class="active ">New Role</li>
  <li class="non-arrow pull-right">
      <a href="/agents" class="btn btn-primary"><%= t('save')%></a>
  </li>
  <li class="non-arrow pull-right">
    <input class="btn " id="agent_submit" name="commit" type="submit" value="<%= t('cancel')%>">
  </li>
</ul>
<% end %>
<% javascript_tag do %>

  (function($) {
    $.fn.editFormSpecial = function(){
      return this.each(function(){
        if(!($(this).hasClass('permanent_disable')))
        {
          this.disabled = false;
        }
        if($(this).hasClass('nested'))
          $('input.' + this.id).prop('disabled', false);
      });
    };

    $.fn.editFormAnotherSpecial = function(){
      return this.each(function(){
        if($(this).hasClass('nested'))
          $('input.' + this.id).prop('disabled', true);
          $('input.' + this.id).prop('checked', false);
      });
    };

    $(document).ready(function() {
      $('input:checked').editFormSpecial();
      $('input:radio:unchecked').editFormAnotherSpecial();
    });

  })(jQuery);

<% end %>