 <% content_for :helpcard do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>

<div class="list-page agent-roles-list">
  <div class="list-page-header">
    <div class="row-fluid">
    		<div class="span6"><h3 class="lead"><%= t('admin.roles.title')%></h3></div>
        <% unless max_limit_reached? %>
          <div class="span6 pull-right pagination-right">
              <b><%= link_to t('admin.roles.new'), new_admin_role_path(), :class => "btn btn-primary"  %></b>
          </div>
        <% end %>
    </div>
    <% if max_limit_reached? %>
      <div class="alert ml0 mt0" rel="permanent"><%= t('admin.roles.limit_message', limit: RoleConstants::MAX_ROLES_LIMIT)%></div>
    <% end %>
  </div>
  <div class="list-page-body">
    <% unless @roles.blank? %>
      <table class="table table-striped">
          <% @roles.each do |role|%>
            <tr>
              <td>
                <p class="text-info">
                  <strong><%= link_to(role.name, edit_admin_role_path(role), :class => "item_info") %> </strong>
                  <br/><div class="muted"><%= role.description %></div>
                </p>
              </td>
              <td class="manage-agent">
                <% if (role.users.count != 0) %>
                <a class="popup" data-isaccadmin="<%= role.privilege?(:manage_account) %>" data-agentcount="<%= role.users.count %>" data-title="<%= role.name %>" data-changecount="<%= role.id %>" data-roleid="<%= role.id  %>" href="javascript:void(0)">
                  <%= pluralize(role.users.count, t('admin.roles.agent_label'), t('admin.roles.agents_label')) %>
                </a>
                <% else %>
               <div class="no-agent">
                  <span class="muted info"><%= t('admin.roles.no_agent_label')%></span>
                   <a class="popup hide" data-agentcount="<%= role.users.count %>" data-title="<%= role.name %>" data-changecount="<%= role.id %>" data-roleid="<%= role.id  %>" href="javascript:void(0)">
                    <%= t('admin.roles.add_agent_label')%>
                    </a>
               </div>
               <% end %>
              </td>
              <td>
                <% unless role.default_role? %>
                  <%= link_to t('edit'), edit_admin_role_path(role), :class => "btn btn-mini" %>
                  <%= link_to("<i class='icon-trash'></i>".html_safe, admin_role_path(role), :method => :delete, :confirm => "delete?", :class => "btn btn-mini")  %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= will_paginate @roles,
              :renderer => BootstrapPaginationRenderer,
              :previous_label => "<b class='arrow-left'></b>",
              :next_label => "<b class='arrow-right'></b>",
              :class => "pagination pagination-centered" %>
      <% end %>
  </div>
</div>
<input type="hidden" value="" id="roleid">

<%= render :partial => '/admin/shared/popup', :locals => {:type => 'roles'} %>

<script type="text/javascript">
jQuery(window).on('load', function(){
  ProfileImage.fetch();
  if(AdminRoles && AdminRoles.index){
    AdminRoles.index.init();
  }
});
</script>
