<% content_for :helpcard do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<%= form_for @role, :url => admin_roles_path, :html => { :id => 'role_form', :method => :post, :rel => "validate"} do |role_form| %>
<h3 class="lead itil-hide">
      <%= t('admin.roles.new') %>
    <div class="pull-right">
      <%= link_to @role.default_role? ? t('go_back') : t('cancel'), admin_roles_path, :class => "btn"%>
      <%= role_form.submit t('save'), :class => "btn btn-primary", 'data-loading-text' => t('saving') %>
    </div>
</h3>
<%= generate_breadcrumbs(params, role_form) %>
  <%= render 'form', role_form: role_form, role: @role %>
<% end %>
<input type="hidden" value="<%= @role.id %>" id="roleid">

<%= render :partial => '/admin/shared/popup', :locals => {:type => 'roles'} %>

<script type="text/javascript">
jQuery(window).on('load', function(){
  ProfileImage.fetch();
  if(AdminRoles && AdminRoles.new){
    AdminRoles.new.init();
  }
});
</script>
