<%= include_cloudfront_css :pattern %>
<%= include_cloudfront_js :pattern %>
<% content_for :sidebar do %>
   <!-- FIXME: need to change content -->
  <%= render :partial => "agents/helpnote_without_tour" %>
<% end %>
<% form_for @role, :url => admin_roles_path, :html => { :id => 'new_role', :method => :post, :rel => "validate"} do |role_form| %>
<h3 class="lead">
      <%= t('admin.roles.new') %>
    <div class="pull-right">
      <%= link_to t('cancel'), admin_roles_path, :class => "btn"%>
      <%= role_form.submit t('save'), :class => "btn btn-primary"%>
    </div>
</h3>
  <%= render :partial => 'form', :locals => { :role_form => role_form} %>
<% end %>