<% content_for :sidebar do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<% form_for @role, :url => admin_roles_path, :html => { :id => 'role_form', :method => :post, :rel => "validate"} do |role_form| %>
<h3 class="lead">
      <%= t('admin.roles.new') %>
    <div class="pull-right">
      <%= link_to @role.default_role? ? t('go_back') : t('cancel'), admin_roles_path, :class => "btn"%>
      <%= role_form.submit t('save'), :class => "btn btn-primary", 'data-loading-text' => t('saving') %>
    </div>
</h3>
  <%= render :partial => 'form', :locals => { :role_form => role_form} %>
<% end %>