<div id="ticket-toolbar">
  <div class="dropdown" id="ticket-filters">  
  	<a href="#" class="list-lead dropdown-toggle" data-toggle="dropdown">
  	<%= t("helpdesk.tickets.views.#{@current_filter}") %> <i class="caret"></i>
  	</a>
    <%= filter_list %>
  </div>
  <div id="ticket-sub-toolbar">
    <span id="ticket-sort" class="dropdown">
      <%= ticket_sorting %>
      <a class="dropdown-toggle help-text" data-toggle="dropdown" href="#">
        <%= t('ticket.sort_by') %> <b> <%= I18n.t("tickets_filter.sort_fields.#{@current_wf_order}") %></b>
        <i class="caret"></i>
      </a>
    </span>
    <% if @filter_users.present? %>
      <span class="dropdown" id="user-list-dropdown">  
        <a class="dropdown-toggle help-text" data-toggle="dropdown" href="#">
          <%= I18n.t("tickets_filter.raised_by") %> <b><%= raised_by %></b>
          <i class="caret"></i>
        </a>
        <%= user_list %>      
      </span>
    <% end %>

    <% if @companies.present? %>
      <% company_details = raised_by_company %>
      <span class="dropdown" id="company-list-dropdown">
        <a class="dropdown-toggle help-text" data-toggle="dropdown" href="#" data-company-id=<%= company_details[:id] %>>
          <%= I18n.t("tickets_filter.company") %> : <b><%= company_details[:name] %></b>
          <i class="caret"></i>
        </a>
        <%= company_list %>
      </span>
      <% if @tickets.first.present?  && @client_manager_companies.include?(company_details[:id]) %>
        <span class="help-text">
          <%= I18n.t("tickets_filter.raised_by") %>  : 
          <div class="company-users-filter">
          <%= render_autocomplete({ :selected_values => [@requested_by_user].compact, 
                                    :max_limit => 1, 
                                    :type => :company_users, 
                                    :include_none => true, 
                                    :customer_portal => true }) %>
        </div>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
