<% if @ticket.present? %>
	<% form_for Helpdesk::Note.new, :url => support_ticket_helpdesk_notes_path(@ticket), 
			:html => { :rel => "validate", :multipart => true }  do |f| %>
		<%= f.error_messages %>  	
	  	<div class="row-fluid">
			<p class="span12">
	  			<%= f.rich_editor :body_html, "editor-type" => :ticket, :class=>"required", :height => "150px" %>
		  	</p>
		</div>
	    <div class="control-group">
	    	<%= render :partial => "/support/shared/attachment_form", :locals => 
	    		{ :attach_id => @ticket.display_id , :nsc_param => "helpdesk_note" } %>
		</div>
		
		<%= f.submit t("ticket.support.#{@ticket.closed? ? '.reply_and_open' : '.reply'}" ), {:class => "btn btn-primary"} %>
		<a href="#" data-hide-dom="#add-note-form" data-show-dom="#add-note-form-proxy" class="btn"><%= t('cancel') %></a>
	<% end %>
<% end %>