<% @ticket ||= current_account.tickets.new %>
<% @ticket.build_ticket_body %>
<% @ticket.email = current_user.email if current_user %>
<%= form_for @ticket, :url => support_tickets_path, :html => { :multipart => true, 
    :class => "form-portal ticket-form", :rel => "validate" } do |f| %>
  <%= f.error_messages %>
  <% current_portal.customer_editable_ticket_fields.each do |field| %>
    <div class="control-group">
      <%= ticket_field_container f,:helpdesk_ticket, field, helpdesk_ticket_values(field,@params) %>
    </div>
  <% end %>

  <% if is_application_installed?("screenr") %>
    <div class="controls">
      <%= render :partial => "shared/screenr_recorder", :locals => { :location => "portal_ticket" } %>
    </div>
  <% end %>
     
  <% if feature?(:captcha) && !logged_in? %>
    <div class="control-group">
        <%= content_tag( :label, t('ticket.verify_human'), :class => "control-label" ) %>
        <div class="controls recaptcha-control">
          <%= recaptcha_tags :display => { :theme => "white" }, :ssl => true %>
        </div>
    </div>
  <% end %>
  <%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
  <%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>
  <%
    referrer = h(request.referrer)
  %>
  <%= hidden_field_tag "meta[referrer]", referrer %>

  <div class="form-actions">
		<%= f.submit t('ticket.submit_ticket'), :class => "btn btn-primary" %>		
		<%= link_to t("cancel"), support_home_path, :class => "btn" %>
	</div>
<% end %>

<%= javascript_tag do %>
  (function($){
    jQuery(document).ready(function(){      
      jQuery('#meta_referrer').val(document.referrer.escapeHTML());
      <% if feature?(:auto_suggest_solutions) && allowed_in_portal?(:open_solutions) %>
        callbackToSolutionSearch = function(string){
          jQuery.ajax({ url: "/support/search/solutions?max_matches=5&term="+string, 
            dataType: 'json',
            success: function(data){
                var search_items = jQuery("<ul class='unstyled'>")
                jQuery.each(data, function(i, item){
                  jQuery( "<li>" )
                    //.append('<span class="label label-small label-light ">'+ item.group +'</span>')
                    .append("<a href='"+item.url+"'>" + item.title + "</a> ")                    
                    .append('<p class="max-search-content">'+ item.desc +'</p>')
                    //.addClass(item.type.toLowerCase()+'-item')
                    .appendTo( search_items )
                })
                if(data.length > 4){
                  jQuery("<li>")
                    .append("<a href='/support/search/solutions?max_matches=5&term="+string+"'>" + "<%= I18n.t('widgets.feedback_widgets.new.show_all_results') %>" + "</a> ").appendTo( search_items )
                }
                if(data.length > 0){
                  jQuery("#new-ticket-search")
                    .html(search_items)
                    .prepend("<h4><%= I18n.t('portal.tickets.related_articles') %></h4>")
                    .show()
                }
                jQuery("#helpdesk_ticket_subject").removeClass("sloading loading-small loading-right");
              }
            });
          }
        
          jQuery("#helpdesk_ticket_subject").live("blur", function(ev){
              var searchString = this.value.replace(/^\s+|\s+$/g, "");
              if(searchString != '' && searchString.length > 1){
                jQuery(this).addClass("sloading loading-small loading-right");
                callbackToSolutionSearch(searchString);
              }else{
                jQuery(this).removeClass("sloading loading-small loading-right");        
              }
          });
      <% end %>

      if( !isMobile.any() ){
        <% if logged_in? %>
          invokeRedactor('helpdesk_ticket_ticket_body_attributes_description_html', 'ticket');
        <% else %>
          invokeRedactor('helpdesk_ticket_ticket_body_attributes_description_html');
        <% end %>
      }

      <% if current_portal.customer_editable_ticket_fields.first.field_type  == "default_description" %>
        jQuery("#helpdesk_ticket_ticket_body_attributes_description_html").data('redactor').$editor.focus();
      <% else %>
        Form.focusFirstElement(document.forms[0]); 
      <% end %> 
    }); 

    jQuery('#new_helpdesk_ticket').bind("submit", function(){
      var _form = jQuery(this);
      if(_form.valid())
      {
        var cc_emails = _form.find('input[name="cc_emails"]')
        var cc_emails_val = cc_emails.val()
        if (cc_emails_val && cc_emails_val.split(",").length >= 50) {
          alert('You can add upto 50 CC emails');
          return false;
        }
        _form.find("button, a.btn").attr('disabled',true);
      }
    });

  })(jQuery);
<% end %>



