<% @ticket ||= current_account.tickets.new %>
<% @ticket.email = current_user.email if current_user %>
<% form_for @ticket, :url => support_tickets_path, :html => { :multipart => true, 
    :class => "form-portal ticket-form", :rel => "validate" } do |f| %>
  <%= f.error_messages %>
  <% current_portal.customer_editable_ticket_fields.each do |field| %>
    <div class="control-group">
      <%= ticket_label :helpdesk_ticket, field %>
      <%= ticket_form_element :helpdesk_ticket, field %>
    </div>
  <% end %>
     
  <% if feature?(:captcha) && !logged_in? %>
    <div class="control-group">
        <%= content_tag ( :label, t('ticket.verify_human'), :class => "control-label" ) %>
        <div class="controls recaptcha-control">
          <%= recaptcha_tags :display => { :theme => "white" }, :ssl => current_account.ssl_enabled? %>
        </div>
    </div>
  <% end %>
  <%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
  <%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>

  <div class="form-actions">
		<%= f.submit t('ticket.submit_ticket'), :class => "btn btn-primary" %>		
		<%= link_to t("cancel"), :back, :class => "btn" %>
	</div>
<% end %>

<% javascript_tag do %>
  (function($){
    jQuery(document).ready(function(){      
      <% if feature?(:auto_suggest_solutions) && allowed_in_portal?(:open_solutions) %>
        callbackToSolutionSearch = function(string){
          jQuery.ajax({ url: "/search/widget_solutions?search_key="+string, 
            success: function(data){
                var data_available = jQuery(data).find("a").length;
                if(data_available){
                  //showTooltip(jQuery("#helpdesk_ticket_subject"), data);
                  //jQuery("#helpdesk_ticket_subject").qtip("show");
                  $("#new-ticket-search").html(data).show()
                }
                else{
                  //jQuery("#helpdesk_ticket_subject").qtip("hide");
                }
                jQuery("#helpdesk_ticket_subject").removeClass("loading-right");
              }
            });
          }
        
          jQuery("#helpdesk_ticket_subject").live("blur", function(ev){
              var searchString = this.value.replace(/^\s+|\s+$/g, "");
              console.log(searchString)
              if(searchString != '' && searchString.length > 1){
                jQuery(this).addClass("loading-right");
                //delay(function(){
                  callbackToSolutionSearch(searchString);
                //}, 200 ); 
              }
              else{
                //jQuery(this).qtip("hide");
                jQuery(this).removeClass("loading-right");        
              }
          });
      <% end %>
      invokeRedactor('helpdesk_ticket_description_html');
    }); 
  })(jQuery);
<% end %>



