<% @ticket ||= current_account.tickets.new %>
<% @ticket.email = current_user.email if current_user %>
<% form_for @ticket, :url => support_tickets_path, :html => { :multipart => true, 
    :class => "form-portal ticket-form", :rel => "validate" } do |f| %>
  <%= f.error_messages %>
  <% current_portal.customer_editable_ticket_fields.each do |field| %>
    <div class="control-group">
      <%= ticket_field_container :helpdesk_ticket, field %>
    </div>
  <% end %>
     
  <% if feature?(:captcha) && !logged_in? %>
    <div class="control-group">
        <%= content_tag( :label, t('ticket.verify_human'), :class => "control-label" ) %>
        <div class="controls recaptcha-control">
          <%= recaptcha_tags :display => { :theme => "white" }, :ssl => current_account.ssl_enabled? %>
        </div>
    </div>
  <% end %>
  <%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
  <%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>

  <div class="form-actions">
		<%= f.submit t('ticket.submit_ticket'), :class => "btn btn-primary" %>		
		<%= link_to t("cancel"), :back, :class => "btn" %>
	</div>
<% end %>

<% javascript_tag do %>
  (function($){
    jQuery(document).ready(function(){      
      <% if feature?(:auto_suggest_solutions) && allowed_in_portal?(:open_solutions) %>
        callbackToSolutionSearch = function(string){
          jQuery.ajax({ url: "/support/search/solutions?max_matches=4&term="+string, 
            dataType: 'json',
            success: function(data){
                var search_items = jQuery("<ul class='unstyled'>")
                jQuery.each(data, function(i, item){
                  jQuery( "<li>" )
                    //.append('<span class="label label-small label-light ">'+ item.group +'</span>')
                    .append("<a href='"+item.url+"'>" + item.title + "</a> ")                    
                    .append('<div>'+ item.desc +'</div>')
                    .addClass(item.type.toLowerCase()+'-item')
                    .appendTo( search_items )
                })
                if(data.length > 0){
                  jQuery("#new-ticket-search")
                    .html(search_items).show()
                }
                jQuery("#helpdesk_ticket_subject").removeClass("sloading loading-small loading-right");
              }
            });
          }
        
          jQuery("#helpdesk_ticket_subject").live("blur", function(ev){
              var searchString = this.value.replace(/^\s+|\s+$/g, "");
              if(searchString != '' && searchString.length > 1){
                jQuery(this).addClass("sloading loading-small loading-right");
                callbackToSolutionSearch(searchString);
              }else{
                jQuery(this).removeClass("sloading loading-small loading-right");        
              }
          });
      <% end %>
      if( !isMobile.any() ){
        invokeRedactor('helpdesk_ticket_description_html');
      }
    }); 
  })(jQuery);
<% end %>



