<section class="widget hide" id="ticket-sidebar-edit">
	<h3 class="light">Modify ticket details</h4>
	<% form_for @ticket, :url => { :action => "update", :controller => "support/tickets" }, 
				:html => { :id => 'portal_ticket_form' } do |f| %>
		<% current_portal.ticket_fields(:customer_editable).each do |field| %>
		    <% if(field.visible_in_view_form?) %>
		       	<% 
		          field_value = (field.is_default_field?) ? @ticket.send(field.field_name) : @ticket.get_ff_value(field.name)
		          if(field.field_type == "nested_field")
		          	field_value = {}
		          	field.nested_levels.each do |ff|
		          	field_value[(ff[:level] == 2) ? :subcategory_val : :item_val] = @ticket.get_ff_value(ff[:name])
		          	end
		          	field_value.merge!({:category_val => @ticket.get_ff_value(field.name)})
		          end
		          dom_type = (field.field_type == "default_source") ? "dropdown" : field.dom_type
		       	%>
	      	   <%= construct_ticket_element :helpdesk_ticket, field, field.label_in_portal, dom_type, field.required, field_value %>
	      	<% end %>
	    <% end %>
	    <hr />
		<a href="#" class="btn btn-small" data-toggle-dom="#ticket-sidebar-edit, #ticket-sidebar-details" data-animated><%= t('cancel') %></a>
		<%= f.submit t('update'), :class => "btn btn-small btn-primary pull-right" %>
					
		<% javascript_tag do %> 
			<% if @ticket.ticket_status.deleted? %>
				jQuery("#helpdesk_ticket_status")
					.append('<option disabled="disabled" value="<%= @ticket.status %>"> <%= @ticket.status_name %> </option>')
					.val("<%= @ticket.status %>")
			<% end %>
		<% end %>
	<% end %>
</section>