<% return unless customer_survey_required? %>
<section class="widget" id="survey-sidebar-details">
    <h3 class="lead"><%= t('.title') %></h3>
    <div class="survey-form">
            <% 
                    form_display = ""
                    unless @ticket.survey_results.blank?  
                        form_display = "hide"
                        sresult = @ticket.survey_results.last
                        feedback = ""
                        feedback =  sresult.survey_remark.feedback.body unless sresult.survey_remark.blank?
                        rating_class = "neutral"
                        rating_msg =  current_account.survey.neutral_text
                        if sresult.happy?
                            rating_class = "happy"
                            rating_msg =  current_account.survey.happy_text
                        elsif sresult.unhappy?
                            rating_class = "unhappy"                              
                            rating_msg =  current_account.survey.unhappy_text
                        end
                %>
                <div id="survey-information">   
                    <span class="lead-small">
                        <%= t(".rating_sub_title") %>
                        <i class="icon-smiley-<%=rating_class%>-small"></i>
                        <%= rating_msg %>
                    </span>
                    <div class="help-text">
                        <%= t('.rated_on', :rated_on => sresult.created_at.strftime("%a, %b %d, %Y"))%>
                    </div>
                    <div class="help-text">
                        <%= t('.change_of_mind') %>
                        <b><a href="#" data-toggle-dom="#survey-feedback, #survey-information" ><%= t('.rate_again') %></a></b>
                    </div>
                </div>
                <% end %>
    	<div id="survey-feedback" class="<%= form_display %>">        
            <p><%= t('.survey_title') %></p>
            <div class="survey-buttons">
                <a href="#" id="happy_tab" data-rating="<%=Survey::HAPPY%>">
                    <i class="icon-smiley-happy-small"></i>
                    <%=current_account.survey.happy_text%>
                </a>
                <a href="#" id="neutral_tab" data-rating="<%=Survey::NEUTRAL%>">
                    <i class="icon-smiley-neutral-small"></i>
                    <%=current_account.survey.neutral_text%>
                </a>
                <a href="#" id="unhappy_tab" data-rating="<%=Survey::UNHAPPY%>">
                    <i class="icon-smiley-unhappy-small"></i>
                    <%=current_account.survey.unhappy_text%>
                </a>
            </div>
            <div id="survey-comment" class="hide">
            <% form_for :survey, :url => support_portal_survey_path(@ticket) , :html => { :method => "put" } do %>
                <input type="hidden" name="rating" id="survey-rating" value="">

                <textarea name="feedback" id="survey-description" placeholder="<%= t('.feedback_title') %>"></textarea> 
                
                <input type="button" value="<%= t('.cancel')%>" id="survey-cancel" class="btn btn-small" />
                <input type="submit" value="<%= t('.submit')%>" class="btn btn-primary btn-small pull-right" />
            <% end %>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#happy_tab, #neutral_tab, #unhappy_tab').click(function (ev) {
        	ev.preventDefault()
            if(jQuery(ev.target).hasClass("active")){
                jQuery(this).removeClass("active")
                jQuery('#survey-comment').slideUp()
                jQuery('#survey-rating').val("")
            }else{
            	jQuery(this).addClass("active").siblings().removeClass("active")
            	jQuery('#survey-comment').slideDown()
            	jQuery('#survey-rating').val(jQuery(this).data("rating"))
            }
        });

        jQuery('#survey-cancel').click(function(ev){
            ev.preventDefault();
            if(!jQuery('#survey-information').slideDown().get(0)){
                jQuery('#survey-comment').slideUp();
                jQuery('.survey-buttons a').removeClass("active");
            }else{
                jQuery("#survey-feedback").slideUp();
            }
        });            
    });        
</script>