<section class="widget" id="ticket-sidebar-details">
	<h3 class="lead"><%= t('portal.tickets.details') %></h4>
	<% edit_field_present = false %>
	<% form_for @ticket, :url => { :action => "update", :controller => "support/tickets" }, 
				:html => { :id => 'portal_ticket_form', :rel => "validate" } do |f| %>	
		<% @visible_ticket_fields.each do |field| %>			
			<div id="ticket-field-<%= field.name %>">				
				<% if field.visible_in_view_form? %>					
					<% if field.editable_in_portal %>
						<% edit_field_present = true %>
						<%= ticket_field_container f,:helpdesk_ticket, field, ticket_field_form_value(field, @ticket) %>
					<% elsif field.visible_in_portal %>
						<% field_value = ticket_field_display_value(field, @ticket) %>						
						<% if field_value.present? %>
							<%= ticket_label :helpdesk_ticket, field %>
							<div class="lead-small">
								<%= field_value %>
							</div>
							<% if field.field_type == "nested_field" %>
								<div class="tabbed">
									<% field.nested_ticket_fields.each do |ff|%>
										<% _nest_field_value = ticket_field_display_value(ff, @ticket) %>
										<% if _nest_field_value.present? %>
											<%= ticket_label :helpdesk_ticket, ff %>
											<div class="lead-small"><%= _nest_field_value %></div>
										<% end %>
									<% end %>
								</div>
							<% end %>
						<% end %>
					<% end %>
	      		<% end %>
	      	</div>
		<% end %>

		<% if edit_field_present %>
			<div class="form-actions">
				<%= f.submit t('update'), :class => "btn btn-small btn-primary" %>
			</div>
		<% end %>
	<% end %>
</section>