<section class="widget" id="ticket-sidebar-details">
	<h3 class="light">Ticket details</h4>
	<% @visible_ticket_fields.each do |field| %>
		<% field_value = ticket_field_display_value(field, @ticket) %>
		<% if field_value.present? %>
			<div id="ticket-field-<%= field.name %>">
	 			<h4><%= field.label_in_portal %></h4>
				<div class="lead-small"><%= field_value %></div>
				<% if field.field_type == "nested_field" %>				
					<div class="tabbed">
						<% field.nested_levels.each do |ff|%>
							<% _nest_field_value = @ticket.get_ff_value(ff[:name]) %>
							<% if _nest_field_value.present? %>
								<h4><%= ff[:label_in_portal] %></h4>
								<div class="lead-small"><%= _nest_field_value %></div>
							<% end %>
						<% end %>
					</div>				
				<% end %>
			</div>
		<% end %>
	<% end %>
</section>