<% return unless customer_survey_required? %>
<section class="widget survey-widget-wrapper" id="survey-sidebar-details">
  <h3 class="lead"><%= t('support.tickets.ticket_survey.title_v2') %></h3>
  <div class="survey-form">
    <% 
      choices = current_account.active_custom_survey_from_cache.choices
      default_question_label = current_account.active_custom_survey_from_cache.default_question.label
      survey_result = @ticket.custom_survey_results.last 
    %>
    <%
      unless survey_result.blank?
        ticket_info = survey_result.ticket_info
        feedback = survey_result.survey_remark.try(:feedback).try(:body)
          details = survey_result.note_details
        question_values = details[:question_values]

    %>
    <div id="survey-information">   
        <div class="muted">
                        <%= t("support.tickets.ticket_survey.rating_sub_title_v2") %>
                        <%= t('support.tickets.ticket_survey.rated_on', :rated_on => formated_date(survey_result.created_at, {:format => :short_day_with_week, :include_year => true}))%>
        </div>
        <div>
            <%= t('support.tickets.ticket_survey.change_of_mind') %>
            <a href="#" data-toggle-dom="#survey-feedback, #survey-information">
                <%= t('support.tickets.ticket_survey.rate_again') %>
            </a>
        </div>
        <div class="border-<%=CustomSurvey::Survey::CUSTOMER_RATINGS_STYLE[ticket_info[:value]] %> default_question">
            <div class="muted"><%= ticket_info[:label]%></div>
            <div><%= ticket_info[:text]%></div>
        </div>
        <% if question_values.present? || feedback.present? %>
            <a id="load_questions" href="#" data-toggle-dom="#additional_questions_wrapper,#load_questions">
                <%=t('support.tickets.ticket_survey.load_questions') %>
            </a>
            <div id="additional_questions_wrapper" class="hide">
                <% question_values.each do |question|%>
                <div class="border-<%=CustomSurvey::Survey::CUSTOMER_RATINGS_STYLE[question[:key]] %>">
                    <div class="muted"><%= question[:label] %></div>
                    <div class="rating-text"> <%= question[:value] %></div>
                </div>
                <% end %>
                <% if feedback.present? %>
                    <span class="muted"> <%= t('support.tickets.ticket_survey.comments') %> </span>
                    <p> <%= feedback %></p>
                <% end %>
            </div>
        <% end %>
    </div>

    <% end %>

    <div id="survey-feedback" class="<%= "hide" if survey_result.present? %>"> 
      <% unless survey_result.blank? %>
        <a href="#" class='feedback-text btn btn-mini pull-right' data-show-dom="#load_questions" data-hide-dom="#additional_questions_wrapper" data-toggle-dom="#survey-information, #survey-feedback">
                            <%=t('support.tickets.ticket_survey.cancel') %></a>
      <% end %>
      <p><%= default_question_label %></p>
      <div class="survey-buttons">
        <% !JSON.parse(choices).blank? && JSON.parse(choices).reverse().each_with_index do |option, index|%>
          <%= link_to "<span class=\"survey-rating #{CustomSurvey::Survey::CUSTOMER_RATINGS_STYLE[option["survey_question_choice"]["face_value"]]}\"></span><div class='survey-rating-label'>#{h(option["survey_question_choice"]["value"])}</div>".html_safe , support_portal_custom_survey_path(@ticket,option["survey_question_choice"]["face_value"]), :target => "_blank" %>       
          <%end%>
      </div>
    </div>
  </div>
</section>
<hr class="content-divider" />
