<% content_for :layoutType do -%>ticket_list<%- end %>

  <div class="ssportal_filters" id="all-views">
    <div class="view_filters">  
      <div class="link-item">
        <a href="/helpdesk/tickets" class="drop-right nav-trigger " id="active_filter" menuid="#leftViewMenu">
          <%= @page_title %>
        </a>
      </div>
      <div class="fd-menu" id="leftViewMenu">
        <%= fd_menu_link(t('helpdesk.tickets.views.all_tickets'), "/support/tickets", (current_filter == 'all' or current_filter.blank?) ) %>      
        <%= fd_menu_link(t('open_tickets'),"/support/tickets/filter/open_or_pending", (current_filter == 'open_or_pending') ) %>     
        <%= fd_menu_link(t('resolved_tickets') ,"/support/tickets/filter/resolved_or_closed", (current_filter == 'resolved_or_closed') ) %>
      </div>
    </div>
  </div>


<div class="ticket-list-group tickets-container">   
  <!-- <h3 class="title"><%= @page_title %></h3> -->
       
  <%= link_to("Export", { :action => "configure_export", :a=>params[:action], :i=>params[:id] }, :class => "ssp_export dialog2", :title => "Export to CSV", "data-width" => "650" ) unless @tickets.blank?%>

  <div id="ticket-sub-toolbar">
    <%@items = @tickets%>
    <%= render :partial => "/support/shared/ticket_sort", :locals=>{:is_portal=>true} unless @tickets.empty? %>
  </div>

  <div id="ticket-list">
    <table class="tickets customer_tickets" id="tickets-expanded">	
    <tbody>
      <%= each_or_message("/support/shared/ticket", @tickets, t("helpdesk.tickets.views.no_tickets")) %>
    </tbody>
    </table>   
   <div class="toolbar">
      <%= will_paginate @tickets, :class => "toolbar_pagination_full" %>  
   </div>
  </div>

</div>

<% javascript_tag do %>
  jQuery('.wf_order_type, .wf_order').live("click", function(ev){
      ev.preventDefault();
      setCookie(this.className, this.getAttribute(this.className),'/support/');
      jQuery("#ticket-list").html("<div class='loading-box'></div>"); 
      jQuery.ajax({
        url: "/support/tickets/filter/<%=current_filter%>?partial=true",
        type: "POST",
        dataType: "script",
        success: function(msg){ 
        }
      }); 
    jQuery(this).hide();  
  }); 
<%end%>
