<%= content_tag :h2, @page_title %>
<div class="subnav">
	<ul class="nav nav-pills">
 		<li class="active"><%= link_to(t('helpdesk.tickets.views.all_tickets'), "/support/tickets" ) %></li>
		<li><%= link_to(t('helpdesk.tickets.views.open_or_pending'), "/support/tickets/filter/open_or_pending" ) %></li>     
		<li><%= link_to(t('helpdesk.tickets.views.resolved_or_closed'), "/support/tickets/filter/resolved_or_closed" ) %></li>
	</ul>
</div>
 <table class="table">	
	<tbody>
		<%= each_or_message("/support/shared/ticket", @tickets, t("helpdesk.tickets.views.no_tickets")) %>
	</tbody>
 </table>   

 <div class="toolbar">
    <%= will_paginate @tickets, :class => "toolbar_pagination_full" %>  
 </div>
</div>
             