<% content_for :sidebar do-%><%-end %> 
<%= include_tiny_mce_if_needed %>
<% form_for @ticket, :url => support_tickets_path, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  	<%= content_tag ( :h3, t('ticket.submit_ticket_title') ,:class => "title" ) %>
	<ul class="ui-form">	
		<%# render :partial => 'support/shared/request_form', :object => f %>
    <% current_portal.customer_editable_ticket_fields.each do |field| %>
        <%= construct_ticket_element :helpdesk_ticket, field, 
                                     field.label_in_portal,
                                     (field.dom_type == "requester") ? "email": field.dom_type, 
                                     field.required_in_portal, 
                                     (field.dom_type == "requester") ? @ticket.email : (field.is_default_field?) ? @ticket[field.field_name] : (@ticket.custom_field) ? @ticket.custom_field[field.field_name] : ""  %>
    <% end %>
    <li>
      <%= render :partial=>"/helpdesk/shared/attachment_form"  %>
    </li>
    <% if !logged_in? %>
      <li>
        <%= content_tag ( :label, t('ticket.verify_human') ) %>
        <%= recaptcha_tags :display => { :theme => "white" }  %>
      </li>
    <% end %>
  </ul>
	<div class="button-container">
		<%= f.submit t('ticket.submit_ticket'), :class => "uiButton" %>
		<%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
		<%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>
		<%= link_to t("cancel"), :back, :class => "uiButton" %>
	</div>
<% end %>
