<% content_for :helpcard do -%><%= render :partial => 'helpnote' %><%- end %>

<div class="canned-response-page list-page"  id="can-res-full">
	<div class="list-page-header">
    	<div class="row-fluid">
    		<div class="span6"><h3 class="lead"><%= t('canned_folders.responses') %></h3></div>
    		<div class="span6 pull-right pagination-right ">
          		<b><%= link_to t('canned_folders.new_response'), 
				new_admin_canned_responses_folder_response_path(@ca_res_folder), 
				:id => "new_resp", :class => "btn btn-primary"  %></b> 
         	</div>
    	</div>
    </div>
    <div id="folder-list">
		<div id="folders-panel" >
			<div class="dropdown">
				<%= t('canned_folders.viewing') %>
				<a class="dropdown-toggle" data-toggle="dropdown" id="CaLabel" href="#"><b class='ca_text'>loading...</b><b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" id="ca_new_menu" aria-labelledby="CaLabel">
					<% @ca_res_folders.each do |folds| %>
					<li>
						<a id="folder<%= folds.id %>" href= "<%= admin_canned_responses_folders_path %>/<%= folds.id %>" data-folder="<%= folds.id %>" data-pjax="#body-container"
						data-name="<%= folds.name %>"
						class="catch js-pjax <%= "default-folder" unless !folds.is_default %>"><%= folds.name %> (<%= current_account.canned_responses.count(:conditions => {:folder_id => folds.id}) %>)</a>
					</li>
					<% end %>
				</ul>
				<div id="folder-controls">

					<%= link_to( content_tag(:i, "", 
						            :class => "icon-edit tooltip ", 
						            :title => t('canned_folders.edit'), 
						            :"data-placement" => 'below'
						    ), "#folder_edit_form", 
						    :"data-width" => "400", 
						    :"data-submit-label" => t('save'), 
						    :"data-close-label" => t('cancel'), 
						    :rel => 'freshdialog', 
						    :id => "edit-ca-folder",
						    :class => "hide spacing_left", 
						    :"data-title" => t('canned_folders.rename_folder') )%>
					<%= link_to( content_tag(:i, "", 
						           :class => "icon-trash hide"
						           ), admin_canned_responses_folder_path(@ca_res_folder), 
						    :id => "ca_response_folder",
						    :class => "hide",
						    :method => :delete
						    ) %>
					<a href="#ca-folder-delete-confirmation" 
							id="del"
			 				rel="freshdialog"
			 				class="hide" 
			 				title="<%= t('canned_folders.delete')%>"
			 				data-submit-label="<%= t('confirm') %>"
			 				data-width="400px"
			 				data-close-label="<%= t('cancel') %>">
			 				<i class='icon-trash'></i>
			 		</a>	    
					<%= link_to( content_tag(:span, "<span></span> #{t('canned_folders.create_folder')}".html_safe, 
									:class => "create_new_folder tooltip ", 
									:title => t('canned_folders.create'),
									:"data-placement" => 'below'
							), "#create_folder",
                	    	:"data-width" => "400",
                	    	:"data-submit-label" => t('save'), 
                	    	:"data-close-label" => t('cancel'),
	                	    :id => "create-folder",
	                	    :"data-title" => t('canned_folders.create'),
	                        :rel => 'freshdialog' )%>

			    </div>
			</div>

			<div class="hide canned_delete_folder" id="ca-folder-delete-confirmation">
				<p class="margin-bottom lead-desc"><%= @ca_responses.present? ? t('canned_folders.delete_folder').html_safe : t('canned_folders.delete_empty_folder') %></p>
			</div>
	        
	        <div class="hide canned_create_folder" id="create_folder">
                <%= form_for @new_ca_res_folder, :html => { :rel => "validate"} do |f| %>
					<%= render :partial => "folder_form", :locals => { :f => f } %>
			    <% end %>
            </div> 

            <%= javascript_tag do %>
    			jQuery(".presence_in_list").data("list", <%= raw @ca_res_folders.map(&:name).to_json%>)
    		<% end %>

			<div id="editing" class="hide">
				<div id="edit_form" class="center">
					<%= form_for(@ca_res_folder, :html => {:id => "folder_edit_form"}) do |f| %>
					<div class="form-horizontal">
						<%= f.error_messages :object_name => 'canned_response_folder' %>
						<%= f.text_field :name, :class => "text required" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div id="folder-drop-list">
			<ul id="drop-list"></ul>
		</div>

		<%= form_for :admin_canned_response, :remote => true,
				:url => delete_multiple_admin_canned_responses_folder_responses_path(:ids), 
				:html => {:method => :delete, :id => "ca_res_form"} do |f|%>
			<div class="response-list list-page-body">

				<div class="list-page-table-header">
					<input type="checkbox" id="responses-select-all" class="adjust-margin" />
					<button id="admin_canned_response_submit" class="btn", disabled="disabled",
					  rel="freshdialog"
					  data-target="#cr-delete-confirmation"
					  data-title="<%= t('canned_folders.del') %>"
					  data-width="400"
					  data-submit-label="<%= t('confirm') %>"
					  data-close-label="<%= t('cancel') %>"
					  >
					  <%= t('canned_folders.del') %>
			        </button>
			        <button id="move" class="btn", disabled="disabled"
					  rel="freshdialog"
				      data-target="#moves"
				      data-title="<%= t('canned_folders.Move_to_folder') %>"
				      data-width="400"
				      data-submit-label = "<%= t('canned_folders.move') %>" data-close-label = "<%= t('cancel') %>"><%= t('canned_folders.move') %>
				    </button>
				</div>
				<div id="responses" class="load"><%= render :partial => 'show' %></div>
			</div>

			<div class="hide" id="cr-delete-confirmation">
				<p class="margin-bottom"><%= t('canned_folders.delete_canned_response') %></p>
			</div>

		    <div id="moves" class="hide">
		    	<div class="row-fluid ui-dialog-titlebar">
		    		<%= select_tag "move_folder_id", content_tag(:option,"",:value=>"")+options_from_collection_for_select(@ca_res_folders, 'id', 'name'), :class =>"select2 span8", :placeholder => t("canned_folders.select_folder")%>
                </div>
		    </div>
		<% end %>
	</div>
</div>

<%= javascript_tag do -%>
	var folder_id = <%= @ca_res_folder.id %>;
	var new_ca_path = "<%= new_admin_canned_responses_folder_path %>";
	var ca_path = "<%= admin_canned_responses_folders_path %>/";

	jQuery('body').on('click',"#moves-submit",function(){
	    canned_response_submit("<%= update_folder_admin_canned_responses_folder_responses_path(@ca_res_folder)%>", 
                          'put', ['move_folder_id']);
});

jQuery('#ca-folder-delete-confirmation-submit,#cr-delete-confirmation-submit').live("click", function(){
	jQuery(this).button('loading');
	if(this.id == 'ca-folder-delete-confirmation-submit'){
		jQuery('#ca_response_folder').trigger('click');
	}else{
		jQuery('#ca_res_form').submit();
	}
});


<% end %>

<script src="/javascripts/app/ca_admin_view.js" type="text/javascript"></script>
