<ul class="ui-form">
    <li id="scoreboard_elements" <% unless feature?(:scoreboard_enable) %>style="display:none"<%end%>>
    <div class="gamesettings">
    <% form_remote_tag :url => { :action => "update" }, :before => "if(!callValid()){ return false; }", :html => { :method => :put, :id => "scoreboard_ratings_form" } do %>
    <h3>Award points</h3>
    <div class="row-fluid">
        <div class="span3">
            <strong>
                When agent resolves a ticket:
            </strong>
        </div>        
        <% @scoreboard_ratings.each_with_index do |scoreboard , index| %>
            <%if scoreboard.resolution_speed < 100 %>
                <% fields_for "scoreboard_ratings[#{index}]", scoreboard do |sb| %>
                    <div class="span3">
                        <%= scoreboard.resolution_name %> <br />
                        <%= sb.text_field :score, :value => scoreboard.score, :class => "number number-big required", :maxlength => "5" %>
                        <%= sb.hidden_field :resolution_speed, :value => scoreboard.resolution_speed %>
                        <%= sb.hidden_field :id, :value => scoreboard.id %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span3">
            <strong>
                Bonus points for:
            </strong>
        </div>
        <% @scoreboard_ratings.each_with_index do |scoreboard , index| %>
            <%if scoreboard.resolution_speed < 100 %>
                <% fields_for "scoreboard_ratings[#{index}]", scoreboard do |sb| %>
                    <div class="span3"> 
                        <%= scoreboard.resolution_name %> <br />
                        <%= sb.text_field :score, :value => scoreboard.score, :class => "number number-big required", :maxlength => "5" %>
                        <%= sb.hidden_field :resolution_speed, :value => scoreboard.resolution_speed %>
                        <%= sb.hidden_field :id, :value => scoreboard.id %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>

    <h3><%= t('.title_levels')%></h3>
    <div class="gray-box-rounded">
        <div class="points-box levels">
            <ul class="points">
                <% @scoreboard_levels.each_with_index do |level , index| %>
                    <% fields_for "scoreboard_levels[#{index}]", level do |sl| %>
                    <li>
                        <%= level.name %>
                        <%= sl.text_field :points, :value => level.points, :maxlength => "6", :class => "number required" %></td>
                        <%= sl.hidden_field :id, :value => level.id %>
                    </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <div> <%= t('.info_level_new_agent')%> </div>       
    </div>
    <div class="button-container" style="clear: both;">
        <%= submit_tag t('account.save'), :class => 'uiButton submit' %>
        <a class="uiButton" href="/admin/home">Cancel</a>
    </div>
    <% end %>
    </div>
    </li>
</ul>

<% javascript_tag do %>
    var callValid = function() {
        if(!jQuery('#scoreboard_ratings_form').valid()){
            return false;   
        } else {
            return true;
        }
    };
<%end%>