<ul class="ui-form">
    <li>
        <div class="floatl"><h3 style="font-weight: bold; color: #333; font-size: 19px;"><%= t('.enable_label') %></h3></div>        
        <div id="scoreboard_link_con" class="floatr">               
        <%if @account.features?(:scoreboard_enable)%>
           <%= link_to_function "<strong> #{t('application.enabled')} </strong><span></span>", "toggle_status()",  :id => "scoreboard_status_link", :class => "uiButton special iphone-active" %>
        <%else%>
           <%= link_to_function "<strong> #{t('application.disabled')} </strong><span></span>", "toggle_status()",  :id => "scoreboard_status_link", :class => "uiButton special iphone-inactive" %>
        <%end%>
        </div>      
    </li>
    <li style="border-top:1px solid #ccc;" id="scoreboard_elements" 
    <%unless @account.features?(:scoreboard_enable)%>style="display:none"<%end%>>
    <div class="gamesettings">
    <% form_remote_tag :url => { :action => "update" }, :before => "if(!callValid()){ return false; }", :html => { :method => :put, :id => "scoreboard_ratings_form" } do %>
    <h3><%= t('.title_points_configuration')%></h3>
    <div class="gray-box-rounded">
        <div class="points-box floatl" style="border-right: 1px solid #fff;">
            <h2><%= t('.title_ticket_points')%></h2>
            <ul class="points" style="margin-left: 2px;">
                <% @scoreboard_ratings.each_with_index do |scoreboard , index| %>
                    <%if scoreboard.resolution_speed < 100 %>
                        <% fields_for "scoreboard_ratings[#{index}]", scoreboard do |sb| %>
                            <li> 
                                <%= scoreboard.resolution_name %>
                                <%= sb.text_field :score, :value => scoreboard.score, :class => "number required", :maxlength => "5" %>
                                <%= sb.hidden_field :resolution_speed, :value => scoreboard.resolution_speed %>
                                <%= sb.hidden_field :id, :value => scoreboard.id %>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <div class="points-box  floatl" style="border-left: 1px solid #e9e9e9; padding-left: 20px;">
            <h2><%= t('.title_bonus_points')%></h2>
            <ul class="points">
                <% @scoreboard_ratings.each_with_index do |scoreboard , index| %>
                    <%if scoreboard.resolution_speed > 100 %>
                        <% fields_for "scoreboard_ratings[#{index}]", scoreboard do |sb| %>
                            <li style="margin-right:10px;" > 
                                <%= scoreboard.resolution_name%>
                                <%= sb.text_field :score, :value => scoreboard.score, :class => "number required", :maxlength => "5" %>
                                <%= sb.hidden_field :resolution_speed, :value => scoreboard.resolution_speed %>
                                <%= sb.hidden_field :id, :value => scoreboard.id %>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>
            </ul>
        </div>        
    </div>
    <h3><%= t('.title_levels')%></h3>
    <div class="gray-box-rounded">
        <div class="points-box levels">
            <ul class="points">
                <% @scoreboard_levels.levels_data.each_with_index do |level , index| %>
                    <% fields_for "scoreboard_level[#{index}]", level do |gl| %>
                    <li>
                        <%= level[1] %>
                        <%= gl.text_field :value, :value => level[2], :maxlength => "6", :class => "number required" %></td>
                        <%= gl.hidden_field :id, :value => level[3] %>
                    </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <div> <%= t('.info_level_new_agent')%> </div>       
    </div>
    <h3><%= t('.title_trophies')%></h3>
    <div class="gray-box-rounded quest floatl" style="border-right: 1px solid white;">
         <div class="floatl scoreboard_items">
            <div class="scoreboard-trophy-fcr"></div>
        </div>
        <div class="points-box">
            <h2><%= t('.label_trophie_mvp')%></h2>
            <p><%= t('.label_trophie_mvp_info')%></p>
        </div>    
    </div>

    <div class="gray-box-rounded quest floatl" style="clear: both; border-right: 1px solid white;">
         <div class="floatl scoreboard_items">
            <div class="scoreboard-trophy-forum"></div>
        </div>
        <div class="points-box">
            <h2><%= t('.label_trophie_sharp')%></h2>
            <p><%= t('.label_trophie_sharp_info')%></p>
        </div>    
    </div>

    <div class="gray-box-rounded quest floatl" style="border-left: 1px solid #e9e9e9;">
        <div class="floatl scoreboard_items">
            <div class="scoreboard-trophy-love"></div>
        </div>
        <div class="points-box">
            <h2><%= t('.label_trophie_fcr')%></h2>
            <p><%= t('.label_trophie_fcr_info')%></p>
        </div>    
    </div>
    <div class="gray-box-rounded quest scoreboard_items" style="border-left: 1px solid #e9e9e9;">
        <div class="floatl scoreboard-trophy-sharpshooter"></div>
        <div class="points-box">
            <h2><%= t('.label_trophie_happy')%></h2>
            <p><%= t('.label_trophie_happy_info')%></p>
        </div>    
    </div>
    
    <div class="button-container" style="clear: both;">
        <%= submit_tag t('account.save'), :class => 'uiButton submit' %>
        <a class="uiButton" href="/admin/home">Cancel</a>
    </div>
    <% end %>
    </div>
    </li>
</ul>

<% javascript_tag do %>
    var callValid = function() {
        if(!jQuery('#scoreboard_ratings_form').valid()){
            return false;   
        } else {
            return true;
        }
    };

    function update_status(status_url){
        jQuery.ajax({
            url: status_url,
            type: "post"    
        })
    }
    
    function enable(){
        update_status("/admin/gamification/enable");
    }
    
    function disable(){
        update_status("/admin/gamification/disable");
    }
    
    function toggle_status(){
        jQuery('#scoreboard_status_link').hasClass("iphone-active")? disable() : enable();      
    }
    
    function change_enable_status(status){
       if(status){
        jQuery('#scoreboard_elements').show();
        jQuery('#scoreboard_status_link').removeClass("iphone-inactive").addClass("iphone-active");
        jQuery('#scoreboard_status_link').html('<strong> <%=t('application.enabled')%> </strong><span></span>');        
       }
       else{
        jQuery('#scoreboard_elements').hide();
        jQuery('#scoreboard_status_link').removeClass("iphone-active").addClass("iphone-inactive");
        jQuery('#scoreboard_status_link').html('<strong> <%=t('application.disabled')%> </strong><span></span>');       
       }
    }
<%end%>