<div class="sidepanel helpcard">
	<h4><%= t('.why_game') %> </h4>
	<p> <%= t('.why_game_info1') %> </p>
	<p> <%= t('.why_game_info2') %> </p>
	<h4><%= t("admin.gamification.gamification_settings.title_trophies") %></h4>
	<% [:mvp, :love, :sharpshooter, :speed].each do |leaders| %>
		<div class="lbr-trophy trophy trophy-<%= leaders %>"></div>
		<h4 class="title"><%= t("gamification.leaderboard.#{leaders}_trophie_label") %></h4>
		<p class="intro">
			<%= t("gamification.leaderboard.#{leaders}_trophie_info") %>
		</p>
	<% end %>
	<br />
	<p> <%= t('.why_game_info3') %> </p>
	<p> <%= t('.why_game_info4') %> </p>
	<p> <%= t('.why_game_info5') %> </p>
</div>