<% javascript_tag do %>
 jQuery(document).ready(function(){
	jQuery('input#account_features_scoreboard_enable').click( function(event) {						
		    var form = jQuery('form#scoreboard_enabled');
		    form.submit();
	});		
  });
<% end %>
 
<div class="floatr">
	<%= check_box_tag :scoreboard_enable, 1, feature?(:scoreboard_enable), 
			:rel => "toggle", 
			"data-checked-label" => "enabled", 
			"data-unchecked-label" => "disabled", 
			:onchange => remote_function( :url => toggle_admin_gamification_path, :complete => "jQuery('#scoreboard_elements').toggle();") %>
</div>
<h3 class="title"><%=t('.title')%></h3>

<ul data-tabs="tabs" class="tabs">
	<li class="active first">
		<a id="PointsTab" href="#Points">Points</a>
	</li>
	<li>
		<a id="QuestsTab" href="#Quests">Quests</a>
	</li>
</ul>

<div class="tab-content">
	<div id="Points" class="tab-pane active">
		<%= render :partial => "gamification_settings" %>
	</div>			  
	<div id="Quests" class="tab-pane">
		<%= render :partial => "/admin/quests/index" %>
	</div>
</div>
<% content_for :sidebar do %>
<div class="sidepanel helpcard">
	<p>	<%= t('admin.gamification.helptext') %> </p>
</div>
<%end%>
