<div class="floatr">
	<%= check_box_tag :gamification_enable, 1, feature?(:gamification_enable), 
			:rel => "toggle", 
			"data-checked-label" => "enabled", 
			"data-unchecked-label" => "disabled", 
			:onchange => remote_function( :url => toggle_admin_gamification_path, :complete => "jQuery('#gamification-intro').slideToggle();jQuery('#scoreboard_elements').slideToggle();") %>
</div>
<h3 class="title"><%=t('.title')%></h3>

<div id="scoreboard_elements" <% unless feature?(:gamification_enable) %>style="display:none"<%end%> >
	<ul data-tabs="tabs" class="tabs admin-tabs">
		<li class="active first">
			<a id="points-tab" href="#points"><%= t('admin.gamification.points') %></a>
		</li>
		<li>
			<a id="quests-tab" href="#quests"><%= t('admin.gamification.quests') %></a>
		</li>
	</ul>

	<div class="tab-content">
		<div id="points" class="tab-pane active">
			<%= render :partial => "gamification_settings" %>
		</div>			  
		<div id="quests" class="tab-pane">
			<%= render :partial => "/admin/quests/index" %>
		</div>
	</div>
</div>

<div class="grey-background clearfix" id="gamification-intro" <% if feature?(:gamification_enable) %>style="display:none"<%end%>>	
	<div class="aracde-content">
		<%= image_tag '/images/helpimages/arcade-admin-page.png' %>
		<h2><%= t('admin.gamification.fresh_arcade') %></h2>
		<p>
			<%= t('admin.gamification.index.info1') %>
		</p>
		<p>
			<%= t('admin.gamification.index.info2') %>
		</p>
		<p>	
			<a href="http://www.youtube.com/watch?v=bi6Md5K2nsY" target="_blank"><%= t('admin.gamification.index.video') %>
			</a>
			<br />
			<a href="javascript: jQuery('#gamification_enable').trigger('click'); " class="uiButton special floatr">
				<%= t('admin.gamification.index.enable_arcade') %>
			</a>
		</p>
		<p>			
			<a target="_blank" href="https://support.freshdesk.com/solution/categories/4/folders/59789/articles/27148-gamification">
				<%= t('admin.gamification.index.learn_arcade') %>
			</a>
		</p>
	</div>
</div>

<% javascript_tag do %>
	jQuery('#points-tab, #quests-tab').bind("click", function(){
		jQuery("#gamification-help .active").removeClass("active");
		jQuery('#'+this.id+'-help').addClass('active');
	});
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "help_text" %>
<%end%>
