<%	app = Integrations::Application.find_by_name('surveymonkey') %>
<% if installed_app %>
<div id="survey-fields-container" class="survey-fields-container row-fluid">
	<!-- It is hidden and it is used by JS script to do DOM action -->
	<select class="all_groups_base_reference hide">
		<!-- 0 is the value for all groups.-->
		<option value="">- Select -</option>
		<option value="0">All Groups</option>
		<% current_account.groups.find(:all, :order =>'name').each do |group| %>
			<option value = <%=h(group.id)%> > <%=h(group.name)%> </option>
		<% end %>
	</select>

	<p class="black_and_bold"><%= t('integrations.surveymonkey.edit_form.survey_link_text.label') %></p>
	
	<div class="survey_for_groups m-survey-list">
		<!-- have to iterate row div based on the number of groups configured in the DB -->
		<%if installed_app.configs[:inputs]['groups'] %>
			<% installed_app.configs[:inputs]['groups'].each do |group| %>
				<%= render :partial => "integrations/surveymonkey/surveymonkeyrow", :locals => { :group => group } %>
			<%end%>
		<%else%>
			<%if installed_app.configs[:inputs]['survey_link'] %>
				<% group = [] %>
				<% group[0] = 0 %>
				<% group[1] = { "survey_link" => installed_app.configs[:inputs]['survey_link'] , "survey_id" => installed_app.configs[:inputs]['survey_id'] , "collector_id" => installed_app.configs[:inputs]['collector_id'] } %>
				<%= render :partial => "integrations/surveymonkey/surveymonkeyrow", :locals => { :group => group } %>
			<%else%>
				<%= render :partial => "integrations/surveymonkey/surveymonkeyrow", :locals => { :group => group = nil } %>
			<%end%>
		<%end %>
	</div>

	<div id="load_survey_link" class="hide">
		<iframe id="load_survey_link_iframe" src="" width="100%"> </iframe>
	</div>

	<div class = 'm-survey-add'>
		<div class = 'add-remove-optn add'>+</div>
		<a class="add_group"> Add another group </a>
	</div>

	<div class="survey-text-container">
			<label for="survey_text">
				<span class="black_and_bold"><%= t('integrations.surveymonkey.edit_form.survey_link_text.label') %><sup>*</sup> </span><br/>
				<%= t('integrations.surveymonkey.edit_form.survey_link_text.description') %>
			</label>
			<textarea id="survey_text" class="required" name="configs[survey_text]"><%= installed_app.configs[:inputs]['survey_text'] ||  t('integrations.surveymonkey.edit_form.survey_link_text.default_content') %></textarea>
	</div>

	<div class="send_while_container">
			<div class="send_while">
				<%=t('integrations.surveymonkey.edit_form.send_while_title').html_safe%> <sup>*</sup>
			</div>
			
			<label>
			  <%= "<input type=\"radio\" name=\"configs[send_while]\" value=\"#{Survey::CLOSED_NOTIFICATION}\">".html_safe %>
				<%=t('admin.surveys.satisfaction_settings.send_while_option3').html_safe%>
			</label>
			
			<label>
			  <%= "<input type=\"radio\" name=\"configs[send_while]\" value=\"#{Survey::RESOLVED_NOTIFICATION}\">".html_safe %>
			  <%=t('admin.surveys.satisfaction_settings.send_while_option2').html_safe%>
			</label>
			
			<label>
				<%= "<input type=\"radio\" name=\"configs[send_while]\" value=\"#{Survey::ANY_EMAIL_RESPONSE}\">".html_safe %>
				<%=t('admin.surveys.satisfaction_settings.send_while_option1').html_safe%>
			</label>
			
			<label>
				<%= "<input type=\"radio\" name=\"configs[send_while]\" value=\"#{Survey::SPECIFIC_EMAIL_RESPONSE}\">".html_safe %>
				<%=t('admin.surveys.satisfaction_settings.send_while_option4').html_safe%>
			</label>
	</div>

	<script type="text/javascript">
			jQuery('div.send_while_container input[value="<%=installed_app.configs[:inputs]['send_while'] ||
				Survey::RESOLVED_NOTIFICATION %>"]').prop("checked", true);
	</script>

</div>

	<script type="text/javascript">
	 CustomWidget.include_js('/javascripts/integrations/surveymonkey.js')
	</script>

<% else %>
	<span> <%= t('integrations.surveymonkey.enable_integration_text') %> </span>
	<script type="text/javascript">
		jQuery("#InstallApplication input[type=\"submit\"]").click(function(e){
			e.preventDefault();
			window.location.href = "<%=app.oauth_url({:account_id => current_account.id, :portal_id => current_portal.id})%>";
		});			
	</script>
<%end%>