<div class="m-survey-row">
	<div class = 'm-survey-remove'><div class = 'add-remove-optn remove'>&#8722;</div></div>
	<div class = 'survey-monkey-content'>
		<div class = 'inner-row'>
			<p> For tickets belonging to group </p>
			<select id="" class="group_list required select2">
			</select>
		</div>
		<div class = 'inner-row'>
			<div>
				<p> Use this survey </p>
				<div class="survey-list-wrapper sloading loading-small loading-left">
					<select id="" class="survey_list select2 required">
					</select>
				</div>
			</div>
			<div class="collector-container sloading loading-small loading-left">
				<p> Survey Collector 
				</p>
				<div class="hide collector-list-wrapper">
					<a href="#load_survey_link" rel="freshdialog" title="Preview" data-group="survey-monkey" class="preview-link" data-template-footer=""> preview </a>
					<select id="" class="collector_list select2 required">
					</select>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="configs[groups][<%= group.nil? ? "" : h(group[0]) %>][survey_id]" class="survey_id hide" value="<%= group.nil? ? "" : h(group[1]['survey_id']) %>"/>
	<input type="hidden" name="configs[groups][<%= group.nil? ? "" : h(group[0]) %>][collector_id]" class="collector_id hide"  value="<%= group.nil? ? "" : h(group[1]['collector_id']) %>"/>
	<input type="hidden" name="configs[groups][<%= group.nil? ? "" : h(group[0]) %>][survey_link]" class="survey_link hide" value="<%= group.nil? ? "" : h(group[1]['survey_link']) %>" />
	<input type="hidden" class="group_id hide" value="<%= group.nil? ? "" : h(group[0]) %>"/>
</div>