<tr class="<%= cycle('odd', 'even') %> <%= subject_style(ticket, "need-attention") %>">
	
  <td class="check">
    <%= check_box_tag('ids[]', ticket.to_param, false, :class => 'selector') %>
  </td>

  <td class="name">
  	  <%= user_avatar(ticket.requester) %>
			<span class="need-attention-icon"></span>
      <h3>
        <%= link_to( truncate(h(ticket.subject), { :length => 80 }) + content_tag(:span, " ##{h(ticket.display_id)}", :class => "info-data"), helpdesk_ticket_path({:id => ticket.display_id, :page => params[:page]}), :class => "ticket-description-tip" ) %> 
        <%= content_tag :span, h(truncate(ticket.description, { :length => 350, :omission => "..." })), :class => "hide" %>
	  	</h3>
	  <% unless ticket.requester.nil? %>
			<% content_tag :div, :class => "info-data" do %>
			  <%= content_tag :span, "", :class => "tooltip icon-image source-#{ticket.source_name.to_s.downcase}", :title => t("ticket.reported_from_source", :source => ticket.source_name.to_s.downcase) %>
				<%= t("ticket.reported_on", :username => link_to(h(ticket.requester.display_name), h(ticket.requester), :class => 'user_name' ), :date => formated_date(ticket.updated_at)) %>
			<% end %>
	  <% end %>
  </td>

  <td class="assign">
      <% if ticket.freshness == :new %>
        <%=t('ticket.unassigned')%>
      <% else %>
        <span><%=t('assigned_to')%> <%= link_to(h(ticket.responder.display_name), h(ticket.responder), :class => 'username') %></span>
      <% end %>
	  	<ul>
			<li>
		    <%=t('ticket.status')%> <span><%= h(ticket.status_name) %></span>
		  </li>
			<li class="priority">
			  <%=t('ticket.priority')%> <span class="style_<%=ticket.priority%>"><%= h(ticket.priority_name) %></span>
			</li>
		</ul>
  </td>
	
  <td class="sla">
    <% if( ticket.active? ) %>
  	  <% if(Time.now > ticket.due_by ) %>
			  <%= t('already_overdue',:time_words => distance_of_time_in_words(Time.now, ticket.due_by)) %>
		  <% else %>
		    <%= t('due_in',:time_words => distance_of_time_in_words(Time.now, ticket.due_by)) %>
	    <% end %>  
	  <% else %>
	    <% if( ticket.ticket_states.resolved_at < ticket.due_by ) %>
	      <%= t('resolved_on_time') %>	      
	    <% else %>
	      <%= t('resolved_late') %>	    
	    <% end %>
	  <% end %>
  </td>
</tr>
