<% user_page ||= false %>
<% ticket_style = due_by_values_present?(ticket) ? subject_style(ticket, @onhold_and_closed_statuses) : '' %>
<% modal ||= false %>

<tr class="ticket-status-<%= ticket.status %> " data-ticket="<%= ticket.display_id %>"
	data-association="<%= ticket.association_type || ticket.parent_ticket.present? if (current_account.link_tickets_enabled? || current_account.parent_child_tickets_enabled?) %>">
  <td class="priority-border priority-<%=ticket.priority_key%>"></td>
	<% unless collab_filter_enabled_for?(@current_view) %>
		<td class="check">
			<input class="selector mousetrap" id="ids_" name="ids[]" type="checkbox" value="<%=ticket.to_param%>" data-ticket-status="<%= ticket.status %> ">
		</td>
	<% end %>
  <% unless user_page %>
		<td class="userpic">
			<div class="hideForList">
				<% if (Account.current.customer_sentiment_ui_enabled? && current_user.language=="en") %>
					<%= senti_user_avatar(ticket.requester, @sentiments[ticket.id], :thumb, 'preview_pic circle') %>
				<% else %>
				    <%= user_avatar(ticket.requester, :thumb, 'preview_pic circle') %>
				<% end %>

			</div>
		</td>
	<% end %>

  <td class="name td-ticket-details <%= 'user-page' if user_page %>">
		<div class="ticket_subject">
			<span class="sc-item-cursor priority-border  priority-<%=ticket.priority_key%> shorcuts-info"></span>
			<h3 class="ticket-description-tip <%= ticket_style %>_ticket break-word" data-tip-url="<%= collab_filter_with_group_collab_for?(@current_view) ? latest_note_collab_ticket_url(ticket.display_id) : latest_note_helpdesk_ticket_path(ticket.display_id) %>">

				<% if collab_filter_with_group_collab_for?(@current_view) %>
					<%= link_to( h(ticket.subject) + content_tag(:span, " ##{h(ticket.display_id)}", :class => "ticket_id"), collab_ticket_url(ticket.display_id), "data-pjax" => "#body-container" ) %>
				<% else %>
					<%= link_to( h(ticket.subject) + content_tag(:span, " ##{h(ticket.display_id)}", :class => "ticket_id"), ticket, "data-pjax" => "#body-container" ) %>
				<% end %>

				<% if feature?(:collision) %>
					<div class="index-collision">
						<div rel="view_collision" id="tickets:<%=current_account.id%>:viewers:<%=ticket.id%>"
							class="symbols-ac-viewingon-listview" data-ticket-id="<%= ticket.display_id %>">
							<span rel="viewing_count"></span>
							<span rel="viewing_agents_tip" class="hide"></span>
						</div>
						<div rel="reply_collision" id="tickets:<%=current_account.id%>:replying:<%=ticket.id%>"
							class="symbols-ac-replyon-listview"  data-ticket-id="<%= ticket.display_id %>">
							<span rel="replying_count"></span>
							<span rel="replying_agents_tip" class="hide"></span>
						</div>
					</div>
				<% end %>
			</h3>

			<% unless ticket.requester.nil? %>
				<div class="info-data hideForList">
					<div class="information ellipsis">
						<% if current_account.link_tickets_enabled? || current_account.parent_child_tickets_enabled?%>
							<%= content_tag(:span,
									t("#{TicketConstants::TICKET_ASSOCIATION_TOKEN_BY_KEY[ticket.association_type]}"),
									:class => "association_type") if ticket.association_type.present? %>
						<% end %>
						<% if ticket.outbound_email? %>
							<%= t("ticket.ticket_to", :username => requester(ticket)).html_safe %>
						<% else %>
							<%= t("ticket.ticket_from", :username => requester(ticket)).html_safe %>
						<% end %>
						<%= content_tag(:span, ticket.company.name.presence,
										:class => "company-name") if ticket.company.present? && !ticket.requester.agent? %>
					</div>
					<div class="emphasize">
						<%= t("ticket.ticket_user_list_status_" + ticket.ticket_states.current_state(ticket.outbound_email?),
								:time_ago => time_ago_in_words(ticket.ticket_states.safe_send(ticket.ticket_states.current_state(ticket.outbound_email?)))
							  ).html_safe %>
							  <% if due_by_values_present?(ticket) %>
							  	, <%= sla_status(ticket, @onhold_and_closed_statuses) %>
							  <% end %>
					</div>
				</div>
			<% end %>
		</div>
  </td>

  <% style_tooltip = ticket_style == "customer_responded_overdue" ? t("helpdesk.tickets.friendly_status.overdue") : "" %>
  <% style_class = ticket_style == "customer_responded_overdue" ? 'customer_responded_overdue_hover' : "" %>

  <td class="td-ticket-status hideForList">
		<%= ("<span class='#{ticket_style} subject_style tooltip' data-original-title = '#{style_tooltip}' data-placement = 'left'><span class= '#{style_class}' ></span>" + t("helpdesk.tickets.friendly_status.#{ticket_style}") + "</span>").html_safe unless ticket_style.blank? %>
	</td>

  <td class="source-icon hideForList">
		<div class="status-source source-detailed-<%= Account.current.helpdesk_sources.default_ticket_source_token_by_key[ticket.source].to_s %> hideForList"
	  		title="<%= t("ticket.reported_from_source", :source => ticket.source_name.to_s.downcase) %>">  
	  </div>
  </td>

  <td class="assign hideForList">
	  <ul>
	  	<li class="<%= quick_action unless modal %>" title="<%= 'Change Agent' unless modal %>"
  			data-object='ticket' data-object-id="<%= ticket.display_id %>" data-type="agent"
  			data-options="#ticket_agents" >

  			<label><%=t('ticket.assigned_agent')%>: </label>
				<% if ticket.freshness == :new %>
					<% unless collab_filter_enabled_for?(@current_view) %>
						<a href="javascript:void(0)" class="result"><%=t('ticket.assigned_none')%></a>
					<% else %>
						<span class="result"><%=t('ticket.assigned_none')%></span>
					<% end %>
				<% else %>
					<% unless collab_filter_enabled_for?(@current_view) %>
						<a href="javascript:void(0)" class="result"><%=h(ticket.responder.display_name)%></a>
					<% else %>
						<span class="result"><%=h(ticket.responder.display_name)%></span>
					<% end %>	
				<% end %>
			</li>

	  	<li class="<%= quick_action unless modal %>" title="<%= 'Change Status' unless modal %>"
	  			data-object='ticket' data-object-id="<%= ticket.display_id %>"  data-type="status" data-options="#ticket_statuses">
				<label><%=t('ticket.status')%>: </label>
				<% unless collab_filter_enabled_for?(@current_view) %>
					<a href="javascript:void(0)" class="result"><%= h(ticket.status_name.html_safe) %></a>
				<% else %>
					<span class="result"><%= h(ticket.status_name.html_safe) %></span>
				<% end %>
			</li>

			<li class="<%= quick_action unless modal %>" title="<%= 'Change Priority' unless modal %>"
				data-object='ticket' data-object-id="<%= ticket.display_id %>" data-type="priority" data-options="#ticket_priorities">
				<label><%=t('ticket.priority')%>: </label>
				<% unless collab_filter_enabled_for?(@current_view) %>
					<a href="javascript:void(0)" class="result"><%= h(ticket.priority_name) %></a>
				<% else %>
					<span class="result"><%= h(ticket.priority_name) %></span>
				<% end %>
			</li>
		</ul>
  </td>
</tr>
