<tr class="<%= cycle('stripe', '') %>">
	
  <td class="check">
    <%= check_box_tag('ids[]', ticket.to_param,  false, :class => 'selector') %>
  </td>

  <td class="name">
  	  <%= user_avatar(ticket.requester.avatar) %>
      <h3> <%= link_to(h(ticket.subject) + " (##{ticket.display_id})", ticket, :title => ticket.description, :class => "ticket-description-tip" ) %> </h3>
	  <% unless ticket.requester.nil? %>
		<div> Reported by <%= link_to(h(ticket.requester.display_name), ticket.requester, :class => 'user_name' ) %>, on <%= formated_date(ticket.created_at) %> </div>
	  <% end %>
  </td>

  <td class="assign">
      <% if ticket.freshness == :new %>
        Unassigned
      <% else %>
        <span>Assigned to <%= link_to(h(ticket.responder.display_name), ticket.responder, :class => 'username') %></span>
      <% end %>
	  	<ul>
			<li>
		        Status <span><%= ticket.status_name %></span>
		    </li>
			<li class="priority">
			    Priority <span class="style_<%=ticket.priority%>"><%= ticket.priority_name %></span>
			</li>
		</ul>
  </td>
	
  <td class="sla">
  		<% if(Time.now > ticket.due_by ) %>
			Already Overdue for <%= distance_of_time_in_words(Time.now, ticket.due_by) %>
		<% else %>
			Due in <%= distance_of_time_in_words(Time.now, ticket.due_by) %> 
		<% end %>  
  </td>
</tr>
