<tr class="<%= cycle('stripe', '') %>">

  <td class="check">
    <%= check_box_tag('ids[]', ticket.to_param,  false, :class => 'selector') %>
  </td>

  <!--td class="status">
    <div class="negative <%= ticket.freshness %>">
      <%= ticket.freshness %>
    </div>
  </td-->

  <td class="name">
      <h3>
        <%= link_to(h(ticket.subject) + " (##{ticket.display_id})", ticket) %> 
      </h3> 
      	<%= h(truncate(ticket.description, :length => 200)) %>
	  
	  <% unless ticket.requester.nil? %> 
	  <div>
	  	from <%= link_to(h(ticket.requester.name), ticket.requester, :class => 'user_name') %>
	  </div>
	  <% end %>
	  <!--	  
	  <ul class="tags">
        <%= ticket.tags.map { |t| content_tag(:li, link_to(h(t.name), t)) }.join %>
      </ul>
	  -->
  </td>

  <td class="assign">
      <% if ticket.freshness == :new %>
        <button class="accept-button" action="<%= assign_helpdesk_ticket_url(ticket) %>">Take It</button> 
      <% else %>
        <span>Assigned to <%= link_to(h(ticket.responder.name), ticket.responder, :class => 'username') %></span>
      <% end %>
	  	<ul>
			<li>
		        status: <span><%= ticket.status_name %></span>
		    </li>
			<li class="priority">
				priority: <span class="high">high</span>
			</li>
		</ul>
  </td>
  
  <td class="sla">
		Due in 15 minutes  
  </td>

</tr>
