<tr class="<%= cycle('odd', 'even') %>">
	
  <td class="check">
    <%= check_box_tag('ids[]', ticket.to_param, false, :class => 'selector') %>
  </td>

  <td class="name">
  	  <%= user_avatar(ticket.requester) %>
      <h3 style="<%=subject_style(ticket)%>">
        <%= link_to( truncate(h(ticket.subject), { :length => 80 }) + content_tag(:span, " ##{ticket.display_id}", :class => "info-data"), ticket, :title => truncate(ticket.description, { :length => 350, :omission => "..." }), :class => "ticket-description-tip" ) %> 
	  </h3>
	  <% unless ticket.requester.nil? %>
			<% content_tag :div, :class => "info-data" do %>
			  <%= content_tag :span, "", :class => "custom-tip-bottom icon-image source-#{ticket.source_name.downcase}", :title => t("ticket.reported_from_source", :source => ticket.source_name.downcase) %> 
				<%= t("ticket.reported_on", :username => link_to(h(ticket.requester.display_name), ticket.requester, :class => 'user_name' ), :date => formated_date(ticket.created_at)) %>
			<% end %>
	  <% end %>
  </td>

  <td class="assign">
      <% if ticket.freshness == :new %>
        <%=t('ticket.unassigned')%>
      <% else %>
        <span><%=t('assigned_to')%> <%= link_to(h(ticket.responder.display_name), ticket.responder, :class => 'username') %></span>
      <% end %>
	  	<ul>
			<li>
		    <%=t('ticket.status')%> <span><%= ticket.status_name %></span>
		  </li>
			<li class="priority">
			  <%=t('ticket.priority')%> <span class="style_<%=ticket.priority%>"><%= ticket.priority_name %></span>
			</li>
		</ul>
  </td>
	
  <td class="sla">
    <% if( ticket.active? ) %>
  	  <% if(Time.now > ticket.due_by ) %>
			  <%= t('already_overdue',:time_words => distance_of_time_in_words(Time.now, ticket.due_by)) %>
		  <% else %>
		    <%= t('due_in',:time_words => distance_of_time_in_words(Time.now, ticket.due_by)) %>
	    <% end %>  
	  <% else %>
	    <% if( ticket.ticket_states.resolved_at < ticket.due_by ) %>
	      <%= t('resolved_on_time') %>	      
	    <% else %>
	      <%= t('resolved_late') %>	    
	    <% end %>
	  <% end %>
  </td>
</tr>
