<% ticket_style = subject_style(ticket,@onhold_and_closed_statuses) %>
<% modal ||= false %>
<tr class="ticket-status-<%= ticket.status %> " data-ticket="<%= ticket.display_id %>">
  <td class="priority-border priority-<%=ticket.priority_key%>"></td>
  <td class="check">
  	<input class="selector" id="ids_" name="ids[]" type="checkbox" value="<%=ticket.to_param%>">
  </td>

  <td class="name">
	<span class="hideForList">
		<%= user_avatar(ticket.requester,:thumb, "preview_pic" , { :width => "45px", :height => "45px" }) %>
	</span>
	<div class="ticket_subject">
		<h3 class="ticket-description-tip <%= ticket_style %>_ticket" data-tip-url="<%= latest_note_helpdesk_ticket_url(ticket) %>">
			<%= link_to( h(ticket.subject) + content_tag(:span, " ##{h(ticket.display_id)}", :class => "ticket_id"), ticket ) %>
			<%if feature?(:agent_collision) %>
				<div class="index-collision">
					<div rel="view_collision" id="tickets:<%=current_account.id%>:viewers:<%=ticket.id%>"
						class="symbols-ac-viewingon-listview" data-ticket-id="<%= ticket.display_id %>">
						<span rel="viewing_count"></span>
						<span rel="viewing_agents_tip" class="hide"></span>
					</div>
					<div rel="reply_collision" id="tickets:<%=current_account.id%>:replying:<%=ticket.id%>"
						class="symbols-ac-replyon-listview"  data-ticket-id="<%= ticket.display_id %>">
						<span rel="replying_count"></span>
						<span rel="replying_agents_tip" class="hide"></span>
					</div>
				</div>
			<% end %>
		</h3>

		<% unless ticket.requester.nil? %>
			<div class="info-data hideForList">
				<% user_page ||= false %>
				<% sentence_type = user_page ? "ticket_user_list_status_" : "ticket_list_status_" %>
				
				<%= t("ticket." + sentence_type + ticket.ticket_states.current_state, 
						:username => requester(ticket),
						:time_ago => time_ago_in_words(ticket.ticket_states.send(ticket.ticket_states.current_state))) 
				%>
				<div class="emphasize"><%= sla_status(ticket,@onhold_and_closed_statuses) %></div>
			</div>
		<% end %>
	</div>
  </td>
  <td class="ralign hideForList">
		<%= "<span class='#{ticket_style} subject_style'>" + t("helpdesk.tickets.friendly_status.#{ticket_style}") + "</span>" unless ticket_style.blank? %>
	</td>
  <td class="source-icon hideForList">
	<div class="status-source source-detailed-<%= ticket.source_name.to_s.downcase %> hideForList" 
  		title="<%= t("ticket.reported_from_source", :source => ticket.source_name.to_s.downcase) %>"
  		>  </div>
  </td>
  <td class="assign hideForList">
	  	<ul>
	  		<li class="<%= quick_action unless modal %>" title="Change Agent" 
	  			data-object='ticket' data-object-id="<%= ticket.display_id %>" data-type="agent"  
	  			data-options="#ticket_agents" >

	  			<label><%=t('ticket.assigned_agent')%>: </label>
				<% if ticket.freshness == :new %>
					<span class="result"><%=t('ticket.assigned_none')%></span>
				<% else %>
					<span class="result"><%=h(ticket.responder.display_name)%></span>
				<% end %>
			</li>
	  	<li class="<%= quick_action unless modal %>" title="Change Status"  
	  			data-object='ticket' data-object-id="<%= ticket.display_id %>"  data-type="status" data-options="#ticket_statuses">
				<label><%=t('ticket.status')%>: </label>
				<span class="result"><%= h(ticket.status_name) %></span>
			</li>
			<li class="<%= quick_action unless modal %>" title="Change Priority"  
				data-object='ticket' data-object-id="<%= ticket.display_id %>" data-type="priority" data-options="#ticket_priorities">
				<label><%=t('ticket.priority')%>: </label>
				<span class="result"><%= h(ticket.priority_name) %></span>
			</li>
		</ul>
  </td>
</tr>