<tr class="<%= cycle('odd', 'even') %> <%= subject_style(ticket, "need-attention") %>">
	
  <td class="check priority-<%=ticket.priority_key%>">
    <%= check_box_tag('ids[]', ticket.to_param, false, :class => 'selector') %>
  </td>

  <td class="name">
	<span class="hideForList"><%= user_avatar(ticket.requester) %></span>
	<div class="ticket_subject">
		<h3>
			<span class="need-attention-icon"></span>
			<%= link_to( h(ticket.subject) + content_tag(:span, " ##{h(ticket.display_id)}", :class => "info-data"), helpdesk_ticket_path({:id => ticket.display_id, :page => params[:page]}), :class => "ticket-description-tip", "data-tip-url" => latest_note_helpdesk_ticket_url(ticket) ) %> 
		</h3>
		<% unless ticket.requester.nil? %>
			<% content_tag :div, :class => "info-data hideForList" do %>
			  <%= content_tag :span, "", :class => "tooltip icon-image grey-source-#{ticket.source_name.to_s.downcase}", :title => t("ticket.reported_from_source", :source => ticket.source_name.to_s.downcase), "data-placement" => "left" %>
				<%= t("ticket.reported_on_ticket_list", :username => link_to(h(ticket.requester.display_name), ticket.requester, :class => 'user_name' ), :time_words => time_ago_in_words(ticket.updated_at), :date => formated_date(ticket.updated_at)) %>
			<% end %>
		<% end %>
	</div>
  </td>
  <td class="requester_info hideForDetails">
  	<%= h(ticket.requester.display_name) %>
  </td>
  <td class="ticket_info hideForDetails"><%= t("helpdesk.tickets.tabular_view.time_ago", :time_in_words => time_ago_in_words(ticket.updated_at)) %></td>
  <td class="assign hideForList">
	  	<ul>
	  		<li>
				<% if ticket.freshness == :new %>
					<span><%=t('ticket.unassigned')%></span>
				<% else %>
				<%=t('assigned_to')%>: <span><%= link_to(h(ticket.responder.display_name), ticket.responder, :class => 'username') %></span> 	
				<% end %>
			</li>
			<li>
				<%=t('ticket.status')%>: <span><%= h(ticket.status_name) %></span>
			</li>
			<li class="priority">
				<%=t('ticket.priority')%>: <span class="style_<%=ticket.priority%>"><%= h(ticket.priority_name) %></span>
			</li>
		</ul>
  </td>
  <td class="hideForDetails">
  	<% if ticket.freshness == :new %>
		<span><%=t('ticket.unassigned')%></span>
	<% else %>
	<%= link_to(h(ticket.responder.display_name), ticket.responder, :class => 'user_name' ) %>
	<% end %>
  </td>
  <td class="hideForDetails">
  	<%= h(ticket.status_name) %>
  </td>
  <td class="hideForDetails">
  	<span class="style_<%=ticket.priority%>"><%= h(ticket.priority_name) %></span>
  </td>

  <td class="sla hideForList">
    <% if( ticket.active? ) %>
  	  <% if(Time.now > ticket.due_by ) %>
			  <%= t('already_overdue',:time_words => distance_of_time_in_words(Time.now, ticket.due_by)) %>
		  <% else %>
		    <%= t('due_in',:time_words => distance_of_time_in_words(Time.now, ticket.due_by)) %>
	    <% end %>  
	  <% else %>
	    <% if( ticket.ticket_states.resolved_at < ticket.due_by ) %>
	      <%= t('resolved_on_time') %>	      
	    <% else %>
	      <%= t('resolved_late') %>	    
	    <% end %>
	  <% end %>
  </td>
</tr>
