<%= f.error_messages %>
<ul class="ui-form">
  	<li>
		<%= f.label :name, t('name') %>
   		<%= f.text_field :name, :class => "required" %>
		<%= f.hidden_field :id %>
	</li>
	<li>
		<%= f.label :description, t('description') %>
	    <%= f.text_area :description, :class => "smallpara" %>
	</li>	 
	<li class="seperator"></li>
	<li>
		<label><%=t('sla_policy.sla_targets')%></label>
	</li>
	<li class="grid">	 	 		
		<table>
	  		<tr>
	    		<th><%=t('sla_policy.tickets_with')%> </th>
	    		<th><%=t('ticket.singular')%> <br /> <%=t('sla_policy.response_time')%></th>
	    		<th><%=t('ticket.singular')%> <br /> <%=t('sla_policy.resolution_time')%></th>	    		
				<% if feature?(:business_hours) %>
					<th><%=t('sla_policy.business_time')%>/ <br/><%=t('sla_policy.calendar_time')%></th>
				<% end %>
				<th><%=t('sla_policy.escalate_to')%></th>
	  		</tr>
	 		<% 
				sla_size = @sla_policy.sla_details.size
				@sla_policy.sla_details.each_with_index do |slas , index| %>
		 		<% fields_for "SlaDetails[#{index}]", slas do |sla| %>
					<%
					 priority_id = slas.priority || (sla_size-index)
					 priority = Helpdesk::SlaDetail::PRIORITY_NAMES_BY_KEY[priority_id]  %>
					<tr>
						<td>
							<%= sla.label :name , "#{index+1}. <em>#{priority} priority</em>"  %> <%= sla.hidden_field :name, { :value => "SLA for #{priority} priority"} %>
							<%= sla.hidden_field :priority, { :value => (priority_id)} %>
							<%= sla.hidden_field :id, { :value => slas.id} %>		
						</td>	   
						<td>
							<%= sla.select :response_time , Helpdesk::SlaDetail::RESPONSETIME_OPTIONS %>
						</td>
						<td>
						  	<%= sla.select :resolution_time, Helpdesk::SlaDetail::RESOLUTIONTIME_OPTIONS %>
						</td>
						<% if feature?(:business_hours) %> <td><%= sla.select :override_bhrs, Helpdesk::SlaDetail::SLA_TIME_OPTIONS %></td> <% end %>
						<td> 
							<%= sla.collection_select :escalateto, Agent.technician_list(current_account.id), :id, :name, {:include_blank => '...'} %>
						</td>
						
					</tr>
		  		<% end %>
			<% end %>
		</table>
	</li>
</ul> 