<%= f.error_messages %>
<ul class="ui-form">
  	<li>
		<%= f.label :name %>
   		<%= f.text_field :name, :class => "required" %>
		<%= f.hidden_field :id %>
	</li>
	<li>
		<%= f.label :description %>
	    <%= f.text_area :description, :class => "smallpara" %>
	</li>	 
	<li class="seperator"></li>
	<li>
		<label>SLA Targets</label>
	</li>
	<li class="grid">	 	 		
		<table>
	  		<tr>
	    		<th>Tickets with </th>
	    		<th>Ticket <br /> Response time</th>
	    		<th>Ticket <br /> Resolution time</th>
	    		<th>Escalate to</th>
				<th>Override <br />Business Hours</th>
	  		</tr>
	 		<% 
				sla_size = @sla_policy.sla_details.size
				@sla_policy.sla_details.each_with_index do |slas , index| %>
		 		<% fields_for "SlaDetails[#{index}]", slas do |sla| %>
					<% priority = Helpdesk::SlaDetail::PRIORITY_NAMES_BY_KEY[sla_size-index] %>
					<tr>
						<td>
							<%= sla.label :name , "#{index+1}. <em>#{priority} priority</em>"  %> <%= sla.hidden_field :name, { :value => "SLA for #{priority} priority"} %>
							<%= sla.hidden_field :priority, { :value => (sla_size-index)} %>
							<%= sla.hidden_field :id, { :value => slas.id} %>		
						</td>	   
						<td>
							<%= sla.select :response_time , Helpdesk::SlaDetail::RESPONSETIME_OPTIONS %>
						</td>
						<td>
						  	<%= sla.select :resolution_time, Helpdesk::SlaDetail::RESOLUTIONTIME_OPTIONS %>
						</td>
						<td> 
							<%= sla.collection_select :escalateto, Agent.technician_list(current_account.id), :id, :name, {:include_blank => '...'} %>
						</td>
						<td>
						  	<%= sla.check_box :override_bhrs%>
						</td>
					</tr>
		  		<% end %>
			<% end %>
		</table>
	</li>
</ul> 