<%= f.error_messages %>
<% conditions = @sla_policy.conditions || {} %>
<% esc_conditions = @sla_policy.escalations || {} %>

<div class="dont-validate form-horizontal">
  	<div class="control-group">
		<%= f.label :name, t('name'), :class => "control-label" %>
		<div class="controls">
   			<%= f.text_field :name, :class => "required", :autofocus => true %>
			<%= f.hidden_field :id %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :description, t('description'), :class => "control-label" %>
		<div class="controls">
	    	<%= f.text_area :description, :class => "smallpara" %>
		</div>
	</div>
	<br/>
	<div class="row-fluid">
		<div class="control-group">
			<label class="large"><%=t('sla_policy.sla_targets')%></label>
			<p class="muted"><%= t('sla_policy.sla_targets_details') %></p>
		</div>
		<div class="alert alignleft">
			<%= t('sla_policy.sla_rule_info1').html_safe %> <br>
			<%= t('sla_policy.sla_rule_info2').html_safe %>
		</div>
	</div>
	<div>	 	 		
		<table class="table sla-table">
	  		<tr>
	    		<th><%= t('ticket.priority').html_safe %></th>
	    		<th><%= t('sla_policy.respond_within').html_safe %></th>
	    		<th><%= t('sla_policy.resolve_within').html_safe %></th>	    		
				<% if feature?(:business_hours) %>
					<th><%= t('sla_policy.op_hrs').html_safe %></th>
				<% end %>
					<th><%= t('sla_policy.escalation_email').html_safe %></th>
	  		</tr>
	 		<% 
				sla_size = @sla_policy.sla_details.size
				@sla_policy.sla_details.each_with_index do |slas , index| %>
		 		<%= fields_for "SlaDetails[#{index}]", slas do |sla| %>
					<%
					 priority_id = slas.priority || (sla_size-index)
					 priority = Helpdesk::SlaDetail::PRIORITY_NAMES_BY_KEY[priority_id]  %>
					<tr>
						<td>
							<%= sla.label :name , "#{t(priority)}".html_safe %> 
							<%= sla.hidden_field :name, { :value => "SLA for #{priority} priority"} %>
							<%= sla.hidden_field :priority, { :value => (priority_id)} %>
							<%= sla.hidden_field :id, { :value => slas.id} %>		
						</td>
						<td class="sla-time-col">
							<%= text_field "text[#{index}]", :response_time, :value => get_value(slas.response_time) %>
							<%= select "select[#{index}]",:response_time, options_for_select(sla_options, get_value(slas.response_time, true)),{},{:class =>'select2'} %>
							<%= sla.text_field :response_time, {:class => 'only_digits sla_time', :style => 'display: none;'} %>
						</td>
						<td class="sla-time-col">
					  		<%= text_field "text[#{index}]", :resolution_time, :value => get_value(slas.resolution_time) %>
							<%= select "select[#{index}]",:resolution_time, options_for_select(sla_options, get_value(slas.resolution_time, true)),{},{:class =>'select2'} %>
							<%= sla.text_field :resolution_time, {:class => 'only_digits sla_time', :style => 'display: none;'} %>
						</td>
						<% if feature?(:business_hours) %> <td><%= sla.select :override_bhrs, 
							Helpdesk::SlaDetail::SLA_TIME_OPTIONS, {}, {:class =>'select2'} %></td> <% end %>
						<td>
							<%= sla.check_box :escalation_enabled, {:rel => "sla_checkbox"}, 1 , 0 %>
						</td>
					</tr>
		  		<% end %>
			<% end %>
		</table>
	</div>
</div>
<ul class="ui-form dont-validate">
	<% unless @sla_policy.is_default %>
	<li>
		<%= f.label :conditions, "#{t('sla_policy.applicable_to').html_safe}:" , :class => "large" %>
		<p class="muted mt5" ><%= t('sla_policy.applicable_details').html_safe %></p>
		<label for="sla_policy_conditions" class="hide" data-error-text="<%= t('sla_policy.applicable_error').html_safe %>">
		</label>
	    <%= f.fields_for :conditions do |a| %>
	    <div class="sla_policy_conditions_container">
	    	<div class="fast_autocomplete condition <%= @companies.blank? ? "hide" : "" %>" id="company_id">
	    		<span class='delete_conditions'></span>
	    		<label class='inline_text'><%= t('user.company') %></label>
	    		<div class="condition_autocompleter">
	    			<%= a.text_field :company_id, :id => "autocomplete_companies" %>
	    		</div>
	    	</div>

	    	<% ([[:group_id, t('ticket.group')], [:product_id, t('ticket_fields.fields.product')], 
	    		 [:source, t('ticket.source')], [:ticket_type, t('ticket.type')]]).each do |type| %>
					<div class="condition <%= conditions[type[0]].blank? ? "hide" : "" %>" id=<%= type[0] %>>
						<span class='delete_conditions'></span>
						<label class='inline_text'><%= type[1] %></label>
						<div class="condition_autocompleter">
							<%= a.select type[0], options_for_select(self.send("#{type[0]}_list"), 
								:selected => (conditions[type[0]] || {}) ), 
								{}, {:multiple => true, :placeholder => t("sla_policy.#{type[0].to_s}_placeholder"),
									   :class => 'select2-conditions'} %>
						</div>
		    	</div>
		    <% end %>
		    <%= f.fields_for :datatype do |a| %>
		    	<%= a.hidden_field :'ticket_type', :value => 'text'%>
		    <% end %>
	    	<div class="add_new_condition hide" >
	    		<div class="btn-group">
		  			<a class="btn dropdown-toggle" data-toggle="dropdown" title="<%= t('sla_policy.applicable_info') %>">
		  				<div class="icon-detail"><span class="symbols-add"></span></div>
		  					<%= t('sla_policy.add_new').html_safe %>
		  				<span class="caret"></span>
		  			</a>
		  			<ul class="dropdown-menu" role="menu">
              <li><a href="#" data-cond="company_id" 
              			 class="condition_list"><%= t('user.company') %></a></li>
              <li><a href="#" data-cond="group_id" 
              			 class="condition_list"><%= t('ticket.group') %></a></li>
              <li><a href="#" data-cond="product_id" 
              			 class="condition_list"><%= t('ticket_fields.fields.product') %></a></li>
              <li><a href="#" data-cond="source" 
              			 class="condition_list"><%= t('ticket.source') %></a></li>
              <li><a href="#" data-cond="ticket_type" 
              			 class="condition_list"><%= t('ticket.type') %></a></li>
            </ul>
           </div>
		  	</div>

		  </div>	
	    <% end %>
	</li>
	<% end %>

	<%= render  :partial => 'sla_reminder', :locals => {:f => f ,:esc_conditions => esc_conditions}%>
	<%= render  :partial => 'sla_escalation', :locals => {:f => f ,:esc_conditions => esc_conditions}%>
	
</ul>
<div class="button-container">
	<%= link_to t('cancel'), helpdesk_sla_policies_path, :class => "btn" %>
	<%= f.submit t('save'), :class => "btn btn-primary" %>
</div>	 

<%= javascript_include_tag :'cdn/admin/sla_policy.js' %>
<%= javascript_tag do %>
	var time = <%= ActiveSupport::JSON.encode(@time && {1 => @time['resolution_1'], 
										2 => @time['resolution_2'],	3 => @time['resolution_3'], 
										4 => @time['resolution_4']}).html_safe %> || {};
	var autocomplete_companies_url = '<%= company_autocomplete_helpdesk_authorizations_path %>';
	var agent_autocomplete_path = '<%= agents_search_autocomplete_index_path %>';

	var agents_hash = <%= ActiveSupport::JSON.encode(@agents_cache).html_safe %>  || {} ;
	var companies = <%= ActiveSupport::JSON.encode(@companies).html_safe %> || [];

	var assigned_agent_id = '<%= Helpdesk::SlaPolicy::custom_users_id_by_type[:assigned_agent] %>';
	var assigned_agent_value = '<%= Helpdesk::SlaPolicy::custom_users_value_by_type[:assigned_agent] %>';
	var assigned_agent_desc = '<%= Helpdesk::SlaPolicy::custom_users_desc_by_type[:assigned_agent] %>';
	
	var is_default = <%= @sla_policy.is_default %>
	var placeholder = { company: '<%= t('sla_policy.company_placeholder').html_safe %>', 
											agent: '<%= t('sla_policy.agent_placeholder').html_safe %>'}

	updateInSeconds = function(field) {
		var value = jQuery("#text_"+field).val().replace(' ','');
		var seconds_multiplier = jQuery("#select_"+field).val();
		if(/^\d+$/.test(value)) {
			value = value * seconds_multiplier;
			jQuery("#SlaDetails_"+field).val(value).blur();
		}
		else {
			jQuery("#SlaDetails_"+field).val("a").blur();	
		}
	}

	jQuery('[id^="text"][id$="_time"],[id^="select"][id$="_time"]').each(function(){
		var field = jQuery(this).prop('id').match(/[0-9].+/);
		updateInSeconds(field);
    });

	jQuery(document).ready(function(){
		jQuery('.sla-time-col a, .sla-time-col div input').prop('tabIndex','-1');

		jQuery('[id^="text"][id$="_time"],[id^="select"][id$="_time"]').on("change",function(){
			var field = jQuery(this).prop('id').match(/[0-9].+/);
			updateInSeconds(field);
		});

		jQuery(document).on('click', '#sla_remainder', function(){
			jQuery(this).parents('li').siblings('.sla_remainder_wrapper').toggleClass('hide');
			jQuery(this).parent().hide(200);
		})
	});
<% end %>
