<h3 class="title"><%=t('sla_policy.helpcard.title')%></h3>
<%=t('sla_policy.helpcard.info1')%>
<h3 class="title"><%=t('sla_policy.helpcard.title1')%></h3>
<%=t('sla_policy.helpcard.info2')%>
<h3 class="title"><%=t('sla_policy.helpcard.title2')%></h3>
<%=t('sla_policy.helpcard.info3')%>