<h3 class="title"><%=t('sla_policy.helpcard.title')%></h3>
<%=t('sla_policy.helpcard.info_1')%>
<h3 class="title"><%=t('sla_policy.helpcard.title_1')%></h3>
<%=t('sla_policy.helpcard.info_2')%>
<h3 class="title"><%=t('sla_policy.helpcard.title_2')%></h3>
<%=t('sla_policy.helpcard.info_3')%>