

<li>
	<%= f.label :conditions, "#{t('sla_policy.escalate').html_safe}", :class => "large" %>
		<div class="escalate_to">
			<label><%= t('sla_policy.escalation_rule_response_text').html_safe %></label>
			<div class="grid">
				<table data-max-level=1 data-type="response" class="sla_policies">
					<%= select_tag('response_time', 
									options_for_select(escalation_time_options), 
									{:class => "hide"}) %>
				 	<%= f.fields_for :escalations do |e| %>
				 		<%= e.fields_for "response" do |response|%>	
				 			<%= response.fields_for "1"  do |i| %>
								<tr data-level = "1" data-type = "response" rel = "reconstruct" 
										class='<%= (@esc_agents || {})['response_1'] ? "" : "hide" %> escalations response' 
										id="response_level_1">
									<%= render :partial => 'sla_matrix', 
														 :locals => {
														 		:index => "0", :i => i, 
										 						 :options => 
																	{:type => "response", 
																	 :value => (@esc_agents || {})['response_1'],
																	 :id => "agents_0",
																	 :placeholder => "#{t('sla_policy.agent_placeholder')}".html_safe,
																	 :time_options => options_for_select(
																	 	escalation_time_options, 
				 													 :selected => (@time || {})['response_1']) }} %>
								</tr>
							<% end %>
						<% end %>
						<tr class='add_next_level hide'>
							<td colspan="5">
								<%= content_tag :div, "<span class='symbols-add'></span> 
																			#{t('sla_policy.add_response_esc')}".html_safe, 
								:class => "icon-detail add_next" %>
							</td>
						</tr>
				</table>
			</div>
			<label><%= t('sla_policy.escalation_rule_resolution_text').html_safe %></label>
			<div class="grid resolution_container">
				<table data-max-level = <%= Helpdesk::SlaPolicy::ESCALATION_LEVELS_MAX %> 
							 class="sla_policies">
						<%= select_tag('resolution_time', 
								options_for_select(escalation_time_options), 
								{:class => "hide"}) %>

			 			<% (Helpdesk::SlaPolicy::ESCALATION_LEVELS_OPTIONS).each do |index| %>
					 		<%= e.fields_for "resolution" do |resolution|%>	
					 			<%= resolution.fields_for "#{index}"  do |i| %>

									<tr data-level = <%= "#{index}" %> data-type = "resolution" rel = "reconstruct" 
											id = "<%= "resolution_level_#{index}" %>" 
											class="<%= (@esc_agents || {})["resolution_#{index}"] ? "" : "hide" %> 
											escalations resolution" >
										<%= render :partial => 'sla_matrix', 
															 :locals => 
																{:index => index, :i => i, 
										 						 :options => 
																	 {:type => "resolution", 
																	 :value => (@esc_agents || {})["resolution_#{index}"],
																	 :id => "agents_#{index}",
																	 :placeholder => "#{t('sla_policy.agent_placeholder')}".html_safe,
																	 :time_options => options_for_select(
																	 	escalation_time_options, 
				 													 :selected => (@time || {})["resolution_#{index}"])
				 													 }}%>
									</tr>
								<% end %>
							<% end %>
				  	<% end %>
				  	<tr class="add_next_level hide" >
				  		<td colspan="5">
				  			<%= content_tag :div, "<span class='symbols-add'></span>
				  														#{t('sla_policy.add_level')} <span class='level'></span> #{t('sla_policy.add_resolution_esc')}".html_safe,
				  			{'data-type' => "resolution", :class => "icon-detail add_next"} %>
				  		</td></tr>
					<% end %>
				</table>
		  </div>
		</div>
	</li>