<% content_for :sidebar do %>
	<div class="sidepanel">
		<h3 class="title"><%=t('sla_policy.title')%></h3>
			<p>
				<%=t('sla_policy.info1')%>
			</p>
			<p>
				<%=t('sla_policy.info2')%>
			</p>
			<p>
				<%=t('sla_policy.info3')%>.
			</p>
	</div>	
<% end %>
<div class="floatr">
	<%= link_to t('sla_policy.new'), new_helpdesk_sla_policy_path, :class => "uiButton" %>
</div>
<h3 class="title"><%=t('sla_policy.title1')%></h3> 
<ul class="admin_list">
	<% @sla_policies.each do |policy| %>
	<li>
		<div class="item_actions">
		    <%= link_to t('edit'), edit_helpdesk_sla_policy_path(policy), :class => "button" %>
			<%unless policy.is_default?%>
		    	<%= link_to t('delete'), policy, :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
			<%end%>
		</div>
		<%= link_to(h(policy.name), edit_helpdesk_sla_policy_path(policy), :class => "item_info") %>
		<div><%= h policy.description %></div>		   	
	  </li>
	<% end %>
</ul> 