<% content_for :sidebar do %>
	<%= render :partial => "helpnote_without_tour" %>
<% end %>
<div id="cust-list" class="cust_list_table">
	<div class="cust_list_table_header"	>
		<div class="row-fluid">
			<div class="span6"><h3 class="title"><%=t('sla_policy.title1')%></h3></div>
			 <div class="span6 pull-right pagination-right header_buttons align-right" >
				<%= link_to t('reorder'),'#', :id => "sla_policies_reorder_button", :class => "btn" unless(@sla_policies.active.size <= 2)%>
				<%= (link_to t('sla_policy.new'), new_helpdesk_sla_policy_path, :class => "btn btn-primary") if feature?(:customer_slas) %>
	        </div>
		</div>
	</div>
	<div>
	<%= render :partial => "/shared/reorder_list", :locals => { 
		:items => @sla_policies.active.rule_based + @sla_policies.default,  
		:action_url => reorder_helpdesk_sla_policies_path, 
		:title => :name, :container_id => "sla_policies_sort", 
		:reorder_id => "sla_policies_reorder_button", :list_id => "sla_policies_list", 
		:disabled => :is_default} %>
	</div>
	<div class="cust_list_table_body sla-index" id="sla_policies_list">
		<table class="table table-striped">
			<% (@sla_policies.active + @sla_policies.inactive).each do |policy| %>
				<tr id=<%= dom_id(policy) %>>
					<% unless policy.is_default %>
						<td <%= "class='sla_policy_disabled custom-tip' data-tip-classes = 'sla-policy-index-tooltip' title='#{t('sla_policy.disabled_old_policy')}'" if policy.conditions.blank? %>>
					<% else %>
						<td <%= "class='sla_policy_disabled custom-tip' data-tip-classes = 'sla-policy-index-tooltip' title='#{t('sla_policy.default_policy')}'" if policy.conditions.blank? %>>
					<% end %>
						<% form_for policy, :url => activate_helpdesk_sla_policy_path(policy) do |f| %>
							<%= f.check_box :active, { :class => 'activate'}, true, false %>
						<% end %>
						<%= "<div class='itoggle-disable'></div>" if policy.conditions.blank? %>
					</td>
					<td>
						<p class="text-info">
						<strong>
							<%= link_to(h(policy.name), edit_helpdesk_sla_policy_path(policy), :class => "item_info") %>
						</strong><br/>
						<span class="muted"><%= h policy.description %></span>
					</td>
					<td>
						<div class="item_actions" align="right">
					    	<%= link_to(t('edit'), edit_helpdesk_sla_policy_path(policy), :class => "btn btn-mini #{"default_policy" if policy.is_default}") %>

					    	<%unless policy.is_default?%>
						    	<%= link_to "<i class='icon-trash'></i>", policy, :confirm => t('confirm_delete_message', :human_name => t('sla_policy.human_name')), :method => :delete, :class => "btn btn-mini" %>
							<%end%>
						</div>
					</td>
				</tr>
			<% end %>
		</table>  
	</div>
</div>
<% javascript_tag do %>
	(function($){
		$('.activate').itoggle({
			checkedLabel: 'On',
			uncheckedLabel: 'Off'
		}).change(function() {
			$(this).parent().submit();	
		});
	})(jQuery)
<% end %>