<h1> SLA Policy</h1>

<% form_for(@sla_policy) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 
 
 SLA Details: -
 
 <table>
  <tr>
    <th>Name</th>
    <!--th>Account</th-->
    <!--th>Priority</th-->
 
	<th>Response time</th>
    <th>Resolution time</th>
    <th>Escalate to</th>
  </tr>

 <% @sla_policy.sla_details.each_with_index do |slas , index| %>
  <% fields_for "SlaDetails[#{index}]", slas do |sla| %>
    <p>
	
	<%

     priority = Helpdesk::SlaDetail::PRIORITY_NAMES_BY_KEY[index+1]

	
	%>
	
	
	 <tr>
    <td><%= sla.label :name , slas.name %> <%= sla.hidden_field :name, { :value => slas.name} %>
	<%= sla.hidden_field :priority, { :value => slas.priority} %>
	<%= sla.hidden_field :id, { :value => slas.id} %>
	</td>
	
   
	<td><%= sla.select :response_time , Helpdesk::SlaDetail::RESPONSETIME_OPTIONS %></td>
    <td><%= sla.select :resolution_time, Helpdesk::SlaDetail::RESOLUTIONTIME_OPTIONS %></td>
    <td> 
    <%= sla.collection_select :escalateto, User.find_all_by_permission(current_account, :manage_tickets), :id, :name %>
	</td>

    
  </tr>
  
  
	
	</p>
  <% end %>
<% end %>
</table>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', sla_details_path %>

