<% content_for :helpcard do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<div id="cust-list" class="list-page">
  <div class="list-page-header" >
    <div class="row-fluid">
      <div class="span6"><h3 class="title"><%=t('dispatch.dispatch_rules')%></h3></div>
       <div class="span6 pull-right pagination-right header_buttons align-right" >
        <%= link_to t('reorder'),'#', :id => "va_rules_reorder_button", :class => "btn" if(@va_rules.active.size > 1) %>
        <%= (link_to t('dispatch.new_rule'), new_admin_va_rule_path, :class => "btn btn-primary") %>
      </div>
    </div>
  </div>

 <% if current_account.features?(:cascade_dispatchr) %>
  <div class="row-fluid list-page-subheader">
    <span class="vertical-alignment">
      <i class="ficon-arrow-down-2 fsize-18"></i>
    </span>
    <span class="vertical-alignment"><%= t('dispatch.cascade_text') %> &nbsp;</span>
      <%= form_for @va_rules, :url => { :controller => "va_rules", :action => "toggle_cascade" }, :html => { :id => "dispatcher_cascade" , :class => "vertical-alignment"} do |f| %>

        <%= select "cascade_dispatchr", "cascade", VaRule.cascade_dispatchr_option, 
                         {:selected => current_account.features?(:cascade_dispatchr) ? 1 : 0 }, { :class => "select2 select2-flat span12", :id => "cascade_dispatchr" } %>
      <% end %>
      <span id="cascade_loader" class="vertical-alignment loading-tiny loading-left"></span>
  </div>
  <% end %>

  <div>
  <%= render :partial => "/shared/reorder_list", :locals => { 
      :items => @va_rules.active,  
      :action_url => reorder_admin_va_rules_path, 
      :title => :name, :container_id => "va_rules_sort", 
      :reorder_id => "va_rules_reorder_button", :list_id => "va_rules_list"} %>
  </div>

  <div class="list-page-body va_rule-index" id="va_rules_list">
    <table class="table table-striped">
      
      <% (@va_rules.active + @va_rules.inactive).each do |va_rule| %>
        <tr id=<%= dom_id(va_rule) %>>
          <td>
            <%= form_for va_rule, :url => activate_deactivate_admin_va_rule_path(va_rule) do |f| %>
              <%= f.check_box :active, { :class => 'activate'}, true, false %>
            <% end %>
          </td>
          <td>
            <strong>
              <%= link_to(h(va_rule.name), edit_admin_va_rule_path(va_rule), :class => "item_info") %>
            </strong><br/>
            <span class="muted"><%= h va_rule.description %></span>
          </td>
          <td>
            <div class="item_actions" align="right">
                <%= link_to(t('clone'), clone_rule_admin_va_rule_path(va_rule), :class => "btn btn-mini")%>
                <%= link_to(t('edit'), edit_admin_va_rule_path(va_rule), :class => "btn btn-mini") %>
                <%= link_to "<i class='icon-trash'></i>".html_safe, admin_va_rule_path(va_rule), :confirm => t('confirm_delete_message', :human_name => t('.human_name')), :method => :delete, :class => "btn btn-mini" %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>  
  </div>

</div>

<%= javascript_tag do %>
  (function($){
    $('.activate').itoggle({
      checkedLabel: 'On',
      uncheckedLabel: 'Off'
    }).change(function() {
      $(this).parent().submit();  
    });
  })(jQuery)
<% end %>

<script type="text/javascript">
jQuery(document).ready(function() {
  selected_dispatchr_method = 
  jQuery('#cascade_dispatchr').select2({
    minimumResultsForSearch: 1000
  });
});

jQuery('#cascade_dispatchr').change(function() {
    var cascade_value = jQuery('#cascade_dispatchr').attr('value');

    new Ajax.Request('/admin/va_rules/toggle_cascade', 
                     { parameters: {cascade_dispatcher: cascade_value},
                        onLoading: function() {
                          jQuery("#cascade_loader").addClass('sloading');
                        },
                        onSuccess: function(response) {
                          jQuery("#cascade_loader").removeClass('sloading');
                          //nothing doing here.
                          }

                       });
    return false;
  });
</script>


