  <table class="tickets" width="100%">
	  <thead>
	  	<tr>

      	<th class="toolbar_right">
          <% if @current_view == "deleted" %>
            <%= link_to t('ticket.empty_trash'),empty_trash_helpdesk_tickets_path, 
                :method => 'delete', :class => 'padding6 tooltip', :title => t('ticket.empty_trash'), 
                :id => 'empty_trash' if privilege?(:delete_ticket) %>
          <% elsif @current_view != "spam" %>
            <% if privilege?(:export_tickets) %>
              <a href="/helpdesk/archive_tickets/configure_export" data-target="#export"  rel="freshdialog"  
                  class="padding6" title='<%= t("ticket.export_tickets") %>' data-submit-label="<%= t('export') %>" 
                  data-submit-loading="<%= t('ticket.exporting')%>..." data-width="650px" id='export_tickets' 
                  data-close-label="<%= t('cancel') %>"><%= t('ticket.export')%></a>
            <% end %>
          <% end %>

          
        </th>
      </tr>
    </thead>
  </table>

  <%= javascript_tag do -%>
    setExportCreatedRange = function(){
    var startDate, endDate,temp;
      if(jQuery('#created_date_range').is(':visible')){

          jQuery("#date_filter").val(<%=TicketConstants::ARCHIVE_CREATED_BY_KEYS_BY_TOKEN[:set_date]%>);
          var dateFormat = getDateFormat('mediumDate');
          var createdDateRange = jQuery('#created_date_range').val().split(' - ');
          startDate = (new Date(createdDateRange[0])).toString(dateFormat);
          endDate = (new Date(createdDateRange[1])).toString(dateFormat);

          jQuery("#date_filter").trigger('change');
          jQuery('#start_date').attr("value", startDate);
          jQuery('#end_date').attr("value", endDate);
          var dateTypeVarStart = new Date(jQuery('#start_date').val());
          var setStart_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarStart);
          jQuery('#start_export_clone').val(setStart_date_Clone);
          var dateTypeVarEnd = new Date(jQuery('#end_date').val());
          var setend_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarEnd);
          jQuery('#end_export_clone').val(setend_date_Clone);

      }else{
  
          jQuery("#date_filter").val(<%=TicketConstants::ARCHIVE_CREATED_BY_KEYS_BY_TOKEN[:six_months]%>);
          startDate = "<%= formated_date(6.month.ago, Helpdesk::TicketsExportHelper::EXPORT_DATE_FORMAT)%>";
          endDate = "<%= formated_date(Time.now, Helpdesk::TicketsExportHelper::EXPORT_DATE_FORMAT)%>";

          jQuery("#date_filter").trigger('change');
          jQuery('#start_date').attr("value", startDate);
          jQuery('#end_date').attr("value", endDate);
          var dateTypeVarStart = new Date(jQuery('#start_date').val());
          var setStart_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarStart);
          jQuery('#start_export_clone').val(setStart_date_Clone);
          var dateTypeVarEnd = new Date(jQuery('#end_date').val());
          var setend_date_Clone = jQuery.datepicker.formatDate('yy-mm-dd', dateTypeVarEnd);
          jQuery('#end_export_clone').val(setend_date_Clone);
      }

      //logic check : startdate <= enddate
              var startISO = jQuery("#start_export_clone").val();
              var endISO = jQuery("#end_export_clone").val();
                if(jQuery.datepicker.parseDate('yy-mm-dd', startISO) > jQuery.datepicker.parseDate('yy-mm-dd', endISO))
                {
                  jQuery('#start_date_clone').datepicker( "setDate", endISO );
                  var datepickerEnd = jQuery('#end_date').val();
                  jQuery('#start_date').datepicker( "setDate", datepickerEnd );
                }
    };

    jQuery('#export_tickets').click(function(){
         if(jQuery('#exportFilter').length > 0){
        setExportCreatedRange();
      }
    });

  <%- end %>
