<% content_for :sidebar do -%><%- end %> 

<%= content_tag( :h3,  t('import_zendesk_summary'), :class => "title" ) %>
<ul class="ui-form">
	<table class="summary-report">
		<thead>
			<tr>
				<td colspan="4"> 
					<%= t('import_zendesk_summary_info') %>
				</td>
			</tr>
		</thead>		
		<tr>
			<th class="sub-title"><%= t('import_data') %></th>
			<th><%= t('import_added_newly') %></th>
			<th><%= t('import_updated') %></th>
			<th></th>
		</tr>
		<tr>
			<td class="sub-title"><%= t('import_tickets') %></td>
			<td><%=@tickets_stat["created"]%></td>
			<td><%=@tickets_stat["updated"]%></td>
			<td></td>
		</tr>
		<tr>
			<td class="sub-title"><%= t('import_groups') %></td>
			<td><%=@groups_stat["created"]%></td>
			<td><%=@groups_stat["updated"]%></td>
			<td></td>
		</tr>
		<tr>
			<td class="sub-title"><%= t('import_users_contacts') %></td>
			<td><%=@users_stat["created"]%></td>
			<td><%=@users_stat["updated"]%></td>
			<td></td>
		</tr>
		<tr>
			<td class="sub-title"><%= t('import_org_companies') %></td>
			<td><%=@customers_stat["created"]%></td>
			<td><%=@customers_stat["updated"]%></td>
			<td></td>			
		</tr>
		<tr>
			<td class="sub-title"><%= t('import_forum') %></td>
			<td><%=@forum_stat["created"]%></td>
			<td><%=@forum_stat["updated"]%></td>
			<td></td>			
		</tr>
		<tr>
			<td class="sub-title"><%= t('import_topics') %></td>
			<td><%=@topic_stat["created"]%></td>
			<td><%=@topic_stat["updated"]%></td>
			<td></td>			
		</tr>				
	</table>
</ul>