
Zendesk Import is completed with following stats
<p>
No: of tickets created : <%=@tickets_stat["created"]%>
No: of tickets updated : <%=@tickets_stat["updated"]%>
</p>
<p>
No: of users created : <%=@users_stat["created"]%>
No: of users updated : <%=@users_stat["updated"]%>
</p>
<p>
No: of groups created : <%=@groups_stat["created"]%>
No: of groups updated : <%=@groups_stat["updated"]%>
</p>
<p>
No: of customers created : <%=@customers_stat["created"]%>
No: of customers updated : <%=@customers_stat["updated"]%>
</p>
<p>
No: of forums created : <%=@forum_stat["created"]%>
No: of forums updated : <%=@forum_stat["updated"]%>
</p>
<p>
No: of topics created : <%=@topic_stat["created"]%>
No: of topics updated : <%=@topic_stat["updated"]%>
</p>