<script id="emailConfigTemplate" type="text/x-jquery-tmpl">  
  <div class="configure-email-form">
      <span class="deleteChoice {{if (primary_role == true) }} disabled {{/if}}">&nbsp;</span>
      <div class="column left-column">          
          <input type="hidden" name="product[email_configs_attributes][${index_id}][id]" value="${email_config_id}"/>
          <label><%=t('admin.products.form.enter_support_email_id')%>*</label>
          <input type="text" class="required text email" name="product[email_configs_attributes][${index_id}][reply_email]" rel="reply_to_id" {{if reply_email }} value="${reply_email}" {{/if}}/>

          <label><%= t('admin.products.form.forwarding_email_info')%></label>
          <p class="text" rel="div_reply_email" disabled="disabled">{{if to_email }} ${to_email} {{/if}}</p>
          <input type="hidden" rel="hidden_reply_to" name="product[email_configs_attributes][${index_id}][to_email]" {{if to_email }} value="${to_email}" {{/if}}/>
      </div>

      <div class="column right-column">
          <label><%=t('email_configs.info9')%></label>
          <select name="product[email_configs_attributes][${index_id}][group_id]">
            <option value>...</option>
            <% @groups.each do |group| %>
              <option value=<%=group.id%> {{if group_id == <%=group.id%>}} selected {{/if}}><%=group.name%></option>
            <% end %>
          </select>  

          <div class="set_primary">
            <input type="checkbox" class="checkbox" rel="email_config_checkbox" name="product[email_configs_attributes][${index_id}][primary_role]" {{if primary_role == true}} checked="checked" {{/if}} value=${primary_role} />
            <label><%= t('admin.products.primary_product_support_email') %></label>
            <input type="hidden" rel="delete" name="product[email_configs_attributes][${index_id}][_destroy]" value="${destroy}"/>
          </div>
      </div>
  </div>
</script>

<% content_for :sidebar do -%><%- end %>
<%= render :partial => "shared/colorpicker" %>
<%= form.error_messages %>

<div class="multi-product-add ui-form">
  <div class="inline-field">

    <%= content_tag(:label, t('admin.products.form.product_name') + " *", :class => "tabbed caption") %>
    <div class="fields">
      <%= form.text_field :name, :class => "required text" %>
    </div>

    <%= content_tag(:label, t('admin.products.form.product_support_emails'), :class => "tabbed caption") %>
    <div class="fields" id="support_emails">
      <% @product.email_configs.each_with_index do |email_config, index| %>
        <% javascript_tag do %>
          _template = jQuery("#emailConfigTemplate").template();
          
          _data = {index_id : <%= index %>, email_config_id : <%= (email_config.id || 'null') %>, reply_email : "<%= email_config.reply_email || '' %>", group_id : <%= (email_config.group_id || 'null') %>, to_email : "<%= email_config.to_email || '' %>", primary_role : <%= email_config.primary_role %>, destroy : false};

          jQuery.tmpl( _template, _data ).appendTo( "#support_emails");
        <% end %>
      <% end %>
    </div>

    <div class="add-email">
        <%= link_to( "<span></span> #{t('admin.products.add_another_email')}", "javascript:void(0)", :class => "add-email-icon", :id => "addchoice" ) %>
    </div>

    <span class="seperator"></span>

    <div class="configure-portal">
      <label>
        <%= t("admin.products.form.configure_seperate_portal") %> 
        <%= form.check_box :enable_portal, {:class => "checkbox", :rel => "toggle", :id => "EnablePortal" } %>
      </label>
    </div>

    <div id="PortalSettings">
      <% form.fields_for :portal do |portal| %>
        <%= render :partial => "portal", :object => portal %>
      <% end %>
    </div>

  </div>
</div>

<% content_for :pagefixed do -%>
  <% javascript_tag do %>
    var email_config_index = <%= @product.email_configs.size %>;

    jQuery(document).ready(function(){
      jQuery("input[rel=reply_to_id]").live("change keyup", 
          function(ev){
            reply_email = this.value;
            if(this.value != ''){
              reply_email = construct_reply_url(this.value, "<%= current_account.full_domain %>");
            }
            jQuery(this).parent().parent().find("p[rel=div_reply_email]").text(reply_email);
            jQuery(this).parent().parent().find("input[rel=hidden_reply_to]").val(reply_email);
          }
      );

      jQuery("#EnablePortal").bind("change", 
        function(ev){
          if(this.checked){
            jQuery("#PortalSettings").slideDown(400);
          }else{
            jQuery("#PortalSettings").slideUp(200);
          }
        }
      ).trigger("change");

      jQuery("#product_name").change(function(e){
          jQuery("#domain_info_name")
              .html(this.value.toLowerCase().replace(/\W/g, ''));
      }).trigger("change"); 

      jQuery("#addchoice").bind('click', 
        function(ev){
          _data = { index_id : email_config_index , 
                    email_config_id : null, 
                    reply_email : "", 
                    group_id : null, 
                    to_email : "", 
                    primary_role : false,
                    destroy : false
                  };

          _template = jQuery("#emailConfigTemplate").template();
          
          jQuery.tmpl( _template, _data ).appendTo( "#support_emails");

          email_config_index++;
        }
      );

      //If the email config is old mark it for deletion or if its new mark it so that it wont be stored
      jQuery(".deleteChoice").live('click',
        function(ev){
          if(!jQuery(this).hasClass('disabled')){
            jQuery(this).parent().hide().find("input[rel=delete]").val(true);
          } 
        }
      );

      jQuery("input[rel=email_config_checkbox]").live('change',
        function(ev){
          if(jQuery(this).is(':checked')) {
            jQuery('#support_emails input:checkbox:checked').each(
              function(index){
                
                spanElement = jQuery(this).parent().parent().parent().find("span.disabled");                
                if(spanElement.hasClass('deleteChoice')){
                  spanElement.removeClass('disabled');
                  this.checked = false;
                  jQuery(this).val(this.checked);
                }
              }
            );
            jQuery(this).attr('checked',true).val(true);
            jQuery(this).parent().parent().parent().find("span.deleteChoice").addClass('disabled');
          } else if(!jQuery(this).is(':checked')) {
            if(jQuery('#support_emails input:checkbox:checked').length < 1){
              alert('<%=t('admin.products.primary_email_required')%>');
              ev.preventDefault();
              this.checked = true;
            }
          }
        }
      );

    });
  <%- end %>
<%- end %>
