<%= javascript_tag do %>
  jQuery(document).ready(function(){ 
    jQuery("#PortalUrl").blur(function(){
      input_url = jQuery('#PortalUrl').val();
      protocol_exists = !(input_url.indexOf('http://') && input_url.indexOf('https://'));
      if(protocol_exists){
        get_index = input_url.indexOf("://");
        result_url = input_url.substring(get_index+3);
        jQuery('#PortalUrl').val(result_url);
      }
    });
  }); 
<% end %>
<div class="row-fluid">
  <h4 class="heading caption lead"><%= t('.portal_settings') %></h4>
  <div class ="products-portal-region">
    <div class="fields">
      <div class="control-group">
        <%= content_tag(:label, t('.portal_name'), :class => "control-label") %>
        <div class="controls">
          <%= portal.text_field :name, :class => "text auto", :size => "50" %>
          <%= content_tag(:div, t('.portal_name_info'), :class => "info-data") %>
        </div>
      </div>
      <div class="control-group">
        <%= content_tag(:label, (t('.portal_url') + "<span class='required_star'>*</span>").html_safe, :class => "control-label") %>
        <div class="controls">
  	     <%= portal.text_field :portal_url, :class => "portal_url url_without_protocol auto required", :id => "PortalUrl",
          :"data-domain" => Helpdesk::HOST[Rails.env.to_sym], :size => "50" %>
  	      <span class="portal_url_if_long">
            <%= content_tag(:div, t('.cname_configure_info', 
                            :full_domain => current_account.full_domain).html_safe, :class => "info-data") %>
          </span>
        </div> 
      </div>
      <div class="control-group">
    	<% if feature?(:multi_language) %>
    	  <%= content_tag(:label, t('.portal_language'), :class => "control-label") %>
          <div class="controls">
            <%= portal.select :language, I18n.available_locales_with_name , 
                              {:selected =>  (!@product.portal.blank?) ? @product.portal.language.to_sym() : current_portal.language.to_sym() } ,
                               :class => "select2"%>
    		    <%= content_tag(:div, t('.portal_language_info'), :class => "info-data") %>
          </div>
        </div>
    	<% end %>
      <div class="control-group">
       <label class="control-label"><%= t(".forum_categories") %></label>
        <div class="controls">
          <input type="hidden" name="product[portal_attributes][forum_category_ids][]" value="" />
          <%= portal.collection_select :forum_category_ids, @forums_categories, 
                    :id, :name, {} , :class => "select2 input-xlarge", :multiple => true, 
                    :placeholder => t(".select_forum_category").html_safe %>
          <%= content_tag(:div, t('.forum_categories_info'), :class => "info-data") %>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label"><%= t(".solution_categories").html_safe %></label>
        <div class="controls">
          <input type="hidden" name="product[portal_attributes][solution_category_metum_ids][]" value="" />
          <%= portal.collection_select :solution_category_metum_ids, @solution_categories.reject(&:is_default?), 
                    :id, :name, {} , :class => "select2 input-xlarge", :multiple => true, 
                    :placeholder => t(".select_solution_category").html_safe %>
          <%= content_tag(:div, t('.solution_categories_info').html_safe, :class => "info-data") %>
        </div>
      </div>
    </div>
    <div class="fields">
      <span class="seperator"></span>
      <h4 class="heading caption tabbed lead rebranding-header"><%= t('.portal_rebranding') %></h4>
      <div class="control-group">
        <label class="control-label"><%= t(".logo_and_favicon") %></label>
        <div class="controls">
          <div class="row-fluid">
            <div class="span8">
              <%= render :partial => "/shared/logo_image", 
                          :locals => { :item => @product.portal, :field_name => "product[portal_attributes]"} %>
            </div>
            <div class="span4">
              <%= render :partial => "/shared/fav_image", 
                        :locals => { :item => @product.portal, :field_name => "product[portal_attributes]"} %>
            </div>    
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label"><%= t("linkback_overlabel") %></div>     
        <div class="controls">
          <label class="overlabel" for="link_back_text">
            http://<%= @product.portal.portal_url.presence %>
            </label>
          <input name="product[portal_attributes][preferences][logo_link]" id="link_back_text" value="<%=(@product.portal[:preferences]||{}).fetch(:logo_link, '')%>" class="text url auto" size="50" />
          <div class="info-data"> <%= t("linkback_info") %> </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><%= t(".helpdesk_phone") %></label>
        <div class="controls">
          <label class="overlabel" for="contact_info_text"><%= t(".contact_us") %> @ 888 888 888</label>
          <input name="product[portal_attributes][preferences][contact_info]" id="contact_info_text" 
              value="<%=portal_pref(@product.portal, :contact_info) %>" class="text auto" size="50" />
        </div>
      </div>

      <%= portal.fields_for :preferences do |p| %>
        <input type="hidden" name="product[portal_attributes][preferences][header_color]" 
          value="<%= portal_pref(current_account.main_portal, :header_color) %>" />
        <input type="hidden" name="product[portal_attributes][preferences][tab_color]"
          value="<%= portal_pref(current_account.main_portal, :tab_color) %>" /> 
        <input type="hidden" name="product[portal_attributes][preferences][bg_color]" 
          value="<%= portal_pref(current_account.main_portal, :bg_color) %>" />
      <% end %>
        
      <div class="control-group">
        <label class="control-label"><%=t('.portal_customization')%></label>
        <div class="controls">
          <% if @product.portal.template.present? %>
            <%= link_to t('.customize_portal'), admin_portal_template_path(@product.portal.id), 
              :class => "btn btn-bold", :rel => "customize-portal" %> 
          <% else %>  
            <%= submit_tag t('.save_and_customize').html_safe, :rel => "customize-portal", :class => "btn btn-bold" %> 
          <% end %>
          <% if @product.portal.template.present? %>
            <p class="info-data">            
              <%= t(".last_published")%>
                <%= distance_of_time_in_words_to_now(@product.portal.template.updated_at) %>
                <%= t(".ago") %>
              <br />            
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :onload_script do %>
  jQuery("[data-rebrand-form]").live("change", function(ev){
    jQuery(this).data('formChanged', true)
  })

  jQuery("[rel=customize-portal]").live("click", function(ev){
    var form = jQuery(this).parents('form:first')
    if(form.data('formChanged') && form.valid()){
      <% if @product.portal.template.present? %>
        ev.preventDefault()
        if(confirm("<%= t('.save_and_customize').html_safe %>")){
          setPostParam(form, "customize_portal", true)
          form.submit()
        }
      <% else %>  
        setPostParam(form, "customize_portal", true)
      <% end %>
    }
  })
<% end %>
