<% content_for :onload_script do %>
	jQuery("#PortalUrl")
		.rules("add", {
	  			required: function(element) { return ((!!jQuery("input[@id=EnablePortal]:checked").length)); }
	   });
<% end %>
<span class="seperator"></span>
<%= content_tag(:label, t('.portal_settings'), :class => "tabbed caption") %>
<div class="fields">
  <%= content_tag(:label, t('.portal_url') + "*") %>
	<%= portal.text_field :portal_url, :class => "text", :id => "PortalUrl" %>
	<%= content_tag(:div, t('.cname_configure_info', :full_domain => current_account.full_domain), :class => "info-data") %>
	<span class="seperator"></span>

  <%= content_tag(:label, t('.portal_name')) %>
	<%= portal.text_field :name, :class => "text" %>
	<%= content_tag(:div, t('.portal_name_info'), :class => "info-data") %>
	<span class="seperator"></span>
	
	<!-- locale starts here-->
	 <% if feature?(:multi_language) %>
	  <%= content_tag(:label, t('.portal_language')) %>
		<%= portal.select :language, I18n.available_locales_with_name , {:selected =>  (!@product.portal.blank?) ? @product.portal.language.to_sym() : current_portal.language.to_sym() }%>
		<%= content_tag(:div, t('.portal_language_info'), :class => "info-data") %>
	<span class="seperator"></span>
	<% end %>
	<!-- locale ends here -->

  <label>    
    <%= t(".top_level_forum") %>
    <%= portal.collection_select :forum_category_id, @forums_categories, :id, :name, options = { :prompt =>  t(".select_forum_category")} %>
  </label>
	<%= content_tag(:div, t('.top_level_forum_info'), :class => "info-data") %>
  <span class="seperator"></span>

  <label>
    <%= t(".top_level_solution") %>    
    <%= portal.collection_select :solution_category_id, @solution_categories, :id, :name, options ={:prompt => t(".select_solution_category")} %>
  </label>
  <%= content_tag(:div, t('.top_level_solution_info'), :class => "info-data") %>
</div>
<span class="seperator"></span>

<%= content_tag(:label, t('.portal_rebranding'), :class => "tabbed caption") %>
<div class="fields">
  <%= render :partial => "/shared/logo_image", :locals => { :item => @product.portal, :field_name => "product[portal_attributes]" } %>
  <div class="fields">
    <span class="seperator"></span>
    <label class="overlabel" for="link_back_text"><%= t("linkback_overlabel") %></label>
    <input name="product[portal_attributes][preferences][logo_link]" id="link_back_text" value="<%=portal_pref(@product.portal, :logo_link) %>" class="text url" size="30" />
    <div class="info-data">
      <%= t("linkback_info") %>
    </div>
  </div>
  <span class="seperator"></span>  
  <%= render :partial => "/shared/fav_image", :locals => { :item => @product.portal, :field_name => "product[portal_attributes]" } %>
  <span class="seperator"></span>

  <label><%= content_tag(:strong, t('account.page_colors.title') ) %></label>
    <% portal.fields_for :preferences do |p| %>
      <%= p.label :header_color, t('account.page_colors.header'), :class => "caption" %>
      <div class="color fields">
        <input type="color" maxlength="7" id="HeaderColor" class="color_field required" name="product[portal_attributes][preferences][header_color]" value="<%=portal_pref(@product.portal, :header_color)%>" data-hex="true" />
			</div>
      <%= p.label :header_color_tab, t('account.page_colors.tab_color'), :class => "caption" %>
      <div class="color fields">
        <input type="color" maxlength="7" id="TabColor" class="color_field required" name="product[portal_attributes][preferences][tab_color]" value="<%=portal_pref(@product.portal, :tab_color)%>" data-hex="true" /> 
      </div>
      <%= p.label :bg_color, t('account.page_colors.background'), :class => "caption" %></td>
      <div class="color fields"> 
        <input type="color" maxlength="7" id="BackgroundColor" class="color_field required" name="product[portal_attributes][preferences][bg_color]" value="<%=portal_pref(@product.portal, :bg_color)%>" data-hex="true" />
        <div><a href="javascript:void(0)" class="slim-button" id="ResetColors"><%=t('account.info3')%> </a></div>
      </div>
    <% end %>
</div>