<li>
  <div class="item_actions">
    <%= link_to(t('edit'), edit_admin_product_path(product), :class => "button") %>
    <%= link_to(t('delete'), admin_product_path(product), :method => 'delete', :confirm => t(".delete"), :class => "button" ) %>
  </div>
  <table>
    <tr>
      <td class="portal-logo">
        <% if(product.portal_enabled?) %>
          <%= image_tag ((product.portal.logo.nil?) ? "/images/fillers/logo_blank.gif" : product.portal.logo.content.url(:logo), :class => "image_logo") %>
          <div class="color_box">
            <span class="color_item" style="background-color:<%=portal_pref(product.portal, :header_color)%>"></span>
            <span class="color_item" style="background-color:<%=portal_pref(product.portal, :tab_color)%>"></span>
            <span class="color_item" style="background-color:<%=portal_pref(product.portal, :bg_color)%>"></span>
          </div>
        <% else %>
          <%= image_tag ("/images/fillers/logo_blank.gif", :class => "image_logo") %>
        <% end %>
      </td>
      <td class="portal-text">
        <%= link_to(product.name, edit_admin_product_path(product), :class => "big-text") %>
				<div class="channel-text">					
        	<%= product.reply_email %>
					<% if product.active? %>	
						<span class='icon email-active'></span>
					<% else %>
						<span class='icon email'></span>
        		<span class="not-verified">
          		<%= content_tag (:span, t(".email_not_verified"), :class => "inactive_email custom-tip-top", :title => t('email_configs.unverified_info1')) %>
							<%= link_to(t("email_configs.send_verification_email"), deliver_verification_admin_email_config_path(product), :class => "slim-button") %>                
        		</span> 
					 <% end %>
				</div>	
 				<div class="channel-text">
					<% if(product.portal_enabled?) %>
						<span class='icon url-active'></span>
       			<%= link_to(product.portal.portal_url, product.portal.portal_url, { :target => "_blank" }) %>
					<% else %>
						<span class='icon url'></span>
						<%= link_to("Enable Portal", edit_admin_product_path(product, :enable_portal => true), :class => "slim-button") %>
					<% end %>
				</div>
				
				<div class="channel-text">
					<% if product.twitter_handle.nil? %>					
						<span class='icon twitter'></span>
						<%= link_to("Add Twitter", signin_social_twitters_path(:product_id => product.id), :class => "dialog2 slim-button") %>
 	 			  <% else %>
						<span class='icon twitter-active'></span>				
						<%= link_to("@"+product.twitter_handle.screen_name, edit_social_twitter_path(product.twitter_handle), :class => "dialog2", :title => "Edit Twitter Account <b>@#{product.twitter_handle.screen_name}</b>") %>
						<%= link_to( image_tag("symbols/setting.png"), edit_social_twitter_path(product.twitter_handle), :class => "dialog2", :title => "Edit Twitter Account <b>@#{product.twitter_handle.screen_name}</b>") %>
					<% end %>				
				</div>
				
      </td>
    </tr>
  </table>
</li>