<% content_for :helpcard do -%>
  <%= render :partial => "helpnote_without_tour" %>
<%-end %>
<div class="row-fluid">
  <% @page_title = t('.title') %>
  <%= content_tag :h3, @page_title, :class => "title lead" %>
  <% form_for :product, @product, :url => admin_product_path, :html => { :multipart => true, :rel => "validate", :method => :put, :id => "ProductForm", "data-rebrand-form" => true  , :class => "form-horizontal" } do |f| %>
    <%= render :partial => "form", :object => f %>
    <div class="button-container">
      <%= f.submit t('update'), :id => "email-form-update", :class => "btn btn-primary pull-right", "data-loading-text" => t('.updating') %> 
      <%= link_to(t('cancel'), admin_products_path, :class => "btn pull-right", :id => "email-form-cancel" )  %>  	 	
    </div>
  <% end %>
</div>

<% content_for :onload_script do %>
	if(<%=params[:enable_portal]||false%>){
		jQuery("#EnablePortal").prop("checked", true).trigger("change");
		jQuery("#PortalUrl").trigger("focus");
	}
  jQuery('.fileAdminUpload').live("change", function(){
    setPostParam(this.form, "redirect_url", window.location)
    jQuery(this.form).submit()
  })
<% end %>