<% content_for :helpcard do -%>
  <%= render :partial => "helpnote_without_tour" %>
<%-end %>
<div class="row-fluid">
  <% @page_title = t('.title') %>
  <h4 class="heading lead pb10">
    <%= pjax_link_to(t('admin.products.index.title'), admin_products_path) %> / 
    <%= @product.name %>
  </h4>
  <%= form_for @product, :url => admin_product_path, :html => { :multipart => true, :rel => "validate", :method => :put, :id => "ProductForm", "data-rebrand-form" => true  , :class => "form-horizontal" } do |f| %>
    <%= render :partial => "form", :object => f %>
    <%= render :partial => "footer", :locals => { :f => f } %>
  <% end %>
</div>

<% content_for :onload_script do %>
	if(<%=params[:enable_portal]||false%>){
		jQuery("#EnablePortal").prop("checked", true).trigger("change");
		jQuery("#PortalUrl").trigger("focus");
	}
  jQuery('.fileAdminUpload').live("change", function(){
    setPostParam(this.form, "redirect_url", window.location)
    jQuery(this.form).submit()
  })
<% end %>