<% @page_title = t('.title') %>
<% store_location %>
<%= content_tag :h3, @page_title, :class => "title" %>
<% form_for :product, @product, :url => admin_product_path, :html => { :multipart => true, :method => :put, :id => "ProductForm" } do |f| %>
  <%= render :partial => "form", :object => f %>
  <div class="button-container">
  	<%= f.submit t('update'), :class => "uiButton"  %>
  	<%= link_to(t('cancel'), admin_products_path, :class => "uiButton", :id => "email-form-cancel" )  %>
  </div>
<% end %>

<% content_for :onload_script do %>
	if(<%=params[:enable_portal]||false%>){
		jQuery("#EnablePortal").attr("checked", true);
		jQuery("#product_portal_attributes_portal_url").focus();
	}
<% end %>


<% content_for :sidebar do %>
	<div class="sidepanel">
		<h2 class="title">Additional Support Channels</h2> 
			<% if @product.twitter_handle.nil? %>
				<%= link_to("Add Twitter", signin_social_twitters_path(:product_id => @product.id), :class => "uiButton") %>
		  <% else %>
				<div>
					<div class="preview_pic">
						<span class="tweet_pic"></span>
						<%= image_tag( twitter_avatar(@product.twitter_handle.screen_name) )  %>
					</div>
					<%= content_tag(:h3, link_to( "@#{@product.twitter_handle.screen_name}", edit_social_twitter_path(@product.twitter_handle), :title => "Edit Twitter Account <b>@#{@product.twitter_handle.screen_name}</b>"), :class => "title") %>
					<br /><br />
				</div>
			<% end %> 
	</div>
<% end %>