<% content_for :sidebar do -%><%-end %>
<% @page_title = t('.title') %>
<div class="floatr">
	<%= link_to(t('.add_product'), new_admin_product_path, :class => "uiButton") %>
</div>
<%= content_tag :h3, @page_title, :class => "title" %>
<div>	
	<ul class="admin_list">
    <% @products.each do |product| %>
      <li>
        <div class="item_actions">
          <%= link_to(t('edit'), edit_admin_product_path(product), :class => "button") %>
          <%= link_to(t('delete'), admin_product_path(product), :method => 'delete', :confirm => t(".delete_product"), :class => "button" ) %>
        </div>
        <%= link_to(product.name, edit_admin_product_path(product), :class => "title") %>        
        <div>        
          <%= content_tag(:strong, "Support email" ) %>
          <%= content_tag(:div, product.reply_email, :class => "fields") %>              

          <% if(product.portal_enabled?) %>
            <%= content_tag(:strong, "Portal is active for this product")%>
            <%= content_tag(:div, product.portal.name)%>
            <%= image_tag (product.portal.logo.content.url(:logo)) %>
          <% end %>
        </div>
      </li>
    <% end %>
	</ul>
</div>
