<% content_for :helpcard do -%>
  <%= render :partial => "helpnote_without_tour" %>
<%-end %>
<% @page_title = t('.title') %>
<h3 class="heading lead pb10">
  <%= pjax_link_to(t('admin.products.index.title'), admin_products_path) %> / 
  <%= @page_title %>
</h3>
<%= form_for @product, :url => admin_products_path, :html => { :multipart => true, :rel => "validate", :method => :post, :id => "ProductForm", "data-rebrand-form" => true, :class => "form-horizontal" }  do |f| %>
  <%= render :partial => "form", :object => f %>
  <%= render :partial => "footer", :locals => { :f => f } %>
<% end %>
