<% content_for :helpcard do -%>
  <%= render :partial => "helpnote_without_tour" %>
<%-end %>
<% @page_title = t('.title') %>
<%= content_tag :h3, @page_title, :class => "title" %>
<%= form_for @product, :url => admin_products_path, :html => { :multipart => true, :rel => "validate", :method => :post, :id => "ProductForm", "data-rebrand-form" => true, :class => "form-horizontal" }  do |f| %>
  <%= render :partial => "form", :object => f %>
  <div class="button-container pull-right">
  	<%= link_to(t('cancel'), admin_products_path, :class => "btn", :id => "email-form-cancel" )  %>  	
  	<%= f.submit t('save'), :class => "btn btn-primary", "data-loading-text" => t('.saving')  %>
  	
  </div>
<% end %>
