<%
    date_range = date_range_val((Time.zone.now.ago 30.day),Time.zone.now)
%>

<div class="request-well">          
    <ul data-tabs="tabs" class="tabs nav-tabs">
        <li class="first min-width">            
            <% user = User.find_by_id(params[:entity_id])%>
            <%if content[:category].blank? || content[:category]=="agent" %>
                    <span class="agent-img"><%=user_avatar(user)%></span>
            <%end%>            
            <% name = (!params[:category].blank? && params[:category]=="company")? current_account.main_portal[:name] : content[:name]%>
            <p class="topic-head"><%=name%></p>
        </li>
        <li class="first active report-grid">
            <% link_title = ("<span class='tab-text top-p'>All ("+content[:total].to_s+")</span>").html_safe %>
            <!-- #TODO-RAILS3 to be tested -->
            <%= link_to_remote link_title,{:url => {:action =>'refresh_details', :entity_id =>params[:entity_id], :category=>params[:category], 
                     :date_range => date_range},:update => "report_feedback",:loading => "jQuery('#report_feedback').html('<div class=\"sloading loading-block loading-small\"></div>');"}, {:class => "all_link",:id=>"PagesTab",:href=>"#Pages"}  %>            
        </li>
        <li class="tab-width">
           <%link_title = ("<span class='happy-smily'></span><span class='tab-text'>"+
                 (((content[:happy]*100.00)/content[:total]).round).to_s + "%" +
                 "<p class='tab-bottom'>"+content[:happy].to_s+" responses</p></span>").html_safe %> 
                 <!-- #TODO-RAILS3 to be tested -->
                <%= link_to_remote link_title,{:url => {:action =>'refresh_details', :entity_id =>params[:entity_id], :category=>params[:category],
                    :date_range => date_range, :rating => CustomSurvey::Survey::HAPPY},:update => "report_feedback",:loading => "jQuery('#report_feedback').html('<div class=\"sloading loading-block loading-small\"></div>');"}, {:class => "happy_link",:id=>"PagesTab",:href=>"#Pages"}  %> 
        </li>
        <li class="tab-width">
           <%link_title = ("<span class='happy-smily neutral-smily'></span><span class='tab-text'>"+
                 (((content[:neutral]*100.00)/content[:total]).round).to_s + "%" +
                 "<p class='tab-bottom'>"+content[:neutral].to_s+" responses</p></span>").html_safe %>        
            <!-- #TODO-RAILS3 to be tested -->     
            <%= link_to_remote link_title,{:url => {:action =>'refresh_details', :entity_id =>params[:entity_id], :category=>params[:category],
                     :date_range => date_range, :rating => CustomSurvey::Survey::NEUTRAL},:update => "report_feedback",:loading => "jQuery('#report_feedback').html('<div class=\"sloading loading-block loading-small\"></div>');"}, {:class => "neutral_link",:id=>"PagesTab",:href=>"#Pages"}  %>
        </li>
        <li class="tab-width">
            <%link_title = ("<span class='happy-smily unhappy-smily'></span><span class='tab-text'>"+
                 (((content[:unhappy]*100.00)/content[:total]).round).to_s + "%" +
                 "<p class='tab-bottom'>"+content[:unhappy].to_s+" responses</p></span>").html_safe %> <!-- #TODO-RAILS3 to be tested -->         
            <%= link_to_remote link_title,{:url => {:action =>'refresh_details', :entity_id =>params[:entity_id], :category=>params[:category],
                :date_range => date_range, :rating => CustomSurvey::Survey::UNHAPPY},:update => "report_feedback",:loading => "jQuery('#report_feedback').html('<div class=\"sloading loading-block loading-small\"></div>');"}, {:class => "unhappy_link",:id=>"PagesTab",:href=>"#Pages"}  %>
        </li>
    </ul> 
</div>