<% 
note_view_id = dom_id(note)
notedetails  = "note_details_#{note.id.to_s()}"
forward_note_id = "cnt-fwd-#{note.id.to_s()}" 
edit_id = "edit-#{note.id.to_s()}"
notable_object = @ticket || @parent
minimizable ||= false
timestamp_id ||=false
kind = note.survey_remark.nil? ? note.kind : 'survey'
if @note_last_modified_user_hash.present? && @note_last_modified_user_hash[note.id.to_s].present?
  last_modified_user = @note_last_modified_user_hash[note.id.to_s]
end

if current_account.custom_survey_enabled?
  kind = note.custom_survey_remark.nil? ? note.kind : 'survey'
  
  unless note.custom_survey_remark.blank?
      # Removing this as Survey Remarks are archived and associations won't work.
      # Replacing it with instance methods in the model.      
      # ticket_info = note.custom_survey_remark.survey_result.ticket_info
      if note.is_a?(Helpdesk::Note)
        ticket_info = note.custom_survey_remark.survey_result.ticket_info
        details = note.custom_survey_remark.survey_result.note_details 
      else
        ticket_info = note.survey_result.ticket_info
        details = note.survey_result.note_details
      end

      unless details.blank?
        agent_name = details[:agent]
        survey_name = details[:survey]
        question_values = details[:question_values]
        rating = details[:rating]
      end
    end
end
%>

<div id="<%= note_view_id %>" 
      <% if timestamp_id %>
        data-activity-id="<%= timestamp_id %>" 
      <% end %>
      data-timestamp="<%= note.created_at.to_i%>" 
      class="conversation <%= 'minimized' if minimizable %> <%= 'source_email' if note.email? %>">
  <% if note.user %>
  <div class="avatar-wrap" name="note<%= note.id %>" id="note<%= note.id %>"><%= user_avatar(note.user, :thumb, 'preview_pic circle') %></div>
  <% end %>
  <div class="commentbox 
          <%= (note.user.blank? or notable_object.agent_performed?(note.user)) ? 'commentbox-gray' : 'commentbox-requester' %> 
          <%= 'private-note' if note.private_note? || is_twitter_dm?(note, notable_object) || is_facebook_message?(note, notable_object) %>">

    <%= note_lock_icon(note, notable_object) %>

    <% if notable_object.facebook? and  note.fb_post and note.fb_post.post_type_present? %>
      <% if note.fb_post.comment? %>
        <span class="tooltip" data-original-title="Comment"> 
          <%= content_tag(:span, "", :class => "ficon-chat-bubble fsize-21")%> 
        </span>
      <% elsif note.fb_post.reply_to_comment? %>
        <span class="tooltip" data-original-title="Reply to comment"> 
          <%= content_tag(:span, "", :class => "ficon-reply fsize-21")%>
        </span>
      <% end %>
      <% clazz = "fb-reply"%> 
    <% else %>
      <% clazz = "helpdesk_note"%> 
    <% end %>

    <div class="<%= clazz %>">
      <% if note.deleted? %>
      <div class="tag">
        <%= t("helpdesk.tickets.note.deleted_note").html_safe %>
      </div>
      <% end %>
      <div class="author-mail-detail cc_bcc_info">
        <% kind %>
        <%= t("helpdesk.tickets.note.created_on_live.#{kind}", 
            :user_name => link_to_user(note.user), 
            :note_date => formated_date(note.created_at), 
            :timestamp => note.created_at.to_i 
          ).html_safe %><br>
        <%unless survey_name.blank? %>
          <div>
            <%= t("helpdesk.tickets.note.survey_response",{:survey_name => survey_name})%>
            <%unless agent_name.blank? %><%= t("helpdesk.tickets.note.survey_response_to",{:agent => agent_name})%><%end%>
          </div>
        <%end%>
      </div>
      <%  if last_modified_user %>
        <div class="author-mail-detail last-modified-detail">
            <% last_modified_translation = note.deleted? ? 'last_deleted_info' : 'last_edited_info' %>
              <%= t("helpdesk.tickets.note.#{last_modified_translation}", 
                  :user_name => link_to_user(last_modified_user), 
                  :note_date => formated_date(note.last_modified_timestamp), 
                  :timestamp => note.last_modified_timestamp.to_i
                ).html_safe %><br/>
        </div>
      <% end %>
      <% if current_account.new_survey_enabled? %>
        <%= render :partial => '/helpdesk/collab_tickets/show/custom_survey_note' , :locals => {:note => note , 
              :ticket_info => ticket_info, :notedetails => notedetails ,:question_values => question_values} %>
      <% end %>
      <%= freshcaller_audio_dom(note) if current_account.has_feature?(:freshcaller) %>

      <div id="note_attachments_container_<%= note.id%>">
        <% if note.all_attachments.present? or note.cloud_files.present? %>
            <span class="seperator"></span> 
            <div class="attachments-wrap clearfix">
              <h5 id="note_attachments_title_<%= note.id %>"><strong><%= pluralize(note.all_attachments.size + note.cloud_files.size, t('attachment'), t('attachments'))%></strong></h5>
              <ul class="attachment_list">
                  <% note.all_attachments.each do |attached| %> 
                    <%= attachment_list(attached, false, "ticket", note.id) %>
                  <%end%>

                  <% note.cloud_files.each do |cloud_file| %> 
                  <%= attachment_list(cloud_file, false, "cloud_file",nil) %>
                <%end%>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  </div>
    

    
  <script type="text/javascript">
    if (typeof(TICKET_DETAILS_DATA['last_note_id']) == 'undefined' || TICKET_DETAILS_DATA['last_note_id']  == null || TICKET_DETAILS_DATA['last_note_id'] < <%= note.id %>)
      TICKET_DETAILS_DATA['last_note_id'] = <%= note.id %>;
    if (typeof(TICKET_DETAILS_DATA['first_note_id']) == 'undefined' || TICKET_DETAILS_DATA['first_note_id']  == null || TICKET_DETAILS_DATA['first_note_id'] > <%= note.id %>)
      TICKET_DETAILS_DATA['first_note_id'] = <%= note.id %>;  
    
  </script>
  
</div>
