<%= javascript_include_tag :'cdn/drishti' %>
<%= render :partial => 'layouts/shared/cti/toolbar' %>
<div id="ameyoIframeDiv"></div>

<% path = request.protocol + get_app_config('drishti')[:host_ip] + "/ameyowebaccess/en/js/ameyo-integration.js" %>
<script type="text/javascript" language="javascript" src='<%=path%>'></script>
<script type="text/javascript" language="javascript" src="/javascripts/cti/ameyo/ameyo_custom.js"></script>
	<script>
		var crmOrigin;
		var ameyoBaseUrl = location.protocol + "//";
                function initialise() {
                        
                        ameyoBaseUrl = ameyoBaseUrl + cti_user.host_ip + '/';
                        crmOrigin = window.location.href;
                        iframeDiv = document.getElementById("ameyoIframeDiv");
                        iframeUrl = ameyoBaseUrl + "ameyowebaccess/toolbar-vl.htm?";
                        iframeUrl = iframeUrl + "origin=" + crmOrigin;
                        iframeHtml = '<iframe height="<%= height%>" width="<%= width %>" id="ameyoIframe" src="' + iframeUrl + '"></iframe>';
                        iframeDiv.innerHTML = iframeHtml;
                }
		
		jQuery(document).ready(function() {
		drishti_widget = new DrishtiWidget();
		initialise();
	});
	</script>