<div class="end_call_notes_container">
	<p><%= t('cti.widget.ticket_info') %></p>
	<textarea id="end_call_notes" class="final_call_notes"
						placeholder="<%= t('cti.widget.note_placeholder') %>"></textarea>
	<div class="end_call_form_btns">
		<button class="btn end_call_save">
			<%= t('cti.widget.new_ticket') %><span class="arrow-right"></span>
		</button>
		<button class="btn save_to_existing">
			<%= t('cti.widget.save_to_existing') %><span class="arrow-right"></span>
		</button>
		<button class="btn end_call_cancel">
			<%= t('cti.widget.ignore_ticket') %>
			<p class="btn-notes"><%= t('cti.widget.ignore_ticket_info') %></p>
		</button>
	</div>
</div>
