 <%
    date_range = date_range_val(30.days.ago,0.days.ago)
%>
<div class="report-filters-container animated hide" id="report-filters">
 	<ul class="unstyled">
		<li class="metric-header">
		    <h3>
		    	<%=t('helpdesk_reports.filter_by').html_safe %>
		    	<span class="close" data-action="close-filter-menu"> <%= font_icon "cross", :size => 20 %> </span>
		    </h3>
		</li>
 		<li>
		 	<div id="FilterOptions" method="post" action='#' target="_blank" class="filter-form">
		        <div class="row-fluid">
			        <div class="report-fields-widget">
						<div id="time-duration">
							<label><%=t('helpdesk_reports.time_period') %></label>
							<%= text_field_tag :date_range, date_range, :class => "required serialize" %>
						</div>
					</div>
		        </div>
		        
		    	<% if current_account.subscription.non_sprout_plan? || feature?(:advanced_reporting) %>
		    		<div id="active-report-filters"></div>
					<div class="report-fields-selector" data-action="add-filter">
						<%= font_icon "plus-circle", :size => 16 %> <a href="javascript:void(0)"><%=t('helpdesk_reports.more') %></a>
					</div>
					<div class="report-fields-menu hide" id="report_fields_list">
						<ul></ul>
					</div>
				<% end %>
			</div>
		</li>
		<li class="generate-reports">
			<div class="filter-validations" id="filter_validation_errors">
				<span class="error-msg"></span>
			</div>
			<a class="btn btn-primary" href="javascript:void(0)" data-action="reports-submit"><%=t('helpdesk_reports.generate') %></a>
		</li>
	</ul>
 </div>
 <form action="<%= export_csv_reports_timesheet_url %>" method="post" id="timesheet_form">
 		<%= submit_tag "generate_pdf", :id => "generate_pdf_submit", :name => "generate_pdf", :class => "hide"  %>
	  	<%= submit_tag "Generate PDF", :class => "hide", :id => "generate-pdf" %>
	  	<input type="hidden" id="is_saved_report" name="saved_report_used" value="false" />
	  	<input type="submit" id="submit" class="hide"  />
 		<input type="hidden" name="filters" />
 </form>
 		
 <%= javascript_tag do %>
jQuery(document).ready(function() {
	var dateFormat = getDateFormat('mediumDate').toUpperCase();
	var date = Helpkit.commonSavedReportUtil.getDateRangeDefinition(dateFormat);
	jQuery("#date_range").daterangepicker({
		earliestDate: Date.parse('01/01/2010'),
		latestDate: new Date(),
		presetRanges: [
    			{	text: '<%= t('helpdesk_reports.today') %>', 
    				dateStart: 'Today', 
    				dateEnd: 'Today',
    				period : 'today'
    			},
    	    {	text: '<%= t('helpdesk_reports.yesterday') %>', 
    	    	dateStart: 'Today-1', 
    	    	dateEnd: 'Today-1',
    	    	period : 'yesterday' 
    	    },
      		{	text: '<%= t('helpdesk_reports.this_week') %>', 
      			dateStart: date.this_week_start, 
      			dateEnd: date.endDate ,
      			period : "this_week" 
      		},
      		{	text: '<%= t('helpdesk_reports.previous_week') %>', 
      			dateStart: date.previous_week_start, 
      			dateEnd: date.previous_week_end ,
      			period : "previous_week" 
      		},
      		{	text: '<%= t('helpdesk_reports.last_num_days', num: 7) %>', 
      			dateStart: 'Today-6', 
      			dateEnd: 'Today' ,
      			period : "last_7"
      		},
      		{ text: '<%= t('helpdesk_reports.this_month') %>',
            dateStart: date.this_month_start,
            dateEnd: 'Today',
            period : "this_month"
          },
          { text: '<%= t('helpdesk_reports.previous_month') %>',
            dateStart: date.previous_month_start,
            dateEnd: date.previous_month_end,
            period : "previous_month"
          },
	  		  {	text: '<%= t('helpdesk_reports.last_num_days',num: 30) %>',
    			 	dateStart: 'Today-29', 
    				dateEnd: 'Today',
    				period : "last_30"
        	},
      		{
            text: "<%= t('helpdesk_reports.last_num_months', :num => 3 ) %>",
            dateStart: date.last_3_months,
            dateEnd: 'Today',
            period : "last_3_months"
          },
      		{	
            text: '<%= t('helpdesk_reports.last_num_days', num: 90) %>',
  				  dateStart: 'Today-89',  
  				  dateEnd: 'Today',
  				  period : "last_90"
      		},
      		{
            text: "<%= t('helpdesk_reports.last_num_months', :num => 6) %>",
            dateStart: date.last_6_months,
            dateEnd: 'Today',
            period : "last_6_months"
          },
          {
            text: "<%= t('helpdesk_reports.this_year') %>",
            dateStart: date.this_year_start,
            dateEnd: 'Today',
            period : "this_year"
          }
		],
		presets: {
			dateRange: '<%= t('helpdesk_reports.date_range') %>'
		},
		dateFormat: getDateFormat('datepicker'),
		closeOnSelect: true,
		onClose: function() {
			trigger_event("filter_changed",{});
			jQuery('#date_range').trigger('change');
		},
        presetRangesCallback : true
	});

	jQuery('#date_range').bind('keypress keyup keydown', function(ev) {
		ev.preventDefault();
		return false;
	});
});
<% end %>