<tr class="<%= cycle("odd", "even") %>" >
  <td><%= h(time_sheet.customer_name) %></td>
	<td><%= h(time_sheet.ticket_display) %></td>
	<td><%= h(time_sheet.note) %></td>
  <td><%= h(time_sheet.user.name) %></td>	
	<td><%= h(time_sheet.hours) %></td>
</tr>