<% @activity_data_hash ||= activity_data_hash_var %>
<% @metric_data ||= metric_data_var %>

<%label = "time_sheet"%>
<div class="metrics">
  <div class="metric">
    <label><%=t('reports.time_sheets.total_time')%></label>
    <h1 class='total_time_metric'><%=sprintf("%0.02f", @metric_data[:current][:total_time]) %></h1>
    <% metric_obj = percentage_change(@metric_data[:previous][:total_time], @metric_data[:current][:total_time], :hours_tracked)%>
      <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
  </div>
  <div class="metric">
    <label><%=t('reports.time_sheets.billable')%></label> 
    <h1 class='billable_time'><%=sprintf("%0.02f", @metric_data[:current][:billable]) %></h1>
    <% metric_obj = percentage_change(@metric_data[:previous][:billable], @metric_data[:current][:billable], :billable_hours)%>
      <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
  </div>
  <div class="metric">
    <label><%=t('reports.time_sheets.non_billable')%></label> 
    <h1 class='nonbillable_time'><%=sprintf("%0.02f",@metric_data[:current][:non_billable])%></h1>
    <% metric_obj = percentage_change(@metric_data[:previous][:non_billable], @metric_data[:current][:non_billable], :non_billable_hours) %>
    <span class="<%=metric_obj[:class]%>"></span><%=metric_obj[:val]%>
  </div>
  <div class="metric no-border">
    <label><%=t('reports.time_sheets.billable_vs_non_billable')%></label>
    <div id="bar_chart_noinfo" class="noinfo"><%=t('adv_reports.no_data_to_display_msg')%></div>
    <div class="comparision_chart">
        <div class="billable"></div>
        <div class="billable_value"></div>
    </div>
    <div id="timesheet_single_stacked_bar_chart_metric" class="example"></div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  Helpkit.locals = Helpkit.locals || {};
  Helpkit.locals.metric_hash = {};
  Helpkit.locals.metric_hash['hours_tracked']= '<%= @metric_data[:current][:total_time] %>';
  Helpkit.locals.metric_hash['billabe_hours']= '<%= @metric_data[:current][:billable] %>';
  Helpkit.locals.metric_hash['non_billable_hours']= '<%= @metric_data[:current][:non_billable] %>';
  Helpkit.locals.metric_hash['barchart_data'] = <%=@activity_data_hash['barchart_data'].to_json.html_safe%>;
</script>
  