<% content_for :layoutType do -%>reports_page<%- end %>
<%= javascript_include_tag :'cdn/report_date'  %>
<%= stylesheet_link_tag_with_rtl :'cdn/ui_daterangepicker', :media => "screen" %>  
 
<%= stylesheet_link_tag_with_rtl :'cdn/reports' %>
<%= javascript_include_tag :'cdn/reports'  %>
	<div id="loading-box">
	 <div class="sloading loading-left loading-small reports-loading">Generating Report...</div> 
	 </div>
<!--report header-->
<div class="row-fluid">
	<div class="span12 report-breadcrum-wrapper">
		<ul class="breadcrumb span8">
		  <li><a href="<%=reports_url%>"><%=t('adv_reports.glance.all_reports')%></a> <span class="divider">/</span></li>
		  <li><%=t('adv_reports.glance.report_view')%></li>
		</ul>
		<% unless generate_pdf_action? %>
			<ul class="nav pull-right">
	  			<li><a href="#" class="proxy-generate-pdf" ><i class="reports-icon-download"></i><%=t('adv_reports.glance.download')%>					</a></li>
	  		</ul>
	  	<% end %>
	</div>
</div>
 <!--end report header-->
<!-- report content -->
<div class="row-fluid" id="time_sheet_report">
			<%= render :partial => "time_sheet_list", :locals => {:time_sheets => @time_sheets} %> 
	</div>
<!--end report content-->


</div>
<% unless AppMetrics::FRESHFONE_METRICS.blank? %>
  	<%= javascript_tag do %>
  		if(App.Kissmetrics != undefined){
  			App.Kissmetrics.kissMetricTrackingCode("<%= AppMetrics::FRESHFONE_METRICS %>");	
  		}	
	<% end %>
<% end %>
<%= javascript_tag do %> 
	jQuery(document).ready(function() {
		var date_today = new Date();
			var dates = jQuery( "#start_date, #end_date" ).datepicker({
				changeMonth: true, 
				changeYear: true,
				numberOfMonths: 3,
				showButtonPanel: true,
				maxDate: "today",
				showOn: "both", 
				disabled: true,
				onSelect: function( selectedDate ) {
					var option = this.id == "start_date" ? "minDate" : "maxDate",
						instance = jQuery( this ).data( "datepicker" ),
						date = jQuery.datepicker.parseDate(
							instance.settings.dateFormat ||
							jQuery.datepicker._defaults.dateFormat,
							selectedDate, instance.settings );
					dates.not( this ).datepicker( "option", option, date );
					jQuery(this).prop("date", date);
					jQuery("#report_filters").trigger("change");
				}
			}); 
			full_domain = '<%= current_account.full_domain %>';
			recordAnalytics();
	});
<%end%>