
  <span class="floatr">
    <%= submit_tag "Export to CSV",{ :class => "slim-button" , :id =>'export_as_csv' }%>
  	<%= link_to("&larr; Back to reports", reports_url, :class => "slim-button") %>
  </span>
  <h3 class="title">
    Time sheet report
  </h3>
  <div id="time_sheet_report">
  	<%= render :partial => "time_sheet_list", :locals => {:time_sheets => @time_sheets} %> 
  </div>


<% content_for :sidebar do -%>
<div class="sidepanel">
  <h4 class="title">Filter report by<h4>
  <% form_tag({:action => :export_csv}, { :method => :post, :id => 'report_filters' }) do %>
    <ul class="ui-form">
      <li>
        <label>Customers</label>  
        <%= select_tag :customer_id, options_for_select(current_account.customers.collect{|c|[c.name, c.id]}, @customer_id), { :multiple => true, :class => "customSelect auto" } %>
        	     
        <label>Agents</label>	
    	  <%= render :partial => "/helpdesk/tickets/containers/multi_select", :locals => { :options => current_account.users.technicians.collect{|c|[c.id , c.name]}, :name =>:user_id, :selected_val => @user_id  } %>
       
        <label>Billing type</label>
      	<%= render :partial => "/helpdesk/tickets/containers/multi_select", :locals => { :options => Helpdesk::TimeSheet::BILLABLE_HASH, :name => :billable, :selected_val =>(@billable.eql?([true,false]) ? "" : @billable)  } %>
      </li> 
	  </ul>
    
   <h4 class="title">View report between</h4>
   <ul class="ui-form">
     <li class="inline-field"> 
				<table>
					<tr>
						<td width="100px"><label>From</label></td>
						<td><%= text_field_tag :start_date, "", :class => "text auto", :size => 10 %></td>
					</tr>
					<tr>
						<td><label>To</label></td>
						<td><%= text_field_tag :end_date, "", :class => "text auto", :size => 10 %></td>
					</tr>
				</table>
			</li>
		</ul>	     
  <% end %>
</div> 
<% end %>

<% javascript_tag do %> 
	jQuery(document).ready(function() {
		var date_today = new Date();
			var dates = jQuery( "#start_date, #end_date" ).datepicker({
				changeMonth: true, 
				changeYear: true,
				numberOfMonths: 3,
				showButtonPanel: true,
				maxDate: "today",
				showOn: "both", 
				disabled: true,
				onSelect: function( selectedDate ) {
					var option = this.id == "start_date" ? "minDate" : "maxDate",
						instance = jQuery( this ).data( "datepicker" ),
						date = jQuery.datepicker.parseDate(
							instance.settings.dateFormat ||
							jQuery.datepicker._defaults.dateFormat,
							selectedDate, instance.settings );
					dates.not( this ).datepicker( "option", option, date );
					jQuery(this).attr("date", date);
					jQuery("#report_filters").trigger("change");
				}
			}); 
		jQuery("#start_date").val('<%= @start_date.strftime("%m/%d/%Y") %>');
		jQuery("#end_date").val('<%= @end_date.strftime("%m/%d/%Y") %>');	
	
	    jQuery("#report_filters").change(function(){
    	jQuery("#time_sheet_report").html("<div class='loading-box'></div>"); 
    	jQuery.ajax({
        url: "/reports/timesheet_reports/report_filter",
        type: "POST",
        data: jQuery(this).serializeArray(),
        success: function(data){ 
		   jQuery("#time_sheet_report").hide().html(data).fadeIn(300);
        	}
			});
      	});
		
		jQuery("#export_as_csv").click(function(){
       		jQuery("#report_filters").submit();
  		}); 	
	
	});
<%end%>