<% content_for :layoutType do -%>reports_page<%- end %>
<%= javascript_include_tag :'cdn/report_date'  %>
<%= stylesheet_link_tag_with_rtl :'cdn/ui_daterangepicker', :media => "screen" %>

<%= stylesheet_link_tag_with_rtl :'cdn/reports' %>
<%= javascript_include_tag :'cdn/reports'  %>
<%= javascript_include_tag :'cdn/timesheet_reports'  %>
	<div id="loading-box">
	 <div class="sloading loading-left loading-small reports-loading"><%=t('helpdesk_reports.loading_text')%></div>
	 </div>

<!--report header-->
<div class="row-fluid">
	<div class="span12 report-breadcrum-wrapper">
		<ul class="breadcrumb span8">
		  <li><a href="<%=reports_url%>"><%=t('adv_reports.glance.all_reports')%></a> <span class="divider">/</span></li>
		  <li><%=t('adv_reports.glance.report_view')%></li>
		</ul>
	</div>
	<%= render :partial => "reports/shared/dialog"%>
</div>
 <!--end report header-->
<!-- report content -->
<div class="row-fluid" id="time_sheet_report">
			<%= render :partial => "time_sheet_list", :locals => {:time_sheets => @time_sheets} %>
	</div>
<!--end report content-->


</div>
<% unless AppMetrics::FRESHFONE_METRICS.blank? || current_account.opt_out_analytics_enabled?%>
  	<%= javascript_tag do %>
  		if(App.Kissmetrics != undefined){
  			App.Kissmetrics.kissMetricTrackingCode("<%= AppMetrics::FRESHFONE_METRICS %>");
  		}
	<% end %>
<% end %>
<%= javascript_tag do %>
	var Helpkit = Helpkit || {};
	Helpkit.report_filter_data = <%= @report_filter_data.to_json.html_safe %>;
	Helpkit.report_type = "<%= @report_type %>";
	Helpkit.locals = Helpkit.locals || {};
	Helpkit.locals.report_field_hash = <%= @show_options.to_json.html_safe %>;
	Helpkit.enable_schedule_report = <%= enable_schedule_report? %>;
	Helpkit.locals.custom_filter = <%= @custom_filter.to_json.html_safe %>;
	Helpkit.locals.report_column_hash = <%= @report_columns.to_json.html_safe %>;
	current_user = {
		mail : '<%= current_user.email %>',
		id : '<%= current_user.id %>',
		time_zone : '<%= @user_time_zone_abbr %>',
		name : '<%= current_user.name %>'
	}
	full_domain = '<%= current_account.full_domain %>';
	day_names = <%=t('date.day_names').to_json.html_safe%>;
	Helpkit.locals.custom_fields_feature_enabled = true;
	Helpkit.locals.archive_enabled = <%= current_account.features_included?(:archive_tickets) %>;
	Helpkit.locals.export_pdf_url = '<%=export_pdf_reports_timesheet_url%>';
	jQuery(document).ready(function(){
		Helpkit.TimesheetUtil.init();
	});
<%end%>
