<span class="arrow-top"></span>
<span class="watcher-close">x</span>
<div class="watcher_label">
     <div>
      <%= t('helpdesk.tickets.add_watcher.ticket_watchers') %>
      <% if @ticket.subscriptions.count > 0 %>
        <span class="watcher_count">(<%= @ticket.subscriptions.count %>)</span>
      <% end %>
     </div>
     <div class="watcher_text">
          <%= t('helpdesk.tickets.add_watcher.watcher_text') %>
     </div>
</div>

<div id="addwatcher">
  <div class="select_agents">
    <span class="add-icon-green"></span>
    <% agent_list = unsubscribed_agent_list %>
    <%= select_tag :ids, 
          options_for_select(agent_list.map {|k, v| [v, k.to_s]}), { 
              :multiple => true, 
              :class => "select2 watcher_input",
              "data-placeholder" => t('helpdesk.tickets.add_watcher.pick_agents')
          } %>
  </div>
</div>


<% if @ticket.subscriptions.present? %>
  <% 
    @subscriptions = @ticket.subscriptions.sort_by(&:created_at).reverse
    if @subscriptions.map(&:user_id).include? current_user.id
      @subscriptions.insert(0, @subscriptions.delete_at(@subscriptions.index{ |l| l.user_id==current_user.id }))
    end
  %>
  <div id="watcherlist">
    <ul class="trans-bg">
      <% @subscriptions.each do |subscription| %>
        <li>
          <div class="user_image clearfix">
            <%= user_avatar(subscription.user, :thumb, "preview_pic" , 
                            { :width => "36px", :height => "36px" })  %>
          </div>
          <% if subscription.user.id == current_user.id %>
            <div class="unwatch" title="<%=t('helpdesk.tickets.add_watcher.unwatch')%>" >
              <%= image_tag "/images/delete.png" %>
            </div>
            <div class="watcher_list">
              <b><%= t('helpdesk.tickets.add_watcher.you') %></b>&nbsp;
              <span class="agent_name" title="<%=current_user.name%>"> 
                (<%= current_user.name %>)
              </span>
            </div>
          <% else %>
            <div class="watcher_list">
              <span class="agent_name" title="<%=subscription.user.name%>"> 
                <%= subscription.user.name %> 
              </span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="construct hide">
  <li>
    <div class="user_image clearfix">
      <div class="preview_pic" size_type="thumb">
        <img alt="" onerror="imgerror(this)" src="/images/fillers/profile_blank_thumb.gif">
      </div>
    </div>
    <div class="watcher_list">
        <span class="agent_name" title="">
        </span>
    </div>
  </li>
  <div class="unwatch" title="<%=t('helpdesk.tickets.add_watcher.unwatch')%>" >
    <%= image_tag "/images/delete.png" %>
  </div>
</div>

<% javascript_tag do %> 

  jQuery("#addwatcher select").trigger("click");
  jQuery(document).trigger('click');

  jQuery("#monitor").on('click', function(ev) {
    hideActivePopovers(ev);
    remove_highlight_class();
    jQuery("#new_watcher_page").toggle();
  });

  jQuery(".watcher-close").on("click", function(){
    jQuery(".watchers_tooltip").hide();
    remove_highlight_class();
  });

  jQuery(document).live('click', function(e){
    if(!jQuery(e.target).parents().hasClass("monitor_div")){
      if(!jQuery(e.target).parents().hasClass("watchers_tooltip")){
        jQuery("#new_watcher_page").hide();
        remove_highlight_class();
      }
    }
  });

  function remove_highlight_class() {
    jQuery("#watcherlist li").removeClass("watcher_highlight");
  }

  function update_watcher_count(){
    jQuery(".watcher_count").html('('+jQuery("#watcherlist li").length+')');
  }

  jQuery(".unwatch").on('click', function(){
      var ticket_id = <%= @ticket.display_id %>;
      var selected_ids = jQuery("select.watcher_input").val();
      jQuery("#watcherlist").addClass("sloading");
      jQuery.ajax({   
          type: 'DELETE',
          url: '/helpdesk/tickets/'+ticket_id+'/subscriptions/unwatch',
          success: function(data){
                    jQuery("#watcherlist").removeClass("sloading");
                    jQuery(".construct").append(jQuery("#watcherlist .unwatch"));
                    jQuery("#monitor a").addClass("monitor").removeClass("monitor_active");

                    if(jQuery.inArray("<%= current_user.id %>", jQuery("select.watcher_input").val()) == -1){
                      jQuery("select.watcher_input")
                        .prepend(jQuery("<option></option>")
                        .attr("value",<%= current_user.id %>)
                        .text("<%=t("helpdesk.tickets.add_watcher.you")%>"));
                    } else {
                      selected_ids = selected_ids.splice("<%= current_user.id %>");
                    }

                    jQuery("select.watcher_input").val(selected_ids);
                    jQuery("#watcherlist li").first().remove();
                    update_watcher_count();
                    if(jQuery("#watcherlist li").length == 0) {
                      jQuery(".watcher_count").remove();
                      jQuery("#watcherlist").remove();
                    }
          }
      });
  });

  jQuery(".watcher_input").on("change", add_watcher);

  function add_watcher(){

    var ticket_id = <%= @ticket.display_id %>;
    var user_id = jQuery(".watcher_input").select2('data').last().id;
    jQuery.ajax({   
          type: 'POST',
          url: '/helpdesk/tickets/'+ticket_id+'/subscriptions/create_watchers?user_id='+user_id,
          error: function(data){
                    clone.addClass("watcher_remove");
                    clone.slideToggle();
                    jQuery(".watcher_input").unbind('change');
                    jQuery(".select_agents .select2-search-choice a").last().click();
                    jQuery(".watcher_input").bind('change', add_watcher);
                    setTimeout("clone.remove()",2000);
                    update_watcher_count();
                    }
    });

    var name = jQuery(".select_agents .select2-search-choice div").last().text();
    var form_values = jQuery("#ids").val();
    clone = jQuery(".construct li").first().clone();
    clone.find(".agent_name").attr("title", name).text(name);
    
    if(!jQuery(".watcher_count").text()){
      jQuery(".watcher_label div").first().append('<span class="watcher_count"></span>');
      clone.insertAfter(jQuery("#addwatcher"));
      clone.wrap('<div id="watcherlist" />').wrap('<ul class="trans-bg" />');
    }
    
    if(jQuery("#watcherlist li").first().find(".watcher_list b").text() == "<%=t("helpdesk.tickets.add_watcher.you")%>" ){
      clone.insertAfter(jQuery("#watcherlist ul li:nth-child(1)"));
    }
    else{
      if(name == "<%=t("helpdesk.tickets.add_watcher.you")%>" ){
        clone.find(".agent_name").html('<b>'+name+'</b>'+ '(' + '<%= current_user.name %>' + ')' );
        jQuery(".construct .unwatch").first().insertBefore(jQuery(clone).find(".watcher_list"));
        jQuery("#watcherlist ul").prepend(clone);
        jQuery("#monitor a").addClass("monitor_active").removeClass("monitor");
      } else{
        jQuery("#watcherlist ul").prepend(clone);
      }
    }
    update_watcher_count();
    jQuery(".select2-search-choice").hide();
    jQuery(".watcher_input").focus();
    clone.addClass("watcher_highlight");
  }
<% end %>