<span class="arrow-top"></span>
<span class="watcher-close">&times</span>
<div class="watcher_label">
     <div>
      <%= t('helpdesk.tickets.add_watcher.ticket_watchers') %>
      <% if @ticket.subscriptions.count > 0 %>
        <span class="watcher_count">(<%= @ticket.subscriptions.count %>)</span>
      <% end %>
     </div>
     <div class="watcher_text">
          <%= t('helpdesk.tickets.add_watcher.watcher_text') %>
     </div>
</div>

<div id="addwatcher">
  <div class="select_agents">
    <span class="rounded-add-icon"></span>
    <% agent_list = unsubscribed_agent_list %>
    <%= select_tag :ids, 
          options_for_select(agent_list.map {|k, v| [v, k.to_s]}), { 
              :multiple => true, 
              :class => "select2 watcher_input",
              "data-placeholder" => t('helpdesk.tickets.add_watcher.pick_agents'),
              "data-container-css-class" => "ticket-add-watcher"
          } %>
  </div>
</div>

<%= render 'ticket_watcher_list' %>

<%= javascript_tag do %> 
  App.Tickets.Watcher.init();
<% end %>