<span class="arrow-top"></span>
<span class="watcher-close">&times</span>
<div class="watcher_label">
     <div>
      <%= t('helpdesk.tickets.add_watcher.ticket_watchers') %>
      <% if @ticket.subscriptions.count > 0 %>
        <span class="watcher_count">(<%= @ticket.subscriptions.count %>)</span>
      <% end %>
     </div>
     <div class="watcher_text">
          <%= t('helpdesk.tickets.add_watcher.watcher_text') %>
     </div>
</div>

<div id="addwatcher">
  <div class="select_agents">
    <span class="rounded-add-icon"></span>
    <% agent_list = unsubscribed_agent_list %>
    <%= select_tag :ids, 
          options_for_select(agent_list.map {|k, v| [v, k.to_s]}), { 
              :multiple => true, 
              :class => "select2 watcher_input",
              "data-placeholder" => t('helpdesk.tickets.add_watcher.pick_agents')
          } %>
  </div>
</div>

<%= render 'ticket_watcher_list' %>

<%= javascript_tag do %> 

  jQuery("#addwatcher select").trigger("click");
  jQuery(document).trigger('click');

  jQuery("#watcher_toggle").on('click', function(ev) {
    hideActivePopovers(ev);
    remove_highlight_class();
    jQuery("#new_watcher_page").toggle();
  });

  jQuery(".watcher-close").on("click", function(){
    jQuery(".watchers_tooltip").hide();
    remove_highlight_class();
  });
jQuery('#watcher_toggle').live('click', function(){
     jQuery("#watcherlist").find('img').trigger( "unveil" );
});
  jQuery(document).live('click', function(e){
    if(!jQuery(e.target).parents().hasClass("ticket-btns")){
        jQuery("#new_watcher_page").hide();
        remove_highlight_class();
      }
  });

  function remove_highlight_class() {
    jQuery("#watcherlist li").removeClass("watcher_highlight");
  }

  function update_watcher_count(){
    jQuery(".watcher_count").html('('+jQuery("#watcherlist li").length+')');
  }

  jQuery(".unwatch").live('click', function(){
      var ticket_id = <%= @ticket.display_id %>;
      var selected_ids = jQuery("select.watcher_input").val();
      jQuery("#watcherlist").addClass("sloading");
      jQuery.ajax({   
          type: 'DELETE',
          url: '/helpdesk/tickets/'+ticket_id+'/subscriptions/unwatch',
          success: function(data){
                    jQuery("#watcherlist").removeClass("sloading");
                    jQuery(".construct").append(jQuery("#watcherlist .unwatch"));
                    jQuery("#monitor a").addClass("monitor").removeClass("monitor_active");
                    trigger_event("watcher_removed",{});

                    if(jQuery.inArray("<%= current_user.id %>", jQuery("select.watcher_input").val()) == -1){
                      jQuery("select.watcher_input")
                        .prepend(jQuery("<option></option>")
                        .attr("value",<%= current_user.id %>)
                        .text("<%=t("helpdesk.tickets.add_watcher.me")%>"));
                    } else {
                      selected_ids.splice(selected_ids.indexOf("<%= current_user.id %>"), 1);
                    }

                    jQuery("select.watcher_input").val(selected_ids);
                    jQuery("#watcherlist li").first().remove();
                    update_watcher_count();
                    if(jQuery("#watcherlist li").length == 0) {
                      jQuery(".watcher_count").remove();
                      jQuery("#watcherlist").remove();
                    }
                    jQuery('#watcher_toggle').data('watching', false);
          }
      });
  });

  jQuery(".watcher_input").on("change", add_watcher);

  function add_watcher(){

    var ticket_id = <%= @ticket.display_id %>;
    var currentUserID = jQuery('#watcher_toggle').data('currentuserid');
    var user_id = jQuery(".watcher_input").select2('data').last().id;
    jQuery.ajax({   
          type: 'POST',
          url: '/helpdesk/tickets/'+ticket_id+'/subscriptions/create_watchers?user_id='+user_id,
          beforeSend: function(){
            jQuery("#watcherlist").addClass("sloading");
          },
          error: function(data){
                    clone.addClass("watcher_remove");
                    clone.slideToggle();
                    jQuery(".watcher_input").unbind('change');
                    jQuery(".select_agents .select2-search-choice a").last().click();
                    jQuery(".watcher_input").bind('change', add_watcher);
                    setTimeout("clone.remove()",2000);
                    update_watcher_count();
                    },
          success: function(data){
                    jQuery('#watcherlist').remove();
                    jQuery(data).insertAfter('#addwatcher');
                     update_watcher_count();
                    jQuery("#watcherlist").removeClass("sloading");
                     if(user_id == currentUserID) jQuery('#watcher_toggle').data('watching', true);
                      trigger_event("watcher_added",{});
                    }
    });

    var name = jQuery(".select_agents .select2-search-choice div").last().text();
    var form_values = jQuery("#ids").val();
    if(!jQuery(".watcher_count").text()){
     jQuery(".watcher_label div").first().append('<span class="watcher_count"></span>');
    }
    if(name == "<%=t("helpdesk.tickets.add_watcher.me")%>" ){
      jQuery("#monitor a").addClass("monitor_active").removeClass("monitor");
    } 
    jQuery(".select2-search-choice").hide();
    jQuery(".watcher_input").focus();
  }
<% end %>