<% if(!unreadIds.length){ %> 
<a class="read" data-unread-ids='<%= unreadIds %>' href="<%= action_url %>">
<% }else{ %>
<a data-unread-ids="<%= unreadIds %>" href="<%= action_url %>">
<% } %>
    <div class="preview_pic circle avatar-text text-center thumb bg-<%= Math.abs(uniqueCodeGenerator(actor_text)) %>" > 
      <span><%= actor_text[0] %></span>
      <img class="hide thumb_img thumb" src="" data-user-id="<%= actor_id %>" >
    </div>
    <div class="notification-inner">
      <div class="notification-type"><%= notification_type %></div>
      <div class="notification-content"><%= content %></div>
      <div class="notification-time"><%= moment(created_at).fromNow() %></div>
    </div>
</a>