<% disabled_class = current_account.topics.count > 0 ? '' : 'disabled' %>
<li class="<%= disabled_class %>">
	<%= pjax_link_to(t('discussions.index.all_topics'), discussions_path, {:"data-page-name" => :all_posts})%>
</li>
<li class="<%= disabled_class %>">
	<%= pjax_link_to(t('discussions.index.your_topics'), your_topics_discussions_path, {:"data-page-name" => :your_posts})%>
</li>
<% if privilege?(:delete_topic) %>
	<% if moderation_enabled? %>
	<li>
		<%= pjax_link_to( 
					(t('discussions.moderation.index.waiting') + " <span rel='count-waiting' class='muted'>#{display_count(@counts[:waiting] || @counts[:unpublished])}</span> ").html_safe,
						moderation_index_path(:waiting), {:"data-page-name" => :waiting}) %>
	</li>
	<% end %>
	<li>
		<%= pjax_link_to( 
					(t('discussions.moderation.index.title') + " <span rel='count-spam' class='muted'>#{display_count(@counts[:spam])}</span> ").html_safe, 
						moderation_index_path(:spam), {:"data-page-name" => :spam}) %>
	</li>
<% end %>
<li>
	<%= pjax_link_to t('discussions.all_categories'), categories_discussions_path, {:"data-page-name" => :folders} %>
</li>
<ul id="cm-sb-categories">
	<%= forum_category_list %>
</ul>
<script type="text/javascript">
	App.Discussions.Sidebar.setCurrentPage();
</script>
