<div class="sidepanel freshfone_dashboard">
	<h3 class="title">Freshfone</h3>
	
	<div class="freshfone_alert alert hide" rel="permanent">
	<% if current_user.privilege?(:manage_account) %>
		<%= t('freshfone.dashboard.admin_freshfone_recharge_alert').html_safe %>
	<% else %>
		<%= t('freshfone.dashboard.freshfone_recharge_alert') %>
	<% end %>
	</div>
	
	<div class="freshfone_realtime">
		<div class="freshfone_dashboard_cells">
			<h4> <span class="live-calls">0</span></h4>
			<span class="dash-lbl"><%= t('freshfone.dashboard.in_conversation') %></span>
		</div>
		<div class="freshfone_dashboard_cells">
			<h4> <span class="live-available-agents">0</span></h4>
			<span class="dash-lbl"><%= t('freshfone.dashboard.available_agents') %></span>
		</div>
	</div>
	<!-- <div class="freshfone_dashboard_cells">
		<h4 class="daily-burn"> $18.75 </h4>
		<span class="dash-lbl">Daily Burn Rate</span>
	</div>
	<div class="freshfone_dashboard_cells">
		<h4 class="available-credit"> $100.56 </h4>
		<span class="dash-lbl">Available Credit</span>
	</div> -->
	<%= link_to 'Call History', freshfone_call_history_index_path,
							:class => 'dashboard_call_history_link',
							:'data-pjax' => "#body-container" %>
</div>

