<div class="innerbox">
	<div class="freshfone_alert alert alert-danger hide" rel="permanent">
		<% if current_user.privilege?(:manage_account) %>
			<%= t('freshfone.dashboard.admin_freshfone_recharge_alert_new').html_safe %>
		<% else %>
			<%= t('freshfone.dashboard.freshfone_recharge_alert_new') %>
		<% end %>
	</div>

	<% if freshfone_active? %>
		<ul class="clearfix mt20 freshfone_realtime">
			<li class="disabled">
				<a class="freshfone_dashboard_cells" href="/phone/dashboard/#queued_calls">
					<h4> <span class="live-queued-calls">0</span></h4>
					<p class="dash-lbl muted"> <%= t('freshfone.dashboard.waiting') %> </p>
				</a>
			</li>
			<li celass="disabled">
				<a class="freshfone_dashboard_cells" href="/phone/dashboard/#active_calls">
					<h4> <span class="live-active-calls">0</span></h4>
					<p class="dash-lbl muted"> <%= t('freshfone.dashboard.in_conversation') %> </p>
				</a>
			</li>
		</ul>
	<% end %>
</div>
<%= link_to 'Call History', freshfone_call_history_index_path,
						:class => 'widget-more-link',
						:'data-pjax' => "#body-container" %>