<div class="clearfix pb20 caller-header hide manage-caller-header">
  <p class="caller-title pull-left">
  <%=t('freshfone.admin.numbers.caller_id.manage_caller_id')%><span class="caller_count">(<%= outgoing_callers.count %>)</span>
  </p>
  <a id="another-outgoing-caller" href="#" class="pull-right"><%=t('freshfone.admin.numbers.caller_id.another_caller')%></a>
</div>

<div class="caller-title caller-header hide verify-caller-header" >
  <a id="back-to-caller-ids" href="#" >
    <%=t('freshfone.admin.numbers.caller_id.manage_caller_id')%>
    <span class="caller_count">(<%= outgoing_callers.count %>)</span>
  </a>
  <span><%=t('freshfone.admin.numbers.caller_id.add_another')%></span>
</div>

<div class="caller-title caller-header hide" id="outgoing-caller-header" >
  <%=t('freshfone.admin.numbers.caller_id.manage_caller_id')%>
  <span class="caller_count">(<%= outgoing_callers.count %>)</span>
  <span><%=t('freshfone.admin.numbers.caller_id.add_another')%></span>
</div>

<div class="caller-title caller-header hide" id="default-caller-header" >
  <span><%=t('freshfone.admin.numbers.caller_id.add_new_caller_id')%></span>
</div>