<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_outgoing_caller_ids' %> 

<button class="hide" id="outgoing-caller-id"
      rel="freshdialog"
      data-width="400"
      data-target="#outgoing-caller-id-container"
      data-template-footer="">
</button>
  
<div id="outgoing-caller-id-container" class="hide">
  
  <% if settings %>
    <%= render :partial => "/freshfone/default_outgoing_caller_header" %>  
  <% else %>  
    <%= render :partial => "/freshfone/outgoing_caller_headers" %>
    <div class="manage-caller-ids caller">
      <%= render :partial => "/freshfone/manage_caller_ids" %>
    </div>
  <% end %>  
  
  <%= render :partial => "/freshfone/outgoing_callers" %>

</div>

<%= javascript_include_tag :'cdn/freshfone_outgoing_caller_id' %>
<%= javascript_tag do %>
  if (typeof freshfone === "undefined") { freshfone = {}; }
  freshfone.error_message = '<%=t('freshfone.admin.numbers.caller_id.error_message')%>'
  freshfone.invalid_number_message = '<%=t('freshfone.admin.numbers.caller_id.invalid_number')%>'
  freshfone.calling = '<%=t('freshfone.admin.numbers.caller_id.calling')%>'
  freshfone.simultaneous_verification_error = '<%=t('freshfone.admin.numbers.caller_id.simultaneous_verification_error') %>'
  freshfone.delete_text = '<%=t('freshfone.admin.numbers.caller_id.delete')%>'
<% end %>