<div class="hs_topBar">
    <div class="hs_topBarContent">
        <!--Right-Side Controls-->
        <ul class="hs_topBarControls">
            <li class="hs_topBarControlsBtn" data-dropdown="FilterOptions" title="Filter Options">
                <span class="icon-app-dir x-filter"></span>
            </li>
            <li class="hs_topBarControlsBtn" data-dropdown="Settings" title="Settings">
                <span class="icon-app-dir x-settings"></span>
            </li>
        </ul>
        <!--Left-Side Title-->
        <h1 class="hs_topBarTitle"><%= t("integrations.hootsuite.header.tickets") %></h1>
    </div>

      <!--Drop Downs-->
      <!--Filter Options-->
    <div class="hs_topBarDropdown hs_dropdownFilterOptions hs_form" data-dropdown="FilterOptions">
        <%= form_tag(params.merge(:controller => "home", :action => "search").except(:ticket_status,:ticket_priority,:search_type,:search_text,:active,:clear)) do %>
            <%= hidden_field_tag 'active', "1" %>
            <input id="hs_searchInputExample" type="hidden" name="search_type" value="filter"></input>
            
            <div class="search_type_wrap">
                <div class="inline-block">
                    <label for="keyword" class="inline-block search_type" data-text="<%= t("integrations.hootsuite.search.placeholder_keyword") %>">
                        <input type="radio" name="search_type" class="inline-block first_radio" id="keyword" value="keyword" checked/><%= t("integrations.hootsuite.search.keyword") %>
                    </label>
                    <label for="ticket" class="inline-block search_type" data-text="<%= t("integrations.hootsuite.search.placeholder_ticket_id") %>">
                        <input type="radio" name="search_type" class="inline-block second_radio" id="ticket" value="ticket" /><%= t("integrations.hootsuite.search.ticket_id") %>
                    </label>
                </div>
            </div>

            <div class="hs_searchWrapper">
                <input id="hs_searchInputExample" type="text" name="search_text" class="search_text" placeholder="<%= t("integrations.hootsuite.search.placeholder_keyword") %>"></input>
            </div>

            <div class="control-group hs_filter">
                <label for="ticket_status"><%= t("integrations.hootsuite.filter.status") %></label>
                <div class="controls">
                    <select id="filter_type" name="ticket_status">
                        <option value=" "><%= t("integrations.hootsuite.filter.all") %></option>
                        <% current_portal = current_account.main_portal  %>
                        <% a = current_portal.ticket_fields.detect {|f| f.name=="status"} %>
                        <% a.ticket_statuses.each do |status| %>
                            <option value=<%=status.status_id%>><%= status.name%></option>
                        <%end%>
                    </select>
                </div>
            </div>
            <div class="control-group hs_filter">
                <label for="ticket_status"><%= t("integrations.hootsuite.filter.priority") %></label>
                <div class="controls">
                    <select id="filter_type_priority" name="ticket_priority">
                        <option value=" "><%= t("integrations.hootsuite.filter.all") %></option>
                        <% current_portal = current_account.main_portal  %>
                        <% a = current_portal.ticket_fields.detect {|f| f.name=="priority"} %>
                        <% a.choices.each do |priority| %>
                            <option value=<%=priority[1]%>><%= priority[0]%></option>
                        <%end%>
                    </select>
                </div>
            </div>



            <div class="button-container hs_searchWrapper">
                <button class="hs_btnCtaSml hs_btnTypeSubmit"><%= t("integrations.hootsuite.submit") %></button>
            </div>
            <% if show_clear_filter %>
                <button class="hs_btnCtaSml hs_btnTypeSubmit hs_reset clear_filter"><%= t("integrations.hootsuite.reset") %></button>
            <% end %>
        <% end %>
        
    </div>

    <!--Settings-->
    <div class="hs_topBarDropdown hs_dropdownSettings" data-dropdown="Settings">
        <div class="signout_text"><%= t("integrations.hootsuite.logged_in_message",:user_name => truncate(current_user.name, length: 9)).html_safe %></div>
        <%= button_to t('header.signout'), params.merge(:controller => "home", :action => "destroy"),:class => "hs_btnCtaSml hs_btnTypeSubmit", :method => :delete, :id => "log_out", "data-integrations-url" => logout_redirect_url %>
    </div>

</div>
<script>
var status = '<%= params[:ticket_status]%>';
var priority = '<%= params[:ticket_priority]%>';
var searchText = '<%= params[:search_text] %>';
var searchType = '<%= params[:search_type] %>';
var active = '<%= params[:active] %>';
jQuery(document).ready(function(){
    jQuery("#filter_type").val(status);
    jQuery("#filter_type_priority").val(priority);
    jQuery(".search_text").val(searchText);
    if(searchType == "ticket") jQuery("#ticket").trigger('click');
    if(!active) hideSearchFilters();
});
</script>
