<%= stylesheet_link_tag_with_rtl :'cdn/hootsuite' %>
<%= form_tag params.merge(:action => "verify_domain").except(:freshdesk_domain), {:class => "hs_form hs_domain"} do %>
	<%if params[:error].present? %><div class="alert alert-error login-error" id="alert">
			<%= t("integrations.hootsuite.domain.domain_error") %>
		</div>
	<% end %>
	<div class="control-group">
		<div class="text-center"><%= t("integrations.hootsuite.domain.domain_message") %></div>
		<div class="controls">
			<%= text_field_tag 'freshdesk_domain', nil, { :class => 'hs_demoInput'} %><br />
		</div>
	</div>
	<div class="button-container text-center">
		<%= submit_tag t("integrations.hootsuite.domain.continue_to_login"), {:class => 'hs_btnCtaSml hs_btnTypeSubmit'} %>
	</div>
	<a href="http://freshdesk.com/signup?utm_source=Hootsuite&utm_medium=Inapp&utm_campaign=AppLink" target="_blank" class="signup-link"><%= t("integrations.hootsuite.signup_message") %></a>
<% end %>