<html>
  <head>
  </head>
  <body>
    <script src="https://d2l6uygi1pgnys.cloudfront.net/jsapi/2-0/hsp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>

function pasrseMessage(message){
  var messageString = '';
  var separator = '---------\n';
  if(message.post){
    if (message.post.href){
      messageString = 'View on '+message.post.network + '\n';
      messageString = messageString+message.post.href+'\n\n'+separator;
    }
    messageString = messageString+message.post.user.username+' said on '+message.post.datetime+'\n';
    if(message.post.content){
       messageString = messageString+message.post.content.body + '\n\n';
    }
    if(message.post.conversation&&message.post.conversation.length>0){
      messageString = messageString+'------'+message.post.conversation.length+' Comments'+'------\n\n';
      jQuery.each(message.post.conversation, function(i, val) {
        messageString = messageString+separator+'* '+val.name+' on '+val.datetime+'\n'+val.text+'\n';
      });
    }
  }
  return messageString;
}
function trunc(str, max_length, suffix) {
    max_length = max_length | 0;
    if (max_length <= 0 || str.length <= max_length)
        return str;
    if (undefined === suffix || null === suffix)
        suffix = '';
    return str.slice(0, max_length) + suffix;
}

function sendToAppHandler(message) {
  var sub = message.post.network + ' Comment Via- Hootsuite: ' + '\n';
  sub = sub + trunc(message.post.content.body,100,"...");
  var desc = pasrseMessage(message);
  desc = trunc(desc,500,"...");
  var description = desc;
  var subject = sub;
  var data = {
    "description" : description,
    "subject" : subject,
    "twitter" : {},
    "facebook" : {},
  }
  var twitter="";var facebook="";
  if(message.post.network=="TWITTER") {
    data.twitter = { 
      "twitter_id" :message.post.user.username, 
      "tweet_id" : message.post.id, 
      "image" : message.profile.profile_image_url_https 
    };
    twitter = "&tweet_id="+message.post.id;
  }
  else if(message.post.network=="FACEBOOK") {
    data.facebook = { 
      "post_id" : message.post.id, 
      "fb_profile_id" : message.post.user.userid, 
      "user_name" : message.post.user.username
    };
    twitter = "&post_id="+message.post.id;
  }

  hsp.saveData(data);
  

  var args = "uid="+'<%= params[:uid]%>'+"&ts="+'<%= params[:ts]%>'+"&token="+'<%= params[:token]%>'+"&pid="+'<%= params[:pid]%>'+"&channel="+message.post.network+"&is_plugin=1"+twitter + facebook;
  var handler = "<%= AppConfig['integrations_url'][Rails.env]%>" + "<%= integrations_hootsuite_home_plugin_url_path %>" + "?is_plugin=1&"+args
  hsp.showCustomPopup(handler, 'Freshdesk', '700', '500');
}

  jQuery(document).ready(function() {
    hsp.init({
		  });
    hsp.bind('sendtoapp', function(message){
      sendToAppHandler(message);
	  });
  });
</script>
  </body>
</html>