<div>
  <%= render :partial => "email_header" %>
  <div style='text-align: center;
              padding-top: 52px;'>
    <%= render :partial => "sandbox_greeting", :locals => {:message => t('sandbox.mail.live_message').html_safe } %>
    <div style="margin-top: 20px;">
      <%= link_to t('sandbox.mail.sandbox_button'), "#{@additional_info[:sandbox_url]}",
        { :style => "background-color:#02b875;border:solid 0.6px #018554;color:white;text-decoration:none;padding: 14px 20px;display:inline-block;border-radius:2px;letter-spacing:1px;" } %>
    </div>
    <div style="margin-top: 50px;
                line-height: 1.6;
                color:#6f7c86;">
        <%= t('sandbox.mail.button_error').html_safe %>
    </div>
    <div style="padding: 20px;">
       <a style="color: #15c;
                text-decoration:none;"
          href=<%= "#{@additional_info[:sandbox_url]}" %>>
          <%= @additional_info[:sandbox_url] %>
        </a>
    </div>
  </div>
  <%= render :partial => "sandbox_recommendations" %>
  <%= render :partial => "email_footer" %>
  <%= render partial: "helpdesk/shared/other_recipients_note.html.erb" %>
</div>
