<div class="span7">
  <h3>Summary</h3>
  <table id="subscription" class="table table-bordered">
    <tr>
      <th>Account ID</th>
      <td><%= h(@account.id) %></td>
    </tr>           
    <tr>
      <th>Name</th>
      <td><%= h(@account) %></td>
    </tr>           
    <tr>
      <th>Contact information</th>
      <td><%= @account.admin_email %> <%= @account.admin_phone %> </td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @account.created_at.to_s(:short_day) %></td>
    </tr>
    <tr>
      <th>Billing site</th>
      <td><%= link_to(@account.subscription.currency_billing_site, %(https://#{@account.subscription.currency_billing_site}.chargebee.com)) %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @account.subscription.state %></td>
    </tr>
    <tr>
      <th>Plan</th>
      <td><%= @account.subscription.subscription_plan.name %></td>
    </tr>
    <tr>
      <th>Billing cycle (in months)</th>
      <td><%= @account.subscription.renewal_period %></td>
    </tr>
    <tr>
      <th>Monthly Revenue (adjusted to current exchange rate)</th>
      <td>$<%= format_float_value(@account.subscription.cmrr) %></td>
    </tr>
    <tr>
      <th>Next Renewal</th>
      <td><%= @account.subscription.next_renewal_at.to_s(:short_day) %></td>
    </tr>
    <tr>
      <th>Currency</th>
      <td><%= @account.currency_name %></td>
    </tr>
    <tr>
      <th>Amount (charged on next renewal)</th>
      <td><%= (@account.subscription.amount) %> <%= @account.currency_name %></td>
    </tr>
    <tr>
      <th>Lifetime Revenue</th>
      <td><%= @account.subscription_payments.sum(:amount) %> <%= @account.currency_name %></td>
    </tr>       
    <tr>
      <th>Remaining Day Passes</th>
      <td><%= @account.day_pass_config.available_passes %></td>
    </tr>
    <tr>
      <th>Freshfone Credits</th>
      <% credit = @account.freshfone_credit %>
      <td><%= number_to_currency(credit ? credit.available_credit : 0) %></td>
    </tr>
    <tr>
      <th>Agents</th>
      <td>
        Subscribed - <%=@account.subscription.agent_limit%><br/>
        Free - <%= @account.subscription.free_agents %><br/>
        Full time - <%= @account.full_time_agents.count %><br/>
        Total - <%= @account.agents.count %><br/>
        Ocassional - <%=@account.agents.count - (@account.full_time_agents.count ||= 0)%>
      </td>
    </tr>
    <tr>
      <th>Tickets</th>
      <td><%= @account.tickets.count %></td>
    </tr>
     <tr>
      <th>Chat</th>
      <td>Chat - <%= @account.features?(:chat) %>  Enabled - <%= @account.chat_setting.display_id? && 
                                                                  @account.chat_setting.active %></td>
    </tr>
    <tr>
      <th>Multi product</th>
      <td><%= @account.portals.count > 1 %></td>
    </tr>
    <tr>
      <th>Custom Mailbox</th>
      <td><%= !@account.smtp_mailboxes.size.zero? %></td>
    </tr>
    <tr>
      <th>Social</th>
      <td>Twitter - <%= !@account.twitter_handles.blank? %> Facebook - <%= !@account.facebook_pages.blank?%></td>
    </tr>
    <tr>
      <th>Email Configured</th>
      <td><%= (@account.all_email_configs.collect {|ec| "#{ec.name} - #{ec.reply_email} - #{ec.active}"}).join("<br>").html_safe %></td>
    </tr>
    <tr>
      <th>Portals</th>
      <td><%= (@account.portals.collect {|por| "#{por.name} - #{por.portal_url} - #{por.language}"}).join("<br>").html_safe %></td>
    </tr>
    <tr>
      <th>Security</th>
      <td>SSO - <%= @account.sso_enabled? %>  HTTPS - <%= @account.ssl_enabled? %>   Custom SSL - <%= @account.main_portal.ssl_enabled %> </td>
    </tr>
  </table>   
</div> 
<div class="span4">
<table id="sample-tickets" class="table table-bordered">
  <tr><th>Sample tickets</th></tr>
  <% @account.tickets.find(:all,:order => 'created_at desc',:limit => 5).each do |tkt| %>
    <tr>
    <td><%=tkt.subject%></td>
    </tr>
  <%end%>
  
  
  <table> 
</div>        

<div class="span4">
  <h3>Agents</h3>
  <table class="table">
    <tr>
      <th>Email</th>
      <th>Verified</th>
      <th>Occasional</th>
    </tr>
    <% @account.agents.each do |agent| %>
      <tr>
        <td><%= agent.user.email %></td>
        <td><%= agent.user.active %></td>
        <td><%= agent.occasional %></td>
      </tr>
    <% end %>     
  </table>

  <b>Invoices are sent to</b>
    <table class="table">
      <% @account.invoice_emails.each do |email| %>
        <tr><td><%= email %></td></tr>
      <% end %>
    </table>
</div>  