<h1><%= @page_title = 'Accounts' %></h1>

<%= javascript_include_tag :defaults %>
<%= calendar_date_select_includes 'silver' %>
<%CalendarDateSelect.format = :iso_date%>

Next Renewal 

<% form_tag "/accounts", :method => 'get' do %>
  <p>
  	
    <%= calendar_date_select_tag 'start_date', "" %>
     
	 to

    <%= calendar_date_select_tag 'end_date', "" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

Host name

<% form_tag "/accounts", :method => 'get' do %>
  <p>
  	
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

Total number of accounts : <%=Account.all.count%>

<br>
<br>

<%=link_to 'Agents', '/accounts/agents'%> || <%=link_to 'Helpdesk urls', '/accounts/helpdesk_urls'%> || <%=link_to 'Tickets', '/accounts/tickets'%>

<br>
<br>

<table id="accounts">
  <tr>
    <th>Name</th>
    <th>Domain</th>
    <th>Created</th>
	<th>Email</th>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to(h(account.name), [:admin, account]) %></td>
      <td><%= account.full_domain %></td>
      <td><%= account.created_at.to_s(:short_day) %></td>
	  <td><%= account.account_admin.email %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate(@accounts) %>