<% return if @widget_form && !widget_option(:screenshot) && !widget_option(:attachFile) %>
<% 
  attach_id ||= "ticket"
  original_attachments ||= {:regular => [], :cloud_files => []}
  nsc_param = nsc_param || "helpdesk_ticket"
%>
<div class="attach-wrapper row-fluid">
  <div class="span7">    
    <% if widget_option(:attachFile) %>
      <% if cloud_files_installed? %>
        <div class="dropdown dropup">        
          <a class="dropdown-toggle attach-link" data-toggle="dropdown" href="#">
            <i class="wicon-paper-clip"></i><%=I18n.t('attach')%><b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li class="portal-attach">
              <a data-file-id="<%=attach_id%>" href="javascript:void(0)" class="attach-link-wrap">
                <%= I18n.t('portal.attach_file').html_safe %>
                <div class="attach-file attach-link-file" id="<%= attach_id %>-attach-container">  
                  <input type="file" name="emptyfile" 
                    id="<%=attach_id%>_file"
                    data-attach-id="<%=attach_id%>"
                    nameWhenFilled="<%=nsc_param%>[attachments][][resource]" 
                    fileContainer="<%=attach_id%>-container" 
                    fileList="<%=attach_id%>-attachments"
                    sendFocusTo="<%=attach_id%>-body" />
                </div>
              </a>
            </li>
          <%= render :partial => "integrations/applications/box", :locals => {:attach_id => attach_id} unless current_user.blank? %>
          <%= render :partial => "integrations/applications/dropbox", :locals => {:attach_id => attach_id} %>
          </ul>      
        </div>
      <% else %>      
        <div class="attach-link portal-attach">
          <a data-file-id="<%=attach_id%>" href="#" class="attach-link-wrap">
              <%= I18n.t('portal.attach_file').html_safe %>
              <div class="attach-file attach-link-file" id="<%= attach_id %>-attach-container">  
                <input type="file" name="emptyfile" 
                  id="<%=attach_id%>_file"
                  data-attach-id="<%=attach_id%>"
                  nameWhenFilled="<%=nsc_param%>[attachments][][resource]" 
                  fileContainer="<%=attach_id%>-container" 
                  fileList="<%=attach_id%>-attachments"
                  sendFocusTo="<%=attach_id%>-body" />
              </div>
          </a>
        </div>
      <% end %>    
      <div class="attachments-list-form" id="<%= attach_id %>-container">
        <div id="<%= attach_id %>-attachments"></div>
      </div>
    <% end %>    
  </div>
  <% if @widget_form && widget_option(:screenshot) %>
    <div class="span5 omega align-right">
      <% if is_application_installed?("screenr") && widget_option(:screenr_recording)%>
        <div class="screenshot-wrap controls">
          <div class="ie8plusonly pull-right">        
            <div class="dropdown">
              <div class="dropdown-toggle attach-link" data-toggle="dropdown" href="#">
                Screen Capture<b class="caret"></b>
              </div>
              <ul class="dropdown-menu screenr-dropdown align-left" role="menu" aria-labelledby="dLabel">
                <li class="portal-attach">
                  <div id="takescreen-btn">
                    <a href="#"><i class="wicon-camera"></i> <%=t('.feedback_widgets_screenshot')%></a>
                  </div>
                </li>
                <li>
                  <%= render :partial => "shared/screenr_recorder", :locals => { :location => "widget" } %>
                </li>
              </ul>
            </div>
            <div class="flash" style="display:none"></div>
            <div id="screenshot-wrap" style="display:none">
              <canvas class="f-screenshot" id="f-screenshot"></canvas>
              <a href="#" class="close screenshot-remove" onClick="remove_screenshot()">&times;</a>
            </div>
          </div>
        </div>
      <% else %>
        <div class="screenshot-wrap controls">
          <div class="ie8plusonly">
            <div id="takescreen-btn">
              <i class="wicon-camera"></i>
              <a href="#"><%=t('.feedback_widgets_screenshot')%></a>
            </div>
            <div class="flash" style="display:none"></div>
            <div id="screenshot-wrap" style="display:none">
              <canvas class="f-screenshot" id="f-screenshot"></canvas>
              <a href="#" class="close screenshot-remove" onClick="remove_screenshot()">&times;</a>
            </div>
          </div>
        </div>
      <% end %>      
    </div>
  <% end %>
</div>

<% if widget_option(:attachFile) %>
    <%= render :partial => "/support/shared/multifile_ticket_template"%>
    <script type="text/javascript">
      // Fix for Firefox/IE - To override :hover style persistance after click on input[type=file] element
      jQuery('div.attach-wrapper a[data-toggle="dropdown"]').bind('click', function(){
        jQuery(this).parents('div.attach-wrapper').find('a.attach-link-wrap').first().css({
              'background-color': 'inherit',
              'background-image': 'inherit',
              'color': 'inherit',
              'box-shadow': 'inherit'
          });
      });
      jQuery('li.portal-attach a.attach-link-wrap')
        .bind('mouseover', function(){
          jQuery(this).removeAttr('style');
        })
        .bind('mousemove', function(event){
          // Fix to move "Browse" button along with mouse pointer - fix for IE.
          p=jQuery(this).find('div').first();
          newLeft = Math.min(175, Math.max(event.clientX - p.offset().left + p.position().left - 5, 0));
          window.title = newLeft;
          p.css({left: newLeft, top: 0});
        })
    </script>
<% end %>

