<h4 class="title">Tell us what you would like to see in this article?</h4>
<% form_remote_tag   :update => { :success => "article_voting", :failure => "article_error" } , :url => create_ticket_support_article_path, :method =>:post do   %>
  <%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>
  <%= hidden_field_tag "helpdesk_ticket[subject]", "Feedback for #{article.title}" %>
  <%= hidden_field_tag "helpdesk_ticket[email]", current_account.default_email %>
  
  <%= text_area_tag "helpdesk_ticket[description]" %>
  <span class="seperator"></span>
  <div>
		<% if !logged_in? %>
		  <label>To verify you are human, plese type the given scrambled letters</label>
			<%=recaptcha_tags :ajax => true , :display => { :theme => "white" } %>
		<% end %>
  </div>
  
  <%= submit_tag 'Send Feedback', :class => "uiButton" -%>
<% end %>