<% _cc_condition = current_user && field.portal_cc_field? && ( current_user.customer || field.all_cc_in_portal? ) %>
<%= label %>
<div class="controls">
	<div class="clearfix">
		<%= text_field object_name, :email, 
				:value => @ticket.email, :class => "span12 email required", 
				:placeholder => "Email", "data-remote" => "true", "data-remote-triggers" => "focusout" %>
			
		<div id="name_field" class="hide">
			<input class="text span12" placeholder="Enter your full name" 
				name="helpdesk_ticket[name]" size="30" type="text" />
		</div>

		<% if _cc_condition %>		
			<a href="#" data-toggle-dom="#cc-emails" data-toggle-text="Hide cc" id="add-cc-button">Add cc</a>
		<% end %>
	</div>
	<% if _cc_condition %>
		<div id="cc-emails" class="cc-emails hide">
			<span class="cc-label">Cc:</span>			
			<% if field.company_cc_in_portal? %>
				<%= select_tag(:cc_emails, 
						options_for_select(current_user.customer.users.collect{|c|[c.email, c.email]}),
		    			{ :multiple => true, "data-placeholder" => "Select contacts from #{current_user.customer.name}" }) %>
		    <% else %>
		    	<input type="text" id="cc_emails" />
		    <% end %>
		</div>
		<% javascript_tag do -%>
			jQuery(document).ready(function(){
				_opts = {}
				_opts['tokenSeparators'] = [",", " "]

				<% unless field.company_cc_in_portal? %>
					_opts['formatNoMatches'] = function () { return "Add multiple cc emails seperated by \",\""; } 
					_opts['createSearchChoice'] = function(term, data) {
						if(jQuery(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) { 
							if(validEmail(term))
								return {id:term, text:term}; 
						} 
					}
					_opts['multiple'] = true
	                _opts['data'] = []
	            <% end %>

		        jQuery("#cc_emails").select2(_opts)
			})
		<%- end %>
	<% end %>

	<% unless current_user %>
	  	<% javascript_tag do %>
	    jQuery("#helpdesk_ticket_email").focusout(function(){
			var ticket_email = jQuery("#helpdesk_ticket_email").val();
			var valid_email = /^<%= email_regex %>$/;

			if(valid_email.test(ticket_email)) {  
				jQuery("#helpdesk_ticket_email").addClass("loading-right");
				jQuery.ajax({ url: "<%= check_email_support_tickets_path %>?v="+ticket_email,
				  	success: function(data){
					    jQuery("#helpdesk_ticket_email").removeClass("loading-right");

					    if(!data.user_exists)
					    	jQuery("#name_field").slideDown();
					    else
					    	jQuery("#name_field").slideUp();
					    	
					}
				});
			} 
		});
	  <% end %>
	<% end %>
</div>

