<div class="header_area">
	<h4>Submit a ticket</h4>
</div>

<div class="page_area">
	<ul class="ui-form">
	<% @customizer = ActiveSupport::JSON.decode(@ticket.customizer.requester_view)
	   @customizer.each do |field|
			logger.debug "field.label :: #{field["label"]} and "
			case field["label"]
				 when "Requester" then
	%>
	<li> 	
  		<label id="requester-label">Email *</label>
  		<input type="text" id="helpdesk_ticket_email" class="text" name="helpdesk_ticket[email]"></input>
   	</li>	
	<% when "Subject" then%>
		<li>
        	<%= request_form.label :subject, "Subject" %>
          	<%= request_form.text_field :subject, :class => "text" %>
   		</li>
	<%when "Source" then%>
		<li class="dropdown">
  			<%= request_form.label :source, "Source" %>
 			<%= request_form.select :source, Helpdesk::Ticket::SOURCE_OPTIONS, :class => "select" %>
        </li>
				
	<%when "Status" then%>
		<li class="dropdown">
          	<%= request_form.label :status, "Status" %>
         	<%= request_form.select :status, Helpdesk::Ticket::STATUS_OPTIONS, :class => "select" %>
        </li>
		
	<%when "Group" then%>
		<li class="dropdown">
          	<%= request_form.label :group_id, "Group" %>

          	<%= request_form.collection_select :group_id, Group.find_all_by_account_id(current_account.id), :id, :name,{:include_blank => 'None'}, { :onchange => "changeAggentList(this.options[this.selectedIndex].value)" ,:class => "select"} %>

        </li>
		
	<%when "Assigned to" then%>	
		<li class="dropdown" id="assigned_to">
          	<%= request_form.label :responder_id, "Assigned To" %>
          	<%= request_form.collection_select :responder_id, Helpdesk::Authorization.find_all_by_permission(:manage_tickets), :user_id, :name, {:include_blank => 'Nobody'}, :class => "select" %>
        </li>
	<%when "Priority" then%>
		<li class="dropdown">
 			<%= request_form.label :priority, "Priority" %>          
			<%= request_form.select :priority, Helpdesk::Ticket::PRIORITY_OPTIONS, :class => "select" %>
    	</li>
	
	<%when "Description" then%>
		<li>
			<%= request_form.label :description, "Description" %>
    		<%= request_form.text_area :description, :class=>"textarea" %>
		</li>				
	
	<%else%>
		<%logger.debug "Custom  Field #{field["label"]}"%>
		<% request_form.fields_for :flexifields do |cust_form| %>
			<% case field["type"] when "text","number" then %>				
				<li class="<%= field['label'] %>">		 
					<%= cust_form.label "#{field["label"]}", "#{field["label"]}" %>  
 					<%= cust_form.text_field "#{field["label"]}" ,:class=>"text" %>
				</li>		 
						
			<% when "paragraph" then %>
				<li class="paragraph">
					<%= cust_form.label "#{field["label"]}", "#{field["label"]}" %>  
 					<%= cust_form.text_area "#{field["label"]}" ,:class=>"textarea" %>
				</li>
					
			<% when "dropdown" then %>
				<li class="dropdown">
					<% Array values =[]
						field["choices"].each {|choice| values.push(choice["value"])}%>
						 <%= cust_form.label "#{field["label"]}", "#{field["label"]}" %>  
 						 <%= cust_form.select "#{field["label"]}", values ,:class=>"select" %>
			    </li>
							
		   <% when "checkbox" then %>
				<li class="checkbox">
					<%= cust_form.check_box "#{field["label"]}" ,:class=>"checkbox" %>					
					<%= field["label"] %>
			     </li>
		   <% end %>
		 <% end %>			 
		<% end %>
	<% end %>
	
	<li>
		<%= render :partial=>"/helpdesk/shared/attachment_form"  %>
	</li>	
	<li>
		<span class="seperator"></span>
	</li>
	
	<li>
		<% if !logged_in? %>
		  	<label>To verify you are human, plese type the given scrambled letters</label>
		  	<%= recaptcha_tags %>
		<% end %>
		<br />
	</li>
	<li>
		<%= request_form.submit "Submit Request", :class => "fdbutton" %>
	    <%# Any fields named like meta[fieldname] will be saved by the helpdesk as metadata %>
	    <%= hidden_field_tag "meta[user_agent]", request.env["HTTP_USER_AGENT"] %>
	    <%= link_to "Cancel", :back, :class => "button" %>
	</li>
	</ul>
	
</div>	
  
  
  
  
	
