<% content_for :pagefixed do %>
  <%= javascript_include_tag "helpdesk/expanding_textarea.js" %>
  <%= javascript_include_tag "helpdesk/page_switcher" %>
  <% javascript_tag do -%>
    document.observe("dom:loaded", function(){
      new Helpdesk.PageSwitcher({
        toggleMode: true,
        pages: ['attachment-options']
      });
    });	

	function closeTicket(ticket_id)
	{
		jQuery.ajax({
  					type: 'POST',
							url: '/support/tickets/close_ticket/'+ticket_id,
							contentType: 'application/text',
  					success: function(data){											
								if(data.success)
								{
									jQuery('#status_name_id').text(data.status).show("highlight", 500);
									jQuery('#close_ticket_btn').css("display", "none");
								
								}								
								//Need to show the message some where data.message
							}
	    			});	
	}	

	show_ticket_props_form = function()
	{
		jQuery("#edit_button").hide();
		jQuery("#ticket_props_form").show();	
		jQuery("#ticket_props").hide();			
	}	
	
	hide_ticket_props_form = function()
	{
		jQuery("#edit_button").show();
		jQuery("#ticket_props_form").hide();	
		jQuery("#ticket_props").show();	
	}	
    jQuery(document).ready(function(){
      jQuery('#ticket_props_form').validate(); 
    });
	
  <%- end %>
<% end %>

<%= include_tiny_mce_if_needed %>
<% content_for :sidebar do %>
    <% if @ticket.responder && !@ticket.deleted %>
		<div class="sidepanel clearfix">
	  			<h4 class="title"><%=t('agent_working_on_this_ticket')%></h4>
	  			<%= user_avatar(@ticket.responder, :thumb)  %>
	  			<%= content_tag(:b, h(@ticket.responder.name)) %>			
		</div>
  	<% end %>
	<%
		has_visible_field = false;
		has_editable_field = false;

		current_portal.ticket_fields.each do |field|
			field_value = (field.is_default_field?) ? @ticket[field.field_name] : @ticket.get_ff_value(field.name)
			has_visible_field = true if (field.visible_in_view_form? && field.visible_in_portal && !field_value.blank?)
			has_editable_field = true if (field.visible_in_view_form? && field.editable_in_portal)
		end
	%>
	
	<%if has_visible_field%>
		<div id="ticket_" class="sidepanel clearfix">
			<%if has_editable_field%>
				<div class="floatr">
					<%= link_to_function("Edit", "show_ticket_props_form()", :class => "uiButton" , :id => "edit_button")  %>
				</div>
			<%end%>
			
			<h4 class="border_title"><%=t('ticket.properties')%></h4>
			
			<div id="ticket_props">
			   <ul class="cnt">
				   <% current_portal.ticket_fields.each do |field| %>
				     <% if (field.visible_in_view_form? && field.visible_in_portal)%>
				       <% 
				          field_value = (field.is_default_field?) ? @ticket[field.field_name] : @ticket.get_ff_value(field.name)
				          dom_type    = (field.field_type == "default_source") ? "dropdown" : field.dom_type
				       %>
		          	   <%= construct_ticket_text_element :helpdesk_ticket, field, field.label_in_portal, dom_type, field.required, field_value %>
		             <% end %>
		           <% end %>
			   </ul>
		    </div>
			
			<%if has_editable_field%>	
				<div id="ticket_props_form" style="display:none;">
					<% form_for @ticket, :url => {:action => "update", :controller => "support/tickets"}, :html => { :id => 'portal_ticket_form' } do |f| %>
					   <ul class="cnt">
						   <% current_portal.ticket_fields.each do |field| %>
						     <% if (field.visible_in_view_form? && field.editable_in_portal)%>
						       <% 
						          field_value = (field.is_default_field?) ? @ticket[field.field_name] : @ticket.get_ff_value(field.name)
						          dom_type    = (field.field_type == "default_source") ? "dropdown" : field.dom_type
						       %>
				          	   <%= construct_ticket_element :helpdesk_ticket, field, field.label_in_portal, dom_type, field.required, field_value %>
				             <% end %>
				           <% end %>
							<li class="button-container">
								<%= link_to_function("cancel", "hide_ticket_props_form()", :class => "uiButton" )  %>
								<%= f.submit t('update'), :class => "uiButton" %>
							</li>
									
					       <% javascript_tag do %>  
					         jQuery('#helpdesk_ticket_group_id')
					           .bind("change", function(e){
					             jQuery('#helpdesk_ticket_responder_id')
					                     .html("<option value=''>...</option>");
					             jQuery.ajax({
					               type:        'POST',
					               url: 		     '/helpdesk/tickets/get_agents/'+this.value,
					               contentType: 'application/text',
					               success:     function(data){
					                               jQuery('#helpdesk_ticket_responder_id')
					                                 .html(data);
					                            }
					             });
					           });
					       <% end %>
					   </ul>
					<% end %> 	   	
				</div>
			<%end%>
		</div>
	<%end%>
<% end %>
	
<div class="request_details">
		<% if @ticket.deleted %>
			<div class="info-highlight-deleted">		
				This ticket has been deleted
			</div>
		<% end %>
    <div class="requestCnt request-cnt-first">
			<% unless @ticket.deleted %>
    		<div class="request_status">
					<span class="ltSlant"></span>
						<ul>
							<li>
								<b>Status</b>: <span id="status_name_id"><%= h(@ticket.status_name) %></span>
							</li>
						</ul>
				</div>
			<% end %>
				<h3 class="title">
					<em><%= "##{@ticket.display_id}" %></em>
					<b><%= h(@ticket.subject) %></b>
				</h3>
				<div class="description">
					<div class="ticket_actions action_icons" id="close_ticket_btn"></div>	 
		        <div class="user_details">
		        	<%= user_avatar(@ticket.requester)  %>
		          	<div> Reported by <%= link_to(h(@ticket.requester.display_name),@ticket.requester, :class => "user_name") %> </div>
		        <div> 
						Created on <%= formated_date(@ticket.created_at) %>
						<% metainfo = @ticket.notes.find_by_source(Helpdesk::Note::SOURCE_KEYS_BY_TOKEN["meta"]) %>
						<% unless (metainfo.blank?) %>
							<span class="meta_icon" title="<%= metainfo.body %>"> 
								meta
							</span>
						<% end %>
					 </div>
					
		        </div>
		        <div id="description-full" class="details min_height">
			    	<%= @ticket.description_html %>
			    </div>  
			</div>
			
			<% unless @ticket.attachments.empty? %>
				<span class="seperator"></span>
				<h4><%= @ticket.attachments.size %> attachments</h4>
				<ul class="attachment_list">
				     <%= render :partial => '/helpdesk/shared/attachment', :collection => @ticket.attachments, :locals => {:show_delete => true, :url => [@item] } %>
				</ul>
			<% end %> 
	    </div>
		<% unless @ticket.deleted %>
			<div class="alignright">		
				<% unless (@ticket.status == 5) %>
					<%= link_to_function("Close this ticket", "closeTicket(#{@ticket.display_id})", :class => "uiButton" )  %>
				<% end %>
				<a href="javascript:void(0)" class="uiButton" onclick="jQuery('#ReplyToTicket').show(); jQuery(this).hide();">Add note</a>
			</div>  
		<% end %>
		<br />			
		<div id="ReplyToTicket" class="request_panel" style="display:none;">
			<% form_for Helpdesk::Note.new, :url => support_ticket_helpdesk_notes_path(@ticket), :html => {:multipart => true }  do |f| %>
				<%= f.error_messages %>
				<ul class="ui-form">
			    <li> 
							<%= content_tag( :h4, "Add a note", :class => "title" ) %>
			  			<%= f.text_area :body_html, :class => "mceEditor" %>
					</li>
					<li class="attachment-options"  id="attachment-options">
						<% unless local_assigns[:no_attachments] %>
							<%= render :partial => "/helpdesk/shared/attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
					    <% end %>
					</li>
					<li class="alignright">
						<%= f.submit "Add note", {:class => "uiButton"} %>	
					</li>
				</ul>
			<% end %>		
		</div>
		
		<% unless @ticket.notes.public.exclude_source('meta').newest_first.blank? then %>
			<h3 class="subtitle">Conversation</h3>
			<div class="requestCnt request-conversation">
				<%= render :partial => '/helpdesk/tickets/note', :collection => @ticket.notes.public.exclude_source('meta') %>
		    </div>
		<% end %>
	</div>
 
 

