<%= render :partial => "/support/shared/ticket_show_sidebar" %>	
<div class="request_details">
	<% if @ticket.deleted %>
		<div class="info-highlight-deleted">		
			<%= t('ticket_deleted') %>
		</div>
	<% end %>
    <div class="requestCnt request-cnt-first">
		<% unless @ticket.deleted %>
    	 <!-- <div class="request_status">
					<span class="ltSlant"></span>
						<ul>
							<li>
								<b>Status</b>: <span id="status_name_id"><%= h(@ticket.status_name) %></span>
							</li>
						</ul>
				</div> -->
		<% end %>
		<h3 class="forum-title">
			<em><%= "##{@ticket.display_id}" %></em>
			<b><%= h(@ticket.subject) %></b>
		</h3>
		<div class="description">
			<div class="ticket_actions action_icons" id="close_ticket_btn"></div>	 
		    <div class="user_details">
		        <%= user_avatar(@ticket.requester)  %>
		        <%= t('reported_by') %><%= link_to_user(@ticket.requester, :class => "user_name") %> 
		        <div class="info"> 
				<%= t('created_on') %><%= formated_date(@ticket.created_at) %>    
				</div>					
		    </div>                       
			<div class="request-wrapper">
		        <div id="description-full" class="details min_height">
					<span class="seperator"></span>
			    	<%= @ticket.description_html %>
			    </div>  
		 		
		 		<% unless @ticket.attachments.empty? %>
					<span class="seperator"></span>
					<h4><%= @ticket.attachments.size %><%= t('number_of_attachments') %></h4>
					<ul class="attachment_list">
				    	<%= render :partial => '/helpdesk/shared/attachment', :collection => @ticket.attachments, :locals => {:show_delete => true, :url => [@item] } %>
					</ul>
				<% end %>

				<% unless @ticket.dropboxes.empty? %>
			        <ul class="attachment_list">
			        <%@ticket.dropboxes.each do |dropbox| %> 
			          <%= render :partial => '/helpdesk/shared/dropbox',:locals => {:dropbox => dropbox, :show_delete => true, :url => [@item] } %>
			        <%end%> 
			        </ul>
      			<% end %>

			</div> 
	    </div>               
	</div>  

	<% unless @ticket.deleted %>
		<div class="request-wrapper">				
			<% unless (@ticket.status == 5) %>
				<%= link_to t('close_this_ticket'), '/support/tickets/close_ticket/'+@ticket.display_id.to_s, :class =>"uiButton" %>
			<% end %>
			<a href="javascript:void(0)" class="uiButton" onclick="jQuery('#ReplyToTicket').show(); jQuery(this).hide();invokeRedactor('portal_ticket_note');"><%= t('add_note') %></a>
			<a href="javascript:void(0)" class="uiButton" onclick="jQuery('#AddCcToTicket').show(); jQuery(this).hide();"><%= t('add_cc') %></a>
		</div>  
	<% end %>
	<br />

	<div id="AddCcToTicket" class="request_panel" style="display:none;">
		<% form_for :ticket, @ticket, :url => support_ticket_add_cc_url(:id => @ticket.id), :html => {:id => "add_cc_form"} do |f| %>
				<ul class="ui-form">
					<li>			
					       <% f.fields_for :cc_email do |cc| %>
						<%=cc.text_field :cc_emails, :class=>"multiemail required error", :id => "cc_emails" %>
					        <%end%>
					</li>
			    		<li class="alignright">
						<%= f.submit t('add_cc'), {:class => "uiButton", :style => "margin-right:35px;"} %>
					</li>
				</ul>
			<% end %>
	</div>

	<div id="ReplyToTicket" class="request_panel" style="display:none;">
		<% form_for Helpdesk::Note.new, :url => support_ticket_helpdesk_notes_path(@ticket), :html => {:multipart => true }  do |f| %>
				<%= f.error_messages %>
				<ul class="ui-form">
			    	<li> 
						<%= content_tag( :h4, t('ticket.note_form.form_title'), :class => "title" ) %>
			  			<% f.fields_for (:note_body, Helpdesk::NoteBody.new) do |ff| %>
            				<%= ff.text_area :body_html, :class => "required", :id=>"portal_ticket_note", :value => "" %>
          				<% end %>
					</li>
					<li class="attachment-options"  id="attachment-options">
						<% unless local_assigns[:no_attachments] %>
							<%= render :partial => "/helpdesk/shared/attachment_form", :locals => { :attach_id => id , :nsc_param => "helpdesk_note" } %>
					    <% end %>
					</li>
					<li class="alignright">
						<%= f.submit t('add_note'), {:class => "uiButton"} %>	
					</li>
				</ul>
			<% end %>		
	</div>
    <div class="seperator-shadow"></div>
	<% unless @ticket.notes.public.exclude_source('meta').newest_first.blank? then %>
		<h3 class="forum-title"><%= t('conversation') %></h3>
		<div class="requestCnt request-conversation">
				<%= render :partial => '/helpdesk/tickets/note', :collection => @ticket.notes.public.exclude_source('meta') %>
		</div>
	<% end %>
</div>
 <% javascript_tag do %>
 	jQuery("#add_cc_form").validate();
 <% end %>
 

