<tr>
	<td class="source-icon hideForList">
		<div class="status-source source-detailed-<%= ticket.source_name.to_s.downcase %> hideForList" 
			 title="<%= t("ticket.reported_from_source", :source => ticket.source_name.to_s.downcase) %>"> </div>
	</td>

  <td class="name">
	<div class="ticket_subject">
		<h3>
			<%= link_to( h(ticket.subject) + content_tag(:span, " ##{h(ticket.display_id)}", :class => "ticket_id"), support_ticket_path(ticket) ) %> 
		</h3>
		<div class="info-data">
			<% unless ticket.requester.nil? or current_user.eql?(ticket.requester) %>
				<%= t('ticket.portal_created_on', {:username => h(ticket.requester.display_name), :date => formated_date(ticket.created_at)}) %>
			<% else %>
				<%= t('ticket.portal_created_on_same_user', {:date => formated_date(ticket.created_at)}) %>
			<% end %>

			<% unless ticket.freshness == :new %>
		       <%=t('ticket.assigned_agent')%>: <span class='emphasize'><%=h(ticket.responder.display_name)%></span>
		    <% end %>
		</div>
	</div>
  </td>
  <td class="ralign hideForList">
  	<%= "<span class='status-#{ticket.status} subject_style'>" + ticket.status_name + "</span>" %>
  </td>
</tr>