<%= stylesheet_link_tag_with_rtl :'cdn/cti' %>
<%= javascript_include_tag :'cdn/cti_ticket_search' %>
<%= javascript_include_tag :'cdn/cti_client' %>

<div class="cti_widget">
	<%= render :partial => 'layouts/shared/cti/cti_popup_tabs', :locals => {:cti_name =>  app.name} %>
</div>

<div class="grey_widget_background hide" data-freshfone=false data-chat=false></div>
<div class="popupbox-content hide cti_content_container" rel="cti_widget">
	<%= render :partial => 'layouts/shared/cti/cti_popupbox_content', :locals => {:app => app} %>
</div>