<div>
  <%= t("mailer_notifier.hi")%><br><br>
  <%= t("email_config_notifier.activation_instructions.body",app_name: AppConfig['app_name'],activation_url: @activation_url).html_safe%>
  <br><br>
  <%= t("mailer_notifier.regards")%><br>
  <%= @email_config.account.portal_name%><br>
  <% if @activation_url && Account.current.launched?(:email_actions) %>
    <%= confirm_action(url: @activation_url, name: 'Activate') %>
  <% end %>
</div>
