<!--Copyright © 2014 Freshdesk Inc. All Rights Reserved.-->
<% content_for :layoutType do -%>reports_page<%- end %>
<%= javascript_include_tag :'cdn/report_date'  %>
<%= stylesheet_link_tag_with_rtl :'cdn/ui_daterangepicker' %>
<%= stylesheet_link_tag_with_rtl :'cdn/reports' %>
<%= javascript_include_tag :'cdn/reports'  %>
<%= javascript_include_tag :'cdn/freshchatreports'  %>
  <div id="loading-box">
   <div class="sloading loading-left loading-small reports-loading"><%=t('adv_reports.glance.loading_msg')%></div> 
   </div>
<!--report header-->
<div class="row-fluid">
  <div class="span12 report-breadcrum-wrapper">
    <ul class="breadcrumb">
      <li><a href="<%=reports_url%>"><%=t('adv_reports.glance.all_reports')%></a> <span class="divider">/</span></li>
      <li><%=t('adv_reports.glance.report_view')%></li>
    </ul>
  </div>
</div>
 <!--end report header-->
<!-- report content -->
<div class="row-fluid" id="freshchat_summary_report">
       <%= render :partial => "chat_reports" %>
  </div>
<!--end report content-->


</div>