<% content_for :sidebar do -%><%- end %>
<h3 class="title"><%=t("integrations.google_contacts.edit_form.#{@omniauth_origin}_title")%></h3>
<% 
  action = @omniauth_origin == "import" ? "import_contacts" : "update"
  form_for @google_account, :url => { :controller=> "integrations/google_accounts", :action => action, :iapp_id => (params[:iapp_id] unless params[:iapp_id].blank?) } do |f| 
	gg_arr = [[t("integrations.google_contacts.edit_form.all_contacts"), "none"],["My Contacts", "6"]]
	@google_groups.each {|gg|
		gg_arr.push([gg.name, gg.group_id])
	}
	sync_types = [[t("integrations.google_contacts.MERGE_LATEST"), SyncType::MERGE_LATEST], [t("integrations.google_contacts.OVERWRITE_LOCAL"), SyncType::OVERWRITE_LOCAL], 
					[t("integrations.google_contacts.OVERWRITE_REMOTE"), SyncType::OVERWRITE_REMOTE], [t("integrations.google_contacts.MERGE_LOCAL"), SyncType::MERGE_LOCAL], 
					[t("integrations.google_contacts.MERGE_REMOTE"), SyncType::MERGE_REMOTE]]
	%>
	<ul class="ui-form">
		<li>	
			<h5 class="title"><%=t('integrations.google_contacts.edit_form.mail_box_detail')%></h5>
		</li>
		<li class="inline-field">
			<label class="caption"> <%=t('integrations.google_contacts.name')%></label>    
			<div class="fields">
				<label><%=@google_account.name%></label>
			</div>
		</li> 
		<li class="inline-field">
			<label class="caption"> <%=t('integrations.google_contacts.email')%></label>    
			<div class="fields">
				<label><%=@google_account.email%></label>
			</div>
			<span class="seperator"></span>
		</li>         
		
		<li>	
			<h5 class="title"><%=t('integrations.google_contacts.edit_form.choose_group_title')%></h5>
		</li>
		<li class="inline-field">
			<label class="caption"><%=t('integrations.google_contacts.group')%></label>
			<div class="fields">
				<%=f.select :sync_group_id, options_for_select(gg_arr, @google_account.sync_group_id), {}, {:onchange=>"group_changed()"}%>
			</div>
		</li>
		<li class="inline-field">
			<label class="caption"><%=t('integrations.google_contacts.tag')%></label>
			<div class="fields">
				<%=f.text_field :sync_tag%>
			</div>
		</li>
		<li class="inline-field">
			<div class="fields">
				<label>
				    <%=f.check_box :overwrite_existing_user%>
					<%=t("integrations.google_contacts.overwrite_existing_user")%>
				</label>
			</div>
		</li>
		<% if @omniauth_origin == "import" %>
			<%if @db_google_account.blank?%>
				<li class="inline-field">
					<div class="fields">
						<label>
						    <%=check_box_tag :enable_integration, 1, true%>
							<%=t("integrations.google_contacts.enable_integration")%>
						</label>
					</div>
				</li>
			<%end%>
		<%else%>
			<li class="inline-field" style="display :none">
				<label class="caption"><%=t("integrations.google_contacts.sync_type")%></label>
				<div class="fields">
					<%=f.select :sync_type, options_for_select(sync_types, SyncType::MERGE_LATEST) %><br/>
				</div>
			</li>
		<%end%>
	</ul>
 
	<%=f.hidden_field :sync_group_name %>
	<%=hidden_field_tag :omniauth_origin, :omniauth_origin, :value => @omniauth_origin %>
	<%=f.hidden_field :id %>
	<%=f.hidden_field :name %>
	<%=f.hidden_field :email %>
	<%if @google_account.id.blank?%>
		<%=f.hidden_field :token %>
		<%=f.hidden_field :secret %>
	<%end%>
	<div class="button-container">
		<%= f.submit t("integrations.google_contacts.#{@omniauth_origin}"), :class => "uiButton special" %>
	</div>
<%end%>
 
<script type="text/javascript">
    function group_changed(evt) {
		group_select_field = $('integrations_google_account_sync_group_id')
		sidx = group_select_field.selectedIndex
		if (sidx > -1) {
			group_name = group_select_field[sidx].innerHTML
			$('integrations_google_account_sync_group_name').value = group_name
			$('integrations_google_account_sync_tag').value = "gmail-"+group_name.toLowerCase().replace(" ", "-");
		}
	}
</script>
