<%= t("mailer_notifier.hi_user", user_name: @user.name) %>

<%= t("mailer_notifier.scheduled_task_notifications.blocked_users.report_not_sent_html", scheduled_task_name: @task.schedulable.filter_name).html_safe %>

<br/>

<ol>
  <%@options[:blocked_emails].each do |email|%>
    <li><%= email %></li>
  <%end%>
</ol>
<br/>

<%= t("mailer_notifier.scheduled_task_notifications.blocked_users.reason_title") %>
<ol>
  <li><%= t("mailer_notifier.scheduled_task_notifications.blocked_users.first_reason") %></li>
  <li><%= t("mailer_notifier.scheduled_task_notifications.blocked_users.second_reason") %></li>
</ol>
<br/>

<%= t("mailer_notifier.scheduled_task_notifications.blocked_users.update_email") %><br/>
<%= "#{@user.account.full_url}/reports/#{HelpdeskReports::Constants::Common::REPORT_ENUM_TO_TYPE[@task.schedulable.report_type]}"%>
<br/>
<br/>
<%= t("mailer_notifier.regards") %><br/>
<%= t("mailer_notifier.freshdesk_support_team") %>