<%= @body %>

<% if @survey_handle %>
<div id="survey" style="display:table;width:100%;">
	<h3 style="display:table-caption;"><%= @survey_handle.survey.link_text %></div>
	  <div style="display:table-row;font-size:14px;">
		<div style="display:table-cell;padding:3px;background-image:url(http://<%=@host%>:<%=@port%>/images/happy-smily.png) no-repeat;padding-left:63px;text-align:center;height:63px;">
		<%= link_to "Great experience", @survey_handle.survey_url(@ticket, Survey::HAPPY) %>
		</div>
		<div style="display:table-cell;padding:3px;">
		<img src="http://<%=@host%>:<%=@port%>/images/neutral-smily.png">	
		<%= link_to "OK experience", @survey_handle.survey_url(@ticket, Survey::NEUTRAL) %>
		</div>
		<div style="display:table-cell;padding:3px;">
		<img src="http://<%=@host%>:<%=@port%>/images/unhappy-smily.png" />
		<%= link_to "Not good", @survey_handle.survey_url(@ticket, Survey::UNHAPPY) %>
	  </div>
   </div>
</div>	
<% end %>