<div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">
<%= @ticket.requester.name || @ticket.requester.email %>  submitted a new Ticket to <%= @ticket.account.portal_name || @ticket.account.host%> and requested that we copy you </br>

<%= @body %>
<%=render :partial => 'dropbox_template', :locals => { :dropboxes => @dropboxes} %>
<br/>
<%= render :partial => '/shared/free_plan_message' %>
</div>