<div class="row-fluid">
  <div id="appBrowser" class="marketplace-listing">
    <div class="fa-container">
      <div class="fa-tabs" id="extensions">
      
      </div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag_with_rtl :'cdn/marketplace_installer' %>
<%= javascript_include_tag :'cdn/marketplace/fa_marketplace_list' %>
<%= javascript_include_tag :'cdn/marketplace/fa_template_dock_manager' %>
<%= javascript_include_tag :"#{MarketplaceConfig::FRESHAPPS_JS_URL}/#{MarketplaceConfig::FRESH_PARENT}" %>

<script type="text/javascript">
  var extensionsWrapper = "#extensions";
  var tabName = "#apps";
  var customMessages =  {
                          no_connection: "<%= I18n.t('marketplace.no_connection') %>",
                          installing: "<%= I18n.t('marketplace.installing') %>",
                          api_error : "<%= I18n.t('marketplace.api_error') %>",
                          app_setup_error: "<%= I18n.t('marketplace.install_action.app_setup_error') %>",
                          field_blank: "<%= I18n.t('marketplace.field_blank') %>",
                          validation_failed: "<%= I18n.t('marketplace.validation_failed') %>",
                          error_calling_method: "<%= I18n.t('marketplace.error_calling_method') %>",
                          suspended_plan_info: "<%= I18n.t('suspended_plan_info') %>",
                          accapi_poll_interval: "<%= MarketplaceConfig::ACCOUNT_API_POLL_INTERVAL %>",
                          accApiPollRetryLimit: "<%= MarketplaceConfig::ACCOUNT_API_POLL_RETRY_LIMIT %>"
                        }

  var platformVersion = '<%= Marketplace::Constants::PLATFORM_VERSIONS_BY_ID[:v2]%>'
  var templateDockManager = new TemplateDockManager(extensionsWrapper, customMessages, tabName, platformVersion);

  tf_lang = {
    app_gallery         : "<%= t('marketplace.app_gallery') %>",
    marketplace_no_apps : "<%= t('marketplace.no_apps') %>",
    marketplace_ver     : "<%= t('marketplace.ver') %>",
    published_in        : "<%= t('marketplace.published_in') %>",
    marketplace_screens : "<%= t('marketplace.screenshots') %>",
    marketplace_desc    : "<%= t('marketplace.description') %>",
    marketplace_instr   : "<%= t('marketplace.instructions') %>",
    marketplace_VERSION : "<%= t('marketplace.version') %>",
    install_setting     : "<%= t('marketplace.settings') %>",
    backend_log         : "<%= t('marketplace.backend_log') %>",
    install_txt         : "<%= t('marketplace.install') %>",
    installing_txt      : "<%= t('marketplace.installing_text') %>",
    mkp_terms_of_use    : "<%= t('marketplace.terms_of_use') %>",
    marketplace_terms   : "<%= t('marketplace.terms_of_use_link') %>",
    marketplace_agree   : "<%= t('marketplace.app_installation_agreement') %>",
    cancel              : "<%= t('cancel') %>",
    install_almost_done : "<%= t('marketplace.almost_done') %>",
    no_configs          : "<%= t('marketplace.no_configs') %>",
    help_and_support    : "<%= t('marketplace.help_and_support') %>",
    developed_by        : "<%= t('marketplace.developed_by') %>",
    time_ago            : "<%= t('marketplace.time_ago') %>",
    share_app           : "<%= t('marketplace.share_app') %>",
    policy_on_tp_apps   : "<%= t('marketplace.policy_on_tp_apps') %>",
    third_party_app_policy     : "<%= t('marketplace.third_party_apps_policy') %>",
    policy_on_custom_apps      : "<%= t('marketplace.policy_on_custom_apps') %>",
    custom_app_policy          : "<%= t('marketplace.custom_app_policy') %>",
    marketplace_no_custom_apps : "<%= t('marketplace.empty_custom_apps_msg_html', :dev_url => MarketplaceConfig::DEV_URL) %>",
    custom_app_gallery         : "<%= t('marketplace.custom_app_gallery') %>",
    marketplace_no_results     : "<%= t('marketplace.no_search_results') %>",
    popular_apps               : "<%= t('marketplace.popular_apps') %>",
    latest_apps                : "<%= t('marketplace.latest_apps') %>",
    popular                    : "<%= t('marketplace.popular') %>",
    latest                     : "<%= t('marketplace.latest') %>",
    overview                   : "<%= t('marketplace.overview') %>",
    installation               : "<%= t('marketplace.installation') %>",
    description                : "<%= t('marketplace.description') %>",
    instructions               : "<%= t('marketplace.instructions') %>",
    marketplace_all_apps       : "<%= t('marketplace.all_apps') %>",
    view_all                   : "<%= t('marketplace.view_all') %>",
    view_more                  : "<%= t('marketplace.view_more') %>",
    paid_app                   : "<%= t('marketplace.paid_app') %>",
    reauthorize_header         : "<%= t('marketplace.reauthorize_header') %>",
    reauthorize_oauth_app      : "<%= t('marketplace.reauthorize_oauth_app') %>"     
  };

  window['translate'] = {}; 
  translate.get = function(name){
    return tf_lang[name] || "";
  };

  app_details = {
    custom_app_type        :   "<%= Marketplace::Constants::APP_TYPE[:custom] %>",
    custom_app_ext_type    :   "<%= Marketplace::Constants::EXTENSION_TYPE[:custom_app] %>"
  }

  app_details.get = function(field) {
    return app_details[field] || '';
  }

  Fjax.afterNextPage = function() {
    templateDockManager.destroy();
    jQuery(document).off(".km_track_evt");
  }
</script>