<div class="row-fluid">
  <div id="appBrowser" class="marketplace-listing">
    <div class="fa-container">
      <div class="fa-tabs" id="extensions">
      
      </div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag_with_rtl :'cdn/marketplace_installer' %>
<%= javascript_include_tag :'cdn/marketplace/fa_marketplace_list' %>

<%= javascript_include_tag :'cdn/marketplace/fa_template_dock_manager' %>

<% unless AppMetrics::FRESHFONE_METRICS.blank? %>
  <%= javascript_tag do %>
    jQuery(document).ready(function(){
      if(App.Kissmetrics != undefined){ 
        mktplace_domain = '<%= current_account.full_domain %>';
        App.Kissmetrics.kissMetricTrackingCode("<%= AppMetrics::FRESHFONE_METRICS %>");
      }
    });
  <% end %>
<% end %>

<script type="text/javascript">
  var extensionsWrapper = "#extensions";
  var tabName = "#apps";
  var customMessages =  {
                          no_connection: "<%= I18n.t('marketplace.no_connection') %>",
                          installing: "<%= I18n.t('marketplace.installing') %>",
                          api_error : "<%= I18n.t('marketplace.api_error') %>",
                          field_blank: "<%= I18n.t('marketplace.field_blank') %>"
                        }
  var templateDockManager = new TemplateDockManager(extensionsWrapper, customMessages, tabName);

  tf_lang = {
    app_gallery         : "<%= t('marketplace.app_gallery') %>",
    marketplace_no_apps : "<%= t('marketplace.no_apps') %>",
    marketplace_ver     : "<%= t('marketplace.ver') %>",
    published_in        : "<%= t('marketplace.published_in') %>",
    marketplace_screens : "<%= t('marketplace.screenshots') %>",
    marketplace_desc    : "<%= t('marketplace.description') %>",
    marketplace_instr   : "<%= t('marketplace.instructions') %>",
    marketplace_VERSION : "<%= t('marketplace.version') %>",
    install_setting     : "<%= t('marketplace.settings') %>",
    install_txt         : "<%= t('marketplace.install') %>",
    installing_txt      : "<%= t('marketplace.installing_text') %>",
    mkp_terms_of_use    : "<%= t('marketplace.terms_of_use') %>",
    marketplace_terms   : "<%= t('marketplace.terms_of_use_link') %>",
    marketplace_agree   : "<%= t('marketplace.app_installation_agreement') %>",
    cancel              : "<%= t('cancel') %>",
    install_almost_done : "<%= t('marketplace.almost_done') %>",
    no_configs          : "<%= t('marketplace.no_configs') %>",
    help_and_support    : "<%= t('marketplace.help_and_support') %>",
    developed_by        : "<%= t('marketplace.developed_by') %>",
    time_ago            : "<%= t('marketplace.time_ago') %>",
    policy_on_tp_apps   : "<%= t('marketplace.policy_on_tp_apps') %>",
    third_party_app_policy     : "<%= t('marketplace.third_party_app_policy') %>",
    policy_on_custom_apps      : "<%= t('marketplace.policy_on_custom_apps') %>",
    custom_app_policy          : "<%= t('marketplace.custom_app_policy') %>",
    marketplace_no_custom_apps : "<%= t('marketplace.no_custom_apps_html') %>",
    custom_app_gallery         : "<%= t('marketplace.custom_app_gallery') %>"
  };

  window['translate'] = {}; 
  translate.get = function(name){
    return tf_lang[name] || "";
  };

  app_details = {
    custom_app_type        :   "<%= Marketplace::Constants::APP_TYPE[:custom] %>"
  }

  app_details.get = function(field) {
    return app_details[field] || '';
  }

  Fjax.afterNextPage = function() {
    templateDockManager.destroy();
    jQuery(document).off(".km_track_evt");
  }
</script>