<div class="custom-apps-list freshplugs-list tab-pane"  id="custom_apps">
  <div id="freshplug-tab-content" class="tab-content clear">

    <% active_account = current_account.active? %>

    <div class="no-custom-apps clear text-center blank-slate">
      <span class="ficon-cubes fsize-60" style="opacity: 0.4;"></span>
      <h3><%= t('marketplace.no_custom_apps_installed') %></h3>
      <p class="txt"><%= t('marketplace.no_custom_apps_note') %></p>
      <p class="txt">
        <%= t('marketplace.no_custom_apps_note_2') %>
      </p>
      <a class="btn browse-btn btn-flat btn-primary btn-appgallery get-custom-apps-blank-state <%= active_account ? '' : 'disabled' %>" href="" data-url="<%= active_account ? "#{custom_apps_admin_marketplace_extensions_path}" : '' %>"><span class="ficon-cube-filled"></span> <%= t('marketplace.get_custom_apps') %></a>
    </div>

    <ul>
        
        <!-- Supported Marketplace CustomApps -->
        <% unless installed_custom_apps.nil? %>
          <%= render :partial => '/admin/marketplace/templates/installed_freshplugs/index', 
                     :locals => { :installed_extensions => installed_custom_apps.slice(:supported_custom_apps) } %>
        <% end %>

        <!-- Supported Custom Freshplugs  -->
        <!-- Custom Freshplugs are supported only in old UI -->
        <% platform_compatible = @platform_version == Marketplace::Constants::PLATFORM_VERSIONS_BY_ID[:v1] %>
        <% if platform_compatible && @custom_applications.present? %>
        <%= render :partial => '/admin/marketplace/installed_custom_freshplugs', :locals => { 
                 :custom_applications => @custom_applications, :platform_compatible => true } %>
        <% end %>

        <!-- UnSupported Marketplace CustomApps -->
        <% unless installed_custom_apps.nil? %>
          <%= render :partial => '/admin/marketplace/templates/installed_freshplugs/index', 
                     :locals => { :installed_extensions => installed_custom_apps.slice(:unsupported_custom_apps),
                                  :unsupported_custom_freshplugs => (!platform_compatible && @custom_applications.length > 0) ? true : false } %>
        <% end %>

        <!-- UnSupported Custom Freshplugs  -->
        <% if !platform_compatible && @custom_applications.present? %>
        <%= render :partial => '/admin/marketplace/installed_custom_freshplugs', :locals => { 
                 :custom_applications => @custom_applications, :platform_compatible => false } %>
        <% end %>

    </ul>
  </div>
</div>