<div class="custom-apps-list freshplugs-list tab-pane"  id="custom_apps">
  <div id="freshplug-tab-content" class="tab-content clear">
    
    <div class="no-custom-apps clear">
      <p>
        <%= t('marketplace.no_custom_apps') %>
        <%= link_to t('integrations.custom_application.new_custom_app').html_safe, new_admin_integrations_freshplug_path, :class =>"" %>
      </p>
    </div>
    <ul>
        <!-- FRESH PLUGS -->
        <% custom_applications.each do |application|
          installed_app = application.installed_applications %>
          <li class="app-custom apps-wrapper row-fluid plugs installed-listing" id="ext-<%=application.id%>">
            <section class="fa-area ca-area clear">
              <div class="row-fluid list-box <%= installed_app.blank? ? 'disabled-app' : '' %>">
                <div class="logo-box pull-left">
                  <span class="<%= font_class('puzzle', 32, 'assets-missing') %> "></span>
                </div>
                <div class="desc-box pull-left">
                  <div class="plug-data">
                    <%= link_to application.display_name, edit_admin_integrations_freshplug_path(application.id), :class => "plug-name" %>
                    <div class="plug-actions">
                      <div class="switch-box pull-left">
                        <% unless installed_app.blank? %>
                          <% enabled_or_disabled_path = disable_admin_integrations_freshplug_path(application) %>
                          <% toggle_path = enable_admin_integrations_freshplug_path(application) %>
                        <% else %>
                          <% enabled_or_disabled_path = enable_admin_integrations_freshplug_path(application) %>
                          <% toggle_path = disable_admin_integrations_freshplug_path(application) %>
                        <% end %>
                        <%= check_box_tag '', !installed_app.blank?, !installed_app.blank?, "data-url" => enabled_or_disabled_path, "data-toggle" => toggle_path, :rel => "toggle",:class=>"switch", :name => "onoffswitch", :id => "pvtplug_#{ application.id }" %>
                      </div>
                      <a class='btn btn-mini btn-edit tooltip' href='<%= edit_admin_integrations_freshplug_path(application.id) %>' data-placement="below" data-original-title='<%= t('application.tooltip.edit') %>' >
                      <span class="<%= font_class('edit', 16) %>"></span></a>

                      <a href="#toggle-confirm" rel="freshdialog" class="btn btn-mini tooltip delete-btn" title="<%= t('integrations.uninstall') %>" data-placement="below" data-original-title="<%= t('integrations.uninstall') %>" data-width="600" data-close-on-submit="true" data-show-close="true" data-destroy-on-close="true"  data-url="<%= admin_integrations_freshplug_path(application.id) %>" data-close-label="<%= t('plain_no') %>" data-submit-label="<%= t('plain_yes') %>" data-submit-class="btn btn-primary delete-confirm" data-confirm-content="<%= t('marketplace.confirm_uninstall_message', :human_name => t('marketplace.custom_app')) %>"> 
                        <span class="<%= font_class('trash-o', 16) %>"></span>
                      </a>
                    </div>
                  </div>
                  <p class="desc"><%= truncate(application.description, :length => 180) %></p>
                </div>
              </div>
            </section>
      	  </li>
      	<% end %>
    </ul>
  </div>
</div>