<% content_for :sidebar do -%><%- end %>
<%= content_tag (:h3, @installing_application.name + " Settings", :class => "title") %>
<% form_for @installed_application, :url => { :controller=> "installed_applications", :action => "update" }, :html => {:multipart => true, :id => "ConfigureApplication" } do |f| %>
  <ul class="ui-form">  
		<li class="inline-field">
			<label class="caption">
				<div class="logo application-logo-<%= @installing_application.p_name %>"></div>
			</label>
   		<%= render :partial => "integrations/applications/application_form", :object => f, :locals => { :is_edit => true } %>
		</li>
  </ul>
  <div class="button-container">
    <%= link_to t('back'), {:controller => 'applications', :action => 'index'}, :class => "floatl uiButton" %>
    <%= f.submit t('update'), :class => "uiButton" %>
  </div>
<% end %>
