<div class="floatr">
  <%= button_to_function t(".buy_pass"), "jQuery(this).removeClass('special');jQuery('#BuyPasses').slideDown();", :class => "uiButton special" %>
</div>
<%= content_tag :h3, t(".title") + " - " + content_tag(:span, t(".current_balance", :balance => @day_pass_config.available_passes), :class => "highlight"), :class => "title" %> 
  <ul id="BuyPasses" class="ui-form tabbed hide">
    <li>
   <%= content_tag :h4, t(".buy_pass"), :class => "title" %>
   <% form_tag(:controller => "day_passes", :action => :buy_now, :method => :put) do |daypass| %>
     <%= ul @day_pass_amounts.map { |pass|
          content_tag :label,  
                       radio_button_tag(:quantity, pass[0], (pass[0] == 10), "data-amount" => pass[1]) +
                       content_tag(:span, t(".day_pass_pack", :quantity => pass[0], :currency => "$", :amount => pass[1]))
         },  
         :class => "inputs-list"
     %>
    <p>
	    <%= submit_tag t(".buy_now"), :class => "uiButton special", :onclick => "return confirm('#{t(".add_confirm")} $' + jQuery('input[name=quantity]:checked').data('amount'));" %>
	    <%= button_to_function t("cancel"), "jQuery('#BuyPasses').slideUp();", :class => "uiButton" %>
		</p>
		<% end %>
	  </li>
	</ul>
	<span class="seperator"></span>
	<div>
	  <%= content_tag :h3, t(".day_pass_history"), :class => "title" %>
	  <% unless @day_pass_purchases.empty? %>
	  <div class="table-grid">
	  <table>
      <thead>
        <tr>
          <th><%= t("date_title") %></th>
          <th><%= t(".order") %></th>
          <th><%= t(".no_of_day_passes") %></th>
          <th><%= t("amount") %></th>
          <th><%= t("paid_with") %></th>
          <th><%= t("status") %></th>
        </tr>
      </thead>
      <tbody>
       <%= render :partial => "purchases", :collection => @day_pass_purchases %> 
	    </tbody>
    </table>
    </div> 
    <% else %>
      <div class="info-highlight"><%=  t(".no_purchase") %></div>
    <% end %>
	</div> 
	
<% content_for :sidebar do -%>
  <div class="sidepanel">
    <div class="actions">
      <%= on_off_button(@day_pass_config.auto_recharge, {:controller => "day_passes", :action => :toggle_auto_recharge}) %>
    </div>
    <%= content_tag :h3, t(".auto_recharge"), :class => "title" %>
    <p><%= content_tag :strong, t(".recharge_quantity") %> </p>
    <div><%= t(".daypass_quantity", :quantity => @day_pass_config.recharge_quantity) %> (<a href="javascript:void(0)" onclick="jQuery(this).parent().hide(); jQuery('#update_daypass').slideDown();"><%= t("change") %></a>) </div>
    <div id="update_daypass" style="display:none;">
    <% form_tag(:controller => "day_passes", :action => :update, :method => :put) do |daypass| %>
      <%= select :day_pass_config, :recharge_quantity, options_for_select([ "5", "10", "25", "50" ], @day_pass_config.recharge_quantity.to_s)  %>
      <%= t(".day_passes") %>
      <button class='button'><%= t("update") %></button>
    <% end %>
    </div>
  </div>
<% end %> 