<% content_for :helpcard do %>
  <%= render :partial => "helpnote_without_tour" %>
<% end %>
<div class="list-page">
  <div class="list-page-header" >
    <div class="row-fluid">
      <div class="span6"><h3 class="lead"><%=t('automations.title')%></h3></div>
       <div class="span6 pull-right pagination-right header_buttons align-right" >
        <%= (link_to t('dispatch.new_rule'), new_helpdesk_scenario_automation_path(), :class => "btn btn-primary") %>
      </div>
    </div>
  </div>
  <% if privilege?(:manage_scenario_automation_rules) %>
  <div class="dropdown">
    <% list = [
            [
              t('automations.personal'), '/helpdesk/scenario_automations/tab/personal', false, {:id => 'personal', :'data-pjax' => '#body-container', :'data-name' => t('automations.personal'), :class => "item #{'selected-tab' if @current_tab == 'personal'}"}
            ],
            [
              t('automations.shared'), '/helpdesk/scenario_automations/tab/shared', false, {:id => 'Shared', :'data-pjax' => '#body-container', :'data-name' => t('automations.shared'), :class => "item #{'selected-tab' if @current_tab == 'shared'}"}
            ]
          ]
      options = {'class' => 'item', 'ul_class' => 'tick menu-pjax'}
    %>
    <a class='dropdown-toggle' data-toggle="dropdown" href='#'><%= "#{t('showing')}: " %><b><%=t("automations.#{@current_tab}")%>(<%=@va_rules.count%>)</b>
    <span class='caret'></span></a>
      <%= dropdown_menu(list, options) %>
    </div>
  <%else%>
    <%= "#{t('showing')}: " %><b><%=t("automations.personal")%>(<%=@va_rules.count%>)</b>
  <%end%>

  <div class="response-list list-page-body " id="va_rules_list">
    <%if @va_rules.empty?%>
    <div class="list-noinfo">
    <%=t('automations.no_scenario',{:link =>new_helpdesk_scenario_automation_path()}).html_safe%>
    </div>
    <%else%>
    <table class="table table-striped">
      <% @va_rules.each do |va_rule| %>
        <tr id=<%= dom_id(va_rule) %>>
          <td>
            <strong>
              <%= link_to(h(va_rule.name), edit_helpdesk_scenario_automation_path(va_rule), :class => "item_info") %>
            </strong><br/>
            <span class="muted"><%= h va_rule.description %></span>
          </td>
          <td>
            <div class="item_actions" align="right">
                <%= link_to(t('clone'),clone_rule_helpdesk_scenario_automation_path(va_rule), :class => "btn btn-mini")%>
                <%= link_to(t('edit'), edit_helpdesk_scenario_automation_path(va_rule), :class => "btn btn-mini") %>
                <%= link_to "<i class='icon-trash'></i>".html_safe, helpdesk_scenario_automation_path(va_rule), :confirm => t('confirm_delete_message', :human_name => t('admin.automations.index.human_name')), :method => :delete, :class => "btn btn-mini" %>
            </div>
          </td>
        </tr>
      <% end %>
      <%end%>
    </table>
  </div>

</div>


