<% content_for :helpcard do %>
  <%= render :partial => "helpnote" %>
  <% if privilege?(:manage_scenario_automation_rules) %>
    <%= inm_tour_button(t('automations.tour'), 13422) %>
  <% else %>
    <%= inm_tour_button(t('automations.tour'), 13519) %>
  <% end %>
<% end %>
<div class="list-page">
  <div class="list-page-header" >
    <div class="row-fluid">
      <div class="span6"><h3 class="lead"><%=t('automations.title')%></h3></div>
       <div class="span6 pull-right pagination-right header_buttons align-right" >
        <%= (link_to t('dispatch.new_scenario'), new_helpdesk_scenario_automation_path(), :class => "btn btn-primary") %>
      </div>
    </div>
  </div>

  <% scenario_count = @all_items.count %>
  <% if privilege?(:manage_scenario_automation_rules) %>
  <div class="dropdown">
    <% list = [
            [
              t('automations.personal'), '/helpdesk/scenario_automations/tab/personal', false, {:id => 'personal', :'data-pjax' => '#body-container', :'data-name' => t('automations.personal'), :class => "item #{'selected-tab' if @current_tab == 'personal'}"}
            ],
            [
              t('automations.shared'), '/helpdesk/scenario_automations/tab/shared', false, {:id => 'Shared', :'data-pjax' => '#body-container', :'data-name' => t('automations.shared'), :class => "item #{'selected-tab' if @current_tab == 'shared'}"}
            ]
          ]
      options = {'class' => 'item', 'ul_class' => 'tick menu-pjax'}
    %>
    <a class='dropdown-toggle' data-toggle="dropdown" href='#'><%= "#{t('showing')}: " %><b><%=t("automations.#{@current_tab}")%> (<%= scenario_count %>)</b>
    <span class='caret'></span></a>
      <%= dropdown_menu(list, options) %>
    </div>
  <%else%>
    <%= "#{t('showing')}: " %><b><%=t("automations.personal")%> (<%= scenario_count %>)</b>
  <%end%>
  <%if (scenario_count) == 0 %>
                <div class="list-page-body emptyContainerAlign va_rule-index va_rule_no_skills align_center" id="va_rules_list">
                <div class="text-new-skills muted">    <%= t('admin.skills.index.no_scenario_automation_info').html_safe %>
                <%= (link_to t('admin.skills.index.create_new'), "/helpdesk/scenario_automations/new") %>
                </div>
                </div>
  <% else %>
      <div class="response-list list-page-body " id="va_rules_list">
                <% if !((scenario_count/@per_page.to_f) > @page.to_i-1) %>
                  <div class="list-noinfo">
                    <%=t('automations.no_scenario',{:link => new_helpdesk_scenario_automation_path()}).html_safe%>
                  </div>
                <% else %>
                  <table class="table table-striped">
                    <%= render :partial => "scenario", :collection => @all_items %>
                  </table>
                  <%= will_paginate @all_items, :renderer => BootstrapPaginationRenderer, 
                                          :previous_label => "<b class='arrow-left'></b>",
                                          :next_label => "<b class='arrow-right'></b>",
                                          :class => "pagination pagination-centered" %>
                <% end %>
      </div>
  <% end %>
</div>
