<% if @agents.blank? %>
  <option value=""><%= t("no_agents_in_selected_group") %></option>
<% else %>
  <option value=""><%= blank_value %></option>
  <% @agents.each do |agent| %>
    <% if !assigned_agent.nil? && assigned_agent.to_i == agent.id %>
    <option value="<%=agent.id%>" selected="selected"><%=agent.name%></option>
    <% else %>
	  <option value="<%=agent.id%>"><%=agent.name%></option>
    <% end %>
  <% end %>
<% end %>
<% if allow_none %>
  <option value="-1"><%= t("unassign") %></option> 
<% end %>
