<div rel="image-enlarge" class="details" id='<%= notedetails %>' data-note-id="<%= note.id %>">
  <% if note.custom_survey_remark.present? %>

    <div class='survey_questions_wrap'>
      <div class="default_question">
        <div class='ques-desc'>
            <%=ticket_info[:label]%>
        </div>
        <div class='ques-ans'>
            <span class="ticket-rating-label"><%= ticket_info[:text] %></span>
            <%= content_tag(:div, "", :class => "survey-rating #{CustomSurvey::Survey::CUSTOMER_RATINGS_STYLE[ticket_info[:value]]}")%>
        </div>
      </div>
      <ul class="survey-additional-questions">
        <%unless question_values.blank? %>
          <%question_values.each do |data|%>
              <li>
                <div class='ques-desc'> <%= h(data[:label]) %> </div>
                <div class='ques-ans'>
                  <% data[:choices].each_with_index do |option, index| %>
                    <%if option[:face_value] == data[:key]%>
                      <%="<span class='ticket-rating-label'>#{data[:value]}</span>".html_safe %>
                      <span class="survey-rating <%=CustomSurvey::Survey::CUSTOMER_RATINGS_STYLE[option[:face_value]]%>"
                        data-class="<%=CustomSurvey::Survey::CUSTOMER_RATINGS_STYLE[option[:face_value]]%>" 
                        id="rating_<%=index%>"></span>
                    <%end%>
                  <%end%>
                </div>

              </li>
          <%end%>   
        <%end%>
      </ul>
    </div>
  <% end %>
  <div class="request_archive_mail <%= 'survey-note' unless note.custom_survey_remark.nil? %>">
    <% if note.custom_survey_remark.blank? %>
      <%= note.body_html.html_safe %>
    <%elsif note.body.present? %>
      <div>
        <div class="title muted"><b><%= t("helpdesk.tickets.note.comments").html_safe %></b></div>
        <%= note.body_html.html_safe %>
      </div>
    <%end%>
  </div>
  <% if note.fwd_email? %>
      <div class="freshdesk_quote" data-remote-quote=true></div>
  <% end %>
</div>