<%= link_to user_avatar(@ticket.requester, :thumb, 'preview_pic circle'), @ticket.requester, :class => 'avatar-wrap' %>
<% fb_message = @ticket.is_fb_message? %>
<% twitter_dm = @ticket.twitter? && @ticket.tweet.is_dm? %>
<% fb_comment = @ticket.is_fb_comment? %>
<div class="commentbox private-note <%= 'commentbox-social' if (fb_message || twitter_dm) %>">
  <% if fb_message %>
    <%= content_tag(:span, "", :class => "ficon-facebook-lock commentbox-social-icon") %>
  <% elsif twitter_dm %>
    <%= content_tag(:span, "", :class => "ficon-twitter-lock commentbox-social-icon") %>
  <% elsif fb_comment %>
    <%= content_tag(:span, "", :class => "ficon-chat-bubble commentbox-social-icon") %>
  <% end %>
  <div class="<%= 'helpdesk_note' if (fb_message || twitter_dm || fb_comment) %>">
  <h2 class="subject break-word show_full">

    <%
      customer_opinion = "" 
      survey_association = Account.current.new_survey_enabled? ? "custom_survey_results" : "survey_results"
      unless @ticket.safe_send(survey_association).nil? || @ticket.safe_send(survey_association).last.nil?
        if (Account.current.new_survey_enabled?)
          rating_class_value = " color-" + CustomSurvey::Survey::CUSTOMER_RATINGS_STYLE[@ticket.safe_send(survey_association).last.ticket_info[:value]] + "' title='" + @ticket.safe_send(survey_association).last.ticket_info[:text]
          tooltip_class = "tooltip "
        else
          rating_class_value = ""
          tooltip_class = ""
        end 
        customer_opinion = ["<div class='customer-opinion ",tooltip_class, @ticket.safe_send(survey_association).last.get_small_img_class, rating_class_value, "'></div>"].join.html_safe
      end  
    %>
    <%=customer_opinion%>   

    <span class='label archived'>
      <%= t("ticket.archived") %>
    </span>
    
    <%= h(@ticket.subject) %>
  </h2>
  <div class="author-mail-detail">
    <div>
      <%= link_to_user(@ticket.requester).html_safe %> <%= t('ticket.reported') %> 
      <abbr data-livestamp="<%= @ticket.created_at.to_i %>"></abbr> 
      (<%= formated_date(@ticket.created_at) %>)
      <%= t('ticket.via')%>
      <% if @ticket.twitter? %>
        <span class="ficon-twitter fsize-12 pr5 pl5"></span> <%= @ticket.tweet.twitter_handle.screen_name %> 
      <% elsif @ticket.facebook? %>
        <span class="ficon-facebook-setting fsize-12 pr5 pl5"></span> <%= @ticket.fb_post.facebook_page.page_name %>
      <% else %>
        <%= @ticket.source_name %>
      <% end %>

      <%= metainfo(@ticket) unless @ticket.mobihelp? %>

      <% if @ticket.requester %>
        <% if @ticket.twitter? && @ticket.tweet.is_mention? %>
        <div class="ticket-details-twitter">
          <span class="ficon-twitter fsize-16 mr6"></span><%= link_to(t('ticket.view_twitter'),
              "http://twitter.com/#{@ticket.requester.twitter_id}/status/#{@ticket.tweet.tweet_id}", 
               :id => "ViewConvo", :target => "_blank") %>
        </div>
        <% elsif @ticket.facebook? && @ticket.is_fb_wall_post? %>
        <div class="ticket-details-twitter">
          <span class="ficon-facebook-setting fsize-16 mr6"></span>
            <%= link_to(t('ticket.view_facebook'), facebook_link, :id => "ViewConvo", :target => "_blank") %>
        </div>
        <% end %>
      <% end %>
    </div>
    <% created_by_agent_info = created_by_agent(@ticket) %>
    <% unless created_by_agent_info.blank? %>
          <%= t('ticket.created_by') %> <%= created_by_agent_info %> 
        <% end %>
    <div class="info"> 
      <%= content_tag :div, multiple_emails_container(@to_emails, "To: ") unless @ticket.cc_email_hash.blank? or @to_emails.blank? %>
      <%= content_tag :div, multiple_cc_emails_container(@ticket.cc_email_hash) unless @ticket.cc_email_hash.blank? %>
    </div> 
  </div>
  <div rel="image-enlarge" id="ticket_original_request" class="request_archive_mail">
      <%= @ticket.description_html.html_safe %>
  </div>

  <% if current_account.features?(:forums) and @ticket.ticket_topic.present? %>
    <div class="info-highlight">
      <%= t("helpdesk.tickets.show.linked_ticket") %>
      <% if privilege?(:view_forums) %>
        "<%= link_to("#{truncate(@ticket.topic.title)}", discussions_topic_path(@ticket.topic.id), :class => "link_to") %>"
      <% else %>
        "<%= truncate(@ticket.topic.title)%>"
      <% end %>
    </div>
  <% end %>

  <div id="ticket_attachments_container_<%= @ticket.id%>">
  <% unless @ticket.all_attachments.empty? and @ticket.cloud_files.empty? %>
    <span class="seperator"></span>
    <div class="attachments-wrap clearfix">
      <h5 id="ticket_attachments_title_<%= @ticket.id %>"><strong><%= pluralize(@ticket.all_attachments.size + @ticket.cloud_files.size, t('attachment'), t('attachments'))%></strong></h5>
      <ul class="attachment_list">
          <% @ticket.all_attachments.each do |attached| %> 
            <%= attachment_list(attached, false, "ticket", @ticket.id) %>
          <% end %>

          <% @ticket.cloud_files.each do |cloud_file| %> 
            <%= attachment_list(cloud_file, false, "cloud_file", nil) %>
          <% end %>
      </ul>
    </div>
  <% end %>
  </div>
  
</div>
</div>
