<% 
  default_field_order = [
      "default_priority", "default_status", 
      "default_source", "default_ticket_type", 
      "default_group", 
      "default_agent", 
      "default_product"
  ]

  default_fields = []
  custom_fields = []
  default_ticket_type_field = ""
  section_container = ""
%>
<% current_portal.ticket_fields.each do |field| 
  next if field.section_field?
  if field.visible_in_view_form?
    if field.is_default_field?
      field_value = @ticket.send(field.field_name)
      field_label = t("ticket_fields.fields.#{field.name}")
    else
      field_value = @ticket.custom_field_value(field.name)
      field_label = (field.label).html_safe
    end
    dom_type    = (field.field_type == "default_source") ? "dropdown" : field.dom_type
    
    if(field.field_type == "nested_field" and !@ticket.new_record?)
      field_value = {}
      field.nested_levels.each do |ff|
        field_value[(ff[:level] == 2) ? :subcategory_val : :item_val] = @ticket.custom_field_value(ff[:name])
      end
      field_value.merge!({:category_val => @ticket.custom_field_value(field.name)})
    end

    field_html = construct_ticket_element(form_builder, :helpdesk_ticket, field, field_label, dom_type, field.required, field_value, '', false, false)
    if field.is_default_field?
      if(field.field_type == "default_ticket_type" && field.has_sections_feature?)
        default_ticket_type_field  << field_html.html_safe
      else
        default_fields << [ field.field_type , field_html ]
      end
    else
      custom_fields << field_html
    end
    section_container += construct_section_fields(form_builder, field, false, @ticket, !@ticket.new_record?) if field.has_section?
  end
end 
default_fields.sort! {|x,y| default_field_order.index(x.first) <=> default_field_order.index(y.first) }
%>

<% default_fields.each do |field| %>
  <%= field.last %>
<% end %>

<%= default_ticket_type_field.html_safe unless default_ticket_type_field == "" %>
<%= content_tag(:li, section_container.html_safe) if section_container.present? %>

<% custom_fields.each do |field| %>
  <%= field %>
<% end %>

<%= render :partial => '/helpdesk/tickets/show/tags' %>

<%= javascript_tag do %>  
  <% if !@ticket.new_record? and @ticket.ticket_status.deleted? %>
    jQuery("#helpdesk_ticket_status")
    .append('<option disabled="disabled" value = "<%= @ticket.status %>"> <%= @ticket.status_name %> </option>')
    .val("<%=@ticket.status%>")
  <% end %>
  
  var id = jQuery("option:selected", "#helpdesk_ticket_ticket_type").data("id");
  jQuery('ul.ticket_section').remove();
  var element = jQuery('#picklist_section_'+id).parent();
  if(element.length != 0) {
    element.append(jQuery('#picklist_section_'+id).val()
            .replace(new RegExp('&lt', 'g'), '<')
            .replace(new RegExp('&gt', 'g'), '>'));
  }
  
  jQuery('#custom_ticket_form').find('select, input, textarea').attr('disabled', 'disabled');
<% end %>
