<%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @user.name, sent_by: :portal_support, portal_name: @portal_name } do %>
<% if @export_url.present? %>
  <%= t('mailer_notifier.report_export_mailer.bi_report_export.report_complete',report_label: @report_label,ticket_export: "#{@ticket_export} ")%> <%= t('mailer_notifier.report_export_mailer.bi_report_export.report_download_html',export_url: @export_url)%> <%= t('mailer_notifier.report_export_mailer.bi_report_export.paste_url')%>
  <br/><br/><%=  @export_url %><br/>
<% else %>
  <%= t('mailer_notifier.report_export_mailer.bi_report_export.report_complete',report_label: @report_label,ticket_export: "#{@ticket_export} ")%> <%= t('mailer_notifier.report_export_mailer.bi_report_export.file_attached')%>
<% end %>
<br/>
<br/>

<% if @selected_metric %>
<%= t('mailer_notifier.report_export_mailer.bi_report_export.for_metric')%> <%= @selected_metric.html_safe %>
<br/>
<br/>
<% end %> 


<% if @filter_name %>
<%= t('mailer_notifier.report_export_mailer.bi_report_export.report_name')%> <%= @filter_name.html_safe %>
<% end %> 

<br/>
<br/>

<% if @filter_to_display %>
  <%= t('mailer_notifier.report_export_mailer.common.filters_applied')%>
  <table border="1" width="100%">
    <tr><td><%= t('mailer_notifier.report_export_mailer.common.date_range')%></td><td><%=@date_range%></td></tr>
    <% @filters.each do |f| %>
      <tr><td><%=f["name"]%></td><td><%= f["value"] %></td></tr>
    <%end%>
  </table>
<br/>
<br/>
<%end%>

<% end %>
