<%= render layout: 'shared/email_header_footer.html.erb', locals: { user_name: @user.name, sent_by: :portal_support, portal_name: @portal_name } do %>
<%= t('mailer_notifier.report_export_mailer.exceeds_file_size_limit.file_size_error')%>
<br/><br/>
<%= t('mailer_notifier.report_export_mailer.exceeds_file_size_limit.report_name')%> <%= @filter_name %>
<br/>	<br/>
<%= t('mailer_notifier.report_export_mailer.common.filters_applied')%>
<br/>
<table border="1" width="100%">
    <tr><td><%= t('mailer_notifier.report_export_mailer.common.date_range')%></td><td><%=@date_range%></td></tr>
    <% @filters.each do |f| %>
      <tr><td><%=f["name"]%></td><td><%= f["value"] %></td></tr>
    <%end%>
</table>
<br/>
<br/>
<% end %>
