Hi <%=@user.name%>,
<br/>
<br/>
Seems like there is no data to display for date range <%=@date_range%> with applied filters.
<br/>
<br/>
<% if @filter_to_display  %>
  Filters applied:
  <table border="1">
    <tr><td>Date Range</td><td><%=@date_range%></td></tr>
    <% @filters.each do |f| %>
      <tr><td><%=f["name"]%></td><td><%= f["value"] %></td></tr>
    <%end%>
  </table>
<br/>
<br/>
<%end%>
<br/>
<br/>
Regards,
<br/>
<%= @user.account.helpdesk_name %> Support