<% if defined? source_tags %>
    <div class="">
      <p><%= t(".tags_selected") %></p>
      <div id="mergeboxconfirm"></div>
      <div id="mergebox" class="tags-merge row-fluid">
        <div class="span7">
          <div class="content-show merge_entity">
            <% source_tags.each do |tag| %>
                <% t=tag.split("-",2) %>
                <div class="square-box-wrap non-primary-tag">
                  <div class="tags-marker-wrapper tooltip" title="<%= t(".mark_primary") %>">
                    <i class="selected-tick-mark"></i>
                  </div>
                  <div class="tags-content-wrapper">
                    <i class="tags-remove remove_merge_tag tooltip" title="<%= t('.remove') %>"></i>
                    <div id="merge_tag" class="merge_element" data-tag-id="<%= t[0] %>">
                      <span class="item_info"> <%= h(truncate(t[1], 13)) %> </span>
                    </div>
                  </div>
                </div>

            <% end %>
          </div>
        </div>

        <div class="span5 tags-search-content">
          <%= render :partial => "tag_search_navigate", :locals => { :merge => "merge_tag_search", :url=>"", :search_id => "search_merge" } %>
          <input type="hidden" value="<%= source_tags.length %>" id="tags_selected_count">
          <i class="connecting-image"></i>
        </div>
      </div>
    </div>
<% end %>
<script type="text/javascript">
  jQuery(document).ready(function(){


     jQuery('.merge_tag_search').on("keydown", function(ev) {
          if(ev.keyCode == 13){
              ev.preventDefault();
          }
      });

      jQuery("#tags-merge-confirm-submit").on("click", function(e){

          e.preventDefault();
          if(jQuery(".square-box-wrap").length>1)
          {
          jQuery(this).attr("disabled","disabled").html("<%= t('.wait') %>");
          var tags_to_merge = [];
          jQuery(".non-primary-tag .merge_element").each(function(){
              tags_to_merge.push(jQuery(this).data("tagId"));
          });

          jQuery.ajax({
              url: "/helpdesk/tags/merge_tags",
              type: "PUT",
              data: { tags_to_merge: tags_to_merge, primary_tag: jQuery(".square-box-wrap:not(.non-primary-tag) #merge_tag").data("tagId") },
              success: function(){
                  jQuery("#tags-merge-confirm").hide();
                  location.reload();

              }
          })
          }
      });

      jQuery(".clear-text").on("click",function(e){

          e.preventDefault();
          jQuery(this).parent().children(".tagsearch").attr("value","");
          jQuery(this).addClass("hide");
      });




  });
</script>
