<td class=" <%= dom_type.downcase %> <%= (count.is_a?(String) || count > 0 ) ? 'count' : 'muted disabled'  %>" id="<%= dom_type+"_"+tag.id.to_s %>"  data-tag-type="<%= type %>" >
  <% if(count.is_a?(String) || count > 0 ) %>
      <% if dom_type != "Archive" %>
        <a href="#tag-remove-confirm" class="removetag"
            rel="freshdialog"
            data-target="#tag-remove-confirm"
            data-title="<%= t('.remove_'+dom_type) %>"
            data-width="400"
            data-backdrop="static"
            data-submit-label="<%= t('remove') %>"
            data-close-label="<%= t('cancel') %>"
            data-destroy-on-close="true"
          >
        <i class="symbols-tag-remove"></i>
        </a>
      <%end%>
      <% if dom_type == "Articles" || Helpdesk::TagsHelper::MINT_DISABLED_TAG_LINKS.include?(dom_type) %>
          <span class="oval-border tooltip" title="<%= tooltip %>">
          <%= font_icon(image, :size => 16,
                                        :class => "",
                                        :style => "cursor: default",
                                        :id => "cm-sb-toggle").html_safe %>
          <span class="cnt-label"><%= count %></span>
          </span>
      <% else %>
          <span class="oval-border tooltip" data-delayIn="2000" title="<%= tooltip %>">
            <a onclick=<%="window.parent.location='#{link}'"%>>
            <%= font_icon(image, :size => 16, :class => "", :id => "cm-sb-toggle").html_safe %>
            <span class="cnt-label"><%= count %></span>
            </a>
          <span>
      <% end %>
  <% else %>
    <span class="oval-border">
      <%= font_icon(image, :size => 16, :class => "", :id => "").html_safe  %>
      <span class="cnt-label"><%= count %></span>
      </div>
    </span>
  <% end %>
</td>
