<div class = "add-new-tag">
    <i class="rounded-add-icon"></i>
    <%= text_field :addhelpdesk, :tag, :value => '', :class => 'text', :placeholder => t('add_tags'), :class => 'addhelpdesk_tag', :maxlength => '32'%>
    <span id="tag_duplicate_error" class="tag-duplicate-error hide"><%= t('tag_exists')%></span>
</div>
<table class="tags-table table">
  <tbody>
    <% unless @tags.empty? %>
      <%= render :partial => "tag", :collection => @tags %>
    <% else %>
      <div class="list-noinfo">
        <%= t('.no_tags') %>
        <br><br>
        <% unless params[:name].nil? and params[:tag_id].nil? %>
            <%= t('.view') %> <a href="/helpdesk/tags"> <%= t('.all_tags') %> </a>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tags,
                  :renderer => BootstrapPaginationRenderer,
                  :previous_label => "<b class='arrow-left'></b>",
                  :next_label => "<b class='arrow-right'></b>",
                  :class => "pagination pagination-centered" %>

<div id="tag-dialog-confirm" title="<%= t('.merge_tags') %>" class="hide">
  <p>
    <i class="ficon-warning"></i>
    <%= t('.tags_merge') %>
  </p>
</div>
<div id="tag-delete-confirm" class="hide">
  <p>
    <%= t('.delete_confirmation') %>
  </p>
</div>
<div id="tag-remove-confirm" title="<%= t('.remove_tags') %>" class="hide">
  <p>
    <span class="ficon-warning"></span>
    <%= t('.remove_confirmation') %>
  </p>
</div>