<script type="text/javascript">
    TAGS_INDEX = {
        no_results    :   "<%= t('no_tags') %>",
        name          :   "<%= params[:name] || "" %>",
        sort          :   "<%= params[:sort] || 'activity_desc' %>"
    };
</script>
<script type="text/javascript" src="/javascripts/app/tags.js"></script>
<% content_for :sidebar do %>
    <div class="sidepanel">
      <h3 class="title">
      <%= t('.helpcard_title') %>
      </h3>
      <br>
      <p>
        <%= t('.helpcard1') %>
      </p>
      <p>
        <%= t('.helpcard2') %>
      </p>
    </div>
<% end %>

<div class="list-page tag-list">
  <div class="list-page-header row-fluid">
    <h3 class="lead span6">
      <% if params["name"].nil? & params[:tag_id].nil? %>
        <%= t(".title") %>
      <% else %>
        <a href="/helpdesk/tags"><%= t(".title") %></a>
      <% end %>
    </h3>
  </div>
  <div id="ticket-sub-toolbar" class="list-page-subheader row-fluid">
    <div class="span6">
      <%= sort_menu unless @tags.empty? %>
    </div>
    <div class="span6 pull-right">
      <%= render :partial => 'tag_search_navigate', :locals => { :url=>"/helpdesk/tags", :search_id => "all_search" } %>
    </div>
  </div>

  <div class="list-page-body" id="TagsList">
    <%= render :partial => "main_panel", :locals => {:tags => @tags}  %>
  </div>
</div>