<script type="text/javascript">
    TAGS_INDEX = {
        no_results    :   "<%= t('no_tags') %>",
        name          :   "<%= params[:name] || "" %>",
        sort          :   "<%= current_tag_sort_order %>"
      };
</script>
<script type="text/javascript" src="/javascripts/app/tags.js"></script>
<% content_for :helpcard do %>
      <h5 class="lead">
        <%= t('.helpcard_title') %>
      </h5>
      <p><%= t('.helpcard1') %></p>
      <p><%= t('.helpcard2') %></p>
<% end %>

<div class="list-page tag-list">
  <div class="list-page-header row-fluid">
    <h3 class="lead span6">
      <% if params["name"].nil? & params[:tag_id].nil? %>
        <%= t(".title") %>
      <% else %>
        <a href="/helpdesk/tags"><%= t(".title") %></a>
      <% end %>
    </h3>
  </div>
  <div id="ticket-sub-toolbar" class="list-page-subheader row-fluid">
    <div class="span6">
      <%= sort_menu unless @tags.empty? %>
    </div>
    <div class="span6 pull-right">
      <%= render :partial => 'tag_search_navigate' %>
    </div>
  </div>

  <div class="list-page-body" id="TagsList">
    <%= render :partial => "main_panel", :locals => {:tags => @tags}  %>
  </div>
</div>
