<div>
  <label class="accounted-created muted">
    <%= t('account_created', :total_time => distance_of_time_in_words(current_account.created_at, Time.now.to_s), :date => formated_date(current_account.created_at, {:format => :short_day_with_week, :include_year => true}) ) %>
  </label>
</div>

  <%
    plan = @subscription.subscription_plan
    is_new_sprout = new_sprout?(plan.name)
    plan_id = plan.name.parameterize.underscore
    field_agent_limit = @subscription.field_agent_limit || 0
    show_field_agent_info = fsm_supported_plan?(plan) && current_account.field_service_management_enabled? && field_agent_limit > 0
  %>

<div class="well-active well-active-new">
  <div class="current-plan" >
    <h1 class="plan-title <%= 'classic' if @subscription.classic?%>">
      <%= t('plan') %> :
      <strong>
          <%= " #{ @subscription.subscription_plan.display_name }" %>
          <%if previous_plan?(@subscription.subscription_plan)%>
            <%= content_tag(:span, "2016", :class => "label") %>
          <%elsif @subscription.classic? %>
            <%= content_tag(:span, t('classic_label'), :class => "label") %>
          <%end%>
      </strong>
    </h1>
    <% if plan.omni_plan? || plan.free_omni_channel_plan? %>
      <p class="omni-enabled">
        <img alt="omni channel experience" class="omni-close" src="/assets/tick.svg" width="11" />
        <%= t('omni_enabled') %>
      </p>
    <% elsif plan.basic_variant? %>
      <p class="omni-disabled">
        <img alt="omni channel experience" class="omni-close" src="/assets/close.svg" width="11" />
        <%= t('omni_disabled') %>
      </p>  
    <% end %>
  </div>

  <input type="hidden" data-omni-plan-id="<%= plan.name.parameterize.underscore %>" data-plan-id="<%= plan.id %>"/>
  <div class="calculate-container" id="<%= plan.name.parameterize.underscore %>">
    <div class="features-billing-edit hide">
    <% if plan.omni_plan? || plan.basic_variant? %>
      <p class="omni-billing-edit features-billing-edit__toggle">
        <span><%= t('omni_channel') %></span>
        <input rel="toggle" type="checkbox" data-plan="<%= plan_id %>"  id="exclude-omni" name="omni-edit-toggle" data-checked-label="<%= t('plain_yes') %>" 
        <%= plan.name.include?('Omni')? "checked='true'" : '' %> />
      </p>
    <% end %>
    <% if fsm_supported_plan?(plan) %> 
      <p class="fsm-billing-edit features-billing-edit__toggle">
        <span><%= t('fsm_title') %></span>
        <input rel="toggle" type="checkbox" data-plan-id="<%= plan.id %>" id="edit-billing-fsm-toggle" name="fsm-edit-toggle" data-checked-label="<%= t('plain_yes') %>"
        <%= current_account.field_service_management_enabled? ? 'checked' : '' %> />
      </p>
    <% end %>
    </div>
    <div class="subscribed-plan-details current-plan-info">
      <div id="info_1" class="subscription-info-divider <%= is_new_sprout ? 'free-divider' : ''%>">
        <ul>
          <li>
            <%= is_new_sprout ? t('free_plan') : t('agent_seats',:no_of_agents => @subscription.agent_limit) %>
          </li>
          <% if show_field_agent_info %>
          <li>
            <%= t('field_agent_seats',:no_of_field_agents => field_agent_limit) %>
          </li>
          <% end %>
          <li>
            <% if is_new_sprout %>
              <%= t('free_plan_agents_v2') %>
            <% else %>
              <%= t('subscribed_billing', :billing_cycle => SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[@subscription.renewal_period]) %>
              <br />
              <a href="#" data-plan="<%= plan.name %>"
                          data-plan-id = "<%= plan.id %>"
                          class="plan-button edit-plan"
                          id='<%= "#{ plan.display_name }_button" %>'
                          data-current-plan=true
                          data-billing-cycle=<%= @subscription.renewal_period %>>
                <%= t('edit_plan') %>
              </a>
            <% end %>
            <%if !@offline_subscription and @invoice and is_new_sprout%>
                <div class ="mt10 muted">
                  <%= t("view_invoices") %>
                  <%=link_to t("marketplace.latest"), "","rel" => "freshdialog", "data-target" => "#invoice-modal-0", "data-destroy-on-close" => "true", "data-template-footer" => ""%> |
                  <%= link_to t("social.streams.index.all"), subscription_invoices_path %>
                </div>
            <%end%>
          </li>
        </ul>
      </div>
      <% if !is_new_sprout %>
        <div class="billing-info-divider">
          <% subscription_end = @subscription.next_renewal_at - Time.now %>
          <ul>
            <li class="price"> <%= format_amount(@subscription.amount, @currency) %> </li>
            <% if subscription_end > 0 %>
              <li class="muted"> <%= t('next_renewal', :renewal_period => distance_of_time_in_words(@subscription.next_renewal_at, Time.now.to_s) ) %> </li>
            <% else %>
              <li class="muted"> <%= t('suspended_since', :days => distance_of_time_in_words(@subscription.next_renewal_at, Time.now.to_s) ) %> </li>
            <% end %>
            <li class="muted"> <%= formated_date(@subscription.next_renewal_at, {:format => :short_day_with_week, :include_year => true}) %> </li>
            <%if !@offline_subscription and @invoice%>
              <li class ="mt10">
                <%= t("view_invoices") %>
                <%=link_to t("marketplace.latest"), "","rel" => "freshdialog", "data-target" => "#invoice-modal-0", "data-destroy-on-close" => "true", "data-template-footer" => ""%> |
                <%= link_to t("social.streams.index.all"), subscription_invoices_path %>
              </li>
            <%end%>
          </ul>
        </div>
      <% end %>
      <%if !@offline_subscription and @invoice%>
      <%= render :partial => "/subscription_invoices/invoice_modal",
         :locals => { :invoice => @invoice, :index => 0} %>
    <%end%>
  </div>
</div>
<%= render :partial => "/subscriptions/payment_info" if @subscription.card_number.present?%>
</div>

<%= render :partial => "/subscriptions/freshfone_subscription" %>

<% unless @offline_subscription %>
<div class="plan-section-title">
<div class="choose-plan-title">
  <a class="plan-expand <%= 'plan-expand-click' if @selected_plan.present? %>" href="#"> 
  <%= t('choose_different_plan') %> 
  </a>
</div>
<% if !current_account.new_2019_pricing_enabled? %>
  <%= content_tag(:h5, t('downgrade_plan_v2'), :class => "lead-note pb15") %>
<% end %>
  <div class="choose-plan-drop" style="<%= 'display:none' if @selected_plan.nil? %>">
  <% if current_account.new_2019_pricing_enabled? %>
  <div class="features">
    <%= render :partial => "/subscriptions/features/toggle-box/ocr_toggle", :locals => { :plan => plan }%>
    <% if current_account.fsm_addon_billing_enabled? %>
      <span class="vr-line"></span>
      <%= render :partial => "/subscriptions/features/toggle-box/fsm_toggle", :locals => { :current_account => current_account }%>
    <% end %>
  </div>
  <% end %>
    <%= render :partial => "/subscriptions/select_new_plans", :locals => {:plans => @plans, :subscription => @subscription, 
      :show_all => false } %>
  </div>
</div>
<% end %>



<script type="text/javascript">
  (function($){    
    $(".plan-expand").click(function(ev){
      ev.preventDefault();
      $('.choose-plan-drop').animate({
        height: ['toggle', 'linear']
      }, 100, 'easeInOut');
      $(".plan-expand").toggleClass("plan-expand-click");
    });
  })(jQuery);
</script>


<div id="omni-disable-confirmation" style="display: none;">
 <%= t('disable_omni_content') %>
</div>