<li class="inline-field">
    <%= content_tag(:label, t('current_plan'), :class => "caption") %>  
    <div class="fields">
      <div class="action_buttons">
        <%= link_to( "#{t('change_plan')} &rsaquo;", plan_subscription_url, :class => "last" ) %>
      </div> 
      <div class="big-text">
        <%= " #{ t('current_plan_details',
            :plan_name  => @subscription.subscription_plan.name,
            :agent_limit => @subscription.agent_limit) }" %>
      </div> 
      <% if @subscription.amount > 0 %>
        <table class="summary">
          <tr>
            <td width="220px"><%= content_tag(:label, t('next_charge_date'), :class => "caption" ) %> </td>
            <td><%= content_tag(:label, "<strong> #{ @subscription.next_renewal_at.to_s(:long_day)  } </strong>") %></td>
          </tr>
          <tr>
            <td>
            <%= content_tag(:label, t('next_charge_amount', 
                            :type => SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[@subscription.renewal_period] ), 
                            :class => "caption" ) %> </td>
            <td><%= content_tag(:label, "<strong> #{ (number_to_currency @subscription.amount) } </strong>" ) %></td>
          </tr>
        </table>
      <% end %>
    </div>
   </li> 
    <li class="inline-field">
      <%= content_tag(:label, t('payment_info'), :class => "caption") %>
      <div class="fields"> 
       <div class="action_buttons">
        <%= link_to( "#{t('change')} &rsaquo;", billing_subscription_url, :class => "last" ) %>
       </div>
       <label><%= @subscription.card_number %></label>
     <% if @subscription.billing_address%>
     <%=@subscription.billing_address.humanize.gsub("\n","<br>")%>
     <%end%>
      </div>
    </li>