<ul class="ui-form">
  <li class="inline-field">
    <div class="trial-info">
      <div class="caption">
        <%= t('current_plan') %>
        <div class="plan-name">
          <% if @subscription.classic? %>
          <b class="big-text"> <%= " #{ @subscription.subscription_plan.name.split(" Classic").first }" %></b>
          <%= content_tag(:span, "Classic", :class => "classic-account") %>
          <% else %>
            <b class="big-text"> <%= " #{ @subscription.subscription_plan.name }" %></b>
          <% end %>
        </div>
      </div>
<% trial_days = current_account.subscription.trial_days %>
<%= trial_days > 0? t('trial_expires_in', :no_of_days => pluralize(trial_days, t('trial_day'), t('days')) )  :  
  t('trial_expired_on', :next_renewal_at => current_account.subscription.next_renewal_at.to_s(:long_day) ) %>
      <div class = "choose-plan">
        <%= t('choose_plan_trial') %>
      </div>
    </div>    
    <br /><br />
  </li> 
</ul>

<div class="choose-plan-title">
  <%= content_tag(:h4, t('choose_plan'), :class => "title") %>
  <%= t('downgrade_plan') %>
</div>
<%= render :partial => "select_plans", :locals => { :plans => plans, :subscription => @subscription, :show_all => true } %>