<%
  trial_days = current_account.subscription.trial_days
  omni_account = current_account.omni_bundle_account?
  hide_omnichannel_toggle = current_account.launched?(:hide_omnichannel_toggle) && !@not_eligible_for_omni_upgrade
%>
<div class="well well-trial well-<%= trial_days > 10 ? 'info' : 'danger' %>">
  <h1 class="lead">
    <%= t('current_plan').html_safe %> :
    <strong>
        <%= " #{ @subscription.subscription_plan.display_name }" %>
        <%if previous_plan?(@subscription.subscription_plan)%>
          <%= content_tag(:span, "2016", :class => "label") %>
        <%elsif @subscription.classic? %>
          <%= content_tag(:span, t('classic_label'), :class => "label") %>
        <%end%>
    </strong>
    <% if omni_account %>
        <%= t("downgrade.omnichannel") %>
    <% end %>
  </h1>
  <span class="label label-<%= trial_days > 10 ? 'success' : 'important' %> label-lead">
    <%= trial_expiry_title(trial_days) %>
  </span>
  <%# if trial_days < 4 %>
    <!--<div>-->
      <!--<%#= render :partial => "/subscriptions/request_trial_extension" %>-->
    <!--</div>-->
  <%# end %>
  <% if @freshcaller_credit_info.present? %>
    <%= render :partial => "freshcaller_credits", :locals => {
      :wrapper_class => 'trial-phone-credits' } %>
  <% end %>
  <p>
      <%= t('choose_plan_trial_v2').html_safe %>
  </p>
</div>


  <%
    plan = @subscription.subscription_plan
    is_new_sprout = new_sprout?(plan.name)
    show_omni_toggle = current_account.freshcaller_account_present? || current_account.freshchat_account_present?
  %>

  <div class="clearfix choose-plan-container <%='choose-plan-border' unless omni_account%>">
    <%= content_tag(:h3, t('choose_plan'), :class => "lead mb0 pull-left") %>
    <div class="pull-right">
      <span class="lead">
        <%= t("currency_label") %>
      </span>
      <%= select_tag :currency, fetch_currencies, :id => "switch-currency", :class => "select2" %>
    </div>
  </div>
  <% if omni_account%>
    <%= render :partial => "/subscriptions/features/omni_channel/features", :locals => { :current_account => current_account }%>
  <% else %>
    <div class="features">
      <% unless hide_omnichannel_toggle %>
        <%= render :partial => "/subscriptions/features/toggle-box/ocr_toggle", :locals => { :plan => plan, :trial => true, :show_omni_toggle => show_omni_toggle }%>
      <% end %>
      <% if current_account.disable_old_ui_enabled? %>
        <% unless hide_omnichannel_toggle %>
          <span class="vr-line"></span>
        <% end %>
        <%= render :partial => "/subscriptions/features/toggle-box/fsm_toggle", :locals => { :current_account => current_account }%>
      <% end %>
    </div>
  <% end %>
<%= render :partial => "select_new_plans", :locals => { :plans => plans, :subscription => @subscription, :show_all => true } %>

<script type="text/javascript">
var isOmniAccount = <%= omni_account %>
jQuery(document).ready(function() {

  // Adding the below logic for currency change

  var toHide = ['plan-garden_jan_19', 'plan-estate_jan_19', 'plan-estate_jan_20', 'plan-forest_jan_20'];

  jQuery('#switch-currency').on('change', function(){
    jQuery("#ChangePlan").empty();
    jQuery("#ChangePlan").addClass("sloading");
    var currency = this.value;
    render_currency_partial(currency);
  });

  function render_currency_partial(currency) {
    calculate_request = jQuery.post( "/subscription/calculate_plan_amount", { "currency": currency },
    function(data){
      jQuery("#ChangePlan").removeClass("sloading");
      jQuery("#ChangePlan").html(data);
      if (!isOmniAccount) {
        jQuery("#omni-channel .toggle-button").hasClass("active") ? show_omni_plans() : hide_omni_plans();
      }
      jQuery("#field-service-management .toggle-button").hasClass("active") ? jQuery(".fsm-card").removeClass("hide") : jQuery(".fsm-card").addClass("hide");
    });
  }

  function show_omni_plans() {
    toHide.each(function(item){
      jQuery("#"+item).addClass("hide");
    });

    jQuery(".pricelist").each(function(){
      if(jQuery(this).attr("id").indexOf("omni") > 0) {
        jQuery(this).removeClass("hide");
      }
    });
    jQuery(".ocr-card").removeClass("hide");
  }

  function hide_omni_plans() {
    toHide.each(function(item){
      jQuery("#"+item).removeClass("hide");
    });

    jQuery(".pricelist").each(function(){
      if(jQuery(this).attr("id").indexOf("omni") > 0) {
        jQuery(this).addClass("hide");
      }
    });
    jQuery(".ocr-card").addClass("hide");
  }

});
</script>
