<% trial_days = current_account.subscription.trial_days %>
<div class="side-panel trial_expiry <%= trial_days > 10 ? 'more_than_ten' : 'less_than_ten' %>">  
<h3 class="sub-lead">
	<%= trial_expiry_title(trial_days) %>
</h3>
<p>
<% if trial_days == 0 %>
	<%= t('trail_expiry_one_more_day')%>
<% elsif trial_days > 0 %>
	<%= t('trail_expiry_during_trial') %>
<% else trial_days < 0 %>
	<%= t('trail_expiry_after_trial', :no_of_days => pluralize(6+trial_days, t('trial_day'), t('days')) )%>
<% end %>
</p>

<% if current_user.privilege?(:manage_account) and trial_days %>
  <p><%= t('hard_pressed_for_time') %><br/>
  	<b><a onclick="window.open(this.href);return false;" href="http://resources.freshdesk.com/DemoRequest.html"  target="_blank"><%= t('schedule_a_complimentary_session') %></a></b></p>
  <div class="trial-background" >
  	<%= link_to("#{t('choose_a_plan')} <b class='arrow-right'></b>", subscription_url) %>
  </div>
<% end %>
</div>
<% javascript_tag do %>
	jQuery(".trial-background").bind("click", function(ev){
        window.location = '<%= subscription_url %>';  
    });
<% end %>