<ul class="ui-form">
  <li class="inline-field">
    <div class="trial-info">
      <div class="caption">
        <%= t('current_plan') %>
        <div class="plan-name">
          <% if @subscription.classic? %>
          <b class="big-text"> <%= " #{ @subscription.subscription_plan.name.split(" Classic").first }" %></b>
          <%= content_tag(:span, "Classic", :class => "classic-account") %>
          <% else %>
            <b class="big-text"> <%= " #{ @subscription.subscription_plan.name }" %></b>
          <% end %>
        </div>
      </div>
      <% unless subscription.finished_trial? %>
        <div class="trial-message">
          <%= t('your_trial_account') %> 
          <%= "#{t('will_expire_in')} #{pluralize(subscription.trial_days, t('day'), t('days'))}" %>.
        </div>
      <% else %>
        <%= "#{t('trial_expired_on')} #{subscription.next_renewal_at.to_s(:long_day)} " %>.
      <% end %>
      <div class = "choose-plan">
        <%= t('choose_plan_trial') %>
      </div>
    </div>    
    <br /><br />
  </li> 
</ul>

<div class="choose-plan-title">
  <%= content_tag(:h4, t('choose_plan'), :class => "title") %>
  <%= t('downgrade_plan') %>
</div>
<%= render :partial => "select_plans", :locals => { :plans => plans, :subscription => @subscription, :show_all => true } %>