<div class="pageContent">
	<h3 class="content_title"><%=title%></h3>
	<span class="seperator"></span>
	<% form_for @product, :html => {:id => "Products"} do |f| %>
		<ul class="ui-form">
			<li>
				<%= f.label :name, "Product Name *" %>
				<%= f.text_field :name, :class => "required" %>	
			</li>		
			<li>
				<%= f.label :description, "Description" %>
				<%= f.text_area :description, :class => "smallpara" %>
			</li>
			<li>
				<label>Forward support emails of this product to</label>
				<%= f.text_field :to_email, :class => "very_small" %>
				@<%= current_account.name %>.<%= current_account.domain %>
			</li>
			<li>
				<label>Desired Reply Email address</label>
				<span>This is the email address that will be used for emails sent from Freshdesk</span>
				<%= f.text_field :reply_email, :class => "required" %>
				<span>
					If you change this email to your own domain, you must create an SPF record in your DNS zone file to ensure proper delivery of emails from Freshdesk.
					<br />
					<a href="#">Click here to know more about creating an SPF record</a>
				</span>
				<br />
			</li>
			<li>
				<div class="check_box">
					<%= f.check_box :solution_category_id %>
					<%= f.label :solution_category_id, "Create a Top level Solution Category for this Product" %>
				</div>			
				<div class="inline_field">
					<%= f.label :solution_category_id, "Solution Category Name" %>
					<%= f.text_field :solution_category_id %>
				</div>
			</li>
			<li>
				<% fields_for "product[forum_category_attributes]", @product.forum_category do |f_form| %>
					<div class="check_box">
						<%= f_form.check_box :name %>
						<%= f_form.label :name, "Create a Top level Forum Category for this Product" %>
					</div>
					<div class="inline_field">
						<%= f_form.label :name, "Forum Category Name" %>
						<%= f_form.text_field :name %>
					</div>
				<% end %>
			</li>
		</ul>
		<div class="button-container">
			<%= f.submit "Save", :class => "fdbutton" %>
			<%= link_to "Cancel", {:action => 'index'}, :class => "fdbutton grey" %>
		</div>
	<% end %>
</div>
