<div id="chat_loading" class="sloading loading-small"></div>
	<div id="chat_setting" class="tabbable" style="display:none">
		<ul class="nav nav-tabs">
			<li class = 'active'><a href="#widget" data-toggle="tab"><%=t('freshchat.widget')%></a></li>
			<li><a href="#visitor-form" data-toggle="tab">Visitor Form</a></li>
			<li><a href="#preferences" data-toggle="tab">Preferences</a></li>
			<li><a href="#install" data-toggle="tab"><%=t('freshchat.installation')%></a></li>
		</ul>
 
		<div class="alert notice" id="chat_settings_notice" style="display:none"><a class="close" href="#"></a></div>
 
		<div class="tab-content" id="chat_settings_tab">
			<div class="tab-pane active" id="widget">
				<div class="chat-window-left ui-form clearfix">
					<div class="ui-form">
						<%= content_tag(:h3, t('freshchat.custom_chat_window'), :class => "title" ) %> 
						<%= form_for "", :html => { :class => "clearfix" } do |f| %>
						<div class="span5 marLeftNone">
							<ul>
								<li class="inline-field window-bgcolor">
									<%= content_tag(:label, t('freshchat.chatbox_bgcolor'), :class => "caption" ) %>
									<div class="fields">
										<div class="color">
											<%= f.color_picker_tag(:class => "color_field required", 
											:id => "window_color", :value => "", :name => "window_color", :maxlength => 10) %>
											<label id="window_color_error" generated="true" class="error" style="display:none;">
												<%=t('freshchat.valid_code')%>
											</label>
										</div>
									</div>
								</li>
							</ul>
							<ul class="window-position chat-top-space">
								<li class="inline-field">
									<label class="caption"><%=t('freshchat.window_position')%></label> 
									<div class="fields">
										<label><select name="window_position" class="valid" id="window_position"></select></label>
									</div>
								</li>
							</ul>
							<ul class="window-position chat-top-space">
								<li class="inline-field">
									<label class="caption"><%=t('freshchat.window_offset')%></label> 
									<div class="fields">
										<label><input type="text" placeholder="30" name="window_offset" id="window_offset" value=""><span class="sublabel">px</span>
										</label>
										<label id="window_offset_error_msg" class="error" style="display:none;"><%=t('freshchat.window_offset_error_msg')%></label>
									</div>
								</li>
							</ul>
						</div>
						<div class="span4 pull-right">
							<div id="chat_layout" class="pull-right">
								<div id="fc-header" class="chat_fc_header"></div>
								<div id="chat-container" style="display: block;">
									<div id="chatwindow">
										<div id="messagewindow">
											<p class="self clearfix">
												<img src="/images/misc/profile_blank_thumb.gif" alt="Profile Image">
												<span class="msg-block">
													<b><%=t('freshchat.me')%></b>
													<span class="time">17:15</span>
													<span class="msg"><%=t('freshchat.welcome_message')%></span>
												</span>
											</p>
										</div>
										<textarea placeholder="Your message" id="inputcontainer" disabled></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="ui-form default-msgs">	
						<li class="inline-field">
							<h3 class="title space_bottom"><%=t('freshchat.set_default_msgs')%></h3> 
							<label class="caption"><%=t('freshchat.minimize_chat_title')%></label>
							<div class="fields">
								<input type="text" class="text" size="18" name="minimized_title" id="minimized_title" value=""placeholder="<%=t('freshchat.minimized_title')%>">
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.maximize_chat_title')%></label>
							<div class="fields">
								<input type="text" class="text" size="18" id="maximized_title" name="maximized_title" value=""placeholder="<%=t('freshchat.maximized_title')%>">
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.welcome')%></label>
							<div class="fields">
								<input type="text" class="text" id="welcome_message" name="welcome_message" size="18" value="" placeholder="<%=t('freshchat.welcome_message')%>">
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.msgbox_placeholder_title')%></label>
							<div class="fields">
								<input type="text" class="text" id="text_place" name="text_place" size="18" value="" placeholder="<%=t('freshchat.text_placeholder')%>">
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.msg_waiting_agent_title')%></label>
							<div class="fields">
								<input type="text" class="text" id="connecting_msg" name="connecting_msg" size="18" value="" placeholder="<%=t('freshchat.connecting_msg')%>">
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.wait_title')%></label>
							<div class="fields">
								<input type="text" class="text" size="18" id="wait_message" name="wait_message" value="" placeholder="<%=t('freshchat.wait_message')%>">
								<div class="info-data"><%=t('freshchat.help_text_wait_onhold_msg')%></div>
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.msg_joining_agent_title')%></label>
							<div class="fields">
								<input type="text" class="text" id="agent_joined_msg" name="agent_joined_msg" size="18" value="" placeholder="<%=t('freshchat.agent_joined_msg')%>">
								<div class="info-data"><%=t('freshchat.help_text_agent_msg')%></div>
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.msg_leaving_agent_title')%></label>
							<div class="fields">
								<input type="text" class="text" id="agent_left_msg" name="agent_left_msg" size="18" value="" placeholder="<%=t('freshchat.agent_left_msg')%>"> 
								<div class="info-data"><%=t('freshchat.help_text_agent_msg')%></div>
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.thank_title')%></label>
							<div class="fields">
								<input type="text" class="text" id="thank_message" name="thank_message" size="18" value="" placeholder="<%=t('freshchat.thank_message')%>" >
							</div>
						</li>
 
						<li class="inline-field">
							<label class="caption"><%=t('freshchat.non_availability_msg_header')%></label>
							<div class="fields">
								<input type="text" class="text" id="non_availability_message" name="non_availability_message" size="18" value="" placeholder="<%=t('freshchat.non_availability_message')%>">
								<div>
								<%= check_box_tag :custom_link, 1, :class => 'filter_item', :id => 'custom_link' %>
								<span class="custom_link_label"><%=t('freshchat.use_custom_link')%></span>
								<div id="custom_link_url_item" style="display:none">
										<input type="text" class="text" id="custom_link_url" name="custom_link_url" value="" placeholder="<%=t('freshchat.enter_custom_link')%>" >
										<p class="info-data"><%=t('freshchat.non_availability_msg_help')%></p>
										<label id="url_error_msg" class="error" style="display:none;"><%=t('freshchat.url_error_msg')%></label>
								</div>
								<div>
							</div>
						</li>

						<li class="inline-field fc-form-divider">
							<label class="caption "><%=t('freshchat.offline_message')%></label>
							<div class="fields">
								<div class="info-data"><%=t('freshchat.help_offline_title')%></div>
								<input type="text" class="text" id="offline_title" name="offline_title" size="18" value="" placeholder="<%=t('freshchat.offline_title')%>" >
								<div class="info-data"><%=t('freshchat.help_offline_thank_msg')%></div>
								<input type="text" class="text" id="offline_thank_msg" name="offline_thank_msg" size="18" value="" placeholder="<%=t('freshchat.offline_thank_msg')%>" >
								<div class="info-data"><%=t('freshchat.help_offline_thank_header_msg')%></div>
								<input type="text" class="text" id="offline_thank_header_msg" name="offline_thank_header_msg" size="18" value="" placeholder="<%=t('freshchat.offline_thank_header_msg')%>" >
							</div>
						</li>

					</ul>
				</div>
				<hr>
				<div class="row-fluid text-right">
					<a href="/admin/home" class="btn"><%=t('freshchat.cancel')%></a>	
					<input class="btn btn-primary chat_setting_save" id="widget_save" name="commit" type="button" value="<%=t('freshchat.save')%>">
				</div>
			</div>
			<div class="tab-pane" id="visitor-form">
				<ul class="ui-form default-msgs">
					<li class="inline-field">
				  		<h3 class="title space_top"><%=t('freshchat.prechat_title')%><span class='prechat_form_checkbox'><%= check_box_tag :prechat_form, 1, :class => 'filter_item', :id => 'prechat_form' %></span></h3> 
					 	<div class="fields marginleftnone">
					 		<div class="ff_item">
								<label class="item-large"> 
							    	<span><%=t('freshchat.prechat_desc')%></span>			     
							  	</label>
						 	</div>
					 	</div>
				  	</li>
					<li class="inline-field prechat_form">
						<label class="caption"><%=t('freshchat.prechat_msg')%></label>
						<div class="fields">
							<input type="text" class="text" size="18" id="prechat_message" name="prechat_message" value="" placeholder="<%=t('freshchat.prechat_message')%>">
						</div>
					</li>
 
					<li class="inline-field prechat_form form_divider">
						<label class="caption"><%=t('freshchat.form_details')%></label>
						<div class="fields clearfix">
							<ul id="prechat_form_fields"></ul>
						</div>
					</li>

					<li class="inline-field">
				  	<h3 class="title space_top"><%=t('freshchat.missed_chat_title')%></h3> 
					 	<div class="fields marginleftnone">
					 		<div class="ff_item">
								<label class="item-large"> 
							    	<span><%=t('freshchat.missed_chat_desc')%></span>			     
							  	</label>
						 	</div>
					 	</div>
				  </li>

				  <li class="inline-field missed_chat_form fc-form-divider">
						<label class="caption"><%=t('freshchat.form_details')%></label>
						<div class="fields clearfix">
							<div>
								<input type="text" class="text span3" id="missed_chat_name" name="missed_chat_name" value="" placeholder="<%=t('freshchat.name')%>">
							</div>
							<div>
								<input type="text" class="text span3" id="missed_chat_email" name="missed_chat_email" value="" placeholder="<%=t('freshchat.mail')%>">
							</div>
						</div>
					</li>
					
					
				</ul>
				<hr>
				<div class="row-fluid text-right">
					<a href="/admin/home" class="btn"><%=t('freshchat.cancel')%></a>	
					<input class="btn btn-primary chat_setting_save" id="visitor-form_save" name="commit" type="button" value="<%=t('freshchat.save')%>">
				</div>
			</div>
			<div class="tab-pane" id="preferences">
				<ul class="chat-window-left ui-form clearfix">
					<li class="inline-field">
						<h3 class="title space_top"><%= t('freshchat.chat_availability') %></h3> 
						<div class="fields marginleftnone">
							<div class="ff_item">
								<label class="item-large"> 
									<div class="fc_title_info"><%= t('freshchat.show_chat_hours_msg') %></div>
									<div class="info-data"><%= t('freshchat.show_chat_hours_info') %></div>
								</label>
							</div>
						</div>
					</li>
 
					<li class="inline-field chat_business_options_wrap">
						<label class="caption form_divider"><%= t('freshchat.show_chat_hours') %></label>
						<div class="fields">
							<ul>
								<li class="inline-field">
									<label class="item"> 
										<input type="radio" id="chat_anytime" name="show_chat_hours" value="">
										<span><%=t('freshchat.anytime')%></span>
									</label>
								</li>
 
								<li class="inline-field">
									<label class="item"> 
										<input type="radio" id="chat_business_hours" name="show_chat_hours" value="<%=default_business_hour%>">
										<span>
											<%=t('freshchat.business_hours')%> 
											<% if multiple_business_hours? %>
											<span id="chat_business_options" class="chat_business_options">
												<%= select_tag :business_calendar_id,
												options_from_collection_for_select(current_account.business_calendar,:id, :name,
													@widget.business_calendar_id),
												:class => 'select2 business_calendar_select2'%>
											</span>
											<% end %>
										</span>
									</label>
								</li>
							</ul>
						</div>
						
					</li>

				<li class="inline-field chat_business_options_wrap fc-form-divider">
						<label class="caption">Offline chat window</label>
					<div class="fields clearfix">
							<span class="label-grey"><%=t('freshchat.offline_chat_window_desc')%> </span>
							<ul>
								<li class="inline-field">
									<label class="item"> 
										<input type="radio" id="hide_offline_chat_window" name="offline_chat_window" value="0">
										<span><%=t('freshchat.hide_offline_chat_window')%></span>
									</label>
								</li>
								<li class="inline-field">
									<label class="item"> 
										<input type="radio" id="show_offline_chat_window" name="offline_chat_window" value="1">
										<span><%=t('freshchat.show_offline_chat_window')%></span>
									</label>
								</li>
							</ul>
						</div>
					</li>
 
					<li class="inline-field">
						<h3 class="title space_top"><%=t('freshchat.support_portal')%><span class='show_on_portal_checkbox'><%= check_box_tag :show_on_portal, 1, :class => 'filter_item' %></span></h3> 
						<div class="fields marginleftnone">
							<div class="ff_item">
								<label class="item-large"> 
									<span><%=t('freshchat.portal_desc')%></span>
								</label>
							</div>
						</div>
					</li>
 
					<li class="inline-field chat_portal_enable_form">
						<label class="caption form_divider"><%=t('freshchat.portal_option_info')%></label>
						<div class="fields">
							<ul>
								<li class="inline-field">
									<label class="item"> 
										<input type="radio" id="show_on_portal_all" name = "show_on_portal" value="everyOne" checked><span><%=t('freshchat.everyone')%></span>
									</label>
								</li>
								<li class="inline-field">
									<label class="item"> 
										<input type="radio" id="portal_login_required" name = "show_on_portal" value="onlyLoggedIn"><span><%=t('freshchat.logged_in_users')%></span>
									</label>
								</li>
							</ul>
						</div>
					</li>
					<li class="inline-field">
						<h3 class="title space_top"><%=t('freshchat.proactive_title')%><span class='proactive_chat_checkbox'><%= check_box_tag :proactive_chat,1, :class => 'filter_item', :id => 'proactive_chat' %></span></h3>
						<div class="fields marginleftnone">
							<div class="ff_item"> 
								<label class="item-large">
									<div class="fc_title_info"><%=t('freshchat.procative_info')%></div>
									<div class="info-data"><%=t('freshchat.proactive_note')%></div>
								</label>
								<span class="proactive_chat range_slider">
									<%=t('freshchat.proactive_time',:seconds => "<span class='btn-group'>
										<button type='button' class='btn btn-default dropdown-toggle proactive_time_display' data-toggle='dropdown'></button>	 
										<ul class='dropdown-menu' role='menu'>
										<input id='proactive_time' name='proactive_time' type='range' min='15' max='180' step='15' value='' />
										<span class='range_time_from'>15sec</span> <span class='range_time_to'>3min</span>
										</ul>
									</span>").html_safe%>
								</span>
							</div>
						</div>
					</li>
					<%if feature?(:chat_routing)%>
							<li class="inline-field">
								<h3 class="title space_top"><%=t('freshchat.routing')%></h3>
								<div class="fields marginleftnone">
									<div class="ff_item"> 
										<label class="item-large">
											<div class="info-data"><%=t('freshchat.routing_info')%></div>
										</label>
									</div>
								</div>
							</li>
							<li>
							</li>
							<li class="routing_loader sloading loading-small"></li>
							<li class="inline-field routing dropdown hide" id="dropdown_routing">
								<%= check_box_tag :dropdown_routing_enable,false, :class => 'filter_item', :id => 'dropdown_routing_enable' %> 
								<i class = "dropdown_enable_info">&nbsp;<%=t('freshchat.enable')%></i>
								<label class="caption form_divider"><%=t('freshchat.dropdown_based_routing')%></label>
								<div class="fields clearfix dropdown_routing_choices">
								</div>
							</li>
							<li class="inline-field routing hide" id="default_routing">
								<label class="caption form_divider"><%=t('freshchat.default_routing')%></label>
								<div class="fields clearfix default_routing_choice">
								</div>
							</li>
					<%end%>
				</ul>
				<hr>
				<div class="row-fluid text-right">
					<a href="/admin/home" class="btn"><%=t('freshchat.cancel')%></a>	
					<input class="btn btn-primary chat_setting_save" id="preferences_save" name="commit" type="button" value="<%=t('freshchat.save')%>">
				</div>
				<% end %>
			</div>
			<div class="tab-pane" id="install">
				<ul class="ui-form">
					<li class="inline-field">
						<%= content_tag(:h3, t('freshchat.integrate_freshchat_title'), :class => "title" ) %>
						<div class="intro"><%=t('freshchat.integrate_msg')%> 
					</li>
 
					<li class="code-view">
						<div class="chat_code_copy tooltip" twipsy-content-set="true" data-original-title="<%= t('freshchat.copy_to_clipboard') %>"><span class="ficon icon-copy"></span></div>  
						<textarea id="EmbedCode" readonly></textarea>
						<div class="intro"><%=t('freshchat.integrate_freshchat_info')%>
					</li>
				</ul>		
			</div>
		</div>
	</div>
