<%= render :partial => "helpnote" %>
<div class="chat-settings">
  <div id="chat_header" class="chat-header">
    <h3 class = "lead"> 
      <%= pjax_link_to(h(t('chatwidget_title')), admin_chat_widgets_path, :class =>"") %>
      /&nbsp;<%= (@widget.product ? @widget.product.name : @widget.account.name) %>
    </h3>
  </div>
	<%= render :partial => "setting" %>
</div>

<%= javascript_tag do %>
  var zeroClipBoardSWFPath = "<%= asset_path('/swf/ZeroClipBoard.swf')%>";

  (function($){
    $(document).one('ready pjax:success' ,function(){
      window.liveChat.adminSettings.initializeWidget(<%= freshchat_setting @widget%>);
    });
  })(jQuery);
<%end%>
