  <%= render :partial => "helpnote" %>
  <% if @chat_active %>
    <div id="chat_header" class="chat-header">
      <h3 class = "lead"> <%=t('chatwidget_title')%>
        <div class="pull-right">
            <% if current_account.chat_setting.active %>
             <span class ="chat_enable_label"><%=t('freshchat.chat_enabled_label')%></span>
            <%else%>
             <span class ="chat_enable_label"><%=t('freshchat.chat_disabled_label')%></span>
            <%end%>
          <%= check_box_tag :chat_enable, 0, current_account.chat_setting.active, :class => 'filter_item', 
            "data-checked-label" => "enabled", 
            "data-unchecked-label" => "disabled",
            :id => 'chat_enable' %>
        </div>
      </h3>
    </div>
    <div id="chat_widgets_list">
      <div class="list-page">
  	   <div class="list-page-body chat-widget-index <% unless @chat_enabled %> disable-widgets <%end%>" >
        <table class="table table-striped" >
          <% @widgets.each do |widget| %>
            <tr id="<%= dom_id(widget)%>">
              <td rel="<%=widget.id%>">
                <%= check_box_tag :toggle_widget, 0, widget.widget_id && widget.active, :class => 'toggle_widget', :rel => widget.id, "data-checked-label" => "on", "data-unchecked-label" => "off" %>
              </td>
              <td>
                <%= pjax_link_to(h(widget.product ? widget.product.name : widget.account.name), edit_admin_chat_widget_path(widget), :class => "item_info") %>
              </td>
              <td>
                <div class="item_actions" align="right">
                  <%= pjax_link_to(t('edit'), edit_admin_chat_widget_path(widget), :class => "btn btn-mini", :rel => widget.id ) %>
                </div>
              </td>
            </tr>
          <% end %> 
        </table>  
      </div>
      <div class="row-fluid fc-mxchat">
        <div class="span8"><p class="lead"><%=t('freshchat.maximum_chat_title')%></p></div>
        <div class="span4 text-right">
          <div class="fc-mxc-count">
            <span>1</span>
            <ul>
              <% (1..10).each do |i| %>
              <li value="<%= i%>"><%= i%></li>
              <% end %>
            </ul>
          </div>
          <span class="fc-mxc-edit"><%=t('freshchat.maximum_change_label')%></span>
          <ul class="fc-mxc-options">
            <li class="fc-mxc-save" title="Save"><i class="ficon icon-ok"></i></li>
            <li class="fc-mxc-cancel" title="Cancel"><i>+</i></li>
          </ul>
        </div>
        <p class="span12 muted lead-desc"> <%=t('freshchat.maximum_chat_desc')%></p>
      </div>
    </div>
  </div>

  <% javascript_tag do %>
      (function($){
          $(document).one('ready pjax:success' ,function(){
            var url = ASSET_URL.js;
            if(window.location && window.location.protocol=='https:'){
              url = ASSET_URL.cloudfront;
            }
            if(window.chatSetting){
              chatSetting.widgets(JSON.parse('<%= @widgets.to_json.html_safe %>'));
            }else{
              $.getScript(url+ "/js/chat_settings.js", function(){
                if(window.chatSetting){
                  chatSetting.widgets(JSON.parse('<%= @widgets.to_json.html_safe %>'));
                }
              });
            }
          });
      })(jQuery);
    <%end%>
  <%else%>
    <%= render :partial => "intro" if current_account.features?(:chat)%>
  <%end%>
</div>