<div class="row">
  <div class="span4">
    <h3>Add Credits </h3>
    <% form_tag({:action => 'add_credits'}, :class => "well") do %>
      <%= label_tag :account_id%>
      <%= text_field_tag :account_id, "", :class => "required" %>
      <%= label_tag :credits %>
      <%= text_field_tag :credits, "", :class => "required" %>
      <%= label_tag :status_message, "Status Message<span class='required_star'>*</span>".html_safe %>
      <%= text_field_tag :status_message, "", :class => "required",
       :placeholder => "use &quot;promotional&quot; for free credits" %>
      <div><%= submit_tag "Add Credit", :class => "btn btn-success" %></div>
    <% end %>
  </div>
  <div class="span3">
    <h3>Refund Credits </h3>
    <% form_tag({:action => 'refund_credits'}, :class => "well") do %>
      <%= label_tag :account_id%>
      <%= text_field_tag :account_id, "", :class => "required" %>
      <div><%= submit_tag "Refund credits", :class => "btn btn-success" %></div>
    <% end %>
  </div>
</div>