<div class="row">
  <div class="span5">
    <h3>Port ahead</h3>
    <%= form_tag({:action => 'port_ahead'}, :class => "well") do %>
      <%= label_tag :account_id %>
      <%= text_field_tag :account_id, "", :class => "required" %>
      <%= label_tag :sid, "Number SID" %>
      <%= text_field_tag :sid, "", :class => "required", :style => "width: 300px;" %>
      <%= label_tag :number %>
      <%= text_field_tag :number, "", :class => "required" %>
      <%= label_tag :display_number %>
      <%= text_field_tag :display_number, "", :class => "required" %>
      <%= label_tag :number_type %>
      <%= select_tag :number_type, 
          options_for_select([ ["Toll Free", 2], ["Local", 1] ]), {:class => "required"} %>
      <div><%= submit_tag "Create Number", :class => "btn btn-success" %></div>
    <% end %>
  </div>
  <div class="span4">
    <h3>Post Twilio port</h3>
    <%= form_tag({:action => 'post_twilio_port'}, :id => "post_twilio_port", :class => "well") do %>
      <%= label_tag :account_id%>
      <%= text_field_tag :account_id, "", :class => "required" %>
      <%= label_tag "number_attributes[number]", "Number" %>
      <%= text_field_tag "number_attributes[number]", "", :class => "required" %>
      <%= label_tag "number_attributes[display_number]", "Display Number" %>
      <%= text_field_tag "number_attributes[display_number]", "", :class => "required" %>
      <%= label_tag "number_attributes[country]", "Country" %>
      <%= text_field_tag "number_attributes[country]", "", :class => "required" %>
      <%= label_tag "number_attributes[region]", "Region" %>
      <%= text_field_tag "number_attributes[region]", "", :class => "required" %>
      <%= label_tag "number_attributes[number_type]", "Number Type" %>
      <%= select_tag "number_attributes[number_type]",
           options_for_select([ ["Toll Free", 2], ["Local", 1] ], 
            :selected => "toll_free") %>
      <div><%= submit_tag "Create number", :class => "btn btn-success" %></div>
    <% end %>
  </div>

  <div class="span5">
    <h3> Create Freshfone Account </h3>
    <div class="well" id="new_freshfone_account">
      <%= label_tag :account_id%>
      <%= text_field_tag :account_id, "", :class => "required" %>
      <div><%= submit_tag "Create Account", :class => "btn btn-success", 
      :id => "fetch_account" %></div>
      <div class='account_details hide'>
        <table id='new_freshfone_account_result' class='table'>
          <tr>
            <th> Twilio Subaccount Sid </th>
            <td class='subaccount_sid'></td>
          </tr>
          <tr>
            <th> Friendly Name </th>
            <td class='friendly_name'> </td>
        </table>
      </div>
      <div class='alert alert-block alert-notice hide freshfone_account_error'>
        <a class="close" data-hide="alert">×</a>
        <p id='errorMessage'> </p>
      </div>
    </div>
  </div>
</div>

<% javascript_tag do %>
  (function($){
    $("#new_freshfone_account #fetch_account").on("click", function(ev){
      ev.preventDefault();
      $("#new_freshfone_account .account_details").toggle(false);
      $("#new_freshfone_account .freshfone_account_error").toggle(false);
      var account_id = $("#new_freshfone_account #account_id").val(),
          self = this;
      if ($.trim(account_id) == ""){  
        var message = "Account required";
        set_error_message(message);
        return;
      }
      $(this).val('Requesting....')
              .addClass('disabled');
      $.ajax({
        type: "POST",
        url: '/freshfone_actions/new_freshfone_account',
        dataType: "json",        
        data: {account_id: account_id},
        success: function(data){
          $("#new_freshfone_account .account_details").toggle(true);
          $("#new_freshfone_account .freshfone_account_error").toggle(false);
          populateResultData(data);
          $(self).val('Create Account')
                  .removeClass('disabled');
        },
        error: function(data) {
          $("#new_freshfone_account .account_details").toggle(false);
          var message = "Unable create new freshfone account!";
          set_error_message(message);
          console.log(data);
          $(self).val('Create Account')
                .removeClass('disabled');
        }
      });
      return false;
    });
    function populateResultData(data) {
      console.log('data', data);
      $("#new_freshfone_account_result td.subaccount_sid").html(data.twilio_subaccount_id);
      $("#new_freshfone_account_result td.friendly_name").html(data.friendly_name);
    };
    function set_error_message(message) {
      var $errorAlert = $("#new_freshfone_account .freshfone_account_error");
      $errorAlert.find("#errorMessage").text(message);
      $errorAlert.toggle(true);
    }
  })(jQuery);
  <% end %>


