<% unless @quests.empty? %>
	<div id="quests-section">
	  	<%= link_to "See all", helpdesk_quests_path, :class => "action-right" %>
	  	<h3 class="title">Available Quests</h3>  
	  	<div id="quests-container" class="panel-list">
	  		<% @quests.each do |quest| %>
		  		<div id="active-quest" class="panel-row row-fluid">
					<div class="span2">
						<div class="badges left <%=quest.badge[:classname]%>">
							<%= content_tag(:strong, quest.points, :class => "label points") unless quest.points.blank? %>
						</div>
					</div>
					<div class="span10">
		  				<h4><%= quest.name %></h4>
						<p class="help-text" title="<%= quest.description %>"><%= truncate quest.description, :length => 100 %></p>
					</div>
				</div>
			<% end %>
	  	</div>
	</div>
<% else %>
	<script type="text/javascript">$('quests-section-container').hide()</script>
<% end %>
