<% content_for :sidebar do %><% end %>
<div class="btn-group floatr">
  <a href="/helpdesk/quests" class="btn active"><%= t('helpdesk_quests.all') %></a>
  <a href="/helpdesk/quests/unachieved" class="btn"><%= t('helpdesk_quests.un_achieved') %></a>
</div>
<a href="/"><%= t('helpdesk_quests.back_to_dashboard') %></a>
<h3 class="title"><%= t('helpdesk_quests.quests') %></h3>
<div class="report-nmleft thick-border-top q-report">
	<div class="panel-list" id="Pages"> 
		<%= render :partial => "quest", :collection => @quests %>
  	</div>
</div>
<%= will_paginate @quests %>
<% content_for :pagefixed do %> 
  <%= pageless(@quests.total_pages, "/helpdesk/quests")  %>
<% end %>