<% form_for @user_session, :url => user_session_path do |f| %>
  	<%= f.error_messages %>  	
	<fieldset>
	  	<div class="control-group">
	  		<div class="controls">
	  			<%= f.text_field :email, :class => "required special", :placeholder => "Your e-mail address" %>
	  		</div>
		</div>
		<div class="control-group">
	  		<div class="controls">
	  			<%= f.password_field :password, :class => "special", :placeholder => "Password" %>
	  		</div>
	  	</div>	  	
		<div class="control-group">
			<button type="submit", class="btn btn-primary btn-login"> <%= t('.login') %> </button>
	  		<div class="controls">
	  			<label class="checkbox">
					<%= f.check_box :remember_me %>
					<%= t('.remember') %>
				</label>
			</div>
			<%= link_to(t('.forgot'), new_password_reset_path ) %>
	  	</div>	
	</fieldset>
<% end %>