<% form_for @user_session, :url => user_session_path do |f| %>
  	<%= f.error_messages %>
	<fieldset>
	  	<div class="control-group">
	  		<div class="controls">
	  			<%= f.email_field :email, :class => "required special", :placeholder => t('your_email_address') %>
	  		</div>
		</div>
		<div class="control-group">
	  		<div class="controls">
	  			<%= f.password_field :password, :class => "special", :placeholder => t('support.login.password') %>
	  		</div>
	  	</div>	  	
		<div class="control-group">
			<button type="submit" class="btn btn-primary btn-login"> <%= t('.login') %> </button>
	  		<div class="controls">
	  			<label class="checkbox">
					<%= f.check_box :remember_me %>
					<%= t('.remember') %>
				</label>
			</div>
			<%= link_to(t('.forgot'), "", "data-toggle-dom" => "#forgot-form, #login-form" ) %>
	  	</div>	
	</fieldset>
<% end %>