<% content_for :layoutType do%>single<% end %>

<div class="pageContent">
	<h3 class="content_title">Login</h3>
	
	<% form_for @user_session, :url => user_session_path do |f| %>
	  <%= f.error_messages %>
	  <ul class="ui-form">
	  	<li class="largefield">
	  		<%= f.label :email %>
	  		<%= f.text_field :email, :class => "text" %>
		</li>
		<li class="largefield">
	  		<%= f.label :password %>
	  		<%= f.password_field :password %>
	  	</li>
	  	<li>
			<%= f.check_box :remember_me %> Remember me
	  	</li>
	  	<li>
	  		<%= f.submit "Login", { :class => "button"} %>
		</li>
	</ul>
	<% end %>
</div>