<div class="ui-form">
	<%= form_for @user_session, :url => user_session_path do |f| %>
	  <%= render partial: '/shared/error_messages', collection: @user_session.errors.full_messages %>
		  <ul>
		  	<li class="largefield">
		  		<%= f.label t('.email') %>
		  		<%= f.text_field :email, :class => "required text", :autofocus => true %>
			</li>
			<li class="largefield">
		  		<%= f.label t('.password') %>
		  		<%= f.password_field :password, :class => "text" %>
		  	</li>
        <% unless current_account.launched?(:idle_session_timeout) %>
		  	<li class="checkbox">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me, t('.remember') %>
		  	</li>
        <% end %>
		  	<li>
		  		<%= f.submit t('.login'), { :class => "uiButton"} %>
				<%if feature?(:signup_link)%>
				 <%= t('or').html_safe %> <%= link_to( t('signup').html_safe , support_signup_path)%>
				<%end%>
			</li>
			<li>
				<span class="seperator"></span>
				<div class="help_text"><b><Help><%= t('.help') %>:</b> <%= link_to(t('.forgot'), new_password_reset_path ) %> </div>
			</li>
			<%if feature?(:google_signin) or feature?(:twitter_signin) or feature?(:facebook_signin) %>
			 <li>
				<div>
					<b><%= t(".sign_in_using") %>:</b>
					<%= link_to(content_tag(:span, "" , :class => 'social google', :title => t(".sign_in_using_google")) + "Google", "/auth/google_login", :class => "button") if feature?(:google_signin) %>
					<%= link_to(content_tag(:span, "" , :class => 'ficon-twitter social twitter', :title => "Twitter") + "Twitter", "/auth/twitter", :class => "button") if feature?(:twitter_signin) %>
					<%= link_to(content_tag(:span, "" , :class => 'ficon-facebook social facebook', :title => "Facebook") + "Facebook", "/sso/facebook", :class => "button") if feature?(:facebook_signin) %>
				</div>
			 </li>
			<%end%>
      <% if current_account.freshid_integration_enabled? %>
        <section class="freshid_login">
          <div class="agent-login-link">
            <i class="ficon-helpdesk_new agent-login-icon"></i>
            <div class="link-content">
              <span><%= t('portal.agent_login_info') %> </span>
              <% @freshid_login_url = current_account.freshid_org_v2_enabled? ? Freshid::V2::UrlGenerator.login_url(freshid_authorize_callback_url) : Freshid::Config.login_url(freshid_authorize_callback_url, freshid_logout_url) %>
              <%= link_to t('portal.agent_signin'), @freshid_login_url %>
            </div>
          </div>
        </section>
      <% end %>

		</ul>
	<% end %>
</div>
