<% content_for :pagefixed do %>
  <%= stylesheet_link_tag "autosuggest_inquisitor" %>
  <%= javascript_include_tag "autosuggest" %>
  <% javascript_tag do %>
  	// Condition Parsing 
  	// This template contains the dom population information 
  	var conditional_dom = function(filter, id, compName, initFeed){
  		var type   	  = filter.domtype;
  		var initFeed  = initFeed || {};
  		var compName  = compName || "filter";
  		// Conditional Dom created based on the options available 
  		c_dom = "";
  		switch (type) {
  			case 'text':
  			case 'number':
  			case 'autocompelete':
  				c_dom = FactoryUI.text("", "value", initFeed["value"], type);
  				jQuery(c_dom).prop("id", id);			
  				break;
  			case 'dropdown':
  				var choices = [];
  				filter.choices.each(function(arrayItem){
  					choices.push({
  						name: arrayItem[0],
  						value: arrayItem[1]
  					});
  				});
  				c_dom = FactoryUI.dropdown(choices, "value");
  				jQuery(c_dom).val(initFeed["value"]);
  				break;
				
  			case 'paragraph':
  				c_dom = FactoryUI.paragraph("", "value", initFeed["value"]);
  				break;
  			case 'comment':			
  				c_dom = jQuery("<div class=\"s_comment\" />")
  							.append(FactoryUI.paragraph("", "comment", initFeed["comment"]))
  							.append(FactoryUI.checkbox("<%= t('ticket.note_form.private_note') %>", "private", initFeed["private"])); 
  				break;
  			case 'email_select':
  			case 'email_text':
  			case 'email':
  				var control = "";
  				if (type == 'email_select') {			
  					var choices = [];
  					filter.choices.each(function(arrayItem){
  						choices.push({
  							name: arrayItem[0],
  							value: arrayItem[1]
  						});
  					});
  					control = FactoryUI.dropdown(choices, "email_to");				
  				}else{
  					control = FactoryUI.text("", "email_to");				
  				}			
				
  				if (type != 'email') {
  					jQuery(control).val(initFeed["email_to"]);
  					var to = jQuery('<div />').append("<b><%= t(".to") %> </b>").append(control);
  				}
				
  				var body	= jQuery('<div />')
  								.append("<b><%= t('.body') %>*</b>")
  								.append(FactoryUI.paragraph("", "email_body", initFeed["email_body"], "paragraph required"))
  								.append("<a class='l_placeholder slim-button' href='javascript:void(0)'><%= t('.insert_placeholder') %> &raquo;</a>");

  				c_dom = jQuery("<div class=\"s_email\" />")
  							.append(to || "")
  							.append(body);
  				break;	
			
  			case 'checkbox':
  				if (compName == 'action') {
  					var choices = [{
  						name: 1,
  						value: "<%= t(".selected") %>"
  					}, {
  						name: 0,
  						value: "<%= t(".not_selected") %>"
  					}];
  					c_dom = FactoryUI.dropdown(choices, "value");
  					jQuery(c_dom).val(initFeed["value"]);
  				}	
  				break;
				
  			default:
  				c_dom = "";
  		}			
  		return c_dom;
  	}
  	var active_email_body = null;
  <% end %>

  <%= javascript_include_tag "condition-filter" %>
<% end %>

<% content_for :onload_script do %>	
	<% if(filter_type == "va_rule") %>
		var op_hash = preProcessCondition(<%= @op_types %>, <%= @op_list %>);	 
		filter_rule = new rules_filter("filter", $A(<%= @filter_defs %>), "#filterDOM", {"operators": op_hash, "init_feed":$A(<%= @filter_input %>)});	
	<% end %>			
	action_rule = new rules_filter("action", $A(<%= @action_defs %>), "#actionDOM", {"init_feed":$A(<%= @action_input %>)});
<% end %>