<%= stylesheet_link_tag_with_rtl :'cdn/reports' %>
<div class="report-home report ">
  <div class="admin-header report-head welcome" data-scroll-top="true">
    <div class="pull-left welcome-message">
      <div class="content">
          <span class="head"><%= t('helpdesk_reports.welcome_message.header')%></span>
          <%= t('helpdesk_reports.welcome_message.intro')%>
      </div>
      <a href="https://support.freshdesk.com/support/solutions/folders/270450" target="_blank"><%= t('helpdesk_reports.welcome_message.link_title')%></a>
    </div>
    <div class="seperator pull-left"></div>
    <div class="report-link-block pull-right">
      <a class="report-link" href="<%=old_reports_url%>"><%= t('helpdesk_reports.view_old_reports')%> <span class="view-all-arrow"></span></a>
    </div>
    <div class="clear"></div>
  </div>
  <% if feature?(:advanced_reporting) || feature?(:enterprise_reporting) %>
    <div class="report_category odd ataglance ">
       <h3 class="title"><span><%= t('helpdesk_reports.helpdesk_analysis') %></span></h3>
           <ul class="report_icon">
              <% if feature?(:advanced_reporting) %>
                <li>
                     <a href="/reports/v2/glance" data-pjax="#body-container" >
                        <div class="img-outer"><i class="fsize-36 ficon-helpdesk_at_glance"></i></div>
                        <div class="report-icon-text"><%= t('helpdesk_reports.glance.index_title').html_safe %></div>
                     </a>
                </li>
              <% end %>
              <% if feature?(:enterprise_reporting) %>
                  <li>
                     <a href="/reports/v2/ticket_volume" data-pjax="#body-container">
                        <div class="img-outer"><i class="fsize-36 ficon-ticket-volume"></i></div>
                        <div class="report-icon-text"><%= t('helpdesk_reports.ticket_volume.title') %></div>
                     </a>
                  </li>
              <% end %>
              <% if freshfone_reports? %>
                <li>
                  <a href="<%= reports_freshfone_summary_reports_url %>">
                        <div class="img-outer"><i class="fsize-36 ficon-phone_summary"></i></div>
                        <div class="report-icon-text"><%= t('helpdesk_reports.phone_summary.title') %></div>
                   </a>
                </li>
              <%end%>
              <% if chat_activated? %>
                <li>
                  <a href="<%= reports_freshchat_summary_reports_url %>">
                        <div class="img-outer"><i class="fsize-36 ficon-live_chat"></i></div>
                        <div class="report-icon-text"><%= t('helpdesk_reports.chat_summary.title') %></div>
                   </a>
                </li>
              <%end%>
           </ul>
    </div>
  <% end %>
  <div class="report_category odd summary ">
       <h3 class="title"><span><%= t('helpdesk_reports.productivity') %></span></h3>
           <ul class="report_icon">
              <li>
               <a href="/reports/v2/agent_summary" data-pjax="#body-container">
                  <div class="img-outer"><i class="fsize-36 ficon-summary-1"></i></div>
                  <div class="report-icon-text"><%= t('helpdesk_reports.agent_summary.title')%></div>
               </a>
            </li>
            <li>
               <a href="/reports/v2/group_summary" data-pjax="#body-container">
                  <div class="img-outer"><i class="fsize-36 ficon-summary-2"></i></div>
                  <div class="report-icon-text"><%= t('helpdesk_reports.group_summary.title') %></div>
               </a>
            </li>
             <%if feature?(:enterprise_reporting) %>
                <li>
                   <a href="/reports/v2/performance_distribution" data-pjax="#body-container">
                      <div class="img-outer"><i class="fsize-36 ficon-performance-distribution"></i></div>
                      <div class="report-icon-text"><%= t('helpdesk_reports.performance_distribution.title') %></div>
                   </a>
                </li>
              <% end %>
              <% if feature?(:timesheets) && privilege?(:view_time_entries) %>
                <li>
                  <a href="<%= timesheet_reports_url %>">
                        <div class="img-outer"><i class="fsize-36 ficon-time_sheet"></i></div>
                        <div class="report-icon-text"><%= t('helpdesk_reports.timesheet_reports.title') %></div>
                   </a>
                </li>
              <%end%>
           </ul>
  </div>
  <% if feature?(:enterprise_reporting) || feature?(:surveys) %>
    <div class="report_category odd customer ">
         <h3 class="title"><span><%= t('helpdesk_reports.customer_happiness') %></span></h3>
             <ul class="report_icon">
               <% if feature?(:enterprise_reporting) %>
                  <li>
                     <a href="/reports/v2/customer_report" data-pjax="#body-container">
                        <div class="img-outer"><i class="fsize-36 ficon-customer_reports"></i></div>
                        <div class="report-icon-text"><%= t('helpdesk_reports.customer_report.title') %></div>
                     </a>
                  </li>
                <% end %>
                <% if feature?(:surveys) %>
                  <li>
                     <a href="<%= survey_activity_url %>">
                          <div class="img-outer"><i class="fsize-36 ficon-customer_satisfaction"></i></div>
                          <div class="report-icon-text"><%= t('helpdesk_reports.satisfaction_survey.title') %></div>
                     </a>
                  </li>
                <%end%>
             </ul>
    </div>
  <% end %>
</div>