<% content_for :sidebar do -%><%- end %>
<h3 class="title"><%= t('reports.tab_heading') %></h3>
<div>
	<ul class="report_items">
	<% @t_reports.each_with_index do |report, index| %>
		<%= report_item({:label => report[:label], :class => report[:object], :url => report_path(index+1)}) %>
	<% end %>
	<% if feature?(:timesheets) %>
		<%= report_item({:label => t('reports.timesheet_reports.index.title'), :class => 'timesheet', :url => timesheet_reports_url}) %>
	<% end %>
	<% if feature?(:advanced_reporting) %>
		<%= report_item({:label => t('reports.customer_title_nav'), :class => 'customer', :url => customer_activity_url}) %>
		<%= report_item({:label => t('reports.helpdesk_title_nav'), :class => 'helpdesk', :url => helpdesk_activity_url}) %>
	<% end %>
	<% if feature?(:scoreboard) %>
		<%= report_item({:label => t('reports.scoreboard_title_nav'), :class => 'scoreboard', :url => 
			scoreboard_activity_url}) %>
	<% end %>
	</ul>
</div>
