<%
	date_range = date_range_val(31.days.ago,1.days.ago)
%>

<%= stylesheet_link_tag_with_rtl :'cdn/ui_daterangepicker', :media => "screen" %> 
<%= javascript_include_tag :'cdn/report_date'  %>
<%= javascript_include_tag :'cdn/kissmetrics'  %>
<%= stylesheet_link_tag_with_rtl :'cdn/reports', :media => "screen, print, projection"  %>
<%= stylesheet_link_tag_with_rtl :'cdn/reports_print', :media => "print, projection" %>
<span class="floatr">
	<%= link_to("#{t('reports.summary_report.back_to_reports')}".html_safe, reports_url, :class => "btn") %>
</span>
<h3 class="title">
	<%= @current_report[:label] %>
<h4 class='title'> <%= date_range %></h4>
</h3>

<% content_for :sidebar do %>
<div class="sidepanel">
  <h4 class="title"><%= t('reports.select_time_period')%></h4>
	<form id="report_search">
		<ul class="ui-form">
			<li class="inline-field">
				<div>
					<%= text_field_tag :date_range, date_range, :class => "required" %>
				</div>
			</li>
		</ul>
		<div class="button-container">
			<%= submit_tag t('reports.summary_report.show_report'), :class => "uiButton" %>
		</div>
	</form>
</div>
<div class="sidepanel helpcard">
	<p>	<%= t('reports.summary_report.helptext').html_safe %> </p>
</div>


<%= javascript_tag do %>

var report_label = '<%= @current_report[:label] %>';
full_domain = '<%= current_account.full_domain %>'
jQuery(document).ready(function() {
	jQuery("#date_range").daterangepicker({
		earliestDate:Date.parse('04/01/2013'),
		latestDate:Date.parse('Today'),
		presetRanges: [
		  {text: '<%= t('reports.date_ranges.today') %>', dateStart: 'Today', dateEnd: 'Today' },
			{text: '<%= t('reports.date_ranges.yesterday') %>', dateStart: 'Today-1', dateEnd: 'Today-1' },
			{text: '<%= t('reports.date_ranges.last_7_days') %>', dateStart: 'Today-7', dateEnd: 'Today-1' },
			{text: '<%= t('reports.date_ranges.last_30_days') %>',dateStart: 'Today-30', dateEnd: 'Today-1'},
			{text: '<%= t('reports.date_ranges.last_90_days') %>',dateStart: 'Today-90',  dateEnd: 'Today-1'}
		],
		presets: {
			dateRange: '<%= t('reports.date_ranges.custom') %>'
		},
		dateFormat: getDateFormat('datepicker'),
		closeOnSelect: true
	});   

	jQuery("#date_range").bind('keypress keyup keydown', function(ev) {
		ev.preventDefault();
		return false;
	});
	recordAnalytics();
});     

	function recordAnalytics() {

		jQuery("input[type=submit]").click(function(ev) {

			var date_range = jQuery("#date_range").val().split('-');
			var diff = -1;
			var event_prop = {
				Date: jQuery("#date_range").val()
			};

	        if (date_range.length == 2){
				diff = (new Date().setHours(0,0,0,0) - Date.parse(date_range[1])) / (36e5 * 24);	
			} else{
			   diff = (new Date().setHours(0,0,0,0) - Date.parse(date_range[0])) / (36e5 * 24);
			}
			
			if(diff == 0) {
				event_prop.today_used_in_range = true;
			}
			if(diff == 1) {
				event_prop.yesterday_used_in_range = true;
			}
			App.Report.Metrics.push_event(report_label,event_prop);
		});
	}
	
	//Deprecated message
	  var show_disabled = <%= current_account.old_reports_enabled? %>;
	  if(show_disabled){
	      jQuery(".empty-holder").hide();
	  } else{
	      var message = "<div class='deprecated-header'><div class='message'><%=t('helpdesk_reports.deprecated_header')%></div></div>";
		  jQuery(".leftcontent").prepend(message);
	  }

<% end %>
	    
<% end %>

<div class="grid report" id="agent_ticket_summary">	
	<table width="100%" id="summary_report" class="tablesorter">
		<thead>
			<tr>
				<th>
					<%= @current_report[:title] %>
				</th>

				<th>
					<%= t('reports.summary_report.tickets_resolved').html_safe %>
				</th>

				<th>
					<%= t('reports.summary_report.on_time_resolution').html_safe %>
				</th>

				<th>
					<%= t('reports.summary_report.fcr_count').html_safe %>
				</th>

				<th>
					<%= t('reports.summary_report.avg_1st_response_time').html_safe %>
				</th>

				<th>
					<%= t('reports.summary_report.avg_response_time').html_safe %>
				</th>

				<th>
					<%= t('reports.summary_report.avg_resolution_time').html_safe %>
				</th>
			</tr>
		</thead>
		<% @current_object.each do |obj| %>
		<tr class="<%= cycle("odd", "even") %>">
			<% case @current_report[:name] 
					when "responder" %>
						<td>
							<% if obj.user.twitter_id.blank? %>
								<%= obj.user.name %>
							<% else %>
								<%= obj.user.name_details %>
							<% end %>	
						</td>
						<% data = @report_data.fetch(obj.user_id, {}) %>
			<%	when "group" %>
						<td>
							<%= obj.name %>
						</td>
						<% data = @report_data.fetch(obj.id, {}) %>	
			<% end 

			resolved_count = data.fetch(:tot_tkts, 0).to_i
			otr_percentage = percentage(data.fetch(:tkt_res_on_time,0).to_i,resolved_count)
			fcr_percentage = percentage(data.fetch(:fcr,0).to_i,resolved_count)
			afrt = data.fetch(:average_first_response_time, 0)
			art = data.fetch(:average_response_time, 0)
			areslt = data.fetch(:average_resolution_time, 0)
			%>
			<td>
				<%= resolved_count %>
			</td>
			<td>
				<%= otr_percentage %> 
				<% count = data.fetch(:tkt_res_on_time, 0) %>
				<% if count != 0 %>
					(<%= count %>)
				<% end %>
			</td>
			<td>
				<%= fcr_percentage %> 
				<% count = data.fetch(:fcr, 0) %>
				<% if count != 0 %>
					(<%= count %>)
				<% end %>
			</td>
			<td>
				<%= timediff_in_words(afrt) %>
			</td>
			<td>
				<%= timediff_in_words(art) %>
			</td>
			<td>
				<%= timediff_in_words(areslt) %>
			</td>
		</tr>
		<% end %>
		<%if @report_data.key?("Unassigned")
			data = @report_data["Unassigned"]
			resolved_count = data.fetch(:tot_tkts, 0).to_i
			otr_percentage = percentage(data.fetch(:tkt_res_on_time,0).to_i,resolved_count)
			fcr_percentage = percentage(data.fetch(:fcr,0).to_i,resolved_count)
			afrt = data.fetch(:average_first_response_time, 0)
			art = data.fetch(:average_response_time, 0)
			areslt = data.fetch(:average_resolution_time, 0)
		%>
		<tr class="<%= cycle("odd", "even") %>">
			<td><%=t('filter_options.unassigned')%></td>
			<td>
				<%= resolved_count %>
			</td>
			<td>
				<%= otr_percentage %> 
				<% count = data.fetch(:tkt_res_on_time, 0) %>
				<% if count != 0 %>
					(<%= count %>)
				<% end %>
			</td>
			<td>
				<%= fcr_percentage %> 
				<% count = data.fetch(:fcr, 0) %>
				<% if count != 0 %>
					(<%= count %>)
				<% end %>
			</td>
			<td>
				<%= timediff_in_words(afrt) %>
			</td>
			<td>
				<%= timediff_in_words(art) %>
			</td>
			<td>
				<%= timediff_in_words(areslt) %>
			</td>
		</tr>
		<%end%>
	</table>	
</div>