<span class="floatr">
	<%= link_to("&larr; Back to reports", reports_url, :class => "slim-button") %>
</span>
<h3 class="title">
	<%= @current_report[:label] %>
</h3>
<% javascript_tag do %> 
	jQuery(document).ready(function() {
		var date_today = new Date();
			var dates = jQuery( "#start_date, #end_date" ).datepicker({
				changeMonth: true, 
				changeYear: true,
				numberOfMonths: 3,
				showButtonPanel: true,
				maxDate: "today",
				showOn: "both", 
				disabled: true,
				onSelect: function( selectedDate ) {
					var option = this.id == "start_date" ? "minDate" : "maxDate",
						instance = jQuery( this ).data( "datepicker" ),
						date = jQuery.datepicker.parseDate(
							instance.settings.dateFormat ||
							jQuery.datepicker._defaults.dateFormat,
							selectedDate, instance.settings );
					dates.not( this ).datepicker( "option", option, date );
					jQuery(this).prop("date", date);
				}
			});
      
			jQuery("#start_date").val('<%= params[:start_date].blank? ? 30.days.ago.strftime("%m/%d/%Y") : params[:start_date] %>');
			jQuery("#end_date").val('<%= params[:end_date].blank? ? Time.now.strftime("%m/%d/%Y") : params[:end_date] %>');


		jQuery("#start_date, #end_date").bind('keypress keyup keydown', function(ev) {
			ev.preventDefault();
			return false;
		});
	});
<%end%>

<% content_for :sidebar do %>
<div class="sidepanel">
  <h4 class="title">View report between</h4>
	<form id="report_search">
		<ul class="ui-form">
			<li class="inline-field">
				<table>
					<tr>
						<td width="100px"><label>From</label></td>
						<td><input type="text" id="start_date" date="" name="start_date" class="text  auto" value="<%= params[:start_date] %>" size="10" /></td>
					</tr>
					<tr>
						<td><label>To</label></td>
						<td><input type="text" id="end_date" date="" class="text auto" name="end_date" value="<%= params[:end_date] %>"  size="10" /></td>
					</tr>
				</table>
			</li>
		</ul>
		<div class="button-container">
			<%= submit_tag "Show report", :class => "uiButton" %>
		</div>
	</form>
</div>
<% end %>

<div class="grid report">	
	<table width="100%">
		<tr>
			<th><%= @current_report[:title] %></th>
			<th>Total tickets</th>
			<th>Open</th>
			<th>Closed</th>
			<th>Resolved on time</th>
			<th>Overdue</th>
			<th>Resolved on First Contact(FCR)</th>
			<th width="80px">FCR %</th>
		</tr>
		<% @current_object.each do |obj| %>
		<tr class="<%= cycle("odd", "even") %>">
			<% case @current_report[:name] 
					when "responder" %>
						<td><%= obj.user.name_email %></td>
						<% data = @report_data.fetch(obj.user_id, {}) %>
			<%	when "group" %>
						<td><%= obj.name %></td>
						<% data = @report_data.fetch(obj.id, {}) %>	
			<% end %>
			<td><%= data.fetch(:tot_tkts, 0) %></td>
			<td><%= data.fetch("Open", 0) %></td>
			<td><%= data.fetch("Closed", 0) %></td>
			<td><%= data.fetch(:tkt_res_on_time, 0) %></td>
			<td><%= data.fetch(:over_due_tkts, 0) %></td>
			<td><%= data.fetch(:fcr, 0) %></td>
			<td><%= data.fetch(:fcr_per, 0) %> %</td>
		</tr>
		<% end %>
	</table>	
</div>