<%= javascript_include_tag  '/javascripts/report/date' %>
<%= javascript_include_tag  '/javascripts/report/daterangepicker.jQuery.js' %>
<%= stylesheet_link_tag 'ui.daterangepicker' %>
<span class="floatr">
	<%= link_to("&larr; #{t('reports.summary_report.back_to_reports')}", reports_url, :class => "slim-button") %>
</span>
<h3 class="title">
	<%= @current_report[:label] %>
</h3>
<% javascript_tag do %> 
	jQuery(document).ready(function() {
		var date_today = new Date();
			var dates = jQuery( "#start_date, #end_date" ).datepicker({
				changeMonth: true, 
				changeYear: true,
				numberOfMonths: 3,
				showButtonPanel: true,
				maxDate: "today",
				showOn: "both", 
				disabled: true,
				onSelect: function( selectedDate ) {
					var option = this.id == "start_date" ? "minDate" : "maxDate",
						instance = jQuery( this ).data( "datepicker" ),
						date = jQuery.datepicker.parseDate(
							instance.settings.dateFormat ||
							jQuery.datepicker._defaults.dateFormat,
							selectedDate, instance.settings );
					dates.not( this ).datepicker( "option", option, date );
					jQuery(this).prop("date", date);
				}
			});
      
		jQuery("#start_date, #end_date").bind('keypress keyup keydown', function(ev) {
			ev.preventDefault();
			return false;
		});

	});
<%end%>

<% content_for :sidebar do %>
<div class="sidepanel">
  <h4 class="title"><%= t('reports.select_time_period')%></h4>
	<form id="report_search">
		<ul class="ui-form">
			<li class="inline-field">
				<div>
					<%= text_field_tag :date_range, h(params[:date_range]) || "#{30.days.ago.strftime("%m/%d/%Y")} - #{Time.now.strftime("%m/%d/%Y")}", :class => "required" %>
				</div>
			</li>
		</ul>
		<div class="button-container">
			<%= submit_tag "Show report", :class => "uiButton" %>
		</div>
	</form>

</div>


<% javascript_tag do %>
jQuery(document).ready(function() {
	jQuery("#date_range").daterangepicker({
		earliestDate: Date.parse('1/1/2009'),
		latestDate: new Date(),
		presetRanges: [
			{text: '<%= t('reports.date_ranges.today') %>', dateStart: 'Today', dateEnd: 'Today' },
			{text: '<%= t('reports.date_ranges.yesterday') %>', dateStart: 'Today-1', dateEnd: 'Today-1' },
			{text: '<%= t('reports.date_ranges.last_7_days') %>', dateStart: 'Today-8', dateEnd: 'Today-1' },
			{text: '<%= t('reports.date_ranges.last_30_days') %>',dateStart: 'Today-31', dateEnd: 'Today-1'},
			{text: '<%= t('reports.date_ranges.last_90_days') %>',dateStart: 'Today-91',  dateEnd: 'Today-1'}
		],
		presets: {
			dateRange: '<%= t('reports.date_ranges.custom') %>'
		},
		dateFormat: 'dd MM yy',
		closeOnSelect: true
	});   
});     
<% end %>
<% end %>

<div class="grid report">
	<table width="100%" id="summary_report" class="tablesorter">
		<thead>
		<tr>
			<th><%= @current_report[:title] %></th>
			<th><%= t('reports.summary_report.tickets_resolved') %></th>
			<th><%= t('reports.summary_report.on_time_resolution') %></th>
			<th width='80'><%= t('reports.summary_report.on_time_resolution_percent') %></th>
			<th><%= t('reports.summary_report.fcr_count') %></th>
			<th width='80'><%= t('reports.summary_report.fcr_percent') %></th>
			<th><%= t('reports.summary_report.avg_1st_response_time') %></th>
		</tr>
		</thead>
		<% @current_object.each do |obj| %>
		<tr class="<%= cycle("odd", "even") %>">
			<% case @current_report[:name] 
					when "responder" %>
						<td><%= obj.user.name_email %></td>
						<% data = @report_data.fetch(obj.user_id, {}) %>
			<%	when "group" %>
						<td><%= obj.name %></td>
						<% data = @report_data.fetch(obj.id, {}) %>	
			<% end %>
			<td><%= data.fetch("Resolved", 0) %></td>
			<td><%= data.fetch(:tkt_res_on_time, 0) %></td>
			<td><%= percentage(data.fetch(:tk_res_on_time,0).to_i,data.fetch('Resolved',0).to_i) %></td>
			<td><%= data.fetch(:fcr, 0) %></td>
			<td><%= percentage(data.fetch(:fcr,0).to_i,data.fetch('Resolved',0).to_i) %></td>
			<td><%= timediff_in_words(data.fetch(:average_first_response_time, 0)) %></td>
		</tr>
		<% end %>
	</table>	
</div>