<% content_for :sidebar do -%>&nbsp;<% end %>
<%= stylesheet_link_tag_with_rtl :'cdn/freshfone_admin' %>
<% @page_title = t('freshfone.admin.welcome_page.title_text')%>
<% content_for :sidebar do %>
  <div class="sidepanel">
    <i class="common-icon-help"></i>
    <h3 class="lead"><%=t('freshcaller.admin.sidebar_title')%></h3>
    <p><%= t('freshcaller.admin.sidebar_content').html_safe %></p>
  </div>
<% end %>

<div class="list-page-body ">
  <h3 class="lead"> <%= t('freshcaller.admin.title_text').html_safe %> </h3>
  <ul class="ui-form row-fluid">
    <li class="inline-field">
      <div class="row-fluid admin_help_image ff_welcome_page trial">
        <div class="freshcaller-admin">
          <div class="freshcaller-signup-processing">
		        <%= error %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>