<% content_for :helpcard do -%>
	<%= render :partial => 'helpnote' %>
<%-end %>
<div class="form-horizontal">

	<% if @topic_ticket %>
		<div class="control-group">
			<label for="topic_title" class="control-label">
				<%= t('topic.requester') %>
				<span class="required_star">*</span>
			</label>
			<div class="controls topic-ticket-requester">
		  	<span> 
		  		<%= t('topic.requester_details',
		  					 :name =>  @topic_ticket.requester.name,
		  					 :email => @topic_ticket.requester.email) %>
		  	</span>
			</div>
		</div>
		<%= form.hidden_field :display_id, :value => params[:ticket_id] %>
	<% end %>
	
	<div class="control-group">
		<label for="topic_title" class="control-label">
			<%= t('topic.name') %>
			<span class="required_star">*</span>
			</label>
		<div class="controls">
			<%= form.text_field :title, :class => "required text", :autofocus => true %>
		</div>
	</div>
	<div class="control-group">
		<label for="topic_body" class="control-label">
			<%= t('message') %>
			<span class="required_star">*</span>
		</label>


		<% if @topic_ticket %>
			<ul class="nested-ul">
			  <li class="topic-ticket-option">
			    <label class="radio">
			      <input type="radio" name="topic-options" value="first-email" checked="true">
			      <%= t('topic.first_email') %>
			    </label>
			  </li>
			  
			  <li class="topic-ticket-option">
			    <label class="radio">
			      <input type="radio" name="topic-options" value="full-conversation">
			      <%= t('topic.full_conversation') %>
			    </label>
			  </li>
			</ul>
		<% end %>

		<div class="controls flow-form">
			<%= form.rich_editor(:body_html,
						:class => 'required_redactor',
						:value => !@topic.posts.empty? ? @topic.posts.first.body_html : "",
						:tabindex => 20, :height => "200px", 'editor-type' => :forum) %>

				<% if (@topic.new_record? and @topic_ticket) 
					regular_attachments =  @topic_ticket ? @topic_ticket.attachments : []
					cloud_files = @topic_ticket ? @topic_ticket.cloud_files : [] 
				else
					regular_attachments = @topic.posts.empty? ? [] : @topic.posts.first.attachments
					cloud_files =  @topic.posts.empty? ? [] : @topic.posts.first.cloud_files
				end 
				%>

			<%= render :partial=> "discussions/topics/attachment_form", :locals => {
									:attachments => {
										:regular => regular_attachments,
										:cloud_files => cloud_files
									},
									:show_delete => true
									}%>
		</div>
	</div>

	<% if is_application_installed?("screenr") %>
		<div class="control-group">
			<div class="controls">
				<%= render :partial => "shared/screenr_recorder", :locals => { :location => "agent_forum" } %>
			</div>
		</div>
	<% end %>

	<% if @topic.new_record? or privilege?(:manage_forums) %>
		<div id="topic_forum" class="control-group">
	  		<label for="topic_forum_id" class="control-label"><%= t('forum.title') %></label>
	  		<div class="controls">
	  			<%= form.select :forum_id, grouped_options_for_select(forum_options), {},
	  							{:class => "select2 input-xlarge"} %>
	  		</div>
		</div>
	<% end %>

	<% if @topic.new_record? or privilege?(:edit_topic, @topic) %>

	<div class="control-group">
		<div class="controls">
			<div class="vertical-alignment">
				<%= form.check_box :sticky, :rel => 'toggle',  "data-checked-label" => t('plain_yes'), "data-unchecked-label" => t('plain_no') %>
			</div>
			<div class="vertical-alignment pl5">
				<b><%= t('topic.mark_as_sticky') %></b>
				<div class="muted"><%= t('topic.sticky_info') %></div>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label for="topic_locked" class="control-label"></label>
		<div class="controls">
			<div class="vertical-alignment">
				<%= form.check_box :locked, :rel => 'toggle',  "data-checked-label" => t('plain_yes'), "data-unchecked-label" => t('plain_no') %>
			</div>
			<div class="vertical-alignment pl5">
				<b><%= t('topic.locked') %></b>
			</div>
		</div>
	</div>

	<% end %>

</div>

<%= javascript_tag do %>
	jQuery("#topic_locked").click(function(ev){
		jQuery("#monitor-topic-lable").toggle(!this.checked);
	});
	 jQuery('#topic_forum_id').val(<%= params[:forum_id] || @topic.forum_id %>)
<% end %>
