<%
original = defined?(@first_post) && (post.id == @first_post.id)
spam_post_id = "spam_post_#{post.id}"

@topic ||= post.topic

unpublished =  !original && !post.published

%>
<div class="conversation <%= "spam #{spam_post_id}" if unpublished %> <%= 'agent' if !original && post.user.agent? %>" id="<%= dom_id(post) %>">
	<% if unpublished  %>
	<div class="spam_info">
		<p><%= t("topic.spam_info.#{post.spam? ? 'spam' : 'waiting'}") %>
		<% if privilege?(:delete_topic) %>  -
			<%= link_to t('topic.spam_action'),
					approve_discussions_moderation_path(post),
					:method => :put,
					:class => 'spam_action',
					:"data-track" => 'Action on Unpublished post',
					:"data-event-data" => {:action => 'Publish', :spam => post.spam? }.to_json,
					:remote => true
			%>
		<% end %>
		</p>
	</div>
	<% end %>
	<%= link_to user_avatar(post.user, :thumb, 'preview_pic circle'), post.user, :class => 'avatar-wrap' %>

	<div class="post">
		<div class="author">

			<% unless original %>
				<div class="actions">
					<% if privilege?(:edit_topic, post) %>
						<%= link_to "",
							"/discussions/topics/#{@topic.id}/posts/#{post.id}",
							:method => :delete, :confirm => t('discussions.topics.post.delete_confirm'),
							:remote => true,
							:title => t('delete'),
							:class => font_class("trash-o", 21, "tooltip delete_action")
						%>
						<a href class="<%= font_class("edit", 21, "tooltip") %>" title="<%= t('edit') %>" rel="post-edit"></a>
					<% end %>

					<% if @topic.questions? && post.published %>
						<% unless @topic.answered? and !post.answer? %>
							<%= link_to("", toggle_answer_discussions_topic_post_path(@topic, post),
											:method => :put,
											:class => font_class("answer-#{post.answer ? 'unchecked' : 'checked'}", 21, "tooltip"),
											:title => "#{post.answer ? t('topic.unmark_answer') : t('topic.mark_answer')}",
											:"data-track" => "#{post.answer ? "Unmark Answer" : "Mark as Answer"}") %>
						<% else %>
							<a href='<%=discussions_topic_best_answer_path(@topic, post)%>'
								rel='freshdialog'  class='<%= font_class("answer-checked", 21, "tooltip") %>'
								data-target='#best_answer' data-width='700px'
								title='<%= t('topic.mark_answer') %>'>
							</a>
						<% end %>
					<% end %>
					<% if privilege?(:delete_topic) && post.user.customer? && post.published %>
						<%= link_to_remote("",
										:url => mark_as_spam_discussions_unpublished_path(post),
										:method => :put,
										:html => {
											:class => font_class("notice-o", 21, "tooltip"),
											:title => t('topic.mark_as_spam'),
											:"data-track" => 'Marked as Spam',
											 }) %>
					<% end %>
				</div>
			<% end %>

			<div>
				<%= link_to_user(post.user)%>
				<%= original ? "created topic" : "replied" %>
			</div>

			<div class="muted">
				<abbr data-livestamp="<%= post.created_at.to_i %>"></abbr>
				on <%= formated_date(post.created_at) %>

				<% if !original and post.answer %>
					<span class="label label-answered">Answer</span>
				<% end %>
			</div>
		</div>

		<div class="post-content">
			<%= post.body_html.html_safe %>
		</div>

		<% unless original %>
			<div class="post-edit hide" rel="remote"
					data-remote-url="<%= edit_discussions_topic_post_path(:topic_id => @topic.id, :id => post.id) %>"></div>
		<% end %>
			<div class="attachment_wrapper post-attachment">
				<ul class="attachment_list">
				    <% post.attachments.each do |attached| %> 
				    	<%= attachment_list(attached, privilege?(:edit_topic, post), "article",nil) %>
				    <% end %>
	 
				    <% post.cloud_files.each do |cloud_file| %> 
						<%= attachment_list(cloud_file, privilege?(:edit_topic, post), "cloud_file",nil) %>
						<% end %>
				</ul>
			</div>

			<div  id="vote-info-<%=post.id%>">
				<%= render :partial => 'discussions/topics/widgets/vote_info',
								:locals => { :first_post => @first_post, :post => post, :topic => @topic } %>
			</div>
		<% if original && @topic.answered? && @topic.answer %>
			<%= render :partial => 'discussions/shared/answer',
						:locals => {
							:post => @topic.answer,
							:popup => false }
						%>
		<% end %>
	</div>
</div>
