<div class="conversation">
	<%= link_to_function user_avatar(current_user, :thumb, 'preview_pic circle'), "return false;" , :class => 'avatar-wrap' %>
	<div class="post">
		<div id="pseudo-reply" rel="topic-reply" class="sub-lead vertical-alignment">
			<a><%=t('reply')%></a>
		</div>
		<div id="reply-box">
			<%= form_for @post, :url => discussions_topic_posts_path(@topic), :html => {:multipart => true, :rel => :validate} do |f| %>
			<div class="row-fluid topic-reply">
				<h5 class="sub-lead"><%=t('reply')%></h5>
				<ul class="unstyled form-inline flow-form">
					<li class="control-group">
						<div class="controls">
						 <div id="sticky_redactor_toolbar" class="hide sticky_editor_toolbar"></div>
						 <div class='editor-body'>
						 		<%= f.text_area  :body_html, 'editor-type' => :forum, :height => "200px", 
                	:class => "required_redactor", 
                	:value => "",
                	:id => :reply_description,
                	:data => {
                  	:"remove-cursor" => true,
                  	:"toolbar-external" => '#sticky_redactor_toolbar'
                	} %>
              </div>
						
					</li>
					<li class="control-group">
						<div class="controls">
							<%= render :partial=> "discussions/topics/multi_attachment_form" %>
						</div>
					</li>

				</ul>

				<div class="button-container pull-right">
					<%= content_tag :button, t('cancel'), :rel => 'topic-reply-cancel' , :class => "btn cancel_btn" %>
					<%= f.submit t('reply'), { :class => "btn  btn-primary", 'data-loading-text' => t('saving') } %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
