<div class="rightcontent">

	<%= render :partial => "discussions/topics/widgets/merged_topic_note" if @topic.merged_topic_id.present?  %>

	<%= render :partial => "discussions/topics/widgets/merged_topics_list" if @topic.merged_topics.present?  %>

	<%= render :partial => 'discussions/topics/widgets/vote', :locals => { :topic => @topic } if @topic.published && !@forum.announcement? && !@topic.merged_topic_id.present? %>
	<% if (@forum.ideas? or @forum.problems?) && !@topic.merged_topic_id.present?
		if privilege?(:edit_topic, @topic) %>
			<%= render :partial => 'discussions/topics/widgets/stamp' %>
		<% elsif @topic.stamp_type? %>
			<%= render :partial => 'discussions/topics/widgets/show_stamp' %>
		<% end 
	end %>
	<%= render :partial => "discussions/topics/widgets/ticket" if privilege?(:manage_tickets) && !@topic.merged_topic_id.present? %>

	<%= render :partial => "discussions/topics/widgets/user_list", :locals => {
								:title => t("discussions.topics.title_meta.vote_info.#{@forum.type_symbol}", :count => @topic.user_votes),
								:count => @topic.user_votes,
								:user_list => @topic.voters,
								:modal_target => "voted_users_all",
								:href => discussions_topic_component_path(:id => @topic.id, :name => 'voted_users')
							} if @topic.user_votes?  && !@forum.announcement? %>

	<% voices_count = @topic.voices.count %>
	<%= render :partial => "discussions/topics/widgets/user_list", :locals => {
								:title => t("discussions.topics.title_meta.voices", :count => voices_count),
								:count => voices_count,
								:user_list => @topic.voices,
								:modal_target => "participating_users_all",
								:href => discussions_topic_component_path(:id => @topic.id, :name => 'participating_users')
							} if voices_count > 1 %>

	<% monitors_count = @topic.monitors.count %>
	<%= render :partial => "discussions/topics/widgets/user_list", :locals => {
								:title => t("discussions.topics.title_meta.following", :count => monitors_count),
								:count => monitors_count,
								:user_list => @topic.monitors,
								:modal_target => "following_users_all",
								:href => discussions_topic_component_path(:id => @topic.id, :name => 'following_users')
							} if monitors_count > 0 %>


</div>
