<% content_for :layoutType do %>community forms<% end %>
<div class="row-fluid hamburger">
	<%= sidebar_toggle("mt4") %>
	<h3 id="new_topic" class="lead"><%= t('topic.new') %></h3>
</div>
<%= error_messages_for :post %>
<%= error_messages_for :topic %>
<%=
 form_for @topic, :url  => discussions_topics_path,
	:html => {:multipart => true, :id => "post-form", :rel => "validate"} do |f| -%>
	<%= render :partial => "form", :object => f %>
	<div class="button-container">
    <% cancel_url = @topic_ticket ? helpdesk_ticket_path(@topic_ticket) : discussions_path %>
		<%= pjax_link_to t('cancel'), cancel_url , :class => "btn" %>
		<%= submit_tag t('topic.post'), :class => "btn btn-primary" %>
	</div>
<% end -%>
<%= javascript_tag "$('topic_title').focus();" %>
