<%= content_tag :div, :class => "panel-row " + cycle(' ', 'odd ') + ((card_agent[0] == current_user) ? "lb-cu" : "") do %>
	<%= content_tag :span, card_agent_counter + 1, :class => "lb-number" if (card_type == :mvp) %> 
	<%= user_avatar(card_agent[0]) %>
	<div class="panel-content">
		<h4 class="name"><%= link_to_agent(card_agent[0]) %></h4>
		<p class="help-text score"><%= card_agent[1].to_i %></p>
	</div>
<% end %>