<div class="report-nmleft thick-border-top lb-report report-<%= leaderboard.length %>-col">
<% unless (@mvp_scorecard.blank? && @customer_champion_scorecard.blank? && @first_call_scorecard.blank? && @fast_scorecard.blank?) %>
	<% leaderboard.each do |board| %>
		<div class="lb-report-col <%= (board[1] == :mvp) ? 'lb-mvp' : '' %>" id="leaderboard_list_<%= board[1] %>">
			<div class="lb-report-title">
				<div class="lbr-trophy trophy trophy-<%= board[1] %>"></div>
				<h3 class="title"><%= t("gamification.leaderboard.#{board[1]}_trophie_label") %></h3>
				<p class="intro">
					<%= t("gamification.leaderboard.#{board[1]}_trophie_info") %>
				</p>
			</div>
			<%= render :partial => leader_partial, :collection => board[0], :locals => { :card_type => board[1] } %>
			<% proxy_row_size = @mvp_scorecard.size - board[0].size %>
			<% (1..proxy_row_size).each do |proxy| %>
				<div class="panel-row <%= cycle(' ', 'odd ') %>"></div>
			<% end %>
			<% reset_cycle %>			
		</div>
	<% end %>
<% else %>
	<div class="list-noinfo">The leaderboard is empty</div>
<% end %>
</div>
<% javascript_tag do %>
	jQuery("#leaderboard_list_love, #leaderboard_list_sharpshooter, #leaderboard_list_speed")
		.css("minHeight", jQuery('#leaderboard_list_mvp').height());
<% end %>