<% cache ("#{memcache_local_key}", :expires_in => 1.hour) do %>

	<%= link_to "See all", agents_helpdesk_leaderboard_path(), :class => "action-right" %>
	<h3 class="title"><%= t('reports.scoreboard_title_nav')%></h3>  	
	<p class="intro">This Month</p>  
	<% mini_board = [[ @mvp_scorecard, "Most valuable player", "mvp"],
					 [ @customer_champion_scorecard, "Customer champion", "love"],
					 [ @first_call_scorecard, "SharpShooter", "sharpshooter"],
					 [ @fast_scorecard, "Speed champion", "speed"]] %>

	<% list_empty = false %>

	<% mini_board.each do |score_list| %>
		<% (score_list[0] || []).each do |score| %>
		<div class="panel-row" style="overflow:hidden">
			<%= user_avatar(score.user) %>
			<div class="lb-trophy scoreboard-trophy-<%= score_list[2] %>"></div>
			<div class="panel-content">
				<h4><%= link_to score.user.name, score.user %></h4>
				<p class="help-text"><%= score_list[1] %></p>
			</div>
		</div>
		<% list_empty = true %>
		<% end %>
	<% end %>

	<% unless list_empty %>
		<script type="text/javascript">$('mini-leaderboard').hide()</script>
	<% end %>

<% end %>