<% list_empty = false %>

<% if current_user.privilege?(:view_reports) %>
	<ul class="leaderboard-innerbox">
		<% @mini_list_leaderboard.each do |category, user| %>
				<li class="pull-left">
					<div class="trophy-wrap">
						<div class="floatr trophy trophy-<%= category %>-small"></div>
						<a rel="hover-popover"
							data-content='<div class="span2"> <b> <%= user %> </b> is the <%= t("gamification.leaderboard.#{category}_trophie_label") %>  for this month. </div>'
							data-placement="left">
							<%= user_avatar_with_expiry(user,3605) %>
						</a>
					</div>
					<p class="muted clearfix"><%= t("gamification.leaderboard.#{category}_trophie_label") %></p>
				</li>

			<% list_empty = true %>
		<% end %>
	</ul>
<% end %>

<%= link_to t("helpdesk_quests.view_all"), agents_helpdesk_leaderboard_index_path(), :class => "widget-more-link" %>

<% unless list_empty %>
	<script type="text/javascript">jQuery('#mini-leaderboard')
					.append("<div class='db-empty-msg text-center muted'> <p><%= t('gamification.leaderboard.leaderboard_is_empty') %> </p> </div>")</script>
<% end %>
