<div class="btn-group floatr">
  <%= link_to "Agent", user_list_helpdesk_leaderboard_path(), :class => "btn active" %>
  <%= link_to "Group", group_list_helpdesk_leaderboard_path(), :class => "btn" %>
</div>
<a href="/">< Back to dashboard </a>
<h3 class="title"><%= t('reports.scoreboard_title_nav')%></h3>
<% leaderboard = [[ @mvp_scorecard, :mvp],
				  [ @customer_champion_scorecard, :love],
				  [ @first_call_scorecard, :sharpshooter],
				  [ @fast_scorecard, :speed]] %>

<div class="report-nmleft thick-border-top lb-report">
<% leaderboard.each do |board| %>
	<div class="lb-report-col <%= (board[1] == :mvp) ? 'lb-mvp' : '' %>" id="leaderboard_list_<%= board[1] %>">
		<div class="lb-report-title">
			<div class="lb-report-trophy scoreboard-trophy-<%= board[1] %>"></div>
			<h3 class="title"><%= t("gamification.leaderboard.#{board[1]}_trophie_label") %></h3>
			<p class="intro">
				<%= t("gamification.leaderboard.#{board[1]}_trophie_info") %>
			</p>
		</div>
		<% board[0].each_with_index do |score_card, i| %>
			<% content_tag :div, :class => "panel-row " + cycle(' ', 'odd ') + ((score_card.user == current_user) ? "lb-cu" : "") do %>
				<%= content_tag :span, i+1, :class => "lb-number" if (board[1] == :mvp) %> 
				<%= user_avatar(score_card.user) %>
				<div class="panel-content">
					<h4 class="name"><%= link_to score_card.user.name, score_card.user %></h4>
					<p class="help-text score"><%= score_card.tot_score %></p>
				</div>
			<% end %>
		<% end %>
		<% reset_cycle %>
	</div>
<% end %>
</div>
<% if leaderboard.size > 10 %>
	<div class="report-show-more">
		<a href="#" class="">Show 25 more</a>
	</div>
<% end %>