<!-- Chat related contents starts -->
<script>
var ASSET_URL       = <%= ChatConfig['asset_url'].to_json.html_safe %>;
var CS_URL          = "<%= ChatConfig['communication_url']%>";
var CHAT_ENV        = "<%= Rails.env -%>";
var FC_HTTP_ONLY    = ((<%=ChatConfig['http_only']%> == "1")? true : false);
var _url = "https://"+CS_URL+":443"; 

if(window.location && window.location.protocol=="http:" && (window.liveChat.ieVersionCompatability || FC_HTTP_ONLY)){
    _url = "http://"+CS_URL+":80";
}
if(CHAT_ENV == 'development'){
    _url = "http://"+CS_URL+":4000";
}
window.liveChat.URL = _url;

</script>

<%if current_user && chat_activated? && !(is_assumed_user?) %>
<script>
    var WEB_ROOT        = "//<%=current_account.full_domain%>";
    var CHAT_DEBUG      = "<%= ChatConfig['chat_debug']%>";
    var SITE_ID         = '<%= current_account.chat_setting.display_id%>';
    var CHAT_CONSTANTS  = <%= ChatSetting::CHAT_CONSTANTS_BY_KEY.to_json.html_safe %>;
    var CHAT_I18n       = <%= i18n_text %>;
    var LIVECHAT_TOKEN  = '<%= livechat_token(current_account.chat_setting.display_id, current_user.id) %>';

    var CURRENT_USER    = {
            'id'        : '<%=current_user.id%>',
            'username'  : '<%=current_user.name%>',
            'isAdmin'   : <%=current_user.privilege?(:admin_tasks)%>,
            'email'     : '<%=current_user.email%>',
            'groups'    : <%=current_user.agent_groups.collect{|g| g.group_id}.to_json%>,
    };
    var CURRENT_ACCOUNT = {
            'id'         : '<%=current_account.id%>',
            'name'       : '<%=current_account.name%>',
            'domain'     : '<%=current_account.full_domain%>',
            'product_id' : '<%=current_portal.product ? current_portal.product.id : ""%>',
            'chat_enabled': <%=current_account.chat_setting.active%>,
            'widget_id'  : '<%=current_chat_widget.widget_id%>',
            'chat_routing': <%=feature?(:chat_routing)%>
    };

    jQuery(document).ready(function(){
        var url = ASSET_URL.js;
        var css_url = ASSET_URL.css;
        if(window.location && window.location.protocol=='https:'){
            url = css_url = ASSET_URL.cloudfront;
        }
        var fc_CSS = document.createElement('link');
        fc_CSS.setAttribute('rel','stylesheet');
        fc_CSS.setAttribute('type','text/css');
        fc_CSS.setAttribute('href', css_url+'/css/chat.css');
        document.getElementsByTagName('head')[0].appendChild(fc_CSS);
        <%if current_account.chat_setting.active %>
            jQuery.getScript(url+"/js/chat.js");
            <%if Rails.env == 'development' %>  
                jQuery.getScript(url+"/js/agent-devtools.js");
            <%end%>
        <%end%>
    });
</script>
<div id="livechat_layout" class="fc-layout"></div>
<%end%>
<!-- Chat related contents ends -->