<div class="chats-container <% if (current_account.freshfone_active? && chat_enabled?) %> -fone-chat-enabled <%end%>" >
  <% if current_user && current_user.agent? && current_account.freshfone_active? %>
    <% twilio_client_version = current_account.freshfone_account.twilio_client_version%>
    <script type="text/javascript" src= <%= "https://static.twilio.com/libs/twiliojs/#{twilio_client_version}/twilio.min.js"%> >
    </script>
    <%= render :partial => 'layouts/shared/freshfone' %>
  <% elsif freshcaller_enabled_agent? %>
    <%= render partial: 'layouts/shared/freshcaller' %>
  <% end %>
  <%= render :partial => "layouts/chat" %>
  <% if current_account.freshchat_account.try(:enabled) %>
  	<%= render :partial => "layouts/agent_freshchat" if current_user && !current_user.is_falcon_pref? %>
  <% end %>
  <%= render :partial => "layouts/shared/chat/chat_support" if in_app_support? && !current_user.is_falcon_pref? %>
</div>

<% if current_user && current_user.agent? && (current_account.freshfone_active? || freshcaller_enabled_agent? || ( chat_activated? && !(is_assumed_user?)) || freshchat_enabled?) %>
  <%= stylesheet_link_tag_with_rtl :'cdn/freshfone_livechat' %>
<% end %>