<!DOCTYPE html>
<%
@debuging =  RAILS_ENV.eql?("development") && params.has_key?("debug")
%>
  <%= render :partial => "layouts/shared/html" %>
	<%= render :partial => "layouts/shared/head" %>
	<body class="<% unless @content_for_sidebar %>single<% end %> <%= yield :layoutType %>">
		<div id="wrap">
			<%= render(:partial => '/layouts/shared/header') %>
			<%if @debug%>
			<script type="text/javascript">
    		var t_headerend = new Date().getTime();
  		</script>
  		<%end%>
  		<div class='load-mask' style='display:none'><img src='/images/ajax-loader.gif'/></div>
  		<div class="content" id="body-container">
  			<%= render :partial => "layouts/tour_my_app" %>
			<%= render :file => "layouts/maincontent" %>
		</div>
		<%= render :partial => "layouts/shared/footer" %> 
    <%= render :partial => "layouts/shared/scripts" %> 
    </div>		 
  </body>
</html>