
<script type="text/javascript">
	App.namespace = "<%= escape_javascript "#{params[:controller]}/#{params[:action]}" %>";
</script>
<% 
	selected_tab = @selected_tab.to_s
	is_ember_admin_flash = params[:controller] == "admin/home" && params[:action] == "index"
%>
<div class="wrapper">
	<div class="wrapper-shadow">
		<title><%= h(page_title)%></title>
    <% if current_account.freshid_enabled? %>
      <!-- Including Freshid Cache Control Information -->
      <img class="hide" src=<%=Freshid::Constants::FRESHID_CACHE_IMAGE_URL%>>
    <% end %>
		<% 
			body_class = []
			body_class << (yield :layoutType)
			body_class << "single" unless(content_for?(:sidebar) || content_for?(:helpcard))
			body_class << "shortcuts-active" if(shortcuts_enabled?)
		%>
		<%= javascript_tag do %>			
			jQuery('body').attr("class", '<%= body_class.join(" ") %>');
			
			jQuery('ul.header-tabs li.active').removeClass('active');
			jQuery('li[data-tab-name="<%=@selected_tab%>"]').addClass('active')
		<% end %>
		<%= render(:partial => '/search/navsearch') %>
		<div id="inner"> 
				<% if content_for?(:sidebar) %>
					<div class="sidebar" id="Sidebar" <% if(selected_tab == "admin") %> rel="sticky" <% end %> >
						<%= yield :sidebar %>					
					</div>
				<% end %> 
				<% if content_for?(:helpcard) %>
					<div class="sidebar sidebar-help" id="Sidebar" <% if(selected_tab == "admin") %> rel="sticky" <% end %> >
						<div class="sidepanel<% if(selected_tab == "survey") %> no-padding-sidebar<% end %>">
							<i class="common-icon-help"></i>
							<%= yield :helpcard %> 
						</div>
					</div>
				<% end %> 				
				<div class="leftcontent" >
					<%= show_announcements %>
					<% if is_ember_admin_flash %>
						<%= javascript_tag do %>
							App.adminFlashes =  <%= ember_admin_flash.to_json.html_safe %>;
						<% end %>
					<% else %>
						<%= show_flash %>
					<% end %>
					<%= sandbox_production_notification %>
					<div class="alert notice" id="noticeajax" style="display:none;"></div>
					<%= yield :pagetop %>
					<div class="pagearea" id="Pagearea">
						<%= yield %>
					</div>
				</div>
		</div> 
	</div>
</div>

<%= yield :dialogs   %>
<%= yield :pagefixed %>
<% if request.headers['X-PJAX'] %>
	<%= javascript_tag do %>
		setTimeout(function(){
			<%= yield :onload_script -%>
		}, 50);
	<% end %>
<% end %>
