<!DOCTYPE html>	
<html lang="en">
	<link href="stylesheets/subscription/resque.css" media="screen" rel="stylesheet" type="text/css">
	<%= include_cloudfront_js :defaults %>
	<%= include_cloudfront_js :frameworks %>
	<%= include_cloudfront_js :workspace %>
	<%= include_cloudfront_js :notifications %>
	<body>
		<%= yield %>
		<%= render :partial => "layouts/shared/scripts" %>
		<div id="footer" class="wrapper"> </div>
	</body>
</html>