<!DOCTYPE html>	
<html lang="en">
	<link href="stylesheets/subscription/resque.css" media="screen" rel="stylesheet" type="text/css">
	<%= include_javascripts :defaults %>
	<%= include_javascripts :frameworks %>
	<%= include_javascripts :workspace %>
	<%= include_javascripts :notifications %>
	<body>
		<%= yield %>
		<div class='load-mask' style='display:none'><img src='/images/ajax-loader.gif'/></div>
		<%= render :partial => "layouts/shared/scripts" %>
		<div id="footer" class="wrapper"> </div>
	</body>
</html>