<!DOCTYPE html>	
<html lang="en">
	<link href="/stylesheets/subscription/resque.css" media="screen" rel="stylesheet" type="text/css">
	<!-- Adding meta tag for CSRF token -->
	<%= csrf_meta_tag %>
	<!-- End meta tag for CSRF token -->
	<%= javascript_include_tag :'cdn/defaults' %>
	<%= javascript_include_tag :'cdn/frameworks' %>
	<%= javascript_include_tag :'cdn/workspace' %>
	<body>
		<%= yield %>
		<%= render :partial => "layouts/shared/scripts" %>
		<div id="footer" class="wrapper"> </div>
	</body>
</html>