<!doctype html>
  	<%= open_html_tag %>
	<head>
	  	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  	<title><%= h(page_title) %></title>
		<meta name="description" content="<%= page_description %>">
		<meta name="author" content="">
		<meta name="keywords" content="<%= page_keywords %>">

    <!-- Adding meta tag for CSRF token -->
    <%= csrf_meta_tag %>
    <!-- End meta tag for CSRF token -->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<% unless page_canonical.blank? %>
			<link rel="canonical" href="<%= page_canonical %>" />
		<% end %>
		<link rel="canonical shortcut icon" href="<%= fav_icon_url %>" />
		<%= stylesheet_link_tag_with_rtl :'cdn/common' %>
		<%= stylesheet_link_tag_with_rtl :'cdn/ie_hacks' %>
		<%= stylesheet_link_tag_with_rtl :'cdn/google_signup' %>
		<%= stylesheet_link_tag_with_rtl :'cdn/pattern', :media => "screen, print, projection"  %>
		<%= render :partial => "shared/theme", :formats => [:css]  %>

		<script type="text/javascript">
			PROFILE_BLANK_THUMB_PATH = '<%= image_path("misc/profile_blank_thumb.jpg") %>';
			PROFILE_BLANK_MEDIUM_PATH = '<%= image_path("misc/profile_blank_medium.jpg") %>';
			FILLER_IMAGES = {
				imageLoading : '<%= image_path("animated/image_upload_placeholder.gif") %>'
			};
			cloudfront_version = "<%= CLOUDFRONT_VERSION %>";
		</script>
		<%= javascript_include_tag :'cdn/defaults'  %>
		<%= javascript_include_tag :'cdn/frameworks' %>
		<%= javascript_include_tag :'cdn/workspace' %>
		<%= javascript_include_tag :'cdn/pattern'  %>
		<%= yield :head %>
	</head>
	<body class="single ui-signup">
		<script type="text/javascript"> var _kmq = _kmq || []; function _kms(u){ setTimeout(function(){ var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); } _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/9e29dee2b27b1887c331d10cbac62ffb56a2f520.1.js'); </script>
			<div>
				<%= yield %>
			</div>
		</body>
</html>