<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="shortcut icon" href="<%=current_account.fav_icon.nil? ? '/images/favicon.ico' : current_account.fav_icon.content.url%>" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title><%= " #{h(current_account.name)} : #{h(@page_title || 'Helpdesk')}"  %></title>
         
		<%= include_stylesheets :common, :media => "screen, projection" %>
        <!--[if IE]>
			<%= stylesheet_link_tag "/stylesheets/ie.css", :media => "screen, projection" %>
		<![endif]-->
		<%= render :partial => "shared/theme.css"  %>
		
		<%= include_javascripts :defaults  %>
		<%= include_javascripts :frameworks %>
		<%= include_javascripts :workspace %>
    	<%= yield :head %>
    </head>
    <body class="<%= yield :layoutType %>">   
        <div id="wrap" class="container">
            <%= render(:partial => '/layouts/shared/header') %>
            <div class="content">
            	<div class="wrapper"> 
	                <div id="inner">
	                    <div class="leftcontent">
		                    	<%= show_flash %>
								<%= yield  %>
	                    </div> 
		                <div class="sidebar">	                	
							 <%= yield :sidebar %>					
						</div> 
					</div> 
				</div>
			</div>
            <div class="footer"></div>
        </div>
		<%= yield :dialogs  %>        
    </body>
</html>
