<!doctype html>
<%= render :partial => "layouts/shared/html" %>
  <%= render :partial => "layouts/shared/head" %>
    <body class="<% unless @content_for_sidebar %>single<% end %>">   
        <div id="wrap" class="container">
            <%= render(:partial => '/layouts/shared/header') %>
            <div class="content">
            	<div class="wrapper"> 
	                <div id="inner">
	                    <div class="leftcontent">
		                    	<%= show_flash %>
								<%= yield  %>
	                    </div> 
		                <div class="sidebar">	                	
							 <%= yield :sidebar %>					
						</div> 
					</div> 
				</div>
			</div>
			<%= render :partial => "layouts/shared/footer" %>  
        </div>
		<%= yield :dialogs  %>        
    </body>
</html>
