<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">                       
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
  	<title><%= page_title %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<%= include_stylesheets :subscription %>		
	</head>
	<body>     
		<div class="navbar navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container">       
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
		          <a class="brand" href="/">
		          	Freshdesk admin
		          </a>
		          <div class="nav-collapse">
		            <ul class="nav">
		              <%= subscription_tabs %>
		            </ul> 
								<% form_tag "/", :method => 'get', :class => "navbar-search pull-right" do %>
								  <%= text_field_tag :search, params[:search], :class => "search-query span3", :placeholder => "Search account", :autocompelete => "off" %> 
								<% end %>
		          </div>
		        </div>
		      </div>
		    </div>
		<div class="container main-body">  
			<%= show_admin_flash %>
			<%= yield %>
		</div>
		<%= include_javascripts :subscription%>
	</body>
</html>
