<!DOCTYPE html>
<%= open_html_tag %>
	<head>
		
		<%= raw @head %>
		
		<!-- Adding meta tag for CSRF token -->
		<%= csrf_meta_tag %>
		<!-- End meta tag for CSRF token -->
		
		<!-- Fav icon for portal -->
		<%= portal_fav_ico %>

		<!-- Base stylesheet -->
 
		<%= stylesheet_link_tag_with_rtl :'cdn/portal_print',  :media => "print" %>
		<% if current_account.falcon_support_portal_theme_enabled? || @portal.falcon_portal_enable? || (mint_preview_key && get_others_redis_key(mint_preview_key))%>
	  		<%= stylesheet_link_tag_with_rtl :'cdn/falcon_portal_utils' %>	
	  	<% else %>
	  		<%= stylesheet_link_tag_with_rtl :'cdn/portal_utils' %>
		<% end %>

		
		<!-- Theme stylesheet -->

		<link href="<%= support_theme_url %>" media="screen" rel="stylesheet" type="text/css">

		<!-- Google font url if present -->
		<%= portal_fonts %>

		<!-- Including default portal based script framework at the top -->
		<% if current_account.portal_prototype_update_enabled? || current_account.portal_frameworks_update_enabled? %>
			<%= javascript_include_tag :'cdn/portal_head_v2' %>
		<% else %>
			<%= javascript_include_tag :'cdn/portal_head' %>
		<% end %>
		<!-- Including syntexhighlighter for portal -->
		<%= javascript_include_tag :'cdn/prism' %>

		<%= render :partial => "layouts/support/google_analytics_integration" %>

		<!-- Access portal settings information via javascript -->
		<%= portal_access_varibles %>

		<% if portal_session_replay_allowed? %>
			<%= portal_session_replay %>
			<% if current_user.present? %>
				<%= identify_user %>
			<% end %>
		<% end %>

		<% if current_account.ehawk_spam? || current_account.subscription.trial? %>
			<meta name="robots" content="noindex, nofollow">
		<% end %>
		<%= render :partial => "layouts/shared/freshchat/head" %>
	</head>
	<body>
            	<%= assumed_identity_message %>
		<%= hidden_lang_alert_for_agent %>
		<%= raw @layout %>

		<% if portal_chat_enabled? %>
			<%= render :partial => "layouts/shared/chat/chat" %>
		<% end %>

		<% if portal_bot_enabled? && allowed_in_portal?(:open_solutions) %>
			<%= render :partial => "layouts/shared/bot" %>
		<% end %>

	  <% if current_account.portal_frameworks_update_enabled? %>
			<%= javascript_include_tag :'cdn/portal_bottom_v2' %>
		<% else %>
			<%= javascript_include_tag :'cdn/portal_bottom' %>
		<% end %>
		<%= javascript_include_tag :'cdn/redactor' %>
		<%= javascript_include_tag :"cdn/lang/#{I18n.locale.to_s.downcase}" %>
		<!-- for i18n-js translations -->
  		<%= javascript_include_tag :"cdn/i18n/portal/#{I18n.locale.to_s}" %>
		<!-- Including default portal based script at the bottom -->
		<%= render :partial => "layouts/shared/scripts" %> 

		<%= back_to_agent_view %>

		<%# Page hit tracker %>
		<%= page_tracker %>
		<%= render :partial => "layouts/shared/freshchat/body" %>
		<script type="text/javascript">
     		I18n.defaultLocale = "<%= I18n.default_locale %>";
     		I18n.locale = "<%= I18n.locale %>";
		</script>
		<%= render :partial => "layouts/shared/freshchat/body" %>
	</body>
</html>