<!DOCTYPE html>
<%= open_html_tag %>
	<head>
		
		<%= raw @head %>
		
		<!-- Adding meta tag for CSRF token -->
		<%= csrf_meta_tag %>
		<!-- End meta tag for CSRF token -->
		
		<!-- Fav icon for portal -->
		<%= portal_fav_ico %>

		<!-- Base stylesheet -->

 
		<%= stylesheet_link_tag_with_rtl :'cdn/portal_utils' %>
		<%= stylesheet_link_tag_with_rtl :'cdn/portal_print',  :media => "print" %>

		
		<!-- Theme stylesheet -->
		<link href="<%= support_theme_url %>" media="screen" rel="stylesheet" type="text/css">

		<!-- Google font url if present -->
		<%= portal_fonts %>

		<!-- Including default portal based script framework at the top -->
		<%= javascript_include_tag :'cdn/portal_head' %>
		
		<!-- Including syntexhighlighter for portal -->
		<%= javascript_include_tag :'cdn/prism' %>

		<%= render :partial => "layouts/support/google_analytics_integration" %>

		<!-- Access portal settings information via javascript -->
		<%= portal_access_varibles %>
	</head>
	<body>
		<%= assumed_identity_message %>

		<%= raw @layout %>

		<% if portal_chat_enabled? %>
			<%= render :partial => "layouts/shared/chat/chat" %>
		<% end %>
				
	    <%= javascript_include_tag :'cdn/portal_bottom' %>
		<%= javascript_include_tag :'cdn/redactor' %>
		<%= javascript_include_tag :'cdn/freshfone_portal' %>	
		<%= javascript_include_tag :"cdn/lang/#{I18n.locale.to_s.downcase}" %>
		<!-- Including default portal based script at the bottom -->
		<%= render :partial => "layouts/shared/scripts" %> 

		<%= back_to_agent_view %>

		<%# Page hit tracker %>
		<%= page_tracker %>
	</body>
</html>
