<!DOCTYPE html>
<%= open_html_tag %>
	<head>
		
		<%=raw @head %>
		
		<!-- Adding meta tag for CSRF token -->
		<%= csrf_meta_tag %>
		<!-- End meta tag for CSRF token -->
		
		<!-- Fav icon for portal -->
		<%= portal_fav_ico %>

		<!-- Base stylesheet -->
		<%= stylesheet_link_tag :portal_utils %>
		
		<!-- Theme stylesheet -->
		<link href="<%= support_theme_url %>" media="screen" rel="stylesheet" type="text/css">

		<!-- Google font url if present -->
		<%= portal_fonts %>

		<!-- Including default portal based script framework at the top -->
		<%= javascript_include_tag :portal_head %>
		
		<!-- Including syntexhighlighter for portal -->
		<%= javascript_include_tag :syntaxhighlighter %>

		<%= render :partial => "layouts/support/google_analytics_integration" %>

		<!-- Access portal settings information via javascript -->
		<%= portal_access_varibles %>
	</head>
	<body>
		<%= assumed_identity_message %>

		<%=raw @layout %>

		<%= yield %>

		<% if portal_chat_enabled? %>
			<%= render :partial => "layouts/shared/chat/chat" %>
		<% end %>
				
		<!-- Including default portal based script at the bottom -->
		<%= render :partial => "layouts/shared/scripts" %> 	

		<%= back_to_agent_view %>

		<%# Page hit tracker %>
		<%= page_tracker %>
	</body>
</html>
