<% unless @topic.locked? %>
<div class="btn" id="monitorship_link">
<%=
		link_to_remote "",
		:url => toggle_monitorship_path("topic", @topic, (@monitorship.zero? ? "follow" : "unfollow")),
		:method => :post,
		:before => "jQuery('#toggle_monitorship_status').hide();jQuery('#monitorship_link').addClass('sloading loading-small');",
		:html => {
							:class => "tooltip forum_follow_icon #{@monitorship.zero? ? '': ' active'}",
							"data-placement" => 'below',
							:id => "toggle_monitorship_status",
							:title => t((@monitoring ? 'monitorships.unfollow_title' : 'monitorships.follow_title')),
							:"data-keybinding" => "#{shortcut("community_actions.monitor_topic")}"
							} if @topic.published?
%>
</div>

<a class="btn tooltip" rel="topic-reply" data-keybinding="<%=shortcut("community_actions.reply_topic")%>" title="<%= t('discussions.topics.reply') %>">
	<!-- <span class="community-reply inline-icon"></span> -->
	<%= font_icon "reply" %>
	<%= t('discussions.topics.reply') %>
</a>

<% end %>

<% if privilege?(:edit_topic, @topic) %>
	<%= pjax_link_to t('discussions.topics.edit_topic'), edit_discussions_topic_path(@topic), :class => 'btn' %>
<% end %>

<% if privilege?(:delete_topic) %>
	<%= link_to t('discussions.topics.mark_as_spam'), mark_as_spam_discussions_moderation_path(@first_post), :method => :put,
					:class => :btn,
					:"data-track" => 'Marked as Spam' %>
<% end %>

<% if privilege?(:manage_forums) %>
	<%= link_to t('discussions.topics.close_topic'), toggle_lock_discussions_topic_path(@topic), :method => :put,
					:class => :btn %>
<% end %>
