<% unless @topic.locked? %>
<div class="btn" id="monitorship_link">
<%=
		link_to_remote "",
		:url => toggle_monitorship_path("topic", @topic, (@monitorship.zero? ? "follow" : "unfollow")),
		:method => :post,
		:before => "jQuery('#toggle_monitorship_status').hide();jQuery('#monitorship_link').addClass('sloading loading-small');",
		:html => {
							:class => "tooltip forum_follow_icon #{@monitorship.zero? ? '': ' active'}",
							"data-placement" => 'below',
							:id => "toggle_monitorship_status",
							:title => t((@monitoring ? 'monitorships.unfollow_title' : 'monitorships.follow_title')),
							:"data-keybinding" => "#{shortcut("community_actions.monitor_topic")}"
							} if @topic.published?
%>
</div>

<a class="btn tooltip" rel="topic-reply" data-keybinding="<%=shortcut("community_actions.reply_topic")%>" title="<%= t('discussions.topics.reply') %>">
	<!-- <span class="community-reply inline-icon"></span> -->
	<%= font_icon "reply" %>
	<%= t('discussions.topics.reply') %>
</a>

<% end %>

<%= pjax_link_to t('discussions.topics.edit_topic'), edit_discussions_topic_path(@topic), 
					:class => 'btn hide_on_collapse' if privilege?(:edit_topic, @topic) %>


<%= link_to t('discussions.topics.mark_as_spam'), mark_as_spam_discussions_moderation_path(@first_post), :method => :put,
					:class => 'btn hide_on_collapse',
					:"data-track" => 'Marked as Spam' if privilege?(:delete_topic) %>

<%= link_to t('discussions.topics.close_topic'), toggle_lock_discussions_topic_path(@topic), :method => :put,
					:class => 'btn hide_on_collapse' if privilege?(:edit_topic, @topic) %>

<% if privilege?(:edit_topic, @topic) && !(@topic.forum.forum_visibility == Forum::VISIBILITY_KEYS_BY_TOKEN[:company_users]) %>
	<a href="#merge_topicdialog" 
		class="btn hide_on_collapse" id="mergetopic" 
		data-target="#merge_topicdialog"
		data-track="Topic Merge Initiated"
		data-title="<%= t('discussions.topic_merge.merge_title') %>" 
		rel="freshdialog" 
		data-width="800" data-template-footer=""><%= t('discussions.topics.merge_topic') %></a>
<% end %>

<% if privilege?(:edit_topic, @topic) ||  privilege?(:delete_topic) %>
	<div class="btn-group">

	  <a class="btn dropdown-toggle show_on_collapse" data-toggle="dropdown">
	  	<%= t("more") %>
	    <span class="caret"></span>
	  </a>

	  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
		<%= pjax_link_to t('discussions.topics.edit_topic'), edit_discussions_topic_path(@topic) if privilege?(:edit_topic, @topic) %>

		<%= link_to t('discussions.topics.mark_as_spam'), mark_as_spam_discussions_moderation_path(@first_post), 
					:method => :put, 
					:"data-track" => 'Marked as Spam' if privilege?(:delete_topic) %>

		<%= link_to t('discussions.topics.close_topic'), toggle_lock_discussions_topic_path(@topic), 
					:method => :put if privilege?(:edit_topic, @topic) %>

	<% unless (@topic.forum.forum_visibility == Forum::VISIBILITY_KEYS_BY_TOKEN[:company_users]) %>
		<a href="#merge_topicdialog" 
			id="mergetopic" rel="freshdialog"
			data-target="#merge_topicdialog"
			data-track="Topic Merge Initiated" 
			data-title="<%= t('discussions.topic_merge.merge_title') %>" 
			data-width="800" data-template-footer=""><%= t('discussions.topics.merge_topic') %></a>
	<% end %>
	
	  </ul>
	</div>
<% end %>

<div id="merge_topicdialog" class="hide">
	<span class="loading-block sloading loading-small"></span>
</div>