<a class="btn" rel="topic-reply" data-keybinding="<%=shortcut("community_actions.reply_topic")%>">
	<%= font_icon "reply" %>
	<%= t('discussions.topics.reply') %>
</a>
<% if privilege?(:edit_topic, @topic) && !@topic.merged_topic_id.present? %>
	<%= pjax_link_to t('discussions.topics.edit_topic'), edit_discussions_topic_path(@topic), :class => 'btn' %>
	<%= link_to t('discussions.topics.reopen_topic'), toggle_lock_discussions_topic_path(@topic), :method => :put, :class => 'btn' %>
<% end %>
<%= confirm_delete(@topic, discussions_topic_path(@topic)) if @topic.merged_topic_id.present? and  privilege?(:delete_topic, @topic) %>

