<% multilingual_flag = @account.features?(:enable_multilingual) %>
<div class="control-group">
	<%= portal.label :language, 
				"#{@account.multilingual_available? && multilingual_flag ? t('account.languages') : t('account.primary_language')}", 
				:class => "control-label"  
	%>
	<div class="controls">
		<% if @account.multilingual_available? && multilingual_flag %>
			<div class="span5 multilingual-enabled">
				<div class="span10">
					<div class="muted">
						<%= t('account.primary_language') %>
					</div>
					<div class="mt5">
						<%= @account.language_object.name %>
					</div>
					<div class="muted mt5">
						<%= t('account.supported_languages', :count => @account.supported_languages.size) %>
					</div>
					<div class="mt5">
						<%= languages_listing(@account.supported_languages_objects) %>
					</div>
					<% if @account.portal_languages.present? %>
						<div class="muted mt5">
							<%= t('account.portal_languages', :count => @account.portal_languages.size) %>
						</div>
						<div class="mt5">
							<%= languages_listing(@account.portal_languages_objects) %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="span3 manage-link">
				<%= pjax_link_to t("accounts.multilingual_support.manage_languages"), manage_languages_path %>
			</div>
		<% else %>
			<%= portal.select :language, 
						I18n.available_locales_with_name , 
						{
							:selected =>  @account.main_portal.language.to_sym() 
						}
			%>
			<span class="ml10">
				<%= pjax_link_to t("admin.products.portal.enable_multilingual"), manage_languages_path if @account.multilingual_available? %>
			</span>
		<% end %>
	</div>
</div>
