<div class="control-group">
	<%= portal.label :language,
				"#{@account.multilingual? ? t('account.languages') : t('account.primary_language')}",
				:class => "control-label"
	%>
	<div class="controls">
		<% if @account.multilingual? %>
			<div class="span5 multilingual-enabled">
				<div class="span10">
					<div class="muted">
						<%= t('account.primary_language') %>
					</div>
					<div class="mt5">
						<%= @account.language_object.name %>
					</div>
					<div class="muted mt5">
						<%= t('account.supported_languages', :count => @account.supported_languages.size) %>
					</div>
					<div class="mt5">
						<%= languages_listing(@account.supported_languages_objects) %>
					</div>
					<% if @account.portal_languages.present? %>
						<div class="muted mt5">
							<%= t('account.portal_languages_visible', :count => @account.portal_languages.size) %>
						</div>
						<div class="mt5">
							<%= languages_listing(@account.portal_languages_objects) %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="falcon-manage-link">
				<%= link_to t("accounts.multilingual_support.manage_languages"), '/a/admin/account/languages',
				:class => "btn btn-bold", :id => 'manage-language-button', :target => "_top" %>
			</div>
		<% elsif @account.features_included?(:enable_multilingual) %>
			<div class="mt5">
				<%= @account.language_object.name %>
				<% if @account.multilingual_available? && !@account.supported_languages.present? %>
					<div class="controls">
						<%= link_to t("accounts.multilingual_support.manage_languages"), '/a/admin/account/languages',
						:class => "btn btn-bold", :id => 'manage-language-button', :target => "_top" %>
					</div>
				<% end %>
			</div>
		<% else %>
			<div class="span4">
				<%= select('account[main_portal_attributes]', :language, mint_locales_with_separator, {:selected =>  @account.main_portal.language.to_sym()}, {:style => 'width: 150px;'})%>
				<a href="javascript:toggleMessage()">
					<i class="info help-icon-language ficon-help-icon fsize-24" size="14"></i>
				</a>
			</div>
			<% if @account.multilingual_available? %>
				<div class="falcon-manage-link">
					<%= link_to t("accounts.multilingual_support.manage_languages"), '/a/admin/account/languages',
						:class => "btn btn-bold", :id => 'manage-language-button', :target => "_top" %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="control-group">
	<div class="control-label"></div>
	<div class="controls">
		<%= render partial:'ui/falcon_languages_alert' %>
	</div>
</div>
