<div id="ChangePlan">
	<div class="plans">
	   	<table>
			<tr> 
				<% plans.each do |plan| %>
				<% plan_name = plan.name.downcase %>
				<% unless plan_name == "free" %>
				<td id = "plan-<%= plan.name %>" width='<%="#{(100/plans.size.to_f).to_i}%"%>'>
					<div class="plan-details">			
						<div class="plan-title">
							<% bool_beta_plan = (plan_name == "premium" && @discount  && @discount.name.downcase == "beta users special") %>
							<%= content_tag(:h2, plan.name ) %>
							<% if(bool_beta_plan) %>
								<%= content_tag(:h3, "<span class='discount-strikethrough'>$29 </span> $19 " +  content_tag(:span, t('plan_amount'), :class => "info-data")) %>
							<% else %>
								<%= content_tag(:h3, "$#{plan.amount.to_i} " + content_tag(:span, t('plan_amount'), :class => "info-data")) %>
							<% end %>								
							<%= content_tag(:h4, t("#{plan_name}_brief") ) %>
							<%= content_tag(:div, (plan_name == "premium") ? t("special_beta_offer") : "&nbsp;", :class => "discount-info-text" ) if(@discount && @discount.name.downcase == "beta users special")  %>
						</div>
						<%= content_tag(:p,  t("#{plan_name}_details"), :class => "plan-details" ) %>
						<p><br>
							<%= "First #{ plan.free_agents == 1 ? 'agent' : pluralize(plan.free_agents, 'agent')} will be free" %>
						</p>
					</div>
					<button data-plan="<%= plan.name %>" data-plan-cost="<%= plan.amount.to_i %>" data-plan-id = "<%= plan.id %>" class="plan-button" id='<%= "#{ plan.name }_button" %>'><%=t('choose_plan')%></button>
					<div id="billing-<%= plan.name %>"></div>
				</td>
				<% else %>
				  <% @free_plan_id = plan.id %>
				<% end %>  
			<%end%>
			</tr> 
		</table>
		
	</div>
</div>
<div id="billing-template" class="billing" style="display:none;">
  <%= render :partial => "calculate_amount", :locals => { :amount => 0 } %>
</div>

<% javascript_tag do %>
	(function($){	
		selected_plan 	= null;
		agents		  	  = null;
		plan_cost	  	  = null;
		plan_billing  	= null; 
		current_plan_id = null;
		billing_cycle   = <%= @subscription.renewal_period %>;
		
		function IsNumeric(input){
		   return (input - 0) == input && input.length > 0;
		}
		
		$(".plan-button").click(function(){
			if(selected_plan != null) selected_plan.removeClass('active');

			current_plan 	  = this.getAttribute("data-plan");
			selected_plan 	= $("#plan-"+current_plan).addClass('active'); 
			plan_cost 		  = this.getAttribute("data-plan-cost");
			current_plan_id = this.getAttribute("data-plan-id");
			agents			    = $("#agents-text-box").val();
			$("#billing-template").addClass("loading-amount");
      $("#billing-template").detach().appendTo(selected_plan).show();
			calculateCost();
		});
		
		$("#agents-text-box").live("change", function(){
			                                      if(IsNumeric(this.value) && this.value != 0){
                                              this.value = Math.abs(this.value);
                                              agents = this.value;
                                              calculateCost();
                                            }else{
                                              this.value = agents;
                                            }
                                          });

    $("#billing_cycle").live("change", function(){
                                          billing_cycle = this.value;
                                          calculateCost();
                                       });

    function calculateCost(){
      //$("#cost-per-agent").text("$"+plan_cost);
      //$("#total-cost-per-agent").text("$"+(agents * plan_cost));			
      $.post( "/account/calculate_amount",
              { "billing_cycle": billing_cycle, "agent_limit" : agents, "plan_id" : current_plan_id },              
              function(data){
									$("#billing-template").removeClass("loading-amount");
                  $("#billing-template").html(data);
            			$("#plan_id").val(current_plan_id);
                } );
    }

  })(jQuery);
<% end %>