<% content_for :sidebar do -%>
	<% if @subscription.state == 'trial' %>
		<div class="sidepanel">
			<h3 class="title"><%= t(".billing") %></h3>
			<p>
			  <strong><%= t('.begin_subscription') %></strong> <%= t(".begin_subscription_info") %>
			</p>
			<p>
			  <strong><%= t('.save_billing_information') %></strong> <%= t(".save_billing_information_info") %>
			</p>
		</div>
	<% end %>
<%- end %>
<h3 class= "title"><%= @page_title = t('plans_billing') %></h3>
<% form_for :creditcard, @creditcard, :url => { :action => 'billing' } do |f| %>
	<ul class="ui-form">
		<li class="inline-field">  
			<% if @subscription.state == 'trial' %>
				<div class="info-highlight"> 
					<h3 class="title">
  					<%= t('current_plan_details', :plan_name  => @subscription.subscription_plan.name, :agent_limit => @subscription.agent_limit) %>
					</h3>				
					<%= content_tag(:strong, get_payment_string( @subscription.renewal_period,@subscription.amount.to_i )) %>
				</div>
			<% end %>
			<%= content_tag(:h3, t("credit_card_info"), :class => "title") %>
		   	<%= render :partial => 'shared/credit_card_form' %>
				<%= hidden_field_tag :charge_now, "false", :id => "chargenow" %>
				<span class="seperator"></span>
				<div class="button-container">
					<% if @subscription.state == 'trial' %>
						<%= link_to( "&larr; #{t('select_another_plan')}", account_url, :class => "uiButton floatl" ) %>
						<%= submit_tag t('.begin_subscription'), :class => "uiButton special", :id => "begin_subscription" %>	
					<% else %>
						<%= link_to( "&larr; #{t("cancel_and_back")}", account_url, :class => "uiButton floatl" ) %>
						<%= submit_tag t('.update_billing_info'), :class => "uiButton" %>
					<% end %>
				</div>
		</li>
	</ul> 
<% end %>
<% content_for :pagefixed do %>
	<% javascript_tag do %>
		jQuery("#begin_subscription")
			.click(function(){
				$("chargenow").value = true;
				return confirm("<%= t('begin_subscription_confirm', :cost => @subscription.amount.to_i ) %>") ;
			});
	<% end %>
<% end %>