<% content_for :sidebar do -%><%- end %>
<h3 class="title"><%= @page_title = t(".cancel_account") %></h3>
<p class="intro"><%= t(".intro") %></p>

<% form_tag :action => 'cancel' do %>
<ul id="CancelFormBox" class="ui-form dont-validate">
	<li>
		<div class="info-highlight">
			<div><%= t(".warning_message") %></div>
		  <div><%= t(".changeplan_instead_of_cancel") %> <a href="/account/plan"><%= t(".change_your_plan")%> </a> </div>
		</div>
		<label>
			<input type="checkbox" name="confirm" class="checkbox" id="confirm_agree" value="1" />
			<%= t(".confirm_and_cancel_my_account") %>
		</label> 
	</li>
</ul>
	<div class="button-container">
		<%= link_to t(".goback"), '/account', :class => "uiButton floatl" %>
  	<%= submit_tag  t('.delete_my_account'), :class => "uiButton" %>
  </div>
<% end %>
<% content_for :pagefixed do %>
	<% javascript_tag do %>
		jQuery(document).ready(function(){
			jQuery("#CancelFormBox").parent()
				.validate({
					errorPlacement: function(error, element) {
				     if (element.attr("name") == "confirm")
								error.insertAfter(element.parent());
				   }
				});
			jQuery("#confirm_agree")
				.rules("add", {
			 		required: true,
					messages: {
					   required: "<%= t('.you_must_confirm') %>",
					 }
				});			
		});
	<% end %>
<% end %>