<% content_for :sidebar do -%><%- end %>
<%= javascript_include_tag "mColorPicker.min.js" %>
<%= render :partial => "shared/colorpicker" %>
<% javascript_tag do %>
	jQuery(document).ready(function(){ 
		jQuery("#ResetColors").click(function(){
			jQuery("#HeaderColor").val("#2f3733").trigger("keyup");
			jQuery("#TabColor").val("#7cb537").trigger("keyup");
			jQuery("#BackgroundColor").val("#efefef").trigger("keyup");
		});
	}); 
<% end %>
<h3 class="title"><%=t('account.rebrand')%></h3> 
	<% form_for :account, @account, :url => { :action => 'update' }, :html => { :multipart => true ,:method => :put } do |f| %>
	  <%= f.error_messages %>
		<ul class="ui-form">
			<li class="inline-field">
				<%= f.label :helpdesk_name,t('account.helpdesk_name'), :class => "caption" %>
				<div class="fields">				    
					<%= f.text_field :helpdesk_name, :class => "text auto" %>
					<div class="info-data">
						This will be the help desk name that is show in the header and mail notifications.
					</div>
				</div>
			</li>
			<li class="inline-field">
			  <%= render :partial => "/shared/logo_image", :locals => { :item => @account, :field_name => "account" } %>
			</li>
			<li class="inline-field">
			  <%= render :partial => "/shared/fav_image", :locals => { :item => @account, :field_name => "account" } %>
			</li>
			<li class="inline-field">
				<%= content_tag(:label, t('account.page_colors.title') ) %>
				<% f.fields_for :preferences, @account.preferences do |p| %>
					<%= p.label :header_color, t('account.page_colors.header'), :class => "rightalign caption" %>
					<div class="fields color">
							<input type="color" maxlength="7" id="HeaderColor" class="color_field required" name="account[preferences][header_color]"  data-hex="true" value="<%= @account[:preferences].default(:header_color) %>" />
					</div>
					<%= p.label :header_color_tab, t('account.page_colors.tab_color'), :class => "rightalign caption" %>
					<div class="color fields">
							<input type="color" maxlength="7" id="TabColor" class="color_field required" name="account[preferences][tab_color]"  data-hex="true" value="<%= @account[:preferences].default(:tab_color) %>" /> 
					</div>	
					<%= p.label :bg_color, t('account.page_colors.background'), :class => "rightalign caption" %>
					<div class="color fields"> 
							<input type="color" maxlength="7" id="BackgroundColor" class="color_field required" name="account[preferences][bg_color]"  data-hex="true" value="<%= @account[:preferences].default(:bg_color) %>" />
							<p>
								<a href="javascript:void(0)" id="ResetColors"><%=t('account.info3')%> </a>
							</p>
					</div>	
			  <% end %>
			</li>
			<li class="inline-field">
				<%= f.label :helpdesk_url, t('account.helpdesk_url'), :class => "caption" %>
				<div class="fields">			    
					<label class="overlabel" for="account_helpdesk_url">
						Eg. support.mycompanyname.com						
					</label>
			    <%= f.text_field :helpdesk_url, :class => "text auto" %> 
					<div class="info-data">
						<%=t('account.info2',:full_domain => @account.full_domain)%>
					</div>	
			 </div>
			</li>		
			<li class="inline-field">
				<%= f.label :time_zone, t('account.time_zone'), :class => "caption"  %>
				<div class="fields">
					<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
		 		</div>
			</li>
			<li class="inline-field">
				<%= f.label :ticket_display_id, "#{t('next')} Ticket ID #", :class => "caption" %>
				<div class="fields">		    	
					<%= f.text_field :ticket_display_id, :value => @account.get_max_display_id, :class => "text" %>
					<div class="info-data"><%=t('account.info4')%></div>
		  	</div>
			</li>
		</ul>
	  <div class="button-container">
			<%= link_to "&larr; #{t('account.cancel')}", "/admin/home", :class => "uiButton floatl" %>
			<%= submit_tag t('account.save'), :class => 'uiButton' %>
	  </div>
	<% end %>