<%= javascript_include_tag "mColorPicker.min.js" %>
<script type="text/javascript" charset="UTF-8">
	jQuery.fn.mColorPicker.init.enhancedSwatches = false;
	jQuery.fn.mColorPicker.init.allowTransparency = false;
	jQuery.fn.mColorPicker.init.showLogo = false;
	jQuery.fn.mColorPicker.defaults = {
		 imageFolder: '../images/',
		    swatches: [
		      "#ffffff",
		      "#ffff00",
		      "#00ff00",
		      "#00ffff",
		      "#0000ff",
		      "#ff00ff",
		      "#ff0000",
		      "#4c2b11",
		      "#3b3b3b",
		      "#000000"
		    ]
		  };
	jQuery(document).ready(function(){ 
		jQuery("#ResetColors").click(function(){
			jQuery("#HeaderColor").val("#2f3733").trigger("keyup");
			jQuery("#TabColor").val("#7cb537").trigger("keyup");
			jQuery("#BackgroundColor").val("#efefef").trigger("keyup");
		});
	}); 
</script>
<% content_for :sidebar do -%>
	<div class="sidepanel">
		<h3 class="title"><%= current_account.name %></h3> 
		<ul class="ui-list_with_icon">
			<li><b>Active Since  </b><br /><%= formated_date(current_account.created_at) %></li>
		</ul> 
	</div>
<%- end %>

<h3 class="title">Rebrand your Helpdesk</h3> 
	<% form_for :account, @account, :url => { :action => 'update' }, :html => { :multipart => true ,:method => :put, :class => "uniForm" } do |f| %>
	  <%= f.error_messages %>
	  <fieldset class="inlineLabels">
	  	 <div class="ctrlHolder">
		    <%= f.label :name, "<em>*</em> Account Name" %>
		    <%= f.text_field :name, :class => "textInput auto" %> 
		 </div>
	     <div class="ctrlHolder"> 
			<%= f.label :time_zone, "Time Zone" %>
			<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, { :class => "selectInput" } %>
		 </div>
		 <div class="ctrlHolder">
		    <%= f.label :helpdesk_name, "Helpdesk Name" %>
		    <%= f.text_field :helpdesk_name, :class => "textInput auto" %>
		 </div>
		 <div class="ctrlHolder">
		    <%= f.label :helpdesk_url, "Helpdesk URL" %>
		    <%= f.text_field :helpdesk_url, :class => "textInput auto" %> 
			<p class="formHint">
			You can use this field to setup custom domain mapping for Freshdesk - <br />
			Eg. support.mycompanyname.com 
			</p>
			<p class="formHint">
			Before using this field please ensure that you have created a CNAME DNS record in your DNS Zone file to point support.mycompanyname.com to <%=@account.full_domain%>. Your Webmaster or Server administrator should be able to help you set this up correctly
			</p>	
		 </div>
	  </fieldset>
	  <fieldset class="inlineLabels">
		  <% f.fields_for :preferences, @account.preferences do |p| %>
        	<div class="ctrlHolder">
        		<p class="label">
					<b>Page colors</b>	
				</p>
				<ul>
					<li>
						<%= p.label :header_color, "Header" %>
						<div class="color">
							<input type="color" id="HeaderColor" class="color_field" name="account[preferences][header_color]"  data-hex="true" value="<%= @account[:preferences].default(:header_color) %>" />
						</div>
					</li>
					<li>
			        	<%= p.label :header_color_tab, "Tab Color" %>
						
							<div class="color">
								<input type="color" id="TabColor" class="color_field" name="account[preferences][tab_color]"  data-hex="true" value="<%= @account[:preferences].default(:tab_color) %>" /> 
							</div>
         			</li>
					<li>	
			        		<%= p.label :bg_color, "Background" %>
							<div class="color"> 
								<input type="color" id="BackgroundColor" class="color_field" name="account[preferences][bg_color]"  data-hex="true" value="<%= @account[:preferences].default(:bg_color) %>" />
							</div>	
					</li>
					<li><a href="javascript:void(0)" id="ResetColors">Reset to Default colors </a></li>
				</ul>
					
						 
          </div>
		  <% end %>
		</fieldset>
		<fieldset class="inlineLabels">
		  <div class="ctrlHolder">
			<%= render :partial => "/shared/logo_image", :locals => { :account => @account } %>
		  </div>
		  <div class="ctrlHolder">
			<%= render :partial => "/shared/fav_image", :locals => { :account => @account } %>
		  </div> 
		  <div class="ctrlHolder">
		    <%= f.label :ticket_display_id, "Next Ticket ID #" %>
			<%= f.text_field :ticket_display_id, :value => @account.get_max_display_id, :class => "textInput small" %>
			<p class="formHint">The next ticket ID counter will start with this number (Should be greater than the last ticket ID created). This affects tickets created henceforth.</p>
		  </div>			
		</fieldset>
	  <div class="buttonHolder">
			<%= link_to "&larr; Cancel and go back", "/admin/home", :class => "uiButton blue floatl" %>
			<%= submit_tag 'Save changes', :class => 'uiButton blue' %>
	  </div>
	<% end %>