<% content_for :helpcard do %>
<%= render :partial => "helpnote" %>
<% end %>
<%= javascript_tag do %>
	jQuery(document).ready(function(){ 
		if(<%=request.referrer and request.referrer.include?('email_notification')%>){
			jQuery("#supported_language_list").animateHighlight();
		}
		jQuery("#ResetColors").click(function(){
			jQuery("#HeaderColor").val("#252525").trigger("keyup");
			jQuery("#TabColor").val("#006063").trigger("keyup");
			jQuery("#BackgroundColor").val("#efefef").trigger("keyup");
		});
		jQuery("#account_main_portal_attributes_portal_url").blur(function(){
			input_url = jQuery('#account_main_portal_attributes_portal_url').val();
			protocol_exists = !(input_url.indexOf('http://') && input_url.indexOf('https://'));
			if(protocol_exists)
			{
			    get_index = input_url.indexOf("://");
			    result_url = input_url.substring(get_index+3);
			    jQuery('#account_main_portal_attributes_portal_url').val(result_url);
			}
		});
		jQuery("#account_submit").bind('click', function(ev){
				var language_flag = jQuery.inArray(jQuery("#account_main_portal_attributes_language").val() , jQuery("#account_account_additional_settings_attributes_supported_languages").val() );
				if(language_flag != -1 ){
				ev.preventDefault(); 
				alert("<%= t('account.same_language_alert')%>");
				}
    	});
	}); 
<% end %>
<div id="admin-account-rebraning-page" class="rebrand-page">
	<%= form_for @account, :url => { :action => 'update' }, 
									:html => { :multipart => true ,
											   :method => :put, 
											   "data-rebrand-form" => true, 
											   :id => "edit_form", :class => "form-horizontal", :rel=> "validate"  } do |f| %>
	<h4 class="lead pb10"><%=t('account.helpdesk')%></h4>

	<%= error_messages_for :account %>
	
	<div class="row-fluid">
		<%= f.fields_for :main_portal do |portal| %>
			<div>
					<div class="fields">
						<div class="control-group">
							<%= portal.label :name, t('account.helpdesk_name_plain'), :class => "control-label" %>
							<div class="controls">				    
								<%= portal.text_field :name, :class => "text required auto", :size => "50" %>
								<span class="help-block">
									<%= t(:'helpdesk.rebranding.name.info') %>
								</span>
							</div>
						</div>

						<%= render :partial => "languages", :locals => { :portal => portal } %>
						
						<%= f.fields_for :account_additional_settings do |settings| %>
							<% if feature?(:dynamic_content) && !@account.multilingual_available? %>
								<div class="control-group" id="supported_language_list">
									<%= settings.label :supported_languages , 
												t('account.additional_languages') , 
												:class => "control-label caption" 
									%>
									<div class="controls">
										<div class="row-fluid">
											<%= settings.select :supported_languages, 
												options_for_select( 
													I18n.available_locales_with_name.reject { |lang, sym| sym == @account.main_portal.language.to_sym() },
													:selected => @supported_languages_list ? @supported_languages_list.collect(&:to_sym) : []
												),
												{}, 
												{ 
													:multiple => true, 
													"data-placeholder"=>"select language", 
													:class => "select2 span9 clear-left-margin" 
												} 
											%>
										</div>
										<div class="muted">
											<%=t('account.info6')%>
										</div>
									</div>
								</div>
							<% end %>
							<div class="control-group">
								<%= settings.label :date_format, t('account.date_format'), :class => "control-label"  %>
								<div class="controls">

									<% options_for_dateformat = []%>
									<% 	AccountConstants::DATEFORMATS.invert.each do |format, val| 
											options_for_dateformat.push([t("account.#{format}"),val])
										end
									%>
									<%= settings.select :date_format, options_for_dateformat, {}, {}%>
									<span id="sample_date"></span>
				 				</div>
							</div>
						<%end%>	
						<div class="control-group">
							<%= f.label :time_zone, t('account.time_zone'), :class => "control-label"  %>
							<div class="controls">
								<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
					 		</div>
						</div>
						<div class="control-group">
							<%= f.label :ticket_display_id, "#{t('next')} Ticket ID #", :class => "control-label" %>
							<div class="controls">		    	
								<%= f.text_field :ticket_display_id, :value => @ticket_display_id, :class => "text number auto", :size => "15" %>
								<div class="help-block"><%=t('account.info4')%></div>
					  		</div>
						</div>
						<div class="control-group">
							<%= content_tag(:label, t('account.page_colors.title'), :class => "control-label" ) %>
							<div class="controls">
								<div class="row-fluid">
								<%= portal.fields_for :preferences do |p| %>
									<div class="span3">
										<%= p.label :header_color, t('account.page_colors.header') %>
										<div class="color">
											<%= f.color_picker :class => "color_field required" , :id => "HeaderColor" , :name =>"account[main_portal_attributes][preferences][header_color]" , :value => "#{portal_pref(@account.main_portal, :header_color)}" , :maxlength => "7" %>
										</div>
									</div>
									<div class="span3">
										<%= p.label :header_color_tab, t('account.page_colors.tab_color') %>
										<div class="color">
											<%= f.color_picker :class => "color_field required" , :id => "TabColor" , :name =>"account[main_portal_attributes][preferences][tab_color]" , :value => "#{portal_pref(@account.main_portal, :tab_color)}" , :maxlength => "7" %>
										</div>	
									</div>
									<div class="span3 omega">
										<%= p.label :bg_color, t('account.page_colors.background') %>
										<div class="color"> 
											<%= f.color_picker :class => "color_field required" , :id => "BackgroundColor" , :name =>"account[main_portal_attributes][preferences][bg_color]" , :value => "#{portal_pref(@account.main_portal, :bg_color)}" , :maxlength => "7" %>
										</div>
									</div>	
						  		<% end %>
						  		</div>
								<div class="reset-color">
									<a href="javascript:void(0)" id="ResetColors"><%=t('account.info3')%> </a>
								</div>
							</div>	
						</div>
						<div class="control-group">
							<label class="control-label"><%= t("admin.products.portal.portal_settings") %></label>
							<div class="controls">
								<%= link_to t("admin.products.portal.edit_portal"), 
													current_account.features_included?(:multi_product) ? edit_admin_portal_path(@account.main_portal) : admin_portal_index_path, 
													:class => "btn btn-bold", :id => 'edit-portal' %>
							</div>
						</div>
					</div>
			</div>
		<% end %>
	</div>

	<hr>
	<div class="pull-right">
  		<input type="hidden" name="redirect_url" id="redirect_url" value="" />
		<%= link_to "#{t('account.cancel')}".html_safe, "/admin/home", :class => "btn" %>
		<%= submit_tag t('account.save'), :class => 'btn btn-primary', :id => 'account_submit' %>
	</div>
	
<% end %>
</div>
<% content_for :onload_script do %>

	DATE_FORMATS_BINDING = <%= AccountConstants::DATEFORMATS.to_json.html_safe%>

	var set_default_date = function(element){
		var date_format = DATE_FORMATS[DATE_FORMATS_BINDING[element.val()]]['moment_date_with_week']
		jQuery("#sample_date").html("<span class='muted'>"+moment(new Date()).format(date_format)+"</span>");
	}

	jQuery("#account_account_additional_settings_attributes_date_format").on("change",function(){
		set_default_date(jQuery(this));
	}).trigger('change');

	jQuery("[data-rebrand-form]").on("change", function(ev){
		var target = jQuery(ev.target);
		if(target.attr('data-loadedScript'))
		{
			target.removeAttr('data-loadedScript');
		}
		else
		{
			jQuery(this).data('formChanged', true)
		}
	})
	jQuery("[rel=customize-portal]").live("click", function(ev){
		var form = jQuery(this).parents('form:first')
		if(form.data('formChanged')){
			ev.preventDefault()
			if(confirm("You have unsaved changes in your form. Do you want to save and continue?")){
				jQuery("#redirect_url").val(this.href)
				form.submit()
			}
		}
	})
	jQuery("#edit-portal").on("click", function(ev){
		var form = jQuery(this).parents('form:first')
		if(form.data('formChanged')){
			ev.preventDefault()
			if(confirm("You have unsaved changes in your form. Do you want to save and continue?")){
				jQuery("#redirect_url").val(this.href)
				form.submit()
			}
		}
	})
	jQuery('.fileAdminUpload').live("change", function(){ 
		if ( jQuery(this.form).valid() ) {
			jQuery("#redirect_url").val("<%= edit_account_path %>") 
			this.form.submit()
		}
	})
<% end %>
