<div class="pageContent">
	<h3 class="content_title">Change account settings</h3>
	<span class="seperator"></span>

	<% form_for :account, @account, :url => { :action => 'update' }, :html => { :method => :put } do |f| %>
	  <%= f.error_messages %>
	  <ul class="ui-form">
		  <li>
		    <%= f.label :name, "Your account name" %>
		    <%= f.text_field :name %>
		  </li>
		  
		  <li>
			<%= f.label :time_zone %>
			<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
		  </li>
	  </ul>
	  <br />	
	  <div class="button-container"> 
	  	<%= submit_tag 'Save', :class => 'fdbutton' %>
	  	<%= link_to "Cancel", {:action => 'index'}, :class => "fdbutton grey" %>
	  </div>
	<% end %>
</div>