<% content_for :layoutType do %>single<% end %>
<div class="header_area">
	<h4>Rebrand your Help Desk</h4>
</div>	
<div class="page_area">
	<% form_for :account, @account, :url => { :action => 'update' }, :html => { :multipart => true ,:method => :put} do |f| %>
	  <%= f.error_messages %>
	  <ul class="ui-form">
		  <li>
		    <%= f.label :name, "Account Name" %>
		    <%= f.text_field :name, :class => "text" %>
		  </li>
		  <li>
			<%= f.label :time_zone, "Time Zone" %>
			<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
		  <li>
		    <%= f.label :helpdesk_name, "Helpdesk Name" %>
		    <%= f.text_field :helpdesk_name, :class => "text" %>
		  </li>
		  <li>
		    <%= f.label :helpdesk_url, "Helpdesk URL" %>
		    <%= f.text_field :helpdesk_url, :class => "text" %>
		  </li>
		  <% f.fields_for :preferences, @account.preferences do |p| %>
        	<li class="small">
        		<%= p.label :header_color, "Header Color" %>
				<!-- :value =>  @account[:preferences].default(:header_color)  -->
				<%= p.text_field :header_color %>
         	</li>
			<li class="small">
        		<%= p.label :bg_color, "Background Color" %>
				<!-- :value =>  @account[:preferences].default(:bg_color) -->
				<%= p.text_field :bg_color %>
         	</li>
		  <% end %>
		  <li>
			<%= render :partial => "/shared/logo_image", :locals => { :account => @account } %>
		 </li>
		 
		 <li>
			<%= render :partial => "/shared/fav_image", :locals => { :account => @account } %>
		 </li>
		 <li class="small">
		    <%= f.label :ticket_display_id, "Ticket Display Id" %>
		    <%= f.text_field :ticket_display_id,:value => @account.get_max_display_id %>
		  </li>
		  
		  <li>
		  	<span class="seperator"></span>
		  	<%= submit_tag 'Save', :class => 'fdbutton' %>
	  		<%= link_to "Cancel", admin_home_path , :class => "fdbutton grey" %>
		  </li>
	  </ul>
	<% end %>
</div>