<% content_for :sidebar do -%><%- end %>
<%= javascript_include_tag "mColorPicker.min.js" %>
<%= render :partial => "shared/colorpicker" %>
<% javascript_tag do %>
	jQuery(document).ready(function(){ 
		jQuery("#ResetColors").click(function(){
			jQuery("#HeaderColor").val("#252525").trigger("keyup");
			jQuery("#TabColor").val("#006063").trigger("keyup");
			jQuery("#BackgroundColor").val("#efefef").trigger("keyup");
		});
	}); 
<% end %>
<h3 class="title"><%=t('account.rebrand')%></h3> 
	<% form_for :account, @account, :url => { :action => 'update' }, :html => { :multipart => true ,:method => :put } do |f| %>
	  <%= f.error_messages %>
		<ul class="ui-form">
			
			<% f.fields_for :main_portal do |portal| %>
			<li class="inline-field">
				<%= portal.label :name, t('account.helpdesk_name'), :class => "caption" %>
				<div class="fields">				    
					<%= portal.text_field :name, :class => "text auto" %>
					<div class="info-data">
						<%= t(:'helpdesk.rebranding.name.info') %>
					</div>
				</div>
			</li>
      <li class="inline-field">
        <%= render :partial => "/shared/logo_image", :locals => { :item => @account.main_portal, :field_name => "account[main_portal_attributes]" } %>
        <div class="fields">
          <span class="seperator"></span>
          <label class="overlabel" for="link_back_text"><%= t("linkback_overlabel") %></label>
          <input name="account[main_portal_attributes][preferences][logo_link]" id="link_back_text" value="<%=portal_pref(@account.main_portal, :logo_link) %>" class="text url" size="30" />
          <div class="info-data">
            <%= t("linkback_info") %>
          </div>
        </div>
      </li>
			<li class="inline-field">
			  <%= render :partial => "/shared/fav_image", :locals => { :item => @account.main_portal, :field_name => "account[main_portal_attributes]" } %>
			</li>
			<li class="inline-field">
				<%= content_tag(:label, t('account.page_colors.title') ) %>
				<% portal.fields_for :preferences do |p| %>
					<%= p.label :header_color, t('account.page_colors.header'), :class => "rightalign caption" %>
					<div class="fields color">
							<input type="color" maxlength="7" id="HeaderColor" class="color_field required" name="account[main_portal_attributes][preferences][header_color]"  data-hex="true" value="<%=portal_pref(@account.main_portal, :header_color)%>" />
					</div>
					<%= p.label :header_color_tab, t('account.page_colors.tab_color'), :class => "rightalign caption" %>
					<div class="color fields">
							<input type="color" maxlength="7" id="TabColor" class="color_field required" name="account[main_portal_attributes][preferences][tab_color]"  data-hex="true" value="<%=portal_pref(@account.main_portal, :tab_color)%>" /> 
					</div>	
					<%= p.label :bg_color, t('account.page_colors.background'), :class => "rightalign caption" %>
					<div class="color fields"> 
							<input type="color" maxlength="7" id="BackgroundColor" class="color_field required" name="account[main_portal_attributes][preferences][bg_color]"  data-hex="true" value="<%=portal_pref(@account.main_portal, :bg_color)%>" />
							<p>
								<a href="javascript:void(0)" id="ResetColors"><%=t('account.info3')%> </a>
							</p>
					</div>	
			  <% end %>
			</li>
			<li class="inline-field">
				<%= portal.label :portal_url, t('account.helpdesk_url'), :class => "caption" %>
				<div class="fields">			    
					<label class="overlabel" for="account_main_portal_attributes_portal_url">
						Eg. support.mycompanyname.com						
					</label>
			    <%= portal.text_field :portal_url, :class => "text auto" %> 
					<div class="info-data">
						<%=t('account.info2',:full_domain => @account.full_domain)%>
					</div>	
			 </div>
			</li>		
			<% end %>
			
			<li class="inline-field">
				<%= f.label :time_zone, t('account.time_zone'), :class => "caption"  %>
				<div class="fields">
					<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
		 		</div>
			</li>
			
			<li class="inline-field">
				<%= f.label :language, t('account.language'), :class => "caption"  %>
				<div class="fields">
					<%= f.select :language, I18n.available_locales_with_name , {:selected =>  @account.language.to_sym() }%>
				</div>
			</li>
			<li class="inline-field">
				<%= f.label :ticket_display_id, "#{t('next')} Ticket ID #", :class => "caption" %>
				<div class="fields">		    	
					<%= f.text_field :ticket_display_id, :value => @account.get_max_display_id, :class => "text" %>
					<div class="info-data"><%=t('account.info4')%></div>
		  	</div>
			</li>
		</ul>
	  <div class="button-container">
			<%= link_to "&larr; #{t('account.cancel')}", "/admin/home", :class => "uiButton floatl" %>
			<%= submit_tag t('account.save'), :class => 'uiButton' %>
	  </div>
	<% end %>