<% content_for :sidebar do -%>
  <div class="sidepanel">
    <%= content_tag(:h4, "#{ t('current_plan') }", :class => "title") %>
    <%= content_tag(:strong, "#{ t('current_plan_details', :plan_name => @current_subscription.subscription_plan.name, :agent_limit => @current_subscription.agent_limit) } @ #{get_amount_string(@current_subscription.renewal_period,@current_subscription.amount.to_i)}", :class => "highlight") %>
    <%= content_tag(:p, t('change_plan_info', :date => @subscription.next_renewal_at.to_s(:long_day)), :class => "info-text") %>  
  </div>
<%- end %>

<% if @subscription && @subscription.errors.any? %>
  <div class="errorExplanation">
    <%= content_tag( :h2, t("errors_in_plan_change") ) %>
    <ul>
      <%= @subscription.errors.full_messages.map {|m| content_tag('li', m)} %>
    </ul>
  </div>
<% end %>

<h3 class="title"><%= @page_title = t('change_plan') %></h3>
<%= render :partial => "select_plans", :locals => { :plans => @plans } %>

<% javascript_tag do %>
  jQuery(document).ready(function(){
    jQuery('<%="##{@subscription.subscription_plan.name}_button"%>')
      .trigger("click");
  })  
<% end %>

<div class="button-container">
	<%= link_to( t('back_plans_billing'), account_url, :class => "uiButton floatl" ) %>
</div>

<% if @subscription.needs_payment_info? -%>
  <!--p>
    Please make sure you <%# link_to('enter your billing information', billing_account_url) %> before your bill date to prevent an interruption in service.
  </p-->
<% end %>
 
 
