<% content_for :sidebar do -%>
	<div class="sidepanel">
		<h3 class="title"><%= current_account.name %></h3> 
		<p>			
			<strong><%=t('account.active_since')%></strong>
			<br />
			<%= formated_date(current_account.created_at) %>			
		</p>
		<%= link_to(t("cancel_my_account"), cancel_account_url, :class => "button") %>
	</div>
<%- end %>
<h3 class= "title"><%= @page_title = t('.account_settings') %></h3>
<ul class="ui-form">
	<li class="inline-field">
		<label class="caption"><%= t('account.name') %></label>
		<div class="fields">
			<div class="big-text"><%= current_account.name %></div>
		</div>
	</li> 
	<li class="inline-field">
 	  <%= content_tag(:label, t(".export_data"), :class => "caption") %>
     <div class="fields"> 
 		  <div class="action_buttons">        
         <%= link_to "#{t('.export_now')} &rsaquo;", export_admin_data_export_url, :class => "last" %>
       </div>
       <%= content_tag(:label, t('.export_data_text')) %>
     </div>
 	</li>
  <li class="inline-field">
  	<% form_tag(:action => 'change_account_admin' , :controller => :users, :method => :put) do %>
  	<%= content_tag(:label,t('account_admin'), :class => "caption") %> 
		<div class="fields"> 
  		<div class="action_buttons">        
            <%= link_to_function "#{t('change')}", "jQuery(this).parents('form:first').trigger('submit')" %>
        </div>
				<%= select_tag :account_admin, options_from_collection_for_select(current_account.technicians, :id, :name_details,current_account.account_admin.id) %>
    </div>
	<%end-%>
	
  </li>	  
</ul>

<div class="button-container">
	<%= link_to "&larr; #{t('account.cancel')}", "/admin/home", :class => "uiButton floatl" %>
	<%= link_to t("admin.home.index.billing"), subscription_url, :class => "uiButton special" %>
</div>
