<% content_for :sidebar do -%>
	
	<div class="sidepanel">
		<h5 class="lead"><%= current_account.name %></h5> 
		<% unless (del_customer = DeletedCustomers.find_by_account_id(current_account.id)) %>
			<p>			
				<strong><%=t('account.active_since')%></strong>
				<br />
				<%= formated_date(current_account.created_at, {:format => :short_day_with_week, :include_year => true}) %>			
			</p>
			<%= link_to(t("cancel_my_account"), cancel_account_url, :class => "btn") %>
		<% else %>
			<p>
				<%= t(".restore_account", :delete_at => formated_date(14.days.since(del_customer.created_at), {:format => :short_day_with_week, :include_year => true})).html_safe %>
			</p>
		<% end %>
	</div>

	<%= form_tag({:action=> :export, :controller => "admin/data_export"}) do %>
		<div class="sidepanel">
			<h5 class="lead"><%= t(".export_data") %></h5> 
			<p><%= t('.export_data_text') %></p>
			<%= submit_tag "#{t('.export_now')} &rsaquo;".html_safe, { :class => "btn" } %>
		</div>
	<% end %>
<%- end %>


<h3 class= "lead">
	<%= @page_title = t('.account_settings') %> - <%= current_account.name %>
</h3>

<div class="account-content">
	<%= form_for current_account.account_configuration, :url => { :controller => 
		"account_configurations", :action => "update" },  :html => { :method => :put, 
		:id => "account-details-form"} do |f| %>

  	<ul class="account-configs unstyled row-fluid">
		<li>
		  	<h3 class="rebrand-head-text top-space-none"><%= t('.primary_contact') %></h3>
		  	<div id="field-info" class="">
		  		<%= t('.primary_contact_info') %>
		  	</div>
		  	<br/>
		  	<br/>
		  	<ul class="fields form-horizontal unstyled row-fluid"> 
		  		<li class="control-group">
			  		<%= content_tag(:label, "#{t('.contact_first_name')}<span class='required_star'>*</span>".html_safe, :class => "control-label") %>
			  		<div class="controls">
						<%= text_field_tag "account_configuration[contact_info][first_name]", current_account.admin_first_name, :class => "required span5", :autocomplete => "off" %>
					</div>
				</li>
				<li class="control-group">
			  		<%= content_tag(:label, "#{t('.contact_last_name')}<span class='required_star'>*</span>".html_safe, :class => "control-label") %>
			  		<div class="controls">
						<%= text_field_tag "account_configuration[contact_info][last_name]", current_account.admin_last_name, :class => "required span5", :autocomplete => "off" %>
					</div>
				</li>
				<li class="control-group">
		  			<%= content_tag(:label, "#{t('.contact_email')}<span class='required_star'>*</span>".html_safe, :class => "control-label") %>
		  			<div class="controls">
						<%= text_field_tag "account_configuration[contact_info][email]", current_account.admin_email, :class => "email required span5", :autocomplete => "off" %>
					</div>
				</li>
		  		<li class="control-group">
			  		<%= content_tag(:label, t('.contact_phone'), :class => "control-label") %>

			  		<div class="controls">
						<%= text_field_tag "account_configuration[contact_info][phone]", current_account.admin_phone, :id => "contact-phone",:class =>"span5", :autocomplete => "off" %>
					</div>
				</li>				
			</ul>
	  	</li>
	</ul>
	<div class="row-fluid pagination-right">
		<%= link_to "#{t('account.cancel')}".html_safe, "/admin/home", :class => "btn" %>
		<%= f.submit "#{t('update')}".html_safe, :id => "account_form_submit", :class => "btn btn-primary"  %>
	</div>
	<% end %>
</div>

<script>
		
	jQuery(document).ready(function() { 

  	results = function(result, container, query) {
  		return result.text;
		}

		search_choice_validation = function(term, data) {
			    		if (jQuery(data).filter(function() { 
				    		return this.text.localeCompare(term)===0; 
				    	}).length===0) { 
								if(/\b[-a-zA-Z0-9.'’_%+]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,15}\b/.test(term)) { 
									return {
										id : term, 
										text : term 
									}; 
								}  
								else { return null; } 
				     }}

		jQuery("#invoice_email_field").select2("val",[]);

	});

	
	jQuery(".change-admin-link").live('click', function(event){
		jQuery("#admin-name, #admin-form").toggle();
	});

	
	jQuery('form#account-details-form').validate({
		submitHandler: function(form){ accountFormSubmit(form); }
	});
		
	var accountFormSubmit = function(form){
	  	target = jQuery('#invoice_email_field');
			if(target.val()){
		  	target.val().split(",").each(function(email){
					target.append(jQuery('<input />').attr({ name: "account_configuration[billing_emails][invoice_emails][]", value: email, type: "hidden" }))
		  	})
	  	}
	  	else{
	  		target.append(jQuery('<input />').attr({ name: "account_configuration[billing_emails][invoice_emails]", value: null, type: "hidden" }))
	  	}
	  	
	  	form.submit();
	  }

</script>
