<% content_for :sidebar do -%><%- end %>


<h3 class= "title"><%= @page_title = t('.account_settings') %></h3>
<ul class="ui-form">
	<li class="inline-field">
		<label class="caption"><%= t('account.name') %></label>
		<div class="fields">
			<div class="big-text"><%= current_account.name %></div>
		</div>
	</li> 
	<% if @subscription.state == 'trial' %>
	<li class="inline-field">
    	<div class="info-highlight">
 		    <%= content_tag(:h3, t('upgrade_trial'), :class => "title") %>
			<% if current_account.active? %>
				  <%= t('your_trial_account') %> 
				  <%= (@subscription.trial_days == 0) ? 
							t('is_expiring_today') :
							"#{t('will_expire_in')} #{pluralize(@subscription.trial_days, t('day'), t('days'))}" %>.
			<% else %>
			 	<%= "#{t('trial_expired_on')} #{@subscription.next_renewal_at.to_s(:long_day)} " %>.
			<% end %>
			<br />
			<%= t('select_a_plan_gain_access') %>
		</div>
	    <%= content_tag(:h3, t('select_a_plan'), :class => "title") %>
		<%= render :partial => "select_plans", :locals => { :plans => @plans } %>
		<br />
		<br />
	</li> 
	<% else %>
	<li class="inline-field">
		<%= content_tag(:label, t('current_plan'), :class => "caption") %>	
    <div class="fields">
      <div class="action_buttons">
        <%= link_to( "#{t('change_plan')} &rsaquo;", plan_account_url ,:class => "last" ) %>
      </div> 
      <div class="big-text">
        <%= " #{ t('current_plan_details',
            :plan_name  => @subscription.subscription_plan.name,
            :agent_limit => @subscription.agent_limit) }" %>
			</div> 
	    <% if @subscription.amount > 0 %>
        <table class="summary">
          <tr>
            <td width="300px"><%= content_tag(:label, t('next_charge_date'), :class => "caption" ) %> </td>
            <td><%= content_tag(:label, "<strong> #{ @subscription.next_renewal_at.to_s(:long_day)  } </strong>") %></td>
          </tr>
          <tr>
            <td><%= content_tag(:label, t('next_charge_amount'), :class => "caption" ) %> </td>
            <td><%= content_tag(:label, "<strong> #{ (number_to_currency @subscription.amount) } </strong>" ) %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </li> 
  	<li class="inline-field">
  	  <%= content_tag(:label, t('payment_info'), :class => "caption") %>
  	  <div class="fields"> 
  		 <div class="action_buttons">
  	 		<%= link_to( "#{t('change')} &rsaquo;", billing_account_url ,:class => "last" ) %>
  	 	 </div>
  		 <label><%= @subscription.paypal? ? 'PayPal' : "#{@subscription.card_number} / #{@subscription.card_expiration}" %></label>
  	  </div>
  	</li>
  	<li class="inline-field">
  	  <%= content_tag(:label, t(".export_data"), :class => "caption") %>
      <div class="fields"> 
  		  <div class="action_buttons">        
          <%= link_to "#{t('.export_now')} &rsaquo;", export_admin_data_export_url, :class => "last" %>
        </div>
        <%= content_tag(:label, t('.export_data_text')) %>
      </div>
  	</li>
  <% end %>
  <li class="inline-field">
  	<%form_tag (:action => 'change_account_admin' , :controller => :users,:method => :put) do %>
  	<%= content_tag(:label,t('account_admin'), :class => "caption") %> 
	<div class="fields"> 
  		<div class="action_buttons">        
            <%= submit_tag t('change') %>
        </div>
		<%= select_tag :account_admin, options_from_collection_for_select(current_account.all_admins, :id, :name_email,current_account.account_admin.id) %>
        
      </div>
	<%end-%>
	
  </li>
	<!-- <li><%= link_to('Cancel plan', cancel_account_url) %></li> -->
</ul>
 