<h1><%= t("accounts.thank_you.account_created") %></h1>

<p>
	<%= t("accounts.thank_you.account_created_login") %> <a href="http://<%= flash[:domain] %>.<%= AppConfig['base_domain'][Rails.env] %>/">http://<%= flash[:domain] %>.<%= AppConfig['base_domain'][Rails.env] %>/</a>.
</p>
