<h1><%= @page_title = @subscription_affiliate.name %></h1> 
<%= link_to('Edit Affiliate', :action => 'edit') %>

<div>
<!-- <br><br>
<h4>Affiliate Subscriptions</h4>
<table id="subscription_affiliate" class="table">
   <tr>
    <th>Account Name</th>
    <th>Account Details</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Created Date</th>
  </tr>
  <% @subscription_affiliate.subscriptions.each do |sub| %>
    <tr>
      <td><%= "#{sub.account.name} - #{sub.account.full_domain}" %></td>
      <td>Freshdesk <%=SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[sub.renewal_period]%> Subscription Plan - <%=sub.subscription_plan.name%> (<%=sub.free_agents%> agent Free)</td>
      <td><%= sub.state %></td>
      <td><%= sub.amount %></td>
      <td><%= sub.created_at %></td>
    </tr>
  <% end %>
</table>

<br><br>
<h4>Subscription Payments</h4>
<table id="subscription_affiliate_payments" class="table">
   <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  
  <% @subscription_affiliate.subscription_payments.each do |pay| %>
    <tr>
      <td><%= pay.account.name %></td>
      <td><%= pay.affiliate_amount %></td>
      <td><%= pay.created_at %></td>
	 </tr>
  <% end %>
</table> -->


<br><br>
  <h4>Add a subscription to this affiliate</h4><br>
  <%= form_tag({:action => 'add_subscription'}, :class => " form-inline") do %>
    <input type="text" name="domain" id="domain" placeholder="Account Domain" />
    <input type="submit" value="Add Subscription" class="btn" />
  <% end %>

</div>
