<h1><%= @page_title = 'View Affiliate' %></h1>
<%= link_to('Edit Affiliate', :action => 'edit') %>
<table id="subscription_affiliate" class="table">
   <tr>
    <th>Account Name</th>
    <th>Account Details</th>
	<th>Amount</th>
	<th>Created Date</th>
  </tr>
  <% @subscription_affiliate.subscriptions.each do |sub| %>
    <tr>
      <td><%= sub.account.name %></td>
      <td>Freshdesk <%=SubscriptionPlan::BILLING_CYCLE_NAMES_BY_KEY[sub.renewal_period]%> Subscription Plan - <%=sub.subscription_plan.name%> (<%=sub.free_agents%> agent Free)</td>
	  <td><%= sub.amount %></td>
	  <td><%= sub.created_at %></td>
    </tr>
  <% end %>
</table>
<table id="subscription_affiliate_payments" class="table">
   <tr>
    <th>Name</th>
    <th>Amount</th>
	<th>Date</th>
  </tr>
  
  <% @subscription_affiliate.subscription_payments.each do |pay| %>
    <tr>
      <td><%= pay.account.name %></td>
	  <td><%= pay.affiliate_amount %></td>
      <td><%= pay.created_at %></td>
	 </tr>
  <% end %>
</table>
 