<div class="sidepanel wordwrap">
	<h3 class="title"><%=t('company_field.helpcard.title1').html_safe %></h3>
	<p><%= t('company_field.helpcard.info1').html_safe %></p> 
	<p><%= t('company_field.helpcard.info2').html_safe %></p> 

	<h3 class="title"><%=t('requester_widget.helpcard.title').html_safe %></h3>
	<p><%= t('requester_widget.helpcard.info').html_safe %></p> 
</div>